@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.keyboard-move {
  @extend %flex-center-nowrap;

  height: fit-content;

  input {
    width: 6em;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 1rem;
    border: theme.$border;

    @include mixins.transition;

    &.wrong {
      background: theme.$c-bad;
      color: theme.$c-bad-over;
    }
  }

  em {
    color: theme.$c-font-dim;
  }
}
