.keyboard-move {
  @extend %flex-center-nowrap;
  height: fit-content;
  input {
    width: 6em;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 1rem;
    border: $border;

    @include transition;

    &.wrong {
      background: $c-bad;
      color: $c-bad-over;
    }
  }

  em {
    color: $c-font-dim;
  }
}
