.analyse {
  .practice__side {
    grid-area: side;
    margin-top: $analyse-block-gap;
  }

  &__acpl {
    display: none;
  }

  grid-template-rows: auto;
  grid-template-areas:
    'board'
    'controls'
    'kb-move'
    'under'
    'tools'
    'side';

  @include mq-at-least-col2 {
    grid-template-areas:
      'board    gauge   tools'
      'under    .       controls'
      'side     .       kb-move';
  }

  @include mq-at-least-col3 {
    grid-template-rows: fit-content(0);
    grid-template-areas:
      'side    . board    gauge tools'
      '.       . under    .     controls'
      '.       . kb-move  .     controls';

    .practice__side {
      margin-top: 0;
    }
  }
}
