.practice__side {
  @extend %box-neat-force, %flex-column;

  background: $c-bg-box;

  &__title {
    @extend %flex-center-nowrap, %nowrap-hidden;

    flex: 0 0 auto;
    padding: 0.7em;
    background: $c-primary;
    color: $c-primary-over;

    i {
      flex: 0 0 3.5em;
      height: 3.5em;
      margin-right: 0.6rem;
      opacity: 0.9;
    }

    h1 {
      font-size: 1.2em;
      margin: 0;
    }

    em {
      font-size: 0.9em;
      opacity: 0.9;
    }
  }

  &__chapters {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  .finally {
    @extend %flex-center-nowrap;

    flex: 0 0 auto;
    padding: 0.7em 0.7em 0.7em 0;
    background: $c-bg-low;
    font-size: 0.9em;

    .back {
      flex: 0 0 2.5rem;
      text-align: center;
      margin-right: 0.3rem;
      font-size: 1.25em;
    }

    select {
      flex: 1 1 auto;
    }
  }
}

.ps__chapter {
  @extend %flex-center-nowrap;

  border-bottom: $border;
  align-items: stretch;
  color: $c-font;

  @include transition;

  h3 {
    @extend %flex-center;

    padding: 0.5rem 0 0.5rem 0.3rem;
  }

  .status {
    @extend %flex-center;

    flex: 0 0 2.5rem;
    justify-content: center;
    opacity: 1;
    font-size: 1.25em;
    color: $c-shade;

    &.done {
      color: $c-primary;
    }
  }

  &:hover {
    background: mix($c-primary, $c-bg-box, 10%);
  }

  &.active {
    background: mix($c-primary, $c-bg-box, 10%);

    .status {
      background: $c-primary;
      color: $c-primary-over;
    }
  }
}
