@keyframes soft-bright {
  50% {
    filter: brightness(1.2);
  }
}

.feedback {
  @extend %box-neat;

  display: flex;
  background: $c-bg-box;
  justify-content: center;

  &.win,
  &.fail {
    padding: 2em 1.5em;
    background: $c-good;
    color: $c-over;
    animation: 1.7s soft-bright ease-in-out infinite;
    opacity: 0.8;

    @include transition;
  }

  &.fail {
    background: $c-bad;
  }

  &:hover {
    opacity: 1;
  }

  span {
    margin-inline-end: 1em;
  }

  &.ongoing {
    align-items: flex-start;
    flex-flow: column;
    text-align: left;
    padding: 1em 1.5em;
  }

  .goal {
    margin-bottom: 0.8em;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
  }

  .comment {
    width: 100%;
    display: block;

    iframe {
      margin: 10px 0;
    }
  }
}

.analyse__underboard {
  .cmn-toggle-wrap {
    margin-top: 1em;
  }
}
