@(userId: String, relation: Option[lila.relation.Relation], followable: Boolean, signup: Boolean = false, playing: Boolean = false, blocked: Boolean = false)(implicit ctx: Context)

@ctx.userId.map { myId =>
@if(myId != userId) {
@if(!blocked) {
@if(!playing) {
<a title="@trans.challengeToPlay()" href="@routes.Lobby.home()?username=@usernameOrId(userId)#friend" class="icon button" href="#"><span data-icon="U"></span></a>
}
<a title="@trans.composeMessage()" href="@routes.Message.form()?username=@userId" class="icon button" href="#"><span data-icon="c"></span></a>
}
@relation match {
case None => {
@if(followable) {
<a
  class="icon button relation"
  href="@routes.Relation.follow(userId)"
  title="@trans.follow()"><span data-icon="h"></span></a>
}
<a
  class="icon button relation"
  href="@routes.Relation.block(userId)"
  title="@trans.block()"><span data-icon="k"></span></a>
}
case Some(true) => {
@if(followable) {
<a class="button relation hover_text" href="@routes.Relation.unfollow(userId)">
  <span data-icon="h" class="base">&nbsp;@trans.following()</span>
  <span data-icon="h" class="hover">&nbsp;@trans.unfollow()</span>
</a>
}
}
case Some(false) => {
<a class="button relation hover_text" href="@routes.Relation.unblock(userId)">
  <span data-icon="k" class="base">&nbsp;@trans.blocked()</span>
  <span data-icon="k" class="hover">&nbsp;@trans.unblock()</span>
</a>
}
}
}
}.getOrElse {
@if(signup) {
@trans.youNeedAnAccountToDoThat()
<a href="@routes.Auth.login" class="signup">@trans.signUp</a>
}
}
