@(u: User, pag: Paginator[lidraughts.relation.Related], nbFollowers: Int)(implicit ctx: Context)

@user.layout(title = u.username + " - " + trans.nbFollowing.pluralSameTxt(pag.nbResults)) {
<div class="content_box no_padding">
  <h1>
    @userLink(u, withOnline = false)
    @trans.nbFollowing.pluralSame(pag.nbResults)
    &amp;
    <a class="blue" href="@routes.Relation.followers(u.username)">@trans.nbFollowers.pluralSame(nbFollowers)</a>
  </h1>
  @user.simpleTable(pag, routes.Relation.following(u.username))
</div>
}
