@use 'breakpoint-sass/stylesheets/breakpoint';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/abstract/variables';
@use 'local';
@use 'font';
@use 'side';
@use 'combo';
@use 'clock';

#main-wrap {
  --main-max-width: calc(
    (
        100vh - #{variables.$site-header-outer-height} - #{uniboard.$col1-uniboard-controls} -
          #{uniboard.$hands-gap}
      ) /
      12 * 9
  );

  user-select: none;

  @include breakpoint.breakpoint(local.$mq-col2) {
    --main-max-width: auto;
  }
}

.puz {
  &-side {
    grid-area: side;
  }

  &-board {
    grid-area: board;
  }
}
