@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/functions';
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/theme';
@use 'local';

.puz-side {
  @extend %box-neat;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: theme.$c-bg-box;
  margin: 0;
  padding: 2vh 2vw;

  @include breakpoint.breakpoint(local.$mq-col2) {
    padding: 3vh 2vw;
  }

  &__top {
    flex: 0 0 25%;
    display: flex;
    flex-flow: row nowrap;

    &::before {
      content: ' ';
      width: 5rem;
      height: 5rem;
      background-image: functions.img-url('icons/tornado.svg');
      background-repeat: no-repeat;
      margin-right: 1.5rem;
    }
  }

  &__table {
    @extend %flex-column;

    flex: 0 0 25%;
    justify-content: flex-end;
  }

  &__control {
    @extend %flex-center;

    justify-content: flex-end;
    height: 2.5em;
    margin-bottom: 0.2em;

    .button {
      color: theme.$c-font-dim;
      padding: 0.5em 1.5em;
    }
  }

  &__start {
    color: theme.$c-brag;
    margin: auto;

    @include breakpoint.breakpoint(local.$mq-col2) {
      margin: 0;
    }

    &__text {
      @extend %flex-column;

      strong {
        font-size: 2em;
        font-weight: normal;

        @include breakpoint.breakpoint(local.$mq-col2) {
          font-size: 2.2em;
        }
      }

      span {
        @extend %roboto;

        letter-spacing: 0.1em;

        @include breakpoint.breakpoint(local.$mq-col2) {
          font-size: 1.5em;
          letter-spacing: 0.2em;
        }
      }
    }
  }

  &__solved {
    text-align: center;
    white-space: nowrap;

    &__text {
      font-family: storm;
      font-size: 5.5rem;
      color: theme.$c-brag;
      margin-right: 1rem;
      transition: text-shadow 0.1s;
    }

    .puz-mod-puzzle & {
      text-shadow: 0 0 15px white;
    }
  }
}
