@(c: lila.challenge.Challenge, json: play.api.libs.json.JsObject, version: Int)(implicit ctx: Context)

@import lila.challenge.Challenge.Status

@moreJs = {
@jsTag("challenge.js")
@embedJs {
lichess.startChallenge(document.getElementById('my_challenge'), {
socketUrl: '@routes.Challenge.websocket(c.id, apiVersion)',
socketVersion: @version,
xhrUrl: '@routes.Round.watcher(c.id, "white")',
owner: true,
challenge: @Html(toJson(json))
});
}
}

@cancelForm = {
<form method="post" action="@routes.Challenge.cancel(c.id)">
  <button type="submit" class="button text" data-icon="L">@trans.cancel()</button>
</form>
}

@round.layout(
title = c.destUserId.isDefined.fold(trans.challengeToPlay,trans.playWithAFriend).str(),
side = Html(""),
moreJs = moreJs) {
<div class="lichess_game" id="my_challenge">
  <div class="lichess_board_wrap cg-512">
    <div class="lichess_board"></div>
  </div>
  <div class="lichess_overboard">
    @c.status match {
    case Status.Created | Status.Offline => {
    @c.destUserId.map { destId =>
    <h2>@trans.challengeToPlay()</h2>
    @userIdLink(destId.some, cssClass="target".some)
    }.getOrElse {
    @trans.toInviteSomeoneToPlayGiveThisUrl():
    <input id="lichess_id_input" class="copyable" spellcheck="false" readonly="true" value="@protocol@commonDomain@routes.Round.watcher(c.id, "white")" />
    <button class="copy button" data-rel="lichess_id_input" data-icon="&quot;"></button>
    <div class="explanations">
      @trans.theFirstPersonToComeOnThisUrlWillPlayWithYou()<br />
      @cancelForm
    </div>
    }
    <span class="loader" id="ping_challenge"><span data-icon="U"></span></span>
    <div class="explanations">
      @trans.waitingForOpponent()<br />
      @cancelForm
    </div>
    }
    case Status.Declined => {
    <div class="declined">
      <h2>Challenge declined</h2>
      <a class="button" href="@routes.Lobby.home()">@trans.playWithAnotherOpponent()</a>
    </div>
    }
    case Status.Accepted => {
    <div class="accepted">
      <h2>Challenge accepted!</h2>
      <a id="challenge_redirect" href="@routes.Round.watcher(c.id, "white")" class="button">@trans.joinTheGame()</a>
    </div>
    }
    case Status.Canceled => {
    <div class="canceled">
      <h2>Challenge canceled.</h2>
      <a class="button" href="@routes.Lobby.home()">@trans.playWithAnotherOpponent()</a>
    </div>
    }
    }
    <p class="explanations">
      @trans.variant(): @views.html.game.variantLink(c.variant, variantName(c.variant))<br />
      @c.daysPerTurn.map { days =>
      <span data-icon=";" class="text">@{(days == 1).fold(trans.oneDay(), trans.nbDays(days))}</span>
      }.getOrElse {
      <span data-icon="p" class="text">@shortClockName(c.clock.map(_.chessClock))</span>
      }
      <br />
      @trans.mode(): @modeName(c.mode)
    </p>
    @base.quote(lila.quote.Quote.one(c.id))
  </div>
</div>
}
