@(c: lila.challenge.Challenge, json: play.api.libs.json.JsObject)(implicit ctx: Context)

@import lila.challenge.Challenge.Status

@round.layout(
title = trans.playWithAFriend.str(),
side = Html(""),
moreJs = js(c, json, false)) {
<div class="lichess_game" id="challenge">
  <div class="lichess_board_wrap cg-512">
    <div class="lichess_board"></div>
  </div>
  <div class="lichess_overboard">
    @userIdLink(c.challengerUserId)
    @explanation(c)
    @c.initialFen.map { fen =>
    <br />
    @views.html.game.miniBoard(fen, color = c.chessColor.name)
    }
    @if(!c.mode.rated || ctx.isAuth) {
    @if(c.mode.rated && c.unlimited) {
    <div class="join_warning warning">@trans.bewareTheGameIsRatedButHasNoClock()</div>
    }
    <form style="margin-top: 20px" action="@routes.Challenge.accept(c.id)" method="post">
      <button name="submit" type="submit" class="submit text button" data-icon="G">@trans.joinTheGame()</button>
    </form>
    } else {
    <hr />
    <p class="error">This game is rated<br />You must <a href="@routes.Auth.login?referrer=@routes.Round.watcher(c.id, "white")">log in</a> to join it.</p>
    }
  </div>
</div>
}
