@(c: lila.challenge.Challenge, json: play.api.libs.json.JsObject)(implicit ctx: Context)

@import lila.challenge.Challenge.Status

@round.layout(
title = trans.playWithAFriend.str(),
side = Html(""),
moreJs = js(c, json, false)) {
<div class="lichess_game" id="challenge">
  <div class="lichess_board_wrap cg-512">
    <div class="lichess_board"></div>
  </div>
  <div class="lichess_overboard">
    @userIdLink(c.challengerUserId)
    @explanation(c)
    @c.initialFen.map { fen =>
    <br />
    @views.html.game.miniBoard(fen, color = (!c.finalColor).name)
    }
    <br />
    @c.status match {
    case Status.Created | Status.Offline => {
    @if(!c.mode.rated || ctx.isAuth) {
    @if(c.mode.rated && c.unlimited) {
    <div class="join_warning warning">@trans.bewareTheGameIsRatedButHasNoClock()</div>
    }
    <form class="accept" action="@routes.Challenge.accept(c.id)" method="post">
      <button name="submit" type="submit" class="submit text button" data-icon="G">@trans.joinTheGame()</button>
    </form>
    } else {
    <hr />
    <p class="error">This game is rated<br />You must <a href="@routes.Auth.login?referrer=@routes.Round.watcher(c.id, "white")">log in</a> to join it.</p>
    }
    }
    case Status.Declined => {
    <div class="declined">
      <h2>Challenge declined</h2>
      <a class="button" href="@routes.Lobby.home()">@trans.playWithAnotherOpponent()</a>
    </div>
    }
    case Status.Accepted => {
    <div class="accepted">
      <h2>Challenge accepted!</h2>
      <a id="challenge_redirect" href="@routes.Round.watcher(c.id, "white")" class="button">@trans.joinTheGame()</a>
    </div>
    }
    case Status.Canceled => {
    <div class="canceled">
      <h2>Challenge canceled.</h2>
      <a class="button" href="@routes.Lobby.home()">@trans.playWithAnotherOpponent()</a>
    </div>
    }
    }
  </div>
</div>
}
