@(c: lila.coach.Coach.WithUser, form: Form[_])(implicit ctx: Context)

@import play.api.data.Field
@import lila.coach.CoachForm.booleanChoices

@group(field: Field, name: Html, half: Boolean = false, largeLabel: Boolean = false)(html: Html) = {
<div class="form-group@if(half){ half}@if(field.hasErrors){ has-error}@if(largeLabel){ large-label}">
  @html
  <label for="@field.id" class="control-label">@name</label>
  <i class="bar"></i>
</div>
}

@markdown(field: Field, name: Html) = {
@group(field, name, largeLabel = true) {
<textarea name="@field.name" id="@field.id">@field.value</textarea>
}
}

@moreCss = {
@cssTag("material.form.css")
@cssTag("coach.css")
}

@layout(title = c.user.titleUsername, active = "coach",
evenMoreCss = Some(cssTag("material.form.css"))) {
<div class="coach_edit content_box small_box no_padding">
  <h1 class="lichess_title">
    @userLink(c.user) coach page
  </h1>
  <form class="content_box_content material form" action="@routes.Coach.edit" method="POST">
    <div>
      @group(form("enabledByUser"), Html("Published in lichess coaches list"), half = true) {
      @base.select(form("enabledByUser"), booleanChoices)
      }
      @group(form("available"), Html("Currently available for lessons"), half = true) {
      @base.select(form("available"), booleanChoices)
      }
    </div>
    @group(form("profile.headline"), Html("Short and inspiring headline")) {
    @base.input(form("profile.headline"))
    }
    @markdown(form("profile.description"), Html("Who are you? <em>age, profession, country... let your students know you</em>"))
    @markdown(form("profile.playingExperience"), Html("Playing experience <em>tournaments played, best wins, other achievements</em>"))
    @markdown(form("profile.teachingExperience"), Html("Teaching experience <em>diplomas, years of practice, best student results</em>"))
    @markdown(form("profile.otherExperience"), Html("Other experiences <em>e.g. as chess commentator, or teaching other domains</em>"))
    @markdown(form("profile.skills"), Html("Best skills in chess and teaching"))
    @markdown(form("profile.methodology"), Html("Teaching methodology <em>How you prepare and run lessons. How you follow up with students.</em>"))
    <div class="button-container">
      <button type="submit" class="submit button text" data-icon="E">Save now</button>
    </div>
  </form>
</div>
}
