@(coaches: List[lila.coach.Coach.WithUser])(implicit ctx: Context)

@layout(title = "Lichess coaches", active = "all") {
<div class="content_box no_padding coach">
  <div class="top">
    <h1>Chess coaches</h1>
  </div>
  <div class="list">
    @coaches.map {
    case lila.coach.Coach.WithUser(c, u) => {
    <a class="coach" href="@routes.Coach.show(u.username)">
      <h2>@userSpan(u)</h2>
      @u.seenAt.map { seen =>
      <p class="thin">@trans.lastSeenActive(momentFromNow(seen))</p>
      }
    </a>
    }
    }
  </div>
</div>
}
