@(u: User, title: String, robots: Boolean = true, evenMoreJs: Html = Html(""), evenMoreCss: Html = Html(""), openGraph: Option[lila.app.ui.OpenGraph] = None, chessground: Boolean = true, withSide: Boolean = true)(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("coach.css")
@evenMoreCss
}

@moreJs = {
@jsTag("coach.js")
@evenMoreJs
}

@sideSection = {
@if(withSide) {
<div id="coach_side">
  <div class="navigation">
    <a href="@routes.Coach.opening(u.username, "white")">Openings as White</a>
    <a href="@routes.Coach.opening(u.username, "black")">Openings as Black</a>
    @* <a href="@routes.Coach.move(u.username)">Moves</a> *@
  </div>
  @if(true) {
  <div data-icon="E">This data is fresh</div>
  }
  @if(u.count.rated > 0) {
  <form class="refresh" method="post" action="@routes.Coach.refresh(u.username)">
    <button class="button" type="submit">Refresh @u.username stats</button>
  </form>
  }
  <br />
  <div class="refreshing none">
    Hang on while we crunch data<br />
    from @u.username @if(u.count.rated > 5000) {
    @{5000.localize} last
    } else {
    @u.count.rated.localize
    } rated games!
    <br /><br />
    It shouldn't take long.
    <br /><br /><br />
    <iframe src='http://en.lichess.org/tv/frame' class='lichess-tv-iframe' allowtransparency='true' frameBorder='0' style='width: 224px; height: 264px;' title='Lichess free online chess'>
    </iframe>
  </div>
</div>
}
}

@base.layout(
title = title,
side = sideSection.some,
moreCss = moreCss,
moreJs = moreJs,
robots = robots,
chessground = chessground,
openGraph = openGraph)(body)
