@(u: User, nbPeriods: Int)(implicit ctx: Context)

@moreJs = {
@highchartsTag
@jsAt(s"compiled/lichess.coach.move${isProd??(".min")}.js")
@embedJs {
LichessCoachMove(document.getElementById('coach_move'), {
nbPeriods: @nbPeriods,
user: @Html(J.stringify(J.obj("id" -> u.id, "name" -> u.username)))
});
}
}

@coach.layout(u,
title = s"${u.username} moves",
evenMoreJs = moreJs,
evenMoreCss = cssTag("coachMove.css"),
chessground = false) {

<div id="coach_move" class="content_box no_padding coach_main"></div>
}
