@(u: User, color: chess.Color, statOption: Option[(lila.coach.UserStat, play.api.libs.json.JsObject)])(implicit ctx: Context)

@moreJs = {
@highchartsTag
@statOption.map {
case (stat, data) => {
@jsAt(s"compiled/lichess.coach.opening${isProd??(".min")}.js")
@embedJs {
LichessCoachOpening(document.getElementById('coach_opening'), {
data: @Html(J.stringify(data))
});
}
}
}
}

@coach.layout(u, statOption.map(_._1),
title = s"${u.username} openings as ${color.name}",
evenMoreJs = moreJs,
chessground = false) {

<div class="content_box no_padding" data-icon="^">
  <div class="content_box_top">
    <h1>
      @userLink(u, withOnline = false) openings as @color.name
      @statOption.map {
      case (stat, _) => {
      over @stat.openings(color).nbGames.localize rated games
      }
      }
    </h1>
  </div>

  <div id="coach_opening"></div>
</div>
}
