@(u: User, color: chess.Color, nbPeriods: Int)(implicit ctx: Context)

@moreJs = {
@highchartsTag
@jsAt(s"compiled/lichess.coach.opening${isProd??(".min")}.js")
@embedJs {
LichessCoachOpening(document.getElementById('coach_opening'), {
nbPeriods: @nbPeriods,
user: @Html(J.stringify(J.obj("id" -> u.id, "name" -> u.username))),
color: "@color.name"
});
}
}

@coach.layout(u,
title = s"${u.username} openings as ${color.name}",
evenMoreJs = moreJs,
chessground = false) {

<div id="coach_opening" class="content_box no_padding"></div>
}
