@(c: lila.coach.Coach.WithUser, reviews: lila.coach.CoachReview.Reviews)(implicit ctx: Context)

@if(reviews.list.nonEmpty) {
<div class="reviews">
  <h2>@pluralize("Player review", reviews.list.size)</h2>
  @reviews.list.map { r =>
  <div class="review">
    <div class="top">
      @userIdLink(r.userId.some)
      @barRating(selected = r.score.some, enabled = false)
    </div>
    <div class="content">@richText(r.text)</div>
    @if(isGranted(_.DisapproveCoachReview)) {
    <form method="post" action="@routes.Coach.modReview(r.id)">
      <button class="thin button confirm" type="submit" title="Instructs the coach to reject the review, or to ask the author to rephrase it.">Disapprove</a>
    </form>
    }
  </div>
  }
</div>
}
