@(c: lila.coach.Coach.WithUser, studies: Seq[lila.study.Study.WithChaptersAndLiked])(implicit ctx: Context)

@moreCss = {
@if(studies.nonEmpty) { @cssTag("studyList.css") }
}

@layout(title = c.user.titleUsername, evenMoreCss = moreCss) {
<div class="content_box no_padding coach">
  <div class="top">
    @pic(c, 250)
    @defining(c.user.profileOrDefault) { profile =>
    <div class="overview">
      <h1>
        @c.user.title.map { t => @t }@c.user.profileOrDefault.nonEmptyRealName.getOrElse(c.user.username)
      </h1>
      <p class="headline">@c.coach.profile.headline</p>
      <table>
        <tbody>
          <tr>
            <th>Location</th>
            <td>
              @profile.nonEmptyLocation.map { l =>
              <span class="location">@l</span>,
              }
              @profile.countryInfo.map {
              case (code, name) => {
              <span class="country"><img class="flag" src="@staticUrl(s"images/flags/$code.png")" /> @name</span>
              }
              }
            </td>
          </tr>
          @c.coach.profile.languages.map { l =>
          <tr class="languages">
            <th>Languages</th>
            <td>@l</td>
          </tr>
          }
          @profile.fideRating.map { r =>
          <tr class="rating">
            <th>FIDE rating</th>
            <td>@r</td>
          </tr>
          }
          <tr class="available">
            <th>Availability</th>
            <td>
              @if(c.coach.available.value) {
              <span class="text" data-icon="E">Now accepting students</span>
              } else {
              <span class="text" data-icon="L">Not accepting students at the moment</span>
              }
            </td>
          </tr>
          <tr class="contact">
            <th>Contact</th>
            <td>
              <a class="text" data-icon="c" href="@routes.Message.form?user=@c.user.username">Send a private message</a>
            </td>
          </tr>
          @if(ctx.me.??(c.coach.is) || isGranted(_.PreviewCoach)) {
          <tr class="edit">
            <th>Admin</th>
            <td>
              @if(c.coach.isFullyEnabled) {
              This page is now public.
              } else {
              This page is not public yet.
              }
              @if(ctx.me.??(c.coach.is)) {
              <a href="@routes.Coach.edit">Edit my coach profile</a>
              }
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }
  @defining(c.coach.profile) { profile =>
  <div class="sections">
    @profile.description.map { t =>
    <section>
      <h1>About me</h1>
      <div class="content">@autoLink(t.value)</div>
    </section>
    }
    @profile.playingExperience.map { t =>
    <section>
      <h1>Playing experience</h1>
      <div class="content">@autoLink(t.value)</div>
    </section>
    }
    @profile.teachingExperience.map { t =>
    <section>
      <h1>Teaching experience</h1>
      <div class="content">@autoLink(t.value)</div>
    </section>
    }
    @profile.otherExperience.map { t =>
    <section>
      <h1>Other experiences</h1>
      <div class="content">@autoLink(t.value)</div>
    </section>
    }
    @profile.skills.map { t =>
    <section>
      <h1>My best skills</h1>
      <div class="content">@autoLink(t.value)</div>
    </section>
    }
    @profile.methodology.map { t =>
    <section>
      <h1>Teaching methodology</h1>
      <div class="content">@autoLink(t.value)</div>
    </section>
    }
  </div>
  @if(profile.youtubeUrls.nonEmpty) {
  <section class="youtube">
    <h1>
      Youtube videos
      @profile.youtubeChannel.map { url =>
      from my <a href="@url" target="_blank" rel="nofollow">channel</a>
      }
    </h1>
    <div class="list">
      @profile.youtubeUrls.map { url =>
      <iframe width="256" height="192" src="@url.value" frameborder="0" allowfullscreen></iframe>
      }
    </div>
  </section>
  }
  @if(studies.nonEmpty) {
  <section class="studies">
    <h1>Public studies</h1>
    <div class="list">
      @studies.map { s =>
      <div class="study">
        @study.widget(s)
      </div>
      }
    </div>
  </section>
  }
  }
</div>
}
