@(u: User, stat: Option[lila.coach.UserStat])(implicit ctx: Context)

@coach.layout(title = s"${u.username} stats") {
<div class="content_box no_padding">
  <h1>@userLink(u, withOnline = false) stats</h1>
  @if(stat.fold(true)(!_.isFresh)) {
  <form method="post" action="@routes.Coach.refresh(u.username)">
    <button type="submit">Refresh @u.username stats</button>
  </form>
  }
  @stat.map { s =>
  <table class="root">
    <thead>
      <tr>
        <th colspan=2>Favourite openings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        @chess.Color.all.map { color =>
        <td>
          <table>
            <thead>
              <tr>
                <th colspan=2>As @color.name</th>
              </tr>
            </thead>
            <tbody>
              @s.openings(color).best(10).map {
              case (code, results) => {
              <tr>
                <th>@code</th>
                <td>@resultsTable(results, none)</td>
              </tr>
              }
              }
            </tbody>
          </table>
        </td>
        }
      </tr>
    </tbody>
  </table>
  @perfResultsTable(s.results, "All games")
  @s.perfResults.sorted.map {
  case (perfType, perfResults) => {
  @perfResultsTable(perfResults, perfType.name)
  }
  }
  }
</div>
}
