@(sections: lila.coach.GameSections)(implicit ctx: Context)

@sectionTable(section: lila.coach.GameSections.Section) = {
@if(section.nb != 0) {
<table>
  <tbody>
    <tr>
      <th>Moves played</th>
      <td>@section.moves.avg.map(_.localize)</td>
    </tr>
    <tr>
      <th>Centipawn loss</th>
      <td>@section.acpl.avg.fold("N/A")(_.localize.toString)</td>
    </tr>
  </tbody>
</table>
}
}
<tr>
  <th>Overall</th>
  <td>@sectionTable(sections.all)</td>
</tr>
<tr>
  <th>Opening</th>
  <td>@sectionTable(sections.opening)</td>
</tr>
<tr>
  <th>Middlegame</th>
  <td>@sectionTable(sections.middle)</td>
</tr>
<tr>
  <th>Endgame</th>
  <td>@sectionTable(sections.end)</td>
</tr>
