@(u: User, stat: Option[lila.coach.UserStat])(implicit ctx: Context)

@coach.layout(u, stat, title = s"${u.username} raw data",
evenMoreCss = cssTag("coach.raw.css")) {
<div class="content_box no_padding">
  <h1>@userLink(u, withOnline = false) stats</h1>
  @stat.map { s =>
  @perfResultsTable(s.results, "Results".some)
  <table class="root">
    <thead>
      <tr>
        <th>Overall</th>
        <th>As white</th>
        <th>As black</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>@resultsTable(s.results.base, none)</td>
        <td>@resultsTable(s.colorResults.white, none)</td>
        <td>@resultsTable(s.colorResults.black, none)</td>
      </tbody>
    </table>
    <table class="root">
      <thead>
        <tr>
          <th colspan=2>Favourite openings</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          @chess.Color.all.map { color =>
          <td>
            <table>
              <thead>
                <tr>
                  <th colspan=2>As @color.name</th>
                </tr>
              </thead>
              <tbody>
                @s.openings(color).best(10).map {
                case (code, results) => {
                <tr>
                  <th>@code</th>
                  <td>@resultsTable(results, none)</td>
                </tr>
                }
                }
              </tbody>
            </table>
          </td>
          }
        </tr>
      </tbody>
    </table>
    @s.perfResults.sorted.map {
    case (perfType, perfResults) => {
    @perfResultsTable(perfResults, perfType.name.some)
    @resultsTable(perfResults.base, none)
    }
    }
    }
  </div>
  }
