@(r: lila.coach.PerfResults, title: Option[String])(implicit ctx: Context)
<table>
  @title.map { t =>
  <thead>
    <tr>
      <th colspan=2>@t</th>
    </tr>
  </thead>
  }
  <tbody>
    @List("Win" -> r.outcomeStatuses.win, "Loss" -> r.outcomeStatuses.loss).map {
    case (name, statuses) => {
    <tr>
      <th>@name statuses</th>
      <td>
        <table>
          <tbody>
            @statuses.sorted.map {
            case (status, nb) => {
            <tr>
              <th>@status.name</th>
              <td>@nb.localize (@(nb * 100 / statuses.sum)%)</td>
            </tr>
            }
            }
          </tbody>
        </table>
      </td>
    </tr>
    }
    }
    <tr>
      <th>Best Rating</th>
      <td>@r.bestRating.map { br =>
        <strong>@br.rating</strong> after <a href="@routes.Round.watcher(br.id, "white")">playing</a> @userIdLink(br.userId.some)
        }</td>
    </tr>
  </tbody>
</table>
