.not-found {
  @extend %flex-center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  height: 100%;
  background: radial-gradient(circle, #484848, #2f3031);

  h1 {
    @extend %roboto;

    font-size: 7vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  }
}
