.keyboard-move {
  @extend %flex-center-nowrap;
  height: fit-content;

  input {
    width: 4.5em;
    font-size: 1.1em;
    font-weight: bold;
    margin-inline-end: 1rem;
    border: $border;

    @include transition;

    &.wrong {
      background: $c-bad;
      color: $c-over;
    }
  }

  em {
    color: $c-font-dim;
  }
}

.keyboard-move-help {
  td.tips li {
    list-style: disc;
    margin-inline-start: 2em;
    margin-inline-end: 1em;
  }

  a {
    margin-inline-start: 0.25em;
  }
}
