@(tours: Paginator[lila.tournament.Tournament])(implicit ctx: Context)

@title = {Tournament manager}

@layout(
title = title.body,
evenMoreJs = infiniteScrollTag
) {
<div class="crud page-menu__content box">
  <div class="box__top">
    <h1 class="box__top__title">@title</h1>
    <div class="box__top__actions">
      <a class="button button-green" href="@routes.TournamentCrud.form" data-icon="O"></a>
    </div>
  </div>
  <table class="slist slist-pad">
    <thead>
      <tr>
        <th></th>
        <th>Variant</th>
        <th>Clock</th>
        <th>Duration</th>
        <th>UTC Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="infinitescroll">
      @tours.nextPage.map { n =>
      <tr><th class="pager none">
          <a rel="next" href="@routes.TournamentCrud.index(n)">Next</a>
      </th></tr>
      <tr></tr>
      }
      @tours.currentPageResults.map { tour =>
      <tr class="paginated">
        <td><a href="@routes.TournamentCrud.edit(tour.id)">
            <strong>@tour.fullName</strong>
            <em>@tour.spotlight.map(_.headline)</em>
        </a></td>
        <td>@tour.variant.name</td>
        <td>@tour.clock</td>
        <td>@{tour.minutes}m</td>
        <td>
          @showDateTimeUTC(tour.startsAt)
          @momentFromNow(tour.startsAt)
        </td>
        <td><a href="@routes.Tournament.show(tour.id)" data-icon="v" title="View on site"></a></td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
