@(form: Form[_])(implicit ctx: Context)

@import lila.tournament.DataForm._
@import lila.tournament.crud.CrudForm._
@import lila.rating.PerfType

<div>
  @base.form.group(form("date"), Html("Start date <strong>UTC</strong>"), half = true) { field =>
  @base.form.flatpickr(field)
  }
  @base.form.group(form("name"), Html("Name"), half = true) { field =>
  @base.form.input(field)
  }
</div>
<div>
  @base.form.group(form("homepageHours"), Html("Hours on homepage (0 to 24)"), half = true) { field =>
  @base.form.input(field, "Ask first!".some)
  }
  @base.form.group(form("image"), Html("Custom icon"), half = true) { field =>
  @base.form.select(field, imageChoices)
  }
</div>
@base.form.group(form("headline"), Html("Homepage headline")) { field =>
@base.form.input(field)
}
@base.form.group(form("description"), Html("Full description | Link: [text](url)")) { field =>
<textarea name="@field.name" id="@field.id">@field.value</textarea>
}
<div>
  @base.form.group(form("variant"), Html("Variant"), half = true) { field =>
  @base.form.select(field, translatedVariantChoicesWithVariants.map(x => x._1 -> x._2))
  }
  @base.form.group(form("minutes"), Html("Duration in minutes"), half = true) { field =>
  @base.form.input(field)
  }
</div>
<div>
  @base.form.group(form("clockTime"), Html("Clock time"), half = true) { field =>
  @base.form.select(field, clockTimePrivateChoices)
  }
  @base.form.group(form("clockIncrement"), Html("Clock increment"), half = true) { field =>
  @base.form.select(field, clockIncrementPrivateChoices)
  }
</div>
@base.form.group(form("position"), trans.startPosition()) { field =>
@tournament.startingPosition(field)
}
<h2>Conditions of entry</h2>
@tournament.conditionForm(form, auto = false)
@base.form.submit()
