@(form: Form[_])(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._
@import lila.tournament.DataForm._
@import lila.tournament.crud.CrudForm._
@import lila.rating.PerfType

@form3.split {
@form3.group(form("date"), raw("Start date <strong>UTC</strong>"), half = true)(form3.flatpickr(_))
@form3.group(form("name"), raw("Name"), help = raw("Keep it VERY short, so it fits on homepage").some, half = true)(form3.input(_))
}
@form3.split {
@form3.group(form("homepageHours"), raw(s"Hours on homepage (0 to $maxHomepageHours)"), half = true, help = raw("Ask on slack first").some)(form3.input(_, typ = "number"))
@form3.group(form("image"), raw("Custom icon"), half = true)(form3.select(_, imageChoices))
}
@form3.group(form("headline"), raw("Homepage headline"), help = raw("Keep it VERY short, so it fits on homepage").some)(form3.input(_))
@form3.group(form("description"), raw("Full description"), help = raw("Link: [text](url)").some)(form3.textarea(_)(*.rows := 6))

@form3.split {
@form3.group(form("variant"), raw("Variant"), half = true) { f =>
@form3.select(f, translatedVariantChoicesWithVariants.map(x => x._1 -> x._2))
}
@form3.group(form("minutes"), raw("Duration in minutes"), half = true)(form3.input(_, typ = "number"))
}
@form3.split {
@form3.group(form("clockTime"), raw("Clock time"), half = true)(form3.select(_, clockTimeChoices))
@form3.group(form("clockIncrement"), raw("Clock increment"), half = true)(form3.select(_, clockIncrementChoices))
}
@form3.group(form("position"), trans.startPosition.frag())(tournament.startingPosition(_))

<hr>
<h2>Conditions of entry</h2>
@tournament.conditionForm(form, auto = false, Nil)
@form3.actionHtml(form3.submit(trans.apply.frag()))
