@(form: Form[_])(implicit ctx: Context)

@import lila.tournament.DataForm._
@import lila.tournament.crud.CrudForm._
@import lila.tournament.Condition
@import lila.rating.PerfType

@group(field: play.api.data.Field, name: Html, half: Boolean = false)(html: Html) = {
<div class="form-group@if(half){ half}@if(field.hasErrors){ has-error}">
  @html
  <label for="@field.id" class="control-label">@name</label>
  <i class="bar"></i>
</div>
}

<div>
  @group(form("date"), Html("Date <strong>yyyy-mm-dd</strong>"), half = true) {
  @base.input(form("date"))
  }
  <div class="form-group half">
    @group(form("dateHour"), Html("Hour <strong>UTC</strong>"), half = true) {
    @base.input(form("dateHour"))
    }
    @group(form("dateMinute"), Html("Minute <strong>UTC</strong>"), half = true) {
    @base.input(form("dateMinute"))
    }
  </div>
</div>
@group(form("name"), Html("Name")) {
@base.input(form("name"))
}
<div>
  @group(form("homepageHours"), Html("Hours on homepage (0 to 24)"), half = true) {
  @base.input(form("homepageHours"))
  }
  @group(form("image"), Html("Custom icon"), half = true) {
  @base.select(form("image"), imageChoices)
  }
</div>
@group(form("headline"), Html("Homepage headline")) {
@base.input(form("headline"))
}
@group(form("description"), Html("Full description")) {
<textarea name="@form("description").name" id="@form("description").id">@form("description").value</textarea>
}
<div>
  @group(form("variant"), Html("Variant"), half = true) {
  @base.select(form("variant"), translatedVariantChoicesWithVariants.map(x => x._1 -> x._2))
  }
  @group(form("minutes"), Html("Duration in minutes"), half = true) {
  @base.input(form("minutes"))
  }
</div>
<div>
  @group(form("clockTime"), Html("Clock time"), half = true) {
  @base.select(form("clockTime"), clockTimeChoices)
  }
  @group(form("clockIncrement"), Html("Clock increment"), half = true) {
  @base.select(form("clockIncrement"), clockIncrementChoices)
  }
</div>
<h2>Conditions of entry</h2>
<div>
  @group(form("conditions.nbRatedGame.nb"), Html("Minimum rated games"), half = true) {
  @base.select(form("conditions.nbRatedGame.nb"), Condition.DataForm.nbRatedGameChoices)
  }
  @group(form("conditions.nbRatedGame.perf"), Html("In variant"), half = true) {
  @base.select(form("conditions.nbRatedGame.perf"), ("", "Any") :: Condition.DataForm.perfChoices)
  }
</div>
<div>
  @group(form("conditions.maxRating.rating"), Html("Maximum top rating"), half = true) {
  @base.select(form("conditions.maxRating.rating"), Condition.DataForm.maxRatingChoices)
  }
  @group(form("conditions.maxRating.perf"), Html("In variant"), half = true) {
  @base.select(form("conditions.maxRating.perf"), Condition.DataForm.perfChoices)
  }
</div>

<div class="button-container">
  <button type="submit" class="submit button text" data-icon="E">Apply now</button>
</div>
