$gradient-start: #667eea;
$gradient-end: #764ba2;

// dark theme is forced on this page
body {
  background-image: linear-gradient(135deg, $gradient-start 0%, $gradient-end 100%);
  --c-font-page: #fff;
  --c-font-shadow: hsla(0, 0, 0%, 0);
  &,
  .site-title,
  .site-title span,
  .site-title:hover span,
  .site-buttons .link {
    #user_tag::after,
    &,
    &:hover {
      color: #fff;
    }
  }
  .hbg__in {
    &,
    &::before,
    &::after {
      background-color: #fff;
    }
  }
  #clinput,
  #friend_box,
  .site-title-nav__donate {
    display: none;
  }
  @media (min-width: at-least($medium)) {
    #topnav {
      display: none;
    }
  }

  .recap .is2d cg-board {
    background-color: #6c6bcf80;

    &::before {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4PSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIgogICAgIHZpZXdCb3g9IjAgMCA4IDgiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxnIGlkPSJhIj4KICA8ZyBpZD0iYiI+CiAgICA8ZyBpZD0iYyI+CiAgICAgIDxnIGlkPSJkIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBpZD0iZSIgb3BhY2l0eT0iMCIvPgogICAgICAgIDx1c2UgeD0iMSIgeT0iMSIgaHJlZj0iI2UiIHg6aHJlZj0iI2UiLz4KICAgICAgICA8cmVjdCB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBpZD0iZiIgb3BhY2l0eT0iMC4yIi8+CiAgICAgICAgPHVzZSB4PSIxIiB5PSItMSIgaHJlZj0iI2YiIHg6aHJlZj0iI2YiLz4KICAgICAgPC9nPgogICAgICA8dXNlIHg9IjIiIGhyZWY9IiNkIiB4OmhyZWY9IiNkIi8+CiAgICA8L2c+CiAgICA8dXNlIHg9IjQiIGhyZWY9IiNjIiB4OmhyZWY9IiNjIi8+CiAgPC9nPgogIDx1c2UgeT0iMiIgaHJlZj0iI2IiIHg6aHJlZj0iI2IiLz4KPC9nPgo8dXNlIHk9IjQiIGhyZWY9IiNhIiB4OmhyZWY9IiNhIi8+Cjwvc3ZnPg==');
    }

    square.last-move {
      background-color: $gradient-end;
      opacity: 0.5;
    }
  }
}
.recap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1vw;
  right: 1vw;
  height: 100%;
  text-align: center;

  canvas#confetti {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
  }

  a {
    color: #fff;
    border-bottom: 1px dotted #ddd;

    &:hover {
      border-bottom-width: 3px;
    }
  }

  .utitle {
    color: hsl(37, 82%, 58%);
  }

  img.uflair {
    filter: drop-shadow(0 0 5px $gradient-end);
  }
}

.swiper {
  height: 100%;
  opacity: 0;
  @include transition(opacity 0.2s);
  &-initialized {
    opacity: 1;
  }
  --swiper-theme-color: #fff;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 3em;
}

.swiper-slide {
  @extend %flex-column;
  justify-content: center;
  align-items: center;
  @include fluid-size('font-size', 15px, 25px);
  gap: 3em;
}

.recap {
  &__logo,
  .lpv {
    width: 45vh;
    max-width: 61vw;
    max-height: 50vh;
  }
  .lpv {
    --c-lpv-bg: transparent;
    outline: none;
    box-shadow: none;
  }
}

.recap__slide--await .spinner {
  margin: 0;
}

.recap__slide--init {
  h2 {
    @include fluid-size('font-size', 24px, 38px);
  }
}

.recap__content {
  @extend %flex-column;
  gap: 2em;
  font-size: 1.6em;
}

.recap__title {
  margin: 2em 0;
}

.recap--massive {
  @extend %flex-column;
  align-items: center;
  max-width: 80%;
  @include fluid-size('font-size', 19px, 42px);
  strong {
    font-size: 3em;
  }
}
.recap--big {
  font-size: 1.5em;
}

.recap__slide--time .recap--massive strong {
  font-size: 2em;
}

.recap__perfs {
  @extend %flex-column;
  gap: 1em;
}
.recap__perf {
  position: relative;
  color: white;
}

.recap__perf__duration {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  padding: 1em 2em;
  border-radius: 0 5em 5em 0;
  color: $c-over;
  padding-right: 0.5em;
}
.recap__perf__data {
  @extend %flex-center-nowrap;
  gap: 3rem;
  padding: 0 2rem;
  i {
    font-size: 3em;
  }
  strong {
    font-size: 1.7em;
    line-height: 1;
  }
}
.recap__perf__games strong {
  display: block;
  font-weight: 2em;
}

.recap__slide--patron {
  gap: 2em;

  i {
    font-size: 3em;
  }

  .cta {
    max-width: 80%;
  }
}

.recap__shareable {
  .logo,
  h2 {
    display: none;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5em;

    .stat {
      a {
        border: none;

        .uflair {
          margin-right: 0.2em;
        }
      }
    }
  }

  .openings {
    margin-top: 1em;
    display: flex;

    .stat {
      flex: 50%;
      font-size: 0.8em;
      margin-top: 1em;
    }
  }
}

@media screen and (orientation: portrait) {
  .recap__shareable .grid .stat {
    flex: 50%;
  }
}
@media screen and (orientation: landscape) {
  .recap__shareable .grid .stat {
    flex: 33%;
  }
}

@media (min-height: at-least($short)) {
  .recap__shareable {
    .logo {
      display: inline;
      height: 30px;
    }
    h2 {
      display: block;
      margin: 0.5em 0;
    }
    .grid {
      row-gap: 1em;
      padding: 0.5em;
    }
  }
}

@media (min-width: at-least($x-small)) and (max-width: at-most($small)) and (min-height: at-least($tall)) and (max-width: at-most($x-tall)) {
  .recap__shareable {
    .logo {
      height: 40px;
    }
  }
}

@media (min-width: at-least($small)) and (max-width: at-most($large)), (min-height: at-least($x-tall)) {
  .recap__shareable {
    .logo {
      height: 40px;
    }
    .openings {
      margin-top: 2em;
      .stat {
        font-size: 1em;
      }
    }
  }
}

@media (min-width: at-least($large)) and (min-height: at-least($x-tall)) {
  .recap__shareable {
    .logo {
      height: 80px;
    }
  }
}

.recap small {
  font-size: 0.8em;
  opacity: 0.6;
}

.swiper .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);

  svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
}

.recap__data {
  td {
    padding: 0.5em 0;
  }
  td:first-child {
    text-align: left;
  }
  td:last-child {
    text-align: right;
    font-size: 0.8em;
    opacity: 0.8;
    min-width: 12ch;
    padding-left: 1em;
  }
}
.recap__slide--opponents {
  a {
    border: none;
  }
  .uflair,
  .noflair {
    font-size: 1.5em;
    margin-right: 0.5em;
  }
  .noflair {
    opacity: 0.8;
  }
  .trophy {
    height: 1em;
  }
}

@media (max-width: at-most($xx-small)) {
  .recap__slide--lichess-games {
    .recap--massive {
      strong {
        font-size: 2em;
      }
    }
  }
}

.recap ul {
  text-align: left;
  li {
    @extend %flex-center;
    &:before {
      content: '✓';
      font-size: 1.5em;
      margin-right: 0.3em;
    }
  }
}

.animated-pulse {
  animation: pulse 1s 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
