@(sit: chess.Situation, fen: String, positionsJson: String, animationDuration: scala.concurrent.duration.Duration)(implicit ctx: Context)

@moreCss = {
@cssTag("boardEditor.css")
}
@moreJs = {
@jsAt(s"compiled/lichess.editor${isProd??(".min")}.js")
@embedJs {
var data = @J.stringify(JsData(sit, fen, animationDuration));
data.positions = @positionsJson;
LichessEditor(document.getElementById('board_editor'), data);
}
}

@base.layout(
title = trans.boardEditor.str(),
moreJs = moreJs,
moreCss = moreCss,
chessground = false,
openGraph = lila.app.ui.OpenGraph(
title = "Chess board editor",
url = s"$netBaseUrl${routes.Editor.index.url}",
description = "Load opening positions or create your own chess position on a chess board editor").some) {
<div id="board_editor" class="board_editor cg-512"></div>
}
