@(data: play.api.libs.json.JsObject, pov: Pov)(implicit ctx: Context)

@import lidraughts.rating.PerfType.iconByVariant

@moreCss = {
@cssTag("analyse.css")
}

@moreJs = {
@jsAt(s"compiled/lidraughts.analyse${isProd??(".min")}.js")
@embedJs {
lidraughts = lidraughts || {};
lidraughts.user_analysis = {
data: @safeJson(data),
i18n: @userAnalysisI18n(
withForecast = false
),
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
}
};
}
}

@side = {
<div class="mselect">
  <div class="button" data-icon="@iconByVariant(pov.game.variant)">
    @pov.game.variant.name
    <i data-icon="u"></i>
  </div>
  <div class="list">
    @lidraughts.pref.Pref.puzzleVariants.map { v =>
    <a data-icon="@iconByVariant(v)" href="@routes.UserAnalysis.parsePuzzle(v.key)">@v.name</a>
    }
  </div>
</div>
}

@base.layout(
title = "Puzzle editor",
moreCss = moreCss,
moreJs = moreJs,
side = side.some,
draughtsground = false,
openGraph = lidraughts.app.ui.OpenGraph(
title = "Draughts puzzle editor",
url = s"$netBaseUrl${routes.UserAnalysis.index.url}",
description = "Create puzzles on an interactive draughts board").some,
zoomable = true) {
<div class="analyse cg-512">
    @board.domPreload(none)
</div>
}.toHtml