@()(implicit ctx: Context)
@Html(J.stringify(i18nJsObject(
trans.flipBoard,
trans.backToGame,
trans.gameAborted,
trans.checkmate,
trans.whiteResigned,
trans.blackResigned,
trans.stalemate,
trans.whiteLeftTheGame,
trans.blackLeftTheGame,
trans.draw,
trans.timeOut,
trans.playingRightNow,
trans.whiteIsVictorious,
trans.blackIsVictorious,
trans.kingInTheCenter,
trans.threeChecks,
trans.variantEnding,
trans.whitePlays,
trans.blackPlays,
trans.gameOver,
trans.boardEditor,
trans.continueFromHere,
trans.playWithTheMachine,
trans.playWithAFriend,
// ceval (also uses gameOver)
trans.depthX,
trans.usingServerAnalysis,
trans.loadingEngine,
trans.cloudAnalysis,
trans.cloud,
trans.goDeeper,
trans.showThreat,
trans.inLocalBrowser,
trans.toggleLocalEvaluation,
// explorer (also uses gameOver, checkmate, stalemate, draw, variantEnding)
trans.openingExplorerAndTablebase,
trans.openingExplorer,
trans.xOpeningExplorer,
trans.move,
trans.games,
trans.variantLoss,
trans.variantWin,
trans.insufficientMaterial,
trans.capture,
trans.pawnMove,
trans.close,
trans.winning,
trans.unknown,
trans.losing,
trans.antichessWin,
trans.gameSpeed,
trans.averageElo,
trans.database,
trans.recentGames,
trans.topGames,
trans.whiteDrawBlack,
trans.averageRatingX,
trans.watkinsAntichessSolution,
trans.watkinsAntichessSolutionExplanation,
trans.masterDbExplanation,
trans.proofTreeSize,
trans.nbNodes,
trans.mateInXHalfMoves,
trans.nextCaptureOrPawnMoveInXHalfMoves,
trans.noGameFound,
trans.alreadySearchingThroughAllAvailableGames,
trans.maybeIncludeMoreGamesFromThePreferencesMenu,
trans.winPreventedBy50MoveRule,
trans.lossSavedBy50MoveRule,
trans.allSet
)))
