@(data: play.api.libs.json.JsObject, pov: Pov)(implicit ctx: Context)

@import lila.rating.PerfType.iconByVariant

@moreCss = {
@cssTag("analyse.css")
@if(!pov.game.synthetic && pov.game.playable && ctx.me.flatMap(pov.game.player).isDefined) {
@cssTag("forecast.css")
}
}

@moreJs = {
@jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.user_analysis = {
data: @safeJson(data),
i18n: @userAnalysisI18n(
withForecast = !pov.game.synthetic && pov.game.playable && ctx.me.flatMap(pov.game.player).isDefined
),
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
}
};
}
}

@side = {
@if(pov.game.synthetic) {
<div class="mselect">
  <div class="button" data-icon="@iconByVariant(pov.game.variant)">
    @pov.game.variant.name
    <i data-icon="u"></i>
  </div>
  <div class="list">
    @chess.variant.Variant.all.filterNot(chess.variant.FromPosition ==).map { v =>
    <a data-icon="@iconByVariant(v)" href="@routes.UserAnalysis.parse(v.key)">@v.name</a>
    }
  </div>
</div>
}
}

@base.layout(
title = trans.analysis.txt(),
moreCss = moreCss,
moreJs = moreJs,
side = side.some,
chessground = false,
openGraph = lila.app.ui.OpenGraph(
title = "Chess analysis board",
url = s"$netBaseUrl${routes.UserAnalysis.index.url}",
description = "Analyse chess positions and variations on an interactive chess board").some,
zoomable = true) {
<div class="analyse cg-512">
  @board.domPreload(none)
</div>
}.toHtml
