@(configVersion: lila.common.AssetVersion, dbVersion: lila.common.AssetVersion)(implicit ctx: Context)

@title = @{ "Asset version" }

@mod.layout(title = title, active = "asset") {

<style type="text/css">
  #asset-version form {
    margin: 30px 0;
    text-align: center;
  }
  #asset-version form input {
    padding: 15px 25px;
    font-size: 1.2em;
    width: 400px;
    margin: auto;
    position: relative;
  }
</style>

<div id="asset-version" class="content_box">
  <h1 data-icon="x" class="text">@title</h1>
  <br /><br />
  <p>
    Increment to force all clients to load a new version of static assets.<br />
    Decrement to serve a previous revision of static assets.
  </p>
  <br /><br />
  <p>
    Config version: <strong>@configVersion</strong>
  </p>
  <p>
    DB version: <strong>@dbVersion</strong>
  </p>
  <form action="@routes.Dev.assetVersionPost" method="POST">
    <input name="version" value="@dbVersion" />
    <button type="submit" class="submit button text" data-icon="E">@trans.apply()</button>
  </form>
  <form action="@routes.Dev.assetVersionPost" method="POST">
    <input name="version" value="@{dbVersion.value + 1}" type="hidden" />
    <button type="submit" class="submit button text" data-icon="O">Just increment</button>
  </form>
</div>
}
