@(settings: List[lila.memo.SettingStore[_]])(implicit ctx: Context)

@title = @{ "Settings" }

@mod.layout(title = title, active = "setting") {

<style type="text/css">
  #settings form {
    margin-top: 10px;
    border-top: 1px solid rgba(120, 120, 120, 0.3);
    padding-top: 10px;
  }
  #settings form label p {
    width: 50%;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
</style>

<div id="settings" class="content_box">
  <h1 data-icon="%" class="text">@title</h1>
  <br /><br />
  <p>
    Tread lightly.
  </p>
  @settings.map { s =>
  <form action="@routes.Dev.settingsPost(s.id)" method="POST">
    <label>
      <p>@s.text.getOrElse(s.id)</p>
      <input name="v" value="@s.get()" />
    </label>
    <button type="submit" class="submit button text" data-icon="E"></button>
  </form>
  }
</div>
}
