@(settings: List[lila.memo.SettingStore[_]])(implicit ctx: Context)

@title = @{ "Settings" }

@base.layout(
title = title,
moreCss = responsiveCssTag("mod.misc"),
responsive = true) {
<main class="page-menu">
  @mod.menu.nav("setting").toHtml
  <div id="settings" class="page-menu__content box box-pad">
    <h1>@title</h1>
    <p>Tread lightly.</p>
    @settings.map { s =>
    <form action="@routes.Dev.settingsPost(s.id)" method="POST">
      <p>@s.text.getOrElse(s.id)</p>
      <input name="v" value="@s.form.value" />
      <button type="submit" class="button" data-icon="E"></button>
    </form>
    }
  </div>
</main>
}.toHtml
