@(pov: Pov, analysis: lila.analyse.Analysis)

<div class="inner">
<table>
  <thead>
    <tr>
      <th>Severity</th>
      <th>Move</th>
      <th>Score</th>
      <th>Better</th>
    </tr>
  </thead>
  <body>
    @analysis.advices.map { a =>
    <tr>
      <td>@a.severity.toString</td>
      <td>@a.fullMove.@a.color.fold("", "..") @a.info.showMove</td>
      <td>@a.info.score.map(_.showPawns) ⇒ @a.next.score.map(_.showPawns)</td>
      <td>@a.info.showBest</td>
    </tr>
    }
  </body>
</table>
</div>
