@(pov: Pov, analysis: lila.analyse.Analysis)

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Move</th>
      <th>Severity</th>
      <th>Advantage</th>
      <th>Better</th>
    </tr>
  </thead>
  <body>
    @analysis.advices.map { a =>
    <tr>
      <td>@a.fullMove</td>
      <td><span class="user_link @a.color.name">@a.info.showMove</span></td>
      <td>@a.text</td>
      <td>
        @a.next.score.map { score =>
        <div class="advbar">
          <div style="width: @score.percent%"></div>
        </div>
        }
      </td>
      <td>@a.info.showBest</td>
    </tr>
    }
  </body>
</table>
