@(isStudy: Boolean)(implicit ctx: Context)

@header(text: String) = {
<tr>
  <th colspan=2>
    <p>@text</p>
  </th>
</tr>
}
@row(keys: List[Html], desc: String) = {
<tr>
  <td class="keys">@Html(keys.mkString)</td>
  <td class="desc">@desc</td>
</tr>
}
@k(key: String) = {
<kbd>@key</kbd>
}
@or = {
<or>/</or>
}

<h2>@trans.keyboardShortcuts()</h2>
<table>
  <tbody>
    @header("Navigate the move tree")
    @row(List(k("←"), or, k("→")), trans.keyMoveBackwardOrForward.txt())
    @row(List(k("j"), or, k("k")), trans.keyMoveBackwardOrForward.txt())
    @row(List(k("↑"), or, k("↓")), trans.keyGoToStartOrEnd.txt())
    @row(List(k("0"), or, k("$")), trans.keyGoToStartOrEnd.txt())
    @row(List(k("shift"), k("←"), or, k("shift"), k("→")), trans.keyEnterOrExitVariation.txt())
    @row(List(k("shift"), k("J"), or, k("shift"), k("K")), trans.keyEnterOrExitVariation.txt())
    @header("Analysis options")
    @row(List(k("shift"), k("I")), trans.inlineNotation.txt())
    @row(List(k("l")), "Local computer analysis")
    @row(List(k("a")), "Computer arrows")
    @row(List(k("space")), "Play computer best move")
    @row(List(k("x")), "Show threat")
    @row(List(k("e")), "Opening/endgame explorer")
    @row(List(k("f")), trans.flipBoard.txt())
    @row(List(k("/")), "Focus chat")
    @row(List(k("shift"), k("C")), trans.keyShowOrHideComments.txt())
    @row(List(k("?")), "Show this help dialog")
    @if(isStudy) {
    @header("Study actions")
    @row(List(k("c")), "Comment this position")
    @row(List(k("g")), "Annotate with glyphs")
    }
    @header("Mouse tricks")
    <tr>
      <td class="mouse" colspan=2>
        <ul>
          <li>@trans.youCanAlsoScrollOverTheBoardToMoveInTheGame()</li>
          <li>@trans.analysisShapesHowTo()</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
