@()(implicit ctx: Context)
@Html(J.stringify(i18nJsObject(
trans.flipBoard,
trans.gameAborted,
trans.checkmate,
trans.whiteResigned,
trans.blackResigned,
trans.stalemate,
trans.whiteLeftTheGame,
trans.blackLeftTheGame,
trans.draw,
trans.timeOut,
trans.playingRightNow,
trans.whiteIsVictorious,
trans.blackIsVictorious,
trans.kingInTheCenter,
trans.threeChecks,
trans.variantEnding,
trans.analysis,
trans.boardEditor,
trans.continueFromHere,
trans.createAGame,
trans.playWithTheMachine,
trans.playWithAFriend,
trans.openingExplorer,
trans.inaccuracies,
trans.mistakes,
trans.blunders,
trans.averageCentipawnLoss
)))
