@(title: String, side: Option[Html] = None, chat: Option[Html] = None, underchat: Option[Html] = None, moreCss: Html = emptyHtml, moreJs: Html = emptyHtml, openGraph: Option[lidraughts.app.ui.OpenGraph] = None, draughtsground: Boolean, atom: Option[Html] = None)(body: Html)(implicit ctx: Context)

@base.layout(
title = title,
side = side,
chat = chat,
underchat = underchat,
moreCss = moreCss,
moreJs = moreJs,
openGraph = openGraph,
draughtsground = draughtsground,
robots = false,
atom = atom,
zoomable = true)(body)
