@(pov: Pov, initialFen: Option[chess.format.FEN], pgn: String, analysis: Option[lila.analyse.Analysis], simul: Option[lila.simul.Simul], cross: Option[lila.game.Crosstable.WithMatchup])(implicit ctx: Context)

@import pov._

@title = @{ s"${playerText(pov.player)} vs ${playerText(pov.opponent)} in $gameId : ${game.opening.fold(trans.analysis.txt())(_.opening.ecoName)}" }

@analyse.layout(
title = title,
side = views.html.game.side(pov, initialFen, none, simul = simul, bookmarked = false).some,
chat = none,
underchat = views.html.game.bits.watchers.some,
moreCss = cssTag("analyse.css"),
openGraph = povOpenGraph(pov).some,
chessground = false) {
<div class="analyse cg-512">
  @board.domPreload(pov.some)
  <div class="lichess_ground for_bot">
    <h1>@titleGame(pov.game)</h1>
    <p>@describePov(pov)</p>
    <p>@pov.game.opening.map(_.opening.ecoName)</p>
  </div>
</div>
<div class="advice_summary">
  @analysis.map { a =>
  <table>
    @for((color, pairs) <- a.summary) {
    <thead>
      <tr>
        <td>
          <span class="is color-icon @color"></span>
        </td>
        <th>@playerLink(pov.game.player(color), withOnline = false)</th>
      </tr>
    </thead>
    <tbody>
      @for((judgment, nb) <- pairs) {
      <tr>
        <td><strong>@nb</strong></td>
        <th>@judgmentName(judgment)</th>
      </tr>
      }
      <tr>
        <td><strong>@lila.analyse.Accuracy.mean(pov.withColor(color), a)</strong></td>
        <th>@trans.averageCentipawnLoss()</th>
      </tr>
      <tr><td class="spacerlol" colspan=2></td></tr>
    </tbody>
    }
  </table>
  }
</div>
<div class="underboard_content">
  <div class="analysis_panels">
    <div class="panel fen_pgn">
      <div class="pgn">@pgn</div>
    </div>
    @cross.map { c =>
    <div class="panel crosstable">
      @views.html.game.crosstable(pov.player.userId.fold(c)(c.fromPov), pov.gameId.some)
    </div>
    }
  </div>
  <div class="analysis_menu">
    @if(cross.isDefined) {
    <a data-panel="crosstable" class="crosstable">@trans.crosstable()</a>
    }
    <a data-panel="fen_pgn" class="fen_pgn">FEN &amp; PGN</a>
  </div>
</div>
}
