@(pov: Pov, pgn: String, roomHtml: Html, bookmarkers: List[String], opening: Option[chess.OpeningExplorer.Opening], analysis: Option[lila.analyse.Analysis], advantageChart: Option[String], version: Int, tour: Option[lila.tournament.Tournament])(implicit ctx: Context)

@import pov._

@moreCss = {
@cssTag("analyse.css")
}

@moreJs = {
@jsAt("vendor/pgn4web/pgn4web-compacted.js")
@jsTag("vendor/jquery.mousewheel.js")
@jsTagCompiled("pgn4hacks.js")
@analysis.map { a =>
@highchartsTag
@jsTagCompiled("chart2.js")
@embedJs("var lichess_best_moves="+toJson(a.bestMoves)+";")
}
}

@underchat = {
<div class="watchers">
  @trans.spectators() <span class="list inline_userlist"></span>
</div>
<div class="shortcuts">
  <p class="title">Shortcuts</p>
  <ul>
    <li><strong>h</strong> or <strong>arrow-up</strong> go to game start</li>
    <li><strong>j</strong> or <strong>arrow-left</strong> move backward</li>
    <li><strong>k</strong> or <strong>arrow-right</strong> move forward</li>
    <li><strong>l</strong> or <strong>arrow-down</strong> go to game end</li>
  </ul>
</div>
}

@analyse.layout(
title = trans.replayAndAnalyse() + " " + gameId,
goodies = views.html.game.infoBox(pov, tour).some,
chat = round.room(roomHtml, true).some,
underchat = underchat.some,
moreCss = moreCss,
moreJs = moreJs,
themepicker = true) {
<div class="analyse clearfix">
  <div class="board_wrap">
    <div
      id="GameBoard"
      data-version="@version"
      data-socket-url="@routes.Round.websocketWatcher(gameId, color.name)"
      class="@color.fold("", "flip")"></div>
    <div id="GameButtons"></div>
  </div>
  <div class="moves_wrap">
    <div id="GameText"></div>
    <div class="advice_summary">
      @round.blurs(game)
      @analysis.filter(_.done).map { a =>
      <table>
        @for((color, pairs) <- a.summary) {
        <thead>
          <tr>
            <th colspan="3">
              @playerLink(pov.game.player(color), withOnline = false, cssClass = Some("s16 " + color.name))
            </th>
          </tr>
        </thead>
        @for((nag, nb) <- pairs) {
        <tbody>
        <tr>
          <th>@nagName(nag)</th>
          <td><strong>@nb</strong></td>
          <td><strong>@("%.1f".format(100f * nb / pov.game.playerMoves(color)))</strong>%</td>
        </tr>
        </tbody>
        }
        }
      </table>
      }
    </div>
  </div>
</div>
<textarea id="pgnText" readonly="readonly">@Html(pgn)</textarea>
@analysis.map { a =>
@if(a.old) {
<form class="request_analysis new_analysis" action="@routes.Analyse.computer(gameId, color.name)" method="post">
  <a>Request a better computer analysis</a>
</form>
}
@advantageChart.map { chart =>
<div
  id="adv_chart"
  title="Advantage (up: white, down: black)"
  data-max="@lila.analyse.AdvantageChart.max"
  data-rows="@chart"></div>
}.getOrElse {
<div class="undergame_box game_analysis status">
  @trans.computerAnalysisInProgress()
</div>
}
}
@analyse.link(pov)
@views.html.game.more(pov, bookmarkers) {
@trans.opening(): @opening.map { o =>
<a href="http://www.chessgames.com/perl/chessopening?eco=@o.code">@o.code @o.name</a>
}.getOrElse { "Unknown" }
<nav>
  @round.continueFromHere(pov.game, true)
  @if(ctx.isAuth && game.analysable && analysis.isEmpty) {
  <form class="request_analysis" action="@routes.Analyse.computer(gameId, color.name)" method="post">
    <a>@trans.requestAComputerAnalysis()</a>
  </form>
  }
  @if(game.pgnImport.isEmpty) {
  <a href="@routes.Analyse.stats(gameId)">@trans.viewGameStats()</a>
  <br />
  }
  <a class="rotate_board" href="@routes.Analyse.replay(gameId, (!color).name)">@trans.flipBoard()</a>
  <br />
  @round.fenPgn(game)
</nav>
}
}
