@(pov: Pov, initialFen: Option[String], pgn: String, analysis: Option[lila.analyse.Analysis], simul: Option[lila.simul.Simul], cross: Option[lila.game.Crosstable])(implicit ctx: Context)

@import pov._

@title = @{ s"${playerText(pov.player)} vs ${playerText(pov.opponent)} in $gameId : ${game.opening.fold(trans.analysis.str())(_.opening.ecoName)}" }

@moreJs = {
@embedJs {
Chessground(document.querySelector('#lichess .analyse .lichess_board'), {
viewOnly: true,
fen: "@{chess.format.Forsyth.>>(pov.game.toChess)}",
orientation: "@pov.color.name"
});
}
}

@moreCss = {
@cssTag("analyse.css")
}

@underchat = {
@views.html.game.watchers()
<div class="shortcuts">
  <p class="title text" data-icon="u">@trans.keyboardShortcuts()</p>
  <div class="inner">
    <ul>
      <li><strong>h</strong>/<strong>l</strong>, <strong>←</strong>/<strong>→</strong> @trans.keyMoveBackwardOrForward()</li>
      <li><strong>j</strong>/<strong>k</strong>, <strong>↑</strong>/<strong>↓</strong> @trans.keyGoToStartOrEnd()</li>
      <li><strong>c</strong> @trans.keyShowOrHideComments()</li>
      <li><strong>shift</strong> + <strong>h</strong>/<strong>l</strong>, <strong>←</strong>/<strong>→</strong> @trans.keyEnterOrExitVariation()</li>
    </ul>
    @trans.pressShiftPlusClickOrRightClickToDrawCirclesAndArrowsOnTheBoard() <br />
    @trans.youCanAlsoScrollOverTheBoardToMoveInTheGame()
  </div>
</div>
}

@analyse.layout(
title = title,
side = views.html.game.side(pov, initialFen, none, simul = simul).some,
chat = none,
underchat = underchat.some,
moreJs = moreJs,
moreCss = moreCss,
openGraph = povOpenGraph(pov).some,
chessground = true) {
<div class="analyse cg-512">
  <div class="top">
    <div class="lichess_game">
      <div class="lichess_board_wrap">
        <div class="lichess_board">
          <div class="cg-board-wrap">
            <div class="cg-board"></div>
          </div>
        </div>
      </div>
      <div class="lichess_ground for_bot">
        <h1>@titleGame(pov.game)</h1>
        <p>@describePov(pov)</p>
        <p>@pov.game.opening.map(_.opening.ecoName)</p>
      </div>
    </div>
  </div>
</div>
<div class="advice_summary">
  @analysis.map { a =>
  <table>
    @for((color, pairs) <- a.summary) {
    <thead>
      <tr>
        <td>
          <span class="is color-icon @color"></span>
        </td>
        <th>@playerLink(pov.game.player(color), withOnline = false)</th>
      </tr>
    </thead>
    <tbody>
      @for((judgment, nb) <- pairs) {
      <tr>
        <td><strong>@nb</strong></td>
        <th>@judgmentName(judgment)</th>
      </tr>
      }
      <tr>
        <td><strong>@lila.analyse.Accuracy.mean(pov.withColor(color), a)</strong></td>
        <th>@trans.averageCentipawnLoss()</th>
      </tr>
      <tr><td class="spacerlol" colspan=2></td></tr>
    </tbody>
    }
  </table>
  }
</div>
<div class="underboard_content">
  <div class="analysis_panels">
    <div class="panel fen_pgn">
      <p><strong>FEN</strong><input type="input" readonly="true" spellcheck="false" class="copyable autoselect fen" /></p>
      <p><strong>PGN</strong>
        <a data-icon="x" rel="nofollow" href="@routes.Export.pgn(game.id)"> @trans.downloadAnnotated()</a>
        @if(analysis.isDefined) {
        /
        <a data-icon="x" rel="nofollow" href="@routes.Export.pgn(game.id)?as=raw"> @trans.downloadRaw()</a>
        }
        @if(game.isPgnImport) {
        /
        <a data-icon="x" rel="nofollow" href="@routes.Export.pgn(game.id)?as=imported"> @trans.downloadImported()</a>
        }
        /
        <a data-icon="x" target="_blank" rel="nofollow" href="@cdnUrl(routes.Export.pdf(game.id).url)"> @trans.printFriendlyPDF()</a>
      </p>
      <div class="pgn">@Html(nl2br(escape(pgn)))</div>
    </div>
    @cross.map { c =>
    <div class="panel crosstable">
      @views.html.game.crosstable(pov.player.userId.fold(c)(c.fromPov), pov.gameId.some)
    </div>
    }
  </div>
  <div class="analysis_menu">
    @if(cross.isDefined) {
    <a data-panel="crosstable" class="crosstable">@trans.crosstable()</a>
    }
    <a data-panel="fen_pgn" class="fen_pgn">FEN &amp; PGN</a>
  </div>
</div>
}
