@(pov: Pov, data: play.api.libs.json.JsObject, initialFen: Option[String], pgn: String, analysis: Option[lila.analyse.Analysis], analysisInProgress: Option[lila.fishnet.Work.InProgress], simul: Option[lila.simul.Simul], cross: Option[lila.game.Crosstable], userTv: Option[User], myChat: Option[lila.chat.UserChat.Mine])(implicit ctx: Context)

@import pov._

@title = @{ s"${playerText(pov.game.whitePlayer)} vs ${playerText(pov.game.blackPlayer)} in $gameId : ${game.opening.fold(trans.analysis.str())(_.opening.ecoName)}" }

@moreCss = {
@cssTag("analyse.css")
}

@moreJs = {
@jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.analyse = {
data: @Html(J.stringify(data)),
i18n: @jsI18n(),
userId: @jsUserId,
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
}
};
}
@myChat.map { c =>
@chat.js(c, name = trans.spectatorRoom.str(), notes = true)
}
}

@atom = {
<link href="@routes.Round.atom(pov.gameId, pov.color.name)" type="application/atom+xml" rel="alternate" title="Game feed" />
}

@underchat = {
@views.html.game.watchers()
@round.blurs(game)
@round.holdAlerts(game)
<div class="shortcuts">
  <p class="title text" data-icon="u">@trans.keyboardShortcuts()</p>
  <div class="inner">
    <ul>
      <li><strong>j</strong>/<strong>k</strong> or <strong>←</strong>/<strong>→</strong> @trans.keyMoveBackwardOrForward()</li>
      <li><strong>h</strong>/<strong>l</strong> or <strong>0</strong>/<strong>$</strong> or <strong>↑</strong>/<strong>↓</strong> @trans.keyGoToStartOrEnd()</li>
      <li><strong>c</strong> @trans.keyShowOrHideComments()</li>
      <li><strong>shift</strong> + <strong>k</strong>/<strong>j</strong> or <strong>←</strong>/<strong>→</strong> @trans.keyEnterOrExitVariation()</li>
    </ul>
    @trans.pressShiftPlusClickOrRightClickToDrawCirclesAndArrowsOnTheBoard() <br />
    @trans.youCanAlsoScrollOverTheBoardToMoveInTheGame()
  </div>
</div>
}

@analyse.layout(
title = title,
side = views.html.game.side(pov, initialFen, none, simul = simul, userTv = userTv).some,
chat = chat.dom(myChat).some,
underchat = underchat.some,
moreCss = moreCss,
moreJs = moreJs,
openGraph = povOpenGraph(pov).some,
chessground = false,
atom = atom.some) {
<div class="analyse cg-512">@miniBoardContent</div>
<div class="underboard_content" style="display:none">
  <div class="analysis_panels">
    @if(game.analysable) {
    <div class="panel computer_analysis">
      @if(analysis.isDefined || analysisInProgress.isDefined) {
      <div id="adv_chart"></div>
      } else {
      <form class="future_game_analysis@if(ctx.isAnon){ must_login}" action="@routes.Analyse.requestAnalysis(gameId)" method="post">
        <button type="submit" class="button text"><span class="is3 text" data-icon="&#xe004;">@trans.requestAComputerAnalysis()</span></button>
      </form>
      }
    </div>
    }
    <div class="panel quote">
      @base.quote(lila.quote.Quote.one(pov.gameId))
    </div>
    <div class="panel fen_pgn">
      <p><strong>FEN</strong><input type="input" readonly="true" spellcheck="false" class="copyable autoselect fen" /></p>
      <p><strong>PGN</strong>
        <a data-icon="x" rel="nofollow" href="@routes.Export.pgn(game.id)"> @trans.downloadAnnotated()</a>
        @if(analysis.isDefined) {
        /
        <a data-icon="x" rel="nofollow" href="@routes.Export.pgn(game.id)?as=raw"> @trans.downloadRaw()</a>
        }
        @if(game.isPgnImport) {
        /
        <a data-icon="x" rel="nofollow" href="@routes.Export.pgn(game.id)?as=imported"> @trans.downloadImported()</a>
        }
        /
        <a data-icon="x" target="_blank" rel="nofollow" href="@cdnUrl(routes.Export.pdf(game.id).url)"> @trans.printFriendlyPDF()</a>
      </p>
      <div class="pgn">@Html(nl2br(escape(pgn)))</div>
    </div>
    <div class="panel move_times">
      @if(game.turns > 3) {
      <div id="movetimes_chart"></div>
      }
    </div>
    @cross.map { c =>
    <div class="panel crosstable">
      @views.html.game.crosstable(pov.player.userId.fold(c)(c.fromPov), pov.gameId.some)
    </div>
    }
  </div>
  <div class="analysis_menu">
    @if(game.analysable) {
    <a data-panel="computer_analysis" class="computer_analysis"
      @analysis.map { a => title="Provided by @usernameOrId(a.providedBy)" }>@trans.computerAnalysis()</a>
    }
    @if(!game.isPgnImport) {
    @if(game.turns > 3) {
    <a data-panel="move_times" class="move_times">@trans.moveTimes()</a>
    }
    @if(cross.isDefined) {
    <a data-panel="crosstable" class="crosstable">@trans.crosstable()</a>
    }
    }
    <a data-panel="fen_pgn" class="fen_pgn">FEN &amp; PGN</a>
    <a data-panel="quote" class="quote" data-icon="c" title="Irrelevant chess quote"></a>
  </div>
</div>
}
