@(game: Game, timeChart: lila.analyse.TimeChart, timePies: List[lila.analyse.TimePie])(implicit ctx: Context)

@moreCss = {
@cssTag("gamestats.css")
}

@moreJs = {
@jsTag("chart.js")
}

@title = @{ s"Game #${game.id} ${trans.moveTimes()}" }

@analyse.layout(
title = title,
moreCss = moreCss,
moreJs = moreJs) {
<div class="content_box">
  <h1 class="title">
    Game <a href="@routes.Round.watcher(game.id, "white")">#@game.id</a> @trans.moveTimes()
  </h1>
  <br /><br />
  <div
    class="move-time"
    data-title="Time per move evolution"
    data-columns="@timeChart.columns"
    data-rows="@timeChart.rows"></div>
  <br /><br />
  <div class="clearfix">
    @timePies.map { pie =>
    <div
      class="move-times"
      style="float:left;"
      data-title="@pie.pov.color.name - @playerUsername(pie.pov.player) move times"
      data-columns="@pie.columns"
      data-rows="@pie.rows"></div>
    }
  </div>
</div>
}
