@use 'breakpoint-sass/stylesheets/breakpoint';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.tour-home__list {
  max-width: 1200px;

  .slist {
    td {
      padding: 1em inherit;

      &.duration {
        white-space: nowrap;
      }
    }

    .header {
      letter-spacing: 2px;
      cursor: pointer;

      @include mixins.transition;

      padding: 0;

      &:hover {
        transform: translateX(3px);
      }

      a {
        padding: 1em;
        display: block;
      }
    }

    a {
      color: theme.$c-font;

      &:hover {
        color: theme.$c-link-hover;
      }
    }

    .name {
      font-size: 1.5em;
      display: block;

      @include breakpoint.breakpoint(media-queries.$mq-large) {
        letter-spacing: 3px;
      }
    }
  }

  .icon i {
    font-size: 4em;
    opacity: 0.6;
  }

  .tour-scheduled .icon i {
    color: theme.$c-brag;
    opacity: 0.8;
  }
}
