.arena-list {
  .slist {
    .date {
      @media (max-width: at-most($x-small)) {
        display: none;
      }
    }
    .players {
      @media (max-width: at-most($xx-small)) {
        display: none;
      }
    }

    td {
      > span,
      > a > span {
        display: block;
        margin: 0.5em 0;
      }

      &.players {
        white-space: nowrap;
      }

      i {
        color: $c-brag;
      }
    }

    .header {
      letter-spacing: 2px;
      cursor: pointer;

      @include transition;

      padding: 0;

      &:hover {
        transform: translateX(3px);
      }

      a {
        padding: 1em;
        display: block;
      }
    }

    a {
      color: $c-font;

      &:hover {
        color: $c-link-hover;
      }
    }

    .name {
      font-size: 1.5em;
      display: block;

      @media (min-width: at-least($large)) {
        letter-spacing: 3px;
      }
    }
  }

  .icon i {
    font-size: 4em;
    color: $c-brag;
    opacity: 0.8;
  }
}
