.tour__form {
  .tour-name > div {
    @extend %flex-center-nowrap;

    overflow: hidden;
    gap: 1em;

    > * {
      flex: 1 1 auto;
    }
  }
}

.tour__faq {
  margin-top: $block-gap;

  h2 {
    margin: 1.2em 0 0.5em 0;
  }
}
