@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/variables';

.tour-home {
  display: grid;
  grid-gap: variables.$block-gap;
  grid-template-areas:
    'schedule'
    'side';

  &__side {
    grid-area: side;
    margin: 0 variables.$block-gap;
  }

  &__schedule {
    grid-area: schedule;
  }

  &__list {
    grid-area: list;
    display: none;
  }

  @include breakpoint.breakpoint(media-queries.$mq-medium) {
    grid-template-columns: minmax(200px, 300px);
    grid-template-areas:
      'side schedule'
      'side list'
      'side .';

    &__side {
      margin: 0;
    }

    &__list {
      display: block;
    }
  }
}
