@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.tour-home__side {
  h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 6px;
    border-bottom: theme.$border;

    a {
      color: theme.$c-font;

      &:hover {
        color: theme.$c-link;
      }
    }
  }
}

.leaderboard {
  li {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    white-space: nowrap;
    padding: 0.2em 0;
    line-height: 1.5;

    @include mixins.transition;

    &:hover a {
      color: theme.$c-link;
    }
  }

  a {
    color: theme.$c-font;
  }

  .user-link {
    @extend %ellipsis;

    margin: 0 5px 0 -3px;
  }
}

.tour__links {
  margin-top: 1em;

  a {
    color: theme.$c-font;

    @include mixins.transition;

    &:hover {
      color: theme.$c-link;
    }
  }
}

.scheduled {
  a {
    color: theme.$c-font;
    padding: 0.5em 0 0.5em 2.7em;
    display: block;
    position: relative;
    line-height: 1.2;

    @include mixins.transition;

    &:hover {
      @extend %box-radius;

      padding-left: 3.2rem;
      background: theme.$m-brag_bg-page_mix_20;

      &::before {
        left: 0.5rem;
        opacity: 1;
      }
    }
  }

  strong {
    color: theme.$c-font-dim;
    display: block;
  }

  a::before {
    @include mixins.transition;

    position: absolute;
    top: 0.3rem;
    left: 0;
    font-size: 2.2em;
    opacity: 0.6;
    color: theme.$c-brag;
  }
}
