@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';
@use 'search';
@use 'topic';
@use 'post';
@use 'completion';
@use 'table';
@use 'pagination';
@use 'mention';
@use 'reactions';

.forum {
  h1,
  .slist .subject {
    @extend %break-word-hard;
  }

  &.forum-categ {
    padding-bottom: 1rem;

    .sticky {
      background: theme.$m-secondary_bg-box_mix_10;
    }

    .sticky:nth-child(even) {
      background: theme.$m-secondary_bg-zebra_mix_10;
    }

    .bar-top {
      @extend %box-padding;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      h1 {
        margin: 0;
      }
    }
  }
}
