@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

.forum .pagination {
  color: theme.$c-font-dimmer;
  display: flex;
  justify-content: center;

  a,
  span {
    width: 2rem;
    height: 2rem;

    @extend %box-radius;

    margin: 0 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: theme.$c-font-dimmer;
  }

  a:hover {
    background: theme.$m-primary_bg-box_mix_10;
  }

  .current {
    background: theme.$c-primary;
    color: theme.$c-primary-over;
  }
}
