@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/theme';

.forum .slist {
  td {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  td.right,
  & th.right {
    display: none;

    @include breakpoint.breakpoint(media-queries.$mq-small) {
      display: table-cell;
      text-align: right;
      padding-right: 2em;
    }
  }

  td:last-child {
    white-space: nowrap;
    padding-right: 1em;

    time {
      color: theme.$c-link;
      font-size: 1em;
    }

    display: none;

    @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
      display: table-cell;
    }
  }

  thead {
    display: none;

    @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
      display: table-header-group;
    }
  }

  tbody {
    border-top: theme.$border;

    @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
      border-top: none;
    }
  }

  &.topics {
    margin-bottom: 2rem;

    .subject {
      font-size: 1.2em;
    }
  }

  &.categs .subject p {
    margin-top: 0.3em;
  }
}
