@(simuls: List[lidraughts.simul.Simul])

<table class="tournaments">
  @simuls.map { simul =>
  <tr>
    <td class="name">
      <a class="text" href="@routes.Simul.show(simul.id)">
        @simul.perfTypes.map { pt =>
        <span class="is-gold" data-icon="@pt.iconChar"></span>
        }
        @simul.fullName
      </a>
    </td>
    <td>
      @userIdLink(simul.hostId.some)
    </td>
    <td class="small">
      <span class="text" data-icon="p">@simul.clock.config.show</span>
    </td>
    <td class="text" data-icon="r">@simul.applicants.size</td>
    <td>
      <a href="@routes.Simul.show(simul.id)" class="button" data-icon="G"></a>
    </td>
  </tr>
  }
</table>
