@(form: Form[_], captcha: lidraughts.common.Captcha, simulId: String)(implicit ctx: Context)

@base.layout(
title = trans.exportSimulGames.txt(),
moreCss = cssTags(List("user-signup.css" -> true, "form3.css" -> true))) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lidraughts_title">@trans.exportSimulGames()</h1>
    <form class="form3" action="@routes.Simul.exportConfirm(simulId)" method="POST">
      <ul>
        <li>
          @base.captcha(form, captcha).toHtml
        </li>
        @errMsg(form)
        <li>
          <a type="button" class="text button" data-icon="I" href="@routes.Simul.show(simulId)">@trans.backToSimul()</a>
          <button type="submit" class="text submit button button-right" data-icon="F">@trans.exportGames()</button>
        </li>
      </ul>
    </form>
  </div>
</div>
}
