@(form: Form[lidraughts.simul.SimulSetup], config: lidraughts.simul.DataForm)(implicit ctx: Context)

@import config._
@import lidraughts.app.ui.ScalatagsTwirlForm._
@import lidraughts.simul.DataForm._

@simul.layout(
title = trans.hostANewSimul.txt(),
formCss = true) {
<div id="simul" class="form">
  <div class="content_box small_box simul_box">
    <h1>@trans.hostANewSimul()</h1>
    <form class="plain create content_box_content form3" action="@routes.Simul.create" method="POST">
      <p class="help">@trans.whenCreateSimul()</p>
      @form3.globalError(form)

      @form3.group(form("variants"), trans.simulVariantsHint.frag(), klass = "variants")(_ => views.html.setup.filter.renderCheckboxes(form, "variants", form.value.map(_.variants.map(_.toString)).getOrElse(Nil), translatedVariantChoicesWithVariants).toHtml)
      @form3.split {
      @form3.group(form("clockTime"), trans.clockInitialTime.frag(), help = trans.simulClockHint.frag().some, half = true)(form3.select(_, clockTimeChoices))
      @form3.group(form("clockIncrement"), trans.increment.frag(), half = true)(form3.select(_, clockIncrementChoices))
      }
      @form3.split {
      @form3.group(form("clockExtra"), trans.simulHostExtraTime.frag(), help = trans.simulAddExtraTime.frag().some, half = true)(form3.select(_, clockExtraChoices))
      @form3.group(form("color"), trans.simulHostColor.frag(), half = true)(form3.select(_, translatedColorChoices))
      }
        
      @form3.group(form("targetPct"), trans.winningPercentage.frag(), help = trans.simulTargetPercentageHint.frag().some)(form3.input(_, typ = "number")(*.placeholder := trans.targetPercentage.txt(), *.min := 50, *.max := 100))
      @form3.group(form("chat"), trans.chatAvailableFor.frag(), help = trans.simulChatRestrictionsHint.frag().some)(form3.select(_, translatedChatChoices))

      @form3.actions { 
        <a href="@routes.Simul.home()">@trans.cancel()</a>
        @form3.submit(trans.create.frag(), icon = "|".some)
      }
    </form>
  </div>
</div>
}
