@(form: Form[lila.simul.SimulSetup], config: lila.simul.DataForm)(implicit ctx: Context)

@import config._

@simul.layout(
title = "New simul") {
<div id="simul">
  <div class="content_box small_box simul_box">
    <h1>Create a new simul</h1>
    <form class="plain create content_box_content" action="@routes.Simul.create" method="POST">
      @form.globalError.map { error =>
      <p class="error">@error.message</p>
      }
      <table>
        <tr>
          <th><label for="@form("variants").id">@trans.variant()</label></th>
          <td>@setup.filterCheckboxes(form, "variants", form.value.map(_.variants.map(_.toString)).getOrElse(Nil), translatedVariantChoicesWithVariants)</td>
        </tr>
        <tr class="time">
          <th><label>@trans.timeControl()</label></th>
          <td class="inline">
            @base.select(form("clockTime"), config.clockTimeChoices)
            +
            @base.select(form("clockIncrement"), config.clockIncrementChoices)
          </td>
        </tr>
        <tr>
          <th><label for="@form("clockMultiplier").id" title="Multiply the host player clock time and increments by:">Host clock multiplier</label></th>
          <td>@base.select(form("clockMultiplier"), config.clockMultiplierChoices)</td>
        </tr>
        <tr>
          <th><label for="@form("name").id">Name</label></th>
          <td>@base.input(form("name"))</td>
        </tr>
        <tr>
          <th></th>
          <td>
            <button type="submit" class="submit button text" data-icon="g">Create</button>
            <br /><br />
            <a href="@routes.Simul.home()">@trans.cancel()</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
}
