@(s: lidraughts.simul.Simul)(implicit ctx: Context)

@imgUrl(spot: lidraughts.simul.Spotlight) = {
@spot.iconImg.getOrElse("fire-silhouette.svg")
}

<a href="@routes.Simul.show(s.id)" class="tour_spotlight little id_@s.id">
  @s.spotlight.map { spot =>
  <img class="img" src="@staticUrl(s"images/${imgUrl(spot)}")" />
  }.getOrElse {
  <img class="img icon" src="@staticUrl("images/fire-silhouette.svg")" />
  }
  <span class="content">
    <span class="name">@s.fullName</span>
    @s.spotlight.map { spot =>
    <span class="headline">@spot.headline</span>
    <span class="more">
      @if(s.isRunning) { @trans.eventInProgress() } else { @if(spot.isNow) { @trans.startingSoon() } else { @momentFromNow(spot.startsAt) } }
    </span>
    }.getOrElse {
    <span class="more">@trans.nbPlayers.plural(s.applicants.size, s.applicants.size.localize) • @trans.join()</span>
    }
  </span>
</a>
