@(opens: List[lila.simul.Simul], starteds: List[lila.simul.Simul], finisheds: List[lila.simul.Simul])(implicit ctx: Context)

@side = {
<div class="help">
  Simuls have a single player facing several players at once.
  <a class="more">More...</a>
  <div class="more none">
    <img src="http://i.imgur.com/TRE80Dw.jpg" alt="Simul IRL" />
    <em>[1954] Out of 50 opponents, Fischer won 47 games, drew 2 and lost 1.</em>

    <p>
      The concept is taken from real world events.
      In real life, this involves the simul host moving from table to table
      to play a single move.
    </p>
    <p>
      When the simul starts, every player starts a game with the host,
      who gets to play the white pieces.
      The simul ends when all games are complete.
    </p>
    <p>
      Simuls are always casual.
      Rematches, takebacks and "moretime" are disabled.
    </p>
  </div>
</div>
}

@simul.layout(
title = "Simuls",
side = side.some) {
<div id="simul_list" data-href="@routes.Simul.homeReload()">
  @simul.homeInner(opens, starteds, finisheds)
</div>
}
