@(opens: List[lidraughts.simul.Simul], starteds: List[lidraughts.simul.Simul], finisheds: List[lidraughts.simul.Simul])(implicit ctx: Context)

@side = {
<div class="help">
  @trans.aboutSimul()
  <a class="more">@trans.more()...</a>
  <div class="more none">
    <img src="@staticUrl("images/sijbrands-simul.jpg")" alt="Simul IRL with Ton Sijbrands" />
    <em>[1964] @trans.aboutSimulImage()</em>

    <p>
      @trans.aboutSimulRealLife()
    </p>
    <p>
      @trans.aboutSimulRules()
    </p>
    <p>
      @trans.aboutSimulSettings()
    </p>
  </div>
</div>
}

@title = @{ trans.simultaneousExhibitions.txt() }

@simul.layout(
title = title,
side = side.some,
openGraph = lidraughts.app.ui.OpenGraph(
title = title,
url = s"$netBaseUrl${routes.Simul.home}",
description = trans.aboutSimul.txt()).some) {
<div id="simul_list" data-href="@routes.Simul.homeReload()">
  @simul.homeInner(opens, starteds, finisheds)
</div>
}
