@(createds: List[lila.simul.Simul], starteds: List[lila.simul.Simul], finisheds: List[lila.simul.Simul])(implicit ctx: Context)

@iconTd(sim: lila.simul.Simul) = {
<td class="variant_icons @if(sim.variantRich){rich}">
  @sim.perfTypes.map { pt =>
  <span class="is-gold" data-icon="@pt.iconChar"></span>
  }
</td>
}

@simTd(sim: lila.simul.Simul) = {
<td class="header">
  <a href="@routes.Simul.show(sim.id)">
    <span class="name">@sim.fullName</span>
    @simul.setup(sim)
  </a>
</td>
}

@simHost(sim: lila.simul.Simul) = {
<td class="host">
  @userIdLink(sim.hostId.some, withOnline = false)<br />
  <strong>@sim.hostRating</strong>
</td>
}

<div class="content_box simul_box no_padding">
  <h1>@trans.simultaneousExhibitions()</h1>
  <table class="slist">
    <thead>
      <tr>
        <th colspan=2 class="large">@trans.createdSimuls()</th>
        <th>@trans.host()</th>
        <th>@trans.players()</th>
      </tr>
    </thead>
    <tbody>
      @createds.map { sim =>
      <tr class="scheduled">
        @iconTd(sim)
        @simTd(sim)
        @simHost(sim)
        <td class="text" data-icon="r">@sim.applicants.size</td>
      </tr>
      }
      @if(ctx.isAuth) {
      <tr class="create">
        <td colspan="4">
          <a href="@routes.Simul.form()" class="action button text">@trans.hostANewSimul()</a>
        </td>
      </tr>
      }
    </tbody>
    @if(starteds.nonEmpty) {
    <thead>
      <tr>
        <th colspan=2 class="large">@trans.eventInProgress()</th>
        <th>@trans.host()</th>
        <th>@trans.players()</th>
      </tr>
    </thead>
    <tbody>
      @starteds.map { sim =>
      <tr>
        @iconTd(sim)
        @simTd(sim)
        @simHost(sim)
        <td class="text" data-icon="r">@sim.pairings.size</td>
      </tr>
      }
    </tbody>
    }
    <thead>
      <tr>
        <th colspan=2 class="large">@trans.finished()</th>
        <th>@trans.host()</th>
        <th>@trans.players()</th>
      </tr>
    </thead>
    <tbody>
      @finisheds.map { sim =>
      <tr>
        @iconTd(sim)
        @simTd(sim)
        @simHost(sim)
        <td class="text" data-icon="r">@sim.pairings.size</td>
      </tr>
      }
    </tbody>
  </table>
</div>
