@()(implicit ctx: Context)
@safeJsonHtml(i18nJsObject(List(
trans.finished,
trans.exportSimulGames,
trans.withdraw,
trans.join,
trans.cancel,
trans.joinTheGame,
trans.followSimulHostTv,
trans.nbPlaying,
trans.nbWins,
trans.nbDraws,
trans.nbLosses,
trans.nbVictories,
trans.by,
trans.arbiter,
trans.signIn,
trans.shareSimulUrl,
trans.deleteThisSimul,
trans.accept,
trans.candidatePlayers,
trans.allowedPlayers,
trans.acceptedPlayers,
trans.acceptSomePlayers,
trans.acceptRandomCandidate,
trans.youHaveBeenSelected,
trans.simulParticipationLimited,
trans.winningPercentage,
trans.targetPercentage,
trans.toReachTarget,
trans.relativeScoreRequired,
trans.succeeded,
trans.failed,
trans.backToSimul
)))
