@(title: String, moreJs: Html = emptyHtml, moreCss: Html = emptyHtml, side: Option[Html] = None, chat: Option[Html] = None, underchat: Option[Html] = None, chessground: Boolean = true, openGraph: Option[lila.app.ui.OpenGraph] = None)(body: Html)(implicit ctx: Context)

@evenMoreCss = {
@cssTag("simul.css")
@moreCss
}

@base.layout(
title = title,
moreJs = moreJs,
moreCss = evenMoreCss,
side = side,
chat = chat,
underchat = underchat,
chessground = chessground,
openGraph = openGraph)(body).toHtml
