@(sim: lila.simul.Simul, socketVersion: lila.socket.Socket.SocketVersion, data: play.api.libs.json.JsObject, chatOption: Option[lila.chat.UserChat.Mine], stream: Option[lila.streamer.Stream])(implicit ctx: Context)

@underchat = {
<div class="watchers hidden">
  <span class="list inline_userlist"></span>
</div>
}

@moreJs = {
@jsAt(s"compiled/lichess.simul${isProd??(".min")}.js")
@embedJs {
lichess.simul = {
data: @safeJsonHtml(data),
i18n: @jsI18n(),
socketVersion: @socketVersion.value,
userId: @jsUserId,
chat: @jsOrNull(chatOption map { c =>
chat.json(c.chat, name = trans.chatRoom.txt(), timeout = c.timeout, public = true)
})
};
}
}

@moreCss = {
@cssTag("chat.css")
@if(sim.isCreated) { @cssTag("quote.css") }
}

@simul.layout(
title = sim.fullName,
side = simul.side(sim, stream).some,
underchat = underchat.some,
chat = chat.html.some,
moreJs = moreJs,
moreCss = moreCss) {
<div id="simul"></div>
}
