@(sim: lila.simul.Simul, socketVersion: Int, data: play.api.libs.json.JsObject, chat: Option[lila.chat.UserChat])(implicit ctx: Context)

@underchat = {
<div class="watchers none" data-icon="v">
  <span class="list inline_userlist"></span>
</div>
}

@moreJs = {
@jsAt(s"compiled/lichess.simul${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.simul = {
data: @Html(play.api.libs.json.Json.stringify(data)),
i18n: @jsI18n(),
socketVersion: @socketVersion,
userId: @Html(ctx.userId.fold("null")(id => s""""$id""""))
};
}
}

@simul.layout(
title = sim.fullName,
side = simul.side(sim).some,
chat = chat.map(c => base.chat(c, trans.chatRoom.str())),
underchat = underchat.some,
moreJs = moreJs,
chessground = false) {
<div id="simul"></div>
}
