@(sim: lila.simul.Simul, socketVersion: Int, data: play.api.libs.json.JsObject, chatOption: Option[lila.chat.UserChat.Mine])(implicit ctx: Context)

@underchat = {
<div class="watchers hidden" data-icon="v">
  <span class="list inline_userlist"></span>
</div>
}

@moreJs = {
@jsAt(s"compiled/lichess.simul${isProd??(".min")}.js")
@embedJs {
lichess.simul = {
data: @Html(J.stringify(data)),
i18n: @jsI18n(),
socketVersion: @socketVersion,
userId: @jsUserId,
chat: @jsOrNull(chatOption map { c =>
chat.ChatJsData.json(c.chat, name = trans.chatRoom.str(), timeout = c.timeout)
})
};
}
}

@simul.layout(
title = sim.fullName,
side = simul.side(sim).some,
underchat = underchat.some,
chat = chat.dom().some,
moreJs = moreJs,
chessground = false) {
<div id="simul"></div>
}
