@(sim: lidraughts.simul.Simul, stream: Option[lidraughts.streamer.Stream])(implicit ctx: Context)

<div class="side_box padded">
  <div class="game_infos">
    <div class="variant_icons @if(sim.variantRich){rich}">
      @sim.perfTypes.map { pt =>
      <span data-icon="@pt.iconChar"></span>
      }
    </div>
    <span class="clock">@sim.clock.config.show</span><br />
    <div class="setup">
      @sim.variants.map(_.name).mkString(", ") • @trans.casual()
    </div>
    @trans.simulHostExtraTime(): @sim.clock.hostExtraMinutes @if(sim.clock.hostExtraMinutes == 1) { minute } else { minutes }
    <br />
    @trans.hostColorX(sim.color match {
      case Some("white") => trans.white()
      case Some("black") => trans.black()
      case _ => trans.randomColor()
    })
  </div>
  @trans.by(usernameOrId(sim.hostId)), @momentFromNow(sim.createdAt)
</div>
@stream.map { s =>
@*<a href="@routes.Streamer.show(s.streamer.userId)" class="context-streamer text side_box" data-icon="">@usernameOrId(s.streamer.userId) is streaming</a>*@
}
