$scale-factor: var(---scale-factor);

html.transp dialog::before {
  backdrop-filter: blur(18px);
}

.base-view {
  ---scale-factor: 1; // ---scale-factor adjusted in javascript

  @extend %flex-column;

  width: 100vw;
  height: 80vh;
  background-color: $c-body-gradient;
  border-radius: 5px;

  // @include if-transp {
  //   background-color: unset;
  // }
}

dialog .with-cards {
  padding: calc(2em * var(---scale-factor));
  padding-bottom: 0;
  flex-grow: 1;
  overflow: hidden;

  .card {
    z-index: $z-above-dialog-13;

    &.selected {
      z-index: $z-dialog-11;
    }
  }

  .player {
    @extend %flex-column;
    position: relative;
    width: 100%;
    border-radius: 10px;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../data/bot/image/gray-torso.webp);
    }

    &[data-color='white'] {
      background-color: hsl(37, 12%, 92%);
    }
    &[data-color='black'] {
      background-color: hsl(37, 5%, 23%);
    }
  }

  .placard {
    position: absolute;
    bottom: calc(40px * $scale-factor * $scale-factor);
    z-index: $z-above-dialog-14;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: calc(10px * $scale-factor) calc(20px * $scale-factor * $scale-factor);
    text-align: center;
    font-size: calc(0.4em + 0.8em * $scale-factor);
    opacity: 0.87;
    border-radius: 5px;
    background-color: #242424;
    border: 1px solid #444;
    color: white;
    &[data-color='white'] {
      background-color: $c-body-gradient;
      color: $c-font-clearer;
      border: 1px solid $c-border;
    }
  }
}
