.board-editor {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 24% 1fr 24%;
  grid-template-areas:
    '. spare-top .'
    '. board .'
    '. spare-bottom .';
}
.board-editor .spare {
  @extend %box-radius;

  display: flex;
  background: $c-font-dimmer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;

  &-top {
    grid-area: spare-top;
    margin-bottom: 2vh;
  }

  &-bottom {
    grid-area: spare-bottom;
    margin-top: 2vh;
  }

  .no-square {
    flex: 0 0 12.5%;

    @include transition;

    &:hover {
      background: $m-primary--fade-80;
    }

    &.selected-square {
      background: $m-primary--fade-50;
    }

    div {
      @extend %square;
    }

    &.pointer {
      @extend %box-radius-left;

      &:hover {
        background: $m-secondary--fade-80;
      }

      &.selected-square {
        background: $m-secondary--fade-40;
      }

      piece {
        background-image: url(../images/icons/pointer.svg);
      }
    }

    &.trash {
      @extend %box-radius-right;

      &:hover {
        background: $m-bad--fade-80;
      }

      &.selected-square {
        background: $m-bad--fade-40;
      }

      piece {
        background-image: url(../images/icons/trash.svg);
      }
    }
  }

  piece {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }

  piece.pointer,
  piece.trash {
    margin: 14%;
    width: 72%;
    height: 72%;

    .is3d & {
      width: 62%;
      top: 0;
    }
  }
}

.copyables,
.board-editor__tools {
  display: none;
}

.board-editor {
  @include prevent-select;

  .main-board {
    grid-area: board;
  }

  cg-board {
    cursor: inherit;
  }
}
