.with-cards {
  position: relative;

  .card {
    @include prevent-select;
    cursor: pointer;
    position: absolute;
    border-radius: 6px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    touch-action: none;
    height: calc(192px * var(---scale-factor, 1));
    aspect-ratio: 1;
    transition:
      transform 0.3s ease,
      background-color 0.2s,
      border-color 0.2s;
    img {
      -webkit-touch-callout: none;
      width: calc(192px * var(---scale-factor, 1));
    }
    label {
      //font-weight: bold;
      font-size: 1.3em;
      text-align: center;
      white-space: nowrap;
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translateX(-50%);
      display: none;
    }
    &.left label {
      font-weight: bold;
      text-align: start;
      top: 50%;
      left: 110%;
      transform: none;
    }
    &.dragging {
      transition: 0.05s;
      @media (hover: none) {
        z-index: $z-above-dialog-14;
        transition: none;
      }
    }
    &.selected {
      pointer-events: none;
      border-color: transparent;
      overflow: hidden;
    }
    &.hovered:not(&.selected) label {
      display: inline-block;
    }
    &:focus {
      background-color: $c-bad;
      outline: $c-primary solid 2px;
    }
  }

  .card-container {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }
}

.z-remove {
  display: none;
  z-index: $z-above-dialog-14;
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 5px;

  cursor: pointer;
  filter: grayscale(1);
  &.show {
    display: block;
  }
  &:hover {
    filter: saturate(1);
  }
}
