@import '../../../lib/css/abstract/patron-colors';

.patron-icon--shiny {
  icon {
    @extend %data-icon;
  }

  icon::before {
    content: $licon-Wings !important;
    background-clip: text;
    color: transparent;
  }

  @for $id from 1 through $patron-levels {
    $color: var(--c-patron-#{$id});
    &--#{$id} {
      icon::before {
        background-image: linear-gradient(
          65deg,
          $color 35%,
          hsl(from $color h s calc(l + 25)) 50%,
          $color 60%
        );
      }
    }
  }
}
