.plan {
  grid-gap: $block-gap;

  .all {
    margin-top: 20px;
    font-size: 1.2em;
    width: 100%;

    td,
    th {
      border-top: $border;
    }

    td {
      padding: 30px;
      line-height: 1.7em;
    }

    th {
      opacity: 0.8;
      text-align: right;
      white-space: nowrap;
    }

    .switch {
      &.up {
        color: #639b24;
      }
      &.down {
        color: #ac524f;
      }
    }

    .id {
      font-family: monospace;
      font-size: 10px;
    }

    .change form {
      display: none;
      margin-top: 1em;
      padding: 1em;
      background: $c-bg-zebra;

      input {
        width: 5em;
        padding: 3px 5px;
      }
      p {
        margin-bottom: 1em;
      }
      button,
      a {
        margin-inline-start: 10px;
      }
    }

    .thanks {
      color: $c-good;
      display: block;
    }
  }

  .gifts {
    font-size: 0.9em;
    width: auto;

    td {
      padding: 0.4em 1em;
      border: 0;
    }
  }

  .banner {
    @extend %box-radius-top, %flex-between-nowrap;

    margin-bottom: 2.5em;
    background: $c-good;
    color: $c-over;
    text-align: center;
    font-size: 1.3em;
    min-height: 200px;
    padding: 1em 0;

    > i {
      @include fluid-size('font-size', 40px, 120px);

      margin: 0 0.4em;

      &:last-child {
        transform: scale(-1, 1);
      }
    }

    h1 {
      font-size: 2em;
      margin: 0 0 0.5em 0;
      padding: 0;
    }
  }

  .wrapper {
    @extend %flex-between;
    align-items: flex-start;
    font-size: 1.3em;
  }

  .text,
  .content {
    @extend %flex-center;
    flex: 1 1 50%;
  }

  .text {
    @extend %flex-column;
    flex: 1 1 45%;
    margin-inline-end: 1em;
  }

  .plan_checkout {
    width: 100%;

    h3 {
      @extend %roboto;
      display: block;
      text-transform: uppercase;
      margin: 0;
    }

    group input:checked + label,
    .amount_fixed label,
    .lifetime-check + label {
      @extend %active-secondary;
    }

    group {
      margin-bottom: 2em;

      input:disabled + label {
        opacity: 0.5;
        cursor: default;
      }

      &.freq input:checked + label::before,
      .lifetime-check input + label::before {
        content: '✓';
        padding-inline-end: 5px;
      }

      .lifetime-check input + label {
        background: $c-brag !important;
        opacity: 0.8;
        cursor: default;
      }
    }

    .cover-fees {
      @extend %flex-center-nowrap;
      margin-bottom: 1.5em;
      font-size: 0.95em;

      input {
        margin-inline-end: 0.5em;
        transform: scale(1.2);
      }
      label {
        cursor: pointer;
        color: $c-font-dim;
        user-select: none;
      }
    }

    .service {
      .buttons {
        @extend %flex-between;
        font-size: 1.1em;
        gap: 1em;

        .button,
        .paypal {
          height: 55px;
        }
        .button {
          flex: 1 1 auto;
          font-weight: normal;
        }
        .paypal {
          display: flex;
          overflow: hidden;
          iframe {
            color-scheme: normal;
          }
        }
      }

      .other-choices,
      .currency {
        margin-top: 1em;
        font-size: 1rem;
      }
    }

    .gift {
      @extend %flex-center;
      justify-content: center;
      margin: -1em 0 1em 0;
    }
  }

  .small_team {
    text-align: center;
    font-style: italic;
    font-size: 1.3em;
    margin-top: 40px;
  }

  .faq {
    @extend %flex-between;
    align-items: flex-start;
    margin: 50px 0 40px 0;
    padding: 30px 0;
    border-block: $border;

    dl {
      flex: 1 0 200px;
      margin: 0 0.2em 1em 0.2em;
    }

    dt {
      font-size: 1.3em;
      margin-bottom: 1em;
      &:nth-of-type(2) {
        margin-top: 1.5em;
      }
    }

    dd {
      margin: 0;
    }
    code {
      font-size: 0.9em;
    }
  }

  .best_patrons,
  .recent-patrons {
    h2 {
      font-size: 1.5em;
    }

    .list div {
      padding: 0.5em 0;
    }
  }

  .best_patrons {
    h2 {
      display: block;
      text-align: center;
      margin-bottom: 30px;
    }

    .list {
      @extend %flex-center;
      font-size: 1.1em;

      div {
        @extend %ellipsis;
        flex: 1 1 25%;
        min-width: 17ch;
      }
    }
  }

  .recent-patrons {
    display: none;

    @include mq-topnav-visible {
      display: block;
    }

    h2 {
      margin: 300px 0 0.4em 0;
      border-bottom: $border;
    }

    a {
      color: $c-font-page;
    }
  }
}
