@import '../../../lib/css/abstract/patron-colors';
@import 'icon-shiny';

.patron-style-selector {
  @extend %flex-column;
  gap: 3em;
  border-bottom: $border;
  padding-bottom: 4em;
  &.box__pad {
    margin: 5em 0;
  }
}

.pss__colors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 1em;
}
.pss__color {
  @extend %box-neat, %flex-column;
  justify-content: space-between;
  overflow: hidden;
  background: $c-bg-high;
  border: $border;

  .patron-icon--shiny {
    font-size: 3.2em;
    margin: 0.7rem 0.4rem 1.2rem 0.4rem;
  }

  &--selectable {
    cursor: pointer;
    @include transition();
    &:hover {
      background: $c-bg-zebra;
    }
  }
  &:disabled {
    cursor: not-allowed;
    .patron-icon--shiny {
      position: relative;
      &::after {
        @extend %data-icon;
        content: $licon-Padlock;
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3.4rem;
      }
    }
  }
  &--active {
    border-width: 5px 5px 1px 5px;
    border-radius: 10px 10px 6px 6px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    .patron-icon--shiny {
      margin-top: calc(0.7rem - 4px);
    }
  }

  &__tier-name {
    @extend %nowrap-hidden, %roboto;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em;
    .pss__color--selectable & {
      color: $c-over;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    }
  }

  @each $id, $color in $patron-colors-dark {
    &--#{$id}.pss__color--selectable {
      border-color: var(--c-paco#{$id});
      box-shadow: 0 0 9px transparentize($color, 0.7);
      &:hover {
        box-shadow: 0 0 14px transparentize($color, 0.3);
      }
      &.pss__color--active {
        box-shadow: 0 0 23px $color;
      }
      .pss__color__tier-name {
        width: 100%;
        background-color: var(--c-paco#{$id});
      }
    }
  }
}
