.ublog-post {
  &-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    grid-gap: 3vmin;
  }
  &-card {
    @extend %box-neat-force;

    @include transition;

    background: $c-bg-zebra;
    color: $c-font;
    position: relative;

    &:hover {
      box-shadow: 0 0 5px $c-link, 0 0 20px $c-link;
    }

    &__over-image {
      position: absolute;
      top: 0;
      padding: 0.2em 0.5em 0.3em 0.5em;
      background: rgba(0, 0, 0, 0.7);
      color: #ddd;
      opacity: 1;
    }
    time {
      left: 0;
      border-radius: 0 0 $box-radius-size 0;
    }
    .user-link {
      right: 0;
      border-radius: 0 0 0 $box-radius-size;
    }

    &__image {
      width: 100%;
      height: auto;
      &.ublog-post-image-default {
        background-image: img-url('placeholder-margin.png');
        background-size: cover;
        background-position: center;
      }
      transition: 0.6s all ease-in-out;
      overflow: hidden;
      transform-origin: bottom;
      &:hover {
        transform: scale(1.02);
      }
    }

    &__content {
      padding: 2vmin;
      display: block;
    }

    &__title {
      font-size: 1.3em;
      color: $c-font-clear;
      display: block;
    }

    &__intro {
      @extend %roboto;

      color: $c-font;
      margin-top: 2vmin;
      display: block;
    }
  }
}
