main.page {
  position: relative;
  .flash {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    &.fade {
      opacity: 0;
      transition: 3s;
      transition-delay: 2s;
    }
  }
}
