@import 'flash';

.ublog-post-form {
  .ublog-post-image {
    max-width: 100%;
  }
  &__delete {
    padding: 10em 0 5em 0;
  }
  &__etiquette {
    margin-right: 3em;
  }
  &__image {
    .form-group {
      text-align: center;
      @extend %flex-column;
      justify-content: center;
      align-items: center;
    }
  }
  &__etiquette {
    @extend %box-neat;
    background: $c-bg-zebra;
    padding: 2em 3em;
    margin: 3em auto;
    max-width: 80ch;
  }
}
#form3-markdown {
  display: none;
}
#markdown-editor {
  height: 80vh;
  .toastui-editor-popup-body li[data-type='Heading'] {
    &[data-level='1'],
    &[data-level='5'],
    &[data-level='6'] {
      display: none;
    }
  }
  .toastui-editor-popup-add-image {
    .toastui-editor-tabs {
      display: none;
    }
  }
}
