.ublog-post-form {
  padding-bottom: 5vh;

  &__main .form-split,
  &__main > .form-group,
  &__main .form-actions,
  &__delete .form-actions,
  &__image {
    padding-#{$start-direction}: var(--box-padding);
    padding-#{$end-direction}: var(--box-padding);
  }
  &__image-text {
    background: $c-bg-zebra;
    margin-bottom: 5vh;
    border-bottom: $border;
    font-size: 0.9em;
    .form-group {
      display: none;
    }
    &.visible {
      height: auto;
      .form-group {
        display: block;
      }
    }
  }
  &__delete {
    padding: 10em 0 5em 0;
  }
  &__etiquette {
    margin-#{$end-direction}: 3em;
  }
  &__image {
    .form-group {
      @extend %flex-column;
      justify-content: center;
    }
    img {
      @extend %box-neat;
    }
  }
  &__etiquette {
    @extend %box-neat;
    background: $c-bg-zebra;
    padding: 2em 3em;
    margin: 0 auto 3em auto;
    max-width: 80ch;
  }
  .tagify {
    margin: 0;
  }
}
#form3-markdown {
  display: none;
}

.ublog-image-edit {
  @extend %image-preview-and-upload;
}
