.ublog {
  &-index {
    .box__top__actions {
      @extend %flex-center;
    }
    &__posts {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
      grid-gap: 3vmin;
    }
  }
  &-post {
    &__header {
      @extend %flex-between;
    }
    &__title {
      text-align: center;
      margin: 6vh 0 2vh;
    }
    &__meta {
      text-align: center;
      margin-bottom: 6vh;
      &__date {
        margin-left: 3em;
      }
    }
    &__image {
      width: 100%;
      height: 30vh;
      background: #888;
      margin-bottom: 6vh;
    }
    &__intro {
      font-size: 1.2em;
      margin-bottom: 4vh;
      display: block;
    }
    &__markup {
      font-size: 1.2em;
    }
  }
  &-post-card {
    @extend %box-neat-force;

    @include transition;

    background: $c-bg-zebra;
    color: $c-font;
    position: relative;

    &:hover {
      box-shadow: 0 0 5px $c-link, 0 0 20px $c-link;
    }

    time {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.2em 0.5em;
      background: #111;
      color: #ddd;
      border-radius: 0 0 $box-radius-size 0;
      opacity: 1;
    }

    &__image {
      width: 100%;
      height: 10vh;
      background: $c-bg-zebra;
      background: #888;
    }

    &__content {
      padding: 2vmin;
      display: block;
    }

    &__title {
      font-size: 1.3em;
      color: $c-font-clear;
      display: block;
    }

    &__intro {
      @extend %roboto;

      margin-top: 2vmin;
      display: block;
    }
  }
}
