@import 'card';
@import 'markup';
@import 'flash';

.ublog {
  &-index {
    .box__top__actions {
      @extend %flex-center;
    }
    h1 {
      .user-link {
        color: $c-link;
      }
    }
    &__posts {
      &--empty {
        margin: 20vh auto;
        text-align: center;
      }
    }
  }
  &-post {
    &__title {
      text-align: center;
      margin: 3rem 0 3rem;
    }
    &__meta {
      text-align: center;
      margin-bottom: 6vh;
      > * {
        margin: 0 1em;
      }
      &__report {
        color: $c-font-dim !important;
        &:hover {
          color: $c-bad !important;
        }
      }
      .user-link {
        color: $c-link;
        font-size: 1.2em;
      }
    }
    &__like {
      display: none;
      margin-left: 1rem;
      font-weight: bold;
      cursor: pointer;
      color: $c-font;
      transition: 0.3s;
      &:hover {
        opacity: 1;
        color: $c-red;
      }
      &::before {
        margin-right: 0.4em;
        content: '';
      }
      &.ublog-post__like--liked::before {
        content: '';
      }
    }
    &__image {
      @extend %box-neat-force;
      width: 100%;
    }
    &__intro {
      font-size: 1.2em;
      margin-bottom: 4vh;
      display: block;
    }
    &__footer {
      margin: 7em 0 0 0;
      h2 {
        margin-bottom: 1.5em;
      }
    }
  }
}
