.relay-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  margin-bottom: 1em;

  &--tier-best {
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    @media (max-width: at-most($xx-small)) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
  &--tier-high {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.relay-card {
  @extend %box-neat-force;

  @include transition(box-shadow);

  background: $c-bg-zebra;
  color: $c-font;
  position: relative;
  direction: ltr;
  text-align: left;

  &:hover {
    box-shadow:
      0 0 5px $c-link,
      0 0 20px $c-link;
  }

  &--live {
    outline: 3px solid $m-bad--alpha-50;
    &:hover {
      box-shadow:
        0 0 5px $c-live,
        0 0 20px $c-live;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    opacity: 0.7;
    .relay-card--live & {
      opacity: 0.9;
    }
    @include transition(opacity);
    .relay-card:hover & {
      opacity: 1;
    }

    &:not(.relay-image--fallback) {
      @include broken-img(2 / 1);
    }
  }

  &__body {
    @extend %flex-column;
    padding: 0.6em 0 0.6em 1em;
  }

  &__info {
    @extend %flex-center-nowrap;
    margin-right: 1rem;
    color: $c-font-dim;
    gap: 1ch;
  }
  &__live {
    @extend %flex-between;
    flex: 1;
    color: $c-live;
    font-weight: bold;
  }
  &__finished {
    color: $c-good;
    font-weight: bold;
  }
  &__title {
    @include line-clamp(2);
    margin: 0.2em 0.3rem 0.3em 0;
    font-weight: normal;
    color: $c-font-clearer;
    font-size: 1.3em;
    .relay-cards--tier-best & {
      font-size: 1.4em;
    }
  }
  &__players {
    @extend %roboto, %flex-center;
    color: $c-font-dim;
    overflow: hidden;
    height: 1.2em;
    span:not(:first-child)::before {
      content: ', ';
    }
  }
  &__errors {
    @extend %break-word, %nowrap-ellipsis;
    font-family: monospace;
    color: $c-bad;
  }
}
