.relay-form {
  &__actions {
    @extend %flex-between;
    margin: 2em 0;
    border-top: $border;
    padding-top: 3em;
    form {
      flex: 0 0 50%;
      .button {
        @extend %flex-column;
        text-align: left;
        width: 100%;

        strong {
          display: block;
        }
        em {
          color: $c-font-dim;
          text-transform: none;
          white-space: normal;
        }
      }
    }
  }
  &__image {
    padding: 4vh var(---box-padding) 0;
    background: $c-bg-zebra;
    margin-bottom: 2em;
  }
}

.relay-form__warning {
  border: 5px solid $m-brag_bg--mix-70;

  &::before {
    color: $c-brag;
    content: $licon-InfoCircle;
    font-size: 4em;
  }
}

.relay-form__contact-us.flash-box {
  border: 5px solid $m-secondary_bg--mix-70;

  &::before {
    color: $c-secondary;
    content: $licon-UploadCloud;
    font-size: 4em;
  }
}

.flash-round-push {
  border: 5px solid $c-good;
  background: $c-bg-box;

  &::before {
    color: $c-good;
    content: $licon-Checkmark;
    font-size: 4em;
  }
}

.relay-image {
  max-width: 100%;
  height: auto;
}

.relay-image-edit {
  @extend %image-preview-and-upload;
}

.relay-name-help {
  margin-top: 1em;
  display: block;
}

@include mq-subnav-side {
  .relay-form__subnav__group {
    display: block;
    margin-bottom: 1em;
    font-weight: bold;
    color: $c-font-dimmer;
  }
  .relay-form__subnav__tour-parent {
    border-radius: $box-radius-size;
    background: $c-bg-box;
    margin-bottom: 5px;
  }
  .subnav {
    width: 30ch;
    a {
      white-space: wrap;
    }
    .subnav__subitem {
      margin-left: 1em;
    }
    .subnav__subitem2 {
      margin-left: 2em;
      letter-spacing: 0px;
    }
    .button {
      margin-inline-end: 1em;
    }
  }
}
