@import 'card';
@import 'image';

.relay-group {
  .relay-card {
    p &--tier-3 {
      .relay-card__title {
        font-size: 1.2em;
        color: $c-font-clear;
      }
    }
  }
  @media (min-width: at-least($xx-small)) {
    .relay-card {
      grid-column: span 1;
      grid-row: span 2;
      &--tier-3 {
        grid-row: span 1;
      }
      &--tier-5 {
        display: flex;
        flex-flow: column;
        grid-column: span 2;
        grid-row: span 4;
        .relay-card__body {
          display: flex;
          flex-flow: column;
          flex: 1;
          justify-content: center;
          align-items: center;
          gap: 1em;
        }
      }
    }
  }
}
