@import 'card';

.relay-index {
  .new::before {
    font-size: 3em;
  }

  &__section {
    margin: 2em 0 1em 0;
  }
}
.relay-index__admin {
  h2 {
    margin: 0 0 1em 0;
    color: $c-bad;
  }
  padding-bottom: 1em;
  border-bottom: $border;
  margin-bottom: 2em;
}

.relay-image {
  &--fallback {
    @extend %flex-center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 2 / 1;
    background: linear-gradient(to bottom, $m-primary--alpha-70, $m-brag--alpha-70);
    background-repeat: no-repeat;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
    color: $c-font;
    text-shadow: 0 0 40px white;
    font-size: 3em;
  }
}
