.mod-activity,
.mod-queues {
  overflow: hidden;
  h1 {
    .mselect {
      display: inline-block;

      &__list > * {
        font-size: 1.3rem;
        padding: 0.3em 1em 0.3em 0.7em;
      }
    }
  }
  .slist {
    white-space: nowrap;
    td {
      @extend %roboto;
      text-align: right;
    }
  }
  .chart,
  .chart-grid {
    padding: 4vh 4vw;
    background: $c-bg-zebra;
    min-height: 40vh;
  }
  .chart {
    min-height: 40vh;
    max-width: 100%;
    overflow: hidden;
    &:last-child {
      border-top: 1px solid white;
    }
  }
  .chart-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
    align-content: start;
    gap: 4vh 4vw;
    > div {
    }
  }
}
