body {
  margin-top: 45px;
}

#impersonate {
  @extend %flex-center, %popup-shadow;

  height: 40px;
  background: #7f1010;
  color: #fff;
  justify-content: center;
  border-bottom: 1px solid #666;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  form {
    height: 40px;
  }

  a,
  .button {
    color: #fff;
  }

  .actions {
    margin-left: 2em;
  }
}
