.practice_config {
  .both {
    display: flex;

    > form,
    & > div {
      flex: 1 1 50%;
      width: auto;
    }

    .preview {
      height: 600px;
      overflow: hidden;
      overflow-y: auto;
    }

    ol a {
      color: #3893e8;
    }

    > ol {
      width: 100%;
      overflow: hidden;
    }

    li {
      margin-left: 2em;
      list-style: outside disc;
    }

    h2 {
      display: inline-block;
      font-size: 1.4em;
    }

    h3 {
      display: inline-block;
      font-size: 1.2em;
      margin: 0;
    }

    li li li {
      font-size: 0.9em;
    }

    em {
      display: block;
      font-style: italic;
      font-size: 0.9em;
    }
  }

  textarea.practice_text {
    width: 100%;
    height: 600px;
    font-family: monospace;
    margin-bottom: 2em;
  }

  .error {
    color: red;
    margin-bottom: 1em;
  }
}
