
.color-choice {
  display: flex;
    position: absolute;
    box-sizing: content-box;
    min-width: calc((100% - #{$hands-gap}) / 16 * 3);
    height: calc(100% / 16 * 11 / 9 * 1.5);
    bottom: calc(100% / 16 * 11 / 9 * 2);
    padding: 0 1ch;
    padding-bottom: calc(2% + 2px);
    background: $c-bg-input;
    align-items: center;
    cursor: pointer;
    &-top {
      left: 0;
    }
    &-bottom {
      right: 0;
    }
    &.selected {
      background: $c-accent;
      color: $c-accent-over;
    }
    span {
      width: 100%;
      font-weight: bold;
      text-align: center;
    }
    .variant-minishogi &,
    .variant-kyotoshogi & {
      bottom: calc(100% / 9 * 2 / 7 * 11 / 16 * 11);
    }
    .variant-chushogi & {
      width: calc((100% - #{$hands-gap}) / 16 * 3);
      bottom: calc((100% - 4vmin) / 16 * 2);
      padding-bottom: 0;
      &-top {
        top: calc((100% - 4vmin) / 16 * 2);
        bottom: unset;
      }
    }

    @include breakpoint($mq-col1-uniboard) {
      top: unset !important;
      bottom: 0 !important;
      height: 2.5rem;
      width: 50% !important;
      padding: 0;
      margin-top: 0.5rem;
    }
}
