@import 'layout';
@import 'spare';

.board-editor {

  user-select: none;

  .main-board {
    grid-area: board;
  }
  .cg-board {
    cursor: inherit;
  }

  &__tools {
    @extend %flex-column;
    grid-area: tools;
    align-self: center;
    > * {
      margin: .5rem 0;
    }
    select {
      width: 100%;
      &.positions option:checked {
        font-style: italic;
      }
    }
    .metadata {
      @extend %box-neat;
      background: $c-bg-box;
      padding: 1rem;
      white-space: nowrap;
      .color {
        margin-bottom: 1em;
      }
      .castling {
        div {
          @extend %flex-between;
        }
        label,
        input {
          display:inline-block;
          margin: 3px;
          vertical-align: middle;
        }
      }
    }
    .actions {
      @extend %flex-column;
      justify-content: stretch;
      .button {
        width: 100%;
        text-align: left;
      }
    }
  }

  .copyables {
    grid-area: copyables;
    margin: 2rem 0 0 1rem;
    p {
      display: flex;
      align-items: center;
      input {
        margin-left: 1rem;
        flex: 1 1 100%;
      }
    }
  }
}
