.editor-hand {
  &.pos-top {
    grid-area: hand-top;
  }
  &.pos-bottom {
    grid-area: hand-bot;
  }

  .minuses,
  .pluses {
    display: flex;
    min-height: 2.5vh;
    margin: 1px 0;
    cursor: pointer;
    .minus,
    .plus {
      position: relative;
      flex: 1;
      border-right: $border-width $border-style $c-bg-page;
      &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        color: $c-bg-page;
        font-weight: bold;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:last-child {
        border-right: none;
      }
    }
    .minus {
      background: $c-bad;
      &::after {
        content: '-';
        padding-bottom: 3px;
      }
      &:first-child {
        @extend %box-radius-bottom-left;
      }
      &:last-child {
        @extend %box-radius-bottom-right;
      }
    }
    .plus {
      background: $c-good;
      &::after {
        content: '+';
      }
      &:first-child {
        @extend %box-radius-top-left;
      }
      &:last-child {
        @extend %box-radius-top-right;
      }
    }
  }

  .sg-hand-wrap {
    margin-left: unset;
    width: 100%;
    padding-bottom: calc(100% / 7 / 11 * 12);
    &.r-5 {
      padding-bottom: calc(100% / 5 / 11 * 12);
    }
    &.r-4 {
      padding-bottom: calc(100% / 4 / 11 * 12);
    }
    sg-hp-wrap {
      &::after {
        font-size: 1em;
        bottom: 0;
        right: 0;
      }
    }
    sg-hp-wrap[data-nb='0'] {
      opacity: 0.5 !important;
      &::after {
        content: attr(data-nb) !important;
      }
    }
  }
}
