#main-wrap {
  --main-max-width: auto;
}

.board-editor {
  $board-width: calc((100vh - 10vmin) * var(--board-scale) * 0.8 - #{$site-header-outer-height});
  $side-width: calc(#{$board-width} / 9 * 7);

  display: grid;

  grid-template-columns: minmax(0, $board-width);
  grid-template-areas:
    'spare-top'
    'hand-top'
    'board'
    'hand-bot'
    'spare-bottom'
    'tools'
    'copyables';

  @include breakpoint($mq-x-small) {
    grid-template-columns: minmax(30vmin, $board-width) 3vmin minmax(220px, $side-width);
    grid-template-areas:
      'spare-top    . hand-top'
      'spare-top    . tools'
      '.            . tools'
      'board        . tools'
      '.            . tools'
      'spare-bottom . tools'
      'spare-bottom . hand-bot'
      '.            . .    '
      'copyables    . .    ';

    &.variant-chushogi {
      grid-template-areas:
        'spare-top    spare-top spare-top'
        'spare-top    spare-top spare-top'
        '.            . tools'
        'board        . tools'
        '.            . tools'
        'spare-bottom spare-bottom spare-bottom'
        'spare-bottom spare-bottom spare-bottom'
        '.            . .    '
        'copyables    . .    ';
    }
  }
}
