.board-editor .spare {
  @extend %box-radius;
  display: flex;
  flex-wrap: wrap;
  background: $c-font-dimmer;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3) inset;
  &-top {
    grid-area: spare-top;
    margin-bottom: 2vh;
  }
  &-bottom {
    grid-area: spare-bottom;
    margin-top: 2vh;
  }
  .no-square {
    flex: 0 0 calc(100% / 9);
    @include transition();
    &.selected-square {
      background: $c-primary;
    }
    div {
      @extend %square;
    }
    &.pointer {
      @extend %box-radius-left;
      &:hover {
        background: fade-out($c-good, 0.3);
      }
      &.selected-square {
        background-color: $c-good;
      }
      piece {
        background-image: img-url('icons/pointer.svg') !important;
      }
    }
    &.trash {
      margin-left: auto;
      @extend %box-radius-right;
      &:hover {
        background-color: fade-out($c-bad, 0.3);
      }
      &.selected-square {
        background-color: $c-bad;
      }
      piece {
        background-image: img-url('icons/trash.svg') !important;
      }
    }
  }

  piece {
    display: block;
    cursor: pointer;
    width: 200%;
    height: 200%;
    margin: -50%;
  }
  piece.pointer,
  piece.trash {
    margin: 14%;
    width: 72%;
    height: 72%;
    transform: scale(1);
  }
}

.board-editor.variant-minishogi .spare .no-square {
  flex: 0 0 calc(100% / 6);
}
.board-editor.variant-chushogi .spare .no-square {
  flex: 0 0 calc(100% / 22);
}
