.board-editor {
  &__tools {
    @extend %flex-column;

    grid-area: tools;
    align-self: center;

    > * {
      margin: 0.5rem 0;
    }

    select {
      @extend %page-link !optional;

      width: 100%;

      &.positions option:checked {
        font-style: italic;
      }
    }

    .metadata {
      @extend %box-neat;

      background: $c-bg-box;
      padding: 1rem;
      white-space: nowrap;

      .color {
        margin-bottom: 1em;
      }

      .castling {
        div {
          @extend %flex-between;
        }

        label,
        input {
          display: inline-block;
          margin: 3px;
          vertical-align: middle;
        }
        input.not-allowed {
          visibility: hidden;
        }
      }

      .enpassant {
        @extend %flex-between;
        margin-top: 1em;
        label {
          font-weight: bold;
        }
        select {
          width: 9ch;
        }
      }

      .chess960-position-row {
        display: flex;
        align-items: center;
      }

      #chess960-position-id {
        margin-left: 0.5rem;
        &:invalid {
          border-color: $c-error;
        }
      }
    }

    .actions {
      @extend %flex-column;

      justify-content: stretch;

      .button {
        @extend %page-link !optional;

        width: 100%;
        text-align: start;
      }
    }
  }
}
