@import 'user-marks';
@import 'mod-timeline';

#communication {
  @extend %flex-column;
  gap: 2vh;

  h1 {
    @extend %flex-between;

    font-size: 1.5em;
  }

  .user-link {
    font-weight: bold;
  }

  .actions {
    @extend %flex-center;

    .priv {
      margin-inline-start: 1em;
      font-weight: normal;
    }
    .comms-export {
      margin-inline-start: 1em;
    }
  }

  h2 {
    border-bottom: $border;
    text-transform: capitalize;
    padding-bottom: 0.3em;
  }

  .player_chats {
    @extend %break-word;
    @extend %flex-wrap;

    overflow: hidden;
  }

  .public_chats li {
    list-style: inside disc;
  }

  .player_chats .game {
    display: block;
    float: left;
    width: 33.33%;
    border-bottom: $border;
  }

  .player_chats .game:nth-child(odd) {
    background: $c-bg-zebra;
  }

  .player_chats .game .title,
  .player_chats .game .chat {
    display: block;
    padding: 6px;
  }

  .player_chats .game .friend_title,
  .thread .title .friend_title {
    color: green;
    font-style: italic;
  }

  .player_chats .game .title {
    text-align: center;
  }

  .player_chats .game .chat {
    padding-top: 0;
    height: 15em;
    overflow: hidden;
  }

  .player_chats .game:hover .chat {
    overflow-y: auto;
  }

  .user_marks i {
    @include user_marks;
  }

  .player_chats .line,
  .threads .post {
    opacity: 0.5;
    padding: 0 0.5em;
  }

  .mod-timeline__event .message,
  .player_chats .line.author,
  .threads .post.author {
    opacity: 1;
    cursor: pointer;
    border-bottom: 1px dashed $m-accent--fade-50;
    min-width: 6ch;
    &:hover {
      background: $m-accent--fade-80;
    }
  }

  .thread {
    padding: 20px;
    overflow-y: auto;
    max-height: 300px;
    border-bottom: $border;
  }
  .thread td {
    padding: 0.3em 1em;
  }

  .thread .title {
    margin-bottom: 20px;
    strong {
      font-size: 1.2em;
      margin-right: 1em;
    }
  }

  .thread .truncated-convo {
    text-align: center;
    font-style: italic;
    display: block;
  }

  .thread:nth-child(even) {
    background: $c-bg-zebra;
  }

  .post {
    margin: 1em 0;
  }

  > .mz-section--others {
    font-size: 0.9em;
    max-height: 30vh;

    .mod-zone + & {
      display: none;
    }
  }
}
