#settings .toggle-box {
  > div > div {
    @extend %flex-column;
    gap: 1.5em;
    padding-bottom: 2em;
  }
}
#settings form {
  @extend %flex-center;

  label,
  input,
  textarea,
  > div {
    flex: 1 1 40%;
    margin-inline-end: 1rem;
  }

  textarea {
    height: 20em;
  }

  .button {
    color: $c-font-dim;
  }
}

#dev-cli {
  form {
    margin: 2rem 0;
    text-align: center;
  }

  form input {
    font-size: 1.3em;
    width: 100%;
    font-family: monospace;
  }

  h2 {
    font-size: 1.4em;
  }

  pre {
    margin: 1em 0;
    padding: 1em;
    display: block;
    font-size: 1.3em;
    background: #000;
    color: #759900;
  }
}

#ip-tiers {
  textarea {
    font-size: 1.1em;
    width: 100%;
    font-family: monospace;
    height: 60vh;
  }
}
