.game-list {
  user-select: none;
  .result {
    @extend %box-radius;
    font-weight: bold;
    color: white;
    margin-inline-end: 1ch;
    padding: 2px 1em;
  }
  good.result {
    background: $m-secondary_bg--mix-50;
  }
  bad.result {
    background: $m-bad_bg--mix-50;
  }

  td.input {
    cursor: pointer;
    &:hover {
      background: $c-bg-zebra2;
    }
  }
  input {
    cursor: pointer;
  }
}

.mod-games {
  &__filter-form {
    > *:not(:first-child) {
      margin-inline-start: 1em;
    }
    select {
      max-width: 30ch;
    }
    input[name='nbGamesOpt'] {
      width: 14ch;
    }
  }
}
