@include topnav-unsticky;

body,
.mz-section--menu .inner {
  margin-top: 53px !important;
}

body.no-inquiry {
  transition: margin 0.3s;
  margin-top: 0;
}

@keyframes octopus {
  50% {
    transform: scale(1.03);
    background-color: $c-bg-low;
  }

  100% {
    transform: scale(1);
    background-color: $c-bg-zebra;
  }
}

*::highlight(lichess-highlight) {
  background-color: yellow;
  color: black;
}

#inquiry {
  height: 48px;
  background: $c-bg-zebra;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid $c-border;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-inquiry-112;

  .costello {
    flex: 0 0 160px;
    height: 160px;
    width: 160px;
    margin: -80px 0 0 -80px;
    background: $c-bg-zebra no-repeat url(../images/icons/octopus.svg);
    background-size: 35% 35%;
    background-position: 81% 81%;
    border-radius: 0 0 50% 0;
    border: 2px solid $c-border;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:hover {
      animation: octopus 0.5s ease-in-out;
    }
  }

  &.hidden {
    transition: height 0.3s;
    height: 0;
    border: none;

    > div {
      display: none;
    }

    .costello {
      transition: opacity 0.3s;
      opacity: 0.5;
    }
  }

  a {
    color: $c-link;
  }

  a.user-link {
    color: $c-font-clear;
  }

  .meat {
    @extend %flex-center-nowrap;

    flex: 1 1 100%;
    height: 100%;

    > .user-link {
      font-size: 1.3em;
    }
  }

  .docs {
    position: relative;
    flex: 0 0 43%;
    height: 100%;
    margin-inline-start: 10px;
    overflow: hidden;
    color: $c-font-clear;
  }

  .reports {
    flex: 4 1 auto;
  }

  .counter {
    margin-inline-start: 0.3em;
    flex: 0 0 auto;
  }

  .docs .expendable {
    padding: 4px 20px 20px 20px;
    background: $c-bg-zebra2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .docs:hover {
    overflow: visible;
  }

  .docs:hover .expendable {
    @extend %box-radius-bottom, %dropdown-shadow;

    z-index: 2;
    border-bottom: 1px solid $c-border;
    max-height: 500px;
    overflow-y: auto;
  }

  .doc:not(:last-child) {
    padding-bottom: 8px;
    border-bottom: 1px dotted $c-border-light;
    margin-bottom: 8px;
  }

  .docs h2 {
    line-height: 35px;
    margin-bottom: 5px;
  }

  .doc h3 {
    margin: 0;
  }

  .doc.note {
    margin-top: 1em;
    p {
      margin: 0;
    }
  }

  .report .atom {
    margin-bottom: 0.8em;
    border-bottom: 1px solid $c-border-light;
    padding-bottom: 0.8em;
  }

  .report .atom:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .score {
    display: inline-block;
    white-space: nowrap;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
  }

  .score.green {
    /* actually blue */
    background-color: rgba(32, 119, 192, 0.4);
  }

  .score.yellow {
    background-color: rgba(221, 207, 63, 0.4);
  }

  .score.orange {
    background-color: rgba(231, 155, 100, 0.4);
  }

  .score.red {
    background-color: rgba(231, 59, 56, 0.4);
  }

  form.note {
    padding-top: 1em;
    textarea {
      width: 100%;
      resize: vertical;
      padding: 0.5em 1em;
      height: 8em;
    }
  }

  .actions,
  .links {
    @extend %flex-center-nowrap;

    margin-inline-end: 10px;
    white-space: nowrap;
    height: 100%;
    text-align: center;
  }

  .actions:not(.close),
  .links {
    padding-inline-end: 10px;
    border-inline-end: 1px solid $c-border;
  }

  .actions > form {
    height: 100%;
  }

  .fbt {
    height: 100%;
    color: $c-font !important;
    background: transparent;
    padding: 0 1em;
    transition: none;
  }

  .fbt:hover {
    background: $m-primary_bg--mix-50;
  }

  .fbt.icon::before,
  .warn i::before,
  .alt i {
    font-size: 1.7em;
  }

  .fbt.active {
    color: $c-clearer !important;
  }

  .links {
    padding: 0 10px;
    border-inline-start: 1px solid $c-border;
  }

  .links a {
    color: $c-font;
    padding: 0 13px;
  }

  a.user-link:hover,
  .report a:hover {
    color: $c-link-hover;
  }

  .process button {
    background: $c-bg-zebra2;
    font-size: 1.8em;
    padding: 0 25px;
  }

  .process button:hover {
    background: $c-secondary;
  }

  .cancel button {
    margin-inline-start: 5px;
    font-size: 0.8em;
    padding: 0 8px;
  }

  .accuracy {
    float: right;
  }

  .dropper {
    position: relative;
    height: 100%;

    > span,
    > i,
    .main {
      display: block;
      height: 100%;

      &:not(form) {
        padding: 0 10px;
      }
    }

    > div {
      @extend %box-radius-bottom, %dropdown-shadow;

      display: none;
      position: absolute;
      top: 100%;
      @include inline-end(0);
      background: $c-bg-zebra2;
      overflow: scroll;
      max-height: 80vh;
      padding: 0.4em 0;
    }

    &:hover {
      > span,
      > i,
      .main {
        background: $c-bg-zebra2;
      }

      > div {
        display: block;
      }
    }

    button {
      width: 100%;
      text-align: left;
    }

    > i {
      line-height: 40px;
    }

    &.buttons button {
      padding: 0.5em 1.3em;
      text-transform: initial;
    }

    &.counter > span {
      @extend %roboto, %flex-column;

      justify-content: center;
      text-align: center;
    }

    &.counter.empty > span {
      opacity: 0.5;
    }

    &.counter:not(.empty) > span {
      background: $c-bg-zebra2;
    }

    &.counter > span count {
      font-size: 1.2em;
      display: block;
      height: 1.1em;
    }

    &.counter > div {
      padding: 4px 20px 20px 20px;
    }

    &.counter > div,
    &.warn > div {
      width: 360px;
      @include inline-end(-155px);
      max-height: 500px;
      overflow-y: auto;
    }

    .separator {
      border-top: $border;
      margin: 0.6em 0;
    }
  }

  .view-games {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    .view-games-dropdown {
      a {
        display: block;
        padding: 0.5em 1.3em;
        text-transform: initial;
        text-align: left;
      }
    }
  }

  .history li {
    @extend %nowrap-ellipsis;

    padding: 6px 0;
  }

  .switcher {
    margin-inline-start: -10px;

    label {
      transform: scale(0.7);
    }
  }

  .notes {
    span {
      transition: all 1s ease-out;
      &.note-flash {
        background: $c-primary;
        box-shadow: 0 0px 15px $c-primary;
        transition: none;
        &.warning {
          background: $c-warn;
          box-shadow: 0 0px 15px $c-warn;
        }
      }
    }

    .submission {
      display: flex;

      button:not(:first-child) {
        margin-inline-start: 1.5em;
      }
    }
  }
}
