.mod-timeline {
  @extend %flex-column, %box-neat;
  gap: 0.6em;
  background: $c-bg-zebra;
  padding: 1em 1em 1em 2em;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.mod-timeline__period {
  @extend %flex-center-nowrap;
  gap: 1em;
  h3 {
    white-space: nowrap;
    flex: 0 0 12ch;
    font-size: 1.1em;
    text-transform: capitalize;
  }
  padding-bottom: 0.6em;
}
.mod-timeline__period:not(:last-child) {
  border-bottom: 1px solid $c-font-dimmer;
}
.mod-timeline__period__events {
  @extend %flex-column;
  flex: 1 1 auto;
}
.mod-timeline__event {
  @extend %flex-center-nowrap;
  gap: 1em;
  padding: 0.1em 1em;
}
.mod-timeline__event__from {
  @extend %nowrap-ellipsis;
  min-width: 15ch;
  max-width: 40ch;
}
.mod-timeline__event__flair {
  @extend %flex-center;
  padding: 0.2em;
  img {
    width: 1.6em;
    height: 1.6em;
  }
}
.mod-timeline__event__body {
  @extend %flex-center-nowrap;
  margin-left: 1em;
  gap: 1.5ch;
  .uflair {
    display: none;
  }
  .user-link {
    flex: 0 0 auto;
  }
}
.mod-timeline__event:has(i.moderator) {
  .user-link,
  .user-link i.line {
    color: $m-brag_font--mix-60;
  }
}
.mod-timeline__event__action {
  @extend %flex-center;
  flex: 0 0 auto;
  gap: 1ch;
}
.mod-timeline__report-form .button {
  line-height: 1.2;
}
.mod-timeline__report-form--open .button {
  background: $c-bad;
}
.mod-timeline__report-form:not(.mod-timeline__report-form--open) .button {
  @extend %button-none;
}
.mod-timeline__text {
  @extend %break-word-hard;
  font-size: 0.9em;
}
.mod-timeline__event--report-new {
  @extend %box-radius;
  background: $m-bad_bg--mix-10;
}
.mod-timeline__event:has(.mod-timeline__event__action--modMessage),
.mod-timeline__event:has(.mod-timeline__event__action--sentence),
.mod-timeline__event:has(.mod-timeline__event__action--undo) {
  @extend %box-radius;
  background: $m-brag_bg--mix-15;
}
.mod-timeline__event--recent:has(.mod-timeline__event__action--modMessage),
.mod-timeline__event--recent:has(.mod-timeline__event__action--sentence),
.mod-timeline__event--recent:has(.mod-timeline__event__action--undo) {
  padding: 0.5em 1em;
  border-left: 4px solid $c-brag;
  margin-left: -4px;
  .mod-timeline__event__flair {
    padding: 0;
    img {
      width: 2em;
      height: 2em;
    }
  }
  .mod-timeline__event__action {
    font-weight: bold;
  }
}
.mod-timeline__event__action--warning strong {
  color: $c-brag;
}
.mod-timeline__event__action--account-sentence {
  font-weight: bold;
  color: $c-brag;
}

@media (max-width: at-most($large)) {
  .mod-timeline {
    padding: 1em;
  }
  .mod-timeline__period {
    display: block;
    h3 {
      line-height: 2em;
    }
  }
  .mod-timeline__event {
    padding: 0;
  }
  .mod-timeline__event__flair {
    display: none;
  }
  .mod-timeline__event__body {
    margin: 0;
  }
}
