.mod-timeline {
  @extend %flex-column, %box-neat;
  gap: 1em;
  background: $c-bg-zebra;
  padding: 1em 1em 1em 2em;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.mod-timeline__period {
  @extend %flex-center-nowrap;
  gap: 1em;
  h3 {
    flex: 0 0 11ch;
    font-size: 1.2em;
    text-transform: capitalize;
  }
  border-bottom: $border;
  padding-bottom: 1em;
}
.mod-timeline__period__events {
  @extend %flex-column;
  gap: 0.3em;
  flex: 1 1 auto;
}
.mod-timeline__event {
  @extend %flex-center-nowrap;
  gap: 1em;
  padding: 0 1em;
}
.mod-timeline__event__from {
  white-space: nowrap;
}
.mod-timeline__event__flair {
  @extend %flex-center;
  padding: 0.2em;
  img {
    width: 1.6em;
    height: 1.6em;
  }
}
.mod-timeline__event__body {
  @extend %flex-center-nowrap;
  margin-left: 1em;
  gap: 1.5ch;
  .uflair {
    display: none;
  }
  .user-link {
    flex: 0 0 auto;
  }
}
.mod-timeline__event--modlog:has(i.moderator) {
  .user-link,
  .user-link i {
    color: $c-brag;
  }
}
.mod-timeline__event__action {
  @extend %flex-center;
  flex: 0 0 auto;
  gap: 1ch;
}
.mod-timeline__event__action .button-link {
  line-height: 1.2;
}
.mod-timeline__text {
  @extend %break-word-hard;
  font-size: 0.9em;
}
.mod-timeline__event--recent:has(.mod-timeline__event__action--modMessage),
.mod-timeline__event--recent:has(.mod-timeline__event__action--sentence),
.mod-timeline__event--recent:has(.mod-timeline__event__action--undo) {
  padding: 0.5em 1em;
  border-left: 4px solid $c-brag;
  margin-left: -4px;
  background: $c-bg-zebra2;
  .mod-timeline__event__flair {
    padding: 0;
    img {
      width: 2em;
      height: 2em;
    }
  }
  .mod-timeline__event__action {
    font-weight: bold;
  }
}
