[submodule "scalachess"]
	path = modules/chess
	url = git://github.com/ornicar/scalachess.git
[submodule "public/vendor/tagmanager"]
	path = public/vendor/tagmanager
	url = https://github.com/max-favilli/tagmanager
[submodule "modules/swisssystem"]
	path = modules/swisssystem
	url = https://github.com/psuter/swisssystem
[submodule "public/staunton"]
	path = public/staunton
	url = https://github.com/clarkerubber/Staunton-Pieces
[submodule "submodules/pdfexporter"]
	path = submodules/pdfexporter
	url = https://github.com/clarkerubber/lichessPDFExporter
[submodule "submodules/boardcreator"]
	path = submodules/boardcreator
	url = https://github.com/clarkerubber/board-creator
