[submodule "public/vendor/multiple-select"]
	path = public/vendor/multiple-select
	url = https://github.com/ornicar/multiple-select
[submodule "public/vendor/shepherd"]
	path = public/vendor/shepherd
	url = https://github.com/HubSpot/shepherd
[submodule "public/vendor/sliding-puzzles"]
	path = public/vendor/sliding-puzzles
	url = https://github.com/WandererXII/sliding-puzzles.git
