/modules
/app
project
bin

public/css
public/doc
public/piece-css
public/compiled
public/glyphs.json
public/javascripts/vendor
public/vendor

translation

dist/
ui/common/**/*.js
ui/common/**/*.d.ts
ui/game/**/*.js
ui/game/**/*.d.ts
ui/nvui/**/*.js
ui/nvui/**/*.d.ts
ui/@types/lishogi/i18n.d.ts

*.min.js

.bloop/
.bsp/
.metals/

*.md
*.yml
