{
  "arrowParens": "avoid",
  "proseWrap": "never",
  "quoteProps": "consistent",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.{json}",
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
