# ignore all top level items by default
*

# format only these files at top level
!/package.json
!/crowdin.yml
!/pnpm-workspace.yaml

# format only these top level directories and their contents
!/.github/
!/.github/**
!/ui/
!/ui/**
!/bin/
!/bin/**

# ignore these patterns anywhere
dist/
README.md
pnpm-lock.yaml
/ui/voice/crowdv/
