!.build
/modules
/app
/project
/local
/pnpm-lock.yaml
/public/css
/public/piece-css
/public/compiled
/public/glyphs.json
/public/javascripts/vendor
/public/vendor
/public/oops/429.html

/translation/dest

/dist/
/ui/common/**/*.js
/ui/common/**/*.d.ts
/ui/game/**/*.js
/ui/game/**/*.d.ts
/ui/voice/@build/crowdv/*.json
/ui/nvui/**/*.js
/ui/nvui/**/*.d.ts
/ui/puz/**/*.js
/ui/puz/**/*.d.ts

*.min.js
readme

/.bloop/
/.bsp/
/.metals/
