{
  "proseWrap": "never",
  "quoteProps": "consistent",
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.{json,xml}",
      "options": {
        "printWidth": 500
      }
    }
  ]
}
