:9670 {
  @socket path /socket* /lobby/socket* /analysis/socket* \
    /play /play/* \
    /watch /watch/* \
    /round /round/* \
    /challenge /challenge/* \
    /tournament /tournament/* \
    /simul /simul/* \
    /swiss /swiss/* \
    /team /team/* \
    /racer /racer/*

  reverse_proxy @socket localhost:9664
  reverse_proxy localhost:9663
}