@(form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)

@auth.layout(
title = trans.exportGames.txt()) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lichess_title">@trans.exportGames()</h1>
    <form action="@routes.Game.exportConfirm" method="POST">
      <ul>
        <li>
          @base.captcha(form("move"), form("gameId"), captcha)
        </li>
        @errMsg(form)
        <li>
          <button type="submit" class="text submit button" data-icon="F">@trans.exportGames()</button>
        </li>
      </ul>
    </form>
  </div>
</div>
}
