@(form: Form[_])(implicit ctx: Context)

@moreCss = {
@cssTag("import.css")
}

@moreJs = {
@embedJs {
$("#import_game form").submit(function() {
setTimeout(function() { $(this).html(lichess.spinnerHtml); }.bind(this), 50);
});
}
}

@base.layout(
title = trans.importGame.str(),
moreCss = moreCss,
moreJs = moreJs,
openGraph = lila.app.ui.OpenGraph(
title = "Paste PGN chess game",
url = s"$netBaseUrl${routes.Importer.importGame.url}",
description = "When pasting a game PGN, you get a browsable replay, a computer analysis, a game chat and a sharable URL").some) {
<div id="import_game" class="content_box">
  <h1 data-icon="/" class="title"> @trans.importGame()</h1>
  <p class="explanation">
    When pasting a game PGN, you get a <strong>browsable replay</strong>,<br />
    a <strong>computer analysis</strong>, a <strong>game chat</strong> and a <strong>sharable URL</strong>.
  </p>
  <form class="import" action="@routes.Importer.sendGame()" method="post">
    <label class="pgn">
      <span>@trans.pasteThePgnStringHere() :</span>
      @defining(form("pgn")) { field =>
      <textarea name="@field.name" id="@field.id">@field.value</textarea>
      @errMsg(field)
      }
    </label>
    <p class="analyse">
      <span>
        <input name="@form("analyse").name" id="import_analyse" class="cmn-toggle cmn-toggle-round" type="checkbox" />
        <label for="import_analyse"></label>
      </span>
      <label for="import_analyse">@trans.requestAComputerAnalysis()</label>
    </p>
    <button class="submit text button" type="submit" data-icon="G">@trans.importGame()</button>
  </form>
</div>
}
