@(form: Form[_])(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@analyseHelp = {
  @if(ctx.isAnon) { <a class="blue" href="@routes.Auth.signup">@trans.youNeedAnAccountToDoThat()</a> }
}

@base.layout(
title = trans.importGame.txt(),
moreCss = cssTags("form3.css", "import.css"),
moreJs = jsTag("importer.js"),
openGraph = lila.app.ui.OpenGraph(
title = "Paste PGN chess game",
url = s"$netBaseUrl${routes.Importer.importGame.url}",
description = "When pasting a game PGN, you get a browsable replay, a computer analysis, a game chat and a sharable URL").some) {
<div id="import_game" class="content_box">
  <h1 data-icon="/" class="title"> @trans.importGame()</h1>
  <p class="explanation">@trans.importGameExplanation()</p>
  <form class="form3 import" action="@routes.Importer.sendGame()" method="post">
    @form3.group(form("pgn"), trans.pasteThePgnStringHere.frag())(form3.textarea(_)())
    @form3.group(form("pgnFile"), raw("Or upload a PGN file"), klass = "upload") { f =>
    @form3.file.pgn(f.name)
    }
    @form3.checkbox(form("analyse"), trans.requestAComputerAnalysis.frag(), help = Some(analyseHelp), disabled = ctx.isAnon)
    @form3.action(form3.submit(trans.importGame.frag()))
  </form>
</div>
}.toHtml
