@(pov: Pov, tour: Option[lila.tournament.Tournament], withTourStanding: Boolean)(implicit ctx: Context)

@import pov._

<div class="lichess_goodies">
  <div class="box">
    @bookmark.toggle(game)
    @game.pgnImport.flatMap(_.date).map { date =>
    PGN Import - @date
    @game.pgnImport.flatMap(_.user).map { user =>
    <br />
    @userIdLink(user.some)
    }
    }.getOrElse {
    @if(game.isBeingPlayed) {
    @trans.playingRightNow()
    } else {
    @game.updatedAt.map(momentFormat)
    }
    <br />
    }
    <br />
    @tour.map { t =>
    @tournamentLink(t)
    <br /><br />
    }
    @game.poolId.flatMap(poolSetups.get).map { setup =>
    <a href="@routes.Pool.show(setup.id)">@setup.name Pool</a>
    <br /><br />
    }
    @if(game.finishedOrAborted) {
    @gameEndStatus(game),
    @game.winner.map { winner =>
    @winner.color.fold(trans.whiteIsVictorious(), trans.blackIsVictorious())
    }
    <br /><br />
    }
    @List(opponent, player).map { p =>
    <div class="player">
      @playerLink(p, withOnline = false, withDiff = true, cssClass = Some("player color " + p.color.name))
    </div>
    }
    <br />
    <span data-icon="p"> @shortClockName(game.clock)</span>
    @if(game.variant.exotic) {
    , @variantName(game.variant).capitalize
    }
    @if(game.rated) {
    , @trans.rated()<br />
    }
  </div>

  @tour match {
  case Some(t: lila.tournament.StartedOrFinished) => {
  <div class="game_tournament box no_padding scroll-shadow-soft">
    <span class="title">&nbsp;@if(t.scheduled) {@t.name} else {@trans.xTournament(t.name)}</span>
    @t match {
    case t: lila.tournament.Started => {
    <div class="clock" data-time="@t.remainingSeconds">
      <div class="time" data-icon="p">@t.clockStatus</div>
    </div>
    }
    case _ => {
    }
    }
    @if(withTourStanding) {
    <table class="slist standing">
      <tbody>
        @t.rankedPlayers.map {
        case (rank, player) => {
        @defining((
        if(t.isFinished && rank == 1) "winner" else if (player.withdraw) "withdraw" else "",
        t scoreSheet player
        )) {
        case (flag, scoreSheet) => {
        <tr @if(ctx.userId.exists(player.id==)) { class="me" }>
          <td class="name">
            @if(player.withdraw) {
            <span data-icon="b" title="@trans.withdraw()"></span>
            } else {
            @if(t.isFinished && rank == 1) {
            <span data-icon="g" title="@trans.winner()"></span>
            } else {
            <span class="rank">@rank</span>
            }
            }
            @userInfosLink(player.id, none, withOnline = false)
          </td>
          <td class="total">
            <strong@if(scoreSheet.onFire) { class="is-gold" data-icon="Q" }>@scoreSheet.total</strong>
          </td>
        </tr>
        <tr><td class="around-bar" colspan="3"><div class="bar" data-value="@scoreSheet.total"></div></td></tr>
        }
        }
        }
        }
      </tbody>
    </table>
    }
  </div>
  }
  case _ => {
  }
  }
</div>
