@(pov: Pov, tour: Option[lila.tournament.Tournament])(implicit ctx: Context)

@import pov._

<div class="lichess_goodies">
  <div class="box">
    @bookmark.toggle(game)
    @game.pgnImport.flatMap(_.date).map { date =>
    PGN Import - @date
    @game.pgnImport.flatMap(_.user).map { user =>
    <br />
    @userIdLink(user.some)
    }
    }.getOrElse {
    @if(game.isBeingPlayed) {
    @trans.playingRightNow()
    } else {
    @game.updatedAt.map(timeago)
    }
    <br />
    }
    <br />
    @tour.map { t =>
    @tournament.linkTo(t)
    <br /><br />
    }
    @if(game.finishedOrAborted) {
    @gameEndStatus(game),
    @game.winner.map { winner =>
    @winner.color.fold(trans.whiteIsVictorious(), trans.blackIsVictorious())
    }
    <br /><br />
    }
    @List(opponent, player).map { p =>
    <div class="player">
      @playerLink(p, withOnline = false, withDiff = true, cssClass = Some("s16 " + p.color.name))
    </div>
    }
    <br />
    <span class="s16 clock">@shortClockName(game.clock)</span>
    @if(game.variant.exotic) {
    , @variantName(game.variant).capitalize
    }
    @if(game.rated) {
    , @trans.rated()<br />
    }
  </div>

  @tour match {
  case Some(t: lila.tournament.Started) => {
  <div class="game_tournament box">
    <span class="title">@t.nameT</span>
    <span class="clock" data-time="@t.remainingSeconds">
      @t.clockStatus
    </span>
  </div>
  }
  case _ => {
  }
  }
</div>
