@(pov: Pov, bookmarkers: List[User] = Nil)(extra: Html)(implicit ctx: Context)

@import pov._

@defining("http://lichess.org" + routes.Round.watcher(gameId, color.name)) { url =>
<div class="game_more clearfix">
  <div class="more_top">
    @bookmark.toggle(game)
    <a
      title="@trans.shareThisUrlToLetSpectatorsSeeTheGame()"
      class="game_permalink blank_if_play"
      href="@url">@url</a>
  </div>
  <div class="game_extra">
    @if(bookmarkers.nonEmpty) {
    <div class="bookmarkers">
      <p>@trans.bookmarkedByNbPlayers(bookmarkers.size)</p>
      <ul>
        @bookmarkers.map { bookmarker =>
        <li>@userLink(bookmarker)</li>
        }
      </ul>
    </div>
    }
    <div class="body">
      @extra
    </div>
  </div>
</div>
}
