@(pov: Pov, bookmarkers: List[String] = Nil)(extra: Html)(implicit ctx: Context)

@import pov._

@defining(netBaseUrl + routes.Round.watcher(gameId, color.name)) { url =>
<div class="undergame_box game_more">
  <div class="more_top">
    @bookmark.toggle(game)
    <a
      title="@trans.shareThisUrlToLetSpectatorsSeeTheGame()"
      class="game_permalink blank_if_play"
      href="@url">@url</a>
  </div>
  <div class="inner game_extra clearfix">
    @if(bookmarkers.nonEmpty) {
    <div class="bookmarkers inline_userlist">
      <p>@trans.bookmarkedByNbPlayers(bookmarkers.size)</p>
      <span class="list">
        @Html(bookmarkers.map(userIdLinkMini).mkString(", "))
      </span>
    </div>
    }
    @extra
  </div>
</div>
}
