@(listMenu: lila.game.ListMenu, form: Form[_], paginator: Option[Paginator[Game]] = None)(implicit ctx: Context)

@import lila.gameSearch.{ Query, Sorting }

@moreCss = {
@cssTag("search.css")
}
@moreJs = {
@jsTag("search.js")
@jsTag("vendor/jquery.infinitescroll.min.js")
}

@game.layout(
title = trans.advancedSearch.str(),
menu = game.sideMenu(listMenu, "search").some,
moreJs = moreJs,
moreCss = moreCss) {
<div class="content_box no_padding">
  <h1 class="title">@trans.advancedSearch()</h1>
  <form class="search" action="@routes.Game.search()" method="get">
    <table>
      <tr>
        <th>
          <label>@trans.players()</label>
        </th>
        <td class="usernames">
          <div class="half">@base.input(form("players")("a"))</div>
          <div class="half">vs @base.input(form("players")("b"))</div>
        </td>
      </tr>
      <tr class="winner none">
        <th>
          <label for="@form("players")("winner").id">@trans.winner()</label>
        </th>
        <td class="single">
          <select id="@form("players")("winner").id" name="@form("players")("winner").name">
            <option class="blank" value=""></option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label>Rating</label>
        </th>
        <td>
          <div class="half">From @base.select(form("ratingMin"), Query.averageRatings, "".some)</div>
          <div class="half">To @base.select(form("ratingMax"), Query.averageRatings, "".some)</div>
        </td>
        <th class="help">Average of both players Rating</th>
      </tr>
      <tr>
        <th>
          <label for="@form("hasAi").id">Opponent</label>
        </th>
        <td class="single opponent">
          @base.select(form("hasAi"), Query.hasAis, "".some)
        </td>
      </tr>
      <tr class="aiLevel none">
        <th>
          <label for="@form("aiLevel").id">Stockfish level</label>
        </th>
        <td>
          <div class="half">From @base.select(form("aiLevelMin"), Query.aiLevels, "".some)</div>
          <div class="half">To @base.select(form("aiLevelMax"), Query.aiLevels, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("variant").id">@trans.variant()</label>
        </th>
        <td class="single">
          @base.select(form("variant"), Query.variants, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("mode").id">@trans.mode()</label>
        </th>
        <td class="single">
          @base.select(form("mode"), Query.modes, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("opening").id">@trans.opening()</label>
        </th>
        <td class="single">
          @base.select(form("opening"), Query.openings, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label>Number of turns</label>
        </th>
        <td>
          <div class="half">From @base.select(form("turnsMin"), Query.turns, "".some)</div>
          <div class="half">To @base.select(form("turnsMax"), Query.turns, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label>@trans.duration()</label>
        </th>
        <td>
          <div class="half">From @base.select(form("durationMin"), Query.durations, "".some)</div>
          <div class="half">To @base.select(form("durationMax"), Query.durations, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("status").id">Result</label>
        </th>
        <td class="single">
          @base.select(form("status"), Query.statuses, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label>Date</label>
        </th>
        <td>
          <div class="half">From @base.select(form("dateMin"), Query.dates, "".some)</div>
          <div class="half">To @base.select(form("dateMax"), Query.dates, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label>Sort</label>
        </th>
        <td>
          <div class="half">By @base.select(form("sort")("field"), Sorting.fields)</div>
          <div class="half">Order @base.select(form("sort")("order"), Sorting.orders)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label>Analysed</label>
        </th>
        <td class="single">
          @{ base.checkbox(form("analysed"), Query.analyseds._2, 1) }
        </td>
      </tr>
    </table>
  </form>
  <div class="search_result">
    @paginator.map { pager =>
    @if(pager.nbResults > 0) {
    <div class="search_status">
      @pager.nbResults.localize games found -
      <a class="permalink" href="@routes.Game.search()">Permalink</a>
    </div>
    <div class="all_games search_infinitescroll">
      @pager.nextPage.map { n =>
      <div class="pager none"><a href="@routes.Game.search(n)">Next</a></div>
      }.getOrElse {
      <div class="none"></div>
      }
      @game.widgets(pager.currentPageResults)
    </div>
    } else {
    <div class="search_status">
      No game found -
      <a class="permalink" href="@routes.Game.search()">Permalink</a>
    </div>
    }
    }.getOrElse {
    <div class="search_status">Search ready</div>
    }
  </div>
</div>
}
