@(listMenu: lila.game.ListMenu, active: String)(implicit ctx: Context)

<a class="@active.active("realtime")" href="@routes.Game.realtime()">
  @trans.gamesBeingPlayedRightNow()
</a>
<a class="@active.active("search")" href="@routes.Game.search()">
  @trans.advancedSearch()
</a>
<a class="@active.active("import")" href="@routes.Importer.importGame()">
  @trans.importGame()
</a>
<a class="@active.active("edit")" href="@routes.Editor.index">
  @trans.boardEditor()
</a>
<a class="@active.active("all")" href="@routes.Game.all()">
  @trans.viewAllNbGames(listMenu.nbGames.localize)
</a>
<a class="@active.active("checkmate")" href="@routes.Game.checkmate()">
  @trans.viewNbCheckmates(listMenu.nbMates.localize)
</a>
@listMenu.nbBookmarks.map { nb =>
<a class="@active.active("bookmark")" href="@routes.Game.bookmark()">
  @trans.nbBookmarks(nb.localize)
</a>
}
<a class="@active.active("analysed")" href="@routes.Game.analysed()">
  @trans.nbAnalysedGames(listMenu.nbAnalysed.localize)
</a>
<a class="@active.active("imported")" href="@routes.Game.imported()">
  @trans.nbImportedGames(listMenu.nbImported.localize)
</a>
<a href="@routes.Tv.index()">@trans.watchLichessTV()</a>
