@(pov: lila.game.Pov, playing: Boolean)(implicit ctx: Context)

<h1>Textual representation</h1>
<dl>
  <dt>Turn</dt>
  <dd>@pov.game.turns</dd>
  <dt>PGN</dt>
  <dd>@Html(pov.game.pgnMoves.mkString("<br />"))</dd>
  <dt>FEN</dt>
  <dd>@{chess.format.Forsyth.>>(pov.game.toChess)}</dd>
  @if(playing) {
  <dt>Your color</dt>
  <dd>@pov.color.name</dd>
  <dt>Opponent</dt>
  <dd>@playerText(pov.opponent)</dd>
  } else {
  <dt>White player</dt>
  <dd>@playerText(pov.game.whitePlayer)</dd>
  <dt>Black player</dt>
  <dd>@playerText(pov.game.blackPlayer)</dd>
  }
  <dt>Game status</dt>
  <dd>
  @if(pov.game.finishedOrAborted) {
  @gameEndStatus(pov.game)
  } else {
  @pov.game.turnColor plays
  }
  </dd>
  @if(playing && pov.game.playable && pov.game.turnOf(pov.player)) {
  <form>
    <label>
      Your move in UCI format (e.g. e2e4 or d7d8Q)
      <input name="move" class="move" type="text" value="" />
    </label>
    <button type="submit">Send move</button>
  </form>
  }
</dl>
