@(variant: chess.Variant, name: String, hintAsTitle: Boolean = false, cssClass: String = "hint--bottom")
@import chess.Variant
@url = {
@variant match {
case chess.Variant.Standard => {https://en.wikipedia.org/wiki/Chess}
case chess.Variant.Chess960 => {https://en.wikipedia.org/wiki/Chess960}
case chess.Variant.KingOfTheHill => {@routes.Page.kingOfTheHill}
case chess.Variant.ThreeCheck => {http://en.wikipedia.org/wiki/Three-check_chess}
case chess.Variant.SuicideChess => {http://en.wikipedia.org/wiki/Losing_chess}
case chess.Variant.FromPosition => {@routes.Editor.index}
}
}
<a href="@url" target="_blank" @if(hintAsTitle){title}else{data-hint}="@variant.title" class="@cssClass">@name</a>
