@(pov: Pov)(ctxOption: Option[Context])
<div class="vstext clearfix">
<div class="left user_link">
@playerUsername(pov.player, withRating = false, withTitle = false)
<br />
@titleTag(lightUser(pov.player.userId).flatMap(_.title))
@pov.player.rating@if(pov.player.provisional){?}
</div>
<div class="right user_link">
@playerUsername(pov.opponent, withRating = false, withTitle = false)
<br />
@pov.opponent.rating@if(pov.opponent.provisional){?}
@titleTag(lightUser(pov.opponent.userId).flatMap(_.title))
</div>
@pov.game.clock.map { c =>
<div class="center"><span data-icon="p"> @shortClockName(c.config)</span></div>
}.getOrElse {
@ctxOption.map { implicit ctx =>
@pov.game.daysPerTurn.map { days =>
<div class="center">
  <span data-hint="@trans.correspondence()" class="hint--top">@if(days == 1){@trans.oneDay()}else{@trans.nbDays.pluralSame(days)}</span>
</div>
}
}
}
</div>
