@import "common";

.gamebook-edit {
  @extend %flex-column;

  background: $c-bg-low;

  .deviation,
  .hint {
    @extend %flex-column;
  }

  label {
    display: block;
    padding: 0 0 8px 10px;
  }

  .hint textarea {
    height: 7em;
  }

  .legend {
    display: flex;
    border-bottom: $border;
    min-height: 3.5em;

    i {
      @extend %flex-center;

      flex: 0 0 1.8em;
      font-size: 1.8em;
      opacity: 0.7;
      justify-content: center;
    }

    &.clickable:hover {
      cursor: pointer;
      background: $c-primary;
      color: $c-primary-over;

      i {
        opacity: 0.9;
      }
    }

    p {
      @extend %flex-center;

      flex: 1 1 100%;
      padding: 8px 10px;
    }
  }

  .todo i {
    background: $c-bad;
    color: $c-bad-over;
  }

  .done i {
    background: $c-good;
  }
}
