@(setup: lila.pool.PoolSetup)(implicit ctx: Context)

@goodies = {
<a href="@routes.Pool.show(setup.id)">Return to the pool</a>
}

@base.layout(
goodies = goodies.some,
title = s"${setup.name} Pool help",
moreCss = cssTag("pool.css")) {

<div class="content_box pool_box help_box small_box">

  <h1 class="lichess_title" data-icon="8"> @setup.name Pool help</h1>

    <p>
      The pool system is a different way to compete with a variety of players.
      Simply enter a pool and the system will automatically pair you with an opponent;
      usually someone near your rating and someone you haven't played in the last few games.
    </p>
    <p>
      It may take a few moments for the system to pair you with an opponent.
      This depends on how many appropriate opponents are available in the pool.
    </p>

  <p>
    The games are @setup.clock.show, and are always rated in the @setup.name category.
    This is the only way to start a game in the @setup.name rating category.
    By not allowing people to hand-pick their opponents, not only will the ratings be more accurate,
    but play will also be considerably more competitive.
  </p>

  <p>
    Once the game starts, you should play to the end. Disconnections are treated as losses.
    Of course, we realize that this means that players with unreliable network connections
    will tend to have lower ratings.
    This rule eliminates a whole set of possible abuses and disputes.
  </p>

    <p>
      As with all rated games on lichess.org, computers and computer-assisted players are not allowed to play.
      Please do not get assistance from chess engines, databases, or from other players while playing.
    </p>
  </div>
</div>
}
