@(pools: List[lila.pool.Pool])(implicit ctx: Context)

@pools.zipWithIndex.map {
case (p, it) => {
<div class="pool_@(it + 1)">
  <h2><a href="@routes.Pool.show(p.setup.id)">@p.setup.name</a></h2>
  <div class="body">
    @defining(7) { displayedPlayers =>
    <table class="players">
      <tbody>
        @p.sortedPlayers.take(displayedPlayers).map { player =>
        <tr>
          <td><span class="is-green" data-icon="r"> @player.user.name</span></td>
          <td>@player.rating</td>
        </tr>
        }
        @defining(p.nbPlayers - displayedPlayers) { morePlayers =>
        @if(morePlayers > 0) {
        <tr><td colspan=2>And @morePlayers more</td></tr>
        }
        }
      </tbody>
    </table>
    }
    <span class="join" data-icon="G"></span>
  </div>
</div>
}
}
