@(pools: List[lila.pool.Pool])(implicit ctx: Context)

@pools.zipWithIndex.map {
case (p, it) => {
<div class="pool_@(it + 1)">
  <h2>@p.setup.name</h2>
  <div class="body">
    @defining(4) { displayedPlayers =>
    <table class="players">
      <tbody>
        @p.playersAround(ctx.me, displayedPlayers).map { player =>
        <tr>
          <td>@lightUserLink(player.user)</td>
          <td>@player.rating</td>
        </tr>
        }
        @defining(p.nbPlayers - displayedPlayers) { morePlayers =>
        @if(morePlayers > 0) {
        <tr><td colspan=2>And @morePlayers more</td></tr>
        }
        }
      </tbody>
    </table>
    }
    <form action="@routes.Pool.enter(p.setup.id)" method="post">
      <button class="button" data-icon="G"> Enter</button>
    </form>
    @if(ctx.me ?? p.contains) {
      <form action="@routes.Pool.leave(p.setup.id)" method="post">
        <button class="button" data-icon="F">&nbsp;Leave</button>
      </form>
    } else {
    <a href="@routes.Pool.show(p.setup.id)" class="button" data-icon="v"> View</a>
    }
  </div>
</div>
}
}
