@(p: lila.pool.Pool)(implicit ctx: Context)

@showPairingUser(p: lila.pool.Pairing, u: String) = {
<span class="@p.finished.fold(p.draw.fold("draw", p.wonBy(u).fold("win", "loss")), "playing")">@usernameOrId(u)</span>
}

<div class="next_wave">
  <p>Next Pairing:</p>
  <strong class="wave_at">@p.secondsToNextWave</strong>
</div>

@defining(p.pairings take 30) { pairings =>
<div class="pairing_boxes">
  <div class="numbers">
    <span class="is-gold" data-icon="7"> @p.nbWaitingPlayers Ready</span>
    <span data-icon='"'> @p.playingPlayers.size Playing</span>
  </div>
  @List(true, false).map { playing =>
  <div class="pairings">
    @pairings.filter(_.playing == playing).map { pairing =>
    <a class="revert-underline" href="@routes.Round.watcher(pairing.gameId, "white")">
      @showPairingUser(pairing, pairing.user1) <em>vs</em> @showPairingUser(pairing, pairing.user2)
    </a>
    }
  </div>
  }
</div>
}
