@(pairings: List[lila.pool.Pairing])(implicit ctx: Context)

@showPairingUser(p: lila.pool.Pairing, u: String) = {
<span class="@p.finished.fold(p.draw.fold("draw", p.wonBy(u).fold("win", "loss")), "playing")">@usernameOrId(u)</span>
}

@List(true, false).map { playing =>
<div class="pairings">
  @pairings.filter(_.playing == playing).map { pairing =>
  <a class="revert-underline" href="@routes.Round.watcher(pairing.gameId, "white")">
    @showPairingUser(pairing, pairing.user1) <em>vs</em> @showPairingUser(pairing, pairing.user2)
  </a>
  }
</div>
}
