@(p: lila.pool.Pool, version: Int, chat: Option[lila.chat.UserChat], pov: Option[Pov])(implicit ctx: Context)

@side = {
<div class="side_box padded">
  <span data-icon="p"> @(p.setup.clockLimit / 60) + @p.setup.clockIncrement</span>,
  @game.variantLink(p.setup.variant, variantName(p.setup.variant)), @trans.rated() -
  <a href="@routes.Pool.help(p.setup.id)">Help</a>
  @ctx.me.map(_.perfs.pool(p.setup.id)).map { perf =>
  <br />
  <br />
  @trans.ratingX(s"""<strong>${perf.intRating}</strong> <small class="hint--bottom" data-hint="Glicko rating deviation"> ±${perf.glicko.intDeviationDoubled}</small>""")
  @showProgress(perf.progress)
  <br />
  <strong>@perf.nb</strong> @trans.gamesPlayed()
  }
</div>
}

@underchat = {
<div class="watchers" data-icon="v">
  <span class="list inline_userlist"></span>
</div>
}

@base.layout(
title = s"${p.setup.name} pool",
moreCss = cssTag("pool.css"),
side = side.some,
chat = chat.map(c => base.chat(c, trans.chatRoom.str())),
underchat = underchat.some) {

<div id="pool"
  data-id="@p.setup.id"
  data-version="@version"
  data-socket-url="@routes.Pool.websocket(p.setup.id)"
  data-href="@routes.Pool.reload(p.setup.id)">
  <div class="pool_side scroll-shadow">
    @pairings(p)
  </div>
  <div class="content_box no_padding pool_box pool_show">
    <h1 data-icon=",">
      @p.setup.name Pool
      @if(ctx.me ?? p.contains) {
      <form action="@routes.Pool.leave(p.setup.id)" method="post">
        <button class="button" data-icon="F">&nbsp;Leave pool</button>
      </form>
      } else {
      <form action="@routes.Pool.enter(p.setup.id)" method="post">
        <button class="button" data-icon="G">&nbsp;Enter pool</button>
      </form>
      }
    </h1>
    @pov.map { p =>
    <a class="is pov button glowing" href="@routes.Round.player(p.fullId)">
      You are playing @usernameOrAnon(p.opponent.userId)
      <span class="pov_join" data-icon="G">&nbsp;@trans.joinTheGame()</span>
    </a>
    }
    @pool.standing(p)
  </div>
</div>
}
