@(p: lila.pool.Pool, games: List[Game], version: Int, chat: Option[lila.chat.UserChat], pov: Option[Pov])(implicit ctx: Context)

@moreCss = {
@cssTag("pool.css")
}

@goodies = {
<div class="lichess_goodies">
  <div class="box">
    <span data-icon="p"> @(p.setup.clockLimit / 60) + @p.setup.clockIncrement</span>,
    @variantName(p.setup.variant).capitalize, @trans.rated()
  </div>
</div>
}

@underchat = {
<div class="watchers" data-icon="v">
  <span class="list inline_userlist"></span>
</div>
}

@showPairingUser(p: lila.pool.Pairing, u: String) = {
<span class="@p.finished.fold(p.draw.fold("draw", p.wonBy(u).fold("win", "loss")), "playing")">@usernameOrId(u)</span>
}

@base.layout(
title = s"${p.setup.name} pool",
moreCss = moreCss,
goodies = goodies.some,
chat = chat.map(c => base.chat(c, trans.chatRoom.str())),
underchat = underchat.some) {

<div id="pool_side" class="scroll-shadow-soft">
  <div class="pairings">
    @p.pairings.take(50).map { pairing =>
    <a class="revert-underline" href="@routes.Round.watcher(pairing.gameId, "white")">
      @showPairingUser(pairing, pairing.user1) <em>vs</em> @showPairingUser(pairing, pairing.user2)
    </a>
    }
  </div>
</div>

<div id="pool"
  data-id="@p.setup.id"
  data-version="@version"
  data-socket-url="@routes.Pool.websocket(p.setup.id)">
  <div class="content_box no_padding pool_box pool_show">
    <h1 data-icon="8">
      @p.setup.name Pool
      @if(ctx.me ?? p.contains) {
      <form action="@routes.Pool.leave(p.setup.id)" method="post">
        <button class="button" data-icon="F">&nbsp;Leave the pool</button>
      </form>
      } else {
      <form action="@routes.Pool.enter(p.setup.id)" method="post">
        <button class="button" data-icon="G">&nbsp;Enter the pool</button>
      </form>
      }
    </h1>
    @pov.map { p =>
    <a class="is pov button glowing" href="@routes.Round.player(p.fullId)">
      You are playing @usernameOrAnon(p.opponent.userId)
      <span class="pov_join" data-icon="G">&nbsp;@trans.joinTheGame()</span>
    </a>
    }
    @pool.standing(p)
  </div>
  <div class="game_list realtime">
    @games.map { g =>
    <div>
      @gameFen(g, g.firstPlayer.color)
      @game.vstext(g)
    </div>
    }
  </div>
</div>
}
