@(p: lila.pool.Pool)(implicit ctx: Context)

<div class="standing_wrap">
  <table class="slist standing">
    <thead>
      <tr>
        <th class="large">@trans.standing() (@p.nbPlayers)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @p.rankedPlayers.map {
      case (player, rank) => {
      <tr @if(ctx.userId ?? (player.user.id==)) { class="me" }>
        <td class="name">
          <span class="rank">@rank</span>
          @lightUserLink(player.user)
        </td>
        <td class="rating">
          @player.rating
        </td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>

