main.forum .crumbs {
  padding: 20px 24px 0 24px;

  & li {
    display: inline;
    margin-left: 1em;

    &::after {
      content: "›";
      padding-left: 1em;
    }

    &:last-child::after {
      display: none;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  & h1 {
    display: inline;
    margin: 0;
    padding: 0;
    vertical-align: middle;
  }
}

