@import 'search';
@import 'topic';
@import 'post';
@import 'completion';
@import 'table';

main.forum {

  & .warning {
    margin: 20px;
    background: #f4f4f4;
    text-align: center;
    font-size: 1.6em;
  }
  & .warning h1 {
    margin: 1em 0 0 0;
    padding: 0;
    font-weight: bold;
  }
  & .warning p {
    margin: 1.8em 0;
    line-height: 1.5em;
  }

  & .nb_results {
    padding-left: 25px;
  }

  &.forum-categ {
    & h1 a {
      color: $c-link-dim;
      &:hover {
        color: $c-link;
      }
    }
    & a.sticky {
      color: $c-secondary;
      & > span {
        margin-right: 0.6em;
      }
    }

    & .bar {
      @extend %box-padding-horiz;
    }
  }

  & .create-topic {
    margin: 20px;
  }

  .bar {
    margin-bottom: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    .pagination {
      color: $c-font-dimmer;
      display: flex;
      & a,
      & span {
        width: 2rem;
        height: 2rem;
        @extend %box-radius;
        margin: 0 .1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
      }
      & :first-child,
      & :last-child,
      & .current {
        display: flex;
      }
      @include breakpoint($mq-x-small) {
        & a,
        & span {
          display: flex;
        }
      }
      & span {
        color: $c-font-dimmer;
      }
      & a:hover {
        background: mix($c-primary, $c-bg-box, 10);
      }
      & .current {
        background: $c-primary;
        color: $c-primary-over;
      }
    }
  }

}
