.forum .pagination {
  color: $c-font-dimmer;
  display: flex;

  a,
  span {
    width: 2rem;
    height: 2rem;

    @extend %box-radius;

    margin: 0 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: $c-font-dimmer;
  }

  a:hover {
    background: mix($c-primary, $c-bg-box, 10);
  }

  .current {
    background: $c-primary;
    color: $c-primary-over;
  }
}
