.search {
  &__results {
    @extend %break-word;

    margin-top: 1em;

    .post {
      display: block;
      font-size: 1.2em;
    }

    p {
      margin: 0;
    }

    .info {
      white-space: nowrap;
    }
  }
}
