.forum {

  & form.search {
    float: right;
    margin: 20px;
    font-size: 1.3em;
  }

  & .search_results {
    margin-top: 1em;
    & time {
      font-size: 0.8em;
      white-space: nowrap;
      display: block;
    }
    & a.post {
      display: block;
      font-size: 1.1em;
      margin-bottom: 4px;
      padding-bottom: 5px;
    }
    & td {
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }
}
