@(user: User, form: Form[_])(implicit ctx: Context)

@auth.layout("Please enter your password") {
<div class="content_box" style="width: 400px;">
  <h1 class="lichess_title">Please enter your password</h1>
  <p>
    Due to a system failure that happened the 22 Dec. 2013,<br />
    You have to re-enter your password to continue using lichess.<br />
    For details, see <a href="http://en.lichess.org/forum/lichess-feedback/server-failure--data-has-been-lost">The announcement</a>.
  </p>
  <form action="@routes.Auth.newPassword" method="POST">
    @form.globalError.map { error =>
    <p class="error">@error.message</p>
    }
    <ul>
      <li class="password">
        <label for="@form("password").id">@trans.password()</label>
        <input
        type="password"
        required="required"
        name="@form("password").name"
        id="@form("password").id" />
        @errMsg(form("password"))
      </li>
      <li>
        <input type="submit" value="@trans.apply()" class="submit button">
      </li>
    </ul>
  </form>
</div>
}

