@(u: User)(implicit ctx: Context)

@auth.layout(
title = "Check your email",
zen = true) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lichess_title is-green text" data-icon="E">@trans.checkYourEmail()</h1>
    <p>@trans.weHaveSentYouAnEmailClickTheLink()</p>
    <p>@trans.ifYouDoNotSeeTheEmailCheckOtherPlaces()</p>
    <p>
      Not receiving it?
      Ask @contactEmailLink and we'll confirm your email for you.
      Don't forget to mention your username.
    </p>
  </div>
</div>
}
