@(username: Field, password: Field, emailOption: Option[Field], register: Boolean)(implicit ctx: Context)

<li class="username">
  <label for="@username.id">@register.fold(trans.username, trans.usernameOrEmail)()</label>
  <input
  type="text"
  required="required"
  name="@username.name"
  id="@username.id"
  value="@username.value"
  autofocus="true" />
  @errMsg(username)
</li>
<li class="password">
  <label for="@password.id">@trans.password()</label>
  <input
  type="password"
  required="required"
  name="@password.name"
  id="@password.id" />
  @errMsg(password)
</li>
@emailOption.map { email =>
<li class="email">
  <label for="@email.id">@trans.email()</label>
  <input
  type="email"
  required="required"
  name="@email.name"
  id="@email.id"
  value="@email.value"/>
  @errMsg(email)
</li>
}
