@(me: User, active: Option[lila.app.ui.SiteMenu.Elem])(implicit ctx: Context)

<div class="auth">
  <a
    id="user_tag"
    data-rating="@me.rating"
    class="toggle toggle_auth">
    <span data-icon="u"> @me.usernameWithRating</span>
  </a>
  <div class="links dropdown">
    <a href="@routes.User.show(me.username)" class="blank_if_play"><span data-icon="r"> @trans.profile()</span></a>
    <a href="@routes.Account.profile"><span data-icon="q"> @trans.editProfile()</span></a>
    <a href="@routes.Pref.form"><span data-icon="q"> @trans.preferences()</span></a>
    <a href="@routes.Auth.logout"><span data-icon="w"> @trans.logOut()</span></a>
    @if(isGranted(_.StaffForum)) {
    <hr />
    <a href="@routes.ForumCateg.show("staff")">Staff Forum</a>
    <a href="@routes.Mod.log()">Mod log</a>
    <a href="@routes.Report.list()">User reports</a>
    }
  </div>
</div>
<a title="@trans.inbox()" data-href="@routes.Message.preview" class="goto_nav message blank_if_play @{(active exists (_.code == "message")).??("current")}" href="@routes.Message.inbox(page=1)">
  <span class="is2" data-icon="e"> </span>
  @defining(messageNbUnread(ctx)) { nbUnread =>
  <span id="nb_messages" class="new_messages @{ (nbUnread > 0).??("unread") }">@nbUnread</span>
  }
</a>
