@(form: Form[_], referrer: Option[String])(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@twoFactorHelp = {
<span data-icon="">Open the two-factor authentication app on your device to view your authentication code and verify your identity.</span>
}

@auth.layout(
title = trans.signIn.txt(),
moreJs = jsTag("login.js"),
formCss = true) {
<div class="content_box login">
  <div class="signup_box">
    <h1 class="lichess_title">@trans.signIn()</h1>
    <form class="form3 login" action="@routes.Auth.authenticate@referrer.map { ref =>?referrer=@{java.net.URLEncoder.encode(ref, "US-ASCII")}}" method="POST">
      <div class="one-factor">
        @form3.globalError(form)
        @auth.formFields(form("username"), form("password"), none, register = false)
        @form3.action(form3.submit(trans.signIn.frag(), icon = "F".some))
      </div>
      <div class="two-factor none">
        @form3.group(form("token"), raw("Authentication code"), help = Some(twoFactorHelp))(form3.input(_)(*.autocomplete := "off", *.pattern := "[0-9]{6}"))
        <p class="error none">Invalid code.</p>
        @form3.action(form3.submit(trans.signIn.frag(), icon = "F".some))
      </form>
    </div>
    <div class="alternative">
      @trans.newToLichess()
      <br />
      <br />
      <a href="@routes.Auth.signup()" class="button" data-icon="F"> @trans.signUp()</a>
      <br />
      <br />
      <br />
      @trans.forgotPassword()
      <br />
      <br />
      <a href="@routes.Auth.passwordReset()" class="button" data-icon="F"> @trans.passwordReset()</a>
    </div>
  </div>
</div>
}
