@(form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)

@auth.layout(
title = trans.passwordReset.str(),
zen = true) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lichess_title">@trans.passwordReset()</h1>
    <form action="@routes.Auth.passwordResetApply" method="POST">
      <ul>
        <li class="email">
          <label for="@form("email").id">@trans.email()</label>
          <input
          type="text"
          required="required"
          name="@form("email").name"
          id="@form("email").id"
          value="@form("email").value"/>
          @errMsg(form("email"))
        </li>
        <li>
          @base.captcha(form("move"), form("gameId"), captcha)
        </li>
        @errMsg(form)
        <li>
          <button type="submit" class="submit button" data-icon="F"> Email me a link</button>
        </li>
      </ul>
    </form>
  </div>
</div>
}

