@(form: Form[_], captcha: lila.common.Captcha, ok: Option[Boolean] = None)(implicit ctx: Context)

@auth.layout(
title = trans.passwordReset.str(),
zen = true) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lichess_title text">
      @ok.map {
      case true => {<span class="is-green" data-icon="E"></span>}
      case false => {<span class="is-red" data-icon="L"></span>}
      }
      @trans.passwordReset()
    </h1>
    @if(ok.contains(false)) {
    <p>
      Are you sure you even registered your email on lichess?<br />
      It was not required for your registration.
    </p>
    }
    <form action="@routes.Auth.passwordResetApply" method="POST">
      <ul>
        <li class="email">
          <label for="@form("email").id">@trans.email()</label>
          <input
          type="text"
          required="required"
          name="@form("email").name"
          id="@form("email").id"
          value="@form("email").value"/>
          @errMsg(form("email"))
        </li>
        <li>
          @base.captcha(form("move"), form("gameId"), captcha)
        </li>
        @errMsg(form)
        <li>
          <button type="submit" class="submit button text" data-icon="F">@trans.emailMeALink()</button>
        </li>
      </ul>
    </form>
  </div>
</div>
}

