@(form: Form[_], captcha: lila.common.Captcha, ok: Option[Boolean] = None)(implicit ctx: Context)

@auth.layout(
title = trans.passwordReset.txt(),
formCss= true) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lichess_title text">
      @ok.map {
      case true => {<span class="is-green" data-icon="E"></span>}
      case false => {<span class="is-red" data-icon="L"></span>}
      }
      @trans.passwordReset()
    </h1>
    <form class="form3" action="@routes.Auth.passwordResetApply" method="POST">
      @form3.group(form("email"), trans.email())(form3.input(_, typ = "email"))
      @base.captcha(form, captcha)
      @form3.action(form3.submit(trans.emailMeALink(), icon = "F".some))
    </form>
  </div>
</div>
}
