@(u: User, token: String, form: Form[_], ok: Option[Boolean] = None)(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.changePassword.str()}" }

@evenMoreCss = {
@cssTag("user-form.css")
}

@auth.layout(title = title, zen = true) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lichess_title">
      @userLink(u, withOnline = false) - @trans.changePassword()
      @ok.map {
      case true => {<span class="is-green" data-icon="E"></span>}
      case false => {<span class="is-red" data-icon="L"></span>}
      }
    </h1>
    <form action="@routes.Auth.passwordResetConfirmApply(token)" method="POST">
      <input type="hidden" name="@form("token").name" value="@form("token").value" />
      <ul>
        @account.passwdFormField(form("newPasswd1"), trans.newPassword.str())
        @account.passwdFormField(form("newPasswd2"), trans.newPasswordAgain.str())
        <li>
          @errMsg(form)
        </li>
        <li>
          <button type="submit" class="submit button" data-icon="E">
            @trans.apply()
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
}
