@(u: User, token: String, form: Form[_], ok: Option[Boolean] = None)(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.changePassword.txt()}" }

@auth.layout(title = title, formCss = true) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lichess_title text">
      @userLink(u, withOnline = false) - @trans.changePassword()
      @ok.map {
      case true => {<span class="is-green" data-icon="E"></span>}
      case false => {<span class="is-red" data-icon="L"></span>}
      }
    </h1>
    <form class="form3" action="@routes.Auth.passwordResetConfirmApply(token)" method="POST">
      @form3.hidden(form("token"))
      @form3.password(form("newPasswd1"), trans.newPassword.frag())
      @form3.password(form("newPasswd2"), trans.newPasswordAgain.frag())
      @form3.globalError(form)
      @form3.action(form3.submit(trans.changePassword.frag()))
    </form>
  </div>
</div>
}
