@(form: Form[_], captcha: lila.common.Captcha, recaptchaPublicKey: String)(implicit ctx: Context)

@moreJs = {
<script src='https://www.google.com/recaptcha/api.js'></script>
}

@tosLink = {
  <a href="@routes.Page.tos">@trans.termsOfService()</a>
}

@auth.layout(
title = trans.signUp.str(),
moreJs = moreJs,
zen = true) {
<div class="content_box small_box signup">
  <div class="alternative">
    @trans.haveAnAccount()
    <a href="@routes.Auth.login()" class="button" data-icon="F"> @trans.signIn()</a>
  </div>
  <div class="signup_box">
    <h1 class="lichess_title">@trans.signUp()</h1>
    <form action="@routes.Auth.signupPost" method="POST">
      <ul>
        @auth.formFields(form("username"), form("password"), form("email").some, register = true)
        <li>
          @base.captcha(form("move"), form("gameId"), captcha)
        </li>
        @errMsg(form)
        <li data-icon="">&nbsp;
          @trans.computersAreNotAllowedToPlay()<br />
          <small>
            @trans.byRegisteringYouAgreeToBeBoundByOur(tosLink)
          </small>
        </li>
        <li>
          <div class="g-recaptcha" data-sitekey="@recaptchaPublicKey"></div>
        </li>
        <li>
          <button type="submit" class="submit button" data-icon="F"> @trans.signUp()</button>
        </li>
      </ul>
      <input type="hidden" class="referrer" name="_referrer" value="@currentUrl" />
    </form>
  </div>
</div>
}
