@(form: Form[_], recaptcha: lila.security.RecaptchaPublicConfig)(implicit ctx: Context)

@moreJs = {
@jsTag("signup.js")
@if(recaptcha.enabled) {
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
@fingerprintTag
}

@tosLink = {
<a href="@routes.Page.tos">@trans.termsOfService()</a>
}

@auth.layout(
title = trans.signUp.txt(),
moreJs = moreJs) {
<div class="content_box small_box signup">
  <div class="alternative">
    @trans.haveAnAccount()
    <a href="@routes.Auth.login()" class="button" data-icon="F"> @trans.signIn()</a>
  </div>
  <div class="signup_box">
    <h1 class="lichess_title">@trans.signUp()</h1>
    <form id="signup_form" action="@routes.Auth.signupPost" method="POST">
      <ul>
        @auth.formFields(form("username"), form("password"), form("email").some, register = true)
        <input id="signup-fp-input" name="fp" type="hidden" />
        <li data-icon="">&nbsp;
          @trans.computersAreNotAllowedToPlay()<br />
          <small>
            @trans.byRegisteringYouAgreeToBeBoundByOur(tosLink)
          </small>
        </li>
        <li>
          @if(recaptcha.enabled) {
          <button class="g-recaptcha submit button text" data-icon="F" data-sitekey="@recaptcha.key" data-callback='signupSubmit'>@trans.signUp()</button>
          } else {
          <button class="submit button text" data-icon="F">@trans.signUp()</button>
          }
        </li>
      </ul>
    </form>
  </div>
</div>
}
