@()(implicit ctx: Context)
<div class="soclog">
  <a href="@routes.Soclog.start("facebook")" class="facebook text" data-icon="">Login with Facebook</a>
  <a href="@routes.Soclog.start("twitter")" class="twitter text" data-icon="">Login with Twitter</a>
  <a href="@routes.Soclog.start("google")" class="google text" data-icon="">Login with Google+</a>
  <a href="@routes.Soclog.start("vk")" class="vk text" data-icon="">Login with VKontakte</a>
  <a href="@routes.Soclog.start("github")" class="github text" data-icon="">Login with Github</a>
</div>
