@()(implicit ctx: Context)

@auth.layout(
title = "TOR exit node",
zen = true) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lichess_title text" data-icon="2">@trans.cannotLogInFromYourIP()</h1>
    <p>
      @trans.weHaveDetectedThatYouAreUsingTOR()
      <br />
      <br />
      @trans.itIsAGreatIdeaAndWeWillMakeSureYouStayAnonymous()
      <br />
      <br />
      @trans.asAnAnonymousUserYouCanPlayTrainAndUseAllLichessFeatures()
    </p>
  </div>
</div>
}
