@()(implicit ctx: Context)

@auth.layout(
title = "TOR exit node",
zen = true) {
<div class="content_box small_box signup">
  <div class="signup_box">
    <h1 class="lichess_title text" data-icon="2">Cannot login from your IP</h1>
    <p>
      We have detected that you are using TOR to remain anonymous on the Internet.
      <br />
      <br />
      It's a great idea, and we'll make sure you stay Anonymous on lichess as well.
      <br />
      <br />
      As an Anonymous user, you can play, train, and use all lichess features. Enjoy!
    </p>
  </div>
</div>
}
