@(me: User, playing: Boolean)(implicit ctx: Context)
<a id="user_tag" class="toggle toggle_auth link">@me.username</a>
<div class="links dropdown">
  <a href="@routes.User.show(me.username)" class="blank_if_play"><span class="text" data-icon="r">@trans.profile()</span></a>
  @NotForKids {
  <a href="@routes.Message.inbox(page=1)"><span class="text" data-icon="e">@trans.inbox()</span></a>
  }
  <a href="@routes.Pref.form("game-display")"@if(playing){ target="_blank"}><span class="text" data-icon="%">@trans.preferences()</span></a>
  <a href="@routes.Auth.logout"><span class="text" data-icon="w">@trans.logOut()</span></a>
  <span class="sep"></span>
  <a class="status" href="/lag">
    <span class="led"></span>
    <span class="ping hint--left"  data-hint="PING: @trans.networkLagBetweenYouAndLichess()">PING&nbsp;&nbsp;<strong>?</strong>ms</span>
    <span class="server hint--left" data-hint="SERVER: @trans.timeToProcessAMoveOnLichessServer()">SERVER<strong>?</strong>ms</span>
  </a>
</div>
