@(me: User, playing: Boolean)(implicit ctx: Context)
<a id="user_tag" class="toggle toggle_auth link"><span data-icon="u">@me.username</span></a>
<div class="links dropdown">
  <a href="@routes.User.show(me.username)" class="blank_if_play"><span class="text" data-icon="r">@trans.profile()</span></a>
  <a href="@routes.Pref.form"@if(playing){ target="_blank"}><span class="text" data-icon="%">@trans.preferences()</span></a>
  <a href="@routes.Auth.logout"><span class="text" data-icon="w">@trans.logOut()</span></a>
  @if(isGranted(_.StaffForum)) {
  <span class="sep"></span>
  <a href="@routes.ForumCateg.show("staff")">Staff Forum</a>
  <a href="@routes.Mod.log()">Mod log</a>
  <a href="@routes.Report.list()">User reports</a>
  }
  <span class="sep"></span>
  <div class="ping">PING <strong>?</strong> ms</div>
</div>
