@import 'layout';

.coach-edit-picture {
  @extend %image-preview-and-upload;
}

.coach-edit {
  .top {
    > span {
      @extend %flex-between;
      padding: 1em;

      > h1 {
        @extend %roboto;
        margin: 0;
        padding: 0 1em !important;
        font-size: 2rem;
        line-height: 2;
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      > a {
        margin-inline-start: auto;
      }
    }
  }
  .overview {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 var(---box-padding);
  }

  .overview .todo {
    display: none;
    margin-right: 2em;

    h3 {
      margin: 0;
      color: $c-bad;
      font-weight: bold;
    }

    li {
      list-style: disc inside;
    }
  }

  .overview.with-todo .todo {
    @extend %box-radius;

    display: block;
    border-radius: 20px;
    padding: 1rem;
    background: $m-bad_bg--mix-15;
    border: 1px solid $c-error;
    margin-bottom: 2rem;
  }

  .tabs {
    display: flex;
    cursor: pointer;
    margin: 40px 0;
    text-transform: uppercase;

    > div {
      flex: 1 1 100%;
      padding: 10px 0;
      text-align: center;
      position: relative;
    }

    > div.data-count::after {
      padding: 2px 6px;
      font-size: 1.2em;
      height: auto;
      line-height: 1.2em;
      top: 6px;
    }

    > div:hover {
      color: $c-primary;
    }

    > .active {
      color: $c-primary;
      border-bottom: 3px solid $c-primary;
    }
  }

  .panel {
    display: none;
  }

  .panel.active {
    display: block;
  }

  .tagify {
    margin: 0;
  }

  .status {
    opacity: 0;
    @include transition;
    text-align: center;
    color: $c-good;
  }

  .status.saved {
    opacity: 1;
    margin-bottom: 2em;
  }
}
