.coach-list {
  .mselect {
    font-size: 1.2em;
  }

  &__side {
    @extend %page-text;

    text-align: center;
    margin-top: 2rem;

    p {
      margin-top: 1em;
      font-size: 1.1em;
    }
  }

  &__main {
    .coach-widget {
      border-top: $border;
      overflow: hidden;

      &:nth-child(even) {
        background: $c-bg-zebra;
        justify-content: space-between;

        .picture {
          order: 3;
        }
      }

      &:hover {
        background: $m-accent_bg--mix-12;
      }
    }

    @media (max-width: at-most($xx-small)) {
      .rating {
        display: none;
      }
    }
  }
}
