$c-msg: $c-secondary;
$msg-top-height: 4em;

@import 'side';
@import 'convo';

body {
  --app-height: 100vh;
  overflow: hidden;
}

%msg-input-focus {
  outline: 0;
  border-color: $c-bg-zebra2;

  &:focus {
    border-color: mix($c-msg, $c-bg-box, 50%);
  }
}

.msg-app {
  display: flex;
  flex-flow: row nowrap;
  height: calc(var(--app-height) - var(--site-header-height));

  @include breakpoint($mq-main-margin) {
    height: calc(var(--app-height) * 0.98 - var(--site-header-height));
  }

  overflow: hidden;

  &__search {
    h2 {
      font-size: 1.3em;
      font-weight: bold;
      margin: 1.2em 0 0.8em 2em;
      text-transform: uppercase;
      color: $c-brag;
    }
  }
}
