@(rel: lila.relay.Relay, content: Option[lila.relay.Content], form: Form[_])(implicit ctx: Context)

@relay.layout(
title = rel.baseName,
side = none,
chat = none,
underchat = none) {
<div id="relay_content">
  <div class="content_box relay_box" data-icon="m">
    <h1>@rel.baseName</h1>
    @content.map { c =>
    <p class="edited">Last edited on @showDate(c.updatedAt) by @userIdLink(c.updatedBy.some).</p>
    }
    <form class="plain create content_box_content" action="@routes.Relay.contentPost(rel.id, rel.slug)" method="POST">
      <p class="help">
        Please describe the event in a nice and informative way.<br />
        <strong>Note that the same description is used for all the rounds of an event.</strong><br />
        Also, beware of concurrent editing. Synchronize on #lichess.
      </p>
      @form.globalError.map { error =>
      <p class="error">@error.message</p>
      }
      <table>
        <tr class="help">
          <th colspan="2">
            Short description, displayed on homepage and <a href="@routes.Relay.index">the event list</a>.<br />
            One sentence should do. Do <strong>not</strong> state the event name in here, it will already be displayed.
          </th>
        </tr>
        <tr>
          <th><label for="@form("short").id">Short description</label></th>
          <td>
            @base.input(form("short"))
            @errMsg(form("short"))
          </td>
        </tr>
        <tr class="help">
          <th colspan="2">
            Long description, displayed on <a href="@routes.Relay.show(rel.id, rel.slug)">the event page</a>.<br />
            One or two paragraphs. Maybe links to official tournament pages if any.
          </th>
        </tr>
        <tr>
          <th><label for="@form("long").id">Long description</label></th>
          <td>
            <textarea name="@form("long").name">@form("long").value</textarea>
            @errMsg(form("long"))
          </td>
        </tr>
        <tr class="help">
          <th colspan="2">
            Private notes for content editors.<br />
            Users will not see this.
          </th>
        </tr>
        <tr>
          <th><label for="@form("notes").id">Private notes</label></th>
          <td>
            <textarea name="@form("notes").name">@form("notes").value</textarea>
            @errMsg(form("notes"))
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <button type="submit" class="submit button text" data-icon="E">Save</button>
            <a href="@routes.Relay.show(rel.id, rel.slug)">Cancel</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
}
