@(relays: List[lila.relay.Relay], contents: List[lila.relay.Content])(implicit ctx: Context)

@side = {
<div class="side">
  <div class="side_box padded">
    Real-time worldwide chess tournaments, based on
    <a class="fics" href="http://www.freechess.org/Events/Relay/2015/">FICS relay</a>
    <br />
    <p class="beta">BETA</p>
  </div>
</div>
}

@relay.layout(
title = "Watch Chess events",
side = side.some,
openGraph = Map(
'type -> "website",
'title -> "Watch chess events",
'site_name -> "lichess.org",
'url -> s"$netBaseUrl${routes.Relay.index.url}",
'description -> "Real-time relay of international chess tournaments")) {
<div id="relay_list">
  <div class="content_box relay_box no_padding" data-icon="n">
    <h1>
      Watch Chess events
      <a class="atom" href="@routes.Relay.atom" data-icon="3"></a>
    </h1>
    <table class="slist">
      <thead>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        @relays.map { rel =>
        <tr class="scheduled">
          <td>@showDate(rel.date)</td>
          <td>
            <a class="name" href="@routes.Relay.show(rel.id, rel.slug)">
              <strong>@rel.baseName</strong> - <em>@rel.extName</em>
            </a>
            @contents.find(_ matches rel).flatMap(_.short).map { short =>
            <span class="short">@escape(short)</span>
            }
          </td>
          <td>
            @if(rel.status == lila.relay.Relay.Status.Finished) {
            @trans.finished()
            } else {
            <a class="ongoing" href="@routes.Relay.show(rel.id, rel.slug)">
              @rel.activeGames.size/@rel.games.size playing
            </a>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
