@(relays: Paginator[lila.relay.Relay.WithContent])(implicit ctx: Context)

@side = {
<div class="side">
  <div class="side_box padded">
    Real-time worldwide chess tournaments, powered by
    <a class="fics" href="http://www.freechess.org/Events/Relay/">FICS</a>
    <br />
    <p class="beta">BETA</p>
  </div>
</div>
}
@moreJs = {
@jsTag("vendor/jquery.infinitescroll.min.js")
}

@relay.layout(
title = "Watch Chess events",
side = side.some,
moreJs = moreJs,
openGraph = Map(
'type -> "website",
'title -> "Watch chess events",
'site_name -> "lichess.org",
'url -> s"$netBaseUrl${routes.Relay.index.url}",
'description -> "Real-time relay of international chess tournaments")) {
<div id="relay_list">
  <div class="content_box relay_box no_padding" data-icon="n">
    <h1>
      Watch Chess events
      <a class="atom" href="@routes.Relay.atom" data-icon="3"></a>
    </h1>
    <table class="slist">
      <thead>
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="infinitescroll">
        @relays.nextPage.map { next =>
        <tr><th class="pager none">
            <a href="@routes.Relay.index?page=@next">Next</a>
        </th></tr>
        <tr></tr>
        }
        @relays.currentPageResults.map { rel =>
        <tr class="paginated_element">
          <td>@showDate(rel.relay.date)</td>
          <td>
            <a class="name" href="@routes.Relay.show(rel.relay.id, rel.relay.slug)">
              <strong>@rel.relay.baseName</strong> - <em>@rel.relay.extName</em>
            </a>
            @rel.content.flatMap(_.short).map { short =>
            <span class="short">@escape(short)</span>
            }
          </td>
          <td>
            @if(rel.relay.finished) {
            @trans.finished()
            } else {
            <a class="ongoing" href="@routes.Relay.show(rel.relay.id, rel.relay.slug)">
              @rel.relay.activeGames.size/@rel.relay.games.size playing
            </a>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
