@(sel: lila.relay.Relay.Selection)(implicit ctx: Context)

@sublist(name: String, relays: List[lila.relay.Relay.WithStudyAndLiked]) = {
@if(relays.nonEmpty) {
<section>
  <h2>@name</h2>
  <div class="list">
    @relays.map { r =>
    <div class="relay">
      @widget(r)
    </div>
    }
  </div>
</section>
}
}

@base.layout(
title = "Live tournament broadcasts",
moreCss = cssTag("relay-list.css")) {
<div class="content_box no_padding relays">
  <div class="top">
    <h1>Live tournament broadcasts</h1>
    @if(isGranted(_.Beta)) {
    @newForm()
    }
  </div>
  @sublist("Ongoing", sel.started)
  @sublist("Upcoming", sel.created)
  @sublist("Completed", sel.closed)
</div>
}
