@(fresh: Option[lila.relay.Relay.Fresh], pager: Paginator[lila.relay.Relay.WithStudyAndLiked], url: Call)(implicit ctx: Context)

@sublist(name: String, relays: Seq[lila.relay.Relay.WithStudyAndLiked]) = {
@if(relays.nonEmpty) {
<section>
  <h2>@name</h2>
  <div class="list">
    @relays.map { r =>
    <div class="relay">
      @widget(r)
    </div>
    }
  </div>
</section>
}
}

@title = @{ "Live tournament broadcasts [BETA]" }

@base.layout(
title = title,
moreCss = cssTag("relay-list.css"),
moreJs = infiniteScrollTag) {
<div class="content_box no_padding relays">
  <div class="top">
    <h1>@title</h1>
    @newForm()
  </div>
  @fresh.map { f =>
  @sublist("Ongoing", f.started)
  @sublist("Upcoming", f.created)
  }
  <section>
    <h2>Completed</h2>
    <div class="list infinitescroll">
      @pager.currentPageResults.map { r =>
      <div class="relay paginated_element">
        @widget(r)
      </div>
      }
      @pager.nextPage.map { np =>
      <div class="pager none">
        <a rel="next" href="@addQueryParameter(url.url, "page", np)">Next</a>
      </div>
      }
    </div>
  </section>
</div>
}.toHtml
