@(form: Form[_])(implicit ctx: Context)

@form3.group(form("name"), Html("Event name"))(form3.input(_, required = true))
@form3.group(form("description"), Html("Event description"))(form3.textarea(_, rows = 6.some, required = true))

@if(isGranted(_.Relay)) {
@form3.checkbox(form("official"), Html("Official lichess broadcast"), help = Html("Feature on /broadcast - for admins only").some)
} else { @form3.hidden(form("official")) }
@form3.group(form("syncUrl"), Html("Source URL"))(form3.input(_, typ = "url", required = true))
@form3.split {
@form3.group(form("startsAt"), Html("Start date <strong>UTC</strong>"), help = Html("Optional, if you know when the event starts").some, half = true)(form3.flatpickr(_))
@if(isGranted(_.Relay)) {
@form3.group(form("throttle"), Html("Throttle in seconds"), help = Html("Optional, to manually throttle requests. Min 2s, max 60s.").some, half = true)(form3.input(_, typ = "number"))
}
}
@form3.actions {
<a href="@routes.Relay.index(1)">@trans.cancel()</a>
@form3.submit(trans.apply())
}
