@(form: Form[_])(implicit ctx: Context)

@base.form.group(form("name"), Html("Event name")) {
@base.form.input(form("name"), required = true)
}
@defining(form("description")) { field =>
@base.form.group(field, Html("Event description")) {
<textarea class="description" name="@field.name" id="@field.id" style="height: 7em" required>@field.value</textarea>
}
}

@if(isGranted(_.Relay)) {
@base.form.group(
form("official"),
Html("Official lidraughts broadcast"),
klass = "checkbox",
help = Html("Feature on /broadcast - for admins only").some) {
<input type="checkbox" name="@form("official").name" @if(form("official").value){checked} value="true" />
}
} else { <input type="hidden" name="@form("official").name" value="false" /> }
@base.form.group(form("syncUrl"), Html("Source URL")) {
@base.form.input(form("syncUrl"), typ = "url", required = true)
}
@base.form.group(form("syncType"), Html("Source format")) {
@base.form.select(form("syncType"), lidraughts.relay.RelayForm.syncTypes)
}
@base.form.group(form("startsAt"), Html("Start date <strong>UTC</strong>"), help = Html("Optional, if you know when the event starts").some) {
@base.form.flatpickr(form("startsAt"))
}

@base.form.submit()
