@(povs: List[Pov])(implicit ctx: Context)

@player(rel: lila.game.Relay, color: chess.Color) = {
@defining(rel.player(color)) { p =>
@p.name
<br />
@if(color.white) {
@p.title @p.rating
} else {
@p.rating @p.title
}
<br />
}
}


@povs.flatMap(p => p.game.relay.map(p -> _)).take(9).map {
case (pov, rel) => {
<div>
  <a href="@routes.Round.watcher(pov.gameId, pov.color.name)">
    @gameFen(pov, withLink = false, withTitle = false, withLive = false)
  </a>
  <div class="vstext clearfix">
    <div class="left">
      @player(rel, chess.White)
    </div>
    <div class="right">
      @player(rel, chess.Black)
    </div>
    <div class="result">@gameResult(pov.game)</div>
  </div>
</div>
}
}
