@(r: lila.relay.Relay, s: lila.study.Study, data: lila.relay.JsonView.JsData, chatOption: Option[lila.chat.UserChat.Mine], socketVersion: lila.socket.Socket.SocketVersion, streams: List[lila.streamer.Stream])(implicit ctx: Context)

@moreCss = {
@cssTag("analyse.css")
@cssTag("study.css")
@cssTag("relay.css")
@cssTag("chat.css")
}

@moreJs = {
@jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.relay = {
relay: @safeJson(data.relay),
study: @safeJson(data.study),
data: @safeJson(data.analysis),
i18n: @board.userAnalysisI18n(),
tagTypes: '@lila.study.PgnTags.typesToString',
userId: @jsUserId,
chat: @jsOrNull(chatOption map { c =>
chat.json(
c.chat,
name = trans.chatRoom.txt(),
timeout = c.timeout,
writeable = ctx.userId.??(s.canChat),
public = false,
localMod = ctx.userId.??(s.canContribute))
}),
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
},
socketUrl: "@routes.Relay.websocket(s.id.value, apiVersion.value)",
socketVersion: @socketVersion.value
};
}
}

@side = {
<div class="side_box study_box"></div>
@streams.map { s =>
<a href="@routes.Streamer.show(s.streamer.userId)" class="context-streamer text side_box" data-icon="">@usernameOrId(s.streamer.userId) is streaming</a>
}
}

@base.layout(
title = r.name,
side = side.some,
chat = chat.html.some,
underchat = views.html.game.bits.watchers.some,
moreCss = moreCss,
moreJs = moreJs,
chessground = false,
zoomable = true,
openGraph = lila.app.ui.OpenGraph(
title = r.name,
url = s"$netBaseUrl${routes.Relay.show(r.slug, r.id.value).url}",
description = shorten(r.description, 152)).some
) {
<div class="analyse cg-512">
  @board.domPreload(none)
</div>
}
