@(rel: lila.relay.Relay, content: Option[lila.relay.Content], socketVersion: Int, data: play.api.libs.json.JsObject, chat: Option[lila.chat.UserChat])(implicit ctx: Context)

@side = {
<div class="side">
  <div class="side_box padded">
    @content.flatMap(_.short).map { short =>
    <p class="short">@escape(short)</p>
    }
    <a class="text" data-icon="I" href="@routes.Relay.index">Back to events list</a>
    @if(isGranted(_.RelayContent)) {
    <br />
    <a href="@routes.Relay.contentForm(rel.id, rel.slug)" class="text" data-icon="m">Edit content</a>
    }
    <br />
    <p class="beta">BETA</p>
  </div>
</div>
}

@underchat = {
<div class="watchers" data-icon="v">
  <span class="list inline_userlist"></span>
</div>
}

@moreJs = {
@jsAt(s"compiled/lichess.relay${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.relay = {
data: @Html(J.stringify(data)),
i18n: @jsI18n(),
socketVersion: @socketVersion
};
}
}

@relay.layout(
title = rel.name,
side = side.some,
chat = chat.map(c => base.chat(c, trans.chatRoom.str())),
underchat = underchat.some,
moreJs = moreJs,
chessground = false,
openGraph = Map(
'type -> "website",
'title -> rel.name,
'site_name -> "lichess.org",
'url -> s"$netBaseUrl${routes.Relay.show(rel.id, rel.slug).url}",
'description -> ~content.flatMap(_.short))) {
@content.flatMap(_.long).map { long =>
<div id="relay_description">@autoLink(long)</div>
}
<div id="relay"></div>
}
