@(r: lidraughts.relay.Relay, s: lidraughts.study.Study, data: lidraughts.relay.JsonView.JsData, chatOption: Option[lidraughts.chat.UserChat.Mine], socketVersion: lidraughts.socket.Socket.SocketVersion, streams: List[lidraughts.streamer.Stream])(implicit ctx: Context)

@moreCss = {
@cssTag("analyse.css")
@cssTag("study.css")
@cssTag("relay.css")
@cssTag("chat.css")
}

@moreJs = {
@jsAt(s"compiled/lidraughts.analyse${isProd??(".min")}.js")
@embedJs {
lidraughts = lidraughts || {};
lidraughts.relay = {
relay: @safeJsonHtml(data.relay),
study: @safeJsonHtml(data.study),
data: @safeJsonHtml(data.analysis),
i18n: @board.userAnalysisI18n(),
tagTypes: '@lidraughts.study.PdnTags.typesToString',
userId: @jsUserId,
chat: @jsOrNull(chatOption map { c =>
chat.json(
c.chat,
name = trans.chatRoom.txt(),
timeout = c.timeout,
writeable = ctx.userId.??(s.canChat),
public = false,
localMod = ctx.userId.??(s.canContribute))
}),
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
},
socketUrl: "@routes.Relay.websocket(s.id.value, apiVersion.value)",
socketVersion: @socketVersion.value
};
}
}

@side = {
<div class="side_box study_box"></div>
@streams.map { s =>
@* <a href="@routes.Streamer.show(s.streamer.userId)" class="context-streamer text side_box" data-icon="">@usernameOrId(s.streamer.userId) is streaming</a> *@
}
}

@base.layout(
title = r.name,
side = side.some,
chat = chat.html.some,
underchat = Some(views.html.game.bits.watchers),
moreCss = moreCss,
moreJs = moreJs,
draughtsground = false,
zoomable = true,
csp = defaultCsp.withTwitch.some,
openGraph = lidraughts.app.ui.OpenGraph(
title = r.name,
url = s"$netBaseUrl${routes.Relay.show(r.slug, r.id.value).url}",
description = shorten(r.description, 152)).some
) {
<div class="analyse cg-512">
  @board.bits.domPreload(none).toHtml
</div>
}.toHtml
