@(r: lila.relay.Relay.WithStudyAndLiked)(implicit ctx: Context)
<h2>
  <i class="icon" data-icon=""></i>
  <strong>@r.relay.name</strong>
  <span>@r.relay.description</span>
</h2>
<div class="body">
  <bit><i data-icon="@if(r.liked){}else{}"></i>&nbsp;@r.relay.likes.value •</bit>
  <bit>@trans.by(usernameOrId(r.relay.ownerId))</bit>
  <bit>@momentFromNow(r.relay.startsAt | r.relay.createdAt)</bit>
  @*
  @defining(r.relay.topPlayers(3)) { players =>
  @if(players.nonEmpty) {
  <bit>@players.map(_.fullName).mkString(", ")</bit>
  }
  }*@
  <
</div>
