@(form: Form[_], reqUser: Option[User], reqTitle: Option[String], reqMod: Boolean, canMessage: Boolean, oldEnough: Boolean)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@message.layout(title = trans.composeMessage.txt()) {
<main class="message-new box box-pad">
  <h1>@trans.composeMessage()</h1>
  @reqUser.ifFalse(canMessage).map { u =>
  <br /> <br /> <hr /> <br />
  <p>Sorry, @u.username doesn't accept new messages.</p>
  }.getOrElse {
  @if(!oldEnough) {
  <br><br><hr><br.
  <p>Sorry, you cannot start conversations yet.</p>
  } else {
  <form class="form3" action="@routes.Message.create()@reqUser.map(u => "?username=" + u.username)" method="post">
    @form3.group(form("username"), trans.recipient.frag()) { f =>
    @reqUser.map { user =>
    @userLink(user)
    @form3.hidden(f)
    }.getOrElse {
    <input
    type="text"
    class="form-control user-autocomplete"
    required="required"
    name="@f.name"
    id="@form3.id(f)"
    value="@f.value"
    autofocus="1"
    data-tag="span" />
    }
    }

    @if(isGranted(_.ModMessage)) {
    @form3.checkbox(form("mod"), frag("Send as mod"))
    @form3.group(form("preset"), frag("Preset")) { f =>
    @form3.select(f, Nil)
    }
    @embedJs { window.lichess_mod_presets = @toJsonHtml(lila.message.ModPreset.asJson); }
    }

    @form3.group(form("subject"), trans.subject.frag()) { f =>
    <input
    class="form-control"
    type="text"
    required="required"
    minlength=3
    maxlength=100
    name="@f.name"
    id="@form3.id(f)"
    value="@f.value.filter(_.nonEmpty).orElse(reqTitle)"
    @if(reqUser.isDefined) { autofocus="1" } />
    }
    @form3.group(form("text"), frag("Message"), klass = "message-text") { f =>
    @form3.textarea(f)(*.required := true)
    }
    @form3.actionsHtml {
    <a class="cancel" href="@routes.Message.inbox()">@trans.cancel()</a>
    <button class="button text" data-icon="E" type="submit">@trans.send()</button>
    }
  </form>
  }
  }
</div>
}
