@(title: String)(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("message.css")
}

@moreJs = {
@jsTag("vendor/jquery.infinitescroll.min.js")
@jsTag("message.js")
@jsTag("embed-analyse.js")
}

@side = {
<div class="sidebar">
  <a href="@routes.Message.inbox(1)" class="goto_inbox">@trans.inbox()</a>
  <a href="@routes.Message.form" class="goto_compose button text" data-icon="m">@trans.composeMessage()</a>
</div>
}

@base.layout(
title = title,
moreCss = moreCss,
moreJs = moreJs,
side = side.some)(body)
