@(me: User, threads: List[lila.message.Thread])(implicit ctx: Context)

@if(threads.nonEmpty) {
@threads.distinct.map { thread =>
<div class="notification message_reminder">
  <div class="actions">
    <a class="action mark_as_read" href="@routes.Message.markAsRead(thread.id)" data-icon="L"></a>
  </div>
  <a class="block" href="@routes.Message.thread(thread.id)">
    <span class="message_infos" data-icon="c">
      @userIdSpanMini(thread.otherUserId(me))
      • <span class="title">@thread.name</span>
      <span class="content">
        @thread.firstPostUnreadBy(me).map(p => shorten(p.text, 100))
      </span>
    </span>
  </a>
</div>
}
}
