@(thread: lila.message.Thread, replyForm: Option[Form[_]], blocks: Boolean)(implicit ctx: Context, me: User)

@message.layout(title = thread.name) {
<main class="message-thread@if(thread.asMod){ mod} box box-pad">
  <div class="box__top">
    <h1><a href="@routes.Message.inbox(1)" data-icon="I" class="text"></a>@thread.nonEmptyName</h1>
    <form action="@routes.Message.delete(thread.id)" method="post">
      <button type="submit" class="button button-empty button-red confirm">Delete</button>
    </form>
  </div>

  @thread.posts.map { post =>
  <article class="message-thread__message embed_analyse" id="message_@post.id">
    <div class="infos">
      <div>
        @userIdLink(thread.visibleSenderOf(post), none)
        <i data-icon="H"></i>
        @userIdLink(thread.visibleReceiverOf(post), "inline".some)
      </div>
      @momentFromNow(post.createdAt)
    </div>
    <div class="message-thread__message__body">@richText(post.text)</div>
  </article>
  }

  <div class="message-thread__answer" id="bottom">
    @if(blocks) {
    <p class="end">@userIdLink(thread.visibleOtherUserId(me).some) blocks you. You cannot answer.</p>
    } else {
    @if(!thread.isVisibleByOther(me) && !me.troll) {
    <p class="end">
      @userIdLink(thread.visibleOtherUserId(me).some) has closed this thread.
      @if(!thread.asMod){
      <a href="@routes.Message.form?user=@thread.otherUserId(me)" class="button">Create a new one</a>
      }
    </p>
    } else {
    @replyForm.map { form =>
    <form action="@routes.Message.answer(thread.id)" method="post">
      <div class="field_body">
        @defining(form("text")) { f =>
        <textarea required="required" name="@f.name" id="@form3.id(f)">@f.value</textarea>
        @errMsg(f)
        }
      </div>
      <div class="actions">
        <a class="cancel" href="@routes.Message.inbox(1)">@trans.cancel()</a>
        <button class="button text" data-icon="E" type="submit">@trans.send()</button>
      </div>
    </form>
    }
    }
    }
  </div>
</div>
}
