.bot-game__opponent {
  &__header {
    @extend %flex-column;
    padding: 0.8em 0.6em 0.8em 1em;
  }

  &__image {
    max-height: calc(var(---cg-width) / 3);
    max-width: 50%;
    aspect-ratio: 1;
    line-height: 0;
  }

  &__name {
    font-weight: normal;
    color: var(--bot-color);
    font-size: 1.3em;
    @media (min-width: at-least($xx-small)) {
      font-size: 1.6em;
    }
    white-space: nowrap;
  }
  &__rating {
    color: $c-font-dim;
  }

  &__description {
    background: $c-bg-zebra;
    padding: 0.8em 0.6em 0.8em 1em;
  }
}
