.bot-game__opponent {
  @extend %flex-column;

  &__head {
    @extend %flex-center;
    gap: 2em;
  }

  &__image {
    flex: 0 0 auto;
    max-height: calc(var(---cg-width) / 3);
    max-width: 60%;
    aspect-ratio: 1;
    margin-top: calc(var(---cg-width) / -10);
    line-height: 0;
  }

  &__description {
    background: $c-bg-zebra;
    padding: 0.8em 0.6em 0.8em 0.8em;
  }

  &__name {
    @include line-clamp(2);
    margin: 0.3em 0;
    font-weight: normal;
    color: $c-brag;
    font-size: 1.6em;
    text-align: center;
  }
  &__rating {
    color: $c-font-dim;
  }
}
