.bot-game__table {
  @extend %box-neat;
  border-radius: $box-radius-size 0 $box-radius-size 0;
  background: $c-bg-box;
}
.bot-game__nav {
  @extend %box-shadow;
  position: relative;
  $buttons-height: 2.5rem;
  flex: 0 0 $buttons-height;
  display: flex;
  justify-content: stretch;
  background: $c-bg-zebra;
  font-size: 0.9em;
  .fbt,
  .noop {
    flex: 0 0 calc(100% / 6);
    text-align: center;
    height: $buttons-height;
    line-height: calc($buttons-height - 0.1rem);
  }
  .board-menu {
    @include mq-at-least-col2 {
      bottom: $buttons-height;
      border-radius: $box-radius-size $box-radius-size 0 0;
      border-bottom: 2px solid $c-secondary;
    }
  }
}
.bot-game__moves {
  @include prevent-select;
  height: 8em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;

  /* required by autoScroll */
  overflow-y: auto;
  align-content: flex-start;
  will-change: scroll-position;
  line-height: 1.7;
  font-size: 1.1em;

  turn {
    flex: 0 0 16.666%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $c-bg-zebra;
  }

  move {
    flex: 0 0 41.666%;
    padding-inline-start: 0.7em;
    cursor: pointer;

    &:hover {
      background: $c-primary;
      background: hsl(from var(--bot-color) h s calc(l - 10) / 0.8);
      color: $c-over;
    }

    &.current {
      font-weight: bold;
      background: $m-primary_bg--mix-20;
      background: hsl(from var(--bot-color) h calc(s - 20) calc(l - 10) / 0.5);
      color: $c-font-clear;
    }
  }

  .result-wrap {
    width: 100%;
    text-align: center;
  }

  .result {
    border-top: $border;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0 3px 0;
    margin: 0;
  }

  .status {
    font-style: italic;
    margin-bottom: 0.5em;
  }
}
.bot-game__actions {
  @extend %flex-between;
  button {
    @extend %button-none;
  }
  .bot-game__close,
  .bot-game__restart {
    font-size: 0.9em;
    padding: 0.7em 1.2em;
  }
  .bot-game__rematch {
    width: 100%;
    background: $m-primary_bg--mix-70;
    color: $c-over;
    padding: 1em 2em;
    font-size: 1.5em;
    &:hover {
      background: $c-primary;
    }
  }
}

.bot-game .material {
  padding-inline-end: 1px;
  padding-block-start: 3px;

  mpiece {
    width: 20px;
    height: 20px;

    &.pawn {
      margin-inline-start: -10px;
    }
  }
  score {
    margin-top: -2px;
  }
}
