@()(implicit ctx: Context)

@moreCss = {
@cssTag("explorer.css")
}

@moreJs = {
@jsAt(s"compiled/lichess.explorer${isProd??(".min")}.js")
@embedJs {
LichessExplorer(document.getElementById('opening_explorer'), {});
}
}

@base.layout(
title = trans.openingExplorer.str(),
moreJs = moreJs,
moreCss = moreCss,
chessground = false,
openGraph = lila.app.ui.OpenGraph(
title = "Chess opening explorer",
url = s"$netBaseUrl${routes.Explorer.home.url}",
description = "Explore chess openings played on lichess.org").some) {
<div id="opening_explorer" class="cg-512" data-asset-url="@assetBaseUrl"></div>
}
