@use 'pkg:common/abstract/functions';

i.practice {
  background: functions.img-url('practice/help.svg');
  background-size: cover;
}

.ptQ1LLvm {
  background-image: functions.img-url('practice/backstab.svg');
}

.E1lqtqFt {
  background-image: functions.img-url('practice/arrowed.svg');
}

.xebrDvFe {
  background-image: functions.img-url('practice/key.svg');
}

.A4ujYOer {
  background-image: functions.img-url('practice/push.svg');
}

.\39 ogFv8Ac {
  background-image: functions.img-url('practice/voodoo-doll.svg');
}

.Qj281y1p {
  background-image: functions.img-url('practice/trident.svg');
}

.tuoBxVE5 {
  background-image: functions.img-url('practice/pierced-body.svg');
}

.BJy6fEDf {
  background-image: functions.img-url('practice/stone-pile.svg');
}

.Rg2cMBZ6 {
  background-image: functions.img-url('practice/stone-spear.svg');
}

.fE4k21MW {
  background-image: functions.img-url('practice/pocket-bow.svg');
}

.\38 yadFPpU {
  background-image: functions.img-url('practice/sword-in-stone.svg');
}

.PDkQDt6u {
  background-image: functions.img-url('practice/catapult.svg');
}

.\39 6lij7wh {
  background-image: functions.img-url('practice/musket.svg');
}

.o734CNqp {
  background-image: functions.img-url('practice/breaking-chain.svg');
}

.\39 cKgYrHb {
  background-image: functions.img-url('practice/cement-shoes.svg');
}

.MnsJEWnI {
  background-image: functions.img-url('practice/boxing-glove-surprise.svg');
}

.ITWY4GN2 {
  background-image: functions.img-url('practice/two-shadows.svg');
}

.s5pLU7Of {
  background-image: functions.img-url('practice/trojan-horse.svg');
}

.g1fxVZu9 {
  background-image: functions.img-url('practice/bolt-shield.svg');
}

.RUQASaZm {
  background-image: functions.img-url('practice/rogue.svg');
}

.\39 c6GrCTk {
  background-image: functions.img-url('practice/siege-tower.svg');
}

.Z1DKk4Rl {
  background-image: functions.img-url('practice/stone-crafting.svg');
}

.ByhlXnmM {
  background-image: functions.img-url('practice/ghost-ally.svg');
}

.pt20yRkT {
  background-image: functions.img-url('practice/stone-tower.svg');
}

.MkDViieT {
  background-image: functions.img-url('practice/guarded-tower.svg');
}
