@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

// Colors
$black: #000 !default;
$light_gray: #b0b0b0 !default;
$white: #fff !default;
$orange: #d85000 !default;
$darkred: #A00000 !default;
$aqua: #44a0b0 !default;