@import "variables";

div.game_row {
  display: block;
  padding: 1.4em 20px;
  height: 224px;
  line-height: 1.6em;
  border-bottom: 1px solid #eaeaea;
  position: relative;

  &:nth-child(odd) {
    background: #f4f4f4;
  }

  div.infos span{
    &.win {
      color: #00AA00;
    }
    &.loss {
      color: #AA0000;
    }
  }

  a.go_analyse {
    position: absolute;
    bottom: 16px;
    right: 25px;
    text-decoration: none;
  }

  table td {
    padding: 4px 0;
  }

  span {
    &.color {
      line-height: 16px;
      display: block;
      margin-right: 1em;
    }
    &.white {
      background-position: 0 -240px;
    }
    &.black {
      background-position: 0 -256px;
    }
  }

  .bookmark {
    margin-right: 26px;
  }

}

div.game_list {
  &.realtime {
    margin-top: 1.4em;

    > div {
      float: left;
      margin: 0px 12px 12px;
    }

    div.vstext {
      font-size: 11.5px;
      text-align: center;
      width: 224px;
      overflow: hidden;
      white-space: nowrap;
      margin-top: 5px;
    }
  }
}

div.lmcs {
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url(../images/sprite_mini3.png);

  &.white {
    background: $white;
  }
  &.black {
    background: #cacaca;
  }
  &.moved {
    background-image: url(../images/sprite_mini3.png);
    background-position: -168px 0;
  }
  &.pawn.white {
    background-position: 0 0;
  }
  &.bishop.white {
    background-position: -28px 0;
  }
  &.knight.white {
    background-position: -56px 0;
  }
  &.rook.white{
    background-position: -84px 0;
  }
  &.queen.white{
    background-position: -112px 0;
  }
  &.king.white{
    background-position: -140px 0;
  }
  &.pawn.black{
    background-position: 0px bottom;
  }
  &.bishop.black{
    background-position: -28px bottom;
  }
  &.knight.black{
    background-position: -56px bottom;
  }
  &.rook.black{
    background-position: -84px bottom;
  }
  &.queen.black{
    background-position: -112px bottom;
  }
  &.king.black{
    background-position: -140px bottom;
  }
}

.mini_board {
  width: 224px;
  height: 224px;
  position: relative;
  display: block;
  @include box-shadow(0 0 5px #666);
}
div.all_games a.mini_board {
  float: left;
  margin: 0 20px 20px 10px;
}



