div.signup_box {
  h1 {
    margin-bottom: 2em;
  }

  p.explanation {
    font-size: 1.2em;
    margin-bottom: 1em;

    em {
      font-style: italic;
    }
  }

  .alternative {
    font-size: 0.8em;
  }
}

.content_box form {
  font-size: 1.3em;

  li {
    list-style: none;
    display: block;
    margin: 1em 0 1em 0;
    position: relative;
  }

  label {
    float: left;
    display: block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    margin-top: 2px;
  }

  .username input, .password input {
    width: 200px;
    padding: 0 3px;
    border: 1px solid #D4D4D4;
    padding: 3px 5px;
  }

  input.submit {
    margin-left: 160px;
    margin-right: 20px;
    padding: 3px 1em;
  }
}

/* Errors */
form .error {
  margin-left: 160px;
  color: red;
}

div.checkmateCaptcha {
  margin-top: 2em;

  div.checkmateFen {
    margin-left: 0;
  }

  label {
    width: 250px;
    text-align: left;
  }
}
