@(listMenu: lila.game.ListMenu, form: Form[_])(implicit ctx: Context)

@import lila.search.Query

@game.layout(
title = trans.advancedSearch.str(),
menu = game.sideMenu(listMenu, "search").some) {
<div class="content_box">
  <h1 class="title">@trans.advancedSearch()</h1>
  <form class="search_form" action="@routes.Search.form()" method="get">
    <table>
      <tr>
        <th>
          <label for="@form("usernames").id">Players</label>
        </th>
        <td>
          <input
          type="text"
          value="@form("usernames").value"
          name="@form("usernames").name"
          id="@form("usernames").id" />
        </td>
        <th>Type up to two usernames</th>
      </tr>
      <tr>
        <th>
          <label for="@form("variant").id">@trans.variant()</label>
        </th>
        <td>
          @select(form("variant"), Query.variants, "Any variant")
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("mode").id">@trans.mode()</label>
        </th>
        <td>
          @select(form("mode"), Query.modes, "Casual or Rated")
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("status").id">Result</label>
        </th>
        <td>
          @select(form("status"), Query.statuses, "Any result")
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("opening").id">@trans.opening()</label>
        </th>
        <td>
          @select(form("opening"), Query.openings, "Any opening")
        </td>
      </tr>
      <tr>
        <th>
          <label>Number of turns</label>
        </th>
        <td>
          From @select(form("turnsMin"), Query.turns, "Any number of turns")
          To @select(form("turnsMax"), Query.turns, "Any number of turns")
        </td>
      </tr>
      <tr>
        <th>
          <label>Players ELO</label>
        </th>
        <td>
          From @select(form("eloMin"), Query.averageElos, "Any ELO")
          To @select(form("eloMax"), Query.averageElos, "Any ELO")
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("hasAi").id">Opponent</label>
        </th>
        <td>
          @select(form("hasAi"), Query.hasAis, "Human or Computer")
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("aiLevel").id">Stockfish level</label>
        </th>
        <td>
          @select(form("aiLevel"), Query.aiLevels, "Any Stockfish level")
        </td>
      </tr>
      <tr>
        <th>
          <label>Duration</label>
        </th>
        <td>
          From @select(form("durationMin"), Query.durations, "Any duration")
          To @select(form("durationMax"), Query.durations, "Any duration")
        </td>
      </tr>
      <tr>
        <th>
          <label>Date</label>
        </th>
        <td>
          From @select(form("dateMin"), Query.dates, "Any date")
          To @select(form("dateMax"), Query.dates, "Any date")
        </td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input type="submit" class="submit" value="Search" />
        </td>
      </tr>
    </table>
  </form>
</div>
}
