@(form: Form[_], paginator: Option[Paginator[Game]] = None, nbGames: Int)(implicit ctx: Context)

@import lila.gameSearch.{ Query, Sorting }

@moreCss = {
@cssTag("search.css")
}
@moreJs = {
@jsTag("search.js")
@jsTag("vendor/jquery.infinitescroll.min.js")
}

@base.layout(
title = trans.advancedSearch.str(),
moreJs = moreJs,
moreCss = moreCss,
openGraph = lila.app.ui.OpenGraph(
title = s"Search in ${nbGames.localize} chess games",
url = s"$netBaseUrl${routes.Search.index().url}",
description = s"Search in ${nbGames.localize} chess games using advanced criterions").some) {
<div class="content_box no_padding">
  <h1 class="title">@trans.advancedSearch()</h1>
  <form rel="nofollow" class="search" action="@routes.Search.index()" method="get"
    data-req-winner="@form("players")("winner").value"
    data-req-white="@form("players")("white").value"
    data-req-black="@form("players")("black").value">
    <table>
      <tr>
        <th>
          <label>@trans.players() <span class="help" title="The name(s) of the player(s) you wish to search">(?)</span></label>
        </th>
        <td class="usernames">
          <div class="half">@base.form.input(form("players")("a"))</div>
          <div class="half">@base.form.input(form("players")("b"))</div>
        </td>
      </tr>
      @chess.Color.all.map { color =>
      @defining(form("players")(color.name)) { field =>
      <tr class="@{color.name}User user_row none">
        <th>
          <label for="@field.id">@color.fold(trans.white, trans.black)()</label>
        </th>
        <td class="single">
          <select id="@field.id" name="@field.name">
            <option class="blank" value=""></option>
          </select>
        </td>
      </tr>
      }
      }
      <tr class="winner user_row none">
        <th>
          <label for="@form("players")("winner").id">@trans.winner()</label>
        </th>
        <td class="single">
          <select id="@form("players")("winner").id" name="@form("players")("winner").name">
            <option class="blank" value=""></option>
          </select>
        </td>
      </tr>
      <tr>
        <th>
          <label>@trans.rating() <span class="help" title="The average rating of both players">(?)</span></label>
        </th>
        <td>
          <div class="half">From @base.form.select(form("ratingMin"), Query.averageRatings, "".some)</div>
          <div class="half">To @base.form.select(form("ratingMax"), Query.averageRatings, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("hasAi").id">@trans.opponent() <span class="help" title="Whether the player's opponent was a human or a computer">(?)</span></label>
        </th>
        <td class="single opponent">
          @base.form.select(form("hasAi"), Query.hasAis, "".some)
        </td>
      </tr>
      <tr class="aiLevel none">
        <th>
          <label for="@form("aiLevel").id">A.I. level</label>
        </th>
        <td>
          <div class="half">From @base.form.select(form("aiLevelMin"), Query.aiLevels, "".some)</div>
          <div class="half">To @base.form.select(form("aiLevelMax"), Query.aiLevels, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("source").id">Source</label>
        </th>
        <td class="single">
          @base.form.select(form("source"), Query.sources, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("perf").id">@trans.variant()</label>
        </th>
        <td class="single">
          @base.form.select(form("perf"), Query.perfs, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("mode").id">@trans.mode()</label>
        </th>
        <td class="single">
          @base.form.select(form("mode"), Query.modes, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label>Number of turns</label>
        </th>
        <td>
          <div class="half">From @base.form.select(form("turnsMin"), Query.turns, "".some)</div>
          <div class="half">To @base.form.select(form("turnsMax"), Query.turns, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label>@trans.duration()</label>
        </th>
        <td>
          <div class="half">From @base.form.select(form("durationMin"), Query.durations, "".some)</div>
          <div class="half">To @base.form.select(form("durationMax"), Query.durations, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label>Clock initial time</label>
        </th>
        <td>
          <div class="half">From @base.form.select(form("clock")("initMin"), Query.clockInits, "".some)</div>
          <div class="half">To @base.form.select(form("clock")("initMax"), Query.clockInits, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label>Clock increment</label>
        </th>
        <td>
          <div class="half">From @base.form.select(form("clock")("incMin"), Query.clockIncs, "".some)</div>
          <div class="half">To @base.form.select(form("clock")("incMax"), Query.clockIncs, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("status").id">Result</label>
        </th>
        <td class="single">
          @base.form.select(form("status"), Query.statuses, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label for="@form("winnerColor").id">Winner color</label>
        </th>
        <td class="single">
          @base.form.select(form("winnerColor"), Query.winnerColors, "".some)
        </td>
      </tr>
      <tr>
        <th>
          <label>Date</label>
        </th>
        <td>
          <div class="half">From @base.form.select(form("dateMin"), Query.dates, "".some)</div>
          <div class="half">To @base.form.select(form("dateMax"), Query.dates, "".some)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label>Sort</label>
        </th>
        <td>
          <div class="half">By @base.form.select(form("sort")("field"), Sorting.fields)</div>
          <div class="half">@base.form.select(form("sort")("order"), Sorting.orders)</div>
        </td>
      </tr>
      <tr>
        <th>
          <label for="analysed">Analysis <span class="help" title="Whether computer analysis is available or not">(?)</span></label>
        </th>
        <td class="single">
          @base.form.checkbox(form("analysed"), "", 1)
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="simple action">
          <button type="submit" class="submit button">@trans.search()</button>
          <div class="wait">
            @base.spinner()
            Searching in @nbGames.localize games
          </div>
        </td>
      </tr>
    </table>
  </form>
  <div class="search_result">
    @paginator.map { pager =>
    @if(pager.nbResults > 0) {
    <div class="search_status">
      <strong>@pager.nbResults.localize games found</strong> •
      <a class="permalink" href="@routes.Search.index()">Permalink</a> •
    </div>
    <div class="search_infinitescroll">
      @pager.nextPage.map { n =>
      <div class="pager none"><a rel="next" href="@routes.Search.index(n)">Next</a></div>
      }.getOrElse {
      <div class="none"></div>
      }
      @game.widgets(pager.currentPageResults)
    </div>
    } else {
    <div class="search_status">
      No game found -
      <a class="permalink" href="@routes.Search.index()">Permalink</a>
    </div>
    }
    }
  </div>
</div>
}
