@(u: User, form: Form[_])(implicit ctx: Context)

@import lila.gameSearch.{ Query, Sorting }

<form rel="nofollow" class="search" action="@routes.User.showFilter(u.username, "search")" method="get">
  <table>
    <tr class="header">
      <th colspan=2>@trans.advancedSearch()</th>
    </tr>
    <tr>
      <th>
        <label>Date</label>
      </th>
      <td>
        <div class="half">From @base.select(form("dateMin"), Query.dates, "".some)</div>
        <div class="half">To @base.select(form("dateMax"), Query.dates, "".some)</div>
      </td>
    </tr>
    <tr>
      <th>
        <label>@trans.rating() <span class="help" title="The average rating of both players">(?)</span></label>
      </th>
      <td>
        <div class="half">From @base.select(form("ratingMin"), Query.averageRatings, "".some)</div>
        <div class="half">To @base.select(form("ratingMax"), Query.averageRatings, "".some)</div>
      </td>
    </tr>
    <tr>
      <th>
        <label>Number of turns</label>
      </th>
      <td>
        <div class="half">From @base.select(form("turnsMin"), Query.turns, "".some)</div>
        <div class="half">To @base.select(form("turnsMax"), Query.turns, "".some)</div>
      </td>
    </tr>
    <tr>
      <th>
        <label>@trans.duration()</label>
      </th>
      <td>
        <div class="half">From @base.select(form("durationMin"), Query.durations, "".some)</div>
        <div class="half">To @base.select(form("durationMax"), Query.durations, "".some)</div>
      </td>
    </tr>
    <tr>
      <th>
        <label>Clock initial time</label>
      </th>
      <td>
        <div class="half">From @base.select(form("clock")("initMin"), Query.clockInits, "".some)</div>
        <div class="half">To @base.select(form("clock")("initMax"), Query.clockInits, "".some)</div>
      </td>
    </tr>
    <tr>
      <th>
        <label>Clock increment</label>
      </th>
      <td>
        <div class="half">From @base.select(form("clock")("incMin"), Query.clockIncs, "".some)</div>
        <div class="half">To @base.select(form("clock")("incMax"), Query.clockIncs, "".some)</div>
      </td>
    </tr>
    <tr>
      <th>
        <label for="@form("source").id">Source</label>
      </th>
      <td class="single">
        @base.select(form("source"), Query.sources, "".some)
      </td>
    </tr>
    <tr>
      <th>
        <label for="@form("perf").id">@trans.variant()</label>
      </th>
      <td class="single">
        @base.select(form("perf"), Query.perfs, "".some)
      </td>
    </tr>
    <tr>
      <th>
        <label for="@form("mode").id">@trans.mode()</label>
      </th>
      <td class="single">
        @base.select(form("mode"), Query.modes, "".some)
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>
        <label for="@form("hasAi").id">@trans.opponent() <span class="help" title="Whether the player's opponent was a human or a computer">(?)</span></label>
      </th>
      <td class="single opponent">
        @base.select(form("hasAi"), Query.hasAis, "".some)
      </td>
    </tr>
    <tr class="aiLevel none">
      <th>
        <label for="@form("aiLevel").id">Stockfish level</label>
      </th>
      <td>
        <div class="half">From @base.select(form("aiLevelMin"), Query.aiLevels, "".some)</div>
        <div class="half">To @base.select(form("aiLevelMax"), Query.aiLevels, "".some)</div>
      </td>
    </tr>
    <tr class="opponentName">
      <th>
        <label>Opponent name</label>
      </th>
      <td class="usernames">
        <input value="@u.id" name="players.a" type="hidden">
        @base.input(form("players")("b"))
      </td>
    </tr>
    <tr class="winner user_row">
      <th>
        <label for="@form("players")("winner").id">@trans.winner()</label>
      </th>
      <td class="single">
        <select id="@form("players")("winner").id" name="@form("players")("winner").name">
          <option class="blank" value=""></option>
        </select>
      </td>
    </tr>
    @chess.Color.all.map { color =>
    <tr class="@{color.name}User user_row">
      <th>
        <label for="@form("players")(color.name).id">@color.fold(trans.white, trans.black)()</label>
      </th>
      <td class="single">
        <select id="@form("players")(color.name).id" name="@form("players")(color.name).name">
          <option class="blank" value=""></option>
        </select>
      </td>
    </tr>
    }
    <tr>
      <th>
        <label for="@form("status").id">Result</label>
      </th>
      <td class="single">
        @base.select(form("status"), Query.statuses, "".some)
      </td>
    </tr>
    <tr>
      <th>
        <label for="@form("winnerColor").id">Winner color</label>
      </th>
      <td class="single">
        @base.select(form("winnerColor"), Query.winnerColors, "".some)
      </td>
    </tr>
    <tr>
      <th>
        <label>Sort</label>
      </th>
      <td>
        <div class="half">By @base.select(form("sort")("field"), Sorting.fields)</div>
        <div class="half">Order @base.select(form("sort")("order"), Sorting.orders)</div>
      </td>
    </tr>
    <tr>
      <th>
        <label for="analysed">Analysis <span class="help" title="Whether computer analysis is available or not">(?)</span></label>
      </th>
      <td class="single">
        @{ base.checkbox(form("analysed"), "", 1) }
      </td>
    </tr>
  </table>
</form>
