@(tokens: List[lidraughts.oauth.AccessToken])(implicit ctx: Context)

@title = @{ "Personal API access tokens" }

@account.layout(title = title, active = "oauth") {
<div class="content_box no_padding small_box high oauth security">
    <div class="top">
        <h1>@title</h1>
        <form class="new_token" action="@routes.OAuthToken.create">
            <button type="submit" class="button frameless hint--top" data-hint="New access token">
                <i data-icon="O"></i>
            </button>
        </form>
    </div>
    <p class="explanation">Tokens you have generated that can be used to access the lidraughts API.</p>

    @tokens.headOption.filter(_.isBrandNew).map { token =>
    <div class="brand">
        <i data-icon="E" class="is-green"></i>
        <div>
            <p>Make sure to copy your new personal access token now.<br />You won’t be able to see it again!</p>
            <code>@token.id.value</code>
        </div>
    </div>
    }

    <table class="slist">
        @tokens.map { t =>
        <tr>
            <td>
                <strong>@t.description.getOrElse("Unnamed")</strong><br />
                <em>@t.scopes.map(_.name).mkString(", ")</em>
            </td>
            <td class="date">
                @t.createdAt.map { created =>
                Created @momentFromNow(created)<br />
                }
                @t.usedAt.map { used =>
                Last used @momentFromNow(used)
                }
            </td>
            <td class="action">
                <form action="@routes.OAuthToken.delete(t.id.value)" method="POST">
                    <button type="submit" class="button text confirm hint--top" title="Delete this access token">Delete</button>
                </form>
            </td>
        </tr>
        }
    </table>
</div>
}