@(form: lila.common.Form.FormLike, captcha: lila.common.Captcha)(implicit ctx: Context)

@import play.api.libs.json.Json

@form3.hidden(form("gameId"), captcha.gameId.some)
@if(ctx.blindMode) {
@form3.hidden(form("move"), captcha.solutions.head.some)
} else {
<div class="captcha form-group@if(lila.common.Captcha.isFailed(form)){ is-invalid}" data-check-url="@routes.Main.captchaCheck(captcha.gameId)">
  <div
    class="mini_board parse_fen is2d"
    data-playable="1"
    data-x="@encodeFen(safeJsonValue(Json.toJson(captcha.moves)))"
    data-y="@encodeFen(if(captcha.white){"white"}else{"black"})"
    data-z="@encodeFen(captcha.fen)">@miniBoardContent</div>
  <div class="captcha-explanation">
    <label class="form-label">@trans.colorPlaysCheckmateInOne((if (captcha.white) trans.white else trans.black)())</label><br />
    <br />
    @trans.thisIsAChessCaptcha()<br />
    @trans.clickOnTheBoardToMakeYourMove()
    <br /><br />
    @defining(netBaseUrl + routes.Round.watcher(captcha.gameId, if (captcha.white) "white" else "black")) { url =>
    @trans.help() <a class="hint--bottom" data-hint="@trans.viewTheSolution()" target="_blank" href="@url">@url</a>
    }
    <div class="result success text" data-icon="E">@trans.checkmate()</div>
    <div class="result failure text" data-icon="k">@trans.notACheckmate()</div>
    @form3.hidden(form("move"))
  </div>
</div>
}
