@()
@* inline to avoid animation on page load on firefox *@
<style type="text/css">
#hamburger {
  display: block;
  width: 64px;
  height: 58px;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  transition: transform 0.75s, left 1s;
}
#hamburger:hover {
}
#hamburger *:before,
#hamburger *:after {
  box-sizing: border-box;
}
body.fpmenu #hamburger {
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
}
#hamburger .top,
#hamburger .bottom {
  position: absolute;
  display: block;
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background: #666;
  transform-origin: 34px 2px;
  transform: rotate(0deg);
  -webkit-transform-origin: 34px 2px;
  -webkit-transform: rotate(0deg);
  transition: all 0.5s cubic-bezier(.8, -1.1, .5, 1.9);
}
#hamburger .top {
  top: 19px;
  left: 14px;
}
#hamburger .bottom {
  top: 41px;
  left: 14px;
}
#hamburger path,
#hamburger line {
  stroke: #666;
  stroke-linecap: round;
}
#ham-circle {
  stroke-dasharray: 1 100 32 300;
  stroke-dashoffset: 101;
  transition: all 0.75s ease;
}
body.fpmenu #hamburger #ham-circle {
  stroke-dasharray: 1 100 190 300;
  stroke-dashoffset: 1;
}
body.fpmenu #hamburger .top {
  transform: translateX(-4.5px) rotate(-45deg);
  -webkit-transform: translateX(-4.5px) rotate(-45deg);
}
body.fpmenu #hamburger .bottom {
  transform: translateX(-4.5px) rotate(45deg);
  -webkit-transform: translateX(-4.5px) rotate(45deg);
}
</style>
