@(
title: String,
fullTitle: Option[String] = None,
active: Option[lila.app.ui.SiteMenu.Elem] = None,
baseline: Option[Html] = None,
goodies: Option[Html] = None,
menu: Option[Html] = None,
chat: Option[Html] = None,
underchat: Option[Html] = None,
robots: Boolean = true,
moreCss: Html = Html(""),
moreJs: Html = Html(""),
signedJs: Option[String] = None,
zen: Boolean = false,
openGraph: Map[Symbol, String] = Map.empty)(body: Html)(implicit ctx: Context)
<!doctype html>
<html lang="@lang.language">
  <head>
    <title>@if(!isProd){ [dev] }@fullTitle.getOrElse{@title • lichess.org}</title>
    @if(ctx.currentBg == "dark") {
    @cssTag("dark.css")
    }
    @cssTag("common.css")
    @cssTag("board.css")
    @moreCss
    <meta content="@openGraph.get('description).getOrElse(trans.freeOnlineChessGamePlayChessNowInACleanInterfaceNoRegistrationNoAdsNoPluginRequiredPlayChessWithComputerFriendsOrRandomOpponents())" name="description">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon-32-white.png")" type="image/x-icon" />
    @if(!robots) {
    <meta content="noindex, nofollow" name="robots">
    }
    <meta name="google" content="notranslate" />
    @openGraph.map {
    case (key, value) => {
    <meta property="og:@key.name" content="@value" />
    }
    }
    @langAnnotations
  </head>
  <body class="@ctx.currentTheme.cssClass @ctx.currentBg @ctx.currentPieceSet@if(ctx.pref.highlight) { highlight}@if(ctx.blindMode) { blind_mode}"
    data-piece-set="@ctx.currentPieceSet"
    data-sound-dir="@staticUrl("sound")"
    data-ports="@portsString"
    data-accept-languages="@acceptLanguages.mkString(",")">
    <form id="blind_mode" action="@routes.Main.toggleBlindMode" method="POST">
      <input type="hidden" name="enable" value="@ctx.blindMode.fold(0,1)" />
      <input type="hidden" name="redirect" value="@ctx.req.path" />
      <button type="submit">Accessibility: @ctx.blindMode.fold("Disable", "Enable") blind mode</button>
    </form>
    <div id="site_description">@trans.freeOnlineChessGamePlayChessNowInACleanInterfaceNoRegistrationNoAdsNoPluginRequiredPlayChessWithComputerFriendsOrRandomOpponents()</div>
    <div id="top" class="clearfix">
      @if(!zen) {
      <button data-hint="@trans.toggleSound()" id="sound_state" class="a available hint--bottom-left">
        <span class="is2 on" data-icon="n"></span>
        <span class="is2 off" data-icon="o"></span>
      </button>
      }
      @if(!zen) {
      @siteMenu.all(ctx.me).map { elem =>
      @elem.code match {
      case "team" if ctx.teamNbRequests > 0 => {
      <a class="goto_nav blank_if_play @elem.currentClass(active)" href="@routes.Team.requests()">
        @elem.name()
        <span id="nb_messages" class="new_messages unread">@ctx.teamNbRequests</span>
      </a>
      }
      case "team" => {
      <a class="goto_nav blank_if_play @elem.currentClass(active)"
        href="@ctx.isAuth.fold(routes.Team.mine, elem.route)">
        @elem.name()
      </a>
      }
      case _ => {
      <a class="goto_nav blank_if_play @elem.currentClass(active)" href="@elem.route">
        @elem.name()
      </a>
      }
      }
      }
      }
      @defining(reportNbUnprocessed) { nb =>
      @if(nb > 0) {
      <a class="goto_nav" href="@routes.Report.list" data-icon="j"><strong>@nb</strong></a>
      }
      }
      @if(!zen) {
      <div id="nb_connected_players" class="nb_connected_players">
        @trans.nbConnectedPlayers("<strong>?</strong>")
      </div>
      <a id="reconnecting" onclick="location.reload();" data-icon="B">&nbsp;@trans.reconnecting()</a>
      <div id="themepicker"
        data-themes="@lila.pref.Theme.listString"
        data-sets="@lila.pref.PieceSet.listString">
        <a id="themepicker_toggle" class="toggle icon hint--bottom-left" data-hint="Theming">
          &nbsp;<span data-icon="v"></span>&nbsp;
        </a>
        <div class="dropdown">
          <div class="background" data-href="@routes.Pref.set("bg")">
            <a class="light button" data-bg="light" data-icon="5"></a>
            <a class="dark button" data-bg="dark" data-icon="4"></a>
          </div>
          <div class="board" data-href="@routes.Pref.set("theme")">
            @lila.pref.Theme.list.map { theme =>
            <div class="theme" data-theme="@theme.name"><div class="color_demo @theme.name"></div></div>
            }
          </div>
          <div class="piece_set" data-href="@routes.Pref.set("pieceSet")">
            @lila.pref.PieceSet.list.map { set =>
            <div class="set" data-set="@set.name"><div class="piece_demo @set.name"></div></div>
            }
          </div>
          @if(ctx.isAuth) {
          <a class="prefs button" href="@routes.Pref.form"><span data-icon="q">&nbsp;@trans.preferences()</span></a>
          }
        </div>
      </div>
      <div class="lichess_language">
        <a class="toggle" href="#">
          <span data-icon="u">&nbsp;@langName(lang)</span>
        </a>
        <ul class="language_links dropdown">
          @langLinks(lang)
          <li><a href="@routes.I18n.contribute">Help translate Lichess!</a></li>
        </ul>
      </div>
      @ctx.me.map { me =>
      <div class="auth">
        <a
          id="user_tag"
          data-rating="@me.rating"
          class="toggle toggle_auth">
          <span data-icon="u">&nbsp;@me.usernameWithRating</span>
        </a>
        <div class="links dropdown">
          <a href="@routes.User.show(me.username)" class="blank_if_play"><span data-icon="r">&nbsp;@trans.profile()</span></a>
          <a href="@routes.Pref.form"><span data-icon="q">&nbsp;@trans.preferences()</span></a>
          <a href="@routes.Auth.logout"><span data-icon="w">&nbsp;@trans.logOut()</span></a>
          @if(isGranted(_.StaffForum)) {
          <span class="sep"></span>
          <a href="@routes.ForumCateg.show("staff")">Staff Forum</a>
          <a href="@routes.Mod.log()">Mod log</a>
          <a href="@routes.Report.list()">User reports</a>
          }
          <span class="sep"></span>
          <div class="ping">PING <strong>?</strong> ms</div>
        </div>
      </div>
      <a data-href="@routes.Message.preview" class="goto_nav message blank_if_play @{(active exists (_.code == "message")).??("current")}" href="@routes.Message.inbox(page=1)">
        <span class="is2" data-icon="e"></span>
        <span id="nb_messages" class="new_messages@if(ctx.nbMessages > 0) { unread}">@ctx.nbMessages</span>
      </a>
      }.getOrElse {
      <a href="@routes.Auth.login" class="signin button" data-icon="F">&nbsp;@trans.signIn()</a>
      }
      }
    </div>
    <div class="content">
      <div id="site_header">
        @ctx.me.map { me =>
        <div id="notifications">@notifications(me)</div>
        }.getOrElse {
        <div id="notifications"></div>
        }
        <h1>
          <a id="site_title" href="@routes.Lobby.home">
            lichess<span class="extension">.org</span>
          </a>
          @if(acceptsLanguage(lang)) {
          @baseline
          } else {
          @langFallbackLinks
          }
        </h1>
        @menu.map { side =>
        <div class="side_menu">@side</div>
        }
        @goodies
        @chat
        @underchat.map { g =>
        <div class="under_chat">@g</div>
        }
      </div>
      <div id="lichess">
        @body
      </div>
    </div>
    @if(!zen) {
    <div id="footer_wrap">
      <div class="footer">
        <div class="right">
          <a href="http://github.com/ornicar">github.com/ornicar</a> | <a class="js_email">email me</a><br />
          <a href="@routes.Main.developers">Developers</a> |
          <a href="@routes.Page.thanks">Thanks</a> |
          <a href="@routes.Page.tos">ToS</a>
        </div>
        <div class="center">
          <a href="@routes.Donation.index" class="button">Donate</a>
        </div>
        <a href="@routes.Wiki.home()" title="@trans.learnMoreAboutLichess()">Wiki</a> |
        <a href="http://map.lichess.org" title="Realtime world map of chess moves">World Map</a> |
        <a href="http://github.com/ornicar/lila" target="_blank" title="See what's inside, fork and contribute">Source Code</a><br />
        <a href="@routes.Blog.index()">Blog</a> |
        <a href="@routes.Monitor.index">Monitor</a> |
        <a href="@routes.Page.helpLichess">Help lichess.org</a>
      </div>
    </div>
    }
    @ctx.me.map { me =>
    <div id="friend_box" data-preload="@ctx.friends.map(_.titleName).mkString(",")">
      <div class="title"><strong class="online"> </strong> @trans.onlineFriends()</div>
      <div class="content_wrap">
        <div class="content list"></div>
        <div class="nobody">
          <span>@trans.noFriendsOnline()</span>
          <a class="find button" href="@routes.Relation.suggest(me.username)">
            <span class="is3" data-icon="h">&nbsp;@trans.findFriends()</span>
          </a>
        </div>
      </div>
    </div>
    }
    @jQueryTag
    @underscorejsTag
    @jsTag("deps.min.js")
    @momentjsTag
    @powertipTag
    @jsTagCompiled("common.js")
    @signedJs.fold(jsTagCompiled("big.js"))(js => jsAt(js, false))
    @moreJs
    @if(lang.language != "en") {
    @jsAt(s"trans/${lang.language}.js")
    @momentLangTag
    }
    @base.ga()
  </body>
</html>
