@(
title: String,
fullTitle: Option[String] = None,
baseline: Option[Html] = None,
side: Option[Html] = None,
menu: Option[Html] = None,
chat: Option[Html] = None,
underchat: Option[Html] = None,
robots: Boolean = true,
moreCss: Html = Html(""),
moreJs: Html = Html(""),
zen: Boolean = false,
playing: Boolean = false,
openGraph: Option[lila.app.ui.OpenGraph] = None,
atom: Option[Html] = None,
chessground: Boolean = true,
withLangAnnotations: Boolean = true,
withGtm: Boolean = false)(body: Html)(implicit ctx: Context)
<!doctype html>
<html lang="@lang.language">
  <head>
    <meta charset="utf-8">
    <title>@if(!isProd){ [dev] }@fullTitle.getOrElse{@title • lichess.org}</title>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
    @ctx.currentBg match {
    case "dark" => { @cssTag("dark.css") }
    case "transp" => { @cssTag("dark.css")@cssTag("transp.css") }
    case _ => {}
    }
    @cssTag("common.css")
    @cssTag("board.css")
    @if(ctx.is3d) { @cssTag("board-3d.css") }
    @moreCss
    <link id="piece-sprite" href="@staticUrl(s"stylesheets/piece/${ctx.currentPieceSet}.css?v=$assetVersion")" type="text/css" rel="stylesheet"/>
    <meta content="@openGraph.fold(trans.freeOnlineChessGamePlayChessNowInACleanInterfaceNoRegistrationNoAdsNoPluginRequiredPlayChessWithComputerFriendsOrRandomOpponents())(o => Html(escapeEvenDoubleQuotes(o.description)))" name="description">
    <link rel="shortcut icon" href="@staticUrl("images/favicon-32-white.png")" type="image/x-icon" />
    @if(!robots) {
    <meta content="noindex, nofollow" name="robots">
    }
    <meta name="google" content="notranslate" />
    @openGraph.map(_.html)
    @atom.getOrElse {
    <link href="@routes.Blog.atom()" type="application/atom+xml" rel="alternate" title="Latest blog posts" />
    }
    <link rel="mask-icon" href="@staticUrl("favicon.svg")" color="black">
    @if(withLangAnnotations){@langAnnotations}
    @ctx.transpBgImg.map { img =>
    <style type="text/css" id="bg-data">body.transp::before{background-image:url('@img');}</style>
    }
  </head>
  <body class="preload base @List(
    ctx.currentTheme.cssClass,
    ctx.currentTheme3d.cssClass,
    if (ctx.currentBg == "transp") "dark transp" else ctx.currentBg,
    ctx.currentPieceSet3d,
    ctx.pref.highlight ?? "highlight",
    ctx.pref.destination ?? "destination",
    ctx.blindMode ?? "blind_mode",
    ctx.kid ?? "kid",
    "coords_" + ctx.pref.coords,
    playing ?? "fixed-scroll").mkString(" ")"
    @if(!isProd){data-dev="true"}
    data-user="@ctx.userId"
    data-piece-set="@ctx.currentPieceSet"
    data-sound-set="@ctx.currentSoundSet"
    data-bg="@ctx.currentBg"
    data-asset-url="@assetBaseUrl"
    data-asset-version="@assetVersion"
    data-accept-languages="@acceptLanguages.mkString(",")">
    @if(withGtm) { @gtm() }
    <form id="blind_mode" action="@routes.Main.toggleBlindMode" method="POST">
      <input type="hidden" name="enable" value="@ctx.blindMode.fold(0,1)" />
      <input type="hidden" name="redirect" value="@ctx.req.path" />
      <button type="submit">Accessibility: @ctx.blindMode.fold("Disable", "Enable") blind mode</button>
    </form>
    <div id="site_description">@trans.freeOnlineChessGamePlayChessNowInACleanInterfaceNoRegistrationNoAdsNoPluginRequiredPlayChessWithComputerFriendsOrRandomOpponents()</div>
    <div id="top" class="@ctx.is3d.fold("is3d", "is2d")">
      @topmenu()
      <div id="ham-plate" class="fright link" data-hint="@trans.menu()" class="hint--bottom">
        <div id="hamburger" data-icon="["></div>
      </div>
      <div class="lichess_language fright">
        <a class="toggle link" href="#">@langName(lang)</a>
        <form action="@routes.I18n.select" method="POST" class="language_links dropdown" data-url="@staticUrl("trans/refs.json")?v=@assetVersion">
          <ul>
            <li><a href="@routes.I18n.contribute">Help translate Lichess!</a></li>
          </ul>
        </form>
      </div>
      @ctx.me.map { me =>
      <div class="auth fright">
        @auth.userDropdown(me, playing)
      </div>
      <div class="challenge_notifications fright">
        <a id="challenge_notifications_tag" class="toggle link data-count" data-count="@ctx.nbChallenges">
          <span class="hint--bottom-left" data-hint="Challenges">
            <span data-icon="U"></span>
          </span>
        </a>
        <div id="challenge_app" class="links dropdown">
          <div class="initiating">@base.spinner()</div>
        </div>
      </div>
      <div class="site_notifications fright">
        <a id="site_notifications_tag" class="toggle link data-count" data-count="@ctx.nbNotifications">
          <span class="hint--bottom-left" data-hint="Notifications">
            <span data-icon=""></span>
          </span>
        </a>
        <div id="notify_app" class="links dropdown">
          <div class="initiating">@base.spinner()</div>
        </div>
      </div>
      }.getOrElse {
      <a href="@routes.Auth.login" class="signin button fright text">@trans.signIn()</a>
      }
      @if(!zen) {
      <div id="sound_control" class="fright">
        <a id="sound_state" class="toggle link hint--bottom-left" data-hint="@trans.sound()">
          <span class="is2 on" data-icon="#"></span>
          <span class="is2 off" data-icon="$"></span>
        </a>
        <div class="dropdown">
          <div class="slider"></div>
          <form class="selector" action="@routes.Pref.set("soundSet")">
            @lila.pref.SoundSet.list.map { set =>
            <div class="@set.key">
              <input id="soundSet_@set.key" @if(set.key == ctx.currentSoundSet.key) { checked class="active" } type="radio" value="@set.key" name="soundSet" />
              <label for="soundSet_@set.key">@set.name</label>
            </div>
            }
          </form>
        </div>
      </div>
      @if(ctx.teamNbRequests > 0) {
      <a class="fright link data-count" href="@routes.Team.requests()" data-count="@ctx.teamNbRequests">
        <span class="hint--bottom-left" data-hint="@trans.teams()">
          <span data-icon="f"></span>
        </span>
      </a>
      }
      <div id="themepicker" class="fright">
        <a id="themepicker_toggle" class="toggle icon link hint--bottom-left" data-hint="@trans.theming()" data-url="@routes.Main.themepicker">
          &nbsp;<span data-icon="@closingBrace"></span>&nbsp;
        </a>
      </div>
      @if(isGranted(_.SeeReport)) {
      <a class="fright link text data-count" href="@routes.Report.list" data-count="@reportNbUnprocessed" data-icon="@icon.mod"></a>
      }
      }
      <a id="reconnecting" class="fright link" onclick="location.reload();" data-icon="B">&nbsp;@trans.reconnecting()</a>
    </div>
    <div id="fpmenu">@fpmenu()</div>
    <div class="content @ctx.is3d.fold("is3d", "is2d")">
      <div id="site_header">
        <div id="notifications"></div>
        <div class="board_left">
          <h1>
            <a id="site_title" href="@routes.Lobby.home">@if(ctx.kid){<span title="@trans.kidMode()" class="kiddo">😊</span>}lichess<span class="extension">.org</span></a>
          </h1>
          @baseline
          @menu.map { side =>
          <div class="side_menu">@side</div>
          }
          @side
          @chat
        </div>
        @underchat.map { g =>
        <div class="under_chat">@g</div>
        }
      </div>
      <div id="lichess">
        @body
      </div>
    </div>
    @ctx.me.map { me =>
    <div id="friend_box" data-preload="@ctx.onlineFriends.users.map(_.titleName).mkString(",")"
      data-playing="@ctx.onlineFriends.playing.mkString(",")"
      data-patrons="@ctx.onlineFriends.patrons.mkString(",")">
      <div class="title"><strong class="online"> </strong> @trans.onlineFriends()</div>
      <div class="content_wrap">
        <div class="content list"></div>
        <div class="nobody@if(ctx.onlineFriends.users.nonEmpty){ none}">
          <span>@trans.noFriendsOnline()</span>
          <a class="find button" href="@routes.User.opponents(me.username)">
            <span class="is3 text" data-icon="h">@trans.findFriends()</span>
          </a>
        </div>
      </div>
    </div>
    }
    @jQueryTag
    @if(chessground) {@jsTag("vendor/chessground.min.js")}
    @if(ctx.requiresFingerprint) { @fingerprintTag }
    @momentjsTag
    @momentLangTag
    @if(isProd) {
    @jsTagCompiled("lichess.js")
    } else {
    @jsTag("deps.min.js")
    @jsTag("util.js")
    @jsTag("socket.js")
    @jsTag("main.js")
    }
    @moreJs
    @if(lang.language != "en") {
    @embedJs {
    lichess_translations = @jsI18n()
    }
    }
    @base.ga()
  </body>
</html>
