@(title: String, active: Option[ui.SiteMenu.Elem] = None, baseline: Option[Html] = None, goodies: Option[Html] = None, menu: Option[Html] = None, chat: Option[Html] = None, underchat: Option[Html] = None, robots: Boolean = true, moreCss: Html = Html(""), moreJs: Html = Html(""), signedJs: Option[String] = None)(body: Html)(implicit ctx: Context)

<!doctype html>
<html lang="@lang.language">
  <head>
    <title>lichess @title | @trans.freeOnlineChess()</title>
    @cssTag("vendor.css")
    @cssTag("common.css")
    @cssTag("board.css")
    @cssTag("gamelist.css")
    @cssTag("opening.css")
    @cssTag("dark.css")
    @moreCss
    <meta content="@trans.freeOnlineChessGamePlayChessNowInACleanInterfaceNoRegistrationNoAdsNoPluginRequiredPlayChessWithComputerFriendsOrRandomOpponents()" name="description">
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")" type="image/x-icon" />
    @if(!robots) {
    <meta content="noindex, nofollow" name="robots">
    }
  </head>
  <body class="@setting.theme.name @setting.bg" data-sound-file="@routes.Assets.at("sound/alert.ogg")">
    <div id="site_description">@trans.freeOnlineChessGamePlayChessNowInACleanInterfaceNoRegistrationNoAdsNoPluginRequiredPlayChessWithComputerFriendsOrRandomOpponents()</div>
    <div id="top" class="clearfix">
      <a href="@routes.Setting.set("sound")" title="@trans.toggleSound()" id="sound_state" class="available @soundString">
        <span></span>
      </a>
      <div class="lichess_language">
        <a class="toggle_language toggle">
          <span class="s16">@langName(lang)</span>
        </a>
        <ul class="language_links dropdown">
          @otherLangLinks(lang)
          <li><a href="@routes.I18n.contribute">Help translate Lichess!</a></li>
        </ul>
      </div>
      @siteMenu.all(ctx.me).map { elem =>
      @if(elem.code == "message") {
      <a class="goto_nav blank_if_play @elem.currentClass(active)" href="@elem.route">
        @elem.name()
        <span id="nb_messages" class="new_messages @{ (messageNbUnread(ctx) > 0).fold("unread", "") }">@messageNbUnread(ctx)</span>
      </a>
      } else {
      <a class="goto_nav blank_if_play @elem.currentClass(active)" href="@elem.route">@elem.name()</a>
      }
      }
      <div id="nb_connected_players" class="nb_connected_players none">
        @trans.nbConnectedPlayers("<strong>0</strong>")
      </div>
      @ctx.me.fold(auth.loggedIn(_), auth.miniLogin())
      <div class="themepicker">
        <a class="theme_toggle toggle"><span class="theme_demo">@trans.color()</span></a>
        <div class="themes dropdown" data-href="@routes.Setting.set("theme")">
          @themeList.map { theme =>
          <div class="theme" data-theme="@theme.name"><div class="inner">
            <div class="lcs black @theme.name"></div>
            <div class="lcs white @theme.name"></div>
          </div></div>
          }
        </div>
      </div>
      <a href="@routes.Setting.set("bg")" title="@trans.toggleBackground()" class="bgpicker">
        <span></span>
      </a>
    </div>
        <div class="notifications">
          @ctx.me.map(notifications(_))
        </div>
    <div class="content">
      <div class="header">
        <h1>
          <a id="site_title" href="@routes.Lobby.home">
            lichess<span class="extension">.org</span>
          </a>
          @baseline
        </h1>
        @menu.map { side =>
        <div class="side_menu">@side</div>
        }
        @goodies
        @chat
        @underchat.map { g =>
        <div class="under_chat">@g</div>
        }
      </div>
      <div id="lichess">
        @body
      </div>
    </div>
    <div class="footer_wrap">
      <div class="lichess_social">
        <div class="addtochrome"><a class="button" href="https://chrome.google.com/webstore/detail/kiefmccciemniajdkgikpnocipidaaeg">Add To Chrome</a></div>
        <br />
      </div>
      <div class="footer">
        <div class="right">
          <a href="http://github.com/ornicar">github.com/ornicar</a> | <a class="js_email">email me</a><br />
          <a href="@routes.Wiki.home()" class="blank_if_play">@trans.learnMoreAboutLichess()</a>
        </div>
        <a href="@routes.Wiki.home()">Wiki</a> |
        <a href="@routes.ForumCateg.show("lichess-feedback", 1)" title="Having a suggestion, feature request or bug report? Let me know">Feedback</a> |
        <a href="http://github.com/ornicar/lila" target="_blank" title="See what's inside, fork and contribute">Source Code</a><br />
        <a href="@routes.Monitor.index">Monitor</a> |
        <a href="@routes.I18n.contribute">Translate Lichess</a>
        <br />
        Ping: <span id="connection_lag">?</span>
      </div>
    </div>
    @jsTag("deps.min.js")
    @signedJs.fold(jsAt, jsTagC("big.js"))
    @moreJs
    @if(lang.language != "en") {
    <script src="@routes.Assets.at("trans/" + lang.language + ".js")?v=@assetVersion"></script>
    }
  </body>
</html>
