@(zoom: Float, is3d: Boolean)
@defining(is3d ?? ".is3d") { prefix =>
@defining(Math.round(zoom * 64) * 8) { boardPx =>
<style type="text/css">
@prefix div.lichess_game,
@prefix div.board_and_ground {
  height: @{boardPx}px;
  padding-top: 0;
}
@prefix #chat {
  height: @{Math.round(355 + 510 * (zoom - 1))}px;
}
@prefix div.lichess_game .cg-board-wrap,
@prefix div.board_and_ground .cg-board-wrap {
  width: @{boardPx}px;
  height: @{boardPx}px;
}
@prefix .underboard {
  width: @{boardPx + 242 + 15}px;
}
@prefix div.underboard .center,
@prefix .progress_bar_container {
  width: @{boardPx}px;
}
body > div.content {
  margin-left: calc(50% - @{Math.round(246.5 + 256 * zoom)}px);
}
@if(is3d) {
body > div.content.is3d div.lichess_game .cg-board-wrap,
div.content.is3d .board_and_ground .cg-board-wrap {
  height: @{Math.round(464.5 * zoom)}px;
}
body > div.content.is3d div.lichess_game,
body > div.content.is3d .board_and_ground {
  height: @{Math.round(476 * zoom)}px;
  padding-top: @{Math.round(50 * (zoom - 1))}px;
}
}
</style>
}
}
