@(zoom: Float, is3d: Boolean)
@defining(is3d ?? ".is3d") { prefix =>
<style type="text/css">
@prefix div.lichess_game,
@prefix div.board_and_ground {
  height: @{zoom * 512}px;
  padding-top: 0;
}
@prefix #chat {
  height: @{355 + 510 * (zoom - 1)}px;
}
@prefix div.lichess_game .cg-board-wrap,
@prefix div.board_and_ground .cg-board-wrap {
  width: @{512 * zoom}px;
  height: @{512 * zoom}px;
}
@prefix div.underboard .center,
@prefix .progress_bar_container {
  width: @{512 * zoom}px;
}
body > div.content {
  margin-left: calc(50% - @{246.5 + 256 * zoom}px);
}
@if(is3d) {
body > div.content.is3d div.lichess_game .cg-board-wrap,
div.content.is3d .board_and_ground .cg-board-wrap {
  height: @{464.5 * zoom}px;
}
body > div.content.is3d div.lichess_game,
body > div.content.is3d .board_and_ground {
  height: @{476 * zoom}px;
  padding-top: @{50 * (zoom - 1)}px;
}
}
</style>
}
