piece.pawn.white {
  background-image: url("/assets/piece/orangain/wP.svg");
}
piece.bishop.white {
  background-image: url("/assets/piece/orangain/wB.svg");
}
piece.knight.white {
  background-image: url("/assets/piece/orangain/wN.svg");
}
piece.rook.white {
  background-image: url("/assets/piece/orangain/wR.svg");
}
piece.king.white {
  background-image: url("/assets/piece/orangain/wK.svg");
}
piece.gold.white {
  background-image: url("/assets/piece/orangain/wG.svg");
}
piece.silver.white {
  background-image: url("/assets/piece/orangain/wS.svg");
}
piece.lance.white {
  background-image: url("/assets/piece/orangain/wL.svg");
}

piece.horse.white {
  background-image: url("/assets/piece/orangain/wp_B.svg");
}
piece.promotedlance.white,
piece.promotedLance.white {
  background-image: url("/assets/piece/orangain/wp_L.svg");
}
piece.dragon.white {
  background-image: url("/assets/piece/orangain/wp_R.svg");
}
piece.promotedsilver.white,
piece.promotedSilver.white {
  background-image: url("/assets/piece/orangain/wp_S.svg");
}
piece.promotedknight.white,
piece.promotedKnight.white {
  background-image: url("/assets/piece/orangain/wp_N.svg");
}
piece.tokin.white {
  background-image: url("/assets/piece/orangain/wp_P.svg");
}

piece.pawn.black {
  background-image: url("/assets/piece/orangain/bP.svg");
}
piece.bishop.black {
  background-image: url("/assets/piece/orangain/bB.svg");
}
piece.knight.black {
  background-image: url("/assets/piece/orangain/bN.svg");
}
piece.rook.black {
  background-image: url("/assets/piece/orangain/bR.svg");
}
piece.king.black {
  background-image: url("/assets/piece/orangain/bK.svg");
}
piece.gold.black {
  background-image: url("/assets/piece/orangain/bG.svg");
}
piece.silver.black {
  background-image: url("/assets/piece/orangain/bS.svg");
}
piece.lance.black {
  background-image: url("/assets/piece/orangain/bL.svg");
}

piece.horse.black {
  background-image: url("/assets/piece/orangain/bp_B.svg");
}
piece.promotedlance.black,
piece.promotedLance.black {
  background-image: url("/assets/piece/orangain/bp_L.svg");
}
piece.dragon.black {
  background-image: url("/assets/piece/orangain/bp_R.svg");
}
piece.promotedsilver.black,
piece.promotedSilver.black {
  background-image: url("/assets/piece/orangain/bp_S.svg");
}
piece.promotedknight.black,
piece.promotedKnight.black {
  background-image: url("/assets/piece/orangain/bp_N.svg");
}
piece.tokin.black {
  background-image: url("/assets/piece/orangain/bp_P.svg");
}

/*
  Pieces for white
  */

.cg-wrap.orientation-white piece.pawn.white {
  background-image: url("/assets/piece/orangain/wP.svg");
}
.cg-wrap.orientation-white piece.bishop.white {
  background-image: url("/assets/piece/orangain/wB.svg");
}
.cg-wrap.orientation-white piece.knight.white {
  background-image: url("/assets/piece/orangain/wN.svg");
}
.cg-wrap.orientation-white piece.rook.white {
  background-image: url("/assets/piece/orangain/wR.svg");
}
.cg-wrap.orientation-white piece.king.white {
  background-image: url("/assets/piece/orangain/wK2.svg");
}
.cg-wrap.orientation-white piece.gold.white {
  background-image: url("/assets/piece/orangain/wG.svg");
}
.cg-wrap.orientation-white piece.silver.white {
  background-image: url("/assets/piece/orangain/wS.svg");
}
.cg-wrap.orientation-white piece.lance.white {
  background-image: url("/assets/piece/orangain/wL.svg");
}

.cg-wrap.orientation-white piece.horse.white {
  background-image: url("/assets/piece/orangain/wp_B.svg");
}
.cg-wrap.orientation-white piece.promotedlance.white,
.cg-wrap.orientation-white piece.promotedLance.white {
  background-image: url("/assets/piece/orangain/wp_L.svg");
}
.cg-wrap.orientation-white piece.dragon.white {
  background-image: url("/assets/piece/orangain/wp_R.svg");
}
.cg-wrap.orientation-white piece.promotedsilver.white,
.cg-wrap.orientation-white piece.promotedSilver.white {
  background-image: url("/assets/piece/orangain/wp_S.svg");
}
.cg-wrap.orientation-white piece.promotedknight.white,
.cg-wrap.orientation-white piece.promotedKnight.white {
  background-image: url("/assets/piece/orangain/wp_N.svg");
}
.cg-wrap.orientation-white piece.tokin.white {
  background-image: url("/assets/piece/orangain/wp_P.svg");
}

.cg-wrap.orientation-white piece.pawn.black {
  background-image: url("/assets/piece/orangain/bP.svg");
}
.cg-wrap.orientation-white piece.bishop.black {
  background-image: url("/assets/piece/orangain/bB.svg");
}
.cg-wrap.orientation-white piece.knight.black {
  background-image: url("/assets/piece/orangain/bN.svg");
}
.cg-wrap.orientation-white piece.rook.black {
  background-image: url("/assets/piece/orangain/bR.svg");
}
.cg-wrap.orientation-white piece.king.black {
  background-image: url("/assets/piece/orangain/bK.svg");
}
.cg-wrap.orientation-white piece.gold.black {
  background-image: url("/assets/piece/orangain/bG.svg");
}
.cg-wrap.orientation-white piece.silver.black {
  background-image: url("/assets/piece/orangain/bS.svg");
}
.cg-wrap.orientation-white piece.lance.black {
  background-image: url("/assets/piece/orangain/bL.svg");
}

.cg-wrap.orientation-white piece.horse.black {
  background-image: url("/assets/piece/orangain/bp_B.svg");
}
.cg-wrap.orientation-white piece.promotedlance.black,
.cg-wrap.orientation-white piece.promotedLance.black {
  background-image: url("/assets/piece/orangain/bp_L.svg");
}
.cg-wrap.orientation-white piece.dragon.black {
  background-image: url("/assets/piece/orangain/bp_R.svg");
}
.cg-wrap.orientation-white piece.promotedsilver.black,
.cg-wrap.orientation-white piece.promotedSilver.black {
  background-image: url("/assets/piece/orangain/bp_S.svg");
}
.cg-wrap.orientation-white piece.promotedknight.black,
.cg-wrap.orientation-white piece.promotedKnight.black {
  background-image: url("/assets/piece/orangain/bp_N.svg");
}
.cg-wrap.orientation-white piece.tokin.black {
  background-image: url("/assets/piece/orangain/bp_P.svg");
}

/*
  Pieces for black
  */

.cg-wrap.orientation-black piece.pawn.black {
  background-image: url("/assets/piece/orangain/wP.svg");
}
.cg-wrap.orientation-black piece.bishop.black {
  background-image: url("/assets/piece/orangain/wB.svg");
}
.cg-wrap.orientation-black piece.knight.black {
  background-image: url("/assets/piece/orangain/wN.svg");
}
.cg-wrap.orientation-black piece.rook.black {
  background-image: url("/assets/piece/orangain/wR.svg");
}
.cg-wrap.orientation-black piece.king.black {
  background-image: url("/assets/piece/orangain/wK.svg");
}
.cg-wrap.orientation-black piece.gold.black {
  background-image: url("/assets/piece/orangain/wG.svg");
}
.cg-wrap.orientation-black piece.silver.black {
  background-image: url("/assets/piece/orangain/wS.svg");
}
.cg-wrap.orientation-black piece.lance.black {
  background-image: url("/assets/piece/orangain/wL.svg");
}

.cg-wrap.orientation-black piece.horse.black {
  background-image: url("/assets/piece/orangain/wp_B.svg");
}
.cg-wrap.orientation-black piece.promotedlance.black,
.cg-wrap.orientation-black piece.promotedLance.black {
  background-image: url("/assets/piece/orangain/wp_L.svg");
}
.cg-wrap.orientation-black piece.dragon.black {
  background-image: url("/assets/piece/orangain/wp_R.svg");
}
.cg-wrap.orientation-black piece.promotedsilver.black,
.cg-wrap.orientation-black piece.promotedSilver.black {
  background-image: url("/assets/piece/orangain/wp_S.svg");
}
.cg-wrap.orientation-black piece.promotedknight.black,
.cg-wrap.orientation-black piece.promotedKnight.black {
  background-image: url("/assets/piece/orangain/wp_N.svg");
}
.cg-wrap.orientation-black piece.tokin.black {
  background-image: url("/assets/piece/orangain/wp_P.svg");
}

.cg-wrap.orientation-black piece.pawn.white {
  background-image: url("/assets/piece/orangain/bP.svg");
}
.cg-wrap.orientation-black piece.bishop.white {
  background-image: url("/assets/piece/orangain/bB.svg");
}
.cg-wrap.orientation-black piece.knight.white {
  background-image: url("/assets/piece/orangain/bN.svg");
}
.cg-wrap.orientation-black piece.rook.white {
  background-image: url("/assets/piece/orangain/bR.svg");
}
.cg-wrap.orientation-black piece.king.white {
  background-image: url("/assets/piece/orangain/bK2.svg");
}
.cg-wrap.orientation-black piece.gold.white {
  background-image: url("/assets/piece/orangain/bG.svg");
}
.cg-wrap.orientation-black piece.silver.white {
  background-image: url("/assets/piece/orangain/bS.svg");
}
.cg-wrap.orientation-black piece.lance.white {
  background-image: url("/assets/piece/orangain/bL.svg");
}

.cg-wrap.orientation-black piece.horse.white {
  background-image: url("/assets/piece/orangain/bp_B.svg");
}
.cg-wrap.orientation-black piece.promotedlance.white,
.cg-wrap.orientation-black piece.promotedLance.white {
  background-image: url("/assets/piece/orangain/bp_L.svg");
}
.cg-wrap.orientation-black piece.dragon.white {
  background-image: url("/assets/piece/orangain/bp_R.svg");
}
.cg-wrap.orientation-black piece.promotedsilver.white,
.cg-wrap.orientation-black piece.promotedSilver.white {
  background-image: url("/assets/piece/orangain/bp_S.svg");
}
.cg-wrap.orientation-black piece.promotedknight.white,
.cg-wrap.orientation-black piece.promotedKnight.white {
  background-image: url("/assets/piece/orangain/bp_N.svg");
}
.cg-wrap.orientation-black piece.tokin.white {
  background-image: url("/assets/piece/orangain/bp_P.svg");
}

/*
  Promotions
  */

#promotion-choice piece.pawn {
  background-image: url("/assets/piece/orangain/wP.svg");
}
#promotion-choice piece.silver {
  background-image: url("/assets/piece/orangain/wS.svg");
}
#promotion-choice piece.lance {
  background-image: url("/assets/piece/orangain/wL.svg");
}
#promotion-choice piece.knight {
  background-image: url("/assets/piece/orangain/wN.svg");
}
#promotion-choice piece.rook {
  background-image: url("/assets/piece/orangain/wR.svg");
}
#promotion-choice piece.bishop {
  background-image: url("/assets/piece/orangain/wB.svg");
}
#promotion-choice piece.tokin {
  background-image: url("/assets/piece/orangain/wp_P.svg");
}
#promotion-choice piece.promotedsilver,
#promotion-choice piece.promotedSilver {
  background-image: url("/assets/piece/orangain/wp_S.svg");
}
#promotion-choice piece.promotedlance,
#promotion-choice piece.promotedLance {
  background-image: url("/assets/piece/orangain/wp_L.svg");
}
#promotion-choice piece.promotedknight,
#promotion-choice piece.promotedKnight {
  background-image: url("/assets/piece/orangain/wp_N.svg");
}
#promotion-choice piece.dragon {
  background-image: url("/assets/piece/orangain/wp_R.svg");
}
#promotion-choice piece.horse {
  background-image: url("/assets/piece/orangain/wp_B.svg");
}

/*
  Pockets
  */

.pocket-top piece.pawn {
  background-image: url("/assets/piece/orangain/bP.svg");
}
.pocket-top piece.lance {
  background-image: url("/assets/piece/orangain/bL.svg");
}
.pocket-top piece.knight {
  background-image: url("/assets/piece/orangain/bN.svg");
}
.pocket-top piece.silver {
  background-image: url("/assets/piece/orangain/bS.svg");
}
.pocket-top piece.gold {
  background-image: url("/assets/piece/orangain/bG.svg");
}
.pocket-top piece.bishop {
  background-image: url("/assets/piece/orangain/bB.svg");
}
.pocket-top piece.rook {
  background-image: url("/assets/piece/orangain/bR.svg");
}

.pocket-bottom piece.pawn {
  background-image: url("/assets/piece/orangain/wP.svg");
}
.pocket-bottom piece.lance {
  background-image: url("/assets/piece/orangain/wL.svg");
}
.pocket-bottom piece.knight {
  background-image: url("/assets/piece/orangain/wN.svg");
}
.pocket-bottom piece.silver {
  background-image: url("/assets/piece/orangain/wS.svg");
}
.pocket-bottom piece.gold {
  background-image: url("/assets/piece/orangain/wG.svg");
}
.pocket-bottom piece.bishop {
  background-image: url("/assets/piece/orangain/wB.svg");
}
.pocket-bottom piece.rook {
  background-image: url("/assets/piece/orangain/wR.svg");
}
