.sg-wrap.orientation-gote.d-12x12 piece.lance.gote,
      .main-v-chushogi .spare-bottom piece.lance.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_LANCE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.leopard.gote,
      .main-v-chushogi .spare-bottom piece.leopard.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_LEOPARD.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.copper.gote,
      .main-v-chushogi .spare-bottom piece.copper.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_COPPER-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.silver.gote,
      .main-v-chushogi .spare-bottom piece.silver.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_SILVER-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.gold.gote,
      .main-v-chushogi .spare-bottom piece.gold.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_GOLD-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.elephant.gote,
      .main-v-chushogi .spare-bottom piece.elephant.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_ELEPHANT-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.chariot.gote,
      .main-v-chushogi .spare-bottom piece.chariot.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_CHARIOT.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.bishop.gote,
      .main-v-chushogi .spare-bottom piece.bishop.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_BISHOP.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.tiger.gote,
      .main-v-chushogi .spare-bottom piece.tiger.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_TIGER-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.phoenix.gote,
      .main-v-chushogi .spare-bottom piece.phoenix.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_PHOENIX.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.kirin.gote,
      .main-v-chushogi .spare-bottom piece.kirin.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_KIRIN.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.sidemover.gote,
      .main-v-chushogi .spare-bottom piece.sidemover.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_SIDEMOVER.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.verticalmover.gote,
      .main-v-chushogi .spare-bottom piece.verticalmover.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_VERTICALMOVER.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.rook.gote,
      .main-v-chushogi .spare-bottom piece.rook.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_ROOK.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.horse.gote,
      .main-v-chushogi .spare-bottom piece.horse.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_HORSE.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.dragon.gote,
      .main-v-chushogi .spare-bottom piece.dragon.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_DRAGON.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.queen.gote,
      .main-v-chushogi .spare-bottom piece.queen.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_QUEEN.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.lion.gote,
      .main-v-chushogi .spare-bottom piece.lion.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_LION.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.pawn.gote,
      .main-v-chushogi .spare-bottom piece.pawn.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_PAWN-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.gobetween.gote,
      .main-v-chushogi .spare-bottom piece.gobetween.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_GOBETWEEN-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.king.gote,
      .main-v-chushogi .spare-bottom piece.king.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_KING.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.promotedpawn.gote,
      .main-v-chushogi .spare-bottom piece.promotedpawn.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_PROMOTEDPAWN-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.ox.gote,
      .main-v-chushogi .spare-bottom piece.ox.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_OX.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.stag.gote,
      .main-v-chushogi .spare-bottom piece.stag.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_STAG.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.boar.gote,
      .main-v-chushogi .spare-bottom piece.boar.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_BOAR.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.falcon.gote,
      .main-v-chushogi .spare-bottom piece.falcon.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_FALCON-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.prince.gote,
      .main-v-chushogi .spare-bottom piece.prince.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_PRINCE.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.eagle.gote,
      .main-v-chushogi .spare-bottom piece.eagle.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_EAGLE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.whale.gote,
      .main-v-chushogi .spare-bottom piece.whale.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_WHALE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.whitehorse.gote,
      .main-v-chushogi .spare-bottom piece.whitehorse.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_WHITEHORSE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.dragonpromoted.gote,
      .main-v-chushogi .spare-bottom piece.dragonpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_DRAGONPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.horsepromoted.gote,
      .main-v-chushogi .spare-bottom piece.horsepromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_HORSEPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.lionpromoted.gote,
      .main-v-chushogi .spare-bottom piece.lionpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_LIONPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.queenpromoted.gote,
      .main-v-chushogi .spare-bottom piece.queenpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_QUEENPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.bishoppromoted.gote,
      .main-v-chushogi .spare-bottom piece.bishoppromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_BISHOPPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.elephantpromoted.gote,
      .main-v-chushogi .spare-bottom piece.elephantpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_ELEPHANTPROMOTED-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.sidemoverpromoted.gote,
      .main-v-chushogi .spare-bottom piece.sidemoverpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_SIDEMOVERPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.verticalmoverpromoted.gote,
      .main-v-chushogi .spare-bottom piece.verticalmoverpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_VERTICALMOVERPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.rookpromoted.gote,
      .main-v-chushogi .spare-bottom piece.rookpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/0_ROOKPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.lance.sente,
      .main-v-chushogi .spare-top piece.lance.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_LANCE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.leopard.sente,
      .main-v-chushogi .spare-top piece.leopard.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_LEOPARD.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.copper.sente,
      .main-v-chushogi .spare-top piece.copper.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_COPPER-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.silver.sente,
      .main-v-chushogi .spare-top piece.silver.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_SILVER-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.gold.sente,
      .main-v-chushogi .spare-top piece.gold.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_GOLD-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.elephant.sente,
      .main-v-chushogi .spare-top piece.elephant.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_ELEPHANT-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.chariot.sente,
      .main-v-chushogi .spare-top piece.chariot.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_CHARIOT.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.bishop.sente,
      .main-v-chushogi .spare-top piece.bishop.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_BISHOP.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.tiger.sente,
      .main-v-chushogi .spare-top piece.tiger.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_TIGER-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.phoenix.sente,
      .main-v-chushogi .spare-top piece.phoenix.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_PHOENIX.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.kirin.sente,
      .main-v-chushogi .spare-top piece.kirin.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_KIRIN.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.sidemover.sente,
      .main-v-chushogi .spare-top piece.sidemover.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_SIDEMOVER.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.verticalmover.sente,
      .main-v-chushogi .spare-top piece.verticalmover.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_VERTICALMOVER.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.rook.sente,
      .main-v-chushogi .spare-top piece.rook.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_ROOK.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.horse.sente,
      .main-v-chushogi .spare-top piece.horse.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_HORSE.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.dragon.sente,
      .main-v-chushogi .spare-top piece.dragon.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_DRAGON.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.queen.sente,
      .main-v-chushogi .spare-top piece.queen.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_QUEEN.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.lion.sente,
      .main-v-chushogi .spare-top piece.lion.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_LION.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.pawn.sente,
      .main-v-chushogi .spare-top piece.pawn.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_PAWN-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.gobetween.sente,
      .main-v-chushogi .spare-top piece.gobetween.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_GOBETWEEN-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.king.sente,
      .main-v-chushogi .spare-top piece.king.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_KING.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.promotedpawn.sente,
      .main-v-chushogi .spare-top piece.promotedpawn.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_PROMOTEDPAWN-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.ox.sente,
      .main-v-chushogi .spare-top piece.ox.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_OX.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.stag.sente,
      .main-v-chushogi .spare-top piece.stag.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_STAG.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.boar.sente,
      .main-v-chushogi .spare-top piece.boar.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_BOAR.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.falcon.sente,
      .main-v-chushogi .spare-top piece.falcon.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_FALCON-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.prince.sente,
      .main-v-chushogi .spare-top piece.prince.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_PRINCE.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.eagle.sente,
      .main-v-chushogi .spare-top piece.eagle.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_EAGLE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.whale.sente,
      .main-v-chushogi .spare-top piece.whale.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_WHALE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.whitehorse.sente,
      .main-v-chushogi .spare-top piece.whitehorse.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_WHITEHORSE-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.dragonpromoted.sente,
      .main-v-chushogi .spare-top piece.dragonpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_DRAGONPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.horsepromoted.sente,
      .main-v-chushogi .spare-top piece.horsepromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_HORSEPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.lionpromoted.sente,
      .main-v-chushogi .spare-top piece.lionpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_LIONPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.queenpromoted.sente,
      .main-v-chushogi .spare-top piece.queenpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_QUEENPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.bishoppromoted.sente,
      .main-v-chushogi .spare-top piece.bishoppromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_BISHOPPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.elephantpromoted.sente,
      .main-v-chushogi .spare-top piece.elephantpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_ELEPHANTPROMOTED-1.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.sidemoverpromoted.sente,
      .main-v-chushogi .spare-top piece.sidemoverpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_SIDEMOVERPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.verticalmoverpromoted.sente,
      .main-v-chushogi .spare-top piece.verticalmoverpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_VERTICALMOVERPROMOTED.svg') !important;}
.sg-wrap.orientation-gote.d-12x12 piece.rookpromoted.sente,
      .main-v-chushogi .spare-top piece.rookpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/1_ROOKPROMOTED.svg') !important;}
.d-12x12 piece.lance.sente, .v-chushogi piece.lance.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.lance.sente,
      .main-v-chushogi .spare-bottom piece.lance.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_LANCE.svg') !important;}
.d-12x12 piece.leopard.sente, .v-chushogi piece.leopard.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.leopard.sente,
      .main-v-chushogi .spare-bottom piece.leopard.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_LEOPARD.svg') !important;}
.d-12x12 piece.copper.sente, .v-chushogi piece.copper.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.copper.sente,
      .main-v-chushogi .spare-bottom piece.copper.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_COPPER.svg') !important;}
.d-12x12 piece.silver.sente, .v-chushogi piece.silver.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.silver.sente,
      .main-v-chushogi .spare-bottom piece.silver.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_SILVER.svg') !important;}
.d-12x12 piece.gold.sente, .v-chushogi piece.gold.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.gold.sente,
      .main-v-chushogi .spare-bottom piece.gold.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_GOLD.svg') !important;}
.d-12x12 piece.elephant.sente, .v-chushogi piece.elephant.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.elephant.sente,
      .main-v-chushogi .spare-bottom piece.elephant.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_ELEPHANT.svg') !important;}
.d-12x12 piece.chariot.sente, .v-chushogi piece.chariot.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.chariot.sente,
      .main-v-chushogi .spare-bottom piece.chariot.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_CHARIOT.svg') !important;}
.d-12x12 piece.bishop.sente, .v-chushogi piece.bishop.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.bishop.sente,
      .main-v-chushogi .spare-bottom piece.bishop.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_BISHOP.svg') !important;}
.d-12x12 piece.tiger.sente, .v-chushogi piece.tiger.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.tiger.sente,
      .main-v-chushogi .spare-bottom piece.tiger.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_TIGER.svg') !important;}
.d-12x12 piece.phoenix.sente, .v-chushogi piece.phoenix.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.phoenix.sente,
      .main-v-chushogi .spare-bottom piece.phoenix.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_PHOENIX.svg') !important;}
.d-12x12 piece.kirin.sente, .v-chushogi piece.kirin.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.kirin.sente,
      .main-v-chushogi .spare-bottom piece.kirin.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_KIRIN.svg') !important;}
.d-12x12 piece.sidemover.sente, .v-chushogi piece.sidemover.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.sidemover.sente,
      .main-v-chushogi .spare-bottom piece.sidemover.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_SIDEMOVER.svg') !important;}
.d-12x12 piece.verticalmover.sente, .v-chushogi piece.verticalmover.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.verticalmover.sente,
      .main-v-chushogi .spare-bottom piece.verticalmover.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_VERTICALMOVER.svg') !important;}
.d-12x12 piece.rook.sente, .v-chushogi piece.rook.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.rook.sente,
      .main-v-chushogi .spare-bottom piece.rook.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_ROOK.svg') !important;}
.d-12x12 piece.horse.sente, .v-chushogi piece.horse.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.horse.sente,
      .main-v-chushogi .spare-bottom piece.horse.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_HORSE.svg') !important;}
.d-12x12 piece.dragon.sente, .v-chushogi piece.dragon.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.dragon.sente,
      .main-v-chushogi .spare-bottom piece.dragon.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_DRAGON.svg') !important;}
.d-12x12 piece.queen.sente, .v-chushogi piece.queen.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.queen.sente,
      .main-v-chushogi .spare-bottom piece.queen.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_QUEEN.svg') !important;}
.d-12x12 piece.lion.sente, .v-chushogi piece.lion.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.lion.sente,
      .main-v-chushogi .spare-bottom piece.lion.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_LION.svg') !important;}
.d-12x12 piece.pawn.sente, .v-chushogi piece.pawn.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.pawn.sente,
      .main-v-chushogi .spare-bottom piece.pawn.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_PAWN.svg') !important;}
.d-12x12 piece.gobetween.sente, .v-chushogi piece.gobetween.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.gobetween.sente,
      .main-v-chushogi .spare-bottom piece.gobetween.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_GOBETWEEN.svg') !important;}
.d-12x12 piece.king.sente, .v-chushogi piece.king.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.king.sente,
      .main-v-chushogi .spare-bottom piece.king.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_KING.svg') !important;}
.d-12x12 piece.promotedpawn.sente, .v-chushogi piece.promotedpawn.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.promotedpawn.sente,
      .main-v-chushogi .spare-bottom piece.promotedpawn.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_PROMOTEDPAWN.svg') !important;}
.d-12x12 piece.ox.sente, .v-chushogi piece.ox.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.ox.sente,
      .main-v-chushogi .spare-bottom piece.ox.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_OX.svg') !important;}
.d-12x12 piece.stag.sente, .v-chushogi piece.stag.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.stag.sente,
      .main-v-chushogi .spare-bottom piece.stag.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_STAG.svg') !important;}
.d-12x12 piece.boar.sente, .v-chushogi piece.boar.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.boar.sente,
      .main-v-chushogi .spare-bottom piece.boar.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_BOAR.svg') !important;}
.d-12x12 piece.falcon.sente, .v-chushogi piece.falcon.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.falcon.sente,
      .main-v-chushogi .spare-bottom piece.falcon.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_FALCON.svg') !important;}
.d-12x12 piece.prince.sente, .v-chushogi piece.prince.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.prince.sente,
      .main-v-chushogi .spare-bottom piece.prince.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_PRINCE.svg') !important;}
.d-12x12 piece.eagle.sente, .v-chushogi piece.eagle.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.eagle.sente,
      .main-v-chushogi .spare-bottom piece.eagle.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_EAGLE.svg') !important;}
.d-12x12 piece.whale.sente, .v-chushogi piece.whale.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.whale.sente,
      .main-v-chushogi .spare-bottom piece.whale.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_WHALE.svg') !important;}
.d-12x12 piece.whitehorse.sente, .v-chushogi piece.whitehorse.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.whitehorse.sente,
      .main-v-chushogi .spare-bottom piece.whitehorse.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_WHITEHORSE.svg') !important;}
.d-12x12 piece.dragonpromoted.sente, .v-chushogi piece.dragonpromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.dragonpromoted.sente,
      .main-v-chushogi .spare-bottom piece.dragonpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_DRAGONPROMOTED.svg') !important;}
.d-12x12 piece.horsepromoted.sente, .v-chushogi piece.horsepromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.horsepromoted.sente,
      .main-v-chushogi .spare-bottom piece.horsepromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_HORSEPROMOTED.svg') !important;}
.d-12x12 piece.lionpromoted.sente, .v-chushogi piece.lionpromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.lionpromoted.sente,
      .main-v-chushogi .spare-bottom piece.lionpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_LIONPROMOTED.svg') !important;}
.d-12x12 piece.queenpromoted.sente, .v-chushogi piece.queenpromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.queenpromoted.sente,
      .main-v-chushogi .spare-bottom piece.queenpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_QUEENPROMOTED.svg') !important;}
.d-12x12 piece.bishoppromoted.sente, .v-chushogi piece.bishoppromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.bishoppromoted.sente,
      .main-v-chushogi .spare-bottom piece.bishoppromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_BISHOPPROMOTED.svg') !important;}
.d-12x12 piece.elephantpromoted.sente, .v-chushogi piece.elephantpromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.elephantpromoted.sente,
      .main-v-chushogi .spare-bottom piece.elephantpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_ELEPHANTPROMOTED.svg') !important;}
.d-12x12 piece.sidemoverpromoted.sente, .v-chushogi piece.sidemoverpromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.sidemoverpromoted.sente,
      .main-v-chushogi .spare-bottom piece.sidemoverpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_SIDEMOVERPROMOTED.svg') !important;}
.d-12x12 piece.verticalmoverpromoted.sente, .v-chushogi piece.verticalmoverpromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.verticalmoverpromoted.sente,
      .main-v-chushogi .spare-bottom piece.verticalmoverpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_VERTICALMOVERPROMOTED.svg') !important;}
.d-12x12 piece.rookpromoted.sente, .v-chushogi piece.rookpromoted.sente,
      .sg-wrap.orientation-sente.d-12x12 piece.rookpromoted.sente,
      .main-v-chushogi .spare-bottom piece.rookpromoted.sente {background-image:url('/assets/piece/Chu_Mnemonic/0_ROOKPROMOTED.svg') !important;}
.d-12x12 piece.lance.gote, .v-chushogi piece.lance.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.lance.gote,
      .main-v-chushogi .spare-top piece.lance.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_LANCE.svg') !important;}
.d-12x12 piece.leopard.gote, .v-chushogi piece.leopard.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.leopard.gote,
      .main-v-chushogi .spare-top piece.leopard.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_LEOPARD.svg') !important;}
.d-12x12 piece.copper.gote, .v-chushogi piece.copper.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.copper.gote,
      .main-v-chushogi .spare-top piece.copper.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_COPPER.svg') !important;}
.d-12x12 piece.silver.gote, .v-chushogi piece.silver.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.silver.gote,
      .main-v-chushogi .spare-top piece.silver.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_SILVER.svg') !important;}
.d-12x12 piece.gold.gote, .v-chushogi piece.gold.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.gold.gote,
      .main-v-chushogi .spare-top piece.gold.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_GOLD.svg') !important;}
.d-12x12 piece.elephant.gote, .v-chushogi piece.elephant.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.elephant.gote,
      .main-v-chushogi .spare-top piece.elephant.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_ELEPHANT.svg') !important;}
.d-12x12 piece.chariot.gote, .v-chushogi piece.chariot.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.chariot.gote,
      .main-v-chushogi .spare-top piece.chariot.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_CHARIOT.svg') !important;}
.d-12x12 piece.bishop.gote, .v-chushogi piece.bishop.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.bishop.gote,
      .main-v-chushogi .spare-top piece.bishop.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_BISHOP.svg') !important;}
.d-12x12 piece.tiger.gote, .v-chushogi piece.tiger.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.tiger.gote,
      .main-v-chushogi .spare-top piece.tiger.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_TIGER.svg') !important;}
.d-12x12 piece.phoenix.gote, .v-chushogi piece.phoenix.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.phoenix.gote,
      .main-v-chushogi .spare-top piece.phoenix.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_PHOENIX.svg') !important;}
.d-12x12 piece.kirin.gote, .v-chushogi piece.kirin.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.kirin.gote,
      .main-v-chushogi .spare-top piece.kirin.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_KIRIN.svg') !important;}
.d-12x12 piece.sidemover.gote, .v-chushogi piece.sidemover.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.sidemover.gote,
      .main-v-chushogi .spare-top piece.sidemover.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_SIDEMOVER.svg') !important;}
.d-12x12 piece.verticalmover.gote, .v-chushogi piece.verticalmover.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.verticalmover.gote,
      .main-v-chushogi .spare-top piece.verticalmover.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_VERTICALMOVER.svg') !important;}
.d-12x12 piece.rook.gote, .v-chushogi piece.rook.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.rook.gote,
      .main-v-chushogi .spare-top piece.rook.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_ROOK.svg') !important;}
.d-12x12 piece.horse.gote, .v-chushogi piece.horse.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.horse.gote,
      .main-v-chushogi .spare-top piece.horse.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_HORSE.svg') !important;}
.d-12x12 piece.dragon.gote, .v-chushogi piece.dragon.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.dragon.gote,
      .main-v-chushogi .spare-top piece.dragon.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_DRAGON.svg') !important;}
.d-12x12 piece.queen.gote, .v-chushogi piece.queen.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.queen.gote,
      .main-v-chushogi .spare-top piece.queen.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_QUEEN.svg') !important;}
.d-12x12 piece.lion.gote, .v-chushogi piece.lion.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.lion.gote,
      .main-v-chushogi .spare-top piece.lion.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_LION.svg') !important;}
.d-12x12 piece.pawn.gote, .v-chushogi piece.pawn.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.pawn.gote,
      .main-v-chushogi .spare-top piece.pawn.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_PAWN.svg') !important;}
.d-12x12 piece.gobetween.gote, .v-chushogi piece.gobetween.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.gobetween.gote,
      .main-v-chushogi .spare-top piece.gobetween.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_GOBETWEEN.svg') !important;}
.d-12x12 piece.king.gote, .v-chushogi piece.king.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.king.gote,
      .main-v-chushogi .spare-top piece.king.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_KING.svg') !important;}
.d-12x12 piece.promotedpawn.gote, .v-chushogi piece.promotedpawn.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.promotedpawn.gote,
      .main-v-chushogi .spare-top piece.promotedpawn.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_PROMOTEDPAWN.svg') !important;}
.d-12x12 piece.ox.gote, .v-chushogi piece.ox.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.ox.gote,
      .main-v-chushogi .spare-top piece.ox.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_OX.svg') !important;}
.d-12x12 piece.stag.gote, .v-chushogi piece.stag.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.stag.gote,
      .main-v-chushogi .spare-top piece.stag.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_STAG.svg') !important;}
.d-12x12 piece.boar.gote, .v-chushogi piece.boar.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.boar.gote,
      .main-v-chushogi .spare-top piece.boar.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_BOAR.svg') !important;}
.d-12x12 piece.falcon.gote, .v-chushogi piece.falcon.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.falcon.gote,
      .main-v-chushogi .spare-top piece.falcon.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_FALCON.svg') !important;}
.d-12x12 piece.prince.gote, .v-chushogi piece.prince.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.prince.gote,
      .main-v-chushogi .spare-top piece.prince.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_PRINCE.svg') !important;}
.d-12x12 piece.eagle.gote, .v-chushogi piece.eagle.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.eagle.gote,
      .main-v-chushogi .spare-top piece.eagle.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_EAGLE.svg') !important;}
.d-12x12 piece.whale.gote, .v-chushogi piece.whale.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.whale.gote,
      .main-v-chushogi .spare-top piece.whale.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_WHALE.svg') !important;}
.d-12x12 piece.whitehorse.gote, .v-chushogi piece.whitehorse.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.whitehorse.gote,
      .main-v-chushogi .spare-top piece.whitehorse.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_WHITEHORSE.svg') !important;}
.d-12x12 piece.dragonpromoted.gote, .v-chushogi piece.dragonpromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.dragonpromoted.gote,
      .main-v-chushogi .spare-top piece.dragonpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_DRAGONPROMOTED.svg') !important;}
.d-12x12 piece.horsepromoted.gote, .v-chushogi piece.horsepromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.horsepromoted.gote,
      .main-v-chushogi .spare-top piece.horsepromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_HORSEPROMOTED.svg') !important;}
.d-12x12 piece.lionpromoted.gote, .v-chushogi piece.lionpromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.lionpromoted.gote,
      .main-v-chushogi .spare-top piece.lionpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_LIONPROMOTED.svg') !important;}
.d-12x12 piece.queenpromoted.gote, .v-chushogi piece.queenpromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.queenpromoted.gote,
      .main-v-chushogi .spare-top piece.queenpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_QUEENPROMOTED.svg') !important;}
.d-12x12 piece.bishoppromoted.gote, .v-chushogi piece.bishoppromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.bishoppromoted.gote,
      .main-v-chushogi .spare-top piece.bishoppromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_BISHOPPROMOTED.svg') !important;}
.d-12x12 piece.elephantpromoted.gote, .v-chushogi piece.elephantpromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.elephantpromoted.gote,
      .main-v-chushogi .spare-top piece.elephantpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_ELEPHANTPROMOTED.svg') !important;}
.d-12x12 piece.sidemoverpromoted.gote, .v-chushogi piece.sidemoverpromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.sidemoverpromoted.gote,
      .main-v-chushogi .spare-top piece.sidemoverpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_SIDEMOVERPROMOTED.svg') !important;}
.d-12x12 piece.verticalmoverpromoted.gote, .v-chushogi piece.verticalmoverpromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.verticalmoverpromoted.gote,
      .main-v-chushogi .spare-top piece.verticalmoverpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_VERTICALMOVERPROMOTED.svg') !important;}
.d-12x12 piece.rookpromoted.gote, .v-chushogi piece.rookpromoted.gote,
      .sg-wrap.orientation-sente.d-12x12 piece.rookpromoted.gote,
      .main-v-chushogi .spare-top piece.rookpromoted.gote {background-image:url('/assets/piece/Chu_Mnemonic/1_ROOKPROMOTED.svg') !important;}
piece{ will-change: auto; background-repeat: no-repeat; }
piece{ background-size: contain !important; }
