.sg-wrap.orientation-gote piece.pawn.gote,
      .hand-bottom piece.pawn.gote,
      .spare-bottom piece.pawn.gote {background-image:url('/assets/piece/joyful/0FU-1.png')}
.sg-wrap.orientation-gote piece.silver.gote,
      .hand-bottom piece.silver.gote,
      .spare-bottom piece.silver.gote {background-image:url('/assets/piece/joyful/0GI-1.png')}
.sg-wrap.orientation-gote piece.tama.gote,
      .hand-bottom piece.tama.gote,
      .spare-bottom piece.tama.gote {background-image:url('/assets/piece/joyful/0GY-1.png')}
.sg-wrap.orientation-gote piece.rook.gote,
      .hand-bottom piece.rook.gote,
      .spare-bottom piece.rook.gote {background-image:url('/assets/piece/joyful/0HI-1.png')}
.sg-wrap.orientation-gote piece.bishop.gote,
      .hand-bottom piece.bishop.gote,
      .spare-bottom piece.bishop.gote {background-image:url('/assets/piece/joyful/0KA-1.png')}
.sg-wrap.orientation-gote piece.knight.gote,
      .hand-bottom piece.knight.gote,
      .spare-bottom piece.knight.gote {background-image:url('/assets/piece/joyful/0KE-1.png')}
.sg-wrap.orientation-gote piece.gold.gote,
      .hand-bottom piece.gold.gote,
      .spare-bottom piece.gold.gote {background-image:url('/assets/piece/joyful/0KI-1.png')}
.sg-wrap.orientation-gote piece.lance.gote,
      .hand-bottom piece.lance.gote,
      .spare-bottom piece.lance.gote {background-image:url('/assets/piece/joyful/0KY-1.png')}
.sg-wrap.orientation-gote piece.promotedsilver.gote,
      .hand-bottom piece.promotedsilver.gote,
      .spare-bottom piece.promotedsilver.gote {background-image:url('/assets/piece/joyful/0NG-1.png')}
.sg-wrap.orientation-gote piece.promotedknight.gote,
      .hand-bottom piece.promotedknight.gote,
      .spare-bottom piece.promotedknight.gote {background-image:url('/assets/piece/joyful/0NK-1.png')}
.sg-wrap.orientation-gote piece.promotedlance.gote,
      .hand-bottom piece.promotedlance.gote,
      .spare-bottom piece.promotedlance.gote {background-image:url('/assets/piece/joyful/0NY-1.png')}
.sg-wrap.orientation-gote piece.king.gote,
      .hand-bottom piece.king.gote,
      .spare-bottom piece.king.gote {background-image:url('/assets/piece/joyful/0OU-1.png')}
.sg-wrap.orientation-gote piece.dragon.gote,
      .hand-bottom piece.dragon.gote,
      .spare-bottom piece.dragon.gote {background-image:url('/assets/piece/joyful/0RY-1.png')}
.sg-wrap.orientation-gote piece.tokin.gote,
      .hand-bottom piece.tokin.gote,
      .spare-bottom piece.tokin.gote {background-image:url('/assets/piece/joyful/0TO-1.png')}
.sg-wrap.orientation-gote piece.horse.gote,
      .hand-bottom piece.horse.gote,
      .spare-bottom piece.horse.gote {background-image:url('/assets/piece/joyful/0UM-1.png')}
.sg-wrap.orientation-gote piece.pawn.sente,
      .hand-top piece.pawn.sente,
      .spare-top piece.pawn.sente {background-image:url('/assets/piece/joyful/1FU-1.png')}
.sg-wrap.orientation-gote piece.silver.sente,
      .hand-top piece.silver.sente,
      .spare-top piece.silver.sente {background-image:url('/assets/piece/joyful/1GI-1.png')}
.sg-wrap.orientation-gote piece.tama.sente,
      .hand-top piece.tama.sente,
      .spare-top piece.tama.sente {background-image:url('/assets/piece/joyful/1GY-1.png')}
.sg-wrap.orientation-gote piece.rook.sente,
      .hand-top piece.rook.sente,
      .spare-top piece.rook.sente {background-image:url('/assets/piece/joyful/1HI-1.png')}
.sg-wrap.orientation-gote piece.bishop.sente,
      .hand-top piece.bishop.sente,
      .spare-top piece.bishop.sente {background-image:url('/assets/piece/joyful/1KA-1.png')}
.sg-wrap.orientation-gote piece.knight.sente,
      .hand-top piece.knight.sente,
      .spare-top piece.knight.sente {background-image:url('/assets/piece/joyful/1KE-1.png')}
.sg-wrap.orientation-gote piece.gold.sente,
      .hand-top piece.gold.sente,
      .spare-top piece.gold.sente {background-image:url('/assets/piece/joyful/1KI-1.png')}
.sg-wrap.orientation-gote piece.lance.sente,
      .hand-top piece.lance.sente,
      .spare-top piece.lance.sente {background-image:url('/assets/piece/joyful/1KY-1.png')}
.sg-wrap.orientation-gote piece.promotedsilver.sente,
      .hand-top piece.promotedsilver.sente,
      .spare-top piece.promotedsilver.sente {background-image:url('/assets/piece/joyful/1NG-1.png')}
.sg-wrap.orientation-gote piece.promotedknight.sente,
      .hand-top piece.promotedknight.sente,
      .spare-top piece.promotedknight.sente {background-image:url('/assets/piece/joyful/1NK-1.png')}
.sg-wrap.orientation-gote piece.promotedlance.sente,
      .hand-top piece.promotedlance.sente,
      .spare-top piece.promotedlance.sente {background-image:url('/assets/piece/joyful/1NY-1.png')}
.sg-wrap.orientation-gote piece.king.sente,
      .hand-top piece.king.sente,
      .spare-top piece.king.sente {background-image:url('/assets/piece/joyful/1OU-1.png')}
.sg-wrap.orientation-gote piece.dragon.sente,
      .hand-top piece.dragon.sente,
      .spare-top piece.dragon.sente {background-image:url('/assets/piece/joyful/1RY-1.png')}
.sg-wrap.orientation-gote piece.tokin.sente,
      .hand-top piece.tokin.sente,
      .spare-top piece.tokin.sente {background-image:url('/assets/piece/joyful/1TO-1.png')}
.sg-wrap.orientation-gote piece.horse.sente,
      .hand-top piece.horse.sente,
      .spare-top piece.horse.sente {background-image:url('/assets/piece/joyful/1UM-1.png')}
piece.pawn.sente,
      .sg-wrap.orientation-sente piece.pawn.sente,
      .hand-bottom piece.pawn.sente,
      .spare-bottom piece.pawn.sente {background-image:url('/assets/piece/joyful/0FU.png')}
piece.silver.sente,
      .sg-wrap.orientation-sente piece.silver.sente,
      .hand-bottom piece.silver.sente,
      .spare-bottom piece.silver.sente {background-image:url('/assets/piece/joyful/0GI.png')}
piece.tama.sente,
      .sg-wrap.orientation-sente piece.tama.sente,
      .hand-bottom piece.tama.sente,
      .spare-bottom piece.tama.sente {background-image:url('/assets/piece/joyful/0GY.png')}
piece.rook.sente,
      .sg-wrap.orientation-sente piece.rook.sente,
      .hand-bottom piece.rook.sente,
      .spare-bottom piece.rook.sente {background-image:url('/assets/piece/joyful/0HI.png')}
piece.bishop.sente,
      .sg-wrap.orientation-sente piece.bishop.sente,
      .hand-bottom piece.bishop.sente,
      .spare-bottom piece.bishop.sente {background-image:url('/assets/piece/joyful/0KA.png')}
piece.knight.sente,
      .sg-wrap.orientation-sente piece.knight.sente,
      .hand-bottom piece.knight.sente,
      .spare-bottom piece.knight.sente {background-image:url('/assets/piece/joyful/0KE.png')}
piece.gold.sente,
      .sg-wrap.orientation-sente piece.gold.sente,
      .hand-bottom piece.gold.sente,
      .spare-bottom piece.gold.sente {background-image:url('/assets/piece/joyful/0KI.png')}
piece.lance.sente,
      .sg-wrap.orientation-sente piece.lance.sente,
      .hand-bottom piece.lance.sente,
      .spare-bottom piece.lance.sente {background-image:url('/assets/piece/joyful/0KY.png')}
piece.promotedsilver.sente,
      .sg-wrap.orientation-sente piece.promotedsilver.sente,
      .hand-bottom piece.promotedsilver.sente,
      .spare-bottom piece.promotedsilver.sente {background-image:url('/assets/piece/joyful/0NG.png')}
piece.promotedknight.sente,
      .sg-wrap.orientation-sente piece.promotedknight.sente,
      .hand-bottom piece.promotedknight.sente,
      .spare-bottom piece.promotedknight.sente {background-image:url('/assets/piece/joyful/0NK.png')}
piece.promotedlance.sente,
      .sg-wrap.orientation-sente piece.promotedlance.sente,
      .hand-bottom piece.promotedlance.sente,
      .spare-bottom piece.promotedlance.sente {background-image:url('/assets/piece/joyful/0NY.png')}
piece.king.sente,
      .sg-wrap.orientation-sente piece.king.sente,
      .hand-bottom piece.king.sente,
      .spare-bottom piece.king.sente {background-image:url('/assets/piece/joyful/0OU.png')}
piece.dragon.sente,
      .sg-wrap.orientation-sente piece.dragon.sente,
      .hand-bottom piece.dragon.sente,
      .spare-bottom piece.dragon.sente {background-image:url('/assets/piece/joyful/0RY.png')}
piece.tokin.sente,
      .sg-wrap.orientation-sente piece.tokin.sente,
      .hand-bottom piece.tokin.sente,
      .spare-bottom piece.tokin.sente {background-image:url('/assets/piece/joyful/0TO.png')}
piece.horse.sente,
      .sg-wrap.orientation-sente piece.horse.sente,
      .hand-bottom piece.horse.sente,
      .spare-bottom piece.horse.sente {background-image:url('/assets/piece/joyful/0UM.png')}
piece.pawn.gote,
      .sg-wrap.orientation-sente piece.pawn.gote,
      .hand-top piece.pawn.gote,
      .spare-top piece.pawn.gote {background-image:url('/assets/piece/joyful/1FU.png')}
piece.silver.gote,
      .sg-wrap.orientation-sente piece.silver.gote,
      .hand-top piece.silver.gote,
      .spare-top piece.silver.gote {background-image:url('/assets/piece/joyful/1GI.png')}
piece.tama.gote,
      .sg-wrap.orientation-sente piece.tama.gote,
      .hand-top piece.tama.gote,
      .spare-top piece.tama.gote {background-image:url('/assets/piece/joyful/1GY.png')}
piece.rook.gote,
      .sg-wrap.orientation-sente piece.rook.gote,
      .hand-top piece.rook.gote,
      .spare-top piece.rook.gote {background-image:url('/assets/piece/joyful/1HI.png')}
piece.bishop.gote,
      .sg-wrap.orientation-sente piece.bishop.gote,
      .hand-top piece.bishop.gote,
      .spare-top piece.bishop.gote {background-image:url('/assets/piece/joyful/1KA.png')}
piece.knight.gote,
      .sg-wrap.orientation-sente piece.knight.gote,
      .hand-top piece.knight.gote,
      .spare-top piece.knight.gote {background-image:url('/assets/piece/joyful/1KE.png')}
piece.gold.gote,
      .sg-wrap.orientation-sente piece.gold.gote,
      .hand-top piece.gold.gote,
      .spare-top piece.gold.gote {background-image:url('/assets/piece/joyful/1KI.png')}
piece.lance.gote,
      .sg-wrap.orientation-sente piece.lance.gote,
      .hand-top piece.lance.gote,
      .spare-top piece.lance.gote {background-image:url('/assets/piece/joyful/1KY.png')}
piece.promotedsilver.gote,
      .sg-wrap.orientation-sente piece.promotedsilver.gote,
      .hand-top piece.promotedsilver.gote,
      .spare-top piece.promotedsilver.gote {background-image:url('/assets/piece/joyful/1NG.png')}
piece.promotedknight.gote,
      .sg-wrap.orientation-sente piece.promotedknight.gote,
      .hand-top piece.promotedknight.gote,
      .spare-top piece.promotedknight.gote {background-image:url('/assets/piece/joyful/1NK.png')}
piece.promotedlance.gote,
      .sg-wrap.orientation-sente piece.promotedlance.gote,
      .hand-top piece.promotedlance.gote,
      .spare-top piece.promotedlance.gote {background-image:url('/assets/piece/joyful/1NY.png')}
piece.king.gote,
      .sg-wrap.orientation-sente piece.king.gote,
      .hand-top piece.king.gote,
      .spare-top piece.king.gote {background-image:url('/assets/piece/joyful/1OU.png')}
piece.dragon.gote,
      .sg-wrap.orientation-sente piece.dragon.gote,
      .hand-top piece.dragon.gote,
      .spare-top piece.dragon.gote {background-image:url('/assets/piece/joyful/1RY.png')}
piece.tokin.gote,
      .sg-wrap.orientation-sente piece.tokin.gote,
      .hand-top piece.tokin.gote,
      .spare-top piece.tokin.gote {background-image:url('/assets/piece/joyful/1TO.png')}
piece.horse.gote,
      .sg-wrap.orientation-sente piece.horse.gote,
      .hand-top piece.horse.gote,
      .spare-top piece.horse.gote {background-image:url('/assets/piece/joyful/1UM.png')}
piece { will-change: transform; background-repeat: unset; }
.v-chushogi piece, .v-kyotoshogi piece { will-change: auto; background-repeat: no-repeat; }
.v-chushogi piece, .v-kyotoshogi piece { background-image: none !important; } 
