.v-kyotoshogi piece.pawn.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.pawn.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.pawn.gote,
      .v-kyotoshogi .hand-bottom piece.pawn.gote,
      .spare-bottom.v-kyotoshogi piece.pawn {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0FU.svg')!important;}
.v-kyotoshogi piece.silver.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.silver.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.silver.gote,
      .v-kyotoshogi .hand-bottom piece.silver.gote,
      .spare-bottom.v-kyotoshogi piece.silver {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0GI.svg')!important;}
.v-kyotoshogi piece.king.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.king.sente,
      .spare-bottom.v-kyotoshogi piece.king.sente {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0GY.svg')!important;}
.v-kyotoshogi piece.rook.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.rook.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.rook.gote,
      .v-kyotoshogi .hand-bottom piece.rook.gote,
      .spare-bottom.v-kyotoshogi piece.rook {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0HI.svg')!important;}
.v-kyotoshogi piece.bishop.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.bishop.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.bishop.gote,
      .v-kyotoshogi .hand-bottom piece.bishop.gote,
      .spare-bottom.v-kyotoshogi piece.bishop {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0KA.svg')!important;}
.v-kyotoshogi piece.knight.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.knight.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.knight.gote,
      .v-kyotoshogi .hand-bottom piece.knight.gote,
      .spare-bottom.v-kyotoshogi piece.knight {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0KE.svg')!important;}
.v-kyotoshogi piece.gold.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.gold.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.gold.gote,
      .v-kyotoshogi .hand-bottom piece.gold.gote,
      .spare-bottom.v-kyotoshogi piece.gold {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0KI.svg')!important;}
.v-kyotoshogi piece.lance.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.lance.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.lance.gote,
      .v-kyotoshogi .hand-bottom piece.lance.gote,
      .spare-bottom.v-kyotoshogi piece.lance {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0KY.svg')!important;}
.v-kyotoshogi .sg-wrap.orientation-gote piece.king.gote,
      .spare-bottom.v-kyotoshogi piece.king.gote {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0OU.svg')!important;}
.v-kyotoshogi piece.tokin.sente,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.tokin.sente,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.tokin.gote,
      .v-kyotoshogi .hand-bottom piece.tokin.gote,
      .spare-bottom.v-kyotoshogi piece.tokin {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/0TO.svg')!important;}
.v-kyotoshogi piece.pawn.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.pawn.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.pawn.sente,
      .v-kyotoshogi .hand-top piece.pawn,
      .spare-top.v-kyotoshogi piece.pawn {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1FU.svg')!important;}
.v-kyotoshogi piece.silver.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.silver.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.silver.sente,
      .v-kyotoshogi .hand-top piece.silver,
      .spare-top.v-kyotoshogi piece.silver {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1GI.svg')!important;}
.v-kyotoshogi .sg-wrap.orientation-gote piece.king.sente,
      .spare-top.v-kyotoshogi piece.king.sente {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1GY.svg')!important;}
.v-kyotoshogi piece.rook.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.rook.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.rook.sente,
      .v-kyotoshogi .hand-top piece.rook,
      .spare-top.v-kyotoshogi piece.rook {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1HI.svg')!important;}
.v-kyotoshogi piece.bishop.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.bishop.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.bishop.sente,
      .v-kyotoshogi .hand-top piece.bishop,
      .spare-top.v-kyotoshogi piece.bishop {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1KA.svg')!important;}
.v-kyotoshogi piece.knight.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.knight.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.knight.sente,
      .v-kyotoshogi .hand-top piece.knight,
      .spare-top.v-kyotoshogi piece.knight {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1KE.svg')!important;}
.v-kyotoshogi piece.gold.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.gold.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.gold.sente,
      .v-kyotoshogi .hand-top piece.gold,
      .spare-top.v-kyotoshogi piece.gold {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1KI.svg')!important;}
.v-kyotoshogi piece.lance.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.lance.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.lance.sente,
      .v-kyotoshogi .hand-top piece.lance,
      .spare-top.v-kyotoshogi piece.lance {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1KY.svg')!important;}
.v-kyotoshogi piece.king.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.king.gote,
      .spare-top.v-kyotoshogi piece.king.gote {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1OU.svg')!important;}
.v-kyotoshogi piece.tokin.gote,
      .v-kyotoshogi .sg-wrap.orientation-sente piece.tokin.gote,
      .v-kyotoshogi .sg-wrap.orientation-gote piece.tokin.sente,
      .v-kyotoshogi .hand-top piece.tokin,
      .spare-top.v-kyotoshogi piece.tokin {background-image:url('/assets/piece/Kyo_Ryoko_1Kanji/1TO.svg')!important;}
