@(categ: lila.app.forum.Categ, form: Form[_], captcha: lila.app.site.Captcha.Challenge)(implicit ctx: Context)

@forum.layout(
title = "New forum topic") {
<ol class="crumbs">
  <li><a href="@routes.ForumCateg.index">Forum</a></li>
  <li><h1>@categ.name</h1></li>
</ol>
<br />
<h1>New topic</h1>
<form class="wide" action="@routes.ForumTopic.create(categ.slug)" method="POST" novalidate>
  <label>
    <span class="required">Subject</span>
    <input class="subject" value="@form("name").value" type="text" name="@form("name").name" id="@form("name").id">
    @errMsg(form("name"))
  </label>
  @forum.post.formFields(form("post")("text"), form("post")("author"))
  @base.captcha(form("post")("move"), form("post")("gameId"), captcha)
  @errMsg(form("post"))
  <button class="submit button" type="submit">Create the topic</button>
  <a href="@routes.ForumCateg.show(categ.slug)" style="margin-left:20px">@trans.cancel()</a>
</form>
}
