$mq-col1: $mq-not-medium;
$mq-col2: $mq-medium;
$mq-col3: $mq-x-large;

#main-wrap {
  --main-max-width: calc(100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls});

  @include breakpoint($mq-col2) {
    --main-max-width: auto;
  }
}

.coord-trainer {
  grid-area: main;
  display: grid;
  overflow: hidden;

  // coords cause mobile to have horiz scrolling

  &__side {
    grid-area: side;
  }

  &__board {
    grid-area: board;
  }

  &__table {
    grid-area: table;
  }

  &__progress {
    grid-area: progress;
  }

  &__score {
    grid-area: score;
  }

  grid-template-areas: 'board' 'progress' 'score' 'table' 'side';
  grid-row-gap: $block-gap;

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-width $block-gap $col2-uniboard-table;
    grid-template-rows: fit-content(0);
    grid-template-areas: 'board    . table' 'board    . side' 'progress . .' 'score    . .';
  }

  @include breakpoint($mq-col3) {
    grid-template-areas: 'side . board    . table' '.    . progress . .' '.    . score    . .';
    grid-template-columns: $col3-uniboard-side $block-gap $col3-uniboard-width $block-gap $col3-uniboard-table;
  }

  .box {
    padding: $block-gap;

    h1 {
      font-size: 1.5em;
      padding: 0 !important;
      text-align: center;
    }

    p {
      margin-top: 1em;
    }
  }

  form.color {
    margin-top: $block-gap;

    .color i {
      display: block;
      width: 30px;
      height: 30px;
      background-size: 30px 30px;
      background-repeat: no-repeat;
      padding: 0;
    }

    .color_1 i {
      background-image: url(../piece/cburnett/wK.svg);
    }

    .color_2 i {
      background-image: url(../images/wbK.svg);
    }

    .color_3 i {
      background-image: url(../piece/cburnett/bK.svg);
    }
  }

  .next_coord {
    @extend %flex-center;

    z-index: 2;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    font-size: 180px;
    font-weight: bold;
    opacity: 1;
    pointer-events: none;
    color: #eee;
    text-shadow: 0 10px 10px #444;
    opacity: 0.8;

    @include transition;

    &.nope {
      color: $c-bad !important;
    }
  }

  #next_coord0 {
    color: #fff;
  }

  #next_coord1 {
    left: 26%;
    top: 10%;
    font-size: 75px;
    opacity: 0.7;
  }

  #next_coord2 {
    transition: none;
    left: 38%;
    top: 13%;
    font-size: 38px;
    opacity: 0.4;
  }

  #next_coord1,
  #next_coord2,
  #next_coord0 {
    user-select: none;
  }

  .progress_bar {
    @extend %box-radius;

    width: 100%;
    height: 10px;
    background-color: $c-secondary;
  }

  &__table {
    @extend %flex-center;

    justify-content: space-around;

    .explanation li {
      list-style: outside disc;
      margin: 0.5em 0 0.5em 1em;
    }
  }

  &__score {
    @extend %roboto, %flex-center, %box-radius;

    justify-content: center;
    font-weight: bold;
    font-size: 70px;
    margin: auto;
    width: 110px;
    height: 110px;
    line-height: 110px;
    background-color: $c-secondary;
    color: $c-secondary-over;

    @include transition;
  }

  &.wrong .progress_bar,
  &.wrong .coord-trainer__score {
    background-color: $c-bad;
  }

  &.play .start,
  #next_coord,
  &.play form.color {
    display: none;
  }

  &.play #next_coord {
    display: block;
  }

  &.init {
    @include breakpoint($mq-col1) {
      .coord-trainer__score {
        display: none;
      }

      .explanation {
        order: 2;
        margin-top: 1em;
      }
    }

    .explanation {
      @extend %page-text-shadow !optional;
    }

    .coord-trainer__score {
      opacity: 0;
    }

    form.color {
      margin-bottom: $block-gap;
    }
  }
}

#jqstooltip {
  box-sizing: content-box;
}
