.features {
  .check,
  .unlimited,
  .green {
    color: $c-good;
  }

  table {
    width: 100%;
  }

  h1 {
    margin: 0;

    &::before {
      margin-right: 10px;
    }
  }

  td,
  th {
    padding: 10px 20px;
    border-bottom: $border;
  }

  td {
    white-space: nowrap;
  }

  thead th {
    padding-top: 30px;
    color: $c-brag;
    font-weight: bold;
    padding-bottom: 20px;
  }

  thead:first-child th {
    padding-top: 10px;
  }

  .is::before {
    font-size: 1.4em;
  }

  .price {
    font-size: 1.4em;
  }

  .price > * {
    border: none;
    padding-top: 30px;
  }

  .explanation {
    @extend %box-radius;

    text-shadow: 1px 1px 1px #000;
    margin: 3em 10% 1em 10%;
    padding: 2em 3em 3em 3em;
    background: $c-good;
    color: $c-good-over;
    font-size: 1.3em;

    strong {
      display: block;
    }

    .button {
      margin-top: 1em;
      display: block;
    }
  }

  .button {
    color: #fff;
    text-transform: none;
  }

  @include breakpoint($mq-not-small) {
    .is {
      font-size: 0;

      &::before {
        font-size: 1.3rem;
      }
    }

    h1::before {
      display: none;
    }

    td,
    th {
      padding: 0.8em 0 0.8em 0.5em;
    }

    thead th:first-child {
      min-width: 180px;
    }

    thead th {
      font-weight: normal;
    }

    .price {
      display: none;
    }

    .explanation {
      font-size: 1.1em;
      margin: 3em 0 1em 0;
      padding: 2em 1em 3em 1em;
    }
  }
}
