/* embed a game replay */

$mq-col1: 9999px;

@import '../tools';
@import '../action-menu';
@import '../controls';
@import 'layout';
@import 'footer';
@import 'not-found';

html {
  background: $c-bg-zebra;
  overflow: hidden;
}
body {
  overflow-y: hidden;
  background: none;
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-corner {
    background: $c-bg-zebra;
  }
}

.chapter-name {
  @extend %roboto;
  padding: 0.3em;
  border-bottom: $border;
  background: $c-bg-zebra;
  text-align: center;
}

.analyse__tools {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
}

.analyse__moves {
  .tview2-column > index {
    background: none;
  }
}
.analyse__controls {
  overflow: hidden;
  background: none;
  border-top: $border;
  border-bottom: $border;
  .jumps .fbt {
    border-right: $border;
  }
  .fbt {
    border-radius: 0;
    &:not(.disabled) {
      cursor: pointer;
    }
  }
}

sg-board {
  border-radius: 0;
  box-shadow: none;
}

@media (min-width: 400px) and (min-aspect-ratio: 1/1) {
  .analyse__moves {
    border-top: unset;
    border-left: $border;
  }
  .analyse__controls {
    border-bottom-left-radius: $box-radius-size;
    border-left: $border;
  }
}
