.analyse {
  &__board {
    grid-area: board;
  }
  &__tools {
    grid-area: tools;
  }
  &__controls {
    grid-area: controls;
    background: $c-bg-box;
    border-top: $border;
    height: 100%;
  }

  display: grid;
  grid-template-areas:
    'board'
    'tools'
    'controls';
  grid-template-columns: auto;
  grid-template-rows: 11fr 3fr 3rem;
  &.variant-minishogi,
  &.variant-kyotoshogi {
    grid-template-rows: 7fr 3fr 3rem;
  }

  @media (min-width: 400px) and (min-aspect-ratio: 1/1) {
    grid-template-columns: calc(100% / 16 * 11 - (2.5rem / 9 * 16)) 1fr;
    grid-template-rows: auto 3rem;
    column-gap: $hand-gap;
    padding-left: $hand-gap;
    &.variant-minishogi,
    &.variant-kyotoshogi {
      grid-template-columns: 7fr 5fr;
    }
    grid-template-areas:
      'board tools'
      'board controls';
  }
}
