.analyse {
  &__board {
    grid-area: board;
  }
  &__tools {
    grid-area: tools;
  }
  &__controls {
    grid-area: controls;
    height: 100%;
  }

  display: grid;
  grid-template-areas:
    'board'
    'tools'
    'controls';
  grid-template-columns: auto;
  grid-template-rows: auto calc(100vh - 6rem - (100vw / 9 * 12 + #{$hands-gap})) 3rem;
  &.main-v-minishogi,
  &.main-v-kyotoshogi {
    grid-template-rows: auto calc(100vh - 6rem - (100vw / 5 * 7 / 11 * 12 + #{$hands-gap})) 3rem;
  }
  &.main-v-chushogi {
    grid-template-rows: auto calc(100vh - 6rem - 7px - (100vw / 11 * 12)) 3rem;
    .analyse__board {
      margin-top: 7px;
    }
  }

  @media (min-width: 400px) and (min-aspect-ratio: 1/1) {
    grid-template-columns: calc((100vh - 3rem) / 12 * 11 / 9 * 11 + #{$hands-gap}) 1fr;
    grid-template-rows: calc(100vh - 6rem) 3rem;
    column-gap: $hand-gap;
    padding-left: $hand-gap;
    &.main-v-minishogi,
    &.main-v-kyotoshogi {
      grid-template-columns: calc((100vh - 3rem) / 12 * 11 / 5 * 7 + 4vmin) 1fr;
      grid-template-rows: calc(100vh - 6rem) 3rem;
    }
    &.main-v-chushogi {
      grid-template-columns: calc((100vh - 3rem) / 12 * 11) 1fr;
      grid-template-rows: calc(100vh - 6rem) 3rem;
      .analyse__board {
        margin-top: unset;
      }
    }
    grid-template-areas:
      'board tools'
      'board controls';
  }
}
