.sg-hand-wrap {
  &.hand-top {
    grid-area: hand-top;
  }
  &.hand-bottom {
    grid-area: hand-bot;
  }
}

.analyse {
  &__board {
    grid-area: board;
  }
  &__tools {
    grid-area: tools;
  }
  &__controls {
    grid-area: controls;
    height: 100%;
  }

  display: grid;
  grid-template-areas:
    'hand-top'
    'board'
    'hand-bot'
    'tools'
    'controls';
  grid-template-columns: auto;
  grid-template-rows: min-content calc(100vw / 11 * 12) min-content minmax(50px, calc(100vh - 100vw - 12rem)) 2.5rem;
  grid-template-rows: 1fr 9fr 1fr 2.5fr 3rem;
  &.variant-minishogi {
    grid-template-rows: 1fr 5fr 1fr 2.5fr 3rem;
  }

  @media (min-width: 400px) and (min-aspect-ratio: 1/1) {
    grid-template-columns: 9fr 7fr;
    &.variant-minishogi {
      grid-template-columns: 5fr 5fr;
      grid-template-rows: min-content 1fr 2.5rem min-content;
    }
    grid-template-rows: min-content 1fr 2.5rem min-content;
    grid-template-areas:
      'board hand-top'
      'board tools'
      'board controls'
      'board hand-bot';
  }
}
