@(perfType: lila.rating.PerfType, data: List[Int])(implicit ctx: Context)

@moreJs = {
@jsTagCompiled("chart2.js")
@embedJs {
var lichess_rating_distribution = {data:@data.mkString("[", ",", "]")};
@ctx.me.map(_.perfs(perfType).intRating).map { rating =>
lichess_rating_distribution.my_rating = @rating;
}
}
}

@percentile = @{
}

@layout(
title = s"Monthly ${perfType.name} rating distribution",
active = perfType.key,
moreJs = moreJs) {

<div class="content_box no_padding stat">
  <h1 class="lichess_title">Monthly @perfType.name rating distribution</h1>
  <p class="desc" data-icon="@perfType.iconChar">
    @ctx.me.flatMap(_.perfs(perfType).glicko.establishedIntRating).map { rating =>
    @lila.user.Stat.percentile(data, rating) match {
    case (under, sum) => {
    <strong>@sum.localize</strong> @perfType players this month.<br />
    Your rating is <strong>@rating</strong>.<br />
    You are better than <strong>@("%.1f" format under * 100.0 / sum)%</strong> of @perfType.name players.
    }
    }
    }.getOrElse {
    <strong>@data.sum.localize</strong> @perfType players this month.<br />
    You do not have an established @perfType rating.<br />
    }
  </p>
  <div id="rating_distribution_chart">
    <div class="loader fast"></div>
  </div>
</div>
}
