@(perfType: lila.rating.PerfType, data: List[Int])(implicit ctx: Context)

@moreJs = {
@jsTagCompiled("chart2.js")
@embedJs {
var lichess_rating_distribution = {data:@data.mkString("[", ",", "]")};
@ctx.me.map(_.perfs(perfType).intRating).map { rating =>
lichess_rating_distribution.my_rating = @rating;
}
}
}

@title = { @trans.monthlyPerfTypeRatingDistribution(perfType.name) }

@layout(
title = title.toString,
active = perfType.key,
moreJs = moreJs) {
<div class="content_box no_padding stat">
  <h1 class="lichess_title">@title</h1>
  <p class="desc" data-icon="@perfType.iconChar">
    @ctx.me.flatMap(_.perfs(perfType).glicko.establishedIntRating).map { rating =>
    @lila.user.Stat.percentile(data, rating) match {
    case (under, sum) => {
    @trans.nbPerfTypePlayersThisMonth(s"""<strong>${sum.localize}</strong>""", perfType.name)<br />
    @trans.yourPerfTypeRatingisRating(perfType.name, s"""<strong>$rating</strong>""")<br />
    @trans.youAreBetterThanPercentOfPerfTypePlayers(s"""<strong>${"%.1f" format under * 100.0 / sum}%</strong>""", perfType.name)
    }
    }
    }.getOrElse {
    @trans.nbPerfTypePlayersThisMonth(s"""<strong>${data.sum.localize}</strong>""", perfType.name)<br />
    @trans.youDoNotHaveAnEstablishedPerfTypeRating(perfType.name)<br />
    }
  </p>
  <div id="rating_distribution_chart">
    @base.spinner()
  </div>
</div>
}
