@(categs: List[lidraughts.forum.CategView])(implicit ctx: Context)

@forum.layout(
title = trans.forum.txt(),
openGraph = lidraughts.app.ui.OpenGraph(
title = "Lidraughts community forum",
url = s"$netBaseUrl${routes.ForumCateg.index.url}",
description = "Draughts discussions and feedback about lidraughts development").some) {

<h1 data-icon="d" class="text is4">Lidraughts Forum</h1>
@forum.categ.table(categs.filterNot(_.categ.isTeam))

@if(categs.exists(_.categ.isTeam)) {
<br />
<br />
<h1>Your teams boards</h1>
@forum.categ.table(categs.filter(_.categ.isTeam))
}
}
