@(categs: List[lila.forum.CategView])(implicit ctx: Context)

@forum.layout(
title = trans.forum.txt(),
openGraph = lila.app.ui.OpenGraph(
title = "Lichess community forum",
url = s"$netBaseUrl${routes.ForumCateg.index.url}",
description = "Chess discussions and feedback about lichess development").some) {

<h1 data-icon="d" class="text is4">Lichess Forum</h1>
@forum.categ.table(categs.filterNot(_.categ.isTeam))

@if(categs.exists(_.categ.isTeam)) {
<br />
<br />
<h1>Your teams boards</h1>
@forum.categ.table(categs.filter(_.categ.isTeam))
}
}
