@(categ: lila.forum.Categ, topics: Paginator[lila.forum.TopicView])(implicit ctx: Context)

@newTopicButton = {
@if(isGrantedWrite(categ.slug)) {
<a href="@routes.ForumTopic.form(categ.slug)" class="action button" data-icon="m"> @trans.createANewTopic()</a>
}
}

@modMenu = {
  @mod.menu("forum")
}

@forum.layout(
title = categ.name,
menu = modMenu.some.ifTrue(categ.isStaff),
openGraph = lila.app.ui.OpenGraph(
title = s"Forum: ${categ.name}",
url = s"$netBaseUrl${routes.ForumCateg.show(categ.slug).url}",
description = categ.desc).some) {
<div class="category">
  @categ.team.map { team =>
  <ol class="crumbs">
    <li><span data-icon="d" class="is4"></span></li>
    <li>@teamLink(team)</li>
    <li><h1>Forum</h1></li>
  </ol>
  }.getOrElse {
  <ol class="crumbs">
    <li><a style="text-decoration:none" data-icon="d" class="is4" href="@routes.ForumCateg.index"> Forum</a></li>
    <li><h1>@categ.name</h1></li>
  </ol>
  }

  <p class="description">@categ.desc</p>
  <div class="bar top clearfix">
    @forum.pagination(routes.ForumCateg.show(categ.slug, 1), topics, showPost = false)
    @newTopicButton
  </div>

  <table class="forum_table forum_topics_list">
    <thead>
      <tr class="thead">
        <th></th>
        <th class="right">@trans.views()</th>
        <th class="right">@trans.replies()</th>
        <th>@trans.lastPost()</th>
      </tr>
    </thead>
    <tbody>
      @topics.currentPageResults.map { topic =>
      <tr>
        <td class="subject"><a href="@routes.ForumTopic.show(categ.slug, topic.slug)">@topic.name</a></td>
        <td class="right">@topic.views.localize</td>
        <td class="right">@topic.nbReplies.localize</td>
        <td class="last_post">
          @topic.lastPost.map { post =>
          <a href="@routes.ForumTopic.show(categ.slug, topic.slug, topic.lastPage)#@post.number">@momentFromNow(post.createdAt)</a><br />@trans.by(authorLink(post))
          }
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="bar bottom clearfix">
    @forum.pagination(routes.ForumCateg.show(categ.slug, 1), topics, showPost = false)
    @newTopicButton
  </div>
</div>
}
