@(categs: List[lila.forum.CategView])(implicit ctx: Context)

<table class="forum_table categories">
	<thead>
		<tr class="thead">
			<th></th>
			<th class="right">@trans.topics()</th>
			<th class="right">@trans.posts()</th>
			<th>@trans.lastPost()</th>
		</tr>
	</thead>
	<tbody>
		@categs.map { categ =>
		@if(categ.slug != "staff" || isGranted(_.StaffForum)) {
		<tr>
			<td class="subject">
				<a class="category_name" href="@routes.ForumCateg.show(categ.slug)">@categ.name</a>
				<h2 class="description">@categ.desc</h2>
			</td>
			<td class="right">@categ.nbTopics.localize</td>
			<td class="right">@categ.nbPosts.localize</td>
			<td class="last_post">
				@categ.lastPost.map {
				case (topic, post, page) => {
				<a href="@routes.ForumTopic.show(categ.slug, topic.slug, page)#@post.number">@momentFromNow(post.createdAt)</a><br />@trans.by(authorName(post))
				}
				}
			</td>
		</td>
	</tr>
	}
	}
</tbody>
</table>
