@(categ: lila.forum.Categ, form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@forum.bits.layout(title = "New forum topic", moreJs = jsTag("forum-post.js")) {
<ol class="crumbs">
  <li><a style="text-decoration:none" data-icon="d" class="is4" href="@routes.ForumCateg.index"> Forum</a></li>
  <li><h1>@categ.name</h1></li>
</ol>
<div class="warning">
  <h1 data-icon="!"> Important</h1>
  <p>
    To report a user for cheating or bad behaviour,<br />
    <strong><a href="@routes.Report.form">use the report form</a></strong>.
  </p>
  <p>
    To ask a question about lichess or chess rules,<br />
    <strong><a href="@routes.QaQuestion.index()">use the Question &amp; Answers site</a></strong>.
  </p>
</div>

<form class="form3 create-topic" action="@routes.ForumTopic.create(categ.slug)" method="POST" novalidate>
  @form3.group(form("name"), trans.subject.frag())(form3.input(_)(*.autofocus := true))
  @form3.group(form("post")("text"), trans.message.frag())(form3.textarea(_, klass = "post-text-area")(*.rows := 10))
  @base.captcha(form("post"), captcha).toHtml
  @form3.actionsHtml {
  <a href="@routes.ForumCateg.show(categ.slug)">@trans.cancel()</a>
  @if(isGranted(_.PublicMod)){
  @form3.submit(raw("Create as mod"), nameValue = (form("post")("modIcon").name, "true").some, icon = "".some)
  }
  @form3.submit(trans.createTheTopic.frag())
  }
</form>
}.toHtml
