@(categ: lila.forum.Categ, topic: lila.forum.Topic, posts: Paginator[lila.forum.Post], formWithCaptcha: Option[FormWithCaptcha], unsub: Option[Boolean], canModCateg: Boolean)(implicit ctx: Context)

@moreJs = {
@jsTag("forum-post.js")
@jsTag("embed-analyse.js")
}

@modMenu = {
@mod.menu("forum")
}

@forum.layout(
title = s"${categ.name} / ${topic.name} page ${posts.currentPage}",
menu = modMenu.some.ifTrue(categ.isStaff),
moreJs = moreJs,
openGraph = lila.app.ui.OpenGraph(
title = s"Forum: ${categ.name} / ${topic.name} page ${posts.currentPage}",
url = s"$netBaseUrl${routes.ForumTopic.show(categ.slug, topic.slug).url}",
description = shorten(posts.currentPageResults.headOption.??(_.text), 152)).some) {
<div class="topic">
  @categ.team.map { team =>
  <ol class="crumbs">
    <li><span data-icon="d" class="is4"></span></li>
    <li>@teamLink(team)</li>
    <li><a href="@routes.ForumCateg.show(categ.slug)">Forum</a></li>
    <li><h1>@topic.name</h1></li>
  </ol>
  }.getOrElse {
  <ol class="crumbs">
    <li><a style="text-decoration:none" data-icon="d" class="is4 text" href="@routes.ForumCateg.index">Forum</a></li>
    <li><a href="@routes.ForumCateg.show(categ.slug)">@categ.name</a></li>
    <li><h1>@topic.name</h1></li>
  </ol>
  }
  <div class="bar top clearfix">
    @forum.pagination(routes.ForumTopic.show(categ.slug, topic.slug, 1), posts, showPost = true)
  </div>

  <div class="forum_posts_list embed_analyse">
    @posts.currentPageResults.map { post =>
    <div class="post" id="@post.number">
      <div class="metas clearfix">
        @defining(routes.ForumTopic.show(categ.slug, topic.slug, posts.currentPage) + s"#${post.number}") { url =>
        @authorLink(post=post, cssClass="author".some, modIcon=post.displayModIcon)

        <a href="@url">
          @post.updatedAt.map { updatedAt =>
          <span class="post-edited">edited</span>
          @momentFromNow(updatedAt)
          }.getOrElse {
          @momentFromNow(post.createdAt)
          }
        </a>

        <a class="anchor" href="@url">#@post.number</a>

        @if(isGranted(_.IpBan)) {
        <span class="mod postip">@post.ip</span>
        }
        @if(ctx.userId.fold(false)(post.shouldShowEditForm(_))) {
        <a class="mod thin edit button" data-icon="m"> Edit</a>
        }
        @if(canModCateg) {
        <a class="mod thin delete button" href="@routes.ForumPost.delete(categ.slug, post.id)" data-icon="q"> Delete</a>
        }
        }
      </div>
      <p class="message">@richText(post.text)</p>
      @if(ctx.userId.fold(false)(post.shouldShowEditForm(_))) {
      <form class="edit-post-form" method="post" action="@routes.ForumPost.edit(post.id)">
        <textarea data-topic="@topic.id" name="changes" class="post-text-area edit-post-box" minlength="3" required>@post.text</textarea>
        <div class="edit-buttons">
          <a class="edit-post-cancel" href="@routes.ForumPost.redirect(post.id)" style="margin-left:20px">@trans.cancel()</a>
          <button type="submit" class="submit button">@trans.apply()</button>
        </div>
      </form>
      }
    </div>
    }
  </div>

  @unsub.map { uns =>
  <form class="mod unsub @if(uns){on}else{off}" method="post" action="@routes.Timeline.unsub(s"forum:${topic.id}")">
    <button class="button text on" data-icon="v" data-unsub="off">Subscribe</button>
    <button class="button text off" data-icon="v" data-unsub="on">Unsubscribe</button>
  </form>
  }

  @if(isGranted(_.ModerateForum)) {
  <form class="mod" method="post" action="@routes.ForumTopic.hide(categ.slug, topic.slug)">
    <button class="button">@topic.hidden.fold("Feature", "Un-feature")</button>
  </form>
  }
  @if(canModCateg) {
  <form class="mod" method="post" action="@routes.ForumTopic.close(categ.slug, topic.slug)">
    <button class="button">@topic.closed.fold("Reopen", "Close")</button>
  </form>
  <form class="mod" method="post" action="@routes.ForumTopic.sticky(categ.slug, topic.slug)">
    <button class="button">@topic.isSticky.fold("Un-sticky", "Sticky")</button>
  </form>
  }

  <div class="topicReply">
    @if(topic.isOld) {
    <p>This topic has been archived and can no longer be replied to.</p>
    } else {
    @formWithCaptcha.map {
    case (form, captcha) => {
    <h2 class="postNewTitle" id="reply">@trans.replyToThisTopic()</h2>
    <form class="wide" action="@routes.ForumPost.create(categ.slug, topic.slug, posts.currentPage)#reply" method="POST" novalidate>
      @forum.post.formFields(form("text"), topic.some)
      @base.captcha(form("move"), form("gameId"), captcha)
      @globalError(form)
      <button type="submit" class="submit button" data-icon="E"> @trans.reply()</button>
      @if(isGranted(_.PublicMod)){
        <button type="submit" class="button" data-icon="" name="modIcon" value="true" /> Reply as mod</button>
      }
      <a href="@routes.ForumCateg.show(categ.slug)" style="margin-left:20px">@trans.cancel()</a>
    </form>
    }
    }.getOrElse {
    @if(topic.closed) {
    <p>@trans.thisTopicIsNowClosed()</p>
    } else {
    @categ.team.map { teamId =>
    @if(!myTeam(teamId)) {
    <p><a href="@routes.Team.show(teamId)">Join the @teamIdToName(teamId) team</a> to post in this forum</p>
    }
    }
    }
    }
    }
  </div>

  <div class="bar bottom clearfix">
    @forum.pagination(routes.ForumTopic.show(categ.slug, topic.slug, 1), posts, showPost = true)
  </div>
</div>
}
