@(categ: lila.forum.Categ, topic: lila.forum.Topic, posts: Paginator[lila.forum.Post], formWithCaptcha: Option[FormWithCaptcha])(implicit ctx: Context)

@forum.layout(
title = topic.name) {
<div class="topic">
  @categ.team.map { team =>
  <ol class="crumbs">
    <li><span data-icon="d" class="is4"></span></li>
    <li>@teamLink(team)</li>
    <li><a href="@routes.ForumCateg.show(categ.slug)">Forum</a></li>
    <li><h1>@topic.name</h1></li>
  </ol>
  }.getOrElse {
  <ol class="crumbs">
    <li><a style="text-decoration:none" data-icon="d" class="is4" href="@routes.ForumCateg.index"> Forum</a></li>
    <li><a href="@routes.ForumCateg.show(categ.slug)">@categ.name</a></li>
    <li><h1>@topic.name</h1></li>
  </ol>
  }
  <div class="bar top clearfix">
    @forum.pagination(routes.ForumTopic.show(categ.slug, topic.slug, 1), posts)
  </div>

  <div class="forum_posts_list">
    @posts.currentPageResults.map { post =>
    <div class="post" id="@post.number">
      <div class="metas clearfix">
        @authorLink(post, "author".some)
        @momentFromNow(post.createdAt)
        <a class="anchor" href="@routes.ForumTopic.show(categ.slug, topic.slug, posts.currentPage)#@post.number">#@post.number</a>
        @if(isGranted(_.IpBan)) {
        <span class="postip">@post.ip</span>
        }
        @if(isGrantedMod(categ.slug)) {
        <a class="delete" href="@routes.ForumPost.delete(categ.slug, post.id)">Delete</a>
        }
      </div>
      <p class="message">@autoLink(post.text)</p>
    </div>
    }
  </div>

  @if(isGranted(_.ModerateForum)) {
  <form class="mod" method="post" action="@routes.ForumTopic.hide(categ.slug, topic.slug)">
    <button class="button">@topic.hidden.fold("Show the topic on homepage", "Hide the topic on homepage")</button>
  </form>
  }
  @if(isGrantedMod(categ.slug)) {
  <form class="mod" method="post" action="@routes.ForumTopic.close(categ.slug, topic.slug)">
    <button class="button">@topic.closed.fold("Reopen the topic", "Close the topic")</button>
  </form>
  }

  <div class="topicReply">
    @formWithCaptcha.map {
    case (form, captcha) => {
    <h2 class="postNewTitle" id="reply">Reply to this topic</h2>
    <form class="wide" action="@routes.ForumPost.create(categ.slug, topic.slug, posts.currentPage)#reply" method="POST" novalidate>
      @forum.post.formFields(form("text"), form("author"))
      @base.captcha(form("move"), form("gameId"), captcha)
      @errMsg(form)
      <button type="submit" class="submit button" data-icon="E"> Reply</button>
      <a href="@routes.ForumCateg.show(categ.slug)" style="margin-left:20px">@trans.cancel()</a>
    </form>
    }
    }.getOrElse {
    @if(topic.closed) {
    <p>This topic is now closed.</p>
    } else {
    @categ.team.map { teamId =>
    @if(!myTeam(teamId)) {
    <p><a href="@routes.Team.show(teamId)">Join the @teamIdToName(teamId) team</a> to post in this forum</p>
    }
    }
    }
    }
  </div>

  <div class="bar bottom clearfix">
    @forum.pagination(routes.ForumTopic.show(categ.slug, topic.slug, 1), posts)
  </div>
</div>
}
