@(simul: lidraughts.simul.Simul, running: Boolean = false)(implicit ctx: Context)

@allowButton = {
<button type="button" id="submit_player" class="submit button text" data-icon="E"@if(running){ disabled}>Allow player in simul</button>
}

<div class="simul_crud edit content_box small_box no_padding">
  <h2 class="lidraughts_title">
    Optionally restrict the simul to the usernames listed below
  </h2>
  <form class="content_box_content form3" action="#" method="POST">
    @form3.split {
    <div class="form-group form-half">
      <label class="form-label" for="player">Add player</label>
      <input type="text" class="form-control user-autocomplete" name="player" id="player" placeholder="Enter username" data-tag="span"@if(running){ disabled}>
      @form3.action(allowButton).toHtml
    </div>
    <div class="players form-group form-half">
      <table class="slist">
        <thead>
        <tr>
          <th colspan="2">Allowed players (userid)</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    }
  </form>
</div>

@jQueryTag
@jsAt("javascripts/simul-allow.js")