@(simul: lidraughts.simul.Simul, form: Form[lidraughts.simul.crud.CrudForm.Data])(implicit ctx: Context)

@layout(title = simul.fullName) {
<div class="crud edit page-menu__content box box-pad">
  <h1>
    <a href="@routes.Simul.show(simul.id)">@simul.fullName</a>
    <span>Created on @showDate(simul.createdAt)</span>
  </h1>
  <form class="content_box_content form3" action="@routes.SimulCrud.update(simul.id)" method="POST">
    @inForm(form, simul.isRunning || simul.isFinished)
  </form>
  @allowedPlayers(simul, simul.isRunning || simul.isFinished)
</div>
}
