@(form: Form[lidraughts.simul.crud.CrudForm.Data], running: Boolean = false)(implicit ctx: Context)

@import lidraughts.app.ui.ScalatagsTwirlForm._
@import lidraughts.simul.DataForm._
@import lidraughts.simul.crud.CrudForm._
@import lidraughts.rating.PerfType

@form3.split {
@form3.group(form("date"), raw("Start date <strong>UTC</strong>"), half = true)(form3.flatpickr(_))
@form3.group(form("name"), raw("Name"), help = raw("Keep it VERY short, so it fits on homepage").some, half = true)(form3.input(_))
}
@form3.split {
@form3.group(form("homepageHours"), raw(s"Hours on homepage (0 to $maxHomepageHours)"), half = true, help = raw("Ask first!").some)(form3.input(_, typ = "number"))
@form3.group(form("image"), raw("Custom icon"), half = true)(form3.select(_, imageChoices))
}
@form3.group(form("headline"), raw("Homepage headline"), help = raw("Keep it VERY short, so it fits on homepage").some)(form3.input(_))
@form3.group(form("description"), raw("Full description"), help = raw("Link: [text](url)").some)(form3.textarea(_)(*.rows := 6))

@form3.split {
@form3.group(form("hostName"), raw("Host"), half = true)(form3.input(_, klass = s"user-autocomplete${running ?? " disabled"}", disabled = running)(*.attr("data-tag") := "span"))
@form3.group(form("arbiterName"), raw("Arbiter (optional)"), half = true)(form3.input(_, klass = s"user-autocomplete")(*.attr("data-tag") := "span"))
@if(running) {@form3.hidden(form("hostName"))}
}

@form3.split {
@form3.group(form("clockTime"), raw("Clock time"), half = true)(form3.select(_, clockTimeChoices, disabled = running))
@form3.group(form("clockIncrement"), raw("Clock increment"), half = true)(form3.select(_, clockIncrementChoices, disabled = running))
}
@form3.split {
@form3.group(form("color"), raw("Host color"), half = true)(form3.select(_, colorChoices, disabled = running))
@form3.group(form("clockExtra"), raw("Host extra time"), half = true)(form3.select(_, clockExtraChoices, disabled = running))
}

@form3.group(form("percentage"), raw("Target winning percentage (optional, min. 50%)"))(form3.input(_, typ = "number")(*.min := 50, *.max := 100))
@form3.group(form("drawLimit"), raw("No draw offers before move (optional, 0 disables draw offers)"))(form3.input(_, typ = "number")(*.min := 0, *.max := 99))

@form3.split {
@form3.group(form("chat"), raw("Chat is available for"), half = true)(form3.select(_, chatChoices))
@form3.group(form("ceval"), raw("Computer analysis in lobby"), half = true)(form3.select(_, cevalChoices))
}
@form3.split {
@form3.checkbox(form("noAssistance"), raw("No playing assistance"), help = raw("Disables premoves, piece destinations and material difference").some, half = true)
@form3.group(form("fmjd"), raw("Official rating visibility"), half = true)(form3.select(_, fmjdChoices))
}

@form3.group(form("variants"), raw("Variants"))(_ => views.html.setup.filter.renderCheckboxes(form, "variants", form.value.map(_.variants.map(_.toString)).getOrElse(Nil), translatedVariantChoicesWithVariants, disabled = running).toHtml)

@form3.actionHtml(form3.submit(trans.apply.frag()))
