.relay-round__actions {
  @extend %flex-between;
  margin: 2em 0;
  border-top: $border;
  padding-top: 3em;
  form {
    flex: 0 0 50%;
    .button {
      @extend %flex-column;
      text-align: left;
      width: 100%;

      strong {
        display: block;
      }
      em {
        color: $c-font-dim;
        text-transform: none;
        white-space: normal;
      }
    }
  }
}
