@import 'card';

.relay-index {
  .box__top {
    flex-flow: row nowrap;
  }

  .new::before {
    font-size: 3em;
  }

  &__section {
    margin: 2em 0 1em 0;
  }
}

.relay-tour {
  &__description {
    @extend %box-padding, %box-neat;

    margin: 2em auto 2em auto;
    padding: 1.5em 2.5em;
    background: $c-bg-zebra;
    width: 70%;
  }

  &__no-round {
    @extend %box-padding;
    margin: 3em;
    text-align: center;
  }
}

.relay-image {
  &--fallback {
    @extend %flex-center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 2 / 1;
    background: linear-gradient(to bottom, set-alpha($c-brag, 0.7), set-alpha($c-primary, 0.7));
    background-repeat: no-repeat;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
    color: $c-font;
    text-shadow: 0 0 40px white;
    font-size: 3em;
  }
}
