#challenge-app {
  @extend %box-radius-left, %dropdown-shadow;
  overflow: hidden;
  width: 300px;
  text-align: center;

  .empty {
    background: $c-bg-header-dropdown;
    padding: 2rem 0;
  }

  .challenge {
    background: $c-bg-header-dropdown;
    border-bottom: $border;
    padding-bottom: 0.5em;

    @media (hover: hover) {
      &:hover {
        background: $m-primary_bg--mix-30;
        padding-bottom: 0;
        outline: 1px solid $c-primary;

        .perf {
          color: $c-primary !important;
        }
      }
    }

    &.declined {
      display: none;
    }

    .buttons {
      @extend %flex-between-nowrap;
      align-items: stretch;
      @media (hover: hover) {
        display: none;
      }
    }

    &:hover .buttons,
    .blind-mode & .buttons {
      display: flex;
    }

    .buttons > * {
      width: 33%;
    }

    a.view {
      font-size: 1.5rem;
      color: $c-primary;
      &:hover {
        background: $c-primary;
        color: $c-over;
      }
    }

    button {
      border-radius: 0;
      cursor: pointer;
      color: $c-good;
      width: 100%;
      display: block;
      padding: 0;
      background: transparent;
      font-size: 1.5rem;

      @include transition;

      box-shadow: none;
    }

    button,
    .owner {
      height: 3rem;
    }

    .owner {
      color: $c-link;
      line-height: 3rem;
    }

    @media (hover: hover) {
      .owner .view,
      .owner:hover .waiting {
        display: none;
      }

      .owner:hover .view {
        display: block;
        background: $c-primary;
        color: $c-over;

        &::before {
          vertical-align: middle;
        }
      }
    }

    button::before,
    a.view::before {
      line-height: 3rem;
    }

    button.decline {
      color: $c-bad;
      border-inline-end: none;
    }

    button:hover {
      background: $c-good;
      color: $c-over;
    }

    button.decline:hover {
      background: $c-bad;
    }

    .content {
      @extend %flex-between-nowrap;
      @include padding-direction(0.5em, 0.8em, 0, 1em);

      &__text {
        @extend %nowrap-ellipsis;

        text-align: left;
      }

      .perf {
        font-size: 2.5em;
        color: $c-font-dim;
      }
    }

    .head {
      display: block;
      font-weight: bold;
      margin-bottom: 0.1em;

      .user-link {
        margin-inline-start: -5px;
      }

      signal {
        margin-inline-start: 5px;
      }
    }

    .color-icon::before {
      vertical-align: text-top;
    }

    .position {
      @extend %flex-between-nowrap;

      @media (hover: hover) {
        display: none;
      }
    }

    &:hover .position,
    .blind-mode & .position {
      display: flex;
    }
  }
}
