.challenge-page {
  .invite {
    display: grid;
    gap: $block-gap;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));

    h2 {
      font-weight: bold;
    }

    > div {
      @extend %box-neat;
      padding: $block-gap;
      background: $c-bg-zebra;
    }

    &__qrcode {
      @extend %flex-between-nowrap;
      gap: $block-gap;
    }

    &__user {
      &__recent {
        @extend %flex-center;
        margin-top: 1em;
        gap: 0.5em;

        .button {
          background: none;
          border: $border;
          text-align: start;
          text-transform: none;
        }
      }

      .error {
        color: $c-bad;
        margin-top: 1em;
      }
    }
  }

  .waiting {
    text-align: center;

    .user-link {
      font-size: 2em;
    }

    .spinner {
      width: 13em;
      height: 13em;
      margin: 2em auto;
    }

    .correspondence-waiting {
      font-size: 1.5em;
      margin: 2em auto;

      &::before {
        color: $c-good;
      }
    }
  }

  .cancel {
    margin: 2em 0;
    text-align: center;
  }

  .details-wrapper {
    @extend %box-neat;

    ---font: #{$c-secondary};
    ---bg: #{$m-secondary_bg--mix-10};

    padding: $block-gap 4vw;
    margin-bottom: 4rem;
    font-size: 1.5em;

    @media (min-width: at-least($xx-small)) {
      font-size: 2em;
    }

    background: var(---bg);
    border: 1px solid var(---font);

    .content {
      @extend %flex-between;

      > div {
        flex: 0 1 auto;
        @extend %flex-center, %roboto;

        &::before {
          color: var(---font);
          font-size: 6rem;
          margin-inline-end: 0.2em;

          @media (max-width: at-most($xx-small)) {
            display: none;
          }
        }

        div {
          line-height: 1.4;
        }

        .clock {
          font-weight: bold;
        }
      }

      .mode {
        text-align: end;
        font-weight: bold;
        font-size: 0.8em;
        color: var(---font);
      }
    }

    .rules {
      margin-top: 1.5rem;
      font-size: 1rem;

      > div {
        @extend %flex-center;
        gap: 1em;
        margin-top: 1em;

        .challenge-rule {
          @extend %flex-center;

          .icon-flair {
            height: 1.5em;
            margin: 0.2em 0.8em 0 0;
          }
        }
      }
    }
  }

  .mobile-instructions {
    @extend %flex-center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .mobile-instructions::before {
    font-family: 'lichess';
    font-size: 3rem;
    padding-inline-end: 1rem;
    content: $licon-ShareAndroid;
  }

  .mobile-instructions.is-ios::before {
    content: $licon-ShareIos;
  }

  &.challenge--declined .details {
    ---font: #{$c-bad};
    ---bg: #{c_bad_bg--mix-10};
  }

  .challenge-reason {
    margin: 2em auto 5em auto;
    max-width: 70ch;
  }

  .follow-up .button {
    display: block;
    margin-top: 2em;
  }

  .board-preview {
    margin: 0 auto;
    max-width: 300px;
  }
}

.challenge-theirs {
  .button-fat {
    display: block;
    width: 100%;
    margin-top: 2em;
  }
}
