@(state: Option[org.joda.time.DateTime])(implicit ctx: Context)

@title = @{ "Chat Panic" }

@base.layout(
title = title,
moreCss = responsiveCssTag("mod.misc"),
responsive = true) {
<main class="page-menu">
  @mod.menu("panic").toHtml
  <div id="chat-panic" class="page-menu__content box box-pad">
    <h1>@title</h1>
    <p>
      When Chat Panic is enabled, restrictions apply to public chats (tournament, simul) and PMs<br />
      Only players 24h old, and with 10 games played, can write messages.
    </p>
    <br /><br />
    <p>
      Current state:
      @state.map { s =>
      <strong class="text" data-icon="E" style="color:#759900">ENABLED</strong>. Expires in @momentFromNow(s).toHtml
      }.getOrElse {
      <strong class="text" data-icon="L">DISABLED</strong>
      }
    </p>
    <div class="forms">
      @if(state.isDefined) {
      <form action="@routes.Mod.chatPanicPost?v=0" method="POST">
        <button type="submit" class="button button-fat text" data-icon="L">Disable</button>
      </form>
      <form action="@routes.Mod.chatPanicPost?v=1" method="POST">
        <button type="submit" class="button button-fat text" data-icon="E">Renew for two hours</button>
      </form>
      } else {
      <form action="@routes.Mod.chatPanicPost?v=1" method="POST">
        <button type="submit" class="button button-fat text" data-icon="E">Enable</button>
      </form>
      }
    </div>
  </div>
</main>
}.toHtml
