@(u: User, players: List[(Pov, lila.chat.MixedChat)], threads: List[lila.message.Thread], publicLines: List[String], spy: lila.security.UserSpy)(implicit ctx: Context)

@moreCss = {
@cssTag("mod-communication.css")
}

@side = {
<br />
<br />
<a data-icon="i" class="text" href="@routes.Report.list">Return to the report list</a>
}

@base.layout(
title = u.username + " communications",
moreCss = moreCss,
side = side.some) {

<div id="communication" class="content_box">
  <h1>
    <form style="float:right" method="post" action="@routes.Mod.troll(u.username)?set=1&then=reports">
      <input class="button@when(u.troll, " active")" type="submit" value="Shadowban" />
    </form>
    <form style="float:right" method="post" action="@routes.Mod.troll(u.username)?set=0&then=reports">
      <input class="button@when(!u.troll, " active")" type="submit" value="OK" />
    </form>
    @userLink(u) communications
  </h1>
  <h2>Dubious public chats</h2>
  <p class="help">
    Tournament, simul, &amp; public chat messages that triggered the butthurt detector:
  </p>
  @if(publicLines.isEmpty) {
  <strong>None!</strong>
  } else {
  <ul class="public_chats">
    @publicLines.map { line =>
    <li>@line</li>
    }
  </ul>
  }

  <h2>Private chats</h2>
  <div class="player_chats">
    @players.map {
    case (pov, chat) => {
    <div class="game">
      <a class="title" href="@routes.Round.player(pov.fullId)">
        Game vs @usernameOrAnon(pov.opponent.userId)
      </a>
      <div class="chat">
        @chat.lines.map { line =>
        <div class="line @if(line.author.toLowerCase == u.id) { author }">
          @userIdLink(line.author.toLowerCase.some, withOnline = false, withTitle = false)
          @autoLink(line.text)
        </div>
        }
      </div>
    </div>
    }
    }
  </div>
  <div class="threads">
    <h2>Inbox messages</h2>
    @threads.map { thread =>
    <div class="thread">
      <p class="title">
        <strong>@thread.name</strong>
        @momentFromNow(thread.createdAt)
        @userIdLink(thread.creatorId.some) -&gt; @userIdLink(thread.invitedId.some)
      </p>
      @thread.posts.map { post =>
      <div class="post @if(thread.isWrittenBy(post, u)) { author }">
        @userIdLink(thread.senderOf(post).some)
        @autoLink(post.text)
      </div>
      }
    </div>
    }
  </div>
  <div class="alternate_accounts">
    <h2>Alternate accounts</h2>
    @if(spy.otherUsers.size < 1) {
    <strong>No similar user found</strong>
    } else {
    <table class="others slist">
      <thead>
        <tr>
          <th>@spy.otherUsers.size similar user(s)</th>
          <th>Same</th>
          <th>Games</th>
          <th>Marks</th>
          <th>IPban</th>
          <th>Closed</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        @spy.otherUsers.map {
        case lila.security.UserSpy.OtherUser(o, byIp, byFp) => {
        <tr @if(o == u){class="same"}>
          <td>@userLink(o, withBestRating = true, params = "?mod")</td>
          <td>
            @if(o == u) { - } else {
            @List(byIp option "IP", byFp option "Print").flatten.mkString(", ")
            }
          </td>
          <td>@o.count.game.localize</td>
          <td>
            @if(o.engine){ENGINE}
            @if(o.booster){BOOSTER}
            @if(o.troll){SHADOWBAN}
          </td>
          <td>@if(o.ipBan){IPBAN}</td>
          <td>@if(o.disabled){CLOSED}</td>
          <td>@momentFromNow(o.createdAt)</td>
        </tr>
        }
        }
      </tbody>
    </table>
    }
  </div>
</div>
}
