@(in: lila.mod.Inquiry)(implicit ctx: Context)

<div class="inquiry">
  <i class="icon"></i>
  <div class="meat">
    <h2 class="user">
      @Html(userLink(in.user, withBestRating = true).body.replace("<a ", "<a data-pt-pos=\"se\" "))
        </h2>
        <div class="report">
          <h3>Reported by @userIdLink(in.report.createdBy.some, withOnline = false) for @in.report.reason.name</h3>
          <p>@autoLink(in.report.text.replace("\n", " "))</p>
        </div>
      </div>
      <div class="links">
        @if(isGranted(_.MarkTroll)) {
        <a href="@routes.Mod.communication(in.user.id)">View<br />Coms</a>
        }
        <a href="@routes.User.show(in.user.username)?mod">Mod<br />tools</a>
      </div>
      <div class="actions">
        @defining(in.report.isCommunication.fold("Warning: Offensive language", "")) { subject =>
        <form method="post" action="@routes.Mod.warn(in.user.username, subject)" data-hint="Send a moderator message" class="hint--bottom-left">
          <input class="fbt" type="submit" value="Warn" />
        </form>
        }
        @if(isGranted(_.MarkEngine)) {
        <form method="post" action="@routes.Mod.engine(in.user.username)" data-hint="This user is clearly cheating." class="hint--bottom-left">
          <input class="fbt@when(in.user.engine, " active")" type="submit" value="Engine" />
        </form>
        }
        @if(isGranted(_.MarkBooster)) {
        <form method="post" action="@routes.Mod.booster(in.user.username)" data-hint="Marks the user as a booster or sandbagger." class="hint--bottom-left">
          <input class="fbt@when(in.user.booster, " active")" type="submit" value="Booster" />
        </form>
        }
        @if(isGranted(_.MarkTroll)) {
        <form method="post" action="@routes.Mod.troll(in.user.username)?set=@(if (in.user.troll){0}else{1})" data-hint="@if(in.user.troll){En}else{Dis}able communication features for this user." class="hint--bottom-left">
          <input class="fbt@when(in.user.troll, " active")" type="submit" value="Shadowban" />
        </form>
        }
      </div>
      <div class="actions close">
        <form action="@routes.Report.process(in.report.id)" method="post" data-hint="Dismiss this report as processed." class="hint--bottom-left">
          <button type="submit" data-icon="E" class="fbt"></button>
        </form>
        <form action="@routes.Report.inquiry(in.report.id)" method="post" data-hint="Cancel the inquiry, re-instore the report" class="hint--bottom-left">
          <button type="submit" data-icon="L" class="fbt"></button>
        </form>
      </div>
    </div>
  </div>
