@(in: lila.mod.Inquiry)(implicit ctx: Context)

@renderReport(r: lila.report.Report) = {
<div class="doc report">
  @r.bestAtoms(10).toList.map { atom =>
  <div class="atom">
    <h3>
      @reportScore(atom.score)
      @userIdLink(atom.by.value.some, withOnline = false)
      for <strong>@r.reason.name</strong>,
      @momentFromNow(atom.at)
    </h3>
    <p>@richText(atom.simplifiedText)</p>
  </div>
  }
</div>
}

@renderNote(r: lila.user.Note) = {
<div class="doc note">
  <h3>by @userIdLink(r.from.some, withOnline = false), @momentFromNow(r.date)</h3>
  <p>@richText(r.text)</p>
</div>
}

@autoNextInput = {
<input class="auto-next" type="hidden" name="next" value="1" />
}

<div id="inquiry">
  <i title="Costello the Inquiry Octopus" class="costello"></i>
  <div class="meat">
    <h2 class="user">
      @repositionTooltipUnsafe(userLink(in.user, withBestRating = true, params = "?mod"), "se")
    </h2>
    <div class="docs reports">
      <div class="expendable">
        @in.allReports.map(renderReport)
      </div>
    </div>
    <div class="dropper counter history @if(in.history.isEmpty){empty}">
      <span>
        <count>@in.history.size</count>
        Mod log
      </span>
      @if(in.history.nonEmpty) {
      <div>
        <ul>
          @in.history.map { e =>
          <li>@userIdLink(e.mod.some, withOnline = false) <b>@e.showAction</b> @e.details @momentFromNow(e.date)</li>
          }
        </ul>
      </div>
      }
    </div>
    <div class="dropper counter notes @if(in.notes.isEmpty){empty}">
      <span>
        <count>@in.notes.size</count>
        Notes
      </span>
      <div>
        <form class="note" action="@routes.User.writeNote(in.user.username)?note" method="post">
          <textarea name="text" placeholder="Write a mod note"></textarea>
          <input type="hidden" name="mod" value="true" />
          <div class="submission">
            <button type="submit" class="button thin">SEND</button>
          </div>
        </form>
        @in.notes.map(renderNote)
      </div>
    </div>
  </div>
  <div class="links">
    @in.report.boostWith.map { userId =>
    <a href="@routes.User.games(in.user.id, "search")?players.b=@userId">View<br />Games</a>
    }.getOrElse {
    @in.report.bestAtomByHuman.map { atom =>
    <a href="@routes.User.games(in.user.id, "search")?players.b=@atom.by.value">View<br />Games</a>
    }
    }
    @if(isGranted(_.Shadowban)) {
    <a href="@routes.Mod.communicationPublic(in.user.id)">View<br />Comms</a>
    }
  </div>
  <div class="actions">
    <div class="dropper warn">
      <span class="icon" data-icon="e"></span>
      <div>
        @lila.message.ModPreset.all.map { preset =>
        <form method="post" action="@routes.Mod.warn(in.user.username, preset.subject)">
          <input class="fbt" type="submit" value="@preset.subject" />
          @autoNextInput
        </form>
        }
        <form method="get" action="@routes.Message.form">
          <input type="hidden" name="mod" value="1" />
          <input type="hidden" name="user" value="@in.user.id" />
          <input class="fbt" type="submit" value="Custom message" />
        </form>
      </div>
    </div>
    @if(isGranted(_.MarkEngine)) {
    <form method="post" action="@routes.Mod.engine(in.user.username, !in.user.engine)" title="Mark as cheat">
      <button data-icon="n" class="fbt icon@when(in.user.engine, " active")" type="submit"></button>
      @autoNextInput
    </form>
    }
    @if(isGranted(_.MarkBooster)) {
    <form method="post" action="@routes.Mod.booster(in.user.username, !in.user.booster)" title="Marks as booster or sandbagger">
      <button data-icon="9" class="fbt icon@when(in.user.booster, " active")" type="submit"></button>
      @autoNextInput
    </form>
    }
    @if(isGranted(_.Shadowban)) {
    <form method="post" action="@routes.Mod.troll(in.user.username, !in.user.troll)" title="@if(in.user.troll){Un-s}else{S}hadowban">
      <button data-icon="c" class="fbt icon@when(in.user.troll, " active")" type="submit"></button>
      @autoNextInput
    </form>
    }
    <div class="dropper more">
      <span class="icon" data-icon="u"></span>
      <div>
        <form method="post" action="@routes.Mod.notifySlack(in.user.id)">
          <input class="fbt" type="submit" value="Notify Slack" />
        </form>
        <form method="post" action="@routes.Report.xfiles(in.report.id)">
          <input class="fbt@when(in.report.room.key == "xfiles", " active")" type="submit" value="Move to X-Files" />
          @autoNextInput
        </form>
      </div>
    </div>
  </div>
  <div class="actions close">
    @defining("auto-next") { id =>
    <span class="switcher" title="Automatically open next report">
      <span class="switch">
        <input id="@id" class="cmn-toggle" type="checkbox" checked />
        <label for="@id"></label>
      </span>
    </span>
    }
    <form action="@routes.Report.process(in.report.id)" method="post" title="Dismiss this report as processed." class="process">
      <button type="submit" data-icon="E" class="fbt"></button>
      @autoNextInput
    </form>
    <form action="@routes.Report.inquiry(in.report.id)" method="post" title="Cancel the inquiry, re-instore the report" class="cancel">
      <button type="submit" data-icon="L" class="fbt"></button>
    </form>
  </div>
</div>
