@(in: lila.mod.Inquiry)(implicit ctx: Context)

@renderReport(r: lila.report.Report) = {
<div class="report">
  <h3>by @userIdLink(r.createdBy.some, withOnline = false) for <strong>@r.reason.name</strong>, @momentFromNow(r.createdAt)</h3>
  <p>@autoLink(r.simplifiedText)</p>
</div>
}

<div id="inquiry">
  <i title="Costello the Inquiry Octopus" class="costello"></i>
  <div class="meat">
    <h2 class="user">
      @repositionTooltip(userLink(in.user, withBestRating = true, params = "?mod"), "se")
    </h2>
    <div class="reports">
      <div class="expendable">
        @if(in.accuracy.isDefined) {
        <span class="accuracy"><strong>@in.accuracy%</strong> accuracy</span>
        }
        @in.allReports.map(renderReport)
      </div>
    </div>
  </div>
  <div class="links">
    <a href="@routes.User.games(in.user.id, "search")?players.b=@in.report.createdBy">View<br />Games</a>
    @if(isGranted(_.MarkTroll)) {
    <a href="@routes.Mod.communication(in.user.id)">View<br />Coms</a>
    }
  </div>
  <div class="actions">
    <form method="get" action="@routes.Message.form" data-hint="Send a moderator message" class="hint--bottom-left">
      <input type="hidden" name="mod" value="1" />
      <input type="hidden" name="user" value="@in.user.id" />
      <input class="fbt" type="submit" value="Warn" />
    </form>
    @if(isGranted(_.MarkEngine)) {
    <form method="post" action="@routes.Mod.engine(in.user.username)" data-hint="Mark as cheat" class="hint--bottom-left">
      <button data-icon="n" class="fbt icon@when(in.user.engine, " active")" type="submit"></button>
    </form>
    }
    @if(isGranted(_.MarkBooster)) {
    <form method="post" action="@routes.Mod.booster(in.user.username)" data-hint="Marks as booster or sandbagger" class="hint--bottom-left">
      <button data-icon="9" class="fbt icon@when(in.user.booster, " active")" type="submit"></button>
    </form>
    }
    @if(isGranted(_.MarkTroll)) {
    <form method="post" action="@routes.Mod.troll(in.user.username)?set=@(if (in.user.troll){0}else{1})" data-hint="@if(in.user.troll){En}else{Dis}able communication features for this user." class="hint--bottom-left">
      <button data-icon="c" class="fbt icon@when(in.user.troll, " active")" type="submit"></button>
    </form>
    }
    <div class="dropper">
      <span data-icon="u"></span>
      <div>
        <form method="post" action="@routes.Report.xfiles(in.report.id)">
          <input class="fbt@when(in.report.room.key == "xfiles", " active")" type="submit" value="Move to X-Files" />
        </form>
      </div>
    </div>
  </div>
  <div class="actions close">
    <form action="@routes.Report.process(in.report.id)" method="post" data-hint="Dismiss this report as processed." class="process hint--bottom-left">
      <button type="submit" data-icon="E" class="fbt"></button>
    </form>
    <form action="@routes.Report.inquiry(in.report.id)" method="post" data-hint="Cancel the inquiry, re-instore the report" class="cancel hint--bottom-left">
      <button type="submit" data-icon="L" class="fbt"></button>
    </form>
  </div>
</div>
