@(logs: List[lila.mod.Modlog])(implicit ctx: Context)

@title = @{ "Mod logs" }

@base.layout(
title = title,
moreCss = responsiveCssTag("mod.misc"),
responsive = true) {
<main class="page-menu">
  @mod.menu("log").toHtml
  <div id="modlog_table" class="page-menu__content box">
    <h1>@title</h1>
    <table class="slist slist-pad">
      <thead>
        <tr>
          <th>Mod</th>
          <th>Action</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        @logs.map { log =>
        <tr>
          <td>@userIdLink(log.mod.some)<br />@momentFromNow(log.date)</td>
          <td>@log.showAction.capitalize @log.user.map { u =>
            @userIdLink(u.some, params="?mod")
            }</td>
          <td>@log.details</td>
        </tr>
        }
    </tbody></table>
  </div>
</main>
}.toHtml
