@(active: String)(implicit ctx: Context)

@if(isGranted(_.SeeReport)) {
<a class="@active.active("report")" href="@routes.Report.list">Reports</a>
}
@if(isGranted(_.ChatTimeout)) {
<a class="@active.active("public-chat")" href="@routes.Mod.publicChat">Public Chats</a>
}
@if(isGranted(_.SeeReport)) {
<a class="@active.active("gamify")" href="@routes.Mod.gamify">Hall of fame</a>
}
@if(isGranted(_.UserSearch)) {
<a class="@active.active("search")" href="@routes.Mod.search">Search users</a>
}
@if(isGranted(_.SetEmail)) {
<a class="@active.active("email")" href="@routes.Mod.emailConfirm">Email confirm</a>
}
@if(isGranted(_.PracticeConfig)) {
<a class="@active.active("practice")" href="@routes.Practice.config">Practice</a>
}
@if(isGranted(_.ManageTournament)) {
<a class="@active.active("tour")" href="@routes.TournamentCrud.index(1)">Tournaments</a>
}
@if(isGranted(_.ManageEvent)) {
<a class="@active.active("event")" href="@routes.Event.manager">Events</a>
}
@if(isGranted(_.SeeReport)) {
<a class="@active.active("log")" href="@routes.Mod.log">Mod log</a>
}
@if(isGranted(_.SeeReport)) {
<a class="@active.active("irwin")" href="@routes.Irwin.dashboard">Irwin dashboard</a>
}
@if(isGranted(_.Shadowban)) {
<a class="@active.active("panic")" href="@routes.Mod.chatPanic">
  Chat Panic <strong>@if(isChatPanicEnabled){ON}else{OFF}</strong>
</a>
}
@if(isGranted(_.Settings)) {
<a class="@active.active("setting")" href="@routes.Dev.settings">Settings</a>
}
@if(isGranted(_.Cli)) {
<a class="@active.active("cli")" href="@routes.Dev.cli">CLI</a>
}
