@(form: Form[_], users: List[User.WithEmails])(implicit ctx: Context)

@title = @{ "Search users" }

@layout(
title = title,
active = "search") {

<style type="text/css">
  #mod-search form {
    margin: 30px 0;
  }
  #mod-search form input {
    padding: 15px 25px;
    font-size: 1.2em;
    width: 400px;
    margin-right: 1em;
    position: relative;
  }
  #mod-search .slist em {
    font-size: 0.85em;
  }
</style>

<div id="mod-search" class="content_box">
  <h1 data-icon="y" class="text">@title</h1>
  <form class="search" action="@routes.Mod.search" method="GET">
    <input name="q" placeholder="Search by IP, email, or username" value="@form("q").value" />
    @base.form.select(form("as"), lila.mod.UserSearch.asChoices)
  </form>
  @userTable(users)
</div>
}
