@(query: String, users: List[User])(implicit ctx: Context)

@base.layout(
title = "Search users",
moreCss = responsiveCssTag("mod.misc"),
responsive = true) {
<main class="page-menu">
  @mod.menu("search").toHtml
  <div id="mod-search" class="page-menu__content box box-pad">
    <h1>Search users</h1>
    <form class="search" action="@routes.Mod.search" method="GET">
      <input name="q" placeholder="Search by IP, email, or username" value="@query" autofocus />
    </form>
    @if(users.nonEmpty) {
    <table class="slist">
      <thead>
        <tr>
          <th>User</th>
          <th>Games</th>
          <th>Marks</th>
          <th>IPban</th>
          <th>Closed</th>
          <th>Created</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        @users.map { u =>
        <tr>
          <td>@userLink(u, withBestRating = true, params = "?mod")</td>
          <td>@u.count.game.localize</td>
          <td>
            @if(u.engine){ENGINE}
            @if(u.booster){BOOSTER}
            @if(u.troll){SHADOWBAN}
          </td>
          <td>@if(u.ipBan){IPBAN}</td>
          <td>@if(u.disabled){CLOSED}</td>
          <td>@momentFromNow(u.createdAt)</td>
          <td>@u.seenAt.map(momentFromNow(_))</td>
        </tr>
        }
    </tbody></table>
    }
  </div>
</main>
}.toHtml
