@(query: String, users: List[User])(implicit ctx: Context)

@title = @{ "Search users" }

@layout(
title = title,
active = "search") {

<style type="text/css">
  #mod-search form {
    margin: 30px 0;
    text-align: center;
  }
  #mod-search form input {
    padding: 15px 25px;
    font-size: 1.2em;
    width: 400px;
    margin: auto;
    position: relative;
  }
</style>

<div id="mod-search" class="content_box">
  <h1 data-icon="y" class="text">@title</h1>
  <form class="search" action="@routes.Mod.search" method="GET">
    <input name="q" placeholder="Search by IP, email, or username" value="@query" />
  </form>
  @if(users.nonEmpty) {
  <table class="slist">
    <thead>
      <tr>
        <th>User</th>
        <th>Games</th>
        <th>Marks</th>
        <th>IPban</th>
        <th>Closed</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      @users.map { u =>
      <tr>
        <td>@userLink(u, withBestRating = true, params = "?mod")</td>
        <td>@u.count.game.localize</td>
        <td>
          @if(u.engine){ENGINE}
          @if(u.booster){BOOSTER}
          @if(u.troll){SHADOWBAN}
        </td>
        <td>@if(u.ipBan){IPBAN}</td>
        <td>@if(u.disabled){CLOSED}</td>
        <td>@momentFromNow(u.createdAt)</td>
      </tr>
      }
  </tbody></table>
  }
</div>
}
