@(users: List[User.WithEmails])(implicit ctx: Context)
@if(users.nonEmpty) {
<table class="slist">
  <thead>
    <tr>
      <th>User</th>
      <th>Games</th>
      <th>Marks</th>
      <th>IPban</th>
      <th>Closed</th>
      <th>Created</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    @users.map {
    case lila.user.User.WithEmails(u, emails) => {
    <tr>
      <td>
        @userLink(u, withBestRating = true, params = "?mod")
        <em>@emails.list.mkString(", ")</em>
      </td>
    </td>
    <td>@u.count.game.localize</td>
    <td>
      @if(u.engine){ENGINE}
      @if(u.booster){BOOSTER}
      @if(u.troll){SHADOWBAN}
    </td>
    <td>@if(u.ipBan){IPBAN}</td>
    <td>@if(u.disabled){CLOSED}</td>
    <td>@momentFromNow(u.createdAt)</td>
    <td>@u.seenAt.map(momentFromNow(_))</td>
  </tr>
  }
  }
</tbody></table>
}
