@(route: Call, pager: Paginator[_], showPost: Boolean)

@url(page: Int) = {
@route?page=@page
}

@if(pager.hasToPaginate) {
<div class="pagination">
  <nav>
    @if(pager.hasPreviousPage) {
    <a href="@url(pager.previousPage.get)" data-icon="I"></a>
    } else {
    <span class="disabled" data-icon="I"></span>
    }
    @pager.sliding(3, showPost = showPost).map {
    case None => { ... }
    case Some(p) => {
    @if(p == pager.currentPage) {
    <span class="current">@p</span>
    } else {
    <a href="@url(p)">@p</a>
    }
    }
    }
    @if(pager.hasNextPage) {
    <a rel="next" href="@url(pager.nextPage.get)" data-icon="H"></a>
    } else {
    <span class="disabled" data-icon="H"></span>
    }
  </nav>
</div>
}
