@use '../abstract/extends';
@use '../abstract/mixins';
@use '../abstract/variables';
@use '../abstract/z-index' as z;
@use '../theme/gen/theme';

%top-icon {
  display: block;
  height: variables.$site-header-height;
  line-height: variables.$site-header-height;
}

.site-buttons {
  @extend %flex-center-nowrap;

  .header-langs {
    button {
      padding: 0.3rem;
      border: none;
      border-radius: 0;
      background: none;
      -webkit-appearance: none;
    }
  }

  .link {
    @extend %top-icon;
    /* we don't want a lighter dark font in the top gradient */
    color: theme.$c-font;

    @include mixins.theme-wrap('transp') {
      @extend %page-text;
    }

    font-size: 1.1rem;
    padding: 0 0.7rem;

    &:hover {
      color: theme.$c-font-clearer;
    }

    span::before {
      vertical-align: middle;
    }
  }

  .toggle {
    @extend %top-icon;
  }

  .initiating {
    @extend %flex-center;

    justify-content: center;
    height: 300px;
    width: 225px;
    margin: auto;
  }

  .dropdown {
    @extend %dropdown-shadow;

    display: none;
    position: absolute;
    right: 0;
    top: var(--dropdown-top);
    background: theme.$c-bg-header-dropdown;
    z-index: z.get('dropdown');

    a,
    button {
      color: theme.$c-header-dropdown;
    }
  }

  .shown {
    .toggle {
      background: theme.$c-bg-header-dropdown;
      color: theme.$c-header-dropdown;
    }

    .dropdown {
      display: block;
    }
  }

  .signin {
    margin: 0 1rem;

    @include mixins.theme-wrap('transp') {
      &.button-empty {
        @extend %metal;

        color: theme.$c-font-clear;
      }
    }
  }

  .link-center {
    margin-top: 5px;
    height: inherit;
    line-height: inherit;
  }
}

#user_tag {
  padding-right: 1rem;
  white-space: nowrap;
}

#notify-app .initiating {
  width: 25rem;
}
