#clinput {
  display: flex;
  height: $site-header-height;
  & input {
    line-height: $site-header-height;
    background: none;
    padding: 0;
    border: 0;
    width: 0;
    @include transition(width);
  }
  &.shown input {
    width: 20ch;
  }
  & input:focus {
    outline: none;
  }
}
