#clinput {
  display: flex;
  height: $site-header-height;
  & input {
    line-height: $site-header-height;
    background: none;
    padding: 0;
    border: 0;
    margin-right: .5rem;
    display: none;
  }
  &.shown input {
    display: block;
  }
  & input:focus {
    outline: none;
  }
}
