@import 'topnav-hidden';
@import 'topnav-visible';
@import 'title';
@import 'buttons';
@import 'clinput';

#top {
  height: $site-header-height;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: z('site-header');

  --dropdown-top: 35px;
  @include breakpoint($mq-site-header-tall) {
    --dropdown-top: 53px;
  }
}

.site-title-nav {
  display: flex;
  justify-content: flex-start;
}
