@use 'breakpoint-sass/stylesheets/breakpoint';
@use '../abstract/extends';
@use '../abstract/media-queries';
@use '../abstract/variables';
@use '../theme/gen/theme';

.site-title {
  @extend %base-font;

  font-size: 25px;
  line-height: #{variables.$site-header-short-height - 3};
  text-shadow: theme.$text-shadow;
  white-space: nowrap;
  margin: 0 0.5rem;
  display: none;

  @include breakpoint.breakpoint(media-queries.$mq-xx-small) {
    display: block;
  }

  @include breakpoint.breakpoint(media-queries.$mq-topnav-hidden) {
    /* move away from hamburger */
    margin-left: calc(0.5rem + #{variables.$site-header-height});
  }

  @include breakpoint.breakpoint(media-queries.$mq-site-header-tall) {
    font-size: 30px;
    line-height: #{variables.$site-header-tall-height - 3};
  }

  @include breakpoint.breakpoint(
    media-queries.$mq-topnav-visible media-queries.$mq-site-header-tall
  ) {
    line-height: #{variables.$site-header-tall-height - 5};
    margin: 0 1rem;
  }

  a {
    color: theme.$c-font;
    text-decoration: none;

    &:hover {
      color: theme.$c-primary;

      span {
        color: theme.$c-primary-dim;
      }
    }
  }

  span {
    color: theme.$c-font-dim;

    &.site-beta {
      color: theme.$c-font-dimmer;
      position: relative;
      top: -16px;
      margin-left: 5px;
      font-size: 14px;
    }
  }

  .kiddo {
    color: theme.$c-font-dimmer;
    font-weight: bold;
    margin-right: 0.5em;
  }
}
