#main-wrap {
  min-height: calc(95vh - #{$site-header-height} - 4em);
  align-content: center;
  margin-top: 2em;
}
.auth {
  &-login {
    width: 100%;
    @include breakpoint($mq-xx-small) {
      width: 30em;
    }
    margin: auto;

    .button {
      width: 100%;
      padding: 1rem;
    }

    .alternative {
      margin-top: 2rem;
      font-size: .9em;
      @extend %flex-between;
    }
  }
}
