.subnav a {
  white-space: normal;
  max-width: 22vw;
  @include breakpoint($mq-medium) {
    max-width: 15vw;
  }
}

.clas-index {
  .box__top {
    flex-flow: row nowrap;
  }
  .new::before {
    font-size: 3em;
  }
  .classes {
    &__empty {
      margin-bottom: 8em;
    }
    .clas-widget {
      @extend %flex-center-nowrap, %break-word;
      border-bottom: $border;
      padding: 2em var(--box-padding);
      position: relative;
      @include transition();
      &::before {
        color: mix($c-link, $c-bg-box, 80%);
        font-size: 5em;
        margin-right: .4em;
        @include transition();
        @include breakpoint($mq-not-xx-small) {
          display: none;
        }
      }
      &:hover {
        background: mix($c-link, $c-bg-box, 10%);
        &::before {
          color: mix($c-link, $c-bg-box, 100%);
        }
      }
      .overlay {
        @extend %link-overlay
      }
      h3 {
        @include fluid-size('font-size', 23px, 35px);
        color: $c-link;
      }
      p {
        margin: .5em 0 0 0;
      }
    }
  }
}

.clas-show {

  .clas-desc {
    margin-bottom: 2em;
  }

  .students {
    &__empty {
      margin-bottom: 8em;
    }
  }
}

.student-show {

  &__title {
    @extend %flex-center;
    &::before {
      font-size: 3.5em;
      margin-right: .4em;
    }
  }

  .password {
    background: $c-bg-zebra;
    padding: 3em;
    display: flex;
    i {
      font-size: 7em;
      margin-right: 3rem;
      display: none;
      @include breakpoint($mq-small) {
        display: block;
      }
    }
    code {
      font-weight: bold;
      font-size: 3em;
      margin-top: 1rem;
      display: block;
    }
    .button {
      display: block;
      margin-top: 3em;
    }
  }
}

.student-add {

  .flash-success {
    @extend %box-radius;
    padding: 1em 2em;
    margin: 2em 0;
    background: $c-good;
    color: $c-good-over;
    &::before {
      @extend %data-icon;
      content: 'E';
      margin-right: 1em;
      font-size: 1.5em;
    }
  }

  &__choice {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: var(--box-padding);

    h2 {
      margin: 1em 0;
    }
  }
}
