$clas-color: rgb(127, 90, 240);

%archived {
  @extend %box-radius, %flex-between;
  background: $c-bg-zebra2;
  padding: 1em 2em;
  margin-bottom: 2em;
}

.subnav a {
  white-space: normal;
  max-width: 22vw;
  @include breakpoint($mq-medium) {
    max-width: 15vw;
  }
  &.student {
    em {
      @extend %roboto;
      display: none;
    }
    @include breakpoint($mq-subnav-side) {
      font-weight: bold;
      padding: .4rem 2vw .4rem .8rem;
      &.active {
        color: $clas-color;
      }
      &::after {
        background: $clas-color;
      }
      em {
        font-weight: normal;
        display: block;
      }
    }
  }
}

.clas-index {
  .box__top {
    flex-flow: row nowrap;
  }
  .new::before {
    font-size: 3em;
  }
  .classes {
    &__empty {
      margin-bottom: 8em;
    }
    .clas-widget {
      @extend %flex-center-nowrap, %break-word;
      border-bottom: $border;
      padding: 2em var(--box-padding);
      position: relative;
      @include transition();
      &::before {
        color: mix($c-link, $c-bg-box, 80%);
        font-size: 5em;
        margin-right: .4em;
        @include transition();
        @include breakpoint($mq-not-xx-small) {
          display: none;
        }
      }
      &:hover {
        background: mix($c-link, $c-bg-box, 10%);
        &::before {
          color: mix($c-link, $c-bg-box, 100%);
        }
      }
      .overlay {
        @extend %link-overlay
      }
      h3 {
        @include fluid-size('font-size', 23px, 35px);
        color: $c-link;
      }
      p {
        margin: .5em 0 0 0;
      }
      &-archived {
        &::before, h3 {
          color: $c-font-dim;
        }
      }
    }
  }
}

.clas-show {

  .clas-desc {
    margin-bottom: 2em;
  }

  .teachers {
    margin: 1em 0 2em 0;
  }

  &__archived {
    @extend %archived;
  }

  .students {
    &-archived {
      margin-top: 2em;
    }
    &__empty {
      margin-bottom: 8em;
    }
    td:first-child {
      font-weight: bold;
    }
    td:nth-child(2) {
      color: $c-font-dim;
    }
  }
}

.clas-edit {
  &__archive {
    text-align: right;
  }
}

.student-show {

  $top-background: $clas-color;
  $top-font: white;
  $top-font-dim: mix($top-font, $top-background, 80%);

  padding-bottom: 3em;

  &__top {
    padding: calc(5vh - 1rem) var(--box-padding);
    background: $top-background;
    margin-bottom: 3em;
    &, a, .button, .title {
      color: $top-font !important;
    }
    a:not(.button) {
      font-weight: bold;
      border-bottom: 1px dotted $top-font-dim;
    }
    h1 {
      @extend %flex-center;
      margin-bottom: .6em;
      &::before {
        font-size: 2.5em;
        margin-right: .4em;
        color: $top-font-dim;
      }
      strong {
        display: block;
      }
      em {
        @extend %roboto;
        color: $top-font-dim;
      }
    }
    &__meta {
      @extend %flex-between;
      justify-items: center;
      p {
        margin: 0;
      }
    }
  }

  &__notes {
    margin-bottom: 2em;
  }

  &__managed {
    @extend %box-radius, %flex-between;
    background: fade-out($c-primary, .8);
    padding: 1em 2em;
    margin: 1em 0 2em 0;
    p {
      margin: 0;
      &::before {
        @extend %data-icon;
        content: '5';
        font-size: 3em;
      }
    }
    &__actions {
      @extend %flex-center;
    }
  }

  .activity {
    margin: 1em 0 2em 0;
  }

  &__archived {
    @extend %archived;
  }

  &__archive {
    margin-top: 3em;
    text-align: right;
  }
}

.student-add {

  &__choice {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: var(--box-padding);
    align-items: center;

    h2 {
      margin-bottom: 1em;
    }
    .button {
      width: 100%;
    }
  }

  &__or {
    color: $c-font-dimmer;
    margin: 2rem 0;
    text-align: center;
    font-style: italic;
    font-size: 2em;
  }

  &__created {
    strong a {
      text-decoration: underline;
    }
    p {
      margin-top: 1em;
    }
    pre {
      font-size: 1.5em;
    }
    .button {
      display: block;
      margin-top: 3em;
    }
  }
}

.clas-home {

  &__doc {
    margin-bottom: 4em;
  }

  &__onboard {
    text-align: center;
    .button {
      margin-bottom: 1em;
    }
  }
}
