@import "./account";

.dgt {
  h1 {
    color: $c-accent;
  }
}

#dgt-play-zone {
  /* style goes here */
  overflow: auto; height: 500px;
  @if $theme-dark {
    background-color: #222;
  } @else {
    background-color: #333;
  }

}

.log-warn { color: orange }
.log-error { color: red }
.log-info { color: skyblue }
.log-log { color: silver }
.log-table { color: cyan }
.log-warn, .log-error { font-weight: bold; }    

  

 
