.event {
  h2 {
    font-size: 2em;
    margin-top: 2em;
    text-align: center;
  }
  .event-title {
    background: #303F9F;
    color: #ddd;
    letter-spacing: 0.1em;
    padding: 30px;
    font-size: 3em;
    text-align: center;
    time {
      display: block;
      font-size: 0.4em;
      opacity: 0.8;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }
  .desc {
    margin-top: 4em;
  }
  .button {
    display: block;
    margin: 3em auto;
  }
  .countdown {
    text-align: center;
    li {
      display: inline-block;
      font-size: 1.5em;
      list-style-type: none;
      padding: 1.5em;
      text-transform: uppercase;
    }
    li span {
      display: block;
      font-size: 4.5rem;
    }
  }
}
