.event {
  .box__top {
    justify-content: normal;

    .img {
      font-size: 6em;
      margin-right: 3rem;
    }

    > div {
      margin: 0;
    }

    h1 {
      letter-spacing: .5ch;
    }
  }

  .headline {
    font-size: 1.5em;
    display: block;
    margin-top: .5em;
    letter-spacing: .5ch;
    font-weight: normal;
  }

  .desc {
    margin-top: 3em;

    img {
      max-width: 100%;
    }
  }

  .button {
    display: block;
    margin: 3em auto;
  }

  .countdown {
    text-align: center;

    li {
      display: inline-block;
      font-size: 1.5em;
      list-style-type: none;
      padding: 1.5em;
      text-transform: uppercase;

      span {
        display: block;
        font-size: 4.5rem;
      }
    }
  }
}
