.event {
  h2 {
    font-size: 1.5em;
    margin-top: 3em;
    text-align: center;
  }

  .desc {
    margin-top: 4em;

    img {
      max-width: 100%;
    }
  }

  .button {
    display: block;
    margin: 3em auto;
  }

  .countdown {
    text-align: center;

    li {
      display: inline-block;
      font-size: 1.5em;
      list-style-type: none;
      padding: 1.5em;
      text-transform: uppercase;
    }

    li span {
      display: block;
      font-size: 4.5rem;
    }
  }
}
