.faq {
  .question {
    .answer {
      display: none;
    }
  }
  .question:target {
    .answer {
      display: block;
    }
    h3 {
      border-bottom: 1px solid #eee;
    }
    h3 a {
      color: $c-font;
    }
  }

  h2 {
    margin-top: 1.3em;
  }

  h3, h4, p {
    margin-top: 1em;
  }

  h4 {
    font-weight: bold;
  }

  ul li {
    list-style: disc inside;
  }
  ol li {
    list-style: decimal inside;
  }
}
