.faq {
  .question {
    .answer {
      display: none;
    }

    &:target {
      @extend %box-neat;

      background: $c-bg-zebra;
      padding: 2em 3em 1em 3em;
      margin-top: 1em;

      .answer {
        display: block;
      }

      h3 {
        padding-top: 0;
        font-weight: bold;

        a {
          color: $c-accent;
        }
      }
    }
  }

  h2 {
    margin: 1.3em 0 0.3em 0;
  }

  h3 {
    font-size: 1.3em;
    padding: 1em 0;
  }

  h4 {
    font-size: 1.2em;
    margin: 0.5rem 0;
  }

  ol li {
    list-style: decimal outside;
  }

  ul li {
    list-style: disc outside;
  }

  ol,
  ul {
    margin-left: 2em;
    margin-bottom: 1em;
  }

  em {
    font-style: italic;
  }

  img {
    max-width: 100%;
  }
}
