.oauth {
  width: 100%;
  margin: auto;

  @include breakpoint($mq-x-small) {
    width: 40em;
  }

  ul {
    margin: 25px;
  }
  li {
    list-style: disc outside;
  }

  code {
    color: $c-bad;
    word-wrap: anywhere;
  }
}
