.oauth {
  width: 100%;
  margin: auto;

  @include breakpoint($mq-x-small) {
    width: 40em;
  }

  ul {
    margin: 25px;
  }
  li {
    list-style: disc outside;
  }

  code {
    color: $c-brag;
    word-wrap: anywhere;
  }

  h1 {
    @extend %break-word;
  }

  &__scopes {
    li {
      margin: 0.5em 0;
    }
    .danger {
      &::before {
        @extend %data-icon;

        margin-right: 0.2em;
        content: '';
        color: $c-bad;
      }
    }
  }

  .form-actions {
    margin: 1.5rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $c-border;
  }

  &__footer {
    @extend %flex-between-nowrap;
    color: $c-font-dim;
    font-size: 0.9em;
    strong {
      @extend %break-word;
    }
  }

  &__redirect {
    flex: 0 0 60%;
    margin-left: 1em;
  }
}
