.page {
  .body {
    @include rendered-markdown--code;

    font-size: 1.1em;
    overflow-wrap: anywhere;

    h2 {
      margin: 1.8em 0 0.5em 0;
      border-bottom: 1px solid $c-brag;
      line-height: 1.5em;
      padding-bottom: 0.5em;
    }

    p,
    ul,
    ol {
      margin: 1em 0;
    }

    ul li {
      list-style: disc outside;
      margin: 0.5em 0 0 1.5em;
    }

    ol li {
      list-style: decimal inside;
      margin: 0.5em 0;
    }

    li {
      margin-#{$start-direction}: 2em;
    }

    h3 {
      @extend %roboto;

      font-size: 1.5em;
      line-height: 1.5em;
      margin-top: 1.3em;
    }

    h4 {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }

    iframe {
      width: 100%;
    }

    img,
    .block-img {
      max-width: 100%;
    }

    .block-img {
      margin: 2em auto 1em auto;
      text-align: center;

      img {
        @extend %box-neat-force;
        width: auto;
        height: auto;
      }
    }

    .center {
      text-align: center;
    }

    .copy-zone {
      @extend %flex-center-nowrap;

      input {
        flex: 1 1 auto;
      }
    }
  }
}
