.simul-list {
  overflow: hidden;
  .count {
    @extend %roboto;

    vertical-align: center;
    color: $c-brag;
    font-size: 40px;
    text-align: center;
    line-height: 72px;
    width: 80px;
  }

  .icon {
    text-align: center;
    font-size: 3em;
    color: $c-brag;
  }

  .name {
    @extend %break-word;
    font-size: 1.7em;
  }
  time {
    white-space: nowrap;
  }
}
