@use 'pkg:breakpoint-sass' as breakpoint;
@use '../abstract/fluid-size';
@use '../abstract/media-queries';
@use '../abstract/uniboard';
@use '../abstract/variables';
@use '../theme/gen/theme';

body {
  --site-header-height: #{variables.$site-header-short-height};
  --site-header-margin: 16px;
  --main-margin: 0;

  @include breakpoint.breakpoint(media-queries.$mq-site-header-tall) {
    --site-header-height: #{variables.$site-header-tall-height};
  }

  @include breakpoint.breakpoint(uniboard.$mq-main-margin) {
    --main-margin: 1vw;

    margin-bottom: variables.$block-gap;
  }

  /* Feature detection for JS to read */
  @media (hover: hover) {
    --hoverable: 1;
  }

  @supports (display: grid) {
    --grid: 1;
  }
}

#main-wrap {
  display: grid;
  grid-template-areas: '. . main . .';

  --main-max-width: #{variables.$main-max-width};

  grid-template-columns:
    variables.$main-margin 1fr minmax(auto, var(--main-max-width))
    1fr variables.$main-margin;

  &.full-screen {
    --main-max-width: auto;
  }

  &.full-screen-force {
    --main-max-width: 100%;
  }

  margin-top: variables.$site-header-margin;

  @media (hover: none) {
    body.clinput & {
      display: none;
    }
  }
}

@if variables.$debug {
  #main-wrap::before {
    position: absolute;
    z-index: 9999;
    background: theme.$c-accent;
    color: #fff;
    font-weight: bold;
    padding: 1em;
    content: 'COL 1';

    @include breakpoint.breakpoint(uniboard.$mq-col2-uniboard) {
      content: 'COL 2';
    }

    @include breakpoint.breakpoint(uniboard.$mq-col3-uniboard) {
      content: 'COL 3';
    }
  }
}

main {
  grid-area: main;

  &.page-small {
    max-width: 1000px;
    margin: auto;
    width: 100%;
  }
}
