$vp-min-width: 320px;
$vp-max-width: 1200px;

body {
  --site-header-height: #{$site-header-short-height};
  @include breakpoint($mq-site-header-tall) {
    --site-header-height: #{$site-header-tall-height};
  }

  --main-margin: 0;
  @include breakpoint($mq-main-margin) {
    --main-margin: #{$block-gap};
    margin-bottom: $block-gap;
  }

  --board-scale: 1;
  @include breakpoint($mq-zoom-enabled) {
    // --zoom: 85; defined in the HTML, loaded from server
    --board-scale: calc((var(--zoom) / 100) * 0.5 + 0.5);
  }

  @media (hover: hover) {
    --hoverable: 1;
  }
}

#main-wrap {
  display: grid;
  grid-template-columns: $main-margin 1fr minmax(auto, #{$main-max-width}) 1fr $main-margin;
  grid-template-areas: '. . main . .';
  &.full-screen {
    grid-template-columns: $main-margin 1fr minmax(auto, 100%) 1fr $main-margin;
  }
}

main {
  grid-area: main;
}

main.page-small {
  max-width: 1000px;
}
