fluid-size.@use "../abstract/fluid-size";
@use "../abstract/media-queries";
@use "../abstract/variables";

$vp-min-width: 320px;
fluid-size.$vp-max-width: 1200px;

body {
  --site-header-height: #{variables.$site-header-short-height};

  @include breakpoint(media-queries.$mq-site-header-tall) {
    --site-header-height: #{variables.$site-header-tall-height};
  }

  --site-header-margin: 0px;

  &.header-margin {
    --site-header-margin: 1em;
  }

  --main-margin: 0;

  @include breakpoint(media-queries.$mq-main-margin) {
    --main-margin: 1vw;
    margin-bottom: variables.$block-gap;
  }
}

#main-wrap {
  display: grid;
  grid-template-areas: '. . main . .';
  --main-max-width: #{variables.$main-max-width};
  grid-template-columns: variables.$main-margin 1fr minmax(auto, var(--main-max-width)) 1fr variables.$main-margin;

  &.full-screen {
    --main-max-width: auto;
  }

  &.full-screen-force {
    --main-max-width: 100%;
  }

  margin-top: variables.$site-header-margin;

  @media (hover: none) {
    body.clinput & {
      display: none;
    }
  }
}

main {
  grid-area: main;

  &.page-small {
    max-width: 1000px;
    margin: auto;
    width: 100%;
  }
}
