body {
  --board-scale: 1;
  @include breakpoint($mq-zoom-enabled) {
    // --zoom: 80; defined in the HTML, loaded from server
    --board-scale: calc((var(--zoom) / 100) * 0.6 + 0.4);
  }
  // For browsers that don't support min
  --col2-uniboard-main-size: #{$col2-uniboard-main-size-fallback};
  --col3-uniboard-main-size: #{$col3-uniboard-main-size-fallback};
  --col2-uniboard-main-size-no-hands: #{$col2-uniboard-main-size-fallback-no-hands};
  --col3-uniboard-main-size-no-hands: #{$col3-uniboard-main-size-fallback-no-hands};

  @supports (width: min(1px, 2px)) {
    --col2-uniboard-main-size: #{$col2-uniboard-main-size};
    --col3-uniboard-main-size: #{$col3-uniboard-main-size};
    --col2-uniboard-main-size-no-hands: #{$col2-uniboard-main-size-no-hands};
    --col3-uniboard-main-size-no-hands: #{$col3-uniboard-main-size-no-hands};
  }
}

@include breakpoint($mq-col1-uniboard) {
  body {
    --col1: 1;
  }
  .main-board sg-board {
    border-radius: 0;
  }
}
