$c-bg: if($theme == 'light', $c-bg-zebra, $c-bg-low);
$c-recording: hsl(6, 86%, 50%);
$c-recording-hover: hsl(6, 100%, if($theme == 'light', 40%, 60%));
$c-off: gray;
$c-off-hover: if($theme == 'light', #444, #aaa);

.input-move {
  @extend %flex-between-nowrap;
  border-bottom: 1px solid if($theme == 'light', $c-border, $c-bg-box);
  height: 44px;
  background: $c-bg;
  padding: 8px;

  em {
    color: $c-font-dim;
  }
}

#move-text-input {
  @include transition;
  padding: 8px 8px 8px 36px;
  border: $border;
  width: 20em;
  font-size: 14px;
  font-weight: bold;

  &.wrong {
    background: $c-bad;
    color: $c-bad-over;
  }
}

#voice-move-button {
  position: absolute;
  font-family: 'lichess';
  cursor: pointer;
  margin-left: 6px;
  color: $c-off;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  border-width: 0 1px 0 1px;
  border-radius: 0.25em;
  border-style: solid;
  border-color: transparent;
  font-weight: bold;
  text-align: center;
  &:hover {
    color: $c-off-hover;
  }
}

#voice-move-button.busy {
  font-size: 16px;
}

#voice-move-button.enabled {
  color: $c-recording;
  animation: pulseBorderRed 1s;
  animation-iteration-count: infinite;
  &:hover {
    color: $c-recording-hover;
  }
}

@keyframes pulseBorderRed {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: $c-recording;
  }
  100% {
    border-color: transparent;
  }
}
