.input-move {
  @extend %flex-center-nowrap;
  height: fit-content;

  input {
    width: 4.5em;
    font-size: 1.1em;
    font-weight: bold;
    margin-#{$end-direction}: 1rem;
    border: $border;

    @include transition;

    &.wrong {
      background: $c-bad;
      color: $c-bad-over;
    }
  }

  em {
    color: $c-font-dim;
  }

  .voice-move {
    @extend %flex-center-nowrap;
    margin-#{$start-direction}: auto;
    .spinner {
      margin-#{$start-direction}: 1em;
      width: 1.5em;
      min-width: 1.5em;
      height: 1.5em;
      min-height: 1.5em;
    }
  }
}

#voice-move-button {
  font-family: 'lichess';
  cursor: pointer;
  margin-#{$start-direction}: 0.2em;
  color: gray;
  font-size: 20pt;
  border-width: 0 1px 0 1px;
  border-radius: 0.25em;
  border-style: solid;
  border-color: transparent;
}

#voice-move-button.enabled {
  color: red;
  animation: pulseBorderRed 1s;
  animation-iteration-count: infinite;
}

@keyframes pulseBorderRed {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #ff0000aa;
  }
  100% {
    border-color: transparent;
  }
}
