@use 'breakpoint-sass/stylesheets/breakpoint';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';

.tv-channel {
  padding: 0.4rem 0.8rem 0.4rem 0 !important;

  > span {
    @extend %flex-center-nowrap;

    width: 100%;
    justify-content: flex-end;

    &::before {
      order: 2;
      color: theme.$m-brag_bg-page_mix_60;
      font-size: 2.5em;
      margin-left: 0.8rem;
    }

    > span {
      text-align: right;

      strong {
        display: block;
        text-transform: uppercase;
      }
    }
  }

  .champion {
    font-size: 0.9em;
    white-space: nowrap;
    display: block;
  }

  &.active > span::before {
    color: theme.$c-accent;
  }
}

.tv-channels.subnav {
  @include breakpoint.breakpoint(media-queries.$mq-subnav-top) {
    grid-template-columns: repeat(auto-fit, minmax(18ch, 1fr));

    strong {
      letter-spacing: -1px;
    }
  }
}

.game__meta {
  margin-bottom: variables.$block-gap;
}
