.main-board {
  @extend %square;
  position: relative;
  &__preload {
    position: absolute;
  }
  .cg-board-wrap {
    @extend %abs-100;
  }
}

.mini-board {
  @extend %square;
  position: relative;
  // .cg-board-wrap {
  //   width: 224px;
  //   height: 224px;
  // }
}
