body.resizing {
  user-select: none;
}

cg-resize {
  $resize-width: 22px;

  display: none;

  @include breakpoint($mq-board-resizable) {
    display: block;
    position: absolute;
    right: #{13px - $resize-width};
    bottom: #{13px - $resize-width};
    width: $resize-width;
    height: $resize-width;
    cursor: nwse-resize;
    z-index: 10;

    &::before,
    &::after {
      background: #000;
      content: '';
      position: absolute;
      width: 12px;
      height: 1px;
    }

    &::before {
      width: 5px;
      transform: translate(7px, 8px) rotate(-45deg);
    }

    &::after {
      transform: translate(1px, 6px) rotate(-45deg);
    }

    &:hover {
      border-radius: 50%;
      background: fade-out($c-accent, 0.5);
    }

    .resizing & {
      border-radius: 50%;
      background: fade-out($c-secondary, 0.5);
    }
  }
}
