$vp-min-width: 320px;
$vp-max-width: 1200px;

%box-padding {
  padding: 4vh var(--box-padding);
}

.box {
  background: $c-bg-high;
  @extend %box-shadow;

  @include fluid-size('--box-padding', 20px, 60px);

  &-pad {
    @extend %box-padding;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %box-padding;
    &__title {
      margin: 0;
    }
  }

  &:not(.box-pad) > h1 {
    @extend %box-padding;
    margin: 0;
  }
}

@include breakpoint($mq-main-margin) {
  .box {
    @include box-radius;
  }
}
