$vp-min-width: 320px;
$vp-max-width: 1200px;

.box {
  background: $c-background-clear;
  @extend %box-shadow;

  &-pad {
    @include fluid-size('--box-padding', 20px, 50px);
    padding: 4vh var(--box-padding);
  }
}

@include breakpoint($mq-main-margin) {
  main.box {
    @include box-radius;
  }
}
