$vp-min-width: 320px;
$vp-max-width: 1200px;

.box {
  @extend %box-shadow;
  background: $c-bg-box;
  min-height: 100%;

  @include fluid-size('--box-padding', 20px, 60px);

  &-pad {
    @extend %box-padding;
  }

  &__top {
    @extend %flex-between, %box-padding;
    & h1 {
      margin: 0;
    }
  }

  &:not(.box-pad) > h1 {
    @extend %box-padding;
    margin: 0;
  }

  &__pad {
    @extend %box-padding-horiz;
  }
}

@include breakpoint($mq-main-margin) {
  .box {
    @include box-radius;
  }
}
