%button-shadow {
  box-shadow: 0 2px 5px 0 hsla(0, 0, 0%, 0.225);
}
.button {
  &,
  &:visited {
    @extend %roboto, %button-shadow;
    font-size: 1.5rem;
    background: $c-primary;
    color: $c-primary-over;
    text-transform: uppercase;
    padding: .6em 1em;
    border: none;
    border-radius: 5px;
    transition: all .3s ease-out;
    cursor: pointer;
  }
  &:hover {
    @extend %button-shadow;
    background: mix(white, $c-primary, 15);
  }
  &[disabled] {
    cursor: default;
    background: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 62%);
    box-shadow: none;
  }
  &.metal {
    @extend %metal-clear;
    color: $c-primary;
    &:hover {
      @extend %metal;
    }
  }
  &.thin {
    padding: 0 1em;
  }
}
