%button-shadow {
  box-shadow: 0 2px 5px 0 hsla(0, 0, 0%, 0.225);
}
%button-raised-shadow {
  box-shadow: 0 4px 10px 0px hsla(0, 0, 0, 0.225);
}
.button {
  @extend %roboto-fat, %button-shadow, %box-radius;
  background: $c-primary;
  text-transform: uppercase;
  padding: .7em 1em;
  border: none;
  cursor: pointer;
  transition: all .3s ease-out;
  white-space: nowrap;
  &,
  &:visited {
    color: $c-primary-over;
  }
  &:hover:not(.disabled) {
    @extend %button-raised-shadow;
    color: $c-primary-over;
    background: lighten($c-primary, 7);
  }
  &[disabled] {
    cursor: default;
    background: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 62%);
    box-shadow: none;
  }
  &-no-upper {
    text-transform: none;
  }
  &-thin {
    padding: .1em 1em;
    font-size: 90%;
  }
  &-fat {
    font-size: 1.6rem;
  }
  &-green {
    background: $c-secondary;
    &:hover:not(.disabled) {
      background: lighten($c-secondary, 4);
    }
  }
  &-red {
    background: $c-error;
    &:hover:not(.disabled) {
      background: lighten($c-error, 11);
    }
  }
  &.button-metal {
    @extend %metal;
    color: $c-font;
    &:hover:not(.disabled) {
      @extend %metal-hover;
    }
  }
  &.active {
    @extend %active;
  }
  &.button-empty {
    color: $c-primary;
    background: none;
    box-shadow: none;
    &,
    &.button-green,
    &.button-red {
      &:hover:not(.disabled) {
        @extend %button-shadow, %metal;
      }
    }
    &.button-red {
      color: $c-error;
    }
    &.button-green {
      color: $c-secondary;
    }
  }
  &.disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}
