%button-shadow {
  box-shadow: 0 2px 5px 0 hsla(0, 0, 0%, 0.225);
}
%button-raised-shadow {
  box-shadow: 0 4px 10px 0px hsla(0, 0, 0, 0.225);
}
.button {
  &,
  &:visited {
    @extend %roboto-fat, %button-shadow, %box-radius;
    background: $c-primary;
    color: $c-primary-over;
    text-transform: uppercase;
    padding: .6em 1em;
    border: none;
    cursor: pointer;
    transition: all .3s ease-out;
    white-space: nowrap;
  }
  &:hover {
    @extend %button-raised-shadow;
    color: $c-primary-over;
    background: mix($c-bg-box, $c-primary, 20);
  }
  &[disabled] {
    cursor: default;
    background: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 62%);
    box-shadow: none;
  }
  &-no-upper {
    text-transform: none;
  }
  &-thin {
    padding: 0 1em;
  }
  &-fat {
    font-size: 1.6rem;
  }
  &-green {
    background: $c-secondary;
    &:hover {
      background: mix($c-bg-box, $c-secondary, 20);
    }
  }
  &-red {
    background: $c-error;
    &:hover {
      background: mix($c-bg-box, $c-error, 20);
    }
  }
  &-empty,
  &-empty:visited {
    color: $c-primary;
    background: none;
    box-shadow: none;
    &:hover {
      @extend %button-shadow;
      color: $c-primary;
      background: $c-bg-page;
    }
    &.button-red {
      color: $c-error;
    }
    &.button-green {
      color: $c-secondary;
    }
  }
}
.button.button-metal {
  @extend %metal;
  color: $c-primary;
  &:hover {
    @extend %metal-hover;
  }
}
.button.active {
  @extend %active;
  &:hover {
    @extend %active;
    // @extend %active-hover;
  }
}
