.form3 .captcha {
  margin-top: 2em;
  display: flex;
  flex-flow: row wrap;
  @include breakpoint($mq-xx-small) {
    flex-wrap: nowrap;
  }
  &.is-invalid:not(.success) {
    @extend %box-radius;
    border: 1px solid $c-error;
    background: mix($c-error, $c-bg-high, 10%);
  }
  & .mini_board {
    flex: 0 0 calc(224px + 2rem);
  }
  & .captcha-explanation {
    flex: 1 1 auto;
    overflow: hidden;
  }
  &.is-invalid .captcha-explanation {
    padding: 1em;
  }
  & .captcha-explanation .result {
    display: none;
    margin-top: 1rem;
    font-weight: bold;
  }
  & .success {
    color: $c-good;
  }
  & .failure {
    color: $c-error;
  }
  &.success .success,
  &.failure .failure {
    display: block;
  }
}
