@use '../theme/gen/theme';

.color-icon {
  text-transform: unset;

  &::before {
    font-family: lishogi;
  }

  &.sente::before {
    content: theme.$sente-symbol;
  }

  &.gote::before {
    content: theme.$gote-symbol;
  }

  &.random::before {
    content: 'l';
  }
}
