.color-icon {
  @if $theme-light {
    &.white::before {
      font-family: monospace;
      content: "\2617\fe0e";
    }
    &.black::before {
      font-family: monospace;
      content: "\2616\fe0e";
    }
  } @else {
    &.white::before {
      font-family: monospace;
      content: "\2616\fe0e";
    }
    &.black::before {
      font-family: monospace;
      content: "\2617\fe0e";
    }
  }
  &.random::before {
    content: "l";
  }
}
