.context-streamers {
  max-height: 20vh;
  overflow-y: auto;
}

.context-streamer {
  @extend %nowrap-hidden, %box-radius-bottom, %box-shadow, %flex-center-nowrap;

  height: 2em;
  padding-inline-start: 0.2em;
  background: $c-bg-box;
  color: $c-font-dim;
  strong {
    color: $c-brag;
    font-weight: normal;
    padding-inline-end: 0.7ch;
  }

  @include transition;

  &::before {
    font-size: 1.3em;
    color: $c-brag;
  }

  &:hover {
    color: $c-brag;
  }
}
