.copy-me {
  @extend %box-radius, %flex-center-nowrap;
  border: $border;
}
.copy-me__target {
  @extend %ellipsis;
  flex: 1 1 auto;
  white-space: nowrap;
  border-radius: 0;
  padding: 0.8em 1em;
  border: 0;
  outline: 0;
  background: none;
}
.copy-me__button {
  flex: 0 0 auto;
  border-radius: 0;
}
