@use '../abstract/mixins';
@use '../abstract/extends';
@use '../theme/gen/theme';

.fbt {
  @extend %button-none;

  text-transform: uppercase;
  line-height: 1.5;

  @include mixins.transition;

  @media (hover: hover) {
    &:hover:not(.disabled):not([disabled]) {
      background: theme.$m-secondary_bg-box_mix_75;
      color: #fff;
    }
  }

  &.active {
    background: theme.$c-secondary !important;
    color: #fff;
  }

  &.disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}
