.flash {
  @extend %flex-center-nowrap, %box-radius;
  margin: 1em 0 2em 0;
  padding: 1em 2em;
  background: $c-good;
  color: $c-good-over;

  &::before {
    @extend %data-icon;

    content: $licon-Checkmark;
    @include margin-inline-end(1em);
    font-size: 1.5em;
  }

  &__content {
    a {
      color: $c-good-over;
      unicode-bidi: plaintext;
    }
  }

  &-warning {
    background: $c-warn;
    color: $c-warn-over;

    &::before {
      content: $licon-InfoCircle;
    }
  }

  &-failure {
    background: $c-bad;
    color: $c-bad-over;

    &::before {
      content: $licon-CautionCircle;
    }
  }
}
