sg-hand-wrap {
  position: relative;
  width: calc(100% / 9 * 7);
  height: 100%;
  &.hand-top {
    grid-area: sg-hand-top;
  }
  &.hand-bottom {
    grid-area: sg-hand-bottom;
    justify-self: end;
    align-self: end;
  }
  &.r-5 {
    width: 100%;
    sg-hand sg-hp-wrap piece {
      flex: 1 0 20%;
    }
  }
  &.r-4 {
    width: calc(100% / 5 * 4);
    sg-hand sg-hp-wrap piece {
      flex: 1 0 25%;
    }
  }
  &.r-0 {
    display: none;
  }
}

.main-board sg-hand-wrap {
  @include breakpoint($mq-col2-uniboard) {
    padding-bottom: unset;
    width: 100%;
    height: calc(100% / 9 * 7);
    sg-hand {
      flex-direction: column-reverse;
      sg-hp-wrap {
        width: 100%;
      }
    }
    &.hand-bottom {
      sg-hand {
        flex-direction: column;
      }
    }
    &.r-5 {
      height: calc(100%);
    }
    &.r-4 {
      height: calc(100% / 5 * 4);
      width: 100%;
    }
  }
}

.mini-board sg-hand-wrap {
  sg-hand {
    sg-hp-wrap {
      &::after {
        right: 0;
        font-size: 1em;
        padding: 2px;
      }
    }
  }
}
