$c-bg: $c-bg-box;
$c-accent: $c-good;

.lpv {
  @extend %box-neat-force;
  background: $c-bg;

  &--replay,
  &--menu {
  }
  &--replay {
    display: grid;
    overflow: hidden;
    grid-template-areas:
      'board      moves'
      'controls   moves';
    grid-template-columns: auto fit-content(24ch);
    grid-template-rows: auto 3rem;
    grid-row-gap: 0;
    .cg-wrap {
      @extend %square;
    }
    cg-board {
      box-shadow: none;
    }
  }

  &__board {
    grid-area: board;
  }

  &__moves {
    grid-area: moves;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    overflow-y: auto;
    align-content: flex-start;
    will-change: scroll-position;
    user-select: none;
    line-height: 1.7;
    font-size: 1.1em;
    index {
      flex: 0 0 16.666%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: #302e2c;
    }
    move {
      flex: 0 0 41.666%;
      padding-left: 0.7em;
      cursor: pointer;
    }
  }

  &__controls {
    grid-area: controls;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;

    .lpv__fbt {
      flex: 1 1 auto;
      padding: 0.4em 0.7em;
      border-left: 1px solid $c-border;
      &:first-child {
        border: none;
      }
    }

    &__menu.lpv__fbt {
      flex: 0 1 auto;
      padding: 0.4em 1em;
    }
    &__backward::before {
      content: '←';
    }
    &__forward::before {
      content: '→';
    }
    &__backward,
    &__forward {
      padding: 0.4rem 0.7rem;
      &::before {
        font-size: 3em;
        line-height: 0.5em;
      }
    }
  }

  &__menu {
    outline: 2px solid $c-accent;
    background: mix($c-accent, $c-bg, 15%);
    &__inner {
      display: flex;
      flex-flow: column;
      padding-top: 2em;
    }
    &__entry.lpv__fbt {
      text-align: left;
      padding: 0.8em 2.5em;
      transition: none;
      &::before {
        color: $c-accent;
        font-size: 2em;
      }
      &:hover::before {
        color: $c-accent-over;
      }
    }
  }

  &__fbt {
    background: none;
    border: none;
    outline: none;
    color: $c-font;
    align-items: normal;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.5;
    text-decoration: none;

    @media (hover: hover) {
      &:hover:not(.disabled):not([disabled]) {
        background: mix($c-accent, $c-bg, 75%);
        color: #fff;
      }
    }

    &.active {
      background: $c-accent !important;
      color: #fff;
    }

    &.disabled,
    &[disabled] {
      opacity: 0.4;
      cursor: default;
    }
  }
}
