$lpv-site-hue: 37;
$lpv-bg: $c-bg-zebra;
$lpv-bg-controls: $lpv-bg;
$lpv-bg-movelist: $lpv-bg;
$lpv-bg-variation: hsl($c-site-hue, 5%, 15%) !default;
$lpv-bg-pane: hsla(0, 0%, 0%, 0.9);
$lpv-accent: $c-primary;
$lpv-accent-over: $c-primary-over;
$lpv-font-accent: mix($lpv-bg, hsl(0, 0%, 65%), 20%);
$lpv-font-shy: $c-font-dim;

@import '../../../../node_modules/lichess-pgn-viewer/scss/lichess-pgn-viewer.lib';

.lpv {
  @extend %box-neat-force;
}
