/* lishogi loader */
@keyframes spinner-dash {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 161;
  }
  100% {
    stroke-dashoffset: 322;
  }
}
.spinner {
  width: 64px;
  height: 80px;
  margin: auto;
  path {
    stroke-linecap: round;
    stroke-dasharray: 161;
    stroke-dashoffset: 0;
    stroke: $c-font;
    animation: spinner-dash 2.5s ease-in-out infinite;
  }
}

/* small horizontal loader */
@keyframes ddloader {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.ddloader {
  @if $theme-light {
    background: img-url('loader/blackx1.png') no-repeat;
  } @else {
    background: img-url('loader/whitex1.png') no-repeat;
  }
  animation: ddloader 0.5s steps(15) infinite;
  vertical-align: middle;
  display: inline-block;
  width: 32px;
  height: 8px;
}
