@use 'breakpoint-sass/stylesheets/breakpoint';
@use '../abstract/extends';
@use '../abstract/media-queries';
@use '../abstract/variables';
@use '../theme/gen/theme';

#modal {
  &-overlay {
    @extend %fullscreen-mask, %flex-center;

    justify-content: center;
  }

  &-wrap {
    @extend %box-radius, %popup-shadow, %flex-column;

    background: theme.$c-bg-box;
    border: theme.$border;
    position: relative;
    padding: 2rem;
    text-align: center;
    max-width: 100vw;
    max-height: 96vh;

    > div {
      overflow: auto;
    }

    .close {
      color: theme.$c-font;
      position: absolute;
      font-size: 16px;
      line-height: 28px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      top: 0;
      right: 0;
      background: none;

      @include breakpoint.breakpoint(media-queries.$mq-small) {
        top: -12px;
        right: -12px;
        background: theme.$c-bg-popup;
        border-radius: 50%;
      }
    }

    .close:hover {
      @extend %box-shadow;

      background: theme.$c-bad;
      color: #fff;
    }
  }
}
