.pagination {
  color: var(--c-font-dimmer);
  display: flex;

  a,
  span {
    width: 2rem;
    height: 2rem;

    @extend %box-radius;

    margin: 0 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: var(--c-font-dimmer);
  }

  a:hover {
    background: var(--c-primary-faded-90);
  }

  .current {
    background: var(--c-primary);
    color: var(--c-primary-over);
  }
}
