#powerTip,
#miniGame {
  width: 256px;
  min-height: 3em;
  cursor: default;
  background-color: $c-bg-power-tip;
  border: $border;
  display: none;
  position: absolute;
  z-index: 900000;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.25), 0 0.5px 8px rgba(0, 0, 0, 0.15);
}
#miniGame {
  min-height: 262px;
}
#powerTip signal {
  float: right;
  margin-right: 2px;
}
#powerTip > .title {
  height: 62px;
  padding: 5px 3px;
  border-bottom: $border;
}
#powerTip > .title a.user_link {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
#powerTip a.mini_board {
  border-width: 0 0 1px 0;
}
#powerTip .mod_info_box {
  position: relative;
  padding: 5px;
  background: #888;
  color: #eee;
  white-space: nowrap;
}
#powerTip .mod_marks {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  background: $c-bad;
}
#powerTip .mod_marks i {
  padding: 0px;
}
#powerTip .country {
  float: right;
  font-size: 0.9em;
  padding-right: 3px;
}
#powerTip .ratings {
  text-align: center;
  margin-top: 3px;
}
#powerTip .ratings > span {
  padding: 2px 3px;
  width: 20%;
  text-align: left;
}
#powerTip > .actions {
  width: 100%;
  display: flex;
}
#powerTip > .actions a {
  flex: 0 0 auto;
  margin: 0;
  border-radius: 0;
  font-size: 0.9em;
  letter-spacing: -1px;
  text-align: center;
  padding: 0 12px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border-width: 0 1px 0 0;
}
#powerTip > .actions a.relation {
  flex: 1 1 100%;
  border-right: 0;
}
#powerTip > .actions i {
  font-style: normal;
}
#powerTip > .actions i::before {
  font-size: 1.5em;
}
#powerTip .confirm {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
#powerTip > .game_legend {
  text-align: center;
  border-bottom: $border;
  padding: 3px 0;
}
#powerTip > .score {
  display: block;
  font-size: 1.1em;
  text-align: center;
  border-top: $border;
  padding: 3px 0;
}
#powerTip > .info .title {
  display: block;
  padding: 10px 15px;
  border-bottom: $border;
  text-align: center;
  text-transform: uppercase;
}
#powerTip > .info .content {
  display: block;
  padding: 15px 15px;
}
#powerTip .spinner {
  margin: 20px auto;
}
#miniGame .spinner {
  margin: 82px auto 0 auto;
}
