#powerTip,
#miniGame {
  @extend %box-radius-force, %popup-shadow;
  width: 19em;
  min-height: 3em;
  background: $c-bg-popup;
  display: none;
  position: absolute;
  z-index: z('powertip');
}
#powerTip {
  .mini-board {
    border-width: 0 0 1px 0;
  }
}
.upt {
  &__info {
    @extend %flex-column;
    height: 83px;
    padding: 4px 5px 4px 2px;
    border-bottom: $border;
    &__top {
      @extend %flex-between;
      .user-link {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__country {
        @extend %flex-center;
        font-size: .9em;
        img {
          margin-right: .3em;
        }
      }
    }
    &__ratings {
      @extend %flex-between;
      margin-top: 3px;
      > span {
        flex: 0 0 25%;
        padding: 2px 3px;
        text-align: left;
      }
    }
  }
  &__score {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    border-top: $border;
  }
  &__actions.btn-rack {
    width: 100%;
    justify-content: stretch;
    border: 0;
    border-radius: 0;
    a {
      flex: 0 0 18%;
      &.relation-button {
        flex: 1 1 auto;
      }
    }
  }
  &__mod {
    @extend %flex-between;
    border-top: $border;
    white-space: nowrap;
    &__marks {
      padding: 3px 5px;
      background: $c-bad;
      color: #fff;
    }
    span {
      padding: .2em .5em;
      margin: 0;
    }
  }
  .confirm {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  > .game_legend {
    text-align: center;
    border-bottom: $border;
    padding: 3px 0;
  }
  .spinner {
    margin: 20px auto;
  }
}
#miniGame {
  min-height: 262px;
  .spinner {
    margin: 82px auto 0 auto;
  }
  .cg-board {
    border-radius: 0;
  }
}
