@use '../abstract/mixins';
@use '../abstract/variables';
@use '../theme/gen/theme';

.pull-quote {
  margin: 0 auto;

  p {
    color: theme.$c-font;
    position: relative;
    margin: 0 0.7em;
    padding: 1em 0;
    border: theme.$border;
    border-width: 1px 0;
    font-style: italic;
    font-size: 1.1rem;

    &::after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 42px;
      width: 15px;
      height: 15px;
      background: theme.$c-bg-box;
      border-bottom: theme.$border;
      border-left: 2px solid theme.$c-border;
      transform: skew(45deg) rotate(-45deg);

      @include mixins.theme-wrap('transp') {
        display: none;
      }
    }
  }

  &.long p {
    font-size: 1rem;
  }

  footer {
    margin: 10px;
    line-height: 20px;
    text-align: right;

    &::before {
      content: '\2014\2009';
    }
  }
}
