.subnav {

  @include breakpoint($mq-subnav-top) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));
    grid-gap: 3px;

    background: $c-bg-page;

    & a {
      @include box-neat;
      color: $c-font;
      white-space: nowrap;
      overflow: hidden;
      padding: 0.6rem 0.4rem 0.6rem 0.8rem;
      display: flex;
      align-items: center;
      background: $c-bg-high;
      &:hover {
        color: $c-link;
      }
      &.active {
        background: $c-primary;
        color: $c-primary-over;
        font-weight: bold;
      }
    }
  }

  @include breakpoint($mq-subnav-side) {
    & a {
      display: block;
      color: $c-font-dim;
      padding: .7rem 2vw .7rem .8rem;
      border-bottom: $border;
      transition: 0.13s;
      &:hover {
        color: $c-link;
        // border-bottom: 1px solid $c-link;
        background: mix($c-bg-high, $c-bg-page, 25%);
      }
      &.active {
        color: $c-font;
        border-radius: $box-radius-size 0 0 $box-radius-size;
        border-left: $border;
        background: $c-bg-high;
        font-weight: bold;
      }
    }
  }
}
