@use 'breakpoint-sass/stylesheets/breakpoint';
@use '../abstract/extends';
@use '../abstract/media-queries';
@use '../abstract/mixins';
@use '../abstract/z-index' as z;
@use '../theme/gen/theme';

.subnav {
  a {
    @extend %nowrap-hidden, %page-text;
  }

  @include breakpoint.breakpoint(media-queries.$mq-subnav-top) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17ch, 1fr));
    grid-gap: 3px;
    margin-bottom: 3px;
    background: theme.$c-bg-page;

    a {
      @include mixins.box-neat;

      font-family: Roboto;
      display: flex;
      align-items: center;
      color: theme.$c-font;
      padding: 0.6rem 0 0.6rem 0.5rem;
      letter-spacing: -0.06em;
      background: theme.$c-bg-high;

      &:hover {
        color: theme.$c-link;
      }

      &.active {
        background: theme.$c-primary;
        color: theme.$c-primary-over;
      }
    }

    .sep {
      display: none;
    }
  }

  @include breakpoint.breakpoint(media-queries.$mq-subnav-side) {
    margin-top: 5px;
    z-index: z.get('subnav-side'); /* active border must go over the page content */
    a {
      display: block;
      color: theme.$c-font-page;
      padding: 0.7rem 2vw 0.7rem 0.8rem;
      position: relative;

      @include mixins.transition;

      &::after {
        content: '';
        background: theme.$m-accent_alpha_neg40;
        width: 3px;
        position: absolute;
        height: 98%;
        top: 1%;
        right: -1px;

        @include mixins.transition(all, 0.25s);

        transform: scale(0);
      }

      &.active,
      &:hover {
        &::after {
          transform: scale(1);
        }
      }

      &.active {
        color: theme.$c-accent;
      }
    }

    .sep {
      height: 2em;
    }
  }
}
