table.slist {
  width: 100%;
  border-bottom: $border;
  border-spacing: 0;
  & thead {
    @extend %metal, %roboto;
    & th {
      text-align: left;
      font-weight: normal;
      border-top: $border;
      border-bottom: $border;
      padding: 0.4rem 0.6rem;
    }
    & th.large {
      font-size: 1.2rem;
    }
  }
  & td {
    padding: 0.6rem;
    & .label {
      font-family: monospace;
      font-size: 0.8rem;
    }
  }
  & tbody tr:nth-child(even) {
    background: c-dimmer($c-background, 60%);
  }
  & td:first-child,
  & th:first-child {
    padding-left: 1.5rem;
  }
}
