.user_link {
  color: $c-font;
  white-space: nowrap;
  &:hover {
    color: $c-link;
  }
  & .line {
    @extend %data-icon;
    color: $c-font;
    opacity: 0.4;
    display: inline-block;
    width: 1.5em;
    text-align: center;
    &.patron {
      opacity: 0.8;
    }
    &::before {
      content: '';
    }
    &.patron::before {
      content: '';
    }
    &.moderator::before {
      content: '';
    }
  }
  &.online .line {
    color: $c-good;
    opacity: 0.8;
    &.patron {
      opacity: 1;
    }
  }
  & .title {
    color: $c-brag;
    font-weight: bold;
    &[data-bot] {
      color: $c-bot;
    }
  }
  & .rp:before {
    content: ' ';
  }
  & .rp.up {
    color: $c-good;
  }
  & .rp.down {
    color: $c-bad;
  }
}
