.vstext {
  @extend %flex-between-nowrap, %nowrap-hidden, %box-radius-bottom;
  border-radius: 0px 3px;
  padding: 0.3em 0.6em;
  color: $c-font;
  &__center {
    text-align: center;
  }
  &__pl,
  &__op {
    @extend %ellipsis;
    width: 40%;
    max-width: 45%;
  }
  &__pl {
    text-align: left;
  }
  &__op {
    text-align: right;
  }
  &__clock {
    text-align: center;
    width: 20%;
  }
}
