@use '../abstract/variables';
@use '../abstract/z-index' as z;

#zentog {
  position: absolute;
  padding: 0.5em 1em;
  opacity: 0.5;
  z-index: z.get('zen-toggle');
  display: none;
  border-bottom-right-radius: variables.$box-radius-size;

  body.playing.zen & {
    display: block;
  }

  &:hover {
    opacity: 1;
  }
}
