$bot-colors: (
  terrence: hsl(104, 83.5%, 42.7%),
  tal-e: hsl(4, 80.1%, 43.2%),
  professor: hsl(268, 81.9%, 58.8%),
  howard: hsl(31, 95.9%, 52.7%),
  lila: hsl(222, 80.9%, 41%),
  centipawn: hsl(198, 89.4%, 56.6%),
);

@each $id, $color in $bot-colors {
  .bot-color--#{$id} {
    --bot-color: #{$color};
  }
}
