.swiss__main__header {
  @extend %flex-center-nowrap;

  position: relative;
  min-height: 7em;
  padding: 0 #{$block-gap * 1.5};

  h1 {
    font-size: 2.2rem;
    flex: 9 1 auto;
    margin: 0;
    overflow: hidden;

    a {
      /* GM wikipedia */
      color: mix($c-link, $c-font, 35%);

      &:hover {
        color: $c-link;
      }
    }
  }

  img {
    flex: 0 0 60px;
    display: block;
    width: 60px;
    height: 60px;
    padding: 6px;
  }

  .img {
    margin-right: 1rem;
  }

  i::before {
    font-size: 2.2rem;
  }

  .clock {
    flex: 0 0 auto;
    font-weight: bold;
    color: $c-font-dim;

    &-created {
      @extend %flex-column;

      text-align: right;
    }
  }

  .ongoing {
    @extend %flex-center-nowrap;

    flex: 0 0 auto;
    font-weight: bold;
    color: $c-font-dim;

    .shy {
      white-space: normal;
    }

    .nb {
      @extend %roboto;

      color: $c-brag;
      flex: 1 1 100%;
      text-align: right;
      font-size: 2.8em;
      margin-right: 0.5em;
    }
  }

  .swiss__main-finished & h1 {
    text-align: center;
  }

  .time {
    @extend %roboto;

    color: $c-brag;
    font-size: 1.7em;
    margin-left: 0.2em;
  }

  .shy {
    line-height: 20px;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
    white-space: nowrap;
  }
}
