.fide-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1em;
  font-size: 1.5em;
  @media (min-width: at-least($x-small)) {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    font-size: 1.8em;
  }
}
.fide-card {
  @extend %box-neat, %flex-column;
  gap: 1em;
  background: $c-bg-zebra;
  padding: 1.5em 1em;
  em {
    @extend %roboto;
    text-transform: uppercase;
    color: $c-font-dim;
  }
}
