@(u: User, cache: lila.insight.UserCache, prefId: Int, ui: play.api.libs.json.JsObject, question: play.api.libs.json.JsObject, stale: Boolean)(implicit ctx: Context)

@moreJs = {
@highchartsLatestTag
@jsAt("vendor/multiple-select/multiple-select.js")
@jsAt(s"compiled/lichess.insight${isProd??(".min")}.js")
@jsTag("insight-refresh.js")
@jsTag("insight-tour.js")
@embedJs {
$(function() {
lichess = lichess || {};
lichess.insight = LichessInsight(document.getElementById('insight'), {
ui: @Html(toJson(ui)),
initialQuestion: @Html(toJson(question)),
i18n: {},
myUserId: @jsUserId,
user: {
id: "@u.id",
name: "@u.username",
nbGames: @cache.count,
stale: @stale,
shareId: @prefId
},
pageUrl: "@routes.Insight.index(u.username)",
postUrl: "@routes.Insight.json(u.username)"
});
});
}
}

@moreCss = {
@cssTag("insight.css")
@cssVendorTag("multiple-select/multiple-select.css")
@ctx.currentBg match {
case "dark" => { @cssTag("insight.dark.css") }
case "transp" => { @cssTag("insight.dark.css")@cssTag("insight.transp.css") }
case _ => {}
}
}

@insight.layout(u,
title = s"${u.username}'s chess insights",
moreJs = moreJs,
moreCss = moreCss) {
<div id="insight"></div>
@if(stale) {
<div class="insight-stale none">
  <p>There are new games to learn from!</p>
  @refreshForm(u, "Update insights")
</div>
}
}
