@(u: User, cache: lila.insight.UserCache, prefId: Int, ui: play.api.libs.json.JsObject, question: play.api.libs.json.JsObject, stale: Boolean)(implicit ctx: Context)

@moreJs = {
@highchartsLatestTag
@jsAt("vendor/multiple-select/multiple-select.js")
@jsAt(s"compiled/lichess.insight${isProd??(".min")}.js")
@jsTag("insight-refresh.js")
@jsTag("insight-tour.js")
@embedJs {
$(function() {
lichess = lichess || {};
lichess.insight = LichessInsight(document.getElementById('insight'), {
ui: @toJsonHtml(ui),
initialQuestion: @toJsonHtml(question),
i18n: {},
myUserId: @jsUserId,
user: {
id: "@u.id",
name: "@u.username",
nbGames: @cache.count,
stale: @stale,
shareId: @prefId
},
pageUrl: "@routes.Insight.index(u.username)",
postUrl: "@routes.Insight.json(u.username)"
});
});
}
}

@base.layout(
title = s"${u.username}'s chess insights",
moreJs = moreJs,
moreCss = responsiveCssTag("insight"),
responsive = true) {
<main id="insight"></main>
@if(stale) {
<div class="insight-stale none">
  <p>There are new games to learn from!</p>
  @refreshForm(u, "Update insights")
</div>
}
}.toHtml
