#promotion-choice {
  background: fade-out($c-bg-page, 0.3);
  z-index: z('cg__promotion');

  position: absolute;
  width: var(--cg-width, 100%);
  height: var(--cg-height, 100%);
  right: 0;

  square {
    cursor: pointer;
    border-radius: 50%;
    background-color: #b0b0b0;
    box-shadow: inset 0 0 25px 3px #808080;

    @include transition;
  }

  piece {
    pointer-events: auto;
    opacity: 1;

    /* cancels blindfold */
  }

  .is2d & piece {
    width: 100%;
    height: 100%;

    @include transition;

    transform: scale(0.8);
  }

  square:hover {
    box-shadow: inset 0 0 48px 8px $c-accent;
    border-radius: 0%;
  }

  .is2d & square:hover piece {
    transform: none;
  }
}
