.variant-racingKings .cg-wrap {
  &.cg-wrap cg-container::before {
    @extend %popup-shadow;

    background: hsla(0, 0%, 90%, 0.2);
    width: 100%;
    height: 12.5%;
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  &.orientation-white cg-container::before {
    top: 0;
  }

  &.orientation-black cg-container::before {
    bottom: 0;
  }
}

.variant-kingOfTheHill cg-container::before {
  width: 25%;
  height: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background: hsla(0, 0%, 90%, 0.2);
  content: '';
  position: absolute;
  top: 37.5%;
  left: 37.5%;
  z-index: 1;
  pointer-events: none;
}
