.bot-play-app {
  @media (min-width: at-least($x-large)) {
    width: 1200px;
  }
}
.bpa__setup__bots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
  margin-bottom: 1em;

  &--tier-best {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    @media (max-width: at-most($xx-small)) {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
  }
  &--tier-high {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.bpa__bot-card {
  @extend %box-neat, %flex-column;

  @include transition(box-shadow);

  background: $c-bg-box;
  margin-top: 20%;
  cursor: pointer;

  &:hover {
    box-shadow:
      0 0 5px $c-link,
      0 0 20px $c-link;
  }

  &__image {
    aspect-ratio: 1;
    width: 100%;
    opacity: 0.9;
    margin-top: -20%;
    line-height: 0;
    @include transition(opacity);
    .bpa__bot-card:hover & {
      opacity: 1;
    }
  }

  &__content {
    @extend %box-radius-bottom;
    flex: 1;
    background: $c-bg-zebra;
    padding: 0em 0.6em 0 0.8em;
  }

  &__name {
    @include line-clamp(2);
    margin: 0.3em 0;
    font-weight: normal;
    color: $c-font-clearer;
    font-size: 1.6em;
    text-align: center;
  }
}
