.test-side {
  display: flex;
  height: 100%;
  flex-flow: column;
  justify-content: stretch;
  .puz-bot {
    @extend %flex-between;
    padding: 8px;
    border: 1px solid $c-primary;
    align-content: center;
    width: 360px;
    font-size: 1em;
    &.white {
      background-color: white;
      color: #333;
    }
    &.black {
      background-color: black;
      color: white;
    }
    .select-bot {
      width: 60%;
    }
    .totals {
      font-size: large;
      text-align: center;
    }
  }
  .spacer {
    flex: 1 1 auto;
  }
  .starting-fen {
    &::placeholder {
      font-family: monospace;
      color: #888;
    }
    width: 100%;
  }
  #controls {
    @extend %flex-column;
    row-gap: 1em;
  }
  #pgn {
    flex: 1 1 auto;
  }
  #num-games {
    width: 120px;
  }
  span {
    @extend %flex-between;
    flex-wrap: nowrap;
    * {
      margin: 0 15px;
    }
  }
  #results {
    flex: auto;
  }
  #clear {
    flex: auto;
  }
  #go {
    flex: auto;
  }
}
