@mixin if-constrained($max: 500px) {
  @media (orientation: portrait) and (max-width: $max), (orientation: landscape) and (max-height: $max) {
    @content;
  }
}

:root {
  ---scale-factor: 1;
  @include if-constrained(400px) {
    ---scale-factor: 0.5;
  }
  @include if-constrained() {
    ---scale-factor: 0.7;
  }
}
