@mixin if-constrained($max: 500px) {
  @media (orientation: portrait) and (max-width: $max), (orientation: landscape) and (max-height: $max) {
    @content;
  }
}

@mixin above-cards {
  width: 100%;
  height: calc(100% - (32px + 192px * var(---scale-factor))); // leave room for cards at bottom
  gap: 1em;
}
