dialog .dialog-content {
  padding: 0;

  @media (orientation: landscape) {
    height: min-content;
    max-height: unset;
    max-width: min(1600px, 90vw);
    .edit-bot {
      height: calc(min(33vh, 25vw) + 80px + $card-height + $chin-height);
      .player {
        max-width: 25vw;
      }
    }
  }
}
.edit-bot {
  @extend %flex-column, %box-radius-bottom;
  //@include above-cards;
  //width: 100%;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: min(33vh, 25vw) 1fr;
  grid-template-areas: 'a b c' 'd e e';
  gap: 1em;

  .player {
    grid-area: a;
    aspect-ratio: 1/1;
  }
  .settings {
    grid-area: b;
    border: 1px solid $c-border;
    padding: 1em;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1em;
    padding: 1em;
    overflow: auto;
  }
  .name {
    grid-area: d;
    height: 100%;
  }
  .description {
    grid-area: e;
    textarea {
      white-space: pre-wrap;
      width: 95%;
      resize: none;
    }
  }
  .fish {
    //break-inside: avoid;
  }
  .zero {
    //break-inside: avoid;
  }
  fieldset {
    border: 1px solid $c-border;
    border-radius: 5px;
    padding: 1em 0;
    legend {
      font-weight: bold;
    }
  }
  .setting {
    padding: 0 1em;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: center;
    > label {
      max-width: 30%;
      flex: 0 0 initial;
    }
    input[data-type] {
      flex: auto;
    }
    &.hasPanel {
      &.selected {
        background-color: $m-bg_primary--mix-60;
      }
      &:hover {
        background-color: $m-bg_primary--mix-80;
      }
    }
    &.disabled {
      > input[data-type],
      > label {
        opacity: 0.5;
      }
    }
  }
  .edit-panel {
    position: relative;
    min-width: 0; // chart.js hack
    grid-area: c;
    border-radius: 10px;
    cursor: pointer;
    background-color: beige;
  }
  /*.setting {
    @extend %flex-nowrap;

    * {
      white-space: nowrap;
    }
    label {
      flex: 4 1 auto;
      cursor: pointer;
    }

    .switch + label {
      margin-inline-start: 1ch;
    }

    input[type='range'] {
      cursor: pointer;
      flex: 1 4 auto;
      padding: 0;
      height: 1.6em;
      width: 100%;
      margin: 0 1ch;
    }

    select {
      flex: 1 4 auto;
      min-width: 0;
      margin-inline-start: 1ch;
      padding: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }*/
}
.chin {
  padding: 0.5em;
  display: flex;
  justify-content: center;
}
