#image-powertip {
  @extend %box-radius-force, %popup-shadow;
  width: 192px;
  height: 192px;
  display: none;
  position: absolute;
  z-index: $z-powertip-120;
}

.edit-view {
  height: 90vh;
  max-width: min(1600px, 96vw);
  padding-bottom: 0;
  background-color: $c-bg-zebra;

  button {
    padding: 0.8em 0.8em;
  }
  textarea {
    white-space: pre-wrap;
    width: 100%;
    resize: none;
  }
  hr {
    margin: 0;
    flex: auto;
  }
  label {
    @extend %flex-center-nowrap;
    flex: initial;
    gap: 12px;
  }
  canvas {
    min-height: 300px;
  }
  fieldset {
    @extend %flex-column;
    align-items: stretch;
    border: 1px solid $c-border;
    border-radius: $box-radius-size;
    padding: 0.75em 0 1em;
    row-gap: 0.5em;
    > div {
      @extend %flex-column;
      align-items: stretch;
      row-gap: 0.5em;
    }
    &.disabled {
      padding: 0;
      border-left: none;
      border-right: none;
      border-bottom: none;
    }
  }
  legend {
    @extend %flex-center;
    z-index: $z-above-dialog-12; // get around safari z-index bug in legend / fieldset
    align-self: start;
    text-align: left;
    margin: 0 0.5em;
    > label {
      font-weight: bold;
    }
  }
  .deck {
    @extend %flex-between-nowrap;
    grid-area: deck;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .placeholder {
      margin-inline-start: -2em;
      height: 100%;
      aspect-ratio: 1/1;
    }
  }
  .deck-legend {
    padding: 0.5em;
    row-gap: 0;
    label {
      @extend %flex-around;
      flex-wrap: nowrap;
      font-size: 12px;
      padding: 4px 12px;
      color: black;
      position: relative;
      height: 32px;
    }
  }
}

.edit-bot {
  display: grid;
  height: 100%;
  column-gap: 1em;
  grid-template-columns: min(36vh, 30vw) min(480px, 33vw) 1fr;
  grid-template-rows: 74% auto fit-content(0);
  grid-template-areas:
    'info sources filters'
    'deck sources filters'
    'deck actions actions';

  [data-bot-action='unrate-one'] {
    color: $c-brag;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    &:hover {
      color: $c-bad;
    }
  }
  [data-action='remove'] {
    cursor: pointer;
    color: $c-bad;
    &:hover {
      color: $m-bad--lighten-11;
    }
  }
  [data-action='add'] {
    cursor: pointer;
    color: $c-secondary;
    &:hover {
      color: $m-secondary--lighten-11;
    }
    &.disabled {
      color: $c-border;
      pointer-events: none;
    }
  }

  .bot-card {
    @extend %flex-column;
    border-radius: 10px;
    gap: 1em;
    grid-area: info;

    div {
      padding: 0;
    }
    .uid {
      z-index: $z-above-dialog-14;
      font-size: 1.5em;
      font-weight: bold;
      font-style: italic;
      padding: 0 4px;
      color: $c-font-dim;
    }
    textarea {
      text-align: center;
    }
    .player {
      ---scale-factor: 0.8;
      aspect-ratio: 1/1;
      cursor: pointer;
      //background-color: $c-bg-zebra2;
    }
    .placard {
      padding: 0;
      width: 90%;
      border: none;
      background: none;
    }
  }
  .bot-actions {
    @extend %flex-wrap;
    justify-content: end;
    align-items: start;
    gap: 1em;
    padding: 1em;
  }

  .bot-info {
    justify-content: space-between;
    text-align: center;

    #info_name {
      max-width: 50%;
      flex: 1 1 auto;
      padding: 0;
    }
  }
  .setting {
    @extend %flex-center-nowrap;
    padding: 0 1em;
    width: 100%;
    gap: 1em;
    input[data-type] {
      width: 60px;
      flex-grow: 1;
    }
    &.disabled > input[data-type] {
      opacity: 0.5;
    }
  }
  .books,
  .sound-events {
    input[type='text'] {
      max-width: 5ch;
    }
  }
  .sound-events {
    padding: 0.5em 1em;
    .hide-disabled {
      width: 100%;
    }
  }
  .sound-event > span > label {
    width: 100%;
  }
  .total-chance.invalid {
    color: $c-bad;
  }
  fieldset.sound {
    @extend %flex-between;
    flex-wrap: nowrap;
    padding: 0.25em 0.5em 0.5em;
    label {
      gap: 6px;
    }
  }
  .sources,
  .filters {
    overflow-y: auto;
    overflow-x: visible;
    scrollbar-width: thin;
    scrollbar-color: $c-primary transparent;

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $c-primary;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }
  }
  .sources {
    @extend %flex-column;
    grid-area: sources;
    padding: 0 1em;
    min-width: 300px;
    justify-content: start;
    gap: 1em;
  }
  .filters {
    @extend %flex-column;
    min-width: 0;
    gap: 1em;
    grid-area: filters;
  }
  .filter {
    @extend %flex-column;
    border-radius: $box-radius-size;
    label {
      flex-flow: row nowrap;
      height: 32px;
      padding-inline-start: 0.5em;
    }
    .chart-wrapper {
      border: 1px solid $c-border-light;
      position: relative;
      border-radius: $box-radius-size 0 $box-radius-size $box-radius-size;
      background: $c-paper;
      cursor: pointer;
      padding: 1em 1em 0.5em 0.5em;
    }
    &.disabled .chart-wrapper {
      display: none;
    }
    .btn-rack {
      width: 100%;
      border: none;
    }
    .by {
      @extend %flex-center-nowrap;
      z-index: $z-above-dialog-12;
      justify-content: center;
      background: $m-paper_dimmer--mix-50;
      flex: auto;
      height: 32px;
      user-select: none;
      color: $c-font;
      white-space: nowrap;
      border: 1px solid $c-border-light;
      border-bottom: none;
      border-radius: $box-radius-size $box-radius-size 0 0;
      margin-inline-end: -1px;

      &:last-child {
        margin-inline-end: 0;
      }
      &.active {
        background: $c-paper;
        margin-bottom: -1px;
        padding-bottom: 1px;
        height: 33px;
        color: #555;
        cursor: default;
      }

      &:hover:not(.active) {
        background: $m-paper_dimmer--mix-75;
        color: $c-font-clearer;
        cursor: pointer;
      }
    }
  }
  .global-actions {
    display: flex;
    justify-content: end;
    padding: 1em 0;
    grid-area: actions;
    gap: 1em;
  }
}
