.json-dialog {
  @extend %flex-column;
  width: 1080px;
  height: 800px;
  padding-bottom: 0;
  //gap: 0;

  .json {
    display: block;
    text-align: left;
    border-radius: 0 10px 10px 0;
    padding: 1em;
    border: 1px solid $c-border;
    background: $c-paper;
    color: $c-dark;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
  }
  .actions {
    @extend %flex-center;
    height: 64px;
    justify-content: end;
  }
}
