.setup-view {
  .vs {
    @include above-cards;
    display: grid;
    @media (orientation: portrait) {
      grid-template-rows: min-content auto;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        'w b'
        'a a';
    }
    @media (orientation: landscape) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas: 'w a b';
    }
  }
  .player.white {
    grid-area: w;
  }
  .player.black {
    grid-area: b;
  }
  .actions {
    grid-area: a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (orientation: portrait) {
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
    }
    gap: calc(20px * $scale-factor);
    font-size: calc(32px * $scale-factor);
    button {
      padding: calc(6px * $scale-factor);
      color: $c-font;
      &:hover {
        color: $c-font-clear;
      }
    }
  }

  .switch.disabled,
  .random.disabled {
    pointer-events: none;
  }

  .chin {
    @extend %flex-around;
    align-items: center;

    padding: 1em;
    border-radius: 5px;
    border-top: 1px solid $c-border;
    background-color: $c-bg-zebra2;
    label {
      @extend %flex-center;
    }
  }
}
