body:has(.base-view.setup-view) {
  -webkit-user-select: none !important;
  user-select: none !important;
}

.setup-view {
  max-width: 640px;
  max-height: 800px;
  user-select: none;

  div.player {
    aspect-ratio: 1;
    width: min(70%, 33vh);
  }
  .vs {
    @extend %flex-column;
    align-items: center;
    gap: 0.5em;
  }
  .actions {
    @extend %flex-around;
    align-items: start;
    gap: calc(20px * $scale-factor);

    button {
      font-size: calc(32px * $scale-factor);
      padding: calc(6px * $scale-factor);
      color: $c-font;
      &:hover {
        color: $c-font-clear;
      }
    }
  }

  .switch {
    @extend %flex-around;
    cursor: pointer;
    align-items: center;
    padding: 1em;
    border-radius: 10px;
    width: min(70%, 33vh);
    &[data-color='white'] {
      background-color: hsl(37, 12%, 84%);
      color: $c-dark;
    }
    &[data-color='black'] {
      background-color: hsl(37, 5%, 32%);
      color: #bbb;
    }
    &:hover {
      background-color: gray;
      outline: 2px solid $c-primary;
    }
    &::after {
      font-family: lichess;
      content: $licon-Switch;
    }
  }
  .switch.disabled,
  .random.disabled {
    pointer-events: none;
  }

  .chin {
    @extend %flex-around;
    align-items: center;

    padding: 1em;
    border-radius: 5px;
    border-top: 1px solid $c-border;
    background-color: $c-bg-zebra2;
    label {
      @extend %flex-center;
    }
  }
}
