.share-dialog {
  @extend %flex-column;
  min-width: 704px;
  .share-grid {
    display: grid;
    max-width: 70vw;
    width: fit-content;
    grid-template-columns: repeat(3, minmax(224px, 1fr));
    grid-auto-rows: auto;
    gap: 1em;
  }
}
