form.material.form {
  margin-top: 50px;
}

.security .explanation {
  margin: 0 20px 20px 20px;
}
.security .revoke-all,
.security .revoke-all button {
  display: inline;
}
.security table td {
}
.security table .ua {
  font-size: 0.8em;
}
.security table .icon span {
  font-size: 3em;
}
.security table .ip {
  font-weight: bold;
}
.security table .current {
  color: #d59120;
}

.oauth .top {
  display: flex;
  align-items: center;
}
.oauth .top h1 {
  flex: 1 1 100%;
}
.oauth .top .new_obj {
  white-space: nowrap;
  margin-right: 10px;
}
.oauth .top .new_obj .button i::before {
  color: #759900;
  font-size: 40px;
}
.oauth table em,
.oauth table .date {
  font-size: 0.8em;
}
.oauth table .action {
  display: flex;
  justify-content: flex-end;
}

.oauth .codes {
  display: block;
  margin: 10px 20px 20px 20px;
  padding: 10px 20px;
  background: rgba(128,128,128,0.1);
}
.oauth .codes td {
  padding: 0.5em 1em;
  font-family: monospace;
}

.oauth .scopes {
  background: rgba(128,128,128,0.1);
  padding: .5em 1.5em;
  margin-bottom: 4em;
}

.oauth h2 {
  font-size: 1.2em;
  margin: -1em 0 0.5em 0;
}
.oauth .scopes input {
  vertical-align: middle;
  margin-right: 0.5em;
}
.oauth .scopes label {
  display: block;
  line-height: 2.5em;
  cursor: pointer;
}
.oauth form.material.form {
  margin-bottom: 40px;
}

.oauth .brand {
  margin: 20px;
  display: flex;
}
.oauth .brand i {
  font-size: 45px;
  margin-right: 15px;
}
.oauth .brand code {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10px;
  display: block;
}
