.security .explanation {
  margin: 0 20px 20px 20px;
}
.security .revoke-all,
.security .revoke-all button {
  display: inline;
}
.security table td {
}
.security table .ua {
  font-size: 0.8em;
}
.security table .icon span {
  font-size: 3em;
}
.security table .ip {
  font-weight: bold;
}
.security table .current {
  color: #d59120;
}

.oauth .top {
  display: flex;
  align-items: center;
}
.oauth .top h1 {
  flex: 1 1 100%;
}
.oauth .top .new_token {
  white-space: nowrap;
  margin-right: 10px;
}
.oauth .top .new_token .button i::before {
  color: #759900;
  font-size: 40px;
}
.oauth table .date {
  font-size: 0.8em;
}
.oauth table .action {
  text-align: right;
}

form.material.form {
  margin-top: 50px;
}
