.activity section {
  font-size: 1.4em;
  margin-left: 15px;
  padding-top: 1em;
}
.activity section h2 time {
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
  z-index: 2;
}
.activity .entries {
  margin: 30px 50px 30px 50px;
  margin-top: 0;
  position: relative;
  border-left: 2px solid #e6ebf1;
  border-top: 1px solid #f6f6f6;
}
.activity .entry {
  padding: 23px 0 23px 45px;
  border-bottom: 1px solid #f6f6f6;
}
.activity .entry > i {
  font-size: 22px;
  float: left;
  width: 45px;
  height: 45px;
  margin-top: -11px;
  margin-left: -70px;
  line-height: 42px;
  text-align: center;
  background-color: #e6ebf1;
  border: 2px solid #fff;
  border-radius: 50%;
}
.activity .entry.plan > i {
  background-color: #d59120!important;
  color: #fff;
}
.activity .entry a:not(.user_link) {
  color: #3893E8;
}
.activity .entry .sub {
  margin: 3px 0;
  font-size: 0.8em;
  line-height: 1.7em;
  opacity: 0.8;
}
.activity .entry .sub:last-child {
  margin-bottom: -7px;
}
.activity .entry .sub > div {
  overflow: hidden;
}
.activity .entry .line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.activity .entry .line .more {
  flex: 0 1 auto;
}
.activity .entry .line a {
  color: #707070;
}
.activity .entry .line a:hover {
  color: #3893E8!important;
}
.activity .entry rating {
  margin-left: 12px;
  padding: 2px 5px;
  opacity: 0.7;
  font-family: 'Roboto Mono';
}
.activity score {
  float: right;
  font-size: 0.7em;
  margin-top: 2px;
}
.activity score > * {
  margin-left: 8px;
}
.activity .entry score strong {
  color: #fff;
  font-size: 1.2em;
  padding: 1px 4px;
  border-radius: 20%;
  min-width: 1em;
  display: inline-block;
  text-align: center;
  opacity: 0.7;
}
.activity .entry .sub score strong {
  line-height: 1.6em;
  padding: 1px 4px;
}
.activity win strong {
  background: #759900;
}
.activity draw strong {
  background: #d59120;
}
.activity loss strong {
  background: #dc322f;
}

body.dark .activity section {
  color: #aaa;
}
body.dark .activity section h2 time {
  background: #2b2b2b;
  color: #888;
}
body.dark .activity .entries {
  border-color: #444;
  border-top-color: #383838;
}
body.dark .activity .entry {
  border-bottom-color: #383838;
}
body.dark .activity .entry > i {
  background-color: #444;
}
body.dark .activity .entry > i {
  border-color: #2b2b2b;
}
body.dark .activity .entry .line a {
  color: #aaa;
}
body.dark .activity .entry.plan > i {
  background-color: #bf811d!important;
}
