div.board_wrap {
  float: left;
  width: 514px;
  min-height: 558px;
}
div.moves_wrap {
  margin-left: 532px;
  position: relative;
}
p.rematch_wrap {
  margin-top: 31px;
  text-align: center;
}
div.analysis_menu {
  width: 512px;
  text-align: center;
  border-top: 1px solid #c0c0c0;
  height: 21px;
}
div.analysis_menu > a {
  background: #f0f0f0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  padding: 2px 8px;
  height: 16px;
  line-height: 16px;
  margin: -1px 0 0 -5px;
  display: inline-block;
  cursor: pointer;
}
div.analysis_menu > a.active {
  background-color: #eee;
  border-top: 1px solid #eee;
}
body.base div.analysis_menu > a.active {
  border-bottom: 2px solid #d85000;
}
div.analysis_panels {
  margin-top: -10px;
}
div.analysis_panels > div {
  width: 512px;
  height: 210px;
  max-height: 210px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
div.analysis_panels > div.active {
  display: block;
}
div.analysis_panels .crosstable table {
  margin-top: 60px;
}
div.game_analysis {
  padding: 10px;
  width: 492px;
}
.view_game_analysis {
  display: none;
}
.future_game_analysis {
  margin-top: 70px;
  text-align: center;
}
form.better_analysis {
  margin-top: 20px;
  width: 512px;
  text-align: center;
}
.future_game_analysis.progress {
  margin-top: 0;
  overflow: hidden;
}
.future_game_analysis .loader {
  margin-top: 20px;
  font-size: 15px;
}
.future_game_analysis .button {
  display: inline-block;
  line-height: 24px;
}
div.fen_pgn p {
  margin: 0.6em 0;
}
div.fen_pgn strong,
div.fen_pgn input.fen,
div.fen_pgn .pgn {
  font-family: monospace;
}
div.fen_pgn strong {
  font-size: 1.1em;
  display: inline-block;
  margin-right: 7px;
}
div.fen_pgn input.fen {
  width: 450px;
}
div.game_control {
  margin-top: 10px;
  text-align: center;
  width: 244px;
  white-space: nowrap;
}
div.game_control a {
  font-size: 12px;
  width: 25px;
  height: 17px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 -1px;
}
div.game_control .jumps {
  display: inline-block;
  margin-right: 10px;
}
.lichess_ground .replay,
.lichess_ground .action_menu {
  height: calc(100% - 40px);
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
}
.lichess_ground .action_menu {
  border-color: transparent;
}
.lichess_ground .action_menu .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.lichess_ground .action_menu .button {
  display: block;
  margin: 15px 0;
  padding: 10px;
}
.lichess_ground .action_menu .button::before {
  font-size: 2em;
}
.lichess_ground .replay .turn > .index {
  display: inline-block;
  width: 26px;
  text-align: center;
  font-size: 13px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  padding: 2px 0;
  background: #e0e0e0;
}
.lichess_ground .replay .move {
  display: inline-block;
  font-family: 'ChessSansPiratf', sans-serif;
  text-decoration: none;
}
.lichess_ground .replay .turn .move {
  width: calc(50% - 14px - 13px);
  font-size: 17px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  padding: 2px 7px;
  white-space: nowrap;
}
.lichess_ground .replay .turn .move.empty {
  opacity: 0.5;
}
.lichess_ground .replay a.move {
  cursor: pointer;
  transition: background-color 0.13s;
}
.lichess_ground .replay a.move:hover {
  background: #e0e0e0;
}
.lichess_ground .replay a.move.active {
  color: #d85000;
  font-weight: bold;
}
.lichess_ground .replay .eval {
  font-size: 0.8em;
  font-weight: lighter;
  float: right;
  margin: 2px 5px 0 0;
  opacity: 0.7;
  transition: 0.13s;
}
.lichess_ground .replay .move:hover .eval {
  opacity: 1;
}
.lichess_ground .analyse > .comment,
.lichess_ground .analyse > .variation {
  background-color: #e0e0e0;
}
.lichess_ground .comment {
  padding: 3px 0 0 5px;
  border-top: 1px solid #ccc;
}
.lichess_ground .opening {
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
.lichess_ground .analyse > .variation {
  font-weight: lighter;
  padding: 3px 0 3px 5px;
  border-bottom: 1px solid #ccc;
}
.lichess_ground .analyse > .variation.border {
  border-top: 1px solid #ccc;
}
.lichess_ground .variation .index {
  margin-left: 5px;
}
.lichess_ground .variation .index:first-child {
  margin-left: 0;
}
.lichess_ground .variation .move {
  padding: 2px 2px;
  font-weight: normal;
}
.lichess_ground .variation a.move:hover {
  background: #eee;
}
.lichess_ground .analyse .variation .variation {
  margin: 0 5px;
}
.lichess_ground .result {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}
.lichess_ground .status {
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}
div.underboard {
  margin-top: 25px;
}
div.underboard .center {
  padding: 0;
}
div.advice_summary {
  margin-top: -15px;
}
div.advice_summary td {
  padding: 2px 8px;
  text-align: center;
}
div.advice_summary .spacerlol {
  padding: 5px;
}
#adv_chart,
#movetimes_chart {
  height: 200px;
  width: 512px;
}
div.shortcuts .inner {
  display: none;
}
div.shortcuts:hover .inner {
  display: block;
}
div.shortcuts .title {
  margin: 1.5em 0 0.5em 0;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
div.shortcuts li {
  display: block;
  margin: 0.5em 0;
}
#site_header div.shortcuts strong {
  font-weight: bold;
}
.back_to_game {
  margin-top: 30px;
  width: 512px;
  text-align: center;
}
table.modAssessment {
  border-spacing: 2px;
  border-collapse: separate;
}
table.modAssessment a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
}
table.modAssessment td.match a {
  color: #759900;
}
table.modAssessment td.partial a {
  color: #d59120;
}
table.modAssessment td.noMatch {
  color: #ac524f;
  padding-left: 10px;
  font-weight: bold;
}
.modAssessment select {
  margin-left: 15px;
}
.assessmentButtons {
  margin: 20px auto auto 40px;
}
