div.board_wrap {
  float: left;
  width: 514px;
  min-height: 558px;
}
div.moves_wrap {
  margin-left: 532px;
  position: relative;
}
p.rematch_wrap {
  margin-top: 31px;
  text-align: center;
}
div.analysis_menu {
  width: 512px;
  text-align: center;
  border-top: 1px solid #c0c0c0;
  height: 21px;
}
div.analysis_menu > a {
  background: #f0f0f0;
  border: 1px solid #c0c0c0;
  padding: 2px 8px;
  height: 16px;
  line-height: 16px;
  margin: -1px 0 0 -5px;
  display: inline-block;
  cursor: pointer;
}
div.analysis_menu > a.active {
  background-color: #eee;
  border-top: 1px solid #eee;
}
body.base div.analysis_menu > a.active {
  border-bottom: 2px solid #d85000;
}
div.analysis_panels {
  margin-top: -10px;
}
div.analysis_panels > div {
  width: 512px;
  height: 210px;
  max-height: 210px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
div.analysis_panels > div.active {
  display: block;
}
div.analysis_panels .crosstable table {
  margin-top: 60px;
}
div.game_analysis {
  padding: 10px;
  width: 492px;
}
.view_game_analysis {
  display: none;
}
.future_game_analysis {
  margin-top: 84px;
  text-align: center;
}
form.better_analysis {
  margin-top: 20px;
  width: 512px;
  text-align: center;
}
.future_game_analysis.progress {
  margin-top: 0;
  overflow: hidden;
}
.future_game_analysis .loader {
  margin-top: 20px;
  font-size: 15px;
}
.future_game_analysis .button {
  display: inline-block;
  line-height: 24px;
}
div.fen_pgn p {
  margin: 0.6em 0;
}
div.fen_pgn strong,
div.fen_pgn input.fen,
div.fen_pgn .pgn {
  font-family: monospace;
}
div.fen_pgn strong {
  font-size: 1.1em;
  display: inline-block;
  margin-right: 7px;
}
div.fen_pgn input.fen {
  width: 450px;
}
div.game_control {
  margin-top: 10px;
  text-align: center;
  width: 244px;
  white-space: nowrap;
}
div.game_control a {
  font-size: 12px;
  width: 25px;
  height: 17px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 -1px;
}
div.game_control .jumps {
  display: inline-block;
}
div.game_control a.menu {
  margin-left: 10px;
}
div.lichess_game div.lichess_ground {
  transition: padding-left 0.3s;
}
div.eval_gauge {
  position: absolute;
  right: -22px;
  top: 0;
  width: 16px;
  height: 512px;
  background: #fff;
  background-size: 100% 100%;
  border-radius: 5px;
}
div.eval_gauge.reverse {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}
div.eval_gauge::after {
  content: '';
  display: block;
  position: absolute; top: 0; bottom: 0; left: 0; right: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.7) inset;
  border-radius: 5px;
}
div.eval_gauge tick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px ridge #eee;
  opacity: 0.4;
}
div.eval_gauge tick.zero {
  opacity: 1;
  border-bottom: 7px solid #dc322f!important;
  margin-top: -3px;
  opacity: 0.5;
}
div.eval_gauge .black {
  width: 100%;
  height: 50%;
  background: #888;
  border-radius: 5px 5px 0 0;
  transition: height 1s;
}
div.gauge_displayed div.lichess_game div.lichess_ground {
  padding-left: 28px;
}
.lichess_ground .ceval_box {
  position: relative;
  height: 40px;
  border: 1px solid #ccc;
  border-bottom: 0;
}
.lichess_ground .ceval_box .switch {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.35) translate(79px, -35px);
  -webkit-transform: scale(0.35) translate(79px, -35px);
}
.lichess_ground .ceval_box pearl {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2em;
  line-height: 40px;
  height: 40px;
  width: 80px;
  text-align: center;
  font-weight: bold;
  background: #e0e0e0;
}
.lichess_ground .ceval_box pearl .square-spin {
  margin-top: 7px;
}
.lichess_ground .ceval_box help {
  display: block;
  margin: 5px;
  font-size: 0.9em;
}
.lichess_ground .replay,
.lichess_ground .action_menu {
  height: calc(100% - 40px);
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-left: 0px;
}
.ceval_displayed .lichess_ground .replay {
  height: calc(100% - 40px - 41px);
}
.lichess_ground .action_menu {
  border-color: transparent;
}
.lichess_ground .action_menu .inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.lichess_ground .action_menu .button {
  display: block;
  margin: 15px 0;
  padding: 10px;
}
.lichess_ground .action_menu .button::before {
  font-size: 2em;
}
.lichess_ground .action_menu form.delete {
  margin-top: 2em;
  text-align: right;
}
.lichess_ground .action_menu form.delete .button {
  display: inline-block;
  padding: 0 8px;
}
.lichess_ground .action_menu form.delete .button::before {
  font-size: 1.2em;
}
.lichess_ground .action_menu .setting {
  padding: 5px 0 5px 10px;
}
.lichess_ground .action_menu .setting label {
  cursor: pointer;
}
.lichess_ground .action_menu .switch {
  float: right;
  transform: scale(0.35) translate(114px, -68px);
  -webkit-transform: scale(0.35) translate(114px, -68px);
}
.lichess_ground .replay .turn > .index {
  display: inline-block;
  width: 26px;
  text-align: center;
  font-size: 13px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  padding: 2px 0;
  background: #e0e0e0;
}
.lichess_ground .replay .move {
  display: inline-block;
  font-family: 'ChessSansPiratf', sans-serif;
}
.lichess_ground .replay .turn .move {
  position: relative;
  width: calc(50% - 14px - 13px);
  font-size: 17px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  padding: 2px 7px;
}
.lichess_ground .replay .move.current {
  background: rgba(191, 231, 255, 0.7);
}
.lichess_ground .replay .turn .move.empty {
  opacity: 0.5;
}
.lichess_ground .replay a.move {
  cursor: pointer;
  transition: background-color 0.13s;
}
.lichess_ground .replay a.move:hover {
  background: #e0e0e0;
}
.lichess_ground .replay a.move.active {
  color: #d85000;
  font-weight: bold;
}
.lichess_ground .replay .eval {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 0.8em;
  font-family: 'Roboto';
  font-weight: 300;
  opacity: 0.7;
  transition: 0.13s;
}
.lichess_ground .replay .move:hover .eval {
  opacity: 1;
}
.lichess_ground .analyse .meta {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  border-left: none;
}
.lichess_ground .comment {
  padding: 3px 0 0 5px;
}
.lichess_ground .analyse .white {
  border-left: 3px solid;
}
.lichess_ground .analyse .black {
  border-right: 3px solid;
  margin-right: 2px;
}
body .lichess_ground .analyse .inaccuracy {
  border-color: #56B4E9;
}
body .lichess_ground .analyse .mistake {
  border-color: #E69F00;
}
body .lichess_ground .analyse .blunder {
  border-color: #DF5353;
}
body .lichess_ground .analyse .undefined {
  border-color: #66558C;
}
.lichess_ground .opening {
  padding-bottom: 3px;
}
.lichess_ground .analyse .meta > .variation {
  font-family: 'Roboto';
  font-weight: 300;
  padding: 3px 0 3px 5px;
}
.lichess_ground .variation .index {
  margin-left: 5px;
}
.lichess_ground .variation .index:first-child {
  margin-left: 0;
}
.lichess_ground .variation .move {
  padding: 2px 2px;
  font-weight: normal;
}
.lichess_ground .variation a.move:hover {
  background: #eee;
}
.lichess_ground .analyse .variation .variation {
  margin: 0 5px;
}
.lichess_ground .result {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}
.lichess_ground .status {
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}
div.underboard {
  margin-top: 25px;
}
div.underboard .center {
  padding: 0;
}
div.copyables label.name {
  font-weight: bold;
}
div.copyables textarea,
div.copyables label {
  display: inline-block;
  vertical-align: middle;
}
div.copyables .pgn {
  margin-top: 1em;
}
div.copyables .pgn textarea {
  color: #747474;
  resize: vertical;
}
div.advice_summary {
  margin-top: -15px;
}
div.advice_summary td {
  padding: 2px 8px;
  text-align: center;
}
div.advice_summary tr.nag {
  cursor: pointer;
}
div.advice_summary tr.nag:hover {
  text-decoration: underline;
}
div.advice_summary .spacerlol {
  padding: 5px;
}
#adv_chart,
#movetimes_chart {
  height: 200px;
  width: 512px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(128, 128, 128, 0.2) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
}
div.shortcuts .inner {
  display: none;
}
div.shortcuts:hover .inner {
  display: block;
}
div.shortcuts .title {
  margin: 1.5em 0 0.5em 0;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
div.shortcuts li {
  display: block;
  margin: 0.5em 0;
}
#site_header div.shortcuts strong {
  font-weight: bold;
}
.back_to_game {
  margin-top: 30px;
  text-align: center;
}
table.modAssessment {
  border-spacing: 2px;
}
table.modAssessment a {
  margin-left: 10px;
  font-weight: bold;
}
table.modAssessment td.match a {
  color: #759900;
}
table.modAssessment td.partial a {
  color: #d59120;
}
table.modAssessment td.noMatch {
  color: #ac524f;
  padding-left: 10px;
  font-weight: bold;
}
.modAssessment select {
  margin-left: 15px;
}
.assessmentButtons {
  margin: 20px auto auto 40px;
}
.copyables > p {
  margin-top: 7px;
}
.copyables .name {
  font-family: monospace;
  font-size: 1.2em;
  display: inline-block;
  width: 40px;
}
.copyable {
  width: 455px;
}
.analeft {
  position: absolute;
  top: 53px;
  left: -241px;
  width: 226px;
}
.forecast {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.13s;
}
.forecast.loading {
  opacity: 0.7;
}
.forecast san {
  font-weight: bold;
}
.forecast .entries {
  border: 1px solid #ccc;
}
.forecast .entries .top {
  border-bottom: 1px solid #ccc;
  padding: 3px 5px;
  font-weight: bold;
  color: #999;
}
.forecast .entry {
  padding: 12px 2px 12px 10px;
  margin-left: -2px;
  transition: 0.13s;
  position: relative;
  cursor: pointer;
}
.forecast .entry::before {
  margin-left: -10px;
  opacity: 0.4;
}
.forecast .entry:hover {
  background: #e0e0e0;
}
.forecast .entry .del {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  display: block;
  font-size: 13px;
  opacity: 0;
  transition: 0.13s;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  color: #dc322f;
}
.forecast .entry:hover .del {
  opacity: 0.8;
}
.forecast .entry:hover .del:hover {
  opacity: 1;
}
.forecast .add {
  display: block;
  width: 100%;
  text-align: left;
  border-width: 1px 0 0 0;
  transition: 0.5s;
}
.forecast .add::before {
  font-size: 32px;
  float: left;
  margin: 1px 10px 0px 0px;
  opacity: 0.6;
  transition: opacity 0.13s;
}
.forecast .add.enabled::before {
  color: #759900;
}
.forecast .add:hover::before {
  opacity: 0.9;
}
.forecast .add span {
  display: block;
  white-space: normal;
  font-weight: normal;
}

body.coords_2 .gauge_displayed .cg-square[data-coord-y]::before {
  color: #fff;
  text-shadow: 0 1px 2px #000;
  font-weight: normal;
  top: 1px;
  right: 1px;
}

/* switch toggle button */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #aaa;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #ddd;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}
