div.board_wrap {
  float: left;
  width: 514px;
  min-height: 558px;
}
div.moves_wrap {
  margin-left: 532px;
  position: relative;
}
p.rematch_wrap {
  margin-top: 31px;
  text-align: center;
}
div.analysis_menu {
  width: 512px;
  text-align: center;
  border-top: 1px solid #c0c0c0;
  height: 21px;
}
div.analysis_menu > a {
  background: #f0f0f0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  padding: 2px 8px;
  height: 16px;
  line-height: 16px;
  margin: -1px 0 0 -5px;
  display: inline-block;
  cursor: pointer;
}
div.analysis_menu > a.active {
  background-color: #eee;
  border-top: 1px solid #eee;
}
div.analysis_panels {
  margin-top: 10px;
}
div.analysis_panels > div {
  width: 512px;
  height: 210px;
  max-height: 210px;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
}
div.analysis_panels > div.active {
  display: block;
}
div.analysis_panels .crosstable table {
  margin-top: 60px;
}
div.game_analysis {
  padding: 10px;
  width: 492px;
}
.view_game_analysis {
  display: none;
}
.future_game_analysis {
  margin-top: 70px;
  text-align: center;
}
form.better_analysis {
  margin-top: 20px;
  width: 512px;
  text-align: center;
}
.future_game_analysis.progress {
  margin-top: 0;
  overflow: hidden;
}
.future_game_analysis .loader {
  margin-top: 20px;
  font-size: 15px;
}
.future_game_analysis .button {
  display: inline-block;
  line-height: 24px;
}
div.fen_pgn p {
  margin: 0.6em 0;
}
div.fen_pgn strong,
div.fen_pgn input.fen,
div.fen_pgn .pgn {
  font-family: monospace;
}
div.fen_pgn strong {
  font-size: 1.1em;
  display: inline-block;
  margin-right: 7px;
}
div.fen_pgn input.fen {
  width: 450px;
}
div.game_control,
div.continue {
  text-align: center;
}
div.game_control {
  width: 290px;
  margin-left: -6px;
}
div.continue {
  margin: 20px 0;
}
div.game_control a {
  font-size: 12px;
  height: 17px;
  width: 12px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-right: -1px;
}
div.game_control .jumps {
  margin-right: 1em;
}
.lichess_ground {
  height: 100%;
}
.lichess_ground .replay {
  margin-left: 10px;
  width: 256px;
  height: calc(100% - 30px);
  overflow: auto;
  border: 1px solid #ccc;
}
.lichess_ground .replay .index {
  display: inline-block;
  width: 26px;
  text-align: center;
  font-size: 13px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  padding: 2px 0;
  background: #e0e0e0;
}
.lichess_ground .replay .move {
  display: inline-block;
  font-family: 'ChessSansPiratf', sans-serif;
  text-decoration: none;
}
.lichess_ground .replay .turn .move {
  width: calc(50% - 14px - 13px);
  font-size: 17px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  padding: 2px 7px;
}
.lichess_ground .replay .turn .move.empty {
  opacity: 0.5;
}
.lichess_ground .replay a.move {
  cursor: pointer;
  transition: background-color 0.13s;
}
.lichess_ground .replay a.move:hover {
  background: #e0e0e0;
}
.lichess_ground .replay a.move.active {
  color: #d85000;
  font-weight: bold;
}
.lichess_ground .replay span {
  font-size: 0.8em;
  font-weight: lighter;
  float: right;
  margin: 2px 5px 0 0;
  opacity: 0.7;
  transition: 0.13s;
}
.lichess_ground .replay .move:hover span {
  opacity: 1;
}
.lichess_ground .comment,
.lichess_ground .variation {
  background-color: #e0e0e0;
}
.lichess_ground .comment {
  padding: 3px 0 0 5px;
  border-top: 1px solid #ccc;
}
.lichess_ground .opening {
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
}
.lichess_ground .variation {
  font-weight: lighter;
  padding: 3px 0 3px 5px;
  border-bottom: 1px solid #ccc;
}
.lichess_ground .variation .move {
  padding: 2px 2px;
  font-weight: normal;
}
.lichess_ground .variation a.move:hover {
  background: #eee;
}
.lichess_ground .result {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}
.lichess_ground .status {
  font-size: 1em;
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}
div.underboard {
  margin-top: 25px;
}
div.underboard .center {
  padding: 0;
}
div.advice_summary {
  margin-top: 42px;
}
div.advice_summary td {
  padding: 2px 8px;
  text-align: center;
}
div.advice_summary .spacerlol {
  padding: 5px;
}
#adv_chart,
#movetimes_chart {
  height: 200px;
  width: 512px;
}
div.shortcuts .inner {
  display: none;
}
div.shortcuts:hover .inner {
  display: block;
}
div.shortcuts .title {
  margin: 1.5em 0 0.5em 0;
  display: block;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
div.shortcuts li {
  display: block;
  margin: 0.5em 0;
}
#site_header div.shortcuts strong {
  font-weight: bold;
}
