div.content_box header {
  overflow: hidden;
}
div.content_box header h1 {
  font-size: 110px;
  float: left;
  font-weight: bold;
  margin: -30px 30px 0 0;
  opacity: 0.3;
}
div.content_box header strong {
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 31px;
  margin: 10px 0 10px 0;
  display: block;
}
div.content_box a.underline {
  text-decoration: underline;
}
div.content_box div.game {
  text-align: center;
}
div.content_box .credits {
  margin-top: 2em;
}
