#lidraughts_blog .blog_title {
  display: block;
  text-align: center;
  font-size: 2.6em;
}
#lidraughts_blog h1 a.atom {
  color: #ff6600;
  float: right;
}
#lidraughts_blog .meta {
  text-align: center;
  margin: 20px 0;
}
#lidraughts_blog .meta span {
  display:inline-block;
  margin-right: 10px;
}
#lidraughts_blog .illustration,
#lidraughts_blog [data-oembed] {
  text-align: center;
}
#lidraughts_blog .illustration img {
  max-height: 300px;
}
#Vs0xMTAAAD4We4Ey [data-oembed] iframe,
#V0KrLSkAAMo3hsi4 [data-oembed] iframe {
  width: 744px;
  height: 417px;
}
#lidraughts_blog .post.no-icon .illustration {
  display: none;
}
#lidraughts_blog .shortlede {
  display: block;
  text-align: center;
  font-size: 1.4em;
  font-weight: normal;
  font-style: italic;
  margin: 20px 0;
}
#lidraughts_blog .body {
  font-size: 1.4em;
  line-height: 1.6;
  margin: 20px 0 60px 0;
  cursor: initial;
}
#lidraughts_blog .body p {
  margin: 15px 0;
}
#lidraughts_blog .body a {
  text-decoration: underline;
}
#lidraughts_blog .body a:hover {
  text-decoration: none;
}
#lidraughts_blog .body strong {
  font-weight: bold;
}
#lidraughts_blog .body em {
  font-style: italic;
}
#lidraughts_blog .body .block-img {
  text-align: center;
}
#lidraughts_blog .body .block-img + p > em:first-child {
  margin-top: -20px;
  display: block;
  font-size: 0.8em;
  text-align: center;
}
#lidraughts_blog ol, #lidraughts_blog ul {
  margin: 25px;
}
#lidraughts_blog li {
  list-style: disc outside;
}
#lidraughts_blog .body h2 {
  font-size: 1.4em;
  border-bottom: 1px solid #eee;
  margin: 35px 0;
}
#lidraughts_blog .body h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 25px 0;
}
#lidraughts_blog .body img {
  padding: 5px;
  border: 1px solid #ccc;
}
#lidraughts_blog .body iframe.study {
  border: none;
  margin: 1em 0;
}

#lidraughts_blog .list h1 {
  border-bottom: 1px solid #eee;
  margin-top: 35px;
}
#lidraughts_blog .list .meta {
  text-align: center;
}
#lidraughts_blog .list .more {
  text-align: center;
}
#lidraughts_blog .footer {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 40px;
}