.cg-board-wrap coords {
  color: #fff;
  text-shadow: 0 1px 2px #000;
}
.cg-board-wrap coords.files {
  bottom: -1px;
  text-align: left;
  left: 0%;
  z-index: 3;
}
.cg-board-wrap coords.files coord {
  padding-left: 2px;
}
.cg-board-wrap coords.ranks {
  right: 1px;
  top: 0%;
  text-align: right;
  z-index: 3;
}
.cg-board-wrap coords.ranks coord {
  transform: none;
}
.brown coord, .green coord, .blue coord {
  text-shadow: none;
}
.brown .orientation-white .files coords,
.brown .orientation-white .ranks coords,
.brown .orientation-black .files coords,
.brown .orientation-black .ranks coords {
  color: #F0D9B5;
}
.green .orientation-white .files coords,
.green .orientation-white .ranks coords,
.green .orientation-black .files coords,
.green .orientation-black .ranks coords {
  color: #FFFFDD;
}
.blue .orientation-white .files coords,
.blue .orientation-white .ranks coords,
.blue .orientation-black .files coords,
.blue .orientation-black .ranks coords {
  color: #DEE3E6;
}


/* negate inner coords colors */
.is3d .cg-board-wrap coords coord {
  color: #fff!important;
  text-shadow: 0 1px 2px #000!important;
}
.is3d .cg-board-wrap coords.files {
  bottom: calc(1px - 2.5%);
}
.is3d .cg-board-wrap coords.files coord {
  padding-left: 3px;
}
