#board_editor {
  position: relative;
}
#board_editor .fen-string {
  margin: 1em 0 0.5em 0;
  background: none;
  border: none;
  font-family: monospace;
  font-size: 16px;
}
#chessboard {
  width: 520px;
}
#chessboard_side {
  position: absolute;
  left: 552px;
  top: 158px;
  width: 228px;
}
#chessboard_side > div {
  margin-bottom: 3em;
  text-align: center;
}
#board_editor a.button {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
#chessboard_side .castling {
  margin-top: 1em;
}
