#lichess {
  position: relative;
  min-height: 512px;
}
body.is3d #lichess {
  min-height: 479.08572px;
}
div.lichess_game div.lichess_board_wrap {
  display: table-cell;
}
div.lichess_game div.lichess_ground {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  width: 242px;
}
span.board_mark {
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  color: #bbb;
  font-weight: bold;
  cursor: default;
}
span.board_mark.vert {
  right: -10px;
}
span.board_mark.horz {
  bottom: -14px;
}
div.lichess_board {
  position: relative;
}
body.is2d.blue div.lichess_board,
body.is2d.blue #GameBoard,
body.is2d.blue .mini_board,
body.is2d.blue .cg-board,
#top div.color_demo.blue {
  background-image: url(../images/board/blue.png);
}
body.is2d.blue2 div.lichess_board,
body.is2d.blue2 #GameBoard,
body.is2d.blue2 .mini_board,
body.is2d.blue2 .cg-board,
#top div.color_demo.blue2 {
  background-image: url(../images/board/blue2.jpg);
}
body.is2d.wood2 div.lichess_board,
body.is2d.wood2 #GameBoard,
body.is2d.wood2 .mini_board,
body.is2d.wood2 .cg-board,
#top div.color_demo.wood2 {
  background-image: url(../images/board/wood2.jpg);
}
body.is2d.marble div.lichess_board,
body.is2d.marble #GameBoard,
body.is2d.marble .mini_board,
body.is2d.marble .cg-board,
#top div.color_demo.marble {
  background-image: url(../images/board/marble.jpg);
}
body.is2d.brown div.lichess_board,
body.is2d.brown #GameBoard,
body.is2d.brown .mini_board,
body.is2d.brown .cg-board,
#top div.color_demo.brown {
  background-image: url(../images/board/brown.png);
}
body.is2d.green div.lichess_board,
body.is2d.green #GameBoard,
body.is2d.green .mini_board,
body.is2d.green .cg-board,
#top div.color_demo.green {
  background-image: url(../images/board/green.png);
}
body.is2d.olive div.lichess_board,
body.is2d.olive #GameBoard,
body.is2d.olive .mini_board,
body.is2d.olive .cg-board,
#top div.color_demo.olive {
  background-image: url(../images/board/olive.jpg);
}
body.is2d.purple div.lichess_board,
body.is2d.purple #GameBoard,
body.is2d.purple .mini_board,
body.is2d.purple .cg-board,
#top div.color_demo.purple {
  background-image: url(../images/board/purple.png);
}
body.is2d.grey div.lichess_board,
body.is2d.grey #GameBoard,
body.is2d.grey .mini_board,
body.is2d.grey .cg-board,
#top div.color_demo.grey {
  background-image: url(../images/board/grey.jpg);
}
body.is2d.wood div.lichess_board,
body.is2d.wood #GameBoard,
body.is2d.wood .mini_board,
body.is2d.wood .cg-board,
#top div.color_demo.wood {
  background-image: url(../images/board/wood3-512.jpg);
}
body.is2d.canvas div.lichess_board,
body.is2d.canvas #GameBoard,
body.is2d.canvas .mini_board,
body.is2d.canvas .cg-board,
#top div.color_demo.canvas {
  background-image: url(../images/board/canvas2-512.jpg);
}
body.is2d.leather div.lichess_board,
body.is2d.leather #GameBoard,
body.is2d.leather .mini_board,
body.is2d.leather .cg-board,
#top div.color_demo.leather {
  background-image: url(../images/board/leather-512.jpg);
}
/* KotH boards */

body.is2d.blue div.lichess_board.kingOfTheHill .cg-board,
body.is2d.blue #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/blue.jpg);
}
body.is2d.blue2 div.lichess_board.kingOfTheHill .cg-board,
body.is2d.blue2 #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/blue2.jpg);
}
body.is2d.wood2 div.lichess_board.kingOfTheHill .cg-board,
body.is2d.wood2 #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/wood2.jpg);
}
body.is2d.marble div.lichess_board.kingOfTheHill .cg-board,
body.is2d.marble #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/marble.jpg);
}
body.is2d.brown div.lichess_board.kingOfTheHill .cg-board,
body.is2d.brown #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/brown.jpg);
}
body.is2d.green div.lichess_board.kingOfTheHill .cg-board,
body.is2d.green #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/green.jpg);
}
body.is2d.olive div.lichess_board.kingOfTheHill .cg-board,
body.is2d.olive #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/olive.jpg);
}
body.is2d.purple div.lichess_board.kingOfTheHill .cg-board,
body.is2d.purple #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/purple.jpg);
}
body.is2d.grey div.lichess_board.kingOfTheHill .cg-board,
body.is2d.grey #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/grey.jpg);
}
body.is2d.wood div.lichess_board.kingOfTheHill .cg-board,
body.is2d.wood #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/wood.jpg);
}
body.is2d.canvas div.lichess_board.kingOfTheHill .cg-board,
body.is2d.canvas #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/canvas.jpg);
}
body.is2d.leather div.lichess_board.kingOfTheHill .cg-board,
body.is2d.leather #GameBoard.kingOfTheHill {
  background-image: url(../images/board/koth/leather.jpg);
}
body.is3d.Black-White-Aluminium .cg-board-wrap,
#top .is3d .Black-White-Aluminium {
  background-image: url(../staunton/Boards/Scaled/512/Black-White-Aluminium.png);
}
body.is3d.Brushed-Aluminium .cg-board-wrap,
#top .is3d .Brushed-Aluminium {
  background-image: url(../staunton/Boards/Scaled/512/Brushed-Aluminium.png);
}
body.is3d.China-Blue .cg-board-wrap,
#top .is3d .China-Blue {
  background-image: url(../staunton/Boards/Scaled/512/China-Blue.png);
}
body.is3d.China-Green .cg-board-wrap,
#top .is3d .China-Green {
  background-image: url(../staunton/Boards/Scaled/512/China-Green.png);
}
body.is3d.China-Grey .cg-board-wrap,
#top .is3d .China-Grey {
  background-image: url(../staunton/Boards/Scaled/512/China-Grey.png);
}
body.is3d.China-Scarlet .cg-board-wrap,
#top .is3d .China-Scarlet {
  background-image: url(../staunton/Boards/Scaled/512/China-Scarlet.png);
}
body.is3d.China-Yellow .cg-board-wrap,
#top .is3d .China-Yellow {
  background-image: url(../staunton/Boards/Scaled/512/China-Yellow.png);
}
body.is3d.Classic-Blue .cg-board-wrap,
#top .is3d .Classic-Blue {
  background-image: url(../staunton/Boards/Scaled/512/Classic-Blue.png);
}
body.is3d.Transparent-Glass .cg-board-wrap,
#top .is3d .Transparent-Glass {
  background-image: url(../staunton/Boards/Scaled/512/Glass.png);
}
body.is3d.Gold-Silver .cg-board-wrap,
#top .is3d .Gold-Silver {
  background-image: url(../staunton/Boards/Scaled/512/Gold-Silver.png);
}
body.is3d.Green-Glass .cg-board-wrap,
#top .is3d .Green-Glass {
  background-image: url(../staunton/Boards/Scaled/512/Green-Glass.png);
}
body.is3d.Light-Wood .cg-board-wrap,
#top .is3d .Light-Wood {
  background-image: url(../staunton/Boards/Scaled/512/Light-Wood.png);
}
body.is3d.Power-Coated .cg-board-wrap,
#top .is3d .Power-Coated {
  background-image: url(../staunton/Boards/Scaled/512/Power-Coated.png);
}
body.is3d.Purple-Black .cg-board-wrap,
#top .is3d .Purple-Black {
  background-image: url(../staunton/Boards/Scaled/512/Purple-Black.png);
}
body.is3d.Rosewood .cg-board-wrap,
#top .is3d .Rosewood {
  background-image: url(../staunton/Boards/Scaled/512/Rosewood.png);
}
body.is3d.Wood-Glass .cg-board-wrap,
#top .is3d .Wood-Glass {
  background-image: url(../staunton/Boards/Scaled/512/Wood-Glass.png);
}
@media

only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
  body.is2d.wood div.lichess_board, body.is2d.wood #GameBoard, body.is2d.wood .mini_board, body.is2d.wood .cg-board {
    background-image: url(../images/board/wood3-1024.jpg);
  }
  body.is2d.canvas div.lichess_board,
  body.is2d.canvas #GameBoard,
  body.is2d.canvas .mini_board,
  body.is2d.canvas .cg-board {
    background-image: url(../images/board/canvas2-1024.jpg);
  }
  body.is2d.leather div.lichess_board,
  body.is2d.leather #GameBoard,
  body.is2d.leather .mini_board,
  body.is2d.leather .cg-board {
    background-image: url(../images/board/leather-1024.jpg);
  }
  body.is3d.Black-White-Aluminium .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Black-White-Aluminium.png);
  }
  body.is3d.Brushed-Aluminium .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Brushed-Aluminium.png);
  }
  body.is3d.China-Blue .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/China-Blue.png);
  }
  body.is3d.China-Green .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/China-Green.png);
  }
  body.is3d.China-Grey .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/China-Grey.png);
  }
  body.is3d.China-Scarlet .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/China-Scarlet.png);
  }
  body.is3d.China-Yellow .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/China-Yellow.png);
  }
  body.is3d.Classic-Blue .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Classic-Blue.png);
  }
  body.is3d.Transparent-Glass .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Glass.png);
  }
  body.is3d.Gold-Silver .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Gold-Silver.png);
  }
  body.is3d.Green-Glass .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Green-Glass.png);
  }
  body.is3d.Light-Wood .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Light-Wood.png);
  }
  body.is3d.Power-Coated .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Power-Coated.png);
  }
  body.is3d.Purple-Black .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Purple-Black.png);
  }
  body.is3d.Rosewood .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Rosewood.png);
  }
  body.is3d.Wood-Glass .cg-board-wrap {
    background-image: url(../staunton/Boards/Scaled/1024/Wood-Glass.png);
  }
}
body.is2d.cburnett .cg-piece.pawn.white {
  background-image: url(../piece/cburnett/wP.svg);
}
body.is2d.cburnett .cg-piece.bishop.white {
  background-image: url(../piece/cburnett/wB.svg);
}
body.is2d.cburnett .cg-piece.knight.white,
#top .cg-piece.cburnett {
  background-image: url(../piece/cburnett/wN.svg);
}
body.is2d.cburnett .cg-piece.rook.white {
  background-image: url(../piece/cburnett/wR.svg);
}
body.is2d.cburnett .cg-piece.queen.white {
  background-image: url(../piece/cburnett/wQ.svg);
}
.king.white,
body.is2d.cburnett .cg-piece.king.white {
  background-image: url(../piece/cburnett/wK.svg);
}
body.is2d.cburnett .cg-piece.pawn.black {
  background-image: url(../piece/cburnett/bP.svg);
}
body.is2d.cburnett .cg-piece.bishop.black {
  background-image: url(../piece/cburnett/bB.svg);
}
body.is2d.cburnett .cg-piece.knight.black {
  background-image: url(../piece/cburnett/bN.svg);
}
body.is2d.cburnett .cg-piece.rook.black {
  background-image: url(../piece/cburnett/bR.svg);
}
body.is2d.cburnett .cg-piece.queen.black {
  background-image: url(../piece/cburnett/bQ.svg);
}
.king.black,
body.is2d.cburnett .cg-piece.king.black {
  background-image: url(../piece/cburnett/bK.svg);
}
.mono-piece {
  width: 32px;
  height: 32px;
  background-size: cover;
  display: inline-block;
}
.mono-piece.pawn {
  background-image: url(../piece/mono/P.svg);
}
.mono-piece.bishop {
  background-image: url(../piece/mono/B.svg);
}
.mono-piece.knight {
  background-image: url(../piece/mono/N.svg);
}
.mono-piece.rook {
  background-image: url(../piece/mono/R.svg);
}
.mono-piece.queen {
  background-image: url(../piece/mono/Q.svg);
}
.mono-piece.king {
  background-image: url(../piece/mono/K.svg);
}
body.is2d.pirouetti .cg-piece.piece.white {
  -webkit-filter: drop-shadow(0 0 0.5px #000);
}
body.is2d.pirouetti .cg-piece.piece.black {
  -webkit-filter: drop-shadow(0 0 0.6px #e0e0e0);
}
body.is2d.pirouetti .cg-piece.piece.ui-draggable-dragging,
body.is2d.pirouetti .piece.animating {
  -webkit-filter: none!important;
}
body.is2d.pirouetti .cg-piece.pawn.white {
  background-image: url(../piece/pirouetti/wP.svg);
}
body.is2d.pirouetti .cg-piece.bishop.white {
  background-image: url(../piece/pirouetti/wB.svg);
}
body.is2d.pirouetti .cg-piece.knight.white,
#top .cg-piece.pirouetti {
  background-image: url(../piece/pirouetti/wN.svg);
}
body.is2d.pirouetti .cg-piece.rook.white {
  background-image: url(../piece/pirouetti/wR.svg);
}
body.is2d.pirouetti .cg-piece.queen.white {
  background-image: url(../piece/pirouetti/wQ.svg);
}
body.is2d.pirouetti .cg-piece.king.white {
  background-image: url(../piece/pirouetti/wK.svg);
}
body.is2d.pirouetti .cg-piece.pawn.black {
  background-image: url(../piece/pirouetti/bP.svg);
}
body.is2d.pirouetti .cg-piece.bishop.black {
  background-image: url(../piece/pirouetti/bB.svg);
}
body.is2d.pirouetti .cg-piece.knight.black {
  background-image: url(../piece/pirouetti/bN.svg);
}
body.is2d.pirouetti .cg-piece.rook.black {
  background-image: url(../piece/pirouetti/bR.svg);
}
body.is2d.pirouetti .cg-piece.queen.black {
  background-image: url(../piece/pirouetti/bQ.svg);
}
body.is2d.pirouetti .cg-piece.king.black {
  background-image: url(../piece/pirouetti/bK.svg);
}
body.is2d.merida .cg-piece.pawn.white {
  background-image: url(../piece/merida/wP.svg);
}
body.is2d.merida .cg-piece.bishop.white {
  background-image: url(../piece/merida/wB.svg);
}
body.is2d.merida .cg-piece.knight.white,
#top .cg-piece.merida {
  background-image: url(../piece/merida/wN.svg);
}
body.is2d.merida .cg-piece.rook.white {
  background-image: url(../piece/merida/wR.svg);
}
body.is2d.merida .cg-piece.queen.white {
  background-image: url(../piece/merida/wQ.svg);
}
body.is2d.merida .cg-piece.king.white {
  background-image: url(../piece/merida/wK.svg);
}
body.is2d.merida .cg-piece.pawn.black {
  background-image: url(../piece/merida/bP.svg);
}
body.is2d.merida .cg-piece.bishop.black {
  background-image: url(../piece/merida/bB.svg);
}
body.is2d.merida .cg-piece.knight.black {
  background-image: url(../piece/merida/bN.svg);
}
body.is2d.merida .cg-piece.rook.black {
  background-image: url(../piece/merida/bR.svg);
}
body.is2d.merida .cg-piece.queen.black {
  background-image: url(../piece/merida/bQ.svg);
}
body.is2d.merida .cg-piece.king.black {
  background-image: url(../piece/merida/bK.svg);
}
body.is2d.spatial .cg-piece.pawn.white {
  background-image: url(../piece/spatial/wP.svg);
}
body.is2d.spatial .cg-piece.bishop.white {
  background-image: url(../piece/spatial/wB.svg);
}
body.is2d.spatial .cg-piece.knight.white,
#top .cg-piece.spatial {
  background-image: url(../piece/spatial/wN.svg);
}
body.is2d.spatial .cg-piece.rook.white {
  background-image: url(../piece/spatial/wR.svg);
}
body.is2d.spatial .cg-piece.queen.white {
  background-image: url(../piece/spatial/wQ.svg);
}
body.is2d.spatial .cg-piece.king.white {
  background-image: url(../piece/spatial/wK.svg);
}
body.is2d.spatial .cg-piece.pawn.black {
  background-image: url(../piece/spatial/bP.svg);
}
body.is2d.spatial .cg-piece.bishop.black {
  background-image: url(../piece/spatial/bB.svg);
}
body.is2d.spatial .cg-piece.knight.black {
  background-image: url(../piece/spatial/bN.svg);
}
body.is2d.spatial .cg-piece.rook.black {
  background-image: url(../piece/spatial/bR.svg);
}
body.is2d.spatial .cg-piece.queen.black {
  background-image: url(../piece/spatial/bQ.svg);
}
body.is2d.spatial .cg-piece.king.black {
  background-image: url(../piece/spatial/bK.svg);
}
body.is2d.alpha .cg-piece.pawn.white {
  background-image: url(../piece/alpha/wP.svg);
}
body.is2d.alpha .cg-piece.bishop.white {
  background-image: url(../piece/alpha/wB.svg);
}
body.is2d.alpha .cg-piece.knight.white,
#top .cg-piece.alpha {
  background-image: url(../piece/alpha/wN.svg);
}
body.is2d.alpha .cg-piece.rook.white {
  background-image: url(../piece/alpha/wR.svg);
}
body.is2d.alpha .cg-piece.queen.white {
  background-image: url(../piece/alpha/wQ.svg);
}
body.is2d.alpha .cg-piece.king.white {
  background-image: url(../piece/alpha/wK.svg);
}
body.is2d.alpha .cg-piece.pawn.black {
  background-image: url(../piece/alpha/bP.svg);
}
body.is2d.alpha .cg-piece.bishop.black {
  background-image: url(../piece/alpha/bB.svg);
}
body.is2d.alpha .cg-piece.knight.black {
  background-image: url(../piece/alpha/bN.svg);
}
body.is2d.alpha .cg-piece.rook.black {
  background-image: url(../piece/alpha/bR.svg);
}
body.is2d.alpha .cg-piece.queen.black {
  background-image: url(../piece/alpha/bQ.svg);
}
body.is2d.alpha .cg-piece.king.black {
  background-image: url(../piece/alpha/bK.svg);
}
body.is3d.Basic .pawn.white {
  background-image: url(../staunton/Renders/Basic/Scaled/White-Pawn.png);
}
body.is3d.Basic .bishop.white {
  background-image: url(../staunton/Renders/Basic/Scaled/White-Bishop.png);
}
body.is3d.Basic .orientation-black .bishop.white {
  background-image: url(../staunton/Renders/Basic/Scaled/White-Bishop-Flipped.png);
}
body.is3d.Basic .knight.white,
#top .is3d .cg-piece.Basic {
  background-image: url(../staunton/Renders/Basic/Scaled/White-Knight.png);
}
body.is3d.Basic .orientation-black .knight.white {
  background-image: url(../staunton/Renders/Basic/Scaled/White-Knight-Flipped.png);
}
body.is3d.Basic .rook.white {
  background-image: url(../staunton/Renders/Basic/Scaled/White-Rook.png);
}
body.is3d.Basic .queen.white {
  background-image: url(../staunton/Renders/Basic/Scaled/White-Queen.png);
}
body.is3d.Basic .king.white {
  background-image: url(../staunton/Renders/Basic/Scaled/White-King.png);
}
body.is3d.Basic .pawn.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-Pawn.png);
}
body.is3d.Basic .bishop.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-Bishop.png);
}
body.is3d.Basic .orientation-white .bishop.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-Bishop-Flipped.png);
}
body.is3d.Basic .knight.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-Knight.png);
}
body.is3d.Basic .orientation-white .knight.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-Knight-Flipped.png);
}
body.is3d.Basic .rook.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-Rook.png);
}
body.is3d.Basic .queen.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-Queen.png);
}
body.is3d.Basic .king.black {
  background-image: url(../staunton/Renders/Basic/Scaled/Black-King.png);
}
body.is3d.Glass .pawn.white {
  background-image: url(../staunton/Renders/Glass/Scaled/White-Pawn.png);
}
body.is3d.Glass .bishop.white {
  background-image: url(../staunton/Renders/Glass/Scaled/White-Bishop.png);
}
body.is3d.Glass .orientation-black .bishop.white {
  background-image: url(../staunton/Renders/Glass/Scaled/White-Bishop-Flipped.png);
}
body.is3d.Glass .knight.white,
#top .is3d .cg-piece.Glass {
  background-image: url(../staunton/Renders/Glass/Scaled/White-Knight.png);
}
body.is3d.Glass .orientation-black .knight.white {
  background-image: url(../staunton/Renders/Glass/Scaled/White-Knight-Flipped.png);
}
body.is3d.Glass .rook.white {
  background-image: url(../staunton/Renders/Glass/Scaled/White-Rook.png);
}
body.is3d.Glass .queen.white {
  background-image: url(../staunton/Renders/Glass/Scaled/White-Queen.png);
}
body.is3d.Glass .king.white {
  background-image: url(../staunton/Renders/Glass/Scaled/White-King.png);
}
body.is3d.Glass .pawn.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-Pawn.png);
}
body.is3d.Glass .bishop.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-Bishop.png);
}
body.is3d.Glass .orientation-white .bishop.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-Bishop-Flipped.png);
}
body.is3d.Glass .knight.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-Knight.png);
}
body.is3d.Glass .orientation-white .knight.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-Knight-Flipped.png);
}
body.is3d.Glass .rook.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-Rook.png);
}
body.is3d.Glass .queen.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-Queen.png);
}
body.is3d.Glass .king.black {
  background-image: url(../staunton/Renders/Glass/Scaled/Black-King.png);
}
body.is3d.Wood .pawn.white {
  background-image: url(../staunton/Renders/Wood/Scaled/White-Pawn.png);
}
body.is3d.Wood .bishop.white {
  background-image: url(../staunton/Renders/Wood/Scaled/White-Bishop.png);
}
body.is3d.Wood .orientation-black .bishop.white {
  background-image: url(../staunton/Renders/Wood/Scaled/White-Bishop-Flipped.png);
}
body.is3d.Wood .knight.white,
#top .is3d .cg-piece.Wood {
  background-image: url(../staunton/Renders/Wood/Scaled/White-Knight.png);
}
body.is3d.Wood .orientation-black .knight.white {
  background-image: url(../staunton/Renders/Wood/Scaled/White-Knight-Flipped.png);
}
body.is3d.Wood .rook.white {
  background-image: url(../staunton/Renders/Wood/Scaled/White-Rook.png);
}
body.is3d.Wood .queen.white {
  background-image: url(../staunton/Renders/Wood/Scaled/White-Queen.png);
}
body.is3d.Wood .king.white {
  background-image: url(../staunton/Renders/Wood/Scaled/White-King.png);
}
body.is3d.Wood .pawn.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-Pawn.png);
}
body.is3d.Wood .bishop.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-Bishop.png);
}
body.is3d.Wood .orientation-white .bishop.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-Bishop-Flipped.png);
}
body.is3d.Wood .knight.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-Knight.png);
}
body.is3d.Wood .orientation-white .knight.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-Knight-Flipped.png);
}
body.is3d.Wood .rook.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-Rook.png);
}
body.is3d.Wood .queen.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-Queen.png);
}
body.is3d.Wood .king.black {
  background-image: url(../staunton/Renders/Wood/Scaled/Black-King.png);
}
body.is3d.Metal .pawn.white {
  background-image: url(../staunton/Renders/Metal/Scaled/White-Pawn.png);
}
body.is3d.Metal .bishop.white {
  background-image: url(../staunton/Renders/Metal/Scaled/White-Bishop.png);
}
body.is3d.Metal .orientation-black .bishop.white {
  background-image: url(../staunton/Renders/Metal/Scaled/White-Bishop-Flipped.png);
}
body.is3d.Metal .knight.white,
#top .is3d .cg-piece.Metal {
  background-image: url(../staunton/Renders/Metal/Scaled/White-Knight.png);
}
body.is3d.Metal .orientation-black .knight.white {
  background-image: url(../staunton/Renders/Metal/Scaled/White-Knight-Flipped.png);
}
body.is3d.Metal .rook.white {
  background-image: url(../staunton/Renders/Metal/Scaled/White-Rook.png);
}
body.is3d.Metal .queen.white {
  background-image: url(../staunton/Renders/Metal/Scaled/White-Queen.png);
}
body.is3d.Metal .king.white {
  background-image: url(../staunton/Renders/Metal/Scaled/White-King.png);
}
body.is3d.Metal .pawn.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-Pawn.png);
}
body.is3d.Metal .bishop.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-Bishop.png);
}
body.is3d.Metal .orientation-white .bishop.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-Bishop-Flipped.png);
}
body.is3d.Metal .knight.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-Knight.png);
}
body.is3d.Metal .orientation-white .knight.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-Knight-Flipped.png);
}
body.is3d.Metal .rook.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-Rook.png);
}
body.is3d.Metal .queen.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-Queen.png);
}
body.is3d.Metal .king.black {
  background-image: url(../staunton/Renders/Metal/Scaled/Black-King.png);
}
body.is3d.RedVBlue .pawn.white {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-Pawn.png);
}
body.is3d.RedVBlue .bishop.white {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-Bishop.png);
}
body.is3d.RedVBlue .orientation-black .bishop.white {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-Bishop-Flipped.png);
}
body.is3d.RedVBlue .knight.white,
#top .is3d .cg-piece.RedVBlue {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-Knight.png);
}
body.is3d.RedVBlue .orientation-black .knight.white {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-Knight-Flipped.png);
}
body.is3d.RedVBlue .rook.white {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-Rook.png);
}
body.is3d.RedVBlue .queen.white {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-Queen.png);
}
body.is3d.RedVBlue .king.white {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/White-King.png);
}
body.is3d.RedVBlue .pawn.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-Pawn.png);
}
body.is3d.RedVBlue .bishop.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-Bishop.png);
}
body.is3d.RedVBlue .orientation-white .bishop.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-Bishop-Flipped.png);
}
body.is3d.RedVBlue .knight.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-Knight.png);
}
body.is3d.RedVBlue .orientation-white .knight.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-Knight-Flipped.png);
}
body.is3d.RedVBlue .rook.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-Rook.png);
}
body.is3d.RedVBlue .queen.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-Queen.png);
}
body.is3d.RedVBlue .king.black {
  background-image: url(../staunton/Renders/RedVBlue/Scaled/Black-King.png);
}
body.is3d.Trimmed .pawn.white {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-Pawn.png);
}
body.is3d.Trimmed .bishop.white {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-Bishop.png);
}
body.is3d.Trimmed .orientation-black .bishop.white {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-Bishop-Flipped.png);
}
body.is3d.Trimmed .knight.white,
#top .is3d .cg-piece.Trimmed {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-Knight.png);
}
body.is3d.Trimmed .orientation-black .knight.white {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-Knight-Flipped.png);
}
body.is3d.Trimmed .rook.white {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-Rook.png);
}
body.is3d.Trimmed .queen.white {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-Queen.png);
}
body.is3d.Trimmed .king.white {
  background-image: url(../staunton/Renders/Trimmed/Scaled/White-King.png);
}
body.is3d.Trimmed .pawn.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-Pawn.png);
}
body.is3d.Trimmed .bishop.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-Bishop.png);
}
body.is3d.Trimmed .orientation-white .bishop.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-Bishop-Flipped.png);
}
body.is3d.Trimmed .knight.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-Knight.png);
}
body.is3d.Trimmed .orientation-white .knight.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-Knight-Flipped.png);
}
body.is3d.Trimmed .rook.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-Rook.png);
}
body.is3d.Trimmed .queen.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-Queen.png);
}
body.is3d.Trimmed .king.black {
  background-image: url(../staunton/Renders/Trimmed/Scaled/Black-King.png);
}
div.lichess_overboard {
  position: absolute;
  z-index: 199;
  width: 305px;
  top: 214px;
  left: 105px;
  padding: 15px 0 22px 0;
  font-size: 14px;
  line-height: 1.8em;
  text-decoration: none;
  background: #fff;
  box-shadow: 0 0 95px 25px rgba(0, 0, 0, 0.6);
  text-align: center;
}
div.lichess_overboard a.close {
  float: right;
  display: block;
  cursor: pointer;
  text-decoration: none;
  margin-top: -12px;
  margin-right: 6px;
  opacity: 0.4;
}
div.lichess_overboard a.close:hover {
  opacity: 1;
}
div.lichess_overboard .loader span {
  font-size: 50px;
  line-height: 103px;
}
div.lichess_overboard p.explanations {
  margin: 1.5em 10px 0 10px;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
}
div.premove_alert,
div.dont_touch {
  position: absolute;
  top: 0;
  left: 0;
  width: 512px;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  color: #fff;
  background: #d85000;
  z-index: 50;
}
#lichess_id_input {
  margin-top: 10px;
  width: 90%;
  text-align: center;
  font-size: 1.2em;
  padding: 1em 0;
}
#promotion_choice {
  position: absolute;
  top: 0;
  left: 0;
  width: 404px;
  height: 288px;
  background: rgba(250, 250, 250, 0.7);
  text-align: center;
  padding: 224px 0 0 108px;
  z-index: 5;
}
#promotion_choice div.cg-piece {
  float: left;
  position: static;
  padding: 5px;
  width: 54px;
  height: 54px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #b0b0b0;
  box-shadow: inset 0 0 25px 3px #808080;
  transition: all 0.3s;
}
body.is3d #promotion_choice div.cg-piece {
  background-position: 0 -6px;
}
#promotion_choice div.cg-piece:hover {
  padding: 15px;
  margin: -10px 0px;
  box-shadow: inset 0 0 15px 3px #909090;
  background-position: 0 84px;
}
body.is3d #promotion_choice div.cg-piece:hover {
  background-position: 0 98px;
}
div.lichess_join_url {
  display: none;
  background: none;
  border: none;
  margin: 1em 0 0 0;
}
div.lichess_join_url span {
  display: block;
  padding: 0.5em;
  background: #fff;
  margin-top: 1em;
  border: 1px solid #D4D4D4;
}
div.table_wrap {
  width: 242px;
  position: relative;
}
div.table {
  border: 1px solid #ccc;
  height: auto;
  padding: 10px;
}
div.table.spectator {
  top: 160px;
}
div.table_not_started {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 242px;
  border: none;
  padding: 0;
}
div.table div.username {
  display: inline-block;
}
div.table div.username span.status {
  display: inline-block;
  margin-left: 5px;
}
div.table div.username span.status:before {
  font-family: 'lichess';
  font-size: 17px;
  vertical-align: -4px;
  content: '0';
  color: #ac524f;
  opacity: 0.1;
}
div.table div.username.statused span.status:before {
  opacity: 1;
}
div.table div.username.connected span.status:before {
  content: '3';
  color: #759900;
}
div.table div.username a:hover {
  text-decoration: none;
}
div.table .button.strong {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}
div.table_wrap > div.clock {
  position: relative;
}
div.table_wrap > div.clock > div.bar {
  position: absolute;
  width: 242px;
  height: 4px;
}
div.table_wrap > div.clock_top > div.bar {
  bottom: -4px;
}
div.table_wrap > div.clock_bottom > div.bar {
  top: -4px;
}
div.table_wrap > div.clock > div.bar > span {
  display: block;
  height: 4px;
  width: 0px;
  background: #759900;
}
div.table_wrap > div.clock > div.time {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0 8px;
  font-size: 27px;
  font-family: monospace;
}
div.table_wrap > div.clock > div.time > span {
  font-size: 80%;
}
div.table_wrap > div.clock > div.time b {
  font-weight: bold;
}
div.table_wrap > div.clock.running > div.time {
  background: #fff077;
  color: #444;
}
div.table_wrap > div.clock.running.emerg > div.time {
  background-color: #eFAAAA;
  color: #444;
}
div.table_wrap > div.clock.outoftime > div.time {
  background-color: #eFAAAA;
  font-weight: bold;
  color: #444;
}
div.table_wrap > div.clock_top > div.time {
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
}
div.table_wrap > div.clock_bottom > div.time {
  border-top: 0;
  border-radius: 0 0 2px 2px;
}
div.table_wrap a.moretime {
  opacity: 0.4;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  right: 0;
  top: 0;
}
div.table_wrap a.moretime:hover {
  opacity: 1;
}
div.player_blurs {
  margin: 1em 0;
}
div.table_next {
  top: 145px;
}
div.separator {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}
div.control {
  margin: 10px 0;
  text-align: center;
  width: 100%;
}
div.control button {
  margin: auto;
}
div.control a.lichess_play_again {
  margin-left: 1em;
}
div.control div.lichess_play_again_join {
  text-align: left;
}
div.control div.lichess_play_again_join a.lichess_play_again {
  margin-left: 0;
  font-size: 150%;
  display: block;
}
div.control div.rematch_alert {
  margin-bottom: 1em;
}
div.control div.rematch_alert .button {
  margin-top: 1em;
}
div.control div.rematch_wait {
  margin-bottom: 1em;
}
div.control.icons .button {
  font-size: 16px;
  height: 34px;
  padding: 0 10px;
  margin: 0 3px;
}
div.control.icons .takeback span:before {
  display: inline-block;
  transform: translateY(1px);
}
div.control.icons .draw span:before {
  display: inline-block;
  transform: translateY(-1px) rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
div.control.icons .resign span:before {
  display: inline-block;
  transform: translateY(1px);
}
div.control.buttons .button {
  display: block;
  margin-bottom: 0.7em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
div.control .rematch.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
#claim_draw_zone,
div.force_resign_zone,
div.negotiation {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
#claim_draw_zone .button,
div.negotiation .button,
div.force_resign_zone .button {
  display: inline-block;
}
div.force_resign_zone {
  display: none;
}
div.separator {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}
div.current_player {
  height: 64px;
}
div.current_player div.player {
  position: absolute;
  margin-left: -5px;
}
div.current_player div.no-square {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
}
body.is3d div.current_player div.cg-piece {
  width: 100%;
  height: 132%;
  left: 0;
  top: -6px;
  background-size: cover;
  background-position: 0 67%;
}
div.current_player div.player p {
  height: 64px;
  line-height: 64px;
  font-size: 15px;
  font-weight: bold;
  color: #888;
  margin: 0 0 0 64px;
}
div.table.finished div.player p {
  line-height: 2em;
  font-size: 12px;
  margin-top: 12px;
}
div.cemetery {
  margin: 10px 0;
  height: 32px;
  line-height: 0;
}
div.cemetery .tomb {
  display: inline-block;
  margin-left: 10px;
}
div.cemetery .grave {
  margin-left: -10px;
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
}
div.cemetery .cg-piece {} body.pirouetti.light div.cemetery div.cg-piece.white {
  -webkit-filter: brightness(0.7) contrast(160%) drop-shadow(0 0 0.5px #000);
}
div.under_chat {
  width: 228px;
  margin: 10px 0 0 -30px;
}
div.under_chat .watchtv {
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-top: -24px;
}
#chat div.top {
  position: relative;
}
#chat div.top input.toggle_chat {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}
#chat .messages {
  height: 263px;
  overflow: hidden;
  overflow-y: auto;
}
#chat form {
  position: relative;
}
#chat form input {
  border: 0;
  border-top: 1px solid #ccc;
  padding: 2px 20px 2px 4px;
  width: 202px;
}
#chat a.send {
  position: absolute;
  top: 0px;
  right: 2px;
  padding-top: 3px;
  display: block;
  height: 16px;
  width: 16px;
  text-decoration: none;
  z-index: 1;
  opacity: 0.5;
}
#chat a.send:hover {
  opacity: 1;
}
#chat li {
  padding-left: 3px;
  line-height: 14px;
  margin: 0.6em 0 0.6em 3px;
}
#chat li.system {
  padding: 2px 0;
  margin-left: 0;
  text-align: center;
  white-space: nowrap;
  font-style: italic;
}
#chat span.title {
  padding-left: 3px;
}
#chat li span {
  font-weight: bold;
  margin-right: 6px;
  color: #aaa;
}
#chat a.user_link {
  padding: 0;
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
}
#chat a.user_link:hover {
  text-decoration: underline;
}
#chat.hidden ol.messages,
#chat.hidden form {
  opacity: 0;
}
div.game_tournament {
  max-height: 300px;
  overflow: hidden;
}
div.game_tournament:hover {
  overflow-y: auto;
}
div.game_tournament .clock {
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  margin: 10px 0;
}
div.game_tournament table.standing {
  border-bottom: none;
}
div.game_tournament table.standing tr.me td {
  background: #e4e4e4;
}
div.game_tournament table.standing td {
  padding: 0 10px;
  text-align: left;
  line-height: 2em;
}
div.game_tournament table.standing td.name span {
  display: inline-block;
  width: 20px;
}
div.game_tournament table.standing td.total {
  text-align: right;
}
span.inline_userlist {
  display: inline;
  color: #9a9a9a;
}
span.inline_userlist a {
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
}
span.inline_userlist a:hover {
  text-decoration: underline;
}
div.underboard {
  position: relative;
  width: 512px;
  text-align: center;
}
div.underboard a {
  display: inline-block;
}
div.underboard.replay_and_analyse a {
  font-size: 1.4em;
}
div.check_count span.player.color {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}
body.highlight #GameBoard td.highlightWhiteSquare img,
body.highlight #GameBoard td.highlightBlackSquare img,
body.highlight div.lcs.moved div.lcsi {
  background: -moz-radial-gradient(center, ellipse cover, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(155, 199, 00, 0.81)), color-stop(100%, rgba(155, 199, 00, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cfd85500', endColorstr='#00d85500', GradientType=1);
}
body.highlight div.lcs.check div.lcsi {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(25%, rgba(231, 0, 0, 1)), color-stop(89%, rgba(169, 0, 0, 0)), color-stop(100%, rgba(158, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#009e0000', GradientType=1);
}
div.lcs.premoved div.lcsi,
div.lcs.droppable-hover div.lcsi,
div.lichess_board div.lcs.selected div.lcsi,
div.lichess_board div.lcs.selectable div.lcsi,
div.checkmateFen .mini_board > div:hover,
#GameBoard td img.bestmove {
  box-shadow: inset 0 0 10px 2px rgba(216, 85, 0, 0.9);
}
