#board_editor {
  position: relative;
  min-height: 600px;
  padding-top: 5px;
}
#board_editor .cg-square.last-move {
  background-color: transparent;
}
#board_editor .cg-square.selected {
  background-color: rgba(20, 85, 30, 0.5);
}
#board_editor .spare {
  height: 64px;
  padding-left: 64px;
}
#board_editor .spare .no-square {
  position: relative;
  display:inline-block;
  width: 64px;
  height: 64px;
}
.is3d #board_editor .spare .no-square {
  height: 58.102px;
}
#board_editor .spare .cg-piece {
  cursor: pointer;
}
.is3d .spare .cg-piece {
  /* original size:
     width: 140.625%;
     height: 179.6875%; */
  /* size on 3D board, with height/width = 90.78571% */
  width: 100%;
  height: 140.7465%;
  left: 0%;
  top: -36%;
}
#editor-side {
  position: absolute;
  left: 552px;
  top: 114px;
  width: 228px;
}
#editor-side > div {
  margin-bottom: 3em;
  text-align: center;
}
#board_editor .button {
  display: block;
  text-align: center;
  margin-bottom: 1em;
}
#board_editor .button.disabled {
  opacity: 0.5;
}
#board_editor table td, #board_editor table th {
  padding: 5px;
  font-family: monospace;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
#board_editor .copyables > p {
  margin-top: 7px;
}
#board_editor .copyables .name {
  font-family: monospace;
  font-size: 1.2em;
  display: inline-block;
  width: 40px;
}
#board_editor .copyable {
  width: 462px;
}
#editor-side > div.color {
  margin-bottom: 1em;
}
#editor-side .castling label,
#editor-side .castling input {
  display:inline-block;
  margin: 3px;
  vertical-align: middle;
}
