.is3d .cg-board-wrap {
  position: relative;
  background-size: cover;
}
.is3d .cg-512 .cg-board-wrap {
  height: 479.08572px;
}
.is3d .cg-board {
  top: 0.6168702%;
  height: 97.0229%;
}
.is3d .is2d .cg-board {
  /* copy of board.css to override miniboards */
  top: 0;
  height: 100%;
}
body.coords_2 .is3d square[data-coord-x]::after {
  bottom: calc(-10px - 22%);
}
.is3d piece {
  /* original size:
  width: 140.625%;
  height: 179.6875%; */
  /* size on 3D board, with height/width = 90.78571% */
  width: 16.741%;
  height: 23.563%;
  left: -1.85%;
  top: -9.1%;
}
.is3d .is2d piece {
  /* copy of board.css to override miniboards */
  left: 0;
  top: 0;
  width: 12.5%;
  height: 12.5%;
}
.is3d #lichess {
  min-height: 479.08572px;
}
.is3d div.lichess_game {
  height: 479.08572px;
}
/* 3D boards */

.Black-White-Aluminium .is3d .cg-board-wrap,
#top .is3d .Black-White-Aluminium {
  background-image: url(../images/staunton/board/Black-White-Aluminium.png);
}
.Brushed-Aluminium .is3d .cg-board-wrap,
#top .is3d .Brushed-Aluminium {
  background-image: url(../images/staunton/board/Brushed-Aluminium.png);
}
.China-Blue .is3d .cg-board-wrap,
#top .is3d .China-Blue {
  background-image: url(../images/staunton/board/China-Blue.png);
}
.China-Green .is3d .cg-board-wrap,
#top .is3d .China-Green {
  background-image: url(../images/staunton/board/China-Green.png);
}
.China-Grey .is3d .cg-board-wrap,
#top .is3d .China-Grey {
  background-image: url(../images/staunton/board/China-Grey.png);
}
.China-Scarlet .is3d .cg-board-wrap,
#top .is3d .China-Scarlet {
  background-image: url(../images/staunton/board/China-Scarlet.png);
}
.China-Yellow .is3d .cg-board-wrap,
#top .is3d .China-Yellow {
  background-image: url(../images/staunton/board/China-Yellow.png);
}
.Classic-Blue .is3d .cg-board-wrap,
#top .is3d .Classic-Blue {
  background-image: url(../images/staunton/board/Classic-Blue.png);
}
.Transparent-Glass .is3d .cg-board-wrap,
#top .is3d .Transparent-Glass {
  background-image: url(../images/staunton/board/Glass.png);
}
.Gold-Silver .is3d .cg-board-wrap,
#top .is3d .Gold-Silver {
  background-image: url(../images/staunton/board/Gold-Silver.png);
}
.Green-Glass .is3d .cg-board-wrap,
#top .is3d .Green-Glass {
  background-image: url(../images/staunton/board/Green-Glass.png);
}
.Light-Wood .is3d .cg-board-wrap,
#top .is3d .Light-Wood {
  background-image: url(../images/staunton/board/Light-Wood.png);
}
.Power-Coated .is3d .cg-board-wrap,
#top .is3d .Power-Coated {
  background-image: url(../images/staunton/board/Power-Coated.png);
}
.Purple-Black .is3d .cg-board-wrap,
#top .is3d .Purple-Black {
  background-image: url(../images/staunton/board/Purple-Black.png);
}
.Rosewood .is3d .cg-board-wrap,
#top .is3d .Rosewood {
  background-image: url(../images/staunton/board/Rosewood.png);
}
.Wood-Glass .is3d .cg-board-wrap,
#top .is3d .Wood-Glass {
  background-image: url(../images/staunton/board/Wood-Glass.png);
}
.Wax .is3d .cg-board-wrap,
#top .is3d .Wax {
  background-image: url(../images/staunton/board/Wax.png);
}
.Jade .is3d .cg-board-wrap,
#top .is3d .Jade {
  background-image: url(../images/staunton/board/Jade.png);
}
.Marble .is3d .cg-board-wrap,
#top .is3d .Marble {
  background-image: url(../images/board/3d/marble.1024.png);
}
.Woodi .is3d .cg-board-wrap,
#top .is3d .Woodi {
  background-image: url(../images/board/3d/woodi.1024.png);
}
/* 3D pieces */
.Basic .is3d .pawn.white {
  background-image: url(../images/staunton/piece/Basic/White-Pawn.png);
}
.Basic .is3d .bishop.white {
  background-image: url(../images/staunton/piece/Basic/White-Bishop.png);
}
.Basic .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/Basic/White-Bishop-Flipped.png);
}
.Basic .is3d .knight.white,
#top .is3d piece.Basic {
  background-image: url(../images/staunton/piece/Basic/White-Knight.png);
}
.Basic .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/Basic/White-Knight-Flipped.png);
}
.Basic .is3d .rook.white {
  background-image: url(../images/staunton/piece/Basic/White-Rook.png);
}
.Basic .is3d .queen.white {
  background-image: url(../images/staunton/piece/Basic/White-Queen.png);
}
.Basic .is3d .king.white {
  background-image: url(../images/staunton/piece/Basic/White-King.png);
}
.Basic .is3d .pawn.black {
  background-image: url(../images/staunton/piece/Basic/Black-Pawn.png);
}
.Basic .is3d .bishop.black {
  background-image: url(../images/staunton/piece/Basic/Black-Bishop.png);
}
.Basic .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/Basic/Black-Bishop-Flipped.png);
}
.Basic .is3d .knight.black {
  background-image: url(../images/staunton/piece/Basic/Black-Knight.png);
}
.Basic .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/Basic/Black-Knight-Flipped.png);
}
.Basic .is3d .rook.black {
  background-image: url(../images/staunton/piece/Basic/Black-Rook.png);
}
.Basic .is3d .queen.black {
  background-image: url(../images/staunton/piece/Basic/Black-Queen.png);
}
.Basic .is3d .king.black {
  background-image: url(../images/staunton/piece/Basic/Black-King.png);
}
.Glass .is3d .pawn.white {
  background-image: url(../images/staunton/piece/Glass/White-Pawn.png);
}
.Glass .is3d .bishop.white {
  background-image: url(../images/staunton/piece/Glass/White-Bishop.png);
}
.Glass .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/Glass/White-Bishop-Flipped.png);
}
.Glass .is3d .knight.white,
#top .is3d piece.Glass {
  background-image: url(../images/staunton/piece/Glass/White-Knight.png);
}
.Glass .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/Glass/White-Knight-Flipped.png);
}
.Glass .is3d .rook.white {
  background-image: url(../images/staunton/piece/Glass/White-Rook.png);
}
.Glass .is3d .queen.white {
  background-image: url(../images/staunton/piece/Glass/White-Queen.png);
}
.Glass .is3d .king.white {
  background-image: url(../images/staunton/piece/Glass/White-King.png);
}
.Glass .is3d .pawn.black {
  background-image: url(../images/staunton/piece/Glass/Black-Pawn.png);
}
.Glass .is3d .bishop.black {
  background-image: url(../images/staunton/piece/Glass/Black-Bishop.png);
}
.Glass .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/Glass/Black-Bishop-Flipped.png);
}
.Glass .is3d .knight.black {
  background-image: url(../images/staunton/piece/Glass/Black-Knight.png);
}
.Glass .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/Glass/Black-Knight-Flipped.png);
}
.Glass .is3d .rook.black {
  background-image: url(../images/staunton/piece/Glass/Black-Rook.png);
}
.Glass .is3d .queen.black {
  background-image: url(../images/staunton/piece/Glass/Black-Queen.png);
}
.Glass .is3d .king.black {
  background-image: url(../images/staunton/piece/Glass/Black-King.png);
}
.Wood .is3d .pawn.white {
  background-image: url(../images/staunton/piece/Wood/White-Pawn.png);
}
.Wood .is3d .bishop.white {
  background-image: url(../images/staunton/piece/Wood/White-Bishop.png);
}
.Wood .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/Wood/White-Bishop-Flipped.png);
}
.Wood .is3d .knight.white,
#top .is3d piece.Wood {
  background-image: url(../images/staunton/piece/Wood/White-Knight.png);
}
.Wood .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/Wood/White-Knight-Flipped.png);
}
.Wood .is3d .rook.white {
  background-image: url(../images/staunton/piece/Wood/White-Rook.png);
}
.Wood .is3d .queen.white {
  background-image: url(../images/staunton/piece/Wood/White-Queen.png);
}
.Wood .is3d .king.white {
  background-image: url(../images/staunton/piece/Wood/White-King.png);
}
.Wood .is3d .pawn.black {
  background-image: url(../images/staunton/piece/Wood/Black-Pawn.png);
}
.Wood .is3d .bishop.black {
  background-image: url(../images/staunton/piece/Wood/Black-Bishop.png);
}
.Wood .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/Wood/Black-Bishop-Flipped.png);
}
.Wood .is3d .knight.black {
  background-image: url(../images/staunton/piece/Wood/Black-Knight.png);
}
.Wood .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/Wood/Black-Knight-Flipped.png);
}
.Wood .is3d .rook.black {
  background-image: url(../images/staunton/piece/Wood/Black-Rook.png);
}
.Wood .is3d .queen.black {
  background-image: url(../images/staunton/piece/Wood/Black-Queen.png);
}
.Wood .is3d .king.black {
  background-image: url(../images/staunton/piece/Wood/Black-King.png);
}
.Metal .is3d .pawn.white {
  background-image: url(../images/staunton/piece/Metal/White-Pawn.png);
}
.Metal .is3d .bishop.white {
  background-image: url(../images/staunton/piece/Metal/White-Bishop.png);
}
.Metal .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/Metal/White-Bishop-Flipped.png);
}
.Metal .is3d .knight.white,
#top .is3d piece.Metal {
  background-image: url(../images/staunton/piece/Metal/White-Knight.png);
}
.Metal .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/Metal/White-Knight-Flipped.png);
}
.Metal .is3d .rook.white {
  background-image: url(../images/staunton/piece/Metal/White-Rook.png);
}
.Metal .is3d .queen.white {
  background-image: url(../images/staunton/piece/Metal/White-Queen.png);
}
.Metal .is3d .king.white {
  background-image: url(../images/staunton/piece/Metal/White-King.png);
}
.Metal .is3d .pawn.black {
  background-image: url(../images/staunton/piece/Metal/Black-Pawn.png);
}
.Metal .is3d .bishop.black {
  background-image: url(../images/staunton/piece/Metal/Black-Bishop.png);
}
.Metal .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/Metal/Black-Bishop-Flipped.png);
}
.Metal .is3d .knight.black {
  background-image: url(../images/staunton/piece/Metal/Black-Knight.png);
}
.Metal .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/Metal/Black-Knight-Flipped.png);
}
.Metal .is3d .rook.black {
  background-image: url(../images/staunton/piece/Metal/Black-Rook.png);
}
.Metal .is3d .queen.black {
  background-image: url(../images/staunton/piece/Metal/Black-Queen.png);
}
.Metal .is3d .king.black {
  background-image: url(../images/staunton/piece/Metal/Black-King.png);
}
.RedVBlue .is3d .pawn.white {
  background-image: url(../images/staunton/piece/RedVBlue/White-Pawn.png);
}
.RedVBlue .is3d .bishop.white {
  background-image: url(../images/staunton/piece/RedVBlue/White-Bishop.png);
}
.RedVBlue .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/RedVBlue/White-Bishop-Flipped.png);
}
.RedVBlue .is3d .knight.white,
#top .is3d piece.RedVBlue {
  background-image: url(../images/staunton/piece/RedVBlue/White-Knight.png);
}
.RedVBlue .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/RedVBlue/White-Knight-Flipped.png);
}
.RedVBlue .is3d .rook.white {
  background-image: url(../images/staunton/piece/RedVBlue/White-Rook.png);
}
.RedVBlue .is3d .queen.white {
  background-image: url(../images/staunton/piece/RedVBlue/White-Queen.png);
}
.RedVBlue .is3d .king.white {
  background-image: url(../images/staunton/piece/RedVBlue/White-King.png);
}
.RedVBlue .is3d .pawn.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-Pawn.png);
}
.RedVBlue .is3d .bishop.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-Bishop.png);
}
.RedVBlue .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-Bishop-Flipped.png);
}
.RedVBlue .is3d .knight.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-Knight.png);
}
.RedVBlue .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-Knight-Flipped.png);
}
.RedVBlue .is3d .rook.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-Rook.png);
}
.RedVBlue .is3d .queen.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-Queen.png);
}
.RedVBlue .is3d .king.black {
  background-image: url(../images/staunton/piece/RedVBlue/Black-King.png);
}
.Trimmed .is3d .pawn.white {
  background-image: url(../images/staunton/piece/Trimmed/White-Pawn.png);
}
.Trimmed .is3d .bishop.white {
  background-image: url(../images/staunton/piece/Trimmed/White-Bishop.png);
}
.Trimmed .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/Trimmed/White-Bishop-Flipped.png);
}
.Trimmed .is3d .knight.white,
#top .is3d piece.Trimmed {
  background-image: url(../images/staunton/piece/Trimmed/White-Knight.png);
}
.Trimmed .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/Trimmed/White-Knight-Flipped.png);
}
.Trimmed .is3d .rook.white {
  background-image: url(../images/staunton/piece/Trimmed/White-Rook.png);
}
.Trimmed .is3d .queen.white {
  background-image: url(../images/staunton/piece/Trimmed/White-Queen.png);
}
.Trimmed .is3d .king.white {
  background-image: url(../images/staunton/piece/Trimmed/White-King.png);
}
.Trimmed .is3d .pawn.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-Pawn.png);
}
.Trimmed .is3d .bishop.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-Bishop.png);
}
.Trimmed .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-Bishop-Flipped.png);
}
.Trimmed .is3d .knight.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-Knight.png);
}
.Trimmed .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-Knight-Flipped.png);
}
.Trimmed .is3d .rook.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-Rook.png);
}
.Trimmed .is3d .queen.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-Queen.png);
}
.Trimmed .is3d .king.black {
  background-image: url(../images/staunton/piece/Trimmed/Black-King.png);
}
.Experimental .is3d .pawn.white {
  background-image: url(../images/staunton/piece/Experimental/White-Pawn.png);
}
.Experimental .is3d .bishop.white {
  background-image: url(../images/staunton/piece/Experimental/White-Bishop.png);
}
.Experimental .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/Experimental/White-Bishop-Flipped.png);
}
.Experimental .is3d .knight.white,
#top .is3d piece.Experimental {
  background-image: url(../images/staunton/piece/Experimental/White-Knight.png);
}
.Experimental .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/Experimental/White-Knight-Flipped.png);
}
.Experimental .is3d .rook.white {
  background-image: url(../images/staunton/piece/Experimental/White-Rook.png);
}
.Experimental .is3d .queen.white {
  background-image: url(../images/staunton/piece/Experimental/White-Queen.png);
}
.Experimental .is3d .king.white {
  background-image: url(../images/staunton/piece/Experimental/White-King.png);
}
.Experimental .is3d .pawn.black {
  background-image: url(../images/staunton/piece/Experimental/Black-Pawn.png);
}
.Experimental .is3d .bishop.black {
  background-image: url(../images/staunton/piece/Experimental/Black-Bishop.png);
}
.Experimental .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/Experimental/Black-Bishop-Flipped.png);
}
.Experimental .is3d .knight.black {
  background-image: url(../images/staunton/piece/Experimental/Black-Knight.png);
}
.Experimental .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/Experimental/Black-Knight-Flipped.png);
}
.Experimental .is3d .rook.black {
  background-image: url(../images/staunton/piece/Experimental/Black-Rook.png);
}
.Experimental .is3d .queen.black {
  background-image: url(../images/staunton/piece/Experimental/Black-Queen.png);
}
.Experimental .is3d .king.black {
  background-image: url(../images/staunton/piece/Experimental/Black-King.png);
}
.ModernJade .is3d .pawn.white {
  background-image: url(../images/staunton/piece/ModernJade/White-Pawn.png);
}
.ModernJade .is3d .bishop.white {
  background-image: url(../images/staunton/piece/ModernJade/White-Bishop.png);
}
.ModernJade .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/ModernJade/White-Bishop-Flipped.png);
}
.ModernJade .is3d .knight.white,
#top .is3d piece.ModernJade {
  background-image: url(../images/staunton/piece/ModernJade/White-Knight.png);
}
.ModernJade .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/ModernJade/White-Knight-Flipped.png);
}
.ModernJade .is3d .rook.white {
  background-image: url(../images/staunton/piece/ModernJade/White-Rook.png);
}
.ModernJade .is3d .queen.white {
  background-image: url(../images/staunton/piece/ModernJade/White-Queen.png);
}
.ModernJade .is3d .king.white {
  background-image: url(../images/staunton/piece/ModernJade/White-King.png);
}
.ModernJade .is3d .pawn.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-Pawn.png);
}
.ModernJade .is3d .bishop.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-Bishop.png);
}
.ModernJade .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-Bishop-Flipped.png);
}
.ModernJade .is3d .knight.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-Knight.png);
}
.ModernJade .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-Knight-Flipped.png);
}
.ModernJade .is3d .rook.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-Rook.png);
}
.ModernJade .is3d .queen.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-Queen.png);
}
.ModernJade .is3d .king.black {
  background-image: url(../images/staunton/piece/ModernJade/Black-King.png);
}
.ModernWood .is3d .pawn.white {
  background-image: url(../images/staunton/piece/ModernWood/White-Pawn.png);
}
.ModernWood .is3d .bishop.white {
  background-image: url(../images/staunton/piece/ModernWood/White-Bishop.png);
}
.ModernWood .is3d .cg-512 .orientation-black .bishop.white {
  background-image: url(../images/staunton/piece/ModernWood/White-Bishop-Flipped.png);
}
.ModernWood .is3d .knight.white,
#top .is3d piece.ModernWood {
  background-image: url(../images/staunton/piece/ModernWood/White-Knight.png);
}
.ModernWood .is3d .cg-512 .orientation-black .knight.white {
  background-image: url(../images/staunton/piece/ModernWood/White-Knight-Flipped.png);
}
.ModernWood .is3d .rook.white {
  background-image: url(../images/staunton/piece/ModernWood/White-Rook.png);
}
.ModernWood .is3d .queen.white {
  background-image: url(../images/staunton/piece/ModernWood/White-Queen.png);
}
.ModernWood .is3d .king.white {
  background-image: url(../images/staunton/piece/ModernWood/White-King.png);
}
.ModernWood .is3d .pawn.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-Pawn.png);
}
.ModernWood .is3d .bishop.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-Bishop.png);
}
.ModernWood .is3d .cg-512 .orientation-white .bishop.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-Bishop-Flipped.png);
}
.ModernWood .is3d .knight.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-Knight.png);
}
.ModernWood .is3d .cg-512 .orientation-white .knight.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-Knight-Flipped.png);
}
.ModernWood .is3d .rook.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-Rook.png);
}
.ModernWood .is3d .queen.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-Queen.png);
}
.ModernWood .is3d .king.black {
  background-image: url(../images/staunton/piece/ModernWood/Black-King.png);
}

.is3d #promotion_choice piece {
  width: 140.625%;
  height: 197.925%;
  top: 0;
  left: -18%;
  transform: scale(0.7) translateY(-45%);
  background-position: 0 -6px;
}

.is3d div.current_player piece {
  width: 100%;
  height: 132%;
  left: 0;
  top: -6px;
  background-size: cover;
  background-position: 0 67%;
}
