.cg-board-wrap coords {
  color: #fff;
  text-shadow: 0 1px 2px #000;
}
.cg-board-wrap coords.files {
  bottom: 0px;
  text-align: left;
}
.cg-board-wrap coords.files coord {
  padding-left: 2px;
}
.cg-board-wrap coords.ranks {
  right: -4px;
  text-align: left;
}
.cg-board-wrap coords.ranks coord {
  transform: none;
}
.brown coord, .green coord, .blue coord {
  text-shadow: none;
}
.brown .orientation-white .files coords:nth-child(2n+1),
.brown .orientation-white .ranks coords:nth-child(2n),
.brown .orientation-black .files coords:nth-child(2n),
.brown .orientation-black .ranks coords:nth-child(2n+1) {
  color: #F0D9B5;
}
.brown .orientation-white .files coord:nth-child(2n),
.brown .orientation-white .ranks coord:nth-child(2n+1),
.brown .orientation-black .files coord:nth-child(2n+1),
.brown .orientation-black .ranks coord:nth-child(2n) {
  color: #946f51;
}
.green .orientation-white .files coords:nth-child(2n+1),
.green .orientation-white .ranks coords:nth-child(2n),
.green .orientation-black .files coords:nth-child(2n),
.green .orientation-black .ranks coords:nth-child(2n+1) {
  color: #FFFFDD;
}
.green .orientation-white .files coord:nth-child(2n),
.green .orientation-white .ranks coord:nth-child(2n+1),
.green .orientation-black .files coord:nth-child(2n+1),
.green .orientation-black .ranks coord:nth-child(2n) {
  color: #6d8753;
}
.blue .orientation-white .files coords:nth-child(2n+1),
.blue .orientation-white .ranks coords:nth-child(2n),
.blue .orientation-black .files coords:nth-child(2n),
.blue .orientation-black .ranks coords:nth-child(2n+1) {
  color: #DEE3E6;
}
.blue .orientation-white .files coord:nth-child(2n),
.blue .orientation-white .ranks coord:nth-child(2n+1),
.blue .orientation-black .files coord:nth-child(2n+1),
.blue .orientation-black .ranks coord:nth-child(2n) {
  color: #788a94;
}
