div.lichess_board_wrap {
  float: left;
  border: 1px solid #ccc;
  position: relative;
}
span.board_mark {
  position: absolute;
  text-transform: uppercase;
  font-size: 10px;
  color: #bbb;
  font-weight: bold;
}
span.board_mark.vert {
  right: -10px;
}
span.board_mark.horz {
  bottom: -14px;
}
div.lichess_board {
  width: 512px;
  height: 512px;
  position: relative;
}
div.lichess_board,
#GameBoard,
#chessboard .board-b72b1,
.mini_board,
#top div.color_demo {
  background-size: contain;
}
div.lcs {
  position: absolute;
  width: 64px;
  height: 64px;
}
body.blue div.lichess_board,
body.blue #GameBoard,
body.blue #chessboard .board-b72b1,
body.blue .mini_board,
#top div.color_demo.blue {
  background-image: url(../images/board/blue.png);
}
body.brown div.lichess_board,
body.brown #GameBoard,
body.brown #chessboard .board-b72b1,
body.brown .mini_board,
#top div.color_demo.brown {
  background-image: url(../images/board/brown.png);
}
body.green div.lichess_board,
body.green #GameBoard,
body.green #chessboard .board-b72b1,
body.green .mini_board,
#top div.color_demo.green {
  background-image: url(../images/board/green.png);
}
body.yellow div.lichess_board,
body.yellow #GameBoard,
body.yellow #chessboard .board-b72b1,
body.yellow .mini_board,
#top div.color_demo.yellow {
  background-image: url(../images/board/yellow.png);
}
body.purple div.lichess_board,
body.purple #GameBoard,
body.purple #chessboard .board-b72b1,
body.purple .mini_board,
#top div.color_demo.purple {
  background-image: url(../images/board/purple.png);
}
body.grey div.lichess_board,
body.grey #GameBoard,
body.grey #chessboard .board-b72b1,
body.grey .mini_board,
#top div.color_demo.grey {
  background-image: url(../images/board/grey.png);
}
body.wood div.lichess_board,
body.wood #GameBoard,
body.wood #chessboard .board-b72b1,
body.wood .mini_board,
#top div.color_demo.wood {
  background-image: url(../images/board/wood3-512.jpg);
}
body.canvas div.lichess_board,
body.canvas #GameBoard,
body.canvas #chessboard .board-b72b1,
body.canvas .mini_board,
#top div.color_demo.canvas {
  background-image: url(../images/board/canvas2-512.jpg);
}
body.leather div.lichess_board,
body.leather #GameBoard,
body.leather #chessboard .board-b72b1,
body.leather .mini_board,
#top div.color_demo.leather {
  background-image: url(../images/board/leather-512.jpg);
}
@media

only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {
  body.wood div.lichess_board, body.wood #GameBoard, body.wood #chessboard .board-b72b1, body.wood .mini_board, #top div.color_demo.wood {
    background-image: url(../images/board/wood3-1024.jpg);
  }
  body.canvas div.lichess_board,
  body.canvas #GameBoard,
  body.canvas #chessboard .board-b72b1,
  #top div.color_demo.canvas {
    background-image: url(../images/board/canvas2-1024.jpg);
  }
  body.leather div.lichess_board,
  body.leather #GameBoard,
  body.leather #chessboard .board-b72b1,
  body.leather .mini_board,
  #top div.color_demo.leather {
    background-image: url(../images/board/leather-1024.jpg);
  }
}
div.lcsi {
  position: absolute;
  width: 64px;
  height: 64px;
}
div.lichess_board div.lcs.selected div.lcsi,
div.lichess_board div.lcs.selectable div.lcsi {
  cursor: pointer;
}
div.piece {
  position: absolute;
  width: 64px;
  height: 64px;
  background-size: cover;
}
div.piece.ui-draggable-dragging {
  z-index: 999;
}
div.my_turn div.piece.ui-draggable {
  cursor: move;
}
div.pawn.white {
  background-image: url(../images/piece/wP.svg);
}
div.bishop.white {
  background-image: url(../images/piece/wB.svg);
}
div.knight.white {
  background-image: url(../images/piece/wN.svg);
}
div.rook.white {
  background-image: url(../images/piece/wR.svg);
}
div.queen.white {
  background-image: url(../images/piece/wQ.svg);
}
div.king.white {
  background-image: url(../images/piece/wK.svg);
}
div.pawn.black {
  background-image: url(../images/piece/bP.svg);
}
div.bishop.black {
  background-image: url(../images/piece/bB.svg);
}
div.knight.black {
  background-image: url(../images/piece/bN.svg);
}
div.rook.black {
  background-image: url(../images/piece/bR.svg);
}
div.queen.black {
  background-image: url(../images/piece/bQ.svg);
}
div.king.black {
  background-image: url(../images/piece/bK.svg);
}
div.lichess_game_not_started {
  position: relative;
}
div.lichess_overboard {
  position: absolute;
  z-index: 199;
  width: 305px;
  top: 214px;
  left: 105px;
  padding: 15px 0 22px 0;
  font-size: 14px;
  line-height: 1.8em;
  text-decoration: none;
  background: #FFF;
  box-shadow: 0px 0px 30px #444;
  text-align: center;
}
div.lichess_overboard a.close {
  float: right;
  display: block;
  cursor: pointer;
  text-decoration: none;
  margin-top: -12px;
  margin-right: 6px;
  opacity: 0.4;
}
div.lichess_overboard a.close:hover {
  opacity: 1;
}
div.lichess_overboard p.explanations {
  margin-top: 1em;
  font-size: 12px;
  line-height: 1.4em;
  text-align: left;
  padding-left: 1em;
}
#premove_alert,
#dont_touch {
  display: none;
  position: absolute;
  top: 512px;
  left: 0px;
  width: 512px;
  text-align: center;
  padding: 5px 0;
  border: 1px solid #ccc;
  font-weight: bold;
  color: #fff;
  background: #d85000;
  z-index: 50;
}
#lichess_id_input {
  margin-top: 10px;
  width: 90%;
  text-align: center;
  font-size: 1.2em;
  padding: 1em 0;
}
div.promotion_choice {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 404px;
  height: 288px;
  background: #fff;
  opacity: 0.8;
  text-align: center;
  padding: 224px 0 0 108px;
}
div.promotion_choice div.piece {
  float: left;
  position: static;
  padding: 5px;
  width: 54px;
  height: 54px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 0 4px #444;
}
div.promotion_choice div.piece:hover {
  box-shadow: 0 0 10px #d85000;
}
div.lichess_join_url {
  display: none;
  background: none;
  border: none;
  margin: 1em 0 0 0;
}
div.lichess_join_url span {
  display: block;
  padding: 0.5em;
  background: #fff;
  margin-top: 1em;
  border: 1px solid #D4D4D4;
}
div.lichess_ground {
  position: relative;
  margin-left: 532px;
  height: 514px;
}
div.lichess_table_wrap {
  position: absolute;
  top: 176px;
  left: 0px;
  width: 242px;
}
div.lichess_table {
  border: 1px solid #ccc;
  height: auto;
  padding: 10px;
}
div.lichess_table.spectator {
  top: 160px;
}
div.lichess_table_not_started {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 242px;
  border: none;
  padding: 0;
}
div.lichess_table div.username {
  display: inline-block;
}
div.lichess_table div.username span.status {
  display: inline-block;
  margin-left: 5px;
}
div.lichess_table div.username span.status:before {
  font-family: 'lichess';
  font-size: 17px;
  vertical-align: -4px;
  content: '0';
  color: #ac524f;
}
div.lichess_table div.username.connected span.status:before {
  content: '3';
  color: #759900;
}
div.lichess_table div.username a:hover {
  text-decoration: none;
}
div.lichess_table a.button.strong {
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 1.2em;
}
div.lichess_table_wrap > div.clock {
  position: relative;
}
div.lichess_table_wrap > div.clock > div.bar {
  position: absolute;
  width: 242px;
  height: 4px;
}
div.lichess_table_wrap > div.clock_top > div.bar {
  bottom: -4px;
}
div.lichess_table_wrap > div.clock_bottom > div.bar {
  top: -4px;
}
div.lichess_table_wrap > div.clock > div.bar > span {
  display: block;
  height: 4px;
  width: 0px;
  background: #759900;
}
div.lichess_table_wrap > div.clock > div.time {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 4px 10px 2px 10px;
  font-size: 22px;
  font-family: monospace;
  font-weight: bold;
}
div.lichess_table_wrap > div.clock > div.time > span {
  font-size: 80%;
}
div.lichess_table_wrap > div.clock.running > div.time {
  background: #fff077;
  color: #444;
}
div.lichess_table_wrap > div.clock.running.emerg > div.time {
  background-color: #eFAAAA;
  color: #444;
}
div.lichess_table_wrap > div.clock.outoftime > div.time {
  background-color: #eFAAAA;
  font-weight: bold;
  color: #444;
}
div.lichess_table_wrap > div.clock_top > div.time {
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
}
div.lichess_table_wrap > div.clock_bottom > div.time {
  border-top: 0;
  border-radius: 0 0 4px 4px;
}
div.lichess_table_wrap a.moretime {
  opacity: 0.4;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  right: 0px;
  top: 3px;
}
div.lichess_table_wrap a.moretime:hover {
  opacity: 1;
}
div.player_blurs {
  margin: 1em 0;
}
div.lichess_table_next {
  top: 145px;
}
div.lichess_separator {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}
div.lichess_control {
  margin: 10px 0 10px 3px;
  text-align: center;
  width: 100%;
}
div.lichess_control a {
  font-size: 90%;
}
div.lichess_control a.lichess_play_again {
  margin-left: 1em;
}
div.lichess_control div.lichess_play_again_join {
  text-align: left;
}
div.lichess_control div.lichess_play_again_join a.lichess_play_again {
  margin-left: 0;
  font-size: 150%;
  display: block;
}
div.lichess_control div.rematch_alert {
  background: url(../images/rematch.gif) center left no-repeat;
  padding-left: 60px;
  margin-bottom: 1em;
}
div.lichess_control div.rematch_wait {
  margin-bottom: 1em;
}
div.lichess_control a.lichess_resign,
div.lichess_control a.lichess_abort,
div.lichess_control a.propose_takeback,
div.lichess_control a.offer_draw {
  display: inline-block;
  margin: 0 -3px 0 -3px;
  font-weight: normal;
}
div.lichess_control a.offer_draw:before {
  display: inline-block;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-size: 1.1em;
  vertical-align: -2px;
}
div.lichess_control.buttons a.button {
  display: block;
  margin-bottom: 0.7em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
#claim_draw_zone,
div.force_resign_zone,
div.proposed_takeback,
div.offered_draw {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}
div.offered_draw .button {
  display: inline-block;
}
div.force_resign_zone {
  display: none;
}
div.force_resign_zone .button {
  display:inline-block;
}
div.lichess_separator {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}
div.lichess_table .lichess_button {
  margin: 2.5em 0 0 0;
  font-size: 1.3em;
  padding: 1em;
  text-align: center;
  display: block;
  letter-spacing: -1px;
}
div.lichess_current_player {
  height: 64px;
}
div.lichess_current_player div.lichess_player {
  position: absolute;
  margin-left: -5px;
}
div.lichess_current_player div.lichess_player div.piece {
  top: 0;
  left: 0;
}
div.lichess_current_player div.lichess_player p {
  height: 64px;
  line-height: 64px;
  font-size: 15px;
  font-weight: bold;
  color: #888;
  margin: 0 0 0 64px;
}
div.lichess_table.finished div.lichess_player p {
  line-height: 2em;
  font-size: 12px;
  margin-top: 12px;
}
div.lichess_cemetery {
  height: 108px;
  width: 262px;
  position: absolute;
  left: 0px;
}
div.lichess_game.hide_captured div.lichess_cemetery {
  display: none;
}
div.lichess_cemetery_top {
  top: 0;
  margin-bottom: 10px;
}
div.lichess_cemetery_bottom {
  bottom: 0;
  margin-top: 10px;
}
div.lichess_cemetery div.lichess_tomb {
  display: block;
  float: left;
  margin: -5px -16px;
  width: 64px;
  height: 64px;
}
div.lichess_cemetery div.piece {
  opacity: 0.5;
}
div.under_chat {
  width: 224px;
  margin-left: -28px;
  position: absolute;
  top: 529px;
  left: 0;
}
div.under_chat .watchtv {
  display: block;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-top: -24px;
}
#chat {
  font-size: 11.5px;
  position: absolute;
  top: 205px;
  left: 0;
  width: 228px;
  margin-left: -30px;
}
#chat div.top {
  border: 1px solid #ccc;
  padding: 3px 5px;
}
#chat div.top span.title {
  font-weight: bold;
  color: #999;
}
#chat div.top span.title span {
  font-weight: normal;
}
#chat input.toggle_chat {
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}
#chat .messages {
  height: 263px;
  border: 1px solid #ccc;
  border-top: none;
  overflow: hidden;
  overflow-y: auto;
}
#chat form {
  position: relative;
}
#chat form input {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 2px 20px 2px 4px;
  width: 202px;
}
#chat a.send {
  position: absolute;
  top: 0px;
  right: 2px;
  padding-top: 3px;
  display: block;
  height: 16px;
  width: 16px;
  text-decoration: none;
  z-index: 1;
  opacity: 0.5;
}
#chat a.send:hover {
  opacity: 1;
}
#chat li {
  padding-left: 3px;
  line-height: 14px;
  margin: 0.6em 0 0.6em 3px;
}
#chat li.system {
  padding: 2px 0;
  margin-left: 0;
  text-align: center;
  white-space: nowrap;
  font-style: italic;
}
#chat span.title {
  padding-left: 3px;
}
#chat li span {
  font-weight: bold;
  margin-right: 6px;
  color: #aaa;
}
#chat a.user_link {
  padding: 0;
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
}
#chat a.user_link:hover {
  text-decoration: underline;
}
#chat.hidden ol.messages,
#chat.hidden form {
  opacity: 0;
}
div.game_tournament {
  text-align: center;
  line-height: 2em;
}
div.game_tournament .title {
  display: block;
  font-weight: bold;
}
div.game_tournament .clock {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
}
span.inline_userlist {
  display: inline;
  color: #9a9a9a;
}
span.inline_userlist a {
  color: #aaa;
  text-decoration: none;
  font-weight: bold;
}
span.inline_userlist a:hover {
  text-decoration: underline;
}
div.underboard {
  width: 512px;
  margin-top: 20px;
  text-align: center;
}
div.underboard a {
  display: inline-block;
}
div.underboard.replay_and_analyse a {
  font-size: 1.4em;
}
/* chessboardjs */

#chessboard {
  width: 520px;
}
#chessboard div.board-b72b1 {
  border: 1px solid #c0c0c0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 512px;
}
#chessboard div.square-55d63 {
  float: left;
  position: relative;
  /* disable any native browser highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#chessboard div.last,
#GameBoard td.highlightWhiteSquare img,
#GameBoard td.highlightBlackSquare img,
div.lcs.moved div.lcsi {
  background: -moz-radial-gradient(center, ellipse cover, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(155, 199, 00, 0.81)), color-stop(100%, rgba(155, 199, 00, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#cfd85500', endColorstr='#00d85500', GradientType=1);
}
#chessboard div.check,
div.lcs.check div.lcsi {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 0, 0, 1)), color-stop(25%, rgba(231, 0, 0, 1)), color-stop(89%, rgba(169, 0, 0, 0)), color-stop(100%, rgba(158, 0, 0, 0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#009e0000', GradientType=1);
}
#chessboard div.square-55d63:hover,
#chessboard div.highlight2-9c5d2,
div.my_turn.not_spectator div.lcs:hover div.lcsi,
div.lcs.premoved div.lcsi,
div.lcs.droppable-hover div.lcsi,
div.lichess_board div.lcs.selected div.lcsi,
div.lichess_board div.lcs.selectable div.lcsi,
div.checkmateFen .mini_board > div:hover,
#GameBoard td img.bestmove {
  box-shadow: inset 0 0 10px 2px rgba(216, 85, 0, 0.9);
}
