.cg-board {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
}
.cg-square {
  position: absolute;
  width: 12.5%;
  height: 12.5%;
}
.cg-square[data-coord-x]::after,
.cg-square[data-coord-y]::before {
  position: absolute;
  font-size: 11px;
  line-height: 11px;
  color: #fff;
  text-shadow: 0 1px 2px #000;
  opacity: 0.7;
  text-transform: uppercase;
}
.cg-square[data-coord-x]::after {
  content: attr(data-coord-x);
  left: 1px;
  bottom: 1px;
}
.cg-square[data-coord-y]::before {
  content: attr(data-coord-y);
  right: 1px;
  top: 1px;
}
.cg-square.move-dest {
  background: radial-gradient(rgba(20, 85, 30, 0.3) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
  cursor: pointer;
}
.cg-square.occupied.move-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
}
/* .cg-square.occupied.move-dest .cg-piece::after { */
/*   content: ''; */
/*   position: absolute; */
/*   width: 100%; */
/*   height: 100%; */
/*   background: radial-gradient(rgba(20, 85, 30, 0.5) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0); */
/* } */
.cg-square.premove-dest {
  background: radial-gradient(rgba(20, 30, 85, 0.3) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
.cg-square.occupied.premove-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.3) 80%);
}
.cg-square.move-dest.drag-over,
.cg-square.move-dest:hover {
  background: rgba(20, 85, 30, 0.3);
}
/* .cg-square.move-dest.drag-over .cg-piece::after, */
/* .cg-square.move-dest:hover .cg-piece::after { */
/*   background: none; */
/* } */
.cg-square.selected {
  background-color: rgba(20, 85, 30, 0.5);
}
.cg-square.last-move {
  background-color: rgba(155, 199, 0, 0.41);
}
.cg-square.check {
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
}
.cg-square.current-premove {
  background-color: rgba(20, 30, 85, 0.5);
}
.cg-piece {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 3;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
}
.cg-piece.dragging {
  z-index: 9;
  cursor: move;
}
.cg-piece.fading {
  z-index: 2;
}
.cg-piece.ghost {
  opacity: 0.3;
}
