#coach_side {
  margin-top: 20px;
  margin-left: -30px;
  width: 241px;
}
@media (max-width: 1070px) {
#coach_side {
  margin-left: 0px;
  width: 211px;
}
}
#coach_side .navigation {
  text-transform: capitalize;
}
#coach_side .navigation a {
  display: block;
  padding: 5px 10px 5px 5px;
  text-decoration: none;
  border-left: 2px solid transparent;
  transition: background 0.13s, border 0.13s;
}

#coach_opening table {
  margin-top: 20px;
}
#coach_opening table thead th {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#coach_opening table .name {
  font-weight: bold;
}
