/* line 3, ../sass/common.scss */
.none {
  display: none;
}

/* line 7, ../sass/common.scss */
.s16 {
  padding-left: 20px;
  background: transparent url(../images/s16.png) top left no-repeat;
}

/* line 12, ../sass/common.scss */
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #848484;
  background: #f7f7f7 url(../images/head_bg.png) top left repeat-x;
  background-position: left25px;
}

/* line 20, ../sass/common.scss */
a, a:visited {
  color: #848484;
  text-decoration: underline;
  cursor: pointer;
}

/* line 26, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 30, ../sass/common.scss */
strong {
  font-weight: bold;
}

/* line 34, ../sass/common.scss */
.small {
  font-size: 11.5px;
}

/* line 38, ../sass/common.scss */
div.header {
  width: 200px;
  float: left;
  position: relative;
}

/* line 43, ../sass/common.scss */
body.tight div.header {
  display: none;
}

/* line 46, ../sass/common.scss */
div.header strong {
  font-weight: normal;
}

/* line 50, ../sass/common.scss */
body > div.content {
  width: 1005px;
  min-height: 590px;
  height: auto !important;
  height: 590px;
  margin: 30px auto 30px auto;
}

/* line 55, ../sass/common.scss */
body.tight > div.content {
  width: auto;
  min-width: 780px;
  width: auto !important;
  width: 780px;
  margin-top: 5px;
}

/* line 61, ../sass/common.scss */
#top {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  min-width: 1005px;
  width: auto !important;
  width: 1005px;
  height: 24px;
  border-bottom: 1px solid #c4c4c4;
}
/* line 68, ../sass/common.scss */
body.tight #top {
  min-width: 780px;
  width: auto !important;
  width: 780px;
  overflow: hidden;
}

/* line 73, ../sass/common.scss */
#site_description {
  position: absolute;
  top: -100px;
}

/* line 78, ../sass/common.scss */
#lichess {
  margin-left: 211px;
}
/* line 81, ../sass/common.scss */
#lichess #lichess {
  margin-left: 10px;
}

/* line 86, ../sass/common.scss */
#site_title {
  width: 130px;
  color: #666;
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  color: #afafaf;
  text-decoration: none;
  display: block;
  margin-bottom: 3px;
}
/* line 96, ../sass/common.scss */
body.tight #site_title {
  margin-left: 10px;
}
/* line 100, ../sass/common.scss */
#site_title span.extension {
  color: #c8c8c8;
  font-weight: normal;
}
/* line 105, ../sass/common.scss */
#site_title:hover {
  color: #8899aa;
}
/* line 108, ../sass/common.scss */
#site_title:hover span.extension {
  color: #99aabb;
}

/* line 115, ../sass/common.scss */
#site_baseline {
  font-style: italic;
  color: #afafaf;
}
/* line 119, ../sass/common.scss */
body.tight #site_baseline {
  display: none;
}

/* line 124, ../sass/common.scss */
div.footer_wrap {
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background: #EEE;
  padding: 20px 0;
  display: block;
}

/* line 133, ../sass/common.scss */
div.footer {
  width: 1000px;
  margin: auto;
  line-height: 2em;
}
/* line 138, ../sass/common.scss */
body.tight div.footer {
  width: auto;
  padding: 0 10px;
}
/* line 143, ../sass/common.scss */
div.footer div.right {
  float: right;
  text-align: right;
}

/* line 149, ../sass/common.scss */
.button, a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dadada;
  padding: 0.4em 1em;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
}

/* line 158, ../sass/common.scss */
a.easy_button {
  font-weight: normal;
}

/* line 162, ../sass/common.scss */
div.content_box {
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: white;
  padding: 20px 24px 24px 24px;
  text-align: left;
}
/* line 169, ../sass/common.scss */
div.content_box h1 {
  font-size: 1.8em;
  color: #666;
  font-weight: normal;
  display: inline;
}
/* line 175, ../sass/common.scss */
div.content_box.small_box {
  width: 530px;
}
/* line 178, ../sass/common.scss */
div.content_box.no_padding {
  padding: 0;
}
/* line 181, ../sass/common.scss */
div.content_box.no_padding h1 {
  display: block;
  padding: 20px 25px;
}

/* line 188, ../sass/common.scss */
.content_box_title {
  padding: 20px 25px 0 25px;
}

/* line 192, ../sass/common.scss */
div.content_box_top {
  padding-left: 25px;
  height: 40px;
  line-height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #cccccc;
}
/* line 199, ../sass/common.scss */
div.content_box_top a {
  float: right;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 40px;
  padding: 0 12px;
  border-left: 1px solid #cccccc;
}
/* line 209, ../sass/common.scss */
div.content_box_top .link:hover {
  background: white;
}
/* line 213, ../sass/common.scss */
div.content_box_top h1.lichess_title {
  display: inline;
  padding: 0;
}
/* line 218, ../sass/common.scss */
div.content_box_top .icon {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  background: transparent url(/assets/images/s16.png) top left no-repeat;
  margin: 12px 8px 0 -10px;
}

/* line 228, ../sass/common.scss */
.content_box_content {
  padding: 20px 25px 25px 25px;
}

/* line 232, ../sass/common.scss */
div.content_box_inter {
  padding-left: 25px;
  line-height: 40px;
  background: #f0f0f0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: block;
}
/* line 240, ../sass/common.scss */
div.content_box_inter a {
  float: left;
  line-height: 40px;
  margin: 5px 0 -1px 0;
  padding: 0 0.7em;
  font-size: 1.2em;
  text-decoration: none;
}
/* line 248, ../sass/common.scss */
div.content_box_inter a.active {
  background: white;
  border: 1px solid #cccccc;
  border-bottom: 0;
  text-decoration: none;
}

/* line 259, ../sass/common.scss */
div.content_box .lichess_title {
  font-size: 2em;
  display: block;
  margin-bottom: 0.5em;
}
/* line 265, ../sass/common.scss */
div.content_box table.datatable {
  width: 100%;
  margin-top: 20px;
}
/* line 269, ../sass/common.scss */
div.content_box table.datatable td {
  padding: 5px 10px;
}
/* line 273, ../sass/common.scss */
div.content_box table.datatable tr:nth-child(odd) {
  background: #f7f7f7;
}

/* line 279, ../sass/common.scss */
table.slist {
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
}
/* line 283, ../sass/common.scss */
table.slist thead th {
  border-top: 1px solid #d4d4d4;
  padding: 0.4em 0.6em;
}
/* line 287, ../sass/common.scss */
table.slist thead th.large {
  font-size: 1.4em;
}
/* line 292, ../sass/common.scss */
table.slist td {
  padding: 0.6em;
  font-size: 1.2em;
}
/* line 296, ../sass/common.scss */
table.slist td .label {
  font-family: monospace;
  font-size: 10px;
}
/* line 302, ../sass/common.scss */
table.slist tbody tr:nth-child(even) {
  background: #f4f4f4;
}
/* line 307, ../sass/common.scss */
table.slist td:first-child, table.slist th:first-child {
  padding-left: 25px;
}
/* line 312, ../sass/common.scss */
table.slist .s16 {
  display: block;
  height: 16px;
  padding: 0 0 0 20px;
}

/* line 320, ../sass/common.scss */
div.lichess_goodies div.box {
  margin-top: 1em;
  margin-left: -30px;
  width: 212px;
  border: 1px solid silver;
  padding: 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 7px #d0d0d0;
  -moz-box-shadow: 0 0 7px #d0d0d0;
  box-shadow: 0 0 7px #d0d0d0;
}
/* line 329, ../sass/common.scss */
div.lichess_goodies div.box .player {
  margin: 4px 0;
}

/* line 334, ../sass/common.scss */
div.header div.side_menu {
  margin-top: 15px;
}
/* line 337, ../sass/common.scss */
div.header div.side_menu a {
  padding: 8px 0 8px 8px;
  display: block;
  text-decoration: none;
  width: 203px;
  font-weight: bold;
}
/* line 344, ../sass/common.scss */
div.header div.side_menu a.active {
  background: white;
  border: 1px solid #dadada;
  border-right: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: -3px 0 5px #d0d0d0;
  -moz-box-shadow: -3px 0 5px #d0d0d0;
  box-shadow: -3px 0 5px #d0d0d0;
}

/* line 354, ../sass/common.scss */
body.tight div.side_menu a {
  padding-right: 10px;
}

/* line 358, ../sass/common.scss */
#nb_connected_players, a.goto_nav, #top a.toggle, #top a.bgpicker, a#sound_state {
  text-decoration: none;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  text-decoration: none;
}

/* line 366, ../sass/common.scss */
#nb_connected_players {
  float: left;
  color: #999;
  border-left: 1px solid #cccccc;
}

/* line 371, ../sass/common.scss */
a.goto_nav {
  float: left;
}

/* line 374, ../sass/common.scss */
a.goto_nav:hover, #top a.toggle:hover, #top a.bgpicker:hover, a#sound_state:hover {
  background: white;
}

/* line 377, ../sass/common.scss */
#top .s16 {
  display: block;
  height: 16px;
  margin-top: 4px;
  line-height: 16px;
}

/* line 383, ../sass/common.scss */
#top span.new_messages {
  padding: 1px 5px 1px 4px;
  background: #bbb;
  color: white;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 0.9em;
}
/* line 391, ../sass/common.scss */
#top span.new_messages.unread {
  font-size: 1em;
}

/* line 396, ../sass/common.scss */
#top .shown a.toggle {
  background: white;
}

/* line 399, ../sass/common.scss */
#top div.auth {
  float: right;
  position: relative;
}
/* line 405, ../sass/common.scss */
#top div.auth.shown form,
#top div.auth.shown .links {
  display: block;
}
/* line 410, ../sass/common.scss */
#top div.auth form {
  padding: 1em;
}
/* line 413, ../sass/common.scss */
#top div.auth form input {
  margin-bottom: 8px;
}
/* line 420, ../sass/common.scss */
#top div.auth .links .goto_logout {
  background-position: 0 -48px;
}
/* line 424, ../sass/common.scss */
#top div.auth .links .goto_profile {
  background-position: 0 -208px;
}
/* line 428, ../sass/common.scss */
#top div.auth .links a {
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  text-transform: capitalize;
}
/* line 434, ../sass/common.scss */
#top div.auth .links a:hover {
  background: #F0F0F0;
  color: #444;
}

/* line 444, ../sass/common.scss */
#top div.auth form .username,
#top div.auth form .password {
  width: 120px;
}

/* line 447, ../sass/common.scss */
#top div.auth form div.button_wrap {
  text-align: right;
  border-bottom: 1px solid #dadada;
  margin-bottom: 8px;
}

/* line 453, ../sass/common.scss */
form.wide input[type="text"], form.wide textarea {
  padding: 0.5em;
  border: 1px solid #d4d4d4;
}

/* line 458, ../sass/common.scss */
#top a.toggle {
  display: block;
  padding-right: 4px;
  float: left;
}

/* line 463, ../sass/common.scss */
#top .dropdown {
  display: none;
  position: absolute;
  right: -1px;
  top: 24px;
  background: white;
  border: 1px solid #dadada;
  border-top: none;
  z-index: 1;
}

/* line 473, ../sass/common.scss */
div.auth input.username, div.auth input.password {
  border: 1px solid #dadada;
  padding: 2px 3px;
  width: 100px;
  background: white;
}

/* line 479, ../sass/common.scss */
div.auth input.login {
  padding: 0 3px;
}

/* line 482, ../sass/common.scss */
div.lichess_language {
  float: right;
  position: relative;
}

/* line 486, ../sass/common.scss */
ul.language_links {
  width: 183px;
  max-height: 600px;
  overflow: auto;
}
/* line 491, ../sass/common.scss */
ul.language_links a {
  display: block;
  padding: 0.4em 0.5em;
  text-decoration: none;
}
/* line 496, ../sass/common.scss */
ul.language_links a:hover {
  background: #F0F0F0;
  color: #444;
}

/* line 502, ../sass/common.scss */
#top div.lichess_language.shown ul.language_links {
  display: block;
}

/* line 506, ../sass/common.scss */
ul.language_links li:last-child {
  border-top: 1px solid #dddddd;
}

/* line 510, ../sass/common.scss */
#top div.themepicker {
  float: right;
  position: relative;
}
/* line 514, ../sass/common.scss */
#top div.themepicker span.theme_demo {
  color: white;
  display: block;
  margin: 3px 0.5em 0 0;
  padding: 1px 5px;
  text-decoration: none;
  line-height: normal;
}
/* line 525, ../sass/common.scss */
#top div.themepicker.shown div.themes {
  display: block;
}
/* line 528, ../sass/common.scss */
#top div.themepicker.shown div.theme {
  padding: 5px 10px;
  cursor: pointer;
}
/* line 532, ../sass/common.scss */
#top div.themepicker.shown div.theme:hover {
  background: #f0f0f0;
}
/* line 536, ../sass/common.scss */
#top div.themepicker.shown div.inner {
  border: 1px solid #dadada;
  position: relative;
  width: 128px;
  height: 64px;
}
/* line 542, ../sass/common.scss */
#top div.themepicker.shown div.white {
  left: 64px;
}

/* line 548, ../sass/common.scss */
#top a.bgpicker {
  float: right;
}
/* line 551, ../sass/common.scss */
#top a.bgpicker span {
  width: 24px;
  height: 24px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: url(../images/s24.png) no-repeat;
  background-position: 0 -48px;
  display: block;
}

/* line 561, ../sass/common.scss */
a#sound_state {
  float: right;
}
/* line 564, ../sass/common.scss */
a#sound_state span {
  margin-top: 4px;
  width: 18px;
  height: 15px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  background: url(../images/s16.png) no-repeat;
  background-position: 0 -64px;
  display: block;
}
/* line 574, ../sass/common.scss */
a#sound_state.sound_state_on span {
  background-position: 0 -80px;
}
/* line 578, ../sass/common.scss */
a#sound_state.unavailable {
  display: none;
}

/* line 583, ../sass/common.scss */
#call_boxes {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 250px;
}

/* line 590, ../sass/common.scss */
a.translation_call {
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid #d0d0d0;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
}
/* line 599, ../sass/common.scss */
a.translation_call span.action {
  float: right;
  margin-right: 2px;
}
/* line 604, ../sass/common.scss */
a.translation_call span.name {
  font-weight: bold;
}
/* line 608, ../sass/common.scss */
a.translation_call .close {
  position: absolute;
  bottom: 0.4em;
  right: 0.6em;
  text-decoration: none;
  font-weight: bold;
}
/* line 615, ../sass/common.scss */
a.translation_call .close:hover {
  color: red;
  font-size: 1.4em;
  bottom: 0.2em;
  right: 0.3em;
}
/* line 623, ../sass/common.scss */
a.translation_call div.progressbar {
  margin-top: 0.5em;
  background: white;
  margin-bottom: 0.4em;
}

/* line 630, ../sass/common.scss */
span.s16.clock {
  background-position: 0 -224px;
  padding-bottom: 1px;
}

/* line 634, ../sass/common.scss */
.s16.tournament {
  background-position: 0 -304px;
  padding-bottom: 1px;
}

/* line 638, ../sass/common.scss */
.s16.team {
  background-position: 0 -336px;
  padding-bottom: 1px;
  display: block;
  height: 15px;
}

/* line 644, ../sass/common.scss */
.s16.team.mine {
  background-position: 0 -352px;
}

/* line 647, ../sass/common.scss */
.s16.ddown {
  background-position: right -192px;
  padding-left: 0;
  padding-right: 20px;
}

/* line 654, ../sass/common.scss */
.user_link.white, .user_link.black, .user_link.online, .user_link.offline {
  line-height: 16px;
  display: block;
  background: url(../images/s16.png) no-repeat;
  padding-left: 20px;
  white-space: nowrap;
}
/* line 662, ../sass/common.scss */
.user_link.white {
  background-position: 0 -240px;
}
/* line 665, ../sass/common.scss */
.user_link.black {
  background-position: 0 -256px;
}
/* line 668, ../sass/common.scss */
.user_link.offline {
  padding-left: 20px;
  background-position: 0 -160px;
}
/* line 672, ../sass/common.scss */
.user_link.online {
  padding-left: 20px;
  background-position: 0 -208px;
}
/* line 676, ../sass/common.scss */
.user_link.inline {
  display: inline-block;
}

/* line 681, ../sass/common.scss */
.tournament_link {
  padding-left: 20px;
  background-position: 0 -304px;
}

/* line 686, ../sass/common.scss */
div.engine_warning {
  padding: 5px 5px 5px 40px;
  background: #f2dede url(../images/engine_big.png) 8px 5px no-repeat;
  line-height: 16px;
  border: 1px solid #eed3d7;
  color: #894a48;
  width: 240px;
  margin-bottom: 15px;
}
/* line 695, ../sass/common.scss */
div.ui-tooltip div.engine_warning {
  margin: 10px 0 10px 5px;
  width: auto;
  background-position: 8px 0px;
}

/* line 702, ../sass/common.scss */
.engine_mark {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: transparent url(../images/engine_small.png) top left no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  vertical-align: bottom;
}

/* line 711, ../sass/common.scss */
div.lichess_social {
  height: 0px;
  text-align: center;
}
/* line 715, ../sass/common.scss */
div.lichess_social div.addtochrome {
  display: none;
  margin-bottom: 15px;
}

/* soft inactive gradient */
/* line 732, ../sass/common.scss */
#top,
div.lichess_chat_top,
div.undertable_top,
.button,
.button:visited,
.ui-state-default,
div.content_box_top,
div.hooks tr,
a.translation_call,
div.locale_menu a,
table.slist thead {
  color: #666;
  background: #fafafa;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: -moz-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: -o-linear-gradient(top, #fafafa, #e0e0e0);
  background-image: linear-gradient(top, #fafafa, #e0e0e0);
}

/* active gradient */
/* line 751, ../sass/common.scss */
#top a.goto_nav.active,
.button.active,
.button.active:hover,
.ui-state-active,
.ui-widget-header,
div.pagination span.current,
#top span.new_messages.unread,
div.hooks td.action:hover,
div.hooks table.empty_table tr:hover,
div.progressbar.flashy div,
.button.strong:hover,
div.locale_menu a.active {
  color: white;
  background: #d85000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f49c00), color-stop(100%, #d85000));
  background-image: -webkit-linear-gradient(top, #f49c00, #d85000);
  background-image: -moz-linear-gradient(top, #f49c00, #d85000);
  background-image: -o-linear-gradient(top, #f49c00, #d85000);
  background-image: linear-gradient(top, #f49c00, #d85000);
}

/* strong inactive gradient */
/* line 762, ../sass/common.scss */
div.hooks td.action,
.button:hover,
.button.strong,
div.notification {
  background: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #c0c0c0));
  background-image: -webkit-linear-gradient(top, #ffffff, #c0c0c0);
  background-image: -moz-linear-gradient(top, #ffffff, #c0c0c0);
  background-image: -o-linear-gradient(top, #ffffff, #c0c0c0);
  background-image: linear-gradient(top, #ffffff, #c0c0c0);
}

/* current gradient */
/* line 768, ../sass/common.scss */
#top a.goto_nav.current {
  color: white;
  background: #999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(top, #aaaaaa, #999999);
  background-image: -moz-linear-gradient(top, #aaaaaa, #999999);
  background-image: -o-linear-gradient(top, #aaaaaa, #999999);
  background-image: linear-gradient(top, #aaaaaa, #999999);
}

/* standard shadow */
/* line 781, ../sass/common.scss */
div.lichess_chat,
div.undertable,
div.lichess_board_wrap,
.button.strong,
.button.shadowed,
div.content_box {
  -webkit-box-shadow: 0 0 7px #d0d0d0;
  -moz-box-shadow: 0 0 7px #d0d0d0;
  box-shadow: 0 0 7px #d0d0d0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 786, ../sass/common.scss */
div.checkmateFen {
  float: left;
  width: 250px;
  margin-left: 110px;
  cursor: pointer;
}
/* line 793, ../sass/common.scss */
div.checkmateFen div.lmcs:hover {
  background: #eebb77!important;
}
/* line 797, ../sass/common.scss */
div.checkmateFen div.lmcs.selected {
  background: #77eeaa!important;
}

/* line 803, ../sass/common.scss */
div.checkmateSection {
  float: left;
}
/* line 806, ../sass/common.scss */
div.checkmateSection div.result {
  display: none;
  height: 48px;
  line-height: 48px;
  vertical-align: middle;
  padding-left: 54px;
  font-weight: bold;
}
/* line 815, ../sass/common.scss */
div.checkmateSection div.success {
  background: url(../images/tick-48.png) no-repeat;
  color: #00aa00;
}
/* line 820, ../sass/common.scss */
div.checkmateSection div.failure {
  background: url(../images/cross-48.png) no-repeat;
  color: #aa0000;
}

/* line 828, ../sass/common.scss */
div.checkmateCaptcha.success div.success, div.checkmateCaptcha.failure div.failure {
  display: block;
}

/* line 833, ../sass/common.scss */
div.undergame_box {
  margin-top: 10px;
  width: 512px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px #d0d0d0;
  -moz-box-shadow: 0 0 7px #d0d0d0;
  box-shadow: 0 0 7px #d0d0d0;
  line-height: 24px;
}
/* line 841, ../sass/common.scss */
div.undergame_box a {
  text-decoration: none;
}
/* line 844, ../sass/common.scss */
div.undergame_box a:hover {
  text-decoration: underline;
}
/* line 849, ../sass/common.scss */
div.undergame_box div.inner {
  padding: 10px 10px 0 10px;
}

/* line 854, ../sass/common.scss */
div.game_analysis {
  padding: 10px;
  width: 492px;
}
/* line 858, ../sass/common.scss */
div.game_analysis a {
  background: url("../images/s24.png") no-repeat 0 -72px;
  display: block;
  height: 24px;
  padding-left: 30px;
}

/* line 867, ../sass/common.scss */
div.game_more div.more_top {
  padding: 3px 10px;
  width: 492px;
  height: 29px;
  border-bottom: 1px solid #cccccc;
}
/* line 873, ../sass/common.scss */
div.game_more div.more_top span.bookmark {
  margin-top: 2px;
  margin-right: 34px;
}
/* line 879, ../sass/common.scss */
div.game_more a.game_permalink {
  float: left;
  margin-top: 3px;
}
/* line 884, ../sass/common.scss */
div.game_more textarea {
  display: block;
  width: 100%;
  height: 200px;
  font-family: monospace;
  line-height: normal;
  margin: 0;
  background: white;
  color: #888;
  border: 1px solid #eaeaea;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 899, ../sass/common.scss */
div.game_extra div.bookmarkers {
  float: right;
  max-width: 48%;
}

/* line 904, ../sass/common.scss */
span.bookmark {
  position: relative;
  float: right;
  margin-right: 14px;
}
/* line 909, ../sass/common.scss */
span.bookmark .icon {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(../images/s24.png) top left no-repeat;
  height: 24px;
  display: block;
  padding-left: 28px;
  line-height: 28px;
  text-decoration: none;
  color: #a0a0a0;
}
/* line 921, ../sass/common.scss */
span.bookmark .icon.bookmarked {
  background-position: 0 -24px;
}
/* line 926, ../sass/common.scss */
span.bookmark a {
  outline: none;
}

/* line 931, ../sass/common.scss */
div.progressbar {
  background: #eaeaea;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 1px;
}
/* line 937, ../sass/common.scss */
div.progressbar div {
  background: #d8a050;
  height: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 943, ../sass/common.scss */
div.progressbar.flashy.green div {
  background: #90d050;
}

/* line 948, ../sass/common.scss */
div.notifications {
  width: 1005px;
  margin: 0 auto -10px auto;
}
/* line 952, ../sass/common.scss */
div.notifications > div {
  margin-left: 211px;
  width: 498px;
  border: 1px solid silver;
  padding: 6px 8px 7px 8px;
  margin-bottom: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 960, ../sass/common.scss */
div.notifications > div a.close {
  text-decoration: none;
  float: right;
}
/* line 964, ../sass/common.scss */
div.notifications > div a.close:hover {
  font-weight: bold;
}

/* line 971, ../sass/common.scss */
#tournament_reminder .action {
  float: right;
  display: block;
  margin-left: 8px;
}

/* scroll */
/* line 978, ../sass/common.scss */
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 984, ../sass/common.scss */
.nano .content {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 16px;
}
/* line 989, ../sass/common.scss */
.nano .content:focus {
  outline: thin dotted;
}
/* line 993, ../sass/common.scss */
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
/* line 998, ../sass/common.scss */
.nano > .pane {
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
  opacity: 0.01;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
/* line 1006, ../sass/common.scss */
.nano > .pane > .slider {
  background: #444;
  background: rgba(0, 0, 0, 0.4);
  position: relative;
  margin: 0 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}

/* line 1017, ../sass/common.scss */
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}

/* line 1021, ../sass/common.scss */
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  opacity: 0.99;
}

/* line 50, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 53, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
input:focus:-moz-placeholder {
  color: transparent;
}
/* line 56, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
input:focus:-ms-input-placeholder {
  color: transparent;
}
