#trainer .lichess_board {
  display: none;
  border: 1px solid #c0c0c0;
}
#trainer.white .white .lichess_board,
#trainer.black .black .lichess_board {
  display: block;
}
#trainer.play div.lcs:hover {
  cursor: pointer;
  box-shadow: inset 0 0 10px 2px rgba(216, 85, 0, 0.9);
}
#trainer .progress_bar_container {
  margin: 10px 0 10px 0;
  width: 514px;
  height: 10px;
}
#trainer .progress_bar {
  width: 100%;
  height: 10px;
  background-color: #759900;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12) inset;
}
#trainer .coord {
  font-size: 120px;
  font-family: monospace;
  text-transform: uppercase;
  opacity: 1;
  animate: opacity 0.1s linear;
}
#trainer .coord.nope {
  opacity: 0;
}
#trainer .explanation {
  text-align: justify;
  margin-bottom: 20px;
}
#trainer .explanation li {
  list-style: inside disc;
  margin-top: 1em;
}

#trainer .start {
  font-size: 30px;
}
#trainer .score_container {
  width: 512px;
  text-align: center;
}
#trainer strong.score {
  font-family: monospace;
  font-size: 70px;
  display: block;
  margin: auto;
  width: 110px;
  height: 110px;
  line-height: 110px;
  color: #fff;
  background-color: #759900;
  border-radius: 100px;
}
#trainer.wrong .progress_bar, #trainer.wrong strong.score {
  background-color: #ac524f;
}
#trainer.play .start,
#trainer .coord,
#trainer .score_container,
#trainer.play form.color {
  display: none;
}
#trainer.play .coord {
  display: block;
}
