/* line 3, ../sass/dark.scss */
body.dark {
  background: #1a1a1a url(../images/head_bg_dark.png) top left repeat-x;
  background-position: left25px;
  color: #909090;
  /* standard shadow */
  /* soft inactive gradient */
  /* strong inactive gradient */
  /* active gradient */
  /* current gradient */
}
/* line 8, ../sass/dark.scss */
body.dark a, body.dark a:visited {
  color: #909090;
}
/* line 12, ../sass/dark.scss */
body.dark input, body.dark textarea {
  background: #1a1a1a;
  color: #909090;
}
/* line 30, ../sass/dark.scss */
body.dark div.lichess_chat,
body.dark div.undertable,
body.dark div.lichess_board_wrap,
body.dark div.lichess_table .lichess_button,
body.dark div.lichess_goodies div.box,
body.dark div.lichess_table,
body.dark div.undergame_box,
body.dark div.clock,
body.dark #GameBoard table.boardTable,
body.dark .button.strong,
body.dark .button.shadowed,
body.dark #tournament_side,
body.dark div.content_box {
  -webkit-box-shadow: 0 0 5px #505050;
  -moz-box-shadow: 0 0 5px #505050;
  box-shadow: 0 0 5px #505050;
}
/* line 95, ../sass/dark.scss */
body.dark #top,
body.dark #nb_connected_players,
body.dark div.lichess_chat_top,
body.dark div.lichess_chat .nano,
body.dark div.undertable_top,
body.dark div.undertable_inner,
body.dark div.undertable td,
body.dark div.lichess_table .lichess_button,
body.dark div.lichess_chat form input,
body.dark div.lichess_board_wrap,
body.dark a.translation_call,
body.dark div.hooks,
body.dark div.hooks table,
body.dark div.hooks td.action,
body.dark div.footer_wrap,
body.dark div.game_config .optional_config,
body.dark .ui-state-default,
body.dark .ui-widget-content,
body.dark div.lichess_goodies div.box,
body.dark div.lichess_table,
body.dark div.lichess_separator,
body.dark div.undergame_box,
body.dark div.game_more div.more_top,
body.dark div.clock,
body.dark .button,
body.dark #tournament_side,
body.dark #GameBoard table.boardTable,
body.dark div.content_box,
body.dark div.content_box_top,
body.dark div.content_box_top a,
body.dark div.content_box_inter,
body.dark div.content_box_inter a.active,
body.dark div.header div.side_menu a.active,
body.dark div.game_row,
body.dark div.user_lists form.search_user_form input,
body.dark div.user_lists div.all_users,
body.dark div.user_show div.elo_with_me,
body.dark #lichess_forum div.post,
body.dark #lichess_forum textarea,
body.dark #lichess_forum form.wide input,
body.dark #lichess_message tr,
body.dark #lichess_message div.thread_message,
body.dark #lichess_message textarea,
body.dark #lichess_message input,
body.dark div.progressbar,
body.dark form.translation_form div.messages,
body.dark form.translation_form input,
body.dark div.locale_menu a,
body.dark div.adv_chart,
body.dark #top .dropdown,
body.dark div.lichess_overboard p.explanations,
body.dark div.search_status,
body.dark table.slist,
body.dark table.slist thead th,
body.dark div.notifications > div,
body.dark form.wide input[type="text"],
body.dark form.wide textarea,
body.dark #team .team-left,
body.dark #team .team-right,
body.dark #team h2,
body.dark .leaderboard_title {
  border-color: #3e3e3e;
}
/* line 101, ../sass/dark.scss */
body.dark .ui-slider,
body.dark div.progressbar,
body.dark #top div.themepicker.shown div.theme:hover {
  background-color: #505050;
}
/* line 106, ../sass/dark.scss */
body.dark #top div.auth .links a:hover,
body.dark #top ul.language_links a:hover {
  background-color: #3e3e3e;
  color: #b0b0b0;
}
/* line 118, ../sass/dark.scss */
body.dark #site_title,
body.dark #site_baseline,
body.dark div.lichess_chat span,
body.dark div.lichess_chat a.user_link,
body.dark div.lichess_chat a.user_link,
body.dark div.new_posts li span,
body.dark #team .forum a.user_link,
body.dark span.board_mark {
  color: #808080;
}
/* line 121, ../sass/dark.scss */
body.dark #site_title span.extension {
  color: #707070;
}
/* line 130, ../sass/dark.scss */
body.dark #top a.goto_nav:hover,
body.dark #top a.toggle:hover,
body.dark #top a.bgpicker:hover,
body.dark a#sound_state:hover,
body.dark #top .dropdown,
body.dark #top .shown a.toggle {
  background: black;
}
/* line 134, ../sass/dark.scss */
body.dark #top span.new_messages {
  background: #606060;
}
/* line 139, ../sass/dark.scss */
body.dark .user_link.white {
  background-position: 0 -288px;
}
/* line 142, ../sass/dark.scss */
body.dark .user_link.black {
  background-position: 0 -272px;
}
/* line 153, ../sass/dark.scss */
body.dark div.lichess_chat .nano,
body.dark div.undertable_inner,
body.dark div.lichess_goodies div.box,
body.dark div.undergame_box,
body.dark div.undertable td,
body.dark div.lichess_table_wrap div.clock,
body.dark div.footer_wrap {
  background: #242424;
}
/* line 157, ../sass/dark.scss */
body.dark div.hooks_wrap {
  background: rgba(10, 10, 10, 0.8);
  -webkit-box-shadow: 0 0 20px #444444;
  -moz-box-shadow: 0 0 20px #444444;
  box-shadow: 0 0 20px #444444;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(33, 33, 33, 0.9)), color-stop(100%, rgba(15, 15, 15, 0.5)));
  background-image: -webkit-linear-gradient(top, rgba(33, 33, 33, 0.9) 0%, rgba(15, 15, 15, 0.5) 100%);
  background-image: -moz-linear-gradient(top, rgba(33, 33, 33, 0.9) 0%, rgba(15, 15, 15, 0.5) 100%);
  background-image: -o-linear-gradient(top, rgba(33, 33, 33, 0.9) 0%, rgba(15, 15, 15, 0.5) 100%);
  background-image: linear-gradient(top, rgba(33, 33, 33, 0.9) 0%, rgba(15, 15, 15, 0.5) 100%);
}
/* line 162, ../sass/dark.scss */
body.dark div.hooks_wrap a.filter {
  background-color: rgba(10, 10, 10, 0.8);
  border-color: #444;
  color: #e0e0e0;
}
/* line 167, ../sass/dark.scss */
body.dark div.hooks_wrap a.filter:hover, body.dark div.hooks_wrap a.filter.active {
  background: black;
}
/* line 172, ../sass/dark.scss */
body.dark div.hooks_wrap div.filter {
  background-color: black;
  border-color: #505050;
}
/* line 178, ../sass/dark.scss */
body.dark div.undertable tr:nth-child(even) td {
  background: #303030;
}
/* line 182, ../sass/dark.scss */
body.dark div.lichess_overboard {
  background: #2b2b2b;
}
/* line 185, ../sass/dark.scss */
body.dark div.lichess_overboard.game_config {
  -webkit-box-shadow: 0 0 20px #d0d0d0;
  -moz-box-shadow: 0 0 20px #d0d0d0;
  box-shadow: 0 0 20px #d0d0d0;
}
/* line 190, ../sass/dark.scss */
body.dark div.lichess_table_not_started {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
/* line 195, ../sass/dark.scss */
body.dark div.lichess_table {
  background: #242424;
}
/* line 200, ../sass/dark.scss */
body.dark div.lichess_table a.lichess_button:hover, body.dark div.lichess_table a.lichess_button.active {
  -webkit-box-shadow: 0 0 9px #d85000;
  -moz-box-shadow: 0 0 9px #d85000;
  box-shadow: 0 0 9px #d85000;
  border: 1px solid #d85000;
}
/* line 211, ../sass/dark.scss */
body.dark div.content_box,
body.dark div.content_box_inter a.active,
body.dark #tournament_side,
body.dark table.translations tbody tr,
body.dark form.translation_form div.message {
  background: #2b2b2b;
}
/* line 215, ../sass/dark.scss */
body.dark div.header div.side_menu a.active {
  -webkit-box-shadow: -3px 0 5px #505050;
  -moz-box-shadow: -3px 0 5px #505050;
  box-shadow: -3px 0 5px #505050;
  background: #2b2b2b;
}
/* line 220, ../sass/dark.scss */
body.dark .mini_board {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 235, ../sass/dark.scss */
body.dark div.game_row:nth-child(odd),
body.dark #lichess_forum table.forum_table tr:nth-child(odd),
body.dark #lichess_message tr:nth-child(even),
body.dark div.user_show .elo_with_me,
body.dark div.content_box_inter,
body.dark table.slist tbody tr:nth-child(even),
body.dark #team .forum li:nth-child(odd),
body.dark table.translations tbody tr:nth-child(even),
body.dark form.translation_form div.message:nth-child(even),
body.dark div.content_box table.datatable tr:nth-child(odd),
body.dark div.game_config .optional_config,
body.dark div.search_status {
  background: #343434;
}
/* line 241, ../sass/dark.scss */
body.dark #lichess_forum table.forum_table thead tr:nth-child(odd) {
  background: #2b2b2b;
}
/* line 244, ../sass/dark.scss */
body.dark #lichess_forum table.forum_table td.subject a {
  color: #44a0b0;
}
/* line 253, ../sass/dark.scss */
body.dark #lichess_forum div.post .message,
body.dark form.translation_form div.message label,
body.dark div.content_box h1,
body.dark div.hooks a {
  color: #b0b0b0;
}
/* line 257, ../sass/dark.scss */
body.dark #GameText {
  background: #2b2b2b;
  border-color: #3e3e3e;
  -webkit-box-shadow: 0 0 5px #505050;
  -moz-box-shadow: 0 0 5px #505050;
  box-shadow: 0 0 5px #505050;
}
/* line 262, ../sass/dark.scss */
body.dark #GameText tr:nth-child(even) {
  background: #343434;
}
/* line 267, ../sass/dark.scss */
body.dark #GameText a:hover {
  background: black;
}
/* line 270, ../sass/dark.scss */
body.dark #GameText a.moveOn {
  background: #b0b0b0;
  color: black;
}
/* line 274, ../sass/dark.scss */
body.dark #GameText a.move {
  color: #b0b0b0;
}
/* line 281, ../sass/dark.scss */
body.dark div.lmcs.white {
  background-color: #b0b0b0;
}
/* line 284, ../sass/dark.scss */
body.dark div.lmcs.black {
  background-color: #8a8a8a;
}
/* line 290, ../sass/dark.scss */
body.dark div.lichess_cemetery div.lichess_piece,
body.dark div.lichess_table div.lichess_piece {
  background-image: url(../images/sprite_invert.png);
}
/* line 296, ../sass/dark.scss */
body.dark div.lichess_chat ol.lichess_messages li.white {
  background: url(../images/kdw14.png) no-repeat;
}
/* line 299, ../sass/dark.scss */
body.dark div.lichess_chat ol.lichess_messages li.black {
  background: url(../images/kdb14.png) no-repeat;
}
/* line 305, ../sass/dark.scss */
body.dark div.lichess_table_wrap div.clock.running {
  background: #505a60;
  color: white;
}
/* line 310, ../sass/dark.scss */
body.dark div.lichess_table_wrap div.clock.running.emerg, body.dark div.lichess_table_wrap div.clock.running.outoftime {
  background-color: #a00000;
  color: #d0d0d0;
}
/* line 329, ../sass/dark.scss */
body.dark #top,
body.dark div.lichess_chat_top,
body.dark div.undertable_top,
body.dark .button,
body.dark .button:visited,
body.dark .ui-state-default,
body.dark div.content_box_top,
body.dark div.hooks tr,
body.dark a.translation_call,
body.dark div.notification,
body.dark div.locale_menu a,
body.dark table.slist thead {
  background: #3a3a3a;
  color: #b0b0b0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a3a3a), color-stop(100%, #202020));
  background-image: -webkit-linear-gradient(top, #3a3a3a, #202020);
  background-image: -moz-linear-gradient(top, #3a3a3a, #202020);
  background-image: -o-linear-gradient(top, #3a3a3a, #202020);
  background-image: linear-gradient(top, #3a3a3a, #202020);
}
/* line 339, ../sass/dark.scss */
body.dark div.hooks td.action,
body.dark .button.strong,
body.dark .button:hover {
  background: #505050;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #505050), color-stop(100%, #202020));
  background-image: -webkit-linear-gradient(top, #505050, #202020);
  background-image: -moz-linear-gradient(top, #505050, #202020);
  background-image: -o-linear-gradient(top, #505050, #202020);
  background-image: linear-gradient(top, #505050, #202020);
}
/* line 356, ../sass/dark.scss */
body.dark #top a.goto_nav.active,
body.dark .button.active,
body.dark .button.active:hover,
body.dark .ui-state-active,
body.dark .ui-widget-header,
body.dark div.pagination span.current,
body.dark #top span.new_messages.unread,
body.dark div.hooks td.action:hover,
body.dark div.hooks table.empty tr:hover,
body.dark .button.strong:hover,
body.dark div.progressbar.flashy div,
body.dark div.locale_menu a.active {
  color: white;
  background: #d85000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f49c00), color-stop(100%, #d85000));
  background-image: -webkit-linear-gradient(top, #f49c00, #d85000);
  background-image: -moz-linear-gradient(top, #f49c00, #d85000);
  background-image: -o-linear-gradient(top, #f49c00, #d85000);
  background-image: linear-gradient(top, #f49c00, #d85000);
}
/* line 363, ../sass/dark.scss */
body.dark #top a.goto_nav.current {
  color: white;
  background: #808080;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #808080), color-stop(100%, #606060));
  background-image: -webkit-linear-gradient(top, #808080, #606060);
  background-image: -moz-linear-gradient(top, #808080, #606060);
  background-image: -o-linear-gradient(top, #808080, #606060);
  background-image: linear-gradient(top, #808080, #606060);
}
/* line 369, ../sass/dark.scss */
body.dark div.hooks td.action.empty {
  background: none;
}
/* line 373, ../sass/dark.scss */
body.dark #lichess_message div.thread_message div.thread_message_body {
  color: #b0b0b0;
}
/* line 377, ../sass/dark.scss */
body.dark .s16.ddown {
  background-position: right -368px;
}
/* line 381, ../sass/dark.scss */
body.dark .nano > .pane {
  background: rgba(255, 255, 255, 0.15);
}
/* line 384, ../sass/dark.scss */
body.dark .nano > .pane > .slider {
  background: #ccc;
  background: rgba(255, 255, 255, 0.4);
}
/* line 50, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
body.dark input::-webkit-input-placeholder, body.dark textarea::-webkit-input-placeholder {
  color: #666;
}
/* line 53, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
body.dark input:-moz-placeholder, body.dark textarea:-moz-placeholder {
  color: #666;
}
/* line 56, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.2/frameworks/compass/stylesheets/compass/css3/_user-interface.scss */
body.dark input:-ms-input-placeholder, body.dark textarea:-ms-input-placeholder {
  color: #666;
}
