body.dark {
  background-color: #1a1a1a;
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a 116px);
  color: #929292;
}
body.dark a,
body.dark a:visited,
body.dark #powerTip > .actions a,
body.dark group.radio label,
body.dark .button,
body.dark .fbt {
  color: #8f8f8f;
}
body.dark #video .content_box_top form input,
body.dark .study_box .list div.editing,
body.dark .study_box .list div.config,
body.dark input,
body.dark textarea,
body.dark div.analysis_menu > a.active,
body.dark div.mchat .chat_tabs .tab {
  background: #1a1a1a;
  color: #8f8f8f;
}
body.dark div.analysis_menu > a.active {
  border-top-color: #1a1a1a;
}
body.dark .crosstable td {
  background: #2a2a2a;
  border-color: #1a1a1a;
}
body.dark #video_side .tag_list a.full:hover {
  background: #222;
  border-color: #444;
}
body.dark .fork,
body.dark .study_tabs a,
body.dark .lichess_ground .suggestion,
body.dark .lichess_ground .pending,
body.dark .lichess_ground .negotiation,
body.dark #video .tag_list a {
  background: #363636;
  color: #aaa;
}
body.dark #adv_chart_loader,
body.dark #video .tag_list a:hover {
  background: #3a3a3a;
  color: #a0a0a0;
}
body.dark #video .card .duration {
  background: rgba(0,0,0,0.7);
}
body.dark .fbt.glowed,
body.dark #site_title {
  color: #acacac;
}
body.dark .mini_board,
body.dark div.mchat div.top,
body.dark .undertable_top,
body.dark div.undertable_inner,
body.dark .undertable td,
body.dark .study_invite input,
body.dark div.side_box,
body.dark div.side_box .top,
body.dark .box,
body.dark .box .top,
body.dark div.table,
body.dark div.table_wrap > div.clock > div.time,
body.dark #tournament_schedule .schedule,
body.dark #tournament_side .box,
body.dark #tournament_side .player .stats,
body.dark #tournament_side .player tr > *,
body.dark #tournament_side .player tr:hover th,
body.dark .ceval_box,
body.dark .areplay .opening_box,
body.dark .areplay .chapter_name,
body.dark div.content_box,
body.dark div.content_box_inter,
body.dark div.content_box_inter a.active,
body.dark input.copyable,
body.dark textarea.copyable,
body.dark #site_header div.side_menu a.active,
body.dark div.sub_ratings > a.active,
body.dark div.game_row,
body.dark div.side form.search input,
body.dark #lichess_forum div.post,
body.dark .content_box form input,
body.dark .progressbar,
body.dark form.translation_form div.messages,
body.dark form.translation_form input,
body.dark #adv_chart,
body.dark div.search_status,
body.dark #qa input,
body.dark #qa textarea,
body.dark #qa .answers-header,
body.dark #qa .question .comments,
body.dark #qa .comments .comment,
body.dark #qa .answer-wrap,
body.dark #qa .tm-tag,
body.dark .slist,
body.dark .slist thead th,
body.dark #notifications > div,
body.dark form.wide input[type="text"],
body.dark form.wide textarea,
body.dark #team .team-left,
body.dark #team .team-right,
body.dark #team h2,
body.dark #team.team_show div.content_box_top,
body.dark #perfStat div.content_box_top,
body.dark #perfStat .counter tr:first-child,
body.dark #perfStat .result thead tr,
body.dark .leaderboard_title,
body.dark #friend_box,
body.dark #friend_box .title,
body.dark div.user_show div.user-infos,
body.dark div.user_show .insight,
body.dark #powerTip,
body.dark #miniGame,
body.dark #powerTip > .title,
body.dark #powerTip > .score,
body.dark #powerTip > .game_legend,
body.dark #hooks_wrap .table_wrap th,
body.dark #hooks_wrap .table_wrap td,
body.dark #hooks_wrap,
body.dark #hooks_wrap div.tabs a,
body.dark #hooks_wrap .hooks_chart > div.grid,
body.dark div.vstext,
body.dark div.user_show div.content_box_inter.tabs,
body.dark #enterable_tournaments table.scheduled,
body.dark div.user_show .mod_zone .listings,
body.dark div.user_show .note_zone,
body.dark div.user_show .note_zone div,
body.dark .lichess_ground .replay,
body.dark .lichess_ground .areplay,
body.dark .lichess_ground .result,
body.dark .lichess_ground .replay .buttons,
body.dark .lichess_ground .replay .moves,
body.dark .tview2.column > index,
body.dark .tview2.column > index + move,
body.dark div.analysis_menu,
body.dark div.analysis_menu > a,
body.dark .explorer_box,
body.dark .retro_box,
body.dark .practice_box,
body.dark .practice_box .comment,
body.dark .explorer_box .config .choices span,
body.dark .lichess_ground .areplay interrupt,
body.dark div.content_box.prefs form li,
body.dark div.content_box.prefs fieldset,
body.dark #claim_draw_zone,
body.dark .crosstable th,
body.dark .crosstable tr:first-child td.new,
body.dark .crosstable tr:first-child th.matchup,
body.dark .crosstable tr:last-child td.new,
body.dark .crosstable tr:last-child th.matchup,
body.dark .crosstable td.sep,
body.dark #lichess_blog .list h1,
body.dark #lichess_blog .body h2,
body.dark #lichess_blog .body img,
body.dark #tournament_side h2,
body.dark div.doc_box h2,
body.dark div.force_resign_zone,
body.dark div.negotiation,
body.dark div.side_box .game_infos,
body.dark #video .content_box_top,
body.dark #simul .half,
body.dark .donation,
body.dark .donation a,
body.dark .studies .study,
body.dark .study_metadata h2 .views,
body.dark .study_invite .users,
body.dark .study_metadata h2 .liking,
body.dark #notify_app .pager.prev,
body.dark div.mchat .presets span,
body.dark div.mchat input.lichess_say,
body.dark #tournament .controls,
body.dark .rematch-decline,
body.dark div.mchat .chat_tabs .tab,
body.dark #team table.requests.for-team {
  border-color: #3d3d3d;
}
body.dark .tview2.column > index,
body.dark .tview2.column > interrupt,
body.dark .lichess_ground .areplay .result,
body.dark .lichess_ground .areplay .status,
body.dark .explorer_box .config .choices span:hover,
body.dark #perfStat .counter tr.full td:last-child,
body.dark div.lichess_overboard .close,
body.dark #modal-wrap,
body.dark #modal-wrap .close {
  background-color: #303030;
}
body.dark #opening .meter ul,
body.dark #opening .meter li.dubious .step,
body.dark div.lichess_overboard .close:hover,
body.dark #modal-wrap .close:hover {
  background-color: #505050;
}

body.dark hr,
body.dark .fork move,
body.dark #adv_chart_loader,
body.dark .pull-quote p,
body.dark .pull-quote p:after,
body.dark #powerTip > .info .title,
body.dark #tournament_schedule .timeheader,
body.dark #opening .meter .step {
  border-color: #505050;
}

body.dark #tournament_side .featured .vstext strong,
body.dark div.search_status,
body.dark #opening .meter .step,
body.dark #hooks_wrap div.tabs a {
  background-color: #3e3e3e;
  color: #b0b0b0;
}
body.dark #top a.toggle:hover,
body.dark #clinput a.link:hover,
body.dark #top a.signin,
body.dark #hooks_wrap .hook_filter .checkable {
  color: #c0c0c0;
}
body.dark .user_show .trophy.icon3d,
body.dark #timeline a,
body.dark .undertable a.user_link,
body.dark #team .forum a.user_link,
body.dark div.user_show div.content_box_top > span,
body.dark .undertable_top span.title {
  color: #838383;
}
body.dark .user_link span.title {
  color: #bf811d;
}
body.dark .user_link span.title[data-title=BOT] {
  color: #9e1aad;
}
body.dark .user_show .fire_trophy {
  color: #666;
}
body.dark #promotion_choice {
  background: rgba(0, 0, 0, 0.7);
}
body.dark .areplay,
body.dark .explorer_box tr:nth-child(even),
body.dark div.mchat .messages,
body.dark div.side_box,
body.dark .box,
body.dark div.table,
body.dark div.table_wrap > div.clock > div.time,
body.dark #friend_box .content a:hover,
body.dark div.undertable_inner,
body.dark .donation a,
body.dark div.mchat .chat_tabs .tab.active {
  background: #262626;
}
body.dark div.sub_ratings > a.game:hover,
body.dark #hooks_wrap .table_wrap td,
body.dark #now_playing > a {
  background: rgba(40, 40, 40, 0.6);
  border-color: #242424;
}
body.dark #hooks_wrap .table_wrap tr.cancel td {
  background: rgba(0, 80, 0, 0.7);
}
body.dark #site_header div.side_menu a:hover,
body.dark div.doc_box a.variant:hover,
body.dark #hooks_wrap .table_wrap tr.join:hover td,
body.dark #hooks_wrap .pools > div:hover,
body.dark #now_playing > a:hover,
body.dark .explorer_box tr:hover,
body.dark .pv_box .pv[data-uci]:hover,
body.dark #tournament table.standing:not(.created):not(.loading) tbody tr:hover {
  background: rgba(27, 51, 68, 0.7);
}
body.dark #hooks_wrap,
body.dark #hooks_wrap div.tabs a:hover,
body.dark #hooks_wrap div.tabs a.active,
body.dark .forecast .entry:hover,
body.dark #tournament_schedule {
  background-color: #303030;
}
body.dark #hooks_wrap div.tabs a:hover {
  border-top-color: #808080;
}
body.dark #hooks_wrap div.tabs a.active {
  border-bottom-color: #303030;
  border-top-color: #d85000;
}
body.dark .lichess_ground .replay index,
body.dark .lichess_ground .replay move:not(.empty):hover,
body.dark .ceval_box pearl,
body.dark .areplay .opening_box,
body.dark .areplay .chapter_name,
body.dark #challenge_app div.challenge,
body.dark #challenge_app div.empty,
body.dark #challenge_app div.initiating,
body.dark #notify_app .site_notification,
body.dark #notify_app div.empty,
body.dark div.lichess_overboard,
body.dark div.analysis_menu > a,
body.dark div.content_box,
body.dark div.content_box_inter a.active,
body.dark #site_header div.side_menu a.active,
body.dark div.sub_ratings > a.game.active,
body.dark #tournament_side .stats,
body.dark table.translations tbody tr,
body.dark form.translation_form div.message,
body.dark #lichess_forum table.forum_table thead tr:nth-child(odd),
body.dark #video_side .tag_list a.checked {
  background-color: #2b2b2b;
}
body.dark #perfStat .counter tr,
body.dark #perfStat .result tr,
body.dark #video .card .info,
body.dark #video .card .reveal,
body.dark #timeline,
body.dark #timeline .entry {
  border-color: #2b2b2b;
}
body.dark #site_header div.side_menu a.active,
body.dark #hooks_wrap .table_wrap,
body.dark div.content_box h1 {
  text-shadow: 0 1px 0 #000;
}
body.dark div.game_row:nth-child(odd),
body.dark #lichess_forum table.forum_table tr:nth-child(odd),
body.dark #lichess_message tr:nth-child(even),
body.dark div.content_box_inter,
body.dark .slist tbody tr:nth-child(even),
body.dark #team .forum li:nth-child(odd),
body.dark table.translations tbody tr:nth-child(odd),
body.dark form.translation_form div.message:nth-child(even),
body.dark div.content_box table.datatable tr:nth-child(odd),
body.dark #tournament_side .pairings tr:hover,
body.dark #top .shown a.toggle,
body.dark #top .dropdown,
body.dark #challenge_app div.challenge,
body.dark #notify_app .site_notification,
body.dark #friend_box,
body.dark #powerTip,
body.dark #miniGame {
  background: #343434;
}
body.dark .tview2 line move,
body.dark #lichess_forum div.post .message,
body.dark #lichess_blog,
body.dark #lichess_message div.thread_message_body,
body.dark form.translation_form div.message label,
body.dark div.user_show div.content_box_top > span strong {
  color: #b0b0b0;
}
body.dark div.table_wrap > div.clock.running > div.time {
  background: #505a60;
  color: #fff;
}
body.dark .forecast .entry .del,
body.dark div.table_wrap > div.clock.running.emerg > div.time,
body.dark div.table_wrap > div.clock.outoftime > div.time {
  background-color: #a00000;
  color: #d0d0d0;
}
body.dark div.content_box,
body.dark #powerTip,
body.dark #miniGame {
  box-shadow: 0 1px 2px #000;
}
body.dark div.content_box_top {
  background-color: #343434;
  background-image: linear-gradient(to bottom, #3a3a3a, #343434 100%);
  text-shadow: 0 1px 0 #000;
}
/* soft inactive gradient */

body.dark .crosstable th,
body.dark #chat div.top,
body.dark div.side_box .top,
body.dark div.box .top,
body.dark #friend_box .title,
body.dark .undertable_top,
body.dark .button,
body.dark .button:visited,
body.dark group.radio label,
body.dark #notifications > div,
body.dark div.vstext,
body.dark div.user_show div.content_box_inter.tabs,
body.dark #qa .answers-header,
body.dark #video .card .info,
body.dark #video .card .reveal,
body.dark #tournament .controls,
body.dark .slist thead {
  background: linear-gradient(to bottom, rgba(40, 40, 40, 1), rgba(34, 34, 34, 1) 100%);
  text-shadow: 0 1px 0 #000;
}
body.dark .button.frameless {
  background: none;
}
body.dark .button,
body.dark a.button,
body.dark #challenge_app .owner,
body.dark group.radio,
body.dark group.radio label {
  border-color: #323232;
}
body.dark #notify_app .site_notification,
body.dark .lichess_ground .negotiation a,
body.dark group.radio label:hover,
body.dark .button:hover,
body.dark a.button:hover {
  border-color: #383838;
  background: rgb(44, 44, 44);
  background: linear-gradient(to bottom, rgba(44, 44, 44, 1), rgba(40, 40, 40, 1) 100%);
}
body.dark .fbt.active-soft,
body.dark .fbt.active-soft:hover {
  color: #ccc !important;
  text-shadow: 0 1px 0 #000 !important;
  background: #444 !important;
  border-color: #404040 !important;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35) inset !important;
}
body.dark #hooks_wrap .hooks_chart .plot {
  color: #aaa;
  text-shadow: 0 0 3px #000;
}
body.dark #hooks_wrap .hooks_chart > span.label {
  text-shadow: 0 0 3px #000;
}

body.dark #top .dropdown {
  border: 1px solid #3d3d3d;
  border-top: 0;
  right: -1px;
}
body.pirouetti.dark div.cemetery piece.black {
  filter: brightness(2) contrast(150%) drop-shadow(0 0 0.5px #fff);
}
body.alpha.dark div.cemetery piece.black {
  filter: brightness(6) contrast(150%) drop-shadow(0 0 0.5px #fff);
}
body.dark .scroll-shadow-soft,
body.dark .scroll-shadow-hard {
  background: linear-gradient(#262626 30%, rgba(36, 36, 36, 0)), linear-gradient(rgba(36, 36, 36, 0), #262626 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)) 0 100%;
}
body.dark .scroll-shadow-soft,
body.dark .scroll-shadow-hard {
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
}
body.dark div.user_show div.user-infos.scroll-shadow-hard {
  background: linear-gradient(#2b2b2b 30%, rgba(43, 43, 43, 0)), linear-gradient(rgba(43, 43, 43, 0), #2b2b2b 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px;
  background-attachment: local, local, scroll, scroll;
}
body.dark div.game_row:hover,
body.dark .studies .study:hover,
body.dark .relays .relay:hover,
body.dark .coaches .coach:hover,
body.dark .streamers .streamer:hover {
  background: rgba(27, 51, 68, 0.5)!important;
}
body.dark .color-icon.white::before {
  content: 'J';
}
body.dark .color-icon.black::before {
  content: 'K';
}
body.dark ::-webkit-input-placeholder {
  color: #777;
}
body.dark :-ms-input-placeholder {
  color: #777;
}
body.dark #topmenu section > a {
  color: #777;
  text-shadow: 0 1px 1px #000;
}
body.dark #topmenu section:hover > a {
  background: #2b2b2b;
}
body.dark #topmenu div {
  background: #2b2b2b;
  border: 1px solid #3d3d3d;
  border-top: 0;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
}
body.dark #topmenu div a:hover {
  background: #3e3e3e;
  color: #b0b0b0;
}
body.dark .variant_icons span {
  text-shadow: 0 0 5px #000,
  0 0 10px #000,
  0 0 20px #000;
}
body.dark #tv_channels > a:hover {
  background: #333;
  color: #c0c0c0;
  box-shadow: 0 -1px 1px rgba(255,255,255,0.3);
}
body.dark ol.scheduled_tournaments li.marathon {
  background: #2a2a2a;
  box-shadow: 0 0 9px rgba(0,0,0,0.9);
}
body.dark div.eval_gauge  {
  background: #a0a0a0;
}
body.dark div.eval_gauge .black {
  background: #666;
}
body.dark div.eval_gauge tick {
  border-color: #a0a0a0;
}
body.dark div.side_box .game_infos .variant-link {
  border-color: #8c8c8c;
}
body.dark input.cmn-toggle-round + label {
  background-color: #888;
}
body.dark input.cmn-toggle-round + label:before {
  background-color: #555;
}
body.dark input.cmn-toggle-round + label:after {
  background-color: #aaa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
body.dark signal > i.off {
  background-color: #555;
}
body.dark .context-streamer {
  color: #ccc!important;
}
body.dark .ddloader {
  background-image: url(../images/loader/whitex1.png);
}
body.dark ::-webkit-scrollbar,
body.dark ::-webkit-scrollbar-corner {
  background: #262626;
}
body.dark ::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.15);
}
body.dark ::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.3);
}
body.dark ::-webkit-scrollbar-thumb:active {
  background: rgba(200, 200, 200, 0.4);
}
