.donate_box form {
  margin: 20px 0;
}
.donate_box form input {
  vertical-align: middle;
}
#site_header h2 {
  font-size: 1.4em;
  margin: 30px 0 10px 0;
}
#site_header .donors div {
  padding: 5px 0;
}
#site_header a.user_link {
  font-size: 1.1em;
  font-weight: bold;
}
.donate_box .donors em {
  font-style: italic;
}
.donate_box .block-img img {
  width: 100%;
  height: auto;
}
#site_header .progress {
  color: #fff;
  display: block;
}
#site_header .progress p {
  color: #888;
}
#site_header .progress .progressbar {
  position: relative;
  height: 30px;
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.8);
  text-align: right;
  line-height: 32px;
  display: block;
}
#site_header .progress .current {
  position:absolute;
  top: 1px;
  left: 1px;
  z-index: 2;
  height: 30px;
  max-width: 100%;
  font-size: 15px;
}
#site_header .progress .current span {
  margin: 0 10px;
}
#site_header .progress .goal {
  position: absolute;
  right: 10px;
  z-index: 1;
}
#site_header .progress p {
  text-align: center;
}
