#events .datatable td {
  padding: 2em!important;
}
#events .datatable a {
  color: #3893E8;
}
#events .datatable h2 {
  font-size: 1.5em;
}
#events .datatable strong {
  font-weight: normal;
}
#events .datatable .date {
  display: block;
}

#event h1.lidraughts_title {
  background: #303F9F;
  color: #ddd;
  letter-spacing: 0.1em;
  padding: 30px!important;
  font-size: 27px!important;
  text-align: center;
}
h1.lidraughts_title time {
  display: block;
  font-size: 0.4em;
  opacity: 0.8;
  margin-top: 10px;
  text-transform: uppercase;
}
#event h2 {
  font-size: 1.8em;
  margin-top: 1.6em;
  text-align: center;
}
#event .when {
  margin-top: 1.2em;
  text-align: center;
}
#event .when .button {
  display:inline-block;
  color: #3893E8;
  padding: 20px 30px;
  font-size: 1.3em;
}
#event .desc {
  margin-top: 3.5em;
}
#event .desc a {
  color: #3660dc;
}
#event .countdown {
  text-align: center;
}
#event .countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1.5em;
  text-transform: uppercase;
}

#event .countdown li span {
  display: block;
  font-size: 4.5rem;
}
