/* lichess font */
@font-face {
  font-family: "lichess";
  src:url("../font/fonts/lichess.eot");
  src:url("../font/fonts/lichess.eot?#iefix") format("embedded-opentype"),
    url("../font/fonts/lichess.woff") format("woff"),
    url("../font/fonts/lichess.ttf") format("truetype"),
    url("../font/fonts/lichess.svg#lichess") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-size: 1.2em;
  vertical-align: middle;
  font-family: "lichess" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon].is2:before {
  font-size: 20px;
}
[data-icon].is3:before {
  font-size: 22px;
}

@font-face {
  font-family: 'pgn4web ChessSansPiratf';
  src:url("../vendor/pgn4web/fonts/ChessSansPiratf.eot");
  src:url("../vendor/pgn4web/fonts/ChessSansPiratf.eot?#iefix") format("embedded-opentype"),
    url("../vendor/pgn4web/fonts/ChessSansPiratf.woff") format("woff"),
    url("../vendor/pgn4web/fonts/ChessSansPiratf.ttf") format("truetype"),
    url("../vendor/pgn4web/fonts/ChessSansPiratf.svg#lichess") format("svg");
}
