div.post .metas .mod {
  margin-left: 1em;
  font-size: 0.9em;
  visibility: hidden;
}
div.post:hover .metas .mod {
  visibility: visible;
}

ol.crumbs {
  padding: 20px 24px 0 24px;
}

ol.crumbs li {
  display: inline;
  margin-left: 1em;
}

ol.crumbs li:after {
  content: "›";
  padding-left: 1em;
}

ol.crumbs li:last-child:after {
  display: none;
}
ol.crumbs li:first-child {
  margin-left: 0;
}

#lichess_forum ol.crumbs h1 {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#lichess_forum .warning {
  margin: 20px;
  background: #f4f4f4;
  text-align: center;
  font-size: 1.6em;
}
#lichess_forum .warning h1 {
  margin: 1em 0 0 0;
  padding: 0;
  font-weight: bold;
}
#lichess_forum .warning p {
  margin: 1.8em 0;
  line-height: 1.5em;
}

#lichess_forum .nb_results {
  padding-left: 25px;
}

#lichess_forum form.search {
  float: right;
  margin: 20px;
  font-size: 1.3em;
}

#lichess_forum .search_results {
  margin-top: 1em;
}
#lichess_forum .search_results time {
  font-size: 0.8em;
  white-space: nowrap;
  display: block;
}
#lichess_forum .search_results a.post {
  display: block;
  font-size: 1.1em;
  margin-bottom: 4px;
  padding-bottom: 5px;
}
#lichess_forum .search_results td {
  padding-bottom: 1em;
  padding-top: 1em;
}

#lichess_forum table.forum_table {
  width: 100%;
  margin-bottom: 5px;
}

#lichess_forum table.forum_table th {
  padding: 1em 0 0.5em 0;
}
#lichess_forum table.forum_table th:last-child {
  padding-left: 1em;
}

#lichess_forum table.forum_table td.subject {
  padding: 2em 1em;
}

#lichess_forum table.forum_table td.right, #lichess_forum table.forum_table th.right {
  text-align: right;
  padding-right: 2em;
}

#lichess_forum table.forum_table td.last_post {
  min-width: 150px;
  padding-right: 1em;
}
#lichess_forum table.forum_table td.feed {
  padding-right: 1em;
}

#lichess_forum table.forum_table td.subject a {
  font-size: 1.2em;
  font-weight: bold;
}

#lichess_forum table.forum_table td .description {
  margin-top: 0.5em;
  display: block;
}

#lichess_forum th {
  font-weight: bold;
  color: #A0A0A0;
}

#lichess_forum h1 {
  font-size: 1.4em;
  margin-bottom: 0.5em;
}
.forum_baseline {
  margin-bottom: 1em;
}

#lichess_forum table.forum_table tr:nth-child(odd) {
  background: #F7F7F7;
}
#lichess_forum table.forum_table tr.thead {
  background: #fff;
}

div.post {
  font-size: 1.2em;
  padding: 2em 24px 1em 24px;
  border-top: 1px solid #D4D4D4;
  margin-top: 1em;
  position: relative;
}
div.post.erased {
  background: rgba(128,128,128,0.2);
  opacity: 0.5;
}
div.post.erased .message {
  font-style: italic;
  text-align: center;
  margin: 0;
}
div.post:last-child {
  border-bottom: 1px solid #D4D4D4;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

div.post .anchor {
  position: absolute;
  top: 2em;
  right: 24px;
}

div.post .author {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}
div.post .author a {
  height: 16px;
  display: block;
}

div.post time {
  font-size: 0.8em;
  font-style: italic;
  color: #aaa;
  margin-top: 0.3em;
  margin-left: 1em;
  float: left;
}

div.post .message {
  margin-top: 1.5em;
  color: #555;
  line-height: 1.5em;
  cursor: initial;
}

form.edit-post-form {
  display: none;
  margin-top: 1.5em;
}
form.edit-post-form textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #D4D4D4;
  padding: 0.5em;
}
body.dark form.edit-post-form textarea {
  border-color: #3d3d3d;
}
div.post .edit-buttons {
  text-align: right;
  margin-top: 0.5em;
}
div.post .edit-buttons a {
  margin-right: 1em;
}
div.post .post-edited {
  font-size: 0.8em;
  color: #aaa;
  margin-top: 0.3em;
  margin-left: 1em;
  float: left;
}

div.topicReply,
div.category .description {
  margin: 1em 24px 0 24px;
}

.postNewTitle {
  font-size: 1.5em;
  font-style: italic;
}

#lichess_forum form.wide {
  margin-bottom: 1em;
}
#lichess_forum form.wide {
  margin-top: 2em;
  font-size: 1.3em;
}
#lichess_forum form.wide label {
  display: block;
  margin-bottom: 2em;
}

#lichess_forum form.wide label span {
  float: left;
  display: block;
  width: 100px;
  text-align: right;
  margin-right: 10px;
  margin-top: 3px;
}
#lichess_forum form.wide label span.required:after {
  content: "*";
  color: #FF6666;
  margin-left: 3px;
}

#lichess_forum form.wide input.subject {
  width: 500px;
}
#lichess_forum form.wide textarea {
  width: 500px;
  height: 150px;
}
#lichess_forum form.wide input.author {
  width: 300px;
}
#lichess_forum form.wide .submit {
  margin-left: 110px;
}

#lichess_forum form.wide p.error {
  margin-left: 110px;
  margin-bottom: 10px;
  color: red;
}

div.pagination a, div.pagination span {
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 2px;
}
div.pagination span {
  color: #aaa;
  padding: 0.1em 0.3em;
}

div.bar {
  margin-top: 1em;
  width: 100%;
}
div.bar .button {
  float: left;
  margin-left: 24px;
}
div.bar div.pagination {
  margin: 0.4em 24px 0 0;
  float: right;
}

#lichess_forum div.topic form.mod {
  float: right;
  margin-right: 24px;
}
#lichess_forum .unsub.on .off,
#lichess_forum .unsub.off .on {
  display: none;
}

.textcomplete-dropdown {
  border: 1px solid #ccc;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.25), 0 0.5px 8px rgba(0, 0, 0, 0.15);
  background: #fff;
}

.textcomplete-dropdown li {
  list-style: none;
  border-top: 1px solid #dfdfdf;
  padding: 0.5em;
  min-width: 100px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
}
.textcomplete-dropdown li.textcomplete-header,
.textcomplete-dropdown li.textcomplete-footer {
  display: none;
}
.textcomplete-dropdown li:hover,
.textcomplete-dropdown .active {
  background-color: #f0f0f0;
}

body.dark .textcomplete-dropdown {
  box-shadow: 0 1px 2px #000;
  background: #343434;
}
body.dark .textcomplete-dropdown,
body.dark .textcomplete-dropdown li {
  border-color: #3d3d3d;
}

body.dark .textcomplete-dropdown li:hover,
body.dark .textcomplete-dropdown .active {
  background-color: #3e3e3e;
}

a.sticky,
body.dark a.sticky {
  color: #759900;
}

a.sticky > span {
  margin-right: 0.6em;
}
