body.fpmenu > div.content {
  display: none;
}
body.fpmenu #top {
  z-index: 5001;
}
body.fpmenu #friend_box {
  display: none;
}
#fpmenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: none;
  background: #fff;
}
body.fpmenu #fpmenu {
  display: block;
}
#fpmenu section {
  margin-top: 50px;
}
#fpmenu h2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  color: #2a2a2a;
  text-transform: uppercase;
  margin-bottom: 9px;
}
#fpmenu .inner {
  width: 1005px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#fpmenu .body {
  overflow: hidden;
}
#fpmenu .user,
#fpmenu .anon {
  float: left;
  width: 400px;
  min-height: 490px;
  border-right: 1px solid #cfcfcf;
  padding: 0 40px 20px 0;
}
#fpmenu .perf {
  display: inline-block;
  text-align: left;
  width: 49%;
  margin: 15px 0;
  line-height: 1.2em;
}
#fpmenu .perf::before {
  color: #C4A86F;
  font-size: 42px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
#fpmenu .perf h3 {
  margin: 0 0 5px 0;
  color: #d59120;
}
#fpmenu .perf.nope {
  opacity: 0.5;
}
#fpmenu .perf strong {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  color: #2a2a2a;
}
#fpmenu .perf .progress {
  opacity: 0.6;
}
#fpmenu .anon section {
  width: 322px;
}
#fpmenu .anon h2 {
  margin-bottom: 22px;
}
#fpmenu .login input {
  -webkit-appearance: none;
  width: 290px;
  line-height: 47px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #ebebeb;
  outline: none;
}
#fpmenu .login input.password {
  border-top: none;
}
#fpmenu .login input.submit {
  margin-top: 30px;
  width: 100%;
  background: #d59120;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.13s;
}
#fpmenu .login input.submit:hover {
  opacity: 0.65;
}
#fpmenu .forgot {
  font-size: 0.8em;
  margin-top: 4px;
  text-align: center;
}
#fpmenu .forgot a {
  color: inherit;
  opacity: 0.6;
}
#fpmenu a.signup {
  display: block;
  line-height: 47px;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #d8d8d8;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  transition: 0.13s;
}
#fpmenu a.signup:hover {
  background: #d59120;
  color: #fff;
}
#fpmenu .menu {
  margin-left: 540px;
  overflow: hidden;
}
#fpmenu .menu section {
  float: left;
  width: 55%;
}
#fpmenu .menu section:nth-child(even) {
  width: 45%;
}
#fpmenu section a {
  color: #d59120;
  display: block;
  padding: 7px 0;
}
#fpmenu section .disabled {
  opacity: 0.5;
  display: block;
  padding: 9px 0;
}
#fpmenu .footer {
  width: 100%;
  padding: 15px 0;
  margin-left: -20px;
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.3s;
  transform: translateZ(0);
}
#fpmenu .footer:hover {
  opacity: 1;
}
#fpmenu .footer a {
  display: inline-block;
  padding: 5px 12px;
  transition: 0.3s;
}
#fpmenu .footer a:hover {
  transform: translateY(-2px);
}
@media (max-width: 970px) {
  #fpmenu {
    position: relative;
  }
  #fpmenu .inner {
    top: 0;
    transform: none;
    width: auto;
  }
  #fpmenu .body {
    padding-left: 13%;
  }
  #fpmenu .user {
    display: none;
  }
  #fpmenu .anon {
    border: none;
    float: none;
    margin: auto;
    padding-bottom: 0;
  }
  #fpmenu .menu {
    margin: auto;
    width: 500px;
  }
}
@media (max-width: 1020px) {
  #top {
    width: calc(100% - 25px);
  }
}
@media (max-width: 520px) {
  #fpmenu .body {
    padding-left: 10px;
  }
}

body.dark #fpmenu {
  background: #1c2328;
  color: #aeaeae;
}
body.dark #fpmenu h2 {
  color: #aeaeae;
}
body.dark #fpmenu .login input {
  background-color: #1c2328;
  border-color: #404040;
}
body.dark #fpmenu .login input.submit {
  background: #d59120;
}
body.dark #fpmenu .user,
body.dark #fpmenu .anon {
  border-color: #444;
}
body.dark #fpmenu a.signup {
  background: #1c2328;
  border: 1px solid #555;
  color: inherit;
}
body.dark #fpmenu a.signup:hover {
  background: #d59120;
  color: #fff;
}
body.dark #fpmenu .perf strong {
  color: #aeaeae;
}
body.dark #fpmenu .perf::before {
  color: #8b6523;
}
