.gb_edit .lichess_game .lichess_ground {
  margin-bottom: -409px;
}
.gb_edit .gamebook_wrap {
  height: 500px;
}
.gb_edit .gamebook {
  background: #e0e0e0;
  display: flex;
  flex-flow: column;
}
.gb_edit .gamebook .deviation,
.gb_edit .gamebook .hint {
  display: flex;
  flex-flow: column;
}
.gb_edit .gamebook label {
  display: block;
  padding: 0 0 8px 10px;
}
.gb_edit .gamebook textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  height: 10em;
  border-width: 1px 0;
  padding: 5px;
}
.gb_edit .gamebook .hint textarea {
  height: 7em;
}
.gb_edit .gamebook .legend {
  display: flex;
  border-bottom: 1px solid #ccc;
  min-height: 3.5em;
}
.gb_edit .gamebook .legend i {
  flex: 0 0 50px;
  font-size: 26px;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gb_edit .gamebook .legend.clickable:hover {
  cursor: pointer;
  background: #3893E8;
  color: #fff;
}
.gb_edit .gamebook .legend.clickable:hover i {
  opacity: 0.9;
}
.gb_edit .gamebook .legend p {
  flex: 1 1 100%;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}
.gb_edit .gamebook .todo i {
  background: #dc322f;
  color: #fff;
}
.gb_edit .gamebook .done i {
  background: #759900;
}

body.dark .gb_edit .gamebook {
  background: #262626;
}
body.dark .gb_edit .gamebook textarea,
body.dark .gb_edit .gamebook .legend {
  border-color: #3d3d3d;
}
