.is_gamebook_editor .lichess_game .lichess_ground {
  margin-bottom: -517px;
}
.is_gamebook_editor .gamebook {
  height: 500px;
}
.gamebook .editor {
  background: #e0e0e0;
  display: flex;
  flex-flow: column;
}
.gamebook .editor .deviation,
.gamebook .editor .hint {
  padding-top: 8px;
  display: flex;
  flex-flow: column;
}
.gamebook .editor label {
  display: block;
  padding: 0 0 8px 10px;
}
.gamebook .editor textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  height: 8em;
  border-width: 1px 0;
  padding: 5px;
}
.gamebook .editor .hint textarea {
  height: 5em;
}
.gamebook .editor .legend {
  padding: 8px 10px;
  border-bottom: 1px solid #ccc;
}
.gamebook .editor .legend::before {
  display: block;
  float: left;
  font-size: 2.5em;
  margin: 2px 8px 0 0;
  opacity: 0.5;
}
.gamebook .editor .todo {
  border-left: 5px solid #dc322f;
}
.gamebook .editor .done {
  border-left: 5px solid #759900;
}
