.gb_play .lichess_game .lichess_ground {
  margin-bottom: -140px;
}
.gb_play .gamebook {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  font-size: 1.3em;
}
.gb_play .comment {
  flex: 1 1 auto;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: 1px solid #aaa;
  display: flex;
}
.gb_play .comment:after {
  position: absolute;
  content: '';
  bottom: -9px;
  left: 40%;
  width: 15px;
  height: 15px;
  background: #fff;
  border-right: 1.5px solid #aaa;
  border-bottom: 1px solid #aaa;
  transform: skew(-45deg) rotate(45deg);
  z-index: 1;
}
.gb_play .comment .content {
  z-index: 2;
  overflow-y: auto;
  padding: 10px 12px;
}
.gb_play .mascot {
  margin: 8px 0 -7px 0;
  cursor: pointer;
}
.gb_play .soapbox {
  margin-top: 20px;
  height: 120px;
  background: #e0e0e0;
  border: 1px solid #ccc;
}
.gb_play .turn {
  text-transform: uppercase;
  line-height: 120px;
  text-align: center;
  font-size: 1.5em;
  color: #3893E8;
}

.gb_buttons .button {
  margin-left: 10px;
}
