.gb_play .lichess_game .lichess_ground {
  margin-bottom: 0px;
}
.gb_play .gamebook {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  font-size: 1.3em;
}
.gb_play .comment {
  font-size: 1.1em;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: 1px solid #aaa;
  display: flex;
  flex-flow: column;
  /*
   fixes firefox overflow when comment is long
   * https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox
   */
  min-height: 0;
}
.gb_play .comment::after {
  position: absolute;
  content: '';
  bottom: -9px;
  right: 20%;
  width: 15px;
  height: 15px;
  background: #fff;
  border-right: 1px solid #aaa;
  border-bottom: 1.5px solid #aaa;
  transform: skew(45deg) rotate(45deg);
  z-index: 1;
}
.gb_play .comment.hinted::after {
  background: #3893E8!important;
}
.gb_play .comment .content {
  z-index: 2;
  overflow-y: auto;
  padding: 12px;
  min-height: 2.5em;
}
.gb_play .comment div.hint {
  padding: 10px 12px;
  background: #3893E8;
  color: #fff;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
  font-size: 0.9em;
  z-index: 2;
}
.gb_play .comment a.hint {
  padding: 0 0 10px 12px;
  color: #3893E8;
  font-size: 0.8em;
}

.gb_play .floor {
  margin-top: 20px;
  flex: 0 0 120px;
  display: flex;
}
.gb_play .mascot {
  flex: 0 0 120px;
  margin-left: 20px;
}
.gb_play .feedback {
  flex: 1 1 100%;
  height: 120px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.gb_play .feedback.info {
  background: #e0e0e0;
  font-size: 1.6em;
}
.gb_play .feedback.good.init {
  visibility: hidden;
}
.gb_play .feedback.act {
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  opacity: 0.85;
  transition: 0.13s;
  border-radius: 7px;
}
.gb_play .feedback.act:hover {
  opacity: 1;
}
.gb_play .feedback.act.com span {
  animation: rubberBand 8s infinite;
}
.gb_play .feedback.play {
  font-size: 0.8em;
  text-align: left;
}
.gb_play .feedback.play strong {
  font-size: 1.5em;
}
.gb_play .feedback.play > div {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.gb_play .feedback.play .no-square {
  flex: 0 0 64px;
  height: 64px;
  margin-right: 10px;
}
.gb_play .feedback .instruction > * {
  display: block;
}
.is3d .gb_play .feedback.play div.no-square {
  height: 82px;
}
.gb_play .feedback.play piece {
  position: inherit;
  display: block;
  width: 100%;
  height: 100%;
}
.gb_play .feedback.bad {
  background: #dc322f;
}
.gb_play .feedback.good {
  background: #639B24!important;
  color: #fff;
}
.gb_play .feedback.end {
  flex-flow: row;
  font-size: 0.8em;
}
.gb_play .feedback.end a {
  flex: 1 1 100%;
  background: rgba(56,147,232,0.8);
  font-size: 1.2em;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-left: 1px solid rgba(255,255,255,0.3);
  line-height: 1.2em;
  transition: 0.13s;
}
.gb_play .feedback.end a::before {
  font-size: 2.2em;
  margin: 12px 0 8px 0;
}
.gb_play .feedback.end a:first-child {
  border-radius: 7px 0 0 7px;
}
.gb_play .feedback.end a:last-child {
  border-radius: 0 7px 7px 0;
}
.gb_play .feedback.end a:hover {
  background: #3893E8;
}
.gb_buttons .button {
  margin-left: 10px;
}
.gb_play kbd {
  padding: 4px 5px;
  margin: 15px auto 0 auto;
  font-family: monospace;
  font-size: 12px;
  line-height: 10px;
  color: #444;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

body.dark .gb_play .comment,
body.dark .gb_play .comment::after {
  background: #404040;
  color: #f0f0f0;
}
body.dark .gb_play .comment,
body.dark .gb_play .comment::after {
  border-color: #666;
}
body.dark .gb_play .feedback.info {
  background: #303030;
}
body.dark .gb_play .feedback.end a {
  border-left: 1px solid rgba(0,0,0,0.2);
}
