div.lichess_game div.lichess_ground {
  margin-bottom: -317px;
}
.gamebook {
  height: 300px;
}
.gamebook .editor {
  background: #e0e0e0;
  display: flex;
  flex-flow: column;
}
.gamebook .editor .title {
  padding: 8px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  font-weight: bold;
}
.gamebook .editor label span {
  display: block;
}
.gamebook .editor textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  height: 5em;
  border-width: 1px 0;
  padding: 5px;
}
.gamebook .editor .legend {
  padding: 0 10px 8px 10px;
}
