#import_game .explanation {
  margin: 40px 0;
  font-size: 1.3em;
  text-align: center;
}
#import_game form {
  font-size: 1.3em;
}
#import_game form label.pgn {
  display: block;
  margin-bottom: 1em;
}

#import_game form label.pgn span {
  display: block;
  margin-bottom: 1em;
}

#import_game form textarea {
  width: 98%;
  height: 25em;
  padding: 0.5em;
  font-size: 0.9em;
}

#import_game form .analyse > span {
  float: left;
  margin-right: 10px;
}
#import_game form .analyse > label {
  cursor: pointer;
}

#import_game button.submit {
  margin: 1em auto 0 auto;
  display: block;
  font-size: 2em;
}

#import_game form p.error {
  margin: 10px 0;
  color: red;
}
#import_game form .wait {
  display: none;
}
