body.dark #insight .ms-parent:hover .ms-choice,
body.dark #insight .ms-parent:hover .ms-choice > span.placeholder,
body.dark #insight .ms-drop ul > li:hover label:not(.optgroup),
body.dark #insight .ms-drop ul > li.selected label,
body.dark #insight .ms-parent.selected .ms-choice {
  background-color: #404040;
  color: #eaeaea;
}
body.dark div.panel-tabs a.tab,
body.dark #insight header,
body.dark #insight .ms-choice,
body.dark #insight .ms-drop,
body.dark #insight .ms-drop input,
body.dark #insight .ms-drop ul > li label.optgroup,
body.dark #insight table {
  border-color: #3d3d3d;
}
body.dark #insight .presets,
body.dark #insight header,
body.dark #insight table,
body.dark #insight .ms-choice,
body.dark #insight .ms-drop {
  background-color: #2b2b2b;
}
body.dark #insight .ms-choice > span.placeholder,
body.dark #insight .ms-parent,
body.dark #insight .ms-parent button {
  color: #a0a0a0;
}
body.dark #insight header {
  color: #ddd;
}
body.dark #insight .ms-drop.bottom {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.9);
}
body.dark #insight .filters .topless a {
  color: #777;
  text-shadow: none;
}
body.dark div.panel-tabs a.tab {
  background: none;
  color: #777;
}
body.dark div.panel-tabs a.tab.active {
  color: #aaa;
  background-color: #2b2b2b;
}
body.dark #insight .presets a:hover {
  color: #a0a0a0;
  background-color: #333;
}
