#learn_app {
}
#learn_app div.lichess_ground {
  width: 267px;
  justify-content: flex-start;
}
#learn_app .title {
  display: flex;
  background: #3893E8;
  color: #fff;
}
#learn_app .title h2 {
  font-size: 2.3em;
  margin: 15px 0 5px -3px;
  white-space: no-wrap;
}
#learn_app .title img {
  width: 90px;
  height: 90px;
  margin: 5px;
}
#learn_app .goal {
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 1.3em;
  padding: 0 15px;
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#learn_app .result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  min-height: 100px;
  font-size: 2em;
}
#learn_app .result h2 {
  flex: 0 0 100%;
}
#learn_app .result.failed h2,
#learn_app .result.next h2 {
  margin-top: 15px;
}
#learn_app .result:hover {
  -webkit-filter: brightness(1.1);
}
@keyframes shadow-glow {
  50% {
    box-shadow: 0 0 10px 10px rgba(255,255,255,0.5);
    transform: scale(1.05);
  }
}
#learn_app .result button {
  margin: 15px auto 15px auto;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 0 5px 5px rgba(255,255,255,0.5);
  animation: shadow-glow 1s infinite;
}
#learn_app .result.completed {
  background: #4caf50;
  color: #fff;
}
#learn_app .result.completed button {
  color: #4caf50;
}
#learn_app .result.failed {
  background: #dc322f;
  color: #fff;
}
#learn_app .result.failed button {
  color: #dc322f;
}
#learn_app .lichess_ground .score {
  background: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  border-radius: 3px;
  margin: 40px auto 0 auto;
  position: relative;
}
#learn_app .lichess_ground .score .plus {
  position: absolute;
  top: 0;
  width: 60%;
  left: 20%;
  box-sizing: border-box;
  font-size: 2em;
  font-weight: bold;
  background: #fdd835;
  padding: 5px 0;
  border-radius: 3px;
  text-shadow: 0 1px 0 #000;
  opacity: 0;
}
@keyframes score-show {
  from {opacity: 1; transform: translateY(20px);}
  to {opacity: 0; transform: translateY(-20px);}
}
#learn_app .lichess_ground .score .plus.show {
  animation: 1.5s score-show;
}
#learn_app .lichess_ground .score .legend {
  font-size: 1.3em;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 5px;
  display: block;
  margin: 5px;
}
#learn_app .lichess_ground .score .value {
  font-size: 40px;
  font-family: monospace;
}
@keyframes go-home {
  from {transform: rotate(0deg) scale(1) translateY(0px);}
  to {transform: rotate(360deg) scale(0) translateY(30px);}
}
#learn_app .completed:not(.no-go-home) piece {
  animation: 0.7s ease-in-out 0.7s go-home;
}
#learn_app item {
  width: 70%;
  height: 70%;
  bottom: 15%;
  left: 15%;
  background-size: cover;
  position: absolute;
  transform: translate3d(0, 0, 0);
  z-index: 1;
  transition: all 1s;
}
@keyframes soft-hue {
  50%{
    -webkit-filter: hue-rotate(-25deg);
  }
}
@keyframes soft-grow {
  50%{
    transform: scale(1.08);
  }
}
#learn_app .apple {
  background-image: url(../images/learn/star.png);
  opacity: 0.2;
  transform: rotate(180deg) scale(0.1);
  transition: all 0.6s;
}
#learn_app .initialized .apple {
  opacity: 1;
  transform: rotate(360deg) translateY(0) scale(1);
  animation: 1.7s soft-grow ease-in-out infinite, 0.7s soft-hue ease-in-out infinite;
  animation-delay: 0.6s;
}
#learn_app .is2d item {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
}
#learn_app square.has-item.move-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
}
#learn_app .cg-board square.move-dest.drag-over,
#learn_app .cg-board square.move-dest:hover {
  background: rgba(20, 85, 30, 0.3);
}

#learn_app .screen-overlay {
  position: fixed;
  top: -80px;
  left: 0;
  width: 100%;
  height: 110%;
  background: rgba(79, 195, 247, 0.9);
  z-index: 33;
  margin: 63px auto;
  cursor: pointer;
}
#learn_app .screen-overlay * {
  box-sizing: border-box;
}

#learn_app .screen {
  margin: 100px auto;
  background-color: #fff;
  width: 310px;
  overflow: hidden;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  padding-top: 36px;
}
#learn_app .screen > :nth-child(1) {
  animation: slideIn 1s cubic-bezier(0.37, 0.82, 0.2, 1);
}
#learn_app .screen > :nth-child(2) {
  animation: slideIn 1.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
#learn_app .screen > :nth-child(3) {
  animation: slideIn 2s cubic-bezier(0.37, 0.82, 0.2, 1);
}
#learn_app .screen > :nth-child(4) {
  animation: slideIn 2.5s cubic-bezier(0.37, 0.82, 0.2, 1);
}
#learn_app .screen > :nth-child(5) {
  animation: slideIn 3s cubic-bezier(0.37, 0.82, 0.2, 1);
}
#learn_app .screen .stars {
  margin-bottom: 20px;
}
@keyframes appear {
  0% {
    -webkit-filter: saturate(1); opacity: 0.5; transform: scale(0) rotate(-360deg);
  }
  85% {
    -webkit-filter: saturate(1); opacity: 1; transform: scale(1.2) rotate(10deg);
  }
  100% {
    -webkit-filter: saturate(1); opacity: 1; transform: scale(1) rotate(0);
  }
}
#learn_app .screen .stars .star-wrap {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 0 5px;
  position: relative;
}
#learn_app .screen .stars .star-wrap::before {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 45px;
  height: 45px;
  content: '';
  background-image: url(../images/learn/star.png);
  background-size: cover;
  -webkit-filter: saturate(0);
  opacity: 0.2;
}
#learn_app .screen .stars .star {
  display: inline-block;
  background-image: url(../images/learn/star.png);
  background-size: cover;
  width: 55px;
  height: 55px;
  opacity: 0;
  animation: appear 2.7s ease-in-out;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
#learn_app .screen .stars .star-wrap:nth-child(2) .star {
  animation-delay: 1s;
}
#learn_app .screen .stars .star-wrap:nth-child(3) .star {
  animation-delay: 2s;
}
#learn_app .screen .no-square {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto 22px auto;
}
#learn_app .screen h1 {
  font-weight: bold;
  color: #1a1a1a;
  font-size: 24px;
  margin-bottom: 22px;
}
#learn_app .screen .round-svg {
  width: 240px;
  height: 240px;
  padding: 0px;
  background: #f57c00;
  border-radius: 50%;
  margin: 0 auto 10px auto;
}
#learn_app .screen .round-svg img {
  width: 240px;
  height: 240px;
  padding: 20px;
}
#learn_app .screen .score {
  text-transform: uppercase;
  color: #0288d1;
  font-size: 12px;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 17px;
}
#learn_app .screen .score span {
  font-weight: bold;
}
#learn_app .screen p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #999999;
  font-size: 15px;
  padding: 0 15%;
  line-height: 24px;
  margin-bottom: 17px;
}
#learn_app .screen .buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}
#learn_app .screen .buttons a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 48px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 8px 10% 0 10%;
  height: 48px;
  color: #fff;
  transition: all 0.3s;
}
#learn_app .screen .buttons a {
  margin-top: 8px;
}
#learn_app .screen .buttons .next {
  font-size: 14px;
  background: #4fc3f7;
}
#learn_app .screen .buttons .back {
  font-size: 12px;
  background: #f57c00;
}
#learn_app .screen .buttons a:hover {
  -webkit-filter: brightness(0.9);
}
@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-filter: blur(15px);
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes rankGlow {
  50% {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 40px rgba(255,255,255,0.7);
  }
}
.highlight-2nd-rank .cg-board::before,
.highlight-5th-rank .cg-board::after,
.highlight-7th-rank .cg-board::after {
  width: 100%;
  height: 12.5%;
  content: '';
  position: absolute;
  bottom: 12.5%;
  left: 0;
  box-shadow: 0 0 15px rgba(255,255,255,0.2);
  background-color: rgba(255, 255, 255, 0.2);
  animation: 1s rankGlow ease-in-out infinite;
}
.highlight-7th-rank .cg-board::after {
  top: 12.5%;
}
.highlight-5th-rank .cg-board::after {
  top: 37.5%;
}
#promotion_choice .explanation {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  box-shadow: 0 3px 25px rgba(0,0,0,0.5);
}
#promotion_choice .explanation h2 {
  font-size: 2em;
}
#promotion_choice .explanation p {
  font-size: 1.3em;
  margin-top: 15px;
}

@keyframes wriggle {
  0% {
    transform: translateX(0) rotate(0);
  }
  10% {
    transform: translateX(-4px) rotate(-3deg);
  }
  50% {
  }
  90% {
    transform: translateX(4px) rotate(3deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}
#learn_app .cg-board square.wriggle piece {
  animation: wriggle 0.2s 3;
}
#learn_app .cg-board square.wriggle piece::after {
  content: '!';
}
#learn_app .cg-board square.wriggle piece::after {
  content: '!';
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0,0,0,0.8) 0 0 3px;
}

#learn_app .piece-values .cg-board piece::before {
  position:absolute;
  top: 14px;
  right: 4px;
  color: #fff;
  text-shadow: 0 0 9px rgba(0,0,0,1), 0 0 4px rgba(0,0,0,1);
  font-size: 30px;
  font-weight: bold;
}
#learn_app .piece-values .cg-board piece.queen::before {
  content: '9';
}
#learn_app .piece-values .cg-board piece.rook::before {
  content: '5';
}
#learn_app .piece-values .cg-board piece.bishop::before,
#learn_app .piece-values .cg-board piece.knight::before {
  content: '3';
}
#learn_app .piece-values .cg-board piece.pawn::before {
  content: '1';
}

#learn_app .progress {
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-top: 0px;
}
#learn_app .progress a {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background: #fff;
  height: 40px;
  font-size: 11px;
  line-height: 11px;
  border-left: 1px solid #ccc;
  opacity: 0.8;
  transition: 0.13s;
}
#learn_app .progress a:first-child {
  border-left: 0;
}
#learn_app .progress a:hover {
  opacity: 1;
}
#learn_app .progress a span {
  margin: auto;
}
#learn_app .progress .st3 i:first-child {
  display: block;
}
#learn_app .progress a.done {
  background: #fdd835;
}
#learn_app .progress a.done {
  color: #FFF;
  background: #4caf50;
}
#learn_app .progress a.active {
  opacity: 1;
  color: #FFF;
  background: #3893E8;
}

#learn_side {
  border: none;
}
#learn_side .stages {
  margin: 10px;
}
#learn_side .stage {
  display: flex;
  align-items: center;
  transition: 0.13s;
  font-size: 1.3em;
  font-family: 'Roboto';
  font-weight: 300;
  opacity: 0.9;
}
#learn_side .stage img,
#learn_side .stage i {
  width: 30px;
  height: 30px;
  opacity: 0.9;
  margin-right: 5px;
  padding: 10px;
}
#learn_side .stage i::before {
  font-size: 30px;
}
#learn_side .stage.home {
  font-weight: bold;
}
#learn_side .stage.active {
  background: rgba(56, 147, 232, 0.2);
}
#learn_side .stage.active img {
  background: rgba(56, 147, 232, 1);
  -webkit-filter: brightness(0.9);
}
#learn_side .stage.active img:hover {
  -webkit-filter: brightness(1.2);
}
#learn_side .stage.done img {
  background: #4caf50;
}
#learn_side .stage.future:hover {
  background: rgba(245, 124, 0, 0.2);
}
#learn_side .stage.future img {
  opacity: 0.7;
  background: rgba(245, 124, 0, 1);
}
#learn_side .stage:hover {
  -webkit-filter: brightness(1.2);
}

#learn_app .map .stages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px;
}
#learn_app .map .stage {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 32%;
  width: 32%;
  height: 100px;
  color: #fff;
  box-sizing: border-box;
  margin-top: 13px;
  transition: 0.13s;
  border-radius: 3px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
#learn_app .map .stage img {
  width: 75px;
  height: 75px;
  margin: 5px;
  opacity: 0.9;
}
#learn_app .map .stage h2 {
  font-size: 2em;
  margin: 0 0 5px -2px;
}
@keyframes soft-bright {
  50%{
    -webkit-filter: brightness(1.1);
  }
}
#learn_app .map .stage.next {
  background: #3893E8;
  -webkit-filter: brightness(0.9);
}
#learn_app .map .stage.next {
  animation: 1.7s soft-bright ease-in-out infinite;
}
#learn_app .map .stage.next:hover {
  -webkit-filter: brightness(1.2);
}
#learn_app .map .stage.done {
  background: #4caf50;
}
#learn_app .map .stage.future {
  opacity: 0.7;
  background: #f57c00;
}
#learn_app .map .stage.future img {
  opacity: 0.7;
}
#learn_app .map a.stage.active,
#learn_app .map a.stage:hover {
  -webkit-filter: brightness(1.08);
  transform: scale(1.05);
  opacity: 1;
}
#learn_app .map .stage .ribbon-wrapper {
  display: block;
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
#learn_app .map .stage .ribbon {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  color: #6a6340;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
#learn_app .map .stage .ribbon i {
  color: #d59120;
  animation: 0.7s soft-hue ease-in-out infinite;
}

#learn_app .map .stage .ribbon:before,
#learn_app .map .stage .ribbon:after {
  content: "";
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
#learn_app .map .stage .ribbon:before {
  left: 0;
}
#learn_app .map .stage .ribbon:after {
  right: 0;
}

#learn_app .map .stage .ribbon.done {
  background-color: #BFDC7A;
}
#learn_app .map .stage .ribbon.done:before,
#learn_app .map .stage .ribbon.done:after {
  border-top:   3px solid #6e8900;
}
#learn_app .map .stage .ribbon.next {
  background-color: #B3E5FC;
}
#learn_app .map .stage .ribbon.next:before,
#learn_app .map .stage .ribbon.next:after {
  border-top: 3px solid #536DFE;
}
