.material.form {
  margin: 30px 20px 20px 20px;
}
.material.form * {
  box-sizing: border-box;
}
.material.form *::after,
.material.form *::before {
  box-sizing: border-box;
}

.material.form .button-container {
  text-align: center;
  margin: -20px 0 -20px 0;
}
.material.form .button-container .button {
  padding: 20px 30px;
}

.material.form fieldset {
  margin: 0 0 3rem;
  padding: 0;
  border: none;
}

.material.form .form-group {
  position: relative;
  margin-bottom: 3.5rem;
}
.material.form .form-group.margin-bottom {
  margin-bottom: 4.5rem;
}
.material.form .form-group.little-margin-bottom {
  margin-bottom: 2.5rem;
}

.material.form .form-group.half {
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.material.form .form-group.half .form-group.half {
  width: 46.5%;
  margin-bottom: 0;
}
.material.form .form-group.half:nth-child(odd) {
  margin-right: 5%;
}

.material.form .form-group.third {
  display: inline-block;
  width: 30%;
  margin-right: 4%;
}
.material.form .form-group.third:nth-child(3) {
  margin-right: 0;
}

.material.form .form-inline > .form-group,
.material.form .form-inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.material.form .form-help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  opacity: 0.4;
  font-size: 0.8rem;
}
.form-group .form-help {
  text-align: left;
  position: absolute;
  left: 0;
  width: 100%;
}
.material.form .form-group input:not([type="checkbox"]) {
  height: 1.9rem;
}
.material.form .form-group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.material.form .form-group *:disabled {
  opacity: 0.6;
}
.material.form .form-group .control-label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  opacity: 0.6;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.28s ease;
}
.material.form .form-group .control-label em {
  transition: all 0.28s ease;
}
.material.form .form-group.no-label {
  margin-top: -1.5em;
}
.material.form .form-group .bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.material.form .form-group .bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #3893E8;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.material.form .form-group input:not([type="checkbox"]),
.material.form .form-group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  line-height: 1.9;
  width: 100%;
  transition: all 0.28s ease;
  box-shadow: none;
}
.material.form .form-group textarea {
  line-height: 1.7;
  resize: none;
}
body.dark .material.form .form-group textarea,
body.dark .material.form .form-group .bar {
  border-color: #3d3d3d;
}
.material.form .form-group input[type="file"] {
  line-height: 1;
}
.material.form .form-group input[type="file"] ~ .bar {
  display: none;
}
.material.form .form-group * {
  color: #333;
}
body.dark .material.form .form-group * {
  color: #bbb;
}
.material.form .form-group a {
  color: #3893E8;
}
body.dark .material.form .form-group select option {
  color: #bbb;
  background-color: #2b2b2b;
}
.material.form .form-group select ~ .control-label,
.material.form .form-group input:focus ~ .control-label,
.material.form .form-group input.flatpickr ~ .control-label,
.material.form .form-group input:valid ~ .control-label,
.material.form .form-group input.form-file ~ .control-label,
.material.form .form-group input.has-value ~ .control-label,
.material.form .form-group textarea:focus ~ .control-label,
.material.form .form-group textarea:valid ~ .control-label,
.material.form .form-group textarea.form-file ~ .control-label,
.material.form .form-group textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  opacity: 0.6;
  top: -1rem;
  left: 0;
}
.material.form .form-group *:focus {
  outline: none;
}
.material.form .form-group *:focus ~ .control-label,
.material.form .form-group *:focus ~ .form-help {
  color: #3893E8;
  opacity: 0.6;
}
.material.form .form-group *:focus ~ .bar::before {
  width: 100%;
  left: 0;
}

.material.form .has-error .legend.legend,
body.base .material.form .has-error .error,
.has-error.form-group .control-label.control-label {
  color: #d9534f;
}
.material.form .has-error.form-group .form-help,
.material.form .has-error.form-group label strong,
.material.form .has-error.form-group .helper {
  color: #d9534f;
}
.material.form .has-error .bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}
