#lichess_message h1 {
    font-size: 1.8em;
    color: #666;
    font-weight: normal;
    margin-bottom: 0.5em;
}
#lichess_message {
    min-height: 300px;
}

div.sidebar {
    margin-top: 30px;
}
div.sidebar a {
    display: block;
    font-size: 1.2em;
    padding: 1em 0 1em 1em;
}

#lichess_message table {
    width: 100%;
}
#lichess_message tr {
    border-top: 1px solid #e4e4e4;
}
#lichess_message tr.odd {
    background: #f4f4f4;
}

#lichess_message td.subject a {
    display: block;
    padding: 1em;
    font-size: 120%;
}
#lichess_message tr.new td.subject a {
    color: #0090b0;
    font-weight: bold;
}
#lichess_message td.author, #lichess_message td.date {
    white-space: nowrap;
    padding-right: 1em;
}

#lichess_message div.thread_actions {
    margin-top: 0.4em;
    float: right;
}

#lichess_message div.thread_message {
    font-size: 1.2em;
    margin-top: 2em;
    border-top: 1px solid #d4d4d4;
    padding-top: 2em;
}
#lichess_message div.thread_message span.infos {
    margin-bottom: 1em;
    display: block;
}
#lichess_message div.answer {
    margin-top: 3em;
}

#lichess_message div.form {
    font-size: 1.1em;
    border-top: 1px solid #d4d4d4;
    padding-top: 2em;
}
#lichess_message div.form div.actions,
#lichess_message div.answer div.actions {
    padding: 0.5em 0;
    font-size: 1.1em;
}
#lichess_message div.form .actions a,
#lichess_message div.answer div.actions a {
    margin-left: 1em;
}
#lichess_message label {
    float: left;
    width: 60px;
    text-align: right;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 3px;
}
#lichess_message .field_to input,
#lichess_message .field_subject input {
    width: 450px;
    border: 1px solid #D4D4D4;
    padding: 3px 5px;
}
#lichess_message .field_to,
#lichess_message .field_subject {
    margin-bottom: 1em;
}
#lichess_message form textarea {
    width: 547px;
    height: 150px;
    padding: 10px;
    border: 1px solid #D4D4D4;
}
#lichess_message ul {
    color: red;
    margin-left: 60px;
}
