.mobile .right-side {
  float: right;
  width: 264px;
  text-align: center;
}
.mobile .right-side .nexus5-playing {
  margin: -50px 0 30px 0;
}
.mobile .right-side .qrcode {
  margin-top: 20px;
}
.mobile .left-side {
  width: 245px;
  text-align: center;
}
.mobile h1 {
  font-size: 4em;
  display: block;
  margin-bottom: 0.5em;
}
.mobile .store {
  display: inline-block;
  margin-top: 1em;
}
.mobile .left-side h2 {
  margin-top: 30px;
  font-size: 1.5em;
}
.mobile .left-side .block {
  text-align: left;
  margin: 10px 0 20px 0;
}
.mobile .left-side li {
  list-style: inside disc;
}
.mobile .support {
  font-style: monospace;
  font-weight: bold;
}
.mobile .support.good {
  color: #759900;
}
.mobile .support.partial {
  color: #d59120;
}
