.irwin h1 span {
}
.irwin h1 .up {
  text-transform: uppercase;
  color: #759900;
}
.irwin h1 .down {
  color: #dc322f;
}
.irwin .both {
  display: flex;
  justify-content: space-between;
}
.irwin .both > div {
  flex: 0 0 49%;
  width: auto;
  border-left: 1px solid #ccc;
  border-width: 0 1px;
}
.irwin .both > div:first-child {
  border-left: none;
  border-right: 1px solid #ccc;
}
.irwin .little {
  font-size: 0.8em;
  opacity: 0.8;
}
.irwin .slist {
  white-space: nowrap;
}
.irwin .slist td {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.irwin .slist td:first-child, .irwin .slist th:first-child {
    padding-left: 15px;
}
.irwin .slist strong {
  display: block;
  text-align: center;
}
.irwin .queue tbody tr {
}
.irwin .queue tbody tr.started,
body.dark .irwin .queue tbody tr.started {
  background-image: linear-gradient(to right, rgba(99,155,36,0.7) 0px, rgba(99,155,36,0.7) 5px, rgba(0,0,0,0) 5px, rgba(0,0,0,0) 100%);
}
body.dark .irwin .both > * {
  border-color: #444;
}
body.dark .irwin .activation {
  color: #fff;
  text-align: center;
}
.irwin .green {
  /* actually blue */
  background-color: rgba(32, 119, 192, 0.3);
}
.irwin .yellow {
  background-color: rgba(221, 207, 63, 0.3);
}
.irwin .orange {
  background-color: rgba(231, 155, 100, 0.3);
}
.irwin .red {
  background-color: rgba(231, 59, 56, 0.3);
}
