#mod-gamify h1 {
  font-family: 'PT Serif';
  font-size: 3em;
  letter-spacing: 5px;
  display: block;
}
#mod-gamify.index h1 {
  margin-bottom: 30px;
  text-align: center;
}
#mod-gamify .third {
  float: left;
  width: 33.33%;
}
#mod-gamify .champs {
  width: 100%;
}
#mod-gamify .champ {
  text-align: center;
}
#mod-gamify .champ h2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.8em;
  text-transform: uppercase;
  opacity: 0.7;
}
#mod-gamify .champ h3 {
  font-family: 'PT Serif';
  font-size: 3em;
  color: #d59120;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 15px 0 25px 0;
}
#mod-gamify .champ h3 a {
  color: #d59120;
}
#mod-gamify .champ table {
  margin: auto;
}
#mod-gamify .champ table tr th {
  text-transform: uppercase;
}
#mod-gamify .champ table tr td {
  font-size: 2em;
  font-family: monospace;
  text-align: right;
  line-height: 50px;
}
#mod-gamify .champ table tr:first-child td {
  font-size: 3em;
}
#mod-gamify .champ a.current {
  display: block;
  margin: 30px auto 20px auto;
  width: 70%;
}
#mod-gamify .period table {
  width: 100%;
}
#mod-gamify .period table thead {
  font-family: 'PT Serif';
  font-size: 1.2em;
}
#mod-gamify .period table td,
#mod-gamify .period table thead th {
  padding: 7px;
}
#mod-gamify .period table tbody {
  font-size: 1.3em;
}
#mod-gamify .period table tbody th {
  text-align: left;
  font-size: 1.4em;
}
#mod-gamify .period table td.score {
  font-size: 1.5em;
}
#mod-gamify .period table thead th:nth-child(n+1),
#mod-gamify .period table tr td {
  text-align: right;
  padding-right: 25px;
}
#mod-gamify .history {
  margin-top: 20px;
  font-size: 1.2em;
}
#mod-gamify .history table tr.year th {
  font-family: 'PT Serif';
  padding: 20px 0;
}

#mod-gamify .history table tr.year th:first-child {
  padding-left: 25px;
  font-size: 2.6em;
}
#mod-gamify .history table tr.year th:nth-child(n+3),
#mod-gamify .history table tr td {
  text-align: right;
  padding-right: 25px;
}
#mod-gamify .history table a,
#mod-gamify .history table .score {
  font-size: 1.2em;
}
