div.doc_box .body {
  font-size: 1.2em;
  text-align: justify;
}
div.doc_box .body h2 {
  font-size: 1.3em;
  margin-top: 1.5em;
  border-bottom: 1px solid #eee;
}
div.doc_box .body h3 {
  font-size: 1.3em;
  font-family: 'Roboto';
  font-weight: 300;
}
div.doc_box .body em {
  font-style: italic;
}
div.doc_box .body h3 em {
  font-family: 'Roboto';
  font-weight: 300;
}
div.doc_box .body p,
div.doc_box .body ul,
div.doc_box .body ol {
  margin: 1em 0;
}
div.doc_box .body ul li {
  list-style: disc outside;
  margin: 0.5em 0 0 1.5em;
}
div.doc_box .body ol li {
  list-style: decimal inside;
  margin: 0.5em 0;
}
div.doc_box .body li {
  margin-left: 2em;
}
div.doc_box .body a {
  color: #3893E8;
}
div.doc_box .body iframe {
  width: 100%;
}
