#pool {
  overflow: hidden;
}
#pool h1 form {
  float: right;
  margin-top: -5px;
  margin-right: -5px;
}

#pool > .pool_box {
  width: 525px;
  overflow: hidden;
}
#pool > .pool_side {
  float: right;
  width: 246px;
}
#pool > .pool_side:hover {
  overflow-y: auto;
}
#pool div.next_wave {
  text-align: center;
  margin-bottom: 10px;
}
#pool div.next_wave p {
  font-size: 2em;
}
#pool div.next_wave .wave_at {
  font-size: 5em;
  font-style: monospace;
}
#pool div.pairing_boxes .numbers {
  text-align: center;
}
#pool div.pairing_boxes .numbers span {
  margin: 0 5px;
}
#pool div.pairings {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
  margin-top: 10px;
}
#pool div.pairings a {
  padding: 0.3em 0.2em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
#pool div.pairings span {
  font-weight: bold;
}
#pool div.pairings span.win {
  color: #00aa00;
}
#pool div.pairings span.loss {
  color: #aa0000;
}
#pool div.pairings span.draw {
  color: #aaaa00;
}
#pool div.pairings em {
  font-style: italic;
}
#pool table.standing .rank {
  font-weight: bold;
  font-size: 1.2em;
}
#pool table.standing .rating {
  font-weight: bold;
}
#pool table.standing td.around-bar {
  padding: 0;
}
#pool table.standing div.bar {
  height: 3px;
  width: 0;
  background: #759900;
  opacity: 0.5;
}
#pool table.standing td.rank {
  padding-left: 15px;
  padding-right: 5px;
}
#pool table.standing tr.me.playing td.rank {
  border-left: 10px solid #d59120;
  padding-left: 10px;
}
#pool table.standing td.status {
  padding: 0;
}
#pool table.standing td.status a {
  text-decoration: none;
}
#pool table.standing td.status span.away {
  visibility: hidden;
}
#pool table.standing tr.me.watching td {
  background: #d0d0d0;
  opacity: 0.7;
}
#pool table.standing tr.me.watching form {
  display: none;
}
#pool table.standing tr.me.watching:hover td {
  opacity: 1;
}
#pool table.standing tr.me.watching:hover .link {
  display: none;
}
#pool table.standing tr.me.watching:hover form {
  display: block;
}
#pool table.standing td.recent_games {
  text-align: right;
}
#pool table.standing td.recent_games a {
  color: #888;
  text-decoration: none;
  margin-left: 1px;
}
#pool table.standing td.recent_games a:hover {
  text-decoration: underline;
}
#pool table.standing td.recent_games .win {
  color: #759900;
}
#pool table.standing td.recent_games .loss {
  color: #ac524f;
}

#pool a.pov {
  display: block;
  margin: 0 25px 1em 25px;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  border-radius: 100px;
  transition: box-shadow 1.5s;
}
#pool a.pov.glow {
  box-shadow: 0 0 10px 3px #fff,
  0 0 30px 5px #e89000,
  0 0 60px 10px #d85000;
}
#pool a.pov span {
  display: block;
  font-weight: bold;
}
#pool a.pov::before,
#pool a.pov::after {
  content: 'U';
  font-size: 32px;
  position: absolute;
  top: 16px;
}
#pool a.pov::before {
  left: 15px;
}
#pool a.pov::after {
  right: 15px;
}
div.pool_box.help_box p {
  font-size: 1.2em;
  display: block;
  margin: 1em 0;
}
