div.game_control .noop {
  width: 30px;
}

.study_box .title {
  display: flex;
  padding: 7px;
  background: #3893E8;
  color: #fff;
  white-space: nowrap;
}
.study_box .title .icon {
  flex: 0 0 40px;
  height: 40px;
  margin-right: 10px;
  opacity: 0.9;
}
.study_box .title h1 {
  font-size: 1.2em;
}
.study_box .title em {
  font-size: 0.9em;
  opacity: 0.9;
}
.study_box .list {
  border-top: 0;
  max-height: 800px;
}
.study_box .elem.chapter {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
body.dark .study_box .elem.chapter {
  border-color: #333;
}
.study_box .chapter h3 {
  margin: 12px 0 12px 0px;
}
.study_box .list .status {
  width: 28px;
  opacity: 1;
  font-size: 1.25em;
  margin-right: 4px;
}
.study_box .list .status.ongoing {
  color: #d0d0d0;
}
body.dark .study_box .list .status.ongoing {
  color: #444;
}
.study_box .list .status.done {
  color: #3893E8;
}
.study_box .list .active .status.ongoing {
  font-size: 1em;
}
.study_box .finally {
  padding: 12px 0;
  display: flex;
  background: #ddd;
}
body.dark .study_box .finally {
  background: #404040;
}
.study_box .finally .back {
  width: 34px;
  text-align: center;
  margin-right: 5px;
  font-size: 1.2em;
}
div.underboard {
  margin-top: 20px;
}
.underboard .spinner {
  margin: 15px auto;
}
.underboard .feedback {
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
body.dark .underboard .feedback {
  background: #333;
}
.underboard .feedback.win {
  background: #759900!important;
  color: #fff;
  animation: 1.7s soft-bright ease-in-out infinite;
  opacity: 0.8;
  transition: 0.13s;
}
.underboard .feedback.fail {
  background: #dc322f!important;
  color: #fff;
  animation: 1.7s soft-bright ease-in-out infinite;
  opacity: 0.8;
  transition: 0.13s;
}
.underboard .feedback:hover {
  opacity: 1;
}
.underboard .feedback span {
  margin-right: 10px;
}
.underboard .feedback strong {
  margin-left: 3px;
}
.underboard .feedback.ongoing {
  align-items: flex-start;
  flex-flow: column;
  text-align: left;
}
.underboard .feedback .goal {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 10px;
}
.underboard .feedback .comment {
  width: 100%;
  display: block;
}
.underboard .feedback .comment iframe {
  margin: 10px 0;
}
.underboard .setting {
  margin-top: 15px;
  text-align: left;
  line-height: 22px;
  display: flex;
}
.underboard .setting > label {
  order: 1;
  flex: 1 0;
  cursor: pointer;
  margin-left: 10px;
}

#practice_app .section {
  width: 742px;
  padding-top: 10px;
}
#practice_app .section > h2 {
  font-size: 2em;
  font-family: 'Roboto';
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #999;
  text-shadow: 0 1px 1px #fff;
  text-align: center;
}
body.dark #practice_app .section > h2 {
  text-shadow: 0 1px 1px #000;
}
#practice_app .studies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px 0 36px 0;
}
#practice_app .study {
  position: relative;
  display: flex;
  align-items: center;
  flex: 0 0 49%;
  width: 49%;
  height: 90px;
  color: #fff;
  box-sizing: border-box;
  margin-top: 13px;
  transition: 0.13s;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  font-size: 1.2em;
}
#practice_app .study .icon {
  flex: 0 0 70px;
  height: 70px;
  box-sizing: border-box;
  margin: 0 13px;
  opacity: 0.9;
}
#practice_app .study h3 {
  font-size: 1.4em;
  margin: 0 0 5px -1px;
}
@keyframes soft-bright {
  50%{
    filter: brightness(1.2);
  }
}
#practice_app .study.ongoing {
  background: #3893E8!important;
}
#practice_app .study.ongoing:hover {
  animation: 1.7s soft-bright ease-in-out infinite;
}
#practice_app .study.done {
  background: #4caf50!important;
}
#practice_app .study.future {
  opacity: 0.7;
  background: #f57c00;
}
#practice_app .study.future .icon {
  opacity: 0.7;
}
#practice_app a.study.active,
#practice_app a.study:hover {
  filter: brightness(1.08);
  transform: scale(1.02);
  opacity: 1;
}
#practice_app .ribbon-wrapper {
  display: block;
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}
#practice_app .ribbon {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  color: #6a6340;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

#practice_app .ribbon:before,
#practice_app .ribbon:after {
  content: "";
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
#practice_app .ribbon:before {
  left: 0;
}
#practice_app .ribbon:after {
  right: 0;
}

#practice_app .ribbon {
  background-color: #B3E5FC;
}
#practice_app .ribbon:before,
#practice_app .ribbon:after {
  border-top: 3px solid #536DFE;
}
#practice_app .done .ribbon {
  background-color: #BFDC7A;
}
#practice_app .done .ribbon:before,
#practice_app .done .ribbon:after {
  border-top:   3px solid #6e8900;
}
#practice_app .what_next > p {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2em;
}

#practice_side {
  border: none;
  background: transparent!important;
}
body.dark #practice_side a {
  color: #bbb;
}
#practice_side .home {
  width: 220px;
  background: #3893E8;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
}
#practice_side .home h1 {
  font-size: 30px;
}
#practice_side .home h2 {
  font-size: 14px;
  margin-bottom: 15px;
}

@keyframes fat-glide {
  50%{
    opacity: 1;
  }
}
#practice_side .home i.fat {
  display: block;
  width: 200px;
  height: 200px;
  background: url(../images/practice/robot-golem.svg);
  margin: auto;
  opacity: 0.8;
}
#practice_side .home:hover i.fat {
  animation: 1.2s fat-glide ease-in-out infinite;
}
#practice_side .home .progress {
  position: relative;
  width: 100%;
  height: 30px;
  /* border-top: 3px solid #1566b2; */
  background: #1a7edb;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
  overflow: hidden;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 1000%; }
}
@keyframes animatedBar {
  from { transform: translateX(-100px); }
  to { transform: translateX(0px); }
}
#practice_side .home .progress .bar {
  height: 100%;
  background: #1566b2;
  border-radius: 0 5px 5px 0;
  background-image: url(../images/grain.png);
  transform: translateX(-100px);
  animation: animatedBackground 50s linear infinite, animatedBar 1s forwards;
}
#practice_side .home .progress .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 30px;
  z-index: 3;
}
#practice_side .home .actions {
  padding: 20px 10px;
  text-align: left;
}
#practice_side .home a {
  opacity: 0.6;
  color: #fff!important;
}
#practice_side .home a:hover {
  opacity: 1;
}

i.practice {
  background: url('/assets/images/practice/help.svg');
  background-size: cover;
}
i.ptQ1LLvm {
  background-image: url('/assets/images/practice/backstab.svg');
}
i.E1lqtqFt {
  background-image: url('/assets/images/practice/arrowed.svg');
}
i.xebrDvFe {
  background-image: url('/assets/images/practice/key.svg');
}
i.A4ujYOer {
  background-image: url('/assets/images/practice/push.svg');
}
i.\39 ogFv8Ac {
  background-image: url('/assets/images/practice/voodoo-doll.svg');
}
i.Qj281y1p {
  background-image: url('/assets/images/practice/trident.svg');
}
i.tuoBxVE5 {
  background-image: url('/assets/images/practice/pierced-body.svg');
}
i.BJy6fEDf {
  background-image: url('/assets/images/practice/stone-pile.svg');
}
i.Rg2cMBZ6 {
  background-image: url('/assets/images/practice/stone-spear.svg');
}
i.fE4k21MW {
  background-image: url('/assets/images/practice/pocket-bow.svg');
}
i.\38 yadFPpU {
  background-image: url('/assets/images/practice/sword-in-stone.svg');
}
i.PDkQDt6u {
  background-image: url('/assets/images/practice/catapult.svg');
}
i.\39 6Lij7wH {
  background-image: url('/assets/images/practice/musket.svg');
}
i.o734CNqp {
  background-image: url('/assets/images/practice/breaking-chain.svg');
}
i.\39 cKgYrHb {
  background-image: url('/assets/images/practice/cement-shoes.svg');
}
i.MnsJEWnI {
  background-image: url('/assets/images/practice/boxing-glove-surprise.svg');
}
i.ITWY4GN2 {
  background-image: url('/assets/images/practice/two-shadows.svg');
}
i.s5pLU7Of {
  background-image: url('/assets/images/practice/trojan-horse.svg');
}
i.g1fxVZu9 {
  background-image: url('/assets/images/practice/bolt-shield.svg');
}
i.RUQASaZm {
  background-image: url('/assets/images/practice/rogue.svg');
}
i.\39 c6GrCTk {
  background-image: url('/assets/images/practice/siege-tower.svg');
}
i.Z1DKk4Rl {
  background-image: url('/assets/images/practice/stone-crafting.svg');
}
i.ByhlXnmM {
  background-image: url('/assets/images/practice/ghost-ally.svg');
}
i.pt20yRkT {
  background-image: url('/assets/images/practice/stone-tower.svg');
}
i.MkDViieT {
  background-image: url('/assets/images/practice/guarded-tower.svg');
}
