div.game_control .noop {
  width: 30px;
}

.study_box .title {
  display: flex;
  padding: 7px;
  background: #3893E8;
  color: #fff;
  white-space: nowrap;
}
.study_box .title .icon {
  flex: 0 0 40px;
  height: 40px;
  margin-right: 10px;
  opacity: 0.9;
}
.study_box .title h1 {
  font-size: 1.2em;
}
.study_box .title em {
  font-size: 0.9em;
  opacity: 0.9;
}
.study_box .list {
  border-top: 0;
  max-height: 800px;
}
.study_box .elem.chapter {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
body.dark .study_box .elem.chapter {
  border-color: #333;
}
.study_box .chapter h3 {
  margin: 12px 0 12px 0px;
}
.study_box .list .status {
  width: 28px;
  opacity: 1;
  font-size: 1.25em;
  margin-right: 4px;
}
.study_box .list .status.ongoing {
  color: #d0d0d0;
}
body.dark .study_box .list .status.ongoing {
  color: #444;
}
.study_box .list .status.done {
  color: #3893E8;
}
.study_box .list .active .status.ongoing {
  font-size: 1em;
}
.study_box .finally {
  padding: 12px 0;
  display: flex;
  background: #ddd;
}
body.dark .study_box .finally {
  background: #404040;
}
.study_box .finally .back {
  width: 34px;
  text-align: center;
  margin-right: 5px;
  font-size: 1.2em;
}
