#puzzle {
  min-height: 600px;
}
#puzzle .is::before,
#puzzle .is::after,
#puzzle [data-icon]::before {
  margin-right: 3px;
}
#puzzle > .side .difficulty {
  margin-bottom: 2em;
}
#puzzle > .center {
  width: 512px;
}
#puzzle .right .box input {
  width: 214px;
}
#puzzle .right h2 {
  font-size: 1.4em;
  margin-bottom: 7px;
}
#puzzle .right .please_vote {
  background: #DFF0D8;
  color: #3c763d;
  margin-bottom: 1em;
  text-align: center;
  padding: 10px 5px;
}
#puzzle .right .please_vote .then,
#puzzle .right .please_vote.thanks .first {
  display: none;
}
#puzzle .right .please_vote.thanks .then {
  display: block;
}
#puzzle .right piece {
  width: 100%;
  height: 100%;
}
.is3d #puzzle .right div.no-square {
  height: 82px;
}
#puzzle .right .findit {
  display: block;
  margin: 1em 0 2em 0;
}
#puzzle .right .control {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 10px;
}
#puzzle .right .control .giveup {
  visibility: hidden;
  font-weight: normal;
  transition: 1s;
  opacity: 0;
}
#puzzle .right .control .giveup.revealed {
  opacity: 1;
  visibility: visible;
}
#puzzle .right .continue_wrap {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#puzzle .right .retry {
  display: inline-block;
  margin-top: 20px;
}
#puzzle .right .continue {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.3em;
  font-weight: bold;
}
#puzzle .game_control {
  text-align: center;
  margin-top: 15px;
}
#puzzle .game_control a {
  font-size: 16px;
  height: 22px;
  display:inline-block;
}
#puzzle #GameButtons {
  display: inline-block;
  margin-left: 10px;
}
#puzzle #GameButtons a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-left: -2px;
  margin-right: -3px;
}
#puzzle #GameButtons a.disabled::before {
  opacity: 0.5;
  text-shadow: none !important;
}
#puzzle div.upvote {
  float: right;
  text-align: center;
}
#puzzle div.upvote a {
  cursor: default;
}
#puzzle div.upvote.enabled a {
  cursor: pointer;
}
#puzzle div.upvote a {
  display: block;
  font-size: 24px;
}
#puzzle div.upvote.enabled a:hover,
#puzzle div.upvote a.active {
  color: #d85000;
}
#puzzle div.upvote span.count {
  display: block;
  font-size: 24px;
  line-height: 1;
}
#puzzle .undertable td {
  text-align: left;
  padding-left: 10px;
}
