#puzzle {
  position: relative;
}
#puzzle > .side {
  position: absolute;
  margin-top: 64px;
  left: -222px;
  width: 212px;
}
#puzzle div.box {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  padding: 7px;
}
#puzzle > .side h1 {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
}
#puzzle > .side p {
  line-height: 1.8em;
}
#puzzle > .side p.comment {
  padding: 10px 5px;
  text-align: center;
  margin-bottom: 1em;
}
#puzzle > .side p.comment strong {
  display: block;
}
#puzzle > .side p.retry {
  color: #31708f;
  background: #D9EDF7;
}
#puzzle.retry > .side p.retry {
  display: block;
}
#puzzle > .side p.great,
#puzzle > .side p.win {
  background: #DFF0D8;
  color: #3c763d;
}
#puzzle.great > .side p.great {
  display: block;
}
#puzzle > .side p.loss {
  color: #a94442;
  background: #ebccd1;
}
#puzzle > .side .user_chart {
  margin: 0 0 -10px -9px;
}

#puzzle > .center {
  width: 512px;
}
#puzzle > .right {
  position: absolute;
  left: 524px;
  width: 242px;
}
#puzzle > .right .lichess_control {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 10px;
}
#puzzle > .right > .continue {
  display: block;
  margin: 20px auto 0 auto;
  font-size: 1.3em;
}

#puzzle .prev_next {
  text-align: center;
}
#puzzle .prev_next button {
  font-size: 2em;
  font-weight: bold;
  padding: 5px 30px;
  margin: 15px 5px 0 5px;
}
#puzzle .prev_next button:disabled {
  color: transparent;
}

#chessboard {
  width: 520px;
}

#chessboard .last {
  background-image: url(../images/over5.png);
}
