#chessboard {
  width: 520px;
}

#puzzle .on_win,
#puzzle .on_retry,
#puzzle .on_fail {
  margin: 1em;
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #c0c0c0;
  color: #000;
  display: none;
}
#puzzle .on_win {
  background: #AAFFAA;
}
#puzzle .on_retry {
  background: #CCCC77;
}
#puzzle .on_fail {
  background: #FF9999;
}
#puzzle.win .on_win,
#puzzle.retry .on_retry,
#puzzle.fail .on_fail {
  display: block;
}
.last {
  background-image: url(../images/over5.png);
}
.lichess_goodies h1 {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 8px;
  border-bottom: 1px solid #3d3d3d;
  margin-bottom: 8px;
}
.lichess_goodies p {
  line-height: 1.8em;
}
