#qa input,
#qa textarea {
  border: 1px solid #ccc;
}
#qa form.wide {
  font-size: 1.2em;
}
#qa form.wide input.title {
  width: 600px;
  padding: 5px 10px;
  margin-top: 20px;
}
#qa form.wide textarea {
  width: 600px;
  height: 200px;
  padding: 5px 10px;
  margin-top: 20px;
}
#qa form.wide .tags_wrap {
  margin-top: 20px;
}
#qa form.wide .tags_wrap .tags_input {
  display: block;
  margin-bottom: 10px;
}
#qa form.wide .submit {
  margin-top: 20px;
}
#qa form.wide p.error {
  margin-bottom: 10px;
  color: red;
}
#qa form.mod {
  display: inline;
}
#qa .checkmateCaptcha {
  margin-top: 20px;
  display: block;
}
#qa .checkmateFen {
  margin-left: 0;
}
#qa .content_box_inter.meta {
  border-top: none;
  padding: 20px;
}
div.side form.search {
  margin-bottom: 1em;
}
div.side div.box .questions {
  padding-top: 0;
  padding-bottom: 0;
}
div.side .questions a {
  display: block;
  padding: 5px 0;
}
div.side .questions a:hover {
  text-decoration: underline;
}
#qa .big_search {
  margin: 10px 0 10px 0;
  text-align: center;
}
#qa .big_search input {
  padding: 15px 25px;
  font-size: 1.2em;
  width: 400px;
  margin: auto;
  position: relative;
}
#qa .light {
  font-family: 'Roboto';
  font-weight: 300;
}
#qa .light .user_link {
  font-family: 'Noto Sans';
  font-weight: normal;
}
#qa .previews {
  border-bottom: none;
}
#qa .previews td {
  padding-top: 22px;
  padding-bottom: 22px;
}
#qa .previews td:last-child {
  padding-right: 20px;
}
#qa .previews .tags {
  font-size: 0.8em;
}
#qa .previews .title {
  display:inline-block;
  font-size: 1.2em;
  margin: 8px 0 10px 0;
}
#qa .previews .title:hover {
  text-decoration: underline;
}
#qa .previews .number {
  text-align: center;
}
#qa .previews .number p {
  font-size: 1.2em;
  font-weight: bold;
}
#qa .previews .number span {
  font-size: 0.8em;
}
#qa .previews .meta {
  font-size: 0.8em;
}
#qa .question > .meta .actions {
  float: right;
}
#qa .question > .meta th {
  width: 70px;
  padding: 3px 0;
  font-family: 'Roboto';
  font-weight: 300;
}
#qa .tag {
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
  opacity: 0.7;
}
#qa .tag:hover {
  opacity: 1;
}
#qa div.upvote {
  width: 90px;
  text-align: center;
}
#qa div.upvote * {
  margin: auto;
}
#qa div.upvote a {
  cursor: default;
}
#qa div.upvote.enabled a {
  cursor: pointer;
}
#qa div.upvote a {
  display: block;
  font-size: 24px;
  width: 40px;
}
#qa div.upvote.enabled a:hover,
#qa div.upvote a.active {
  color: #d85000;
}
#qa div.upvote span.count {
  display: block;
  font-size: 24px;
  width: 40px;
  line-height: 1;
}
#qa .question h1 a {
  display: inline-block;
  width: 70px;
}
#qa .question > .wrap > .head {
  margin: 20px 0;
  overflow: hidden;
}
#qa .question > .wrap > .head .side {
  float: left;
  width: 90px;
}
#qa .question > .wrap > .head .content {
  margin-left: 90px;
}
#qa .question > .wrap > .head .content > .body {
  font-size: 1.2em;
  margin: 10px 20px 30px 0;
}
#qa .question .comments {
  border-top: 1px dotted #ccc;
}
#qa .comments .comment {
  border-bottom: 1px dotted #ccc;
  padding: 10px 20px 10px 0;
}
#qa .question .your-comment .toggle {
  display: inline-block;
  margin: 5px 0;
  opacity: 0.5;
}
#qa .question .your-comment .toggle:hover {
  opacity: 1;
}
#qa .question .your-comment form {
  display: none;
}
#qa .comment .mod {
  visibility: hidden;
}
#qa .comment:hover .mod {
  visibility: visible;
}
#qa .question .your-comment textarea {
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  padding: 5px 10px;
  display: block;
}
#qa .answers-header {
  padding: 10px 0;
  font-size: 1.4em;
  margin-left: -8px;
  padding-left: 97px;
  width: 708px;
  border: 1px solid #ccc;
}
#qa .help {
  margin: 20px 0 20px 90px;
}
#qa #your-answer form {
  display: block;
  margin: 30px 0 20px 90px;
}
#qa #your-answer textarea {
  display: block;
}
#qa .answer-wrap {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
#qa .answer-wrap:last-child {
  border-bottom: none;
}
#qa .answer-wrap .side {
  float: left;
  width: 90px;
  text-align: center;
}
#qa .answer-wrap .content {
  margin-left: 90px;
}
#qa .answer-wrap .answer > .body {
  margin: 10px 20px 10px 0;
  font-size: 1.2em;
}
#qa .answer-wrap .side .accept {
  margin: 10px auto 0 auto;
  font-size: 1.2em;
}
#qa .answer-wrap .side .accepted {
  font-size: 3.2em;
  color: #759900;
}
#qa .answer .toggle-edit-answer {
  visibility: hidden;
}
#qa .answer:hover .toggle-edit-answer {
  visibility: visible;
}
#qa .answer .mod {
  display: none;
  line-height: 2em;
}
#qa .answer:hover .mod {
  display: inline;
}
#qa .answer .edit-answer,
#qa .answer.edit .body {
  display: none;
}
#qa .answer.edit .edit-answer {
  display: block;
}
#qa .answer .edit-answer textarea {
  width: 600px;
  height: 200px;
  margin: 10px 0;
  padding: 5px 10px;
  display: block;
}
.tt-hint {
  display: none;
}
.tt-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
.tm-tag {
  border: #ccc 1px solid;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  display: inline-block;
  border-radius: 3px;
  margin: 0 5px 5px 0;
  padding: 3px 7px;
  vertical-align: middle;
  font-size: 0.8em;
}
.tm-tag .tm-tag-remove {
  font-weight: bold;
  margin-left: 4px;
  opacity: 0.5;
}
.tm-tag .tm-tag-remove:hover {
  opacity: 1;
}
