.pull-quote {
  margin: 0 auto;
  font-family: 'PT Serif', 'Noto Sans', 'Lucida Grande';
  font-size: 15px;
  text-align: left;
}
.pull-quote p {
  position: relative;
  margin: 0 10px;
  padding: 15px 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-style: italic;
}
.pull-quote.long p {
  font-size: 14px;
}
.pull-quote p:after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 42px;
  width: 15px;
  height: 15px;
  background: #eee;
  border-left: 1.5px solid #aaa;
  border-bottom: 1px solid #aaa;
  transform: skew(45deg) rotate(-45deg);
}
.content_box .pull-quote p:after {
  background: #fff;
}
.pull-quote footer {
  margin: 10px;
  line-height: 20px;
  text-align: right;
}
.pull-quote footer:before {
  content: '\2014';
}
body.dark .pull-quote p,
body.dark .pull-quote p:after {
  border-color: #505050;
}
body.dark .content_box .pull-quote p:after {
  background-color: #2b2b2b;
}
body.dark .pull-quote p:after {
  background: #1a1a1a;
}

body.transp .pull-quote p:after,
body.transp .content_box .pull-quote p:after {
  background: linear-gradient(45deg, #505050, #505050 55%, transparent 55%, transparent);
  border: none;
}
