#relay_list .relay_box {
  min-height: 400px;
  position: relative;
}
#relay_list .relay_box::before {
  font-size: 50px;
  position: absolute;
  top: 11px;
  left: 12px;
}
#relay_list .relay_box h1 {
  margin-left: 50px;
}
#relay .title_tag {
  float: right;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  margin: 25px 25px 0 0;
}
#relay .game_list {
  margin-top: 30px;
  text-align: center;
}
.side_box .setup {
  margin-top: 10px;
}
#relay .join_choice {
  display: none;
}
.join_choice .button {
  display: block;
  margin: 10px 0;
}
#relay_list table.slist {
  line-height: 2.3em;
}
#relay_list table.slist td {
  padding-top: 1em;
  padding-bottom: 1em;
}
#relay_list table.slist .name {
  text-decoration: none;
  letter-spacing: 1px;
  display: block;
}
#relay_list table.slist .name:hover {
  text-decoration: underline;
}
