div.game_config button {
  font-size: 1.4em;
  padding: 0 2em;
}
div.game_config button {
  letter-spacing: 1px;
}
div.game_config {
  padding-bottom: 0;
}
div.game_config.error {
  padding-bottom: 22px;
}
div.game_config group.radio {
  margin: 0 auto 1em auto;
  width: 70%;
}
div.game_config group.radio label {
  padding: 5px;
}
div.game_config group.radio label.disabled {
  opacity: 0.4;
  cursor: default;
}
div.game_config div.ui-slider {
  font-size: 1.3em;
  margin: 0 15px;
}
div.game_config .optional_config {
  padding: 8px 0;
  border-bottom: solid 1px #e4e4e4;
}
div.game_config .mode_choice {
  margin-top: 1em;
}
div.game_config .optional_config,
div.game_config .ratings {
  background: #f4f4f4;
  border-top: solid 1px #e4e4e4;
}
div.game_config.error .ratings {
  border-top: 0;
}

div.game_config .label_select {
  overflow: hidden;
  text-align: left;
}
div.game_config .label_select.variant {
  margin-bottom: 8px;
}
div.game_config .label_select label {
  display: block;
  float: left;
  width: 144px;
  text-align: right;
  padding: 5px 0;
}
div.game_config .label_select select {
  margin-left: 10px;
  font-weight: bold;
  padding: 5px 8px;
}
div.game_config .fen_position {
  padding: 8px 0;
  display: none;
}
div.game_config .fen_position .cg-board-wrap {
  margin: 8px auto 0 auto;
}
div.game_config .fen_position .fen_form {
  width: 95%;
  margin: auto;
}
div.game_config .fen_position .fen_form input {
  border: 1px solid #ccc;
  width: 320px;
  padding: 2px 3px;
}
div.game_config .fen_position .fen_form .button {
  float: right;
}
div.game_config input#fen.success {
  border-color: #00aa00;
}
div.game_config input#fen.failure {
  border-color: #ac524f;
}
div.game_config .slider {
  padding-top: 5px;
  text-align: left;
  text-indent: 15px;
}
div.game_config .slider span {
  font-weight: bold;
}
div.game_config .ratings {
  line-height: 50px;
  width: 100%;
  text-align: center;
}
div.game_config .ratings > div {
  display: none;
}
div.game_config .color_submits {
  margin: 1em auto;
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
div.game_config button {
  margin: 0 8px;
}
div.game_config button.nope {
  visibility: hidden;
}
div.game_config button:disabled {
  opacity: 0.3;
}
div.game_config button.black,
div.game_config button.white {
  width: 50px;
  height: 50px;
  padding: 5px;
}
div.game_config button.black i,
div.game_config button.white i {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  background-size: 40px 40px;
}
div.game_config button.white i {
  background-image: url(../piece/cburnett/wK.svg);
}
div.game_config button.black i {
  background-image: url(../piece/cburnett/bK.svg);
}
div.game_config button.random {
  width: 75px;
  height: 75px;
  padding: 10px;
}
div.game_config .color_submits button.random i {
  background-image: url(../images/wbK.svg);
  background-size: 55px 55px;
  display: block;
  width: 55px;
  height: 55px;
  padding: 0;
}
div.game_config.lichess_overboard {
  top: 55%;
}
body.dark div.game_config .optional_config,
body.dark div.game_config input[type="text"],
body.dark div.game_config .ratings {
  border-color: #3d3d3d;
}
body.dark div.game_config .optional_config,
body.dark div.game_config .ratings {
  background: #343434;
}
body.transp div.game_config .optional_config,
body.transp div.game_config .ratings {
  background: rgba(0, 0, 0, 0.3);
}
