.shepherd-step {
  z-index: 5011;
  font-size: 1.2em!important;
}
body:not(.dark) .shepherd-cancel-link {
  color: #fff!important;
}
.shepherd-text {
  padding: 1em 1em 5px 1em!important;
}
.shepherd-text a {
  color: #3893E8!important;
}
.shepherd-content footer {
  padding: 0!important;
}
.shepherd-buttons li:last-child .shepherd-button {
  border-radius: 3px 0 5px 0!important;
  background: none!important;
  color: #3893E8!important;
}
.shepherd-buttons li:last-child .shepherd-button:hover {
  background: #3893E8!important;
  color: #fff!important;
}
