#simul.form h1 {
  text-align: center;
  display: block;
}
#simul form.plain {
  margin-top: 10px;
}
#simul form.plain .help {
  margin-bottom: 40px;
  text-align: center;
}
#simul form.plain td {
  padding: 0.6em;
  white-space: nowrap;
}
#simul form.plain tr td,
#simul form.plain tr th {
  padding: 0 0 50px 0;
}
#simul form.plain tr.help th {
  font-style: italic;
  padding: 0 0 10px 0;
}
#simul form.plain label {
  margin-right: 10px;
}
#simul form.plain input {
  width: 96%;
  padding: 0.5% 1%;
}
#simul form.plain input[type=checkbox] {
  width: auto;
}
#simul form.plain select {
  padding: 0.5% 1%;
  text-transform: capitalize;
  width: 99%;
}
#simul form.plain .inline select {
  width: 46%;
}
#simul form.plain input.submit {
  width: 99%;
}
#simul form.plain .error {
  color: red;
}
#simul form.plain button[type=submit] {
  font-size: 2em;
  margin-right: 20px;
}
#simul .content_box {
  min-height: 400px;
}
#simul .halves {
  overflow: hidden;
}
#simul .half {
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
}
#simul .half:first-child {
  border-right: 1px solid #ccc;
  width: 50%;
}
#simul .half:last-child {
  border-left: 1px solid #ccc;
  margin-left: -1px;
  width: calc(50% + 1px);
}
#simul .half .variant::before {
  font-size: 1.6em;
  opacity: 0.8;
}
#simul .half .user_link {
  line-height: 2.5em;
}
#simul .half tr.help th {
  padding: 60px 20px;
}
#simul .half td.action {
  text-align: right;
  opacity: 0.6;
  transition: opacity 0.13s;
}
#simul .half td.action:hover {
  opacity: 1;
}
#simul .half.candidates tr.me {
  border-left: 10px solid #d59120;
}
#simul .half.accepted tr.me {
  border-right: 10px solid #d59120;
}
#simul .pull-quote {
  margin-top: 30px;
  width: 300px;
}
#simul .title_tag {
  float: right;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  margin: 25px 25px 0 0;
}
#simul .top_right {
  float: right;
  margin: 20px 25px 0 0;
}
#simul .instructions {
  text-align: center;
  margin-bottom: 1em;
}
#simul h1 .author {
  margin-left: 1em;
  font-size: 0.7em;
}
#simul a.user_link em {
  font-weight: bold;
  padding-left: 5px;
}
#simul .results > div {
  width: 25%;
  display: inline-block;
  text-align: center;
}
#simul .results .number {
  font-size: 3em;
  font-weight: bold;
}
#simul .results .text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
}
#simul .game_list {
  margin-top: 30px;
  text-align: center;
}
#simul .game_list .vstext {
  transition: all 1s;
}
.variant_icons {
  white-space: nowrap;
}
.variant_icons span {
  font-size: 4em;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
.variant_icons span:not(:first-child) {
  margin-left: -0.5em;
}
.variant_icons.rich span:not(:first-child) {
  margin-left: -1em;
}
div.side_box .game_infos {
  padding-left: 0;
}
.side_box .variant_icons {
  float: left;
}
.side_box .variant_icons span {
  font-size: 2.5em;
}
.side_box .clock {
  font-size: 1.5em;
  line-height: 2em;
  margin-left: 10px;
}
.side_box .setup {
  margin-top: 10px;
}
#simul .join_choice {
  display: none;
}
#simul_list table.slist {
  line-height: 2.3em;
}
#simul_list table.slist td {
  padding-top: 1em;
  padding-bottom: 1em;
}
#simul_list table.slist .header {
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0!important;
}
#simul_list table.slist .header:hover {
  transform: translateX(3px);
}
#simul_list table.slist .header a {
  padding: 1em;
  display: block;
}
#simul_list table.slist .name {
  letter-spacing: 3px;
  font-size: 1.7em;
  display: block;
}
#simul_list table.slist .create td {
  padding: 2em;
  text-align: center;
}
.setup {
  text-transform: uppercase;
}
#simul div.game_list.playing > div {
  position: relative;
  overflow: hidden;
}
#site_header .help {
  margin-top: 20px;
}
#modal-wrap.card {
  max-width: 500px;
  padding: 0;
}
#modal-wrap.card img {
  width: 100%;
}
#modal-wrap.card em {
  font-style: italic;
  margin-top: 10px;
  display: block;
}
#modal-wrap.card p {
  margin: 30px 20px;
  text-align: justify;
}
