#simul.form h1 {
  text-align: center;
  display: block;
}
#simul.form .help {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 16px;
}
#simul.form .variants {
  display: flex;
  flex-flow: row wrap;
}
#simul.form .variants .checkable {
  flex: 50%;
  white-space: nowrap;
}
#simul .content_box {
  min-height: 400px;
}
#simul .halves {
  overflow: hidden;
}
#simul .half {
  box-sizing: border-box;
  float: left;
  margin-bottom: 20px;
}
#simul .half:first-child {
  border-right: 1px solid #ccc;
  width: 50%;
}
#simul .half:last-child {
  border-left: 1px solid #ccc;
  margin-left: -1px;
  width: calc(50% + 1px);
}
#simul .half .variant::before,
#simul .arbiter-panel .variant::before{
  font-size: 1.6em;
  opacity: 0.8;
}
#simul .arbiter-panel .variant span {
  margin-left: 10px;
}
#simul .half .user_link {
  line-height: 2.5em;
}
#simul .half tr.help th {
  padding: 60px 20px;
}
#simul .half td.action {
  text-align: right;
  opacity: 0.6;
  transition: opacity 0.13s;
}
#simul .half td.action:hover {
  opacity: 1;
}
#simul .half.candidates tr.me {
  border-left: 10px solid #d59120;
}
#simul .half.accepted tr.me {
  border-right: 10px solid #d59120;
}
#simul .half.candidates tr.absent {
  opacity: 0.6;
}
#simul .pull-quote {
  margin-top: 30px;
  width: 300px;
}
#simul .description {
  display: block;
  padding: 0px 42px 30px 42px;
}
#simul .top_right {
  float: right;
  margin: 20px 25px 0 0;
}
#simul .top_right.finished {
  font-size: 20px;
}
#simul .instructions {
  text-align: center;
  margin-bottom: 1em;
}
#simul h1 .author {
  margin-left: 1em;
  font-size: 0.7em;
}
#simul h1 .arbiter {
  margin-left: 1.4em;
  font-size: 0.6em;
}
#simul a.user_link em {
  font-weight: bold;
  padding-left: 5px;
}
#simul .results > div {
  width: 25%;
  display: inline-block;
  text-align: center;
}
#simul .results.partial > div {
  width: 33%;
}
#simul div.partial {
  text-align: center;
}
#simul .results div.target {
  width: 30%;
  margin-top: 18px;
}
#simul .results .number {
  font-size: 3em;
  font-weight: bold;
}
#simul .results .text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
}
#simul div.targets {
  font-size: 1.5em;
  padding: 14px 30px 10px 30px;
  text-align: center;
}
#simul .targets .req {
  font-weight: bold;
  margin: 0 0 0 .5em;
}
#simul .targets .win {
  color: #759900;
}
#simul .targets .draw {
  color: #bf811d;
}
#simul .targets .loss {
  color: #ac524f;
}
#simul .game_list {
  margin-top: 30px;
  text-align: center;
}
#simul .game_list .vstext {
  transition: all 1s;
}
#simul tr.allowed {
  line-height: 2.5em;
  border-bottom-style: outset;
}
#simul .allowed label {
  margin: 0 12px 0 8px;
}
#simul .allowed input {
  vertical-align: top;
  margin-top: 4px;
}
#simul .arbiter-panel {
  padding: 20px 15px;
}
#simul .arbiter-panel a.button {
 padding: 3px 5px;
}
#simul .arbiter-panel div.time {
  font-family: 'Roboto Mono', 'Roboto';
}
#simul .arbiter-panel div.time.running {
  font-weight: bold;
}
#simul .arbiter-panel table.slist td:last-child,
#simul .arbiter-panel table.slist th:last-child {
  border-right: 1px solid #d4d4d4;
}
#simul .arbiter-panel table.slist thead th {
  padding: 0.4em 0.25em;
}
#simul .arbiter-panel table.slist td {
  padding: 0.6em 0.25em;
  font-size: 1em;
}
#simul .arbiter-panel table.slist td.assess {
  white-space: nowrap;
}
#simul .arbiter-panel table.slist th.sortable span:first-child {
  margin-right: 2px;
  cursor: pointer;
}
#simul .arbiter-panel table.slist td:first-child,
#simul .arbiter-panel table.slist th:first-child {
  border-left: 1px solid #d4d4d4;
}
#simul .arbiter-panel .sig_1 {
  color: #2077C0;
  /* dark blue */
}
#simul .arbiter-panel .sig_2 {
  color: #23A1AB;
  /* light blue */
}
#simul .arbiter-panel .sig_3 {
  color: #DDCF3F;
  /* yellow */
}
#simul .arbiter-panel .sig_4 {
  color: #E79B64;
  /* orange */
}
#simul .arbiter-panel .sig_5 {
  color: #E73B38;
  /* red */
}
#simul .arbiter-panel span.sig {
  margin-right: 1px;
}
#simul .arbiter-panel label.playing {
  float: right;
  margin-bottom: 2px;
}
#simul .arbiter-panel .playing input {
  vertical-align: middle;
  padding-right: 2px;
}
.variant_icons {
  white-space: nowrap;
}
.variant_icons span {
  font-size: 4em;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff;
}
.variant_icons span:not(:first-child) {
  margin-left: -0.5em;
}
.variant_icons.rich span:not(:first-child) {
  margin-left: -1em;
}
div.side_box .game_infos {
  padding-left: 0;
}
.side_box .variant_icons {
  float: left;
}
.side_box .variant_icons span {
  font-size: 2.5em;
}
.side_box .clock {
  font-size: 1.5em;
  line-height: 2em;
  margin-left: 10px;
}
.side_box .setup {
  margin-top: 10px;
}
#simul .join_choice {
  display: none;
}
.settle_choice {
  display: none;
  max-width: 300px;
}
#simul table.slist td:first-child {
  padding-left: 1em;
}
#simul .option {
  float: right;
  cursor: pointer;
}

#simul_list table.slist {
  line-height: 2.3em;
}
#simul_list table.slist td {
  padding-top: 1em;
  padding-bottom: 1em;
}
#simul_list table.slist .header {
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0!important;
}
#simul_list table.slist .header:hover {
  transform: translateX(3px);
}
#simul_list table.slist .header a {
  padding: 1em;
  display: block;
}
#simul_list table.slist .name {
  letter-spacing: 3px;
  font-size: 1.7em;
  display: block;
}
#simul_list table.slist .create td {
  padding: 2em;
  text-align: center;
}
.setup {
  text-transform: uppercase;
}
#simul div.game_list.playing > div {
  position: relative;
  overflow: hidden;
}
#site_header .help {
  margin-top: 20px;
}
#site_header .help a {
  color: #3893E8;
}
#modal-wrap.card {
  max-width: 500px;
  padding: 0;
}
#modal-wrap.card img {
  width: 100%;
}
#modal-wrap.card em {
  font-style: italic;
  margin-top: 10px;
  display: block;
}
#modal-wrap.card p {
  margin: 30px 20px;
  text-align: justify;
}
div.eval_gauge {
  position: absolute;
  right: 0px;
  top: 0;
  width: 14px;
  height: 100%;
  background: #fff;
  background-size: 100% 100%;
  border-radius: 0 5px 5px 0;
  overflow: hidden;
}
div.eval_gauge.reverse {
  transform: rotateX(180deg);
}
div.eval_gauge::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.7) inset;
  border-radius: 0 5px 5px 0;
}
div.eval_gauge tick {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  border-bottom: 2px ridge #eee;
  opacity: 0.4;
}
div.eval_gauge tick.zero {
  top: 0;
  opacity: 1;
  border-bottom: 7px solid #dc322f!important;
  margin-top: -3px;
  opacity: 0.45;
}
div.eval_gauge .black {
  width: 100%;
  height: 50%;
  background: #888;
  border-radius: 0 5px 0 0;
  transition: height 1s;
}
#simul .game_list .gauge_displayed  {
  padding-right: 14px;
}
#simul .game_list .gauge_displayed .host.vstext {
  border-width: 0 0 1px 1px;
}
