#notifications_app .site_notifications_box {
  width: 300px;
}

#notifications_app .site_notification {
  display: flex;
  padding: 8px 12px;
  height: 36px;
  background: #fff;
  border-bottom: 1px solid #eee;
  position: relative;
}
#notifications_app .site_notification:hover {
  background: rgba(191, 231, 255, 0.2);
}
#notifications_app .site_notification i {
  font-size: 22px;
  opacity: 0.5;
  margin-right: 12px;
}
#notifications_app .site_notification:hover i {
  color: #3893E8!important;
  opacity: 0.6;
}
.site_notification .content {
  flex: 0 1 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.site_notification .content span {
  display: flex;
  justify-content: space-between;
}
.site_notification .content time {
  font-size: 0.9em;
  font-family: 'Roboto';
  font-weight: 300;
}
.site_notifications_box a.more {
  display: block;
  padding: 5px;
  color: #3893E8!important;
  text-align: center;
}
