body {
  margin-top: 40px;
}

#stage {
  height: 40px;
  background: #7f1010;
  color: #fff!important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 0 1rem;
  white-space: nowrap;
}
#stage a {
  color: #fff!important;
  text-decoration: underline;
  margin-left: 1em;
}
