.streamer-side {
  margin: 15px 0 0 -35px;
}
.streamer .top {
  display: flex;
}
.streamer img.picture {
  flex: 0 0 250px;
}
.streamer .overview {
  margin: 20px 10px 0 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
}
.streamer .metas {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.streamer .follow:disabled {
  cursor: default;
  opacity: 1;
}
div.content_box.streamer h1 {
  font-family: 'Roboto';
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0!important;
  text-shadow: none!important;
}
.streamer .headline {
  font-family: 'PT Serif', 'Noto Sans', 'Lucida Grande';
  font-size: 17px;
  padding: 0!important;
}
.streamer .headline.medium {
  font-size: 15px;
}
.streamer .headline.large {
  font-size: 14px;
}
.streamer .services {
  margin: 5px 0;
}
.streamer .service {
  display: flex;
  font-size: 1.5em;
  white-space: nowrap;
  padding: 5px 0;
}
.streamer .service.live {
  color: #dc322f;
}
.streamer .service svg {
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.4em;
}
.streamer a.service:hover svg path {
  fill: #3893E8!important;
}
.livestream {
  margin-bottom: 0px;
  line-height: 0;
  margin-bottom: 10px;
}
.livestream iframe {
  border: none;
}
.nostream {
  height: 300px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  letter-spacing: 10px;
}
.streamer .description {
  padding: 2.5em 50px 2.5em 65px;
  font-size: 1.4em;
}
.streamer .services a:hover,
.streamer .description a {
  color: #3893E8;
}
.streamer .ratings {
  padding: 2em 50px 2em 58px;
  font-size: 1.6em;
  background: rgba(213,145,32,0.2);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.streamer .ratings span::before {
  font-size: 1.6em;
  margin-right: 0.1em;
}

.blocker {
  margin-top: 30px;
  padding: 15px 0!important;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  font-weight: normal!important;
}
.blocker i {
  font-size: 40px;
  margin-bottom: 10px;
}

body.dark .streamer .service svg path {
  fill: #aaa;
}
