.streamers .streamer {
  border-top: 1px solid #ccc;
  position: relative;
  display: flex;
}
.streamers .streamer:hover {
  background: rgba(191, 231, 255, 0.5);
}
.streamers .streamer a.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.streamers .streamer img.picture {
  flex: 0 0 250px;
  background: #888;
}
.streamers .overview {
  margin: 20px 10px 0 20px;
}
.streamers .streamer h1 {
  font-family: 'Roboto';
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 0 16px 0!important;
  text-shadow: none!important;
}
.streamers .streamer .headline {
  font-family: 'PT Serif', 'Noto Sans', 'Lucida Grande';
  font-size: 17px;
  padding: 0 0 10px 0!important;
}
.streamers .streamer .headline.medium {
  font-size: 15px;
  padding-bottom: 18px!important;
}
.streamers .streamer .headline.large {
  font-size: 14px;
  padding-bottom: 14px!important;
}
.streamers .streamer .services {
  margin-top: 5px;
}
.streamers .streamer .service {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  padding: 5px 0;
}
.streamers .streamer .service svg {
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.4em;
}
body.dark .streamers .streamer .service svg path {
  fill: #aaa;
}
@media (max-width: 1084px) {
  .streamer-side {
    margin-left: 0!important;
    width: 196px!important;
  }
  .streamer-intro h2 {
    font-size: 1.75em;
  }
}
body.dark .streamers .streamer,
body.dark .streamer-add {
  border-color: #3d3d3d;
}
