.streamer.edit .top .picture_wrap {
  margin-right: 30px;
  width: 250px;
  height: 250px;
}
.streamer_picture .picture_wrap {
  text-align: center;
}

.streamer.edit .top .upload_picture {
  text-align: center;
  margin-top: 80px;
}

.streamer.edit #description {
  height: 10em;
}

.streamer_picture form {
  padding: 30px;
  border-top: 1px solid #ccc;
  text-align: center;
}
.streamer_picture form.delete button {
  color: red;
}
.streamer_picture .cancel {
  padding: 40px;
  border-top: 1px solid #ccc;
}
.streamer_picture .forms > *:first-child {
  margin-top: 40px;
}

.streamer.edit .status {
  margin: 20px;
  padding: 20px;
  background: rgba(128,128,128,0.2);
}
.streamer.edit .mod {
  margin-bottom: 6em;
}
.streamer.edit .status::before {
  font-size: 2em;
  margin-right: 0.5em;
}
.streamer.edit .status form {
  display: inline;
}

#site_header a.preview {
  display: block;
  margin-top: 40px;
  text-align: center;
}

.streamer-new h2 {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.streamer-new .rules li,
.streamer.edit .rules li {
  font-size: 1.2em;
  margin: 1em 0 1em 2.2em;
  line-height: 1.6em;
  text-indent: -2.2em;
}
.streamer-new .rules li::before,
.streamer.edit .rules li::before {
  font-family: 'lichess';
  content: 'E';
  font-size: 1.5em;
  margin-right: 0.5em;
  vertical-align: middle;
  opacity: 0.8;
}

.streamer-new button {
  margin: 1.5em auto 0 auto;
  display: block;
  font-size: 2em;
}

body.dark .streamer_picture form,
body.dark .streamer_picture .cancel {
  border-color: #3d3d3d;
}
