form h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
}
button.new {
  margin: 1.5em auto;
  display: block;
  font-size: 2em;
}

.studies {
  display: flex;
  flex-flow: row nowrap;
}

.studies > div {
  flex: 0 1 50%;
  box-sizing: border-box;
  overflow: hidden;
}
.studies > div:last-child {
  margin-left: 20px;
}

.studies button {
  width: 100%;
  text-align: left;
  overflow: hidden;
  margin-bottom: 3px;
}
