.study_tabs {
  display: flex;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.study_tabs a {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  padding: 6px 0 4px 0;
  background: #fff;
  border-bottom: 3px solid transparent;
}
.study_box .study_tabs a {
  font-family: 'Roboto';
  font-weight: 300;
}
.study_tabs a.more {
  flex: 0 0 32px;
}
.study_tabs a.more i {
  opacity: 0.6;
}
.study_tabs a:hover {
  color: #3893E8!important;
}
.study_tabs a.active {
  color: #3893E8!important;
  border-bottom: 3px solid #3893E8;
}
.material.form .study_tabs {
  margin-top: -20px;
  margin-bottom: 40px;
}
body:not(.dark) .material.form .study_tabs a {
  background: #f0f0f0;
}
.study_box {
  position: relative;
  min-height: 50px;
}
form.chapter_form.material.form .form-group textarea {
  height: 100px;
  line-height: 1.2em;
  font-size: 0.9em;
}
div.underboard {
  margin-top: 20px;
  min-height: 370px;
}
.underboard_form .title {
  background: #e0e0e0;
  line-height: 30px;
}
.underboard_form .saved {
  color: #759900;
  margin-left: 10px;
  opacity: 0;
}
.underboard_form .saved.visible {
  opacity: 1;
  transition: opacity 0.5s;
}
.underboard_form .close {
  float: right;
}
div.underboard .notif {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 53px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #759900;
  color: #fff;
  font-size: 1.4em;
}
div.underboard .notif.error {
  background-color: #d59120;
}
.study_comment_form form {
  display: flex;
  align-items: center;
}
.study_comment_form form .form-group {
  width: 100%;
  margin-bottom: 15px!important;
}
.study_comment_form form.material.form textarea {
  height: 80px;
  font-size: 1.2em;
  line-height: 1.3em;
}
.study_comments {
  text-align: left;
}
.study_comments .comment {
  font-size: 1.2em;
  background: #e0e0e0;
  padding: 5px 10px;
  margin-bottom: 10px;
}
.study_comments .text {
  overflow: hidden;
  word-wrap: break-word;
}
.study_comments .edit {
  float: right;
  margin-left: 8px;
  opacity: 0;
  transition: 0.13s;
}
.study_comments .comment:hover .edit {
  opacity: 0.7;
}
.study_comments .comment .edit:hover {
  opacity: 1;
}
.study_comments .user_link,
.study_comments .node {
  font-weight: bold;
}

.study_box .list {
  max-height: 160px;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
}
.study_box .list .elem {
  display: flex;
  justify-content: space-between;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.study_box .elem .user_link,
.study_box .elem.member .add_text {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
  margin-left: 4px;
}
.study_box .list .sortable-ghost {
  background: #3893E8;
  color: #fff;
  opacity: 0.5;
}
.study_box .list .sortable-ghost i::before {
  color: #fff;
}
.study_box .list .left,
.study_box .list .right {
  display: flex;
  align-items: center;
  max-width: 200px;
}
.study_box .list .left {
  flex: 0 1 auto;
  overflow:hidden;
}
.study_box .list .status,
.study_box .list .action {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 2px;
  flex-shrink: 0;
}
.study_box .list .status i,
.study_box .list .action i {
  font-size: 14px;
  opacity: 0.2;
  transition: opacity 0.13s;
}
.study_box .list .action {
  cursor: pointer;
}
.study_box .list .action.leave i {
  opacity: 0.6;
  color: #dc322f;
}
.study_box .list > div:hover .action i {
  opacity: 1;
}
.study_box .members .status i {
  opacity: 0.5;
  transition: 2.5s;
}
.study_box .members .contrib i {
  opacity: 0.7;
}
.study_box .members .status {
  transition: 2.5s;
}
.study_box .members .online i {
  opacity: 0.8;
  color: #759900;
}
.study_box .members .online.contrib i {
  opacity: 1;
}
.study_box .members .status.active {
  transition: none;
}
.study_box .members .member:nth-child(4n-3) .status.active {
  background: #42a5f5;
}
.study_box .members .member:nth-child(4n-2) .status.active {
  background: #f44336;
}
.study_box .members .member:nth-child(4n-1) .status.active {
  background: #fdd835;
}
.study_box .members .member:nth-child(4n-0) .status.active {
  background: #4caf50;
}
.study_box .members .status.active i {
  transition: none;
  opacity: 1;
  color: #fff;
}
.study_box .add {
  border-top: 1px solid #ccc;
  cursor: pointer;
  background: #fff;
  color: #3893E8!important;
  opacity: 0.8;
}
.study_box .add i {
  color: #3893E8!important;
  opacity: 1!important;
}
.study_box .add:hover {
  opacity: 1;
}
.study_invite .users {
  max-height: 200px;
  overflow-y: auto;
  border: solid #ccc;
  border-width: 1px 0;
  padding: 12px 20px 2px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.study_invite .users .button {
  flex: 0 0 48%;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
.study_invite input {
  width: 214px;
  border: none;
  border: 1px solid #ccc;
  background: #fff;
  padding: 3px 5px;
}
.study_invite .tt-menu {
  text-align: left;
}
.study_box .list div.editing,
.study_box .list div.config {
  background: #fff;
}
.study_box .list div.config {
  padding: 5px 10px 15px 10px;
}
.study_box .list div.config .role {
  line-height: 22px;
}
.study_box .list div.config .role label {
  cursor: pointer;
}
.study_box .list div.config .switch {
  float: left;
  margin-right: 10px;
}
.study_box .list div.config .kick,
.study_box .list div.config .delete {
  margin-top: 15px;
}
.study_box .chapters .chapter {
  cursor: pointer;
}
.study_box .chapters .status i {
  color: #3893E8;
  opacity: 1;
}
.study_box .chapters .status .spinner {
  width: 18px;
  height: 18px;
  margin: 6px 0 0 0;
  display: inline-block;
}
.study_overboard .form {
  padding: 20px;
}
.study_overboard .form .editor {
  margin: -30px 0 30px 0;
}
.study_overboard .form .editor .spinner {
  padding-top: 80px;
}
.study_overboard h2 i {
  margin-left: 10px;
  opacity: 0.5;
  cursor: pointer;
}
.study_overboard h2 i:hover {
  opacity: 0.7;
  color: #3893E8;
}
.study_buttons {
  display: flex;
  justify-content: space-between;
}
.study_buttons > div {
  justify-content: flex-start;
}
.study_buttons .member_buttons .button {
  display: inline-block;
  margin-right: 10px;
}
.study_buttons .button i {
  height: 16px;
  display: inline-block;
}
.study_buttons .button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.study_buttons .button:hover {
  color: #3893E8;
}
.study_buttons #study-sync .data-count::after {
  right: 8px;
}
.glyph-icon::before {
  content: '⁉';
  font-size: 1.3em;
  vertical-align: middle;
  width: 14px;
  display: inline-block;
  font-style: normal;
}
.glyph_form {
  text-align: left;
  width: 100%;
  display: flex;
  white-space: nowrap;
  margin-bottom: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.glyph_form > * {
  flex: 1 0 30%;
}
.glyph_form a {
  display: flex!important;
  cursor: pointer;
  transition: 0.13s;
  align-items: center;
}
.glyph_form i::before {
  content: attr(data-symbol);
  font-size: 1.2em;
  font-style: normal;
  font-weight: bold;
  display: block;
  width: 20px;
  text-align: center;
  background: #ddd;
  padding: 2px 10px;
  margin-right: 6px;
  transition: 0.13s;
}
.glyph_form a:hover {
  background: #fff;
  color: #3893E8;
}
.glyph_form a:hover i::before {
  background: #eee;
}
.glyph_form a.active i::before {
  background: #3893E8!important;
  color: #fff!important;
}
body.dark .underboard_form .title,
body.dark .study_comments .comment,
body.dark .glyph_form i::before {
  background: #262626;
}
body.dark .glyph_form a:hover {
  background: #383838;
}
body.dark .study_box .add,
body.dark .glyph_form a:hover i::before {
  background: #303030;
}
.delete_button {
  margin-top: 20px;
}
.delete_button button {
  color: #dc322f!important;
  opacity: 0.5;
  font-weight: normal;
}
.delete_button button:hover {
  opacity: 1;
}

form .editor_wrap {
  min-height: 280px;
}
form .editor_wrap .spinner {
  padding-top: 90px;
}
form .editor {
  position: relative;
}
form .editor .spare {
  height: 26px;
  width: 224px;
  margin: 3px 0;
}
form .editor .spare .no-square {
  position: relative;
  display:inline-block;
  width: 26px;
  height: 26px;
}
form .editor .spare piece {
  cursor: pointer;
  width: 100%;
  height: 100%;
}
form .editor .cg-board-wrap {
  width: 224px!important;
  height: 224px!important;
}
form .editor square.last-move {
  background-color: transparent!important;
}
form .editor .editor-side {
  position: absolute;
  left: 233px;
  top: 35px;
  text-align: left;
}
form .editor .editor-side .content_box {
  background: none;
  border: 0;
  padding: 0;
  box-shadow: none;
  margin-bottom: 10px;
}
form .editor .castling {
  margin-top: 10px;
}
form .editor .castling strong {
  display: none;
}
form .editor .castling label {
  display: block;
  cursor: pointer;
}
form .editor .castling input {
  cursor: pointer;
  margin-right: 5px;
}
form .editor a.button {
  display: block;
}
.study_metadata {
  text-align: left;
}
.study_metadata h2 {
  font-size: 1.3em;
  padding: 7px 12px 7px 12px;
  font-weight: normal;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
}
.study_metadata .name::before {
  font-size: 1.3em;
  margin-right: 8px;
  opacity: 0.7;
}
.study_metadata h2 .name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.study_metadata h2 .liking {
  padding-left: 12px;
  margin-left: 12px;
  border-left: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}
.study_metadata h2 .liking:hover {
  opacity: 1;
  color: #dc322f!important;
}
.study_metadata table {
  border: none;
}
.study_metadata th {
  text-transform: uppercase;
  font-size: 1.1em;
  opacity: 0.7;
  border-top: 1px solid #eaeaea;
}
body.dark .study_box .add,
body.dark .study_metadata th {
  border-color: #3d3d3d;
}
.study_metadata tr:first-child th {
  border-top: none;
}
.study_metadata table.slist td {
  padding: 0.9em;
}
.study_metadata #study_fen {
  font-size: 0.8em;
  margin: 0.3em 0;
}
div.undertable_inner {
  height: auto;
  max-height: 200px;
}
