.is2d {
  background: #fff;
}
div.lichess_game {
  height: 100%;
  flex-flow: row nowrap;
}
div.lichess_game div.lichess_board_wrap {
  flex: 1 1 100%;
}
div.lichess_game div.lichess_ground {
  flex: 1 1 100%;
  padding-left: 0;
}
.cg-512 .cg-board-wrap {
  width: 100%;
  height: 100%;
}
