#team form {
  margin-top: 2em;
  font-size: 1.3em;
}
#team form label {
  display: block;
  margin-bottom: 2em;
}
#team form label span {
  float: left;
  display: block;
  width: 180px;
  text-align: right;
  margin-right: 10px;
  margin-top: 3px;
}
#team form label span.required:after {
  content:"*";
  color: #FF6666;
  margin-left: 3px;
}
#team form .team-data input, #team form textarea {
  width: 480px;
}
#team form textarea {
  height: 8em;
}
#team form.wide .submit {
  margin-left: 110px;
}
#team form p.error {
  margin-left: 110px;
  margin-bottom: 10px;
  color: red;
}
#team form.search {
  float: right;
  margin: 20px;
}
#team table.slist td {
  /* word-break: break-all; */
  padding-top: 1em;
  padding-bottom: 1em;
}
#team table.slist a.team-name {
  font-size: 1.3em;
  display: block;
  margin-bottom: 4px;
  padding-bottom: 5px;
}
#team table.slist a.team-name span.team-icon {
  float: left;
  margin-top: 4px;
}
#team table.slist .info {
  font-size: 0.9em;
  white-space: nowrap;
}
#team.team_show .lichess_title {
  font-size: 1.8em;
}
#team.team_show .lichess_title span {
  color: #909090;
  font-size: 0.8em;
}
#team.team_show .content_box_top {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#team.team_show .content_box_top .righty {
  float: right;
  margin-right: 20px;
  line-height: 30px;
}
#team .team-left {
  float: left;
  width: 280px;
  font-size: 1.2em;
  border-right: 1px solid #ccc;
}
#team .team-left h2 {
  font-size: 1.0em;
  font-weight: bold;
  padding: 0 0 5px 25px;
  border-bottom: 1px solid #ccc;
}
#team .team-left .infos {
  margin: 20px 0 20px 25px;
}
#team .team-right {
  margin-left: 280px;
  border-left: 1px solid #ccc;
}
#team .description {
  word-break: break-all;
  font-size: 1.2em;
  margin: 20px 0 20px 20px;
}
#team .best_players {
  margin-bottom: 20px;
}
#team .userlist > * {
  padding: 10px 0 10px 25px;
}
#team .actions {
  margin-left: 20px;
}
#team .forum {
  margin-top: 30px;
  width: 100%;
}
#team .forum h2 {
  font-size: 1.2em;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 0 0 5px 20px;
}
#team .forum h2 a {
  text-decoration: none;
}
#team .forum li {
  padding: 20px 10px 20px 20px;
}
#team .forum li:nth-child(odd) {
  background: none repeat scroll 0 0 #F4F4F4;
}
#team .forum a.user_link {
  font-weight: bold;
  margin-right: 6px;
  color: #aaa;
  text-decoration: none;
}
#team .forum time {
  font-size: 0.8em;
}
#team .forum .meta > * {
  display: block;
  float: left;
  margin-right: 1em;
}
#team .forum a.more {
  display: block;
  text-align: right;
  margin: 10px 10px 0 0;
}
#team table.requests form {
  margin: 0;
}
#team table.requests {
  margin: 0;
}
#team table.requests.all {
  margin-bottom: 20px;
}
#team table.requests.for-team {
  border: 1px solid #909090;
}
#team table.requests th {
  padding: 0.5em;
  text-align: center;
  font-size: 1.4em;
}
#team table.requests.all td {
  padding: 2.3em 1em;
}
#team table.requests .user_link {
  margin-bottom: 0.7em;
}
#team table.requests .process {
  white-space: nowrap;
}
#team table.requests button {
  font-size: 0.8em;
  display: inline;
  margin-left: 5px;
}
#team .button.small {
  font-size: 12px;
}
#team .undertitle {
  margin-top: 1.5em;
}
#team .kick .button {
  margin-bottom: 5px;
}
