#team form {
  margin-top: 2em;
  font-size: 1.3em;
}
#team form label {
  display: block;
  margin-bottom: 2em;
}

#team form label span {
  float: left;
  display: block;
  width: 180px;
  text-align: right;
  margin-right: 10px;
  margin-top: 3px;
}
#team form label span.required:after {
  content: "*";
  color: #FF6666;
  margin-left: 3px;
}

#team form .team-data input, #team form textarea {
  width: 480px;
}
#team form textarea {
  height: 8em;
}
#team form .submit {
  margin-left: 110px;
}

#team form p.error {
  margin-left: 110px;
  margin-bottom: 10px;
  color: red;
}

#team table a.team-name {
  font-size: 1.3em;
  display: block;
  margin-bottom: 4px;
}
#team table .info {
  font-size: 0.9em;
  white-space: nowrap;
}
#team div.content_box_top .icon {
  background-position: 0 -336px;
}
#team.team_show .lichess_title {
  font-size: 1.8em;
}
#team.team_show .content_box_top .righty {
  float: right;
  margin-right: 20px;
}

#team table.requests form {
  margin: 0;
}
#team table.requests th {
  padding: 0.5em;
  text-align: center;
  font-size: 1.4em;
}
#team table.requests .process {
  white-space: nowrap;
}
#team table.requests button {
  font-size: 0.8em;
  display: inline;
  margin-left: 5px;
}
