#themepicker span.down {
  display: block;
  margin: 3px 0.5em 0 0;
  padding: 1px 5px;
  line-height: normal;
}
#themepicker.shown .dropdown {
  display: block;
  width: 321px;
  text-align: center;
}
body #themepicker div.is2d,
.is3d #themepicker div.is3d {
  display: block;
}
body #themepicker div.is3d,
.is3d #themepicker div.is2d {
  display: none;
}
#themepicker div.board,
#themepicker div.piece_set {
  overflow: hidden;
}
#themepicker div.theme,
#themepicker div.no-square {
  float: left;
  padding: 5px;
  cursor: pointer;
  transition: background 0.13s;
}
.is2d #themepicker div.theme {
  padding: 5px 8px;
  margin: -1px 0;
}
#themepicker div.theme:hover {
  background: #f0f0f0;
}
.is2d #themepicker div.color_demo {
  width: 64px;
  height: 32px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  position: relative;
}
.is3d #themepicker div.color_demo {
  width: 66px;
  height: 30px;
  border: none;
  position: relative;
}
#themepicker div.piece_set {
  margin-top: 10px;
  background: url(../images/board/darksquares.jpg);
  box-shadow: inset 0 0 20px 3px #777;
}
#themepicker div.no-square:hover {
  background: rgba(250, 250, 250, 0.15);
}
#themepicker div.no-square {
  width: 48px;
  height: 48px;
  padding: 5.5px;
  position: relative;
  margin: 0 -3px 0px -3px;
}
#themepicker piece {
  width: 100%;
  height: 100%;
}
#themepicker .is3d piece {
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 0 67%;
}
#themepicker div.toggles {
  display: inline-block;
  margin: 20px 15px 10px 15px;
  text-align: center;
}
#themepicker div.toggles a {
  font-size: 20px;
  display: inline-block;
  margin: 0 -2px 0 -3px;
}
#themepicker a.prefs {
  padding: 10px;
  text-align: center;
  display: block;
}
#themepicker .zoom_control {
  margin-bottom: 5px;
}
#themepicker .zoom_control i {
  font-size: 24px;
  margin-right: 5px;
}
#themepicker .zoom_control .slider {
  margin: auto;
  width: 220px;
  height: 10px;
  display: inline-block;
}
#themepicker .zoom_control .slider .ui-slider-handle {
  margin: 0 0 -9px -3px;
}
#themepicker .zoom_control .slider .ui-widget-header {
  width: 10px;
  bottom: 0;
}
#themepicker input.background_image {
  display: none;
}

body.dark .is2d #themepicker div.color_demo {
  border-color: #3d3d3d;
}
body.dark #themepicker div.theme:hover {
  background-color: #505050;
}

body.transp #themepicker input.background_image {
  display: block;
  width: 100%;
  border: 1px solid #444;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
