#themepicker span.down {
  display: block;
  margin: 3px 0.5em 0 0;
  padding: 1px 5px;
  line-height: normal;
}
#themepicker.shown .dropdown {
  display: block;
  width: 321px;
  text-align: center;
}
body #themepicker div.is2d,
.is3d #themepicker div.is3d {
  display: block;
}
body #themepicker div.is3d,
.is3d #themepicker div.is2d {
  display: none;
}
#themepicker div.board,
#themepicker div.piece_set {
  overflow: hidden;
}
#themepicker div.theme,
#themepicker div.no-square {
  float: left;
  padding: 7px;
  cursor: pointer;
  transition: background 0.13s;
}
.is2d #themepicker div.theme {
  padding: 7px 9px 9px 7px;
}
#themepicker div.theme:hover {
  background: #f0f0f0;
}
.is2d #themepicker div.color_demo {
  width: 64px;
  height: 32px;
  background-size: 256px;
  border: 1px solid #d0d0d0;
  box-sizing: border-box;
  position: relative;
}
.is3d #themepicker div.color_demo {
  width: 66px;
  height: 30px;
  margin-bottom: 4px;
  background-size: 264px;
  border: none;
  position: relative;
}
#themepicker div.piece_set {
  margin-top: 10px;
  background: url(../images/board/darksquares.jpg);
  box-shadow: inset 0 0 20px 3px #777;
}
#themepicker div.no-square:hover {
  background: rgba(250, 250, 250, 0.15);
}
#themepicker .no-square {
  width: 72px;
  height: 72px;
  padding: 8px;
  position: relative;
  margin: 0 -3px -3px -3px;
}
#themepicker piece {
  width: 100%;
  height: 100%;
}
#themepicker .is3d piece {
  left: 0;
  top: 0;
  background-size: cover;
  background-position: 0 67%;
}

#top piece.cburnett {
  background-image: url(../piece-src/cburnett/wN.svg);
}
#top piece.merida {
  background-image: url(../piece/merida/wN.svg);
}
#top piece.chess7 {
  background-image: url(../piece/chess7/wN.svg);
}
#top piece.spatial {
  background-image: url(../piece/spatial/wN.svg);
}
#top piece.alpha {
  background-image: url(../piece/alpha/wN.svg);
}
#top piece.pirouetti {
  background-image: url(../piece-src/pirouetti/wN.svg);
}
#top piece.reillycraig {
  background-image: url(../piece/reillycraig/wN.svg);
}
#top piece.fantasy {
  background-image: url(../piece/fantasy/wN.svg);
}
#top piece.shapes {
  background-image: url(../piece/shapes/wN.svg);
}
#top piece.letter {
  background-image: url(../piece/letter/wN.svg);
}
#top piece.chessnut {
  background-image: url(../piece/chessnut/wN.svg);
}
#top piece.companion {
  background-image: url(../piece/companion/wN.svg);
}

#top div.color_demo.blue {
  background-image: url(../images/board/svg/blue.svg);
}
#top div.color_demo.blue2 {
  background-image: url(../images/board/blue2.jpg);
}
#top div.color_demo.wood2 {
  background-image: url(../images/board/wood2.jpg);
}
#top div.color_demo.wood3 {
  background-image: url(../images/board/wood3.jpg);
}
#top div.color_demo.blue3 {
  background-image: url(../images/board/blue3.jpg);
}
#top div.color_demo.marble {
  background-image: url(../images/board/marble.jpg);
}
#top div.color_demo.brown {
  background-image: url(../images/board/svg/brown.svg);
}
#top div.color_demo.green {
  background-image: url(../images/board/svg/green.svg);
}
#top div.color_demo.olive {
  background-image: url(../images/board/olive.jpg);
}
#top div.color_demo.purple {
  background-image: url(../images/board/svg/purple.svg);
}
#top div.color_demo.grey {
  background-image: url(../images/board/grey.jpg);
}
#top div.color_demo.wood {
  background-image: url(../images/board/wood-1024.jpg);
}
#top div.color_demo.canvas {
  background-image: url(../images/board/canvas2-1024.jpg);
}
#top div.color_demo.leather {
  background-image: url(../images/board/leather-1024.jpg);
}
#top div.color_demo.metal {
  background-image: url(../images/board/metal-1024.jpg);
}
#top div.color_demo.maple {
  background-image: url(../images/board/maple.jpg);
}
#top .is3d .Black-White-Aluminium {
  background-image: url(../images/staunton/board/Black-White-Aluminium.png);
}
#top .is3d .Brushed-Aluminium {
  background-image: url(../images/staunton/board/Brushed-Aluminium.png);
}
#top .is3d .China-Blue {
  background-image: url(../images/staunton/board/China-Blue.png);
}
#top .is3d .China-Green {
  background-image: url(../images/staunton/board/China-Green.png);
}
#top .is3d .China-Grey {
  background-image: url(../images/staunton/board/China-Grey.png);
}
#top .is3d .China-Scarlet {
  background-image: url(../images/staunton/board/China-Scarlet.png);
}
#top .is3d .China-Yellow {
  background-image: url(../images/staunton/board/China-Yellow.png);
}
#top .is3d .Classic-Blue {
  background-image: url(../images/staunton/board/Classic-Blue.png);
}
#top .is3d .Transparent-Glass {
  background-image: url(../images/staunton/board/Glass.png);
}
#top .is3d .Gold-Silver {
  background-image: url(../images/staunton/board/Gold-Silver.png);
}
#top .is3d .Green-Glass {
  background-image: url(../images/staunton/board/Green-Glass.png);
}
#top .is3d .Light-Wood {
  background-image: url(../images/staunton/board/Light-Wood.png);
}
#top .is3d .Power-Coated {
  background-image: url(../images/staunton/board/Power-Coated.png);
}
#top .is3d .Purple-Black {
  background-image: url(../images/staunton/board/Purple-Black.png);
}
#top .is3d .Rosewood {
  background-image: url(../images/staunton/board/Rosewood.png);
}
#top .is3d .Wood-Glass {
  background-image: url(../images/staunton/board/Wood-Glass.png);
}
#top .is3d .Wax {
  background-image: url(../images/staunton/board/Wax.png);
}
#top .is3d .Jade {
  background-image: url(../images/staunton/board/Jade.png);
}
#top .is3d .Marble {
  background-image: url(../images/board/3d/marble.1024.png);
}
#top .is3d .Woodi {
  background-image: url(../images/board/3d/woodi.1024.png);
}

#themepicker div.toggles {
  display: inline-block;
  margin: 20px 15px 10px 15px;
  text-align: center;
}
#themepicker div.toggles a {
  font-size: 20px;
  display: inline-block;
  margin: 0 -2px 0 -3px;
}
#themepicker a.prefs {
  padding: 10px;
  text-align: center;
  display: block;
}
#themepicker .zoom_control {
  margin-bottom: 5px;
}
#themepicker .zoom_control i {
  font-size: 24px;
  margin-right: 5px;
}
#themepicker .zoom_control .slider {
  margin: auto;
  width: 220px;
  height: 10px;
  display: inline-block;
}
#themepicker .zoom_control .slider .ui-slider-handle {
  margin: 0 0 -9px -3px;
}
#themepicker .zoom_control .slider .ui-widget-header {
  width: 10px;
  bottom: 0;
}
#themepicker input.background_image {
  display: none;
}
body.dark .is2d #themepicker div.color_demo,
  border-color: #3d3d3d;
}
body.dark #themepicker div.theme:hover {
  background-color: #505050;
}

body.transp #themepicker input.background_image {
  display: block;
  width: 100%;
  border: 1px solid #444;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
