#timeline_more td {
  padding: 1em 25px;
}
#timeline_more time {
  font-size: 0.8em;
}
#timeline_more a {
  font-weight: bold;
  text-decoration: none;
}
#timeline_more a.user-link {
  background: none;
  padding-left: 0;
  display: inline-block;
}
