div.create_tournament {
  position: absolute;
  top: 26px;
  right: 15px;
}
#tournament .init.spinner {
  padding-top: 200px;
  margin: 0 auto 0 auto;
}
#tournament .header {
  display: flex;
  align-items: center;
  height: 70px;
}
#tournament .header img {
  flex: 0 0 60px;
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 6px;
}
#tournament .header .img {
  margin: 0 15px;
}
#tournament .header i::before {
  font-size: 30px;
  line-height: 60px;
  margin: auto;
}
#tournament.weekly .header i::before {
  font-size: 35px;
}
#tournament.monthly .header i::before,
#tournament.weekend .header i::before {
  font-size: 40px;
}
#tournament.yearly .header i::before {
  font-size: 45px;
}
#tournament .header h1 {
  flex: 9 1 auto;
  padding: 0;
  overflow: hidden;
}
#tournament.scheduled .header h1 {
  letter-spacing: 2px;
}
#tournament.weekend .header h1,
#tournament.yearly .header h1 {
  letter-spacing: 3px;
}
#tournament .header .clock {
  flex: 1 1 auto;
  margin: 0 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: right;
}
#tournament .header .clock span {
  display: block;
}
#tournament.scheduled .header h1,
#tournament.scheduled .header .img,
#tournament table tr.standing.scheduled:first-child td:first-child {
  color: #d59120;
}
#tournament .finished .header h1 {
  text-align: center;
}
#tournament.marathon .finished .header h1 {
  padding-left: 0;
}
#tournament .header .time {
  font-family: 'Roboto Mono', 'Roboto';
  font-size: 20px;
}
#tournament .header .shy {
  line-height: 20px;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.6;
  white-space: nowrap;
}
#tournament .header .created .time {
  font-size: 14px;
}
#tournament.marathon h1 {
  color: #4166a0!important;
  padding-left: 90px;
  letter-spacing: 2px;
}
#tournament.marathon .fire_trophy {
  position: absolute;
  top: 0;
  left: 10px;
  width: 70px;
  height: 80px;
  opacity: 0.7;
  transition: 1s;
  font-family: "lichess" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#tournament.marathon .fire_trophy:hover {
  opacity: 1;
}
#tournament.marathon .fire_trophy {
  filter: hue-rotate(190deg);
}
#tournament.shield h1 {
  padding-left: 90px;
  letter-spacing: 2px;
}
#tournament .shield_trophy {
  position: absolute;
  top: -15px;
  left: 10px;
  display: block;
  width: 67px;
  height: 80px;
  background: url(../images/trophy/shield-gold.png) no-repeat;
  background-size: contain;
  font-family: "lichess" !important;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #333!important;
  text-shadow: 0 0 6px #fff;
}
#tournament .description {
  padding: 20px;
}
#tournament .podium > div {
  display: inline-block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tournament .podium .first {
  width: 44%;
  font-size: 1.6em;
}
#tournament .podium .second {
  font-size: 1.3em;
  width: 31%;
}
#tournament .podium .third {
  font-size: 1.2em;
  width: 25%;
}
#tournament .podium .first .trophy {
  height: 150px;
  width: 195px;
  background: url(../images/icons/trophy-1.png) no-repeat;
  background-size: cover;
}
#tournament .podium .second .trophy {
  height: 85px;
  width: calc(1.1056 * 85px);
  background: url(../images/icons/trophy-2.min.svg) no-repeat;
}
#tournament .podium .third .trophy {
  height: 65px;
  width: calc(1.1056 * 65px);
  background: url(../images/icons/trophy-3.min.svg) no-repeat;
}
#tournament .podium .trophy {
  margin: 0 auto 8px auto;
  background-size: contain!important;
}
#tournament .podium .user_link {
  font-weight: bold;
}
#tournament .podium .stats {
  margin: 0.5em auto 0 auto;
  font-size: 0.7em;
}
#tournament .podium .stats th {
  letter-spacing: -1px;
}
#tournament .podium .stats td {
  font-weight: bold;
  padding-left: 5px;
  text-align: right;
}
#tournament .podium .third .stats {
  font-size: 0.8em;
}
#tournament div.tournament_show {
  width: 525px;
  min-height: 480px;
}
#tournament div.big_top {
  position: relative;
  padding-bottom: 20px;
}
#tournament div.big_top #confetti {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 1;
  transition: opacity 25s;
}
#tournament div.big_top #confetti.faded {
  opacity: 0;
}
#tournament div.tournament_show div.game_list {
  margin: 0 0 0 15px;
  padding-top: 20px;
  overflow: hidden;
}
#tournament a.pov {
  display: block;
  margin: 0 25px 1em 25px;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  border-radius: 100px;
  transition: box-shadow 1.5s;
}
#tournament a.pov span {
  display: block;
  font-weight: bold;
}
#tournament a.pov::before,
#tournament a.pov::after {
  content: 'U';
  font-size: 32px;
  position: absolute;
  top: 16px;
}
#tournament a.pov::before {
  left: 15px;
}
#tournament a.pov::after {
  right: 15px;
}
#tournament .controls {
  padding: 0 0px;
  background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 240, 1) 100%);
  text-shadow: 0 1px 0 #FFF;
  color: #848484;
  border: 1px solid #d8d8d8;
  border-width: 1px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@keyframes delay {
  0% {
    width: 0%;
  } 100% {
    width: 100%;
  }
}
#tournament .delay {
  background: rgba(117, 153, 0, 0.5);
  width: 0%;
}
#tournament .delay button {
  opacity: 0.7;
  color: #666;
  mix-blend-mode: luminosity;
}
body.dark #tournament .delay button {
  color: #aaa;
}
#tournament .highlight {
  position: absolute;
  right: 5px;
  top: -3px;
  padding: 8px 20px;
  border-radius: 8px;
  color: #FFF;
  text-decoration: none;
  background: #82BF56;
  border-bottom: 5px solid #759900;
  text-shadow: 0 -1px #759900;
  transition: all 0.1s;
  transform: translate(0px,0px);
}
#tournament .highlight:hover {
  filter: brightness(1.06);
}
#tournament .highlight:active {
  transform: translate(0px,5px);
  border-bottom-width: 1px;
  text-shadow: 0 0 #759900;
  filter: brightness(1);
}
#tournament .controls .spinner {
  margin: 9px 10px 0 0;
  width: 20px;
  height: 20px;
  float: right;
}
#tournament .pager {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
}
#tournament .pager .page {
  margin: 0 3px;
}

#tournament .pager input {
  border: none;
  background: transparent;
  font-size: 14px;
  padding-left: 10px;
}
#tournament .pager .search,
#tournament .pager input,
#tournament .twitter-typeahead {
  height: 100%;
}
#tournament .search .tt-menu .spinner {
  float: none;
  margin: 10px auto;
}

#tournament .notice {
  color: #FFF;
  background: #639B24;
  text-shadow: 0 -1px #639B24;
  text-align: center;
  padding: 7px 0;
  opacity: 0.7;
}
#tournament .notice.closed {
  background: #3893E8;
}
#tournament table.standing {
  width: 525px;
  border-bottom: none;
}
#tournament table.standing td.player {
  padding-left: 0px;
  padding-right: 0px;
}
#tournament table.standing td.player .name {
  display:inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 5px;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tournament table.standing .user_link {
  white-space: normal;
}
#tournament table.standing .user_link.long {
  letter-spacing: -0.7px;
}
#tournament table.standing .user_link .rating {
  font-style: italic;
  font-size: 0.8em;
}
#tournament table.standing tr.long .user_link .rating {
  display: block;
  padding-left: 0px;
}
#tournament table.standing tbody tr {
  transition: 0.13s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#tournament table.standing.loading tbody {
  opacity: 0.6;
  transition: opacity 0.3s;
}
#tournament table.standing:not(.created):not(.loading) tbody tr:hover {
  background: rgba(191, 231, 255, 0.7);
  cursor: pointer;
}
#tournament table.standing tr.me td:first-child {
  background: linear-gradient(to right, rgba(99,155,36,0.7) 0px, rgba(99,155,36,0.7) 5px, rgba(0,0,0,0) 5px, rgba(0,0,0,0) 100%);
}
#tournament table.standing tr.active td:last-child {
  background: linear-gradient(to left, rgba(56,147,232,0.7) 0px, rgba(56,147,232,0.7) 5px, rgba(0,0,0,0) 5px, rgba(0,0,0,0) 100%);
}
#tournament table.slist td.rank {
  font-family: 'Roboto';
  padding: 1em 0.5em 1em 10px;
  width: 1px; /* helps keeping it as small as possible */
}
#tournament table.slist td.rank i {
  opacity: 0.4;
  font-size: 0.8em;
}
#tournament table.standing .sheet {
  text-align: right;
  padding-right: 0;
  padding-left: 0;
  font-family: 'Roboto Mono';
  letter-spacing: 0.1em;
}
#tournament table.standing tr.long .sheet {
  font-size: 12px;
  letter-spacing: 0.06em;
}
#tournament table.standing tr.xlong .sheet {
  font-size: 11px;
  letter-spacing: 0.04em;
}
#tournament table.standing .sheet > * {
  display: inline-block;
}
#tournament table.standing .sheet score {
  opacity: 0.7;
}
#tournament double {
  color: #d59120;
  /* font-weight: bold; */
}
#tournament streak {
  color: #759900;
  /* font-weight: bold; */
}
#tournament div.standing_wrap td.total {
  text-align: right;
  font-family: 'Roboto Mono';
  padding-right: 15px;
}
#tournament form.plain td {
  padding: 0.6em;
  white-space: nowrap;
}
#tournament form.plain label {
  margin-right: 10px;
}
#tournament form.plain input {
  width: 96%;
  padding: 0.5% 1%;
}
#tournament form.plain input[name=private] {
  width: auto;
}
#tournament form.plain select {
  padding: 0.5% 1%;
  text-transform: capitalize;
  width: 99%;
}
#tournament form.plain .inline select {
  width: 46%;
}
#tournament form.plain input.submit {
  width: 99%;
}
#tournament form.plain .error {
  color: red;
}
#tournament form.plain tr.password {
  height: 0;
  visibility: hidden;
}
#tournament form.plain tr.password td * {
  display: none;
}
#tournament form.plain.private tr.password {
  visibility: visible;
}
#tournament form.plain.private tr.password td * {
  display: block;
}
#tournament h1 .private {
  font-size: 12px;
}
#tournament .join_password {
  padding-top: 0;
}
#tournament .join_password h2 {
  font-size: 1.5em;
}
#tournament .join_password form {
  margin-top: 1em;
}
#tournament .join_password input {
  padding: 3px 5px;
}
#tournament .pull-quote {
  margin-top: 30px;
  width: 300px;
}
.header .setup {
  text-transform: uppercase;
}
.header .help {
  opacity: 0.6;
}
div.side_box .game_infos.spotlight {
  padding-left: 0;
}
div.side_box .game_infos.spotlight a {
  text-decoration: underline;
}
.defender::before {
  font-size: 1.6em;
  vertical-align: -0.26em;
  margin: 0 0.15em 0 -0.15em;
}
div.side_box .conditions::before {
  opacity: 0.6;
}
div.side_box .accepted {
  color: #759900;
}
div.side_box .refused {
  color: #dc322f;
}
#tournament_side {
  position: relative;
  float: right;
  width: 252px;
  text-align: center;
  transition: 0.13s;
}
#tournament_side .featured {
  margin-bottom: 10px;
  line-height: 0;
}
#tournament_side .featured .vstext {
  height: 22px;
  line-height: 22px;
  border-width: 1px 1px 0 0;
  width: 100%;
  padding: 0;
  text-align: left;
}
#tournament_side .featured .vstext.bottom {
  border-width: 0 1px 1px 0;
}
#tournament_side .featured .vstext strong {
  display: inline-block;
  height: 22px;
  width: 12.5%;
  text-align: center;
  background: #ccc;
  margin-right: 10px;
}
#tournament_side .featured .vstext i {
  float: right;
}
#tournament_side .featured .vstext i::before {
  color: #D85000;
  margin: 0 5px 0 0;
  line-height: 22px;
}
#tournament_side .box {
  border: 1px solid #ccc;
}
#tournament_side .cg-board-wrap {
  width: 252px;
  height: 252px;
}
#tournament_side .vstext {
  width: 240px;
}
#tournament_side .scroll-shadow-soft {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
#tournament_side .spinner {
  width: 70px;
  height: 70px;
  margin: 30px auto;
  opacity: 0.8;
}
#tournament_side .player,
#tournament_side .featured {
  box-shadow: 0 .5px 2px rgba(0, 0, 0, 0.15);
}
body.dark #tournament_side .player,
body.dark #tournament_side .featured {
  box-shadow: 0 1px 2px #000;
}
#tournament_side .user_link .name {
  padding-right: 5px;
}
#tournament_side .player close {
  position: absolute;
  top: 0px;
  right: 3px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}
#tournament_side .player close:hover {
  opacity: 1;
}
#tournament_side .stats {
  font-size: 1.1em;
  background: #fff;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
}
#tournament_side h2 {
  font-size: 1.1em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 0.8em;
}
#tournament_side table {
  margin: auto;
}
#tournament_side .stats td {
  font-weight: bold;
  padding-left: 10px;
  text-align: right;
  line-height: 1.8em;
}
#tournament_side .stats td:last-child {
  font-family: 'Roboto Mono', 'Roboto';
}
#tournament_side .player .pairings {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
#tournament_side .player .pairings tr {
  cursor: pointer;
  transition: background-color 0.13s;
}
#tournament_side .player .pairings tr:hover {
  background: #fff;
}
#tournament_side .player .pairings tr > * {
  padding: 3px 5px;
  border-bottom: 1px solid #e0e0e0;
}
#tournament_side .player .pairings th {
  padding-left: 7px;
  border-left: 3px solid transparent;
  border-left-color: #fff;
  transition: 0.13s;
  font-family: 'Roboto';
  font-weight: 300;
}
#tournament_side .player .pairings span.title {
  color: #d59120;
  font-weight: bold;
}
#tournament_side .player .pairings tr:hover th {
  border-left-color: #888!important;
}
#tournament_side .player .pairings tr.win:hover th {
  border-left-color: #759900!important;
}
#tournament_side .player .pairings tr.loss:hover th {
  border-left-color: #dc322f!important;
}
#tournament_side .player .pairings td:nth-child(2) {
  width: 108px;
  max-width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tournament_side .player .pairings td:last-child {
  font-weight: bold;
  text-align: center;
  opacity: 0.8;
}
#tournament_side .player .pairings tr.win td:last-child {
  color: #759900;
  opacity: 1;
}
#tournament_side .player .pairings tr.loss td:last-child {
  color: #dc322f;
  opacity: 1;
}
#tournament_side .player .color-icon {
  opacity: 0.6;
}
#tournament_side .duels h3 {
  text-transform: uppercase;
  margin-bottom: 4px;
  letter-spacing: 2px;
  opacity: 0.8;
}
#tournament_side .duels a {
  padding: 0.5em 0.7em;
  white-space: nowrap;
  border: 1px solid rgba(150,150,150,0.25);
  display: flex;
  flex-flow: column;
  line-height: 1.9em;
  border-bottom: none;
  background: none;
}
#tournament_side .duels a:first-child {
  border-top: none;
}
#tournament_side .duels a:nth-child(even) {
  border-left: none;
}
#tournament_side .duels a:nth-child(odd) {
  border-right: none;
}
#tournament_side .duels a:hover {
  background: rgba(191, 231, 255, 0.7);
}
body.dark #tournament_side .duels a:hover {
  background: rgba(27, 51, 68, 0.7);
}
#tournament_side .duels line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tournament_side .duels .white {
  text-align: left;
}
#tournament_side .duels .black {
  text-align: right;
}
#tournament_side .duels em {
  font-style: normal;
}
#tournament_side .duels strong {
  font-size: 1.2em;
  display: block;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tournament_side .duels span {
}
#tournament_side .duels .title {
  color: #d59120;
  font-weight: bold;
}
#tournament_side .duels .rank {
  padding: 0.1em 0.5em;
  background: rgba(128,128,128,0.5);
  color: #fff;
  border-radius: 2px;
}
body.dark #tournament_side .duels .rank {
  color: #ccc;
}
#tournament_side .duels .b .title,
#tournament_side .duels .b .rank {
  margin-right: 0.3em;
}
#tournament_side .duels .a .title,
#tournament_side .duels .a .rank {
  margin-left: 0.3em;
}

#tournament_side win {
  color: #33aa33;
}
#tournament_side loss {
  color: #aa3333;
}
#tournament_side draw {
  color: #999933;
}
#tournament_side em {
  font-style: italic;
}
#tournament_side .next {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 6px;
  border-radius: 2px;
  opacity: 0.8;
  transition: 0.13s;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  background: #3893E8;
  text-align: left;
}
#tournament_side .others {
  display: block;
  margin-bottom: 15px;
  color: #3893E8;
}
#tournament_side .next:hover {
  opacity: 1;
}
#tournament_side .next i {
  flex: 0 0 50px;
  color: #fff;
}
#tournament_side .next i::before {
  font-size: 50px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}
#tournament_side .next span {
  display: block;
}
#tournament_side .next .name {
  font-size: 1.2em;
}

#tournament article.faq h2 {
  font-weight: bold;
  font-style: italic;
  margin: 20px 0 10px 0;
}
div.faq_page h1 {
  display: block;
  margin-bottom: 1em;
}
div.faq_box {
  margin-top: 15px;
}
.leaderboard_title {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}
.tournament_leaderboard li {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 2em;
  white-space: nowrap;
}
.tournament_leaderboard a.user_link {
  margin: 0 5px 0 -3px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tournament_leaderboard span {
  opacity: 0.7;
}
.tournament_leaderboard li:hover a,
.leaderboard_title:hover a {
  color: #3893E8;
}
.scheduled_tournaments a {
  padding: 5px 0;
  display: block;
  transition: all 0.3s;
}
.scheduled_tournaments a:hover {
  padding-left: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background: #fff;
  border-radius: 3px;
}
body.dark .scheduled_tournaments a:hover {
  background: rgba(27, 51, 68, 0.5);
  background: #333;
}
.scheduled_tournaments strong {
  display: block;
}
.scheduled_tournaments a::before {
  font-size: 30px;
  float: left;
  margin: 3px 5px 0 0;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.scheduled_tournaments a:hover::before {
  opacity: 1;
}

#tournament_schedule {
  min-height: 400px;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
}
#tournament_schedule .spinner {
  width: 120px;
  height: 120px;
  padding-top: 120px;
  opacity: 0.7;
}
#tournament_schedule .schedule {
  position: relative;
  overflow-x: scroll;
  padding-top: 30px;
  border-top: 1px solid #d4d4d4;
  cursor: move;
}
#tournament_schedule .tournament {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  padding: 4px 0;
  background-color: #303E43;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  border-radius: 2px;
  transition: filter 0.13s;
  color: #fff;
  white-space: nowrap;
  font-size: 13px;
}
#tournament_schedule .tournament.joinable:hover {
  filter: brightness(1.08);
}
#tournament_schedule .timeline {
  position: absolute;
  top: 0;
  height: 100%;
}
#tournament_schedule .tournamentline {
  position: relative;
  height: 3em;
}
#tournament_schedule .tournamentline.large {
  height: 5em;
}
#tournament_schedule .timeheader {
  position: absolute;
  display: inline;
  box-sizing: border-box;
  height: 100%;
  border-left: 1px dashed #bbb;
  padding: 2px 5px;
}
#tournament_schedule .timeheader.hour {
  font-weight: bold;
  border-left-style: solid;
}
#tournament_schedule .timeheader.now {
  top: 1.7em;
  height: calc(100% - 1.7em);
  margin-left: 1px;
  border-left: 2px dashed #d85000!important;
}
#tournament_schedule .tournament.finished {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}
#tournament_schedule .tournament.user-created {
  background-color: #888;
}
#tournament_schedule .tournament.hourly {
  background-color: #3D9333;
}
#tournament_schedule .tournament.daily,
#tournament_schedule .tournament.eastern {
  background-color: #0072B2;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 0 1000%; }
}
#tournament_schedule .tournament.weekly,
#tournament_schedule .tournament.weekend,
#tournament_schedule .tournament.monthly,
#tournament_schedule .tournament.marathon,
#tournament_schedule .tournament.yearly {
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  letter-spacing: 1px;
  background-image: url(../images/grain.png);
  animation: animatedBackground 50s linear infinite;
}
#tournament_schedule .tournament.weekly {
  background-color: #D55E00;
}
#tournament_schedule .tournament.monthly {
  background-color: #C93D3D;
}
#tournament_schedule .tournament.yearly,
#tournament_schedule .tournament.weekend {
  background-color: #d59120;
}
#tournament_schedule .tournament.marathon {
  background-color: #66558C;
}
#tournament_schedule .tournament.unique {
  background-color: #d59120;
}
#tournament_schedule .tournament.max-rating {
  background-color: #8572ff;
}
#tournament_schedule .tournament.short.thematic {
  letter-spacing: -1px;
}
#tournament_schedule .tournament span {
  margin-right: 4px;
}
#tournament_schedule .icon {
  font-size: 1.3em;
  margin: -4px 2px -1px 4px;
}
#tournament_schedule .tournament .body {
  flex: 1 0;
  margin-right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tournament_schedule .name {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  max-width: 66%;
}
#tournament_schedule .infos {
  display: inline-flex;
}
#tournament_schedule .infos .text {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tournament_schedule .infos .nb-players {
  flex: 0 0 auto;
}

#tournament_schedule .large .icon {
  font-size: 2.4em;
  margin: -6px 4px 0 4px;
}
#tournament_schedule .large .name {
  display: block;
  max-width: none;
}
#tournament_schedule .large .name {
  display: flex;
}

#tournament_list table.slist {
  line-height: 2.3em;
}
#tournament_list table.slist td {
  padding-top: 1em;
  padding-bottom: 1em;
}
#tournament_list table.slist td.duration {
  white-space: nowrap;
}
#tournament_list table.slist .header {
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0!important;
}
#tournament_list table.slist .header:hover {
  transform: translateX(3px);
}
#tournament_list table.slist .header a {
  padding: 1em;
  display: block;
}
#tournament_list table.slist .name {
  letter-spacing: 3px;
  font-size: 1.7em;
  display: block;
}
#tournament_list .icon span {
  font-size: 4em;
  opacity: 0.6;
}
#tournament_list .scheduled .icon span {
  color: #d59120;
  opacity: 0.8;
}
#miniGame {
  line-height: 0;
}
#miniGame .vstext {
  text-align: center;
  border: 0;
}
#miniGame .win {
  color: #33aa33;
}
#miniGame .loss {
  color: #aa3333;
}
