#tournament table.slist td:first-child a {
  font-weight: bold;
  text-decoration: none;
}
#tournament table.slist td:first-child a:hover {
  text-decoration: underline;
}
#tournament table.slist tbody.scheduled a,
#tournament.scheduled h1,
#tournament table tr.standing.scheduled:first-child td:first-child {
  color: #d59120;
}

#tournament .title_tag {
  float: right;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  margin: 21px 25px 0 0;
}

#tournament div.tournament_show {
  width: 525px;
}

#tournament div.tournament_show div.game_list {
  margin: 25px 0 0 15px;
}

#tournament a.pov {
  display: block;
  margin: 0 25px 1em 25px;
  text-align: center;
  font-size: 1.5em;
}
#tournament a.pov span {
  display: block;
  font-weight: bold;
}

#tournament table.slist .create td {
  padding: 0.6em 1.2em 0.6em 0.6em;
  text-align: center;
}

#tournament table.slist span.rank {
  font-weight: bold;
}
#tournament table.slist .small {
  font-size: 0.8em;
}
#tournament div.standing_wrap {
  max-height: 485px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
#tournament div.standing_wrap:hover {
  overflow-y: auto;
}
#tournament table.standing {
  width: 525px;
  border-bottom: none;
}
#tournament table.standing td:first-child, #tournament table.standing th:first-child {
  padding-left: 15px;
}
#tournament table.standing td:first-child span {
  display: inline-block;
  width: 20px;
}
#tournament table.standing td:last-child {
  padding-right: 15px;
}
#tournament table.standing .legend {
  text-align: right;
}
#tournament table.standing .legend span {
  margin-left: 10px;
}
#tournament table.standing .sheet {
  letter-spacing: -1.5px;
}
#tournament table.standing .sheet,
#tournament table.standing .total {
  text-align: right;
  font-family: monospace;
}
#tournament .double {
  color: #d59120;
  font-weight: bold;
}
#tournament .streakstarter {
  color: #759900;
  font-weight: bold;
}
#tournament table.standing td.around-bar {
  padding: 0;
}
#tournament table.standing div.bar {
  height: 3px;
  width: 0;
  background: #759900;
  opacity: 0.5;
}

#tournament form.inline {
  display: inline;
  float: right;
  padding-right: 0.6em;
}
#tournament span.joined {
  font-weight: bold;
  color: #759900;
}

#tournament form.plain td {
  padding: 0.6em;
  white-space: nowrap;
}

#tournament form.plain label {
  margin-right: 10px;
}

#tournament form.plain input {
  width: 96%;
  padding: 0.5% 1%;
}

#tournament form.plain select {
  padding: 0.5% 1%;
  text-transform: capitalize;
  width: 99%;
}
#tournament form.plain .inline select {
  width: 46%;
}

#tournament form.plain input.submit {
  width: 99%;
}

#tournament form.plain .error {
  color: red;
}

#tournament h1 .private {
  font-size: 12px;
}

#tournament .join_password {
  padding-top: 0;
}
#tournament .join_password h2 {
  font-size: 1.5em;
}
#tournament .join_password form {
  margin-top: 1em;
}
#tournament .join_password input {
  padding: 3px 5px;
}

#tournament_side {
  float: right;
  width: 246px;
  max-height: 510px;
  overflow-y: hidden;
  border: 1px solid #ccc;
  padding: 3px;
  background: #f7f7f7;
}
#tournament_side:hover {
  overflow-y: auto;
}
#tournament_side div.pairings a {
  padding: 0.3em 0.2em;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
#tournament_side div.pairings span {
  font-weight: bold;
}
#tournament_side div.pairings span.win {
  color: #00aa00;
}
#tournament_side div.pairings span.loss {
  color: #aa0000;
}
#tournament_side div.pairings span.draw {
  color: #aaaa00;
}
#tournament_side div.pairings em {
  font-style: italic;
}

#tournament article.faq h2 {
  font-weight: bold;
  font-style: italic;
}
#tournament article.faq p {
  margin: 0.5em 0 2em 0;
}
div.faq_page h1 {
  display: block;
  margin-bottom: 1em;
}
div.faq_box {
  margin-top: 15px;
}

div.header .tournament_links {
  margin-top: 30px;
}

.leaderboard_title {
  font-size: 1.5em;
  margin-top: 30px;
  margin-bottom: 6px;
  border-bottom: 1px solid #ccc;
}
ol.tournament_leaderboard li {
  padding: 5px 0;
  list-style: decimal-leading-zero inside;
}
ol.tournament_leaderboard a {
  text-decoration: none;
}
ol.scheduled_tournaments li {
  padding: 5px 0;
}
ol.scheduled_tournaments a {
  font-weight: bold;
  text-decoration: none;
}
ol.scheduled_tournaments a:hover {
  text-decoration: underline;
}
