div.training {
  position: relative;
}
div.training .board_and_ground {
  display: table;
}
div.training > .side {
  position: absolute;
  top: 64px;
  left: -222px;
  width: 212px;
}
div.training > .side h1 {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}
div.training > .side div.comment {
  padding: 10px 5px;
  text-align: center;
  margin-bottom: 1em;
}
div.training > .side div.comment h3 {
  font-size: inherit;
  margin: 4px;
  display: block;
}
div.training > .side div.retry {
  color: #31708f;
  background: #D9EDF7;
}
div.training > .side div.great,
div.training > .side div.win {
  background: #DFF0D8;
  color: #3c763d;
}
div.training > .side div.loss,
div.training > .side div.fail {
  color: #a94442;
  background: #ebccd1;
}
div.training > .side div.comment .rating {
  font-size: 2em;
  vertical-align: -3px;
  padding-left: 5px;
}
div.training.retry > .side div.retry {
  display: block;
}
div.training.great > .side div.great {
  display: block;
}
div.training.fail > .side div.fail {
  display: block;
}
div.training > .side .chart_container {
  margin-top: 30px;
}
div.training > .side .chart_container p {
  margin-bottom: 3px;
}
div.training div.box {
  margin-bottom: 1em;
  border: 1px solid #ccc;
  padding: 7px;
}
div.training > .side div.box {
  margin-bottom: 20px;
}
div.training div.box > p, div.training div.box > div {
  line-height: 1.8em;
}
div.training > .side .register {
  margin-top: 1em;
}
div.training > .side .register .signup {
  margin: 1em auto;
  text-align: center;
}

div.training > .side .user_chart {
  margin: 0 0 -10px -9px;
}

div.training > .board_and_ground > .right {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
  width: 242px;
}
div.training > .board_and_ground > .right .spinner {
  width: 90px;
  height: 90px;
}
