body.transp {
  background-color: #1a1a1a;
  color: #ccc;
}
body.transp a,
body.transp a:visited,
body.transp #powerTip > .actions a,
body.transp .button,
body.transp #video .content_box_top form input,
body.transp input,
body.transp button,
body.transp textarea,
body.transp div.analysis_menu > a.active,
body.transp div.chat_menu > a,
body.transp div.current_player div.player p,
body.transp div.vstext,
body.transp #lichess_forum div.post .message,
body.transp #lichess_blog {
  color: #ccc;
}
body.transp::before {
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  will-change: transform;
  z-index: -1;
}
body.transp div.training .box,
body.transp div.side_box,
body.transp div.box,
body.transp div.table,
body.transp div.table_wrap > div.clock > div.time,
body.transp #friend_box .content a:hover,
body.transp div.undertable_inner,
body.transp div.chat_menu > a.active,
body.transp #hooks_wrap,
body.transp #hooks_wrap div.tabs a:hover,
body.transp #hooks_wrap div.tabs a.active,
body.transp #tournament_schedule,
body.transp #friend_box,
body.transp .analysis_panels > div,
body.transp .button:hover,
body.transp a.button:hover,
body.transp .ui-state-hover,
body.transp #topmenu section:hover > a,
body.transp #topmenu div,
body.transp #start_buttons a,
body.transp .analyse div.ceval_box,
body.transp .analyse .lichess_ground .replay,
body.transp .analyse .lichess_ground .explorer_box,
body.transp .lichess_ground .opening_box,
body.transp .lichess_ground .replay index,
body.transp .lichess_ground .analyse .meta,
body.transp .lichess_ground .replay move:hover,
body.transp .lichess_ground .replay td.move:hover,
body.transp #top .dropdown,
body.transp #top .shown a.toggle,
body.transp div.analysis_menu > a,
body.transp div.content_box,
body.transp div.content_box_inter a.active,
body.transp #site_header div.side_menu a.active,
body.transp #tournament_side,
body.transp table.translations tbody tr,
body.transp form.translation_form div.message,
body.transp #video_side .tag_list a.checked,
body.transp #powerTip,
body.transp div.vstext,
body.transp .action_menu {
  background: rgba(0, 0, 0, 0.6);
}
body.transp #board_editor,
body.transp #video .content_box_top form input,
body.transp input,
body.transp textarea,
body.transp div.analysis_menu > a.active,
body.transp div.chat_menu > a,
body.transp div.mselect > div.list > a,
body.transp #opening .meter,
body.transp div.game_row:nth-child(odd),
body.transp #lichess_forum table.forum_table tr:nth-child(odd),
body.transp #lichess_message tr:nth-child(even),
body.transp table.slist tbody tr:nth-child(even),
body.transp #team .forum li:nth-child(odd),
body.transp table.translations tbody tr:nth-child(odd),
body.transp form.translation_form div.message:nth-child(even),
body.transp div.content_box table.datatable tr:nth-child(odd),
body.transp div.game_config .optional_config,
body.transp div.game_config .ratings,
body.transp div.search_status {
  background: rgba(0, 0, 0, 0.3);
}
body.transp div.mselect > div.list > a:first-child {
  background: #333;
}
body.transp #lichess_forum table.forum_table thead tr:nth-child(odd),
body.transp #chat .messages,
body.transp #tournament_schedule,
body.transp div.mselect div.list {
  background: none;
}
body.transp div.user_show .trophy.icon3d,
body.transp #timeline a,
body.transp #chat span,
body.transp #chat a.user_link,
body.transp div.undertable a.user_link,
body.transp #team .forum a.user_link,
body.transp div.user_show div.content_box_top > span,
body.transp span.progress > .zero,
body.transp div.undertable_top span.title {
  color: #b0b0b0;
}
body.transp #start_buttons a {
  transition: 0.13s;
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.4);
}
body.transp .pull-quote p:after,
body.transp .content_box .pull-quote p:after,
body.transp div.lichess_overboard .pull-quote p:after {
    background: linear-gradient(45deg, #505050, #505050 55%, transparent 55%, transparent);
    border: none;
}
body.transp #start_buttons a:hover {
  background: rgba(20, 20, 20, 0.6);
}
body.transp #top a.toggle,
body.transp #top #sound_state,
body.transp #tv_channels,
body.transp #video_side,
body.transp #video_side a,
body.transp .side div.user_lists,
body.transp .side div.user_lists a,
body.transp #puzzle .right .retry,
body.transp #trainer .explanation,
body.transp .tournament_home_side,
body.transp .tournament_home_side a,
body.transp #site_header .help,
body.transp #site_header .side_menu,
body.transp .advice_summary,
body.transp .advice_summary a,
body.transp #topmenu section > a,
body.transp .under_chat,
body.transp #now_playing h3,
body.transp div.sub_ratings,
body.transp div.sub_ratings span,
body.transp #site_title,
body.transp #site_header .baseline,
body.transp #streams_on_air a.stream span {
  color: #f0f0f0;
  text-shadow: 0 0 2px #000, 0 0 5px #000;
}
body.transp .crosstable th,
body.transp #chat div.top,
body.transp div.side_box .top,
body.transp div.box .top,
body.transp #friend_box .title,
body.transp div.undertable_top,
body.transp .button,
body.transp .button:visited,
body.transp .ui-state-default,
body.transp #translation_call,
body.transp #notifications > div,
body.transp div.vstext,
body.transp div.user_show div.content_box_inter.tabs,
body.transp #qa .answers-header,
body.transp #video .card .info,
body.transp #video .card .reveal,
body.transp table.slist thead {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%);
}
body.transp #timeline {
  background: rgba(0, 0, 0, 0.6);
  padding: 4px;
  width: 224px;
  box-sizing: border-box;
}
body.transp div.lichess_board,
body.transp div.lichess_overboard,
body.transp div.content_box,
body.transp #powerTip {
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.5);
}
body.transp #site_title {
  opacity: 0.9;
}
body.transp #themepicker input.background_image {
  display: block;
  width: 100%;
  border: 1px solid #444;
  border-left: 0;
  border-right: 0;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
body.transp ::-webkit-scrollbar,
body.transp ::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.1);
}
body.transp .action_menu .setting {
  margin-right: 10px;
}
