h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

table.translations {
  margin-top: 1em;
  width: 100%;
}
table.translations th {
  font-weight: bold;
}
table.translations td, table.translations th {
  padding: 5px 5px 5px 5px;
}
table.translations tbody tr:nth-child(odd) {
  background: #f4f4f4;
}
table.translations td.progress {
  white-space: nowrap;
}
table.translations .progressbar {
  width: 200px;
}

div.locale_menu {
  margin-top: 2em;
}

.error {
  color: red;
}

.notice {
  margin: 1em;
  padding: 1em;
  text-align: center;
  font-size: 1.2em;
  border: 1px solid #DADADA;
  color: #000;
  background: #AAFFAA;
}

div.messages {
  margin-bottom:1em;
  padding-bottom: 1em;
  max-height: 500px;
  overflow: auto;
  border: 1px solid #dadada;
}
div.message {
  padding:1em;
  font-size: 1.2em;
  position: relative;
}
div.message:nth-child(odd) {
  background: #f4f4f4;
}
div.message label {
  display: block;
  color: #444;
  margin-left: 9%;
}
div.message .context {
  margin-left: 9%;
  font-size: 0.9em;
  margin-top: 5px;
}
div.message input {
  width: 90%;
  margin-left: 9%;
  margin-top: 3px;
  padding: 3px 5px;
  border: 1px solid #dadada;
}
div.message .number {
  position: absolute;
  top: 25px;
  left: 10px;
}

div.optional {
  margin-bottom: 1em;
}
div.optional input {
  padding: 3px 5px;
  border: 1px solid #dadada;
}

input.submit {
  padding: 5px 10px;
  font-size: 1.3em;
}
