#tv_channels {
  margin: 15px 4px 0 0;
}
#tv_channels > a {
  display: block;
  text-align: right;
  transition: 0.13s;
  padding: 6px 5px 5px 5px;
  line-height: 1.1em;
  border-radius: 25px 0 0 25px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
#tv_channels > a:hover {
  background: #fafafa;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#tv_channels > a.active {
  background: #C4A86F!important;
  color: #fff!important;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#tv_channels > a::before {
  color: #C4A86F;
  font-size: 27px;
  float: right;
  margin: -1px 0 0 8px;
  opacity: 0.5;
}
#tv_channels > a.active::before {
  color: #fff;
  opacity: 1;
}
#tv_channels > a:hover::before {
  opacity: 1;
}
#tv_channels > a strong {
  display: block;
  text-transform: uppercase;
}
#tv_channels > a span {
  font-size: 0.9em;
  white-space: nowrap;
  display: block;
}

.tv_stream iframe {
  border: none;
}

div.game_list.playing.tv_history {
  width: 512px;
  margin-top: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.tv_history h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Roboto';
  flex: 0 0 100%;
  text-align: center;
}
