#tv_history {
  margin-top: 15px;
  cursor: pointer;
}
#tv_history div.content {
  height: 250px;
  overflow: hidden;
  background-color: #fff;
}
#tv_history div.content:hover {
  overflow-y: auto;
}
#tv_history table {
  width: 100%;
}
#tv_history a.user_link {
  font-weight: bold;
  color: #a0a0a0;
}
#tv_history a.icon {
  font-size: 26px;
  padding-left: 10px;
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
}
#tv_history tr:hover a.icon {
  opacity: 1;
}
#tv_history td {
  padding: 4px 0px;
  border-top: 1px solid #eaeaea;
}
#tv_history tr:first-child td {
  border-top: none;
}
#tv_history tr:hover td {
  transition: 0.13s;
}
#tv_history tr:hover td {
  background-color: #f8f8f8;
}
