/* line 1, ../sass/user-edit.scss */
div.editable span {
  width: 290px;
  padding: 5px;
  border: 1px solid #88aaff;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
}
/* line 9, ../sass/user-edit.scss */
div.editable span:hover {
  border-color: blue;
}

/* line 14, ../sass/user-edit.scss */
div.editable form {
  margin-bottom: 1em;
}

/* line 17, ../sass/user-edit.scss */
div.editable textarea {
  width: 290px;
  padding: 5px;
  height: 7em;
}

/* line 22, ../sass/user-edit.scss */
div.editable input {
  margin-right: 5px;
}
