.content_box form {
  font-size: 1.3em;
}
.content_box form li {
  display: block;
  list-style: none outside none;
  margin: 2em 0;
}
.content_box form .field label {
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  text-align: right;
  width: 150px;
}
.content_box form button.submit {
  margin-left: 160px;
  padding: 3px 1em;
  font-size: 1.1em;
}
form .error {
  color: red;
  margin-left: 160px;
}
form .help {
  font-size: 80%;
  margin-left: 160px;
}

div.content_box.prefs fieldset {
  margin: 1em 0;
  border: 1px #ccc solid;
}
div.content_box.prefs fieldset legend {
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 0 10px;
}

div.content_box.prefs h2 {
  font-weight: bold;
  display: block;
  margin-bottom: 20px;
}
div.content_box.prefs div.buttonset {
  display: block;
  margin: 10px 0;
}
div.content_box.prefs div.buttonset label {
  font-weight: normal;
}

div.content_box.prefs form li {
  margin: 30px 0;
  border-top: 1px solid #eaeaea;
  padding: 30px 0 0 0;
}
div.content_box.prefs form li:first-child {
  padding-top: 0;
  border-top: none;
}
div.content_box.prefs form button.submit {
  margin: 0;
  padding: 10px 20px;
}
