div.user_lists h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
div.user_lists div.user_top {
  float: left;
  width: 33.3%;
  margin-bottom: 2em;
}
div.user_lists div.user_top table {
  width: 100%;
}
div.user_lists div.user_top a {
  display: block;
  margin: 3px 0;
}

form.search_user_form {
  margin: 1em 0 0 0;
}
form.search_user_form input {
  border: 1px solid #DADADA;
  padding: 3px 5px;
}
