.community.content_box {
  position: relative;
}
.com_tabs {
  position: absolute;
  top: -23px;
  left: -1px;
  height: 23px;
  line-height: 22px;
  display: flex;
  justify-content: flex-end;
}
.com_tabs a {
  padding: 0 8px;
  margin-right: 3px;
  border: 1px solid #ccc;
  background: #f0f0f0;
  transition: 0.13s;
}
.com_tabs a:hover {
  background: #fff;
}
.com_tabs a.active {
  background: #fff;
  font-weight: bold;
  border-bottom-color: #fff;
  border-top: 2px solid #d85000!important;
  margin-top: -1px;
}
body.dark .com_tabs a {
  background: #393939;
  border-color: #3d3d3d;
}
body.dark .com_tabs a:hover,
body.dark .com_tabs a.active {
  background: #2b2b2b;
}
body.dark .com_tabs a.active {
  border-bottom-color: #2b2b2b;
}
div.user_lists h2 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
div.user_lists h2::before {
  font-size: 1.5em;
}
#lichess div.user_lists {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#lichess div.user_lists div.user_top {
  flex: 0 0 31%;
  width: 31%;
  margin-bottom: 2em;
}
div.side div.user_top {
  margin-top: 1em;
}
div.side div.user_top li {
  display: block;
  margin: 5px 0;
}
div.side a.more {
  display: block;
  text-align: right;
  margin-top: 0.5em;
}
div.user_lists div.user_top > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
div.user_lists div.user_top div div {
  line-height: 22px;
  white-space: nowrap;
}
div.user_lists div.user_top .user-link {
  overflow: hidden;
  text-overflow: ellipsis;
}
#site_header div.user_lists .user-link {
  max-width: 160px;
}

div.big_user_list > a {
  float: left;
  width: 25%;
  margin-bottom: 5px;
}
