#tournament_list table.slist {
  line-height: 2.3em;
  white-space: nowrap;
}
#tournament_list table.slist h1 {
  padding: 0;
  line-height: 72px;
}
#tournament_list table.slist .count {
  vertical-align: center;
  color: #d59120;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 300;
  text-align: center;
  line-height: 72px;
  width: 80px;
}
#tournament_list table.slist td {
  padding-top: 1em;
  padding-bottom: 1em;
}
#tournament_list table.slist td.icon {
  text-align: center;
}
#tournament_list table.slist .header {
  letter-spacing: 2px;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 0!important;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#tournament_list table.slist .header:hover {
  transform: translateX(3px);
}
#tournament_list table.slist .header a {
  padding: 1em;
  display: block;
}
#tournament_list table.slist .name {
  letter-spacing: 3px;
  font-size: 1.7em;
  display: block;
}
#tournament_list table.slist .games,
#tournament_list table.slist .score,
#tournament_list table.slist .rank {
  font-size: 1.2em;
}
#tournament_list .icon span {
  font-size: 4em;
  opacity: 0.7;
}
#tournament_list .scheduled .icon span {
  color: #d59120;
  opacity: 0.8;
}

.stats p {
  padding: 0 20px 20px 20px;
}
.stats table.perf_results {
  height: 300px;
}
.stats table.perf_results thead th,
.stats table.perf_results td {
  text-align: right;
}
.stats table.perf_results th span::before {
  font-size: 2em;
}
