div.content_box {
  width: 232px;
  padding-bottom: 10px;
  position: relative;
}

div.signup_box p.explanation {
  font-size: 1.2em;
  margin-bottom: 2em;
}

div.signup_box .lichess_title {
  margin-bottom: 1em;
}

div.content_box.login div.alternative {
  display: block;
  position: absolute;
  top: 2em;
  left: 312px;
  width: 300px;
}
div.content_box.signup div.alternative {
  float: right;
}

div.alternative a {
  color: #3893E8;
}

.content_box form {
  font-size: 1.3em;
}

.content_box form li {
  list-style: none;
  display: block;
  margin: 1em 0 1em 0;
}

.content_box form label {
  display: block;
  margin-bottom: 2px;
}

.content_box form input {
  font-size: 1.1em;
  width: 212px;
  padding: 3px 6px;
  border: 1px solid #D4D4D4;
}
.content_box form input#email {
  width: 320px;
}
.content_box form input.button {
  width: auto;
}

.content_box form input.submit {
  padding: 7px 1em;
}

form .error {
  color: red;
}

div.checkmateCaptcha {
  margin-top: 2em;
}
div.checkmateCaptcha div.checkmateFen {
  margin-left: 0;
}
div.checkmateCaptcha label {
  width: 250px;
  text-align: left;
}

.email_confirm p {
  margin: 1em 0;
}

.email_confirm h2 {
  font-size: 1.5em;
  margin-top: 2em;
}
.email_confirm h3 {
  font-size: 1.3em;
  display: inline;
}

.email_confirm ol {
  font-size: 1.1em;
}
.email_confirm form input#new_email {
  width: 70%;
}
@keyframes appear {
  from { opacity: 0; }
  30% { transform: translateY(0); }
  to { opacity: 1; transform: translateY(0); }
}
.email_confirm ol li {
  margin: 2em 0;
  list-style: decimal inside;
}
.email_confirm.anim h2,
.email_confirm.anim ol li {
  opacity: 0;
  transform: translateY(100px);
  animation: appear 3s forwards;
  animation-delay: 2s;
}
.email_confirm.anim ol li:nth-child(2) {
  animation-delay: 6s;
}
.email_confirm.anim ol li:nth-child(3) {
  animation-delay: 10s;
}
.email_confirm.anim ol li:nth-child(4) {
  animation-delay: 14s;
}
.email_confirm.anim ol li:nth-child(5) {
  animation-delay: 18s;
}
#email_confirm a {
  display: none;
}
