.user_show .content_box_top {
  display: flex;
  padding-left: 5px;
}
.user_show .content_box_top h1 {
  margin: 0;
}
.user_show .content_box_top .connected {
  color: #759900;
}
#lichess .user_show .closed {
  color: #aa3333;
  font-weight: bold;
  margin-right: 1em;
}
.user_show .content_box_top > span {
  margin-left: 10px;
}
.user_show .trophies {
  margin-top: -47px;
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}
.user_show .trophy.award {
  font-family: "lichess" !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 100%;
  height: 60px;
  margin-top: 20px;
}
.user_show .trophy {
  height: 80px;
}
.user_show .stacked {
  display: flex;
}
.user_show .stacked .trophy {
  width: 65px;
  height: 65px;
  font-size: 65px;
  margin-top: 15px;
}
.user_show .fire_trophy {
  opacity: 0.9;
  transition: 0.8s;
  height: 80px;
  position: relative;
}
.user_show .fire_trophy:hover {
  opacity: 1;
}
.user_show .fire_trophy.marathonWinner,
.user_show .fire_trophy.marathonTopTen,
.user_show .fire_trophy.marathonTopFifty,
.user_show .fire_trophy.marathonTopHundred {
  filter: hue-rotate(190deg);
}
.user_show .fire_trophy.marathonTopTen {
  font-size: 58px;
  width: 58px;
  height: 58px;
  margin-top: 22px;
}
.user_show .fire_trophy.marathonTopFifty,
.user_show .fire_trophy.marathonTopHundred {
  font-size: 50px;
  height: 50px;
  width: 50px;
  margin-top: 30px;
  animation: none;
}
.user_show .fire_trophy.marathonTopFifty {
  text-shadow: 0 0 5px #ffae34, 0 0 6.25px #ec760c, 0 0 7.5px #cd4606;
}
.user_show .fire_trophy.marathonTopHundred {
  text-shadow: none;
  color: #cd4606!important;
}
.user_show .fire_trophy.bongcloudWarrior {
  filter: hue-rotate(70deg);
}
.user_show .packed .trophy {
  margin-right: -8px;
}
.user_show .packed .stacked {
  margin-right: 30px;
}
.user_show .packed .stacked .trophy {
  margin-right: -30px;
}
.user_show .trophy.icon3d {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  vertical-align: middle;
  font-size: 39px;
  color: #ccc;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}
.user_show .trophy.icon3d:not(.patron):hover {
  transform: translateY(-3px);
}
.user_show .trophy.streaming {
  color: #d59120!important;
  animation: fire 1.25s ease-in-out infinite alternate;
}
.user_show .trophy.patron {
  font-size: 60px;
  margin: -30px 10px 0 25px!important;
  transform: scale(-1, 1);
  color: #d59120!important;
  transition: 0.5s;
}
.user_show .trophy.patron:hover {
  margin-top: -34px!important;
  animation: fire 1.25s ease-in-out infinite alternate;
}
.user_show .combo_trophy {
  width: 60px;
  height: 60px;
  background-size: contain;
  font-family: "lichess" !important;
  text-align: center;
}
.user_show .shield_trophy {
  width: 50px;
  background-image: url(../images/trophy/shield-gold.png);
  font-size: 30px;
  line-height: 60px;
  color: #333!important;
  text-shadow: 0 0 6px #fff;
}
.user_show .revol_trophy {
  background-image: url(../images/trophy/round-star.png);
  font-size: 24px;
  line-height: 68px;
  color: #fff!important;
  text-shadow: 0 0 4px #444;
}

.user_show .honorific {
  display: inline-block;
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.4em;
}
.user_show .social {
  border-top: 0;
  padding: 0 0 5px 10px;
  height: 52px;
  align-items: center;
  justify-content: space-between;
}
.user_show .social .links {
  display: flex;
}
.user_show .user_actions {
  font-size: 1.2em;
  margin: 4px 15px 0 0;
}
.user_show .user_actions form {
  display: inline;
}
.user_show .relation_actions {
  display: inline;
}
#us_profile {
  height: 325px;
  position: relative;
}
div.engine_warning {
  margin: 10px 0;
}
.user_show .rating_history {
  position: absolute;
  left: -10px;
  display: block;
  width: 477px;
  height: 339px;
}
.user_show .rating_history .spinner {
  width: 90px;
  height: 90px;
  margin: 120px auto 0 auto;
}
.user_show .user-infos {
  position: absolute;
  top: 0;
  left: 458px;
  padding: 0 14px;
  border-left: 1px solid #c0c0c0;
  overflow: hidden;
  width: 305px;
  height: 325px;
}
.user_show .with_insights .user-infos {
  height: 265px;
}
.user_show .user-infos:hover {
  overflow-y: auto;
}
.user_show .insight {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 14px;
  width: 305px;
  height: 60px;
  border-top: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
}
.user_show .insight .icon {
  position: absolute;
  top: 0;
  right: 10px;
}
.user_show .insight .icon::before {
  color: #3893E8;
  font-size: 40px;
  line-height: 60px;
  opacity: 0.8;
}
.user_show .insight strong {
  color: #3893E8;
  display: block;
  font-weight: normal;
  font-size: 1.5em;
  margin: 10px 0 1px 0;
}
.user_show .insight em {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 275px;
}
.user_show .insight:hover {
  background: #3893E8;
}
.user_show .insight:hover,
.user_show .insight:hover *,
.user_show .insight:hover .icon::before {
  transition: 0.13s;
  color: #fff;
}

.user_show .name,
.user_show .bio,
.user_show .stats,
.user_show .tournament_points,
.user_show .social_links,
.user_show .teams {
  display: block;
  margin-top: 16px;
}
.user_show .col2 {
  display: flex;
  flex-flow: row wrap;
  line-height: 1.7em;
}
.user_show .col2 > a {
  flex: 0 0 50%;
  color: #3893E8!important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user_show .teams {
  margin-bottom: 10px;
}
.user_show .bio {
  font-style: italic;
}
.user_show div.games {
  padding-top: 10px;
}
.user_show div.games.center {
  text-align: center;
}
.user_show .profile {
  margin-bottom: 1em;
}
.user_show .claim_title_zone {
  padding: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
}
.user_show .claim_title_zone h2 {
  font-size: 1.5em;
}
.user_show .claim_title_zone p {
  margin: 2em 0;
}
.user_show .claim_title_zone .actions {
  margin: 3em 0;
  text-align: center;
}
.user_show .note_zone {
  display: none;
  margin: 1em 20px;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.user_show .note_zone textarea {
  width: 98%;
  margin-bottom: 5px;
  padding: 5px 8px;
  height: 5em;
  resize: vertical;
}
.user_show .note_zone div {
  padding-top: 1em;
  border-top: 1px dotted #ccc;
  margin-top: 1em;
}
.user_show .note_zone p.meta {
  float: right;
  text-align: right;
  margin-left: 1em;
  white-space: nowrap;
}
.user_show .note_zone p.text {
  min-height: 2.7em;
}
.user_show .note_zone p.text a {
  color: #3893E8;
}
.user_show div.content_box_inter.tabs {
  margin-left: -8px;
  padding-left: 30px;
  width: 775px;
  border: 1px solid #ccc;
}
div.crosstable {
  margin: 25px 10px 15px 10px;
}
.user_show .results .aggregate {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  margin-left: -20px;
  width: 50px;
  transform: rotate(90deg);
}

.user_show .search {
  white-space: nowrap;
  margin: 10px 0;
}
.user_show .search table {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 20px;
  width: 360px;
}
.user_show .search table tbody {
  display: block;
}
.user_show .search table:first-child {
  width: 400px;
}
.user_show .search .header {
  font-size: 1.3em;
}
.user_show .search td {
  padding: 5px 0;
}
.user_show .search label {
  margin-right: 10px;
}
.user_show .search .single select {
  width: 100%;
}
.user_show .search table .half {
  float: left;
  width: 49%;
  padding-right: 1%;
  text-align: right;
}
.user_show .search_status {
  text-align: right;
  padding: 10px 25px;
  border-bottom: 1px solid #e4e4e4;
}
.user_show .new_player {
  padding: 20px;
}
.user_show .new_player h2 {
  font-size: 1.4em;
}
.user_show .new_player p {
  margin: 1em 0;
}
.user_show .new_player li {
  list-style: disc inside;
  line-height: 1.5em;
}
.user_show .new_player a {
  color: #3893E8;
}
div.content_box_inter {
  display: flex!important;
}
div.content_box_inter .intertab {
  flex: 1 1 auto;
  text-align: center;
  line-height: 1.4em;
  margin-top: 5px;
  padding: 0.5em 5px;
  text-transform: capitalize;
  border: 1px solid transparent;
  font-family: 'Roboto';
  font-weight: 300;
  white-space: normal;
}
div.content_box_inter.tabs .intertab {
  margin-top: 7px;
  border-bottom: none;
  padding-bottom: 0.8em;
}
div.content_box_inter .intertab:hover {
  background: #efefef;
}
div.content_box_inter.angles .intertab:hover {
  background: #f9f9f9;
}
div.content_box_inter .intertab strong {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-size: 1.1em;
}
div.content_box_inter a.intertab.active {
  margin-bottom: -1px;
  background: #fff!important;
}
div#games.content_box_inter {
  border-top: none;
}
div.content_box_inter a.to_games.active,
div#games.content_box_inter {
  background: #e8e8e8!important;
}
div.content_box_inter.angles .intertab {
  font-size: 1.2em;
  padding: 0.9em 5px;
}
div.content_box_inter .intertab.active {
  border: 1px solid #ccc;
  border-bottom: none;
}
div.content_box_inter .to_games .unread {
  opacity: 0.7;
  padding: 0 5px;
}
div.content_box_inter .to_playing {
  color: #d85000!important;
}
div.content_box_inter .to_playing strong {
  font-weight: bold;
}

body.dark div.content_box_inter .intertab:hover {
  background: #2d2d2d;
}
body.dark div.content_box_inter a.intertab.active {
  background: #2b2b2b!important;
}
body.dark div.content_box_inter a.to_games.active,
body.dark div#games.content_box_inter {
  background: #353535!important;
}
