div.user_show div.content_box_top .icon {
  background-position: 0 -160px;
}
div.user_show div.content_box_top .icon.connected {
  background-position: 0 -208px;
}
div.user_show .staff {
  color: #aa3333;
  font-weight: bold;
  margin-bottom: 1em;
}
div.user_show div.content_box_top .rank {
  margin-left: 1em;
}

div.user_show .social {
  position: relative;
  border-top: 0;
  padding: 0 0 5px 10px;
}
div.user_show .relation_actions {
  position: absolute;
  top: 16px;
  right: 16px;
}

div.user_show div.meat {
  height: 325px;
  position: relative;
}

div.user_show .elo_history {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 500px;
  height: 340px;
  margin: -8px 0 -10px -50px;
}
div.user_show .elo_history span {
  position: absolute;
  top: 170px;
  left: 240px;
}

div.user_show .user-infos {
  position: absolute;
  top: 0;
  left: 449px;
  padding: 0 16px;
  border-left: 1px solid #c0c0c0;
  overflow: auto;
  width: 310px;
  height: 325px;
}

div.user_show .user_bio,
div.user_show .elo_with_me,
div.user_show .numbers,
div.user_show .tournament_points,
div.user_show .teams {
  display: block;
  margin-top: 16px;
}
div.user_show span.user_bio {
  font-style: italic;
}
div.user_show .teams a {
  display: block;
  margin: 5px 0;
}

div.user_show div.elo_with_me {
  width: 292px;
  padding: 5px 8px;
  border: 1px solid #eaeaea;
  background: #fafafa;
  text-align: center;
}
div.user_show div.elo_with_me strong {
  padding-right: 1em;
}

div.user_show div.games {
  margin-top: 10px;
}

div.user_show .actions {
  margin-top: 1em;
}
div.user_show .actions a.action,
div.user_show .actions form {
  display: block;
  float: left;
  margin-right: 25px;
}
div.user_show .mod_zone {
  display: none;
  margin: 1em 20px;
}
div.user_show .mod_zone .slist {
  font-size: 0.9em;
}
div.user_show .mod_zone .same {
  font-style: italic;
  font-weight: bold;
}
div.user_show .mod_zone form {
  margin: 0 25px 0 0;
}
div.user_show .mod_zone .listings > div {
  max-height: 12em;
  overflow: auto;
}
div.user_show .mod_zone .listings .blocked {
  color: red;
  font-weight: bold;
}
div.user_show .mod_zone strong {
  display: block;
  margin-top: 0.5em;
}
