#perfStat .content_box_top {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#perfStat .content_box_content {
  min-height: 600px;
}
#perfStat .lichess_title {
  font-size: 1.8em;
}
#perfStat .lichess_title span {
  color: #909090;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-left: 10px;
}
#perfStat div.content_box_top > .view_games {
  float: right;
  font-size: 14px;
  margin-right: 10px;
}
#perfStat div.content_box_top > .trophy {
  float: right;
  margin-top: -47px;
  margin-right: 10px;
}
#perfStat h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 300;
}
#perfStat h2 .details {
  text-transform: none;
}
#perfStat h3 {
  font-size: 1.4em;
  margin: 5px 0;
}
#perfStat p {
  margin-top: 20px;
}
#perfStat time {
  display: inline;
}
#perfStat green {
  color: #759900;
}
#perfStat red {
  color: #dc322f;
}
#perfStat .content_box_content a {
  color: #3893E8;
}
#perfStat .content_box_content a:hover {
  text-decoration: underline;
}
#perfStat .content_box_content [title] {
  border-bottom: 1px dashed #3893E8;
  cursor: help;
}
#perfStat section {
  margin-top: 50px;
}
#perfStat section:first-child {
  margin-top: 20px;
}
#perfStat .half {
  width: calc(50% - 30px);
  display: inline-block;
}
#perfStat .half:first-child {
  margin-right: 60px;
}
#perfStat table {
  margin-top: -15px;
  width: 100%;
}
#perfStat .glicko p {
  font-size: 1.2em;
}
#perfStat .counter table {
  font-size: 1.2em;
}
#perfStat .counter th {
  text-indent: 20px;
}
#perfStat .counter td {
  text-align: right;
  padding: 12px 20px;
  font-weight: bold;
  font-size: 1.2em;
}
#perfStat .counter tr.full td:last-child {
  background: #f6f6f6;
}
#perfStat .counter tr {
  border-bottom: 1px solid #eee;
}
#perfStat .counter tr:first-child {
  border-bottom: 1px solid #ccc;
}
#perfStat .highlow a,
#perfStat .highlow span {
  font-size: 1.2em;
  text-indent: 20px;
  display: inline-block;
}
#perfStat .result tbody {
  font-size: 1.2em;
}
#perfStat .result th,
#perfStat .result td {
  padding: 10px 0;
}
#perfStat .result td:first-child {
  text-indent: 20px;
  white-space: nowrap;
}
#perfStat .result td:last-child {
  text-align: right;
  font-size: 0.8em;
}
#perfStat .result tr {
  border-bottom: 1px solid #eee;
}
#perfStat .result thead tr {
  border-bottom: 1px solid #ccc;
}
#perfStat .resultStreak .streak,
#perfStat .playStreak .streak {
  margin: 10px 0 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#perfStat .playStreak {
  white-space: nowrap;
}
#perfStat .rating_history {
  left: -10px;
  display: block;
  width: 100%;
  height: 339px;
}
#perfStat .rating_history .spinner {
  width: 90px;
  height: 90px;
  margin: 120px auto 0 auto;
}