div.user_bio .editable {
  width: 290px;
  padding: 5px;
  border: 1px solid #88aaff;
  cursor: pointer;
  display: block;
  margin-bottom: 1em;
}
div.user_bio .editable:hover {
  border-color: blue;
}

div.user_bio form {
  display: none;
  margin-bottom: 1em;
}
div.user_bio textarea {
  width: 285px;
  padding: 5px;
  height: 5em;
  margin-bottom: 5px;
}
div.user_bio button {
  margin-right: 5px;
}

div.user_bio.editing .editable {
  display: none;
}
div.user_bio.editing form {
  display: block;
}
