.content_box form {
  font-size: 1.3em;
}
.content_box form li {
  display: block;
  list-style: none outside none;
  margin: 2em 0;
}
.content_box form .field label {
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  text-align: right;
  width: 150px;
}
.content_box form button.submit {
  margin-left: 160px;
  margin-right: 20px;
  padding: 3px 1em;
  font-size: 1.1em;
}
form .error {
  color: red;
  margin-left: 160px;
}
form .help {
  font-size: 80%;
  margin-left: 160px;
}
