div.content_box {
  width: 232px;
  padding-bottom: 10px;
  position: relative;
}

div.signup_box p.explanation {
  font-size: 1.2em;
  margin-bottom: 2em;
}

div.signup_box .lichess_title {
  margin-bottom: 1em;
}

div.content_box.login div.alternative {
  display: block;
  position: absolute;
  top: 2em;
  left: 312px;
  width: 300px;
}
div.content_box.signup div.alternative {
  float: right;
}

.content_box form {
  font-size: 1.3em;
}

.content_box form li {
  list-style: none;
  display: block;
  margin: 1em 0 1em 0;
}

.content_box form label {
  display: block;
  margin-bottom: 2px;
}

.content_box form input {
  font-size: 1.1em;
  width: 212px;
  padding: 3px 6px;
  border: 1px solid #D4D4D4;
}
.content_box form input.button {
  width: auto;
}

.content_box form input.submit {
  padding: 7px 1em;
}

form .error {
  color: red;
}

div.checkmateCaptcha {
  margin-top: 2em;
}
div.checkmateCaptcha div.checkmateFen {
  margin-left: 0;
}
div.checkmateCaptcha label {
  width: 250px;
  text-align: left;
}
