div.signup_box p.explanation {
    font-size: 1.2em;
}

div.signup_box h1 {
    margin-bottom: 2em;
}

div.signup_box .box_right_text {
    margin-top: -5px;
    float: right;
}

form.signup {
    font-size: 1.3em;
}

form.signup li {
    list-style: none;
    display: block;
    margin: 1em 0 1em 1em;
    position: relative;
}

form.signup label {
    float: left;
    display: block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-top: 2px;
}

form.signup .username input, form.signup .password input {
    width: 150px;
    padding: 0 3px;
}

form.signup input.submit {
    margin-left: 110px;
    padding: 3px 1em;
}

/* Errors */
form.signup li ul {
    position: absolute;
    left: 270px;
    top: -9px;
    font-size: 12px;
    color: red;
}
