div.user_lists h2 {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
#lichess div.user_lists,
#lichess div.user_lists div.group {
  overflow: hidden;
  width: 100%;
}
#lichess div.user_lists div.user_top {
  float: left;
  width: 31%;
  margin-bottom: 1em;
  margin-right: 3%;
}
#lichess div.user_lists div.user_top.last {
  margin-right: 0;
}
div.goodies div.user_top {
  margin-top: 1em;
}
div.goodies div.user_top td:first-child {
  max-width: 140px;
  overflow: hidden;
}
div.goodies a.more {
  display: block;
  text-align: right;
  margin-top: 0.5em;
}
div.user_lists div.user_top table {
  width: 100%;
}
div.user_lists div.user_top td {
  padding: 2px 0;
}

div.big_user_list > a {
  float: left;
  width: 25%;
  margin-bottom: 5px;
}

form.search_user_form {
  margin: 1em 0 0 0;
}
form.search_user_form input {
  border: 1px solid #ccc;
  padding: 3px 5px;
  width: 186px;
}
