div.doc_box h2.headline {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 30px;
}
div.doc_box div[data-oembed] {
  text-align: center;
}
div.doc_box .body.content_box_content {
  padding-top: 0;
}
div.doc_box .variants {
  margin-top: 0px;
}
div.doc_box a.variant {
  text-decoration: none!important;
  display: block;
  height: 50px;
  padding: 10px 20px;
  transition: background 0.13s;
}
div.doc_box a.variant:hover {
  background: rgba(191, 231, 255, 0.5);
}
div.doc_box a.variant::before {
  float: left;
  font-size: 40px;
  line-height: 50px;
  margin-right: 20px;
  opacity: 0.7;
  transition: opacity 0.13s;
}
div.doc_box a.variant:hover::before {
  opacity: 1;
}
div.doc_box a.variant h2 {
  font-size: 1.5em;
  font-family: 'Roboto';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
div.doc_box a.variant h3 {
  margin: 0;
}
