#wiki .body {
  margin-top: 2em;
  text-align: left;
  min-height: 400px;
}
#wiki div.wiki_box {
  text-align: center;
  font-size: 1.1em;
}
#wiki div.wiki_box em {
  font-style: italic;
}
#wiki div.wiki_box strong em {
  font-weight: bold;
}

#wiki div.wiki_box li {
  list-style: disc inside;
  margin-left: 1em;
}

#wiki div.wiki_box p {
  margin: 1em;
}

#wiki div.wiki_box img {
  max-width: 510px;
}

#wiki h2 {
  font-size: 1.5em;
  line-height: 2em;
}

div.sidebar {
  margin-top: 30px;
}
div.sidebar a {
  display: block;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 0;
}
