.form3 .captcha {
  @extend %flex-wrap;

  margin: 1em 0 0 -1em;

  @include breakpoint($mq-xx-small) {
    flex-wrap: nowrap;
  }

  &.is-invalid:not(.success) {
    @extend %box-radius;

    border: 1px solid $c-error;
    background: mix($c-error, $c-bg-high, 10%);
  }

  .challenge {
    flex: 0 0 250px;
    margin: 0 0 1em 1em;
  }

  .captcha-explanation {
    flex: 1 1 auto;
    overflow: hidden;
    margin: 0 0 1em 1em;
  }

  &.is-invalid .captcha-explanation {
    padding: 1em;
  }

  .captcha-explanation .result {
    display: none;
    margin-top: 1rem;
    font-weight: bold;
  }

  .success {
    color: $c-good;
  }

  .failure {
    color: $c-error;
  }

  &.success .success,
  &.failure .failure {
    display: block;
  }
}
