.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
input.cmn-toggle + label {
  padding: 1px;
  width: 40px;
  height: 24px;
  background-color: $c-border;
  border-radius: 24px;
}
input.cmn-toggle + label::before,
input.cmn-toggle + label::after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle + label::before {
  right: 1px;
  background-color: $c-bad;
  border-radius: 24px;
}
input.cmn-toggle:hover + label::before {
  @include transition(background);
}
input.cmn-toggle + label::after {
  @extend %metal;
  width: 22px;
  border-radius: 100%;
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.3);
}
input.cmn-toggle:hover + label::after {
  @extend %metal-hover;
  @include transition(margin);
}
input.cmn-toggle:checked + label::before {
  background-color: $c-good;
}
input.cmn-toggle:checked + label::after {
  margin-left: 16px;
}
