.cmn-toggle {
  position: absolute;
  margin-left: -99999px;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 1px;
  width: 40px;
  height: 24px;
  border: 1px solid $c-border;
  border-radius: 24px;
}

.cmn-toggle:not(:checked) + label {
  background-color: $c-bad;
}

.cmn-toggle--subtle:not(:checked) + label {
  background-color: $c-font-dimmer;
}

.cmn-toggle:checked + label {
  background-color: $c-good;
}

.cmn-toggle + label::before,
.cmn-toggle + label::after {
  display: block;
  position: absolute;
  content: '';
}

.cmn-toggle + label::before {
  @extend %data-icon;
  right: 1px;
  border-radius: 24px;
  z-index: 1;
}

.cmn-toggle:focus + label {
  @extend %focus-shadow;
}

.cmn-toggle:hover + label {
  @extend %focus-shadow;

  @include transition(background);
}

.cmn-toggle + label::after {
  @extend %metal;

  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-shadow: 0 1px 2.5px rgba(0, 0, 0, 0.3);
  bottom: 0.1px;
  left: 0;
}

.cmn-toggle:hover + label::after {
  @extend %metal-hover;

  @include transition(margin);
}

.cmn-toggle:not(:checked) + label {
  &::before {
    content: 'L';
    color: $c-bad;
    padding-right: 1.05em;
  }
}

.cmn-toggle--subtle:not(:checked) + label {
  &::before {
    color: $c-font-dimmer;
  }
}

.cmn-toggle:checked + label {
  &::after {
    margin-left: 15.5px;
  }

  &::before {
    content: 'E';
    color: $c-good;
    padding-right: 0.1em;
  }
}
