%image-preview-and-upload {
  @extend %flex-center;
  gap: var(---box-padding);
  background: $c-bg-zebra;
  img,
  i {
    flex: 1 1 50%;
    cursor: pointer;
  }
  > div {
    flex: 0 0 230px;
  }
}
