.password-complexity {
  margin-top: -2rem;
  margin-bottom: 3rem;
}
.password-complexity-meter {
  display: flex;
  grid-gap: 0.25rem;
  height: 0.4rem;
  margin-top: 1rem;

  > * {
    background-color: gray;
    width: 25%;
  }
}

.password-reveal {
  @extend %button-none;
  float: right;
  margin-right: 1em;
  margin-top: -2.2em;

  &:focus-visible {
    outline: 2px solid $c-primary;
  }
}
.password-reveal.revealed {
  color: $c-bad;
}
