@use '../abstract/extends';
@use '../abstract/variables';
@use '../theme/gen/theme';

group.radio {
  @extend %box-radius, %flex-wrap;

  border: theme.$border;
  overflow: hidden;

  div {
    flex: 1 1 auto;
    position: relative;
  }

  input {
    position: absolute;
    left: -99999px;
  }

  label {
    @extend %flex-center;

    background: theme.$c-bg-input;
    color: theme.$c-font-clear;
    justify-content: center;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    border-right: theme.$border;
    user-select: none;

    &:hover {
      @extend %metal-hover;
    }
  }

  div:last-child label {
    border-right: 0;
  }

  input:checked + label {
    background: theme.$c-accent;
    color: theme.$c-accent-over;
  }
}
