@import 'link';
@import 'board';
@import 'piece';

#dasher_app {
  @extend %box-radius-left;
  width: 225px;

  .spinner {
    margin: 20px auto;
  }
  .status {
    display: block;
    position: relative;
    padding: 0.8rem;
    border-top: $border;
    signal {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1.7rem;
    }
    .ping,
    .server {
      @extend %roboto;
      display: block;
    }
    strong {
      padding: 0 5px;
    }
  }

  .head {
    display: block;
    padding: 1rem;
    border-bottom: $border;
  }
  .head::before {
    color: $c-dasher;
    opacity: 0.8;
  }
  .head:hover::before {
    opacity: 1;
  }

  .langs {
    form {
      max-height: 400px;
      overflow: auto;
    }
    button {
      display: block;
      padding: 0.7rem 0.7rem 0.7rem 1rem;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      &:hover {
        background: $c-dasher-light;
      }
    }
    .accepted {
      border-left: 4px solid $c-dasher;
    }
    .current {
      background: $c-dasher !important;
      color: $c-dasher-over !important;
      border-left: none;
    }
    .help {
      color: $c-link;
      display: block;
      padding: 0.7rem 0.7rem 0.7rem 1rem;
      &:hover {
        background: $c-link;
        color: $c-link-over;
      }
    }
  }
  .selector {
    flex: 1 1 100%;
    margin: 0.5rem 0;
    a {
      display: block;
      padding: 0.7rem 1rem;
      @include transition(background);
      &:hover {
        background: $c-dasher-light;
      }
      &.active {
        background: $c-dasher !important;
        color: $c-dasher-over !important;
      }
      &::before {
        margin-right: 8px;
        font-size: 19px;
        justify-content: center;
        align-items: center;
        opacity: 0;
        @include transition(opacity);
      }
      &:hover::before {
        opacity: 1;
        color: $c-dasher;
      }
      &.active::before {
        opacity: 1;
        color: $c-dasher-over !important;
      }
    }
    &.large a {
      padding: 1rem 1rem;
    }
  }
  .zen {
    a::before {
      opacity: 0.5;
    }
    &:hover a::before {
      opacity: 1;
    }
  }
  .sound,
  .notation {
    .content {
      display: flex;
      margin: 5px 0 5px 5px;
    }
    .selector a {
      border-radius: $box-radius-size 0 0 $box-radius-size;
    }
    .slider {
      flex: 0 0 $slider-width;
      margin: 1rem 1.3rem 1rem 1rem;
    }
    &.silent .slider {
      opacity: 0.2;
    }
  }

  .background {
    .image p {
      font-size: 0.9em;
      padding: 5px;
    }
    input {
      padding: 5px;
      border: 1px solid #444;
      width: 100%;
      background-color: #3e3e3e;
      color: #fff;
    }
  }

  .board .zoom {
    display: none;
    @include breakpoint($mq-board-resizable) {
      display: block;
    }
    border-top: $border;
    padding: 1.5rem;
  }
  .board .slider {
    margin-top: 1rem;
  }
  .custom-theme {
    p {
      margin: 6px 0 3px 0;
    }
    .board,
    .grid,
    .hands {
      margin-top: 0.5rem;
    }
    .board,
    .grid {
      border-bottom: $border;
      padding-bottom: 1rem;
    }
    .title {
      padding: 3px;
      text-align: center;
    }
    .color-wrap,
    .url-wrap,
    .select-wrap {
      margin: 6px;
    }
    .select-wrap {
      display: inline-flex;
      align-items: center;
      justify-content: space-around;
      width: calc(100% - 12px);
      & > * {
        flex-grow: 1;
      }
    }
    .color-wrap input {
      width: calc(100% - 35px);
    }
    .url-wrap input {
      width: 100%;
    }
    &.loading {
      height: 400px;
      body.hands-background & {
        height: 550px;
      }
      .spinner {
        display: flex;
        justify-content: center;
      }
    }

    .sp-container {
      background-color: $c-bg-box;
      .sp-alpha {
        border-radius: 4px;
      }
      .sp-alpha-handle.highlight {
        background: $c-bg-input;
        outline: 2px solid $c-bad;
        animation: 1.3s flash-glow ease-in-out infinite;
        &::after {
          content: '';
          position: absolute;
          left: -2px;
          top: -20px;
          border: 10px solid $c-bad;
          border-bottom: 0;
          border-left-color: transparent;
          border-right-color: transparent;
          opacity: 0;
          animation:
            0.5s delayedShow forwards,
            1.3s bounce ease-in-out infinite;
          animation-delay: 3s;
        }
      }
      .sp-alpha-handle,
      .sp-slider {
        background: $c-bg-input;
        outline: 1px solid $c-font-clearer;
      }
      .sp-dragger {
        outline: 1px solid #1b1b1b;
      }
    }
    body:not(.hands-background) & .hands {
      display: none;
    }
  }
}

@keyframes flash-glow {
  0% {
    background: $c-bg-input;
    outline: 2px solid $c-bad;
  }
  50% {
    background: $c-bad;
    outline: 2px solid $c-font-clearer;
  }
  100% {
    background: $c-bg-input;
    outline: 2px solid $c-bad;
  }
}

@keyframes bounce {
  0% {
    top: -20px;
  }
  50% {
    top: -15px;
  }
  100% {
    top: -20px;
  }
}

@keyframes delayedShow {
  to {
    opacity: 1;
  }
}
