#dasher_app {
  width: 225px;
  z-index: z('dasher');
  border-radius: $box-radius-size 0 0 $box-radius-size;

  & .spinner {
    margin: 20px auto;
  }
  & .links,
  & .subs {
    padding: 5px 0;
  }
  & .links a,
  & .links button,
  & .subs .sub {
    display: block;
    padding: 0.5rem 0.9rem;
    white-space: nowrap;
    overflow: hidden;
  }
  & .links a:hover,
  & .links button:hover,
  & .subs .sub:hover {
    background: $c-dasher;
    color: $c-dasher-over;
  }
  & .logout button:hover {
    background: $c-error;
  }
  & .links button {
    width: 100%;
    text-align: left;
    border: 0;
    background: none;
  }
  & .subs {
    border-top: $border;
  }
  .sub {
    &::before {
      float: right;
      font-size: 80%;
      margin-top: 0.25rem;
      color: $c-dasher;
    }
    &:hover::before {
      color: $c-dasher-over;
      opacity: 0.9;
    }
  }
  & .status {
    display: block;
    position: relative;
    padding: 0.8rem;
    border-top: $border;
    & signal {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
    }
    & .ping,
    & .server {
      display: block;
      font-family: 'Roboto Mono', 'Roboto';
    }
    & strong {
      padding: 0 5px;
    }
  }

  & .head {
    display: block;
    padding: 1rem 0.9rem;
    border-bottom: $border;
  }
  & .head::before {
    color: $c-dasher;
    opacity: 0.8;
  }
  & .head:hover::before {
    opacity: 1;
  }
  & .slider .ui-slider-handle {
    margin: 0 0 -9px -5.5px;
  }

  & .langs {
    & form {
      max-height: 400px;
      overflow: auto;
    }
    & button {
      display: block;
      padding: 0.4em 0.5em;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      box-sizing: border-box;
      &:hover {
        background: $c-dasher-light;
      }
    }
    & .accepted {
      border-left: 3px solid $c-dasher;
    }
    & .current {
      background: $c-dasher!important;
      color: $c-dasher-over!important;
      border-left: none;
    }
  }
  & .selector {
    flex: 1 1 100%;
    margin: 0.5rem 0;
    & a {
      display: block;
      padding: 0.4rem 0.9rem;
      &:hover {
        background: $c-dasher-light;
      }
      &.active {
        background: $c-dasher!important;
        color: $c-dasher-over!important;
      }
      &::before {
        margin-right: 8px;
        font-size: 19px;
        justify-content: center;
        align-items: center;
        opacity: 0;
      }
      &:hover::before {
        opacity: 1;
        color: $c-dasher;
      }
      &.active::before {
        opacity: 1;
        color: $c-dasher-over!important;
      }
    }
    &.large a {
      padding: 0.5rem 0.9rem;
    }
  }
  & .zen a::before {
    font-size: 18px;
    margin-right: 3px;
    opacity: 0.5;
  }
  & .zen:hover a::before{
    opacity: 1;
  }
  & .sound {
    & .content {
      display: flex;
      flex-flow: row;
      margin: 5px 0 5px 5px;
    }
    & .selector a {
      border-radius: $box-radius-size 0 0 $box-radius-size;
    }
    & .slider {
      flex: 0 0 8px;
      margin: 1rem;
    }
    &.silent .slider {
      opacity: 0.2;
    }
  }

  & .background {
    & .image p {
      font-size: 0.9em;
      padding: 5px;
    }
    & input {
      padding: 5px;
      border: 1px solid #444;
      box-sizing: border-box;
      width: 100%;
      background-color: #3e3e3e;
      color: #fff;
    }
  }

  & .board .zoom {
    margin: 0.5rem 0px;
    border-top: $border;
    padding: 1rem;
  }
  & .board .slider {
    margin-top: 1rem;
  }

  & .theme {
    & .list {
      margin: 5px 0;
      display: flex;
      flex-flow: row wrap;
    }
    & .list a {
      flex: 0 0 50%;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .list span {
      display: block;
      width: 64px;
      height: 32px;
      box-sizing: border-box;
    }
    &.d3 .list span {
      width: 66px;
      height: 30px;
      transition: transform 0.3s;
    }
    & .list a:hover {
      filter: brightness(1.1);
    }
    & .list a:hover span {
      transform: scale(1.05);
    }
    & .list a.active {
      background-color: $c-font;
    }
  }

  & .piece {
    piece {
      position: absolute;
      width: 12.5%;
      height: 12.5%;
      top: 0;
      left: 0;
      background-size: cover;
      z-index: 2; /* no less than 2 */
      pointer-events: none;
    }
    & .list {
      display: flex;
      flex-flow: row wrap;
      background: url(../images/board/darksquares.jpg);
      box-shadow: inset 0 7px 20px 3px #777;
    }
    & .no-square {
      width: 75px;
      height: 75px;
      position: relative;
    }
    & .no-square:hover {
      background: rgba(250, 250, 250, 0.15);
    }
    & .no-square.active {
      background: fade-out($c-dasher, 0.3);
    }
    & piece {
      width: 100%;
      height: 100%;
    }
    &.d3 piece {
      left: 0;
      top: 0;
      background-size: cover;
      background-position: 0 67%;
    }
  }

  & .theme.d2 {
    .blue {
      background-image: url(../images/board/svg/blue.svg);
      background-size: 256px;
    }
    .blue2 {
      background-image: url(../images/board/blue2.thumbnail.jpg);
    }
    .wood2 {
      background-image: url(../images/board/wood2.thumbnail.jpg);
    }
    .wood3 {
      background-image: url(../images/board/wood3.thumbnail.jpg);
    }
    .blue3 {
      background-image: url(../images/board/blue3.thumbnail.jpg);
    }
    .marble {
      background-image: url(../images/board/marble.thumbnail.jpg);
    }
    .brown {
      background-image: url(../images/board/svg/brown.svg);
      background-size: 256px;
    }
    .green {
      background-image: url(../images/board/svg/green.svg);
      background-size: 256px;
    }
    .olive {
      background-image: url(../images/board/olive.thumbnail.jpg);
    }
    .purple {
      background-image: url(../images/board/svg/purple.svg);
      background-size: 256px;
    }
    .grey {
      background-image: url(../images/board/grey.thumbnail.jpg);
    }
    .wood {
      background-image: url(../images/board/wood.thumbnail.jpg);
    }
    .canvas {
      background-image: url(../images/board/canvas2.thumbnail.jpg);
    }
    .leather {
      background-image: url(../images/board/leather.thumbnail.jpg);
    }
    .metal {
      background-image: url(../images/board/metal.thumbnail.jpg);
    }
    .maple {
      background-image: url(../images/board/maple.thumbnail.jpg);
    }
  }
  & .theme.d3 {
    & .Black-White-Aluminium {
      background-image: url(../images/staunton/board/Black-White-Aluminium.thumbnail.png);
    }
    & .Brushed-Aluminium {
      background-image: url(../images/staunton/board/Brushed-Aluminium.thumbnail.png);
    }
    & .China-Blue {
      background-image: url(../images/staunton/board/China-Blue.thumbnail.png);
    }
    & .China-Green {
      background-image: url(../images/staunton/board/China-Green.thumbnail.png);
    }
    & .China-Grey {
      background-image: url(../images/staunton/board/China-Grey.thumbnail.png);
    }
    & .China-Scarlet {
      background-image: url(../images/staunton/board/China-Scarlet.thumbnail.png);
    }
    & .China-Yellow {
      background-image: url(../images/staunton/board/China-Yellow.thumbnail.png);
    }
    & .Classic-Blue {
      background-image: url(../images/staunton/board/Classic-Blue.thumbnail.png);
    }
    & .Transparent-Glass {
      background-image: url(../images/staunton/board/Glass.thumbnail.png);
    }
    & .Gold-Silver {
      background-image: url(../images/staunton/board/Gold-Silver.thumbnail.png);
    }
    & .Green-Glass {
      background-image: url(../images/staunton/board/Green-Glass.thumbnail.png);
    }
    & .Light-Wood {
      background-image: url(../images/staunton/board/Light-Wood.thumbnail.png);
    }
    & .Power-Coated {
      background-image: url(../images/staunton/board/Power-Coated.thumbnail.png);
    }
    & .Purple-Black {
      background-image: url(../images/staunton/board/Purple-Black.thumbnail.png);
    }
    & .Rosewood {
      background-image: url(../images/staunton/board/Rosewood.thumbnail.png);
    }
    & .Wood-Glass {
      background-image: url(../images/staunton/board/Wood-Glass.thumbnail.png);
    }
    & .Wax {
      background-image: url(../images/staunton/board/Wax.thumbnail.png);
    }
    & .Jade {
      background-image: url(../images/staunton/board/Jade.thumbnail.png);
    }
    & .Marble {
      background-image: url(../images/board/3d/marble.thumbnail.png);
    }
    & .Woodi {
      background-image: url(../images/board/3d/woodi.thumbnail.png);
    }
  }
}
