#dasher_app {
  .links,
  .subs {
    padding: 5px 0;
  }

  .links a,
  .links button,
  .subs .sub {
    @extend %nowrap-hidden;
    @extend %button-none;

    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: start;
  }

  .links a::before,
  .links button::before {
    position: relative;
    bottom: 0.05em;
  }

  .links .line {
    width: auto;
    &::before {
      display: inline-block;
      margin-inline: 0 0.4em;
      @include if-rtl {
        transform: scaleX(-1);
      }
    }
  }

  .links a:hover,
  .links a:hover::before,
  .links a:hover .line::before,
  .links button:hover,
  .subs .sub:hover {
    background: $c-dasher;
    color: $c-over !important;
    opacity: 1;
  }

  .logout button:hover {
    background: $c-error;
  }

  .links button {
    width: 100%;
    text-align: start;
    border: 0;
    background: none;
  }

  .subs:not(:first-child) {
    border-top: $border;
  }

  .sub {
    &::before {
      float: inline-end;
      font-size: 80%;
      margin-top: 0.25rem;
      color: $c-dasher;
    }

    &:hover::before {
      color: $c-over;
      opacity: 0.9;
    }
  }
}
