@(video: lila.video.Video, control: lila.video.UserControl)(implicit ctx: Context)

<a class="card paginated_element" href="@routes.Video.show(video.id)?@control.filter.queryString">
  <span class="img" style="background-image: url(@video.thumbnail)"></span>
  <span class="info">
    <span class="title">@video.title</span>
  </span>
  <span class="reveal">
    <span class="full-title">@video.title</span>
    <span class="author">@video.author</span>
    <span class="tags">
      @video.tags.map { tag =>
      <span data-icon="o">@tag.capitalize</span>
      }
    </span>
  </span>
</a>
