@(vv: lila.video.VideoView, control: lila.video.UserControl)(implicit ctx: Context)

<a class="card paginated" href="@routes.Video.show(vv.video.id)?@control.queryStringUnlessBot">
  @if(vv.view) {
  <span class="view">watched</span>
  }
  <span class="duration">@vv.video.durationString</span>
  <span class="img" style="background-image: url(@vv.video.thumbnail)"></span>
  <span class="info">
    <span class="title">@vv.video.title</span>
  </span>
  <span class="reveal">
    <span class="full-title">@vv.video.title</span>
    <span class="author">@vv.video.author</span>
    <span class="target">@vv.video.targets.map(lila.video.Target.name).mkString(", ")</span>
    <span class="tags">
      @vv.video.tags.map { tag =>
      <span data-icon="o">@tag.capitalize</span>
      }
    </span>
  </span>
</a>
