@(videos: List[lila.video.Video], control: lila.video.UserControl)(implicit ctx: Context)

@layout(
title = "Free Chess Videos",
control = control) {

<div class="content_box_top">
  <h1 data-icon="@openingBrace" class="is4 text lichess_title">
    @if(control.filter.tags.nonEmpty) {
    @pluralize("video", videos.size) found
    } else {
    Video library
    }
  </h1>
</div>
<div class="list">
  @videos.map { video =>
  @card(video, control)
  }
  @if(videos.size < 4) {
  <div class="not_much nb_@videos.size">
    @if(videos.isEmpty) {
    No videos for these tags!
    } else {
    That's all we got for these tags!
    }
    <br />
    <br />
    <a href="@routes.Video.index" class="button">Clear search</a>
  </div>
  }
</div>
}
