@(videos: Paginator[lila.video.VideoView], count: Int, control: lila.video.UserControl)(implicit ctx: Context)

@tagString = @{ s"${if(control.filter.tags.nonEmpty) control.filter.tags.mkString(" + ") + " • " else ""}" }

@layout(
title = s"${tagString}Free Chess Videos",
openGraph = lila.app.ui.OpenGraph(
title = s"${tagString}free, carefully curated chess videos",
description = s"${videos.nbResults} curated chess videos${if(tagString.nonEmpty) " matching the tags " + tagString else " • "}free for all",
url = s"$netBaseUrl${routes.Video.index}?${control.queryString}").some,
control = control) {

<div class="content_box_top">
  @searchForm(control.query)
  <h1 data-icon="" class="is4 text lichess_title">
    @if(control.filter.tags.nonEmpty) {
    @pluralize("video", videos.nbResults) found
    } else {
    Free Chess video library
    }
  </h1>
</div>
@if(control.filter.tags.isEmpty) {
<p class="explain">
  All videos are free for everyone.<br />
  Click one or many tags on the left to filter.<br />
  We have carefully selected <strong>@count</strong> videos so far!
</p>
}
<div class="list infinitescroll">
  @videos.currentPageResults.map { video =>
  @card(video, control)
  }
  @if(videos.currentPageResults.size < 4) {
  <div class="not_much nb_@videos.nbResults">
    @if(videos.currentPageResults.isEmpty) {
    No videos for these tags:
    } else {
    That's all we got for these tags:
    }
    @control.filter.tags.map { tag =>
    <a class="tag" data-icon="o" href="@routes.Video.index?tags=@tag">@tag.capitalize</a>
    }
    <br />
    <br />
    <a href="@routes.Video.index" class="button">Clear search</a>
  </div>
  }
  @videos.nextPage.map { next =>
  <div class="pager none">
    <a rel="next" href="@routes.Video.index?@control.queryString&page=@next">Next</a>
  </div>
  }
</div>
}
