@(videos: Paginator[lila.video.VideoView], count: Int, control: lila.video.UserControl)(implicit ctx: Context)

@tagString = @{ s"${if(control.filter.tags.nonEmpty) control.filter.tags.mkString(" + ") + " • " else ""}" }

@layout(
title = s"${tagString}Free Chess Videos",
openGraph = lila.app.ui.OpenGraph(
title = s"${tagString}free, carefully curated chess videos",
description = s"${videos.nbResults} curated chess videos${if(tagString.nonEmpty) " matching the tags " + tagString else " • "}free for all",
url = s"$netBaseUrl${routes.Video.index}?${control.queryString}").some,
control = control) {

<div class="content_box_top">
  @searchForm(control.query)
  <h1 data-icon="@openingBrace" class="is4 text lichess_title">
    @if(control.filter.tags.nonEmpty) {
    @pluralize("video", videos.nbResults) found
    } else {
    @trans.freeChessVideoLibrary()
    }
  </h1>
</div>
@if(control.filter.tags.isEmpty) {
<p class="explain">
  @trans.allVideosAreFreeToEveryone()<br />
  @trans.clickOneOrManyTagsOnTheLeftToFilter()<br />
  We have carefully selected <strong>@count</strong> videos so far!
</p>
}
<div class="list infinitescroll">
  @videos.currentPageResults.map { video =>
  @card(video, control)
  }
  @if(videos.currentPageResults.size < 4) {
  <div class="not_much nb_@videos.nbResults">
    @if(videos.currentPageResults.isEmpty) {
    @trans.noVideoForTheseTags()
    } else {
    @trans.thatIsAllWeGotForTheseTags()
    }
    @control.filter.tags.map { tag =>
    <a class="tag" data-icon="o" href="@routes.Video.index?tags=@tag">@tag.capitalize</a>
    }
    <br />
    <br />
    <a href="@routes.Video.index" class="button">@trans.clearSearch()</a>
  </div>
  }
  @videos.nextPage.map { next =>
  <div class="pager none">
    <a href="@routes.Video.index?@control.queryString&page=@next">@trans.next()</a>
  </div>
  }
</div>
}
