@(videos: Paginator[lila.video.VideoView], control: lila.video.UserControl)(implicit ctx: Context)

@layout(
title = s"${control.query.getOrElse("Search")} • Free Chess Videos",
control = control) {

<div class="content_box_top">
  @searchForm(control.query)
  <h1 data-icon="" class="is4 text lichess_title">
    @pluralize("video", videos.nbResults) found
  </h1>
</div>
<div class="list infinitescroll">
  @videos.currentPageResults.map { video =>
  @card(video, control)
  }
  @if(videos.currentPageResults.size < 4) {
  <div class="not_much nb_@videos.nbResults">
    @if(videos.currentPageResults.isEmpty) {
    No videos for this search:
    } else {
    That's all we got for this search:
    }
    "@control.query"
    <br />
    <br />
    <a href="@routes.Video.index" class="button">Clear search</a>
  </div>
  }
  @videos.nextPage.map { next =>
  <div class="pager none">
    <a rel="next" href="@routes.Video.index?@control.queryString&page=@next">Next</a>
  </div>
  }
</div>
}
