@(video: lila.video.Video, similar: Seq[lila.video.VideoView], control: lila.video.UserControl)(implicit ctx: Context)

@layout(
title = s"${video.title} • Free Chess Videos",
control = control,
openGraph = lila.app.ui.OpenGraph(
title = s"${video.title} by ${video.author}",
description = shorten((~video.metadata.description).replace("\n", ""), 152).body,
url = s"$netBaseUrl${routes.Video.show(video.id)}",
`type` = "video",
more = video.tags.map("video:tag" -> _)).some) {
<div class="show">
  <div class="content_box_top">
    @searchForm(control.query)
    <a class="is4 text lichess_title" data-icon="i" href="@routes.Video.index?@control.queryString">Video library</a>
  </div>
  <iframe id="ytplayer" type="text/html" width="792" height="482"
    src="//www.youtube.com/embed/@video.id?autoplay=1&origin=http://lichess.org&start=@video.startTime"
    frameborder="0" allowfullscreen></iframe>
  <h1 class="title">@video.title</h1>
  <div class="meta">
    <div class="target">@video.targets.map(lila.video.Target.name).mkString(", ")</div>
    <a class="author" href="@routes.Video.author(video.author)?@control.queryString">@video.author</a>
    @video.tags.map { tag =>
    <a class="tag" data-icon="o" href="@routes.Video.index?tags=@tag.replace(" ", "+")">@tag.capitalize</a>
    }
    @video.metadata.description.map { desc =>
    <p class="description">@autoLink(desc)</p>
    }
  </div>
  <div class="similar list">
    @similar.map { vv =>
    @card(vv, control)
    }
  </div>
</div>
}
