@(ts: List[lila.video.TagNb], control: lila.video.UserControl)(implicit ctx: Context)

@layout(
title = s"Tags • Free Chess Videos",
control = control) {
<div class="box__top">
  <h1 class="lichess_title">
    <a class="text" data-icon="i" href="@routes.Video.index?@control.queryString"></a>
    All @ts.size video tags
  </h1>
</div>
<div class="tag-list box__pad">
  @ts.sortBy(_.tag).map { t =>
  <a class="tag" href="@routes.Video.index?tags=@t.tag">
    @t.tag.capitalize
    <em>@t.nb</em>
  </a>
  }
</div>
}.toHtml
