body {
  background: none;
  overflow: hidden;
}

.embedded {
  display: block;
  background: $c-bg-page;
  padding: 0.3em;
  color: $c-font !important;

  cg-board {
    box-shadow: none;
  }

  .text {
    display: block;
    text-align: center;
    margin: 0.3em 0;
  }
}
