.ceval {
  @extend %metal-bg;

  display: flex;
  align-items: stretch;
  padding: 4px 0;
  flex: 0 0 48px;
  height: 48px;

  &.enabled .show-threat,
  &.enabled .config-engine {
    visibility: visible;
  }

  .switch {
    @extend %flex-center;

    flex: 0 0 40px;
    margin-#{$end-direction}: 8px;
  }

  .pearl {
    flex: 0 0 85px;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .pearl-eval {
    line-height: 0.75em;
    font-size: 0.5em;
    font-weight: normal;
  }

  .pause {
    color: $c-primary;
    margin-#{$start-direction}: 4px;
  }

  .pause::before {
    vertical-align: -2px;
  }
  
  .is-red::before {
    vertical-align: -3px;
  }

  help {
    @extend %nowrap-hidden;

    flex: 1 1 auto;
    font-size: 12px;
    line-height: 16px;
    margin-top: 3px;
    color: $c-font-dim;
  }

  .engine-choice {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    flex: 1 1 auto;
    cursor: pointer;
    border-radius: 0.5em;
    min-width: 0;
  }

  .engine-choice:hover {
    background: #8884;
  }

  .bar {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0px;
  }

  @keyframes bar-anim {
    from {
      background-position: 0 0;
    }

    to {
      background-position: 100000px 0;
    }
  }

  .bar span {
    display: block;
    height: 3px;
    width: 0;
    background: $c-good;
    transition: width 1s;

    &.threat {
      background: $c-bad;
    }
  }

  &.computing .bar span {
    background-image: img-url('bar-highlight.png');
    animation: bar-anim 1000s linear infinite;
  }

  .show-threat {
    flex: 0 0 auto;
    color: $c-font-dim;
    font-size: 0.9em;
    padding: 0 0.5em;
    overflow: hidden;
    visibility: hidden;
    display: flex;
    align-items: center;

    &:hover:not(.hidden),
    &.active {
      color: $c-red;
    }

    &.hidden {
      opacity: 0.3;
      cursor: default;
    }
  }

  .config-engine {
    flex: 0 0 2.5em;
    margin: -4px 0;
    visibility: hidden;
  }

  .engine-config {
    position: absolute;
    background: $c-bg-box;
    top: 48px;
    left: 0;
    right: 0;
    z-index: 1;
    max-height: calc(100% - 48px);

    & > :first-child {
      margin-top: 0 !important;
    }
  }

  .config-study-message {
    text-align: center;
  }
}
