.pv_box {
  position: relative;
  background: $c-bg-box;
  font-size: 13px;

  .pv {
    @extend %nowrap-ellipsis;

    height: 2em;
    line-height: 2em;
    border-top: $border;

    &[data-uci]:hover {
      background: mix($c-secondary, $c-bg-box, 20%);
      cursor: pointer;
    }

    strong {
      display: inline-block;
      width: 34px;
      text-align: center;
    }

    span {
      @extend %san;

      margin-left: 4px;
    }

    &[data-uci] .pv-san:hover {
      color: $c-primary;
    }
  }

  .pv-board {
    @extend %popup-shadow;
    position: absolute;
    width: 80%;
    left: 34px;
    max-width: 240px;
    z-index: 1;

    .pv-board-square {
      @extend %square;

      .cg-wrap {
        @extend %abs-100;
      }
    }
  }
}
