#ceval-settings-anchor {
  position: relative;
}

#ceval-settings {
  @extend %flex-column, %dropdown-shadow, %box-radius-bottom;
  position: absolute;
  border-top: 2px solid $c-primary;
  z-index: z(mz-menu);
  width: 100%;
  background: $c-bg-high;
  gap: 1.5em;
  padding: 2em 1.5em;

  @media (max-width: $mq-width-small) {
    gap: 1em;
    br {
      display: none;
    }
  }

  .setting {
    @extend %flex-center-nowrap;

    * {
      white-space: nowrap;
    }

    label {
      flex: 4 1 auto;
      cursor: pointer;
    }

    .switch + label {
      margin-#{$start-direction}: 1ch;
    }

    input[type='range'] {
      cursor: pointer;
      flex: 1 4 auto;
      padding: 0;
      height: 1.6em;
      width: 100%;
      margin: 0 1ch;
    }

    select {
      flex: 1 4 auto;
      min-width: 0;
      margin-#{$start-direction}: 1ch;
      padding: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .select-engine {
      padding: 0.5em;
    }

    .range_value {
      direction: ltr;
      flex: 0 0 15%;
      text-align: left;
    }

    button.delete {
      @extend %button-none;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: $c-bad;
      color: $c-bg-page;
      margin-#{$start-direction}: 1.5ch;

      &:focus {
        outline: 2px solid $c-primary;
      }

      &:hover {
        color: #bbb;
        outline: 2px solid #bbb;
      }
    }
  }
}
