.ublog-post__markup {
  @include rendered-markdown(2em, 450vh);
  @include rendered-markdown--code;
  @include rendered-markdown--quote;
  @include rendered-markdown--img;
  @include rendered-markdown--embed;

  font-size: 1.2em;
  cursor: initial;
  line-height: 1.8;
}
