.swiss-home {
  @extend %flex-column;

  gap: $block-gap;

  &__infos {
    padding-top: $box-padding;

    .main-point,
    .faq {
      @extend %flex-center-nowrap;

      margin-bottom: 4em;

      p {
        flex: 1 1 100%;
        margin: 0;
      }

      .svg-icon {
        flex: 0 0 2em;
        margin-inline-end: 2rem;
        width: 3em;
        height: 3em;
        color: $c-brag;
      }
    }

    #faq {
      display: block;

      .faq {
        @extend %flex-center-nowrap;

        gap: 3em;

        &::before {
          content: '?';
          font-size: 3em;
          font-weight: bold;
          color: $c-brag;
        }

        strong {
          display: block;
          margin-bottom: 0.4em;
        }
      }
    }
  }

  .slist {
    margin-bottom: 3em;

    tbody th {
      @extend %roboto;
    }
  }

  .swisses {
    time {
      opacity: 1;
      font-size: 1em;
    }

    .header {
      padding: 0;
    }

    .team {
      color: $c-brag;
    }

    a {
      padding: 1em;
      display: block;
      color: $c-font;

      &:hover,
      &:hover .team {
        color: $c-link;
      }
    }

    .name {
      font-size: 1.3em;
      display: block;
    }

    .rounds {
      display: block;
    }

    td:last-child {
      text-align: right;
    }

    .players {
      display: flex;
      align-items: center;
      justify-content: end;
      font-weight: bold;
      margin-top: 0.2em;
      color: $c-brag;
    }

    .icon {
      width: 10%;

      .svg-icon {
        width: 2.5em;
        color: $c-brag;
      }
    }
  }
}
