.swiss__player-info {
  @extend %box-neat-force;

  background: $c-bg-box;
  position: relative;
  align-self: flex-start;

  .spinner {
    margin: 5em auto;
  }

  .close {
    position: absolute;
    top: 4px;
    right: 5px;
    opacity: 0.6;

    @include transition;

    color: $c-red;

    &:hover {
      opacity: 1;
    }
  }

  .stats {
    @extend %flex-column;

    justify-content: center;

    h2 {
      @extend %metal;

      font-size: 1.4em;
      padding: 0.6rem 1rem;
      border-bottom: $border;
    }

    table {
      margin: 1em auto;
    }

    td {
      font-weight: bold;
      padding-left: 10px;
      text-align: right;
      line-height: 1.8em;

      &:last-child {
        @extend %roboto;
      }
    }
  }

  .sublist {
    width: 100%;

    tr {
      cursor: pointer;

      @include transition(background-color);

      &:nth-child(odd) {
        background: $c-bg-zebra;
      }

      &:hover {
        background: mix($c-link, $c-bg-box, 10%);
      }
    }

    th,
    td {
      padding: 0.3em;
    }

    th {
      @extend %roboto;

      padding-left: 7px;
    }
  }

  .pairings {
    width: 100%;

    tr {
      cursor: pointer;

      @include transition(background-color);

      &:nth-child(odd) {
        background: $c-bg-zebra;
      }

      &:hover {
        background: mix($c-link, $c-bg-box, 10%);
      }
    }

    th,
    td {
      padding: 0.3em;
    }

    th {
      border-left: 3px solid transparent;

      @include transition;
    }

    tr:hover th {
      border-color: $c-font-dimmer;
    }

    tr.win:hover th {
      border-color: $c-good;
    }

    tr.loss:hover th {
      border-color: $c-bad;
    }

    td:nth-child(2) {
      @extend %nowrap-ellipsis;

      max-width: 200px;
    }

    td:last-child {
      font-weight: bold;
      opacity: 0.8;
    }

    tr.win td:last-child {
      color: $c-good;
      opacity: 1;
    }

    tr.loss td:last-child {
      color: $c-bad;
      opacity: 1;
    }

    .outcome {
      font-style: italic;
      color: $c-font-dimmer;
      text-align: center;
      text-transform: capitalize;
    }
  }

  .color-icon {
    opacity: 0.6;
  }
}
