.swiss__podium {
  > div {
    @extend %ellipsis;

    display: inline-block;
    text-align: center;
  }

  .first {
    width: 44%;
    font-size: 1.6em;
  }

  .second {
    font-size: 1.3em;
    width: 31%;
  }

  .third {
    font-size: 1.2em;
    width: 25%;
  }

  /* ratios:
  $first-ratio: 1.3;
  $trophy-ratio: 1.1056;
   */
  .first .trophy {
    height: 150px;
    width: 195px;
    background: img-url("icons/trophy-1.svg") no-repeat;
    background-size: cover;
  }

  .second .trophy {
    height: 85px;
    width: calc(1.1056 * 85px);
    background: img-url("icons/trophy-2.min.svg") no-repeat;
  }

  .third .trophy {
    height: 65px;
    width: calc(1.1056 * 65px);
    background: img-url("icons/trophy-3.min.svg") no-repeat;
  }

  .trophy {
    margin: 0 auto 8px auto;
    background-size: contain !important;
  }

  @include breakpoint($mq-not-xx-small) {
    .trophy {
      display: none;
    }
  }


  .user-link {
    font-weight: bold;
    letter-spacing: -1px;
  }

  .stats {
    margin: .5em auto 0 auto;
    font-size: .7em;
  }

  .stats th {
    letter-spacing: -1px;
  }

  .stats td {
    font-weight: bold;
    padding-left: 5px;
    text-align: right;
  }

  .third .stats {
    font-size: .8em;
  }
}

.swiss .big_top {
  position: relative;
  padding-bottom: 20px;

  #confetti {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 1;
    transition: opacity 25s;
  }

  #confetti.faded {
    opacity: 0;
  }
}
