@mixin mq-at-least-col2 {
  @media (min-width: at-least($small)) {
    @content;
  }
}

@import 'layout';
@import 'side';
@import 'boards';
@import 'app-header';
@import 'app-notice';
@import 'app-control';
@import 'app-standing';
@import 'stats';
@import 'player-info';
@import 'round-pairings';

.swiss {
  .pull-quote {
    margin-top: 30px;
    width: 300px;
  }

  &__main-created {
    padding-bottom: 2em;

    /* as quote margin */
  }
  &__main .box {
    overflow: hidden;
  }
}
