$mq-col1: $mq-col1-uniboard;
$mq-col2: $mq-small;
$mq-col3: $mq-col3-uniboard;

@import 'layout';
@import 'side';
@import 'boards';
@import 'app-header';
@import 'app-notice';
@import 'app-control';
@import 'app-standing';
@import 'stats';
@import 'player-info';
@import 'round-pairings';

.swiss {
  .pull-quote {
    margin-top: 30px;
    width: 300px;
  }

  &__main-created {
    padding-bottom: 2em;

    /* as quote margin */
  }
}
