.swiss__side {
  @extend %flex-column;

  .mchat {
    flex: 1 1 7em;
    margin-top: $block-gap;

    @include breakpoint($mq-col2) {
      min-height: inherit;
    }
  }

  .tour__prize {
    @extend %box-radius;

    padding: 1em 2vmin;
    background: $c-bg-zebra;
    margin-bottom: 1em;
    font-size: 0.9em;
  }
}

.swiss__meta {
  @extend %box-neat-force;

  background: $c-bg-box;
  padding: #{$block-gap * 0.6} $block-gap;

  section {
    margin-bottom: $block-gap;

    &[data-icon] {
      @extend %flex-center-nowrap;
    }

    &::before {
      font-size: 3rem;
      margin-right: 4%;
    }

    p {
      margin: 0;
    }

    .setup {
      @extend %nowrap-hidden;
    }

    time {
      opacity: 1;
    }

    &.conditions {
      &::before {
        opacity: 0.7;
      }

      &.accepted,
      .accepted {
        color: $c-good;
      }

      &.refused,
      .refused {
        color: $c-bad;
      }

      .condition:first-child,
      .condition + .condition {
        &.accepted::after {
          content: '\a0\2713';
        }

        &.refused::after {
          content: '\a0\2718';
        }
      }
    }
  }

  .description {
    @extend %break-word;

    max-height: 20vh;
    overflow-y: auto;
  }
}

.chat__members {
  overflow: visible;

  /* fixes invisible spectators on firefox, col2 */
  @include breakpoint($mq-col1) {
    margin: 0 $block-gap;
  }
}
