.swiss__stats {
  @extend %flex-column, %box-neat;

  background: $c-bg-box;
  padding: 1.7em 0;
  align-self: flex-start;

  h2 {
    font-size: 1.5em;
    margin-bottom: 2rem;
    text-align: center;
  }

  table {
    margin: auto;
  }

  td {
    font-weight: bold;
    padding-left: 1em;
    text-align: right;
    line-height: 2em;
  }

  &__links {
    margin: 2em auto 0 auto;
    a {
      display: block;
      margin: 0.5em 0;
    }
  }
}
