.puzzle__feedback.after {
  .half {
    flex: 1 1 50%;
  }

  .half-top {
    @extend %flex-center-nowrap;

    padding: 1em;
  }

  .complete {
    @extend %flex-center;
    flex: 1 0;
    font-size: 1.3em;
    border: none;
    white-space: nowrap;
  }

  .complete.win {
    align-items: flex-start;
  }

  .continue {
    @extend %flex-center-nowrap;

    justify-content: center;
    font-size: 1.3em;
    background: $c-primary;
    color: $c-primary-over;
    text-transform: uppercase;
    padding: 2em;
    order: -1;

    @include breakpoint($mq-landscape) {
      order: 0;
    }
  }

  .continue:hover {
    background: lighten($c-primary, 10%);
  }

  .continue i::before {
    font-size: 2.5em;
    margin-right: 10px;
  }
}
