.puzzle__feedback {
  flex: 1 1 0;
  border: 1px solid $border;
  border-top: 0;
  background: $c-bg-high;
  @extend %flex-column;
  justify-content: center;
  & .player {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  & .no-square {
    flex: 0 0 64px;
    height: 64px;
    margin-right: 10px;
  }
  .is3d & div.no-square {
    height: 82px;
  }
  & piece {
    position: inherit;
    display: block;
    width: 100%;
    height: 100%;
  }
  & .icon {
    display: block;
    width: 64px;
    height: 64px;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
  }
  &.good .icon,
  &.win .icon {
    color: $c-good;
  }
  &.fail .icon {
    color: $c-bad;
  }
  & .instruction > * {
    display: block;
  }
  & .instruction strong {
    font-size: 1.5em;
  }
  @keyframes reveal {
    0% { opacity: 0; }
    100% { opacity: 0.8; }
  }
  & .view_solution {
    margin-top: 5px;
    margin-bottom: -5px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
  }
  & .view_solution.show {
    visibility: visible;
    opacity: 0.8;
    transition: opacity 0.13s;
    animation: reveal 1.5s;
  }
  & .view_solution:hover {
    opacity: 1;
  }

  &.after .half {
    flex: 1 1 50%;
  }

  &.after .half.top {
    display: flex;
    flex-flow: row nowrap;
  }

  &.after .complete {
    flex: 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    border: none;
  }
  &.after .complete.win {
    align-items: flex-start;
  }
  &.after .vote {
    display: flex;
    flex-flow: column;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
  }
  &.after .vote a {
    cursor: default;
    cursor: pointer;
    opacity: 0.7;
  }
  &.after .vote a::before {
    font-size: 26px;
    line-height: 22px;
  }
  &.after .vote a:hover,
  &.after .vote a.active {
    opacity: 1;
    color: $c-accent;
  }
  &.after .vote span.count {
    font-size: 15px;
    line-height: 1;
  }

  &.after .continue {
    @extend %flex-center;
    justify-content: center;
    font-size: 1.3em;
    background: $c-primary;
    color: $c-primary-over;
    text-transform: uppercase;
    padding: 0 10px;
  }
  &.after .continue:hover {
    background: lighten($c-primary, 10%);
  }
  &.after .continue i::before {
    font-size: 2.5em;
    margin-right: 10px;
  }
  &.call {
    flex: 1.9 1 0;
  }
  & .vote_call {
    font-size: 1.1em;
    text-align: right;
    background: $c-good;
    color: #fff;
    padding: 8px 10px;
  }
}
