.puzzle-history {
  &__session {
    margin-bottom: 5em;

    &__title {
      @extend %flex-between;

      align-items: flex-end;
      margin-bottom: 1rem;

      time {
        font-size: 1.5rem;
        margin-inline-end: 1ch;
      }
    }

    &__rounds {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      align-content: start;
    }
  }

  &__round {
    padding: 5px;
    outline-offset: -2px;

    &__meta {
      @extend %flex-between;

      font-size: 0.9em;
      margin: 2px 2px 0 2px;
    }

    &__id {
      visibility: hidden;
    }

    cg-container {
      outline: 3px solid transparent;
      border-radius: $miniboard-radius-size;
    }

    &.good cg-container {
      outline-color: $c-good;
    }

    &.bad cg-container {
      outline-color: $c-bad;
    }

    &:hover .puzzle-history__round__id {
      font-family: monospace;
      color: $c-font;
      visibility: visible;
    }
  }

  good,
  bad {
    @extend %flex-center, %box-radius-bottom;

    text-transform: uppercase;

    &::before {
      @extend %data-icon;

      margin-inline: 0 0.2em;
    }
  }

  good {
    color: $c-good;

    &::before {
      content: $licon-Checkmark;
    }
  }

  bad {
    color: $c-bad;

    &::before {
      content: $licon-X;
    }
  }
}
