.puzzle__history {
  @extend %box-radius-force;

  height: $puzzle-history-height;
  display: flex;
  justify-content: flex-end;
  background: $c-shade;

  > * {
    @extend %flex-center;

    justify-content: center;
    color: #fff;
    flex: 0 0 12.5%;

    @include breakpoint($mq-small $mq-short) {
      flex: 0 0 10%;
    }


    @include breakpoint($mq-medium $mq-short) {
      flex: 0 0 6.6667%;
    }
  }

  a {
    @include transition(background);

    &:hover {
      color: #fff;
      opacity: 1;
    }

    &.win {
      background: mix($c-good, $c-shade, 60%);

      &:hover {
        background: $c-good;
      }
    }

    &.loss {
      background: mix($c-bad, $c-shade, 57%);

      &:hover {
        background: $c-bad;
      }
    }

    &.current {
      background: $c-brag;
    }
  }
}
