#main-wrap {
  --main-max-width: calc(100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls});

  @include breakpoint($mq-col2) {
    --main-max-width: auto;
  }
}

.puzzle {
  grid-area: main;
  display: grid;

  &__side {
    grid-area: side;
  }

  &__board {
    grid-area: board;
  }

  &__tools {
    grid-area: tools;
  }

  &__controls {
    grid-area: controls;
  }

  &__history {
    grid-area: history;
  }

  .eval-gauge {
    grid-area: gauge;
  }

  grid-template-areas: 'board' 'controls' 'tools' 'history' 'side';
  grid-row-gap: $block-gap;

  &__moves {
    display: none;
  }

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-width var(--gauge-gap) $col2-uniboard-table;
    grid-template-rows: fit-content(0);
    grid-template-areas: 'board   gauge tools' 'history .     controls' 'side    side  side';

    &__moves {
      display: block;
    }
  }


  @include breakpoint($mq-col3) {
    grid-template-areas: 'side    . board   gauge tools' '.       . history .     controls';
    grid-template-columns: $col3-uniboard-side $block-gap $col3-uniboard-width var(--gauge-gap) $col3-uniboard-table;
  }


  &__side {
    display: grid;
    grid-template-areas: 'metas' 'user' 'config';
    grid-gap: $block-gap;

    @include breakpoint($mq-x-small) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'metas user' 'config';
    }


    @include breakpoint($mq-x-large) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content min-content;
      grid-template-areas: 'metas' 'user' 'config';
      justify-self: end;
      min-width: 250px;
      max-width: 350px;
    }


    &__metas {
      grid-area: metas;
    }

    &__user {
      grid-area: user;
    }

    &__config {
      grid-area: config;
    }
  }
}
