@import 'themes';
@import 'openings';
@import 'of-player';

h2#openings {
  @extend %flex-between;

  a {
    font-size: 1rem;
  }
}

.help {
  @extend %box-bordered, %box-margin-horiz;

  padding: 1.5em;
  background: $c-bg-zebra;

  &-touchscreen {
    display: none;
  }

  &-keyboard {
    display: block;
  }
}

@media (hover: none) {
  .help-touchscreen {
    display: block;
  }

  .help-keyboard {
    display: none;
  }
}
