.puzzle__side {
  &__metas {
    @extend %box-neat-force;

    background: $c-bg-box;

    p {
      margin: 0;
    }

    padding: 2vmin;

    .hidden {
      color: $c-font-dimmer;
    }

    .infos {
      @extend %flex-center;

      overflow: hidden;

      &::before {
        font-size: 3rem;
        margin-right: 1vw;
      }

      &.puzzle {
        padding-bottom: 1.2vh;
        border-bottom: $border;
        margin-bottom: 1.2vh;
      }

      .players {
        margin-top: .3rem;
        font-size: 90%;
      }
    }
  }

  &__user {
    @extend %box-neat;

    background: $c-bg-box;

    &__rating {
      margin: 2vmin;

      strong {
        @extend %flex-center;

        font-size: 3em;
      }
    }

    .rp {
      font-size: 1.3rem;
      margin-left: 1ch;

      &.up {
        color: $c-good;
      }

      &.down {
        color: $c-bad;
      }
    }
  }

  &__config {
    @extend %box-neat;

    align-self: start;
    background: $c-bg-box;
    padding: 2vmin;

    &__setting {
      @extend %flex-center-nowrap;

      .switch {
        margin-right: 1em;
      }

      label {
        cursor: pointer;
      }
    }
  }

  &__theme {
    @extend %box-neat, %roboto;

    background: $c-bg-box;
    padding: 2vmin;
    font-size: .9em;

    h2 {
      font-size: 1.5em;
      margin-bottom: .6rem;
      text-transform: uppercase;
    }
  }
}

.puzzle__themes {
  padding-top: 1.2vh;
  border-top: $border;
  margin-top: 1.2vh;

  &__list {
    &__entry {
      @extend %flex-between;

      align-items: stretch;

      margin-left: -.5rem;

      a {
        margin-left: .5rem;
        line-height: 2em;
      }

      &:hover {
        background: mix($c-bg-box, $c-link, 90%);
      }
    }
  }

  &__votes {
    @extend %flex-center-nowrap;
    flex: 0 1 5em;

    align-items: stretch;
    text-align: center;
  }

  &__vote {
    @extend %flex-center;

    justify-content: center;
    flex: 0 0 50%;
    cursor: pointer;

    color: $c-font-dimmer;

    .puzzle__themes:hover & {
      color: $c-good;
    }

    .puzzle__themes:hover &.vote-down {
      color: $c-bad;
    }

    &::before {
      @extend %data-icon;

      content: 'h';
      font-size: 1.2em;
    }

    &.vote-down::before {
      transform: rotate(0.5turn);
    }

    &:hover,
    &.active {
      background: $c-good;
      color: $c-good-over!important;
    }

    &.vote-down:hover,
    &.vote-down.active {
      background: $c-bad;
    }
  }
}
