.puzzle__tools {
  @extend %box-neat-force, %flex-column;

  background: $c-bg-box;

  .ceval-wrap {
    flex: 0 0 38px;
  }

  .ceval {
    height: 38px;
  }
}

.puzzle__moves {
  flex: 2 1 auto;
  overflow: auto;
  border-bottom: $border;
  position: relative;

  /* required by line::before */

  .tview2 > move {
    justify-content: space-between;

    glyph {
      font-size: 1.6em;
    }
  }

  move {
    &.fail glyph {
      color: $c-bad;
    }

    &.good glyph,
    &.win glyph {
      color: $c-good;
    }

    &:hover glyph {
      color: #fff;
    }
  }
}

.puzzle__feedback {
  @extend %flex-column;

  flex: 1 0 9rem;

  @include mq-at-least-col2 {
    @media (min-height: at-least($tall)) {
      flex: 1 0 17rem;
    }
  }

  background: $c-bg-zebra;
  justify-content: center;

  &:not(.after) {
    padding: 2em;
  }

  .player {
    display: flex;
    align-items: center;
  }

  .no-square {
    flex: 0 0 64px;
    height: 64px;
    margin-inline-end: 10px;
  }

  .is3d & div.no-square {
    height: 82px;
  }

  piece {
    position: inherit;
    display: block;
    width: 100%;
    height: 100%;
  }

  .icon {
    display: block;
    width: 64px;
    height: 64px;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
  }

  &.good .icon,
  .win .icon {
    color: $c-good;
  }

  &.fail .icon {
    color: $c-bad;
  }

  .instruction > * {
    display: block;
  }

  .instruction strong {
    font-size: 1.5em;
  }

  .view_solution {
    margin-top: 1.5em;
    text-align: center;
    visibility: hidden;
    opacity: 0;
  }

  .view_solution.show {
    visibility: visible;
    opacity: 0.8;

    @include transition(opacity, 1.5s);
  }
}

.puzzle__controls {
  @extend %flex-center;

  position: relative;
  height: $col3-uniboard-controls;
  margin-top: calc(0px - #{$puzzle-block-gap});

  @include mq-is-col1 {
    height: $col1-uniboard-controls;
  }

  // height: calc(#{$puzzle-history-height} + #{$puzzle-block-gap});
  .jumps {
    position: relative;
    flex: 1 1 auto;
  }
  .board-menu {
    @include mq-at-least-col2 {
      bottom: $col3-uniboard-controls;
      border-radius: $box-radius-size $box-radius-size 0 0;
      border-bottom: 2px solid $c-secondary;
    }
  }

  .fbt {
    @extend %page-text;
  }

  .glowing {
    color: $c-font-clearer;
  }
}
