@(pov: Pov)(implicit ctx: Context)

@import pov._

<div class="lichess_current_player">
  @round.table.result(game)
</div>
<div class="lichess_control buttons">
  @game.tournamentId.map { tourId =>
  <a class="button" href="@routes.Tournament.show(tourId)">View Tournament</a>
  }.getOrElse {
  @if(opponent.isHuman) {
  <div class="lichess_separator"></div>
  @if(opponent.isOfferingRematch) {
  <div class="lichess_play_again_join rematch_alert">
    @trans.yourOpponentWantsToPlayANewGameWithYou().&nbsp;
    <a class="lichess_play_again lichess_rematch" title="@trans.playWithTheSameOpponentAgain()" href="@routes.Round.rematch(fullId)">@trans.joinTheGame()</a><br />
    <a class="lichess_rematch_decline" href="@routes.Round.rematchDecline(fullId)">@trans.declineInvitation()</a>
  </div>
  } else {
  @if(player.isOfferingRematch) {
  <div class="lichess_play_again_join rematch_wait">
    @trans.rematchOfferSent().<br />
    @trans.waitingForOpponent()...<br /><br />
    <a class="lichess_rematch_cancel" href="@routes.Round.rematchCancel(fullId)">@trans.cancelRematchOffer()</a>
  </div>
  } else {
  <a class="lichess_rematch button" title="@trans.playWithTheSameOpponentAgain()" href="@routes.Round.rematch(fullId)">@trans.rematch()</a>
  }
  }
  } else {
  <a class="button" title="@trans.playWithTheSameOpponentAgain()" href="@routes.Lobby.home()#ai">@trans.rematch()</a>
  }
  <a class="lichess_new_game button" title="@trans.playWithAnotherOpponent()" href="@routes.Lobby.home()">@trans.newOpponent()</a>
  }
</div>
