@(pov: Pov, tour: Option[lila.tournament.Tournament])(implicit ctx: Context)

@import pov._

<div class="lichess_current_player">
  @round.table.result(game)
</div>
<div class="lichess_control buttons">
  @game.tournamentId.map { tourId =>
  <a
    class="button @tour.fold(false)(_.isRunning).fold("strong", "") view_tournament"
    href="@routes.Tournament.show(tourId)" data-icon="G"> @trans.backToTournament()</a>
  }.getOrElse {
  @if(opponent.isHuman) {
  <div class="lichess_separator"></div>
  @if(opponent.isOfferingRematch) {
  <div class="lichess_play_again_join rematch_alert">
    @trans.yourOpponentWantsToPlayANewGameWithYou().&nbsp;
    <a class="lichess_play_again lichess_rematch socket-link" title="@trans.playWithTheSameOpponentAgain()" data-msg="rematch-yes">@trans.joinTheGame()</a><br />
    <a class="lichess_rematch_decline socket-link" data-msg="rematch-no">@trans.declineInvitation()</a>
  </div>
  } else {
  @if(player.isOfferingRematch) {
  <div class="lichess_play_again_join rematch_wait">
    @trans.rematchOfferSent().<br />
    @trans.waitingForOpponent()&#8230;<br /><br />
    <a class="lichess_rematch_cancel socket-link" data-msg="rematch-no">@trans.cancelRematchOffer()</a>
  </div>
  } else {
  <a class="lichess_rematch button socket-link" title="@trans.playWithTheSameOpponentAgain()" data-msg="rematch-yes">@trans.rematch()</a>
  }
  }
  } else {
  <a class="lichess_rematch button socket-link" title="@trans.playWithTheSameOpponentAgain()" data-msg="rematch-yes">@trans.rematch()</a>
  }
  @if(!player.isOfferingRematch) {
  <a class="lichess_new_game button" title="@trans.playWithAnotherOpponent()" href="@routes.Lobby.home()">@trans.newOpponent()</a>
  }
  }
</div>
