@(pov: Pov, tourOption: Option[lila.tournament.Tournament])(implicit ctx: Context)

@import pov._

@rematchOfferButton = {
<a class="lichess_rematch offer button socket-link hint--bottom" data-hint="@trans.playWithTheSameOpponentAgain()" data-msg="rematch-yes">@trans.rematch()</a>
}

<div class="lichess_current_player">
  @round.table.result(game)
</div>
<div class="lichess_control buttons">
  @tourOption.map { tour =>
  <a class="button @if(tour.isRunning) {strong}"
    href="@routes.Tournament.show(tour.id)" data-icon="G"> @trans.backToTournament()</a>
  }.getOrElse {
  @game.poolId.map { poolId =>
  <a class="button"
    href="@routes.Pool.show(poolId)" data-icon="8"> Return to pool</a>
  <form action="@routes.Pool.leave(poolId)" method="post">
    <button type="submit" class="button">Leave the pool</button>
  </form>
  }.getOrElse {
  @if(opponent.isHuman) {
  <div class="lichess_separator"></div>
  @if(opponent.isOfferingRematch) {
  <div class="lichess_play_again_join rematch_alert">
    @trans.yourOpponentWantsToPlayANewGameWithYou().&nbsp;
    <a class="glowing button lichess_play_again lichess_rematch socket-link hint--bottom" data-hint="@trans.playWithTheSameOpponentAgain()" data-msg="rematch-yes">@trans.joinTheGame()</a>
    <a class="lichess_rematch_decline socket-link" data-msg="rematch-no">@trans.declineInvitation()</a>
  </div>
  } else {
  @if(player.isOfferingRematch) {
  <div class="lichess_play_again_join rematch_wait">
    @trans.rematchOfferSent().<br />
    @trans.waitingForOpponent()&#8230;<br /><br />
    <a class="lichess_rematch_cancel socket-link" data-msg="rematch-no">@trans.cancelRematchOffer()</a>
  </div>
  } else {
  @rematchOfferButton
  }
  }
  } else {
  @rematchOfferButton
  }
  @if(!player.isOfferingRematch) {
  <a class="lichess_new_game button hint--bottom" data-hint="@trans.playWithAnotherOpponent()" href="@routes.Lobby.home()">@trans.newOpponent()</a>
  }
  }
  }
</div>
