@(pov: Pov, takebackable: Boolean)(implicit ctx: Context)

@import pov._

<div class="lichess_current_player">
  <div class="lichess_player white @game.turnColor.white.fold("", " none")">
    <div class="piece king white"></div>
    <p>@player.color.white.fold(trans.yourTurn(), trans.waiting())</p>
  </div>
  <div class="lichess_player black @game.turnColor.black.fold("", " none")">
    <div class="piece king black"></div>
    <p>@player.color.black.fold(trans.yourTurn(), trans.waiting())</p>
  </div>
</div>
<div class="lichess_control icons">
  @if(game.abortable) {
  <button class="abort button socket-link hint--bottom" data-msg="abort" data-hint="@trans.abortGame()">
    <span data-icon="L"></span>
  </button>
  } else {
  @if(takebackable && game.playerCanProposeTakeback(color)) {
  <button class="takeback button socket-link hint--bottom" data-msg="takeback-yes" data-hint="@trans.proposeATakeback()">
    <span data-icon="i"></span>
  </button>
  }
  @if(game.playerCanOfferDraw(color)) {
  <button class="draw button socket-link hint--bottom" data-msg="draw-yes" data-hint="@trans.offerDraw()">
    <span data-icon="2"></span>
  </button>
  }
  <button class="resign button socket-link hint--bottom" data-msg="resign" data-hint="@trans.resign()">
    <span data-icon="b"></span>
  </button>
  }
</div>
@if(game.resignable && !game.hasAi) {
<div class="force_resign_zone">
  @trans.theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim()<br />
  <a class="force_resign button socket-link" data-msg="resign-force">@trans.forceResignation()</a>
  <a class="force_draw button socket-link" data-msg="draw-force">@trans.forceDraw()</a>
</div>
}
@if(game.toChessHistory.threefoldRepetition) {
<div id="claim_draw_zone">
  @trans.threefoldRepetition().&nbsp;
  <a class="lichess_claim_draw button socket-link" data-msg="draw-claim">@trans.claimADraw()</a>
</div>
} else {
@if(player.isOfferingDraw) {
<div class="offered_draw">
  @trans.drawOfferSent().&nbsp;
  <a class="socket-link" data-msg="draw-no">@trans.cancel()</a>
</div>
} else {
@if(opponent.isOfferingDraw) {
<div class="offered_draw">
  @trans.yourOpponentOffersADraw().<br />
  <a class="socket-link button" data-msg="draw-yes" data-icon="E">&nbsp;@trans.accept()</a>&nbsp;
  <a class="socket-link button" data-msg="draw-no" data-icon="L">&nbsp;@trans.decline()</a>
</div>
} else {
@if(takebackable && player.isProposingTakeback) {
<div class="proposed_takeback">
  @trans.takebackPropositionSent().&nbsp;
  <a class="socket-link" data-msg="takeback-no">@trans.cancel()</a>
</div>
} else {
@if(takebackable && opponent.isProposingTakeback) {
<div class="offered_draw">
  @trans.yourOpponentProposesATakeback().<br />
  <a class="socket-link button" data-msg="takeback-yes" data-icon="E">&nbsp;@trans.accept()</a>&nbsp;
  <a class="socket-link button" data-msg="takeback-no" data-icon="L">&nbsp;@trans.decline()</a>
</div>
}
}
}
}
}
@if(game.isMandatory && !game.playerHasMoved(color)) {
<div class="remove_on_first_move" data-icon="j">
  @trans.youHaveNbSecondsToMakeYourFirstMove(mandatorySecondsToMove)
</div>
}
