@(pov: Pov)(implicit ctx: Context)

@import pov._

<div class="lichess_current_player">
  <div class="lichess_player white @game.turnColor.white.fold("", " none")">
    <div class="piece king white"></div>
    <p>@player.color.white.fold(trans.yourTurn(), trans.waiting())</p>
  </div>
  <div class="lichess_player black @game.turnColor.black.fold("", " none")">
    <div class="piece king black"></div>
    <p>@player.color.black.fold(trans.yourTurn(), trans.waiting())</p>
  </div>
</div>
<div class="lichess_control clearfix">
  @if(game.abortable) {
  <a class="lichess_abort socket-link" data-msg="abort">@trans.abortGame()</a>
  } else {
  <a class="lichess_resign socket-link" data-msg="resign">@trans.resign()</a>
  @if(game.playerCanOfferDraw(color)) {
  <a class="offer_draw socket-link" data-msg="draw-yes">@trans.offerDraw()</a>
  }
  @if(game.playerCanProposeTakeback(color)) {
  <a class="propose_takeback socket-link" data-msg="takeback-yes" title="@trans.proposeATakeback()">@trans.takeback()</a>
  }
  }
</div>
@if(game.resignable && !game.hasAi) {
<div class="force_resign_zone">
  @trans.theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim()<br />
  <a class="force_resign socket-link" data-msg="resign-force">@trans.forceResignation()</a>
  <br />
  <a class="force_draw socket-link" data-msg="draw-force">@trans.forceDraw()</a>
</div>
}
@if(game.toChessHistory.threefoldRepetition) {
<div id="claim_draw_zone">
    @trans.threefoldRepetition().&nbsp;
    <a class="lichess_claim_draw socket-link" data-msg="draw-claim">@trans.claimADraw()</a>
</div>
} else {
@if(player.isOfferingDraw) {
<div class="offered_draw">
    @trans.drawOfferSent().&nbsp;
    <a class="socket-link" data-msg="draw-no">@trans.cancel()</a>
</div>
} else {
@if(opponent.isOfferingDraw) {
<div class="offered_draw">
    @trans.yourOpponentOffersADraw().<br />
    <a class="socket-link" data-msg="draw-yes">@trans.accept()</a>&nbsp;
    <a class="socket-link" data-msg="draw-no">@trans.decline()</a>
</div>
} else {
@if(player.isProposingTakeback) {
<div class="proposed_takeback">
    @trans.takebackPropositionSent().&nbsp;
    <a class="socket-link" data-msg="takeback-no">@trans.cancel()</a>
</div>
} else {
@if(opponent.isProposingTakeback) {
<div class="offered_draw">
    @trans.yourOpponentProposesATakeback().<br />
    <a class="socket-link" data-msg="takeback-yes">@trans.accept()</a>&nbsp;
    <a class="socket-link" data-msg="takeback-no">@trans.decline()</a>
</div>
}
}
}
}
}
