@(pov: Pov, takebackable: Boolean)(implicit ctx: Context)

@import pov._

<div class="lichess_current_player">
  <div class="lichess_player white @game.turnColor.white.fold("", " none")">
    <div class="piece king white"></div>
    <p>@player.color.white.fold(trans.yourTurn(), trans.waiting())</p>
  </div>
  <div class="lichess_player black @game.turnColor.black.fold("", " none")">
    <div class="piece king black"></div>
    <p>@player.color.black.fold(trans.yourTurn(), trans.waiting())</p>
  </div>
</div>
<div class="lichess_control">
  @if(game.abortable) {
  <a class="lichess_abort button socket-link" data-msg="abort" data-icon="L" title="@trans.abortGame()"></a>
  } else {
  @if(takebackable && game.playerCanProposeTakeback(color)) {
  <a class="propose_takeback button socket-link" data-msg="takeback-yes" data-icon="i" data-title="@trans.takeback()" title="@trans.proposeATakeback()"></a>
  }
  @if(game.playerCanOfferDraw(color)) {
  <a class="offer_draw button socket-link" data-msg="draw-yes" data-icon="2" title="@trans.offerDraw()"></a>
  }
  <a class="lichess_resign button socket-link" data-msg="resign" data-icon="b" title="@trans.resign()"></a>
  }
</div>
@if(game.resignable && !game.hasAi) {
<div class="force_resign_zone">
  @trans.theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim()<br />
  <a class="force_resign button socket-link" data-msg="resign-force">@trans.forceResignation()</a>
  <a class="force_draw button socket-link" data-msg="draw-force">@trans.forceDraw()</a>
</div>
}
@if(game.toChessHistory.threefoldRepetition) {
<div id="claim_draw_zone">
  @trans.threefoldRepetition().&nbsp;
  <a class="lichess_claim_draw button socket-link" data-msg="draw-claim">@trans.claimADraw()</a>
</div>
} else {
@if(player.isOfferingDraw) {
<div class="offered_draw">
  @trans.drawOfferSent().&nbsp;
  <a class="socket-link" data-msg="draw-no">@trans.cancel()</a>
</div>
} else {
@if(opponent.isOfferingDraw) {
<div class="offered_draw">
  @trans.yourOpponentOffersADraw().<br />
  <a class="socket-link button" data-msg="draw-yes" data-icon="E">&nbsp;@trans.accept()</a>&nbsp;
  <a class="socket-link button" data-msg="draw-no" data-icon="L">&nbsp;@trans.decline()</a>
</div>
} else {
@if(takebackable && player.isProposingTakeback) {
<div class="proposed_takeback">
  @trans.takebackPropositionSent().&nbsp;
  <a class="socket-link" data-msg="takeback-no">@trans.cancel()</a>
</div>
} else {
@if(takebackable && opponent.isProposingTakeback) {
<div class="offered_draw">
  @trans.yourOpponentProposesATakeback().<br />
  <a class="socket-link button" data-msg="takeback-yes" data-icon="E">&nbsp;@trans.accept()</a>&nbsp;
  <a class="socket-link button" data-msg="takeback-no" data-icon="L">&nbsp;@trans.decline()</a>
</div>
}
}
}
}
}
