@(pov: Pov)(implicit ctx: Context)

@import pov._

<div class="lichess_current_player">
  @if(game.finished || game.aborted) {
  @round.table.result(game)
  } else {
  <div class="lichess_player white @game.turnColor.white.fold("", " none")">
    <div class="piece king white"></div>
    <p>@trans.whitePlays()</p>
  </div>
  <div class="lichess_player black @game.turnColor.black.fold("", " none")">
    <div class="piece king black"></div>
    <p>@trans.blackPlays()</p>
  </div>
  }
</div>
<div class="lichess_separator"></div>
@round.username(player)
<div class="lichess_control buttons">
  @game.next.map { next =>
  <a class="button" href="@routes.Round.watcher(next, opponent.color.name)" data-icon="v"> @trans.viewRematch()</a>
  }
  @game.tournamentId.map { tourId =>
  <a class="button" href="@routes.Tournament.show(tourId)">@trans.viewTournament()</a>
  }
</div>
