.is::before,
[data-icon]::before,
.is-after::after {
  @extend %data-icon;
}
.is.text::before,
.text[data-icon]::before {
  margin-right: 0.4em;
}

.user_link.online .line,
.is-green::before {
  color: #759900;
}
.is-red::before {
  color: #dc322f;
}
.is-gold::before {
  color: #d59120;
}
