%data-icon {
  font-size: 1.2em;
  vertical-align: text-top;
  font-family: "lichess" !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-transform: none !important;
  speak: none;
  content: attr(data-icon);
  opacity: 0.9;
}

.is::before,
[data-icon]::before,
.user_link .line,
.is-after::after {
  @extend %data-icon;
}
.is.text::before,
.text[data-icon]::before {
  margin-right: 0.4em;
}
[data-icon].is2::before {
  font-size: 20px;
}
[data-icon].is3::before {
  font-size: 22px;
}
[data-icon].is4::before {
  font-size: 30px;
}
