@use "../theme/gen/theme";

html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: theme.$c-bg-page linear-gradient(to bottom, theme.$c-body-gradient, theme.$c-bg-page 100px) no-repeat;
  color: theme.$c-font;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-corner {
  background: theme.$c-bg-page linear-gradient(to bottom, theme.$c-body-gradient, theme.$c-bg-page 100px) no-repeat;
  max-width: 0.8rem;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: theme.$c-font-dimmer;
}

body::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:active {
  background: theme.$c-font-dim;
}

a {
  color: theme.$c-link;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: theme.$c-link-hover;
  }
}

p {
  margin-bottom: 1em;
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

time {
  font-size: 90%;
  opacity: 0.9; /* don't use c-color-dim, it overrides too hard */
}

hr {
  margin: 1.5rem 0;
  border: 0;
  height: 1px;
  background: theme.$c-border;
}

small {
  font-size: 0.9em;
}

table,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: middle;
  text-align: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
