body {
  background: $c-background linear-gradient(to bottom, $c-body-gradient, $c-background 116px) no-repeat;
  color: $c-font;
  overflow-x: hidden;
}

a {
  color: $c-link;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: $c-link-hover;
  }
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
}

em, i {
  font-style: normal;
}
