@use '../abstract/extends';
@use '../theme/gen/theme';

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  color: theme.$c-font;
  outline-color: theme.$c-primary;
}

option,
optgroup {
  background: theme.$c-bg-box-opaque;
  color: theme.$c-font-clear;
}

input,
textarea,
select {
  @extend %box-radius;

  background: theme.$c-bg-input;
  border: theme.$border;
  padding: 0.6em 1em;
}

textarea {
  overflow: auto;
  resize: vertical;
  padding: 0.8em 1em;
}

button,
a {
  cursor: pointer;
}

::placeholder {
  color: theme.$c-font-dim;
}

.copyable {
  background: theme.$c-page-input;
  color: theme.$c-font-clear;
}
