@use '../theme/gen/theme';

body ::-webkit-scrollbar,
body ::-webkit-scrollbar-corner {
  width: 0.5rem;
  background: theme.$c-bg-box;
}

body ::-webkit-scrollbar-thumb {
  background: theme.$c-shade;
}

body ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:active {
  background: theme.$c-font-dimmer;
}
