@use '../abstract/mixins';

body {
  @include mixins.theme-wrap('transp') {
    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: var(--tr-bg-url, none);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
  }
}
