.none {
  display: none!important;
}

.fullscreen-mask {
  @extend %fullscreen-mask;
  display: none;
  .fullscreen-toggle:checked ~ & {
    display: block;
  }
}

.rp {
  &::before {
    @extend %data-icon, %data-icon-middle;
    margin-right: .2em;
  }
  &-up {
    color: $c-good;
    &::before { content: 'N'; }
  }
  &-down {
    color: $c-bad;
    &::before { content: 'M'; }
  }
}

/* infinite scroll */
.inf-more {
  width: 100%;
}
#infscr-loading .spinner {
  margin: 10px auto;
}
