.none {
  display: none!important;
}

.fullscreen-mask {
  @extend %fullscreen-mask;
  display: none;
  .fullscreen-toggle:checked ~ & {
    display: block;
  }
}

/* infinite scroll */
.inf-more {
  width: 100%;
}
#infscr-loading .spinner {
  margin: 10px auto;
}
