.tutor-badge {
  @extend %box-radius;

  display: inline-flex;
  flex-flow: column;
  padding: 0.5em 1em;

  &--time {
    background: color-mix($c-brag 20%, $c-bg);
  }

  &--meta {
    background: color-mix($c-good 20%, $c-bg);

    &:is(bad) {
      background: color-mix($c-bad 20%, $c-bg);
    }
  }
}
