$c-grade-bad: $m-bad_font--mix-80;
$c-grade-avg: $m-brag_font-dim--mix-60;
$c-grade-good: $m-good_bg--mix-90;

.tutor {
  &-grades {
    @extend %flex-column;
    gap: 2em;
  }
  &-grade {
    display: flex;
    align-items: stretch;
    gap: 1.2em;
    .tutor-icon {
    }
    &__content {
      @extend %flex-column;
      gap: 0.4em;
      flex: 1 1 auto;
    }
    &__name {
      @extend %flex-center-nowrap;
      font-weight: normal;
      font-size: 1.3em;
    }
    &--detail .tutor-grade__name {
      text-transform: uppercase;
      font-size: 1.7em;
      margin-bottom: 0.5em;
    }
    &--detail.tutor-grade--narrow .tutor-grade__name {
      font-size: 1.3em;
    }
    &--narrow .tutor-grade__concept {
      @extend %roboto;
    }
    &__visual {
      @extend %flex-center;
      > div {
        flex: 13% 0 0;
        margin-inline-end: 1.28%;
        height: 1.5em;
        line-height: 1.5em;
        border: $border;
        border-radius: 4px;
        background: $c-bg-low;
        &.lit {
          background: $c-grade-good;
        }
      }
      &--1,
      &--2 {
        > div.lit {
          background: $c-grade-bad;
        }
      }
      &--3,
      &--4 {
        > div.lit {
          background: $c-grade-avg;
        }
      }
    }
    &--detail {
      gap: var(---box-padding);
      &:not(:last-child) {
        padding-bottom: 2em;
        border-bottom: $border;
      }
      .tutor-icon {
        flex: 0 1 8em;
      }
    }
    &__detail {
      font-size: 0.9em;
      color: $c-font-dim;
    }

    .tutor-icon,
    .tutor-grade__name {
      color: $c-grade-good;
    }
    &--1,
    &--2 {
      .tutor-icon,
      .tutor-grade__name {
        color: $c-grade-bad;
      }
    }
    &--3,
    &--4 {
      .tutor-icon,
      .tutor-grade__name {
        color: $c-grade-avg;
      }
    }
    &--narrow .tutor-icon {
      display: none;
    }
  }
}
