.tutor {
  &__openings {
    @extend %flex-center;
    &__color {
      flex: 50% 0 0;
      h2 {
        font-size: 2em;
      }
    }
  }
  &__opening {
    @extend %box-neat-force;
    margin: 1em;
    background: $c-bg-zebra;
    h3 {
      padding: 1em;
      font-size: 1.6em;
    }
    .slist tr td {
      font-weight: bold;
      &:last-child {
        opacity: 0.8;
      }
      &.good {
        background: mix($c-good, $c-bg-zebra, 20%);
      }
      &.bad {
        background: mix($c-bad, $c-bg-zebra, 20%);
      }
    }
  }
}
