.tutor {
  &__phases {
    &__phase {
      .tutor-card__top {
        justify-content: center;
        &__title {
          @extend %flex-center-nowrap;
          gap: 1em;
          .tutor-icon {
            height: 3.5em;
          }
        }
      }
      .tutor-card__content {
        @extend %flex-column;
      }
      &__buttons {
        @extend %flex-column;
        gap: 1em;
        a {
          text-align: start;
        }
      }
    }
  }
}
