.tutor {
  @include breakpoint($mq-subnav-side) {
    .subnav {
      width: 20ch;
    }
  }

  &-card {
    @extend %box-neat;
    background: $c-bg-zebra;

    &__top {
      @extend %flex-center;

      i {
        text-shadow: $text-shadow;
        font-size: 6em;
        margin: -2rem 1rem 0 1.5rem;
        color: $c-primary;
        opacity: 0.7;
      }
      &__title {
        font-size: 1.6em;
      }
    }
  }
  &-overlaid {
    position: relative;
    &:hover {
      outline: 3px solid mix($c-link, $c-bg-box, 20%);
    }
  }

  &-overlay {
    @extend %link-overlay;
    // display: none;
  }
}
