@(createds: List[lila.app.tournament.Created], starteds: List[lila.app.tournament.Started], finisheds: List[lila.app.tournament.Finished], leaderboard: List[User])(implicit ctx: Context)

@goodies = {
<div class="tournament_links">
  <a href="@routes.Tournament.faq()">Tournament FAQ</a>
</div>
<h2 class="leaderboard_title">@trans.leaderboard()</h2>
<ol class="tournament_leaderboard">
@leaderboard.map { user =>
<li>@userLink(user, withOnline = false, cssClass = "inline".some, text = Some(user.username + " [" + user.toints + "]"))</li>
}
</ol>
}

@tournament.layout(
title = "Tournaments",
goodies = goodies.some) {
<div id="tournament" data-href="@routes.Tournament.homeReload()">
@tournament.homeInner(createds, starteds, finisheds)
</div>
}
