@(tour: lila.app.tournament.StartedOrFinished)(implicit ctx: Context)

<table class="slist standing">
  <thead>
    <tr>
      <th class="large" colspan="2">Standing</th>
      <th>Points</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win Streak</th>
    </tr>
  </thead>
  <tbody>
    @tour.rankedPlayers.map {
    case (rank, player) => {
    @defining(if(tour.isFinished && rank == 1) "winner" else if (player.withdraw) "withdraw" else "") { flag =>
    <tr>
      <td><span class="rank @flag" title="@flag.capitalize">@rank</span></td>
      <td>
        @userInfosLink(player.username, player.elo.some, withOnline = false)
      </td>
      <td><strong>@player.score</strong></td>
      <td>@player.nbWin</td>
      <td>@player.nbLoss</td>
      <td>
        @if(player.winStreak > 1) {
        @player.winStreak
        }
      </td>
    </tr>
    }
    }
    }
  </tbody>
</table>
