include "base"

# Use l.org as local development domain
net {
  domain = "l.org"
  asset.domain = "static.l.org"
}
# Use local artificial intelligence 
ai {
  server = false
  client = false
  stockfish {
    debug = false
    hash_size = 128
    threads = 2
  }
}
