include "base"

# Define application domain name
net.domain = "l.org"

# Use local artificial intelligence 
ai {
  client = false
  server = false
  stockfish {
    debug = false
    hash_size = 128
    threads = 2
  }
}
