playWithAFriend=స్నేహితునితో ఆడు
playWithTheMachine=యంత్రముతో ఆడు
toInviteSomeoneToPlayGiveThisUrl=ఒకరిని ఆటకు ఆహ్వానించుట కొరకు, ఈ లింకును పంపుము
gameOver=ఆట ముగిసింది
waitingForOpponent=ప్రత్యర్థి కొరకు వేచియుండు
waiting=వేచియుండు
yourTurn=మీ ఎత్తు
chat=మాట్లాడు
resign=ఓటమి అంగీకరించు
checkmate=ఆట కట్టు
stalemate=ప్రతిష్టంభన
white=తెలుపు
black=నలుపు
randomColor=యాదృచ్ఛిక రంగు
createAGame=ఒక ఆట ఆరంభించు
whiteIsVictorious=విజయం తెలుపుది
blackIsVictorious=విజయం నలుపుది
playWithTheSameOpponentAgain=ఇదే ప్రత్యర్ధితో మల్లి ఆడు
newOpponent=కొత్త ప్రత్యర్ధి
playWithAnotherOpponent=వేరొక ప్రత్యర్ధితో ఆడు
yourOpponentWantsToPlayANewGameWithYou=మీ ప్రత్యర్థి మీతో ఒక కొత్త ఆట ఆడాలని కాంక్షించెను
joinTheGame=ఆటలో చేరు
whitePlays=ఎత్తు తెలుపుది
blackPlays=ఎత్తు నలుపుది
theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim=మీ ప్రత్యర్థి ఆట నుంచి వైదోలగెను. మీరు విజయం పొందవచ్చు, లేదా డ్రా పొందవచ్చు, లేదా వేచిచూడవచ్చు.
