playWithAFriend=snehithuditho aadu
inviteAFriendToPlayWithYou=Mithrudini Swagathinchu aadataniki
playWithTheMachine=Yanthramu tho aadu
challengeTheArtificialIntelligence=Krithrima Gyanamtho Savalu cheyi
pickARandomHumanOpponent=Evarovakaritho...
toInviteSomeoneToPlayGiveThisUrl=Evarinaina aadutaku pilavaalante, ee url ivvandi
yourOpponentHasArrived=Mee Prathyarthi Vacharu
gameOver=Aata mugisindi
waitingForOpponent=Prathyardhi koraku vechiyunnamu
waiting=vechiyundandi
yourTurn=mee aata
level=tharagathi
chat=sambhashana
giveUp=otami angikaramu
resign=vadhali veyuta
white=thelupu
black=nalupu
whiteIsVictorious=thelupu gelichindhi
blackIsVictorious=nalupu gelichindhi
newGame=koha aata
playANewGame=kotha aata aadandi
rematch=maroka aata
playWithTheSameOpponentAgain=adhe prathyardhi thomaro aata
newOpponent=kotha prathyardhi
playWithAnotherOpponent=veroka Prathyardhitho aadandi
yourOpponentWantsToPlayANewGameWithYou=mee prthyardhi meetho maro aata aadalanukuntunnadu
joinTheGame=aatalo kalavandi
youAreViewingThisGameAsASpectator=meeru ee aatanu prekshakunivale chustunnaru
whitePlays=thelupu aaduthundi
blackPlays=nalupu aadithundi
theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim=mee prthyardhi aata vadhilesadu. Meeru votami angeekarinchamani adagandi leda vechiyundandi
makeYourOpponentResign=mee prthyardhitho aata votamini angikarimpa cheyandi
forceResignation=votami angeekarinchamanadi
talkInChat=chiru sambhashana
theFirstPersonToComeOnThisUrlWillPlayWithYou=evaraithey ee url lo vachhe modati vaaru meetho aaduthaaru
human=manavudu
whiteCreatesTheGame=thelupu aata prarambhisthundhi
blackCreatesTheGame=nalupu aata prarambhisthundhi
