playWithAFriend=మీ స్నేహితునితో ఆడు
inviteAFriendToPlayWithYou=మీ స్నేహితుని ఆటకు ఆహ్వానించు
playWithTheMachine=కంప్యూటర్ తో ఆడు
toInviteSomeoneToPlayGiveThisUrl=మీ ప్రత్యర్దిని ఆహ్వానించుటకు ఈ లింకుని పంపించు
gameOver=ఆట ముగిసింది
waitingForOpponent=ప్రత్యర్థి కోసం  వేచి ఉండు
waiting=వేచి ఉండు
yourTurn=ఇప్పుడు నీ వంతు
toggleTheChat=మాటలు ఉంచు/తీసివెయ్యి
toggleSound=శబ్దము ఉంచు/తీసివెయ్యి
resign=రాజీనామా
checkmate=ఆటకట్టు
white=తెలుపు
black=నలుపు
randomColor=ఎదో ఒక రంగు
createAGame=కొత్త ఆట
