.tour__actor-info {
  @extend %box-neat-force;

  background: $c-bg-box;
  position: relative;
  align-self: flex-start;

  .spinner {
    margin: 5em auto;
  }

  .close {
    position: absolute;
    top: 4px;
    right: 5px;
    opacity: 0.6;

    @include transition;

    color: var(--c-bad);

    &:hover {
      opacity: 1;
    }
  }

  .stats {
    @extend %flex-column;

    justify-content: center;

    h2 {
      @extend %metal;

      font-size: 1.4em;
      padding: 0.6rem 1rem;
      border-bottom: $border;
    }

    table {
      margin: 1em auto;
    }

    td {
      font-weight: bold;
      padding-left: 10px;
      text-align: right;
      line-height: 1.8em;

      &:last-child {
        @extend %roboto;
      }
    }
  }

  .sublist {
    width: 100%;

    tr {
      cursor: pointer;

      @include transition(background-color);

      &:nth-child(odd) {
        background: var(--c-bg-zebra);
      }

      &:hover {
        background: var(--c-primary-faded-70);
      }
    }

    th,
    td {
      padding: 0.3em;
    }

    th {
      @extend %roboto;

      padding-left: 7px;
    }
  }
}
