.tour__actor-info {
  @extend %box-neat-force;

  background: $c-bg-box;
  position: relative;
  align-self: flex-start;

  .spinner {
    margin: 5em auto;
  }

  .close {
    position: absolute;
    top: 4px;
    @include inline-end(5px);
    opacity: 0.6;

    @include transition;

    color: $c-bad;

    &:hover {
      opacity: 1;
    }
  }

  .stats {
    @extend %flex-column;
    gap: 1em;
    padding-bottom: 1em;
    justify-content: center;
    align-items: center;

    h2 {
      @extend %metal;
      align-self: stretch;

      direction: ltr;
      font-size: 1.4em;
      padding: 0.6rem 1rem;
      border-bottom: $border;
    }

    td {
      font-weight: bold;
      padding-inline-start: 10px;
      text-align: right;
      line-height: 1.8em;

      &:last-child {
        @extend %roboto;
      }
    }
  }

  .sublist {
    width: 100%;

    tr {
      cursor: pointer;

      @include transition(background-color);

      &:nth-child(odd) {
        background: $c-bg-zebra;
      }

      &:hover {
        background: $m-primary_bg--mix-10;
      }
    }

    th,
    td {
      padding: 0.3em;
    }

    th {
      @extend %roboto;

      padding-inline-start: 7px;
    }
  }
}
