.tour__standing {
  border: none;

  .player {
    padding-left: 0px;
    padding-right: 0px;

    .user-link {
      @extend %flex-center-nowrap;
    }

    .name {
      @extend %nowrap-ellipsis;

      display: inline-block;
      padding-inline-end: 5px;
      max-width: 140px;
      @media (min-width: at-least($x-large)) {
        max-width: 200px;
      }
    }
  }

  .user-link.long {
    letter-spacing: -0.7px;
  }

  .user-link .rating {
    font-style: italic;
    font-size: 0.8em;
  }

  tr.long .user-link .rating {
    display: block;
    direction: ltr;
    padding-inline-start: 0px;
  }

  tr {
    @include transition;

    user-select: none;
  }

  .loading tbody {
    opacity: 0.6;

    @include transition(opacity, 0.3s);
  }

  &:not(.created):not(.loading) tbody tr:hover {
    background: $m-primary_bg--mix-30;
    cursor: pointer;
  }

  tr.me td:first-child {
    @include gradient-border($m-secondary_bg--mix-70, to right, to left);
  }

  tr.active td:last-child {
    @include gradient-border($m-primary_bg--mix-70, to left, to right);
  }

  td.rank {
    @include padding-direction(1em, 0.5em, 1em, 10px);
    width: 1px;

    /* helps keeping it as small as possible */
    i {
      opacity: 0.4;
      font-size: 0.8em;
    }
  }

  .sheet {
    text-align: right;
    padding-inline-end: 0;
    padding-inline-start: 0;
    letter-spacing: 0.1em;

    & > * {
      display: inline-block;
    }

    score {
      opacity: 0.7;
    }
  }

  tr.long .sheet {
    font-size: 0.9rem;
    letter-spacing: 0.06em;
  }

  tr.xlong .sheet {
    font-size: 0.85rem;
    letter-spacing: 0.04em;
  }

  double {
    color: $c-brag;

    /* font-weight: bold; */
  }

  streak {
    color: $c-secondary;

    /* font-weight: bold; */
  }

  .total {
    text-align: right;
    font-weight: bold;
    padding-inline-end: $block-gap;
  }
}
