.tour__controls {
  @extend %metal, %flex-between, %box-shadow;
  align-items: unset;
  padding: 0 0px;
  position: relative;
  .fbt {
    height: 100%;
    padding: 0.6em 0.8em;
    text-transform: uppercase;
    @include breakpoint($mq-xx-small) {
      padding: 0.6em 1em;
    }
    &.denied {
      pointer-events: none;
      background-color: $c-bad;
      color: $c-bad-over;
    }
  }
  @keyframes tour-delay {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  .delay {
    background: rgba(117, 153, 0, 0.5);
    width: 0%;
    button {
      opacity: 0.7;
      color: $c-font-dim;
      mix-blend-mode: luminosity;
    }
  }
  .highlight {
    position: absolute;
    right: 5px;
    top: -3px;
    padding: 8px 20px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    background: #82bf56;
    border-bottom: 5px solid #759900;
    text-shadow: 0 -1px #759900;
    transition: all 0.1s;
    transform: translate(0px, 0px);
    &:hover {
      filter: brightness(1.06);
    }
    &:active {
      transform: translate(0px, 5px);
      border-bottom-width: 1px;
      text-shadow: 0 0 #759900;
      filter: brightness(1);
    }
  }
  .right {
    @include breakpoint($mq-x-small) {
      margin-left: auto;
    }
  }
  .waiting span {
    margin-right: 0.5rem;
  }
  .spinner {
    margin: 0;
    width: 1.64em;
    height: 2em;
    margin-right: 0.5em;
    margin-left: 35px;
    align-self: center;
  }
  .pager {
    @extend %flex-center;
    flex-basis: 100%;
    user-select: none;
    justify-content: space-between;
    @include breakpoint($mq-x-small) {
      flex-basis: unset;
    }
    .page {
      margin: 0 3px;
      white-space: nowrap;
    }
    input {
      border: none;
      background: $m-secondary_alpha_neg80;
    }
    .search,
    input,
    .twitter-typeahead {
      height: 100%;
    }
  }
  .search .tt-menu .spinner {
    float: none;
    margin: 10px auto;
  }
  &.back {
    .switch {
      display: flex;
      align-items: center;
      padding: 0 0.5rem;
      .label {
        padding: 0 0.5rem;
      }
    }
  }
}
