.tour__duels {
  @extend %page-text-shadow;

  margin: $block-gap 0 0 0;

  @include breakpoint($mq-col2) {
    margin: 0 0 0 $block-gap;
  }

  @include breakpoint($mq-col3) {
    margin: $block-gap 0 0 0;
  }

  h2 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  a {
    @extend %flex-column;

    color: var(--c-font);
    padding: 0.5em 0.7em;
    white-space: nowrap;
    line-height: 1.9em;
    border-top: 1px solid var(--c-border-faded);

    @include transition;

    &:hover {
      background: var(--c-primary-faded-70);
    }
  }

  line {
    @extend %flex-between;
  }

  strong {
    @extend %ellipsis;

    font-size: 1.2em;
    color: var(--c-font-dim);
    display: block;
    max-width: 60%;
  }

  .rank {
    @extend %box-radius;

    padding: 0.1em 0.5em;
    background: var(--c-bg-zebra);
  }

  .b .utitle,
  .b .rank {
    margin-right: 0.3em;
  }

  .a .utitle,
  .a .rank {
    margin-left: 0.3em;
  }
}
