.tour__duels {
  @extend %page-text-shadow !optional;

  margin: $block-gap 0 0 0;

  @include breakpoint($mq-col2) {
    margin: 0 0 0 $block-gap;
  }


  @include breakpoint($mq-col3) {
    margin: $block-gap 0 0 0;
  }


  h2 {
    font-size: 1.5em;
    margin-bottom: .2em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  a {
    @extend %flex-column;

    color: $c-font;
    padding: .5em .7em;
    white-space: nowrap;
    line-height: 1.9em;
    border-top: 1px solid mix($c-bg-page, $c-border-page, 50%);

    @include transition;

    &:hover {
      background: mix($c-link, $c-bg-page, 20%);
    }
  }

  line {
    @extend %flex-between;
  }

  strong {
    @extend %ellipsis;

    font-size: 1.2em;
    color: $c-font-dim;
    display: block;
    max-width: 60%;
  }

  .rank {
    @extend %box-radius;

    padding: .1em .5em;
    background: $c-bg-zebra;
  }

  .b .utitle,
  .b .rank {
    margin-right: .3em;
  }

  .a .utitle,
  .a .rank {
    margin-left: .3em;
  }
}
