.tour__featured {
  @extend %box-neat-force, %flex-column;
  background: $c-bg-box;
  &__player {
    @extend %metal, %flex-center-nowrap;
    > * {
      padding: 0.3em 0;
    }
    & strong {
      flex: 0 0 calc(100% / 9);
      text-align: center;
      background: $c-bg-box;
      margin-right: 10px;
    }
    .user-link {
      @extend %flex-between;
      flex: 1 1 100%;
      margin-right: 1em;
    }
    & i {
      flex: 0 0 auto;
      &::before {
        color: $c-accent;
        margin-right: 5px;
      }
    }
  }
}
