@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/uniboard';
@use 'pkg:common/abstract/variables';
@use 'local';

@include breakpoint.breakpoint(local.$mq-col2) {
  #main-wrap {
    --main-max-width: auto;
  }
}

$chat-optimal-size: calc(
  100vh - #{variables.$site-header-outer-height} - #{variables.$block-gap} - 3rem
);

.tour {
  display: grid;
  grid-gap: variables.$block-gap;
  grid-template-areas:
    'main'
    'side'
    'uchat'
    'table';

  &__side {
    grid-area: side;
  }

  &__table,
  &__stats,
  &__player {
    grid-area: table;
  }

  &__main {
    grid-area: main;
  }

  .chat__members {
    grid-area: uchat;
  }

  @include breakpoint.breakpoint(local.$mq-col2) {
    grid-template-columns: uniboard.$col2-uniboard-default-width uniboard.$col2-uniboard-table;
    grid-template-rows: $chat-optimal-size min-content;
    grid-template-areas:
      'main  side'
      'main  uchat'
      'table .';

    &__table {
      display: flex;

      > * {
        flex: 0 0 50%;
      }
    }

    .mchat__messages {
      max-height: inherit;
    }
  }

  @include breakpoint.breakpoint(local.$mq-col3) {
    grid-template-columns: uniboard.$col3-uniboard-side uniboard.$col3-uniboard-default-width uniboard.$col3-uniboard-table;
    grid-template-rows: $chat-optimal-size auto;
    grid-template-areas:
      'side  main table'
      'uchat main table';

    &__table {
      flex-flow: column;

      > * {
        flex: inherit;
      }
    }
  }

  &.robin {
    .tour__main {
      overflow: auto;
    }
    // @include breakpoint($mq-col3) {
    //   grid-template-columns: $col3-uniboard-side 70vw;
    //   grid-template-areas:
    //     'side  main'
    //     'uchat main';
    // }
  }
}
