@include breakpoint($mq-col2) {
  #main-wrap {
    --main-max-width: auto;
  }
}

.tour {

  display: grid;

  &__side { grid-area: side }
  &__featured, &__stats, &__player { grid-area: featured }
  &__main { grid-area: main }
  &__duels { grid-area: duels }
  &__faq { grid-area: faq }
  .chat__members { grid-area: uchat; }

  grid-template-areas:
  'main'
  'side'
  'uchat'
  'featured'
  'duels'
  'faq';

  grid-gap: $block-gap;

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-default-width $col2-uniboard-table;
    grid-template-rows: auto fit-content(0);
    grid-template-areas:
    'main  side'
    'featured uchat'
    'featured duels'
    'faq faq';
  }

  @include breakpoint($mq-col3) {
    grid-template-columns: $col3-uniboard-side $col3-uniboard-default-width $col3-uniboard-table;
    grid-template-rows: min-content fit-content(0);
    grid-template-areas:
    'side  main featured'
    'side  main duels'
    'uchat main duels'
    '.     faq  duels';
    &__side {
      height: calc(100vh - #{$site-header-outer-height} - #{$site-header-margin} - #{$block-gap});
    }
  }
}
