.tour__player-info {
  @include tour-players-pairings {
    tr.streak td.result {
      color: $c-brag;
      opacity: 1;
    }

    td.berserk {
      color: $c-font-dim;
      font-size: 0.9em;
    }
  }

  .color-icon {
    opacity: 0.6;
  }
}
