@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.tour__player-info {
  .pairings {
    border-collapse: unset;
    width: 100%;

    tr {
      cursor: pointer;

      @include mixins.transition(background-color);

      &:nth-child(odd) {
        background: theme.$c-bg-zebra;
      }

      &:hover {
        background: theme.$m-link_bg-box_mix_10;
      }
    }

    th,
    td {
      padding: 0.3em;
    }

    th {
      border-left: 3px solid transparent;

      @include mixins.transition;
    }

    tr:hover th {
      border-color: theme.$c-font;
    }

    tr.win:hover th {
      border-color: theme.$c-good;
    }

    tr.loss:hover th {
      border-color: theme.$c-bad;
    }

    td:nth-child(2) {
      @extend %nowrap-ellipsis;

      max-width: 200px;
    }

    td:last-child {
      font-weight: bold;
      opacity: 0.8;
    }

    tr.win td:last-child {
      color: theme.$c-good;
      opacity: 1;
    }

    tr.loss td:last-child {
      color: theme.$c-bad;
      opacity: 1;
    }
  }

  .color-icon {
    opacity: 0.6;
  }
}
