$mq-col1: $mq-col1-uniboard;
$mq-col2: $mq-small;
$mq-col3: $mq-col3-uniboard;

@import 'layout';
@import 'meta';
@import 'featured';
@import 'app-header';
@import 'app-notice';
@import 'app-control';
@import 'app-standing';
@import 'podium';
@import 'stats';
@import 'duel';

.tour {
  .pull-quote {
    margin-top: 30px;
    width: 300px;
  }
}

.tour__faq {
  h2 {
    margin: 1.5em 0 .5em 0;
  }
}
