@mixin mq-at-least-col2 {
  @media (min-width: at-least($small)) {
    @content;
  }
}

@import 'layout';
@import 'side';
@import 'featured';
@import 'app-header';
@import 'app-notice';
@import 'app-control';
@import 'app-standing';
@import 'stats';
@import 'duel';
@import 'actor-info';
@import 'player-info';
@import 'team-info';

.tour {
  .pull-quote {
    margin-top: 30px;
    width: 300px;
  }

  .box.created {
    padding-bottom: 2em;

    /* as quote margin */
  }
}

.tour__faq {
  padding: 4em var(---box-padding);
  display: none;

  @include mq-at-least-col2 {
    display: block;
  }

  h2 {
    margin: 1.5em 0 0.5em 0;
  }

  &__bots {
    @extend %box-neat, %flex-center-nowrap;
    gap: 2em;
    margin-bottom: 2em;
    background: $m-accent_bg--mix-10;
    padding: 1.5em;

    h2 {
      margin: 0em 0 0.5em 0;
    }

    img {
      aspect-ratio: 1 / 1;
      width: 8em;
    }
  }
}
