.tour__stats {
  @extend %box-neat;

  background: $c-bg-box;
  padding: 1.7em 0;
  align-self: flex-start;

  h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
  }

  table {
    margin: auto;
  }

  td {
    font-weight: bold;
    padding-left: 1em;
    text-align: right;
    line-height: 2em;
  }
}
