.team-battle {
  &__title {}
  &__list {
    a {
      display: block;
    }
  }
}
.team-battle__choice {

  a {
    display: block;
    margin-top: 1rem;
  }
}

.tour__standing team {
  @extend %box-radius;
  @include metal;
  padding: 1px 5px;
  font-size: .8em;
  border: 1px solid $c-brag;
  color: c-clearer($c-brag);
}
