@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.tour__team-info {
  .players {
    width: 100%;

    tr {
      cursor: pointer;

      @include mixins.transition(background-color);

      &:nth-child(odd) {
        background: theme.$c-bg-zebra;
      }

      &:hover {
        background: theme.$m-link_bg-box_mix_10;
      }
    }

    th,
    td {
      padding: 0.3em 1em;
    }

    td:last-child {
      text-align: right;
    }

    .rating {
      font-style: italic;
      font-size: 0.8em;
    }

    .leader {
      &::before {
        color: theme.$c-brag;
        margin-right: 0.15em;
      }
    }
  }
}
