@(u: User, activities: Vector[lila.activity.ActivityView], info: lila.app.mashup.UserInfo, social: lila.app.mashup.UserInfo.Social)(implicit ctx: Context)

@import lila.app.mashup.UserInfo.Angle

@evenMoreJs = {
@info.ratingChart.map { ratingChart =>
@jsTag("chart/ratingHistory.js")
@embedJsUnsafe(s"lichess.ratingHistoryChart($ratingChart);")
}
@if(isGranted(_.UserSpy)) { @jsAt("compiled/user-mod.js") }
}

@evenMoreCss = {
@cssTag("activity.css")
@if(isGranted(_.UserSpy)) { @cssTag("user-mod.css") }
}

@user.layout(
title =  s"${u.username} : ${trans.activity.activity.txt()}",
side = Some(side(u, info.ranks, none)),
evenMoreJs = evenMoreJs,
evenMoreCss = evenMoreCss) {
<div data-username="@u.username" class="content_box no_padding user_show">
  @header(u, info, Angle.Activity, social)
  <div class="angle_content">@views.html.activity(u, activities).toHtml</div>
</div>
}
