@(u: User)(implicit ctx: Context)

<div class="claim_title_zone">

  <h2 data-icon="C"> Congratulations for breaking the 2400 rating threshold!</h2>

  <p>
    To ensure honest players aren't falsely accused of cheating, we request titled players
    to identify themselves. Identification can be performed in a number of ways, and you can choose to remain anonymous.
  </p>

  <p>
    To confirm your title, <a class="blue" href="workinprogress">please fill in this form.</a>.
  </p>

  <p>
    If you need help or have any question, feel free to contact us by email at @contactEmailLink.
  </p>

  <p class="actions">
    <a class="gotit button text" href="@routes.Pref.saveTag(lidraughts.pref.Pref.Tag.verifyTitle, "1")" data-icon="E">Got it, thanks!</a>
    <a class="button" href="@routes.Pref.saveTag(lidraughts.pref.Pref.Tag.verifyTitle, "0")">I don't have an official title</a>
  </p>
</div>
