@(u: User, info: lila.app.mashup.UserInfo, games: Paginator[Game], filters: lila.app.mashup.GameFilterMenu, searchForm: Option[Form[_]], social: lila.app.mashup.UserInfo.Social)(implicit ctx: Context)

@import lila.app.mashup.UserInfo.Angle

@evenMoreJs = {
@if(filters.current.name == "search") {
@nonAsyncFlatpickrTag
@jsTag("search.js")
}
@if(!u.lame || ctx.is(u) || isGranted(_.UserSpy)) {
@info.ratingChart.map { ratingChart =>
@jsTag("chart/ratingHistory.js")
@embedJsUnsafe(s"lichess.ratingHistoryChart($ratingChart);")
}
}
}

@user.layout(
title =  s"${u.username} : ${userGameFilterTitleNoTag(u, info.nbs, filters.current)}${if(games.currentPage == 1) "" else " - page " + games.currentPage}",
side = Some(side(u, info.ranks, none)),
robots = false,
evenMoreJs = evenMoreJs,
openGraph = lila.app.ui.OpenGraph(
image = staticUrl("images/large_tile.png").some,
title = u.titleUsernameWithBestRating,
url = s"$netBaseUrl${routes.User.show(u.username).url}",
description = describeUser(u)).some) {
<div data-username="@u.username" class="content_box no_padding user_show">
  @header(u, info, Angle.Games(searchForm), social)
  <div class="angle_content">@gamesContent(u, info.nbs, games, filters, filters.current.name)</div>
</div>
}
