@(u: User, info: lila.app.mashup.UserInfo, games: Paginator[Game], filters: lila.app.mashup.GameFilterMenu, searchForm: Option[Form[_]], social: lila.app.mashup.UserInfo.Social)(implicit ctx: Context)

@import lila.app.mashup.UserInfo.Angle

@evenMoreJs = {
@if(!u.lame || ctx.is(u) || isGranted(_.UserSpy)) {
@if(filters.current.name == "search") {
@jsTag("search.js")
@jsTag("userShow.js")
}
@info.ratingChart.map { ratingChart =>
@jsTag("chart/ratingHistory.js")
@embedJs(s"lichess.ratingHistoryChart($ratingChart);")
}
}
}

@user.layout(
title =  s"${u.username} : ${userGameFilterTitleNoTag(info, filters.current)}${if(games.currentPage == 1) "" else " - page " + games.currentPage}",
side = side(u, info.ranks, none).some,
robots = false,
evenMoreJs = evenMoreJs,
openGraph = lila.app.ui.OpenGraph(
image = staticUrl("images/large_tile.png").some,
title = u.titleUsernameWithBestRating,
url = s"$netBaseUrl${routes.User.show(u.username).url}",
description = describeUser(u)).some) {
<div data-username="@u.username" class="content_box no_padding user_show angle_games @filters.current.name@if(ctx.is(u)){ myself}">
  @header(u, info, Angle.Games(searchForm), social)
  @if(u.hasGames || info.nbImported > 0 || info.nbBookmark > 0) {
  <div class="content_box_inter tabs" id="games">
    @filters.list.map { f =>
    <a class="intertab@{ (filters.current == f).??(" active") }" href="@routes.User.games(u.username, f.name)">
      @userGameFilterTitle(info, f)
    </a>
    }
  </div>
  @if(filters.current.name == "me") {
  @info.crosstable.map { c =>
  <div class="crosstable">@game.crosstable(c, none)</div>
  }
  }
  <div class="search_result">
    @views.html.user.games(u, games, filters.current.name)
  </div>
  }
</div>
}
