@(u: User, nbs: lila.app.mashup.UserInfo.NbGames, pager: Paginator[Game], filters: lila.app.mashup.GameFilterMenu, filterName: String)(implicit ctx: Context)

<div class="content_box_inter tabs" id="games">
  @filters.list.map { f =>
  <a class="intertab to_@f.name@if(filters.current == f){ active}" href="@routes.User.games(u.username, f.name)">
    @userGameFilterTitle(u, nbs, f)
  </a>
  }
</div>
@if(filters.current.name == "me") {
@nbs.crosstable.map { c =>
<div class="crosstable">@game.crosstable(c, none)</div>
}
}
<div class="search_result">

  @if(filterName == "search") {
    @if(pager.nbResults > 0) {
    <div class="search_status">
      <strong>@pager.nbResults.localize games found</strong> •
      <a class="permalink" rel="nofollow" href="@routes.User.games(u.username, filterName)">Permalink</a> •
    </div>
    <div class="search_infinitescroll">
      @pager.nextPage.map { n =>
      <div class="pager none"><a rel="next" href="@routes.User.games(u.username, filterName, n)">Next</a></div>
      }.getOrElse {
      <div class="none"></div>
      }
      @game.widgets(pager.currentPageResults, user = u.some, ownerLink = ctx is u).toHtml
    </div>
    } else {
    <div class="search_status">
      No game found -
      <a class="permalink" href="@routes.User.games(u.username, filterName)">Permalink</a>
    </div>
    }
  } else {
  <div class="games infinitescroll @if(filterName == "playing" && pager.nbResults > 2) {game_list playing center}">
    @pager.nextPage.map { np =>
    <div class="pager none"><a rel="next" href="@routes.User.games(u.username, filterName, np)">Next</a></div>
    }
    @if(filterName == "playing" && pager.nbResults > 2) {
    @pager.currentPageResults.flatMap{ Pov(_, u) }.map { p =>
    <div class="paginated">
      @gameFen(p)
      @game.bits.vstext(p)(ctx.some).toHtml
    </div>
    }
    } else {
    @game.widgets(pager.currentPageResults, user = u.some, ownerLink = ctx is u).toHtml
    }
  </div>
  }
</div>
