@(u: User, info: lila.app.mashup.UserInfo, angle: lila.app.mashup.UserInfo.Angle, social: lila.app.mashup.UserInfo.Social)(implicit ctx: Context)

@import lila.app.mashup.UserInfo.Angle
@import social._

<div class="content_box_top">
  <h1 class="lichess_title user_link @if(isOnline(u.id)){online}else{offline}">
    @if(u.isPatron) {
    <a href="@routes.Plan.index">@Html(patronIcon)</a>@userSpan(u, withPowerTip = false, withOnline = false)
    } else {
    @userSpan(u, withPowerTip = false)
    }
  </h1>
  <div class="trophies@if(info.countTrophiesAndPerfCups > 7){ packed}">
    @perfTrophies(u, info.ranks)
    @otherTrophies(u, info)
  </div>
  @if(u.plan.active) {
  <a href="@routes.Plan.index" class="trophy award patron icon3d hint--left" data-hint="Patron since @showDate(u.plan.sinceDate)">@patronIconChar</a>
  }
  @if(u.disabled) {
  <span class="closed">CLOSED</span>
  }
</div>
<div class="social content_box_inter">
  <div class="links">
    <a class="intertab" href="@routes.Relation.followers(u.username)">@splitNumber(trans.nbFollowers.pluralSame(info.nbFollowers))</a>
    @info.nbBlockers.map { nb =>
    <a class="intertab">@splitNumberUnsafe(nb + " Blockers")</a>
    }
    @if(u.noBot){<a href="@routes.UserTournament.path(u.username, "recent")" class="intertab tournament_stats" data-toints="@u.toints">@splitNumber(trans.nbTournamentPoints.pluralSame(u.toints))</a>}
    <a href="@routes.Study.byOwnerDefault(u.username)" class="intertab">@splitNumberUnsafe(info.nbStudies + " studies")</a>
    <a class="intertab" @NotForKids {
      href="@routes.ForumPost.search("user:" + u.username, 1)"
      }>@splitNumber(trans.nbForumPosts.pluralSame(info.nbPosts))</a>
    @NotForKids {
    @if(ctx.isAuth && !ctx.is(u)) {
    <a class="intertab note_zone_toggle">@splitNumberUnsafe(notes.size + " Notes")</a>
    }
    }
  </div>
  <div class="user_actions">
    @if(ctx is u) {
    <a class="button hint--top-left" href="@routes.Account.profile" data-hint="@trans.editProfile()">
      <span data-icon="%"></span>
    </a>
    <a class="button hint--top-left" href="@routes.Relation.blocks()" data-hint="@trans.listBlockedPlayers()">
      <span data-icon="k"></span>
    </a>
    }
    @if(isGranted(_.UserSpy)) {
    <a class="button mod_zone_toggle hint--top-left" href="@routes.User.mod(u.username)" data-hint="Mod zone"><span data-icon=""></span></a>
    }
    <a class="button hint--top-left" href="@routes.User.tv(u.username)" data-hint="@trans.watchGames()"><span data-icon="1"></span></a>
    @if(ctx.isAuth && !ctx.is(u)) {
    @views.html.relation.actions(u.id, relation = relation, followable = followable, blocked = blocked)
    @NotForKids {
    <a data-hint="@trans.reportXToModerators(u.username)" class="button hint--top-left" href="@routes.Report.form?username=@u.username">
      <span data-icon="!"></span>
    </a>
    }
    }
    @if(ctx is u) {
    <a class="button hint--top-left" href="@routes.Game.exportByUser(u.username)" data-hint="@trans.exportGames()"><span data-icon="x"></span></a>
    }
  </div>
</div>
@NotForKids {
@if(!(ctx is u)) {
<div class="note_zone">
  <form action="@routes.User.writeNote(u.username)?note" method="post">
    <textarea name="text" placeholder="Write a note about this user only you and your friends can read"></textarea>
    <button type="submit" class="button">@trans.send()</button>
    @if(isGranted(_.ModNote)) {
    <label style="margin-left: 1em;">
      <input type="checkbox" name="mod" checked="true" value="true" style="vertical-align: middle;"/>
      For moderators only
    </label>
    } else { <input type="hidden" name="mod" value="false" /> }
  </form>
  @if(notes.isEmpty) {
  <div>No note yet</div>
  }
  @notes.map { note =>
  <div>
    <p class="meta">
      @userIdLink(note.from.some)<br />@momentFromNow(note.date)
      @if(ctx.me.exists(note.isFrom) && !note.mod) {
        <br />
        <form action="@routes.User.deleteNote(note._id)" method="post">
          <button type="submit" class="thin confirm button text" style="float:right" data-icon="q">Delete</button>
        </form>
      }
    </p>
    <p class="text">@richText(note.text)</p>
  </div>
  }
</div>
}
}
@if((ctx is u) && u.perfs.bestStandardRating > 2400 && !u.hasTitle && !ctx.pref.hasSeenVerifyTitle ) {
@claimTitle(u)
}
@if(isGranted(_.UserSpy)) { <div class="mod_zone none"></div> }
@angle match {
case Angle.Games(Some(searchForm)) => { @search.user(u, searchForm) }
case _ => {
<div id="us_profile" class="@if(info.insightVisible){ with_insights}">
  @info.ratingChart.ifTrue(!u.lame || ctx.is(u) || isGranted(_.UserSpy)).map { ratingChart =>
  <div class="rating_history">
    @spinner
  </div>
  }.getOrElse {
  @if(ctx.is(u)) {
  @newPlayer(u)
  }
  }
  @defining(u.profileOrDefault) { profile =>
  <div class="user-infos scroll-shadow-hard">
    @if(!ctx.is(u)) {
    @if(u.engine) {
    <div class="warning engine_warning">
      <span data-icon="j" class="is4"></span>
      @trans.thisPlayerUsesChessComputerAssistance()
    </div>
    }
    @if(u.booster && (u.count.game > 0 || isGranted(_.Hunter))) {
    <div class="warning engine_warning">
      <span data-icon="j" class"is4"></span>
      @trans.thisPlayerArtificiallyIncreasesTheirRating()
      @if(u.count.game == 0) {
      Only visible to mods. A booster mark without any games is a way to
      prevent a player from ever playing (except against boosters/cheaters).
      It's useful against spambots. These marks are not visible to the public.
      }
    </div>
    }
    } else {
    @u.title.flatMap(lila.user.Title.names.get).map { title =>
    <p data-icon="E" class="honorific title text">@title</p>
    }
    }
    @NotForKids {
    @profile.nonEmptyRealName.map { name =>
    <strong class="name">@name</strong>
    }
    @profile.nonEmptyBio.ifTrue(!u.troll || ctx.is(u)).map { bio =>
    <p class="bio">@richText(shorten(bio, 400), nl2br=false)</p>
    }
    }
    <div class="stats">
      @profile.officialRating.map { r =>
      <div>@r.name.toUpperCase rating: <strong>@r.rating</strong></div>
      }
      @NotForKids {
      @profile.nonEmptyLocation.map { l =>
      <span class="location">@l</span>,
      }
      }
      @profile.countryInfo.map { c =>
      <span class="country"><img class="flag" src="@staticUrl(s"images/flags/${c.code}.png")" /> @c.name</span>
      }
      <p class="thin">@trans.memberSince() @showDate(u.createdAt)</p>
      @u.seenAt.map { seen =>
      <p class="thin">@trans.lastSeenActive(momentFromNow(seen))</p>
      }
      @info.completionRatePercent.map { c =>
      <p class="thin">@trans.gameCompletionRate(s"$c%")</p>
      }
      @if(ctx is u) {
      <a href="@routes.Account.profile" title="@trans.editProfile()">
        @trans.profileCompletion(s"${profile.completionPercent}%")
      </a>
      <br />
      <a href="@routes.User.opponents">@trans.favoriteOpponents()</a>
      }
      @info.playTime.map { playTime =>
      <br />
      <br />
      <p>@trans.tpTimeSpentPlaying(showPeriod(playTime.totalPeriod))</p>
      @playTime.nonEmptyTvPeriod.map { tvPeriod =>
      <p>@trans.tpTimeSpentOnTV(showPeriod(tvPeriod))</p>
      }
      }
      <div class="social_links col2">
        @profile.actualLinks.map { link =>
        <a href="@link.url" target="_blank" rel="no-follow">@link.site.name</a>
        }
      </div>
      <div class="teams col2">
        @info.teamIds.sorted.map { t =>
        @teamLink(t, withIcon = false)
        }
      </div>
    </div>
  </div>
  }
  @if(info.insightVisible) {
  <a class="insight" href="@routes.Insight.index(u.username)">
    <span class="icon" data-icon="7"></span>
    <strong>Chess Insights</strong>
    <em>Analytics from @if(ctx.is(u)){your}else{@u.username's} games</em>
  </a>
  }
</div>
}
}
<div class="content_box_inter angles tabs">
  <a data-tab="activity" class="intertab to_activity @if(angle == Angle.Activity){ active}" href="@routes.User.show(u.username)">@trans.activity.activity()</a>
  @defining(lila.app.mashup.GameFilter.All) { f =>
  <a data-tab="games" class="intertab to_games @if(angle.key == "games"){ active}" href="@routes.User.gamesAll(u.username)">
    @trans.nbGames.plural(info.user.count.game, info.user.count.game.localize)
    @if(info.nbs.playing > 0) {
    <span class="unread hint--top" data-hint="@trans.nbPlaying.plural(info.nbs.playing, info.nbs.playing.localize)">@info.nbs.playing</span>
    }
  </a>
  <span data-tab="other" class="intertab@if(angle == Angle.Other){ active}"></span>
  }
</div>
