@(u: User, info: lila.app.mashup.UserInfo)(implicit ctx: Context)

@defining(info.allTrophies.filter(_.kind.klass.has("fire_trophy"))) { fireTrophies =>
@if(fireTrophies.nonEmpty) {
<div class="stacked">
  @fireTrophies.sorted.map { trophy =>
  @trophy.kind.icon.map { iconChar =>
  <a @trophy.kind.url.map { url => href="@url" }
    class="trophy award @trophy.kind.key @trophy.kind.klass hint--left"
    data-hint="@trophy.kind.name">@Html(iconChar)</a>
  }
  }
</div>
}
}
@info.allTrophies.find(_.kind == lila.user.Trophy.Kind.ZugMiracle).map { t =>
<a @t.kind.url.map { url => href="@url" } class="trophy award @t.kind.key @t.kind.klass hint--left" data-hint="@t.kind.name">
  <img src="@staticUrl("images/trophy/zug-trophy.png")" height=80 />
</a>
}
@defining(info.allTrophies.filter(_.kind.klass.has("icon3d"))) { iconTrophies =>
@iconTrophies.sorted.map { trophy =>
@trophy.kind.icon.map { iconChar =>
<a @trophy.kind.url.map { url => href="@url" }
  class="trophy award @trophy.kind.key @trophy.kind.klass hint--left"
  data-hint="@trophy.kind.name">@Html(iconChar)</a>
}
}
}
@if(info.isCoach) {
<a href="@routes.Coach.show(u.username)"
  class="trophy award icon3d coach hint--left" data-hint="Lichess coach">:</a>
}
