@(u: User, info: lila.app.mashup.UserInfo)(implicit ctx: Context)

@import lila.user.Trophy.Kind

@defining(info.allTrophies.filter(_.kind.klass.has("fire_trophy"))) { fireTrophies =>
@if(fireTrophies.nonEmpty) {
<div class="stacked">
  @fireTrophies.sorted.map { trophy =>
  @trophy.kind.icon.map { iconChar =>
  <a @trophy.kind.url.map { url => href="@url" }
    class="trophy award @trophy.kind.key @trophy.kind.klass"
    title="@trophy.kind.name">@Html(iconChar)</a>
  }
  }
</div>
}
}
@info.shields.map { shield =>
<a
  class="shield_trophy combo_trophy"
  title="@shield.categ.name Shield"
  href="@routes.Tournament.shields">@shield.categ.iconChar</a>
}
@info.revolutions.map { revol =>
<a
  class="revol_trophy combo_trophy"
  title="@revol.variant.name Revolution"
  href="@routes.Tournament.show(revol.tourId)">@revol.iconChar</a>
}
@info.allTrophies.find(_.kind == Kind.ZugMiracle).map { t =>
<style type="text/css">
.user_show .trophy.zugMiracle {
  height: 80px;
  margin: 0 8px!important;
  transition: 2s;
}
@@keyframes psyche {
  100% { filter: hue-rotate(360deg); }
}
.user_show .trophy.zugMiracle:hover {
  transform: translateY(-9px);
  animation: psyche 0.3s ease-in-out infinite alternate;
}
</style>
<a @t.kind.url.map { url => href="@url" } class="trophy award @t.kind.key @t.kind.klass" title="@t.kind.name">
  <img src="@staticUrl("images/trophy/zug-trophy.png")" height=80 />
</a>
}
@info.allTrophies.filter(t => t.kind == Kind.ZHWC17 || t.kind == Kind.ZHWC18).map { t =>
<a @t.kind.url.map { url => href="@url" } class="trophy award @t.kind.key @t.kind.klass" title="@t.kind.name"
  style="width: 65px; height: 80px; margin: 0 3px!important;">
  <img src="@staticUrl(s"images/trophy/${t.kind.key}.png")" width=65 height=80 />
</a>
}
@info.allTrophies.filter(t => t.kind == Kind.AtomicWC16 || t.kind == Kind.AtomicWC17 || t.kind == Kind.AtomicWC18).map { t =>
<a @t.kind.url.map { url => href="@url" } class="trophy award @t.kind.key @t.kind.klass" title="@t.kind.name"
  style="width: 65px; height: 80px; margin: 0 3px!important;">
  <img src="@staticUrl(s"images/trophy/${t.kind.key}.png")" width=65 height=80 />
</a>
}
@defining(info.allTrophies.filter(_.kind.klass.has("icon3d"))) { iconTrophies =>
@iconTrophies.sorted.map { trophy =>
@trophy.kind.icon.map { iconChar =>
<a @trophy.kind.url.map { url => href="@url" }
  class="trophy award @trophy.kind.key @trophy.kind.klass"
  title="@trophy.kind.name">@Html(iconChar)</a>
}
}
}
@if(info.isCoach) {
<a href="@routes.Coach.show(u.username)"
  class="trophy award icon3d coach" title="Lichess Coach">:</a>
}
@if(info.isStreamer) {
<a href="@routes.Streamer.show(u.username)"
  class="trophy award icon3d streamer"
  title="@if(isStreaming(u.id)){Live now!}else{Lichess Streamer}"></a>
}
