@(u: User, rankMap: Option[lila.rating.UserRankMap])(implicit ctx: Context)

@import lila.rating.PerfType

@rankMap.ifFalse(u.lame).map { ranks =>
@ranks.toList.sortBy(_._2).map {
case (perf, rank) if rank == 1 => {
<span class="trophy perf" title="@PerfType.name(perf) Champion!">
  <img src="@staticUrl("images/trophy/Big-Gold-Cup.png")" height=80 />
</span>
}
case (perf, rank) if rank <= 10 => {
<span class="trophy perf" title="@PerfType.name(perf) Top 10!">
  <img src="@staticUrl("images/trophy/Big-Silver-Cup.png")" height=80 />
</span>
}
case (perf, rank) if rank <= 50 => {
<span class="trophy perf" title="@PerfType.name(perf) Top 50 player!">
  <img src="@staticUrl("images/trophy/Fancy-Gold.png")" height=80 />
</span>
}
case (perf, rank) if rank <= 100 => {
<span class="trophy perf" title="@PerfType.name(perf) Top 100 player!">
  <img src="@staticUrl("images/trophy/Gold-Cup.png")" height=80 />
</span>
}
case _ => {}
}
}
