@(u: User, rankMap: lidraughts.rating.UserRankMap, active: Option[lidraughts.rating.PerfType])(implicit ctx: Context)

@import lidraughts.rating.PerfType

@showPerf(perf: lidraughts.rating.Perf, perfType: PerfType, name: Option[String] = none) = {
<a data-icon="@perfType.iconChar"
  title="@perfType.title"
  @if(lidraughts.rating.PerfType.isGame(perfType)) {
  href="@routes.User.perfStat(u.username, perfType.key)"
  class="game@if(active.contains(perfType)){ active}@if(perf.isEmpty){ empty}"
  } else {
  class="@if(perf.isEmpty){empty}"
  }>
  <h3>@name.getOrElse(perfType.name).toUpperCase</h3>
  <span class="rating">
    <strong>@perf.glicko.intRating@if(perf.provisional){?}</strong>
    <span>@if(perfType.key == "puzzle") {@trans.nbPuzzles(perf.nb, perf.nb.localize)} else {@trans.nbGames(perf.nb, perf.nb.localize)}</span>
    @showProgress(perf.progress, withTitle = false)
  </span>
  <span class="rank" title="@trans.rankIsUpdatedEveryXMinutes(15)">
    @rankMap.get(perfType.key).map { rank =>
    @trans.rankX(rank.localize)
    }
  </span>
  @if(lidraughts.rating.PerfType.isGame(perfType)) {
  <i data-icon="G"></i>
  }
</a>
}

@showNonEmptyPerf(perf: lidraughts.rating.Perf, perfType: PerfType) = {
  @if(perf.nonEmpty) {@showPerf(perf, perfType)}
}

<div class="side sub_ratings">
  @if(!u.lame || ctx.is(u) || isGranted(_.UserSpy)) {
  @showNonEmptyPerf(u.perfs.ultraBullet, PerfType.UltraBullet)
  @showPerf(u.perfs.bullet, PerfType.Bullet)
  @showPerf(u.perfs.blitz, PerfType.Blitz)
  @showPerf(u.perfs.rapid, PerfType.Rapid)
  @showPerf(u.perfs.classical, PerfType.Classical)
  @showPerf(u.perfs.correspondence, PerfType.Correspondence)
  <br />
  @showNonEmptyPerf(u.perfs.frisian, PerfType.Frisian)
  @showNonEmptyPerf(u.perfs.antidraughts, PerfType.Antidraughts)
  <br />
  @showPerf(u.perfs.puzzle, PerfType.Puzzle)
  }
</div>
