.analyse-controls {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1.3rem;
  & button {
    @extend %fbt, %box-radius-bottom;
  }
  & .hidden {
    visibility: hidden;
  }
  & .features {
    white-space: nowrap; /* safari */
  }
  & .jumps {
    display: flex;
    & button {
      flex: 1 1 30%;
      &:first-child,
      &:last-child {
        flex: 1 1 20%;
        font-size: .7em;
      }
    }
  }
}
