i.practice {
  background: img-url('practice/help.svg');
  background-size: cover;
}

[class='ptQ1LLvm'] {
  background-image: img-url('practice/backstab.svg');
}

[class='E1lqtqFt'] {
  background-image: img-url('practice/arrowed.svg');
}

[class='xebrDvFe'] {
  background-image: img-url('practice/key.svg');
}

[class='A4ujYOer'] {
  background-image: img-url('practice/push.svg');
}

[class='9ogFv8Ac'] {
  background-image: img-url('practice/voodoo-doll.svg');
}

[class='Qj281y1p'] {
  background-image: img-url('practice/trident.svg');
}

[class='tuoBxVE5'] {
  background-image: img-url('practice/pierced-body.svg');
}

[class='BJy6fEDf'] {
  background-image: img-url('practice/stone-pile.svg');
}

[class='Rg2cMBZ6'] {
  background-image: img-url('practice/stone-spear.svg');
}

[class='fE4k21MW'] {
  background-image: img-url('practice/pocket-bow.svg');
}

[class='8yadFPpU'] {
  background-image: img-url('practice/sword-in-stone.svg');
}

[class='PDkQDt6u'] {
  background-image: img-url('practice/catapult.svg');
}

[class='96Lij7wH'] {
  background-image: img-url('practice/musket.svg');
}

[class='o734CNqp'] {
  background-image: img-url('practice/breaking-chain.svg');
}

[class='9cKgYrHb'] {
  background-image: img-url('practice/cement-shoes.svg');
}

[class='MnsJEWnI'] {
  background-image: img-url('practice/boxing-glove-surprise.svg');
}

[class='ITWY4GN2'] {
  background-image: img-url('practice/two-shadows.svg');
}

[class='lyVYjhPG'] {
  background-image: img-url('practice/skeletal-hand.svg');
}

[class='s5pLU7Of'] {
  background-image: img-url('practice/trojan-horse.svg');
}

[class='kdKpaYLW'] {
  background-image: img-url('practice/divert.svg');
}

[class='jOZejFWk'] {
  background-image: img-url('practice/magnet.svg');
}

[class='49fDW0wP'] {
  background-image: img-url('practice/upgrade.svg');
}

[class='0YcGiH4Y'] {
  background-image: img-url('practice/quicksand.svg');
}

[class='CgjKPvxQ'] {
  background-image: img-url('practice/back-forth.svg');
}

[class='udx042D6'] {
  background-image: img-url('practice/mining.svg');
}

[class='Grmtwuft'] {
  background-image: img-url('practice/detour.svg');
}

[class='g1fxVZu9'] {
  background-image: img-url('practice/bolt-shield.svg');
}

[class='RUQASaZm'] {
  background-image: img-url('practice/rogue.svg');
}

[class='9c6GrCTk'] {
  background-image: img-url('practice/siege-tower.svg');
}

[class='ByhlXnmM'] {
  background-image: img-url('practice/ghost-ally.svg');
}

[class='pt20yRkT'] {
  background-image: img-url('practice/stone-tower.svg');
}

[class='MkDViieT'] {
  background-image: img-url('practice/guarded-tower.svg');
}

[class='pqUSUw8Y'] {
  background-image: img-url('practice/siege-tower.svg');
}

[class='heQDnvq7'] {
  background-image: img-url('practice/locked-fortress.svg');
}

[class='wS23j5Tm'] {
  background-image: img-url('practice/tower-fall.svg');
}
