@(scoreOption: Option[lila.coordinate.Score])(implicit ctx: Context)

@moreCss = {
@cssTag("training.css")
@cssTag("coordinate.css")
}

@moreJs = {
@jsTag("vendor/sparkline.min.js")
@jsTagCompiled("coordinate.js")
}

@base.layout(
title = "Coordinate training",
moreCss = moreCss,
moreJs = moreJs,
active = siteMenu.puzzle.some,
themepicker = true) {
<div id="trainer" class="training init"
  data-color-pref="@ctx.pref.coordColorName"
  data-color-url="@routes.Coordinate.color()"
  @if(ctx.isAuth) { data-score-url="@routes.Coordinate.score()" }>
  <div class="boards">
    <div class="white">@board.white()</div>
    <div class="black">@board.black()</div>
  </div>
  <div class="side">
    <div class="box">
      <h1>@trans.training()</h1>
      <div class="tabs buttons">
        <a href="@routes.Puzzle.home()" class="button">Puzzle</a>
        <a href="@routes.Coordinate.home()" class="button active">Coordinate</a>
      </div>
      @if(ctx.isAuth) {
      @scoreOption.map { score =>
      <div class="scores">
        @scoreCharts(score)
      </div>
      }
      } else {
      <div class="register">
        <p>@trans.toTrackYourProgress()</p>
        <p class="signup">
          <a class="button" href="@routes.Auth.signup">@trans.signUp()</a>
        </p>
      </div>
      }
    </div>
    <form class="color buttons" action="@routes.Coordinate.color" method="POST">
      @lila.pref.Pref.Color.choices.map {
      case (id, name) => {
      <input type="radio" id="coord_color_@id" name="coord_color" value="@id"
      @(if(id == ctx.pref.coordColor) "checked" else "") />
      <label for="coord_color_@id">@name</label>
      }
      }
    </form>
  </div>
  <div class="right">
    <div class="explanation">
      <p>Knowing the chessboard coordinates is a very important chess skill:</p>
      <ul>
        <li>Most chess courses and exercises use the algebraic notation extensively.</li>
        <li>It makes it easier to talk to your chess friends, since you both understand the “language of chess.”</li>
        <li>You can analyse a game more effectively if you don’t need to search for square names.</li>
      </ul>
      <br />
      <p>A square name appears next to the board and you must click on the correct square.</p>
      <p>You have 30 seconds to recognize as many squares as possible!</p>
    </div>
    <div class="coord"></div>
    <button class="start button">@trans.startTraining()</button>
  </div>
  <div class="progress_bar_container"><div class="progress_bar"></div></div>
  <div class="score_container"><strong class="score">0</strong></div>
</div>
}
