@(scoreOption: Option[lila.coordinate.Score])(implicit ctx: Context)

@moreCss = {
@cssTag("training.css")
@cssTag("coordinate.css")
}

@moreJs = {
@jsTag("vendor/sparkline.min.js")
@jsTagCompiled("coordinate.js")
}

@base.layout(
title = "Coordinate training",
moreCss = moreCss,
moreJs = moreJs,
active = siteMenu.puzzle.some,
themepicker = true) {
<div id="trainer" class="training init"
  data-color-pref="@ctx.pref.coordColorName"
  data-color-url="@routes.Coordinate.color()"
  @if(ctx.isAuth) { data-score-url="@routes.Coordinate.score()" }>
  <div class="boards">
    <div class="white">@board.white()</div>
    <div class="black">@board.black()</div>
  </div>
  <div class="side">
    <div class="box">
      <h1>@trans.training()</h1>
      <div class="tabs buttons">
        <a href="@routes.Puzzle.home()" class="button">@trans.puzzles()</a>
        <a href="@routes.Coordinate.home()" class="button active">@trans.coordinates()</a>
      </div>
      @scoreOption.map { score =>
      <div class="scores">
        @scoreCharts(score)
      </div>
      }
    </div>
    <form class="color buttons" action="@routes.Coordinate.color" method="POST">
      @lila.pref.Pref.Color.choices.map {
      case (id, name) => {
      <button type="submit" name="color" value="@id"
        @if(id == ctx.pref.coordColor) { class="ui-state-active" disabled }>@name</button>
      }
      }
    </form>
  </div>
  <div class="right">
    <div class="coord"></div>
    <button class="start button">@trans.startTraining()</button>
  </div>
  <div class="progress_bar_container"><div class="progress_bar"></div></div>
  <div class="score_container"><strong class="score">0</strong></div>
</div>
}
