@(scoreOption: Option[lila.coordinate.Score])(implicit ctx: Context)

@import lila.pref.Pref.Color

@moreCss = {
@cssTag("training.css")
@cssTag("coordinate.css")
}

@moreJs = {
@jsTag("vendor/sparkline.min.js")
@jsTagCompiled("coordinate.js")
}

@base.layout(
title = "Coordinate training",
moreCss = moreCss,
moreJs = moreJs,
openGraph = lila.app.ui.OpenGraph(
title = "Chess board coordinates trainer",
url = s"$netBaseUrl${routes.Coordinate.home.url}",
description = "Knowing the chessboard coordinates is a very important chess skill. A square name appears on the board and you must click on the correct square.").some) {
<div id="trainer" class="training init"
  data-color-pref="@ctx.pref.coordColorName"
  @if(ctx.isAuth) { data-score-url="@routes.Coordinate.score()" }>
  <div class="overlay_container">
    <div class="next_coord" id="next_coord0"></div>
    <div class="next_coord" id="next_coord1"></div>
    <div class="next_coord" id="next_coord2"></div>
    <div class="score_container"><strong class="score">0</strong></div>
  </div>
  <div class="side">
    <div class="box">
      <h1>@trans.coordinates()</h1>
      @if(ctx.isAuth) {
      @scoreOption.map { score =>
      <div class="scores">
        @scoreCharts(score)
      </div>
      }
      } else {
      <div class="register">
        <p>@trans.toTrackYourProgress()</p>
        <p class="signup">
          <a class="button" href="@routes.Auth.signup">@trans.signUp()</a>
        </p>
      </div>
      }
    </div>
    <form class="color buttons" action="@routes.Coordinate.color">
      <group class="radio">
      @List(Color.BLACK, Color.RANDOM, Color.WHITE).map { id =>
      <div>
        <input type="radio" id="coord_color_@id" name="coord_color" value="@id"
        @(if(id == ctx.pref.coordColor) "checked" else "") />
        <label for="coord_color_@id" class="color color_@id">
          <i></i>
        </label>
      </div>
      }
      </group>
    </form>
  </div>
  <div class="board_and_ground">
    <div class="boards">
      <div class="white board cg-512"></div>
      <div class="black board cg-512"></div>
    </div>
    <div class="right">
      <div class="explanation">
        <p>Knowing the chessboard coordinates is a very important chess skill:</p>
        <ul>
          <li>Most chess courses and exercises use the algebraic notation extensively.</li>
          <li>It makes it easier to talk to your chess friends, since you both understand the “language of chess”.</li>
          <li>You can analyse a game more effectively if you don’t need to search for square names.</li>
        </ul>
        <br />
        <p>A square name appears on the board and you must click on the correct square.</p>
        <p>You have 30 seconds to recognize as many squares as possible!</p>
      </div>
      <button class="start button">@trans.startTraining()</button>
    </div>
  </div>
  <div class="progress_bar_container"><div class="progress_bar"></div></div>
</div>
}
