.fide-players {
  a {
    font-weight: bold;
  }
  &__search {
    &-form {
      flex: 2 1 auto;
      display: flex;

      input {
        @extend %box-radius-left;

        flex: 1 1 100%;
        // height: $top-height;
        font-size: 1.1em;

        @media (min-width: at-least($xx-small)) {
          font-size: 1.2em;
        }
      }

      .button {
        @extend %box-radius-right;

        padding: 0 1.5em;
        border-inline-start: 0;
      }
    }
  }
}

.fide-players-table {
  tr td {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .fide-players__photo,
  .fide-player-photo--fallback {
    @extend %box-radius;
    width: 50px;
    height: 50px;
  }
  .fide-player-photo--fallback {
    opacity: 0.5;
  }
  .player-intro {
    @extend %flex-center-nowrap;
    gap: 1em;
    &__photo {
      line-height: 0;
    }
    &__info {
      @extend %flex-column;
      gap: 0.2em;
    }
    &__name {
      color: $c-font;
      font-size: 1.1em;
    }
    &__fed {
      @extend %flex-center-nowrap, %roboto;
      font-size: 0.9em;
      gap: 0.5em;
      .flag {
        height: 1.2em;
        width: 1.2em;
      }
    }
  }
}
.fide-players-table--sortable {
  th {
    padding: 0;
    a {
      color: $c-font-dim;
      font-weight: normal;
      padding: 0.5em 0.8em;
      &:hover {
        color: $c-brag;
      }
      &.active {
        font-weight: bold;
        color: $c-brag;
        background: $m-brag--fade-85;
      }
    }
  }
}
