@import 'table';

.fide-players {
  a {
    font-weight: bold;
  }
  &__search {
    &-form {
      flex: 2 1 auto;
      display: flex;

      input {
        @extend %box-radius-left;

        flex: 1 1 100%;
        // height: $top-height;
        font-size: 1.1em;

        @media (min-width: at-least($xx-small)) {
          font-size: 1.2em;
        }
      }

      .button {
        @extend %box-radius-right;

        padding: 0 1.5em;
        border-inline-start: 0;
      }
    }
  }
}

.fide-players-table--sortable {
  th {
    padding: 0;
    a {
      color: $c-font-dim;
      font-weight: normal;
      padding: 0.5em 0.8em;
      &:hover {
        color: $c-brag;
      }
      &.active {
        font-weight: bold;
        color: $c-brag;
        background: $m-brag--fade-85;
      }
    }
  }
}
