.learn__table {
  align-self: center;

  .wrap {
    @extend %box-neat, %box-radius-force;
  }

  .title {
    display: flex;
    background: $c-primary;
    color: $c-primary-over;

    h2,
    h3 {
      font-size: 2.3em;
      margin: 15px 0 5px -3px;
      white-space: nowrap;
    }

    img {
      width: 80px;
      height: 80px;
      margin: 5px 8px 5px 5px;
    }
  }

  .subtitle {
    margin-bottom: 1em;
  }

  .goal {
    @extend %flex-center;

    background: $c-bg-box;
    border: $border;
    border-top: none;
    padding: $block-gap;
    text-align: center;
    justify-content: center;
  }

  .result {
    @extend %flex-center;

    justify-content: center;
    flex-flow: column nowrap;
    border: $border;
    border-top: none;
    text-align: center;
    cursor: pointer;

    @include transition;

    min-height: 135px;
    padding: 0;
    font-size: 1.7em;

    @keyframes shadow-glow {
      50% {
        box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.05);
      }
    }

    @keyframes text-shadow-glow {
      50% {
        text-shadow: 0 0 10px #fff;
        transform: scale(1.05);
      }
    }

    h2 {
      animation: text-shadow-glow 1s 1;
    }

    &.failed h2,
    &.next h2 {
      margin-top: 15px;
    }

    &:hover {
      filter: brightness(1.1);
    }

    .stars {
      margin-top: 4px;
    }

    .stars i {
      margin: 3px;
      animation: text-shadow-glow 1s 1;
    }

    button {
      margin: 15px auto 15px auto;
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      background: #fff;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
      animation: shadow-glow 1s infinite;
    }

    &.completed {
      background: $c-good;
      color: $c-good-over;
    }

    &.completed button {
      color: $c-good;
    }

    &.failed {
      background: $c-bad;
      color: $c-bad-over;
    }

    &.failed button {
      color: $c-bad;
    }

    @keyframes go-home {
      from {
        opacity: 1;
      }

      to {
        opacity: 0.1;
      }
    }

    &.completed:not(.no-go-home) piece {
      animation: 0.7s ease-in-out 0.7s go-home;
    }
  }

  .progress {
    @extend %flex-center-nowrap;

    text-align: center;
    border: $border;
    border-top: 0;

    a {
      @extend %flex-center;

      align-content: center;
      flex: 1 1 100%;
      text-align: center;
      background: $c-bg-high;
      height: 3em;
      font-size: 0.9em;
      border-left: $border;
      opacity: 0.8;

      @include transition;
    }

    a:first-child {
      border-left: 0;
    }

    a:hover {
      opacity: 1;
    }

    a span {
      margin: auto;
    }

    .st3 i:first-child {
      display: block;
    }

    a.done {
      color: $c-good-over;
      background: $c-good;
    }

    a.active {
      opacity: 1;
      color: $c-primary-over;
      background: $c-primary;
    }
  }
}
