@(u: User, emails: User.Emails, erased: User.Erased)(implicit ctx: Context)

<div id="mz_actions">
  @if(isGranted(_.UserEvaluate)) {
  <form method="post" action="@routes.Mod.spontaneousInquiry(u.username)" data-hint="Start an inquiry" class="hint--bottom">
    <button class="button inquiry" type="submit"><i></i></button>
  </form>
  <form method="post" action="@routes.Mod.refreshUserAssess(u.username)" data-hint="Collect data and analyze if the user is suspicious." class="hint--bottom xhr">
    <input class="button" type="submit" value="Evaluate" />
  </form>
  @if(isGranted(_.Shadowban)) {
  <a class="button hint--bottom" href="@routes.Mod.communicationPublic(u.id)" data-hint="View communications">Comms</a>
  }
  <form method="post" action="@routes.Mod.notifySlack(u.id)" data-hint="Notify slack #tavern" class="hint--bottom xhr">
    <input class="button" type="submit" value="Slack" />
  </form>
  •
  }
  @if(isGranted(_.MarkEngine)) {
  <form method="post" action="@routes.Mod.engine(u.username, !u.engine)" data-hint="This user is clearly cheating." class="hint--bottom xhr">
    <input class="button@when(u.engine, " active")" type="submit" value="Engine" />
  </form>
  }
  @if(isGranted(_.MarkBooster)) {
  <form method="post" action="@routes.Mod.booster(u.username, !u.booster)" data-hint="Marks the user as a booster or sandbagger." class="hint--bottom xhr">
    <input class="button@when(u.booster, " active")" type="submit" value="Booster" />
  </form>
  }
  @if(isGranted(_.Shadowban)) {
  <form method="post" action="@routes.Mod.troll(u.username, !u.troll)" data-hint="@if(u.troll){En}else{Dis}able communication features for this user." class="hint--bottom xhr">
    <input class="button@when(u.troll, " active")" type="submit" value="Shadowban" />
  </form>
  @if(u.troll) {
  <form method="post" action="@routes.Mod.deletePmsAndChats(u.username)" data-hint="Delete all PMs and public chat messages" class="hint--bottom xhr">
    <input class="button confirm" type="submit" value="Clear PMs & chats" />
  </form>
  }
  }
  @if(isGranted(_.IpBan)) {
  <form method="post" action="@routes.Mod.ban(u.username, !u.ipBan)" class="hint--bottom-left xhr">
    <input class="button@when(u.ipBan, " active")" type="submit" value="IP ban" />
  </form>
  }
  @if(u.totpSecret.isDefined && isGranted(_.DisableTwoFactor)) {
  <form method="post" action="@routes.Mod.disableTwoFactor(u.username)" data-hint="Disables two-factor authentication for this account." class="hint--bottom-left xhr">
    <input class="button confirm" type="submit" value="Disable 2FA" />
  </form>
  }
  @if(u.enabled) {
  @if(isGranted(_.CloseAccount)) {
  <form method="post" action="@routes.Mod.closeAccount(u.username)" data-hint="Disables this account." class="hint--bottom-left xhr">
    <input class="button" type="submit" value="Close" />
  </form>
  }
  } else {
  @if(erased.value) {
  Erased
  } else {
  @if(isGranted(_.ReopenAccount)) {
  <form method="post" action="@routes.Mod.reopenAccount(u.username)" data-hint="Re-activates this account." class="hint--bottom-left xhr">
    <input type="submit" class="button active" value="Closed" />
  </form>
  }
  }
  }
  <div class="second_mod_button_row">
    @if(isGranted(_.RemoveRanking)) {
    <form method="post" action="@routes.Mod.rankban(u.username, !u.rankban)" data-hint="@if(u.rankban){In}else{Ex}cludes this user @if(u.rankban){from}else{in} the rankings." class="hint--bottom-left xhr">
      <input class="button@when(u.rankban, " active")" type="submit" value="Ban from ranking" />
    </form>
    }
    @if(isGranted(_.ReportBan)) {
    <form method="post" action="@routes.Mod.reportban(u.username, !u.reportban)" data-hint="@if(u.reportban){En}else{Dis}able the report feature for this user." class="hint--bottom-left xhr">
      <input class="button@when(u.reportban, " active")" type="submit" value="Reportban" />
    </form>
    }
    @if(isGranted(_.Impersonate)) {
    <form method="post" action="@routes.Mod.impersonate(u.username)">
      <input class="button" type="submit" value="Impersonate" />
    </form>
    }
  </div>
  @if(isGranted(_.SetTitle)) {
  <form class="fide_title" method="post" action="@routes.Mod.setTitle(u.username)">
    @base.form.select(lila.user.DataForm.title.fill(u.title.map(_.value))("title"), lila.user.Title.all, "No title".some)
  </form>
  }
  @if(isGranted(_.SetEmail)) {
  <form class="email" method="post" action="@routes.Mod.setEmail(u.username)">
    <input type="email" value="@emails.current" name="email" placeholder="Email address" />
    <button type="submit" class="thin button" data-icon="E"></button>
  </form>
  @emails.previous.map { email =>
  Previously @email
  }
  }
</div>
