@(pag: lila.evaluation.PlayerAggregateAssessment.WithGames)(implicit ctx: Context)

@import lila.evaluation.Display

<div id="mz_assessments">
  @pag.pag.sfAvgBlurs.map { blursYes =>
  <p class="text" data-icon="j">ACPL in games with blurs is <strong>@blursYes</strong>
    @pag.pag.sfAvgNoBlurs.map { blursNo =>
    against <strong>@blursNo</strong> in games without blurs.
    }
  </p>
  }
  @pag.pag.sfAvgLowVar.map { lowVar =>
  <p class="text" data-icon="j">ACPL in games with consistent move times is <strong>@lowVar</strong>
    @pag.pag.sfAvgHighVar.map { highVar =>
    against <strong>@highVar</strong> in games with random move times.
    }
  </p>
  }
  @pag.pag.sfAvgHold.map { holdYes =>
  <p class="text" data-icon="j">ACPL in games with bot signature <strong>@holdYes</strong>
    @pag.pag.sfAvgNoHold.map { holdNo =>
    against <strong>@holdNo</strong> in games without bot signature.
    }
  </p>
  }
  <table class="slist">
    <thead>
      <tr>
        <th>Opponent</th>
        <th>Game</th>
        <th>
          Centi-Pawn
          <br>(Avg ± SD)
        </th>
        <th>
          Move Times
          <br>(Avg ± SD)
        </th>
        <th><span data-hint="The frequency of which the user leaves the game page." class="hint--top-left">Blurs</span></th>
        <th><span data-hint="Bot detection using grid click analysis." class="hint--top-left">Bot</span></th>
        <th><span class="hint--top-left" data-hint="Aggregate match">&Sigma;</span></th>
      </tr>
    </thead>
    <tbody>
      @pag.pag.playerAssessments.sortBy(-_.assessment.id).take(15).map { result =>
      <tr>
        <td>
          <a href="@routes.Round.watcher(result.gameId, result.color.name)">
            @pag.pov(result).fold{
            @result.gameId
            } { p =>
            @playerLink(p.opponent, withRating = true, withDiff = true, withOnline = false, link = false)
            }
          </a>
        </td>
        <td>
          @pag.pov(result).map { p =>
          <a href="@routes.Round.watcher(p.gameId, p.color.name)">
            @if(p.game.isTournament) {
            <span data-icon="g"></span>
            }
            @p.game.perfType.map { pt =>
            <span data-icon="@pt.iconChar"></span>
            }
            @shortClockName(p.game.clock.map(_.config))
          </a>
          }
        </td>
        <td>
          <span class="sig sig_@(Display.stockfishSig(result))" data-icon="J"></span>
          @result.sfAvg ± @result.sfSd
        </td>
        <td>
          <span class="sig sig_@(Display.moveTimeSig(result))" data-icon="J"></span>
          @(result.mtAvg/10) ± @(result.mtSd/10)
          @if(~result.mtStreak){<br>STREAK}
        </td>
        <td>
          <span class="sig sig_@(Display.blurSig(result))" data-icon="J"></span>
          @(result.blurs)%
          @if(~result.blurStreak >= 8){<br>STREAK @result.blurStreak/12}
        </td>
        <td>
          <span class="sig sig_@(Display.holdSig(result))" data-icon="J"></span>
          @if(result.hold){Yes} else {No}
        </td>
        <td>
          <div class="aggregate hint--top-left">
            <span class="sig sig_@(result.assessment.id)">@result.assessment.emoticon</span>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
