@(u: User, spy: lila.security.UserSpy)(implicit ctx: Context)

<div id="mz_identification">
  <div class="spy_ips">
    <strong>@spy.ips.size IP addresses</strong> <ul>@spy.ipsByLocations.map {
      case (location, ips) => {
      <li>
        <p>@location</p>
        <ul>
          @ips.map { ip =>
          <li class="ip">
            <a class="address @if(ip.blocked){blocked}" href="@{routes.Mod.search}?q=@ip.ip.value">
              <ip>@ip.ip.value.value</ip> @momentFromNowOnce(ip.ip.date).toHtml
            </a>
          </li>
          }
        </ul>
      </li>
      }
      }
    </ul>
  </div>
  <div class="spy_uas">
    <strong>@spy.uas.size User agent(s)</strong> <ul>@spy.uas.sorted.map { ua =>
      <li>
        @ua.value @momentFromNowOnce(ua.date).toHtml
      </li>
      }</ul>
  </div>
  <div class="spy_fps">
    <strong>@pluralize("Fingerprint", spy.prints.size)</strong> <ul>@spy.prints.sorted.map { fp =>
      <li>
        <a href="@{routes.Mod.search}?q=@{java.net.URLEncoder.encode(fp.value.value, "US-ASCII")}">
          @fp.value.value @momentFromNowOnce(fp.date).toHtml
        </a>
      </li>
      }
    </ul>
  </div>
</div>
