@(u: User)(implicit ctx: Context)
<div id="mz_menu">
  <div class="inner">
    <a href="#mz_actions">Actions</a>
    @if(canViewRoles(u)) { <a href="#mz_roles">Roles</a> }
    <a href="#mz_irwin">Irwin</a>
    <a href="#mz_assessments">Evaluations</a>
    <a class="mz_plan" href="#mz_plan">Patron</a>
    <a href="#mz_mod_log">Mod log</a>
    <a href="#mz_reports_out">Reports sent</a>
    <a href="#mz_reports_in">Reports received</a>
    <a href="#mz_others">Accounts</a>
    <a href="#mz_identification">Identification</a>
    <a href="#us_profile">Profile</a>
  </div>
</div>
