@(u: User, spy: lila.security.UserSpy, notes: List[lila.user.Note], bans: Map[String, Int])(implicit ctx: Context)

<div id="mz_others">
  <table class="slist">
    <thead>
      <tr>
        <th>@spy.otherUsers.size similar user(s)</th>
        <th>Same</th>
        <th data-sort-method="number">Games</th>
        <th>Status</th>
        <th data-sort-method="number">Created</th>
        <th data-sort-method="number">Active</th>
      </tr>
    </thead>
    <tbody>
      @spy.withMeSorted(u).map {
      case lila.security.UserSpy.OtherUser(o, byIp, byFp) => {
      <tr @if(o == u){class="same"}>
        <td data-sort="@o.id">@userLink(o, withBestRating = true, params = "?mod").toHtml</td>
        <td>
          @if(o == u) { - } else {
          @List(byIp option "IP", byFp option "Print").flatten.mkString(", ")
          }
        </td>
        <td data-sort="@o.count.game">@o.count.game.localize</td>
        <td class="i">
          @defining(notes.filter(_.to == o.id)) { ns =>
          @if(ns.nonEmpty) {
          <a href="@routes.User.show(o.username)?notes"><i title="Notes from @ns.map(_.from).map(usernameOrId).mkString(", ")" data-icon="m" class="is-green"></i>@ns.size</a>
          }
          }
          @views.html.user.mod2.userMarks(o, bans.get(o.id)).toHtml
        </td>
        <td data-sort="@o.createdAt.getMillis">@momentFromNowOnce(o.createdAt).toHtml</td>
        <td data-sort="@o.seenAt.map(_.getMillis)">@o.seenAt.map(momentFromNowOnce).map(_.toHtml)</td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>
