@(u: User, charges: List[lila.plan.Charge])(implicit ctx: Context)

@charges.headOption.map { firstCharge =>
<div id="mz_plan">
  <strong class="text" data-icon="@patronIconChar">
    Patron payments
    @if(isGranted(_.PayPal)) {
    @firstCharge.payPal.flatMap(_.subId).map { subId =>
    - <a href="https://www.paypal.com/fr/cgi-bin/webscr?cmd=_profile-recurring-payments&encrypted_profile_id=@subId">[PayPal sub]</a>
    }
    }
  </strong>
  <ul>
    @charges.map { c =>
    <li>@c.cents.usd with @c.serviceName on @absClientDateTime(c.date).toHtml</li>
    }
  </ul>
  <br>
</div>
}
