@(u: User, reports: lila.report.Report.ByAndAbout)(implicit ctx: Context)

<div id="mz_reports_out" class="mz_reports">
  <strong class="text" data-icon="!">Reports sent by @u.username@if(reports.by.isEmpty){: nothing to show.}</strong>
  @if(reports.by.nonEmpty) {
  @reports.by.map { r =>
  @r.atomBy(lila.report.ReporterId(u.id)).map { atom =>
  <form action="@routes.Report.inquiry(r.id)" method="post">
    <button type="submit">@reportScore(r.score) <strong>@r.reason.name</strong></button>
    @userIdLink(r.user.some).toHtml, @momentFromNowOnce(atom.at): @shorten(atom.text, 200)
  </form>
  }
  }
  }
</div>
<div id="mz_reports_in" class="mz_reports">
  <strong class="text" data-icon="!">Reports concerning @u.username@if(reports.about.isEmpty){: nothing to show.}</strong>
  @if(reports.about.nonEmpty) {
  @reports.about.map { r =>
  <form action="@routes.Report.inquiry(r.id)" method="post">
    <button type="submit">@reportScore(r.score) <strong>@r.reason.name</strong></button>
    <div class="atoms">
      @r.bestAtoms(3).map { atom =>
      <div class="atom">
        By @userIdLink(atom.by.value.some).toHtml, @momentFromNowOnce(atom.at): @shorten(atom.text, 200)
      </div>
      }
      @if(r.atoms.size > 3) { (and @{r.atoms.size - 3} more) }
    </div>
  </form>
  }
  }
</div>
