@(u: User, emails: User.Emails, spy: lidraughts.security.UserSpy, bans: Map[String, Int], history: List[lidraughts.mod.Modlog], charges: List[lidraughts.plan.Charge], reports: lidraughts.report.Report.ByAndAbout, pref: lidraughts.pref.Pref, notes: List[lidraughts.user.Note], erased: User.Erased)(implicit ctx: Context)

@actions(u, emails, erased)

<div class="user_spy">
  @roles(u)
  @prefs(u, pref)
  @user.mod.plan(u, charges)
  @modLog(u, history)
  @reportLog(u, reports)
  @otherUsers(u, spy, notes, bans)
  @identification(u, spy)
</div>

@jsAt("compiled/user-mod.js")
