@(u: User, as: List[lila.activity.ActivityView.AsTo])(implicit ctx: Context)

@import ActivityHtml._
@import lila.activity.activities._
@import lila.activity.model._

@moreCss = {
@cssTag("activity.css")
}

@renderPatron(p: Patron) = {
<div class="entry patron">
  <i data-icon=""></i>
  <div>
    @trans.activity.supportedNbMonths.plural(p.months, p.months, Html(s"""<a href="${routes.Plan.index}">Patron</a>"""))
  </div>
</div>
}

@renderPractice(p: Map[lila.practice.PracticeStudy, Int]) = {
<div class="entry practice">
  <i data-icon=""></i>
  <div>
    @p.toList.sortBy(-_._2).zipWithIndex.map {
    case ((study, nb), i) => {
    @if(i == 1) {<div class="sub">}
      @trans.activity.practicedNbPositions.plural(nb, nb, Html(s"""<a href="${routes.Practice.show("-", study.slug, study.id.value)}">${study.name}</a>"""))
      }
      }
      @if(p.size > 1) { </div> }
  </div>
</div>
}

@renderPuzzles(p: Puzzles) = {
<div class="entry puzzles">
  <i data-icon="-"></i>
  @scoreHtml(p.score)
  <div>
    @trans.activity.solvedNbPuzzles.pluralSame(p.score.size)
    @p.score.rp.filterNot(_.isEmpty).map(ratingProgHtml)
  </div>
</div>
}

@renderGames(games: Games) = {
@games.value.map {
case (pt, score) => {
<div class="entry games">
  <i data-icon="@pt.iconChar"></i>
  @scoreHtml(score)
  <div>
    @trans.activity.playedNbGames.plural(score.size, score.size, pt.name)
    @score.rp.filterNot(_.isEmpty).map(ratingProgHtml)
  </div>
</div>
}
}
}

@renderPosts(posts: Map[lila.forum.Topic, List[lila.forum.Post]]) = {
<div class="entry posts">
  <i data-icon="d"></i>
  <div>
    @posts.map {
    case (topic, posts) => {
    @trans.activity.postedNbMessages.plural(posts.size, posts.size, Html(s"""<a href="${routes.ForumTopic.show(topic.categId, topic.id)}">${shorten(topic.name, 70)}</a>"""))
    <div class="sub">
      @posts.map { post =>
      @shorten(post.text, 100)
      <a class="more" href="@routes.ForumPost.redirect(post.id)">@trans.more() »</a><br />
      }
    </div>
    }
    }
  </div>
</div>
}

@renderCorresMoves(nb: Int, povs: List[Pov]) = {
<div class="entry corres_moves">
  <i data-icon=";"></i>
  <div>
    @trans.activity.playedNbMoves.plural(nb, nb, povs.size)
    <div class="sub">
      @povs.map { pov =>
      <a href="@routes.Round.watcher(pov.gameId, pov.color.name)">@pov.game.opening.map(_.opening.name)</a> vs
      @playerLink(pov.opponent, withRating = true, withDiff = false, withOnline = true, link = true)<br />
      }
    </div>
  </div>
</div>
}

@renderCorresEnds(score: Score, povs: List[Pov]) = {
<div class="entry corres_ends">
  <i data-icon=";"></i>
  <div>
    @trans.activity.completedNbGames.pluralSame(score.size)
    @score.rp.filterNot(_.isEmpty).map(ratingProgHtml)
    @scoreHtml(score)
    <div class="sub">
      @povs.map { pov =>
      <a href="@routes.Round.watcher(pov.gameId, pov.color.name)">
        @pov.game.wonBy(pov.color) match {
        case Some(true) => {Victory}
        case Some(false) => {Defeat}
        case _ => {Draw}
        }</a>
      vs @playerLink(pov.opponent, withRating = true, withDiff = false, withOnline = true, link = true)<br />
    </a>
    }
  </div>
</div>
</div>
}

@renderFollows(all: Follows) = {
<div class="entry follows">
  <i data-icon="h"></i>
  <div>
    @List(all.in.map(_ -> true), all.out.map(_ -> false)).flatten.map {
    case (f, in) => {
    @if(in) {
    @trans.activity.followedNbPlayers.pluralSame(f.actualNb)
    } else {
    @trans.activity.gainedNbFollowers.pluralSame(f.actualNb)
    }
    <div class="sub">
      @htmlList(f.ids.map(id => userIdLink(id.some)))
      @f.nb.map { nb =>
      and @(nb - maxSubEntries) more
      }
    </div>
    }
    }
  </div>
</div>
}

@renderSimul(s: lila.simul.Simul) = {
<a href="@routes.Simul.show(s.id)">@s.name simul</a>
@scoreHtml(Score(s.wins, s.draws, s.losses, none))
}

@renderSimuls(simuls: List[lila.simul.Simul]) = {
<div class="entry simuls">
  <i data-icon="|"></i>
  <div>
    @simuls.groupBy(_.isHost(u.some)).map {
    case (isHost, simuls) => {
    @if(isHost) {
    @trans.activity.hostedNbSimuls.pluralSame(simuls.size)
    } else {
    @trans.activity.joinedNbSimuls.pluralSame(simuls.size)
    }
    <div class="sub">@htmlList(simuls.map(renderSimul))</div>
    }
    }
  </div>
</div>
}

@renderStudies(studies: List[lila.study.Study.IdName]) = {
<div class="entry studies">
  <i data-icon=""></i>
  <div>
    Created @studies.size new studies
    <div class="sub">
      @studies.map { s =>
      <a href="@routes.Study.show(s.id.value)">@s.name</a><br />
      }
    </div>
  </div>
</div>
}

@user.layout(
title = s"${u.username} activity",
evenMoreCss = moreCss) {
<div class="content_box no_padding small_content_box activity">
  <h1 class="lichess_title">
    <a href="@routes.User.show(u.username)">
      @u.username activity [EARLY BETA]
    </a>
  </h1>
  <div class="timeline">
    @as.map {
    case lila.activity.ActivityView.AsTo(date, a) => {
    <section>
      <h2>@semanticDate(date)</h2>
      <div class="entries">
        @a.patron.map(renderPatron)
        @a.practice.map(renderPractice)
        @a.puzzles.map(renderPuzzles)
        @a.games.map(renderGames)
        @a.posts.map(renderPosts)
        @a.corresMoves.map {
        case (nb, povs) => { @renderCorresMoves(nb, povs) }
        }
        @a.corresEnds.map {
        case (score, povs) => { @renderCorresEnds(score, povs) }
        }
        @a.follows.map(renderFollows)
        @a.simuls.map(renderSimuls)
        @a.studies.map(renderStudies)
      </div>
    </section>
    }
    }
  </div>
</div>
}
