@(u: User, as: List[lila.activity.ActivityView.AsTo])(implicit ctx: Context)

@import ActivityHtml._
@import lila.activity.activities._
@import lila.activity.model._

@moreCss = {
@cssTag("activity.css")
}

@renderPatron(p: Patron) = {
<div class="entry patron">
  <i data-icon=""></i>
  <p>
    Supported lichess for @p.months months as a <a href="@routes.Plan.index">Patron</a>
  </p>
</div>
}

@renderPractice(p: Map[lila.practice.PracticeStudy, Int]) = {
<div class="entry practice">
  <i data-icon=""></i>
  <p>
    @p.toList.sortBy(-_._2).map {
    case (study, nb) => {
    Practiced @nb positions on <a href="@routes.Practice.show("-", study.slug, study.id.value)">@study.name</a><br />
    }
    }
  </p>
</div>
}

@renderPuzzles(p: Puzzles) = {
<div class="entry puzzles">
  <i data-icon="-"></i>
  @scoreHtml(p.score)
  <p>
    Solved @p.score.size tactical puzzles
    @p.score.rp.filterNot(_.isEmpty).map(ratingProgHtml)
  </p>
</div>
}

@renderGames(games: Games) = {
@games.value.map {
case (pt, score) => {
<div class="entry games">
  <i data-icon="@pt.iconChar"></i>
  @scoreHtml(score)
  <p>
    Played @score.size @pt.name games
    @score.rp.filterNot(_.isEmpty).map(ratingProgHtml)
  </p>
</div>
}
}
}

@renderPosts(posts: Map[lila.forum.Topic, List[lila.forum.Post]]) = {
<div class="entry posts">
  <i data-icon="d"></i>
  <p>
    @posts.map {
    case (topic, posts) => {
    Posted @posts.size messages in
    <a href="@routes.ForumTopic.show(topic.categId, topic.id)" title="@escapeHtml(topic.name)">
      @shorten(topic.name, 70)
    </a>
    <ul>
      @posts.map { post =>
      <li><a href="@routes.ForumPost.redirect(post.id)">@shorten(post.text, 120)</a></li>
      }
    </ul>
    }
    }
  </p>
</div>
}

@renderCorresMoves(nb: Int, povs: List[Pov]) = {
<div class="entry corres_moves">
  <i data-icon=";"></i>
  <p>
    Played @nb moves in @povs.size correspondence games
    <ul>
      @povs.map { pov =>
      <li><a href="@routes.Round.watcher(pov.gameId, pov.color.name)">
          vs @playerLink(pov.opponent, withRating = true, withDiff = false, withOnline = true, link = true)
      </a></li>
      }
    </ul>
  </p>
</div>
}

@renderCorresEnds(score: Score, povs: List[Pov]) = {
<div class="entry corres_ends">
  <i data-icon=";"></i>
  <p>
    Completed @score.size correspondence games
    @scoreHtml(score)
    <ul>
      @povs.map { pov =>
      <li>
        <a href="@routes.Round.watcher(pov.gameId, pov.color.name)">
          @pov.game.wonBy(pov.color) match {
          case Some(true) => {Victory}
          case Some(false) => {Defeat}
          case _ => {Draw}
          }</a>
        vs @playerLink(pov.opponent, withRating = true, withDiff = false, withOnline = true, link = true)
    </a></li>
    }
  </ul>
</p>
</div>
}

@user.layout(
title = s"${u.username} activity",
evenMoreCss = moreCss) {
<div class="content_box no_padding small_content_box activity">
  <h1 class="lichess_title">
    <a href="@routes.User.show(u.username)">
      @u.username activity [EARLY BETA]
    </a>
  </h1>
  <div class="timeline">
    @as.map {
    case lila.activity.ActivityView.AsTo(date, a) => {
    <section>
      <h2>@semanticDate(date)</h2>
      <div class="entries">
        @a.patron.map(renderPatron)
        @a.practice.map(renderPractice)
        @a.puzzles.map(renderPuzzles)
        @a.games.map(renderGames)
        @a.posts.map(renderPosts)
        @a.corresMoves.map {
        case (nb, povs) => { @renderCorresMoves(nb, povs) }
        }
        @a.corresEnds.map {
        case (score, povs) => { @renderCorresEnds(score, povs) }
        }
      </div>
    </section>
    }
    }
  </div>
</div>
}
