.ublog-post-form {
  padding-bottom: 5vh;

  &__main .form-split,
  &__main > .form-group,
  &__main .form-actions,
  &__delete .form-actions {
    padding-left: $box-padding;
    padding-right: $box-padding;
  }

  .flash {
    @extend %box-margin-horiz;
  }

  &__delete {
    padding-top: 4em;
  }

  &__etiquette {
    @extend %box-neat;

    background: $c-bg-zebra;
    padding: 2em 3em;
    margin: 0 auto 3em auto;
    max-width: 80ch;
  }

  .tagify {
    margin: 0;
  }

  .etiquette-and-image {
    display: flex;
    align-items: stretch;
    gap: 2em;

    @media (max-width: at-most($x-small)) {
      flex-direction: column;
    }

    fieldset {
      margin: 0;
      padding: 2em;
      min-width: 300px;
      flex: auto;
    }
  }
}

#form3-markdown {
  display: none;
}

.ublog-image-edit {
  @extend %image-preview-and-upload;

  background: unset;
  gap: 2em;

  img {
    width: 65%;
  }

  span {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: min(2em, 2vw);

    @media (max-width: at-most($large)) and (min-width: at-least($x-small)) {
      flex-direction: row;
      align-items: end;
    }

    label {
      font-size: 11px;
    }
  }
}
