.ublog-post-form {
  padding-bottom: 5vh;

  &__main .form-split,
  &__main > .form-group,
  &__main .form-actions,
  &__delete .form-actions {
    padding-left: var(---box-padding);
    padding-right: var(---box-padding);
  }
  .toggle-box {
    @extend %box-margin-horiz;
  }
  &__delete {
    padding-top: 4em;
  }
  &__etiquette {
    @extend %box-neat;
    background: $c-bg-zebra;
    padding: 2em 3em;
    margin: 0 auto 3em auto;
    max-width: 80ch;
  }
  .tagify {
    margin: 0;
  }
}
#form3-markdown {
  display: none;
}

.ublog-image-edit {
  @extend %image-preview-and-upload;
  img {
    width: 65%;
  }
}
