.ublog-post {
  &__title {
    @extend %break-word;
    text-align: center;
    margin: 3rem 0 3rem;
  }
  &__meta {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 1.5em;
    align-items: center;
    margin-bottom: 2rem;
    &__report {
      color: $c-font-dim !important;
      &:hover {
        color: $c-bad !important;
      }
    }
    .user-link {
      color: $c-link;
      font-size: 1.2em;
    }
    &__disclaimer {
      color: $c-font-dimmer;
      font-size: 0.9rem;
      margin-inline-start: -0.5rem;
      vertical-align: top;
      @media (hover: none) {
        display: none;
      }
    }
    &__date {
      unicode-bidi: embed;
    }
  }
  &__topics {
    @extend %flex-wrap;
    justify-content: center;
    line-height: 2em;

    a {
      @extend %box-radius;

      background: $m-primary_bg--mix-12;
      padding: 0.2em 0.6em;
      margin: 0.2em;

      &:hover {
        background: $m-primary_bg--mix-15;
      }

      white-space: nowrap;
    }

    .box__pad & {
      margin-bottom: 2em;
    }
  }
  &__tier {
    margin-inline-start: 1em;
  }
  &__ads-disclosure {
    @extend %box-radius;
    padding: 1rem 1.5rem;
    margin-top: 3vh;
    background: $c-bg-zebra;
  }
  &__like {
    font-weight: bold;
    cursor: pointer;
    &::before {
      margin: 0 0.4em;
      content: $licon-HeartOutline;
    }
    &.ublog-post__like--liked::before {
      content: $licon-Heart;
    }
    &--mini {
      margin-inline-start: 1rem;
      color: $c-font;
      transition: 0.3s;
      &:hover {
        opacity: 1;
        color: $c-bad;
      }
    }
  }
  &__discuss {
    width: 100%;
    margin-bottom: 4rem;
  }
  &__views {
    white-space: nowrap;
  }
  &__image {
    @extend %box-neat-force;
    width: 100%;
    height: auto;
    &-credit {
      font-size: 0.9em;
      color: $c-font-dim;
      text-align: right;
      word-break: break-word;
    }
  }
  &__intro {
    @extend %break-word;
    font-size: 1.2em;
    margin: 5vh 0 5vh 0;
    display: block;
  }

  &__patron-info {
    margin: 2em 2em 0;
  }
  &__lichess {
    text-align: center;
    margin: 3em 0 3em 0;
    .connect-links a {
      display: inline-block;
      margin: 1em 0.5em;
    }
  }
  &__footer {
    margin: 5em 0 0 0;
    h2 {
      margin-bottom: 1.5em;
    }
  }
  &__actions {
    @extend %flex-center;
    justify-content: center;
    font-size: 2em;
    margin: 0 0 2rem 0;
    .button {
      margin: 0 1em 2rem 1em;
      padding: 0.8em 1.5em;
      border-radius: 5px;
      &-label {
        display: block;
        margin-top: 1em;
        text-transform: none;
        font-size: 1rem;
      }
    }
  }
  &__follow {
    .ublog-post__follow__yes,
    &.followed .ublog-post__follow__no {
      display: none;
    }
    .ublog-post__follow__no,
    &.followed .ublog-post__follow__yes {
      display: block;
    }
  }
  .ublog-post-card--link:hover {
    box-shadow: none;
  }
}

#mod-tools {
  display: flex;
  gap: 2rem;
  @media (max-width: at-most($small)) {
    flex-direction: column;
    gap: 1rem;
  }
  margin-bottom: 2rem;

  fieldset,
  div {
    @extend %flex-column;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
  }
  fieldset {
    border: $border-width $border-style $c-border;
    padding: 1rem 1.5rem 1.5rem;
  }
  legend {
    @extend %flex-between;
    align-items: center;
    padding: 0 0.5rem;
    gap: 1ch;
    height: 2rem;

    button {
      padding: 0.3rem 0.6rem;
    }
    label {
      font-size: 1.2rem;
    }
  }
  span {
    @extend %flex-center;
  }
  input {
    flex: auto;
    padding: 4px 6px;
  }
  input[type]:not([type='text']) {
    cursor: pointer;
  }
  .btn-rack {
    margin: 0 auto;
  }
  .carousel-fields {
    align-items: center;
    span {
      gap: 1ch;
    }
  }
  .submit-fields {
    flex: auto;
    &:has(.submit:not(.none)) {
      border-color: $c-primary;
    }
    > span {
      @extend %flex-center;
      gap: 1rem;
      height: 2rem;
    }
    input[type='checkbox'] {
      flex: none;
      width: 1.2rem;
      height: 1.2rem;
    }
    .commercial {
      color: $c-secondary;
    }
    .flagged {
      color: $c-bad;
    }
    .empty {
      color: $c-font-dimmer;
    }
  }
}
