openapi: "3.1.0"
info:
  version: 2.0.0
  title: Lishogi.org API reference
  contact:
    name: "Lishogi.org API"
    url: "https://lishogi.org/api"
    email: "contact@lishogi.org"
  x-logo:
    url: https://lishogi1.org/assets/logo/lishogi-favicon-128.png
  description: |
    # Introduction
    Welcome to the reference for the Lishogi API! Lishogi is free/libre,
    open-source shogi server forked from lichess powered by volunteers and donations.

    Currently this page is a work in progress, information here is most likely wrong and incorrect!
    Expect it to be done during August 22.
    - Get help in the [Lishogi Discord channel](https://discord.gg/YFtpMGg3rR)
    - [Contribute to this documentation on Github](https://github.com/WandererXII/lishogi/public/doc)
    - Check out [Lishogi widgets to embed in your website](https://lishogi.org/developers)

    ## Endpoint
    All requests go to `https://lishogi.org` (unless otherwise specified).

    ## Rate limiting
    All requests are rate limited using various strategies,
    to ensure the API remains responsive for everyone.
    Only make one request at a time.
    If you receive an HTTP response with a [429 status](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#429),
    please wait a full minute before resuming API usage.

    ## Streaming with ND-JSON
    Some API endpoints stream their responses as [Newline Delimited JSON a.k.a. **nd-json**](http://ndjson.org/), with one JSON object per line.

    Here's a [JavaScript utility function](https://gist.github.com/ornicar/a097406810939cf7be1df8ea30e94f3e) to help reading NDJSON streamed responses.
servers:
  - url: https://lishogi.org
tags:
- name: Account
  description: |
    Read and write account information and preferences.
    <https://lishogi.org/account/preferences/game-display>
- name: Users
  description: |
    Access registered users on Lishogi.
    <https://lishogi.org/player>
- name: Relations
  description: |
    Access relations between users.
- name: Games
  description: |
    Access games played on Lishogi.
    <https://lishogi.org/games>
- name: TV
  description: |
    Access Lishogi TV channels and games.
    <https://lishogi.org/tv> & <https://lishogi.org/games>
- name: Puzzles
  description: |
    Access Lishogi [puzzle history and dashboard](https://lishogi.org/training).

    Our collection of puzzles is in the public domain, you can [download it here](https://database.lishogi.org/#puzzles).
    For a list of our puzzle themes with their description, check out the [theme translation file](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml).
    The daily puzzle can be [posted in your slack workspace](https://lishogi.org/daily-puzzle-slack).
- name: Teams
  description: |
    Access and manage Lishogi teams and their members.
    <https://lishogi.org/team>
- name: Board
  description: "Play on Lishogi with physical boards and third-party clients.\n
  \ Works with normal Lishogi accounts. Engine play or assistance is forbidden.\n\n\
  \n### Features\n\
  \ - [Stream incoming shogi moves](#operation/boardGameStream)\n\
  \ - [Play shogi moves](#operation/boardGameMove)\n\
  \ - [Read](#operation/boardGameStream) and [write](#operation/boardGameChatPost) in the player and spectator chats\n\
  \ - [Receive](#operation/apiStreamEvent), [create](#operation/challengeCreate) and [accept](#operation/challengeAccept) (or [decline](#operation/challengeDecline)) challenges\n\
  \ - [Abort](#operation/boardGameAbort) and [resign](#operation/boardGameResign) games\n\
  \ - Compatible with normal Lishogi accounts\n\n
  \n### Restrictions\n\
  \ - Engine assistance, or any kind of outside help, is strictly forbidden\n\
  \ - Time controls: [Rapid, Classical and Correspondence](https://lishogi.org/faq#time-controls) only.\n\
  \   For direct challenges and games vs AI, Blitz is also possible.\n\
  \n### Links\n\
  \ - [Announcement](https://lishogi.org/blog/XlRW5REAAB8AUJJ-/welcome-lishogi-boards)\n\
  \ - [Implementation example](https://github.com/lishogi-org/api-demo) and [live demo](https://lishogi-org.github.io/api-demo/)\n\n
  \ - [Certabo support](https://github.com/haklein/certabo-lishogi)\n\
  \ - [Lichs (play from command-line)](https://github.com/Cqsi/lichs)\n\
  \ - [Lishogi discord bot](https://top.gg/bot/707287095911120968)"
- name: Bot
  description: "Play on Lishogi as a bot. Allows engine play.\n
  \ Read the [blog post announcement of lishogi bots](https://lishogi.org/blog/WvDNticAAMu_mHKP/welcome-lishogi-bots).\n\n
  \ Only works with [Bot accounts](#operation/botAccountUpgrade).\n\n\
  \n### Features\n\
  \ - [Stream incoming shogi moves](#operation/botGameStream)\n\
  \ - [Play shogi moves](#operation/botGameMove)\n\
  \ - [Read](#operation/botGameStream) and [write](#operation/botGameChat) in the player and spectator chats\n\
  \ - [Receive](#operation/apiStreamEvent), [create](#operation/challengeCreate) and [accept](#operation/challengeAccept) (or [decline](#operation/challengeDecline)) challenges\n\
  \ - [Abort](#operation/botGameAbort) and [resign](#operation/botGameResign) games\n\
  \ - Engine assistance is allowed\n\
  \n### Restrictions\n\
  \ - Bots can only play challenge games:  pools and tournaments are off-limits\n\
  \ - Bots cannot play UltraBullet (¼+0) because it requires making too many requests. But 0+1 and ½+0 are allowed.\n\
  \n### Integrations\n\
  \ - [Python3 lishogi-bot](https://github.com/ShailChoksi/lishogi-bot) (official)\n\
  \ - [JavaScript bot-o-tron](https://github.com/tailuge/bot-o-tron)\n\
  \ - [Golang lishogi-bot](https://github.com/dolegi/lishogi-bot)\n\
  \ - Yours? Please make [an issue or pull request](https://github.com/lishogi-org/api).\n\
  \n### Links\n\
  \ - [Announcement](https://lishogi.org/blog/WvDNticAAMu_mHKP/welcome-lishogi-bots)\n\
  \ - Join the [Lishogi Bots team](https://lishogi.org/team/lishogi-bots) with your bot account\n\
  \ - [Get help in the discord channel](https://discord.gg/quwueFd)\n\
  \ - Watch [Lishogi Bot TV](https://lishogi.org/tv/bot)"
- name: Challenges
  description: |
    Send and receive challenges to play.

    To create a lot of challenges, consider [bulk pairing](#operation/bulkPairingCreate) instead.
- name: Bulk pairings
  description: |
    Create many games for other players.

    These endpoints are intended for tournament organisers.
- name: Arena tournaments
  description: |
    Access Arena tournaments played on Lishogi.
    [Official Arena tournaments](https://lishogi.org/tournament) are maintained by Lishogi,
    but you can [create your own Arena tournaments](https://lishogi.org/tournament/new) as well.
- name: Swiss tournaments
  description: |
    Access Swiss tournaments played on Lishogi.
    [Read more about Swiss tournaments.](https://lishogi.org/swiss).
- name: Simuls
  description: |
    Access simuls played on Lishogi.
    <https://lishogi.org/simul>
- name: Studies
  description: |
    Access Lishogi studies.
    <https://lishogi.org/study>
- name: Messaging
  description: |
    Private messages with other players.
    <https://lishogi.org/inbox>
- name: Broadcasts
  description: |
    Relay shogi events on Lishogi.
    [Official broadcasts](https://lishogi.org/broadcast) are maintained by Lishogi,
    but you can [create your own broadcasts](https://lishogi.org/broadcast/new) to cover any live game or shogi event.
    You will need to publish PGN on a public URL so that Lishogi can pull updates from it.
    Alternatively, you can push PGN updates to Lishogi using this API.

    Broadcasts are organized in tournaments, which have several rounds, which have several games.
    You must first create a tournament, then you can add rounds to them.
- name: Analysis
  description: |
    Access Lishogi cloud evaluations database.
    <https://lishogi.org/analysis>
- name: Opening Explorer
  description: |
    Lookup positions from the [Lishogi opening explorer](https://lishogi.org/analysis#explorer).

    Runs <https://github.com/niklasf/lila-openingexplorer>.

    **The endpoint hostname is not lishogi.org but explorer.lishogi.ovh.**
- name: Tablebase
  description: |
    Lookup positions from the [Lishogi tablebase server](https://lishogi.org/blog/W3WeMyQAACQAdfAL/7-piece-syzygy-tablebases-are-complete).

    **The endpoint hostname is not lishogi.org but tablebase.lishogi.ovh.**
- name: OAuth
  description: |
    Obtaining and revoking OAuth tokens.

    [Read about the Lishogi API authentication methods and code examples](https://github.com/lishogi-org/api/blob/master/example/README.md).
paths:
  /api/users/status:
    get:
      operationId: apiUsersStatus
      summary: Get real-time users status
      description: |
        Read the `online`, `playing` and `streaming` flags of several users.

        This API is very fast and cheap on lishogi side.
        So you can call it quite often (like once every 5 seconds).

        Use it to track players and know when they're connected on lishogi and playing games.
      tags:
        - Users
      security: []
      parameters:
        - in: query
          name: ids
          required: true
          description: User IDs separated by commas. Up to 100 IDs.
          schema:
            type: string
          example: aliquantus,shogi-network,lovlas
        - in: query
          name: withGameIds
          required: false
          description: |
            Also return the ID of the game being played, if any, for each player, in a `playingId` field.
            Defaults to `false` to preserve server resources.
          schema:
            type: boolean
          example: true
      responses:
        "200":
          description: The list of users and their respective statuses.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    title:
                      type: [string, 'null']
                    online:
                      type: [boolean, 'null']
                    playing:
                      type: [boolean, 'null']
                    streaming:
                      type: [boolean, 'null']
                    patron:
                      type: [boolean, 'null']
                example: [
                  {
                    "id": "aliquantus",
                    "name": "Aliquantus"
                  },
                  {
                    "id": "shogi-network",
                    "name": "Chess-Network",
                    "title": "NM",
                    "online": true,
                    "playing": true,
                    "streaming": true,
                    "patron": true
                  }
                ]

  /player:
    get:
      operationId: player
      summary: Get all top 10
      tags:
        - Users
      security: []
      description: |
        Get the top 10 players for each speed and variant.

        See <https://lishogi.org/player>.
      responses:
        "200":
          description: The list of variants with their respective top players.
          content:
            application/vnd.lishogi.v3+json:
              schema:
                $ref: '#/components/schemas/Top10s'

  /player/top/{nb}/{perfType}:
    get:
      operationId: playerTopNbPerfType
      summary: Get one leaderboard
      tags:
        - Users
      security: []
      description: |
        Get the leaderboard for a single speed or variant (a.k.a. `perfType`).
        There is no leaderboard for correspondence or puzzles.

        See <https://lishogi.org/player/top/200/bullet>.
      parameters:
        - in: path
          name: nb
          description: How many users to fetch
          schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 100
          required: true
        - in: path
          name: perfType
          description: The speed or variant
          schema:
            type: string
            example: bullet
            enum:
              - ultraBullet
              - bullet
              - blitz
              - rapid
              - classical
              - chess960
              - crazyhouse
              - antichess
              - atomic
              - horde
              - kingOfTheHill
              - racingKings
              - threeCheck
          required: true
      responses:
        "200":
          description: The list of top players for the variant.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/vnd.lishogi.v3+json:
              schema:
                $ref: '#/components/schemas/Leaderboard'

  /api/user/{username}:
    get:
      operationId: apiUser
      summary: Get user public data
      description: |
        Read public data of a user.
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
        - in: query
          name: trophies
          description: Include user trophies
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The information of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtended'

  /api/user/{username}/rating-history:
    get:
      operationId: apiUserRatingHistory
      summary: Get rating history of a user
      description: |
        Read rating history of a user, for all perf types.
        There is at most one entry per day.
        Format of an entry is `[year, month, day, rating]`.
        `month` starts at zero (January).
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The rating history of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingHistory'

  /api/user/{username}/perf/{perf}:
    get:
      operationId: apiUserPerf
      summary: Get performance statistics of a user
      description: |
        Read performance statistics of a user, for a single performance.
        Similar to the [performance pages on the website](https://lishogi.org/@/thibault/perf/bullet).
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
        - in: path
          name: perf
          schema:
            $ref: '#/components/schemas/PerfType'
          required: true
      responses:
        "200":
          description: The performance statistics of the user
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerfStat'

  /api/user/{username}/activity:
    get:
      operationId: apiUserActivity
      summary: Get user activity
      description: |
        Read data to generate the activity feed of a user.
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The activity feed of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              example:
                https://gist.github.com/ornicar/0ee2d2427cb74ed1a35e86f5ba09fabc

  /api/puzzle/daily:
    get:
      operationId: apiPuzzleDaily
      summary: Get the daily puzzle
      description: |
        Get the daily Lishogi puzzle in JSON format.

        Alternatively, you can [post it in your slack workspace](https://lishogi.org/daily-puzzle-slack).
      tags:
        - Puzzles
      security: []
      responses:
        "200":
          description: The daily puzzle.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/PuzzleJson'

  /api/puzzle/activity:
    get:
      operationId: apiPuzzleActivity
      summary: Get your puzzle activity
      description: |
        Download your puzzle activity in [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Puzzle activity is sorted by reverse chronological order (most recent first)

        We recommend streaming the response, for it can be very long.
      tags:
        - Puzzles
      security:
        - OAuth2: ["puzzle:read"]
      parameters:
        - in: query
          name: max
          description: How many entries to download. Leave empty to download all activity.
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: The puzzle activity of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/PuzzleRoundJson'

  /api/puzzle/dashboard/{days}:
    get:
      operationId: apiPuzzleDashboard
      summary: Get your puzzle dashboard
      description: |
        Download your [puzzle dashboard](https://lishogi.org/training/dashboard/30/dashboard) as JSON.

        Also includes all puzzle themes played, with aggregated results.

        Allows re-creating the [improvement/strengths](https://lishogi.org/training/dashboard/30/improvementAreas) interfaces.
      tags:
        - Puzzles
      security:
        - OAuth2: ["puzzle:read"]
      parameters:
        - in: path
          name: days
          required: true
          description: How many days to look back when aggregating puzzle results. 30 is sensible.
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: The puzzle dashboard of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleDashboardJson'

  /api/storm/dashboard/{username}:
    get:
      operationId: apiStormDashboard
      summary: Get the storm dashboard of a player
      description: |
        Download the [storm dashboard](https://lishogi.org/storm/dashboard/mrbasso) of any player as JSON.

        Contains the aggregated highscores, and the history of storm runs aggregated by days.

        Use `?days=0` if you only care about the highscores.
      tags:
        - Puzzles
      security: []
      parameters:
        - in: path
          name: username
          description: Username of the player
          schema:
            type: string
          required: true
        - in: query
          name: days
          description: How many days of history to return
          schema:
            type: integer
            minimum: 0
            maximum: 365
            default: 30
      responses:
        "200":
          description: The storm dashboard of a player.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StormDashboardJson'

  /api/racer:
    post:
      operationId: racerPost
      summary: Create and join a puzzle race
      description: |
        Create a new private [puzzle race](https://lishogi.org/racer).
        The Lishogi user who creates the race must join the race page,
        and manually start the race when enough players have joined.

        - <https://lishogi.org/racer>
      tags:
        - Puzzles
      security:
        - OAuth2: ["racer:write"]
      responses:
        "200":
          description: The new puzzle race.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleRaceJson'

  /api/users:
    post:
      operationId: apiUsers
      summary: Get users by ID
      tags:
        - Users
      security: []
      description: |
        Get up to 300 users by their IDs. Users are returned in the same order as the IDs.

        The method is `POST` so a longer list of IDs can be sent in the request body.
      requestBody:
        description: User IDs separated by commas.
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: "aliquantus,shogi-network,lovlas"
      responses:
        "200":
          description: The list of users.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /api/account:
    get:
      operationId: accountMe
      summary: Get my profile
      description: |
        Public information about the logged in user.
      tags:
        - Account
      security:
        - OAuth2: []
      responses:
        "200":
          description: The public information about the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtended'

  /api/account/email:
    get:
      operationId: accountEmail
      summary: Get my email address
      description: |
        Read the email address of the logged in user.
      tags:
        - Account
      security:
        - OAuth2: ["email:read"]
      responses:
        "200":
          description: The email address of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                properties:
                  email:
                    type: string
                example:
                  email: abathur@mail.org

  /api/account/preferences:
    get:
      operationId: account
      summary: Get my preferences
      description: |
        Read the preferences of the logged in user.

        - <https://lishogi.org/account/preferences/game-display>
        - <https://github.com/ornicar/lila/blob/master/modules/pref/src/main/Pref.scala>
      tags:
        - Account
      security:
        - OAuth2: ["preference:read"]
      responses:
        "200":
          description: The preferences of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                properties:
                  prefs:
                    $ref: '#/components/schemas/UserPreferences'
                  language:
                    type: string
                    example: en-GB

  /api/account/kid:
    get:
      operationId: accountKid
      summary: Get my kid mode status
      description: |
        Read the kid mode status of the logged in user.

        - <https://lishogi.org/account/kid>
      tags:
        - Account
      security:
        - OAuth2: ["preference:read"]
      responses:
        "200":
          description: The kid mode status of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                properties:
                  kid:
                    type: boolean
                example:
                  kid: false
    post:
      operationId: accountKidPost
      summary: Set my kid mode status
      description: |
        Set the kid mode status of the logged in user.

        - <https://lishogi.org/account/kid>
      tags:
        - Account
      security:
        - OAuth2: ["preference:write"]
      parameters:
        - in: query
          name: v
          required: true
          description: Kid mode status
          schema:
            type: boolean
          example: true
      responses:
        "200":
          description: The kid mode status was set successfully for the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'

  /game/export/{gameId}:
    get:
      operationId: gamePgn
      summary: Export one game
      description: |
        Download one game in either PGN or JSON format.

        Ongoing games have their last 3 moves omitted, after move 5.
      tags:
        - Games
      security: []
      parameters:
        - in: path
          name: gameId
          description: The game ID (8 characters).
          required: true
          schema:
            type: string
        - in: query
          name: moves
          description: Include the PGN moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: pgnInJson
          description: Include the full PGN within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the PGN tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: true
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the PGN, when available.

            Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          schema:
            type: boolean
            default: true
        - in: query
          name: opening
          description: |
            Include the opening name.

            Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
          schema:
            type: boolean
            default: true
        - in: query
          name: literate
          description: |
            Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.

            Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
          schema:
            type: boolean
            default: false
        - in: query
          name: players
          description: |
            URL of a text file containing real names and ratings, to replace Lishogi usernames and ratings in the PGN.
            Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
          schema:
            type: string
      responses:
        "200":
          description: The game representation.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/json:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/user/{username}/current-game:
    get:
      operationId: apiUserCurrentGame
      summary: Export ongoing game of a user
      description: |
        Download the ongoing game, or the last game played, of a user.
        Available in either PGN or JSON format.
        If the game is ongoing, the 3 last moves are omitted.
      tags:
        - Games
      security: []
      parameters:
        - in: path
          name: username
          required: true
          schema:
            type: string
        - in: query
          name: moves
          description: Include the PGN moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: pgnInJson
          description: Include the full PGN within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the PGN tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: true
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the PGN, when available.

            Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          schema:
            type: boolean
            default: true
        - in: query
          name: opening
          description: |
            Include the opening name.

            Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
          schema:
            type: boolean
            default: true
        - in: query
          name: literate
          description: |
            Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.

            Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
          schema:
            type: boolean
            default: false
        - in: query
          name: players
          description: |
            URL of a text file containing real names and ratings, to replace Lishogi usernames and ratings in the PGN.
            Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
          schema:
            type: string
      responses:
        "200":
          description: The ongoing (or last) game of a user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/json:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/games/user/{username}:
    get:
      operationId: apiGamesUser
      summary: Export games of a user
      description: |
        Download all games of any user in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (most recent first).

        We recommend streaming the response, for it can be very long.
        <https://lishogi.org/@/german11> for instance has more than 500,000 games.

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
          - Authenticated, downloading your own games: 60 games per second
      tags:
        - Games
      security:
        - OAuth2: []
      parameters:
        - in: path
          name: username
          description: The user name.
          schema:
            type: string
          required: true
        - in: query
          name: since
          description: Download games played since this timestamp. Defaults to account creation date.
          schema:
            type: integer
            minimum: 1356998400070
        - in: query
          name: until
          description: Download games played until this timestamp. Defaults to now.
          schema:
            type: integer
            minimum: 1356998400070
        - in: query
          name: max
          description: How many games to download. Leave empty to download all games.
          schema:
            type: integer
            minimum: 1
        - in: query
          name: vs
          description: "[Filter] Only games played against this opponent"
          schema:
            type: string
        - in: query
          name: rated
          description: "[Filter] Only rated (`true`) or casual (`false`) games"
          schema:
            type: boolean
        - in: query
          name: perfType
          description: "[Filter] Only games in these speeds or variants.\n
          \nMultiple perf types can be specified, separated by a comma.\n
          \nExample: blitz,rapid,classical"
          schema:
            allOf:
              - $ref: '#/components/schemas/PerfType'
              - default: null
        - in: query
          name: color
          description: "[Filter] Only games played as this color."
          schema:
            type: string
            enum:
              - sente
              - gote
        - in: query
          name: analysed
          description: "[Filter] Only games with or without a computer analysis available"
          schema:
            type: boolean
        - in: query
          name: moves
          description: Include the PGN moves.
          schema:
            type: boolean
        - in: query
          name: pgnInJson
          description:
            Include the full PGN within the JSON response, in a `notation` field.

            The response type must be set to `application/x-ndjson` by the request `Accept` header.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the PGN tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the PGN, when available.

            Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: opening
          description: |
            Include the opening name.

            Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
          schema:
            type: boolean
            default: false
        - in: query
          name: ongoing
          description: Include ongoing games. The last 3 moves will be omitted.
          schema:
            type: boolean
            default: false
        - in: query
          name: finished
          description: Include finished games. Set to `false` to only get ongoing games.
          schema:
            type: boolean
            default: true
        - in: query
          name: literate
          description: |
            Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.

            Example: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`
          schema:
            type: boolean
            default: false
        - in: query
          name: players
          description: |
            URL of a text file containing real names and ratings, to replace Lishogi usernames and ratings in the PGN.
            Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
          schema:
            type: string
        - in: query
          name: sort
          description: "Sort order of the games."
          schema:
            type: string
            default: dateDesc
            enum:
              - dateAsc
              - dateDesc
      responses:
        "200":
          description: The games of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/games/export/_ids:
    post:
      operationId: gamesExportIds
      summary: Export games by IDs
      description: |
        Download games by IDs in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format, depending on the request Accept header.

        Games are sorted by reverse chronological order (most recent first)

        The method is `POST` so a longer list of IDs can be sent in the request body.

        300 IDs can be submitted.

        Ongoing games have their last 3 moves omitted, after move 5.
      tags:
        - Games
      security: []
      requestBody:
        description: Game IDs separated by commas. Up to 300.
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: "TJxUmbWK,4OtIh2oh,ILwozzRZ"
      parameters:
        - in: query
          name: moves
          description: Include the PGN moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: pgnInJson
          description: Include the full PGN within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the PGN tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the PGN, when available.

            Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: opening
          description: |
            Include the opening name.

            Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
          schema:
            type: boolean
            default: false
        - in: query
          name: players
          description: |
            URL of a text file containing real names and ratings, to replace Lishogi usernames and ratings in the PGN.
            Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
          schema:
            type: string
      responses:
        "200":
          description: The representation of the games.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/stream/games-by-users:
    post:
      operationId: gamesByUsers
      summary: Stream games of users
      description: |
        Stream the games played between a list of users, in real time.
        Only games where **both players** are part of the list are included.

        By default, games are only sent to the stream when they start.
        To also get all ongoing games at the beginning of the stream, use the `withCurrentGames` flag.

        Maximum number of users: 300.

        Games are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        The method is `POST` so a longer list of IDs can be sent in the request body.
      tags:
        - Games
      security: []
      requestBody:
        description: Up to 300 user IDs separated by commas.
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: aliquantus,shogi-network,lovlas
      parameters:
        - in: query
          name: withCurrentGames
          description: Include the already started games at the beginning of the stream.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The stream of the games played between the users.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                example: {
                  "id": "A5fcMO3k",
                  "rated": true,
                  "variant": "standard",
                  "speed": "bullet",
                  "perf": "bullet",
                  "createdAt": 1525789431889,
                  "status": 20,
                  "clock": {
                    "initial": 60,
                    "increment": 0,
                    "totalTime": 60},
                    "players": {
                      "sente": {
                        "userId": "kastorcito",
                        "rating": 2617
                      },
                      "gote": {
                        "userId": "er_or",
                        "rating": 2288
                      }
                  }
                }

  /api/account/playing:
    get:
      operationId: apiAccountPlaying
      summary: Get my ongoing games
      description: |
        Get the ongoing games of the current user.
        Real-time and correspondence games are included.
        The most urgent games are listed first.
      tags:
        - Games
      security:
        - OAuth2: []
      parameters:
        - in: query
          name: nb
          description: Max number of games to fetch
          schema:
            type: integer
            default: 9
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: The ongoing games of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                example: {
                  "nowPlaying": [
                    {
                      "gameId": "rCRw1AuO",
                      "fullId": "rCRw1AuOvonq",
                      "color": "gote",
                      "sfen": "r1bqkbnr/pppp2pp/2n1pp2/8/8/3PP3/PPPB1PPP/RN1QKBNR w KQkq - 2 4",
                      "hasMoved": true,
                      "isMyTurn": false,
                      "lastMove": "b8c6",
                      "opponent": { "id": "philippe", "rating": 1790, "username": "Philippe" },
                      "perf": "correspondence",
                      "rated": false,
                      "secondsLeft": 1209600,
                      "source": "friend",
                      "speed": "correspondence",
                      "variant": { "key": "standard", "name": "Standard" }
                    }
                  ]
                }

  /api/stream/game/{id}:
    get:
      operationId: streamGame
      summary: Stream moves of a game
      description: |
        Stream positions and moves of any ongoing game, in [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        A description of the game is sent as a first message.
        Then a message is sent each time a move is played.
        Finally a description of the game is sent when it finishes, and the stream is closed.

        After move 5, the stream intentionally remains 3 moves behind the game status, as to prevent cheat bots from using this API.

        No more than 8 game streams can be opened at the same time from the same IP address.
      tags:
        - Games
      security: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            example: "LuGQwhBb"
          required: true
      responses:
        "200":
          description: The stream of the game moves.
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/MoveStream'

  /api/import:
    post:
      operationId: gameImport
      summary: Import one game
      description: |
        Import a game from PGN. See <https://lishogi.org/paste>.

        Rate limiting: 200 games per hour for OAuth requests, 100 games per hour for anonymous requests.

        To broadcast ongoing games, consider [pushing to a broadcast instead](#operation/broadcastPush).
      tags:
        - Games
      security:
        - OAuth2: []
      requestBody:
        description: A single game to import
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                notation:
                  type: string
                  description: The PGN. It can contain only one game. Most standard tags are supported.
      responses:
        "200":
          description: The game was successfully imported.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                example: {"id": "R6iLjwz5", "url": "https://lishogi.org/R6iLjwz5"}

  /api/tv/channels:
    get:
      operationId: tvChannels
      summary: Get current TV games
      description: |
        Get basic info about the best games being played for each speed and variant,
        but also computer games and bot games.

        See [lishogi.org/tv](https://lishogi.org/tv).
      tags:
        - TV
      security: []
      responses:
        "200":
          description: The list of games being played for each speed and variant.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                example: {
                  "Bot": {
                    "user": { "id": "leelachess", "name": "LeelaChess", "title": "BOT" },
                    "rating": 2660,
                    "gameId": "Zznv9MIl"
                  },
                  "Blitz": {
                    "user": { "id": "lekkerkortook", "name": "LekkerKortOok" },
                    "rating": 2603,
                    "gameId": "hTJ4v7Mp"
                  },
                  "Racing Kings": {
                    "user": { "id": "chesslo21", "name": "chesslo21" },
                    "rating": 2123,
                    "gameId": "lgCDl5Of"
                  },
                  "UltraBullet": {
                    "user": { "id": "farmville", "name": "Farmville" },
                    "rating": 2338,
                    "gameId": "NEY6OQ32"
                  },
                  "Bullet": {
                    "user": { "id": "nurmibrah", "name": "nurmiBrah" },
                    "rating": 2499,
                    "gameId": "5LgyE516"
                  },
                  "Classical": {
                    "user": { "id": "holden_m_j_thomas", "name": "Holden_M_J_Thomas" },
                    "rating": 1806,
                    "gameId": "k3oLby6N"
                  },
                  "Three-check": {
                    "user": { "id": "pepellou", "name": "pepellou", "patron": true },
                    "rating": 1978,
                    "gameId": "Og5RCvmu"
                  },
                  "Antichess": {
                    "user": { "id": "maria-bakkar", "name": "maria-bakkar" },
                    "rating": 2103,
                    "gameId": "toCr41yx"
                  },
                  "Computer": {
                    "user": { "id": "oh_my_goat_im_so_bat", "name": "oh_my_goat_Im_so_bat" },
                    "rating": 2314,
                    "gameId": "TkI4qZxu"
                  },
                  "Horde": {
                    "user": { "id": "habitualchess", "name": "HabitualChess" },
                    "rating": 1803,
                    "gameId": "oMofN63H"
                  },
                  "Rapid": { "user": { "id": "denpayd", "name": "DenpaYD" }, "rating": 2289, "gameId": "IcWOl8ee" },
                  "Atomic": {
                    "user": { "id": "meetyourdemise", "name": "MeetYourDemise" },
                    "rating": 2210,
                    "gameId": "tvMxtCMN"
                  },
                  "Crazyhouse": {
                    "user": { "id": "mathace", "name": "mathace" },
                    "rating": 2397,
                    "gameId": "i3gTZlUb"
                  },
                  "Chess960": {
                    "user": { "id": "voja_7", "name": "voja_7" },
                    "rating": 1782,
                    "gameId": "lrXLcedu"
                  },
                  "King of the Hill": {
                    "user": { "id": "nadime", "name": "Nadime" },
                    "rating": 1500,
                    "gameId": "DsQn8aEV"
                  },
                  "Top Rated": {
                    "user": { "id": "lekkerkortook", "name": "LekkerKortOok" },
                    "rating": 2603,
                    "gameId": "hTJ4v7Mp"
                  }
                }

  /api/tv/feed:
    get:
      operationId: tvFeed
      summary: Stream current TV game
      description: |
        Stream positions and moves of the current [TV game](https://lishogi.org/tv) in [ndjson](#section/Introduction/Streaming-with-ND-JSON).
        A summary of the game is sent as a first message, and when the featured game changes.

        Try it with `curl https://lishogi.org/api/tv/feed`.
      tags:
        - TV
      security: []
      responses:
        "200":
          description: The stream of the current TV game.
          content:
            application/x-ndjson:
              schema:
                example: {
                  "t": "featured",
                  "d": {
                    "id": "qVSOPtMc",
                    "orientation": "gote",
                    "players": [
                      {
                        "color": "sente",
                        "user": { "name": "lizen9", "id": "lizen9", "title": "GM" },
                        "rating": 2531
                      },
                      {
                        "color": "gote",
                        "user": { "name": "lizen29", "title": "WGM", "id": "lizen29" },
                        "rating": 2594
                      }
                    ],
                    "sfen": "rnbqk1r1/ppp1ppbp/8/N2p2p1/8/1PQPP3/P1P2PPn/R1B1K1NR"
                  }
                }

  /api/tv/{channel}:
    get:
      operationId: tvChannelGames
      summary: Get best ongoing games of a TV channel
      description: |
        Get a list of ongoing games for a given TV channel. Similar to [lishogi.org/games](https://lishogi.org/games).

        Available in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format, depending on the request Accept header.
      tags:
        - TV
      security: []
      parameters:
        - in: path
          name: channel
          description: The name of the channel in camel case.
          schema:
            type: string
          required: true
        - in: query
          name: nb
          description: Number of games to fetch.
          schema:
            type: number
            default: 10
            minimum: 1
            maximum: 30
        - in: query
          name: moves
          description: Include the PGN moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: pgnInJson
          description: Include the full PGN within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the PGN tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: opening
          description: |
            Include the opening name.

            Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The representation of the games.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/tournament:
    get:
      operationId: apiTournament
      summary: Get current tournaments
      description: |
        Get recently finished, ongoing, and upcoming tournaments.

        This API is used to display the [Lishogi tournament schedule](https://lishogi.org/tournament).
      tags:
        - "Arena tournaments"
      security: []
      responses:
        "200":
          description: The list of current tournaments.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournaments'
    post:
      operationId: apiTournamentPost
      summary: Create a new Arena tournament
      description: |
        Create a public or private Arena tournament.

        This endpoint mirrors the form on <https://lishogi.org/tournament/new>.

        You can create up to 12 public tournaments per day, or 24 private tournaments.

        A team battle can be created by specifying the `teambBattleByTeam` argument.
      tags:
        - "Arena tournaments"
      security:
        - OAuth2: ["tournament:write"]
      requestBody:
        description: Parameters of the tournament
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The tournament name. Leave empty to get a random Grandmaster name
                clockTime:
                  type: number
                  description: Clock initial time in minutes
                  example: 2
                  enum:
                    - 0
                    - 0.25
                    - 0.5
                    - 0.75
                    - 1
                    - 1.5
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 10
                    - 15
                    - 20
                    - 25
                    - 30
                    - 40
                    - 50
                    - 60
                clockIncrement:
                  type: integer
                  description: Clock increment in seconds
                  example: 1
                  enum: [0, 1, 2, 3, 4, 5, 6, 7, 10, 15, 20, 25, 30, 40, 50, 60]
                minutes:
                  type: integer
                  description: How long the tournament lasts, in minutes
                  example: 60
                  enum: [20, 25, 30, 35, 40, 45, 50, 55, 60, 70, 80, 90, 100, 110, 120, 150, 180, 210, 240, 270, 300, 330, 360, 420, 480, 540, 600, 720]
                waitMinutes:
                  type: integer
                  description: How long to wait before starting the tournament, from now, in minutes
                  default: 5
                  enum: [1, 2, 3, 5, 10, 15, 20, 30, 45, 60]
                startDate:
                  type: integer
                  description: Timestamp to start the tournament at a given date and time. Overrides the `waitMinutes` setting
                variant:
                  $ref: '#/components/schemas/VariantKey'
                rated:
                  type: boolean
                  description: Games are rated and impact players ratings
                  default: true
                position:
                  type: string
                  description: Custom initial position (in SFEN) for all games of the tournament. Must be a legal shogi position. Only works with standard shogi, not variants (except Chess960).
                berserkable:
                  type: boolean
                  description: Whether the players can use berserk
                  default: true
                streakable:
                  type: boolean
                  description: After 2 wins, consecutive wins grant 4 points instead of 2.
                  default: true
                # "conditions.titled":
                #   type: boolean
                #   description: Whether to require a title to enter the tournament
                #   default: false
                hasChat:
                  type: boolean
                  description: Whether the players can discuss in a chat
                  default: true
                description:
                  type: string
                  description: Anything you want to tell players about the tournament
                password:
                  type: string
                  description: |
                    Make the tournament private, and restrict access with a password.
                    You can also [generate user-specific entry codes](https://github.com/lishogi-org/api/tree/master/example/tournament-entry-code)
                    based on this password.
                teamBattleByTeam:
                  type: string
                  description: |
                    Set the ID of a team you lead to create a team battle.
                    The other teams can be added using the [team battle edit endpoint](#operation/apiTournamentTeamBattlePost).
                conditions.teamMember.teamId:
                  type: string
                  description: |
                    Restrict entry to members of a team.

                    The teamId is the last part of a team URL, e.g. `https://lishogi.org/team/coders` has teamId = `coders`.

                    Leave empty to let everyone join the tournament.

                    Do not use this to create team battles, use `teamBattleByTeam` instead.
                conditions.minRating.rating:
                  type: integer
                  description: Minimum rating to join. Leave empty to let everyone join the tournament.
                conditions.maxRating.rating:
                  type: integer
                  description: Maximum rating to join. Based on best rating reached in the last 7 days. Leave empty to let everyone join the tournament.
                conditions.nbRatedGame.nb:
                  type: integer
                  description: Minimum number of rated games required to join.
              required:
                - clockTime
                - clockIncrement
                - minutes
      responses:
        "200":
          description: The Arena tournament has been successfully created.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
        "400":
          description: The creation of the Arena tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/tournament/{id}:
    parameters:
     - in: path
       name: id
       description: The tournament ID.
       schema:
         type: string
       required: true
    get:
      operationId: tournament
      summary: Get info about an Arena tournament
      description: |
        Get detailed info about recently finished, current, or upcoming tournament's duels, player standings, and other info.
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: query
          name: page
          description: Specify which page of player standings to view.
          schema:
            type: number
            example: 1
            default: 1
            minimum: 1
            maximum: 200
      responses:
        "200":
          description: The information of the Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
    post:
      operationId: apiTournamentUpdate
      summary: Update an Arena tournament
      description: |
        Update an Arena tournament.

        Be mindful not to make important changes to ongoing tournaments.

        Can be used to update a team battle.
      tags:
        - "Arena tournaments"
      security:
        - OAuth2: ["tournament:write"]
      requestBody:
        description: Parameters of the tournament
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The tournament name. Leave empty to get a random Grandmaster name
                clockTime:
                  type: number
                  description: Clock initial time in minutes
                  example: 2
                  minimum: 0
                  maximum: 60
                  enum:
                    - 0
                    - 0.25
                    - 0.5
                    - 0.75
                    - 1
                    - 1.5
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 10
                    - 15
                    - 20
                    - 25
                    - 30
                    - 40
                    - 50
                    - 60
                clockIncrement:
                  type: integer
                  description: Clock increment in seconds
                  example: 1
                  minimum: 0
                  maximum: 60
                minutes:
                  type: integer
                  description: How long the tournament lasts, in minutes
                  example: 60
                  minimum: 0
                  maximum: 360
                waitMinutes:
                  type: integer
                  description: How long to wait before starting the tournament, from now, in minutes
                  minimum: 0
                  maximum: 360
                  default: 5
                startDate:
                  type: integer
                  description: Timestamp to start the tournament at a given date and time. Overrides the `waitMinutes` setting
                variant:
                  $ref: '#/components/schemas/VariantKey'
                rated:
                  type: boolean
                  description: Games are rated and impact players ratings
                  default: true
                position:
                  type: string
                  description: Custom initial position (in SFEN) for all games of the tournament. Must be a legal shogi position. Only works with standard shogi, not variants (except Chess960).
                berserkable:
                  type: boolean
                  description: Whether the players can use berserk
                  default: true
                streakable:
                  type: boolean
                  description: After 2 wins, consecutive wins grant 4 points instead of 2.
                  default: true
                hasChat:
                  type: boolean
                  description: Whether the players can discuss in a chat
                  default: true
                description:
                  type: string
                  description: Anything you want to tell players about the tournament
                password:
                  type: string
                  description: Make the tournament private, and restrict access with a password
                conditions.minRating.rating:
                  type: integer
                  description: Minimum rating to join. Leave empty to let everyone join the tournament.
                conditions.maxRating.rating:
                  type: integer
                  description: Maximum rating to join. Based on best rating reached in the last 7 days. Leave empty to let everyone join the tournament.
                conditions.nbRatedGame.nb:
                  type: integer
                  description: Minimum number of rated games required to join.
              required:
                - clockTime
                - clockIncrement
                - minutes
      responses:
        "200":
          description: The Arena tournament was successfully updated.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
        "400":
          description: The update of the Arena tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/tournament/{id}/join:
    post:
      operationId: apiTournamentJoin
      summary: Join an Arena tournament
      description: |
        Join an Arena tournament, possibly with a password and/or a team.
      tags:
        - "Arena tournaments"
      security:
        - OAuth2: ["tournament:write"]
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
            example: "hL7vMrFQ"
          required: true
      requestBody:
        description: You may need these depending on the tournament to join
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: |
                    The tournament password, if one is required.
                    Can also be a [user-specific entry code](https://github.com/lishogi-org/api/tree/master/example/tournament-entry-code)
                    generated and shared by the organizer.
                team:
                  type: string
                  description: The team to join the tournament with, for team battle tournaments
      responses:
        "200":
          description: The tournament was successfully joined.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: Joining the tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/tournament/{id}/withdraw:
    post:
      operationId: apiTournamentWithdraw
      summary: Pause or leave an Arena tournament
      description: |
        Leave a future Arena tournament, or take a break on an ongoing Arena tournament.
        It's possible to join again later. Points and streaks are preserved.
      tags:
        - "Arena tournaments"
      security:
        - OAuth2: ["tournament:write"]
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
            example: "hL7vMrFQ"
          required: true
      responses:
        "200":
          description: The tournament was successfully paused or left.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: Pausing/leaving the tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/tournament/{id}/terminate:
    post:
      operationId: apiTournamentTerminate
      summary: Terminate an Arena tournament
      description: |
        Terminate an Arena tournament
      tags:
        - "Arena tournaments"
      security:
        - OAuth2: ["tournament:write"]
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
            example: "hL7vMrFQ"
          required: true
      responses:
        "200":
          description: The tournament was successfully terminated.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: Terminating the tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/tournament/team-battle/{id}:
      post:
        operationId: apiTournamentTeamBattlePost
        summary: Update a team battle
        description: |
          Set the teams and number of leaders of a team battle.

          To update the other attributes of a team battle, use the [tournament update endpoint](#operation/apiTournamentUpdate).
        tags:
          - "Arena tournaments"
        security:
          - OAuth2: ["tournament:write"]
        parameters:
          - in: path
            name: id
            description: The tournament ID (8 characters)..
            required: true
            schema:
              type: string
        requestBody:
          required: true
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  teams:
                    type: string
                    description: |
                      All team IDs of the team battle, separated by commas.
                      Make sure to always send the full list.
                      Teams that are not in the list will be removed from the team battle.

                      Example: `coders,zhigalko_sergei-fan-club,hhSwTKZv`
                  nbLeaders:
                    type: integer
                    description: Number team leaders per team.
                required:
                  - teams
                  - nbLeaders
        responses:
          "200":
            description: The team battle tournament was successfully updated.
            headers:
              Access-Control-Allow-Origin:
                schema:
                  type: string
                  default: "'*'"
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ArenaTournament'
          "400":
            description: The update of the team battle tournament failed.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'

  /api/tournament/{id}/games:
    get:
      operationId: gamesByTournament
      summary: Export games of an Arena tournament
      description: |
        Download games of a tournament in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (most recent first).

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
        - in: query
          name: player
          description: Only games of a particular player. Leave empty to fetch games of all players.
          schema:
            type: string
        - in: query
          name: moves
          description: Include the PGN moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: pgnInJson
          description: Include the full PGN within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the PGN tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the PGN, when available.

            Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: opening
          description: |
            Include the opening name.

            Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The list of games of an Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/tournament/{id}/results:
    get:
      operationId: resultsByTournament
      summary: Get results of an Arena tournament
      description: |
        Players of an Arena tournament, with their score and performance, sorted by rank (best first).

        **Players are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON)**, i.e. one JSON object per line.

        If called on an ongoing tournament, results can be inconsistent
        due to ranking changes while the players are being streamed.
        Use on finished tournaments for guaranteed consistency.
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
        - in: query
          name: nb
          description: Max number of players to fetch
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: The results of the Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                example: {
                  "rank": 4,
                  "score": 389,
                  "rating": 2618,
                  "username": "opperwezen",
                  "title": "IM",
                  "performance": 2423,
                  "team": "coders"
                }

  /api/tournament/{id}/teams:
    get:
      operationId: teamsByTournament
      summary: Get team standing of a team battle
      description: |
        Teams of a team battle tournament, with top players, sorted by rank (best first).
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The list of teams of a team battle tournament, with their respective top players.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                example: {
                  "id": "CdPg1ey4",
                  "teams": [
                    {
                      "rank": 1,
                      "id": "cat-lovers",
                      "score": 842,
                      "players": [
                        { "user": { "name": "lizen69", "id": "lizen69" }, "score": 54 },
                        { "user": { "name": "lizen249", "id": "lizen249" } }
                      ]
                    }
                  ]
                }

  /api/user/{username}/tournament/created:
    get:
      operationId: apiUserNameTournamentCreated
      summary: Get tournaments created by a user
      description: |
        Get all tournaments created by a given user.

        Tournaments are sorted by reverse chronological order of start date (last starting first).

        Tournaments are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: username
          description: The user whose created tournaments to fetch
          schema:
            type: string
          required: true
        - in: query
          name: status
          description: |
            Include tournaments in the given status: "Created" (10), "Started" (20), "Finished" (30)
            
            You can add this parameter more than once to include tournaments in different statuses. 
            
            Example: `?status=10&status=20`
          schema:
            type: integer
            enum: [10, 20, 30]
          required: false
      responses:
        "200":
          description: The list of tournaments created by the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ArenaTournament'

  /api/swiss/new/{teamId}:
    post:
      operationId: apiSwissNew
      summary: Create a new Swiss tournament
      description: |
        Create a Swiss tournament for your team.

        This endpoint mirrors the Swiss tournament form from your team pagee.

        You can create up to 12 tournaments per day.
      tags:
        - "Swiss tournaments"
      security:
        - OAuth2: ["tournament:write"]
      parameters:
        - in: path
          name: teamId
          description: ID of the team
          schema:
            type: string
          required: true
      requestBody:
        description: Parameters of the tournament
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The tournament name. Leave empty to get a random Grandmaster name
                'clock.limit':
                  type: number
                  description: Clock initial time in seconds
                  example: 300
                  minimum: 0
                  maximum: 3600
                'clock.increment':
                  type: integer
                  description: Clock increment in seconds
                  example: 1
                  minimum: 0
                  maximum: 600
                nbRounds:
                  type: integer
                  description: Maximum number of rounds to play
                  minimum: 3
                  maximum: 100
                  default: 8
                startsAt:
                  type: integer
                  description: Timestamp in milliseconds to start the tournament at a given date and time. By default, it starts 10 minutes after creation.
                roundInterval:
                  type: integer
                  description: |
                    How long to wait between each round, in seconds.

                    Set to 99999999 to manually schedule each round from the tournament UI.

                    If empty, a sensible value is picked automatically.
                  minimum: 0
                  maximum: 86400
                variant:
                  $ref: '#/components/schemas/VariantKey'
                description:
                  type: string
                  description: Anything you want to tell players about the tournament
                rated:
                  type: boolean
                  description: Games are rated and impact players ratings
                  default: true
                forbiddenPairings:
                  type: string
                  description: |
                    Usernames of players that must not play together.
                    
                    Two usernames per line, separated by a space.
                chatFor:
                  type: number
                  description: |
                    Who can read and write in the chat.
                    - 0  = No-one
                    - 10 = Only team leaders
                    - 20 = Only team members
                    - 30 = All Lishogi players
                  default: 20
              required:
                - 'clock.limit'
                - 'clock.increment'
                - nbRounds
      responses:
        "200":
          description: The Swiss tournament was successfully created.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissTournament'
        "400":
          description: The creation of the Swiss tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/swiss/{id}:
    parameters:
     - in: path
       name: id
       description: The Swiss tournament ID.
       schema:
         type: string
       required: true
    get:
      operationId: swiss
      summary: Get info about a Swiss tournament
      description: |
        Get detailed info about a Swiss tournament.
      tags:
        - "Swiss tournaments"
      security: []
      responses:
        "200":
          description: The information of the Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissTournament'

  /api/swiss/{id}/edit:
    post:
      operationId: apiSwissUpdate
      summary: Update a Swiss tournament.
      description: |
        Update a Swiss tournament.

        Be mindful not to make important changes to ongoing tournaments.
      tags:
        - "Swiss tournaments"
      security:
        - OAuth2: ["tournament:write"]
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
            example: "hL7vMrFQ"
          required: true
      requestBody:
        description: Parameters of the tournament
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The tournament name. Leave empty to get a random Grandmaster name
                'clock.limit':
                  type: number
                  description: Clock initial time in seconds
                  example: 300
                  minimum: 0
                  maximum: 3600
                'clock.increment':
                  type: integer
                  description: Clock increment in seconds
                  example: 1
                  minimum: 0
                  maximum: 600
                nbRounds:
                  type: integer
                  description: Maximum number of rounds to play
                  minimum: 3
                  maximum: 100
                  default: 8
                startsAt:
                  type: integer
                  description: Timestamp in milliseconds to start the tournament at a given date and time. By default, it starts 10 minutes after creation.
                roundInterval:
                  type: integer
                  description: |
                    How long to wait between each round, in seconds.

                    Set to 99999999 to manually schedule each round from the tournament UI.

                    If empty, a sensible value is picked automatically.
                  minimum: 0
                  maximum: 86400
                variant:
                  $ref: '#/components/schemas/VariantKey'
                description:
                  type: string
                  description: Anything you want to tell players about the tournament
                rated:
                  type: boolean
                  description: Games are rated and impact players ratings
                  default: true
                chatFor:
                  type: number
                  description: |
                    Who can read and write in the chat.
                    - 0  = No-one
                    - 10 = Only team leaders
                    - 20 = Only team members
                    - 30 = All Lishogi players
                  default: 20
              required:
                - 'clock.limit'
                - 'clock.increment'
                - nbRounds
      responses:
        "200":
          description: The Swiss tournament was successfully updated.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissTournament'
        "400":
          description: Updating the swiss failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: This user cannot update this Swiss.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwissUnauthorisedEdit'

  /api/swiss/{id}/join:
    post:
      operationId: apiSwissJoin
      summary: Join a Swiss tournament
      description: |
        Join a Swiss tournament, possibly with a password.
      tags:
        - "Swiss tournaments"
      security:
        - OAuth2: ["tournament:write"]
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
            example: "hL7vMrFQ"
          required: true
      requestBody:
        description: You may need these depending on the tournament to join
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: The tournament password, if one is required
      responses:
        "200":
          description: The tournament was successfully joined.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: Joining the tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/swiss/{id}/terminate:
    post:
      operationId: apiSwissTerminate
      summary: Terminate a Swiss tournament
      description: |
        Terminate a Swiss tournament
      tags:
        - "Swiss tournaments"
      security:
        - OAuth2: ["tournament:write"]
      parameters:
        - in: path
          name: id
          description: The Swiss tournament ID.
          schema:
            type: string
            example: "W5FrxusN"
          required: true
      responses:
        "200":
          description: The Swiss tournament was successfully terminated.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: Terminating the Swiss tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /swiss/{id}.trf:
    get:
      operationId: swissTrf
      summary: Export TRF of a Swiss tournament
      description: |
        Download a tournament in the Tournament Report File format, the FIDE standard.

        Documentation: <https://www.fide.com/FIDE/handbook/C04Annex2_TRF16.pdf>

        Example: <https://lishogi.org/swiss/j8rtJ5GL.trf>
      tags:
        - "Swiss tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The TRF representation of a Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                type: string

  /api/swiss/{id}/games:
    get:
      operationId: gamesBySwiss
      summary: Export games of a Swiss tournament
      description: |
        Download games of a swiss tournament in PGN or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (last round first).

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
      tags:
        - "Swiss tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
        - in: query
          name: moves
          description: Include the PGN moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: pgnInJson
          description: Include the full PGN within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the PGN tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the PGN, when available.

            Example: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`
          schema:
            type: boolean
            default: false
        - in: query
          name: opening
          description: |
            Include the opening name.

            Example: `[Opening "King's Gambit Accepted, King's Knight Gambit"]`
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The list of games of a Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GamePgn'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/swiss/{id}/results:
    get:
      operationId: resultsBySwiss
      summary: Get results of a swiss tournament
      description: |
        Players of a swiss tournament, with their score and performance, sorted by rank (best first).

        Players are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        If called on an ongoing tournament, results can be inconsistent
        due to ranking changes while the players are being streamed.
        Use on finished tournaments for guaranteed consistency.
      tags:
        - "Swiss tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
        - in: query
          name: nb
          description: Max number of players to fetch
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: The results of a Swiss tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                example: {
                  "rank": 4,
                  "points": 8.5,
                  "tieBreak": 77,
                  "rating": 2618,
                  "username": "opperwezen",
                  "title": "IM",
                  "performance": 2423
                }

  /api/team/{teamId}/swiss:
    get:
      operationId: apiTeamSwiss
      summary: Get team swiss tournaments
      description: |
        Get all swiss tournaments of a team.

        Tournaments are sorted by reverse chronological order of start date (last starting first).

        Tournaments are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      tags:
        - Teams
        - "Swiss tournaments"
      security: []
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
          required: true
          example: coders
        - in: query
          name: max
          description: How many tournaments to download.
          schema:
            type: integer
            minimum: 1
            default: 100
      responses:
        "200":
          description: The list of Swiss tournaments of a team.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/nd-json:
              schema:
                $ref: '#/components/schemas/SwissTournament'

  /study/{studyId}/{chapterId}.kif:
    get:
      operationId: studyChapterPgn
      summary: Export one study chapter
      description: |
        Download one study chapter in PGN format.
      tags:
        - Studies
      security: []
      parameters:
        - in: path
          name: studyId
          description: The study ID (8 characters).
          required: true
          schema:
            type: string
        - in: path
          name: chapterId
          description: The chapter ID (8 characters).
          required: true
          schema:
            type: string
        - in: query
          name: clocks
          description: |
            Include clock comments in the PGN moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: true
        - in: query
          name: comments
          description: |
            Include analysis and annotator comments in the PGN moves, when available.

            Example: `12. Bxf6 { [%eval 0.23] } a3 { White is in a pickle. }`
          schema:
[...]
