openapi: "3.1.0"
info:
  version: 2.0.0
  title: Lishogi.org API reference
  contact:
    name: "Lishogi.org API"
    url: "https://lishogi.org/api"
    email: "contact@lishogi.org"
  x-logo:
    url: https://lishogi1.org/assets/logo/lishogi-favicon-128.png
  description: |
    # Introduction
    Welcome to the reference for the Lishogi API! Lishogi is free/libre,
    open-source shogi server forked from lichess powered by volunteers and donations.

    Currently this page is a work in progress, certain information here might be wrong and incorrect!
    Expect it to be done during 2022.
    - Get help in the [Lishogi Discord channel](https://discord.gg/YFtpMGg3rR)
    - [Contribute to this documentation on Github](https://github.com/WandererXII/lishogi/blob/master/public/doc/lishogi-api.yaml)
    - Check out [Lishogi widgets to embed in your website](https://lishogi.org/developers)

    ## Endpoint
    All requests go to `https://lishogi.org` (unless otherwise specified).

    ## Rate limiting
    All requests are rate limited using various strategies,
    to ensure the API remains responsive for everyone.
    Only make one request at a time.
    If you receive an HTTP response with a [429 status](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#429),
    please wait a full minute before resuming API usage.

    ## Streaming with ND-JSON
    Some API endpoints stream their responses as [Newline Delimited JSON a.k.a. **nd-json**](http://ndjson.org/), with one JSON object per line.

    Here's a [JavaScript utility function (for lichess)](https://gist.github.com/ornicar/a097406810939cf7be1df8ea30e94f3e) to help reading NDJSON streamed responses.
servers:
  - url: https://lishogi.org
tags:
- name: Account
  description: |
    Read and write account information and preferences.
    <https://lishogi.org/account/preferences/game-display>
- name: Users
  description: |
    Access registered users on Lishogi.
    <https://lishogi.org/player>
- name: Relations
  description: |
    Access relations between users.
- name: Games
  description: |
    Access games played on Lishogi.
    <https://lishogi.org/games>
- name: TV
  description: |
    Access Lishogi TV channels and games.
    <https://lishogi.org/tv> & <https://lishogi.org/games>
- name: Puzzles
  description: |
    Access Lishogi [puzzle history and dashboard](https://lishogi.org/training).

    For a list of our puzzle themes with their description, check out the [theme translation file](https://github.com/WandererXII/lishogi/blob/master/translation/source/puzzleTheme.xml).
- name: Teams
  description: |
    Access and manage Lishogi teams and their members.
    <https://lishogi.org/team>
- name: Board
  description: "Play on Lishogi with third-party clients.\n
  \ Works with normal Lishogi accounts. Engine play or assistance is forbidden.\n\n\
  \n### Features\n\
  \ - [Stream incoming shogi moves](#operation/boardGameStream)\n\
  \ - [Play shogi moves](#operation/boardGameMove)\n\
  \ - [Read](#operation/boardGameStream) and [write](#operation/boardGameChatPost) in the player and spectator chats\n\
  \ - [Receive](#operation/apiStreamEvent), [create](#operation/challengeCreate) and [accept](#operation/challengeAccept) (or [decline](#operation/challengeDecline)) challenges\n\
  \ - [Abort](#operation/boardGameAbort) and [resign](#operation/boardGameResign) games\n\
  \ - Compatible with normal Lishogi accounts\n\n
  \n### Restrictions\n\
  \ - Engine assistance, or any kind of outside help, is strictly forbidden\n\
  \ - Time controls: [Rapid, Classical and Correspondence](https://lishogi.org/faq#time-controls) only.\n\
  \   For direct challenges and games vs AI, Blitz is also possible.\n\
  \n### Links\n\
  \ - [Announcement](https://lichess.org/blog/XlRW5REAAB8AUJJ-/welcome-lishogi-boards)\n\
  \ - [Implementation example](https://github.com/lishogi-org/api-demo) and [live demo](https://lichess-org.github.io/api-demo/) for lichess\n\n
  \ - [Lishogi discord bot](https://top.gg/bot/842330057841049600)"
- name: Bot
  description: "Play on Lishogi as a bot. Allows engine play.\n
  \ Only works with [Bot accounts](#operation/botAccountUpgrade).\n\n\
  \n### Features\n\
  \ - [Stream incoming shogi moves](#operation/botGameStream)\n\
  \ - [Play shogi moves](#operation/botGameMove)\n\
  \ - [Read](#operation/botGameStream) and [write](#operation/botGameChat) in the player and spectator chats\n\
  \ - [Receive](#operation/apiStreamEvent), [create](#operation/challengeCreate) and [accept](#operation/challengeAccept) (or [decline](#operation/challengeDecline)) challenges\n\
  \ - [Abort](#operation/botGameAbort) and [resign](#operation/botGameResign) games\n\
  \ - Engine assistance is allowed\n\
  \n### Restrictions\n\
  \ - Bots can only play challenge games: tournaments are off-limits\n\
  \n### Integrations\n\
  \ - [Python3 lishogi-bot](https://github.com/TheYoBots/Lishogi-Bot) (official)\n\
  \ - Yours? Please make [an issue or pull request](https://github.com/lishogi-org/api).\n\
  \n### Links\n\
  \ - Join the [Lishogi Bots team](https://lishogi.org/team/lishogi-bots) with your bot account\n\
  \ - [Get help in the discord channel](https://discord.gg/FvTuNMx4bY)\n\
  \ - Watch [Lishogi Bot TV](https://lishogi.org/tv/bot)"
- name: Challenges
  description: |
    Send and receive challenges to play.
- name: Arena tournaments
  description: |
    Access Arena tournaments played on Lishogi.
    [Official Arena tournaments](https://lishogi.org/tournament) are maintained by Lishogi,
    but you can [create your own Arena tournaments](https://lishogi.org/tournament/new) as well.
- name: Simuls
  description: |
    Access simuls played on Lishogi.
    <https://lishogi.org/simul>
- name: Studies
  description: |
    Access Lishogi studies.
    <https://lishogi.org/study>
- name: Messaging
  description: |
    Private messages with other players.
    <https://lishogi.org/inbox>
- name: Analysis
  description: |
    Access Lishogi cloud evaluations database.
    <https://lishogi.org/analysis>
paths:
  /api/users/status:
    get:
      operationId: apiUsersStatus
      summary: Get real-time users status
      description: |
        Read the `online`, `playing` and `streaming` flags of several users.

        This API is very fast and cheap on lishogi side.
        So you can call it quite often (like once every 5 seconds).

        Use it to track players and know when they're connected on lishogi and playing games.
      tags:
        - Users
      security: []
      parameters:
        - in: query
          name: ids
          required: true
          description: User IDs separated by commas. Up to 100 IDs.
          schema:
            type: string
          example: yokoyamatomoki,shogi_harbour,yohaansethnathan
        - in: query
          name: withGameIds
          required: false
          description: |
            Also return the ID of the game being played, if any, for each player, in a `playingId` field.
            Defaults to `false` to preserve server resources.
          schema:
            type: boolean
          example: true
      responses:
        "200":
          description: The list of users and their respective statuses.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    title:
                      type: [string, 'null']
                    online:
                      type: [boolean, 'null']
                    playing:
                      type: [boolean, 'null']
                    streaming:
                      type: [boolean, 'null']
                    patron:
                      type: [boolean, 'null']
                example: [
                  {
                    "id": "yokoyamatomoki",
                    "name": "YokoyamaTomoki",
                    "title": "PRO",
                  },
                  {
                    "id": "shogi_harbour",
                    "name": "Shogi_Harbour",
                    "title": "LP",
                    "online": true,
                    "playing": true,
                    "streaming": true,
                    "patron": true
                  }
                ]

  /player:
    get:
      operationId: player
      summary: Get all top 10
      tags:
        - Users
      security: []
      description: |
        Get the top 10 players for each speed and variant.

        See <https://lishogi.org/player>.
      responses:
        "200":
          description: The list of variants with their respective top players.
          content:
            application/vnd.lishogi.v3+json:
              schema:
                $ref: '#/components/schemas/Top10s'

  /player/top/{nb}/{perfType}:
    get:
      operationId: playerTopNbPerfType
      summary: Get one leaderboard
      tags:
        - Users
      security: []
      description: |
        Get the leaderboard for a single speed or variant (a.k.a. `perfType`).
        There is no leaderboard for correspondence or puzzles.

        See <https://lishogi.org/player/top/200/bullet>.
      parameters:
        - in: path
          name: nb
          description: How many users to fetch
          schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 100
          required: true
        - in: path
          name: perfType
          description: The speed or variant
          schema:
            type: string
            example: bullet
            enum:
              - ultraBullet
              - bullet
              - blitz
              - rapid
              - classical
              - minishogi
              - chushogi
              - annanshogi
              - kyotoshogi
              - checkshogi
          required: true
      responses:
        "200":
          description: The list of top players for the variant.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/vnd.lishogi.v3+json:
              schema:
                $ref: '#/components/schemas/Leaderboard'

  /api/user/{username}:
    get:
      operationId: apiUser
      summary: Get user public data
      description: |
        Read public data of a user.
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The information of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtended'

  /api/user/{username}/rating-history:
    get:
      operationId: apiUserRatingHistory
      summary: Get rating history of a user
      description: |
        Read rating history of a user, for all perf types.
        There is at most one entry per day.
        Format of an entry is `[year, month, day, rating]`.
        `month` starts at zero (January).
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The rating history of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RatingHistory'

  /api/user/{username}/activity:
    get:
      operationId: apiUserActivity
      summary: Get user activity
      description: |
        Read data to generate the activity feed of a user.
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The activity feed of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              example:
                https://gist.github.com/ornicar/0ee2d2427cb74ed1a35e86f5ba09fabc

  /api/puzzle/daily:
    get:
      operationId: apiPuzzleDaily
      summary: Get the daily puzzle
      description: |
        Get the daily Lishogi puzzle in JSON format.
      tags:
        - Puzzles
      security: []
      responses:
        "200":
          description: The daily puzzle.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/PuzzleJson'

  /api/puzzle/activity:
    get:
      operationId: apiPuzzleActivity
      summary: Get your puzzle activity
      description: |
        Download your puzzle activity in [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Puzzle activity is sorted by reverse chronological order (most recent first)

        We recommend streaming the response, for it can be very long.
      tags:
        - Puzzles
      security:
        - OAuth2: ["puzzle:read"]
      parameters:
        - in: query
          name: max
          description: How many entries to download. Leave empty to download all activity.
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: The puzzle activity of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/PuzzleRoundJson'

  /api/puzzle/dashboard/{days}:
    get:
      operationId: apiPuzzleDashboard
      summary: Get your puzzle dashboard
      description: |
        Download your [puzzle dashboard](https://lishogi.org/training/dashboard/30/dashboard) as JSON.

        Also includes all puzzle themes played, with aggregated results.

        Allows re-creating the [improvement/strengths](https://lishogi.org/training/dashboard/30/improvementAreas) interfaces.
      tags:
        - Puzzles
      security:
        - OAuth2: ["puzzle:read"]
      parameters:
        - in: path
          name: days
          required: true
          description: How many days to look back when aggregating puzzle results. 30 is sensible.
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: The puzzle dashboard of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PuzzleDashboardJson'

  /api/users:
    post:
      operationId: apiUsers
      summary: Get users by ID
      tags:
        - Users
      security: []
      description: |
        Get up to 300 users by their IDs. Users are returned in the same order as the IDs.

        The method is `POST` so a longer list of IDs can be sent in the request body.
      requestBody:
        description: User IDs separated by commas.
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: "yokoyamatomoki,shogi_harbour,yohaansethnathan"
      responses:
        "200":
          description: The list of users.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  /api/account:
    get:
      operationId: accountMe
      summary: Get my profile
      description: |
        Public information about the logged in user.
      tags:
        - Account
      security:
        - OAuth2: []
      responses:
        "200":
          description: The public information about the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserExtended'

  /api/account/email:
    get:
      operationId: accountEmail
      summary: Get my email address
      description: |
        Read the email address of the logged in user.
      tags:
        - Account
      security:
        - OAuth2: ["email:read"]
      responses:
        "200":
          description: The email address of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                properties:
                  email:
                    type: string
                example:
                  email: user@mail.org

  /api/account/preferences:
    get:
      operationId: account
      summary: Get my preferences
      description: |
        Read the preferences of the logged in user.

        - <https://lishogi.org/account/preferences/game-display>
        - <https://github.com/WandererXII/lishogi/blob/master/modules/pref/src/main/Pref.scala>
      tags:
        - Account
      security:
        - OAuth2: ["preference:read"]
      responses:
        "200":
          description: The preferences of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                properties:
                  prefs:
                    $ref: '#/components/schemas/UserPreferences'
                  language:
                    type: string
                    example: en-GB

  /api/account/kid:
    get:
      operationId: accountKid
      summary: Get my kid mode status
      description: |
        Read the kid mode status of the logged in user.

        - <https://lishogi.org/account/kid>
      tags:
        - Account
      security:
        - OAuth2: ["preference:read"]
      responses:
        "200":
          description: The kid mode status of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                properties:
                  kid:
                    type: boolean
                example:
                  kid: false
    post:
      operationId: accountKidPost
      summary: Set my kid mode status
      description: |
        Set the kid mode status of the logged in user.

        - <https://lishogi.org/account/kid>
      tags:
        - Account
      security:
        - OAuth2: ["preference:write"]
      parameters:
        - in: query
          name: v
          required: true
          description: Kid mode status
          schema:
            type: boolean
          example: true
      responses:
        "200":
          description: The kid mode status was set successfully for the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'

  /game/export/{gameId}:
    get:
      operationId: gameKif
      summary: Export one game
      description: |
        Download one game in either KIF or JSON format.

        Ongoing games have their last 3 moves omitted, after move 5.
      tags:
        - Games
      security: []
      parameters:
        - in: path
          name: gameId
          description: The game ID (8 characters).
          required: true
          schema:
            type: string
        - in: query
          name: moves
          description: Include the KIF moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: tags
          description: Include the KIF tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `22   同　玉(51)   (00:02/00:00:13)`
          schema:
            type: boolean
            default: true
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the KIF, when available.

            Example: `9   ７八銀(79)   * [%eval -1.48]`
          schema:
            type: boolean
            default: true
        - in: query
          name: players
          description: |
            URL of a text file containing real names and ratings, to replace Lishogi usernames and ratings in the KIF.
            Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
          schema:
            type: string
      responses:
        "200":
          description: The game representation.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GameKif'
            application/json:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/user/{username}/current-game:
    get:
      operationId: apiUserCurrentGame
      summary: Export ongoing game of a user
      description: |
        Download the ongoing game, or the last game played, of a user.
        Available in either KIF or JSON format.
        If the game is ongoing, the 3 last moves are omitted.
      tags:
        - Games
      security: []
      parameters:
        - in: path
          name: username
          required: true
          schema:
            type: string
        - in: query
          name: moves
          description: Include the KIF moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: tags
          description: Include the KIF tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `22   同　玉(51)   (00:02/00:00:13)`
          schema:
            type: boolean
            default: true
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the KIF, when available.

            Example: `9   ７八銀(79)   * [%eval -1.48]`
          schema:
            type: boolean
            default: true
        - in: query
          name: players
          description: |
            URL of a text file containing real names and ratings, to replace Lishogi usernames and ratings in the KIF.
            Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
          schema:
            type: string
      responses:
        "200":
          description: The ongoing (or last) game of a user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GameKif'
            application/json:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/games/user/{username}:
    get:
      operationId: apiGamesUser
      summary: Export games of a user
      description: |
        Download all games of any user in KIF or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (most recent first).

        We recommend streaming the response, for it can be very long.
        <https://lishogi.org/@/YoBot_v2> for instance has more than 15,000 games.

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
          - Authenticated, downloading your own games: 60 games per second
      tags:
        - Games
      security:
        - OAuth2: []
      parameters:
        - in: path
          name: username
          description: The user name.
          schema:
            type: string
          required: true
        - in: query
          name: since
          description: Download games played since this timestamp. Defaults to account creation date.
          schema:
            type: integer
            minimum: 1356998400070
        - in: query
          name: until
          description: Download games played until this timestamp. Defaults to now.
          schema:
            type: integer
            minimum: 1356998400070
        - in: query
          name: max
          description: How many games to download. Leave empty to download all games.
          schema:
            type: integer
            minimum: 1
        - in: query
          name: vs
          description: "[Filter] Only games played against this opponent"
          schema:
            type: string
        - in: query
          name: rated
          description: "[Filter] Only rated (`true`) or casual (`false`) games"
          schema:
            type: boolean
        - in: query
          name: perfType
          description: "[Filter] Only games in these speeds or variants.\n
          \nMultiple perf types can be specified, separated by a comma.\n
          \nExample: blitz,rapid,classical"
          schema:
            allOf:
              - $ref: '#/components/schemas/PerfType'
              - default: null
        - in: query
          name: color
          description: "[Filter] Only games played as this color."
          schema:
            type: string
            enum:
              - sente
              - gote
        - in: query
          name: analysed
          description: "[Filter] Only games with or without a computer analysis available"
          schema:
            type: boolean
        - in: query
          name: moves
          description: Include the KIF moves.
          schema:
            type: boolean
        - in: query
          name: pgnInJson
          description:
            Include the full KIF within the JSON response, in a `notation` field.

            The response type must be set to `application/x-ndjson` by the request `Accept` header.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the KIF tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `22   同　玉(51)   (00:02/00:00:13)`
          schema:
            type: boolean
            default: false
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the KIF, when available.

            Example: `9   ７八銀(79)   * [%eval -1.48]`
          schema:
            type: boolean
            default: false
        - in: query
          name: ongoing
          description: Include ongoing games. The last 3 moves will be omitted.
          schema:
            type: boolean
            default: false
        - in: query
          name: finished
          description: Include finished games. Set to `false` to only get ongoing games.
          schema:
            type: boolean
            default: true
        - in: query
          name: players
          description: |
            URL of a text file containing real names and ratings, to replace Lishogi usernames and ratings in the KIF.
            Example: <https://gist.githubusercontent.com/ornicar/6bfa91eb61a2dcae7bcd14cce1b2a4eb/raw/768b9f6cc8a8471d2555e47ba40fb0095e5fba37/gistfile1.txt>
          schema:
            type: string
        - in: query
          name: sort
          description: "Sort order of the games."
          schema:
            type: string
            default: dateDesc
            enum:
              - dateAsc
              - dateDesc
      responses:
        "200":
          description: The games of the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GameKif'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/stream/games-by-users:
    post:
      operationId: gamesByUsers
      summary: Stream games of users
      description: |
        Stream the games played between a list of users, in real time.
        Only games where **both players** are part of the list are included.

        By default, games are only sent to the stream when they start.
        To also get all ongoing games at the beginning of the stream, use the `withCurrentGames` flag.

        Maximum number of users: 300.

        Games are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        The method is `POST` so a longer list of IDs can be sent in the request body.
      tags:
        - Games
      security: []
      requestBody:
        description: Up to 300 user IDs separated by commas.
        required: true
        content:
          text/plain:
            schema:
              type: string
            example: yokoyamatomoki,shogi_harbour,yohaansethnathan
      parameters:
        - in: query
          name: withCurrentGames
          description: Include the already started games at the beginning of the stream.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The stream of the games played between the users.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                example: {
                  "id": "A5fcMO3k",
                  "rated": true,
                  "variant": "standard",
                  "speed": "bullet",
                  "perf": "bullet",
                  "createdAt": 1525789431889,
                  "status": 20,
                  "clock": {
                    "initial": 60,
                    "increment": 0,
                    "byoyomi": 0,
                    "periods": 1,
                    "totalTime": 60},
                    "players": {
                      "sente": {
                        "userId": "yohaansethnathan",
                        "rating": 2617
                      },
                      "gote": {
                        "userId": "yobot_v2",
                        "rating": 2288
                      }
                  }
                }

  /api/account/playing:
    get:
      operationId: apiAccountPlaying
      summary: Get my ongoing games
      description: |
        Get the ongoing games of the current user.
        Real-time and correspondence games are included.
        The most urgent games are listed first.
      tags:
        - Games
      security:
        - OAuth2: []
      parameters:
        - in: query
          name: nb
          description: Max number of games to fetch
          schema:
            type: integer
            default: 9
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: The ongoing games of the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                example: {
                  "nowPlaying": [
                    {
                      "gameId": "rCRw1AuO",
                      "fullId": "rCRw1AuOvonq",
                      "color": "gote",
                      "sfen": "r1bqkbnr/pppp2pp/2n1pp2/8/8/3PP3/PPPB1PPP/RN1QKBNR w KQkq - 2 4",
                      "hasMoved": true,
                      "isMyTurn": false,
                      "lastMove": "b8c6",
                      "opponent": { "id": "yohaansethnathan", "rating": 1790, "username": "yohaansethnathan" },
                      "perf": "correspondence",
                      "rated": false,
                      "secondsLeft": 1209600,
                      "source": "friend",
                      "speed": "correspondence",
                      "variant": { "key": "standard", "name": "Standard" }
                    }
                  ]
                }

  /api/stream/game/{id}:
    get:
      operationId: streamGame
      summary: Stream moves of a game
      description: |
        Stream positions and moves of any ongoing game, in [ndjson](#section/Introduction/Streaming-with-ND-JSON).

        A description of the game is sent as a first message.
        Then a message is sent each time a move is played.
        Finally a description of the game is sent when it finishes, and the stream is closed.

        After move 5, the stream intentionally remains 3 moves behind the game status, as to prevent cheat bots from using this API.

        No more than 8 game streams can be opened at the same time from the same IP address.
      tags:
        - Games
      security: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            example: "LuGQwhBb"
          required: true
      responses:
        "200":
          description: The stream of the game moves.
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/MoveStream'

  /api/tv/channels:
    get:
      operationId: tvChannels
      summary: Get current TV games
      description: |
        Get basic info about the best games being played for each speed and variant,
        but also computer games and bot games.

        See [lishogi.org/tv](https://lishogi.org/tv).
      tags:
        - TV
      security: []
      responses:
        "200":
          description: The list of games being played for each speed and variant.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                example: {
                  "Bot": {
                      "user": {
                          "name": "o_moli_e_mi",
                          "id": "o_moli_e_mi"
                      },
                      "rating": 1500,
                      "gameId": "n35AmydN"
                  },
                  "UltraBullet": {
                      "user": {
                          "name": "vnamese_shogi_player",
                          "id": "vnamese_shogi_player"
                      },
                      "rating": 1502,
                      "gameId": "e13EEMJH"
                  },
                  "Bullet": {
                      "user": {
                          "name": "Harururu",
                          "id": "harururu"
                      },
                      "rating": 1175,
                      "gameId": "SplWCERy"
                  },
                  "Classical": {
                      "user": {
                          "name": "it",
                          "id": "it"
                      },
                      "rating": 1611,
                      "gameId": "Qs6A7q6X"
                  },
                  "Computer": {
                      "user": {
                          "name": "meikawa",
                          "id": "meikawa"
                      },
                      "rating": 1500,
                      "gameId": "YcpXkcMi"
                  },
                  "Rapid": {
                      "user": {
                          "name": "Sereon",
                          "id": "sereon"
                      },
                      "rating": 1500,
                      "gameId": "doJVE9uH"
                  },
                  "Top Rated": {
                      "user": {
                          "name": "meikawa",
                          "id": "meikawa"
                      },
                      "rating": 1500,
                      "gameId": "CUPfcBlg"
                  },
                  "Blitz": {
                      "user": {
                          "name": "nekomiya_tank",
                          "id": "nekomiya_tank"
                      },
                      "rating": 1930,
                      "gameId": "nOYWf3Tc"
                  },
                  "Minishogi": {
                      "user": {
                          "name": "Chakalnikov",
                          "id": "chakalnikov"
                      },
                      "rating": 1500,
                      "gameId": "snDhiKtA"
                  }
                }

  /api/tv/feed:
    get:
      operationId: tvFeed
      summary: Stream current TV game
      description: |
        Stream positions and moves of the current [TV game](https://lishogi.org/tv) in [ndjson](#section/Introduction/Streaming-with-ND-JSON).
        A summary of the game is sent as a first message, and when the featured game changes.

        Try it with `curl https://lishogi.org/api/tv/feed`.
      tags:
        - TV
      security: []
      responses:
        "200":
          description: The stream of the current TV game.
          content:
            application/x-ndjson:
              schema:
                example: {
                  "t": "featured",
                  "d": {
                    "id": "ACy7ndl5",
                    "orientation": "gote",
                    "players": [
                      {
                        "color": "sente",
                        "user": { "name": "proudly", "id": "proudly" },
                        "rating": 1887
                      },
                      {
                        "color": "gote",
                        "user": { "name": "Fortissimo", "id": "fortissimo" },
                        "rating": 2176
                      }
                    ],
                    "sfen": "lnsgkgsnl/1r5b1/ppppppppp/9/9/9/PPPPPPPPP/1B5R1/LNSGKGSNL b - 1"
                  }
                }

  /api/tv/{channel}:
    get:
      operationId: tvChannelGames
      summary: Get best ongoing games of a TV channel
      description: |
        Get a list of ongoing games for a given TV channel. Similar to [lishogi.org/games](https://lishogi.org/games).

        Available in kifu or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format, depending on the request Accept header.
      tags:
        - TV
      security: []
      parameters:
        - in: path
          name: channel
          description: The name of the channel in camel case.
          schema:
            type: string
          required: true
        - in: query
          name: nb
          description: Number of games to fetch.
          schema:
            type: number
            default: 10
            minimum: 1
            maximum: 30
        - in: query
          name: moves
          description: Include the KIF moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: notationInJson
          description: Include the full KIF within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the KIF tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The representation of the games.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GameKif'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/tournament:
    get:
      operationId: apiTournament
      summary: Get current tournaments
      description: |
        Get recently finished, ongoing, and upcoming tournaments.

        This API is used to display the [Lishogi tournament schedule](https://lishogi.org/tournament).
      tags:
        - "Arena tournaments"
      security: []
      responses:
        "200":
          description: The list of current tournaments.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournaments'
    post:
      operationId: apiTournamentPost
      summary: Create a new Arena tournament
      description: |
        Create a public or private Arena tournament.

        This endpoint mirrors the form on <https://lishogi.org/tournament/new>.

        You can create up to 12 public tournaments per day, or 24 private tournaments.

        A team battle can be created by specifying the `teambBattleByTeam` argument.
      tags:
        - "Arena tournaments"
      security:
        - OAuth2: ["tournament:write"]
      requestBody:
        description: Parameters of the tournament
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The tournament name. Leave empty to get a random Grandmaster name
                clockTime:
                  type: number
                  description: Clock initial time in minutes
                  example: 2
                  enum:
                    - 0
                    - 0.25
                    - 0.5
                    - 0.75
                    - 1
                    - 1.5
                    - 2
                    - 3
                    - 4
                    - 5
                    - 6
                    - 7
                    - 10
                    - 15
                    - 20
                    - 25
                    - 30
                    - 40
                    - 50
                    - 60
                clockIncrement:
                  type: integer
                  description: Clock increment in seconds
                  example: 1
                  enum: [0, 1, 2, 3, 4, 5, 6, 7, 10, 15, 20, 25, 30, 40, 50, 60]
                clockByoyomi:
                  type: integer
                  description: Clock byoyomi in seconds
                  example: 1
                  enum: [0, 1, 2, 3, 4, 5, 6, 7, 10, 15, 20, 25, 30, 40, 50, 60]
                periods:
                  type: integer
                  description: Clock periods for byoyomi
                  example: 1
                  enum: [0, 1, 2, 3, 4, 5]
                minutes:
                  type: integer
                  description: How long the tournament lasts, in minutes
                  example: 60
                  enum: [20, 25, 30, 35, 40, 45, 50, 55, 60, 70, 80, 90, 100, 110, 120, 150, 180, 210, 240, 270, 300, 330, 360, 420, 480, 540, 600, 720]
                waitMinutes:
                  type: integer
                  description: How long to wait before starting the tournament, from now, in minutes
                  default: 5
                  enum: [1, 2, 3, 5, 10, 15, 20, 30, 45, 60]
                startDate:
                  type: integer
                  description: Timestamp to start the tournament at a given date and time. Overrides the `waitMinutes` setting
                variant:
                  $ref: '#/components/schemas/VariantKey'
                rated:
                  type: boolean
                  description: Games are rated and impact players ratings
                  default: true
                position:
                  type: string
                  description: Custom initial position (in SFEN) for all games of the tournament. Must be a legal shogi position. Only works with standard shogi, not variants.
                berserkable:
                  type: boolean
                  description: Whether the players can use berserk
                  default: true
                streakable:
                  type: boolean
                  description: After 2 wins, consecutive wins grant 4 points instead of 2.
                  default: true
                # "conditions.titled":
                #   type: boolean
                #   description: Whether to require a title to enter the tournament
                #   default: false
                hasChat:
                  type: boolean
                  description: Whether the players can discuss in a chat
                  default: true
                description:
                  type: string
                  description: Anything you want to tell players about the tournament
                password:
                  type: string
                  description: |
                    Make the tournament private, and restrict access with a password.
                    You can also [generate user-specific entry codes](https://github.com/lishogi-org/api/tree/master/example/tournament-entry-code)
                    based on this password.
                teamBattleByTeam:
                  type: string
                  description: |
                    Set the ID of a team you lead to create a team battle.
                    The other teams can be added using the [team battle edit endpoint](#operation/apiTournamentTeamBattlePost).
                conditions.teamMember.teamId:
                  type: string
                  description: |
                    Restrict entry to members of a team.

                    The teamId is the last part of a team URL, e.g. `https://lishogi.org/team/shogi-is-hard` has teamId = `shogi-is-hard`.

                    Leave empty to let everyone join the tournament.

                    Do not use this to create team battles, use `teamBattleByTeam` instead.
                conditions.minRating.rating:
                  type: integer
                  description: Minimum rating to join. Leave empty to let everyone join the tournament.
                conditions.maxRating.rating:
                  type: integer
                  description: Maximum rating to join. Based on best rating reached in the last 7 days. Leave empty to let everyone join the tournament.
                conditions.nbRatedGame.nb:
                  type: integer
                  description: Minimum number of rated games required to join.
              required:
                - clockTime
                - clockIncrement
                - clockByoyomi
                - periods
                - minutes
      responses:
        "200":
          description: The Arena tournament has been successfully created.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'
        "400":
          description: The creation of the Arena tournament failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/tournament/{id}:
    parameters:
     - in: path
       name: id
       description: The tournament ID.
       schema:
         type: string
       required: true
    get:
      operationId: tournament
      summary: Get info about an Arena tournament
      description: |
        Get detailed info about recently finished, current, or upcoming tournament's duels, player standings, and other info.
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: query
          name: page
          description: Specify which page of player standings to view.
          schema:
            type: number
            example: 1
            default: 1
            minimum: 1
            maximum: 200
      responses:
        "200":
          description: The information of the Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArenaTournament'

  /api/tournament/{id}/games:
    get:
      operationId: gamesByTournament
      summary: Export games of an Arena tournament
      description: |
        Download games of a tournament in KIF or [ndjson](#section/Introduction/Streaming-with-ND-JSON) format.

        Games are sorted by reverse chronological order (most recent first).

        The game stream is throttled, depending on who is making the request:
          - Anonymous request: 20 games per second
          - [OAuth2 authenticated](#section/Authentication) request: 30 games per second
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
        - in: query
          name: player
          description: Only games of a particular player. Leave empty to fetch games of all players.
          schema:
            type: string
        - in: query
          name: moves
          description: Include the KIF moves.
          schema:
            type: boolean
            default: true
        - in: query
          name: pgnInJson
          description: Include the full KIF within the JSON response, in a `notation` field.
          schema:
            type: boolean
            default: false
        - in: query
          name: tags
          description: Include the KIF tags.
          schema:
            type: boolean
            default: true
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `22   同　玉(51)   (00:02/00:00:13)`
          schema:
            type: boolean
            default: false
        - in: query
          name: evals
          description: |
            Include analysis evaluation comments in the KIF, when available.

            Example: `9   ７八銀(79)   * [%eval -1.48]`
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The list of games of an Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GameKif'
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameJson'

  /api/tournament/{id}/results:
    get:
      operationId: resultsByTournament
      summary: Get results of an Arena tournament
      description: |
        Players of an Arena tournament, with their score and performance, sorted by rank (best first).

        **Players are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON)**, i.e. one JSON object per line.

        If called on an ongoing tournament, results can be inconsistent
        due to ranking changes while the players are being streamed.
        Use on finished tournaments for guaranteed consistency.
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
        - in: query
          name: nb
          description: Max number of players to fetch
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: The results of the Arena tournament.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                example: {
                  "rank": 4,
                  "score": 11,
                  "rating": 1147,
                  "username": "yohaansethnathan",
                  "performance": 1232,
                  "team": "shogi-is-hard"
                }

  /api/tournament/{id}/teams:
    get:
      operationId: teamsByTournament
      summary: Get team standing of a team battle
      description: |
        Teams of a team battle tournament, with top players, sorted by rank (best first).
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: id
          description: The tournament ID.
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The list of teams of a team battle tournament, with their respective top players.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                example: {
                  "id": "CdPg1ey4",
                  "teams": [
                    {
                      "rank": 1,
                      "id": "cat-lovers",
                      "score": 842,
                      "players": [
                        { "user": { "name": "lizen69", "id": "lizen69" }, "score": 54 },
                        { "user": { "name": "lizen249", "id": "lizen249" } }
                      ]
                    }
                  ]
                }

  /api/user/{username}/tournament/created:
    get:
      operationId: apiUserNameTournamentCreated
      summary: Get tournaments created by a user
      description: |
        Get all tournaments created by a given user.

        Tournaments are sorted by reverse chronological order of start date (last starting first).

        Tournaments are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      tags:
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: username
          description: The user whose created tournaments to fetch
          schema:
            type: string
          required: true
        - in: query
          name: status
          description: |
            Include tournaments in the given status: "Created" (10), "Started" (20), "Finished" (30)
            
            You can add this parameter more than once to include tournaments in different statuses. 
            
            Example: `?status=10&status=20`
          schema:
            type: integer
            enum: [10, 20, 30]
          required: false
      responses:
        "200":
          description: The list of tournaments created by the user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/ArenaTournament'

  /study/{studyId}/{chapterId}.kif:
    get:
      operationId: studyChapterKif
      summary: Export one study chapter
      description: |
        Download one study chapter in KIF format.
      tags:
        - Studies
      security: []
      parameters:
        - in: path
          name: studyId
          description: The study ID (8 characters).
          required: true
          schema:
            type: string
        - in: path
          name: chapterId
          description: The chapter ID (8 characters).
          required: true
          schema:
            type: string
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `22   同　玉(51)   (00:02/00:00:13)`
          schema:
            type: boolean
            default: true
        - in: query
          name: comments
          description: |
            Include analysis and annotator comments in the KIF moves, when available.

            Example: `1   ３六歩(37)  * Good move  * 次に▲35歩で角道を遮る！  * [%csl P3d,P2b][%cal P3f3e]`
          schema:
            type: boolean
            default: true
        - in: query
          name: variations
          description: |
            Include non-mainline moves, when available.

            Example: `7   ４八銀(39)  * [%cal P4h3g,P3g4f,P3f3e]`
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: The chapter of the study.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StudyKif'

  /api/study/{studyId}.kif:
    get:
      operationId: studyAllChaptersKif
      summary: Export all chapters
      description: |
        Download all chapters of a study in KIF format.
      tags:
        - Studies
      security: []
      parameters:
        - in: path
          name: studyId
          description: The study ID (8 characters).
          required: true
          schema:
            type: string
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `22   同　玉(51)   (00:02/00:00:13)`
          schema:
            type: boolean
            default: true
        - in: query
          name: comments
          description: |
            Include analysis and annotator comments in the KIF moves, when available.

            Example: `1   ３六歩(37)  * Good move  * 次に▲35歩で角道を遮る！  * [%csl P3d,P2b][%cal P3f3e]`
          schema:
            type: boolean
            default: true
        - in: query
          name: variations
          description: |
            Include non-mainline moves, when available.

            Example: `7   ４八銀(39)  * [%cal P4h3g,P3g4f,P3f3e]`
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: The KIF representation of the study.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StudyKif'

  /study/by/{username}/export.kif:
    get:
      operationId: studyExportAllKif
      summary: Export all studies of a user
      description: |
        Download all chapters of all studies of a user in KIF format.

        If authenticated, then all public, unlisted, and private studies are included.

        If not, only public, listed studies are included.
      tags:
        - Studies
      security:
        - OAuth2: ["study:read"]
      parameters:
        - in: path
          name: username
          description: The user whose studies we export
          required: true
          schema:
            type: string
        - in: query
          name: clocks
          description: |
            Include clock comments in the KIF moves, when available.

            Example: `22   同　玉(51)   (00:02/00:00:13)`
          schema:
            type: boolean
            default: true
        - in: query
          name: comments
          description: |
            Include analysis and annotator comments in the KIF moves, when available.

            Example: `1   ３六歩(37)  * Good move  * 次に▲35歩で角道を遮る  * [%csl P3d,P2b][%cal P3f3e]`
          schema:
            type: boolean
            default: true
        - in: query
          name: variations
          description: |
            Include non-mainline moves, when available.

            Example: `7   ４八銀(39)  * [%cal P4h3g,P3g4f,P3f3e]`
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: The studies of the user.
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StudyKif'

  /api/simul:
    get:
      operationId: apiSimul
      summary: Get current simuls
      description: |
        Get recently finished, ongoing, and upcoming simuls.
      tags:
        - Simuls
      security: []
      responses:
        "200":
          description: The list of simuls.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Simul'

  /api/team/{teamId}:
    get:
      operationId: teamShow
      summary: Get a single team
      description: Infos about a team
      tags:
        - Teams
      security: []
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: The information about the team.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'

  /api/team/all:
    get:
      operationId: teamAll
      summary: Get popular teams
      description: |
        Paginator of the most popular teams.
      tags:
        - Teams
      security: []
      parameters:
        - in: query
          name: page
          schema:
            type: number
            example: 1
            default: 1
      responses:
        "200":
          description: A paginated list of the most popular teams.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentPage:
                    type: number
                    example: 4
                  maxPerPage:
                    type: number
                    example: 15
                  currentPageResults:
                    type: array
                    items:
                      $ref: '#/components/schemas/Team'
                  nbResults:
                    type: number
                    example: 205194
                  previousPage:
                    type: [number, 'null']
                    example: 3
                  nextPage:
                    type: [number, 'null']
                    example: 5
                  nbPages:
                    type: number
                    example: 13680

  /api/team/of/{username}:
    get:
      operationId: teamOfUsername
      summary: Teams of a player
      description: |
        All the teams a player is a member of.
      tags:
        - Teams
      security: []
      parameters:
        - in: path
          name: username
          schema:
            type: string
            example: "wandererxii"
          required: true
      responses:
        "200":
          description: The list of teams the user is a member of.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'

  /api/team/search:
    get:
      operationId: teamSearch
      summary: Search teams
      description: |
        Paginator of team search results for a keyword.
      tags:
        - Teams
      security: []
      parameters:
        - in: query
          name: text
          schema:
            type: string
            example: shogi-is-hard
        - in: query
          name: page
          schema:
            type: number
            example: 1
            default: 1
      responses:
        "200":
          description: The paginated list of teams.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'

  /api/team/{teamId}/users:
    get:
      operationId: teamIdUsers
      summary: Get members of a team
      description: |
        Members are sorted by reverse chronological order of joining the team (most recent first).
        OAuth only required if the list of members is private.

        Members are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      tags:
        - Users
        - Teams
      security:
        - OAuth2: ["team:read"]
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
            example: "shogi-is-hard"
          required: true
      responses:
        "200":
          description: The list of users in the team.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/UserExtended'

  /api/team/{teamId}/arena:
    get:
      operationId: apiTeamArena
      summary: Get team Arena tournaments
      description: |
        Get all Arena tournaments relevant to a team.

        Tournaments are sorted by reverse chronological order of start date (last starting first).

        Tournaments are streamed as [ndjson](#section/Introduction/Streaming-with-ND-JSON).
      tags:
        - Teams
        - "Arena tournaments"
      security: []
      parameters:
        - in: path
          name: teamId
          description: ID of the team
          schema:
            type: string
          required: true
        - in: query
          name: max
          description: How many tournaments to download.
          schema:
            type: integer
            minimum: 1
            default: 100
      responses:
        "200":
          description: The list of Arena tournaments of a team.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArenaTournament'

  /team/{teamId}/join:
    post:
      operationId: teamIdJoin
      summary: Join a team
      description: |
        Join a team.
        If the team join policy requires a confirmation but the
        `message` parameter is not given, then the call fails with
        `403 Forbidden`.
      tags:
        - Teams
      security:
        - OAuth2: ["team:write"]
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
            example: "shogi-is-hard"
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Optional request message, if the team requires one.
      responses:
        "200":
          description: The request to join a team was successfully sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'

  /team/{teamId}/quit:
    post:
      operationId: teamIdQuit
      summary: Leave a team
      description: |
        Leave a team.
        - <https://lishogi.org/team>
      tags:
        - Teams
      security:
        - OAuth2: ["team:write"]
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
            example: "shogi-is-hard"
          required: true
      responses:
        "200":
          description: The logged in user has successfully left the team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'

  /team/{teamId}/kick/{userId}:
    post:
      operationId: teamIdKickUserId
      summary: Kick a user from your team
      description: |
        Kick a member out of one of your teams.
        - <https://lishogi.org/team>
      tags:
        - Teams
      security:
        - OAuth2: ["team:write"]
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
            example: "shogi-is-hard"
          required: true
        - in: path
          name: userId
          schema:
            type: string
            example: "yohaansethnathan"
          required: true
      responses:
        "200":
          description: The member has been kicked from the team.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'

  /team/{teamId}/pm-all:
    post:
      operationId: teamIdPmAll
      summary: Message all members
      description: |
        Send a private message to all members of a team.
        You must own the team.
      tags:
        - Teams
      security:
        - OAuth2: ["team:write"]
      parameters:
        - in: path
          name: teamId
          schema:
            type: string
            example: "shogi-is-hard"
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: The message to send to all your team members.
      responses:
        "200":
          description: The message has successfully been sent to all team members.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The sending of message to all team members has failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /streamer/live:
    get:
      operationId: streamerLive
      summary: Get live streamers
      description: |
        Get basic info about currently streaming users.

        This API is very fast and cheap on lishogi side.
        So you can call it quite often (like once every 5 seconds).
      tags:
        - Users
      security: []
      responses:
        "200":
          description: The list of live streamers and their respective information.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LightUser'
                example: [
                  {
                    "id": "shogi_harbour",
                    "name": "Shogi_Harbour",
                    "title": "LP",
                    "patron": true,
                    "stream": {
                      "service": "twitch",
                      "status": "Tuesday night shogi | lishogi.org",
                      "lang": "en"
                    },
                    "streamer": {
                      "name": "shogi_harbour",
                      "headline": "Shogi Harbour - a safe place to learn about shogi",
                      "description": "Streaming on Twitch on Thursdays, Saturdays and Sundays, reviewing your kifu, playing exhibition games or just reading a shogi book. Our community has active discord server with running tournament which prize is a game against professional shogi player.",
                      "twitch": "https://www.twitch.tv/shogi_harbour",
                      "youTube": "https://www.youtube.com/channel/UCRnXG7CkKfEN6IINKcO_uBg/live"
                    }
                  }
                ]

  /api/crosstable/{user1}/{user2}:
    get:
      operationId: apiCrosstable
      summary: Get crosstable
      description: |
        Get total number of games, and current score, of any two users.

        If the `matchup` flag is provided, and the users are currently playing, also gets the current match game number and scores.
      tags:
        - Users
      security: []
      parameters:
        - in: path
          name: user1
          schema:
            type: string
          required: true
        - in: path
          name: user2
          schema:
            type: string
          required: true
        - in: query
          name: matchup
          description: Whether to get the current match data, if any
          schema:
            type: boolean
      responses:
        "200":
          description: The crosstable of the two users.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crosstable'

  /api/player/autocomplete:
    get:
      operationId: apiPlayerAutocomplete
      summary: Autocomplete usernames
      description: |
        Provides autocompletion options for an incomplete username.
      tags:
        - Users
      security: []
      parameters:
        - in: query
          name: term
          description: The beginning of a username
          schema:
            type: string
            minLength: 3
          required: true
        - in: query
          name: object
          description: |
            - `false` returns an array of usernames
            - `true` returns an object with matching users
          schema:
            type: boolean
            default: false
        - in: query
          name: friend
          description: |
            Returns followed players matching `term` if any, else returns other players.
            Requires [OAuth](#tag/OAuth).
          schema:
            type: boolean
      responses:
        "200":
          description: An array of players which usernames start with the provided term.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: string
                  - type: object
                    properties:
                      result:
                        type: array
                        items:
                          $ref: '#/components/schemas/LightUser'

  /api/stream/event:
    get:
      operationId: apiStreamEvent
      summary: Stream incoming events
      description: "\n
      \ Stream the events reaching a lishogi user in real time as [ndjson](#section/Introduction/Streaming-with-ND-JSON).\n\n
      \ Each line is a JSON object containing a `type` field. Possible values are:\n
      \ - `gameStart` Start of a game\n
      \ - `gameFinish` Completion of a game\n
      \ - `challenge` A player sends you a challenge or you challenge someone\n
      \ - `challengeDeclined` The opponent declines your challenge\n
      \n
      \ When the stream opens, all current challenges and games are sent."
      tags:
        - Board
        - Bot
      security:
        - OAuth2: ["challenge:read", "bot:play", "board:play"]
      responses:
        "200":
          description: The stream of events reaching the logged in user.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GameStartEvent'
                  - $ref: '#/components/schemas/GameFinishEvent'
                  - $ref: '#/components/schemas/ChallengeEvent'
                  - $ref: '#/components/schemas/ChallengeDeclinedEvent'
              examples:
                challenge:
                  $ref: '#/components/examples/challenge'
                challengeDeclined:
                  $ref: '#/components/examples/challengeDeclined'
                gameStart:
                  $ref: '#/components/examples/gameStart'
                gameFinish:
                  $ref: '#/components/examples/gameFinish'


  /api/board/seek:
    post:
      operationId: apiBoardSeek
      summary: Create a seek
      description: "\n
      \ Create a public seek, to start a game with a random player.\n\n
      \ ### Real-time seek\n\n
      \ Specify the `time`, `increment`, `byoyomi` and `periods` clock values.
      \ The response is streamed but doesn't contain any information.\n\n
      \ **Keep the connection open to keep the seek active**.\n\n
      \ If the client closes the connection, the seek is canceled. This way, if the client terminates, the user won't be paired in a game they wouldn't play.\n
      \ When the seek is accepted, or expires, the server closes the connection.\n\n
      \ **Make sure to also have an [Event stream](#operation/apiStreamEvent) open**, to be notified when a game starts.\n
      \ We recommend opening the [Event stream](#operation/apiStreamEvent) first, then the seek stream. This way,\n
      \ you won't miss the game event if the seek is accepted immediately.\n\n
      \ ### Correspondence seek\n\n
      \ Specify the `days` per turn value.
      \ The response is not streamed, it immediately completes with the seek ID. The seek remains active on the server until it is joined by someone."
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      requestBody:
        description: Parameters of the seek
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                rated:
                  type: boolean
                  description: Whether the game is rated and impacts players ratings.
                  example: true
                  default: false
                time:
                  type: number
                  description: Clock initial time in minutes. Required for real-time seeks.
                  example: 15
                  minimum: 0
                  maximum: 180
                increment:
                  type: integer
                  description: Clock increment in seconds. Required for real-time seeks.
                  example: 15
                  minimum: 0
                  maximum: 180
                byoyomi:
                  type: integer
                  description: Clock byoyomi in seconds. Required for real-time seeks.
                  example: 15
                  minimum: 0
                  maximum: 180
                periods:
                  type: integer
                  description: Clock periods for byoyomi in seconds. Required for real-time seeks.
                  example: 1
                  minimum: 1
                  maximum: 5
                days:
                  type: integer
                  description: Days per turn. Required for correspondence seeks.
                  enum:
                    - 1
                    - 2
                    - 3
                    - 5
                    - 7
                    - 10
                    - 14
                variant:
                  $ref: '#/components/schemas/VariantKey'
                color:
                  type: string
                  description: The color to play. Better left empty to automatically get a random color.
                  enum:
                    - random
                    - sente
                    - gote
                  default: random
                ratingRange:
                  type: string
                  description: |
                    The rating range of potential opponents. Better left empty.
                    Example: 1500-1800
      responses:
        "200":
          description: The seek was successfully created.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            text/plain:
              example: ""
        "400":
          description: The creation of the seek failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/board/game/stream/{gameId}:
    get:
      operationId: boardGameStream
      summary: Stream Board game state
      description: "\
      \ Stream the state of a game being played with the Board API, as [ndjson](#section/Introduction/Streaming-with-ND-JSON).\n\
      \nUse this endpoint to get updates about the game in real-time, with a single request.\n\
      \nEach line is a JSON object containing a `type` field. Possible values are:\n
      \ - `gameFull` Full game data. All values are immutable, except for the `state` field.\n
      \ - `gameState` Current state of the game. Immutable values not included. Sent when a move is played, or when the game ends.\n
      \ - `chatLine` Chat message sent by a user in the `room` \"player\" or \"spectator\".\n\n
      \nThe first line is always of type `gameFull`.\n\n
      \nThe server closes the stream when the game ends, or if the game has already ended."
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
      responses:
        "200":
          description: The stream of the game.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GameFullEvent'
                  - $ref: '#/components/schemas/GameStateEvent'
                  - $ref: '#/components/schemas/ChatLineEvent'
              examples:
                gameFull:
                  $ref: '#/components/examples/gameFull'
                gameState:
                  $ref: '#/components/examples/gameState'
                chatLine:
                  $ref: '#/components/examples/chatLine'
                chatLineSpectator:
                  $ref: '#/components/examples/chatLineSpectator'
                gameStateResign:
                  $ref: '#/components/examples/gameStateResign'
        "404":
          description: The game was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

  /api/board/game/{gameId}/move/{move}:
    post:
      operationId: boardGameMove
      summary: Make a Board move
      description: |
        Make a move in a game being played with the Board API.
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
        - in: path
          name: move
          required: true
          description: The move to play, in USI format
          schema:
            type: string
            example: "7g7f"
      responses:
        "200":
          description: The move was successfully made.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The move failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/board/game/{gameId}/chat:
    parameters:
      - in: path
        name: gameId
        schema:
          type: string
          example: "5IrD6Gzz"
        required: true
    post:
      operationId: boardGameChatPost
      summary: Write in the chat
      description: |
        Post a message to the player or spectator chat, in a game being played with the Board API.
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                room:
                  type: string
                  enum:
                  - player
                  - spectator
                text:
                  type: string
                  example: "Thank you for the game!"
              required:
                - room
                - text
      responses:
        "200":
          description: The message was successfully posted in the chat.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The posting of the message in the chat failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: boardGameChatGet
      summary: Fetch the game chat
      description: |
        Get the messages posted in the game chat
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      responses:
        "200":
          description: The messages posted in the chat.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/GameChat'

  /api/board/game/{gameId}/abort:
    post:
      operationId: boardGameAbort
      summary: Abort a game
      description: |
        Abort a game being played with the Board API.
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
      responses:
        "200":
          description: The game successfully aborted.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The abortion of the game failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/board/game/{gameId}/resign:
    post:
      operationId: boardGameResign
      summary: Resign a game
      description: |
        Resign a game being played with the Board API.
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
      responses:
        "200":
          description: The game was successfully resigned.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The resigning from the game failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/board/game/{gameId}/takeback/{accept}:
    post:
      operationId: boardGameTakeback
      summary: Handle takeback offers
      description: |
        Create/accept/decline takebacks.
        - `yes`: Propose a takeback, or accept the opponent's takeback offer.
        - `no`: Decline a takeback offer from the opponent.
      tags:
        - Board
      security:
        - OAuth2: ["board:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
        - in: path
          name: accept
          schema:
            anyOf:
              - type: boolean
              - type: string
                const: yes
            example: "yes"
          required: true
      responses:
        "200":
          description: The takeback offer was successfully sent.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The takeback offering failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/bot/online:
    get:
      operationId: apiBotOnline
      summary: Get online bots
      tags:
        - Bot
      security: []
      description: Stream the [online bot users](https://lishogi.org/player/bots), as [ndjson](#section/Introduction/Streaming-with-ND-JSON). Throttled to 50 bot users per second.
      parameters:
        - in: query
          name: nb
          description: How many bot users to fetch
          schema:
            type: integer
            minimum: 1
            example: 20
      responses:
        "200":
          description: The list of online bot users
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                $ref: '#/components/schemas/User'

  /api/bot/account/upgrade:
    post:
      operationId: botAccountUpgrade
      summary: Upgrade to Bot account
      description: |
        Upgrade a lishogi player account into a Bot account. Only Bot accounts can use the Bot API.

        The account **cannot have played any game** before becoming a Bot account. The upgrade is **irreversible**. The account will only be able to play as a Bot.

        To upgrade an account to Bot, use the [official lishogi-bot client](https://github.com/ShailChoksi/lishogi-bot), or follow these steps:
        - Create an [API access token](https://lishogi.org/account/oauth/token/create?scopes[]=bot:play) with "Play bot moves" permission.
        - `curl -d '' https://lishogi.org/api/bot/account/upgrade -H "Authorization: Bearer <yourTokenHere>"`

        To know if an account has already been upgraded, use the [Get my profile API](#operation/accountMe):
        the `title` field should be set to `BOT`.
      tags:
        - Bot
      security:
        - OAuth2: ["bot:play"]
      responses:
        "200":
          description: The bot account was successfully upgraded.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The upgrade of the bot account failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/bot/game/stream/{gameId}:
    get:
      operationId: botGameStream
      summary: Stream Bot game state
      description: "\
      \ Stream the state of a game being played with the Bot API, as [ndjson](#section/Introduction/Streaming-with-ND-JSON).\n\
      \nUse this endpoint to get updates about the game in real-time, with a single request.\n\
      \nEach line is a JSON object containing a `type` field. Possible values are:\n
      \ - `gameFull` Full game data. All values are immutable, except for the `state` field.\n
      \ - `gameState` Current state of the game. Immutable values not included.\n
      \ - `chatLine` Chat message sent by a user (or the bot itself) in the `room` \"player\" or \"spectator\".\n\n
      \nThe first line is always of type `gameFull`."
      tags:
        - Bot
      security:
        - OAuth2: ["bot:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
      responses:
        "200":
          description: The stream of the bot game.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/x-ndjson:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/GameFullEvent'
                  - $ref: '#/components/schemas/GameStateEvent'
                  - $ref: '#/components/schemas/ChatLineEvent'
              examples:
                gameFull:
                  $ref: '#/components/examples/gameFull'
                gameState:
                  $ref: '#/components/examples/gameState'
                chatLine:
                  $ref: '#/components/examples/chatLine'
                chatLineSpectator:
                  $ref: '#/components/examples/chatLineSpectator'
                gameStateResign:
                  $ref: '#/components/examples/gameStateResign'
        "404":
          description: The bot game was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'

  /api/bot/game/{gameId}/move/{move}:
    post:
      operationId: botGameMove
      summary: Make a Bot move
      description: |
        Make a move in a game being played with the Bot API.
      tags:
        - Bot
      security:
        - OAuth2: ["bot:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
        - in: path
          name: move
          required: true
          description: The move to play, in USI format
          schema:
            type: string
            example: "e2e4"
      responses:
        "200":
          description: The bot move was successfully made.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The bot move failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/bot/game/{gameId}/chat:
    post:
      operationId: botGameChat
      summary: Write in the chat
      description: |
        Post a message to the player or spectator chat, in a game being played with the Bot API.
      tags:
        - Bot
      security:
        - OAuth2: ["bot:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                room:
                  type: string
                  enum:
                  - player
                  - spectator
                text:
                  type: string
                  example: "Thank you for the game!"
              required:
                - room
                - text
      responses:
        "200":
          description: The message was successfully posted in chat.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
                default: "'*'"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ok'
        "400":
          description: The posting of the  message in chat failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      operationId: botGameChatGet
      summary: Fetch the game chat
      description: |
        Get the messages posted in the game chat
      tags:
        - Bot
      security:
        - OAuth2: ["bot:play"]
      parameters:
        - in: path
          name: gameId
          schema:
            type: string
            example: "5IrD6Gzz"
          required: true
      responses:
        "200":
          description: The messages posted in the chat.
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
[...]
