@(tour: lila.tournament.Created, form: Option[Html] = None)(implicit ctx: Context)

<h1 data-icon="g">&nbsp;@trans.xTournament(tour.name)
  @if(tour.hasPassword) {
  <span data-icon="a"> @trans.isPrivate()</span>
  }
</h1>
@form
<div class="user_list">
  <table class="slist user_list">
    <thead>
      <tr>
        <th class="large">
          @tour.schedule.map { s =>
          Starting @momentFromNow(s.at)
          }.getOrElse {
          @if(tour.enoughPlayersToStart) {
          @trans.tournamentIsStarting()
          } else {
          @trans.waitingForNbPlayers(tour.missingPlayers)
          }
          }
        </th>
        @ctx.me.map { me =>
        <th>
          @if(tour contains me) {
          @if(tour.isCreator(me.id) && tour.enoughPlayersToEarlyStart) {
          <form class="inline" action="@routes.Tournament.earlyStart(tour.id)" method="POST">
            <input type="submit" class="submit button" value="Early Start" />
          </form>
          }
          <form class="inline" action="@routes.Tournament.withdraw(tour.id)" method="POST">
            <button type="submit" class="submit button" data-icon="b">&nbsp;@trans.withdraw()</button>
          </form>
          } else {
          <form class="inline" action="@routes.Tournament.join(tour.id)" method="POST">
            <button type="submit" class="submit button" data-icon="@tour.hasPassword.fold("a", "G")">&nbsp;@trans.join()</button>
          </form>
          }
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @tour.players.map { player =>
      <tr>
        <td colspan="2">@userInfosLink(player.id, player.rating.some)</td>
      </tr>
      }
    </tbody>
  </table>
</div>
<br />
<div class="content_box_content">@tournament.faq(!tour.scheduled option tour.minPlayers.toString, tour.rated.some)</div>
