@(tour: lila.tournament.Created, roomHtml: Html, version: Int, users: List[User])(implicit ctx: Context)

@import tour.data

@title = @{ tour.showClock + " tournament" }

@tournament.show.layout(
tour = tour,
roomHtml = roomHtml,
version = version,
title = title) {

<h1>@title pending</h1>
<div>
  Waiting for @data.missingUsers players
</div>
<div>
  Players: @users.map { user =>
  @userLink(user)
  }
</div>

<div>
  <form action="@routes.Tournament.join(tour.id)" method="POST">
    <input type="submit" class="submit button" />
  </form>
</div>
}
