@(tour: lila.tournament.Created, roomHtml: Html, version: Int, users: List[User])(implicit ctx: Context)

@title = @{ tour.showClock + " tournament pending" }

@tournament.show.layout(
tour = tour,
roomHtml = roomHtml,
version = version,
title = title) {

<h1>@title</h1>
<div>
  Waiting for @tour.missingUsers players
</div>
<div class="user_list" data-href="@routes.Tournament.userList(tour.id)">
  @tournament.userList(users)
</div>

@ctx.me.map { me =>
<div>
  @if(tour contains me) {
  <form action="@routes.Tournament.withdraw(tour.id)" method="POST">
    <input type="submit" class="submit button" value="Withdraw" />
  </form>
  } else {
  <form action="@routes.Tournament.join(tour.id)" method="POST">
    <input type="submit" class="submit button" value="Join tournament" />
  </form>
  }
</div>
}
}
