@(tour: lila.tournament.Tournament, title: String, roomHtml: Html, version: Int, goodies: Html, side: Option[Html] = None)(body: Html)(implicit ctx: Context)

@chat = {
@for(m <- ctx.me; if m.canChat) {
<div class="lichess_chat anon_chat tournament_chat">
  <div class="lichess_chat_top">
    <span class="title">Tournament room</span>
    <input
    data-href="@routes.Setting.set("chat")"
    data-enabled="@setting.chat.fold("true", "false")"
    title="@trans.toggleTheChat()"
    class="toggle_chat"
    type="checkbox" />
  </div>
  <div class="lichess_chat_inner">
    <ol class="lichess_messages">@roomHtml</ol>
    <form action="#">
      <input class="lichess_say" value="" placeholder="@trans.talkInChat()" />
      <a class="send"></a>
    </form>
  </div>
</div>
}
}

@underchat = {
<div class="watchers inline_userlist">
  <span class="list"></span>
</div>
}

@tournament.layout(
title = title,
goodies = goodies.some,
chat = chat.some,
underchat = underchat.some) {
<div 
  id="tournament" 
  data-href="@routes.Tournament.reload(tour.id)"
  data-socket-url="@routes.Tournament.websocket(tour.id)">
  @tournament.show.inner(side)(body)
</div>
@embedJs("var _ld_ = " + tournamentJsData(tour, version, ctx.me))
}
