@(tour: lila.tournament.Tournament, chat: Option[lila.chat.UserChat], title: String, version: Int, goodies: Html, side: Option[Html] = None)(body: Html)(implicit ctx: Context)

@underchat = {
<div class="watchers" data-icon="v">
  <span class="list inline_userlist"></span>
</div>
}

@tournament.layout(
title = title,
goodies = goodies.some,
chat = chat.map(c => base.chat(c, trans.chatRoom.str())),
underchat = underchat.some) {
<div
  id="tournament"
  @if(tour.scheduled) { class="scheduled" }
  data-href="@routes.Tournament.reload(tour.id)"
  data-socket-url="@routes.Tournament.websocket(tour.id)">
  @tournament.show.inner(side)(body)
</div>
@embedJs("var _ld_ = " + tournamentJsData(tour, version, ctx.me))
}
