@(tour: lila.tournament.Started, games: List[Game], pov: Option[Pov])(implicit ctx: Context)

<div class="tournament_clock title_tag" data-time="@tour.remainingSeconds">
  <div class="time" data-icon="p">@tour.clockStatus</div>
</div>

<h1 data-icon="g">&nbsp;@if(tour.scheduled){@tour.name} else {@trans.xTournament(tour.name)}</h1>

@pov.map { p =>
<a class="is pov button glowing" href="@routes.Round.player(p.fullId)">
  You are playing @usernameOrAnon(p.opponent.userId)
  <span class="pov_join" data-icon="G">&nbsp;@trans.joinTheGame()</span>
</a>
}

@tournament.standing(tour)

@tournament.games(games)
