.bots {
  &__about {
    margin-top: 1rem;
  }

  --c-bot: #{$c-primary};
  &__featured {
    --c-bot: #{$c-brag};
  }

  &__list {
    margin: 0 1em;
    --min-card-width: 300px;
    @media (max-width: at-most($x-small)) {
      --min-card-width: 240px;
    }
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    grid-gap: 1em;
    margin-bottom: 1em;
    user-select: none;

    &__entry {
      @extend %box-neat, %flex-column;
      justify-content: space-between;
      gap: 1em;

      background: $c-bg-box;
      border: 1px solid var(--c-bot);
      cursor: pointer;

      &__head {
        @extend %flex-column;
        padding: 1em 1.5em 0 1.5em;
        gap: 0.5em;

        .user-link {
          font-size: 1.5em;
          color: $c-font;
        }
      }

      &__bio {
        @include line-clamp(4);
        color: $c-font-dim;
        font-size: 0.9em;
        padding: 0 1.5em;
      }

      &__rating {
        @extend %flex-center-nowrap;
        gap: 1em;
        color: $c-font-dim;
      }

      &__play {
        @extend %flex-center, %box-radius-bottom;
        justify-content: center;
        padding: 1.5em 0;
        color: $c-bot;
        &:hover {
          background: var(--c-bot);
          color: $c-over;
        }
      }
    }
  }
}
