.bots {
  @extend %flex-column;

  gap: $block-gap;

  &__categ {
    &.box-pad {
      padding: 3vh $box-padding;
    }

    .box__top {
      padding-bottom: 0.5em;
    }

    h3 {
      margin-bottom: 2em;
    }
  }

  &__featured {
    .bots__list__entry {
      border-color: $c-brag;

      &__play {
        color: $c-brag;

        &:hover {
          background-color: $c-brag;
        }
      }
    }
  }

  &__list {
    --min-card-width: 300px;

    @media (max-width: at-most($x-small)) {
      --min-card-width: 240px;
    }

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));
    gap: 1em;
    user-select: none;

    &__entry {
      @extend %flex-column, %box-radius;
      @include backdrop-blur-if-transparent;

      justify-content: space-between;
      gap: 1em;
      background: $c-bg-zebra;
      border: $border;
      overflow: hidden;

      &__head {
        @extend %flex-column;

        padding: 1em 1.5em 0 1.5em;

        .user-link {
          font-size: 1.7em;
          color: $c-font;
        }
      }

      &__bio {
        @include line-clamp(4);

        color: $c-font-dim;
        font-size: 0.9em;
        padding: 0 1.5em;
      }

      &__rating {
        @extend %flex-center-nowrap;

        gap: 1em;
        color: $c-font-dim;
      }

      &__play {
        @extend %flex-center-center;

        padding: 1em 0;
        font-size: 1.1em;
        color: $c-primary;

        &:hover {
          background: $c-primary;
          color: $c-over;
        }
      }
    }
  }
}
