.perf-stat {
  padding-bottom: 2em;

  .box__top__title {
    @extend %flex-center-nowrap;
  }

  h1 span {
    margin-inline-start: 0.4em;
  }

  .trophy {
    margin-top: -1rem;
    margin-inline-end: 0.2em;
    margin-inline-start: -0.6em;

    &.top1 {
      filter: drop-shadow(0 0 6px $c-brag);
    }

    &.top50 img {
      transform: translateY(-12px);
    }
    &.top100 img {
      transform: translateY(-15px);
    }

    img {
      height: 8rem;
    }
  }

  h2 {
    font-size: 2em;

    .details {
      opacity: 0.8;
    }
  }

  h3 {
    font-size: 1.3em;
  }

  time {
    display: inline;
  }

  green {
    color: $c-good;
  }

  red {
    color: $c-bad;
  }

  &__content [title] {
    border-bottom: 1px dashed $c-link;
    cursor: help;
  }

  section {
    margin-top: 4em;
  }

  .split {
    @extend %flex-wrap;

    > div {
      flex: 1 0 49%;

      &:first-child {
        margin-inline-end: 2%;
      }

      margin-bottom: 1em;
    }
  }

  table {
    width: 100%;
  }

  .glicko h2 {
    margin-bottom: 1em;
  }

  .counter th {
    padding-inline-start: 1.5em;
  }

  .counter td {
    text-align: right;
    padding: 0.8em 1.2em;
    font-weight: bold;
    font-size: 1.2em;
  }

  .counter tr.full td:last-child {
    background: $c-bg-zebra;
  }

  .counter tr:first-child {
    border-bottom: $border;
  }

  .highlow a,
  .highlow span {
    text-indent: 20px;
    display: inline-block;
  }

  .result th,
  .result td {
    padding: 0.8em 0;
  }

  .result td:first-child {
    padding-inline-start: 20px;
    white-space: nowrap;
  }

  .result td:last-child {
    text-align: right;
  }

  .result thead tr {
    border-bottom: $border;
  }

  .resultStreak .streak,
  .playStreak .streak {
    @extend %ellipsis;

    margin: 1em 0 1em 1.5em;
    white-space: nowrap;
  }

  .playStreak {
    white-space: nowrap;
  }
}
