@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';
@use 'rating-history';

#us_profile {
  @extend %flex-center;

  border-top: theme.$border;

  .warning {
    @extend %box-radius, %flex-center-nowrap;

    padding: 0.7em;
    background: theme.$m-bad_bg-box_mix_10;
    border: 1px solid theme.$m-bad_bg-box_mix_30;
    color: theme.$c-bad;

    span {
      margin-right: 0.2em;
      font-size: 2.7em;
    }
  }

  .tos_warning {
    margin: 10px 0;
  }

  .profile-side {
    @extend %flex-column;

    flex: 1 0 300px;
    height: 100%; // 332px;
    border-left: theme.$border;
    overflow: hidden;
  }

  .country img {
    vertical-align: text-bottom;
    margin: 0 0.3em;
  }

  .user-infos {
    // todo
    flex: 1 1 auto;
    padding: 0.8em;
    overflow: auto;

    @include mixins.hoverflow;
  }

  .insights {
    @extend %flex-center-nowrap;

    flex: 0 0 auto;
    padding: 0.5em 1em;
    border-top: theme.$border;
    color: theme.$c-link;

    strong {
      display: block;
      font-weight: normal;
      font-size: 1.5em;
    }

    em {
      display: block;
    }

    &::before {
      font-size: 2.5em;
      margin-right: 1rem;
    }

    &:hover,
    &:hover::before {
      @include mixins.transition;

      background: theme.$c-primary;
      color: theme.$c-primary-over;
    }
  }

  .col2 {
    display: flex;
    flex-flow: row wrap;

    > a {
      @extend %nowrap-ellipsis;

      flex: 0 0 50%;
    }
  }

  .bio {
    @extend %break-word;

    font-style: italic;

    img {
      max-width: 100%;
    }
  }
}
