#us_profile {
  @extend %flex-center;

  border-top: $border;

  .warning {
    @extend %box-radius, %flex-center-nowrap;

    padding: 0.7em;
    background: $m-bad_bg--mix-10;
    border: 1px solid $m-bad_bg--mix-30;
    color: $c-bad;

    span {
      margin-inline-end: 0.2em;
      font-size: 2.7em;
    }
  }

  .tos_warning {
    margin: 10px 0;
  }

  @import '../../lib/css/component/chart';

  .profile-side {
    @extend %flex-column;

    flex: 1 0 300px;
    height: 332px;
    border-inline-start: $border;
    overflow: hidden;
  }

  .flag img {
    vertical-align: text-bottom;
    margin: 0 0.3em;
    aspect-ratio: 1;
  }

  .user-infos {
    @include hoverflow;

    flex: 1 1 auto;
    padding: 0.8em;
    overflow: auto;

    unicode-bidi: plaintext;
    text-align: start;

    time {
      font-size: 100%;
      opacity: 1;
    }
  }

  .insight {
    @extend %flex-center-nowrap;

    flex: 0 0 auto;
    padding: 0.3em 1em;
    border-top: $border;
    color: $c-link;

    strong {
      display: block;
      font-weight: normal;
      font-size: 1.5em;
    }

    em {
      display: block;
    }

    &::before {
      font-size: 2.5em;
      margin-inline-end: 1rem;
    }

    &:hover {
      @include transition;

      background: $c-primary;
      color: $c-over;
    }
  }

  .col2 {
    display: flex;
    flex-flow: row wrap;
    + .col2 {
      margin-top: 0.5em;
    }

    > a {
      @extend %nowrap-ellipsis;

      flex: 0 0 50%;
    }
    > strong {
      flex: 0 0 100%;
      margin-bottom: 0.3em;
    }
  }

  .bio {
    @extend %break-word, %zalgoverflow;

    img {
      max-width: 100%;
      max-height: 300px;
    }
  }
  .muted {
    color: $c-font-dimmer;
  }
}
