.trophies {
  position: absolute;
  top: 35px;
  @include inline-end(1.5em);
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 0 !important;

  @media (max-width: at-most($small)) {
    display: none;
  }
}

.trophy.award {
  font-family: 'lichess';
  speak: none;
  line-height: 100%;
}

.trophy {
  display: flex;
  align-items: flex-end;
  height: 40px;
  user-select: none;

  img {
    height: 80px;
  }

  &.top1 {
    filter: drop-shadow(0 0 6px $c-brag);
  }
}

.trophy,
.shield-trophy {
  transition: transform 0.2s;

  &:not(.patron):hover {
    transform: translateY(-3px);
  }
}

.stacked {
  height: 40px;
  display: flex;
  align-items: flex-end;
}

.stacked .trophy {
  width: 65px;
  height: 65px;
  font-size: 65px;
}

.fire-trophy {
  &,
  &:hover {
    color: $m-font_white--mix-20;
  }

  opacity: 0.9;
  height: 80px;
  position: relative;

  &:hover {
    opacity: 1;
  }

  &.marathonWinner,
  &.marathonTopTen,
  &.marathonTopFifty {
    filter: hue-rotate(190deg);
    color: $c-marathon;
  }

  &.marathonTopTen {
    font-size: 58px;
    width: 55px;
    height: 55px;
    margin-top: 22px;
  }

  &.marathonTopFifty,
  &.marathonTopHundred,
  &.marathonTopFivehundred {
    font-size: 50px;
    height: 50px;
    width: 50px;
    margin-top: 30px;
    animation: none;
  }

  &.marathonTopFifty {
    text-shadow:
      0 0 5px #ffae34,
      0 0 6.25px #ec760c,
      0 0 7.5px #cd4606;
  }

  &.marathonTopHundred {
    text-shadow: none;
    color: #066ccd;
  }

  &.marathonTopFivehundred {
    text-shadow: none;
  }
}

.packed .trophy {
  margin-inline-end: -8px;
}

.packed .stacked {
  margin-inline-end: 30px;
}

.packed .stacked .trophy {
  margin-inline-end: -30px;
}

.trophy.icon3d {
  width: 40px;
  height: 40px;
  font-size: 39px;
  color: $c-font-dimmer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.trophy.streaming {
  @extend %fire-trophy-shadow;

  color: $c-brag;
  animation: fire-trophy 1.25s ease-in-out infinite alternate;
}

.trophy.patron {
  flex: 0 0 auto;
  font-size: 60px;
  margin: 0 -10px 0 30px;
  transform: scaleX(-1);
  @include if-rtl {
    transform: none;
  }
  color: $c-brag;
  transition: margin-top 0.5s;

  &:hover {
    @extend %fire-trophy-shadow;

    animation: fire-trophy 1.25s ease-in-out infinite alternate;
  }
}

.combo-trophy {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'lichess';
  text-align: center;
}

.shield-trophy {
  width: 50px;
  background-image: url(../images/trophy/shield-gold.png);
  font-size: 30px;
  line-height: 60px;
  color: #333 !important;
  text-shadow: 0 0 6px #fff;
  margin-top: -20px;
  filter: drop-shadow(0 0 6px $c-brag);
}

.revol_trophy {
  background-image: url(../images/trophy/round-star.png);
  font-size: 24px;
  line-height: 68px;
  color: #fff !important;
  text-shadow: 0 0 4px #444;
  margin-top: -18px;
}
