@(e: lila.timeline.Entry)(implicit ctx: Context)

@import lila.hub.actorApi.timeline._

@e.decode.map { decoded =>
@decoded match {
case Follow(u1, u2) => {
@trans.xStartedFollowingY(userIdLink(u1.some, withOnline = false), userIdLink(u2.some, withOnline = false))
}
case TeamJoin(userId, teamId) => {
@trans.xJoinedTeamY(userIdLink(userId.some, withOnline = false), teamLink(teamId, withIcon = false))
}
case TeamCreate(userId, teamId) => {
@trans.xCreatedTeamY(userIdLink(userId.some, withOnline = false), teamLink(teamId, withIcon = false))
}
case ForumPost(userId, topicName, postId) => {
@trans.xPostedInForumY(userIdLink(userId.some, withOnline = false), """<a href="%s">&nbsp;%s</a>""".format(routes.ForumPost.redirect(postId), shorten(topicName, 30)))
}
case NoteCreate(fromId, toId) => {
@trans.xLeftANoteOnY(userIdLink(fromId.some, withOnline = false), userIdLink(toId.some, withOnline = false, params = "?note"))
}
case TourJoin(userId, tourId, tourName) => {
@trans.xCompetesInY(userIdLink(userId.some, withOnline = false), """<a href="%s">%s</a>""".format(routes.Tournament.show(tourId), tourName))
}
case QaQuestion(userId, id, title) => {
@trans.xAskedY(userIdLink(userId.some, withOnline = false), """<a href="%s">%s</a>""".format(routes.QaQuestion.show(id, "redirect"), title))
}
case QaAnswer(userId, id, title, answerId) => {
@trans.xAnsweredY(userIdLink(userId.some, withOnline = false), """<a href="%s#answer-%s">%s</a>""".format(routes.QaQuestion.show(id, "redirect"), answerId, title))
}
case QaComment(userId, id, title, commentId) => {
@trans.xCommentedY(userIdLink(userId.some, withOnline = false), """<a href="%s#comment-%s">%s</a>""".format(routes.QaQuestion.show(id, "redirect"), commentId, title))
}
}
@momentFromNow(e.date)
}
