@(e: lila.timeline.Entry)(implicit ctx: Context)

@import lila.hub.actorApi.timeline._

@e.decode.map { decoded =>
@decoded match {
case Follow(u1, u2) => {
@trans.xStartedFollowingY(userIdLink(u1.some, withOnline = false), userIdLink(u2.some, withOnline = false))
}
case TeamJoin(userId, teamId) => {
@trans.xJoinedTeamY(userIdLink(userId.some, withOnline = false), teamLink(teamId, withIcon = false))
}
case TeamCreate(userId, teamId) => {
@trans.xCreatedTeamY(userIdLink(userId.some, withOnline = false), teamLink(teamId, withIcon = false))
}
case ForumPost(userId, topicId, topicName, postId) => {
@trans.xPostedInForumY(userIdLink(userId.some, withOnline = false),
"""<a href="%s" title="%s">%s</a>""".format(routes.ForumPost.redirect(postId), escapeEvenDoubleQuotes(topicName), shorten(topicName, 30)))
}
case NoteCreate(fromId, toId) => {
@trans.xLeftANoteOnY(userIdLink(fromId.some, withOnline = false), userIdLink(toId.some, withOnline = false, params = "?note"))
}
case TourJoin(userId, tourId, tourName) => {
@trans.xCompetesInY(userIdLink(userId.some, withOnline = false), """<a href="%s">%s</a>""".format(routes.Tournament.show(tourId), tourName))
}
case SimulCreate(userId, simulId, simulName) => {
@userIdLink(userId.some, withOnline = false) hosts the <a href="@routes.Simul.show(simulId)">@simulName</a>
}
case SimulJoin(userId, simulId, simulName) => {
@userIdLink(userId.some, withOnline = false) joins the <a href="@routes.Simul.show(simulId)">@simulName</a>
}
case QaQuestion(userId, id, title) => {
@trans.xAskedY(userIdLink(userId.some, withOnline = false), """<a href="%s">%s</a>""".format(routes.QaQuestion.show(id, "redirect"), title))
}
case QaAnswer(userId, id, title, answerId) => {
@trans.xAnsweredY(userIdLink(userId.some, withOnline = false), """<a href="%s#answer-%s">%s</a>""".format(routes.QaQuestion.show(id, "redirect"), answerId, title))
}
case QaComment(userId, id, title, commentId) => {
@trans.xCommentedY(userIdLink(userId.some, withOnline = false), """<a href="%s#comment-%s">%s</a>""".format(routes.QaQuestion.show(id, "redirect"), commentId, title))
}
case GameEnd(playerId, opponent, win, perfKey) => {
@lila.rating.PerfType(perfKey).map { perf =>
<a href="@routes.Round.player(playerId)" data-icon="@perf.iconChar" class="glpt">
  @win match {
  case Some(true) => {Victory}
  case Some(false) => {Defeat}
  case _ => {Draw}
  }</a> vs @userIdLink(opponent, withOnline = false)<br />
in @perf.name
}
}
case StudyCreate(userId, studyId, studyName) => {
@userIdLink(userId.some, withOnline = false) hosts <a href="@routes.Study.show(studyId)">@studyName</a>
}
case StudyLike(userId, studyId, studyName) => {
@userIdLink(userId.some, withOnline = false) likes <a href="@routes.Study.show(studyId)">@studyName</a>
}
case PlanStart(userId) => {
@userIdLink(userId.some, withOnline = false) became a <a href="@routes.Plan.index">lichess patron</a>
}
}
@momentFromNow(e.date)
}
