@use 'sass:color';
@use 'util' as *;

$c-bg-page: hsl($c-site-hue, 8%, 7%);
$c-bg-high: hsl($c-site-hue, 5%, 14%);
$c-bg-low: hsl($c-site-hue, 5%, 21%);

/* even rows in list or tables, subtle shade of $c-bg-high */
$c-bg-zebra: hsl($c-site-hue, 3%, 18%);
$c-bg-zebra2: hsl($c-site-hue, 3%, 23%);

$c-body-gradient: hsl($c-site-hue, 5%, 16%);

$c-font: hsl(0deg, 0%, 75%);
$c-font-dim: c-light($c-font, 64%);
$c-font-dimmer: c-light($c-font, 42%);
$c-font-clear: c-light($c-font, 80%);
$c-font-clearer: c-light($c-font, 89%);
$c-shade: c-light($c-font, 30%);
$c-font-page: $c-font-dim;

$c-primary: hsl(209deg, 73%, 52%);
$c-primary-dim: c-blacker($c-primary, 15%);
$c-primary-clear: c-whiter($c-primary, 20%);
$c-primary-glow: hsl(231deg, 99%, 66%);
$c-primary-over: #fff;

$c-secondary: hsl(88deg, 62%, 37%);
$c-secondary-dim: c-blacker($c-secondary, 20%);
$c-secondary-dimmer: c-blacker($c-secondary, 40%);
$c-secondary-over: #fff;

$c-accent: hsl(22deg, 100%, 42%);
$c-accent-dim: c-blacker($c-accent, 20%);
$c-accent-clear: c-whiter($c-accent, 20%);
$c-accent-over: #fff;

$c-brag: hsl(37deg, 74%, 43%);
$c-brag-over: #fff;

$c-red: hsl(0deg, 60%, 50%);
$c-error: $c-red;
$c-error-over: #fff;

$c-good: $c-secondary;
$c-good-over: $c-secondary-over;

$c-warn: $c-brag;
$c-warn-over: $c-brag-over;

$c-bad: $c-error;
$c-bad-over: $c-error-over;

$c-fancy: hsl(294deg, 62%, 48%);
$c-fancy-over: white;

$c-inaccuracy: hsl(202deg, 78%, 62%);
$c-mistake: hsl(41deg, 100%, 45%);
$c-blunder: hsl(0deg, 69%, 60%);

$c-good-move: hsl(130deg, 67%, 62%);
$c-brilliant: hsl(129deg, 71%, 45%);
$c-interesting: hsl(307deg, 80%, 70%);

$c-link: $c-primary;
$c-link-dim: $c-primary-dim;
$c-link-clear: $c-primary-clear;
$c-link-hover: c-whiter(color.adjust($c-primary, $saturation: 100%), 25%);
$c-link-over: $c-primary-over;

$c-bg-box: $c-bg-high;
$c-bg-box-opaque: $c-bg-box;
$c-bg-input: c-light($c-bg-page, 13%);

$c-border: hsl(0deg, 0%, 25%);
$c-border-page: hsl(0deg, 0%, 22%);
$border: 1px solid $c-border;

$c-page-mask: hsla(0deg, 0%, 0%, 0.6);

$c-bg-popup: $c-bg-low;
$c-popup: $c-font-clear;

$c-bg-header-dropdown: $c-bg-popup;
$c-header-dropdown: $c-popup;

$c-darken: #333;
$c-clas: rgb(127, 90, 240);

$c-font-shadow: black;
$text-shadow: none;

$c-bot: $c-fancy;

$c-page-input: $c-bg-box;

$c-bg-metal: $c-bg-zebra;
$c-font-metal: inherit;
$metal-shadow: none;
$c-bg-metal-hover: $c-bg-zebra2;
$c-font-metal-hover: $c-font-clear;

$sente-symbol: '☖';
$gote-symbol: '☗';

$c-eval-sente: #555;
$c-eval-gote: #a0a0a0;
