@import 'default';

$theme: 'dark';

@function c-dimmer($color, $weight: 20%) {
  @return mix(black, $color, $weight);
}
@function c-clearer($color, $weight: 20%) {
  @return mix(white, $color, $weight);
}

$c-bg-page: hsl(37%, 10%, 8%);
$c-bg-high: hsl(37%, 5%, 16%);
$c-bg-low: hsl(37%, 7%, 22%);

/* even rows in list or tables, subtle shade of $c-bg-high */
$c-bg-zebra: hsl(37%, 5%, 18%);

$c-body-gradient: hsl(37%, 12%, 16%);

$c-font: hsl(0, 0%, 72%);
$c-font-dim: c-light($c-font, 55%);
$c-font-dimmer: c-light($c-font, 40%);
$c-font-clear: c-light($c-font, 79%);
$c-font-clearer: c-light($c-font, 88%);
$c-shade: c-light($c-font, 30%);

$c-primary: hsl(209, 79%, 56%);
$c-primary-dim: c-dimmer($c-primary, 15%);
$c-primary-clear: c-clearer($c-primary);

/* Brag: gold */
$c-brag: hsl(37, 74%, 43%);

/* Fancy: pink */
$c-fancy: hsl(294, 62%, 48%);

/* Good: green */
$c-good: $c-secondary;
$c-good-over: $c-secondary-over;

/* Warn: orange */
$c-warn: $c-brag;
$c-warn-over: $c-brag-over;

/* Bad: red */
$c-bad: $c-error;
$c-bad-over: $c-error-over;

$c-link: $c-primary;
$c-link-dim: $c-primary-dim;
$c-link-clear: $c-primary-clear;
$c-link-hover: c-clearer(saturate($c-primary, 100%), 25%);

$c-bg-box: $c-bg-high;
$c-bg-input: c-light($c-bg-page, 13%);

$c-bg-popup: $c-bg-low;
$c-popup: $c-font-clear;

$c-bg-header-dropdown: $c-bg-popup;
$c-header-dropdown: $c-popup;

$c-bot: $c-fancy;

$c-border: hsl(0, 0%, 25%);
$border: $border-width $border-style $c-border;

$c-font-shadow: black;
$text-shadow: 0 1px 1px $c-font-shadow;

%metal {
  background: linear-gradient(to bottom, hsl(0, 0, 22), hsl(0, 0, 19) 100%);
}
%metal-hover {
  background: linear-gradient(to bottom, hsl(0, 0, 25), hsl(0, 0, 22) 100%);
}
