@import 'default';

$theme: 'light';
$theme-light: true;
$theme-dark: false;

@mixin metal {
  background: $c-bg-popup;
  text-shadow: $text-shadow;
}
@mixin metal-hover {
  background: darken($c-bg-popup, 3);
  text-shadow: $text-shadow;
}

@mixin theme-style {
}
