$current-opacity: 0.8;
$current-font-size: 30px;
$current-x: 22px;
$current-y: 60px;
$next-opacity: 0.7;
$next-font-size: 12px;
$next-x: 64px;
$next-y: 64px;
$timing: 150ms;

svg.coords-svg {
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;

  text {
    font-weight: bold;
    direction: ltr;
    text-shadow: 0 10px 10px #444;
  }

  g.current {
    transform: translate3d($current-x, $current-y, 0);
    opacity: $current-opacity;
    animation: slideInCurrent $timing;

    text {
      fill: #fff;
      font-size: $current-font-size;
      animation: enlargeCurrent $timing;
    }

    // for animating the removal of this element
    transition:
      opacity $timing,
      transform $timing;
  }

  g.next {
    transform: translate3d($next-x, $next-y, 0);
    opacity: $next-opacity;
    animation: slideInNext $timing;

    text {
      fill: #eee;
      font-size: $next-font-size;
    }
  }

  @keyframes slideInCurrent {
    from {
      transform: translate3d($next-x, $next-y, 0);
      opacity: $next-opacity;
    }
    to {
      transform: translate3d($current-x, $current-y, 0);
      opacity: $current-opacity;
    }
  }
  @keyframes enlargeCurrent {
    from {
      font-size: $next-font-size;
    }
    to {
      font-size: $current-font-size;
    }
  }
  @keyframes slideInNext {
    from {
      transform: translate3d($next-x + 20px, $next-y, 0);
      opacity: 0;
    }
    to {
      transform: translate3d($next-x, $next-y, 0);
      opacity: $next-opacity;
    }
  }
}

rect.next-target {
  stroke: #808080;
}

rect.current-target {
  animation: expandAndShrink 175ms linear;
  stroke: $c-secondary;
}

@keyframes expandAndShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
