@(events: List[lila.event.Event])(implicit ctx: Context)

@base.layout(title = "All lichess public events") {
<style type="text/css">
  #events td {
  padding: 1em 25px;
  }
  #events time {
  font-size: 0.8em;
  }
  #events a {
  font-weight: bold;
  text-decoration: none;
  }
  #events a.user_link {
  background: none;
  padding-left: 0;
  display: inline-block;
  }
</style>
<div id="events" class="content_box small_box no_padding">
  <h1>All public events</h1>
  <table class="datatable"><tbody>
      @events.map { e =>
      <tr>
        <td>@e.title</td>
      </tr>
      }
  </tbody></table>
</div>
}
