@(events: List[lila.event.Event])(implicit ctx: Context)

@base.layout(
title = "All lichess public events",
moreCss = cssTag("event.css")) {
<div id="events" class="content_box small_box no_padding">
  <h1 data-icon="" class="text">All public events</h1>
  <table class="datatable"><tbody>
      @events.map { e =>
      <tr class="@if(e.isNow){now}">
        <td>
          @if(e.isNow) {
          <a href="@e.url">
            <h2>@e.title</h2>
            <strong>@e.headline</strong>
          </a>
          } else {
          <h2>@e.title</h2>
          <strong>@e.headline</strong>
          }
        </td>
        <td>
          <span class="date">@showDateTime(e.startsAt)</span>
          @momentFromNow(e.startsAt)
        </td>
      </tr>
      }
  </tbody></table>
</div>
}
