@(events: List[lila.event.Event])(implicit ctx: Context)

@title = {Event manager}

@layout(title = title.body) {
<div class="event_crud content_box no_padding">
  <h1 class="lichess_title">
    <a href="@routes.Event.form" data-icon="O" class="new"></a>
    @title
  </h1>
  <table class="slist">
    <thead>
      <tr>
        <th></th>
        <th>UTC start</th>
        <th>UTC end</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @events.map { e =>
      <tr>
        <td><a href="@routes.Event.edit(e.id)">@e.title</a></td>
        <td>
          @showDateTimeUTC(e.startsAt)
          @momentFromNow(e.startsAt)
        </td>
        <td>
          @showDateTimeUTC(e.finishesAt)
          @momentFromNow(e.finishesAt)
        </td>
        <td><a class="text"href="@routes.Event.show(e.id)" data-icon="v"></a></td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
