@(events: List[lila.event.Event])(implicit ctx: Context)

@title = @{"Event manager"}

@layout(title = title) {
<div class="crud page-menu__content box">
  <div class="box__top">
    <h1>@title</h1>
    <div class="box__top__actions">
      <a class="button button-green" href="@routes.Event.form" data-icon="O"></a>
    </div>
  </div>
  <table class="slist slist-pad">
    <thead>
      <tr>
        <th></th>
        <th>UTC start</th>
        <th>UTC end</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @events.map { e =>
      <tr>
        <td><a href="@routes.Event.edit(e.id)">
            <strong>@e.title</strong>
            <em>@e.headline</em>
        </a></td>
        <td>
          @showDateTimeUTC(e.startsAt)
          @momentFromNow(e.startsAt)
        </td>
        <td>
          @showDateTimeUTC(e.finishesAt)
          @momentFromNow(e.finishesAt)
        </td>
        <td><a class="text"href="@routes.Event.show(e.id)" data-icon="v"></a></td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
