@(e: lila.event.Event)(implicit ctx: Context)

@moreJs = {
@e.secondsToStart.map { seconds =>
@embedJs {
setTimeout(function() { lichess.reload(); }, @(seconds + 10) * 1000);
}
}
}

@base.layout(
title = e.title,
moreCss = cssTag("event.css"),
moreJs = moreJs) {
<div id="event" class="content_box small_box">
  <h1 data-icon="" class="text">@e.title</h1>
  <h2 class="headline">
    @e.headline
  </h2>
  <p class="when">
    @if(e.isNow) {
    <a href="@e.url" class="button">@trans.playingRightNow()</a>
    } else { @momentFromNow(e.startsAt) }
  </p>
  @e.description.map { d =>
  <p class="desc">@autoLink(d)</p>
  }
</div>
}
