@(e: lila.event.Event)(implicit ctx: Context)

@base.layout(
title = e.title,
moreCss = cssTag("event.css"),
moreJs = jsTag("event-countdown.js")) {
<div id="event" class="content_box small_box">
  <h1 data-icon="" class="text">@e.title</h1>
  <h2 class="headline">@e.headline</h2>
  @e.description.map { d =>
  <p class="desc">@richText(d)</p>
  }
  @if(e.isFinished) {
  <p class="desc">The event is finished.</p>
  } else {
  @if(e.isNow) {
  <a href="@e.url" class="button">@trans.eventInProgress()</a>
  } else {
  <ul class="countdown" data-seconds="@e.secondsToStart">
    <li><span class="days"></span>days</li><li><span class="hours"></span>Hours</li><li><span class="minutes"></span>Minutes</li><li><span class="seconds"></span>Seconds</li>
  </ul>
  }
  }
</div>
}.toHtml
