@(apkDoc: io.prismic.Document, resolver: io.prismic.DocumentLinkResolver)(implicit ctx: Context)

@base.layout(
title = "Mobile",
moreCss = cssTag("mobile.css")) {
<div class="mobile content_box small_box clearfix">
  <div class="right-side">
    <img class="nexus5-playing" width="268" height="513" src="@staticUrl("images/mobile/nexus5-playing.png")" alt="Lichess mobile on nexus 5" />
    <img class="qrcode" width="200" height="200" src="@staticUrl("images/mobile/dynamic-qrcode.png")" alt="Download QR code" />
  </div>
  <div class="left-side">
    <h1>@trans.playChessEverywhere()</h1>
    @googlePlayButton()
    @appleStoreButton()
    <div class="apk" style="margin-top: 20px">
      @Html(~apkDoc.getHtml("doc.content", resolver))
    </div>
    <h2>@trans.asFreeAsLichess()</h2>
    <ul class="block">
      <li>@trans.builtForTheLoveOfChessNotMoney()</li>
      <li>@trans.everybodyGetsAllFeaturesForFree()</li>
      <li>@trans.zeroAdvertisement()</li>
      <li>Entirely <a href="https://github.com/veloce/lichobile">Open Source</a> as usual</li>
    </ul>
    <h2>Full featured</h2>
    <ul class="block">
      <li>Phone and tablet</li>
      <li>Bullet, blitz, classical</li>
      <li>Correspondence chess</li>
      <li>Online and offline play</li>
      <li>Puzzles</li>
      <li>Game analysis</li>
      <li>Board editor</li>
      <li>Lichess TV</li>
      <li>Follow and challenge friends</li>
      <li>Available in 80+ languages!</li>
    </ul>
    <div class="block">
      <a href="https://github.com/veloce/lichobile">Lichess mobile</a> is built upon:
      <ul style="text-align:left">
        <li><a href="http://cordova.apache.org/">Cordova platform</a></li>
        <li><a href="http://tarifa.tools">Tarifa toolchain</a></li>
        <li><a href="http://lhorie.github.io/mithril/">Mithril JS framework</a></li>
      </ul>
    </div>
  </div>
</div>
}
