@()(implicit ctx: Context)

@base.layout(
title = "Mobile",
moreCss = cssTag("mobile.css")) {
<div class="mobile content_box small_box clearfix">
  <div class="right-side">
    <img class="mobile-playing" width="268" height="536" src="@staticUrl("images/mobile/mobile-playing.jpg")" alt="A game in progress on the Lidraughts mobile app" />
  </div>
  <div class="left-side">
    <h1>@trans.playDraughtsEverywhere()</h1>
    @bits.googlePlayButton.toHtml
    @bits.appleStoreButton.toHtml
    <h2>@trans.asFreeAsLidraughts()</h2>
    <ul class="block">
      <li>@trans.builtForTheLoveOfDraughtsNotMoney()</li>
      <li>@trans.everybodyGetsAllFeaturesForFree()</li>
      <li>@trans.zeroAdvertisement()</li>
      <li>Entirely <a href="https://github.com/RoepStoep/lidrobile">Open Source</a></li>
    </ul>
    <h2>@trans.fullFeatured()</h2>
    <ul class="block">
      <li>@trans.phoneAndTablet()</li>
      <li>@trans.bulletBlitzClassical()</li>
      <li>@trans.correspondenceDraughts()</li>
      <li>@trans.onlineAndOfflinePlay()</li>
      <li>@trans.tournaments()</li>
      <li>@trans.puzzles()</li>
      <li>@trans.gameAnalysis()</li>
      <li>@trans.boardEditor()</li>
      <li>Lidraughts TV</li>
      <li>@trans.followAndChallengeFriends()</li>
      <li>@trans.availableInNbLanguages.pluralSame(16)</li>
    </ul>
  </div>
</div>
}
