$mq-col2: $mq-col2-uniboard;

#bot-view {
  display: flex;
  flex-flow: column nowrap;

  #bot-tabs {
    flex: 0 0 auto;
    display: flex;
  }

  .bot-tab {
    @extend %roboto, %nowrap-hidden, %box-radius-top;

    flex: 1 1 auto;
    text-align: center;
    padding: 0.4em 10px;

    cursor: pointer;
    color: $c-font-page;

    @include transition;

    &:hover {
      background: mix($c-accent, $c-bg-box, 15%);
    }

    &-active {
      color: $c-font;
      background: $c-bg-box !important;
    }

    span {
      @extend %nowrap-ellipsis;
    }

    &:last-child {
      border-#{$end-direction}: none;
    }
  }
  #bot-content {
    flex: 1 1 auto;
    overflow: hidden;
  }
}

#bot-list {
}

.fancy-bot {
  display: flex;
  align-items: center;

  &:nth-child(even) {
    background: $c-bg-zebra;
    justify-content: space-between;
    img.picture {
      order: 3;
    }
  }

  &:hover {
    background: mix($c-link, $c-bg-box, 15%);
  }

  img.picture {
    flex: 0 0 128px;

    display: block;
  }
  span {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    * {
      margin-right: 6px;
    }
  }
  .overview {
    margin: 20px 10px 10px 2.5vw;
    display: flex;
    flex: auto;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: 15px;
  }
}
