i.practice {
  background: url(../images/practice/help.svg);
  background-size: cover;
}

[class='ptQ1LLvm'] {
  background-image: url(../images/practice/backstab.svg);
}

[class='E1lqtqFt'] {
  background-image: url(../images/practice/arrowed.svg);
}

[class='xebrDvFe'] {
  background-image: url(../images/practice/key.svg);
}

[class='A4ujYOer'] {
  background-image: url(../images/practice/push.svg);
}

[class='9ogFv8Ac'] {
  background-image: url(../images/practice/voodoo-doll.svg);
}

[class='Qj281y1p'] {
  background-image: url(../images/practice/trident.svg);
}

[class='tuoBxVE5'] {
  background-image: url(../images/practice/pierced-body.svg);
}

[class='BJy6fEDf'] {
  background-image: url(../images/practice/stone-pile.svg);
}

[class='Rg2cMBZ6'] {
  background-image: url(../images/practice/stone-spear.svg);
}

[class='fE4k21MW'] {
  background-image: url(../images/practice/pocket-bow.svg);
}

[class='8yadFPpU'] {
  background-image: url(../images/practice/sword-in-stone.svg);
}

[class='PDkQDt6u'] {
  background-image: url(../images/practice/catapult.svg);
}

[class='96Lij7wH'] {
  background-image: url(../images/practice/musket.svg);
}

[class='o734CNqp'] {
  background-image: url(../images/practice/breaking-chain.svg);
}

[class='9cKgYrHb'] {
  background-image: url(../images/practice/cement-shoes.svg);
}

[class='MnsJEWnI'] {
  background-image: url(../images/practice/boxing-glove-surprise.svg);
}

[class='ITWY4GN2'] {
  background-image: url(../images/practice/two-shadows.svg);
}

[class='lyVYjhPG'] {
  background-image: url(../images/practice/skeletal-hand.svg);
}

[class='s5pLU7Of'] {
  background-image: url(../images/practice/trojan-horse.svg);
}

[class='kdKpaYLW'] {
  background-image: url(../images/practice/divert.svg);
}

[class='jOZejFWk'] {
  background-image: url(../images/practice/magnet.svg);
}

[class='49fDW0wP'] {
  background-image: url(../images/practice/upgrade.svg);
}

[class='0YcGiH4Y'] {
  background-image: url(../images/practice/quicksand.svg);
}

[class='CgjKPvxQ'] {
  background-image: url(../images/practice/back-forth.svg);
}

[class='udx042D6'] {
  background-image: url(../images/practice/mining.svg);
}

[class='Grmtwuft'] {
  background-image: url(../images/practice/detour.svg);
}

[class='g1fxVZu9'] {
  background-image: url(../images/practice/bolt-shield.svg);
}

[class='RUQASaZm'] {
  background-image: url(../images/practice/rogue.svg);
}

[class='9c6GrCTk'] {
  background-image: url(../images/practice/siege-tower.svg);
}

[class='ByhlXnmM'] {
  background-image: url(../images/practice/ghost-ally.svg);
}

[class='pt20yRkT'] {
  background-image: url(../images/practice/stone-tower.svg);
}

[class='MkDViieT'] {
  background-image: url(../images/practice/guarded-tower.svg);
}

[class='pqUSUw8Y'] {
  background-image: url(../images/practice/siege-tower.svg);
}

[class='heQDnvq7'] {
  background-image: url(../images/practice/locked-fortress.svg);
}

[class='wS23j5Tm'] {
  background-image: url(../images/practice/tower-fall.svg);
}
