@(s: lila.streamer.Streamer.WithUserAndStream, following: Option[Boolean])(implicit ctx: Context)
<div class="top">
  @pic(s.streamer, s.user, 250)
  <div class="overview">
    <h1>@titleTag(s.user.title)@s.streamer.name</h1>
    @s.streamer.headline.map(_.value).map { d =>
    <p class="headline @if(d.size < 60){small} else {@if(d.size < 120){medium}else{large}}">@d</p>
    }
    <div class="services">
      @s.streamer.twitch.map { twitch =>
      <a class="service twitch@if(s.stream.exists(_.twitch)){ live}" href="@twitch.fullUrl">
        @bits.svg.twitch
        @twitch.minUrl
      </a>
      }
      @s.streamer.youTube.map { youTube =>
      <a class="service youTube@if(s.stream.exists(_.youTube)){ live}" href="@youTube.fullUrl">
        @bits.svg.youTube
        @youTube.minUrl
      </a>
      }
      <a class="service lichess" href="@routes.User.show(s.user.username)">
        @bits.svg.lichess
        lichess.org/@@/@s.user.username
      </a>
    </div>
    <div class="metas">
      <div class="ats">
        @s.stream.map { s =>
        <p class="at">
          Currently streaming:<br />
          <strong>@s.status</strong>
        </p>
        }.getOrElse {
        <p class="at">@trans.lastSeenActive(momentFromNow(s.streamer.seenAt))</p>
        @s.streamer.liveAt.map { liveAt =>
        <p class="at">Last stream @momentFromNow(liveAt)</p>
        }
        }
      </div>
      @following.map { f =>
      @if(ctx.isAuth && !ctx.is(s.user)) {
      <button data-user="@s.user.id" class="follow icon button@if(f){ active}" type="submit">
        <span class="text" data-icon="h">@trans.follow()</span>
      </button>
      }
      }
    </div>
  </div>
</div>
