@(live: List[lila.streamer.Streamer.WithUserAndStream], pager: Paginator[lila.streamer.Streamer.WithUser], requests: Boolean)(implicit ctx: Context)

@title = @{ if (requests) "Streamer approval requests" else "Lichess streamers" }

@widget(s: lila.streamer.Streamer.WithUser, stream: Option[lila.streamer.Stream]) = {
<a class="overlay" href="@if(requests){@routes.Streamer.edit?u=@s.user.username}else{@routes.Streamer.show(s.user.username)}"></a>
@if(stream.isDefined) {
<span class="ribbon">
  <span>LIVE!</span>
</span>
}
@pic(s.streamer, s.user, 250)
<div class="overview">
  <h1>@titleTag(s.user.title)@s.streamer.name</h1>
  @s.streamer.headline.map(_.value).map { d =>
  <p class="headline @if(d.size < 60){small} else {@if(d.size < 120){medium}else{large}}">@d</p>
  }
  <div class="services">
    @s.streamer.twitch.map { twitch =>
    <div class="service twitch">
      @StreamerSvg.twitch
      @twitch.minUrl
    </div>
    }
    @s.streamer.youTube.map { youTube =>
    <div class="service youTube">
      @StreamerSvg.youTube
      @youTube.minUrl
    </div>
    }
  </div>
  <div class="ats">
    @stream.map { s =>
    <p class="at">
      Currently streaming:
      <strong>@s.status</strong>
    </p>
    }.getOrElse {
    <p class="at">@trans.lastSeenActive(momentFromNow(s.streamer.seenAt))</p>
    @s.streamer.liveAt.map { liveAt =>
    <p class="at">Last stream @momentFromNow(liveAt)</p>
    }
    }
  </div>
</div>
}

@base.layout(title = title,
moreCss = cssTag("streamer.list.css"),
moreJs = infiniteScrollTag,
menu = menu("index", none).some) {
<div class="content_box no_padding streamers">
  <div class="top"><h1 data-icon="" class="text">@title</h1></div>
  @if(!requests) {
  <div class="list live">
    @live.map { s =>
    <div class="streamer">@widget(s.withoutStream, s.stream)</div>
    }
  </div>
  }
  <div class="list infinitescroll">
    @pager.currentPageResults.map { s =>
    <div class="streamer paginated_element" data-dedup="@s.streamer.id">@widget(s, none)</div>
    }
    @pager.nextPage.map { np =>
    <div class="pager none">
      <a rel="next" href="@addQueryParameter(routes.Streamer.index().toString, "page", np)">Next</a>
    </div>
    }
  </div>
</div>
}.toHtml
