@(active: String, s: Option[lidraughts.streamer.Streamer.WithUser])(implicit ctx: Context)

@* <a class="@active.active("index")" href="@routes.Streamer.index()">All streamers</a> *@

@s.map { st =>
@* <a class="@active.active("show")" href="@routes.Streamer.show(st.streamer.id.value)">@st.streamer.name</a> *@
@if(ctx.is(st.user) || isGranted(_.Streamers)) {
@* <a class="@active.active("edit")" href="@routes.Streamer.edit?u=@st.streamer.id.value">Edit streamer page</a> *@
}
}.getOrElse {
@* <a href="@routes.Streamer.edit">Your streamer page</a> *@
}
