@(s: lila.streamer.Streamer.WithUser, error: Option[String] = None)(implicit ctx: Context)

@base.layout(title = s"${s.user.titleUsername} streamer picture",
moreJs = jsTag("streamer.form.js"),
moreCss = cssTags("form3.css", "streamer.form.css")) {
<div class="streamer-picture content_box small_box no_padding">
  <h1 class="lichess_title">
    @userLink(s.user).toHtml streamer picture
  </h1>
  <div class="picture_wrap">
    @bits.pic(s.streamer, s.user, 250)
  </div>
  <div class="forms">
    @error.map { e =>
    <p class="error">@e</p>
    }
    @helper.form(action = routes.Streamer.pictureApply, 'enctype -> "multipart/form-data", 'class -> "upload") {
    <p>Max size: @{lila.db.Photographer.uploadMaxMb}MB.</p>
    @form3.file.image("picture")
    <button type="submit" class="button">Upload profile picture</button>
    }
    @if(s.streamer.hasPicture) {
    @helper.form(action = routes.Streamer.pictureDelete, 'enctype -> "multipart/form-data", 'class -> "delete") {
    <button type="submit" class="button">Delete profile picture</button>
    }
    }
    <div class="cancel">
      <a href="@routes.Streamer.edit" class="text" data-icon="I">Return to streamer page form</a>
    </div>
  </div>
</div>
}.toHtml
