@(s: lila.streamer.Streamer.WithUserAndStream, activities: Vector[lila.activity.ActivityView], following: Boolean)(implicit ctx: Context)

@import lila.streamer.Stream.{ Twitch, YouTube }

@side = {
@if(s.streamer.approval.chatEnabled) {
<div class="side streamer-side">
  @s.stream match {
  case Some(YouTube.Stream(_, _, videoId, _)) => {
  <iframe
    frameborder="0"
    scrolling="no"
    src="https://www.youtube.com/live_chat?v=@videoId&embed_domain=@netDomain"
    width="235"
    height="500"></iframe>
  }
  case _ => {
  @s.streamer.twitch.map { twitch =>
  <iframe
    frameborder="0"
    scrolling="yes"
    src="https://twitch.tv/embed/@twitch.userId/chat@if(ctx.currentBg != "light"){?darkpopout}"
    width="235"
    height="500"></iframe>
  }
  }
  }
</div>
}
<div class="side_menu">
  @menu("show", s.withoutStream.some)
</div>
<a class="blocker button" href="https://getublockorigin.com">
  <i data-icon=""></i>
  <strong>Install a malware blocker!</strong>
  Be safe from ads and trackers<br />
  infesting Twitch and YouTube.<br />
  We recommend uBlock Origin<br />
  which is free and open-source.
</a>
}

@moreCss = {
@cssTag("streamer.show.css")
@cssTag("activity.css")
}

@moreJs = {
@embedJs {
$(function() {
$('button.follow').click(function() {
var klass = 'active';
$(this).toggleClass(klass);
$.ajax({
url: '/rel/' + ($(this).hasClass('active') ? 'follow/' : 'unfollow/') + $(this).data('user'),
method:'post'
});
});
});
}
}

@title = @{ s"${s.titleName} streams chess" }

@base.layout(title = title,
side = side.some,
moreCss = moreCss,
moreJs = moreJs,
openGraph = lila.app.ui.OpenGraph(
title = title,
description = shorten(~(s.streamer.headline.map(_.value) orElse s.streamer.description.map(_.value)), 152),
url = s"$netBaseUrl${routes.Streamer.show(s.user.username)}",
`type` = "video",
image = s.streamer.picturePath.map(p => dbImageUrl(p.value))).some,
csp = defaultCsp.withTwitch.some) {
@s.stream match {
case Some(YouTube.Stream(_, _, videoId, _)) => {
<div class="content_box no_padding livestream youTube">
  <iframe
    width="792"
    height="446"
    src="https://www.youtube.com/embed/@videoId?autoplay=1"
    frameborder="0" allowfullscreen></iframe>
</div>
}
case _ => {
@s.streamer.twitch.map { twitch =>
<div class="content_box no_padding livestream twitch">
  <iframe
    src="https://player.twitch.tv/?channel=@twitch.userId"
    width="792"
    height="446"
    allowfullscreen autoplay></iframe>
</div>
}.getOrElse {
<div class="content_box no_padding nostream">OFFLINE</div>
}
}
}
<div class="content_box no_padding streamer">
  @header(s, following.some)
  <div class="description">@richText(s.streamer.description.fold("")(_.value))</div>
  <a class="ratings" href="@routes.User.show(s.user.username)">
    @s.user.best6Perfs.map { pt =>
    @showPerfRating(s.user, pt)
    }
  </a>
  @views.html.activity(s.user, activities).toHtml
</div>
}.toHtml
