@(s: lila.streamer.Streamer.WithUser, edit: Boolean = false)(implicit ctx: Context)
<a class="overlay" href="@if(edit){@routes.Streamer.edit?u=@s.user.username}else{@routes.Streamer.show(s.user.username)}"></a>
@pic(s.streamer, s.user, 250)
<div class="overview">
  <h1>@s.streamer.name</h1>
  @s.streamer.headline.map(_.value).map { d =>
  <p class="headline @if(d.size < 60){small} else {@if(d.size < 120){medium}else{large}}">@d</p>
  }
  <div class="services">
    @s.streamer.twitch.map { twitch =>
    <div class="service twitch">
      @StreamerSvg.twitch
      @twitch.minUrl
    </div>
    }
    @s.streamer.youTube.map { youTube =>
    <div class="service youTube">
      @StreamerSvg.youTube
      @youTube.minUrl
    </div>
    }
  </div>
  <p class="at">@trans.lastSeenActive(momentFromNow(s.streamer.seenAt))</p>
  @s.streamer.liveAt.map { liveAt =>
  <p class="at">Last stream @momentFromNow(liveAt)</p>
  }
</div>
