.reactions {
  @extend %flex-center;

  font-size: 1.1em;

  &.loading {
    opacity: 0.3;
  }

  button {
    @extend %flex-center, %box-radius;
    @include transition;
    @include prevent-select;

    padding: 0.3em 0.6em;
    order: 1;
    color: $c-link;
    height: 2.5em;
    -webkit-touch-callout: none;

    &.mine {
      background: color-mix(in oklab, $c-primary 10%, $c-bg);

      &:first-child {
        @extend %box-radius-left;
      }

      &:last-child {
        @extend %box-radius-right;
      }
    }
  }

  button.no {
    display: none;
  }

  .forum-post &-auth button.no {
    display: flex;
    opacity: 0;
  }

  @media (hover: hover) {
    .forum-post:hover &-auth button.no {
      opacity: 0.4;
      filter: grayscale(100%);

      &:hover {
        opacity: 0.7;
        filter: grayscale(0%);
        background: color-mix(in oklab, $c-primary 15%, $c-bg);

        img {
          transform: scale(1.2) !important;
        }
      }
    }
  }

  button.yes {
    order: 0;
    opacity: 1;

    img {
      margin-inline-end: 0.4em;
    }
  }

  img {
    width: 20px;
    height: 20px;
    transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
    pointer-events: none;
  }

  .forum-post &-auth:focus-within button.no {
    opacity: 0.4;
    filter: grayscale(100%);
  }

  &-toggle {
    order: 2;
    font-size: 1.5em;
    color: $c-font !important;

    @media (hover: hover) {
      display: none !important;
    }
  }
}

dialog div.downvote-reason {
  min-width: min(96vw, 540px);
  background: $c-bg-page;

  span > div.info,
  span > div.dont-ask-me-again {
    @include fluid-size('font-size', 13px, 16px);
  }

  p {
    font-size: 0.9em;
    text-align: start;
  }

  span {
    align-items: center;
  }

  span.footer {
    gap: min(2em, 2vw);
  }

  label {
    white-space: nowrap;
  }

  i {
    font-family: lichess;
    font-size: 1.4em;
    font-style: normal;
    margin-inline: -8px 8px;
    color: $c-primary;
  }

  .info {
    padding: 1em 1em 0.5em 1.5em;
    background: color-mix(in oklab, $c-bad 10%, $c-bg-page);
    border: 1px solid color-mix(in oklab, $c-bad 60%, $c-bg-page);
  }

  .radio-checkboxes,
  .dont-ask-me-again {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    align-items: start;
  }

  .dont-ask-me-again {
    font-size: 0.9em;
    margin-inline-end: auto;
  }
}
