.reactions {
  @extend %flex-center;

  font-size: 1.1em;

  &.loading {
    opacity: 0.3;
  }

  button {
    @extend %button-none, %flex-center;

    @include transition;

    padding: 0.3em 0.6em;
    order: 1;
    color: $c-link;
    height: 2.5em;

    &.mine {
      background: $m-primary_bg--mix-10;

      &:first-child {
        @extend %box-radius-left;
      }

      &:last-child {
        @extend %box-radius-right;
      }
    }
  }

  button.no {
    display: none;
  }

  .forum-post &-auth button.no {
    display: flex;
    opacity: 0;
  }

  @media (hover: hover) {
    .forum-post:hover &-auth button.no {
      opacity: 0.4;
      filter: grayscale(100%);

      &:hover {
        opacity: 0.7;
        filter: grayscale(0%);
        background: $m-primary_bg--mix-15;

        img {
          transform: scale(1.2) !important;
        }
      }
    }
  }

  button.yes {
    order: 0;
    opacity: 1;

    img {
      margin-inline-end: 0.4em;
    }
  }

  img {
    width: 20px;
    height: 20px;
    transition: transform 0.15s cubic-bezier(0.2, 0, 0.13, 2);
    pointer-events: none;
  }

  .forum-post &-auth:focus-within button.no {
    opacity: 0.4;
    filter: grayscale(100%);
  }

  &-toggle {
    order: 2;
    font-size: 1.5em;
    color: $c-font !important;

    @media (hover: hover) {
      display: none !important;
    }
  }
}
