.voice-move-help {
  max-width: 800px;
  td.tips li {
    list-style: disc;
    font-size: 1.1em;
    margin: 0.8em 10%;

    i[data-icon]::before {
      vertical-align: sub;
    }
  }

  table {
    align-self: start;
  }

  voice {
    display: block;
    font-weight: bold;
    color: $c-font;
  }

  .commands {
    td:first-child {
      padding-inline-start: 2em;
    }
    display: flex;
    flex-direction: row;
    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .all-phrases-button {
    margin-top: 1em;
    padding: 0.6em 1.2em;
  }

  .big-table {
    td {
      padding: 0 1em;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    tr {
      td:nth-child(even) {
        border-right: 1px solid $c-brag;
      }
      td:last-child {
        border-right: none;
      }
    }
  }
}
