$c-recording: hsl(6, 86%, 50%);
$c-recording-hover: hsl(6, 100%, if($theme == 'light', 40%, 60%));

#voice-control {
  position: relative;
}
#voice-status-row {
  @extend %box-neat, %flex-center-nowrap;
  align-items: stretch;
  background: $c-bg-box;
  padding-left: 0.2em;
  #voice-control.puz & {
    background: $c-bg-zebra;
  }
  user-select: none;
  > button {
    @extend %button-none;
    color: $c-font-dim;
    padding: 0.2rem 0.5rem;
    &:hover {
      color: $c-font;
    }
  }
}

#voice-status {
  @extend %flex-center-nowrap;
  flex: 1 1 auto;
}

#microphone-button {
  span {
    font-family: 'lichess';
    font-size: 1.6em;
    border: 1px solid transparent;
    border-width: 0 1px;
    border-radius: 0.25em;
  }
  &.enabled span {
    color: $c-recording;
    animation: pulseBorderRed 1s;
    animation-iteration-count: infinite;
    border-color: $c-recording;
    &:hover {
      color: $c-recording-hover;
    }
  }
  @keyframes pulseBorderRed {
    0% {
      border-color: transparent;
    }
    50% {
      border-color: $c-recording;
    }
    100% {
      border-color: transparent;
    }
  }
}

#voice-settings-button {
  &.active {
    color: white;
    background-color: $c-primary;
  }
}

#voice-settings {
  @extend %flex-column, %dropdown-shadow, %box-radius-bottom;
  position: absolute;
  border-top: 2px solid $c-primary;
  z-index: z(mz-menu);
  width: 100%;
  background: $c-bg-popup;
  gap: 1.5em;
  padding: 1.5em;
}
.voice-setting {
  @extend %flex-center-nowrap;

  label {
    flex: 4 1 auto;
    cursor: pointer;
    white-space: nowrap;
  }

  .switch + label {
    margin-#{$start-direction}: 1ch;
  }

  input[type='range'] {
    cursor: pointer;
    flex: 1 4 auto;
    padding: 0;
    height: 1.6em;
    width: 100%;
    margin: 0 1ch;
  }

  .range_value {
    direction: ltr;
    flex: 0 0 15%;
    text-align: left;
  }
}

.voice-choices {
  @extend %flex-between;
  .active {
    @extend %active-primary;
  }
}
