#topnav div {
  visibility: visible;
  font-size: 0.8em;
}

#main-wrap {
  margin-top: 170px;
}

.lobby__app {
  display: none !important;
}

#clinput {
  .link {
    display: none;
  }

  input {
    width: auto;
  }
}
