.crop-viewer {
  @extend %flex-column;
  row-gap: 2em;

  .spinner {
    margin: auto;
  }

  > .dialog-actions {
    @extend %flex-around;

    > .submit {
      padding: 1em 2em;
    }

    > .cancel {
      color: $c-bad;
    }
  }
}
