.analyse__tools:has(.action-menu) {
  box-shadow: none;
}

.action-menu {
  @extend %border-bottom-active;

  position: absolute;
  z-index: $z-action-menu-99;
  inset: 0;
  background: $c-bg-opaque;
  display: flex;
  flex-flow: column;
  overflow: auto;
  padding: $analyse-block-gap;

  h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    margin: $analyse-block-gap 0 3px 0;
    display: table;
    padding: 0 10px;

    &:before,
    &:after {
      border-top: $border;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%;
    }

    &:before {
      @include inline-end(8px);
    }

    &:after {
      @include inline-start(8px);
    }
  }

  &__tools {
    display: grid;
    gap: 0 1em;
    grid-template-columns: repeat(auto-fill, minmax(15ch, 1fr));

    button,
    > a {
      @extend %button-none;
      display: flex;
      align-items: center;
      line-height: 1.2em;
      min-height: 3em;

      &::before {
        padding-inline-end: 8px;
        font-size: 1.7em;
      }

      &:hover {
        color: $c-primary;
      }
    }
  }

  .autoplay {
    @extend %flex-wrap;

    .button {
      &-empty {
        color: $c-font-dim;
      }
      font-size: 0.9em;
      flex: 1 1 auto;
      padding: 7px 0;
      text-align: center;
    }
  }

  form.delete {
    text-align: right;
    margin-top: 6px;

    .button::before {
      font-size: 1.2em;
    }
  }

  .setting {
    @extend %flex-center-nowrap;

    flex: 0 0 auto;
    margin-top: $analyse-block-gap;

    label {
      flex: 4 1 auto;
      cursor: pointer;
      white-space: nowrap;
    }

    .switch + label {
      margin-inline-start: 1ch;
    }

    input[type='range'] {
      flex: 1 4 auto;
      padding: 0;
      height: 1.6em;
      width: 100%;
      margin: 0 1ch;
    }

    .range_value {
      direction: ltr;
      flex: 0 0 auto;
      display: block;
      text-align: right;
    }
  }

  span {
    @extend %flex-center;
    justify-content: start;
    gap: 0.6em;
  }
}
