$vp-min-width: 320px;
$vp-max-width: 1200px;
$embed-uniboard-table: minmax(#{$col3-uniboard-table-min}, 800px);

body {
  ---site-header-height: 0px;
  ---site-header-margin: 0px;
  ---site-header-sticky-padding: 0px;
  ---main-margin: 0px;
  ---sticky-gap: 0px;
  ---block-gap: 10px;
  ---zoom: 95 !important;

  @media (min-width: at-least($small)) {
    ---main-margin: 1vw;
    ---block-gap: 15px;
    overflow-y: hidden;

    #main-wrap {
      // piece diff needs 20px atop the board
      padding: 22px $block-gap 0 $block-gap;
    }
  }
}

cg-resize {
  display: none;
}
