@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/z-index' as z;
@use 'pkg:common/theme';

#analyse-cm {
  @extend %box-radius, %popup-shadow;

  background: theme.$c-bg-box;
  position: absolute;
  display: none;
  z-index: z.get('context-menu');
  cursor: default;
  user-select: none;

  &.visible {
    display: block;
  }

  .title {
    @extend %move-notation, %metal;

    padding: 0.4em;
    text-align: center;
    font-size: 1.2em;
    border-bottom: theme.$border;
    margin: 0;
  }

  a {
    @extend %flex-center-nowrap;

    color: theme.$c-font;
    padding: 0.5em 0.6em 0.5em 0.3em;

    &::before {
      width: 2em;
      text-align: center;
    }

    &:hover {
      background: theme.$m-accent_bg-box_mix_10;
    }
  }
}
