.forecast {
  @extend %box-neat-force;
  user-select: none;
  @include transition();
  position: relative;
  &.loading .box,
  &.loading .add {
    opacity: .5;
  }
  .overlay {
    @extend %link-overlay, %flex-center;
  }
  .top {
    @extend %metal;
    border-bottom: $border;
    padding: .5em .7em;
  }
  .entry {
    padding: .7em .1em .7em .6em;
    margin-left: -.1em;
    @include transition();
    position: relative;
    cursor: pointer;
    &::before {
      margin-left: -.6em;
      opacity: .4;
    }
    .del {
      position: absolute;
      right: 5px;
      top: 8px;
      width: .8em;
      height: .8em;
      line-height: .8em;
      text-align: center;
      display: block;
      font-size: .9em;
      opacity: 0;
      @include transition();
      background: #fff;
      padding: 5px;
      border-radius: 50%;
      color: $c-bad;
    }
    &:hover .del {
      opacity: .8;
      &:hover .del:hover {
        opacity: 1;
      }
    }
  }
  .fbt {
    text-transform: none;
    padding: .3em .7em;
    cursor: pointer;
  }
  .add {
    @extend %flex-center-nowrap;
    width: 100%;
    &::before {
      font-size: 2.2em;
      opacity: .6;
    }
    &.enabled::before {
      color: $c-good;
    }
    &:hover::before {
      opacity: .9;
    }
    span {
      display: block;
      white-space: normal;
      font-weight: normal;
    }
  }
  sans {
    @extend %roboto;
  }
  san {
    @extend %san;
  }
  sans > * {
    display: inline-block;
    margin-right: .2em;
  }
  .add sans {
    @extend %flex-wrap;
  }
  .on-my-turn {
    margin-top: 1.3em;
  }
  .on-my-turn::before {
    color: $c-good;
  }
}
