.forecast {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: opacity 0.13s;
  position: relative;
}
.forecast.loading .box,
.forecast.loading .add {
  opacity: 0.5;
}
.forecast .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.forecast .entries {
  border: 1px solid #ccc;
}
.forecast .entries .top {
  border-bottom: 1px solid #ccc;
  padding: 3px 5px;
  font-weight: bold;
  color: #999;
}
.forecast .entry {
  padding: 12px 2px 12px 10px;
  margin-left: -2px;
  transition: 0.13s;
  position: relative;
  cursor: pointer;
}
.forecast .entry::before {
  margin-left: -10px;
  opacity: 0.4;
}
.forecast .entry:hover {
  background: #e0e0e0;
}
.forecast .entry .del {
  position: absolute;
  right: 5px;
  top: 8px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  text-align: center;
  display: block;
  font-size: 13px;
  opacity: 0;
  transition: 0.13s;
  background: #fff;
  padding: 5px;
  border-radius: 50%;
  color: #dc322f;
}
.forecast .entry:hover .del {
  opacity: 0.8;
}
.forecast .entry:hover .del:hover {
  opacity: 1;
}
.forecast .add {
  display: block;
  width: 100%;
  text-align: left;
  border-width: 1px 0 0 0;
  transition: 0.5s;
}
.forecast .add::before {
  font-size: 32px;
  float: left;
  margin: 1px 10px 0 0;
  opacity: 0.6;
  transition: opacity 0.13s;
}
.forecast .add.enabled::before {
  color: #759900;
}
.forecast .add:hover::before {
  opacity: 0.9;
}
.forecast .add span {
  display: block;
  white-space: normal;
  font-weight: normal;
}
.forecast sans {
  font-family: 'Roboto';
  font-weight: 300;
}
.forecast sans san {
  font-family: 'ChessSansPiratf', sans-serif;
  font-weight: bold;
}
.forecast sans > * {
  display: inline-block;
  margin-right: 3px;
}
.forecast .add sans {
  display: flex;
  flex-flow: row wrap;
}
body.piece_letter .forecast sans san {
  font-family: 'Noto Sans';
}
.forecast button.on-my-turn {
  margin-top: 20px;
}
.forecast button.on-my-turn::before {
  color: #759900;
}
