#main-wrap {
  --main-max-width: auto;
  @include breakpoint($mq-col1) {
    --main-max-width: calc(
      (100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls} - #{$hands-gap}) / 12 * 9
    );
    &:has(.main-v-minishogi, .main-v-kyotoshogi) {
      --main-max-width: calc(
        (100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls} - #{$hands-gap}) / 7 * 5 / 12 * 11
      );
    }
    &:has(.main-v-chushogi) {
      --main-max-width: calc(
        (100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls} - #{$hands-gap}) / 12 * 11
      );
    }
  }
}

.analyse {
  grid-area: main;
  display: grid;

  &__side {
    grid-area: side;
    justify-content: start;
    margin: $block-gap;
  }
  &__board,
  .intro {
    grid-area: board;
  }
  &__tools {
    grid-area: tools;
  }
  &__controls {
    grid-area: controls;
  }
  &__underboard {
    grid-area: under;
    @include breakpoint($mq-col1) {
      overflow: hidden; // helps truncating long study names
    }
  }
  &__acpl {
    grid-area: acpl;
  }
  .chat__members {
    grid-area: uchat;
  }
  .eval-gauge {
    grid-area: gauge;
    display: none;
  }

  --meta-height: auto;

  grid-template-rows: auto auto minmax(20em, 30vh);
  grid-template-areas:
    'board'
    'controls'
    'tools'
    'side'
    'acpl'
    'under'
    'chat'
    'uchat';

  @include breakpoint($mq-col2) {
    grid-template-columns: var(--col2-uniboard-main-size) $block-gap $col2-uniboard-table;

    grid-template-rows: fit-content(0) $col2-uniboard-controls;
    grid-template-areas:
      'board      gauge tools'
      'under      .     controls'
      'under      .     acpl'
      'under      .     side'
      'chat       .     side'
      'uchat      .     side';
    grid-row-gap: 0;

    &__side,
    .chat__members,
    .mchat {
      margin: $block-gap 0 0 0;
    }

    &__underboard {
      margin-top: #{$block-gap + 1};
    }

    .eval-gauge {
      display: block;
    }
  }

  @include breakpoint($mq-col3) {
    grid-template-columns:
      $col3-uniboard-side $block-gap var(--col3-uniboard-main-size) $block-gap
      $col3-uniboard-table;
    grid-template-rows: $meta-height $chat-height $col3-uniboard-controls auto;
    grid-template-areas:
      'side    . board gauge tools'
      'chat    . board gauge tools'
      'uchat   . under .     controls'
      'uchat   . under .     acpl';

    &__side {
      margin-top: 0;
    }
    .mchat {
      min-height: 10em;
    }

    @include crosstable-large;
  }

  &.main-v-chushogi {
    @include breakpoint($mq-col2) {
      grid-template-columns: var(--col2-uniboard-main-size-no-hands) $big-block-gap $col2-uniboard-table;
    }
    @include breakpoint($mq-col3) {
      grid-template-columns:
        $col3-uniboard-side $big-block-gap var(--col3-uniboard-main-size-no-hands) $big-block-gap
        $col3-uniboard-table;
    }
  }
}
