@mixin columns-with-gauge-col2($gauge-width) {
  grid-template-columns: $col2-uniboard-width $gauge-width $block-gap $col2-uniboard-table;
}
@mixin columns-with-gauge-col3($gauge-width) {
  grid-template-columns: $col3-uniboard-side $block-gap $col3-uniboard-width $gauge-width $block-gap $col3-uniboard-table;
}

#main-wrap {
  --main-max-width: calc(100vh - #{$site-header-height} - #{$col1-uniboard-controls});
  @include breakpoint($mq-col2) {
    --main-max-width: auto;
  }
}

.analyse {
  grid-area: main;
  display: grid;

  &__side {
    grid-area: side;
    justify-content: start;
  }
  &__board { grid-area: board; }
  &__tools { grid-area: tools; }
  &__controls { grid-area: controls; }
  &__underboard { grid-area: under; }
  &__acpl { grid-area: acpl; }
  &__side { grid-area: side; }
  &__underchat { grid-area: uchat; }
  .eval-gauge {
    grid-area: gauge;
    display: none;
  }

  grid-template-areas:
  'board'
  'controls'
  'tools'
  'side'
  'acpl'
  'under'
  'chat'
  'uchat';
  grid-template-rows: auto auto 50vh;

  grid-row-gap: $block-gap;

  @include breakpoint($mq-col2) {
    @include columns-with-gauge-col2(0);
    &.gauge-on {
      @include columns-with-gauge-col2($gauge-on-container);
    }
    grid-template-rows: fit-content(0);
    grid-template-areas:
    'board      gauge .    tools'
    'under      under .    controls'
    'under      under .    acpl'
    'chat       chat  .    side'
    'uchat      uchat .    side';
    .eval-gauge { display: block; }
  }

  @include breakpoint($mq-col3) {
    @include columns-with-gauge-col3(0);
    &.gauge-on {
      @include columns-with-gauge-col3($gauge-on-container);
    }
    grid-template-rows: 8em fit-content(100%);
    @include proper-grid {
      grid-template-rows: max-content fit-content(100%);
    }
    grid-template-areas:
    'side    . board gauge . tools'
    'chat    . board gauge . tools'
    'uchat   . under under . controls'
    'uchat   . under under . acpl';

    @include crosstable-large;
  }
}
