$clock-height: 20px;

.analyse__clock {
  @extend %metal, %box-shadow;

  position: absolute;
  right: 0;
  padding: 0 0.5em;
  height: $clock-height;
  font-weight: bold;
  text-align: center;

  &.top {
    @extend %box-radius-top;

    top: #{-$clock-height};
  }

  &.bottom {
    @extend %box-radius-bottom;

    top: var(--cg-height, 100%);
    z-index: 1; // over the board coords
  }

  &.active {
    background: mix($c-primary, $c-bg-box, 30%);
  }

  tenths {
    font-size: 80%;
  }

  /* Where to put them in col1 layout? It moves the entire board and controls down for little benefit */
  @include breakpoint($mq-col1) {
    display: none;
  }
}
