@import '../../lib/css/component/material';

$clock-height: 20px;

.analyse__player_strip {
  position: absolute;
  @include inline-end(0);
  display: flex;

  &.top {
    top: #{-$clock-height};
    z-index: $z-above-site-header-107;

    .is3d & {
      top: #{-$clock-height - 35px};
    }
  }

  &.bottom {
    top: var(---cg-height, 100%);
    z-index: 1; // over the board coords

    .is3d & {
      top: calc(var(---cg-height, 100%) + 15px);
    }
  }

  /* Where to put them in col1 layout? It moves the entire board and controls down for little benefit */
  @include mq-is-col1 {
    display: none;
  }
}

.analyse__clock {
  @extend %metal;

  padding: 0 0.5em;
  margin-inline-start: 12px;
  height: $clock-height;
  font-weight: bold;
  text-align: center;

  &.active {
    background: $m-primary_bg--mix-30;
  }

  tenths {
    font-size: 80%;
  }

  i {
    font-size: 0.7em;
    margin-inline-end: 0.4em;
    color: $c-accent;
  }
}

.material {
  padding-inline-end: 1px;

  mpiece {
    width: 20px;
    height: 20px;

    &.pawn {
      margin-inline-start: -10px;
    }
  }
  score {
    margin-top: -2px;
  }
}

.material-top {
  margin-top: -1px;
}

.material-bottom {
  margin-top: 1px;
}
