@use 'pkg:common/theme';

.practice-box {
  flex: 0 0 135px;
  user-select: none;

  .comment {
    flex: 0 0 30px;
    display: flex;
    align-items: stretch;
    background: theme.$c-bg-zebra;
    border-top: theme.$border;
    white-space: nowrap;
    line-height: 30px;
  }

  .progress div {
    background: theme.$c-shade;
  }

  &.goodMove .progress div {
    background: theme.$c-good;
    color: #fff;
  }

  &.inaccuracy .title,
  &.inaccuracy .progress div {
    background: theme.$c-brag;
    color: #fff;
  }

  &.mistake .title,
  &.blunder .title,
  &.mistake .progress div,
  &.blunder .progress div {
    background: theme.$c-bad;
    color: #fff;
  }

  .comment .wait {
    padding-left: 15px;
  }

  .verdict {
    font-weight: bold;
    margin-right: 10px;
    display: flex;
  }

  .verdict::before {
    width: 30px;
    height: 100%;
    color: #fff;
    margin-right: 7px;
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
  }

  &.goodMove .verdict {
    color: theme.$c-good;
  }

  &.goodMove .verdict::before {
    background: theme.$c-good;
    font-family: lishogi;
    content: 'K';
    font-size: 1.7em;
  }

  &.inaccuracy .verdict {
    color: theme.$c-brag;
  }

  &.inaccuracy .verdict::before {
    background: theme.$c-brag;
    content: '?';
  }

  &.mistake .verdict,
  &.blunder .verdict {
    color: theme.$c-bad;
  }

  &.mistake .verdict::before,
  &.blunder .verdict::before {
    background: theme.$c-bad;
    content: '✗';
  }

  .comment move {
    cursor: pointer;
    margin-left: 5px;
    color: theme.$c-link;
    transition: 0.3s;
  }
}
