.practice-box {
  @include prevent-select;
  flex: 0 0 135px;

  .comment {
    flex: 0 0 30px;
    display: flex;
    align-items: stretch;
    background: $c-bg-zebra;
    white-space: nowrap;
    line-height: 30px;

    move {
      cursor: pointer;
      margin-inline-start: 5px;
      color: $c-link;
      transition: 0.3s;

      san {
        @extend %san;
      }
    }
    .next {
      border: 0;
      background: $m-primary_bg--mix-80;
      color: $c-over;
      width: 100%;

      @include transition;

      &:hover {
        background: $c-primary;
      }
    }
  }

  .progress div {
    background: $c-shade;
  }

  &.goodMove .progress div {
    background: $c-good;
    color: #fff;
  }

  &.inaccuracy .title,
  &.inaccuracy .progress div {
    background: $c-brag;
    color: #fff;
  }

  &.mistake .title,
  &.blunder .title,
  &.mistake .progress div,
  &.blunder .progress div {
    background: $c-bad;
    color: #fff;
  }

  .comment .wait {
    padding-inline-start: 15px;
  }

  .verdict {
    font-weight: bold;
    margin-inline-end: 10px;
    display: flex;
  }

  .verdict::before {
    width: 30px;
    height: 100%;
    color: #fff;
    margin-inline-end: 7px;
    text-align: center;
    font-size: 1.4em;
    font-weight: normal;
  }

  &.goodMove .verdict {
    color: $c-good;
  }

  &.goodMove .verdict::before {
    background: $c-good;
    content: '✓';
    font-size: 1.7em;
  }

  &.inaccuracy .verdict {
    color: $c-brag;
  }

  &.inaccuracy .verdict::before {
    background: $c-brag;
    content: '?';
  }

  &.mistake .verdict,
  &.blunder .verdict {
    color: $c-bad;
  }

  &.mistake .verdict::before,
  &.blunder .verdict::before {
    background: $c-bad;
    content: '✗';
  }
}

.ceval .practice-mode {
  @extend %flex-column;
  justify-content: center;
  flex: 1 0 auto;
  height: 38px;
  width: 64px;
  text-align: center;
  font-weight: bold;
  p {
    margin: 0;
    font-size: 1rem;
  }
  p.secondary {
    font-size: 0.9rem;
    opacity: 0.6;
  }
}

.ceval p.status {
  margin: 0;
  color: $c-primary;
}
