.analyse__puzzle {
  margin-top: $analyse-block-gap;
  a {
    @extend %flex-center-nowrap;
    text-transform: inherit;
    text-align: start;
    &::before {
      font-size: 2.8em;
    }
  }
}

.advice-summary {
  @extend %flex-column;

  color: $c-font-page;
  font-size: 0.9em;
  line-height: 1.15em;
  margin-top: 1em;

  &__side > div {
    display: flex;
    i,
    strong {
      flex: 0 1 6ch;
      text-align: center;
    }
    &.symbol {
      cursor: pointer;
    }
    &.inaccuracy {
      color: $c-inaccuracy;
      &:hover {
        color: $m-inaccuracy_font--mix-70;
      }
    }
    &.mistake {
      color: $c-mistake;
      &:hover {
        color: $m-mistake_font--mix-70;
      }
    }
    &.blunder {
      color: $c-blunder;
      &:hover {
        color: $m-blunder_font--mix-70;
      }
    }
  }

  .color-icon::before {
    vertical-align: text-bottom;
  }

  .button {
    margin: 0.6em 0;
  }

  @include mq-is-col1 {
    flex-flow: row wrap;
    justify-content: center;
    padding-bottom: $analyse-block-gap;
    border-bottom: $border;
    margin: 0;

    &__side {
      flex: 0 0 calc(50% - #{$analyse-block-gap});
      margin-inline-start: $analyse-block-gap;
    }

    > a {
      order: 1;
    }
  }
}
