.share-game-modal {
  .copy-game-url {
    margin-top: 2em;
    display: flex;
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    a {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .copy-success {
    margin: 0 1em 1em 1em;
    color: $c-good;
    height: 0;
    overflow: hidden;
    transition: height 0.25s;
    &.visible {
      height: 1.5em;
    }
  }

  #game-url {
    min-width: 20em;
  }

  .button:not(:first-of-type) {
    margin-left: 1em;
  }
}
