.analyse {
  &__side {
    align-self: start;

    .back-to-game {
      margin-top: 2em;

      @include mq-at-least-col3 {
        margin-top: 10vh;
      }

      text-align: center;

      .button {
        margin: 0 auto;
      }
    }
    .analyse__wiki {
      margin: 2vh 0;
      flex: 1 1 auto;
      @include mq-at-least-col3 {
        flex: 1 1 0;
      }

      &.empty {
        visibility: hidden;
      }
    }
  }
  &--wiki .analyse__side {
    @extend %flex-column;
    align-self: auto;
  }
  &__wiki {
    overflow-y: auto;
    padding: 1rem 1rem 0 1rem;
    scrollbar-gutter: stable both-edges;

    p {
      text-align: justify;
      line-height: 1.5;
    }
    h1,
    h2 {
      @include fluid-size('font-size', 17px, 23px);
      margin-bottom: 1rem;
    }
    h3 {
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 0.7rem;
    }
  }
}
