@import 'variables';

$pocket-col1-height: auto;

.pocket {
  &-top {
    grid-area: pocket-top;
  }
  &-bottom {
    grid-area: pocket-bot;
  }
}

.analyse.variant-standard,
.analyse.variant-minishogi {
  grid-template-rows: $pocket-col1-height auto $pocket-col1-height auto 50vh;
  grid-template-areas:
    'pocket-top'
    'board'
    'pocket-bot'
    'controls'
    'tools'
    'side'
    'acpl'
    'under'
    'chat'
    'uchat';
  @include breakpoint($mq-col2) {
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      'board      gauge pocket-top'
      'board      gauge tools'
      'board      gauge pocket-bot'
      'under      .     controls'
      'under      .     acpl'
      'under      .     side'
      'chat       .     side'
      'uchat      .     side';
  }
  @include breakpoint($mq-col3) {
    grid-template-rows: min-content $meta-height 1fr min-content;
    grid-template-areas:
      'side    . board gauge pocket-top'
      'side    . board gauge tools'
      'chat    . board gauge tools'
      'chat    . board gauge pocket-bot'
      'uchat   . under .     controls'
      'uchat   . under .     acpl';
  }
}

@include breakpoint($mq-col1) {
  .pocket {
    &-top {
      margin-bottom: #{$block-gap};
    }
    &-bottom {
      margin-top: #{$block-gap};
    }
  }
}
