@(game: Game)(implicit ctx: Context)

@import lila.app._

@if(isGranted(_.MarkEngine)) {
@game.players.map { p =>
@if(game.turns > 40) {
<br />
@playerLink(p, cssClass = s"is color-icon ${p.color.name}".some, withOnline = false, mod = true)
<select id="@(p.color.name)Assessment">
  <option value="1">Not cheating</option>
  <option value="2">Unlikely cheating</option>
  <option value="3">Unclear</option>
  <option value="4">Likely cheating</option>
  <option value="5">Cheating</option>
</select>
<br />
}
}
}