@import lila.evaluation.{ GameAssessments, Display }

@(game: Game, results: GameAssessments)(implicit ctx: Context)
<br />
@if(isGranted(_.MarkEngine) && game.analysable && !game.isCorrespondence && game.turns >= 40) {
@game.players.map { p =>
<table class="modAssessment">
  <tr>
    @playerLink(p, cssClass = s"is color-icon ${p.color.name}".some, withOnline = false, mod = true)
  </tr>
  <tr>
    @results.color(p.color).fold{
    <td class="noMatch">None</td>
    }{ result =>
    <td class="match">
        @Display.assessmentString(result.assessment)
    </td>
    }
  </tr>
</table>
}
<div class="assessmentButtons">
  <a class="button" id="refreshAssessment">Refresh</a>
</div>
}
