@(clock: chess.Clock, color: chess.Color, position: String)(implicit ctx: Context)

@import scala.math.floor

@defining(clock.remainingTime(color)) { time =>
<div class="clock clock_@color clock_@position @if(time == 0) { outoftime }"
  data-color="@color"
  data-time="@time"
  data-emerg="@clock.emergTime"
  data-bar-time="@{math.max(clock.limit, 2) + 5 * clock.increment}">
  @if(ctx.pref.clockBar) {
  <div class="bar"><span></span></div>
  }
  <div class="time">@{ """%02d:%02d""".format(floor(time / 60d).toInt, (time % 60).toInt) }</div>
</div>
}
