@(g: Game)(implicit ctx: Context)
@import play.api.libs.json.Json
@safeJson(i18nJsObject(
trans.flipBoard,
trans.aiNameLevelAiLevel,
trans.yourTurn,
trans.abortGame,
trans.proposeATakeback,
trans.offerDraw,
trans.resign,
trans.opponentLeftChoices,
trans.forceResignation,
trans.forceDraw,
trans.threefoldRepetition,
trans.claimADraw,
trans.drawOfferSent,
trans.cancel,
trans.yourOpponentOffersADraw,
trans.accept,
trans.decline,
trans.takebackPropositionSent,
trans.yourOpponentProposesATakeback,
trans.thisPlayerUsesChessComputerAssistance,
trans.gameAborted,
trans.checkmate,
trans.whiteResigned,
trans.blackResigned,
trans.stalemate,
trans.whiteLeftTheGame,
trans.blackLeftTheGame,
trans.draw,
trans.timeOut,
trans.whiteIsVictorious,
trans.blackIsVictorious,
trans.withdraw,
trans.rematch,
trans.rematchOfferSent,
trans.rematchOfferAccepted,
trans.waitingForOpponent,
trans.cancelRematchOffer,
trans.newOpponent,
trans.moveConfirmation,
trans.viewRematch,
trans.whitePlays,
trans.blackPlays,
trans.giveNbSeconds,
trans.giveMoreTime,
trans.gameOver,
trans.analysis,
trans.yourOpponentWantsToPlayANewGameWithYou
) ++ {
if (g.isCorrespondence) i18nJsObject(
trans.oneDay,
trans.nbDays,
trans.nbHours
) else i18nJsObject(
trans.nbSecondsToPlayTheFirstMove
)
} ++ {
if (g.variant.exotic) i18nJsObject(
trans.kingInTheCenter,
trans.threeChecks,
trans.variantEnding
) else Json.obj()
} ++ {
if (g.isTournament) i18nJsObject(
trans.backToTournament,
trans.viewTournament,
trans.standing
) else Json.obj()
})
