@()(implicit ctx: Context)
@Html(J.stringify(i18nJsObject(
trans.flipBoard,
trans.premoveEnabledClickAnywhereToCancel,
trans.aiNameLevelAiLevel,
trans.waiting,
trans.yourTurn,
trans.abortGame,
trans.proposeATakeback,
trans.offerDraw,
trans.resign,
trans.theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim,
trans.forceResignation,
trans.forceDraw,
trans.threefoldRepetition,
trans.claimADraw,
trans.drawOfferSent,
trans.cancel,
trans.yourOpponentOffersADraw,
trans.accept,
trans.decline,
trans.takebackPropositionSent,
trans.yourOpponentProposesATakeback,
trans.youHaveNbSecondsToMakeYourFirstMove,
trans.thisPlayerUsesChessComputerAssistance,
trans.gameAborted,
trans.checkmate,
trans.whiteResigned,
trans.blackResigned,
trans.stalemate,
trans.whiteLeftTheGame,
trans.blackLeftTheGame,
trans.draw,
trans.timeOut,
trans.playingRightNow,
trans.whiteIsVictorious,
trans.blackIsVictorious,
trans.kingInTheCenter,
trans.threeChecks,
trans.variantEnding,
trans.backToTournament,
trans.withdraw,
trans.joinTheGame,
trans.declineInvitation,
trans.rematch,
trans.rematchOfferSent,
trans.rematchOfferAccepted,
trans.waitingForOpponent,
trans.cancelRematchOffer,
trans.newOpponent,
trans.moveConfirmation,
trans.viewRematch,
trans.viewTournament,
trans.whitePlays,
trans.blackPlays,
trans.giveNbSeconds,
trans.gameOver,
trans.analysis,
trans.boardEditor,
trans.continueFromHere,
trans.playWithTheMachine,
trans.playWithAFriend,
trans.yourOpponentWantsToPlayANewGameWithYou,
trans.oneDay,
trans.nbDays,
trans.nbHours
)))
