@(title: String, side: Html, chat: Option[Html] = None, underchat: Option[Html] = None, robots: Boolean = true, moreJs: Html = Html(""), active: Option[lila.app.ui.SiteMenu.Elem] = None, openGraph: Map[Symbol, String] = Map.empty, moreCss: Html = Html(""), chessground: Boolean = true)(body: Html)(implicit ctx: Context)

@base.layout(
title = title,
side = side.some,
active = (active | siteMenu.play).some,
chat = chat,
underchat = underchat,
robots = robots,
openGraph = openGraph,
moreJs = moreJs,
moreCss = moreCss,
chessground = chessground)(body)
