@(title: String, side: Html, chat: Option[Html] = None, underchat: Option[Html] = None, robots: Boolean = true, moreJs: Html = Html(""), openGraph: Map[Symbol, String] = Map.empty, moreCss: Html = Html(""), chessground: Boolean = true, playing: Boolean = false)(body: Html)(implicit ctx: Context)

@base.layout(
title = title,
side = side.some,
chat = chat,
underchat = underchat,
robots = robots,
openGraph = openGraph,
moreJs = moreJs,
moreCss = moreCss,
chessground = chessground,
playing = playing)(body)
