@(title: String, side: Html, chat: Option[Html] = None, underchat: Option[Html] = None, moreJs: Html = emptyHtml, openGraph: Option[lila.app.ui.OpenGraph] = None, moreCss: Html = emptyHtml, chessground: Boolean = true, playing: Boolean = false, atom: Option[Html] = None, robots: Boolean = false)(body: Html)(implicit ctx: Context)

@base.layout(
title = title,
side = side.some,
chat = chat,
underchat = underchat,
openGraph = openGraph,
moreJs = moreJs,
moreCss = moreCss,
chessground = chessground,
playing = playing,
robots = robots,
atom = atom,
asyncJs = true,
zoomable = true)(body).toHtml
