@(pov: Pov, prefs: Option[Form[_]])(implicit ctx: Context)

<div class="chat_menu">
  @if(pov.game.hasChat) {
  <a data-panel="messages_container" class="active">
    @trans.chatRoom()
    <input title="@trans.toggleTheChat()" class="toggle_chat" type="checkbox" />
  </a>
  }
  @if(ctx.isAuth) { <a data-panel="notes">@trans.notes()</a> }
  @if(prefs.isDefined) {
  <a data-panel="preferences" data-hint="@trans.preferences()" class="hint--top">
    <span data-icon="%"></span>
  </a>
  }
</div>
<div id="chat" class="side_box">
  <div class="chat_panels">
    @if(pov.game.hasChat) {
    <div class="messages_container active">
      <ol class="messages content scroll-shadow-soft"></ol>
      <form action="#">
        <input class="lichess_say" value="" placeholder="@trans.talkInChat()" maxlength="140" />
        <a class="send" data-icon="z"></a>
      </form>
    </div>
    }
    @if(ctx.isAuth) {
    <div class="notes">
      <textarea placeholder="@trans.typePrivateNotesHere()"></textarea>
    </div>
    }
    @prefs.map { form =>
    <div class="preferences">
      <form class="autosubmit" action="@routes.Pref.miniFormApply" method="POST">
        <div>
          <h2>@trans.tenthsOfSeconds()</h2>
          @base.radios(form("clockTenths"), translatedClockTenthsChoices, prefix = "igp_")
        </div>
        <div>
          <h2>@trans.moveConfirmation()</h2>
          @base.radios(form("submitMove"), submitMoveChoices, prefix = "igp_")
        </div>
        <div>
          <h2>@trans.promoteToQueenAutomatically()</h2>
          @base.radios(form("autoQueen"), translatedAutoQueenChoices, prefix = "igp_")
        </div>
        <div>
          <h2>@trans.blindfoldChess()</h2>
          @base.radios(form("blindfold"), translatedBlindfoldChoices, prefix = "igp_")
        </div>
      </form>
      <a target="_blank" class="prefs button text" data-icon="%" href="@routes.Pref.form("game-display")">@trans.preferences()</a>
    </div>
    }
  </div>
</div>
