@(playing: List[Pov], simul: Option[lila.simul.Simul])(implicit ctx: Context)
<h3>
  @simul.map { s =>
  <span class="simul">
    SIMUL
    <span class="win">@s.wins W</span>/
    <span class="draw">@s.draws D</span>/
    <span class="loss">@s.losses L</span>/
    @s.ongoing ongoing
  </span>
  }.getOrElse {
  @trans.currentGames()
  }
  @defining("round-toggle-autoswitch") { id =>
  <span class="move_on switcher hint--bottom-left" data-hint="@trans.automaticallyProceedToNextGameAfterMoving()">
    <label for="@id">@trans.autoSwitch()</label>
    <span class="switch">
      <input id="@id" class="cmn-toggle" type="checkbox" />
      <label for="@id"></label>
    </span>
  </span>
  }
</h3>
@defining(playing.partition(_.isMyTurn)) {
case (myTurn, otherTurn) => {
@defining(myTurn ++ otherTurn.take(6 - myTurn.size)) { povs =>
@povs.take(9).map { pov =>
<a href="@routes.Round.player(pov.fullId)" class="@if(pov.isMyTurn){my_turn}">
  @gameFen(pov, withLink = false, withTitle = false, withLive = false)
  <span class="meta">
    @playerText(pov.opponent, withRating = false)
    <span class="indicator">
      @if(pov.isMyTurn) {
      @pov.remainingSeconds.fold(trans.yourTurn())(secondsFromNow(_, true))
      } else {&nbsp;}
    </span>
  </span>
</a>
}
}
}
}
