@(pov: Pov, data: play.api.libs.json.JsObject, tour: Option[lila.tournament.TourMiniView], simul: Option[lila.simul.Simul], cross: Option[lila.game.Crosstable.WithMatchup], playing: List[Pov], chatOption: Option[lila.chat.Chat.GameOrEvent], bookmarked: Boolean)(implicit ctx: Context)

@import pov._

@title = @{ s"${trans.play.txt()} ${if (ctx.pref.isZen) "ZEN" else playerText(pov.opponent)} in $gameId" }

@moreJs = {
@roundTag
@embedJs {
window.customWS = true;
window.onload = function() {
LichessRound.boot({
data: @safeJson(data),
i18n: @jsI18n(pov.game),
userId: @jsUserId,
@tour.map { t =>
tour: @toJson(tour.flatMap(_.top).map(lila.tournament.JsonView.top(_, lightUser))),
}
chat: @jsOrNull(chatOption.map(_.either).map {
case Left(c) => {
chat.restrictedJson(c, name = trans.chatRoom.txt(), timeout = false, withNote = ctx.isAuth, public = false)
}
case Right(c) => {
chat.json(c.chat, name = trans.chatRoom.txt(), timeout = c.timeout, public = true)
}
})
}, document.getElementById('lichess'));
};
}
}

@atom = {
<link href="@routes.Round.atom(pov.gameId, pov.color.name)" type="application/atom+xml" rel="alternate" title="Game feed" />
}

@underchat = {
@views.html.game.bits.watchers
@round.blurs(pov.game)
@round.holdAlerts(pov.game)
}

@round.layout(
title = title,
side = views.html.game.side(pov, (data\"game"\"initialFen").asOpt[String].map(chess.format.FEN), tour.map(_.tour), simul, bookmarked = bookmarked),
chat = chatOption.map(_ => chat.html),
underchat = underchat.some,
moreJs = moreJs,
moreCss = cssTag("chat.css"),
openGraph = povOpenGraph(pov).some,
chessground = false,
playing = true,
atom = atom.some) {
<div class="round cg-512">
  @board.domPreload(pov.some)
  <div class="underboard"><div class="center">
      @cross.map { c =>
      <div class="crosstable">
        @views.html.game.crosstable(ctx.userId.fold(c)(c.fromPov), pov.gameId.some)
      </div>
      }
  </div></div>
</div>
@if(playing.nonEmpty || simul.nonEmpty) {
<div id="now_playing" class="other_games @if(ctx.pref.isBlindfold){blindfold}">
  @others(playing, simul)
</div>
}
}
