@(pov: Pov, data: play.api.libs.json.JsObject, tour: Option[lila.tournament.Tournament], cross: Option[lila.game.Crosstable], otherGames: List[Pov])(implicit ctx: Context)

@import pov._

@title = @{ s"${trans.play.str()} ${playerText(pov.opponent)} in $gameId" }

@moreJs = {
@jsAt(s"compiled/lichess.round${isProd??(".min")}.js")
@jsRoutes()
@embedJs {
lichess = lichess || {};
lichess.round = {
data: @Html(play.api.libs.json.Json.stringify(data)),
routes: roundRoutes.controllers,
i18n: @jsI18n()
};
}
}

@round.layout(
title = title,
side = views.html.game.side(pov, tour, withTourStanding = true),
chat = pov.game.hasChat.option(base.chatDom(trans.chatRoom.str(), ctx.isAuth)),
underchat = views.html.game.watchers().some,
moreJs = moreJs,
openGraph = povOpenGraph(pov)) {
<div class="round cg-512">@miniBoardContent</div>
<div class="crosstable" style="display:none">
  @cross.map { c =>
  @views.html.game.crosstable(ctx.userId.fold(c)(c.fromPov))
  }
</div>
@if(otherGames.nonEmpty) {
<div id="now_playing" class="other_games">
  <h3>Other correspondence games</h3>
  @lobby.playing(otherGames take 6)
</div>
}
}
