@(s: lidraughts.simul.Simul)(implicit ctx: Context)
<span class="simul">
  SIMUL
  <span class="win">@s.wins W</span>/
  <span class="draw">@s.draws D</span>/
  <span class="loss">@s.losses L</span>/
  @trans.ongoing(s.ongoing)
  @s.targetPct.map { pct =>
    <br/>
    @trans.winningPercentage()<span class="pct">@s.currentPctStr%</span>@trans.withTarget()<span class="pct">@pct%</span>
    <br/>@trans.distanceToTarget()
    @if(s.targetReached) {
      <span class="win">@trans.succeeded()</span>
    } else { @if(s.targetFailed) {
      <span class="loss">@trans.failed()</span>
    } else {
      @s.requiredWins.map { w =><span class="win">@w</span>@trans.nbVictories.pluralTxt(w, "").trim()}
      @s.requiredDraws.map { d =><span class="draw">@d</span>@trans.nbDraws.pluralTxt(d, "").trim()}
    }}
  }
</span>
