@(s: lidraughts.simul.Simul)(implicit ctx: Context)
<span class="simul">
  SIMUL
  <span class="win"><wrap id="simul_w_@s.id">@s.wins</wrap> W</span>/
  <span class="draw"><wrap id="simul_d_@s.id">@s.draws</wrap> D</span>/
  <span class="loss"><wrap id="simul_l_@s.id">@s.losses</wrap> L</span>/
  @trans.ongoing(Html("<wrap id=\"simul_g_" + s.id + "\">" + s.ongoing + "</wrap>"))
  @s.targetPct.map { pct =>
    <br/>
    <span class="simul-targets">
    @trans.winningPercentage()<span class="pct" id="simul_pct_@s.id">@s.winningPercentageStr</span>@trans.withTarget()<span class="pct">@pct%</span><br/>
    </span>
    <span class="simul-targets">
    @trans.toReachTarget()
    <wrap id="simul_req_@s.id">
    @if(s.targetReached) {
      <span class="win">@trans.succeeded()</span>
    } else { @if(s.targetFailed) {
      <span class="loss">@trans.failed()</span>
    } else {
      @s.requiredWins.map { w =><span class="win req2">@trans.nbVictories.pluralSame(w)</span>}
      @s.requiredDraws.map { d =><span class="draw req2">@trans.nbDraws.pluralSame(d)</span>}
    }}
    </wrap>
    </span>
  }
</span>
