@(pov: Pov, version: Int, chat: Option[lila.chat.UserChat], tour: Option[lila.tournament.Tournament])(implicit ctx: Context)

@import pov._

@title = @{ "Watch %s - %s".format(gameId, color) }

@underchat = {
<div class="watchers">
  @trans.spectators() <span class="list inline_userlist"></span>
</div>
}

@round.layout(
title = title,
goodies = views.html.game.infoBox(pov, tour),
chat = chat.map(c => base.chat(c, trans.spectatorRoom.str())),
underchat = underchat.some) {
@watcherGame(pov)
@embedJs("var _ld_ = " + roundWatcherJsData(pov, version, false, ctx.pref))
@replayButton(pov)
}
