@(pov: Pov, data: play.api.libs.json.JsObject, tour: Option[lila.tournament.Tournament], cross: Option[lila.game.Crosstable], userTv: Option[User] = None)(implicit ctx: Context)

@title = @{ s"${playerText(pov.player)} vs ${playerText(pov.opponent)} in ${pov.gameId}" }

@moreJs = {
@jsAt(s"compiled/lichess.round${isProd??(".min")}.js")
@jsRoutes()
@embedJs {
lichess = lichess || {};
lichess.round = {
data: @Html(play.api.libs.json.Json.stringify(data)),
routes: roundRoutes.controllers,
i18n: @jsI18n()
};
}
}

@round.layout(
title = title,
side = views.html.game.side(pov, (data\"game"\"initialFen").asOpt[String], tour, withTourStanding = false, userTv = userTv),
chat = base.chatDom(trans.spectatorRoom.str()).some,
underchat = views.html.game.watchers().some,
moreJs = moreJs,
openGraph = povOpenGraph(pov),
chessground = false) {
<div class="round cg-512">@miniBoardContent</div>
<div class="crosstable" style="display:none">
  @cross.map { c =>
  @views.html.game.crosstable(c, pov.gameId.some)
  }
</div>
}
