@(pov: Pov, version: Int, bookmarkers: List[String], analysed: Boolean, tour: Option[lila.tournament.Tournament])(implicit ctx: Context)

@import pov._

@title = @{ "Watch %s - %s".format(gameId, color) }

@underchat = {
<div class="watchers">
  @trans.spectators() <span class="list inline_userlist"></span>
</div>
}

@round.layout(
title = title,
goodies = views.html.game.infoBox(pov, tour),
underchat = underchat.some) {
@watcherGame(pov)
@embedJs("var _ld_ = " + roundWatcherJsData(pov, version, false, ctx.pref))
@analyse.link(pov, analysed)
@views.html.game.more(pov, bookmarkers) {
<nav>
@continueFromHere(game)
<a href="@routes.Analyse.replay(gameId, color.name)">@trans.replayAndAnalyse()</a>
<br />
<a href="@routes.Round.watcher(gameId, (!color).name)">@trans.flipBoard()</a>
@if(game.pgnImport.isEmpty) {
<br />
<a href="@routes.Analyse.stats(gameId)">@trans.viewGameStats()</a>
}
<br />
@fenPgn(game)
</nav>
}
}
