@(pov: Pov, roomHtml: Html, bookmarkers: List[User])(body: Html)(implicit ctx: Context)

@import pov._

@title = @{ "Watch %s - %s".format(gameId, color) }

@underchat = {
<a class="lichess_replay_link" href="@routes.Analyse.replay(gameId, color.name)">@trans.replayAndAnalyse()</a>
@if(game.hasMoveTimes) {
<br /><br />
<a href="@routes.Analyse.stats(gameId)">@trans.viewGameStats()</a>
}
<br /><br />
<a class="rotate_board" href="@routes.Round.watcher(gameId, opponent.color.name)">@trans.flipBoard()</a>
@if(bookmarkers.nonEmpty) {
<div class="bookmarkers">
  <p>@trans.bookmarkedByNbPlayers(bookmarkers.size)</p>
  <ul>
    @bookmarkers.map { bookmarker =>
    <li>@userLink(bookmarker)</li>
    }
  </ul>
</div>
}
}

@round.layout(
title = title,
goodies = round.watcherGoodies(pov),
chat = round.room(roomHtml, true).some,
underchat = underchat.some) {
@body
@round.share(game)
}
