@(pov: Pov, initialFen: Option[String], pgn: chess.format.pgn.Pgn)(implicit ctx: Context)

@title = @{ s"${playerText(pov.player)} vs ${playerText(pov.opponent)} in ${pov.gameId}" }

@moreJs = {
@embedJs {
Chessground(document.querySelector('#lichess .round .lichess_board'), {
viewOnly: true,
fen: "@{chess.format.Forsyth.>>(pov.game.toChess)}",
orientation: "@pov.color.name"
});
}
}

@round.layout(
title = title,
side = views.html.game.side(pov, initialFen, none, simul = none, userTv = none),
chat = none,
underchat = views.html.game.watchers().some,
moreJs = moreJs,
openGraph = povOpenGraph(pov).some) {
<div class="round cg-512">
  <div class="top">
    <div class="lichess_game">
      <div class="lichess_board_wrap">
        <div class="lichess_board">
          <div class="cg-board-wrap">
            <div class="cg-board"></div>
          </div>
        </div>
      </div>
      <div class="lichess_ground for_bot">
        <h1>@titleGame(pov.game)</h1>
        <p>@describePov(pov)</p>
        <div class="pgn">@Html(nl2br(escape(pgn.toString)))</div>
      </div>
    </div>
  </div>
</div>
}
