@(pov: Pov, initialFen: Option[draughts.format.FEN], pdn: draughts.format.pdn.Pdn)(implicit ctx: Context)

@title = @{ s"${playerText(pov.player)} vs ${playerText(pov.opponent)} in ${pov.gameId}" }

@round.bits.layout(
title = title,
side = views.html.game.side(pov, initialFen, none, simul = none, userTv = none, bookmarked = false),
chat = none,
underchat = Some(views.html.game.bits.watchers),
draughtsground = false,
openGraph = povOpenGraph(pov).some) {
<div class="round cg-512">
  @board.bits.domPreload(pov.some).toHtml
  <div class="lidraughts_ground for_bot">
    <h1>@titleGame(pov.game)</h1>
    <p>@describePov(pov)</p>
    <div class="pdn">@pdn.render</div>
  </div>
</div>
}.toHtml
