@(pov: Pov)(implicit ctx: Context)

@import pov._

<div class="lichess_game clearfix lichess_player_@color">
  @if(ctx.blindMode) {
  <div id="lichess_board_blind" data-href="@routes.Round.watcherText(gameId, color.name)">
    @views.html.game.textualRepresentation(pov, playing = false)
  </div>
  }
  <div class="lichess_board_wrap">
    <div class="lichess_board with_marks">@Html(lila.app.ui.Board.render(pov))</div>
    <div id="dont_touch">@trans.youAreViewingThisGameAsASpectator()</div>
  </div>
  <div class="lichess_ground">
    @round.cemetery(pov, "top")
    <div class="lichess_table_wrap">
      @game.clock.map { c =>
      @round.clock(c, !pov.color, "top")
      }
      <div class="lichess_table onbg@{ if(game.hasClock) " table_with_clock" }@{ if(game.finished) " finished" }">
        <div class="lichess_opponent">
          @round.username(pov.opponent)
        </div>
        <div class="lichess_separator"></div>
        <div class="table_inner">
          @round.table.watch(pov)
        </div>
      </div>
      @game.clock.map { c =>
      @round.clock(c, pov.color, "bottom")
      }
      @round.blurs(game)
    </div>
    @round.cemetery(!pov, "bottom")
  </div>
</div>
