.learn__main {
  sg-squares sq.help {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(54, 146, 231, 0.5);
      .blue & {
        background-color: rgba(231, 54, 216, 0.5);
      }
    }
  }
  sg-squares sq.star {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../images/learn/star.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &.dest:not(.hover) {
      background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 0, 0.3) 80%);
    }
  }

  svg.sg-custom-svgs .rep-digit {
    fill: $c-primary;
  }

  .info-text {
    position: absolute;
    background: white;
    min-height: 20%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 19%;
    left: 20%;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
  }
}
