.stage-img {
  &.introduction {
    background-image: url(../images/learn/introduction.svg);
  }
  &.king {
    background-image: url(../images/learn/pieces/K.svg);
  }
  &.gold {
    background-image: url(../images/learn/pieces/G.svg);
  }
  &.silver {
    background-image: url(../images/learn/pieces/S.svg);
  }
  &.knight {
    background-image: url(../images/learn/pieces/N.svg);
  }
  &.lance {
    background-image: url(../images/learn/pieces/L.svg);
  }
  &.pawn {
    background-image: url(../images/learn/pieces/P.svg);
  }
  &.rook {
    background-image: url(../images/learn/pieces/R.svg);
  }
  &.bishop {
    background-image: url(../images/learn/pieces/B.svg);
  }
  &.capture {
    background-image: url(../images/learn/capture.svg);
  }
  &.drop {
    background-image: url(../images/learn/drop.svg);
  }
  &.protection {
    background-image: url(../images/learn/protection.svg);
  }
  &.check1 {
    background-image: url(../images/learn/check1.svg);
  }
  &.check2 {
    background-image: url(../images/learn/check2.svg);
  }
  &.outOfCheck {
    background-image: url(../images/learn/outOfCheck.svg);
  }
  &.checkmate1 {
    background-image: url(../images/learn/checkmate1.svg);
  }
  &.setup {
    background-image: url(../images/learn/setup.svg);
  }
  &.repetition {
    background-image: url(../images/learn/repetition.svg);
  }
  &.value {
    background-image: url(../images/learn/value.svg);
  }

  &.beams-aura {
    background-image: url(../images/learn/beams-aura.svg);
  }
  &.bullseye {
    background-image: url(../images/learn/bullseye.svg);
  }
  &.tied-scroll {
    background-image: url(../images/learn/tied-scroll.svg);
  }
  &.sword-clash {
    background-image: url(../images/learn/sword-clash.svg);
  }
  &.vintage-robot {
    background-image: url(../images/learn/vintage-robot.svg);
  }
  &.samurai-helmet {
    background-image: url(../images/learn/samurai-helmet.svg);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
