@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

.learn__side-map {
  user-select: none;

  .back,
  .categ > h2 {
    display: block;
    font-size: 1.3em;
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    cursor: pointer;
    opacity: 0.81;
  }

  .back {
    display: flex;
    color: theme.$c-font;
  }

  .back .stage-img {
    width: 50px;
    height: 50px;
    opacity: 0.9;
    margin-right: 10px;
    background-color: rgba(120, 120, 120, 1);
    background-size: 70%;
  }

  .back:hover {
    background-color: rgba(120, 120, 120, 0.2);
  }

  .categ > h2 {
    border-top: theme.$border;
  }

  .categ > h2:hover {
    background-color: theme.$m-primary_alpha_neg80;
  }

  .categ.active {
    border: theme.$border;
    border-width: 0 1px;
  }

  .categ.active:last-child {
    border-bottom-width: 1px;
  }

  .categ.active > h2 {
    cursor: default;
    background-color: theme.$c-primary;
    color: theme.$c-primary-over;
  }

  .categ:not(.active) .categ_stages {
    display: none;
  }

  .stage {
    @extend %roboto, %flex-center;
    @include mixins.transition;

    font-size: 1.1em;
    opacity: 0.9;
    color: theme.$c-font;

    .stage-img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      margin-left: 2px;
      padding: 10px;
      filter: brightness(0.9);

      @include mixins.theme-wrap('light') {
        filter: brightness(0.2);
      }
    }

    &.active {
      background-color: theme.$m-primary_alpha_neg80;
      border-left: 2px solid theme.$c-primary;
    }

    &.done {
      border-left: 2px solid theme.$c-good;

      &:hover {
        background-color: theme.$m-good_alpha_neg80;
      }
    }

    &.future {
      border-left: 2px solid theme.$c-primary;

      &:hover {
        background-color: theme.$m-primary_alpha_neg80;
      }
    }

    &:hover {
      color: theme.$c-font-clearer;
    }
  }
}
