.learn__side-home {
  @import '../../bits/css/learn/progress';
  @extend %box-radius, %flex-column;
  @include backdrop-blur-if-transparent;

  gap: 1em;
  background: $c-bg-box;
  border: $border;
  text-align: center;
  padding: 1.25em 1.25em 1em;

  @keyframes fat-glide {
    50% {
      transform: translateY(-4px);
    }
  }

  img.decoration {
    display: block;
    width: 160px;
    aspect-ratio: 1;
    margin: auto;
    opacity: 0.7;

    @include if-light {
      filter: brightness(0.15);
    }
  }

  &:hover img.decoration {
    animation: 1.5s fat-glide ease-in-out infinite;
  }

  &__header {
    @extend %flex-column;

    gap: 1em;

    .learn__side-home__title {
      @extend %flex-column;

      justify-content: center;
    }

    h1 {
      font-size: 2.5em;
    }

    h2 {
      font-size: 1.8em;
    }

    @media (width < $small) {
      flex-flow: row nowrap;
      gap: $block-gap;
      text-align: left;

      img.decoration {
        width: min(100px, 30vw);
        margin: 0;
      }
    }
  }

  a {
    opacity: 0.6;
    color: $c-font;

    &:hover {
      opacity: 1;
    }
  }
}
