.number-menu {
  background: $c-bg-zebra;
  display: flex;
  .nm-item {
    @extend %roboto;
    flex: 1 1 auto;
    color: $c-font;
    text-align: center;
    line-height: 1.4em;
    padding: 0.5em 5px;
    text-transform: capitalize;
    white-space: normal;
    font-size: .9em;
    &:hover {
      color: $c-link;
    }
  }
  &--tabs .nm-item {
    margin-top: 7px;
    border: 1px solid transparent;
    border-bottom: none;
    padding-bottom: 0.8em;
    &:hover {
      background: mix($c-link, $c-bg-box, 50%);
    }
    &.active {
      margin-bottom: -1px;
      background: #fff!important;
    }
  }
  strong {
    font-weight: normal;
    font-size: 1.1em;
  }
}
