.number-menu {
  background: $c-bg-zebra;
  display: flex;
  user-select: none;
  .nm-item {
    @extend %roboto;
    flex: 1 1 auto;
    color: $c-font;
    text-align: center;
    line-height: 1.4em;
    padding: 0.5em 5px;
    text-transform: capitalize;
    white-space: normal;
    font-size: .9em;
    &:hover {
      color: $c-link;
    }
  }
  &--tabs .nm-item {
    @extend %box-radius-top;
    margin-top: .7em;
    padding-bottom: 0.8em;
    @include transition();
    &:first-child {
      box-radius-top-left: 0;
    }
    &:last-child {
      box-radius-top-right: 0;
    }
    &:hover {
      background: mix($c-link, $c-bg-box, 10%);
    }
    &.active {
      color: $c-font;
      margin-bottom: -1px;
      background: #fff;
    }
  }
  strong {
    font-weight: normal;
    font-size: 1.1em;
  }
}
