.rating-stats {
  .spinner {
    width: 150px;
    height: 150px;
    margin-top: 100px;
  }

  .desc {
    @extend %flex-center;

    &::before {
      font-size: 4.5em;
      color: $c-font-dim;
      margin-right: 1rem;
    }
  }

  #rating_distribution_chart {
    height: 500px;
    margin-top: 2rem;
  }

  .mselect {
    display: inline-block;

    &__list > * {
      font-size: 1.3rem;
      padding: 0.3em 1em 0.3em 0.7em;
    }
  }
}
