.search {
  &__form {
    @extend %flex-center;

    font-size: .9em;
    white-space: nowrap;
    margin: 1em 1em 1em 0;

    table {
      flex: 0 1 48%;
      margin-left: 2%;
    }

    td {
      padding: .4em 0;
    }

    input[type="text"],
    select {
      padding: 0.3em 1em !important;
    }

    label {
      margin-right: .5em;
      white-space: normal;
    }

    .single select {
      width: 100%;
    }

    table {
      .half {
        @extend %flex-center;

        float: left;
        width: 50%;
        text-align: right;
        justify-content: flex-end;

        select, input {
          margin-left: .3em;
        }
      }

      .date {
        input {
          width: 100%;
        }
      }
    }

    table:first-child tr:nth-child(0),
    table:first-child tr:nth-child(1),
    table:first-child tr:nth-child(2),
    table:first-child tr:nth-child(3),
    table:first-child tr:nth-child(4),
    table:first-child tr:nth-child(5),
    table:first-child tr:nth-child(6),
    table:first-child tr:nth-child(7),
    table:first-child tr:nth-child(19) {
      display: none!important;
    }

    .action {
      text-align: right;
    }
  }

  &__status {
    text-align: right;
    padding: 1.5em;
    border-bottom: $border;
  }
}
