@import 'sub-rating';
@import 'header';
@import 'number-menu';

.user-show {
  &__social {
    @extend %flex-between;
    flex-flow: row nowrap;
    background: $c-bg-zebra;
    align-items: center;
    .user_actions {
      margin: 0 1em;
    }
    .user_actions form {
      display: inline;
    }
    .relation-actions {
      @extend %flex-center-nowrap;
      border-right: $border;
    }
  }
  #us_profile {
    @extend %flex-center-nowrap;
    border-top: $border;
    height: 336px;
    .engine_warning {
      margin: 10px 0;
    }
    .rating_history {
      flex: 1 1 62%;
      margin-left: -10px;
      height: 350px;
    }
    .rating_history .spinner {
      width: 90px;
      height: 90px;
      margin: 120px auto 0 auto;
    }
    .profile-side {
      @extend %flex-column;
      border-left: $border;
      height: 100%;
    }
    .user-infos {
      @include hoverflow;
      padding: .8em;
      overflow: hidden;
    }
    .insight {
      @extend %flex-center;
      padding: .3em 1em;
      border-top: $border;
      color: $c-link;
      strong {
        display: block;
        font-weight: normal;
        font-size: 1.5em;
      }
      em {
        display: block;
      }
      &::before {
        font-size: 2.5em;
        margin-right: 1rem;
      }
      &:hover,
      &:hover::before {
        @include transition();
        background: $c-primary;
        color: $c-primary-over;
      }
    }
    .col2 {
      display: flex;
      flex-flow: row wrap;
      > a {
        flex: 0 0 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .bio {
      font-style: italic;
    }
  }
  .claim-title {
    @extend %box-padding;
    border-top: $border;
    h2 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    .actions {
      @extend %flex-between;
      margin: 3em 0 1em 0;
    }
  }
  .note-zone {
    display: none;
    margin: 1em 20px;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
    textarea {
      width: 98%;
      margin-bottom: 5px;
      padding: 5px 8px;
      height: 5em;
      resize: vertical;
    }
    div {
      padding-top: 1em;
      border-top: 1px dotted #ccc;
      margin-top: 1em;
    }
    p.meta {
      float: right;
      text-align: right;
      margin-left: 1em;
      white-space: nowrap;
    }
    p.text {
      min-height: 2.7em;
    }
    p.text a {
      color: #3893E8;
    }
  }
  div.content_box_inter.tabs {
    margin-left: -8px;
    padding-left: 30px;
    width: 775px;
    border: 1px solid #ccc;
  }
  div.crosstable {
    margin: 25px 10px 15px 10px;
  }
  .results .aggregate {
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin-left: -20px;
    width: 50px;
    transform: rotate(90deg);
  }

  .search {
    white-space: nowrap;
    margin: 10px 0;
  }
  .search table {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 20px;
    width: 360px;
  }
  .search table tbody {
    display: block;
  }
  .search table:first-child {
    width: 400px;
  }
  .search .header {
    font-size: 1.3em;
  }
  .search td {
    padding: 5px 0;
  }
  .search label {
    margin-right: 10px;
  }
  .search .single select {
    width: 100%;
  }
  .search table .half {
    float: left;
    width: 49%;
    padding-right: 1%;
    text-align: right;
  }
  .search_status {
    text-align: right;
    padding: 10px 25px;
    border-bottom: 1px solid #e4e4e4;
  }
  .new_player {
    padding: 20px;
  }
  .new_player h2 {
    font-size: 1.4em;
  }
  .new_player p {
    margin: 1em 0;
  }
  .new_player li {
    list-style: disc inside;
    line-height: 1.5em;
  }
  .new_player a {
    color: #3893E8;
  }
  div.content_box_inter {
    display: flex!important;
  }
  div#games.content_box_inter {
    border-top: none;
  }
  div.content_box_inter a.to_games.active,
  div#games.content_box_inter {
    background: #e8e8e8!important;
  }
  div.content_box_inter.angles .intertab {
    font-size: 1.2em;
    padding: 0.9em 5px;
  }
  div.content_box_inter .intertab.active {
    border: 1px solid #ccc;
    border-bottom: none;
  }
  div.content_box_inter .to_games .unread {
    opacity: 0.7;
    padding: 0 5px;
  }
  div.content_box_inter .to_playing {
    color: #d85000!important;
  }
  div.content_box_inter .to_playing strong {
    font-weight: bold;
  }
}
