@import 'sub-rating';
@import 'header';
@import 'number-menu';
@import 'note-zone';
@import 'search';

.user-show {
  &__social {
    @extend %flex-between;
    flex-flow: row nowrap;
    background: $c-bg-zebra;
    align-items: center;
    .number-menu {
      margin: 0 0 .2em 1em;
    }
    .user_actions {
      margin: 0 1em;
    }
    .user_actions form {
      display: inline;
    }
    .relation-actions {
      @extend %flex-center-nowrap;
      border-right: $border;
    }
  }
  #us_profile {
    display: flex;
    border-top: $border;
    height: 336px;
    .engine_warning {
      margin: 10px 0;
    }
    .rating_history {
      flex: 0 0 62%;
      margin-left: -10px;
      height: 350px;
    }
    .rating_history .spinner {
      width: 90px;
      height: 90px;
      margin: 120px auto 0 auto;
    }
    .profile-side {
      @extend %flex-column;
      border-left: $border;
      height: 100%;
    }
    .user-infos {
      @include hoverflow;
      padding: .8em;
      overflow: hidden;
    }
    .insight {
      @extend %flex-center-nowrap;
      padding: .3em 1em;
      border-top: $border;
      color: $c-link;
      strong {
        display: block;
        font-weight: normal;
        font-size: 1.5em;
      }
      em {
        display: block;
      }
      &::before {
        font-size: 2.5em;
        margin-right: 1rem;
      }
      &:hover,
      &:hover::before {
        @include transition();
        background: $c-primary;
        color: $c-primary-over;
      }
    }
    .col2 {
      display: flex;
      flex-flow: row wrap;
      > a {
        flex: 0 0 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .bio {
      @extend %break-word;
      font-style: italic;
    }
  }
  .claim-title {
    @extend %box-padding;
    border-top: $border;
    h2 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    .actions {
      @extend %flex-between;
      margin: 3em 0 1em 0;
    }
  }
  .crosstable {
    margin: 2em 1em;
    width: auto;
  }
  .new-player {
    padding: 1.5em;
    overflow-y: scroll;
    h2 {
      font-size: 1.5em;
    }
    p {
      margin: 1em 0;
    }
    li {
      list-style: disc inside;
      line-height: 1.5em;
    }
  }
  .number-menu .to-games.active,
  #games.number-menu {
    background: $c-bg-low!important;
  }
  .angles {
    @extend %metal;
    font-size: 1.2em;
    height: 4rem;
    border-top: $border;
    .nm-item {
      @extend %flex-center;
      justify-content: center;
    }
    .unread {
      margin-left: .5em;
    }
  }

  .activity {
    margin-bottom: 2em;
  }
}
