@(doc: io.prismic.Document, resolver: io.prismic.DocumentLinkResolver, donations: List[lila.donation.Donation], top: List[User.ID], progress: lila.donation.Progress)(implicit ctx: Context)

@payPalVars = {
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="custom" value="@ctx.userId">
}

@side = {
<h2>@progress.month Progress</h2>
<div class="progress">
  <div class="progressbar green flashy">
    <div style="width: @progress.percent%"></div>
  </div>
  <div class="text">
    <span class="current">$@(progress.current / 100)</span>
    @progress.percent%
    <span class="goal">$@(progress.goal / 100)</span>
  </div>
</div>
<h2>Top Donors</h2>
<div class="donors">
  @top.map { userId =>
  <div>@userIdLink(userId.some)</div>
  }
</div>
<h2>Recent Donors</h2>
<div class="donors">
  @donations.take(10).map { donation =>
  <div>@userIdLink(donation.userId)</div>
  }
</div>
}

@moreCss = {
@cssTag("page.css")
@cssTag("donation.css")
}

@site.layout(
moreCss = moreCss,
side = side.some,
title = s"${~doc.getText("doc.title")}",
openGraph = lila.app.ui.OpenGraph(
title = "Donate to lichess.org",
url = s"$netBaseUrl${routes.Donation.index.url}",
description = "Your donations help pay for the web servers, show that lichess is appreciated, and keep the developer motivated.").some) {

<div class="content_box small_box doc_box donate_box">

  <h1 class="lichess_title">@doc.getText("doc.title")</h1>

  <div class="body">
    @Html(~doc.getHtml("doc.content", resolver))

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <! -- $5 -->
      @payPalVars
      <input type="hidden" name="hosted_button_id" value="JBSUYNPRCMT9U">
      <strong>$5</strong> = <strong>3.5 hours</strong> of lichess costs:
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </form>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <! -- $10 -->
      @payPalVars
      <input type="hidden" name="hosted_button_id" value="ZZ96PGW3UNRPQ">
      <strong>$10</strong> = <strong>7 hours</strong> of lichess costs:
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </form>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <! -- $20 -->
      @payPalVars
      <input type="hidden" name="hosted_button_id" value="VTKN4LNQZ2FNL">
      <strong>$20</strong> = <strong>14 hours</strong> of lichess costs:
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </form>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <! -- $50 -->
      @payPalVars
      <input type="hidden" name="hosted_button_id" value="XXYXZXY7GJQYJ">
      <strong>$50</strong> = <strong>1.5 days</strong> of lichess costs:
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </form>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <! -- any -->
      @payPalVars
      <input type="hidden" name="hosted_button_id" value="EDV5QHA9HYGJS">
      Or specify any other amount:
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </form>

    <h2>Even better: monthly donation</h2>

    <p>Because I pay for lichess servers every month, please consider a recurring donation!</p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <! -- recurring -->
      @payPalVars
      <input type="hidden" name="hosted_button_id" value="36KH4D465UB9G">
      <input type="hidden" name="on0" value="Monthly donation">Monthly donation
      <select name="os0">
        <option value="$5">3.5 hours: $5.00 USD - monthly</option>
        <option value="$10">7 hours: $10.00 USD - monthly</option>
        <option value="$20">14 hours: $20.00 USD - monthly</option>
        <option value="$50">1.5 days: $50.00 USD - monthly</option>
      </select>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribe_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    </form>

    <h2>Thank you to all lichess.org donors!</h2>

    <table class="slist donors">
      <tbody>
        @donations.map { donation =>
        <tr>
          <td>@showDate(donation.date)</td>
          <td>@userIdLink(donation.userId)</td>
          <td>@donation.nonEmptyMessage.map { message =>
            <em>“@message”</em>
            }</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
