@(prog: lila.donation.Progress)(implicit ctx: Context)

<div class="donation undertable">
  <div class="undertable_inner">
    <div class="links">
      <a href="@routes.Donation.index">
        <i data-icon=""></i>
        <strong>Donate</strong>
        <span>Directly support lichess</span>
      </a>
      <a href="@routes.Page.swag">
        <i data-icon=""></i>
        <strong>Swag Store</strong>
        <span>Play chess in style</span>
      </a>
    </div>
    <div class="progress">
      @progressbar(prog)
    </div>
    <div class="legend">
      <strong>Weekly progress</strong>
      @pluralize("day", prog.remainingDays) left
    </div>
  </div>
</div>
