@mixin default-mix {
  --c_primary_bg--mix-80: hsl(209, 58%, 47%);
  --c_primary_black--mix-70: hsl(209, 62%, 39%);
  --c_bg--fade-30: hsla(37, 7%, 14%, 0.7);
  --c_secondary_bg-popup--mix-27: hsl(82, 27%, 26%);
  --c_secondary_bg-popup--mix-36: hsl(84, 33%, 27%);
  --c_bg-zebra2--fade-1: hsla(37, 5%, 23%, 0.99);
  --c_primary_bg--mix-75: hsl(209, 57%, 45%);
  --c_font_bg--mix-20: hsl(36, 3%, 26%);
  --c_primary_bg--mix-70: hsl(209, 55%, 43%);
  --c_primary_bg--mix-30: hsl(208, 37%, 27%);
  --c_inaccuracy_bg--mix-30: hsl(201, 29%, 28%);
  --c_mistake_bg--mix-30: hsl(41, 61%, 23%);
  --c_blunder_bg--mix-30: hsl(3, 32%, 28%);
  --c_good-move_bg--mix-30: hsl(125, 26%, 29%);
  --c_brilliant_bg--mix-30: hsl(125, 39%, 24%);
  --c_interesting_bg--mix-30: hsl(313, 24%, 31%);
  --c_bad_bg--mix-10: hsl(8, 22%, 18%);
  --c_accent--fade-85: hsla(22, 100%, 42%, 0.15);
  --c_primary_bg--mix-10: hsl(206, 14%, 18%);
  --c_primary_bg--mix-20: hsl(208, 28%, 22%);
  --c_accent_bg--mix-70: hsl(22, 88%, 34%);
  --c_secondary_bg--mix-30: hsl(84, 35%, 21%);
  --c_primary--alpha-70: hsla(209, 79%, 56%, 0.7);
  --c_brag--alpha-70: hsla(37, 74%, 43%, 0.7);
  --c_accent--fade-80: hsla(22, 100%, 42%, 0.2);
  --c_secondary_bg--mix-50: hsl(87, 47%, 25%);
  --c_bad_bg--mix-50: hsl(1, 48%, 32%);
  --c_primary_bg--mix-25: hsl(208, 33%, 24%);
  --c_primary_bg-page--mix-20: hsl(207, 36%, 17%);
  --c_secondary_bg--mix-10: hsl(75, 18%, 16%);
  --c_brag--fade-50: hsla(37, 74%, 43%, 0.5);
  --c_brag_bg--mix-60: hsl(37, 62%, 31%);
  --c_brag_white--mix-80: hsl(37, 56%, 55%);
  --c_brag_bg--mix-15: hsl(37, 31%, 18%);
  --c_brag_bg--mix-40: hsl(37, 52%, 26%);
  --c_bg-page_bg--mix-50: hsl(40, 8%, 11%);
  --c_primary_bg--mix-15: hsl(207, 22%, 20%);
  --c_primary_bg-zebra2--mix-20: hsl(209, 20%, 30%);
  --c_bad_bg-zebra2--mix-60: hsl(1, 47%, 39%);
  --c_bad_bg-zebra2--mix-20: hsl(4, 24%, 29%);
  --c_font--fade-50: hsla(0, 0%, 73%, 0.5);
  --c_font--fade-70: hsla(0, 0%, 73%, 0.3);
  --c_bad_bg-zebra2--mix-30: hsl(3, 31%, 31%);
  --c_bg--fade-20: hsla(37, 7%, 14%, 0.8);
  --c_secondary_dark--mix-85: hsl(88, 62%, 31%);
  --c_secondary_dark--mix-50: hsl(88, 62%, 19%);
  --c_bad_dark--mix-80: hsl(0, 60%, 40%);
  --c_brag_dark--mix-85: hsl(37, 74%, 37%);
  --c_primary_dark--mix-80: hsl(209, 62%, 45%);
  --c_accent--fade-50: hsla(22, 100%, 42%, 0.5);
  --c_secondary--fade-50: hsla(88, 62%, 37%, 0.5);
  --c_secondary_bg--mix-75: hsl(88, 56%, 31%);
  --c_accent_bg-popup--mix-10: hsl(26, 23%, 24%);
  --c_accent--fade-40: hsla(22, 100%, 42%, 0.6);
  --c_primary_bg--mix-40: hsl(208, 43%, 31%);
  --c_primary_bg--mix-60: hsl(209, 52%, 39%);
  --c_primary_font--mix-50: hsl(209, 49%, 64%);
  --c_bad_bg--mix-20: hsl(4, 32%, 21%);
  --c_accent_bg--mix-10: hsl(25, 30%, 17%);
  --c_bad_bg--mix-15: hsl(6, 28%, 19%);
  --c_bad--alpha-50: hsla(0, 60%, 50%, 0.5);
  --c_secondary_bg--mix-12: hsl(77, 20%, 16%);
  --c_secondary_bg-zebra--mix-12: hsl(78, 16%, 20%);
  --c_brag_bg--mix-20: hsl(37, 36%, 20%);
  --c_brag_bg-page--mix-60: hsl(37, 67%, 29%);
  --c_secondary_bg--mix-20: hsl(82, 28%, 18%);
  --c_secondary_bg--mix-25: hsl(83, 32%, 19%);
  --c_accent_bg--mix-15: hsl(24, 39%, 18%);
  --c_brag_bg-page--mix-20: hsl(38, 47%, 15%);
  --c_inaccuracy_font--mix-70: hsl(202, 60%, 65%);
  --c_mistake_font--mix-70: hsl(41, 68%, 53%);
  --c_blunder_font--mix-70: hsl(0, 53%, 64%);
  --c_primary_bg--mix-12: hsl(207, 17%, 19%);
  --c_accent_bg--mix-20: hsl(23, 47%, 20%);
  --c_secondary_bg--mix-15: hsl(80, 23%, 17%);
  --c_clas_white--mix-20: hsl(255, 83%, 93%);
  --c_font_clas--mix-40: hsl(255, 55%, 68%);
  --c_clas_bg--mix-7: hsl(275, 9%, 17%);
  --c_clas_bg--mix-80: hsl(255, 51%, 54%);
  --c_clas_bg--mix-10: hsl(267, 13%, 19%);
  --c_clas_bg-zebra--mix-20: hsl(259, 21%, 27%);
  --c_clas_bg--mix-30: hsl(257, 29%, 29%);
  --c_primary--fade-80: hsla(209, 79%, 56%, 0.2);
  --c_primary--lighten-7: hsl(209, 79%, 63%);
  --c_secondary--lighten-4: hsl(88, 62%, 41%);
  --c_bad--lighten-11: hsl(0, 60%, 61%);
  --c_primary--fade-50: hsla(209, 79%, 56%, 0.5);
  --c_secondary--fade-80: hsla(88, 62%, 37%, 0.2);
  --c_secondary--fade-40: hsla(88, 62%, 37%, 0.6);
  --c_bad--fade-80: hsla(0, 60%, 50%, 0.2);
  --c_bad--fade-40: hsla(0, 60%, 50%, 0.6);
  --c_accent--fade-30: hsla(22, 100%, 42%, 0.7);
  --c_primary_bg--mix-18: hsl(208, 25%, 21%);
  --c_font_white--mix-20: hsl(0, 0%, 95%);
  --c_primary_black--mix-80: hsl(209, 62%, 45%);
  --c_primary_white--mix-60: hsl(209, 79%, 74%);
  --c_primary_white--mix-40: hsl(209, 79%, 82%);
  --c_primary_bg-zebra--mix-10: hsl(209, 13%, 22%);
  --c_secondary_bg--mix-40: hsl(86, 42%, 23%);
  --c_secondary--fade-30: hsla(88, 62%, 37%, 0.7);
  --c_accent_bg--mix-12: hsl(24, 34%, 17%);
  --c_bad_bg--mix-30: hsl(3, 39%, 25%);
  --c_primary_white--mix-80: hsl(209, 79%, 65%);
  --c_secondary_white--mix-80: hsl(88, 37%, 50%);
  --c_primary_font--mix-35: hsl(209, 37%, 67%);
  --c_secondary_bg--mix-80: hsl(88, 57%, 32%);
  --c_bad_bg--mix-80: hsl(0, 57%, 43%);
  --c_brag_bg--mix-80: hsl(37, 69%, 37%);
  --c_font--fade-95: hsla(0, 0%, 73%, 0.05);
  --c_bg--fade-50: hsla(37, 7%, 14%, 0.5);
  --c_font--fade-83: hsla(0, 0%, 73%, 0.17);
  --c_secondary_bg-zebra--mix-20: hsl(83, 23%, 22%);
  --c_bad_bg-zebra--mix-20: hsl(3, 27%, 24%);
  --c_primary_bg-page--mix-15: hsl(206, 30%, 15%);
  --c_primary_bg--mix-50: hsl(209, 48%, 35%);
  --c_primary_bg-page--mix-60: hsl(209, 56%, 37%);
  --c_secondary_bg-page--mix-50: hsl(87, 53%, 22%);
  --c_body-gradient_bg-page--mix-50: hsl(39, 11%, 12%);
  --c_secondary_bg--mix-70: hsl(87, 54%, 30%);
  --c_secondary--fade-60: hsla(88, 62%, 37%, 0.4);
  --c_accent_white--mix-80: hsl(22, 72%, 54%);
  --c_primary_bg--mix-35: hsl(208, 40%, 29%);
  --c_secondary_bg--mix-35: hsl(85, 39%, 22%);
  --c_bad_bg--mix-60: hsl(1, 52%, 36%);
  --c_brag_bg--mix-70: hsl(37, 66%, 34%);
  --c_primary--lighten-10: hsl(209, 79%, 66%);
  --c_accent--fade-70: hsla(22, 100%, 42%, 0.3);
  --c_bad_bg--mix-25: hsl(3, 36%, 23%);
  --c_yellow_bg--mix-30: hsl(59, 63%, 25%);
  --c_primary_bg--mix-17: hsl(208, 24%, 21%);
  --c_secondary_bg-popup--mix-10: hsl(70, 14%, 23%);
  --c_accent_black--mix-70: hsl(22, 100%, 29%);
  --c_primary_font--mix-90: hsl(209, 74%, 58%);
  --c_accent_bg--mix-60: hsl(22, 83%, 31%);
  --c_accent_bg-zebra--mix-10: hsl(23, 24%, 20%);
  --c_font_bg--mix-30: hsl(36, 2%, 32%);
  --c_bg--alpha-40: hsla(37, 7%, 14%, 0.4);
}

@mixin light-mix {
  --c_primary_bg--mix-80: hsl(209, 66%, 57%);
  --c_primary_black--mix-70: hsl(209, 77%, 32%);
  --c_bg--fade-30: hsla(0, 0%, 100%, 0.7);
  --c_secondary_bg-popup--mix-27: hsl(82, 27%, 26%);
  --c_secondary_bg-popup--mix-36: hsl(84, 33%, 27%);
  --c_bg-zebra2--fade-1: hsla(37, 12%, 92%, 0.99);
  --c_primary_bg--mix-75: hsl(209, 66%, 60%);
  --c_font_bg--mix-20: hsl(0, 0%, 86%);
  --c_primary_bg--mix-70: hsl(209, 66%, 62%);
  --c_primary_bg--mix-30: hsl(209, 66%, 84%);
  --c_inaccuracy_bg--mix-30: hsl(202, 52%, 82%);
  --c_mistake_bg--mix-30: hsl(41, 54%, 81%);
  --c_blunder_bg--mix-30: hsl(0, 68%, 85%);
  --c_good-move_bg--mix-30: hsl(130, 44%, 82%);
  --c_brilliant_bg--mix-30: hsl(129, 31%, 79%);
  --c_interesting_bg--mix-30: hsl(307, 80%, 88%);
  --c_bad_bg--mix-10: hsl(0, 60%, 95%);
  --c_accent--fade-85: hsla(22, 100%, 42%, 0.15);
  --c_primary_bg--mix-10: hsl(209, 66%, 95%);
  --c_primary_bg--mix-20: hsl(209, 66%, 89%);
  --c_accent_bg--mix-70: hsl(22, 72%, 59%);
  --c_secondary_bg--mix-30: hsl(88, 36%, 81%);
  --c_primary--alpha-70: hsla(209, 77%, 46%, 0.7);
  --c_brag--alpha-70: hsla(37, 74%, 48%, 0.7);
  --c_accent--fade-80: hsla(22, 100%, 42%, 0.2);
  --c_secondary_bg--mix-50: hsl(88, 36%, 69%);
  --c_bad_bg--mix-50: hsl(0, 60%, 75%);
  --c_primary_bg--mix-25: hsl(209, 66%, 87%);
  --c_primary_bg-page--mix-20: hsl(209, 38%, 83%);
  --c_secondary_bg--mix-10: hsl(88, 36%, 94%);
  --c_brag--fade-50: hsla(37, 74%, 48%, 0.5);
  --c_brag_bg--mix-60: hsl(37, 68%, 69%);
  --c_brag_white--mix-80: hsl(37, 68%, 58%);
  --c_brag_bg--mix-15: hsl(37, 68%, 92%);
  --c_brag_bg--mix-40: hsl(37, 68%, 79%);
  --c_bg-page_bg--mix-50: hsl(30, 10%, 96%);
  --c_primary_bg--mix-15: hsl(209, 66%, 92%);
  --c_primary_bg-zebra2--mix-20: hsl(208, 37%, 83%);
  --c_bad_bg-zebra2--mix-60: hsl(1, 55%, 67%);
  --c_bad_bg-zebra2--mix-20: hsl(4, 41%, 84%);
  --c_font--fade-50: hsla(0, 0%, 30%, 0.5);
  --c_font--fade-70: hsla(0, 0%, 30%, 0.3);
  --c_bad_bg-zebra2--mix-30: hsl(3, 47%, 79%);
  --c_bg--fade-20: hsla(0, 0%, 100%, 0.8);
  --c_secondary_dark--mix-85: hsl(88, 62%, 31%);
  --c_secondary_dark--mix-50: hsl(88, 62%, 19%);
  --c_bad_dark--mix-80: hsl(0, 60%, 40%);
  --c_brag_dark--mix-85: hsl(37, 74%, 41%);
  --c_primary_dark--mix-80: hsl(209, 77%, 37%);
  --c_accent--fade-50: hsla(22, 100%, 42%, 0.5);
  --c_secondary--fade-50: hsla(88, 62%, 37%, 0.5);
  --c_secondary_bg--mix-75: hsl(88, 36%, 53%);
  --c_accent_bg-popup--mix-10: hsl(26, 23%, 24%);
  --c_accent--fade-40: hsla(22, 100%, 42%, 0.6);
  --c_primary_bg--mix-40: hsl(209, 66%, 78%);
  --c_primary_bg--mix-60: hsl(209, 66%, 68%);
  --c_primary_font--mix-50: hsl(209, 47%, 38%);
  --c_bad_bg--mix-20: hsl(0, 60%, 90%);
  --c_accent_bg--mix-10: hsl(22, 72%, 94%);
  --c_bad_bg--mix-15: hsl(0, 60%, 93%);
  --c_bad--alpha-50: hsla(0, 60%, 50%, 0.5);
  --c_secondary_bg--mix-12: hsl(88, 36%, 92%);
  --c_secondary_bg-zebra--mix-12: hsl(83, 27%, 89%);
  --c_brag_bg--mix-20: hsl(37, 68%, 90%);
  --c_brag_bg-page--mix-60: hsl(37, 63%, 66%);
  --c_secondary_bg--mix-20: hsl(88, 36%, 87%);
  --c_secondary_bg--mix-25: hsl(88, 36%, 84%);
  --c_accent_bg--mix-15: hsl(22, 72%, 91%);
  --c_brag_bg-page--mix-20: hsl(37, 46%, 83%);
  --c_inaccuracy_font--mix-70: hsl(202, 59%, 37%);
  --c_mistake_font--mix-70: hsl(41, 73%, 34%);
  --c_blunder_font--mix-70: hsl(0, 54%, 44%);
  --c_primary_bg--mix-12: hsl(209, 66%, 94%);
  --c_accent_bg--mix-20: hsl(22, 72%, 88%);
  --c_secondary_bg--mix-15: hsl(88, 36%, 91%);
  --c_clas_white--mix-20: hsl(255, 83%, 93%);
  --c_font_clas--mix-40: hsl(255, 36%, 51%);
  --c_clas_bg--mix-7: hsl(255, 83%, 98%);
  --c_clas_bg--mix-80: hsl(255, 83%, 72%);
  --c_clas_bg--mix-10: hsl(255, 83%, 96%);
  --c_clas_bg-zebra--mix-20: hsl(257, 57%, 90%);
  --c_clas_bg--mix-30: hsl(255, 83%, 89%);
  --c_primary--fade-80: hsla(209, 77%, 46%, 0.2);
  --c_primary--lighten-7: hsl(209, 77%, 53%);
  --c_secondary--lighten-4: hsl(88, 62%, 41%);
  --c_bad--lighten-11: hsl(0, 60%, 61%);
  --c_primary--fade-50: hsla(209, 77%, 46%, 0.5);
  --c_secondary--fade-80: hsla(88, 62%, 37%, 0.2);
  --c_secondary--fade-40: hsla(88, 62%, 37%, 0.6);
  --c_bad--fade-80: hsla(0, 60%, 50%, 0.2);
  --c_bad--fade-40: hsla(0, 60%, 50%, 0.6);
  --c_accent--fade-30: hsla(22, 100%, 42%, 0.7);
  --c_primary_bg--mix-18: hsl(209, 66%, 90%);
  --c_font_white--mix-20: hsl(0, 0%, 86%);
  --c_primary_black--mix-80: hsl(209, 77%, 37%);
  --c_primary_white--mix-60: hsl(209, 66%, 68%);
  --c_primary_white--mix-40: hsl(209, 66%, 78%);
  --c_primary_bg-zebra--mix-10: hsl(209, 37%, 91%);
  --c_secondary_bg--mix-40: hsl(88, 36%, 75%);
  --c_secondary--fade-30: hsla(88, 62%, 37%, 0.7);
  --c_accent_bg--mix-12: hsl(22, 72%, 93%);
  --c_bad_bg--mix-30: hsl(0, 60%, 85%);
  --c_primary_white--mix-80: hsl(209, 66%, 57%);
  --c_secondary_white--mix-80: hsl(88, 37%, 50%);
  --c_primary_font--mix-35: hsl(209, 35%, 36%);
  --c_secondary_bg--mix-80: hsl(88, 37%, 50%);
  --c_bad_bg--mix-80: hsl(0, 60%, 60%);
  --c_brag_bg--mix-80: hsl(37, 68%, 58%);
  --c_font--fade-95: hsla(0, 0%, 30%, 0.05);
  --c_bg--fade-50: hsla(0, 0%, 100%, 0.5);
  --c_font--fade-83: hsla(0, 0%, 30%, 0.17);
  --c_secondary_bg-zebra--mix-20: hsl(85, 30%, 84%);
  --c_bad_bg-zebra--mix-20: hsl(1, 49%, 87%);
  --c_primary_bg-page--mix-15: hsl(209, 32%, 85%);
  --c_primary_bg--mix-50: hsl(209, 66%, 73%);
  --c_primary_bg-page--mix-60: hsl(209, 59%, 65%);
  --c_secondary_bg-page--mix-50: hsl(87, 33%, 64%);
  --c_body-gradient_bg-page--mix-50: hsl(34, 11%, 88%);
  --c_secondary_bg--mix-70: hsl(88, 36%, 56%);
  --c_secondary--fade-60: hsla(88, 62%, 37%, 0.4);
  --c_accent_white--mix-80: hsl(22, 72%, 54%);
  --c_primary_bg--mix-35: hsl(209, 66%, 81%);
  --c_secondary_bg--mix-35: hsl(88, 36%, 78%);
  --c_bad_bg--mix-60: hsl(0, 60%, 70%);
  --c_brag_bg--mix-70: hsl(37, 68%, 64%);
  --c_primary--lighten-10: hsl(209, 77%, 56%);
  --c_accent--fade-70: hsla(22, 100%, 42%, 0.3);
  --c_bad_bg--mix-25: hsl(0, 60%, 88%);
  --c_yellow_bg--mix-30: hsl(60, 100%, 85%);
  --c_primary_bg--mix-17: hsl(209, 66%, 91%);
  --c_secondary_bg-popup--mix-10: hsl(70, 14%, 23%);
  --c_accent_black--mix-70: hsl(22, 100%, 29%);
  --c_primary_font--mix-90: hsl(209, 72%, 44%);
  --c_accent_bg--mix-60: hsl(22, 72%, 65%);
  --c_accent_bg-zebra--mix-10: hsl(23, 51%, 91%);
  --c_font_bg--mix-30: hsl(0, 0%, 79%);
  --c_bg--alpha-40: hsla(0, 0%, 100%, 0.4);
}

@mixin transp-mix {
  --c_primary_bg--mix-80: hsla(209, 62%, 45%, 0.92);
  --c_primary_black--mix-70: hsl(209, 62%, 39%);
  --c_bg--fade-30: hsla(0, 0%, 0%, 0.42);
  --c_secondary_bg-popup--mix-27: hsla(88, 62%, 10%, 0.71);
  --c_secondary_bg-popup--mix-36: hsla(88, 62%, 13%, 0.74);
  --c_bg-zebra2--fade-1: hsla(37, 5%, 23%, 0.99);
  --c_primary_bg--mix-75: hsla(209, 62%, 42%, 0.9);
  --c_font_bg--mix-20: hsla(0, 0%, 16%, 0.68);
  --c_primary_bg--mix-70: hsla(209, 62%, 39%, 0.88);
  --c_primary_bg--mix-30: hsla(209, 62%, 17%, 0.72);
  --c_inaccuracy_bg--mix-30: hsla(202, 48%, 19%, 0.72);
  --c_mistake_bg--mix-30: hsla(41, 100%, 14%, 0.72);
  --c_blunder_bg--mix-30: hsla(0, 46%, 18%, 0.72);
  --c_good-move_bg--mix-30: hsla(130, 41%, 19%, 0.72);
  --c_brilliant_bg--mix-30: hsla(129, 71%, 13%, 0.72);
  --c_interesting_bg--mix-30: hsla(307, 34%, 21%, 0.72);
  --c_bad_bg--mix-10: hsla(0, 60%, 5%, 0.64);
  --c_accent--fade-85: hsla(22, 100%, 42%, 0.15);
  --c_primary_bg--mix-10: hsla(209, 62%, 6%, 0.64);
  --c_primary_bg--mix-20: hsla(209, 62%, 11%, 0.68);
  --c_accent_bg--mix-70: hsla(22, 100%, 29%, 0.88);
  --c_secondary_bg--mix-30: hsla(88, 62%, 11%, 0.72);
  --c_primary--alpha-70: hsla(209, 79%, 56%, 0.7);
  --c_brag--alpha-70: hsla(37, 74%, 43%, 0.7);
  --c_accent--fade-80: hsla(22, 100%, 42%, 0.2);
  --c_secondary_bg--mix-50: hsla(88, 62%, 19%, 0.8);
  --c_bad_bg--mix-50: hsla(0, 60%, 25%, 0.8);
  --c_primary_bg--mix-25: hsla(209, 62%, 14%, 0.7);
  --c_primary_bg-page--mix-20: hsl(207, 36%, 17%);
  --c_secondary_bg--mix-10: hsla(88, 62%, 4%, 0.64);
  --c_brag--fade-50: hsla(37, 74%, 43%, 0.5);
  --c_brag_bg--mix-60: hsla(37, 74%, 26%, 0.84);
  --c_brag_white--mix-80: hsl(37, 56%, 55%);
  --c_brag_bg--mix-15: hsla(37, 74%, 6%, 0.66);
  --c_brag_bg--mix-40: hsla(37, 74%, 17%, 0.76);
  --c_bg-page_bg--mix-50: hsla(45, 10%, 4%, 0.8);
  --c_primary_bg--mix-15: hsla(209, 62%, 8%, 0.66);
  --c_primary_bg-zebra2--mix-20: hsl(209, 20%, 30%);
  --c_bad_bg-zebra2--mix-60: hsl(1, 47%, 39%);
  --c_bad_bg-zebra2--mix-20: hsl(4, 24%, 29%);
  --c_font--fade-50: hsla(0, 0%, 80%, 0.5);
  --c_font--fade-70: hsla(0, 0%, 80%, 0.3);
  --c_bad_bg-zebra2--mix-30: hsl(3, 31%, 31%);
  --c_bg--fade-20: hsla(0, 0%, 0%, 0.48);
  --c_secondary_dark--mix-85: hsl(88, 62%, 31%);
  --c_secondary_dark--mix-50: hsl(88, 62%, 19%);
  --c_bad_dark--mix-80: hsl(0, 60%, 40%);
  --c_brag_dark--mix-85: hsl(37, 74%, 37%);
  --c_primary_dark--mix-80: hsl(209, 62%, 45%);
  --c_accent--fade-50: hsla(22, 100%, 42%, 0.5);
  --c_secondary--fade-50: hsla(88, 62%, 37%, 0.5);
  --c_secondary_bg--mix-75: hsla(88, 62%, 28%, 0.9);
  --c_accent_bg-popup--mix-10: hsla(22, 100%, 4%, 0.64);
  --c_accent--fade-40: hsla(22, 100%, 42%, 0.6);
  --c_primary_bg--mix-40: hsla(209, 62%, 22%, 0.76);
  --c_primary_bg--mix-60: hsla(209, 62%, 34%, 0.84);
  --c_primary_font--mix-50: hsl(209, 54%, 68%);
  --c_bad_bg--mix-20: hsla(0, 60%, 10%, 0.68);
  --c_accent_bg--mix-10: hsla(22, 100%, 4%, 0.64);
  --c_bad_bg--mix-15: hsla(0, 60%, 8%, 0.66);
  --c_bad--alpha-50: hsla(0, 60%, 50%, 0.5);
  --c_secondary_bg--mix-12: hsla(88, 62%, 4%, 0.65);
  --c_secondary_bg-zebra--mix-12: hsla(88, 36%, 92%, 0.16);
  --c_brag_bg--mix-20: hsla(37, 74%, 9%, 0.68);
  --c_brag_bg-page--mix-60: hsl(37, 67%, 29%);
  --c_secondary_bg--mix-20: hsla(88, 62%, 7%, 0.68);
  --c_secondary_bg--mix-25: hsla(88, 62%, 9%, 0.7);
  --c_accent_bg--mix-15: hsla(22, 100%, 6%, 0.66);
  --c_brag_bg-page--mix-20: hsl(38, 47%, 15%);
  --c_inaccuracy_font--mix-70: hsl(202, 64%, 68%);
  --c_mistake_font--mix-70: hsl(41, 71%, 56%);
  --c_blunder_font--mix-70: hsl(0, 57%, 66%);
  --c_primary_bg--mix-12: hsla(209, 62%, 7%, 0.65);
  --c_accent_bg--mix-20: hsla(22, 100%, 8%, 0.68);
  --c_secondary_bg--mix-15: hsla(88, 62%, 6%, 0.66);
  --c_clas_white--mix-20: hsl(255, 83%, 93%);
  --c_font_clas--mix-40: hsl(255, 60%, 71%);
  --c_clas_bg--mix-7: hsla(255, 45%, 5%, 0.63);
  --c_clas_bg--mix-80: hsla(255, 49%, 52%, 0.92);
  --c_clas_bg--mix-10: hsla(255, 45%, 6%, 0.64);
  --c_clas_bg-zebra--mix-20: hsla(255, 83%, 93%, 0.24);
  --c_clas_bg--mix-30: hsla(255, 45%, 19%, 0.72);
  --c_primary--fade-80: hsla(209, 79%, 56%, 0.2);
  --c_primary--lighten-7: hsl(209, 79%, 63%);
  --c_secondary--lighten-4: hsl(88, 62%, 41%);
  --c_bad--lighten-11: hsl(0, 60%, 61%);
  --c_primary--fade-50: hsla(209, 79%, 56%, 0.5);
  --c_secondary--fade-80: hsla(88, 62%, 37%, 0.2);
  --c_secondary--fade-40: hsla(88, 62%, 37%, 0.6);
  --c_bad--fade-80: hsla(0, 60%, 50%, 0.2);
  --c_bad--fade-40: hsla(0, 60%, 50%, 0.6);
  --c_accent--fade-30: hsla(22, 100%, 42%, 0.7);
  --c_primary_bg--mix-18: hsla(209, 62%, 10%, 0.67);
  --c_font_white--mix-20: hsl(0, 0%, 96%);
  --c_primary_black--mix-80: hsl(209, 62%, 45%);
  --c_primary_white--mix-60: hsl(209, 79%, 74%);
  --c_primary_white--mix-40: hsl(209, 79%, 82%);
  --c_primary_bg-zebra--mix-10: hsla(209, 79%, 96%, 0.15);
  --c_secondary_bg--mix-40: hsla(88, 62%, 15%, 0.76);
  --c_secondary--fade-30: hsla(88, 62%, 37%, 0.7);
  --c_accent_bg--mix-12: hsla(22, 100%, 5%, 0.65);
  --c_bad_bg--mix-30: hsla(0, 60%, 15%, 0.72);
  --c_primary_white--mix-80: hsl(209, 79%, 65%);
  --c_secondary_white--mix-80: hsl(88, 37%, 50%);
  --c_primary_font--mix-35: hsl(209, 43%, 72%);
  --c_secondary_bg--mix-80: hsla(88, 62%, 30%, 0.92);
  --c_bad_bg--mix-80: hsla(0, 60%, 40%, 0.92);
  --c_brag_bg--mix-80: hsla(37, 74%, 35%, 0.92);
  --c_font--fade-95: hsla(0, 0%, 80%, 0.05);
  --c_bg--fade-50: hsla(0, 0%, 0%, 0.3);
  --c_font--fade-83: hsla(0, 0%, 80%, 0.17);
  --c_secondary_bg-zebra--mix-20: hsla(88, 36%, 87%, 0.24);
  --c_bad_bg-zebra--mix-20: hsla(0, 60%, 90%, 0.24);
  --c_primary_bg-page--mix-15: hsl(206, 30%, 15%);
  --c_primary_bg--mix-50: hsla(209, 62%, 28%, 0.8);
  --c_primary_bg-page--mix-60: hsl(209, 56%, 37%);
  --c_secondary_bg-page--mix-50: hsl(87, 53%, 22%);
  --c_body-gradient_bg-page--mix-50: hsl(39, 11%, 12%);
  --c_secondary_bg--mix-70: hsla(88, 62%, 26%, 0.88);
  --c_secondary--fade-60: hsla(88, 62%, 37%, 0.4);
  --c_accent_white--mix-80: hsl(22, 72%, 54%);
  --c_primary_bg--mix-35: hsla(209, 62%, 20%, 0.74);
  --c_secondary_bg--mix-35: hsla(88, 62%, 13%, 0.74);
  --c_bad_bg--mix-60: hsla(0, 60%, 30%, 0.84);
  --c_brag_bg--mix-70: hsla(37, 74%, 30%, 0.88);
  --c_primary--lighten-10: hsl(209, 79%, 66%);
  --c_accent--fade-70: hsla(22, 100%, 42%, 0.3);
  --c_bad_bg--mix-25: hsla(0, 60%, 13%, 0.7);
  --c_yellow_bg--mix-30: hsla(60, 100%, 15%, 0.72);
  --c_primary_bg--mix-17: hsla(209, 62%, 10%, 0.67);
  --c_secondary_bg-popup--mix-10: hsla(88, 62%, 4%, 0.64);
  --c_accent_black--mix-70: hsl(22, 100%, 29%);
  --c_primary_font--mix-90: hsl(209, 75%, 58%);
  --c_accent_bg--mix-60: hsla(22, 100%, 25%, 0.84);
  --c_accent_bg-zebra--mix-10: hsla(22, 72%, 94%, 0.15);
  --c_font_bg--mix-30: hsla(0, 0%, 24%, 0.72);
  --c_bg--alpha-40: hsla(0, 0%, 0%, 0.4);
}
