@mixin dark-mix {
  --c_accent--fade-40: hsla(22, 100%, 42%, 0.6);
  --c_accent--fade-50: hsla(22, 100%, 42%, 0.5);
  --c_accent--fade-85: hsla(22, 100%, 42%, 0.15);
  --c_accent_bg--mix-70: hsl(22, 100%, 29%);
  --c_accent_white--mix-80: hsl(22, 72%, 54%);
  --c_bad--lighten-11: hsl(0, 0%, 11%);
  --c_bad_bg--mix-10: hsl(0, 0%, 0%);
  --c_bad_bg-zebra--mix-20: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-20: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-30: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-60: hsl(0, 0%, 0%);
  --c_bg-zebra2--fade-1: hsla(0, 0%, 0%, 0.99);
  --c_blunder_bg--mix-30: hsl(0, 46%, 18%);
  --c_body-gradient_bg-page--mix-50: hsl(0, 0%, 0%);
  --c_brilliant_bg--mix-30: hsl(129, 71%, 13%);
  --c_font--fade-50: hsla(0, 0%, 73%, 0.5);
  --c_font--fade-70: hsla(0, 0%, 73%, 0.3);
  --c_font_bg--mix-20: hsl(0, 0%, 15%);
  --c_font_bg--mix-50: hsl(0, 0%, 36%);
  --c_good-move_bg--mix-30: hsl(130, 41%, 19%);
  --c_inaccuracy_bg--mix-30: hsl(202, 48%, 19%);
  --c_interesting_bg--mix-30: hsl(307, 34%, 21%);
  --c_mistake_bg--mix-30: hsl(41, 100%, 14%);
  --c_primary--lighten-7: hsl(209, 79%, 63%);
  --c_primary_bg--mix-10: hsl(209, 62%, 6%);
  --c_primary_bg--mix-20: hsl(209, 62%, 11%);
  --c_primary_bg--mix-25: hsl(209, 62%, 14%);
  --c_primary_bg--mix-30: hsl(209, 62%, 17%);
  --c_primary_bg--mix-70: hsl(209, 62%, 39%);
  --c_primary_bg--mix-75: hsl(209, 62%, 42%);
  --c_primary_bg-page--mix-20: hsl(209, 62%, 11%);
  --c_primary_bg-zebra--mix-40: hsl(209, 62%, 22%);
  --c_primary_bg-zebra2--mix-20: hsl(209, 62%, 11%);
  --c_secondary--fade-50: hsla(88, 62%, 37%, 0.5);
  --c_secondary--lighten-4: hsl(88, 62%, 41%);
  --c_secondary_bg--mix-10: hsl(88, 62%, 4%);
  --c_secondary_bg--mix-75: hsl(88, 62%, 28%);
  --c_secondary_bg-popup--mix-10: hsl(88, 62%, 4%);
}

@mixin default-mix {
  --c_accent--fade-40: hsla(22, 100%, 42%, 0.6);
  --c_accent--fade-50: hsla(22, 100%, 42%, 0.5);
  --c_accent--fade-85: hsla(22, 100%, 42%, 0.15);
  --c_accent_bg--mix-70: hsl(22, 100%, 29%);
  --c_accent_white--mix-80: hsl(22, 72%, 54%);
  --c_bad--lighten-11: hsl(0, 0%, 11%);
  --c_bad_bg--mix-10: hsl(0, 0%, 0%);
  --c_bad_bg-zebra--mix-20: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-20: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-30: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-60: hsl(0, 0%, 0%);
  --c_bg-zebra2--fade-1: hsla(0, 0%, 0%, 0.99);
  --c_blunder_bg--mix-30: hsl(0, 68%, 15%);
  --c_body-gradient_bg-page--mix-50: hsl(0, 0%, 0%);
  --c_brilliant_bg--mix-30: hsl(129, 71%, 9%);
  --c_font--fade-50: hsla(0, 0%, 30%, 0.5);
  --c_font--fade-70: hsla(0, 0%, 30%, 0.3);
  --c_font_bg--mix-20: hsl(0, 0%, 6%);
  --c_font_bg--mix-50: hsl(0, 0%, 15%);
  --c_good-move_bg--mix-30: hsl(130, 67%, 12%);
  --c_inaccuracy_bg--mix-30: hsl(202, 78%, 12%);
  --c_interesting_bg--mix-30: hsl(307, 55%, 18%);
  --c_mistake_bg--mix-30: hsl(41, 100%, 11%);
  --c_primary--lighten-7: hsl(209, 77%, 53%);
  --c_primary_bg--mix-10: hsl(209, 77%, 5%);
  --c_primary_bg--mix-20: hsl(209, 77%, 9%);
  --c_primary_bg--mix-25: hsl(209, 77%, 12%);
  --c_primary_bg--mix-30: hsl(209, 77%, 14%);
  --c_primary_bg--mix-70: hsl(209, 77%, 32%);
  --c_primary_bg--mix-75: hsl(209, 77%, 35%);
  --c_primary_bg-page--mix-20: hsl(209, 77%, 9%);
  --c_primary_bg-zebra--mix-40: hsl(209, 77%, 18%);
  --c_primary_bg-zebra2--mix-20: hsl(209, 77%, 9%);
  --c_secondary--fade-50: hsla(88, 62%, 37%, 0.5);
  --c_secondary--lighten-4: hsl(88, 62%, 41%);
  --c_secondary_bg--mix-10: hsl(88, 62%, 4%);
  --c_secondary_bg--mix-75: hsl(88, 62%, 28%);
  --c_secondary_bg-popup--mix-10: hsl(88, 62%, 4%);
}

@mixin light-mix {
  --c_accent--fade-40: hsla(22, 100%, 42%, 0.6);
  --c_accent--fade-50: hsla(22, 100%, 42%, 0.5);
  --c_accent--fade-85: hsla(22, 100%, 42%, 0.15);
  --c_accent_bg--mix-70: hsl(22, 100%, 29%);
  --c_accent_white--mix-80: hsl(22, 72%, 54%);
  --c_bad--lighten-11: hsl(0, 0%, 11%);
  --c_bad_bg--mix-10: hsl(0, 0%, 0%);
  --c_bad_bg-zebra--mix-20: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-20: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-30: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-60: hsl(0, 0%, 0%);
  --c_bg-zebra2--fade-1: hsla(0, 0%, 0%, 0.99);
  --c_blunder_bg--mix-30: hsl(0, 68%, 15%);
  --c_body-gradient_bg-page--mix-50: hsl(0, 0%, 0%);
  --c_brilliant_bg--mix-30: hsl(129, 71%, 9%);
  --c_font--fade-50: hsla(0, 0%, 30%, 0.5);
  --c_font--fade-70: hsla(0, 0%, 30%, 0.3);
  --c_font_bg--mix-20: hsl(0, 0%, 6%);
  --c_font_bg--mix-50: hsl(0, 0%, 15%);
  --c_good-move_bg--mix-30: hsl(130, 67%, 12%);
  --c_inaccuracy_bg--mix-30: hsl(202, 78%, 12%);
  --c_interesting_bg--mix-30: hsl(307, 55%, 18%);
  --c_mistake_bg--mix-30: hsl(41, 100%, 11%);
  --c_primary--lighten-7: hsl(209, 77%, 53%);
  --c_primary_bg--mix-10: hsl(209, 77%, 5%);
  --c_primary_bg--mix-20: hsl(209, 77%, 9%);
  --c_primary_bg--mix-25: hsl(209, 77%, 12%);
  --c_primary_bg--mix-30: hsl(209, 77%, 14%);
  --c_primary_bg--mix-70: hsl(209, 77%, 32%);
  --c_primary_bg--mix-75: hsl(209, 77%, 35%);
  --c_primary_bg-page--mix-20: hsl(209, 77%, 9%);
  --c_primary_bg-zebra--mix-40: hsl(209, 77%, 18%);
  --c_primary_bg-zebra2--mix-20: hsl(209, 77%, 9%);
  --c_secondary--fade-50: hsla(88, 62%, 37%, 0.5);
  --c_secondary--lighten-4: hsl(88, 62%, 41%);
  --c_secondary_bg--mix-10: hsl(88, 62%, 4%);
  --c_secondary_bg--mix-75: hsl(88, 62%, 28%);
  --c_secondary_bg-popup--mix-10: hsl(88, 62%, 4%);
}

@mixin transp-mix {
  --c_accent--fade-40: hsla(22, 100%, 42%, 0.6);
  --c_accent--fade-50: hsla(22, 100%, 42%, 0.5);
  --c_accent--fade-85: hsla(22, 100%, 42%, 0.15);
  --c_accent_bg--mix-70: hsl(22, 100%, 29%);
  --c_accent_white--mix-80: hsl(22, 72%, 54%);
  --c_bad--lighten-11: hsl(0, 0%, 11%);
  --c_bad_bg--mix-10: hsl(0, 0%, 0%);
  --c_bad_bg-zebra--mix-20: hsla(0, 0%, 80%, 0.24);
  --c_bad_bg-zebra2--mix-20: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-30: hsl(0, 0%, 0%);
  --c_bad_bg-zebra2--mix-60: hsl(0, 0%, 0%);
  --c_bg-zebra2--fade-1: hsla(0, 0%, 0%, 0.99);
  --c_blunder_bg--mix-30: hsl(0, 68%, 15%);
  --c_body-gradient_bg-page--mix-50: hsl(0, 0%, 0%);
  --c_brilliant_bg--mix-30: hsl(129, 71%, 9%);
  --c_font--fade-50: hsla(0, 0%, 80%, 0.5);
  --c_font--fade-70: hsla(0, 0%, 80%, 0.3);
  --c_font_bg--mix-20: hsl(0, 0%, 16%);
  --c_font_bg--mix-50: hsl(0, 0%, 40%);
  --c_good-move_bg--mix-30: hsl(130, 67%, 12%);
  --c_inaccuracy_bg--mix-30: hsl(202, 78%, 12%);
  --c_interesting_bg--mix-30: hsl(307, 55%, 18%);
  --c_mistake_bg--mix-30: hsl(41, 100%, 11%);
  --c_primary--lighten-7: hsl(209, 77%, 53%);
  --c_primary_bg--mix-10: hsl(209, 77%, 5%);
  --c_primary_bg--mix-20: hsl(209, 77%, 9%);
  --c_primary_bg--mix-25: hsl(209, 77%, 12%);
  --c_primary_bg--mix-30: hsl(209, 77%, 14%);
  --c_primary_bg--mix-70: hsl(209, 77%, 32%);
  --c_primary_bg--mix-75: hsl(209, 77%, 35%);
  --c_primary_bg-page--mix-20: hsl(209, 77%, 9%);
  --c_primary_bg-zebra--mix-40: hsla(209, 66%, 78%, 0.43);
  --c_primary_bg-zebra2--mix-20: hsl(209, 77%, 9%);
  --c_secondary--fade-50: hsla(88, 62%, 37%, 0.5);
  --c_secondary--lighten-4: hsl(88, 62%, 41%);
  --c_secondary_bg--mix-10: hsl(88, 62%, 4%);
  --c_secondary_bg--mix-75: hsl(88, 62%, 28%);
  --c_secondary_bg-popup--mix-10: hsl(88, 62%, 4%);
}
