$c_accent--fade-40: var(--c_accent--fade-40);
$c_accent--fade-50: var(--c_accent--fade-50);
$c_accent--fade-85: var(--c_accent--fade-85);
$c_accent_bg--mix-70: var(--c_accent_bg--mix-70);
$c_accent_white--mix-80: var(--c_accent_white--mix-80);
$c_bad--lighten-11: var(--c_bad--lighten-11);
$c_bad_bg--mix-10: var(--c_bad_bg--mix-10);
$c_bad_bg-zebra--mix-20: var(--c_bad_bg-zebra--mix-20);
$c_bad_bg-zebra2--mix-20: var(--c_bad_bg-zebra2--mix-20);
$c_bad_bg-zebra2--mix-30: var(--c_bad_bg-zebra2--mix-30);
$c_bad_bg-zebra2--mix-60: var(--c_bad_bg-zebra2--mix-60);
$c_bg-zebra2--fade-1: var(--c_bg-zebra2--fade-1);
$c_blunder_bg--mix-30: var(--c_blunder_bg--mix-30);
$c_body-gradient_bg-page--mix-50: var(--c_body-gradient_bg-page--mix-50);
$c_brilliant_bg--mix-30: var(--c_brilliant_bg--mix-30);
$c_font--fade-50: var(--c_font--fade-50);
$c_font--fade-70: var(--c_font--fade-70);
$c_font_bg--mix-20: var(--c_font_bg--mix-20);
$c_font_bg--mix-50: var(--c_font_bg--mix-50);
$c_good-move_bg--mix-30: var(--c_good-move_bg--mix-30);
$c_inaccuracy_bg--mix-30: var(--c_inaccuracy_bg--mix-30);
$c_interesting_bg--mix-30: var(--c_interesting_bg--mix-30);
$c_mistake_bg--mix-30: var(--c_mistake_bg--mix-30);
$c_primary--lighten-7: var(--c_primary--lighten-7);
$c_primary_bg--mix-10: var(--c_primary_bg--mix-10);
$c_primary_bg--mix-20: var(--c_primary_bg--mix-20);
$c_primary_bg--mix-25: var(--c_primary_bg--mix-25);
$c_primary_bg--mix-30: var(--c_primary_bg--mix-30);
$c_primary_bg--mix-70: var(--c_primary_bg--mix-70);
$c_primary_bg--mix-75: var(--c_primary_bg--mix-75);
$c_primary_bg-page--mix-20: var(--c_primary_bg-page--mix-20);
$c_primary_bg-zebra--mix-40: var(--c_primary_bg-zebra--mix-40);
$c_primary_bg-zebra2--mix-20: var(--c_primary_bg-zebra2--mix-20);
$c_secondary--fade-50: var(--c_secondary--fade-50);
$c_secondary--lighten-4: var(--c_secondary--lighten-4);
$c_secondary_bg--mix-10: var(--c_secondary_bg--mix-10);
$c_secondary_bg--mix-75: var(--c_secondary_bg--mix-75);
$c_secondary_bg-popup--mix-10: var(--c_secondary_bg-popup--mix-10);
