$c-opcfg: $c-accent;

@mixin mq-details-large {
  @media (min-width: at-least($small)) {
    @content;
  }
}

.opening__config {
  @extend %box-neat;
  flex: 0 0 auto;
  &[open] {
    flex: 1 0 auto;
  }
  @include mq-col-one {
    display: none;
  }
  @include mq-details-large {
    flex: 1 0 auto;
  }
  background: $c-bg-zebra;
  &:hover {
    outline: 3px solid $m-accent_bg--mix-60;
    background: $m-accent_bg-zebra--mix-10;
  }
  &__summary {
    padding: 1em 2em;
    cursor: pointer;
    user-select: none;
    &__speed,
    &__rating {
      color: $c-accent;
    }
    &__large {
      display: none;
      .opening__config[open] & {
        display: inline-block;
      }
      @include mq-details-large {
        display: inline-block;
      }
    }
    &__short {
      display: inline-block;
      @include mq-details-large {
        display: none;
      }
      .opening__config[open] & {
        display: none;
      }
    }
  }
  &__form {
    padding: 0 2em 1em 2em;
    group {
      margin-top: 1em;
      label {
        height: auto;
      }
      input:checked + label {
        @extend %metal;
      }
    }
    &__submit {
      margin-top: 1em;
      display: flex;
      justify-content: stretch;
      button {
        color: $c-accent !important;
        flex: 0 0 100%;
      }
    }
  }
}
