.opening {
  &__nexts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: $block-gap;
  }

  &__next {
    @extend %flex-column, %box-neat;

    background: $c-bg-zebra;
    position: relative;
    outline: 3px solid color-mix(in srgb, $c-font 30%, $c-bg);
    cursor: pointer;
    color: $c-font;

    &:hover {
      outline: 3px solid color-mix(in srgb, $c-primary 60%, $c-bg);
      background: color-mix(in srgb, $c-primary 10%, $c-bg-zebra);
      box-shadow: 0 0 30px color-mix(in srgb, $c-primary 50%, $c-bg);

      piece {
        opacity: 0.8;
      }
    }

    &__title {
      @extend %flex-between-nowrap;
    }

    &__name {
      @extend %roboto, %nowrap-ellipsis;

      flex: 1 1 auto;
      font-size: 1.3em;
      margin: 0 0 0.2em 0.5em;
    }

    &__san {
      flex: 0 1 auto;
      font-size: 2em;
      margin: -1.2rem 0.5rem 0 0;
    }

    &__result-board {
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;
    }

    &__board {
      flex: 1 1 100%;

      .cg-wrap {
        @extend %square;
      }

      cg-board {
        box-shadow: none;
        background-color: rgb(from $c-bg r g b / 0.4);
        background-blend-mode: darken;

        @include if-light {
          background-blend-mode: soft-light;
        }
      }

      piece {
        opacity: 0.6;

        &.highlight {
          opacity: 1;
        }
      }
    }

    &__popularity {
      display: flex;
      flex-flow: row nowrap;

      span {
        @extend %box-radius-bottom-right;

        background: $c-primary;
        color: $c-over;
        padding-right: 0.5em;
        font-size: 0.8em;
        text-align: right;
      }
    }
  }
}
