@import 'result';
@import 'show';
@import 'config';
@import 'search';
@import 'panels';
@import 'next';
@import 'games';
@import 'wiki';
@import 'tree';

.opening {
  h1 {
    @extend %flex-center;
  }
  &__beta {
    @extend %box-radius;
    display: inline-block;
    color: $c-brag;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3em 1.5em;
  }
  &__error {
    @extend %box-neat;
    background: mix($c-error, $c-bg-box, 20%);
    border: 1px solid $c-error;
    padding: 1em 2em;
  }
  .box__top__actions a {
    margin-left: 2em;
  }
}
