@import 'result';
@import 'show';
@import 'config';
@import 'search';
@import 'panels';
@import 'next';
@import 'games';
@import 'wiki';
@import 'tree';

.opening {
  h1 {
    @extend %flex-center;
    gap: 1rem;
  }
  &__beta {
    @extend %box-radius;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 1em;
    color: $c-brag;
    font-size: 1rem;
    font-weight: bold;
  }
  &__error {
    @extend %box-neat;
    background: $m-bad_bg--mix-20;
    border: 1px solid $c-error;
    padding: 1em 2em;
  }
  .box__top__actions a {
    margin-left: 2em;
  }
}
