.opening {
  .title-stats {
    font-size: 1rem;
    em {
      margin-left: 1em;
      strong {
        color: $c-brag;
      }
    }
  }
  &__title {
    @extend %flex-center-nowrap;
    margin-bottom: 3rem;
  }
  &__name {
    line-height: 1em;
    &__section {
      font-size: 0.8em;
    }
    &__section--1 {
      font-size: 1em;
    }
  }
  &__intro {
    display: flex;
    flex-flow: row nowrap; // add media query
    align-items: flex-start;
    gap: $block-gap;
    margin-bottom: 3em;
    // overflow: hidden;
    .lpv {
      flex: 1 1 20vw;
      min-width: 200px;
      max-width: 300px;
    }
    &__side {
      flex: 1 1 auto;
      @extend %flex-column;
      gap: $block-gap;
    }
    &__actions {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      gap: 2em;
    }
    &__text {
      @extend %box-neat;
      background: $c-bg-zebra;
      padding: 1em 2em;
      flex: 1 1 auto;
    }
  }
  &__popularity {
    &__chart {
      height: 10vh;
      max-height: 150px;
    }
  }
}
