$c-op-panels: $c-brag;
.opening__panels {
  .tab-list {
    @extend %flex-center;
    gap: 1em;
    margin-bottom: 3em;
    &__tab {
      @extend %button-none, %box-radius;
      color: $c-op-panels;
      @include mq-col-many {
        font-size: 1.3em;
      }
      padding: 0.4em 1em;
      &:hover {
        background: $m-brag_bg--mix-20;
      }
      &[aria-selected='true'] {
        background: $c-op-panels;
        color: white;
      }
    }
  }
}
