.opening__next__result {
  @extend %flex-center-nowrap;
  span {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-clip: padding-box;
    border: 0 solid fade-out($c-font, 0.83);
    border-width: 1px 0;
    height: 27px;
    line-height: 25px;
  }

  .white {
    background: if($theme-light, #fff, #ccc);
    box-shadow: 0 -5px 7px rgba(0, 0, 0, if($theme-light, 0.1, 0.25)) inset;

    @if $theme-dark {
      color: #222;
    }
  }

  .draws,
  .black {
    color: if($theme-light, #fff, #ddd);
    box-shadow: 0 5px 7px rgba(255, 255, 255, if($theme-light, 0.2, 0.1)) inset;
  }

  .draws {
    background: if($theme-light, #a0a0a0, #666);
  }

  .black {
    background: if($theme-light, #555, #333);
    color: #ddd;
  }

  span:first-child {
    border-left-width: 1px;
  }

  span:last-child {
    border-right-width: 1px;
  }
}
