$result-width: 2rem;
.result-bar {
  @extend %flex-column;
  flex: 0 0 $result-width;
  font-size: 0.7em;
  span {
    text-align: center;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-clip: padding-box;
    border: 0 solid $m-font--fade-83;
    border-width: 1px 0;
    padding: 3px 0;
  }

  .white {
    background: #ccc;
    @include if-light {
      background: #fff;
    }
    @include if-not-light {
      color: #222;
    }
  }

  .draws {
    background: #666;
    @include if-light {
      background: #a0a0a0;
    }
  }

  .black {
    background: #333;
    @include if-light {
      background: #555;
    }
    color: #ddd;
  }
}
