.opening {
  &__search-config {
    @extend %flex-center;
    align-items: flex-start;
    gap: 1em;
    margin-bottom: 3em;
  }
  &__search {
    &-form {
      flex: 2 1 auto;
      display: flex;

      input {
        @extend %box-radius-left;

        flex: 1 1 100%;
        // height: $top-height;
        font-size: 1.1em;

        @media (min-width: at-least($xx-small)) {
          font-size: 1.2em;
        }
      }

      .button {
        @extend %box-radius-right;

        padding: 0 1.5em;
        border-inline-start: 0;
      }
    }
    &__results {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: $block-gap;
      margin-bottom: var(---box-padding);
    }
    &__result {
      @extend %flex-column, %box-neat;
      background: $c-bg-zebra;
      outline: 3px solid $m-font_bg--mix-30;
      cursor: pointer;
      color: $c-font;
      &:hover {
        outline: 3px solid $m-primary_bg--mix-60;
        background: $m-primary_bg-zebra--mix-10;
        box-shadow: 0 0 30px $m-primary_bg--mix-50;
      }
      &__title {
        @extend %roboto, %metal;
        flex: 1 1 100%;
        font-size: 1.3em;
        padding: 0.4em 0.7em 0.3em 1em;
        .opening-name {
          &__variation {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
