.opening {
  &__tree {
    user-select: none;
    details[open] {
      border-color: $c-primary;
    }
    > div,
    > details {
      font-size: 2em;
      margin-bottom: 0.7em;
    }
    > div {
      padding: 0.5em 0 0.5em 2em;
    }
    > details {
      @extend %box-neat;
      background: $c-bg-zebra;
      border: $border;
      &[open] {
        padding-bottom: 0.5em;
      }
      > summary {
        @extend %box-radius;
        padding: 1em 0 1em 1em;
        &:hover {
          background: $m-primary_bg--mix-20;
        }
      }
      > div,
      > details {
        margin: 0 0 0.4em 5rem;
        font-size: 0.7em;
      }
      > div {
        padding: 0.5em 0 0.5em 2em;
      }
      > details {
        @extend %box-radius;
        border: $border;
        background: $c-bg-zebra2;
        > summary {
          @extend %box-radius;
          padding: 0.5em 0 0.5em 1em;
          &:hover {
            background: $m-primary_bg--mix-20;
          }
        }
        > div,
        > details {
          margin: 0 0 0.4em 4rem;
          font-size: 0.8em;
        }
        > div {
          padding: 0.5em 0 0.5em 2em;
        }
        > details {
          > summary {
            padding: 0.5em 0 0.5em 1em;
            &:hover {
              background: $m-primary_bg--mix-20;
            }
          }
          div,
          details {
            margin: 0.5em 0 0.3em 4rem;
          }
        }
      }
    }
  }
}
