.opening__wiki {
  @extend %box-neat;
  background: $c-bg-zebra;
  flex: 2 1 auto;
  &__markup {
    max-height: 220px;
    @media (min-width: at-least($small)) {
      max-height: 300px;
    }
    overflow-y: auto;
    padding: 1em 2em;
    @include rendered-markdown(1em);
    ul {
      padding: 0;
    }
    h2:not(first-child) {
      line-height: 1.3em;
      padding-bottom: 0.4em;
    }
  }
  &__editor {
    padding: 0.5em 2em;
    &__summary {
      @extend %flex-between;
      cursor: pointer;
      color: $c-primary;
      .priority {
        @extend %box-neat;
        text-transform: uppercase;
        padding: 0.2em 0.8em;
        background: $c-bg-zebra2;
        color: $c-font-dim;
        &--0 {
          color: $c-brag;
        }
        &--1 {
          color: $c-good;
        }
        &--3,
        &--4 {
          color: $c-bad;
        }
      }
    }
    form {
      @extend %flex-column;
      margin-top: 1em;
      textarea {
        flex: 5 1 auto;
        height: 20em;
      }
    }
    &__revisions {
      max-height: 30vh;
      overflow: auto;
      summary {
        cursor: pointer;
        color: $c-primary;
        margin-top: 1em;
      }
    }
    &__revision {
      border-top: $border;
      margin-top: 1em;
      padding: 1em 0 0.5em 0;
      font-size: 0.8em;
      textarea {
        width: 90%;
        height: 10em;
        margin: 1em auto 0 auto;
      }
    }
  }

  &__missing {
    margin-top: 3em;
  }
}
