.opening__wiki {
  @extend %box-neat;
  background: $c-bg-zebra;
  padding: 1em 2em;
  flex: 1 1 auto;
  &__markup {
    @include rendered-markdown(1em);
    h2:not(first-child) {
      // margin-top: 0 !important;
      line-height: 1.3em;
      padding-bottom: 0.4em;
    }
    h3 {
      // margin: 0.6em 0 0 0;
    }
  }
  &__editor {
    &__summary {
      cursor: pointer;
      color: $c-primary;
    }
    form {
      @extend %flex-center;
      gap: 2em;
      textarea {
        flex: 5 1 auto;
        height: 20em;
      }
    }
  }
}
