.relay-back-to-live {
  @extend %flex-center;
  justify-content: center;
  padding: 0.5em 0;
  background: $c-accent;
  color: $c-over;
  cursor: pointer;

  flex: 0 0 auto;

  @include mq-is-col1 {
    display: none;
  }
}

.chat-liveboard {
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.mchat:has(.chat-liveboard) {
  box-shadow: none;
}
.mchat .liveboard {
  cg-board {
    border-top-right-radius: 0;
  }
}
