body {
  ---site-header-margin: #{$site-header-margin-extra};
  ---allow-video: false;

  @include mq-at-least-col3 {
    ---allow-video: true;
  }
}

@mixin resizable-side {
  .vertical-resize {
    display: flex;
  }
  .mchat {
    margin-top: 0;
    min-height: 52px;
  }
  .chat__members {
    margin: 2px;
  }
  .relay-admin {
    margin-top: 0;
  }
}

main.is-relay {
  .relay-tour {
    grid-area: relay-tour;
    &__side {
      grid-area: side;
    }
  }
  .analyse__round-training,
  .relay-admin__container {
    grid-area: relay-admin;
  }

  @include mq-at-least-col3 {
    button.streamer-show {
      display: block;
    }
    @media (pointer: fine) {
      .relay-admin__container {
        grid-area: none;
      }
      @include resizable-side;
    }
  }
}

/* tour overview */
main.is-relay.has-relay-tour {
  grid-template-rows: auto;
  grid-template-areas:
    'relay-tour'
    'side'
    'relay-admin';
  .relay-games {
    height: 40vh;
  }

  @include mq-at-least-col2 {
    grid-template-areas: 'relay-tour . side';
    @media (pointer: fine) {
      @include resizable-side;
    }
  }

  @include mq-at-least-col3 {
    grid-template-columns:
      $col3-uniboard-side $analyse-block-gap var(---col3-uniboard-width)
      $analyse-block-gap $col3-uniboard-table;
    grid-template-areas: 'side . relay-tour relay-tour relay-tour';
  }
}

/* game page */
main.analyse.is-relay:not(.has-relay-tour) {
  grid-template-rows: auto auto minmax(5em, 30vh) 1em minmax(5em, 30vh);
  grid-template-areas:
    'board'
    'controls'
    'tools'
    '.'
    'side'
    'relay-admin'
    'under';
  .mchat,
  .chat__members {
    display: none;
  }
  @include mq-at-least-col2 {
    grid-template-rows: repeat(2, calc(var(---cg-height) / 2)) 2.5em;
    grid-template-areas:
      'board        gauge side'
      'board        gauge tools'
      'board        .     controls'
      'under        under under'
      'relay-admin  .     .';
    .analyse__underboard {
      margin-top: unset;
      .is3d & {
        margin-top: calc($analyse-block-gap * 2);
      }
    }
    .eval-chart-and-training {
      flex-wrap: nowrap;
    }
  }
  @include mq-at-least-col3 {
    grid-template-rows: var(---cg-height) 2.5em;
    grid-template-areas:
      'side           . board gauge tools'
      'side           . board .     controls'
      'side           . under under under';
    .mchat,
    .chat__members {
      display: flex;
    }
    .mchat:has(.liveboard.mchat__tab-active) {
      max-height: 380px;
      min-height: 380px; // constrain height set by vertical-resize
    }
  }
  .eval-chart-and-training {
    @extend %flex-center;
    gap: $analyse-block-gap;
    .study__server-eval {
      flex: 1 1 100%;
    }
    .analyse__round-training {
      flex: 1 0 200px;
    }
  }
  &.relay-in-variation {
    .main-board cg-board {
      filter: saturate(0.7) brightness(0.9);
    }
  }
}

.vertical-spacer {
  height: $block-gap; // in lieu of resize divider when there is no games list
}
