%result-box {
  .result {
    @extend %box-radius;
    flex: 0 0 auto;
    padding: 0.1em 0.6em;
    background: $c-font-dimmer;
    text-shadow: none;
    color: $c-over;
    font-weight: bold;
  }
  good.result {
    background: $c-good;
  }
  bad.result {
    background: $c-bad;
  }
}
