$span-width: 1.7em;

.study__relay__rounds {
  @extend %study-list, %study-list-ongoing;

  max-height: 18em;

  .link {
    @extend %break-word;
    flex: 1 1 100%;
    color: $c-font;
    margin-left: 1em;
    align-self: center;
  }

  > div.active .link {
    color: $c-font-clear;
  }

  finished {
    @extend %flex-center;
    align-self: center;
    justify-content: center;
    font-size: 0.7em;
    color: $c-good;
    margin-right: 0.7rem;
  }

  .add {
    a {
      flex: 1 1 100%;
      padding: 0.5em 1em;
      color: $c-font;
    }
  }
}
