@import './result-box';
.relay-tour {
  &__team-table {
    &.loading {
      opacity: 0.7;
    }

    &.nodata {
      padding: 2em;
    }
  }
  &__team-match {
    border-top: $border;
    &__teams,
    &__game {
      @extend %flex-center-nowrap;
      > * {
        flex: 0 1 43%;
        &:nth-child(2) {
          flex: 1 0 14%;
        }
      }
    }
    &__teams {
      @extend %metal;
      border-bottom: $border;
      padding: 0.5em 1em;
      > * {
        text-align: center;
      }
    }
    &__team {
      a {
        color: $c-font;
        &:hover {
          color: $c-primary;
        }
      }
      padding: 0.5em 1em;
      &__points {
        @extend %flex-around;
        flex-flow: row nowrap;
        @extend %result-box;
        points {
          font-weight: bold;
        }
        vs {
          font-style: italic;
        }
      }
    }
    &__game {
      @extend %roboto;
      &:nth-child(even) {
        background: $c-bg-zebra;
      }
      color: $c-font;
      border: 1px solid transparent;
      &:hover {
        background: $m-primary_bg--mix-12;
        border-color: $m-primary_bg--mix-50;
        color: $c-font-clearer;
        .mini-game__flag {
          opacity: 1;
        }
      }
      &__status {
        padding: 0.4em 1em;
        text-align: center;
        border: $border;
        border-width: 0 1px;
        font-weight: bold;
        white-space: nowrap;
      }
      &__player {
        @extend %flex-between-nowrap;
        padding: 0.4em 2em;
        container-type: inline-size;
        .name {
          @extend %nowrap-ellipsis;
        }
      }
    }
  }
}

@container (width < 250px) {
  rating {
    display: none;
  }
}

.eval-gauge-horiz {
  $white: #c0c0c0;
  $black: #444;
  @include if-light {
    $white: #fff;
    $black: #606060;
  }
  @extend %box-neat-force;
  display: block;
  position: relative;
  height: 1em;

  &__black {
    display: none;
    position: absolute;
    height: 100%;
    width: 50%;
    background: $black;
    transition: height 1s;
  }

  opacity: 0.7;
  background: linear-gradient(to left, $white, $black);
  &--set {
    opacity: 1;
    background: $white !important;
    .eval-gauge-horiz__black {
      display: block;
    }
    tick {
      position: absolute;
      height: 100%;
      left: 2.5px;
      opacity: 1;
      border-right: 5px solid $m-accent--fade-50;
      width: 50%;
    }
  }
  &.pov-white {
    background: linear-gradient(to right, $white, $black);
    .eval-gauge-horiz__black {
      right: 0;
    }
  }
}
