$hover-bg: if($theme == 'dark', rgba(#6ae, 0.3), rgba($c-primary, 0.05));
.relay-tour {
  @extend %box-neat-force;
  background: $c-bg-box;
  &__side {
    @extend %flex-column;
    user-select: none;
    &__header {
      @extend %flex-center-nowrap, %box-radius-top;
      overflow: hidden;
      align-items: stretch;
      flex: 0 0 auto;
      button {
        @extend %flex-center-nowrap, %metal;
        border: none;
        outline: none;
        &:hover {
          background: $hover-bg;
        }
        &:hover::before {
          color: $c-font-clear;
          text-shadow: none;
        }
      }
    }
    &__name {
      flex: 1;
      padding: 1em;
      gap: 0.7em;
      font-weight: bold;
      &:hover {
        background: $hover-bg !important;
      }
      &::before {
        @extend %data-icon;
        content: $licon-LessThan;
        font-size: 1.5em;
        color: $c-font-dim;
      }
      main.has-relay-tour &::before {
        content: $licon-RadioTower;
      }
      main.has-relay-tour & {
        background: $c-bg-zebra;
      }
    }
    &__search {
      padding: 12px;
      font-size: 1.2em;
    }
    .chat__members {
      flex: 0 0 auto;
      height: unset;
      line-height: 1.3em;
      min-height: 1.3em;
    }
  }

  &__round {
    @extend %box-padding-horiz, %flex-between-nowrap;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: -1em 0;
    background: mix($c-primary, $c-bg-box, 10%);
    strong {
      @extend %roboto;
      font-size: 1.2em;
    }
    &.ongoing {
      background: mix($c-accent, $c-bg-box, 10%);
      color: $c-accent;
    }
  }

  &__header {
    display: flex;
    flex-flow: nowrap;
    background: $c-bg-zebra;
    padding: 0;

    &__image {
      display: none;
      @include breakpoint($mq-width-x-large) {
        display: block;
      }
      flex: 0 0 38%;
      line-height: 0;
      img {
        width: 100%;
        aspect-ratio: 2/1;
        @include broken-img(2 / 1);
      }
      text-align: center;
    }
    &__image-upload {
      margin: 3em auto;
      line-height: 2em;
    }

    h1 {
      @include fluid-size('font-size', 14px, 32px);
      color: $c-brag;
    }

    &__content {
      @extend %flex-column;
      justify-content: space-around;
      padding: 0 2em;
      min-height: 12vh;
      flex: 1;

      > span {
        @extend %flex-between-nowrap;
        gap: 1em;
        align-items: start;
      }
    }

    &__selectors {
      @extend %flex-center;
      gap: 1em;
    }
    &__mselect {
      flex: auto;
      @include fluid-size('font-size', 12px, 20px);
      .mselect__list a {
        gap: 1em;
      }
    }
    &__round-select {
      .mselect__list {
        display: table;
        left: unset;
        right: 0;
        overflow: hidden;
        tr {
          display: table-row;
          &.current-round {
            background: mix($c-primary, $c-bg-box, 15%);
            border: 1px solid mix($c-primary, $c-bg-box, 40%);
            border-width: 1px 0;
          }
          &:hover * {
            background: $c-primary;
            color: $c-primary-over;
          }
        }
        td {
          cursor: pointer;
        }
        .name {
          padding: 0.3em 1em;
        }
        .time,
        .status {
          font-size: 0.9rem;
          color: $c-font-dim;
        }
        .time {
          @extend %roboto;
          padding: 0.5em 1em;
        }
        .status {
          padding: 0.5em 1.5rem 0.5em 0;
          text-align: $end-direction;
        }
        ongoing {
          color: $c-red;
        }
        finished {
          color: $c-good;
        }
      }
    }

    .setting {
      @extend %flex-center-nowrap;
      margin-top: 0.5em;
      label {
        padding: 0 0.5em;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }

  &__nav {
    @extend %flex-center;
    justify-content: center;
    margin: 2em var(--box-padding);
    gap: 1em;
    user-select: none;
  }
  &__subscribe {
    @extend %flex-center-nowrap;
    gap: 1ch;
    label {
      cursor: pointer;
    }
  }

  &__tabs {
    @extend %flex-center-nowrap;
    align-self: center;
    gap: 1em;
    span {
      @extend %box-radius;
      cursor: pointer;
      padding: 0.8em 1.5em;
      border: $border;
      &:hover {
        @extend %metal;
      }
      &.active {
        @extend %metal, %box-shadow;
      }
    }
  }

  &__markup {
    @include rendered-markdown(2em, 50vh);
    margin: 3em var(--box-padding);
  }

  &__leaderboard {
    width: auto;
    margin: 0 auto 1rem;
    thead {
      background: none;
      th {
        border: none;
      }
    }
    thead {
      th {
        text-align: $end-direction;
        padding: 0 2rem 0.5rem 2rem;
      }
    }
    th {
      &:nth-child(1) {
        text-align: $start-direction;
        padding-right: 2rem;
      }
      a {
        @extend %flex-center-nowrap;
        .mini-game__flag {
          margin-#{$end-direction}: 1em;
          opacity: 0.7;
        }
        color: $c-font;
        &:hover {
          color: $c-primary;
        }
      }
    }
    td {
      text-align: $end-direction;
      padding: 1rem 2rem;
      &:last-child {
        font-weight: bold;
      }
    }
  }

  .study__multiboard {
    @include breakpoint($mq-xx-large) {
      margin: 0 calc(var(--box-padding) - 1em);
      .now-playing a {
        padding: 0.8em 1em;
      }
    }
  }
  .now-playing {
    grid-template-columns: repeat(1, 1fr);
    @include breakpoint($mq-small) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint($mq-large) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint($mq-xx-large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.relay-games {
  @extend %flex-column, %box-radius-bottom, %box-shadow;
  background: $c-bg-box;
  flex: 1 1 auto;
  overflow-y: auto;
  font-size: 0.9em;
  position: relative;
}
.relay-game {
  @extend %flex-center-nowrap;
  align-items: stretch;
  gap: 0.5em;
  padding: 0.5em 0.7em 0.5em 0.2em;
  border-bottom: $border;
  border-left: 3px solid transparent;
  &:hover {
    background: mix($c-primary, $c-bg-box, 12%);
    color: $c-font-clearer;
    .mini-game__flag {
      opacity: 1;
    }
    border-left-color: $c-primary;
  }
  &--current {
    background: mix($c-primary, $c-bg-box, 20%);
    border-left-color: $c-primary;
  }
  &__players {
    @extend %flex-column;
    flex: 1;
    overflow: hidden;
  }
  &__number {
    font-size: 0.9em;
    font-weight: bold;
    align-self: center;
    width: 2ch;
    text-align: center;
    color: $c-font-dimmer;
    .relay-game--current &,
    .relay-game:hover & {
      color: $c-primary;
    }
  }
  &__player {
    @extend %flex-between-nowrap;
    color: $c-font;
    good,
    bad {
      font-weight: bold;
    }
    .mini-game__user .name {
      @extend %nowrap-ellipsis;
    }
  }
  .mini-game__gauge {
    @extend %box-radius;
    tick {
      top: 1.5px;
      border-bottom-width: 3px;
    }
  }
}

.relay-tour__side {
  button.streamer-show {
    display: none;
    position: relative;
    padding: 12px;
    font-size: 1.5em;
    color: c-dimmer($c-font, 10%);

    &.disabled {
      display: none !important;
    }

    &.streaming {
      color: $c-good;
      pointer-events: none;
    }

    &.active {
      color: #eee;
      background: $c-primary;
      text-shadow: none;

      &:hover,
      &:hover::before {
        background: c-clearer($c-primary, 10%);
        color: white;
      }
    }

    &::after {
      transform: translate(-80%, 80%);
      background-color: $c-brag;
    }
  }

  .streamer-menu-anchor {
    position: relative;
    height: 0;
  }

  .streamer-menu {
    @extend %flex-column, %dropdown-shadow, %box-radius-bottom;
    position: absolute;
    max-height: 12em;
    overflow-y: auto;
    background: $c-bg-high;
    z-index: z(mz-menu);
    width: 100%;
    padding: 0.5em 0;
    border-top: $c-primary 2px solid;
    border-bottom: $border;
  }

  .streamer {
    width: 100%;
    padding: 0.3em 1em;
    font-size: 1.1em;
    border: none;
    outline: none;
    background: none;
    text-align: start;

    &::before {
      font-size: 1.4em;
    }

    &:hover {
      color: $c-brag;
    }

    &:focus {
      background: $c-primary;
    }
  }
}
