#video-player {
  z-index: $z-video-player-100;
  display: none;
  position: absolute;
  border: 0;
}

#video-player-placeholder {
  aspect-ratio: 16/9;
  width: 100%;
}

img.video-player-close {
  z-index: $z-video-player-controls-101;
  position: absolute;
  height: 20px;
  width: 20px;
  cursor: pointer;
  &:hover {
    filter: brightness(10);
  }
}
