.study__message {
  @extend %box-neat;

  background: $c-bg-box;
  padding: 1em;
  text-align: center;

  p {
    margin-top: 1em;
  }
  .button {
    display: inline-block;
    margin: 0.5em auto;
  }

  .spinner {
    margin: 50px auto;
  }
}
