.study__server-eval {
  @extend %box-neat;

  background: $c-bg-box;
  text-align: center;

  &.padded {
    padding: 4em;
  }

  &.ready {
    height: 15em;
  }
}

.advice-summary table:first-child {
  margin-bottom: 1em;
}
