.study__share {
  @extend %box-neat;

  background: $c-bg-box;
  padding: 1.5em 1.2em;

  input[type='text'] {
    font-family: monospace;
    width: 100%;
    font-size: 0.9em;
  }

  .ply-wrap {
    color: $c-font-dim;
    text-align: left;
    font-size: 0.9em;
  }

  .ply {
    cursor: pointer;

    input {
      margin-inline-end: 0.3em;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  .downloads {
    @extend %flex-center;

    justify-content: center;
    margin-bottom: 1.5em;

    .button {
      margin: 0 2px 0.5em 2px;
    }
  }
}

.study__share .url-start-at-ply {
  @extend %flex-center;
  gap: 0.8ch;
  margin-top: 0.3rem;
  .cmn-toggle-wrap {
    transform: scale(0.8);
  }
}
