.study__share {
  @extend %box-neat;
  background: $c-bg-box;
  padding: 1.5em 1.2em;
  input[type='text'] {
    font-family: monospace;
    width: 100%;
    font-size: 0.9em;
  }
  .ply-wrap {
    color: $c-font-dim;
    text-align: left;
    font-size: 0.9em;
  }
  .ply {
    cursor: pointer;
    input {
      margin-right: 0.3em;
      vertical-align: middle;
    }
  }
  .downloads {
    @extend %flex-around;
    gap: 1rem;
    margin-bottom: 2em;
    .button {
      padding: 1em 0em;
      width: calc(50% - 1rem);
    }
  }
}
