.lobby__about {
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
  font-size: .85em;
  font-weight: bold;
  a {
    @extend %page-text;
    margin-right: 1.2em;
    white-space: nowrap;
    @include transition(color);
    &:hover{
      color: $c-link;
    }
  }
}
.lobby__connect {
  display: block;
  flex: 0 0 100%;
  padding: .7em 0;
  span {
    white-space: nowrap;
    display: none;
  }
  a {
    margin: 0 .5em 0 0;
  }
  @media(hover: hover) {
    span,
    &:hover a {
      display: inline;
    }
    a,
    &:hover span {
      display: none;
    }
  }
}
