.lobby__blog {
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: 0 2%;
  grid-template-rows: auto; /* first row auto */
  grid-auto-rows: 0; /* all the other rows 0 */
  font-size: 0.9em;
  overflow: hidden;
  h2 {
    @extend %page-text-shadow !optional;
    @include line-clamp(4);
    font-size: 1.3em;
  }
  .ublog-post-card {
    background: $c-bg-box;
    &:hover {
      box-shadow: none;
    }
    .user-link {
      border-radius: $box-radius-size 0 0 0;
    }
  }
}
