.carousel {
  visibility: hidden;
  overflow-x: hidden;
  width: 100%;
  height: auto;
  gap: $block-gap;
  position: relative;

  .track {
    display: flex;
    flex-flow: row nowrap;
    width: fit-content;
    align-items: stretch;
  }

  .controls {
    @extend %flex-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0;
    @include transition(opacity);
    pointer-events: none;

    button {
      padding: 0;
      font-size: 3em;
      pointer-events: auto;
      height: 100%;
      &:hover {
        color: $c-primary;
      }
    }
  }

  &:hover {
    .controls {
      opacity: 1;
    }
  }
}
