.lobby__forum {
  td.topic-cell {
    width: 35%;
  }
  td.post-cell {
    white-space: nowrap;
  }
  div.forum-content {
    height: 288px;
    overflow-y: auto;
  }
  .extract {
    @extend %roboto;
  }
}
