@import 'layout';
@import 'app/app';
@import 'puzzle';
@import 'table';
@import 'stream';
@import 'spotlight';
@import 'timeline';
@import 'box';
@import 'support';

#main-wrap {
  --main-max-width: 1400px;
}

.lobby__side {
  @extend %flex-column;
  overflow: hidden;
}
.lobby__about {
  justify-self: center;
}
