@import "layout";
@import "app/app";
@import "table";
@import "stream";
@import "spotlight";
@import "timeline";
@import "box";
@import "forum";
@import "blog";
@import "support";
@import "about";

body {
  /* improves preload */
  overflow-y: scroll;
}

#main-wrap {
  --main-max-width: 1400px;
}

%lobby__side__more {
  @extend %roboto;

  font-size: .9em;
  margin: .5em 1em .5em 0;
  display: block;
  text-align: right;
  color: $c-font-dim;

  &:hover {
    color: $c-link;
  }
}

.lobby__side {
  @extend %flex-column;

  overflow: hidden;
}

.lobby__nope {
  @include lobby-app-size;

  text-align: center;

  .lobby__app__content {
    @extend %flex-column;

    height: 100%;
    align-items: center;
    padding-top: 2em;
  }

  ul {
    margin: .6em auto;
    display: inline-block;
    text-align: left;
  }

  li {
    list-style: disc outside;
    font-size: 1.1em;
  }
}

.game-setup {
  display: none;
}

.about-side {
  @extend %page-text-shadow !optional;

  margin-top: $block-gap;
}

@include breakpoint($mq-not-col3) {
  .about-side, .lobby__streams, .lobby__about {
    margin-left: $block-gap;
  }
}


.lobby__tv .mini-game {
  overflow: visible;
}

.lobby__puzzle .text {
  @extend %page-text-shadow !optional;

  color: $c-font-dim;
  display: block;
  text-align: right;
  margin-right: 1ch;
}

.now-playing {
  .meta {
    @extend %flex-column;

    align-items: center;
  }
}
