@import 'layout';
@import 'app/app';
@import 'puzzle';
@import 'table';
@import 'stream';
@import 'spotlight';
@import 'timeline';
@import 'box';
@import 'support';

#main-wrap {
  --main-max-width: 1400px;
}

.lobby__side {
  @extend %flex-column;
  overflow: hidden;
}
.lobby__about {
  display: flex;
  align-content: start;
  flex-flow: row wrap;
  font-size: .85em;
  margin: $block-gap 0 0 $block-gap;
  a {
    color: $c-font-dim;
    font-weight: bold;
    margin-right: 1.2em;
    white-space: nowrap;
  }
}
