$c-setup: $c-secondary;
$c-slider: $c-setup;

.game-setup {
  display: block;
  #modal-wrap {
    width: 30em;
    padding: 0;
  }
  text-align: center;
  h2 {
    margin: 1.5rem 0;
  }
  form > div {
    padding: 0.5em 1em;
  }
  form {
    margin-bottom: 1em;
  }
  group.radio {
    margin: auto;
    width: 70%;
    .disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
    input:checked + label {
      background: $c-setup;
    }
  }
  .mode_choice,
  .sfen_position {
    group.radio div {
      flex-basis: 50%;
    }
  }
  .mode_choice {
    margin: 0.5em 0;
  }
  .optional_config,
  .ratings {
    background: $c-bg-zebra;
    border-top: $border;
    border-bottom: $border;
  }
  .sfen_position {
    border-bottom: none;
  }
  .ai_info {
    padding-top: 3px;
  }
  .advanced_toggle {
    display: none;
    &.show-inline-block {
      display: inline-block !important;
    }
    border: solid $c-setup;
    border-width: 0 8px 8px 0;
    border-radius: 3px;
    padding: 5px;
    transform: rotate(45deg);
    margin-top: 1rem;
    cursor: pointer;
    &.active {
      margin-top: 1.5rem;
      transform: rotate(-135deg);
    }
  }
  .advanced_setup #config_periods {
    margin-top: 6px;
  }
  .label_select {
    @extend %flex-center;
    text-align: left;
    &.variant {
      margin-bottom: 0.5em;
    }
    label {
      flex: 0 0 33%;
      text-align: right;
    }
    select {
      margin-left: 0.8em;
      font-weight: bold;
    }
  }
  .sfen_position {
    .handicap.label_select {
      @extend %flex-center-nowrap;
      margin-top: 1rem;
      label {
        text-align: left;
        flex: unset;
      }
      select {
        flex-grow: 1;
      }
    }
    .sfen_form {
      margin-top: 0.5em;
      @extend %flex-center-nowrap;
      input {
        flex-grow: 1;
        margin-left: 0.8em;
        &.success {
          border-color: $c-good;
        }
        &.failure {
          background: mix($c-bg-box, $c-bad, 80%);
          box-shadow: 0 0 13px $c-bad;
        }
      }
    }
    .board_editor {
      display: block;
      width: 55%;
      min-height: 200px;
      margin: 0.5em auto;
      .spinner {
        padding-top: 55px;
      }
    }
  }
  .ui-slider {
    margin: 0.5em 1em;
  }
  .slider {
    padding-top: 5px;
    text-align: left;
    span {
      font-weight: bold;
    }
  }
  .ratings {
    @extend %box-radius-bottom;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    border-bottom: none;
  }
  .ratings div {
    display: none;
  }
  .color-submits {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    text-align: center;
    position: relative;
    margin-top: 0.5em;
    &__button {
      margin: 0 0.5em;
      width: 64px;
      height: 64px;
      padding: 7px;
      @if $theme == 'transp' {
        background: $c-bg-input;
        &:hover {
          background: darken($c-bg-input, 3) !important;
        }
      }
      i {
        display: block;
        padding: 0;
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
      }
      &.sente i {
        background-image: img-url('../images/blackPiece.svg');
      }
      &.gote i {
        background-image: img-url('../images/whitePiece.svg');
      }
      &.random {
        width: 85px;
        height: 85px;
        padding: 10px;
        i {
          background-image: img-url('bwPiece.svg');
          background-size: 65px 65px;
          width: 65px;
          height: 65px;
        }
      }
      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
  .spinner {
    height: 85px;
    width: 85px;
    padding: 1rem 1.4rem;
  }
  .submit-error-message {
    position: absolute;
    top: 25%;
    font-size: 1.5rem;
    z-index: 2;
  }
}
