@import '../../lib/css/setup/colorChoice';

$c-setup: $c-secondary;
$c-slider: $c-setup;

.game-setup {
  width: 30em;
  max-width: 96vw;
  padding: 0;
  text-align: center;

  h2 {
    margin: 1.5rem 0;
  }

  .setup-content {
    @extend %flex-column;
    border-block: $border;
    padding: 1.5rem 1rem;
    gap: 1.2rem;
    background: $c-bg-zebra;
  }

  .disabled {
    opacity: 0.4;
    cursor: default !important;
  }

  group.radio {
    width: 70%;
    align-self: center;

    input:checked + label {
      background: $c-setup;
    }
  }

  > div {
    @extend %flex-column;
  }

  .config-group {
    @extend %flex-column;
    gap: 0.5rem;
  }

  .fen__form {
    @extend %flex-center-nowrap;
  }

  .fen__board {
    display: block;
    width: 50%;
    margin-inline: auto;
  }
  #fen-input {
    flex: 1 1 100%;
  }

  .failure {
    background: $m-bad_bg--mix-20;
    box-shadow: 0 0 13px 6px $m-bad_bg--mix-20;
    border-radius: 0.5rem;
  }

  group.radio.color-picker {
    width: auto;
    margin: 0;
    justify-content: center;
  }

  .footer {
    @extend %flex-center;
    position: relative;
    justify-content: center;
    padding: 1.5rem;
  }

  .lobby__start__button {
    height: 3rem;
    padding-inline: 1rem 1.2rem;
    gap: 0.8rem;
    color: $c-font;
    border: $border;
    &::before {
      color: $c-setup !important;
    }
  }

  .footer .spinner {
    position: absolute;
    width: 56px;
    height: 56px;
  }

  .radio-pane {
    @extend %flex-center-nowrap;
    justify-content: center;
    gap: 0.8rem;
  }

  .range {
    span {
      font-weight: bold;
    }

    input {
      font-size: 1.5rem;
      margin-top: 0.2rem;
      padding: 0;
      width: 90%;
    }
  }

  .rating-range {
    @extend %flex-center-nowrap;
    justify-content: center;
    font-size: 1.25rem;

    .rating-min,
    .rating-max {
      font-weight: bold;
      flex: 0 0 5.5ch;
    }
    input {
      font-size: 1.5rem;
      padding: 0;
      width: 30%;
    }
  }

  .time-choice,
  .days-choice {
    margin-top: 0.5rem;
  }

  .ratings {
    width: 100%;
    text-align: center;
    strong {
      margin-inline-end: 0.25rem;
    }
  }

  .label-select {
    @extend %flex-center;

    &.variant {
      padding-bottom: 0;
    }

    label {
      flex: 0 0 33%;
      text-align: end;
    }

    select {
      margin-inline-start: 0.8rem;
      font-weight: bold;
    }
  }

  @media (max-height: at-most(900px)) {
    h2 {
      margin-block: 1.1rem;
    }
    .footer {
      padding: 1.1rem;
    }
    .setup-content {
      padding: 1.25rem 0.75rem;
    }
    .fen__board {
      width: 40%;
    }
    &:has(.increment-choice) .fen__board {
      width: 30%;
    }
  }
}

@media (pointer: coarse) {
  .game-setup select {
    font-size: 1.2rem;
  }
  .game-setup .lobby__start__button {
    border: 2px solid $c-setup;
  }
}
