$c-setup: $c-secondary;
$c-slider: $c-setup;

.game-setup {
  width: 30em;
  max-width: 96vw;
  padding: 0;
  text-align: center;

  h2 {
    margin: 1.5rem 0;
  }

  .setup-content {
    @extend %flex-column;
    border-block: $border;
    padding: 1.5rem 1rem;
    gap: 1.2rem;
    background: $c-bg-zebra;
  }

  group.radio {
    width: 70%;
    align-self: center;
    .disabled {
      opacity: 0.4;
      cursor: default;
    }

    input:checked + label {
      background: $c-setup;
    }
  }

  .config-group {
    @extend %flex-column;
    gap: 0.5rem;
  }

  .config-group.disabled {
    opacity: 0.5;
  }

  .fen__form {
    @extend %flex-center-nowrap;
  }

  .fen__board {
    display: block;
    width: 50%;
    margin-inline: auto;
  }
  #fen-input {
    flex: 1 1 100%;
  }

  .failure {
    background: $m-bad_bg--mix-20;
    box-shadow: 0 0 13px 6px $m-bad_bg--mix-20;
    border-radius: 0.5em;
  }

  group.radio.color-picker {
    width: 240px;
    margin: 0;
    justify-content: center;
  }

  .footer {
    @extend %flex-center;
    justify-content: center;
    padding: 1.1rem;

    button {
      height: 3em;
      padding-inline: 1em 1.2em;
      gap: 0.75em;
    }
  }

  .radio-pane {
    @extend %flex-center-nowrap;
    justify-content: center;
    gap: 0.8em;
  }

  .create-game-button {
    font-size: 1.25em;
    text-transform: none;
  }

  .color-submits {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    margin: 1em auto;
    text-align: center;

    &__button {
      width: 80px;
      height: 80px;
      padding: 7px;

      i {
        width: 64px;
        height: 64px;
        background-size: 64px 64px;
      }

      &.white i {
        background-image: url(../piece/cburnett/wK.svg);
      }

      &.black i {
        background-image: url(../piece/cburnett/bK.svg);
      }

      &.random i {
        background-image: url(../images/wbK.svg);
      }
    }

    .spinner {
      position: absolute;
      width: 64px;
      height: 64px;
      right: calc(50% - 32px);
      bottom: 6px;
    }
  }

  .range {
    span {
      font-weight: bold;
    }

    input {
      font-size: 1.5em;
      margin-top: 0.2em;
      padding: 0;
      width: 90%;
    }
  }

  .rating-range {
    @extend %flex-center-nowrap;
    justify-content: center;
    .rating-min,
    .rating-max {
      flex: 0 0 7ch;
    }
    input {
      width: 30%;
      padding: 0.6em 0;
    }
  }

  .ratings {
    width: 100%;
    text-align: center;
    strong {
      margin-inline-end: 0.25em;
    }
  }

  .label-select {
    @extend %flex-center;

    &.variant {
      padding-bottom: 0;
    }

    label {
      flex: 0 0 33%;
      text-align: end;
    }

    select {
      margin-inline-start: 0.8em;
      font-weight: bold;
    }
  }

  @media (max-height: at-most(900px)) {
    h2 {
      margin-block: 1.1rem;
    }
    .setup-content {
      padding: 1.25rem 0.75rem;
    }
    &:has(.correspondence) .fen__board {
      width: 40%;
    }
    &:has(.increment-choice) .fen__board {
      width: 30%;
    }
  }
}

@media (pointer: coarse) {
  .game-setup select {
    font-size: 1.2em;
  }
}
