.lobby__spotlights {
  @extend %box-neat-force;

  flex: 0 0 auto;
}

.tour-spotlight {
  @extend %flex-center-nowrap, %page-text-shadow, %nowrap-hidden, %metal;
  @include transition;

  flex: 0 0 auto;
  padding: 0.5em;
  opacity: 0.8;
  color: $c-font;

  @include if-light {
    background-image: linear-gradient(
      to bottom,
      color-mix(in oklab, $c-primary 20%, $c-bg),
      rgb(197 216 234)
    );
  }

  &.invert,
  &.event-spotlight,
  &:hover {
    text-shadow: none;

    @include if-light {
      background-image: linear-gradient(
        to bottom,
        color-mix(in oklab, $c-primary 25%, $c-bg),
        color-mix(in oklab, $c-primary 20%, $c-bg-page)
      );
    }
  }

  &:hover {
    opacity: 1;
  }

  &:focus-visible {
    outline-offset: -2px;
  }

  .img {
    flex: 0 0 auto;
    width: 44px;
    aspect-ratio: 1;
    margin: 0 0.7em 0 0.4em;
    align-self: center;
  }

  .name {
    margin-top: 1px;
    line-height: 13px;
    display: block;
  }

  .headline {
    display: block;
    font-size: 0.85em;
    margin-bottom: -3px;
  }

  .more {
    font-size: 0.85em;

    time {
      margin-inline-start: 3px;
    }
  }

  &.little {
    .img {
      width: 36px;
    }
  }

  .tour-team-icon {
    margin-left: 1ch;
  }
}
