@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';
@use 'local';

.lobby__streams {
  .stream {
    @extend %roboto, %nowrap-ellipsis, %page-text;

    color: theme.$c-font-page;
    display: block;
    margin-bottom: 0.5em;
    line-height: 0.9;

    strong {
      @extend %base-font;
    }

    &.highlight strong {
      color: theme.$c-brag;
    }

    strong::before {
      font-size: 1.5em;
      margin-right: 0.1rem;
    }
  }

  .more {
    @extend %lobby-side-more;
  }
}
