.lobby__support-link {
  @extend %flex-center-nowrap, %box-neat;

  display: none;
  margin-bottom: $block-gap;
  background: $c-bg-box;
  font-size: 1.3em;
  padding: 0.5em;

  @include transition(background);

  &:hover {
    background: $c-accent-glass;

    .lobby__support-link__text,
    icon::before {
      color: $c-brag-hover;
    }
  }

  icon {
    flex: 0 0 auto;
    margin: 0 0.5em;

    &::before {
      margin-inline-end: 0.15em;
      color: $c-brag;
      font-size: 2.6em;

      @include transition(color);
    }
  }

  &__text {
    flex: 1 1 auto;
    color: $c-brag;

    @include transition(color);

    strong {
      font-weight: normal;
      display: block;
    }

    span {
      @extend %nowrap-ellipsis;

      display: block;
      font-size: 0.8em;
    }
  }
}

.lobby__support a {
  display: flex;
  padding: 0.2em 0.5em;
  margin: 0;
}
