.lobby {
  &__table {
    @extend %flex-column;
    @include prevent-select;

    position: relative;
  }

  &__start {
    @extend %flex-column;
    flex: 1 1 auto;
    justify-content: stretch;
    gap: 9px; // grid gap in app/_pool.scss

    &__button {
      display: flex;
      align-items: center;
      font-size: 1.2em;
      gap: 1em;
      padding-inline: 2em 3em;
      height: 3.2em;
      text-transform: none;
      &.disabled {
        opacity: 0.2;
      }
      &::before {
        @extend %data-icon;
        font-size: 32px;
        color: $c-font-dimmer;
      }
      &--hook.button::before {
        content: $licon-Group;
      }
      &--friend.button::before {
        content: $licon-User;
      }
      &--ai.button::before {
        content: $licon-Cpu;
      }
      &--friend-user.button::before {
        content: $licon-Swords;
      }
      @media (hover: hover) {
        &:hover.disabled {
          cursor: default;
        }
        &:hover:not(.disabled) {
          color: $c-font-clear !important;
          &::before {
            color: $c-accent;
          }
        }
      }
    }
  }

  &__counters {
    @extend %flex-between-nowrap, %page-text;
    margin-top: 1rem;
    display: none;

    a {
      @extend %nowrap-ellipsis;
      color: $c-font-page;

      @include transition(color);

      &:hover {
        color: $c-link;
      }
    }
  }

  .lobby__tournaments-simuls {
    .lobby__box__top {
      border-bottom: $border;
    }

    .timeago {
      @media (max-width: at-most($x-small)) {
        display: none;
      }
    }
  }
}
