.lobby__timeline {
  @extend %page-text;
  @include hoverflow;

  padding: 1em;

  .entry {
    @extend %roboto;

    a {
      @extend %base-font;
      color: $c-font;
    }

    &:hover a {
      color: $c-link;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(to start, $c-border 20%, $c-bg-page);
      margin: 0.7em 0;
      @include if-rtl {
        background: linear-gradient(to end, $c-border 20%, $c-bg-page);
      }
    }

    .line:not(.patron) {
      display: none;
    }
  }
}
