@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'local';

.timeline {
  @extend %page-text;

  flex: 1 1 auto;
  margin: 1em 0 0 variables.$block-gap;

  @include mixins.hoverflow;

  .entry {
    @extend %roboto;

    a {
      @extend %base-font, %page-font;

      &:hover {
        color: theme.$c-link;
      }
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: linear-gradient(to left, theme.$c-border 20%, theme.$c-bg-page);
      margin: 0.7em 0;
    }
  }

  .more {
    @extend %lobby-side-more;
  }
}
