@(leaderboard: List[User])(implicit ctx: Context)

<div class="lichess_ground">
  <div class="lichess_table lichess_table_not_started" id="start_buttons">
    @lobbyMenu.all.map { b =>
    <a class="lichess_button button config_@b.code" href="@b.route" onclick="return false" title="@b.title()">@b.name()</a>
    }
  </div>
  <div class="leaderboard undertable">
    <div class="user_top">
      <div class="undertable_top">
        <a class="more" title="@trans.people()" href="@routes.User.list()">@trans.more() »</a>
        <span class="title">Today's Leaders</span>
      </div>
      <div class="undertable_inner">
        <table>
          <tbody>
            @leaderboard.map { u =>
            <tr>
              <td>@userLink(u, withRating = false, cssClass="revert-underline".some)</td>
              <td>@u.rating</td>
              <td>@showProgress(u.progress)</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
