@(current: lidraughts.app.mashup.Preload.CurrentGame)(implicit ctx: Context)

<div id="lobby_current_game">
  <h2>Hang on!</h2>
  <p>You have a game in progress with <strong>@current.opponent</strong>.</p>
  <br />
  <br />
  <a class="big text button" data-icon="G" href="@routes.Round.player(current.pov.fullId)">Join the game</a>
  <br />
  <br />
  or
  <br />
  <br />
  <form action="@routes.Round.resign(current.pov.fullId)" method="post">
    <button class="big text button" data-icon="L">
      @if(current.pov.game.abortable) { Abort } else { Resign} the game
    </button>
  </form>
  <br />
  <p>You can't start a new game until this one is finished.</p>
  <br />
  <br />
  <p>
    If you want to play several games simultaneously,<br />
    <a href="@routes.Simul.home">create a simultaneous exhibition event</a>!
  </p>
</div>
