@(preload: String, myHook: Option[lila.lobby.Hook], forumRecent: List[lila.forum.PostLiteView], tours: List[lila.tournament.Created], featured: Option[DbGame])(implicit ctx: Context)

@chat = {
@for(m <- ctx.me; if m.canChat) {
<div class="lichess_chat anon_chat lobby_chat">
  <div class="lichess_chat_top">
    <span class="title">@trans.chatRoom()</span>
    <input
    data-href="@routes.Setting.set("chat")"
    data-enabled="@setting.chat.fold("true", "false")"
    title="@trans.toggleTheChat()"
    class="toggle_chat"
    type="checkbox" />
  </div>
  <div class="lichess_chat_inner">
    <ol class="lichess_messages">
      <li><a href="@routes.Lobby.log()">View older messages</a></li>
    </ol>
    <form action="#">
      <input class="lichess_say lichess_hint" value="@trans.talkInChat()" />
      <a class="send"></a>
    </form>
  </div>
</div>
}
}

@underchat = {
<div id="featured_game">
  @featured.map { g =>
  @game.featuredJs(g)
  }
</div>
}

@baseline = {
<span id="site_baseline">@trans.freeOnlineChess()</span>
}

@base.layout(
title = "",
baseline = baseline.some,
active = siteMenu.play.some,
chat = chat.some,
underchat = underchat.some) {
<div id="call_boxes">
  @translationCall.map(i18n.callBox(_))
</div>
<div class="clearfix lichess_homepage">
  <div class="lichess_board_wrap lichess_player_white">
    @board.white()
    @widget.connection()
    <div class="hooks_wrap">
      @if(ctx.isAuth) {
      <a class="filter" href="@routes.Setup.filterForm()"><span class="s16">@trans.filterGames()</span></a>
      <div class="filter"></div>
      }
      <div class="hooks"
        data-my-hook="@myHook.map(_.ownerId)"
        data-cancel-url="@routes.Lobby.cancel("000000000000")"
        data-join-url="@routes.Lobby.join("00000000")"
        >
        <table></table>
      </div>
    </div>
  </div>
  @lobby.buttons()
  <div class="open_tournaments undertable">
    <div class="undertable_top">
      <a class="more" title="See all tournaments" href="@routes.Tournament.home()">More »</a>
      <span class="title">Open tournaments</span>
    </div>
    <div class="undertable_inner">
      <table class="tournaments">
        @tournament.createdTable(tours)
      </table>
    </div>
  </div>
  <div class="lichess_bot undertable">
    <div class="undertable_top">
      <a class="more" title="@trans.seeTheGamesBeingPlayedInRealTime()" href="@routes.Game.realtime()">@trans.games() »</a>
      <span class="title">@trans.gamesBeingPlayedRightNow()</span>
    </div>
    <div class="undertable_inner">
      <table class="lichess_messages"></table>
    </div>
  </div>
  <div class="new_posts undertable" data-url="@routes.ForumPost.recent">
    <div class="undertable_top">
      <a class="more" title="@trans.talkAboutChessAndDiscussLichessFeaturesInTheForum()" href="@routes.ForumCateg.index">@trans.forum() »</a>
      <span class="title">@trans.forum()</span>
    </div>
    <div class="undertable_inner">
      <ol>@forum.post.recent(forumRecent)</ol>
    </div>
  </div>
</div>
@embedJs("var lichess_preload = " + preload) 
}
