@(preload: String, userTimeline: List[lila.timeline.Entry], gameTimeline: List[lila.timeline.GameEntry], forumRecent: List[lila.forum.PostLiteView], tours: List[lila.tournament.Created], featured: Option[Game])(implicit ctx: Context)

@underchat = {
<div id="featured_game">
  @featured.map { g =>
  @game.featuredJs(g)
  }
</div>
}

@baseline = {
<span id="site_baseline">@trans.freeOnlineChess()</span>
}

@goodies = {
<div id="timeline" data-href="@routes.Lobby.timeline">
  @timeline.entries(userTimeline)
  @if(userTimeline.size == 8) {
  <a class="more" href="@routes.Lobby.timelineMore">@trans.more()</a>
  }
</div>
}

@base.layout(
title = "",
baseline = baseline.some,
active = siteMenu.play.some,
goodies = goodies.some,
underchat = underchat.some) {
<div id="call_boxes">
  @translationCall.map(i18n.callBox(_))
</div>
<div class="clearfix lichess_homepage">
  <div class="lichess_board_wrap lichess_player_white">
    @board.white()
    <div class="hooks_wrap">
      <a class="filter" href="@routes.Setup.filterForm()">
        <span class="s16 ddown">@trans.filterGames()</span>
        <span class="number">(0)</span>
      </a>
      <div class="filter"></div>
      <div class="hooks">
        <table class="some"></table>
        <table class="empty">
          <tr class="create_game">
            <td colspan="5">@trans.noGameAvailableRightNowCreateOne()</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  @lobby.buttons()
  @lobby.undertable(gameTimeline, forumRecent, tours)
</div>
@embedJs("var lichess_preload = " + preload)
}
