@(preload: String, userTimeline: List[lila.timeline.Entry], forumRecent: List[lila.forum.PostLiteView], tours: List[lila.tournament.Created], featured: Option[Game], leaderboard: List[User], progress: List[User], puzzle: Option[lila.puzzle.DailyPuzzle], playing: List[Pov], streams: List[lila.tv.StreamOnAir])(implicit ctx: Context)

@underchat = {
<div id="featured_game" title="@trans.watchLichessTV()">
  @featured.map { g =>
  @gameFen(g, g.firstPlayer.color, tv = true)
  @game.vstext(g)
  }
</div>
<a style="display: block; text-align: center; margin-top: 10px;" class="get_tv" href="@routes.Main.developers()#embed-tv">
  Get Lichess TV in your website
</a>
}

@baseline = {
<span id="site_baseline">@trans.freeOnlineChess()</span>
}

@moreJs = {
@embedJs("var lichess_preload = " + preload)
}

@goodies = {
@ctx.me.map { u =>
@if(playing.nonEmpty) {
<div id="now_playing">
  @playing.map { p =>
  <a class="is button" href="@routes.Round.player(p.fullId)">
    @playerUsername(p.opponent)<br />@trans.yourTurn()
  </a>
  }
</div>
}
@streams.map { s =>
<a class="stream" href="@s.url"><span data-icon="1">&nbsp;LIVE!</span> @s.name</a>
}
<div id="timeline" data-href="@routes.Lobby.timeline">
  @timeline.entries(userTimeline)
  <div class="links clearfix">
    @if(userTimeline.size == 8) {
    <a class="more" href="@routes.Lobby.timelineMore">@trans.more() »</a>
    }
    <a class="irc" href="@routes.Main.irc">@trans.chat()</a>
  </div>
</div>
}
}

@base.layout(
title = "",
fullTitle = Some("lichess.org • " + trans.freeOnlineChess.str()),
baseline = baseline.some,
active = siteMenu.play.some,
goodies = goodies.some,
moreJs = moreJs,
underchat = underchat.some,
themepicker = true) {
<div id="call_boxes">
  @translationCall.map(i18n.callBox(_))
</div>
<div class="clearfix lichess_homepage">
  <div class="lichess_board_wrap">
    <div id="hooks_wrap">
      <div class="tabs">
        <a data-tab="list" class="list">@trans.list()</a>
        <a data-tab="graph" class="graph">@trans.graph()</a>
      </div>
      <a class="filter" href="@routes.Setup.filterForm()">
        <span data-icon="D"> @trans.filterGames()</span>
        <span class="number">(0)</span>
      </a>
      <div id="hooks_chart" class="tab graph none"><div class="canvas"></div></div>
      <table id="hooks_table" class="tab list none">
        <thead>
          <tr>
            <th class="reload"><span data-icon="P"></span></th>
            <th data-sort="string" class="player"><span class="is">&nbsp;@trans.player()</span></th>
            <th data-sort="int" class="rating"><span class="is">&nbsp;Rating</span></th>
            <th data-sort="int"><span class="is">&nbsp;@trans.time()</span></th>
            <th data-sort="string"><span class="is">&nbsp;@trans.mode()</span></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div id="hook_overlay"></div>
      <div id="hook_filter"></div>
    </div>
  </div>
  <div class="lichess_ground">
    <div class="lichess_table onbg lichess_table_not_started" id="start_buttons">
      @lobbyMenu.all.map { b =>
      <a class="lichess_button button config_@b.code" href="@b.route" onclick="return false" title="@b.title()">@b.name()</a>
      }
    </div>
    @puzzle.map { p =>
    <div id="daily_puzzle" title="@trans.clickToSolve()">
      @p.html
      <div class="vstext">
        @trans.puzzleOfTheDay()<br />
        @p.color.fold(trans.whitePlays, trans.blackPlays)()
      </div>
    </div>
    }
  </div>
  @lobby.undertable(forumRecent, tours, leaderboard, progress)
</div>
}
