@(messages: List[lila.lobby.Message])(implicit ctx: Context)

@title = @{ "Chat logs" }

@lobby.layout(title = title) {

<style type="text/css">
  table td {
  padding: 5px 10px 5px 10px;
  }
  table tr:nth-child(odd) {
  background: #f7f7f7;
  }
</style>
<div class="content_box">
  <h1>@title</h1>
  <br /><br />
  <table><tbody>
      @messages.map { message =>
      <tr>
        <td>@showDate(message.createdAt)</td>
        <td>@userIdLink(message.username.some)</td>
        <td>@Html(message.text)</td>
      </tr>
      }
  </tbody></table>
</div>
}
