@(seconds: Int)(implicit ctx: Context)
<div id="lobby_playban">
  <h2>Sorry :(</h2>
  <p>We had to time you out for a @if(seconds < 3600){little }while.</h2>
  <br />
  <p>The timeout expires <strong>@secondsFromNow(seconds)</strong>.</p>
  <h2>Why?</h2>
  <p>
    We aim to provide a pleasant draughts experience for everyone.<br />
    To that effect, we must ensure that all players follow good practices.<br />
    When a potential problem is detected, we display this message.
  </p>
  <h2>How to avoid this?</h2>
  <ul>
    <li>Play every game you start</li>
    <li>Try to win (or at least draw) every game you play</li>
    <li>Resign lost games (don't let the clock run down)</li>
  </ul>
  <br />
  <br />
  <p>
    We apologize for the temporary inconvenience,<br />
    and wish you great games on lidraughts.org.<br />
    Thank you for reading!
  </p>
</div>
