@(seconds: Int)(implicit ctx: Context)
<div id="lobby_playban">
  <h2>Sorry :(</h2>
  <p>We had to time you out for a @if(seconds < 3600){little }while.</h2>
  <br />
  <p>The timeout expires <strong>@secondsFromNow(seconds)</strong>.</p>
  <h2>How to avoid timeouts</h2>
  <p>Either you have <strong>aborted too many games</strong>,<br />
    or you have <strong>not played</strong> the games you started,<br />
    or you <strong>quit games without resigning</strong>.
  </p>
  <br />
  <p>Once you start a game, you <strong>must</strong> play it!</p>
  <br />
  <p>To avoid starting unwanted games,<br />
    make use of the filters available when creating a game.</p>
  <p>To avoid playing a particular player,<br />
    block them using the block button on their profile page.</p>
  <h2>What now?</h2>
  <p>Just wait until you can create/join games again!</p>
  <p>Maybe <a href="@routes.Tournament.home()">join a tournament</a>,<br />
    or play some <a href="@routes.Puzzle.home">training puzzles</a>,<br />
    or watch <a href="@routes.Video.index">chess videos</a>!
  </p>
</div>
