@(gameTimeline: List[lila.timeline.GameEntry], forumRecent: List[lila.forum.PostLiteView], tours: List[lila.tournament.Created])(implicit ctx: Context)

<div class="open_tournaments undertable">
  <div class="undertable_top">
    <a class="more" title="See all tournaments" href="@routes.Tournament.home()">More »</a>
    <span class="title">Open tournaments</span>
  </div>
  <div class="undertable_inner">
    <table class="tournaments">
      @tournament.createdTable(tours)
    </table>
  </div>
</div>
<div class="lichess_bot undertable">
  <div class="undertable_top">
    <a class="more" title="@trans.seeTheGamesBeingPlayedInRealTime()" href="@routes.Game.realtime()">@trans.games() »</a>
    <span class="title">@trans.gamesBeingPlayedRightNow()</span>
  </div>
  <div class="undertable_inner">
    <div class="content">
      <table>@timeline.gameEntries(gameTimeline)</table>
    </div>
  </div>
</div>
<div class="new_posts undertable" data-url="@routes.ForumPost.recent">
  <div class="undertable_top">
    <a class="more" title="@trans.talkAboutChessAndDiscussLichessFeaturesInTheForum()" href="@routes.ForumCateg.index">@trans.forum() »</a>
    <span class="title">@trans.forum()</span>
  </div>
  <div class="undertable_inner">
    <div class="content">
      <ol>@forum.post.recent(forumRecent)</ol>
    </div>
  </div>
</div>
