@(forumRecent: List[lila.forum.PostLiteView], tours: List[lila.tournament.Created], leaderboard: List[User], progress: List[User])(implicit ctx: Context)

<div class="open_tournaments undertable">
  <div class="undertable_top">
    <a class="more" title="See all tournaments" href="@routes.Tournament.home()">@trans.more() »</a>
    <span class="title" data-icon="g"> @trans.openTournaments()</span>
  </div>
  <div class="undertable_inner">
    <table class="tournaments">
      @tournament.createdTable(tours)
    </table>
  </div>
</div>
<div class="clearfix">
  <div class="leaderboard undertable half">
    <div class="user_top">
      <div class="undertable_top">
        <a class="more" title="@trans.players()" href="@routes.User.list()">@trans.more() »</a>
        <span class="title" data-icon="C"> @trans.todaysLeaders()</span>
      </div>
      <div class="undertable_inner">
        <table>
          <tbody>
            @leaderboard.map { u =>
            <tr>
              <td>@userLink(u, withRating = false, cssClass="revert-underline".some)</td>
              <td>@u.rating</td>
              <td>@showProgress(u.progress)</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="leaderboard undertable half">
    <div class="user_top">
      <div class="undertable_top">
        <a class="more" title="@trans.players()" href="@routes.User.list()">@trans.more() »</a>
        <span class="title" data-icon="Q"> @trans.progressToday()</span>
      </div>
      <div class="undertable_inner">
        <table>
          <tbody>
            @progress.map { u =>
            <tr>
              <td>@userLink(u, withRating = false, cssClass="revert-underline".some)</td>
              <td>@u.rating</td>
              <td>@showProgress(u.progress)</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="new_posts undertable nomargin" data-url="@routes.ForumPost.recent">
  <div class="undertable_top">
    <span class="title" data-icon="d"> @trans.forum()</span>
  </div>
  <div class="undertable_inner">
    <div class="content">
      <ol>@forum.post.recent(forumRecent)</ol>
    </div>
  </div>
</div>
