@(c: lila.chat.UserChat.Mine, name: String, withNote: Boolean = false, writeable: Boolean = true)(implicit ctx: Context)
@embedJs {
lichess.makeChat('chat', {
lines: @Html(J.stringify(lila.chat.JsonView(c.chat))),
i18n: @jsI18n(withNote = withNote),
id: "@c.chat.id",
name: "@name",
userId: @Html(ctx.userId.fold("null")(id => s""""$id"""")),
writeable: @writeable,
noteId: @if(withNote) {"@c.chat.id.take(8)"} else {null},
kobold: @ctx.troll,
mod: @isGranted(_.MarkTroll),
timeout: @c.timeout,
timeoutReasons: @if(isGranted(_.MarkTroll)) { @Html(J.stringify(lila.chat.JsonView.timeoutReasons)) } else { null }
});
}
