.team-edit {
  .inline {
    display: inline;
  }
  .accent {
    textarea {
      border-color: $c-brag;
    }
    label {
      color: $c-brag;
    }
  }
}
.team-leaders {
  .form-actions {
    border: none;
    padding-bottom: $box-padding-vert;
  }
  tbody th {
    padding-top: 1em;
    padding-bottom: 1em;
    strong {
      font-size: 1.3em;
      color: $c-brag;
    }
    p {
      margin: 0;
    }
  }
}
