.team-events {
  .slist {
    td {
      padding: 0.5rem 1rem;

      &.duration {
        white-space: nowrap;
      }
    }

    .header {
      cursor: pointer;
      padding: 0;

      a {
        padding: 1em;
        display: block;
      }
    }

    a {
      color: $c-font;

      &:hover {
        color: $c-link;
      }
    }

    .name {
      font-size: 1.2em;
      display: block;
    }

    .setup {
      color: $c-font-dim;
    }

    .icon {
      text-align: center;

      i {
        font-size: 2em;
        opacity: 0.6;
      }
    }

    .enterable {
      .icon i {
        color: $c-brag;
        opacity: 1;
      }
    }

    .soon {
      border: 1px solid $c-brag;
    }
  }
}

.team-tournaments--both {
  @extend %flex-wrap;

  margin-top: -2em;

  h2 {
    @extend %box-padding;

    // padding-bottom: 1em;
    border-bottom: $border;
  }

  & > div {
    flex: 1 0 50%;
    min-width: 60ch;

    &:last-child .slist {
      border-left: $border;
    }
  }
}
