@mixin mq-at-least-picture {
  @media (min-width: at-least($small)) {
    @content;
  }
}

main {
  .coach-main {
    grid-area: main;
  }

  &.coach-full-page {
    .coach-side {
      grid-area: side;
      margin: 2em 2em 0 2em;
    }

    display: grid;
    grid-template-areas: 'main' 'side';

    @media (min-width: at-least($large)) {
      grid-template-columns: 300px auto;
      grid-template-areas: 'side main';
      grid-gap: 2rem;

      .coach-side {
        margin: 4rem 0 0 0;
      }
    }
  }
}
