@(userId: String)(implicit ctx: Context)

<div class="friend_button">
@friendStatus(userId).map { status =>
@if(status.friends) {
@trans.friends()
} else {
@if(status.pending) {
@trans.pendingRequest()
<a class="friend_button" href="@routes.Friend.no(userId)">@trans.cancel()</a>
} else {
@if(status.requested) {
<a href="@routes.Friend.yes(userId)">@trans.accept()</a>
<a href="@routes.Friend.no(userId)">@trans.decline()</a>
} else {
<a href="@routes.Friend.yes(userId)">@trans.addFriend()</a>
}
}
}
}
</div>
