@(t: lila.team.Team, userIds: Iterable[User.ID])(implicit ctx: Context)

@title = @{ "Change owner of Team " + t.name }

@team.layout(title = title) {
<div id="team">
  <div class="content_box team_box">
    <h1>@title</h1>
    <p class="undertitle">Who do you want to make owner of this team?</p>
    <form class="kick" action="@routes.Team.changeOwner(t.id)" method="POST">
      @userIds.toList.sorted.map { userId =>
      <button name="userId" class="submit button small confirm" value="@userId">@usernameOrId(userId)</button>
      }
    </form>
  </div>
</div>
}
