@(t: lila.team.Team, form: Form[_])(implicit ctx: Context)
@import lila.app.ui.Scalatags.star._

@title = @{ "Edit Team " + t.name }

@team.layout(title = title, formCss = true) {
<div id="team">
  <div class="content_box team_box">
    <h1>@title</h1>
    <p class="links undertitle">
      <a href="@routes.Team.kick(t.id)">Kick someone out of the team</a><br>
      <a href="@routes.Team.changeOwner(t.id)">Appoint another team owner</a>
    </p>
    <form class="form3" action="@routes.Team.update(t.id)" method="POST">
      @form3.group(form("open"), trans.joiningPolicy()) { f =>
      @form3.select(f, Seq(0 -> trans.aConfirmationIsRequiredToJoin.txt(), 1 -> trans.anyoneCanJoin.txt()))
      }
      @form3.group(form("location"), trans.location())(form3.input(_))
      @form3.group(form("description"), trans.description())(form3.textarea(_)(*.rows := 10))
      @form3.actions {
      <a href="@routes.Team.show(t.id)" style="margin-left:20px">@trans.cancel()</a>
      @form3.submit(trans.apply())
      }
    </form>
  </div>
</div>
}
