@(t: lila.team.Team, form: Form[_])(implicit ctx: Context)

@title = @{ "Edit Team " + t.name }

@team.layout(title = title) {
<div id="team">
  <div class="content_box team_box">
    <h1>@title</h1>
    <p class="links undertitle">
      <a href="@routes.Team.kick(t.id)">Kick someone out of the team</a>
    </p>
    <form class="new-team wide" action="@routes.Team.update(t.id)" method="POST">
      <section class="team-data">
      <label>
        <span>@trans.joiningPolicy()</span>
        @base.form.select(form("open"), Seq(0 -> trans.aConfirmationIsRequiredToJoin.str(), 1 -> trans.anyoneCanJoin.str()))
      </label>
      <label>
        <span>@trans.location()</span>
        @base.form.input(form("location"))
        @errMsg(form("location"))
      </label>
      <label>
        <span class="required">@trans.description()</span>
        @defining(form("description")) { desc =>
        <textarea name="@desc.name" id="@desc.id">@desc.value</textarea>
        @errMsg(desc)
        }
      </label>
      </section>
      <button class="submit button" type="submit" data-icon="E"> @trans.apply()</button>
      <a href="@routes.Team.show(t.id)" style="margin-left:20px">@trans.cancel()</a>
    </form>
  </div>
</div>
}
