@(form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.Scalatags.min._

@team.layout(
title = trans.newTeam.txt(),
currentTab = "form".some,
formCss = true) {
<div id="team">
  <div class="content_box small_box team_box">
    <h1>@trans.newTeam()</h1>
    <form class="form3" action="@routes.Team.create()" method="POST">
      @form3.group(form("name"), trans.name())(form3.input(_))
      @form3.group(form("open"), trans.joiningPolicy()) { f =>
      @form3.select(form("open"), Seq(0 -> trans.aConfirmationIsRequiredToJoin.txt(), 1 -> trans.anyoneCanJoin.txt()))
      }
      @form3.group(form("location"), trans.location())(form3.input(_))
      @form3.group(form("description"), trans.description())(form3.textarea(_)(*.rows := 10))
      @base.captcha(form, captcha)
      @form3.actions {
      <a href="@routes.Team.home(1)">@trans.cancel()</a>
      @form3.submit(trans.newTeam())
      }
    </form>
  </div>
</div>
}
