@(form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)

@team.layout(
title = trans.newTeam.str(),
currentTab = "form".some) {
<div id="team">
  <div class="content_box team_box">
    <h1>@trans.newTeam()</h1>
    <form class="new-team wide" action="@routes.Team.create()" method="POST">
      <section class="team-data">
      <label>
        <span class="required">@trans.name()</span>
        @base.form.input(form("name"))
        @errMsg(form("name"))
      </label>
      <label>
        <span>@trans.joiningPolicy()</span>
        @base.form.select(form("open"), Seq(0 -> trans.aConfirmationIsRequiredToJoin.str(), 1 -> trans.anyoneCanJoin.str()))
      </label>
      <label>
        <span>@trans.location()</span>
        @base.form.input(form("location"))
        @errMsg(form("location"))
      </label>
      <label>
        <span class="required">@trans.description()</span>
        @defining(form("description")) { desc =>
        <textarea name="@desc.name" id="@desc.id">@desc.value</textarea>
        @errMsg(desc)
        }
      </label>
      </section>
      @base.captcha(form("move"), form("gameId"), captcha)
      @errMsg(form)
      <button class="submit button" type="submit" data-icon="E"> @trans.newTeam()</button>
      <a href="@routes.Team.home(1)" style="margin-left:20px">@trans.cancel()</a>
    </form>
  </div>
</div>
}
