@(form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@bits.layout(title = trans.newTeam.txt()) {
<main class="page-menu page-small">
  @bits.menu("form".some).toHtml
  <div class="page-menu__content box box-pad">
    <h1>@trans.newTeam()</h1>
    <form class="form3" action="@routes.Team.create()" method="POST">
      @form3.group(form("name"), trans.name.frag())(form3.input(_))
      @form3.group(form("open"), trans.joiningPolicy.frag()) { f =>
      @form3.select(form("open"), Seq(0 -> trans.aConfirmationIsRequiredToJoin.txt(), 1 -> trans.anyoneCanJoin.txt()))
      }
      @form3.group(form("location"), trans.location.frag())(form3.input(_))
      @form3.group(form("description"), trans.description.frag())(form3.textarea(_)(*.rows := 10))
      @base.captcha(form, captcha).toHtml
      @form3.actionsHtml {
      <a href="@routes.Team.home(1)">@trans.cancel()</a>
      @form3.submit(trans.newTeam.frag())
      }
    </form>
  </div>
</main>
}.toHtml
