@(t: lidraughts.team.Team, userIds: List[String])(implicit ctx: Context)

@title = @{ "Kick from Team " + t.name }

@team.layout(title = title) {
<div id="team">
  <div class="content_box team_box">
    <h1>@title</h1>
    <p class="undertitle">Who do you want to kick out of the team?</p>
    <form class="kick" action="@routes.Team.kick(t.id)" method="POST">
      @userIds.sorted.map { userId =>
      <button name="userId" class="submit button small confirm" value="@userId">@usernameOrId(userId)</button>
      }
    </form>
  </div>
</div>
}
