@(t: lila.team.Team, userIds: Iterable[User.ID])(implicit ctx: Context)

@title = @{ "Kick from Team " + t.name }

@bits.layout(title = title) {
<main class="page-menu page-small">
  @bits.menu(none).toHtml
  <div id="team" class="page-menu__content box box-pad">
    <h1>@title</h1>
    <p class="undertitle">Who do you want to kick out of the team?</p>
    <br><br>
    <form class="kick" action="@routes.Team.kick(t.id)" method="POST">
      @userIds.toList.sorted.map { userId =>
      <button name="userId" class="button button-empty button-no-upper confirm" value="@userId">@usernameOrId(userId)</button>
      }
    </form>
  </div>
</main>
}.toHtml
