@(title: String, currentTab: Option[String] = None, moreJs: Html = Html(""))(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("team.css")
}

@goodies = {
<div class="side_menu">
  @defining(~currentTab) { tab =>
  <a class="@tab.active("all")" href="@routes.Team.home()">
    @trans.allTeams()
  </a>
  <a class="@tab.active("mine")" href="@routes.Team.mine()">
    @trans.myTeams()
  </a>
  @if(ctx.me.fold(_.canCreateTeam, false)) {
  <a class="@tab.active("form")" href="@routes.Team.form()">
    @trans.newTeam()
  </a>
  }
  }
</div>
}

@base.layout(
title = title,
moreCss = moreCss,
moreJs = moreJs,
goodies = goodies.some,
active = siteMenu.team.some) {
@body
}
