@(title: String, currentTab: Option[String] = None, openGraph: Option[lila.app.ui.OpenGraph] = None, formCss: Boolean = false)(body: Html)(implicit ctx: Context)

@allCss = {
@cssTag("team.css")
@if(formCss) { @cssTag("form3.css") }
}

@side = {
<div class="side_menu">
  @defining(~currentTab) { tab =>
  @if(ctx.teamNbRequests > 0) {
  <a class="@tab.active("requests")" href="@routes.Team.requests()">
    @ctx.teamNbRequests join requests
  </a>
  }
  @if(ctx.me.??(_.canTeam)) {
  <a class="@tab.active("mine")" href="@routes.Team.mine()">
    @trans.myTeams()
  </a>
  }
  <a class="@tab.active("all")" href="@routes.Team.all()">
    @trans.allTeams()
  </a>
  @if(ctx.me.??(_.canTeam)) {
  <a class="@tab.active("form")" href="@routes.Team.form()">
    @trans.newTeam()
  </a>
  }
  }
</div>
}

@base.layout(
title = title,
moreCss = allCss,
moreJs = infiniteScrollTag,
openGraph = openGraph,
side = side.some) {
@body
}.toHtml
