@(name: String, teams: Paginator[lila.team.Team], next: Option[Call], tab: String)(implicit ctx: Context)

@title = @{ "%s - page %d".format(name, teams.currentPage) }

@moreJs = {
@jsTag("vendor/jquery.infinitescroll.min.js")
}

@team.layout(
title = title,
currentTab = tab.some,
moreJs = moreJs) {
<div id="team" class="content_box team_box no_padding">
  <h1>@name</h1>
  <table class="slist">
    @if(teams.nbResults > 0) {
    <tbody class="infinitescroll">
      @next.map { n =>
      <div class="pager none"><a href="@n">Next</a></div>
      }.getOrElse {
      <div class="none"></div>
      }
      @teams.currentPageResults.map(x => team.teamTr(x))
    </tbody>
    } else {
    @team.noTeam()
    }
  </table>
</div>
}
