@(name: String, teams: Paginator[lila.team.Team], next: Option[Call], tab: String, search: String = "")(implicit ctx: Context)

@title = @{ "%s - page %d".format(name, teams.currentPage) }

@team.layout(
title = title,
currentTab = tab.some) {
<div id="team" class="content_box team_box no_padding">
  <form class="search" action="@routes.Team.search()">
    <input name="text" value="@search" placeholder="@trans.search()" />
  </form>
  <h1>@name</h1>
  <table class="slist">
    @if(teams.nbResults > 0) {
    <tbody class="infinitescroll">
      @next.map { n =>
      <tr><th class="pager none">
          <a rel="next" href="@n">Next</a>
      </th></tr>
      <tr></tr>
      }
      @teams.currentPageResults.map(x => team.teamTr(x))
    </tbody>
    } else {
    @team.noTeam()
    }
  </table>
</div>
}
