@(t: lila.team.Team, form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@title = @{ trans.joinTeam.txt() + " " + t.name }

@team.layout(title = title, formCss = true) {
<div id="team">
  <div class="content_box small_box team_box">
    <h1>@title</h1>
    <p style="margin:2em 0">@richText(t.description)</p>
    <form class="form3" action="@routes.Team.requestCreate(t.id)" method="POST">
      @form3.group(form("message"), raw("Message"))(form3.textarea(_)())
      <hr />
      <p>Your join request will be reviewed by the team leader.</p>
      <hr />
      @base.captcha(form, captcha)
      @form3.actions {
      <a href="@routes.Team.show(t.slug)">@trans.cancel()</a>
      @form3.submit(trans.joinTeam.frag())
      }
    </form>
  </div>
</div>
}
