@(t: lila.team.Team, form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@title = @{ trans.joinTeam.txt() + " " + t.name }

@views.html.base.layout(
title = title,
moreCss = responsiveCssTag("team"),
moreJs = frag(infiniteScrollTag, captchaTag)) {
<main class="page-menu page-small">
  @bits.menu("requests".some).toHtml
  <div class="page-menu__content box box-pad">
    <h1>@title</h1>
    <p style="margin:2em 0">@richText(t.description)</p>
    <form class="form3" action="@routes.Team.requestCreate(t.id)" method="POST">
      @form3.group(form("message"), raw("Message"))(form3.textarea(_)())
      <p>Your join request will be reviewed by the team leader.</p>
      @base.captcha(form, captcha).toHtml
      @form3.actionsHtml {
      <a href="@routes.Team.show(t.slug)">@trans.cancel()</a>
      @form3.submit(trans.joinTeam.frag())
      }
    </form>
  </div>
</main>
}.toHtml
