@(t: lila.team.Team, form: Form[_], captcha: lila.common.Captcha)(implicit ctx: Context)

@title = @{ trans.joinTeam.str() + " " + t.name }

@team.layout(title = title) {
<div id="team">
  <div class="content_box team_box">
    <h1>@title</h1>
    <form class="wide team-request" action="@routes.Team.requestCreate(t.id)" method="POST">
      <label>
        <span class="required">Message</span>
        @defining(form("message")) { message =>
        <textarea name="@message.name" id="@message.id">@message.value</textarea>
        @errMsg(message)
        }
      </label>
      <label>
        <span></span>
        <p class="info">Your join request will be reviewed by the team leader.</p>
      </label>
      @base.captcha(form("move"), form("gameId"), captcha)
      @errMsg(form)
      <button class="submit button" type="submit" data-icon="E"> @trans.joinTeam()</button>
      <a href="@routes.Team.home(1)" style="margin-left:20px">@trans.cancel()</a>
    </form>
  </div>
</div>
}
