@(requests: List[lila.team.RequestWithUser], t: Option[lila.team.Team])(implicit ctx: Context)

<table class="slist requests @if(t.isEmpty){all}else{for-team} datatable">
  <tbody>
    @requests.map { request =>
    <tr>
      @if(t.isEmpty) {
      <td>@userLink(request.user).toHtml @teamLink(request.team).toHtml</td>
      } else {
      <td>@userLink(request.user).toHtml</td>
      }
      <td>@richText(request.message)</td>
      <td>@momentFromNow(request.date)</td>
      <td class="process">
        <form class="process-request" action="@routes.Team.requestProcess(request.id)" method="post">
          <input type="hidden" name="url" value="@t.fold(routes.Team.requests())(te => routes.Team.show(te.id))" />
          <button name="process" class="button button-empty button-red" value="decline">@trans.decline()</button>
          <button name="process" class="button button-green" value="accept">@trans.accept()</button>
        </form>
      </td>
    </tr>
    }
  </tbody>
</table>
