@(t: lila.team.Team, members: Paginator[lila.team.MemberWithUser], info: lila.app.mashup.TeamInfo)(implicit ctx: Context)

<div class="team-left">
  <section class="infos">
    <p>@trans.tournamentPoints(): <strong>@info.toints.localize</strong></p>
    <p>@trans.teamLeader(): @userIdLink(t.createdBy.some)</p>
  </section>
  <h2>@trans.teamBestPlayers()</h2>
  <ol class="userlist best_players">
    @info.bestUserIds.map { userId =>
    <li>@userIdLink(userId.some)</li>
    }
  </ol>
  <h2>@trans.teamRecentMembers()</h2>
  <div class="userlist infinitescroll">
    @members.nextPage.map { np =>
    <div class="pager none"><a rel="next" href="@routes.Team.show(t.id, np)">Next</a></div>
    }
    @members.currentPageResults.map { member =>
    <div class="paginated_element">@userLink(member.user)</div>
    }
  </div>
</div>
<div class="team-right">
  <p class="description">
    @autoLink(t.description)
    @t.location.map { loc =>
    <br />@trans.location(): @autoLink(loc)
    }
  </p>
  <div class="actions">
    @if(t.enabled && !info.mine) {
    @if(info.requestedByMe) {
    <strong>Your join request is being reviewed by the team leader</strong>
    } else {
    @if(ctx.me.??(_.canTeam)) {
    <form class="inline" method="post" action="@routes.Team.join(t.id)">
      <input class="submit button" type="submit" value="@trans.joinTeam()" />
    </form>
    }
    }
    }
    @if(isGranted(_.CloseTeam)) {
    <form class="inline" method="post" action="@routes.Team.close(t.id)">
      <button data-icon="q" class="submit text button thin confirm" type="submit"
        title="Deletes the team and its memberships. Cannot be reverted!">Delete</button>
    </form>
    }
  </div>
  <div class="forum">
    <h2 data-icon="d"> <a href="@teamForumUrl(t.id)">@trans.forum() (@info.forumNbPosts)</a></h2>
    <ol class="posts">
      @info.forumPosts.take(10).map { p =>
      <li>
        <p class="meta clearfix">
          <a href="@routes.ForumPost.redirect(p.postId)">@p.topicName</a>
          @userIdLink(p.userId, withOnline = false)
          @momentFormat(p.createdAt)
        </p>
        <p>@shorten(p.text, 200)</p>
      </li>
      }
    </ol>
    <a class="more" href="@teamForumUrl(t.id)">@t.name @trans.forum() »</a>
    <div class="actions">
      @if(info.mine && !info.createdByMe) {
      <form class="quit" method="post" action="@routes.Team.quit(t.id)">
        <input class="submit button small confirm" type="submit" value="@trans.quitTeam()" />
      </form>
      }
      @if(info.createdByMe) {
      <a href="@routes.Team.edit(t.id)" class="submit button small" data-icon="%"> @trans.settings()</a>
      }
    </div>
  </div>
</div>
