@(t: lila.team.Team, members: Paginator[lila.team.MemberWithUser], info: lila.team.TeamInfo)(implicit ctx: Context)

@team.layout(title = t.name) {
<div id="team" class="content_box no_padding team_show">
  <div class="content_box_top">
    <span class="righty">@trans.nbMembers("<strong>" + t.nbMembers + "</strong>")</span>
    <div class="icon"></div>
    <h1 class="lichess_title">@t.name</h1>
    @if(t.disabled) {
    <span class="staff">CLOSED</span>
    }
  </div>
  @if(info.hasRequests) {
  @team.requests(t, info.requests)
  }
  <div class="team-content clearfix">
    <div class="team-left">
      <section class="infos">
      <p>@trans.averageElo(): <strong>@info.averageElo</strong></p>
      <p>@trans.teamLeader(): @userIdLinkMini(t.createdBy)</p>
      </section>
      <h2>@trans.teamBestPlayers()</h2>
      <ol class="userlist">
        @info.bestPlayers.map { player =>
        <li>@userLink(player)</li>
        }
      </ol>
      <h2>@trans.teamRecentMembers()</h2>
      <ol class="userlist">
        @members.currentPageResults.map { member =>
        <li class="paginated_element">@userLink(member.user)</li>
        }
      </ol>
    </div>
    <div class="team-right">
      <p class="description">
        @autoLink(t.description)
        @t.location.map { loc =>
        <br />@trans.location(): @loc
        }
      </p>
      <div class="actions">
        @if(t.enabled && !info.mine) {
        @if(info.requestedByMe) {
        <strong>Your join request is being reviewed by the team leader</strong>
        } else {
        <form class="inline" method="post" action="@routes.Team.join(t.id)">
          <input class="submit button" type="submit" value="@trans.joinTeam()" />
        </form>
        }
        }
        @if(info.mine && !info.createdByMe) {
        <form class="inline" method="post" action="@routes.Team.quit(t.id)">
          <input class="submit button" type="submit" value="@trans.quitTeam()" />
        </form>
        }
        @if(info.createdByMe) {
        <a href="@routes.Team.edit(t.id)" class="submit button">@trans.settings()</a>
        }
      </div>
    </div>
  </div>
</div>
}
