@(t: lila.team.Team, members: Paginator[lila.team.MemberWithUser], info: lila.team.TeamInfo)(implicit ctx: Context)

@team.layout(title = t.name) {
<div id="team" class="content_box no_padding team_show">
  <div class="content_box_top">
    <span class="righty">@trans.nbMembers("<strong>" + t.nbMembers + "</strong>")</span>
    <div class="icon team-icon @myTeam(t.id).fold("mine", "")"></div>
    <h1 class="lichess_title">@t.name <span>TEAM</span></h1>
    @if(t.disabled) {
    <span class="staff">CLOSED</span>
    }
  </div>
  @if(info.hasRequests) {
  @team.requests(t, info.requests)
  }
  <div class="team-content clearfix">
    <div class="team-left">
      <section class="infos">
      <p>@trans.averageElo(): <strong>@info.averageElo</strong></p>
      <p>@trans.teamLeader(): @userIdLinkMini(t.createdBy)</p>
      </section>
      <h2>@trans.teamBestPlayers()</h2>
      <ol class="userlist best_players">
        @info.bestPlayers.map { player =>
        <li>@userLink(player)</li>
        }
      </ol>
      <h2>@trans.teamRecentMembers()</h2>
      <div class="infinitescroll">
        @if(members.hasToPaginate) {
        <div class="pager none"><a href="@routes.Team.show(t.id, members.nextPage | 1)">Next</a></div>
        }
        <ol class="userlist paginated_element">
          @members.currentPageResults.map { member =>
          <li>@userLink(member.user)</li>
          }
        </ol>
      </div>
    </div>
    <div class="team-right">
      <p class="description">
        @autoLink(t.description)
        @t.location.map { loc =>
        <br />@trans.location(): @loc
        }
      </p>
      <div class="actions">
        @if(t.enabled && !info.mine) {
        @if(info.requestedByMe) {
        <strong>Your join request is being reviewed by the team leader</strong>
        } else {
        <form class="inline" method="post" action="@routes.Team.join(t.id)">
          <input class="submit button" type="submit" value="@trans.joinTeam()" />
        </form>
        }
        }
      </div>
      <div class="forum">
        <h2><a href="@teamForumUrl(t.id)">@trans.forum() (@info.forumNbPosts)</a></h2>
        <ol class="posts">
          @info.forumPosts.take(5).map { v =>
          @defining(routes.ForumTopic.show(v.categ.slug, v.topic.slug, v.topicLastPage) + "#" + v.post.number) { postUrl =>
          <li>
            <p class="meta clearfix">
              <a href="@postUrl">@v.topic.name</a>
              @authorLink(v.post, withOnline = false)
              <span class="date">@showDate(v.post.createdAt)</span>
            </p>
            <p>@shorten(v.post.text, 200)</p>
          </li>
          }
          }
        </ol>
        <a class="more" href="@teamForumUrl(t.id)">@t.name @trans.forum() »</a>
        <div class="actions">
          @if(info.mine && !info.createdByMe) {
          <form class="quit" method="post" action="@routes.Team.quit(t.id)">
            <input class="submit button small confirm" type="submit" value="@trans.quitTeam()" />
          </form>
          }
          @if(info.createdByMe) {
          <a href="@routes.Team.edit(t.id)" class="submit button small">@trans.settings()</a>
          }
        </div>
      </div>
    </div>
  </div>
</div>
}
