@(u: User)(implicit ctx: Context)

<div class="claim_title_zone">

  <h2 data-icon="C"> Congratulations for breaking the 2400 rating threshold!</h2>

  <p>
    To ensure honest players aren't falsely accused of cheating, we request titled players
    to identify themselves. For instance, <a href="@routes.User.show("jeffforever")">jeffforever</a> and
    <a href="@routes.User.show("milacek")">milacek</a> are verified FIDE master, and Grandmaster respectively.
    Identification can be performed in a number of ways, and you can choose to remain anonymous.
  </p>

  <p>
    It's easy; <a href="@routes.Page.master">click here to see how it's done</a>.
  </p>

  <p>
    If you need help or have any question, feel free to contact us by email at @contactEmailLink.
  </p>

  <p class="actions">
    <a class="gotit button text" href="@routes.Pref.saveTag(lila.pref.Pref.Tag.verifyTitle, "1")" data-icon="E">Got it, thanks!</a>
    <a class="button" href="@routes.Pref.saveTag(lila.pref.Pref.Tag.verifyTitle, "0")">I don't have an official title</a>
  </p>
</div>
