@(u: User, artificial: Boolean)(implicit ctx: Context)

@user.layout(
title = u.username,
robots = false) {
<div class="content_box no_padding user_show">
  <div class="content_box_top">
    <h1 class="lichess_title">@u.username</h1>
  </div>
  <div class="content_box_content clearfix">
    This account is closed.
    @if(artificial) {
    This account infos have been lost during a server failure.<br />
    All new accounts between 12 Dec 2013 and 22 Dec 2013 are affected.<br />
    We are very sorry for the inconvenience.
    }
  </div>
</div>
}
