@(info: lila.app.mashup.UserInfo, filter: lila.app.mashup.GameFilter)(implicit ctx: Context)

@filter match {
case lila.app.mashup.GameFilter.All => {
@info.user.nbGames @trans.gamesPlayed()
}
case lila.app.mashup.GameFilter.Me => {
@ctx.me.fold("-")(me => "%d vs me".format(info.nbWithMe | 0))
}
case lila.app.mashup.GameFilter.Rated => {
@info.nbRated @trans.rated()
}
case lila.app.mashup.GameFilter.Win => {
@trans.nbWins(info.user.nbWins)
}
case lila.app.mashup.GameFilter.Loss => {
@trans.nbLosses(info.user.nbLosses)
}
case lila.app.mashup.GameFilter.Draw => {
@trans.nbDraws(info.user.nbDraws)
}
case lila.app.mashup.GameFilter.Playing => {
@info.nbPlaying playing
}
case lila.app.mashup.GameFilter.Bookmark => {
@trans.nbBookmarks(info.nbBookmark)
}
}
