@(u: User, pager: Paginator[Game], filterName: String)(implicit ctx: Context)

@if(filterName == "search") {
<div class="search_result">
  @if(pager.nbResults > 0) {
  <div class="search_status">
    <strong>@pager.nbResults.localize games found</strong> •
    <a class="permalink" rel="nofollow" href="@routes.User.showFilter(u.username, filterName)">Permalink</a> •
  </div>
  <div class="search_infinitescroll">
    @pager.nextPage.map { n =>
    <div class="pager none"><a href="@routes.User.showFilter(u.username, filterName, n)">Next</a></div>
    }.getOrElse {
    <div class="none"></div>
    }
    @game.widgets(pager.currentPageResults, user = u.some, ownerLink = ctx is u)
  </div>
  } else {
  <div class="search_status">
    No game found -
    <a class="permalink" href="@routes.User.showFilter(u.username, filterName)">Permalink</a>
  </div>
  }
</div>
} else {
<div class="games infinitescroll @if(filterName == "playing" && pager.nbResults > 2) {game_list playing center}">
  @pager.nextPage.map { np =>
  <div class="pager none"><a href="@routes.User.showFilter(u.username, filterName, np)">Next</a></div>
  }
  @if(filterName == "playing" && pager.nbResults > 2) {
  @pager.currentPageResults.flatMap{ Pov(_, u) }.map { p =>
  <div class="paginated_element">
    @gameFen(p)
    @game.vstext(p)(ctx.some)
  </div>
  }
  } else {
  @game.widgets(pager.currentPageResults, user = u.some, ownerLink = ctx is u)
  }
</div>
}
