@(title: String, side: Option[Html] = None, robots: Boolean = true, evenMoreJs: Html = emptyHtml, evenMoreCss: Html = emptyHtml, openGraph: Option[lila.app.ui.OpenGraph] = None, menu: Option[Html] = None, withInfScroll: Boolean = true)(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTags("user-list.css", "user-show.css")
@evenMoreCss
}

@moreJs = {
@if(withInfScroll) {
@infiniteScrollTag
}
@jsAt("compiled/user.js")
@evenMoreJs
}

@base.layout(
title = title,
side = side,
moreCss = moreCss,
moreJs = moreJs,
menu = menu,
robots = robots,
openGraph = openGraph)(body).toHtml
