@(title: String, side: Option[Html] = None, robots: Boolean = true, evenMoreJs: Html = emptyHtml, evenMoreCss: Html = emptyHtml, openGraph: Option[lila.app.ui.OpenGraph] = None, menu: Option[Html] = None, withInfScroll: Boolean = true)(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("user-list.css")
@cssTag("user-show.css")
@evenMoreCss
}

@moreJs = {
@if(withInfScroll) {
@jsTag("vendor/jquery.infinitescroll.min.js")
}
@jsAt("compiled/user.js")
@evenMoreJs
}

@base.layout(
title = title,
side = side,
moreCss = moreCss,
moreJs = moreJs,
menu = menu,
robots = robots,
openGraph = openGraph)(body)
