@(title: String, goodies: Option[Html] = None, robots: Boolean = true, evenMoreJs: Html = Html(""), evenMoreCss: Html = Html(""), openGraph: Map[Symbol, String] = Map.empty)(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("user-list.css")
@cssTag("user-show.css")
@evenMoreCss
}

@moreJs = {
@jsTag("vendor/jquery.infinitescroll.min.js")
@jsTagCompiled("user.js")
@evenMoreJs
}

@base.layout(
title = title,
goodies = goodies,
moreCss = moreCss,
moreJs = moreJs,
robots = robots,
active = siteMenu.user.some,
openGraph = openGraph)(body)
