@(tourneyWinners: List[lila.tournament.Winner], online: List[User], leaderboards: lila.user.Perfs.Leaderboards, nbDay: List[User.LightCount], nbAllTime: List[User.LightCount])(implicit ctx: Context)

@import lila.rating.PerfType

@userTopPerf(users: List[User.LightPerf], perfType: PerfType) = {
<div class="user_top">
  <h2 class="text" data-icon="@perfType.iconChar">
    <a href="@routes.User.topNb(200, perfType.key)">@perfType.name</a>
  </h2>
  @users.map { l =>
  <div>
    <div>@lightUserLink(l.user)</div>
    <div>@l.rating</div>
  </div>
  }
</div>
}

@userTopActive(users: List[User.LightCount], title: Any, icon: Option[Char] = None) = {
<div class="user_top">
  <h2 class="text"@icon.map { i => data-icon="@i" }>@title</h2>
  @users.map { u =>
  <div>
    <div>@lightUserLink(u.user)</div>
    <div title="@trans.gamesPlayed()">#@u.count.localize</div>
  </div>
  }
</div>
}

@side = {
<div class="side">
  <form class="search public">
    <input placeholder="@trans.search()" class="search_user user-autocomplete" />
  </form>
  @if(isGranted(_.UserSearch)) {
  <form class="search" action="@routes.Mod.search" method="GET">
    <input name="q" placeholder="Search by IP, email, or username" />
  </form>
  }
  <div class="user_lists">
    <div class="user_top">
      <h2>@trans.onlinePlayers()</h2>
      @online.map { u =>
      <div>
        <div>@userLink(u)</div>
        <div>@showBestPerf(u)</div>
      </div>
      }
    </div>
  </div>
</div>
}

@user.layout(
trans.players.txt(),
side = side.some,
openGraph = lila.app.ui.OpenGraph(
title = "Chess players and leaderboards",
url = s"$netBaseUrl${routes.User.list.url}",
description = "Best chess players in bullet, blitz, rapid, classical, Chess960 and more chess variants").some,
withInfScroll = false) {
<div class="content_box community">
  @communityTabs("leaderboard")
  <div class="user_lists">

    @userTopPerf(leaderboards.bullet, PerfType.Bullet)
    @userTopPerf(leaderboards.crazyhouse, PerfType.Crazyhouse)
    <div class="user_top">
      <h2 class="text" data-icon="g">
        <a href="@routes.Tournament.leaderboard">@trans.tournamentWinners()</a>
      </h2>
      @tourneyWinners.take(10).map { w =>
      <div>
        <div>@userIdLink(w.userId.some)</div>
        <div><a title="@w.tourName" href="@routes.Tournament.show(w.tourId)">@scheduledTournamentNameShortHtml(w.tourName)</a></div>
      </div>
      }
    </div>

    @userTopPerf(leaderboards.blitz, PerfType.Blitz)
    @userTopPerf(leaderboards.chess960, PerfType.Chess960)
    @userTopActive(nbAllTime, trans.activePlayers(), icon = 'U'.some)

    @userTopPerf(leaderboards.rapid, PerfType.Rapid)
    @userTopPerf(leaderboards.threeCheck, PerfType.ThreeCheck)
    @userTopPerf(leaderboards.antichess, PerfType.Antichess)

    @userTopPerf(leaderboards.classical, PerfType.Classical)
    @userTopPerf(leaderboards.kingOfTheHill, PerfType.KingOfTheHill)
    @userTopPerf(leaderboards.horde, PerfType.Horde)

    @userTopPerf(leaderboards.ultraBullet, PerfType.UltraBullet)
    @userTopPerf(leaderboards.atomic, PerfType.Atomic)
    @userTopPerf(leaderboards.racingKings, PerfType.RacingKings)
  </div>
</div>
}
