@(tourneyWinners: List[lidraughts.tournament.Winner], online: List[User], leaderboards: lidraughts.user.Perfs.Leaderboards, nbDay: List[User.LightCount], nbAllTime: List[User.LightCount])(implicit ctx: Context)

@import lidraughts.rating.PerfType

@userTopPerf(users: List[User.LightPerf], perfType: PerfType) = {
<div class="user_top">
  <h2 class="text" data-icon="@perfType.iconChar">
    <a href="@routes.User.top200(perfType.key)">@perfType.name</a>
  </h2>
  @users.map { l =>
  <div>
    <div>@lightUserLink(l.user)</div>
    <div>@l.rating</div>
  </div>
  }
</div>
}

@userTopActive(users: List[User.LightCount], title: Any, icon: Option[Char] = None) = {
<div class="user_top">
  <h2 class="text"@icon.map { i => data-icon="@i" }>@title</h2>
  @users.map { u =>
  <div>
    <div>@lightUserLink(u.user)</div>
    <div title="@trans.gamesPlayed()">#@u.count.localize</div>
  </div>
  }
</div>
}

@side = {
<div class="side">
  <form class="search public">
    <input placeholder="@trans.search()" class="search_user user-autocomplete" />
  </form>
  @if(isGranted(_.UserSearch)) {
  <form class="search" action="@routes.Mod.search" method="GET">
    <input name="q" placeholder="Search by IP, email, or username" />
  </form>
  }
  <div class="user_lists">
    <div class="user_top">
      <h2>@trans.onlinePlayers()</h2>
      @online.map { u =>
      <div>
        <div>@userLink(u)</div>
        <div>@showBestPerf(u)</div>
      </div>
      }
    </div>
  </div>
</div>
}

@user.layout(
trans.players.txt(),
side = side.some,
openGraph = lidraughts.app.ui.OpenGraph(
title = "Draughts players and leaderboards",
url = s"$netBaseUrl${routes.User.list.url}",
description = "Best draughts players in bullet, blitz, rapid, classical, Frisian and more draughts variants").some,
withInfScroll = false) {
<div class="content_box community">
  @communityTabs("leaderboard")
  <div class="user_lists">

    @userTopPerf(leaderboards.bullet, PerfType.Bullet)
    <div class="user_top">
      <h2 class="text" data-icon="g">
        <a href="@routes.Tournament.leaderboard">@trans.tournamentWinners()</a>
      </h2>
      @tourneyWinners.take(10).map { w =>
      <div>
        <div>@userIdLink(w.userId.some)</div>
        <div><a title="@w.tourName" href="@routes.Tournament.show(w.tourId)">@scheduledTournamentNameShortHtml(w.tourName)</a></div>
      </div>
      }
    </div>

    @userTopPerf(leaderboards.blitz, PerfType.Blitz)
    @userTopActive(nbAllTime, trans.activePlayers(), icon = 'U'.some)

    @userTopPerf(leaderboards.rapid, PerfType.Rapid)

    @userTopPerf(leaderboards.classical, PerfType.Classical)

    @userTopPerf(leaderboards.ultraBullet, PerfType.UltraBullet)
    @userTopPerf(leaderboards.frisian, PerfType.Frisian)

  </div>
</div>
}
