@(u: User)(implicit ctx: Context)
<div class="title">
  <span class="user_link @isOnline(u.id).fold("online", "offline")">
    @u.rating Rating, @u.count.game.localize @trans.games()
  </span>
  <p class="localization">
  @u.profileOrDefault.countryInfo.map {
  case (code, name) => {
  <span class="country"><img src="@routes.Assets.at(s"images/flag/shiny/16/$code.png")" /> @name</span>
  }
  }
  @u.lang.flatMap(langName).map { name =>
  <span class="lang s16">@name</span>
  }
  </p>
  @if(followsMe(u.id)) {
  @trans.followsYou()
  }
</div>
<div class="content relation_actions">@relation.actions(u.id)</div>
