@(u: User, playing: Option[Pov], blocked: Boolean, followable: Boolean, rel: Option[lila.relation.Relation])(implicit ctx: Context)
<div class="title">
  <div>
    @u.profileOrDefault.countryInfo.map {
    case (code, name) => {
    <span class="countrylang"><img class="flag" src="@staticUrl(s"images/flags/$code.png")" /> @name</span>
    }
    }.getOrElse {
    @u.lang.flatMap(shortLangName).map { name =>
    <span class="countrylang" data-icon="c">&nbsp;@name</span>
    }
    }
    @userLink(u, withPowerTip = false)
  </div>
  @if(u.engine && ctx.me.fold(true)(u !=)) {
  <div class="warning" data-icon="j">@trans.thisPlayerUsesChessComputerAssistance()</div>
  } else {
  <div class="ratings">
    @miniViewSortedPerfTypes(u).map { pt =>
    @showPerfRating(u, pt)
    }
  </div>
  }
</div>
@playing.map { pov =>
@gameFen(pov.game, pov.color)
}
@ctx.userId.map { myId =>
@if(myId != u.id) {
<table class="actions">
  <tbody>
    <tr>
      <td>
        <a class="button hint--bottom" data-hint="Watch games" href="@routes.User.tv(u.username)">
          <span data-icon="1"></span>
        </a>
      </td>
      @if(!blocked) {
      <td>
        <a class="button hint--bottom" data-hint="@trans.chat()" href="@routes.Message.form()?user=@u.username">
          <span data-icon="c"></span>
        </a>
      </td>
      <td>
        <a class="button hint--bottom" data-hint="@trans.play()" href="@routes.Lobby.home()?user=@u.username#friend">
          <span data-icon="U"></span>
        </a>
      </td>
      }
      <td class="relation_actions">@relation.mini(u.id, blocked, followable, rel)</td>
    </tr>
  </tbody>
</table>
}
}
