@(u: User, playing: Option[Game])(implicit ctx: Context)
<div class="title">
  @userLink(u, withPowerTip = false)
  @u.profileOrDefault.countryInfo.map {
  case (code, name) => {
  <span class="country"><img src="@staticUrl(s"images/flag/shiny/16/$code.png")" /> @name</span>
  }
  }.getOrElse {
  @u.lang.flatMap(langName).map { name =>
  <span class="lang" data-icon="c"> @name</span>
  }
  }
  <span class="follows">
    @if(followsMe(u.id)) {
    @trans.followsYou()
    }
  </span>
</div>
@playing.map { g =>
@gameFen(g, g.player(u).getOrElse(g.firstPlayer).color)
}
@ctx.userId.map { myId =>
@if(myId != u.id) {
<table class="actions">
  <tbody>
    <tr>
      @if(!blocks(u.id, myId)) {
      <td>
        <a class="button" href="@routes.Message.form()?username=@u.username" href="#">
          <span data-icon="c"> @trans.chat()</span>
        </a>
      </td>
      @if(playing.isEmpty) {
      <td>
        <a class="button" href="@routes.Lobby.home()?username=@u.username#friend" href="#">
          <span data-icon="C"> @trans.play()</span>
        </a>
      </td>
      }
      }
      <td class="relation_actions">@relation.mini(u.id)</td>
    </tr>
  </tbody>
</table>
}
}
