@(u: User, spy: lila.security.UserSpy)(implicit ctx: Context)

<div class="actions clearfix">
  @if(isGranted(_.MarkEngine)) {
  <form method="post" action="@routes.Mod.engine(u.username)">
    <input class="confirm" type="submit" value="@u.engine.fold("Un-mark as engine", "Mark as engine")" />
  </form>
  }
  @if(isGranted(_.MuteUser)) {
  <form method="post" action="@routes.Mod.mute(u.username)">
    <input class="confirm" type="submit" value="@u.isChatBan.fold("Unmute", "Mute")" />
  </form>
  }
  @if(isGranted(_.IpBan)) {
  <form method="post" action="@routes.Mod.ban(u.username)">
    <input class="confirm" type="submit" value="IP ban" />
  </form>
  }
</div>

<div class="user_spy">
  @if(spy.otherUsers.isEmpty) {
  <strong>No user found with same IPs</strong>
  } else {
  <strong>Shares IP addresses with @spy.otherUsers.size user(s)</strong>
  <table class="others slist">
    <thead>
      <tr>
        <th>User</th>
        <th>Games</th>
        <th>Engine</th>
        <th>Muted</th>
        <th>IPban</th>
        <th>Closed</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      @spy.otherUsers.map { o =>
      <tr>
        <td>@userLink(o)</td>
        <td>@o.nbGames</td>
        <td>@{o.engine.??("X")}</td>
        <td>@{o.muted.??("X")}</td>
        <td></td>
        <td>@{o.disabled.??("X")}</td>
        <td>@showDate(o.createdAt)</td>
      </tr>
      }
    </tbody>
  </table>
  }
  <strong>IP addresses:</strong> <ul>@spy.ips.map { ip =>
    <li>@ip</li>
    }</ul>
  <strong>User agents:</strong> <ul>@spy.uas.map { ua =>
    <li>@ua</li>
    }</ul>
</div>
