@(u: User, sugs: List[lila.relation.Related])(implicit ctx: Context)

@user.layout(title = "%s - %s".format(u.username, trans.favoriteOpponents.txt())) {
<div class="content_box no_padding">
  <h1>@userLink(u, withOnline = false) @trans.favoriteOpponents()</h1>
  <table class="slist best_opponents">
    @if(sugs.size > 0) {
    <tbody>
      @sugs.map { r =>
      <tr>
        <td>@userLink(r.user)</td>
        <td>@showBestPerf(r.user)</td>
        <td>
          @r.nbGames.filter(_ > 0).map { nbGames =>
          <a href="@routes.User.games(u.username, "search")?players.b=@r.user.username" class="hint--bottom" data-hint="Games count over your last 1000 games">
            @trans.nbGames.pluralSame(nbGames)
          </a>
          }
        </td>
        <td>@relation.actions(r.user.id, r.relation, followable = r.followable, blocked = false).toHtml</td>
      </tr>
      }
    </tbody>
    } else {
    <tbody>
      <tr><td colspan="2">
          None found.<br />
      </td></tr>
    </tbody>
    }
  </table>
</div>
}
