@(u: User, rankMap: lidraughts.rating.UserRankMap, perfType: lidraughts.rating.PerfType, data: play.api.libs.json.JsObject)(implicit ctx: Context)

@moreJs = {
@jsAt(s"compiled/lidraughts.perfStat${isProd??(".min")}.js")
@embedJs {
$(function() {
LidraughtsPerfStat(document.getElementById('perfStatContent'), {
data: @toJson(data)
});
});
}
}

@moreCss = {
@cssTag("user-perf-stat.css")
}

@user.layout(
title = s"${u.username} ${perfType.name} stats",
side = show.side(u, rankMap, perfType.some).some,
robots = false,
evenMoreJs = moreJs,
evenMoreCss = moreCss) {
<div class="content_box no_padding @perfType.key" id="perfStat">
  <div class="content_box_top">
    @if(u.perfs(perfType).nb > 0) {
    <a class="button text view_games" data-icon="@perfType.iconChar" href="@routes.User.games(u.username, "search")?perf=@perfType.id">
      View the games
    </a>
    }
    @show.perfTrophies(u, rankMap.filterKeys(perfType.key==))
    <h1 class="lidraughts_title">
      <a href="@routes.User.show(u.username)" data-icon="I" class="text">
        @u.username <span>@perfType.name stats</span>
      </a>
    </h1>
  </div>
  <div class="content_box_content" id="perfStatContent"></div>
</div>
}
