@(u: User, sugs: List[lila.relation.Related])(implicit ctx: Context)
<table class="slist best_opponents">
  @if(sugs.size > 0) {
  <tbody>
    @sugs.map { r =>
    <tr>
      <td>@userLink(r.user)</td>
      <td>@r.user.rating Rating</td>
      <td>
        @if(r.nbGames > 0) {
        <a href="@routes.Game.search()?players.a=@u.username&players.b=@r.user.username">
          @r.nbGames @trans.games()
        </a>
        }
      </td>
      <td><div class="relation_actions">@relation.actions(r.user.id, r.relation, followable = r.followable)</div></td>
    </tr>
    }
  </tbody>
  } else {
  <tbody>
    <tr><td colspan="2">
        None found.<br />
    </td></tr>
  </tbody>
  }
</table>

