@(u: User, info: lila.app.mashup.UserInfo, games: Paginator[Game], filters: lila.app.mashup.GameFilterMenu, searchForm: Form[_], rel: Option[lila.relation.Relation], notes: List[lila.user.Note], followable: Boolean, blocked: Boolean)(implicit ctx: Context)

@evenMoreJs = {
@if(!u.lame || ctx.is(u) || isGranted(_.UserSpy)) {
@if(filters.current.name == "search") {
@jsTag("search.js")
@jsTag("vendor/jquery.infinitescroll.min.js")
}
@jsTagCompiled("chart2.js")
@info.ratingChart.map { ratingChart =>
@embedJs(s"var lichess_rating_series = $ratingChart;")
}
}
}

@user.layout(
title =  s"${u.username} : ${userGameFilterTitleNoTag(info, filters.current)}${if(games.currentPage == 1) "" else " - page " + games.currentPage}",
side = side(u, info.ranks, none).some,
robots = false,
evenMoreJs = evenMoreJs,
openGraph = lila.app.ui.OpenGraph(
image = staticUrl("images/large_tile.png").some,
title = u.titleUsernameWithBestRating,
url = s"$netBaseUrl${routes.User.show(u.username).url}",
description = describeUser(u)).some) {
<div class="content_box no_padding user_show@if(ctx.is(u)){ myself}">
  <div class="content_box_top">
    @info.allTrophies.map { trophy =>
    <a @trophy.kind.url.map { url =>
      href="@url"
      } class="trophy award @trophy.kind.key @trophy.kind.klass hint--left" data-hint="@trophy.kind.name">
      @trophy.kind match {
      case lila.user.Trophy.Kind.ZugMiracle => {
      <img src="@staticUrl("images/trophy/zug-trophy.png")" height=80 />
      }
      case _ => {
      <span data-icon="@trophy.kind.icon.map(Html.apply)"></span>
      }
      }
    </a>
    }
    @if(u.perfs.puzzle.nb >= 10000) {
    <a href="@routes.Puzzle.home" class="trophy award icon3d puzzle hint--left" data-hint="Played 10,000 training puzzles">
      <span data-icon="-"></span>
    </a>
    }
    @perfTrophies(u, info.ranks)
    <h1 class="lichess_title"><span@if(isOnline(u.id)) { class="connected" title="Online" } else { title="Offline" } data-icon="r"></span> @u.titleUsername</h1>
    @if(u.disabled) {
    <span class="staff">CLOSED</span>
    }
  </div>
  <div class="social content_box_inter">
    <a class="intertab" href="@routes.Relation.following(u.username)">@splitNumber(trans.nbFollowing(info.nbFollowing))</a>
    <a class="intertab" href="@routes.Relation.followers(u.username)">@splitNumber(trans.nbFollowers(info.nbFollowers))</a>
    @info.nbBlockers.map { nb =>
    <a class="intertab">@splitNumber(nb + " Blockers")</a>
    }
    <a href="@routes.UserTournament.path(u.username, "recent")" class="intertab tournament_stats" data-toints="@u.toints">@splitNumber(u.toints + " " + trans.tournamentPoints())</a>
    <a class="intertab" href="@routes.ForumPost.search("user:" + u.username, 1)">@splitNumber(trans.nbForumPosts(info.nbPosts))</a>
    @NotForKids {
    @if(ctx.isAuth && !ctx.is(u)) {
    <a class="intertab note_zone_toggle">@splitNumber(notes.size + " Notes")</a>
    }
    }
    <div class="user_actions">
      @if(ctx is u) {
      <a class="button hint--bottom-left" href="@routes.Account.profile" data-hint="@trans.editProfile()">
        <span data-icon="%"></span>
      </a>
      <a class="button hint--bottom-left" href="@routes.Relation.blocks()" data-hint="@trans.listBlockedPlayers()">
        <span data-icon="k"></span>
      </a>
      }
      @if(isGranted(_.UserSpy)) {
      <a class="button mod_zone_toggle hint--bottom-left" href="@routes.User.mod(u.username)" data-hint="Mod zone"><span data-icon="@icon.mod"></span></a>
      }
      <a class="button hint--bottom-left" href="@routes.User.tv(u.username)" data-hint="@trans.watchGames()"><span data-icon="1"></span></a>
      @if(ctx.isAuth && !ctx.is(u)) {
      @relation.actions(u.id, relation = rel, followable = followable, blocked = blocked)
      @NotForKids {
      <a data-hint="@trans.reportXToModerators(u.username)" class="button hint--bottom-left" href="@routes.Report.form?username=@u.username">
        <span data-icon="!"></span>
      </a>
      }
      }
      @if(ctx is u) {
      <a class="button hint--bottom-left" href="@routes.Game.export(u.id)" data-hint="@trans.exportGames()"><span data-icon="x"></span></a>
      }
    </div>
  </div>
  @NotForKids {
  @if(!(ctx is u)) {
  <div class="note_zone">
    <form class="wide" action="@routes.User.writeNote(u.username)?note" method="post">
      <textarea name="text" placeholder="Write a note about this user only you and your friends can read"></textarea>
      <button type="submit" class="button">@trans.send()</button>
    </form>
    @if(notes.isEmpty) {
    <div>No note yet</div>
    }
    @notes.map { note =>
    <div>
      <p class="meta">@userIdLink(note.from.some)<br />@momentFromNow(note.date)</p>
      <p class="text">@autoLink(note.text)</p>
    </div>
    }
  </div>
  }
  }
  @if((ctx is u) && u.perfs.bestRating > 2400 && !u.hasTitle && !ctx.pref.hasSeenVerifyTitle ) {
  @claimTitle(u)
  }
  <div class="mod_zone"></div>
  @if(filters.current.name == "search") {
  @search.user(u, searchForm)
  } else {
  <div class="meat@if(info.insightVisible){ with_insights}">
    @info.ratingChart.ifTrue(!u.lame || ctx.is(u) || isGranted(_.UserSpy)).map { ratingChart =>
    <div class="rating_history">
      @base.spinner()
    </div>
    }
    <div class="user-infos scroll-shadow-hard">
      @if(ctx.me.fold(true)(u !=)) {
      @if(u.engine) {
      <div class="warning engine_warning">
        <span data-icon="j" class="is4"></span>
        @trans.thisPlayerUsesChessComputerAssistance()
      </div>
      }
      @if(u.booster) {
      <div class="warning engine_warning">
        <span data-icon="j" class"is4"></span>
        @trans.thisPlayerArtificiallyIncreasesTheirRating()
      </div>
      }
      } else {
      @u.title.flatMap(lila.user.User.titlesMap.get).map { title =>
      <p data-icon="E" class="honorific title"> @title</p>
      }
      }
      @u.profile.map { p =>
      @NotForKids {
      @p.nonEmptyRealName.map { name =>
      <strong class="name">@name</strong>
      }
      @p.nonEmptyBio.ifTrue(!u.troll || ctx.is(u)).map { bio =>
      <p class="bio">@Html(addLinks(shorten(bio, 400).body))</p>
      }
      }
      }
      <div class="stats">
        @NotForKids {
        @u.profileOrDefault.nonEmptyLocation.map { l =>
        <span class="location">@l</span>,
        }
        }
        @u.profileOrDefault.countryInfo.map {
        case (code, name) => {
        <span class="country"><img class="flag" src="@staticUrl(s"images/flags/$code.png")" /> @name</span>
        }
        }
        @u.lang.flatMap(langName).map { name =>
        <span data-icon="c"> @name</span>
        }
        <p class="thin">@trans.memberSince() @showDate(u.createdAt)</p>
        @u.seenAt.map { seen =>
        <p class="thin">@trans.lastSeenActive(momentFromNow(seen))</p>
        }
        <a href="@routes.User.opponents(u.username)">@trans.favoriteOpponents()</a>
        <br />
        <br />
        <p>@trans.tpTimeSpentPlaying(showPeriod(info.playTime.totalPeriod))</p>
        @info.playTime.tvPeriod.map { tvPeriod =>
        <p>@trans.tpTimeSpentOnTV(showPeriod(tvPeriod))</p>
        }
        <div class="teams">
          @teamIds(u.id).toList.sortBy(t => !myTeam(t)).map { teamId =>
          @teamLink(teamId, myTeam(teamId).option("mine"))
          }
        </div>
      </div>
    </div>
    @if(info.insightVisible) {
    <a class="insight" href="@routes.Insight.index(u.username)">
      <span class="icon" data-icon="7"></span>
      <strong>Chess Insights</strong>
      <em>Analytics from @if(ctx.is(u)){your}else{@u.username's} games</em>
    </a>
    }
  </div>
  }
  @if(u.hasGames || info.nbImported > 0) {
  <div class="content_box_inter tabs">
    @filters.list.map { f =>
    <a class="intertab@{ (filters.current == f).??(" active") }" href="@routes.User.showFilter(u.username, f.name)">
      @userGameFilterTitle(info, f)
    </a>
    }
  </div>
  @if(filters.current.name == "me") {
  @info.crosstable.map { c =>
  <div class="crosstable">@game.crosstable(c, none)</div>
  }
  }
  <div class="search_result">
    @views.html.user.games(u, games, filters.current.name)
  </div>
  }
</div>
}
