@(u: User, info: lila.app.mashup.UserInfo, games: Paginator[Game], filters: lila.app.mashup.GameFilterMenu)(implicit ctx: Context)

@title = @{ "%s : %s - page %d".format(u.username, userGameFilterTitleNoTag(info, filters.current), games.currentPage) }

@evenMoreJs = {
@highchartsTag
@highchartsMoreTag
@jsTagCompiled("chart2.js")
}

@goodies = {
<div class="goodies">
  @u.perfs.perfs.drop(1).map {
  case (name, perf) => {
  <div class="sub_ratings">
    <h3>@name.toUpperCase</h3>
    <strong>@perf.glicko.intRating</strong> / @perf.nb.localize @trans.games()
  </div>
  }
  }
</div>
}

@user.layout(
title = title,
goodies = goodies.some,
robots = false,
evenMoreJs = evenMoreJs) {
<div class="content_box no_padding user_show">
  <div class="content_box_top">
    <div class="icon status @{isOnline(u.id).??("connected")}"></div>
    <h1 class="lichess_title">@u.username</h1>
    <span class="rating">RATING <strong>@u.rating</strong></span>
    @info.rank.map { r =>
    <span class="rank" title="@trans.rank()">RANK <strong>@r._1.localize</strong> / @r._2.localize</span>
    }
    @if(u.disabled) {
    <span class="staff">CLOSED</span>
    @if(isGranted(_.ReopenAccount)) {
    <form class="reopen" action="@routes.Mod.reopenAccount(u.username)" method="post">
      <button type="submit" class="button confirm">Reopen</button>
    </form>
    }
    }
  </div>
  <div class="social content_box_inter">
    <a class="intertab" href="@routes.Relation.following(u.username)">@splitNumber(trans.nbFollowing(info.nbFollowing))</a>
    <a class="intertab" href="@routes.Relation.followers(u.username)">@splitNumber(trans.nbFollowers(info.nbFollowers))</a>
    @info.nbBlockers.map { nb =>
    <a class="intertab">@splitNumber(nb + " Blockers")</a>
    }
    <span class="intertab">@splitNumber(u.toints + " " + trans.tournamentPoints())</span>
    <a class="intertab" href="@routes.ForumPost.search("user:" + u.username, 1)">@splitNumber(info.nbPosts + " Forum posts")</a>
    <div class="relation_actions">
      @if(ctx is u) {
      <a class="button" href="@routes.Account.profile">
        <span class="s16 gear">@trans.editProfile()</span>
      </a>
      }
      @if(isGranted(_.UserSpy)) {
      <a class="icon button mod_zone_toggle" href="@routes.User.mod(u.username)" title="Mod zone">
        <span class="s16 nuclear"></span>
      </a>
      }
      <form id="exportform" action="@routes.User.export(u.username)" method="POST">
        <a class="icon button" onclick="document.getElementById('exportform').submit();" title="@trans.exportGames()">
          <span class="s16 download"></span>
        </a>
      </form>
      @if(ctx.isAuth && !ctx.is(u)) {
      @relation.actions(u.id)
      }
    </div>
  </div>
  <div class="mod_zone"></div>
  <div class="meat">
    @info.ratingChart.map { ratingChart =>
    <div class="rating_history" title="Rating history" data-rows="@ratingChart">
      <span>Chart loading...</span>
    </div>
    }
    <div class="user-infos">
      @if(u.engine && ctx.me.fold(true)(u !=)) {
      <div class="engine_warning">@trans.thisPlayerUsesChessComputerAssistance()</div>
      }
      @u.profile.map { p =>
      @p.nonEmptyRealName.map { name =>
      <strong class="name">@name</strong>
      }
      @p.nonEmptyBio.map { bio =>
      <p class="bio">@shorten(bio, 400)</p>
      }
      }
      @info.confrontation.map { c =>
      @user.confrontation(c.pov(ctx.userId))
      }
      <div class="stats">
        @u.profileOrDefault.nonEmptyLocation.map { l =>
        <span class="location">@l</span>,
        }
        @u.profileOrDefault.countryInfo.map {
        case (code, name) => {
        <span class="country"><img src="@routes.Assets.at(s"images/flag/shiny/16/$code.png")" /> @name</span>
        }
        }
        @u.lang.flatMap(langName).map { name =>
        <span class="lang s16">@name</span>
        }
        <p>@trans.memberSince() @showDate(u.createdAt)</p>
        @u.seenAt.map { seen =>
        <p>@trans.lastLogin() @timeago(seen)</p>
        }
        <a href="@routes.User.opponents(u.username)">@trans.favoriteOpponents()</a>
        @if(ctx.isAuth && !(ctx is u)) {
        <br />
        <a href="@routes.Report.form?username=@u.username">@trans.reportXToModerators(u.username)</a>
        }
        <div class="teams">
          @teamIds(u.id).sortBy(t => !myTeam(t)).map { teamId =>
          @teamLink(teamId, ("s16 team revert-underline" + myTeam(teamId).fold(" mine", "")).some)
          }
        </div>
      </div>
    </div>
  </div>
  @if(u.hasGames) {
  <div class="content_box_inter clearfix">
    @filters.list.map { f =>
    <a class="intertab@{ (filters.current == f).??(" active") }" href="@routes.User.showFilter(u.username, f.name)">
      @userGameFilterTitle(info, f)
    </a>
    }
  </div>
  <div class="games infinitescroll all_games">
    @games.nextPage.map { np =>
    <div class="pager none"><a href="@routes.User.showFilter(u.username, filters.current.name, np)">Next</a></div>
    }
    @game.widgets(games.currentPageResults, user = u.some, ownerLink = ctx is u)
  </div>
  }
</div>
}
