@(u: User, info: lila.app.mashup.UserInfo, games: Paginator[Game], filters: lila.app.mashup.GameFilterMenu, playing: Boolean, rel: Option[lila.relation.Relation], notes: List[lila.user.Note])(implicit ctx: Context)

@title = @{ s"${u.username} : ${userGameFilterTitleNoTag(info, filters.current)}${if(games.currentPage == 1) "" else " - page " + games.currentPage}" }

@evenMoreJs = {
@highchartsTag
@highchartsMoreTag
@jsTagCompiled("chart2.js")
}

@goodies = {
<div class="goodies">
  @u.perfs.perfs.drop(1).zipWithIndex.map {
  case ((name, perf), i) => {
  <div class="sub_ratings @{ (i == 0 || i == 2 || i == 5 || i == 7) ?? "sep" }" title="@perfTitle(name)">
    <h3>@if(name == "puzzle") {TRAINING} else {@name.toUpperCase}</h3>
    <strong title="Glicko rating">@perf.glicko.intRating</strong>
    <small title="Glicko rating deviation"> ±@perf.glicko.intDeviationDoubled</small> /
    <span title="Number of games played">
      @perf.nb.localize @if(name == "puzzle") { Puzzles } else { @trans.games() }
    </span>
  </div>
  }
  }
</div>
}

@user.layout(
title = title,
goodies = goodies.some,
robots = false,
evenMoreJs = evenMoreJs,
themepicker = true) {
<div class="content_box no_padding user_show">
  <div class="content_box_top">
    @if(info.rank.map(_._1).exists(1==)) {
    <img class="best" src="@staticUrl("images/best64.png")" width=64 height=64 title="Best player" />
    } else {
    @if(info.rank.exists(r => r._1 < r._2 / 100)) {
    <img class="trophy" src="@staticUrl("images/trophy64.png")" width=64 height=64 title="Top 1% player" />
    }
    }
    <h1 class="lichess_title"><span@if(isOnline(u.id)) { class="connected" } data-icon="r"></span> @u.username</h1>
    <span class="rating">RATING <strong title="Glicko rating">@u.rating</strong><small title="Glicko rating deviation"> ±@u.perfs.global.glicko.intDeviationDoubled</small></span>
    @showProgress(u.progress)
    @info.rank.map { r =>
    <span class="rank" title="@trans.rank()">RANK <strong>@r._1.localize</strong>/@{r._2/1000}k</span>
    }
    @if(u.disabled) {
    <span class="staff">CLOSED</span>
    }
  </div>
  <div class="social content_box_inter">
    <a class="intertab" href="@routes.Relation.following(u.username)">@splitNumber(trans.nbFollowing(info.nbFollowing))</a>
    <a class="intertab" href="@routes.Relation.followers(u.username)">@splitNumber(trans.nbFollowers(info.nbFollowers))</a>
    @info.nbBlockers.map { nb =>
    <a class="intertab">@splitNumber(nb + " Blockers")</a>
    }
    <span class="intertab">@splitNumber(u.toints + " " + trans.tournamentPoints())</span>
    <a class="intertab" href="@routes.ForumPost.search("user:" + u.username, 1)">@splitNumber(info.nbPosts + " Forum posts")</a>
    @if(ctx.isAuth) {
    <a class="intertab note_zone_toggle">@splitNumber(notes.size + " Notes")</a>
    }
    <div class="relation_actions">
      @if(ctx is u) {
      <a class="button" href="@routes.Account.profile">
        <span data-icon="q"> @trans.editProfile()</span>
      </a>
      }
      @if(isGranted(_.UserSpy)) {
      <a class="button mod_zone_toggle" href="@routes.User.mod(u.username)" title="Mod zone"><span data-icon="y"></span></a>
      }
      @if(ctx.isAuth && !ctx.is(u)) {
      @relation.actions(u.id, playing = playing, relation = rel)
      <a data-icon="!" title="@trans.reportXToModerators(u.username)" class="button" href="@routes.Report.form?username=@u.username"></a>
      } else {
      <form id="exportform" action="@routes.User.export(u.username)" method="POST">
        <a class="button" onclick="document.getElementById('exportform').submit();" title="@trans.exportGames()"><span data-icon="x"></span></a>
      </form>
      }
    </div>
  </div>
  <div class="note_zone">
    @if(!(ctx is u)) {
    <form class="wide" action="@routes.User.writeNote(u.username)?note" method="post">
      <textarea name="text" placeholder="Write a note about this user only you and your friends can read"></textarea>
      <button type="submit" class="button">@trans.send()</button>
    </form>
    }
    @if(notes.isEmpty) {
    <div>No note yet</div>
    }
    @if(!ctx.is(u) || notes.nonEmpty) {
    @notes.map { note =>
    <div>
      <p class="meta">@userIdLink(note.from.some)<br />@momentFromNow(note.date)</p>
      <p class="text">@autoLink(note.text)</p>
    </div>
    }
    }
  </div>
  <div class="mod_zone"></div>
  <div class="meat">
    @info.ratingChart.map { ratingChart =>
    <div class="rating_history" title="Rating history" data-rows="@ratingChart">
      <span>Chart loading&#8230;</span>
    </div>
    }
    <div class="user-infos">
      @if(u.engine && ctx.me.fold(true)(u !=)) {
      <div class="warning engine_warning">
        <span data-icon="j" class="is4"></span>
        @trans.thisPlayerUsesChessComputerAssistance()
      </div>
      } else {
      @u.title.flatMap(lila.user.User.titlesMap.get).map { title =>
      <p data-icon="E" class="title"> @title</p>
      }
      }
      @u.profile.map { p =>
      @p.nonEmptyRealName.map { name =>
      <strong class="name">@name</strong>
      }
      @p.nonEmptyBio.map { bio =>
      <p class="bio">@shorten(bio, 400)</p>
      }
      }
      <div class="stats">
        @u.profileOrDefault.nonEmptyLocation.map { l =>
        <span class="location">@l</span>,
        }
        @u.profileOrDefault.countryInfo.map {
        case (code, name) => {
        <span class="country"><img class="flag" src="@routes.Assets.at(s"images/flags/$code.png")" /> @name</span>
        }
        }
        @u.lang.flatMap(langName).map { name =>
        <span data-icon="c"> @name</span>
        }
        <p class="thin">@trans.memberSince() @showDate(u.createdAt)</p>
        @u.seenAt.map { seen =>
        <p class="thin">@trans.lastLogin() @momentFormat(seen)</p>
        }
        <a href="@routes.User.opponents(u.username)">@trans.favoriteOpponents()</a>
        <div class="teams">
          @teamIds(u.id).sortBy(t => !myTeam(t)).map { teamId =>
          @teamLink(teamId, ("revert-underline" + myTeam(teamId).fold(" mine", "")).some)
          }
        </div>
      </div>
    </div>
  </div>
  @if(u.hasGames) {
  <div class="content_box_inter tabs">
    @filters.list.map { f =>
    <a class="intertab@{ (filters.current == f).??(" active") }" href="@routes.User.showFilter(u.username, f.name)">
      @userGameFilterTitle(info, f)
    </a>
    }
  </div>
  @if(filters.current.name == "me") {
  @info.crosstable.map { c =>
  @game.crosstable(c)
  }
  }
  <div class="games infinitescroll all_games">
    @games.nextPage.map { np =>
    <div class="pager none"><a href="@routes.User.showFilter(u.username, filters.current.name, np)">Next</a></div>
    }
    @game.widgets(games.currentPageResults, user = u.some, ownerLink = ctx is u)
  </div>
  }
</div>
}
