@(users: List[lila.relation.Related])(implicit ctx: Context)

<table class="slist">
  @if(users.size > 0) {
  <tbody class="infinitescroll">
    @users.map { r =>
    <tr>
      <td>@userLink(r.user)</td>
      <td>@r.user.rating Rating</td>
      <td>@r.user.count.game @trans.games()</td>
      <td><div class="relation_actions">@relation.actions(r.user.id, relation = r.relation, followable = r.followable)</div></td>
    </tr>
    }
  </tbody>
  } else {
  <tbody>
    <tr><td colspan="2">None found.<br /></td></tr>
  </tbody>
  }
</table>
