@(users: List[User], title: Any, last: Boolean = false, moreUrl: Option[String] = None, icon: Option[String] = None)(f: User => Any)(implicit ctx: Context)

<div class="user_top@{ last.??(" last") }">
  <h2 @icon.map { i => data-icon="@i" }>
    @moreUrl.map { url =>
    <a href="@url">@title</a>
    }.getOrElse {
    @title
    }
  </h2>
  <table>
    <tbody>
      @users.map { u =>
      <tr>
        <td>@userLink(u, withRating = false, cssClass="revert-underline".some)</td>
        @f(u)
      </tr>
      }
    </tbody>
  </table>
</div>
