@(perfType: lidraughts.rating.PerfType, users: List[lidraughts.user.User.LightPerf])(implicit ctx: Context)

@title = @{ s"${perfType.name} top 200" }

@user.layout(
title = title,
openGraph = lidraughts.app.ui.OpenGraph(
title = s"Leaderboard of ${perfType.name}",
url = s"$netBaseUrl${routes.User.top200(perfType.key).url}",
description = s"The 200 best draughts players in ${perfType.name}, sorted by rating").some,
withInfScroll = false) {
<div class="content_box small_box">
  <h1>
    <a href="@routes.User.list" data-icon="I" class="text">@title</a>
  </h1>
  <br />
  <br />
  <table class="slist">
    <tbody>
      @users.zipWithIndex.map {
      case (u, i) => {
      <tr>
        <td>@(i + 1)</td>
        <td>@lightUserLink(u.user)</td>
        <td>@u.rating</td>
        <td>@showProgress(u.progress)</td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>
}
