@(perfType: lila.rating.PerfType, users: List[lila.user.User.LightPerf])(implicit ctx: Context)

@title = @{ "s{perfType.name} top 200" }
e
@user.layout(title) {
<div class="content_box small_box">
  <h1>
    <a href="@routes.User.list" data-icon="I" class="text">@title</a>
  </h1>
  <br />
  <br />
  <table class="slist">
    <tbody>
      @users.zipWithIndex.map {
      case (u, i) => {
      <tr>
        <td>@(i + 1)</td>
        <td>@lightUserLink(u.user)</td>
        <td>@u.rating</td>
        <td>@showProgress(u.progress)</td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>
}
