@(users: List[(User, Int)], title: Any, last: Boolean = false, icon: Option[String] = None)(implicit ctx: Context)

<div class="user_top@{ last.??(" last") }">
  <h2 @icon.map { i => data-icon="@i" }> @title</h2>
  <table>
    <tbody>
      @users.map { u =>
      <tr>
        <td>@userLink(u._1, withRating = false, cssClass="revert-underline".some)</td>
        <td><span class="hint--bottom" data-hint="Number of games played">#@u._2.localize</span></td>
      </tr>
      }
    </tbody>
  </table>
</div>
