@(o: User, playbans: Option[Int])(implicit ctx: Context)
<div class="user_marks">
  @playbans.map { nb => <i title="Playban" data-icon="p"></i>@nb }
  @if(o.troll){<i title="Shadowban" data-icon="c"></i>}
  @if(o.booster){<i title="Boosting" data-icon="9"></i>}
  @if(o.engine){<i title="Engine" data-icon="n"></i>}
  @if(o.ipBan){<i title="IP ban" data-icon="2" class="is-red"></i>}
  @if(o.disabled){<i title="Closed" data-icon="k"></i>}
  @if(o.reportban){<i title="Reportban" data-icon="!"></i>}
</div>
