@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/theme';

#notify-app {
  @extend %box-radius-left;

  overflow: hidden;
  width: 25rem;
  max-width: 100vw;
  right: 0;

  .empty {
    text-align: center;
    padding: 2rem 0;
  }

  .clear {
    display: flex;
    justify-content: flex-end;
    border-bottom: theme.$border;
    min-height: 33px;

    button {
      padding: 0.5rem;
      box-shadow: unset;

      &:hover {
        color: theme.$c-bad;
        background: unset;
      }
    }
  }

  .spinner {
    margin: 50px auto;
  }

  .notifications {
    @include mixins.transition(opacity);
  }

  .notifications.scrolling {
    opacity: 0.5;
  }

  .site_notification {
    display: flex;
    padding: 0.6rem 1rem;
    border-bottom: theme.$border;
    position: relative;

    &:hover {
      background: theme.$c-bg-zebra;

      i {
        color: theme.$c-link;
        opacity: 0.9;
      }
    }

    &.new {
      background: theme.$m-secondary_bg-header-dropdown_mix_27;

      i {
        color: theme.$c-secondary;
        opacity: 0.7;
      }

      &:hover {
        background: theme.$m-secondary_bg-header-dropdown_mix_36;

        i {
          opacity: 1;
        }
      }
    }

    i {
      font-size: 2em;
      opacity: 0.5;
      margin-right: 1rem;
    }
  }

  .pager {
    display: block;
    padding: 0.5rem;
    min-height: 33px;
    text-align: center;

    &.disabled::before {
      opacity: 0.3;
    }

    &:not(.disabled) {
      cursor: pointer;
      color: theme.$c-link;

      @include mixins.transition;
    }

    &:not(.disabled):hover {
      background: theme.$c-primary;
      color: theme.$c-primary-over;
    }

    &.prev {
      border-bottom: theme.$border;
    }
  }

  .browser-notification {
    display: block;
    padding: 0.5em 1em;
    background: theme.$c-brag;
    color: theme.$c-brag-over;
  }
}

.site_notification .content {
  @extend %nowrap-hidden;

  flex: 0 1 100%;
}

.site_notification .content span:first-child {
  @extend %flex-between;
}

.site_notification .content span:last-child {
  @extend %ellipsis;

  display: block;
}

.site_notification .content time {
  @extend %roboto;
}
