@(daily: lidraughts.puzzle.DailyPuzzle)(implicit ctx: Context)

<!doctype html>
<html lang="@lang.language">
  <head>
    <title>lidraughts.org training</title>
    @ctx.currentBg match {
    case "dark" => { @cssTag("dark.css") }
    case "transp" => { @cssTag("dark.css")@cssTag("transp.css") }
    case _ => {}
    }
    @cssTag(s"piece/wide_crown.css")
    @cssTag("common.css")
    @cssTag("board.css")
    <meta charset="utf-8">
  </head>
  <body
    class="base highlight
    @if(ctx.currentBg == "transp") {"dark transp"} else {@ctx.currentBg} @ctx.currentTheme.cssClass"
    style="width: 224px; height: 264px; overflow: hidden; background: none!important">
    <div id="daily_puzzle" class="is2d highlight wide_crown" title="@trans.clickToSolve()">
      @daily.html
      <div class="vstext" style="text-align: center">
        @trans.puzzleOfTheDay()<br />
        @daily.color.fold(trans.whitePlays, trans.blackPlays)()
      </div>
    </div>
    @jsTag("vendor/draughtsground.min.js")
    @jsTagCompiled("puzzle.js")
  </body>
</html>

