@(daily: lila.puzzle.DailyPuzzle, bg: String, theme: String)(implicit ctx: Context)

<!doctype html>
<html>
  <head>
    <title>lichess.org training</title>
    @if(bg == "dark") {
    @cssTag("dark.css")
    }
    @cssTag(s"piece/merida.css")
    @cssTag("common.css")
    @cssTag("board.css")
    <meta charset="utf-8">
  </head>
  <body
    class="base highlight @bg no-bg"
    style="width: 224px; height: 264px; overflow: hidden;">
    <div id="daily_puzzle" class="is2d highlight @bg @theme merida" title="@trans.clickToSolve()">
      @daily.html
      <div class="vstext" style="text-align: center">
        @trans.puzzleOfTheDay()<br />
        @daily.color.fold(trans.whitePlays, trans.blackPlays)()
      </div>
    </div>
    @jsTag("vendor/chessground.min.js")
    @jsTagCompiled("puzzle.js")
    @base.ga()
  </body>
</html>

