@(daily: lila.puzzle.DailyPuzzle)(implicit ctx: Context)

<!doctype html>
<html>
  <head>
    <title>lichess.org training</title>
    @ctx.currentBg match {
    case "dark" => { @cssTag("dark.css") }
    case "transp" => { @cssTag("dark.css")@cssTag("transp.css") }
    case _ => {}
    }
    @cssTag(s"piece/merida.css")
    @cssTag("common.css")
    @cssTag("board.css")
    <meta charset="utf-8">
  </head>
  <body
    class="base highlight
    @if(ctx.currentBg == "transp") {"dark transp"} else {@ctx.currentBg} no-bg
    @ctx.currentTheme.cssClass"
    style="width: 224px; height: 264px; overflow: hidden;">
    <div id="daily_puzzle" class="is2d highlight merida" title="@trans.clickToSolve()">
      @daily.html
      <div class="vstext" style="text-align: center">
        @trans.puzzleOfTheDay()<br />
        @daily.color.fold(trans.whitePlays, trans.blackPlays)()
      </div>
    </div>
    @jsTag("vendor/chessground.min.js")
    @jsTagCompiled("puzzle.js")
    @base.ga()
  </body>
</html>

