@(userInfos: lila.puzzle.UserInfos)(implicit ctx: Context)

<div class="undertable">
  <div class="undertable_top">
    <span class="title">@trans.recentlyPlayedPuzzles()</span>
  </div>
  <div class="undertable_inner scroll-shadow-soft">
    <div class="content">
      <table>
        <tbody>
          @userInfos.history.map { attempt =>
          <tr>
            <td>
              <a class="user_link ulpt" href="@routes.User.show(userInfos.user.username)">
                @userInfos.user.username (@attempt.userRating) @showRatingDiff(attempt.userRatingDiff)
              </a>
            </td>
            <td>
              <a class="user_link" href="@routes.Puzzle.show(attempt.puzzleId)">
                @trans.puzzleId(attempt.puzzleId) (@attempt.puzzleRating) @showRatingDiff(attempt.puzzleRatingDiff)
              </a>
            </td>
            <td>
              @showMillis(attempt.time) s
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
