@(title: String, evenMoreCss: Option[Html] = None, evenMoreJs: Option[Html] = None)(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("chessground.css")
@cssTag("training.css")
@cssTag("puzzle.css")
@evenMoreCss
}

@moreJs = {
@jsTag("vendor/chess.min.js")
@jsTagCompiled("chessboard.js")
@jsTag("vendor/sparkline.min.js")
@if(true && isProd) {
@jsAt("compiled/puzzle/puzzle.prod.js")
} else {
@jsAt("compiled/puzzle/out/goog/base.js")
@jsAt("compiled/puzzle/puzzle.dev.js")
@embedJs {
goog.require('org.lichess.puzzle');
}
}
@evenMoreJs
}

@base.layout(
title = title,
moreCss = moreCss,
moreJs = moreJs,
active = siteMenu.puzzle.some) {
@body
}
