@(puzzle: lila.puzzle.Puzzle, userInfos: Option[lila.puzzle.UserInfos], asPlay: Boolean)(implicit ctx: Context)

<div id="puzzle" class="training playing"
  data-mode="@asPlay.fold("play", "try")"
  data-fen="@puzzle.fen"
  data-color="@puzzle.color"
  data-move="@puzzle.initialMove"
  data-lines="@lila.puzzle.Line.toJsonString(puzzle.lines)"
  data-post-url="@routes.Puzzle.attempt(puzzle.id)">

  <div class="side">
    @trainingBox(puzzle, userInfos, true)
    <div class="comment retry none"><h3><strong>@trans.goodMove()</strong></h3>@trans.butYouCanDoBetter()</div>
    <div class="comment great none"><h3 data-icon="E"> <strong>@trans.bestMove()</strong></h3>@trans.keepGoing()</div>
    @if(asPlay) {
    <div class="comment fail none"><h3 data-icon="k"> <strong>@trans.puzzleFailed()</strong></h3></div>
    } else {
    <div class="comment fail none"><h3 data-icon="k"> <strong>@trans.puzzleFailed()</strong></h3>@trans.butYouCanKeepTrying()</div>
    }
  </div>

  <div class="center">

    <div id="chessboard_wrap">
      <div id="chessboard"></div>
    </div>

    @userInfos.map(history(_))

  </div>

  <div class="right">
    <div class="lichess_table onbg">
      <div class="table_inner">

        <div class="lichess_current_player">
          <div class="lichess_player white @puzzle.color.black.fold("", " none")">
            <div class="piece king white"></div>
            <p>@puzzle.color.white.fold(trans.yourTurn(), trans.waiting())</p>
          </div>
          <div class="lichess_player black @puzzle.color.white.fold("", " none")">
            <div class="piece king black"></div>
            <p>@puzzle.color.black.fold(trans.yourTurn(), trans.waiting())</p>
          </div>
        </div>
        <div class="lichess_control">
          <a class="giveup button">@trans.giveUp()</a>
        </div>
      </div>
    </div>
  </div>
</div>
