@(puzzle: lila.puzzle.Puzzle, userInfos: Option[lila.puzzle.UserInfos], asPlay: Boolean)(implicit ctx: Context)

<div id="puzzle" class="playing"
  data-mode="@asPlay.fold("play", "try")"
  data-fen="@puzzle.fen"
  data-color="@puzzle.color"
  data-move="@puzzle.initialMove"
  data-lines="@lila.puzzle.Line.toJsonString(puzzle.lines)"
  data-post-url="@routes.Puzzle.attempt(puzzle.id)">

  <div class="side">
    @trainingBox(puzzle, userInfos, true)
    <div class="comment retry none"><h3><strong>Good move</strong></h3>But you can do better.</div>
    <div class="comment great none"><h3 data-icon="E"> <strong>Best move!</strong></h3>Keep going&#8230;</div>
    @if(asPlay) {
    <div class="comment fail none"><h3 data-icon="k"> <strong>Puzzle failed</strong></h3></div>
    } else {
    <div class="comment fail none"><h3 data-icon="k"> <strong>Puzzle failed</strong></h3>But you can keep trying.</div>
    }
  </div>

  <div class="center">

    <div id="chessboard_wrap">
      <div id="chessboard"></div>
    </div>

    @userInfos.map(history(_))

  </div>

  <div class="right">
    <div class="lichess_table onbg">
      <div class="table_inner">

        <div class="lichess_current_player">
          <div class="lichess_player white @puzzle.color.black.fold("", " none")">
            <div class="lichess_piece king white"></div>
            <p>@puzzle.color.white.fold(trans.yourTurn(), trans.waiting())</p>
          </div>
          <div class="lichess_player black @puzzle.color.white.fold("", " none")">
            <div class="lichess_piece king black"></div>
            <p>@puzzle.color.black.fold(trans.yourTurn(), trans.waiting())</p>
          </div>
        </div>
        <div class="lichess_control">
          <a class="giveup button">Give up</a>
        </div>
      </div>
    </div>
  </div>
</div>
