@(puzzle: lila.puzzle.Puzzle, userInfos: Option[lila.puzzle.UserInfos], asPlay: Boolean)(implicit ctx: Context)

<div id="puzzle" class="playing"
  data-mode="@asPlay.fold("play", "try")"
  data-fen="@puzzle.fen"
  data-color="@puzzle.color"
  data-move="@puzzle.initialMove"
  data-lines="@lila.puzzle.Line.toJsonString(puzzle.lines)"
  data-post-url="@routes.Puzzle.attempt(puzzle.id)"
  data-view-url="@routes.Puzzle.view(puzzle.id)">

  <div class="side">
    @trainingBox(userInfos)
    <p class="comment retry none"><strong>Good move</strong> But you can do better.</p>
    <p class="comment great none"><strong>Best move!</strong> Keep going...</p>
    @if(asPlay) {
    <p class="comment fail none"><strong>Puzzle failed</strong></p>
    } else {
    <p class="comment fail none"><strong>Puzzle failed</strong> But you can keep trying.</p>
    }
  </div>

  <div class="center">

    <div id="chessboard"></div>

    @userInfos.map(history(_))

  </div>

  <div class="right">
    <div class="lichess_table">
      <div class="table_inner">

        <div class="lichess_current_player">
          <div class="lichess_player white @puzzle.color.black.fold("", " none")">
            <div class="lichess_piece king white"></div>
            <p>@puzzle.color.white.fold(trans.yourTurn(), trans.waiting())</p>
          </div>
          <div class="lichess_player black @puzzle.color.white.fold("", " none")">
            <div class="lichess_piece king black"></div>
            <p>@puzzle.color.black.fold(trans.yourTurn(), trans.waiting())</p>
          </div>
        </div>
        <div class="lichess_control">
          <a class="giveup button">Give up</a>
        </div>
      </div>
    </div>
  </div>
</div>
