@(puzzle: lidraughts.puzzle.Puzzle, data: play.api.libs.json.JsObject, pref: play.api.libs.json.JsObject)(implicit ctx: Context)

@import lidraughts.rating.PerfType.iconByVariant

@moreJs = {
@jsTag("vendor/sparkline.min.js")
@jsAt(s"compiled/lidraughts.puzzle${isProd??(".min")}.js")
@embedJs {
lidraughts = lidraughts || {};
lidraughts.puzzle = { data: @toJsonHtml(data), pref: @toJsonHtml(pref), i18n: @bits.jsI18n.toHtml };
}
}

@side = {
<div class="mselect">
  <div class="button" data-icon="@iconByVariant(puzzle.variant)">
    @{s"${puzzle.variant.name} ${trans.training.txt().toLowerCase}"}
    <i data-icon="u"></i>
  </div>
  <div class="list">
    @lidraughts.pref.Pref.puzzleVariants.map { v =>
    <a data-icon="@iconByVariant(v)" href="@routes.Puzzle.showOrVariant(v.key)">@{s"${v.name} ${trans.training.txt().toLowerCase}"}</a>
    }
  </div>
</div>
<div class="puzzle_side"></div>
}

@base.layout(
title = trans.training.txt(),
side = side.some,
moreCss = cssTags("analyse.css", "puzzle.css"),
moreJs = moreJs,
draughtsground = false,
openGraph = lidraughts.app.ui.OpenGraph(
image = cdnUrl(routes.Export.puzzlePngVariant(puzzle.id, puzzle.variant.key).url).some,
title = s"Draughts tactic #${puzzle.id} - ${puzzle.color.name.capitalize} to play",
url = s"$netBaseUrl${routes.Lobby.home.url}",
description = s"Lidraughts tactic trainer: " + puzzle.color.fold(
trans.findTheBestMoveForWhite,
trans.findTheBestMoveForBlack
).txt() + s" Played by ${puzzle.attempts} players.").some,
zoomable = true) {
<div id="puzzle" class="cg-512">
  @board.bits.domPreload(none).toHtml
</div>
}.toHtml
