@(puzzle: lila.puzzle.Puzzle, userInfos: Option[lila.puzzle.UserInfos], mode: String, animationDuration: scala.concurrent.duration.Duration)(implicit ctx: Context)

@evenMoreJs = {
@helper.javascriptRouter("puzzleRoutes")(
routes.javascript.Puzzle.attempt,
routes.javascript.Puzzle.show,
routes.javascript.Puzzle.history,
routes.javascript.Puzzle.difficulty,
routes.javascript.Puzzle.home,
routes.javascript.Puzzle.newPuzzle,
routes.javascript.Puzzle.load,
routes.javascript.Puzzle.vote,
routes.javascript.Coordinate.home,
routes.javascript.Editor.load,
routes.javascript.Round.watcher,
routes.javascript.Auth.signup
)(ctx.req)
@embedJs {
LichessPuzzle(
document.querySelector('#lichess .round'),
@JsData(puzzle, userInfos, mode, animationDuration = animationDuration),
puzzleRoutes.controllers,
@Html(J.stringify(i18nJsObject(
trans.training,
trans.yourPuzzleRatingX,
trans.goodMove,
trans.butYouCanDoBetter,
trans.bestMove,
trans.keepGoing,
trans.puzzleFailed,
trans.butYouCanKeepTrying,
trans.yourTurn,
trans.waiting,
trans.findTheBestMoveForBlack,
trans.findTheBestMoveForWhite,
trans.giveUp,
trans.victory,
trans.puzzleSolvedInXSeconds,
trans.fromGameLink,
trans.boardEditor,
trans.continueFromHere,
trans.playWithTheMachine,
trans.playWithAFriend,
trans.wasThisPuzzleAnyGood,
trans.pleaseVotePuzzle,
trans.thankYou,
trans.puzzleId,
trans.ratingX,
trans.playedXTimes,
trans.startTraining,
trans.continueTraining,
trans.retryThisPuzzle,
trans.toTrackYourProgress,
trans.signUp,
trans.trainingSignupExplanation)))
);
}
}

@layout(trans.training.str(), evenMoreJs = Some(evenMoreJs)) {
<div class="round cg-512">@miniBoardContent</div>
}
