@(puzzle: lila.puzzle.Puzzle, data: play.api.libs.json.JsObject, pref: play.api.libs.json.JsObject)(implicit ctx: Context)

@moreJs = {
@jsTag("vendor/sparkline.min.js")
@jsAt(s"compiled/lichess.puzzle${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.puzzle = {
data: @toJson(data),
pref: @toJson(pref),
i18n: @bits.jsI18n
};
}
}

@base.layout(
title = trans.training.txt(),
side = Html("""<div class="puzzle_side"></div>""").some,
moreCss = cssTags("analyse.css", "puzzle.css"),
moreJs = moreJs,
chessground = false,
openGraph = lila.app.ui.OpenGraph(
image = cdnUrl(routes.Export.puzzlePng(puzzle.id).url).some,
title = s"Chess tactic #${puzzle.id} - ${puzzle.color.name.capitalize} to play",
url = s"$netBaseUrl${routes.Puzzle.show(puzzle.id).url}",
description = s"Lichess tactic trainer: " + puzzle.color.fold(
trans.findTheBestMoveForWhite,
trans.findTheBestMoveForBlack
).txt() + s" Played by ${puzzle.attempts} players.").some,
zoomable = true) {
<div id="puzzle" class="cg-512">
  @board.domPreload(none)
</div>
}
