@(puzzle: lila.puzzle.Puzzle, userInfos: Option[lila.puzzle.UserInfos], isPlay: Boolean)(implicit ctx: Context)

<div class="box">
  <h1>@trans.training()</h1>
  @userInfos.map { i =>
  @trans.yourPuzzleRatingX(s"<strong>${i.user.perfs.puzzle.intRating}</strong>")
  @if(i.history.nonEmpty) {
  <div class="user_chart" data-points="@toJson(i.chart)"></div>
  } else {
  <br />
  }
  }.getOrElse {
  @if(isPlay) {
  <p>@puzzle.color.fold(trans.findTheBestMoveForWhite(), trans.findTheBestMoveForBlack())</p>
  } else {
  <p>@trans.toTrackYourProgress()</p>
  <p class="signup">
    <a class="button" href="@routes.Auth.signup">@trans.signUp()</a>
  </p>
  <p>@trans.trainingSignupExplanation()</p>
  }
  }
</div>

@if(ctx.isAuth) {
<form class="difficulty" action="@routes.Puzzle.difficulty" method="POST">
  @lila.pref.Pref.Difficulty.choices.map {
  case (id, name) => {
  <button type="submit" name="difficulty" value="@id"
    @if(id == ctx.pref.puzzleDifficulty) { class="ui-state-active" disabled }>@name</button>
  }
  }
</form>
}
