@(puzzle: lila.puzzle.Puzzle, userInfos: Option[lila.puzzle.UserInfos], isPlay: Boolean)(implicit ctx: Context)

<div class="box">
  <h1>Training</h1>
  @userInfos.map { i =>
  Your puzzle rating: <strong>@i.user.perfs.puzzle.intRating</strong>
  @if(i.history.nonEmpty) {
  <div class="user_chart" data-points="@toJson(i.chart)"></div>
  } else {
  <br />
  }
  }.getOrElse {
  @if(isPlay) {
  <p>Find the best move for @{puzzle.color.name}.</p>
  } else {
  <p>To track your progress:</p>
  <p class="signup">
    <a class="button" href="@routes.Auth.signup">Create a username</a>
  </p>
  <p>
    Lichess will provide puzzles that match your ability, making for better training sessions.
  </p>
  }
  }
</div>
