@(puzzle: lila.puzzle.Puzzle, userInfos: Option[lila.puzzle.UserInfos], isPlay: Boolean)(implicit ctx: Context)

<div class="box">
  <h1>@trans.training()</h1>
  <div class="tabs buttons">
    <a href="@routes.Puzzle.home()" class="button active">@trans.puzzles()</a>
    <a href="@routes.Coordinate.home()" class="button">@trans.coordinates()</a>
  </div>
  @userInfos.map { i =>
  <div class="chart_container">
    <p>@trans.yourPuzzleRatingX(s"<strong>${i.user.perfs.puzzle.intRating}</strong>")</p>
    @if(i.history.nonEmpty) {
    <div class="user_chart" data-points="@toJson(i.chart)"></div>
    }
  </div>
  }.getOrElse {
  <div class="register">
    <p>@trans.toTrackYourProgress()</p>
    <p class="signup">
      <a class="button" href="@routes.Auth.signup">@trans.signUp()</a>
    </p>
    <p>@trans.trainingSignupExplanation()</p>
  </div>
  }
</div>

@if(ctx.isAuth) {
<form class="difficulty buttons" action="@routes.Puzzle.difficulty" method="POST">
  @lila.pref.Pref.Difficulty.choices.map {
  case (id, name) => {
  <button type="submit" name="difficulty" value="@id"
    @if(id == ctx.pref.puzzleDifficulty) { class="ui-state-active" disabled }>@name</button>
  }
  }
</form>
}
