@(puzzle: lila.puzzle.Puzzle, attempt: Option[lila.puzzle.Attempt])(implicit ctx: Context)

@moreCss = {
@cssTag("chessboardjs.css")
}

@moreJs = {
@jsTag("vendor/chess.min.js")
@jsTagCompiled("chessboard.js")
@jsAt("compiled/puzzle.js")
}

@goodies = {
@infoBox(puzzle, attempt)
}

@layout("Puzzle " + puzzle.id,
goodies = goodies.some,
evenMoreCss = moreCss.some,
evenMoreJs = moreJs.some) {

<div id="puzzle">
  <div class="center">

    <div id="chessboard" class="end"
      data-fen="@puzzle.fen"
      data-color="@puzzle.color"
      data-move="@puzzle.initialMove"
      data-lines="@lila.puzzle.Line.toJsonString(puzzle.lines)"></div>

    <div class="prev_next">
      <button class="prev">&lt;</button>
      <button class="next">&gt;</button>
    </div>

  </div>
</div>
}
