@(puzzle: lila.puzzle.Puzzle, attempt: Option[lila.puzzle.Attempt], userInfos: Option[lila.puzzle.UserInfos])(implicit ctx: Context)

<div id="puzzle"
  data-mode="view"
  data-fen="@puzzle.fen"
  data-color="@puzzle.color"
  data-move="@puzzle.initialMove"
  data-lines="@lila.puzzle.Line.toJsonString(puzzle.lines)"
  data-new-url="@routes.Puzzle.newPuzzle">

  <div class="side">
    @trainingBox(userInfos)
    @attempt.map { a =>
    @if(a.win) {
    <p class="comment win"><strong>Victory!</strong>Puzzle solved in @showMillis(a.time) seconds.</p>
    } else {
    <p class="comment loss">Puzzle failed.</p>
    }
    }
  </div>

  <div class="center">

    <div id="chessboard"></div>

    <div class="prev_next">
      <button class="prev button" value="prev">&lt;</button>
      <button class="next button" value="next">&gt;</button>
    </div>

    @userInfos.map(history(_))

  </div>

  <div class="right">
    <div class="box">
      <div class="vote_wrap">@vote(puzzle, attempt)</div>
      <h2 class="puzzle_link">
        <a href="@routes.Puzzle.show(puzzle.id)">Puzzle @puzzle.id</a>
      </h2>
      @*
      @puzzle.gameId.map { id =>
      <p>From game: <a href="@routes.Round.watcher(id, puzzle.color.name)">#@id</a></p>
      }
      <p>
        Moves: @puzzle.depth
      </p>
      *@
      <p>
        Rating: <strong>@puzzle.perf.intRating</strong>
        <small title="Glicko rating deviation"> ±@puzzle.perf.glicko.intDeviationDoubled</small>
      </p>
      <p>
        Played <strong>@puzzle.attempts</strong> times
      </p>
      <p>
        Win rate: <strong>@puzzle.winPercent</strong>%
      </p>
      <p>
        Average time: <strong>@showMillis(puzzle.time)</strong> seconds
      </p>
    </div>
    <button class="continue button">&#9654; Continue training</button>
  </div>

</div>
