@(puzzle: lila.puzzle.Puzzle, attempt: Option[lila.puzzle.Attempt], userInfos: Option[lila.puzzle.UserInfos], win: Option[Boolean])(implicit ctx: Context)

<div id="puzzle"
  data-mode="view"
  data-fen="@puzzle.fen"
  data-color="@puzzle.color"
  data-move="@puzzle.initialMove"
  data-lines="@lila.puzzle.Line.toJsonString(puzzle.lines)"
  data-new-url="@routes.Puzzle.newPuzzle">

  <div class="side">
    @trainingBox(puzzle, userInfos, false)
    @win.map { w =>
    @if(w) {
    <div class="comment win"><h3><strong>Victory!</strong></h3></div>
    } else {
    <div class="comment loss"><h3><strong>Puzzle failed</strong></h3></div>
    }
    }.getOrElse {
    @attempt.map { a =>
    @if(a.win) {
    <div class="comment win">
      <h3><strong>Victory!</strong><strong class="rating"> @showNumber(a.userRatingDiff)</strong></h3>
      Puzzle solved in @a.seconds seconds.
    </div>
    } else {
    <div class="comment loss">
      <h3><strong>Puzzle failed</strong><strong class="rating"> @showNumber(a.userRatingDiff)</strong></h3>
    </div>
    }
    }
    }
  </div>

  <div class="center">

    <div id="chessboard_wrap">
      <div id="chessboard"></div>
    </div>

    <div class="prev_next">
      <button class="prev button" value="prev">&lt;</button>
      <button class="next button" value="next">&gt;</button>
    </div>

    @userInfos.map(history(_))

  </div>

  <div class="right">
    <div class="box">
      <div class="vote_wrap">@vote(puzzle, attempt)</div>
      <h2 class="puzzle_link">
        <a href="@routes.Puzzle.show(puzzle.id)">Puzzle @puzzle.id</a>
      </h2>
      <p>
        Rating: <strong>@puzzle.perf.intRating</strong>
        <small title="Glicko rating deviation"> ±@puzzle.perf.glicko.intDeviationDoubled</small>
      </p>
      <p>
        Played
        @puzzle.attempts match {
        case 1 => { <strong>once</strong> }
        case 2 => { <strong>twice</strong> }
        case x => { <strong>@x</strong> times }
        }
      </p>
      <p>
        Win rate: <strong>@puzzle.winPercent</strong>%
      </p>
    </div>
    <div class="continue_wrap">
      @if(win.isDefined) {
      <a class="continue button" href="@routes.Puzzle.home">Start training &#9654;</a>
      } else {
      <button class="continue button">Continue training &#9654;</button>
      }
      @if(win.fold(attempt.exists(_.loss))(!_)) {
      <a class="retry" href="@routes.Puzzle.show(puzzle.id)">Retry this puzzle</a>
      }
    </div>
  </div>

</div>
