@(puzzle: lila.puzzle.Puzzle, attempt: Option[lila.puzzle.Attempt])(implicit ctx: Context)

@if(puzzle.enabled) {
<div class="upvote @if(attempt.isDefined) { enabled }"
  data-post-url="@routes.Puzzle.vote(puzzle.id)">
  <a
    title="@trans.thisPuzzleIsCorrect()"
    data-vote="1"
    data-icon="S"
    class="upvote @if(attempt.flatMap(_.vote) == Some(true)) { active }"></a>
  <span data-hint="Popularity" class="count hint--bottom">@puzzle.vote.sum</span>
  <a
    title="@trans.thisPuzzleIsWrong()"
    data-vote="0"
    data-icon="R"
    class="downvote @if(attempt.flatMap(_.vote) == Some(false)) { active }"></a>
</div>
}
