@(dashboard: lila.irwin.IrwinDashboard)(implicit ctx: Context)

@percentClass(percent: Int) = { @percent match {
case p if p < 30 => {green}
case p if p < 60 => {yellow}
case p if p < 80 => {orange}
case _ => {red}
} }

@base.layout(
title = "Irwin dashboard",
moreCss = responsiveCssTag("mod.misc")) {
<main class="page-menu">
  @mod.menu("irwin").toHtml
  <div class="irwin page-menu__content box">
    <div class="box__top">
      <h1>
        Irwin status:
        @if(dashboard.seenRecently) {
        <span class="up">Operational</span>
        } else {
        <span class="down">
          @dashboard.lastSeenAt.map { seenAt =>
          Last seen @momentFromNow(seenAt).toHtml
          }.getOrElse {
          Unknown
          }
        </span>
        }
      </h1>
      <div class="box__top__actions">
        <a href="https://monitor.lichess.ovh/dashboard/db/lichess-moderation" class="button button-empty">Monitoring</a>
      </div>
    </div>
    <table class="slist slist-pad">
      <thead>
        <tr>
          <th>Recent report</th>
          <th>Completed</th>
          <th>Owner</th>
          <th>Activation</th>
        </tr>
      </thead>
      <tbody>
        @dashboard.recent.map { rep =>
        <tr class="report">
          <td>
            @userIdLink(rep.suspectId.value.some, params = "?mod").toHtml
          </td>
          <td class="little completed">
            @momentFromNow(rep.date).toHtml
          </td>
          <td>@rep.owner</td>
          <td class="little activation @percentClass(rep.activation)">
            <strong>@rep.activation%</strong>
            over @rep.games.size games
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
}.toHtml
