@(report: lila.irwin.IrwinReport.WithPovs)(implicit ctx: Context)

@percentClass(percent: Int) = { @percent match {
case p if p < 30 => {green}
case p if p < 60 => {yellow}
case p if p < 80 => {orange}
case _ => {red}
} }

<div id="mz_irwin">
  <header>
    <a class="title" href="@routes.Irwin.dashboard">
      <img src="@staticUrl("images/icons/brain.blue.svg")" />
      Irwin AI<br />
      Hunter
    </a>
    <div class="infos">
      <p>Updated @momentFromNow(report.report.date).toHtml</p>
    </div>
    <div class="assess text">
      <strong class="@percentClass(report.report.activation)">@report.report.activation%</strong>
      Overall assessment
    </div>
  </header>
  <table class="slist">
    <tbody>
      @report.withPovs.sortBy(-_.report.activation).map {
      case lila.irwin.IrwinReport.GameReport.WithPov(gameReport, pov) => {
      <tr class="text">
        <td class="moves">
          <a href="@routes.Round.watcher(pov.gameId, pov.color.name)">
            @gameReport.moves.map { move => <span class="@percentClass(move.activation)" title="@move" style="height:@move.activation%"></span> }
          </a>
        </td>
        <td>
          <a href="@routes.Round.watcher(pov.gameId, pov.color.name)">
            @playerLink(pov.opponent, withRating = true, withDiff = true, withOnline = false, link = false)
            <br />
            @if(pov.game.isTournament) { <span data-icon="g"></span> }
            @pov.game.perfType.map { pt => <span data-icon="@pt.iconChar"></span> }
            @shortClockName(pov.game.clock.map(_.config)).toHtml -
            @momentFromNowOnce(pov.game.createdAt).toHtml
          </a>
        </td>
        <td>
          <strong class="@percentClass(gameReport.activation)">@gameReport.activation%</strong>
          <em>assessment</em>
        </td>
        <td>
          @defining(pov.game.playerBlurPercent(pov.color)) { blurs =>
          <strong class="@percentClass(blurs)">@blurs%</strong>
          }
          <em>blurs</em>
        </td>
        <td>
          @if(pov.player.holdAlert.??(_.suspicious)) {
          <strong class="@percentClass(50)">Bot?</strong>
          }
        </td>
      </tr>
      }
      }
    </tbody>
  </table>
</div>
