@(q: lila.qa.Question, as: List[lila.qa.Answer])(implicit ctx: Context)

<div class="answers-header content_box_inter">
  @as.size match {
  case 0 => {
  Be the first to answer!
  }
  case 1 => {
  One answer
  }
  case n => {
  @n Answers
  }
  }
</div>
<div class="answers">
  @as.map { a =>
  <div class="answer-wrap" id="answer-@a.id">
    <div class="side">
      @views.html.qa.vote(routes.QaAnswer.vote(q.id, a.id).url, a.vote, true)
      @if(a.accepted) {
      <span title="The question owner accepted this as the best answer" class="accept accepted" data-icon="E"></span>
      } else {
      @if(lila.qa.QaAuth canEdit q) {
      <form class="accept-form" action="@routes.QaAnswer.accept(q.id, a.id)" method="POST">
        <button type="submit"
          title="Accept this as the best answer"
          class="accept button @if(a.accepted) {accepted}" data-icon="E"></button>
      </form>
      }
      }
    </div>
    <div class="content">
      <div class="answer">
        <div class="meta">
          <span class="light">Answered @momentFromNow(a.createdAt) by @userIdLink(userIdOption=a.userId.some, modIcon=a.displayModIcon)</span>
          @if(lila.qa.QaAuth canEdit a) {
          <a class="thin button toggle-edit-answer" data-icon="m"> Edit</a>
          }
          @nope("Remove", routes.QaAnswer.remove(q.id, a.id), "thin")
          @if(isGranted(_.ModerateQa)) {
          <br />
          <form class="mod" action="@routes.QaAnswer.moveTo(q.id, a.id)" method="post">
            Move to comment of
            <button type="submit" name="to" value="question" title="Move to question comment" class="thin confirm button">Question</button>
            @as.zipWithIndex.filterNot(_._1 == a).map { x =>
            <button type="submit" name="to" value="@x._1.id" title="Move to answer @(x._2+1) comment" class="thin confirm button">
              @(x._2+1) match {
              case 1 => {first}
              case 2 => {second}
              case 3 => {third}
              case 4 => {fourth}
              case x => {@{x}th}
              }
              answer
            </button>
            }
          </form>
          }
        </div>
        <div class="body">@richText(a.body)</div>
        @if(lila.qa.QaAuth canEdit a) {
        <form class="edit-answer" action="@routes.QaAnswer.doEdit(q.id, a.id)" method="post">
          <textarea class="answer-body" name="body">@a.body</textarea>
          <button class="pure button" type="submit">Update answer</button>
        </form>
        }
        <div class="comments" id="answer-@a.id-comments">
          @views.html.qa.commentList(q, a.comments.sorted, routes.QaComment.answer(q.id, a.id).url)
        </div>
      </div>
    </div>
  </div>
  }
</div>
