@(form: Form[_], tags: List[String], popular: List[lila.qa.Question])(implicit ctx: Context)

@title = @{ "Q&A - Ask a new question" }

@layout(
title = "Ask a new question" ,
goodies = popularBox(popular).some) {

<h1>
  <a href="@routes.QaQuestion.index()" data-icon="&"></a>
  Ask a new question
</h1>

<form class="wide question" action="@routes.QaQuestion.ask()" method="post">
  @questionForm(form, tags)
  <button type="submit" class="pure submit button">Post your question</button>
</form>
}
