@(form: Form[_], tags: List[String], popular: List[lila.qa.Question], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@layout(
title = "Ask a new question" ,
side = popularBox(popular).some,
formCss = true) {

<div class="content_box_top">
  <h1 class="lichess_title">
    <a href="@routes.QaQuestion.index()" data-icon="&"></a>
    Ask a new question
  </h1>
</div>

<div class="meta content_box_inter">
  Before asking a question, please make sure it hasn't been answered already!<br />
  Use the search engine on the left.
</div>

<div class="content_box_content">
  <form class="form3 question" action="@routes.QaQuestion.ask()" method="post">
    @questionForm(form, tags, captcha)
    @form3.actions {
    <a href="@routes.QaQuestion.index()">@trans.cancel()</a>
    @form3.submit(raw("Post your question"))
    }
  </form>
</div>
}
