@(tag: String, questions: List[lidraughts.qa.Question], popular: List[lidraughts.qa.Question])(implicit ctx: Context)

@title = @{ s""""$tag" questions""" }

@layout(title = title) {

<div class="content_box_top">
  <h1 class="lidraughts_title" data-icon="o"> @tag</h1>
</div>

<div class="meta content_box_inter">
  @questions.size match {
  case 0 => { No question found. }
  case 1 => { One question found. }
  case x => { @x questions found. }
  }
</div>
<table class="previews slist">
  @questions.map { q =>
  @questionPreview(q)
  }
</table>
}
