@(q: lidraughts.qa.Question, comments: List[lidraughts.qa.Comment], action: String)(implicit ctx: Context)

@comments.map { c =>
<div class="comment" id="comment-@c.id">
  <div class="meta">
    <span class="light">@userIdLink(c.userId.some) commented @momentFromNow(c.createdAt):</span>
    @nope("Remove", routes.QaComment.remove(q.id, c.id), "q", "thin")
  </div>
  @richText(c.body)
</div>
}
@if(lidraughts.qa.QaAuth.canComment) {
<div class="your-comment @if(comments.isEmpty) {no-comment}">
  <a class="toggle" data-icon="u"> Add comment</a>
  <form action="@action" method="post">
    <textarea name="body"></textarea>
    <button class="pure button" type="submit">Post your comment</button>
  </form>
</div>
}
