@(form: Form[_], q: lila.qa.Question, tags: List[String], popular: List[lila.qa.Question], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@title = @{ s"""Edit question "${q.title}"""" }

@layout(
title = title,
side = popularBox(popular).some,
formCss = true) {

<div class="content_box_top">
  <h1 class="lichess_title">
    <a href="@routes.QaQuestion.index()" data-icon="&"></a>
    @title
  </h1>
</div>

<div class="meta content_box_inter">
  Can you make your question more precise?
</div>

<div class="content_box_content">
  <form class="question form3" action="@routes.QaQuestion.doEdit(q.id)" method="post">
    @questionForm(form, tags, captcha)
    @form3.actionsHtml {
    <a href="@routes.QaQuestion.show(q.id, q.slug)">@trans.cancel()</a>
    @form3.submit(raw("Update your question"))
    }
  </form>
</div>
}
