@(form: Form[_], q: lila.qa.Question, tags: List[String], popular: List[lila.qa.Question], captcha: lila.common.Captcha)(implicit ctx: Context)

@title = @{ s"""Edit question "${q.title}"""" }

@layout(
title = title,
side = popularBox(popular).some) {

<div class="content_box_top">
  <h1 class="lichess_title">
    <a href="@routes.QaQuestion.index()" data-icon="&"></a>
    @title
  </h1>
</div>

<div class="meta content_box_inter">
  Can you make your question more precise?
</div>

<div class="content_box_content">
  <form class="wide question" action="@routes.QaQuestion.doEdit(q.id)" method="post">
    @questionForm(form, tags, captcha)
    <button type="submit" class="pure submit button" data-icon="E"> Update your question</button>
    <a href="@routes.QaQuestion.show(q.id, q.slug)" style="margin-left:20px">@trans.cancel()</a>
  </form>
</div>
}
