@(questions: Paginator[lidraughts.qa.Question], popular: List[lidraughts.qa.Question])(implicit ctx: Context)

@side = {
@popularBox(popular)
}

@layout(
title = trans.questionsAndAnswers.txt(),
moreJs = jsTag("vendor/jquery.infinitescroll.min.js"),
side = side.some,
openGraph = lidraughts.app.ui.OpenGraph(
title = trans.questionsAndAnswers.txt(),
url = s"$netBaseUrl${routes.QaQuestion.index().url}",
description = "Community knowledge and frequently asked questions about lidraughts.org").some) {

<div class="content_box_top">
  <h1 data-icon="&" class="is4 text lidraughts_title">@trans.questionsAndAnswers()</h1>
</div>
<div class="content_box_inter meta">
  <div class="big_search">
    @searchForm()
  </div>
</div>
<table class="previews slist">
  <tbody class="infinitescroll">
    @questions.currentPageResults.map { q =>
    @questionPreview(q)
    }
    @questions.nextPage.map { next =>
    <tr><th class="pager none">
        <a rel="next" href="@routes.QaQuestion.index(next.some)">Next</a>
    </th></tr>
    }
  </tbody>
</table>
}
