@(questions: Paginator[lila.qa.Question], popular: List[lila.qa.Question])(implicit ctx: Context)

@goodies = {
@popularBox(popular)
}

@layout(
title = "Questions & Answers",
goodies = goodies.some) {

<div class="content_box_top">
  <h1 data-icon="&" class="is4 lichess_title"> Questions &amp; Answers</h1>
</div>
<div class="content_box_inter meta">
  <div class="big_search">
    @searchForm()
  </div>
</div>
<div class="infinitescroll">
  <table class="previews slist">
    @questions.currentPageResults.map { q =>
    @questionPreview(q)
    }
  </table>
  <div class="navigation">
    @questions.nextPage.map { next =>
    <a class="next" href="@routes.QaQuestion.index(next.some)">Next</a>
    }
  </div>
</div>
}
