@(title: String, side: Option[Html] = None, openGraph: Map[Symbol, String] = Map.empty)(body: Html)(implicit ctx: Context)

@side = {
<div class="side">
  @searchForm()
  <a class="ask" href="@routes.QaQuestion.ask">Ask a question</a>
  @side
</div>
}

@moreJs = {
@tagmanagerTag
@typeaheadTag
@jsTag("qa.js")
}

@base.layout(
title = s"Q&A - $title",
moreCss = cssTag("qa.css"),
moreJs = moreJs,
side = side.some,
openGraph = openGraph) {
<div id="qa" class="content_box no_padding">
  @body
</div>
}
