@(title: String, side: Option[Html] = None, openGraph: Option[lila.app.ui.OpenGraph] = None, moreJs: Html = emptyHtml, formCss: Boolean = false)(body: Html)(implicit ctx: Context)

@sideSection = {
<div class="side">
  @searchForm()
  @NotForKids {
  <a class="ask" href="@routes.QaQuestion.ask">Ask a question</a>
  }
  @side
</div>
}

@evenMoreJs = {
@moreJs
@tagmanagerTag
@typeaheadTag
@jsTag("qa.js")
}

@base.layout(
title = title,
moreCss = cssTags(Map("qa.css" -> true, "form3.css" -> formCss)),
moreJs = evenMoreJs,
side = sideSection.some,
openGraph = openGraph) {
<div id="qa" class="content_box no_padding">
  @body
</div>
}.toHtml
