@(form: Form[_], tags: List[String])(implicit ctx: Context)

<input class="title" name="@form("title").name" value="@form("title").value" placeholder="What's your question? Be specific." />
@errMsg(form("title"))
<textarea name="@form("body").name">@form("body").value</textarea>
@errMsg(form("body"))
<div class="tags-wrap">
  <input
  type="text"
  name="tags"
  data-tags="@tags.mkString(",")"
  data-prefill="@form("hidden-tags").value"
  placeholder="Add a tag"
  class="tags tm-input"/>
</div>
