@(q: lila.qa.Question, answers: List[lila.qa.Answer], popular: List[lila.qa.Question], related: List[lila.qa.Question], answerForm: Option[Form[_]], captcha: Option[lila.common.Captcha])(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@side = {
@if(!related.isEmpty){@relatedBox(related)}
@popularBox(popular)
}

@layout(
title = s"${q.title} • ${trans.questionsAndAnswers.txt()}",
side = side.some,
openGraph = lila.app.ui.OpenGraph(
title = q.title,
url = s"$netBaseUrl${routes.QaQuestion.show(q.id, q.slug).url}",
description = shorten(q.body, 152)).some,
formCss = answerForm.isDefined) {

<div class="question">
  <div class="content_box_top">
    <h1 class="lichess_title">
      <a href="@routes.QaQuestion.index()" data-icon="&"></a>@q.title
    </h1>
  </div>
  <div class="content_box_inter meta">
    <div class="actions">
      @if(lila.qa.QaAuth canEdit q) {
      <a class="button" data-icon="m" href="@routes.QaQuestion.edit(q.id, q.slug)"> Edit question</a>
      }
      @nope(if (q.isLocked) "Unlock" else "Lock", routes.QaQuestion.lock(q.id), "a")
      @nope("Delete", routes.QaQuestion.remove(q.id), "q")
    </div>
    <table>
      <tbody>
        <tr>
          <th>Asked</th>
          <td>@momentFromNow(q.createdAt) by @userIdLink(q.userId.some)</td>
        </tr>
        @if(q.tags.nonEmpty) {
        <tr>
          <th>Tags</th>
          <td>@tags(q.tags)</td>
        </tr>
        }
        <tr>
          <th>Activity</th>
          <td>Viewed @q.views times, last updated @momentFromNow(q.updatedAt)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="wrap">
    <div class="head">
      <div class="side">
        @views.html.qa.vote(routes.QaQuestion.vote(q.id).url, q.vote)
      </div>
      <div class="content">
        <div class="body">
          @richText(q.body)
        </div>
        <div class="comments" id="question-@q.id-comments">
          @views.html.qa.commentList(q, q.comments.sorted, routes.QaComment.question(q.id).url)
        </div>
      </div>
    </div>
    @answerList(q, answers)
    @if(ctx.me.fold(true)(lila.qa.QaAuth.isN00b)) {
    <p class="help">
      Only registered members with one week of lichess activity can contribute to the Q&amp;A.
    </p>
    } else {
    @(answerForm, captcha) match {
    case (Some(form), Some(captcha)) => {
    <div id="your-answer">
      @if(answers.nonEmpty) {
      <p class="title answers-header content_box_inter">Your answer</p>
      }
      <form class="form3" action="@routes.QaAnswer.create(q.id).url#your-answer" method="post">
        @form3.group(form("body"), raw("Your answer"), help = raw("Do not comment the question here. Only post an answer, if you have one.").some) { f =>
        @form3.textarea(f)(*.rows := 12)
        }
        @base.captcha(form, captcha).toHtml
        @form3.actionsHtml {
        @form3.submit(raw("Post your answer"))
        @if(isGranted(_.PublicMod)){
        @form3.submit(raw("Answer as mod"), nameValue = ("modIcon", "true").some, icon = "".some)
        }
        }
      </form>
    </div>
    }
    case _ => {
    <p class="title answers-header content_box_inter">
      @q.locked.map { l =>
      @userIdLink(l.by.some) locked this question @momentFromNow(l.at)
      }.getOrElse {
      You cannot answer this question.
      }
    </p>
    }
    }
    }
  </div>
</div>
}
