@(q: lidraughts.qa.Question, answers: List[lidraughts.qa.Answer], popular: List[lidraughts.qa.Question], related: List[lidraughts.qa.Question], answerForm: Option[Form[_]], captcha: Option[lidraughts.common.Captcha])(implicit ctx: Context)

@side = {
@if(!related.isEmpty){@relatedBox(related)}
@popularBox(popular)
}

@layout(
title = s"${q.title} • ${trans.questionsAndAnswers()}",
side = side.some,
openGraph = lidraughts.app.ui.OpenGraph(
title = q.title,
url = s"$netBaseUrl${routes.QaQuestion.show(q.id, q.slug).url}",
description = shorten(q.body, 152)).some) {

<div class="question">
  <div class="content_box_top">
    <h1 class="lidraughts_title">
      <a href="@routes.QaQuestion.index()" data-icon="&"></a>@q.title
    </h1>
  </div>
  <div class="content_box_inter meta">
    <div class="actions">
      @if(lidraughts.qa.QaAuth canEdit q) {
      <a class="button" data-icon="m" href="@routes.QaQuestion.edit(q.id, q.slug)"> Edit question</a>
      }
      @nope(q.isLocked.fold("Unlock", "Lock"), routes.QaQuestion.lock(q.id), "a")
      @nope("Delete", routes.QaQuestion.remove(q.id), "q")
    </div>
    <table>
      <tbody>
        <tr>
          <th>Asked</th>
          <td>@momentFromNow(q.createdAt) by @userIdLink(q.userId.some)</td>
        </tr>
        @if(q.tags.nonEmpty) {
        <tr>
          <th>Tags</th>
          <td>@tags(q.tags)</td>
        </tr>
        }
        <tr>
          <th>Activity</th>
          <td>Viewed @q.views times, last updated @momentFromNow(q.updatedAt)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="wrap">
    <div class="head">
      <div class="side">
        @views.html.qa.vote(routes.QaQuestion.vote(q.id).url, q.vote)
      </div>
      <div class="content">
        <div class="body">
          @richText(q.body)
        </div>
        <div class="comments" id="question-@q.id-comments">
          @views.html.qa.commentList(q, q.comments.sorted, routes.QaComment.question(q.id).url)
        </div>
      </div>
    </div>
    @answerList(q, answers)
    @if(ctx.me.fold(true)(lidraughts.qa.QaAuth.isN00b)) {
    <p class="help">
      Only registered members with one week of lidraughts activity can contribute to the Q&amp;A.
    </p>
    } else {
    @(answerForm, captcha) match {
    case (Some(form), Some(captcha)) => {
    <div id="your-answer">
      @if(answers.nonEmpty) {
      <p class="title answers-header content_box_inter">Your answer</p>
      }
      <form class="wide" action="@routes.QaAnswer.create(q.id).url#your-answer" method="post">
        <textarea class="answer-body" name="@form("body").name">@form("body").value</textarea>
        @errMsg(form("body"))
        @base.captcha(form("move"), form("gameId"), captcha)
        <button class="pure submit button" type="submit">Post your answer</button>
        @if(isGranted(_.PublicMod)){
        <button class="pure button" type="submit" data-icon="" name="modIcon" value="true"> Answer as mod</button>
        }
      </form>
    </div>
    }
    case _ => {
    <p class="title answers-header content_box_inter">
      @q.locked.map { l =>
      @userIdLink(l.by.some) locked this question @momentFromNow(l.at)
      }.getOrElse {
      You cannot answer this question.
      }
    </p>
    }
    }
    }
  </div>
</div>
}
