@(q: lila.qa.Question, a: Option[lila.qa.Answer] = None)(implicit ctx: Context)

<tr class="paginated">
  <td class="meat">
    <div class="tags">@tags(q.tags)</div>
    @a.map { ans =>
    <a class="title" href="@routes.QaQuestion.show(q.id, q.slug)#answer-@ans.id">@q.title</a>
    }.getOrElse {
    <a class="title" href="@routes.QaQuestion.show(q.id, q.slug)">@q.title</a>
    }
    <div class="meta light">
      @momentFromNow(q.createdAt) by @userIdLink(q.userId.some)
    </div>
  </td>
  <td class="answers number">
    @if(q.accepted) {
    <p class="count is-green" data-icon="E"> @q.answers</p>
    } else {
    <p class="count">@q.answers</p>
    }
    <span>answers</span>
  </td>
  <td class="votes number">
    <p class="count">@q.vote.score</p>
    <span>votes</span>
  </td>
  <td class="views number">
    <p class="count">@q.views</p>
    <span>views</span>
  </td>
</tr>
