@(form: Form[_], tags: List[String], captcha: lila.common.Captcha)(implicit ctx: Context)
@import lila.app.ui.Scalatags.min._

@form3.group(form("title"), Html("What's your question?"), help = Html("Please make sure a similar question doesn't exist yet, before posting!").some)(form3.input(_))
@form3.group(form("body"), Html("Detailed question and relevant details"))(form3.textarea(_)(*.rows := 6))
@form3.group(form("tags"), Html("Tag your question"), klass = "tags_wrap") { f =>
<div class="tags_input">
  <input
  type="text"
  name="tags"
  data-tags="@tags.mkString(",")"
  data-prefill="@form("hidden-tags").value"
  placeholder="Add a tag and press Enter"
  class="tags tm-input form-control"/>
</div>
<div class="tags_list"></div>
}
@base.captcha(form, captcha)
