@(form: Form[_], tags: List[String], captcha: lila.common.Captcha)(implicit ctx: Context)

<input hint="What's your question?" class="title" name="@form("title").name" value="@form("title").value" placeholder="What's your question? Be specific." />
@errMsg(form("title"))
<textarea name="@form("body").name">@form("body").value</textarea>
@errMsg(form("body"))
<div class="tags_wrap">
  <div class="tags_input">
    <input
    type="text"
    name="tags"
    data-tags="@tags.mkString(",")"
    data-prefill="@form("hidden-tags").value"
    placeholder="Add a tag and press Enter"
    class="tags tm-input"/>
  </div>
  <div class="tags_list"></div>
</div>
@base.captcha(form("move"), form("gameId"), captcha)
@errMsg(form(""))
