@(q: String, questions: List[lila.qa.QuestionWithUser], popular: List[lila.qa.Question])(implicit ctx: Context)

@title = @{ trans.search.str() + " \"" + q.trim + "\"" }

@layout(title = title) {

<h1>@title</h1>

<p class="nb_results">
  @questions.size match {
  case 0 => { No question found. }
  case 1 => { One question found. }
  case x => { @x questions found. }
  }
</p>
<table class="previews">
  @questions.map { q =>
  @questionPreview(q)
  }
</table>
<p>
  <br />
  If you can't find an answer, feel free to <a href="@routes.QaQuestion.ask()">ask your question</a>!
</p>
}
