@(url: String, vote: lila.qa.Vote, isAnswer: Boolean = false)(implicit ctx: Context)

@defining(ctx.userId.flatMap(vote.of)) { myVote =>
<div class="upvote @if(lila.qa.QaAuth.canVote) {enabled}" data-post-url="@url">
  <a
    title="@if(isAnswer){This answer is useful}else{This question shows research effort; it is useful and clear}"
    data-vote="1"
    data-icon="S"
    class="upvote @if(myVote == Some(true)) {active}"></a>
  <span title="Popularity" class="count">@vote.score</span>
  <a
    title="@if(isAnswer){This answer is not useful}else{This question does not show any research effort; it is unclear or not useful}"
    data-vote="0"
    data-icon="R"
    class="downvote @if(myVote == Some(false)) {active}"></a>
</div>
}
