@use 'pkg:common/theme';

.angle-content .analysis {
  .accuracy-by-result {
    display: flex;
    justify-content: space-evenly;

    .accuracy-by-result__item {
      display: flex;

      .big-number {
        font-size: 2rem;
        min-width: 6.5rem;
      }

      .simple-vertical-bar {
        position: relative;
        flex-direction: column;
        width: 8px;
        margin-left: 10px;

        div {
          position: absolute;
          width: 100%;
          border-left: 2px solid theme.$c-brilliant;
          border-right: 2px solid theme.$c-brilliant;
          border-radius: 10px;

          &:first-child {
            border-top: 2px solid theme.$c-brilliant;
          }

          &:last-child {
            border-bottom: 2px solid theme.$c-brilliant;
            bottom: 0;
          }

          &.accuracy {
            background-color: theme.$c-brilliant;
          }

          &.not-accuracy {
            background-color: transparent;
          }
        }

        &.win div {
          border-color: theme.$c-good;

          &.accuracy {
            background-color: theme.$c-good;
          }
        }

        &.loss div {
          border-color: theme.$c-bad;

          &.accuracy {
            background-color: theme.$c-bad;
          }
        }

        &.draw div {
          border-color: theme.$c-font-dim;

          &.accuracy {
            background-color: theme.$c-font-dim;
          }
        }
      }
    }
  }

  .canvas-wrap.line-by-move-number-chart {
    aspect-ratio: 3 / 1;
  }
}
