@(data: Option[play.api.libs.json.JsValue])(implicit ctx: Context)

@moreJs = {
@jsAt(s"compiled/lidraughts.learn${isProd??(".min")}.js")
@embedJs {
$(function() {
LidraughtsLearn(document.getElementById('learn_app'), {
data: @jsOrNull(data),
sideElement: document.getElementById('learn_side'),
i18n: @safeJson(i18nFullDbJsObject(lidraughts.i18n.I18nDb.Learn))
});
});
}
}

@side = {
<div id="learn_side" class="side_box"></div>
}

@base.layout(
title = s"${trans.learn.learnDraughts.txt()} - ${trans.learn.byPlaying.txt()}",
side = side.some,
moreJs = moreJs,
moreCss = cssTag("learn.css"),
draughtsground = false,
openGraph = lidraughts.app.ui.OpenGraph(
title = "Learn draughts by playing",
description = "You don't know anything about draughts? Excellent! Let's have fun and learn to play draughts!",
url = s"$netBaseUrl${routes.Lobby.home}"
).some,
zoomable = true) {
<div id="learn_app" class="learn cg-512"></div>
}
