@(data: Option[play.api.libs.json.JsValue])(implicit ctx: Context)

@moreJs = {
@jsAt(s"compiled/lichess.learn${isProd??(".min")}.js")
@embedJs {
$(function() {
LichessLearn(document.getElementById('learn_app'), {
data: @jsOrNull(data),
sideElement: document.getElementById('learn_side'),
i18n: @safeJsonHtml(i18nFullDbJsObject(lila.i18n.I18nDb.Learn))
});
});
}
}

@side = {
<div id="learn_side" class="side_box"></div>
}

@base.layout(
title = s"${trans.learn.learnChess.txt()} - ${trans.learn.byPlaying.txt()}",
side = side.some,
moreJs = moreJs,
moreCss = cssTag("learn.css"),
chessground = false,
openGraph = lila.app.ui.OpenGraph(
title = "Learn chess by playing",
description = "You don't know anything about chess? Excellent! Let's have fun and learn to play chess!",
url = s"$netBaseUrl${routes.Learn.index}"
).some,
zoomable = true) {
<div id="learn_app" class="learn cg-512"></div>
}.toHtml
