@(form: Form[_])(implicit ctx: Context)

@title = @{ "New OAuth App" }

@account.layout(
title = title,
active = "oauth.app",
evenMoreCss = cssTag("form3.css")
) {
<div class="oauth_form content_box oauth security">
  <h1>@title</h1>
  <form class="form3" action="@routes.OAuthApp.create" method="POST">
    <br><br>
    <div class="form-group">
      Want to build something that integrates with and extends Lichess? Register a new OAuth App to get started developing on the Lichess API.
    </div>
    @inForm(form)
  </form>
</div>
}.toHtml
