@(app: lila.oauth.OAuthApp, form: Form[_])(implicit ctx: Context)

@title = @{ s"Edit ${app.name}" }

@account.layout(
title = title,
active = "oauth.app",
evenMoreCss = cssTag("form3.css")
) {
<div class="oauth_form content_box oauth security">
  <h1>@title</h1>
  <br><br>
  <table class="codes">
    <tbody>
      <tr><th>Client ID</th><td>@app.clientId.value</td></tr>
      <tr><th>Client Secret</th><td>@app.clientSecret.value</td></tr>
    </tbody>
  </table>
  <br><br>
  <form class="form3" action="@routes.OAuthApp.update(app.clientId.value)" method="POST">
    <div class="form-group">
      Here's a <a class="blue" href="https://github.com/lichess-org/api/tree/master/example/oauth-authorization-code">lichess OAuth app example</a>,
      and the <a class="blue" href="@routes.Api.index">API documentation</a>.
    </div>
    @inForm(form)
  </form>
</div>
}
