@(form: Form[_])(implicit ctx: Context)

@form3.group(form("name"), Html("App name"))(form3.input(_, required = true))
@form3.group(form("description"), Html("App description"))(form3.textarea(_))
@form3.split {
@form3.group(form("homepageUri"), Html("Homepage URL"), half = true)(form3.input(_, typ = "url", required = true))
@form3.group(form("redirectUri"), Html("Callback URL"), half = true)(form3.input(_, typ = "url", required = true))
}
@form3.actions {
<a href="@routes.OAuthApp.index">Cancel</a>
@form3.submit(trans.apply())
}
