@import "pool";
@import "hook-chart";
@import "hook-list";

.lobby__app {
  @extend %flex-column;

  @include lobby-app-size;

  user-select: none;

  .lobby-nope & {
    display: none;
  }

  &__content {
    @extend %box-neat;

    flex: 1 1 100%;
    position: relative;

    background: var(--lobby-pool-bg);

    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .lredir {
    background: var(--c-bg-box);
    display: flex;

    .spinner {
      width: 100px;
      height: 100px;
    }
  }

  .toggle {
    position: absolute;
    padding: .6em;
    cursor: pointer;
    z-index: 2;
    font-size: 1.3em;

    &.toggle-filter {
      right: 0;
    }

    @include transition;

    &:hover {
      color: var(--c-accent);
    }
  }

  .gamesFiltered {
    color: var(--c-accent);

    @include transition;

    &:hover {
      color: var(--c-accent-dim);
    }
  }
}
