.hooks__chart {
  @extend %abs-100;
  bottom: 0;
  right: 0;
  .label {
    font-size: 9px;
    position: absolute;
    left: 3px;
    bottom: 1px;
    text-shadow: $text-shadow;
    font-weight: bold;
  }
  .grid {
    position: absolute;
    left: 0;
    bottom: 0;
    &.horiz {
      width: 100%;
      border-top: 1px dashed $c-border;
    }
    &.vert {
      height: 100%;
      border-right: 1px dashed $c-border;
    }
  }
  .canvas {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .plot {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    font-size: 1.4em;
    text-shadow: 0 0 3px #fff;
    opacity: 0.7;
    transition: 0.5s;
    transform: scale(1);
    &.rated {
      opacity: 0.9;
      color: #d59120!important;
    }
    &.cancel {
      opacity: 0.9;
      color: #0b9c1e!important;
    }
    &.new {
      transform: translateY(-7px);
      opacity: 0;
    }
    &:hover {
      z-index: 2;
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
#hook {
  @extend %box-neat-force;
  display: none;
  background: $c-bg-box;
  cursor: default;
  position: absolute;
  z-index: z('popup');
  .inner {
    @extend %flex-column;
    text-align: center;
    padding-bottom: 5px;
  }
  .opponent {
    background: $c-secondary;
    color: #fff;
    min-width: 120px;
    padding: .3em .6em;
    margin-bottom: .3em;
    line-height: 1.4;
  }
  .opponent,
  span {
    display: block;
  }
}
