#hooks_wrap .hooks_chart {
  position: absolute;
  top: 0;
  left: 0;
}
#hooks_wrap .hooks_chart > span.label {
  font-size: 9px;
  position: absolute;
  left: 3px;
  bottom: 1px;
  text-shadow: 0 0 3px #fff;
  font-weight: bold;
}
#hooks_wrap .hooks_chart > div.grid {
  position: absolute;
  left: 0;
  bottom: 0;
}
#hooks_wrap .hooks_chart > div.grid.horiz {
  width: 100%;
  border-top: 1px dashed #ccc;
}
#hooks_wrap .hooks_chart > div.grid.vert {
  height: 100%;
  border-right: 1px dashed #ccc;
}
#hooks_wrap .hooks_chart .canvas {
  position: relative;
  width: 510px;
  height: 510px;
}
#hooks_wrap .hooks_chart .plot {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  font-size: 1.4em;
  text-shadow: 0 0 3px #fff;
  opacity: 0.7;
  transition: 0.5s;
  transform: scale(1);
}
#hooks_wrap .hooks_chart .plot.rated {
  opacity: 0.9;
  color: #d59120!important;
}
#hooks_wrap .hooks_chart .plot.cancel {
  opacity: 0.9;
  color: #0b9c1e!important;
}
#hooks_wrap .hooks_chart .plot.new {
  transform: translateY(-7px);
  opacity: 0;
}
#hooks_wrap .hooks_chart .plot:hover {
  z-index: 2;
  opacity: 1;
  transform: scale(1.2);
}
#hook {
  display: none;
  color: #444;
  box-shadow: 0 0 9px #333;
  background: #d0d0d0;
  cursor: default;
  position: absolute;
  z-index: 900000;
}
#hook .inner {
  display: inline-block;
  text-align: center;
  font-size: 1.25em;
  padding-bottom: 5px;
}
#hook .opponent {
  background: #666;
  color: #eee;
  min-width: 120px;
  padding: 5px;
  margin-bottom: 5px;
}
#hook .opponent,
#hook span {
  display: block;
}
