.hooks__list {
  width: 100%;
  tr {
    &.disabled {
      opacity: 0.4;
      td {
        cursor: default;
        background: transparent;
        border-color: transparent;
      }
    }
    &.cancel td {
      background: fade-out($c-secondary, 0.6);
    }
    &.join:hover td {
      background: fade-out($c-accent, 0.5);
      color: #fff;
    }

    &:not(.disabled):hover ::before {
      opacity: 1;
    }
    &.variants td {
      text-align: center;
      padding: 4px 0;
      background: none;
      text-transform: uppercase;
      letter-spacing: 3px;
      cursor: default;
    }
  }
  th {
    @extend %roboto;
    padding: 1em;
    &.sortable {
      cursor: pointer;
      padding-left: 0;
    }
    &.sortable:hover,
    &.sort {
      font-weight: normal;
    }
    &.sortable .is:before {
      opacity: 0;
      margin-right: 3px;
      content: 'R';
    }
    &.sortable.reverse .is:before {
      content: 'S';
    }
    &.sort .is:before {
      opacity: 0.7;
    }
    &.player {
      width: 110px;
    }
  }
  td {
    word-break: break-all;
    overflow: hidden;
    padding: 0.5em 0.7em;
    border-bottom: $border;
    cursor: pointer;
    background: fade-out($c-bg-box, 0.5);
    &:first-child {
      width: 16px;
    }
    &:first-child ::before {
      font-size: 1.2em;
      line-height: 1.3;
    }
    &:last-child ::before {
      margin-right: 8px;
      line-height: 0.9;
      font-size: 1.6em;
    }
    ::before {
      opacity: 0.6;
    }
  }
  tbody.stepping {
    opacity: 0.7;
  }
}
.lseeks .create {
  margin: 20px 0;
  text-align: center;
  a.accent {
    background: $c-accent;
    &:hover {
      background: $c-accent;
    }
  }
}
