.hook__filters {
  padding: $block-gap 1.5em;
  background: $c-bg-cloud;
  height: 100%;
  display: block;

  table {
    width: 100%;
  }

  td {
    padding: 1em 0;
  }

  td:first-child {
    font-size: 1.1em;
    padding-inline-end: 2rem;
    width: 25%;
    white-space: normal;
  }

  .checkable {
    display: flex;
    padding: 4px 2px 4px 0;
    gap: 6px;

    label {
      display: inline-flex;
      cursor: pointer;
      line-height: 16px;
    }

    input[type='checkbox'] {
      @extend %checkbox;

      cursor: pointer;
      position: relative;
      border-radius: calc($box-radius-size / 2);

      &:hover {
        border-color: $c-border-light;
      }

      &:checked {
        &:hover {
          border-color: $c-good;
        }

        &::after {
          border: 1.5px solid #fff;
          border-top: none;
          border-right: none;
          content: '';
          width: 8px;
          height: 4.5px;
          left: 50%;
          top: 50%;
          position: absolute;
          transform: translate(-50%, -62%) rotate(-45deg);
        }
      }
    }
  }

  tr.filter-variant td:last-child {
    display: flex;
    flex-flow: row wrap;
  }

  tr.filter-variant .checkable {
    width: 33.3%;
    white-space: nowrap;
  }

  tr.inline .checkable {
    display: inline-flex;
    padding: 6px 20px 2px 0;
  }

  .range {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    gap: 2px;
    justify-content: center;

    span {
      color: $c-font-dim;
      text-align: center;

      &:first-child {
        color: unset;
        text-align: right;
      }

      &:last-child {
        color: unset;
        text-align: left;
      }
    }
  }

  .rating-range {
    @extend %flex-center-nowrap;

    color: $c-font-dim;
    justify-content: center;

    input {
      padding: 0.6em 0;
      margin: 0 1ch;

      @media (max-width: at-most($xx-small)) {
        width: 26vw;
      }
    }
  }

  .actions {
    display: flex;
    gap: 6px;
    margin-top: 1.5em;
    justify-content: end;
  }

  @media (max-width: at-most($x-small)) {
    padding: $block-gap 1em;

    tr.filter-variant .checkable {
      width: 50%;
    }

    td:first-child {
      margin-inline-end: 1rem;
    }
  }
}
