.lpools {
  @extend %roboto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 9px;
  // padding: 12px 12px 0 12px;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: space-between;
  > div {
    @extend %flex-column, %box-radius;
    // @extend %box-radius, %box-shadow, %flex-column;
    justify-content: center;
    align-items: center;
    // margin-bottom: 12px;
    // flex: 0 0 31%;
    // height: 31%;
    cursor: pointer;
    background: fade-out($c-bg-box, .5);
    color: $c-font-page;
    transition: background .15s, opacity 0.7s;
    &:hover {
      background: fade-out($c-accent, .8);
    }
    &.active {
      @extend %box-shadow;
      background: #fff;
    }
  }
  .transp {
    opacity: 0.5;
  }
  .spinner {
    margin: 14px 0 0 0;
  }
  .clock {
    display: block;
    font-size: 2.5em;
    line-height: 1.5em;
    letter-spacing: 5px;
  }
  .perf,
  .range {
    font-size: 1.5em;
  }
  .custom {
    font-size: 1.5em;
  }
}
