#insight .filters {
  .box {
    border-bottom-width: 0;
  }

  .box:last-child {
    border-bottom-width: 1px;
  }

  .ms-parent {
    display: block;

    &:last-child .ms-choice {
      border-bottom: 0;
    }

    &.selected .ms-choice {
      @include gradient-border($m-accent--fade-30, to right, to left);
    }

    &:hover .ms-choice {
      background: $m-accent_bg--mix-20;
    }
  }

  .ms-choice {
    padding: 15px 10px;
    border-width: 0 0 1px 0;

    @include transition;

    &.selected {
      background: $m-primary_bg--mix-20;
      border-left: 3px solid $c-link;
    }

    span {
      text-align: right;
      @media (max-width: at-most($x-small)) {
        text-align: left;
      }
      line-height: 30px;
      background: none;
    }

    div {
      top: 4px;
    }
  }

  .ms-drop ul > li label input {
    margin-inline-end: 5px;
    cursor: pointer;
  }

  .ms-drop {
    margin-inline-start: 99%;
    @media (max-width: at-most($x-small)) {
      margin-inline-start: 50%;
    }
    top: 0;
    @include inline-start(0);
  }
}
