@import './filters';

// formatting is also done in view.ts. if your changes aren't behaving as expected - check there!
#insight {
  ---chart-height: 550px;
  ---header-height: 60px;
  ---drop-menu-width: 200px;

  > div {
    display: flex;
  }

  .view-tabs {
    @extend %flex-center-nowrap;

    align-items: flex-end;
    border-bottom: 2px solid $c-border;
    font-size: 1.6em;
  }

  .tab {
    @extend %roboto;

    flex: 1 1 auto;
    text-align: center;
    padding: 0.5em 0.2em;
    cursor: pointer;
    position: relative;
    color: $c-font-page;

    @include transition(color, 0.25s);

    min-width: 15%;

    &::after {
      content: '';
      background: $m-accent--fade-40;
      height: 2px;
      position: absolute;
      width: 96%;
      @include inline-start(2%);
      bottom: -2px;

      @include transition(all, 0.25s);

      transform: scale(0);
    }

    &.active,
    &:hover {
      &::after {
        transform: scale(1);
      }
    }

    &.active {
      color: $c-accent;
    }
  }

  .crunching {
    margin: 3em 0 2em 0;
  }

  .loading {
    .insight__main {
      position: relative;
    }

    .spinner {
      @extend %abs-100, %flex-center;

      top: 0;
      @include inline-start(0);
      height: var(---chart-height);
      opacity: 0.7;

      svg {
        margin: auto;
        width: 80px;
        height: 80px;
      }
    }
  }

  .broken {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 200px 0;
    width: 100%;
  }

  .broken i {
    font-size: 50px;
  }

  .chart {
    height: var(---chart-height);
  }

  .loading .chart {
    filter: blur(3px);
    opacity: 0.5;
  }

  .chart.empty {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    font-size: 1.5em;
    opacity: 0.7;
  }

  .chart.empty i {
    margin-bottom: 30px;
    display: block;
    font-size: 200px;
    opacity: 0.5;
  }

  header {
    @extend %box-radius-top;
    @extend %flex-between;
    padding: 0 1vw;
    flex-wrap: nowrap;
    height: var(---header-height);
    background: $c-bg-zebra;
    h2 {
      line-height: var(---header-height);
    }

    h2::before {
      vertical-align: top;
      line-height: var(---header-height);
      margin: 0 10px;
    }

    > * {
      display: inline-block;
    }
  }

  .insight__main {
    background: $c-bg-box;
    border: $border;
    border-top: 0;
  }

  .axis-form {
    height: var(---header-height);
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    align-items: center;
    justify-content: flex-end;
  }

  .axis-form .by {
    margin: 0 8px;
    @media (max-width: at-most(400px)) {
      display: none;
    }
  }

  .axis-form .ms-choice {
    padding: calc(var(---header-height) / 2) 10px;
    @media (max-width: at-most($xx-small)) {
      padding-left: 2px;
      padding-right: 2px;
    }
    border-width: 0 1px;
    border-radius: 0;
    transition: 0.15s;
  }

  .axis-form .ms-choice span {
    line-height: var(---header-height);
    text-align: center;
  }

  .axis-form .ms-choice div {
    top: calc(var(---header-height) / 2 - 12px);
  }

  .axis-form .ms-drop {
    color: $c-font;
    width: var(---drop-menu-width);

    ul > li label input {
      display: none;
    }

    ul > li.selected label {
      background: $c-accent;
      color: $c-over;
    }
  }

  .hscroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .panel-tabs {
    @extend %flex-center-nowrap;

    justify-content: center;
    align-items: flex-end;
    border-bottom: 2px solid $c-border;
  }

  .presets {
    @extend %box-neat;

    a {
      color: $c-font;
      display: block;
      padding: 0.7em;

      @include transition;
    }

    a::before {
      opacity: 0.7;
      transition: opacity 0.13s;
    }

    a:hover {
      background: $m-accent_bg--mix-20;
    }

    a:hover::before {
      opacity: 1;
    }

    a.active {
      color: $c-accent;
    }
  }

  .clear {
    color: $c-bad;
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }

  .center-clear {
    display: flex;
    height: 20px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .ms-parent,
  .ms-parent button {
    @include prevent-select;
  }

  .ms-choice:focus,
  .ms-parent input:focus {
    outline: 0;
  }

  .ms-drop {
    font-size: 0.9em;
    max-height: calc(99vh - $site-header-height - var(---header-height));
    overflow-y: auto;

    ul {
      padding: 0;
      overflow: auto;
    }

    ul > li label:not(.optgroup) {
      padding: 4px 8px;
      cursor: pointer;

      @include transition;

      text-indent: 1em;
    }

    ul > li label:not(.optgroup):hover {
      background: $m-accent_bg--mix-20;
    }

    ul > li label.optgroup {
      border-top: $border;
      margin-top: 5px;
      text-indent: 0;
      text-transform: uppercase;
      font-weight: normal;
      opacity: 0.6;
      padding: 6px 8px 2px 8px;
    }

    ul > li:first-child label.optgroup {
      margin-top: 0;
    }
  }

  .box {
    @extend %box-neat;

    .top {
      @extend %metal, %box-radius-top;

      padding: 1rem $block-gap;
      font-weight: bold;
      border-bottom: $border;
      .utitle {
        margin-right: 3px;
      }
    }

    .content {
      padding: $block-gap;
    }
  }

  .info {
    margin-bottom: $block-gap;

    p {
      margin: 0;
    }

    .insight-stale {
      padding: $block-gap;

      button {
        width: 100%;
      }
    }

    .share a {
      text-decoration: underline;
    }
  }

  .help.box {
    margin-top: 20px;
  }

  .help .dimension {
    margin-top: 10px;
  }

  .help h3 {
    margin: 0;
    font-weight: bold;
  }

  .help a {
    text-decoration: underline;
  }

  td.data {
    font-weight: bold;
  }

  .game-sample {
    margin: 2em 0 1em 0;
    border-top: $border;
    box-shadow: none;
  }

  .boards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 25%));

    a {
      @extend %box-radius;

      @include transition(background);

      color: $c-font;
      padding: 0.4em;

      span {
        box-shadow: none;
        background: none;
      }

      &:hover {
        background: $m-accent_bg--mix-20;
      }
    }

    .vstext {
      @extend %flex-between-nowrap, %nowrap-hidden, %box-neat;

      background: $c-bg-box;
      padding: 0.3em 0.6em;

      &__pl,
      &__op {
        @extend %ellipsis;

        max-width: 45%;
      }

      &__pl {
        text-align: left;
      }

      &__op {
        text-align: right;
      }
    }
  }
}

body.no-rating rating {
  display: none;
}
