$mq-room-for-moves: $mq-x-small $mq-short;

$col1-player-clock-height: 60px;
$col1-clock-height: 60px;
$col1-controls-height: 60px;
$col1-moves-height: 9rem;

$col2-material-height: 40px;
$col2-clock-height: auto;
$col2-player-height: auto;
$col2-moves-height: auto;
$col2-controls-height: auto;

.round__app {
  display: grid;

  grid-template-columns: 3fr 1fr;

  grid-template-rows:
  $col1-player-clock-height
  auto
  $col1-player-clock-height
  $col1-controls-height
  $col1-moves-height;

  grid-template-areas:
  "user-top clock-top"
  "board   board"
  "user-bottom clock-bottom"
  "controls controls"
  "moves   moves";

  &__table {
    display: none;
  }

  @include breakpoint($mq-col2) {
    grid-template-columns: $board-width minmax(250px, 320px);
    grid-template-rows:
    auto
    $col2-material-height
    $col2-clock-height
    $col2-player-height
    $col2-moves-height
    $col2-controls-height
    $col2-player-height
    $col2-clock-height
    $col2-material-height
    auto;
    grid-template-areas:
    "board ."
    "board mat-top"
    "board clock-top"
    "board user-top"
    "board moves"
    "board controls"
    "board user-bottom"
    "board clock-bottom"
    "board mat-bottom"
    "board .";
    grid-column-gap: $block-gap;
    &__table {
      display: block;
      grid-area: 4 / 2 / 8 / 3;
    }
    &__moves {
      display: none;
    }
    @include breakpoint($mq-room-for-moves) {
      &__moves {
        display: flex;
      }
    }
  }

  &__board {
    grid-area: board;
    @include breakpoint($mq-col2) {
      /* Align vertically when zoomed out */
      // display: flex;
      // flex-flow: column;
      // justify-content: center;
    }
    @include breakpoint($mq-portrait) {
      /* In portrait single column, make sure both clocks and the board fit in the viewport. If they don't, limit the board width */
      max-width: calc(100vh - #{$site-header-height} - #{$col1-clock-height * 2});
    }
  }
  &__moves {
    grid-area: moves;
  }
  &__controls { grid-area: controls; }
}
.material-top { grid-area: mat-top; }
.material-bottom { grid-area: mat-bottom; }
.ruser-top { grid-area: user-top; }
.ruser-bottom { grid-area: user-bottom; }
.rclock-top { grid-area: clock-top; }
.rclock-bottom { grid-area: clock-bottom; }
