$col1-pocket-height: auto;
$material-height: auto;
$clock-height: auto;
$expiration-height: min-content;
$user-height: auto;
$moves-height: auto;
$controls-height: auto;

.round__app {
  display: grid;

  grid-template-columns: auto min-content;
  grid-template-rows:
  $col1-pocket-height
  $col1-player-clock-height
  auto
  $expiration-height
  $col1-player-clock-height
  $col1-pocket-height;
  grid-template-areas:
  'mat-top  mat-top'
  'user-top clock-top'
  'board    board'
  'expi-bot expi-bot'
  'user-bot clock-bot'
  'mat-bot  mat-bot'
  'kb-move  kb-move'
  'controls controls'
  'moves    moves';

  .expiration-top { display: none; }
  &__table { display: none; }

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-width $col2-uniboard-table;
    grid-template-rows:
    1fr
    $material-height
    $clock-height
    $expiration-height
    $user-height
    $moves-height
    $controls-height
    $user-height
    $expiration-height
    $clock-height
    $material-height
    1fr;

    grid-template-areas:
    'board .'
    'board mat-top'
    'board clock-top'
    'board expi-top'
    'board user-top'
    'board moves'
    'board controls'
    'board user-bot'
    'board expi-bot'
    'board clock-bot'
    'board mat-bot'
    'board .'
    'kb-move .';
    grid-column-gap: $block-gap;
    &__table {
      display: block;
      grid-area: 4 / 2 / 10 / 3;
    }
    .expiration-top { display: flex; }
    .rmoves .moves {
      display: none;
      background: none;
    }
    .keyboard-move {
      margin-top: $block-gap;
    }
    @include breakpoint($mq-tall) {
      & .rmoves .moves { display: flex; }
    }
  }

  &__board { grid-area: board; }
}
.rcontrols { grid-area: controls }
.material-top { grid-area: mat-top }
.material-bottom { grid-area: mat-bot }
.expiration-top { grid-area: expi-top }
.expiration-bottom { grid-area: expi-bot }
.ruser-top { grid-area: user-top }
.ruser-bottom { grid-area: user-bot }
.rclock-top { grid-area: clock-top }
.rclock-bottom { grid-area: clock-bot }
.rmoves { grid-area: moves }
.keyboard-move { grid-area: kb-move }
