@import '../../game/css/clock';

.rclock {
  &-correspondence .time {
    font-size: 1.6em;
    letter-spacing: inherit;
    direction: unset;

    @include mq-at-least-col2 {
      line-height: 1.5em;
    }

    @media (min-width: at-least($xx-small)) {
      font-size: 1.9em;
    }
  }

  .go-berserk {
    font-size: 2.2em;
    padding: 0 0.3em;

    &:hover {
      color: $c-accent !important;
      background: none !important;
    }
  }

  .tour-rank,
  .moretime,
  .berserked {
    @extend %flex-center, %zen;

    display: none;

    @media (min-width: at-least(420px)) {
      order: -1;
      display: flex;
      flex: 0 1 auto;
      font-size: 1.7em;
      padding: 0 0.3em;
    }

    @include mq-at-least-col2 {
      order: inherit;
    }
  }

  .tour-rank {
    @extend %page-text;

    opacity: 0.65;
  }

  .moretime {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  .berserked {
    font-size: 2.2em;
    color: $c-accent;
  }
}
