.rcontrols {
  text-align: center;
  width: 100%;
  border-bottom: $border;
  @include breakpoint($mq-col2) {
    border-bottom: 0;
    border-top: $border;
  }
  p {
    margin: 0;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .ddloader {
    margin: 20px auto 10px auto;
  }
  .suggestion,
  .pending,
  .negotiation {
    padding: .5em 3%;
    background: $c-bg-zebra;
    border: $border;
    border-width: 0 1px;
  }
  .suggestion {
    .button {
      width: 100%;
    }
  }
  .pending {
    @extend %flex-center-nowrap;
    p {
      flex: 3 1;
      margin-right: 7px;
    }
    .button {
      flex: 1 1;
    }
  }
  .negotiation {
    @extend %flex-center-nowrap;
    background: $c-accent;
    color: #fff;
    p {
      flex: 1 1 auto;
      margin-right: 7px;
    }
    a {
      flex: 0 0 3rem;
      height: 3rem;
      font-size: 1.5em;
      line-height: 1.7em;
      display: block;
      background: $c-bg-box;
    }
    .accept {
      @extend %box-radius-left;
      color: $c-good;
      margin-right: 1px;
    }
    .decline {
      @extend %box-radius-right;
      color: $c-bad;
    }
    a:hover {
      color: #fff;
      background: $c-good;
    }
    a.decline:hover {
      background: $c-bad;
    }
  }
  .follow-up {
    position: relative;
    .button {
      display: block;
      width: 100%;
      border-radius: 0;
      padding: 12px 0;
      margin-top: 1px;
    }
    > .button:first-child {
      margin-top: 0;
    }
    .variant_crazyhouse & .button {
      padding: 9px 0;
    }
    .fbt.strong {
      display: block;
      padding: 2em 0;
      font-size: 1.2em;
    }
    .weak {
      font-weight: normal;
      padding: 6px 0;
    }
    .weak::before {
      opacity: 0.7;
    }
  }
  .rematch{
    &.button {
      @extend %flex-center-nowrap;
      justify-content: center;
      padding: 0;
      height: 56px;
      font-size: 1.2em;
      text-transform: uppercase;
      transition: all .15s, height 0.5s ease;
      .variant_crazyhouse & {
        height: 60px;
      }
    }
    &.me {
      background: rgba(56,147,232,0.8);
    }
    @keyframes rubber-band {
      from { transform: scale3d(1, 1, 1); }
      6% { transform: scale3d(1.25, 0.75, 1); }
      8% { transform: scale3d(0.75, 1.25, 1); }
      10% { transform: scale3d(1.15, 0.85, 1); }
      13% { transform: scale3d(.95, 1.05, 1); }
      15% { transform: scale3d(1.05, .95, 1); }
      20% { transform: scale3d(1, 1, 1); }
    }
    &.glowing {
      span {
        animation: rubber-band 5s infinite;
      }
    }
    &.button:not(.disabled):hover {
      background: mix($c-link, $c-bg-box, 70%);
      color: #fff;
      animation: none;
    }
    &-decline {
      @extend %flex-center-nowrap, %box-radius-right;
      background: $c-bg-zebra;
      justify-content: center;
      position: absolute;
      top: 0;
      right: -25px;
      width: 25px;
      height: 55px;
      border: $border;
      border-left: 0;
      opacity: 0.7;
      @include transition();
    }
    &-decline:hover {
      background: $c-bad;
      color: #fff;
      right: -36px;
      width: 35px;
    }
  }
}
