.rcontrols {
  text-align: center;
  width: 100%;
  p {
    margin: 0;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .ddloader {
    margin: 20px auto 10px auto;
  }
  .q-explanation {
    padding: 0.5rem;
  }
  .suggestion,
  .pending,
  .negotiation {
    padding: 0.5em 3%;
    background: $c-bg-zebra;
  }
  .suggestion {
    @extend %flex-center;
    justify-content: space-around;
    p {
      width: 100%;
    }
    h5 {
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      margin-left: 1rem;
    }
    .button {
      margin: 0.5em 0 0 0;
    }
    .impasse {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
      .color-icon:before {
        font-size: 1.3rem;
      }
      .impasse-list {
        text-align: left;
        li {
          margin: 0.1rem;
        }
      }
      .good {
        color: $c-good;
        font-weight: bold;
      }
    }
    .sealed-move {
      font-size: 1.1rem;
      padding: 2rem 1rem;
    }
  }
  .pending {
    @extend %flex-center-nowrap;
    p {
      flex: 3 1;
      margin-right: 7px;
    }
    .button {
      flex: 1 1;
    }
  }
  @keyframes flash-once {
    from {
      background: $c-accent;
      color: $c-accent-over;
    }

    to {
      background: $c-bg-zebra;
      color: $c-font;
    }
  }
  .negotiation {
    @extend %flex-center-nowrap;
    animation: flash-once 1s ease-in;

    padding: 1px;
    p {
      flex: 3 1 auto;
      margin: 0.5rem;
    }
    a {
      flex: 1 0 3rem;
      font-size: 1.5em;
      line-height: 3em;
      background: $c-bg-box;
    }
    .accept {
      color: $c-good;
      margin-right: 1px;
    }
    .decline {
      color: $c-bad;
    }
    a:hover {
      color: #fff;
      background: $c-good;
    }
    a.decline:hover {
      background: $c-bad;
    }
    @include breakpoint($mq-col1) {
      a {
        line-height: 1.6em;
        flex: 0 0 2.5rem;
        padding: 0 1.2em;
      }
      padding: 3px;
    }
  }
  .glowing:hover {
    animation: none;
  }
  .follow-up {
    @extend %flex-column;
    position: relative; /* for rematch-decline */
    .fbt {
      padding: 12px 0;
    }
    > .fbt:first-child {
      margin-top: 0;
    }
    .fbt.strong {
      padding: 1.8em 0;
      font-size: 1.2em;
    }
    .weak {
      font-weight: normal;
      padding: 6px 0;
    }
    .weak::before {
      opacity: 0.7;
    }
    form .fbt {
      width: 100%;
    }
    .spinner {
      width: 45px;
      height: 55px;
      @include breakpoint($mq-col1) {
        width: 36px;
        height: 44px;
      }
      path {
        stroke: white;
      }
    }
    @include breakpoint($mq-col1) {
      margin-top: $block-gap;
    }
  }
  .analysis {
    display: none;
    @include breakpoint($mq-col1) {
      &:not(.disabled) {
        display: block;
        margin-left: 2em;
      }
    }
  }
  .draw {
    p {
      order: 2;
    }
    a {
      order: 1;
    }
  }
  .rematch,
  .resume {
    &.fbt {
      @extend %metal;
      font-size: 1.2em;
      height: 5.5rem;
      @include transition();
    }
    &.me {
      background: mix($c-primary, $c-bg-box, 80%);
    }
    @keyframes rubber-band {
      from {
        transform: scale3d(1, 1, 1);
      }
      6% {
        transform: scale3d(1.25, 0.75, 1);
      }
      8% {
        transform: scale3d(0.75, 1.25, 1);
      }
      10% {
        transform: scale3d(1.15, 0.85, 1);
      }
      13% {
        transform: scale3d(0.95, 1.05, 1);
      }
      15% {
        transform: scale3d(1.05, 0.95, 1);
      }
      20% {
        transform: scale3d(1, 1, 1);
      }
    }
    &.fbt:not(.disabled):hover,
    &.fbt.active {
      background: mix($c-link, $c-bg-box, 70%);
      color: #fff;
      animation: none;
    }
  }
  .resume-button {
    position: relative;
    .fbt.resume {
      width: 100%;
      .spinner {
        width: 45px;
        height: 55px;
        path {
          stroke: white;
        }
      }
    }
  }
  @keyframes button-glowing {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0.2;
    }
    85% {
      opacity: 0;
    }
  }
  .glowing {
    position: relative;
    animation: none;
    color: $c-font-clear;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin-right: unset;
      pointer-events: none;
      background: $c-primary;
      opacity: 0;
      animation: button-glowing 2s ease-in-out infinite;
    }
    span {
      display: block;
      position: relative;
      z-index: 2; // blurs pieces otherwise
      animation: rubber-band 5s infinite;
    }
  }
  .rematch-decline,
  .resume-decline,
  .post-game-study-decline {
    @extend %flex-center-nowrap, %box-radius-right, %box-shadow;
    background: $c-bg-zebra;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -25px;
    width: 25px;
    height: 5.5rem;
    margin-top: 1px;
    border: 0;
    opacity: 0.7;
    background: mix($c-bad, $c-bg-box, 50%);
    @include transition();
    display: none;
    @include breakpoint($mq-col2) {
      display: block;
    }
    &:hover {
      background: $c-bad;
      color: $c-bad-over;
    }
  }
  .post-game-study {
    position: relative;
    min-height: calc(1.5rem + 25px);
    form,
    a.fbt {
      display: flex;
      justify-content: center;
      .spinner {
        width: 16px;
        height: 20px;
      }
      button.inactive {
        pointer-events: none;
      }
      &:hover ~ .new-study-button {
        color: #fff;
        background: mix($c-secondary, $c-bg-box, 75%);
        &::after {
          content: '';
          width: 1px;
          height: 80%;
          margin-top: 10%;
          position: absolute;
          left: 0;
          background: #fff;
          opacity: 0.3;
        }
      }
      &.glowing {
        &::before {
          background: $c-secondary;
        }
      }
    }
    .new-study-button {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      height: calc(100% - 1px);
      font-size: 1.5rem;
      color: $c-font-dim;
      padding: 0 0.75rem;
      &:hover {
        color: #fff;
      }
    }
    &-decline {
      height: calc(1.5rem + 25px);
    }
  }
}
