.rcontrols {
  text-align: center;
  width: 100%;
  border-bottom: $border;
  @include breakpoint($mq-col2) {
    border-bottom: 0;
    border-top: $border;
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .ddloader {
    margin: 20px auto 10px auto;
  }
  .suggestion,
  .pending,
  .negotiation {
    padding: 8px 7px;
    background: #d0d0d0;
  }
  .suggestion p {
    margin-bottom: 7px;
  }
  .suggestion .button {
    width: 100%;
  }
  .expiration {
    display: flex;
    justify-content: center;
    align-items: center;
    &.emerg {
      background: #dc322f!important;
      color: #fff!important;
    }
    strong {
      font-size: 1.3em;
      margin-right: .3em;
    }
  }
  .pending {
    display: flex;
    align-items: center;
    p {
      flex: 3 1;
      margin-right: 7px;
    }
    .button {
      flex: 1 1;
    }
  }
  .negotiation {
    display: flex;
    align-items: center;
    p {
      flex: 1 1 auto;
      margin-right: 7px;
    }
    a {
      flex: 0 0 50px;
      height: 50px;
      line-height: 44px;
      font-size: 25px;
      display: block;
      background: #fff;
    }
    .accept {
      color: #759900;
      border-right: 1px solid #d0d0d0;
      border-radius: 3px 0 0 3px;
    }
    .decline {
      color: #dc322f;
      border-radius: 0 3px 3px 0;
    }
    a:hover {
      color: #fff;
      background: #759900!important;
    }
    a.decline:hover {
      background: #dc322f!important;
    }
  }
  .follow_up {
    position: relative;
    .button {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0;
      padding: 12px 0;
      border-width: 1px 0 0 0;
    }
    > .button:first-child {
      border-top-width: 0;
    }
    > .button:last-child {
      border-bottom-width: 1px;
    }
    .variant_crazyhouse & .button {
      padding: 9px 0;
    }
    .fbt.strong {
      display: block;
      padding: 2em 0;
      font-size: 1.2em;
    }
    .weak {
      font-weight: normal;
      padding: 6px 0;
    }
    .weak::before {
      opacity: 0.7;
    }
  }
  .rematch{
    &.button {
      padding: 0;
      height: 56px;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      transition: height 0.5s ease;
      .variant_crazyhouse & {
        height: 60px;
      }
    }
    &.me {
      background: rgba(56,147,232,0.8);
    }
    @keyframes rubberBand {
      from { transform: scale3d(1, 1, 1); }
      6% { transform: scale3d(1.25, 0.75, 1); }
      8% { transform: scale3d(0.75, 1.25, 1); }
      10% { transform: scale3d(1.15, 0.85, 1); }
      13% { transform: scale3d(.95, 1.05, 1); }
      15% { transform: scale3d(1.05, .95, 1); }
      20% { transform: scale3d(1, 1, 1); }
    }
    &.them {
      background: none;
      animation: fbt-glowing 1.5s ease-in-out infinite;
    }
    &.them span {
      animation: rubberBand 5s infinite;
    }
    &.button:not(.disabled):hover {
      background: rgba(56,147,232,0.8);
      color: #fff!important;
      animation: none;
      text-shadow: none;
    }
    &-decline {
      position: absolute;
      top: 0;
      right: -25px;
      width: 25px;
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #ccc;
      border-left: 0;
      border-radius: 0 5px 5px 0;
      box-sizing: border-box;
      opacity: 0.7;
      transition: 0.3s;
    }
    &-decline:hover {
      background: #dc322f;
      color: #fff;
      right: -36px;
      width: 35px;
    }
  }
}
