// layout
$col1-player-clock-height: 50px;
$col1-user-height: $col1-player-clock-height * 3 / 5;
$col1-mat-height: $col1-player-clock-height * 2 / 5;
$col1-moves-height: 4em;
$move-tag: 'Z7yx';
$rmoves-tag: 'i5d';
$rbuttons-tag: 'bo3';
$moves-tag: 'aPp';
$index-tag: 'qZM';
$active-class: 'a1t';
