square.king-win::after,
square.king-lose::after,
square.king-lose-mate::after,
square.king-lose-resign::after,
square.king-lose-timeout::after,
square.king-draw::after {
  @extend %flex-center-center;

  position: absolute;
  top: -10%;
  right: -10%;
  width: 42%;
  height: 42%;
  border: 0.1em solid $c-bg-box;
  border-radius: 50%;
  color: $c-over;
  font-family: lichess;
  font-size: clamp(0.7rem, 2.5vmin, 1.5rem);
  line-height: 1;
  z-index: 1;
}

square.king-win::after {
  background: $c-good;
  content: $licon-Trophy;
}

square.king-lose::after {
  background: $c-bad;
  content: $licon-CautionTriangle;
}

square.king-lose-mate::after {
  background: $c-bad;
  content: $licon-CautionCircle;
}

square.king-lose-resign::after {
  background: $c-bad;
  content: $licon-FlagOutline;
}

square.king-lose-timeout::after {
  background: $c-bad;
  content: $licon-Clock;
}

square.king-draw::after {
  background: $c-brag;
  content: $licon-OneHalf;
}
