@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';

#powerTip {
  .forecast-info {
    .title {
      @extend %metal;

      display: block;
      padding: 0.7em;
      border-bottom: theme.$border;
      text-align: center;
    }

    .content {
      display: block;
      padding: 1em;
    }
  }
}
