.keyboard-move {
  @extend %flex-center-nowrap;

  input {
    width: 4.5em;
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 1rem;
    border: $border;

    @include transition;

    &.wrong {
      background: var(--c-bad);
      color: var(--c-bad-over);
    }
  }

  em {
    color: var(--c-font-dim);
  }
}
