.round {
  grid-area: main;
  display: grid;
  grid-gap: $block-gap;

  &__app { grid-area: app; }
  &__side { grid-area: side; }
  .mchat { grid-area: chat; }
  &__underboard { grid-area: under; }
  &__underchat { grid-area: uchat; }

  grid-template-areas:
  'app'
  'side'
  'chat'
  'uchat'
  'under';

  @include breakpoint($mq-col2) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto fit-content(0) fit-content(0);
    grid-template-areas:
    'app   app'
    'chat  side'
    'chat  under'
    'chat  uchat';
    &__app {
      justify-self: center;
    }
  }

  @include breakpoint($mq-col3) {
    grid-template-columns: minmax(200px, 300px) $board-width $table-width;
    grid-template-rows: max-content fit-content(100%);
    grid-template-areas:
    'side  app   app'
    'chat  app   app'
    'uchat under .  ';
    @include crosstable-large;
  }
}
