.material {
  align-self: center;
  display: none;
  @include breakpoint($mq-col2) {
    display: block;
    line-height: 0;
    white-space: nowrap;
    div {
      display: inline-block;
      margin-left: 10px;
    }
    mpiece {
      margin-left: -10px;
      width: 32px;
      height: 32px;
      background-size: cover;
      display: inline-block;
      &.pawn {
        background-image: url(../piece/mono/P.svg);
      }
      &.bishop {
        background-image: url(../piece/mono/B.svg);
      }
      &.knight {
        background-image: url(../piece/mono/N.svg);
      }
      &.rook {
        background-image: url(../piece/mono/R.svg);
      }
      &.queen {
        background-image: url(../piece/mono/Q.svg);
      }
      &.king {
        background-image: url(../piece/mono/K.svg);
      }
    }
    score {
      font-family: 'Roboto';
      font-size: .9em;
      line-height: 35px;
      vertical-align: top;
    }
  }
}
