@use 'sass:math';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/abstract/z-index' as z;
@use 'pkg:common/theme';

/* shared with analysis */
.game__meta {
  @extend %box-neat-force;

  background: theme.$c-bg-box;
  padding: #{variables.$block-gap * 0.7} variables.$block-gap;

  section:not(:last-child) {
    border-bottom: theme.$border;
    margin-bottom: math.div(variables.$block-gap * 2, 3);
    padding-bottom: math.div(variables.$block-gap * 2, 3);
  }

  &__infos {
    @extend %flex-center-nowrap;

    position: relative; /* for bookmark */
    &::before {
      font-size: 3rem;
      margin-right: 4%;
    }

    p {
      margin: 0;
    }

    time {
      opacity: 1;
    }
  }

  .status {
    text-align: center;
  }

  &__players {
    margin-top: 0.3rem;
    font-size: 90%;
  }

  .bookmark {
    position: absolute;
    right: 0;
    z-index: z.get('game-bookmark');
    color: theme.$c-font-dim;

    ::before {
      font-size: 1.3em;
    }

    &:not(.bookmarked) .on,
    &.bookmarked .off {
      display: none;
    }
  }

  .user-tv {
    @extend %nowrap-ellipsis;

    font-size: 1.2em;
  }
}

.game__tournament {
  .clock {
    @extend %roboto;

    font-size: 2em;
    text-align: center;
    margin-top: 0.2em;
  }
}

@media (hover: hover) {
  .game__meta .bookmark {
    display: none;
  }

  .game__meta:hover .bookmark {
    display: block;
  }
}
