/* shared with analysis */
.game__meta {
  @extend %box-neat-force;

  background: $c-bg-box;
  padding: #{$block-gap * 0.7} $block-gap;

  section:not(:last-child) {
    border-bottom: $border;
    margin-bottom: #{$block-gap * 2 / 3};
    padding-bottom: #{$block-gap * 2 / 3};
  }

  &__infos {
    @extend %flex-center-nowrap;

    position: relative;

    /* for bookmark */
    &::before {
      font-size: 3rem;
      margin-right: 4%;
    }

    p {
      margin: 0;
    }

    time {
      opacity: 1;
    }
  }

  .status {
    text-align: center;
  }

  &__players {
    margin-top: 0.3rem;
    font-size: 90%;
  }

  .bookmark {
    position: absolute;
    right: 0;
    z-index: z('game-bookmark');
    color: $c-font-dim;

    ::before {
      font-size: 1.3em;
    }

    &:not(.bookmarked) .on,
    &.bookmarked .off {
      display: none;
    }
  }

  .user-tv {
    @extend %nowrap-ellipsis;

    font-size: 1.2em;
  }
}

.game__tournament {
  .clock {
    @extend %roboto;

    font-size: 2em;
    text-align: center;
    margin-top: 0.2em;
  }
}

@media (hover: hover) {
  .game__meta .bookmark {
    display: none;
  }

  .game__meta:hover .bookmark {
    display: block;
  }
}
