#modal-overlay {
  .study-option {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    &:first-child {
      margin-bottom: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: $border;
    }
    .study-title {
      font-size: 1.2rem;
      &:first-child {
        margin-left: 0.5rem;
      }
    }
    .desc {
      max-width: 25vw;
      color: $c-font-dim;
      font-size: 0.8rem;
      margin: 0.5rem auto 0.3rem auto;
    }
    form {
      margin: 0.5rem 0;
      & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        label {
          margin-right: 0.75rem;
        }
        .user-invite {
          width: 100%;
        }
        .tt-suggestion {
          text-align: left;
        }
        & > :last-child {
          flex: 1;
        }
      }
      button {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
