/* context: .rmoves */
@include mq-is-col1 {
  overflow: hidden;

  .col1-moves {
    flex: 0 0 $col1-moves-height;
    display: flex;
    justify-content: space-between;

    .fbt {
      flex: 0 0 auto;
      padding: 0 1.3em;
    }

    body.zenable.zen & {
      visibility: hidden;
    }
  }

  #{$moves-tag} {
    flex: 1 1 100%;
    display: flex;
    align-items: stretch;
    white-space: nowrap;
    overflow-x: scroll;
    color: $c-font-page;
    box-shadow: 0 4px 12px #000 inset;

    @include if-light {
      box-shadow: 0 4px 4px #aaa inset;
    }
    &::-webkit-scrollbar {
      height: 0px;
    }

    > :first-child {
      margin-inline-start: auto !important;
    }
  }

  #{$index-tag},
  #{$move-tag},
  .result-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.3rem;
  }

  #{$index-tag} {
    padding-inline-end: 0.15em;
  }

  #{$move-tag} {
    font-size: 1.1em;
    cursor: pointer;

    &.#{$active-class},
    &:hover {
      background: $c-bg-zebra;
      @include if-light {
        background: hsl($site-hue, 20%, 85%);
      }
    }

    &.#{$active-class} {
      color: $c-font-clearer;
    }
  }

  .buttons {
    display: none;
  }

  .result {
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
  }

  .message {
    flex: 0 0 $col1-moves-height;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;

    br {
      display: none;
    }

    strong {
      margin-inline-start: 0.5em;
    }

    &::before {
      margin-inline-end: 0.3em;
    }

    body.zenable.zen & {
      visibility: hidden;
    }
  }

  .status {
    display: none;
  }
}
