#{$moves-tag} > :not(.result-wrap) {
  @extend %zen;
}

#{$index-tag} {
  @extend %roboto;
}

#{$move-tag} {
  @extend %san;
}

#{$rmoves-tag} {
  @extend %flex-column, %double-tap;

  .buttons {
    @extend %box-shadow;

    flex: 0 0 auto;
    display: flex;
    justify-content: stretch;
    background: $c-bg-zebra;
    font-size: 0.9em;
    order: 2;

    @include breakpoint($mq-col2) {
      order: 0;
    }
  }

  .menu-button {
    position: relative;
  }

  .new-nag {
    position: absolute;
    top: 0;
    bottom: 40%;
    left: 40%;
    right: 0;
    margin: auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: red;

    &::after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 7px;
      height: 7px;
      border-radius: inherit;
      background: red;
      animation: 1.5s ease-out 0s infinite new-nag-pulse;
      opacity: 0.2;
      content: '';
    }

    @keyframes new-nag-pulse {
      0% {
        transform: scale3d(1, 1, 1);
        opacity: 0.7;
      }
      100% {
        transform: scale3d(4, 4, 4);
        opacity: 0;
      }
    }
  }

  .fbt,
  .noop {
    padding: 5px 0;
    flex: 0 0 calc(100% / 6);
    text-align: center;
  }

  #{$moves-tag},
  .message {
    flex: 0 0 7.4rem;
  }

  @import 'moves-col1';
  @import 'moves-col2';
}

@include breakpoint($mq-col1) {
  .col1-rmoves-preload {
    height: 2.5em;
  }
}
