.rmoves {
  @extend %flex-column;
  background: $c-bg-box;
  .buttons {
    @extend %flex-between;
    flex: 0 0 auto;
    border: $border;
    background: $c-bg-zebra;
    font-size: .9em;
    order: 2;
    @include breakpoint($mq-col2) {
      order: 0;
    }
  }
  .fbt {
    padding: 5px 10px;
  }
  .noop {
    width: 30px;
  }
  .moves,
  .message {
    flex: 0 0 7.3em;
  }
  .moves {
    @extend %zen;
  }
  index {
    @extend %roboto;
  }
  move {
    @extend %san;
  }
  @include breakpoint($mq-col2) {
    .moves {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      position: relative; /* required by autoScroll */
      overflow-y: auto;
      align-content: start;
      border: $border;
      border-width: 0 1px;
      will-change: scroll-position;
      user-select: none;
      line-height: 1.7;
    }
    index {
      flex: 0 0 15%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: $c-bg-zebra;
    }
    move {
      flex: 0 0 42.5%;
      padding-left: .7em;
      font-size: 1.1em;
      @include transition();
      &:not(.empty) {
        cursor: pointer;
        &:hover {
          background: $c-primary;
          color: #fff;
        }
      }
      &.active {
        font-weight: bold;
        background: mix($c-primary, $c-bg-box, 20%);
      }
    }
    .message {
      display: flex;
      align-items: center;
      margin: 1em;
      &::before {
        color: $c-font-dim;
        font-size: 3em;
        margin-right: 12px;
      }
    }
    .result-wrap {
      width: 100%;
      text-align: center;
    }
    .result {
      border-top: $border;
      font-weight: bold;
      font-size: 1.2em;
      margin: 5px 0 3px 0;
    }
    .status {
      font-style: italic;
      margin-bottom: .5em;
    }
  }
  @include breakpoint($mq-col1) {
    $moves-height: 2.5em;
    .moves {
      flex: 0 0 $moves-height;
      display: flex;
      align-items: stretch;
      white-space: nowrap;
      width: 100vw;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 1px;
        background: $c-border;
      }
      &::-webkit-scrollbar-thumb {
        background: $c-accent;
      }

      > :first-child {
        margin-left: auto !important;
      }
      --horiz: 1;
    }
    index,
    move,
    .result-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 .4rem;
    }
    index {
      padding-right: .15em;
    }
    move {
      font-size: 1.1em;
      @include transition();
      &.active {
        font-weight: bold;
        background: mix($c-primary, $c-bg-box, 20%);
      }
      &.empty {
        display: none;
      }
    }
    .buttons {
      display: none;
    }
    .result {
      margin: 0;
      font-weight: bold;
      font-size: 1.1em;
    }
    .message {
      flex: 0 0 $moves-height;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1.2;
      br { display: none; }
      strong { margin-left: .5em; }
      &::before {
        margin-right: .3em;
      }
    }
    .status {
      display: none;
    }
    .result-wrap {
    }
  }
}
