/* context: #{$rmoves-tag} */
@include mq-at-least-col2 {
  background: $c-bg-box;

  .fbt,
  .noop {
    height: $buttons-height;
    line-height: calc($buttons-height - 0.1rem);
  }

  #{$moves-tag} {
    @include prevent-select;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;

    /* required by autoScroll */
    overflow-y: auto;
    align-content: flex-start;
    will-change: scroll-position;
    line-height: 1.7;
    font-size: 1.1em;
  }

  #{$index-tag} {
    /* Edge 18: flex: 0 0 calc(100% / 6); causes wrap */
    flex: 0 0 16.666%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: $c-bg-zebra;
  }

  #{$move-tag} {
    /* Edge 18: flex: 0 0 calc(100% * 5 / 12); causes wrap */
    flex: 0 0 41.666%;
    padding-inline-start: 0.7em;
    cursor: pointer;

    &:hover {
      background: $c-primary;
      color: #fff;
    }

    &.#{$active-class} {
      font-weight: bold;
      background: $m-primary_bg--mix-20;
      color: $c-font-clear;
    }
  }

  .message {
    display: flex;
    align-items: center;
    margin: 1em;

    &::before {
      color: $c-font-dim;
      font-size: 3em;
      margin-inline-end: 12px;
    }
  }

  .result-wrap {
    width: 100%;
    text-align: center;
  }

  .result {
    border-top: $border;
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px 0 3px 0;
    margin: 0;
  }

  .status {
    font-style: italic;
    margin-bottom: 0.5em;
  }

  .board-menu {
    border-radius: 0 0 $box-radius-size $box-radius-size;
    top: $buttons-height;
    border-top: 2px solid $c-secondary;
  }
}
