@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/theme';
@use 'local';

.rmoves {
  @extend %flex-column, %double-tap;

  max-height: 100vh;

  .buttons {
    @extend %box-shadow;

    flex: 0 0 40px;
    align-items: center;
    display: flex;
    justify-content: stretch;
    background: theme.$c-bg-zebra;
    font-size: 0.9em;
    order: 2;

    @include breakpoint.breakpoint(local.$mq-col2) {
      order: 0;
    }
  }

  .fbt,
  .noop {
    padding: 9px 0;
    flex: 0 0 calc(100% / 6);
    text-align: center;
  }

  .fbt[disabled] {
    pointer-events: none;
  }

  .message {
    flex: 0 0 6.1rem;
  }

  .moves {
    @extend %zen;
  }
  #{local.$move-tag} {
    @extend %move-notation;
  }

  .result-wrap {
    &.victorious {
      color: theme.$c-good;
    }

    &.defeated {
      color: theme.$c-bad;
    }
  }
}
