@use 'pkg:breakpoint-sass' as breakpoint;
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';
@use 'local';

.round__now-playing {
  grid-area: now-playing;

  h3 {
    @extend %flex-between;

    margin: 1em 0 0.5em 0;

    @include breakpoint.breakpoint(local.$mq-col1) {
      margin: 1em variables.$block-gap 0.5em variables.$block-gap;
    }
  }

  .simul {
    span {
      font-weight: bold;
      margin: 0 0.5em;
    }

    .win {
      color: theme.$c-good;
    }

    .draw {
      color: theme.$c-brag;
    }

    .loss {
      color: theme.$c-bad;
    }
  }

  .switcher {
    @extend %flex-center;

    label {
      cursor: pointer;
    }

    .switch {
      margin-left: 10px;
    }
  }

  .now-playing {
    @extend %page-text;

    padding: 0.3em;
  }
}
