@import 'constants';

.round {
  grid-template-areas: 'nvui' 'side' 'uchat';
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.nvui {
  h2 {
    font-weight: bold;
    margin-top: 0.5em;
  }

  .moves {
    max-height: 140px;
    overflow-y: auto;
  }

  .board {
    font-family: monospace;
    font-size: 1.5em;
    margin: 0;
    line-height: 32px;
    border-collapse: collapse;
    text-align: center;
    td,
    th {
      width: 32px;
      border: 1px solid black;
      .black {
        background-color: black;
        color: white;
      }
      .white {
        background-color: white;
        color: black;
      }
    }
  }

  .pieces h3 {
    font-weight: bold;
    margin: 0 5px 0 0;
    display: inline;
  }

  .notify {
    color: $c-bad;
    font-weight: bold;
  }

  .#{$active-class} {
    font-weight: bold;
    color: $c-accent;
  }

  .content a {
    margin-inline-end: 1em;
  }

  @media screen {
    .actions button,
    .actions div,
    .board-wrapper div button {
      background-repeat: no-repeat;
      background-size: auto;
      color: transparent;
      aspect-ratio: 1/1;
      overflow: hidden;
      white-space: nowrap;
    }
    .board-wrapper div button.light {
      background-color: #cecece;
    }
    .board-wrapper div button.dark {
      background-color: #535353;
    }
    .board-wrapper div button.selected {
      border-color: #303030;
      border-width: thick;
      border-style: groove;
    }
    .actions,
    .board-wrapper {
      max-width: $xx-small;
    }
    .actions {
      display: flex;
    }
    @media (max-width: at-most($xx-small)) {
      .actions button,
      .actions div,
      .board-wrapper div button {
        width: 12vw;
      }
      .board {
        text-align: left;
      }
      h2,
      .boardstatus {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
      }
    }
    @media (min-width: at-least($xx-small)) {
      .actions button,
      .actions div,
      .board-wrapper div button {
        width: 12.5%;
      }
      .board {
        text-align: center;
      }
    }
  }
}
