$mq-col2: ($mq-medium, $mq-landscape);
$mq-col3: $mq-x-large;

$board-min-width: calc(70vmin * var(--board-scale));
$board-max-width: calc(100vh * var(--board-scale) - #{$site-header-height} - #{$block-gap});
$board-width: minmax($board-min-width, $board-max-width);

@import 'layout';
@import 'app-layout';
@import 'zen';
@import 'side';
@import 'meta';
@import 'table';
@import 'clock';
@import 'material';
@import 'moves';
