@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';

.round__app {
  &__table {
    @extend %box-radius-right, %box-shadow;

    background: theme.$c-bg-box;
  }
}

.expiration {
  @extend %flex-center;

  font-size: 0.9rem;
  justify-content: center;
  line-height: 2;
  background: theme.$c-good;
  color: #fff;

  &-top {
    border-top-right-radius: variables.$box-radius-size;
  }

  &-bottom {
    border-bottom-right-radius: variables.$box-radius-size;
  }

  &.emerg {
    background: theme.$c-bad;
  }

  strong {
    font-size: 1rem;
    margin-right: 0.3em;
  }
}
