%zen {
  body.zen & {
    display: none;
  }
}

body.zen {
  .ricons {
    margin: 0.5em 0 1em 0;
  }

  #top {
    justify-content: center;
  }
}

#friend_box,
.site-title-nav,
.site-buttons {
  @extend %zen;
}
