%zen {
  body.playing.zen & {
    display: none;
  }
}

#zentog {
  position: absolute;
  padding: 0.5em 1em;
  opacity: 0.5;
  z-index: z('zen-toggle');
  display: none;
  border-bottom-right-radius: $box-radius-size;

  body.playing.zen & {
    display: block;
  }

  &:hover {
    opacity: 1;
  }
}

body.playing.zen {
  .ricons {
    margin: 0.5em 0 1em 0;
  }

  #top {
    justify-content: center;
  }
}

#friend_box,
.site-title-nav,
.site-buttons {
  @extend %zen;
}
