@use 'breakpoint-sass/stylesheets/breakpoint';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/abstract/mixins';
@use 'pkg:common/abstract/variables';

#clinput {
  display: flex;
  height: variables.$site-header-height;

  input {
    @extend %page-text;

    line-height: variables.$site-header-height;
    background: none;
    padding: 0;
    border: 0;
    width: 0;

    @include breakpoint.breakpoint(media-queries.$mq-x-large) {
      @include mixins.transition(width);
    }

    body.clinput & {
      width: 20ch;
    }
  }

  input:focus {
    outline: none;
  }

  .tt-menu {
    .empty,
    .spinner {
      display: none;
    }
  }
}

body.clinput #top {
  @include breakpoint.breakpoint(media-queries.$mq-not-x-large) {
    #topnav {
      display: none;
    }
  }

  @include breakpoint.breakpoint(media-queries.$mq-not-x-small) {
    .site-title {
      display: none;
    }
  }

  @include breakpoint.breakpoint(media-queries.$mq-not-xx-small) {
    .site-buttons > *:not(#clinput) {
      display: none;
    }

    #clinput {
      width: 75vw;
    }
  }
}
