$track-height: 30px;
$car-width: 4rem;
$car-ratio: 0.328;
$c-bg-position-y: 2px;

@font-face {
  font-family: 'racer-car';
  font-style: normal;
  font-weight: 400;

  src: url('../images/racer/racer.woff2') format('woff2');
}

.racer__race {
  @extend %box-radius;
  overflow: hidden;

  position: relative;
  background: $c-bg-box;
  font-size: 0.9em;

  &::before,
  &__tracks {
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    content: '';
    z-index: 0;
    width: 120%;
    height: 100%;
    background-image: url(../images/racer/road1.jpg);
    background-repeat: repeat;
    background-position-y: 15px;
    // .racer--ongoing & {
    animation: road-scroll 1s linear infinite;
    animation-fill-mode: both;
  }

  @keyframes road-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-121px);
    }
  }

  &__tracks {
    padding: 22px 0 15px 10px;
    width: 100%;
  }

  &__track {
    height: $track-height;
    z-index: 1;
    // border-bottom: 2px solid $c-border;
    margin-right: 20ch;
  }

  &__player {
    @extend %flex-center-nowrap;

    flex: 0 0 auto;
    transition: transform 2s;

    &__name {
      margin-left: 1ch;
      white-space: nowrap;
    }

    &__car {
      flex: 0 0 $car-width;
      font-family: 'racer-car';
      height: #{$car-width * $car-ratio};
      font-size: $car-width;
      line-height: 0;
      text-shadow: -1px 1px 2px #000;
      animation: lightSpeedInLeft 0.8s ease-out;
    }

    &--me {
      .user-link,
      anonymous {
        color: #ddd;
      }
    }
  }
}

@keyframes lightSpeedInLeft {
  from {
    transform: translateX(-100%) skewX(30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(-20deg);
    opacity: 1;
  }

  80% {
    transform: translateX(0), skewX(5deg);
  }

  to {
    transform: translateX(0);
  }
}

$car-colors: (
  0: hsl(274, 100%, 59%),
  1: hsl(240, 100%, 67%),
  2: #008000,
  3: #b22222,
  4: hsl(16, 80%, 62%),
  5: #9acd32,
  6: #ff4500,
  7: #2e8b57,
  8: #daa520,
  9: hsl(32, 75%, 47%),
);
@each $index, $color in $car-colors {
  .car-#{$index} {
    color: #{$color};
  }
}
