@import 'race';
@import 'countdown';

.racer {
  &__race {
    grid-area: race;
  }

  display: grid;
  grid-row-gap: $block-gap;
  grid-column-gap: $block-gap;
  grid-template-areas: 'race' 'board' 'side';

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-width $col2-uniboard-table;
    grid-template-rows: auto fit-content(0);
    grid-template-areas:
      'race  race'
      'board side';
  }

  &__started {
    @extend %flex-column;

    justify-content: stretch;
    text-align: center;

    i {
      font-size: 15em;
      line-height: 1.2em;
    }

    p {
      margin: 3em 0;
    }
  }
}
