@import 'race';

.racer {
  &__race {
    grid-area: race;
  }

  display: grid;
  grid-row-gap: $block-gap;
  grid-column-gap: $block-gap;
  grid-template-areas: 'race' 'board' 'side';

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-width $col2-uniboard-table;
    grid-template-rows: auto fit-content(0);
    grid-template-areas:
      'race  race'
      'board side';
  }
}
