@()(implicit ctx: Context)

@themeParameters() = {
<li>- <strong>theme</strong>: Controls the board theme. Available themes: @lidraughts.pref.Theme.all.map(_.name).mkString(", ").</li>
<li>- <strong>bg</strong>: Controls the background color. Available backgrounds: light, dark.</li>
}

@base.layout(title = "Developers") {

<div class="content_box small_box">
  <h1 class="lidraughts_title">Embed lidraughts in your site</h1>

  <p>
    Do you have a website, and want to add a playable live draughts section?<br />
    Add the following line to your site html:
  </p>

  <pre>&lt;script src="https://@netDomain/embed?w=1016&amp;h=650"&gt;&lt;/script&gt;</pre>

  <p>The <strong>w</strong> and <strong>h</strong> parameters control the width and height of the draughts window.</p>
</div>

<br />
<br />

<div class="content_box small_box developers">
  <h1 id="embed-tv" class="lidraughts_title">Embed the Draughts TV in your site</h1>

  <div style="text-align: center;">
    <script src="//@netDomain/tv/embed?theme=wood&bg=light"></script>
  </div>

  <p>
    Just add the following line to your site html:
  </p>

  <pre>&lt;script src="https://@netDomain/tv/embed?theme=auto&bg=auto"&gt;&lt;/script&gt;</pre>

  <p>
    Parameters:
    <ul>
      @themeParameters()
    </ul>
  </p>
</div>

<br />
<br />

<div class="content_box small_box developers">
  <h1 id="embed-puzzle" class="lidraughts_title">Embed the daily puzzle in your site</h1>

  <div style="text-align: center;">
    <script src="//@netDomain/training/embed?theme=auto&bg=auto"></script>
  </div>

  <p>
    Just add the following line to your site html:
  </p>

  <pre>&lt;script src="https://@netDomain/training/embed?theme=auto&bg=auto"&gt;&lt;/script&gt;</pre>

  <p>
    Parameters:
    <ul>
      @themeParameters()
    </ul>
  </p>

  <p>
    The text is automatically translated to your visitor language.
  </p>
</div>

<br />
<br />

<div class="content_box small_box developers">
  <h1 id="embed-study" class="lidraughts_title">Embed a draughts analysis in your site</h1>

  <div style="text-align: center;">
    <iframe width=530 height=353 src="https://lidraughts.org/study/embed/XtFCFYlM/GCUTf2Jk?bg=auto&theme=auto"
      frameborder=0 style="margin-bottom:1em"></iframe>
  </div>

  <p>
    Create <a href="@routes.Study.allDefault(1)">a study</a>,
    then click the share button to get the HTML code for the current chapter.
  </p>

  <pre>@{"""<iframe width=600 height=397 frameborder=0
src="https://lidraughts.org/study/embed/XtFCFYlM/GCUTf2Jk?theme=auto&bg=auto"
></iframe>"""}</pre>

  <p>
    Parameters:
    <ul>
      @themeParameters()
    </ul>
  </p>

  <p>
    The text is automatically translated to your visitor language.
  </p>
</div>

<br />
<br />

<div class="content_box small_box developers">
  <h1 id="embed-game" class="lidraughts_title">Embed a draughts game in your site</h1>

  <div style="text-align: center;">
    <iframe width=530 height=353 src="https://lidraughts.org/embed/MPJcy1JW?bg=auto&theme=auto"
      frameborder=0 style="margin-bottom:1em"></iframe>
  </div>

  <p>
    On a game analysis page, click the <em>"FEN &amp; PDN"</em> tab at the bottom,
    then <em>"@trans.embedInYourWebsite()"</em>.
  </p>

  <pre>@{"""<iframe width=600 height=397 frameborder=0
src="https://lidraughts.org/embed/MPJcy1JW?theme=auto&bg=auto"
></iframe>"""}</pre>

  <p>
    Parameters:
    <ul>
      @themeParameters()
    </ul>
  </p>

  <p>
    The text is automatically translated to your visitor language.
  </p>
</div>

<br />
<br />

<div class="content_box small_box developers">
  <h1 id="use-api" class="lidraughts_title">Lidraughts HTTP API</h1>

  <p>Lidraughts exposes a RESTful HTTP/JSON API that you are free to use without limitation.</p>
  <br />
  <p>This is the same API as lichess, you read the documentation on the
    <a href="https://github.com/ornicar/lila#http-api">lichess github page</a>.
  </p>
</div>

@*<br />
<br />

<div class="content_box small_box developers">
  <h1 id="use-api" class="lidraughts_title">Lidraughts Widgets</h1>
  <p>Let your website/blog visitors know that you're playing on lidraughts!</p>
  <p>See <a href="http://rubenwardy.com/lidraughts_widgets/">rubenwardy.com/lidraughts_widgets/</a> for widgets with your username and rating.</p>
</div>*@
}
