@()(implicit ctx: Context)

@site.layout(
title = "Developers") {

<div class="content_box small_box developers">
  <h1 class="lichess_title">Developers</h1>

  <p>
    Do you have a chess website, and want to add a live chess section?<br />
    Add the following line to your site html:
  </p>

  <pre>&lt;script src="http://en.lichess.org/embed?w=820h=650"&gt;&lt;/script&gt;</pre>

  <p>The <strong>w</strong> and <strong>h</strong> parameters control the width and height of the chess window.</p>
</div>
}
