@()(implicit ctx: Context)

@site.layout(
title = "Developers") {

<div class="content_box small_box developers">
  <h1 class="lichess_title">Embed lichess in your site</h1>

  <p>
    Do you have a chess website, and want to add a playable live chess section?<br />
    Add the following line to your site html:
  </p>

  <pre>&lt;script src="http://en.lichess.org/embed?w=820h=650"&gt;&lt;/script&gt;</pre>

  <p>The <strong>w</strong> and <strong>h</strong> parameters control the width and height of the chess window.</p>
</div>

<br />
<br />

<div class="content_box small_box developers">
  <h1 class="lichess_title">Embed the Chess TV in your site</h1>

  <p>
    Do you have a chess website, and want to add a live chess TV?<br />
    Add the following line to your site html:
  </p>

  <pre>
&lt;iframe frameBorder='0' style='width: 226px; height: 266px'
src="http://en.lichess.org/embed/tv?theme=brown&bg=light"&gt;&lt;/iframe&gt;
  </pre>

  <p>
    Parameters:
    <ul>
      <li>- <strong>theme</strong>: Controls the board theme. Available themes: brown, blue, green, purple, yellow, grey, wood, canvas, leather.</li>
      <li>- <strong>bg</strong>: Controls the background color. Available backgrounds: light, dark.</li>
    </ul>
  </p>

  <br />
  <p>Example with dark background and wood theme:</p>

  <pre>
&lt;iframe frameBorder='0' style='width: 226px; height: 266px' 
src="http://en.lichess.org/embed/tv?theme=wood&bg=dark"&gt;&lt;/iframe&gt;
  </pre>

  <div style="text-align: center; margin: 2em 0 1em 0;">
    <iframe frameBorder='0' style='width: 226px; height: 266px' 
      src="http://en.l.org@routes.Main.embedTv()?theme=wood&bg=dark"></iframe>
  </div>
</div>
}
