@()(implicit ctx: Context)

@base.layout(
title = "Mobile",
moreCss = cssTag("mobile.css")) {
<div class="mobile content_box small_box clearfix">
  <div class="right-side">
    <img class="nexus5-playing" width="268" height="513" src="@staticUrl("images/mobile/nexus5-playing.png")" alt="Lichess mobile on nexus 5" />
    <p>
      <a class="download button" href="https://play.google.com/store/apps/details?id=org.lichess.mobileapp">
        Download now for free
      </a>
    </p>
    <img class="qrcode" width="200" height="200" src="@staticUrl("images/mobile/android-qrcode.png")" alt="Android QR code" />
  </div>
  <div class="left-side">
    <h1>Play chess everywhere</h1>
    <a class="store" href="https://play.google.com/store/apps/details?id=org.lichess.mobileapp">
      <img alt="Android app on Google Play"
      src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
    </a>
    <h2>lichess on the go</h2>
    <ul class="block">
      <li>Challenge online players</li>
      <li>Play Stockfish level 1 to 8</li>
      <li>Login or play as Anonymous</li>
      <li>Available in 80 languages!</li>
    </ul>
    <h2>As free as lichess</h2>
    <ul class="block">
      <li>Built for the love of chess, not money</li>
      <li>Everybody gets <strong>all features for free</strong></li>
      <li>Zero advertisement</li>
      <li>Entirely <a href="https://github.com/veloce/lichobile">Open Source</a> as usual</li>
    </ul>
    <h2>Three modes included</h2>
    <ul class="block">
      <li>Real time with increment</li>
      <li>Correspondence games</li>
      <li>Over The Board, offline</li>
    </ul>
    <p class="block">
      More of the features you love from the website will be added in the near future.<br />
      Look out for updates regularly!
    </p>
    <p class="block">
      Android 4.4 and 5+ support: <span class="good support">PERFECT</span><br />
      Android 4.1 to 4.3 support: <span class="partial support">CORRECT</span><br />
      The iOS app will land in early March 2015.
    </p>
    <div class="block">
      <a href="https://github.com/veloce/lichobile">Lichess mobile is open source, </a>
      and uses:
      <ul style="text-align:left">
        <li><a href="http://cordova.apache.org/">Cordova platform</a></li>
        <li><a href="http://tarifa.tools">Tarifa toolchain</a></li>
        <li><a href="http://lhorie.github.io/mithril/">Mithril JS framework</a></li>
      </ul>
    </div>
  </div>
</div>
}
