@(doc: io.prismic.Document, resolver: io.prismic.DocumentLinkResolver)(implicit ctx: Context)

@side = {
<div class="side">
  @Html(~doc.getHtml("doc.content", resolver))
</div>
}

@base.layout(
moreCss = cssTag("swag.css"),
side = side.some,
title = "Lichess Swag",
openGraph = lila.app.ui.OpenGraph(
title = "Lichess merch store",
description = "Great chess deserves great T-shirts! Get yourself some swag and help pay for the servers.",
url = s"$netBaseUrl${routes.Page.swag}").some) {

<div class="content_box swag no_padding">
  <div id="myShop">
    @base.spinner()
    <p class="loading">
      Not loading? <a target="_blank" href="https://shop.spreadshirt.com/lichess-org/">Open the shop in a new tab</a>.
    </p>
  </div>

  <script>
    var spread_shop_config = {
      shopName: 'lichess-org',
        locale: 'us_US',
        prefix: '//shop.spreadshirt.com',
        baseId: 'myShop'
    };
  </script>

  <script type="text/javascript" src="//shop.spreadshirt.com/shopfiles/shopclient/shopclient.nocache.js"></script>
</div>
}
