@(doc: io.prismic.Document, resolver: io.prismic.DocumentLinkResolver, variant: draughts.variant.Variant, perfType: lidraughts.rating.PerfType)(implicit ctx: Context)

@variantLayout(
active = perfType.some,
title = s"${variant.name} • ${variant.title}") {

<div class="content_box small_box doc_box">

  <h1 class="lidraughts_title text" data-icon="@perfType.iconChar">@variant.name</h1>

  <h2 class="headline">@variant.title</h2>

  <div class="body">
    @Html(~doc.getHtml("variant.content", resolver))
  </div>
</div>
}
