@(title: String, active: Option[lidraughts.rating.PerfType] = None, openGraph: Option[lidraughts.app.ui.OpenGraph] = None)(body: Html)(implicit ctx: Context)

@menu = {
@lidraughts.rating.PerfType.variantsPlus.map { pt =>
<a class="@active.map(_.key.active(pt.key)) text" href="@routes.Page.variant(pt.key)" data-icon="@pt.iconChar">
  @pt.name
</a>
}
}

@moreCss = {
@cssTag("page.css")
@cssTag("variant.css")
}

@base.layout(
title = title,
menu = menu.some,
moreCss = moreCss,
openGraph = openGraph)(body)
