@()

<!DOCTYPE html>

<html>
  <head>
    <title>Lichess World Map</title>
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon-32-white.png")" type="image/x-icon" />
    @cssAt("worldMap/main.css")
    <meta content="noindex, nofollow" name="robots">
  </head>
  <body>
    <h1><a href="//lichess.org">lichess<span class="extension">.org</span></a> network</h1>
    <div id="worldmap"></div>
    <div id="legend">
      <h1>Map of live games</h1>
      Orange: games in progress<br />
      White: game creations
    </div>
    @jQueryTag
    @jsAt("worldMap/raphael-min.js")
    @jsAt("worldMap/world.js")
    @jsAt("worldMap/app.js")
  </body>
</html>
