@(form: Form[_], ratings: Map[Int, Int])(implicit ctx: Context)

@fields = {
<div class="variants buttons">
  @setup.radios(form("variant"), translatedVariantChoicesWithFen)
</div>
@fenInput(form("fen"), true)
@setup.clock(form, lila.setup.AiConfig)
@trans.level()
<div class="level buttons">
  <div id="config_level">
    @setup.radios(form("level"), lila.setup.AiConfig.levelChoices)
  </div>
  <div class="ai_info">
    @ratings.map {
    case (level, rating) => {
    <div class="level_@level">@aiNameHtml(level)</div>
    }
    }
  </div>
</div>
}

@setup.config(form, "ai", trans.playWithTheMachine(), routes.Setup.ai, fields)
