@(pov: Pov, data: play.api.libs.json.JsObject, config: Option[lila.setup.FriendConfig], userOption: Option[User])(implicit ctx: Context)

@import pov._

@moreJs = {
@embedJs {
lichess = lichess || {};
lichess.prelude = {
data: @Html(play.api.libs.json.Json.stringify(data)),
};
}
}

@round.layout(
title = userOption.isDefined.fold(trans.challengeToPlay,trans.playWithAFriend).str(),
moreJs = moreJs,
side = Html("")) {
<div class="lichess_game">
  <div class="lichess_board_wrap cg-512">
    <div class="lichess_board"></div>
  </div>
  <div class="lichess_overboard">
    @userOption.map { user =>
    <div id="challenge_await" data-user="@user.id">
      <h2>@trans.challengeToPlay()</h2>
      @userLink(user, cssClass="target".some)
      @base.spinner()
      <p class="explanations">
        @trans.waitingForOpponent()<br />
        <a href="@routes.Setup.cancel(fullId)">@trans.cancel()</a>
      </p>
    </div>
    <div id="challenge_declined" class="none">
      <h2>Challenge declined</h2>
      <a href="@routes.Lobby.home()">@trans.newOpponent()</a>
    </div>
    }.getOrElse {
    @trans.toInviteSomeoneToPlayGiveThisUrl():
    <input id="lichess_id_input" class="copyable" spellcheck="false" readonly="true" value="@protocol@commonDomain@routes.Round.watcher(gameId, "white")" />
    <button class="copy button" data-rel="lichess_id_input" data-icon="&quot;"></button>
    <p class="explanations">
      @trans.theFirstPersonToComeOnThisUrlWillPlayWithYou()<br />
      <a href="@routes.Setup.cancel(fullId)">@trans.cancel()</a>
    </p>
    }
    @config.map { c =>
    <p class="explanations">
      @trans.variant(): @views.html.game.variantLink(c.variant, variantName(c.variant))<br />
      @game.daysPerTurn.map { days =>
      <span data-icon=";"> @{(days == 1).fold(trans.oneDay(), trans.nbDays(days))}</span>
      }.getOrElse {
      <span data-icon="p"> @shortClockName(c.makeClock)</span>
      }
      <br />
      @trans.mode(): @modeName(c.mode)
    </p>
    }
    @base.quote(lila.quote.Quote.one(pov.gameId))
  </div>
</div>
}
