@(g: Game, user: User)

<div id="challenge_reminder_@g.id" data-href="@routes.Round.watcher(g.id, "white")" class="notification">
  <div class="game_infos" data-icon="@g.perfType match {
    case _ if g.fromPosition => {*}
    case Some(p) => {@p.iconChar}
    case _ => {8}
    }">
    @userSpan(user, withOnline = false, withPerfRating = g.perfType)
    <span class="setup">
      @g.clock.map(_.show).getOrElse {
      @g.daysPerTurn.map { days =>
      @if(days == 1) {@trans.oneDay.en()} else {@trans.nbDays.en(days)}
      }.getOrElse {∞}
      } •
      @if(g.variant.exotic) {
      @(if (g.variant == chess.variant.KingOfTheHill) g.variant.shortName else g.variant.name)
      } else {
      @g.perfType.map(_.name)
      } • @g.rated.fold(trans.rated.en(), trans.casual.en())
    </span>
  </div>
  <div class="buttons">
    <form action="@routes.Setup.join(g.id)" method="post">
      <button name="submit" type="submit" class="submit button" data-icon="E" title="@trans.joinTheGame.en()"></button>
    </form>
    <a class="button decline" href="@routes.Setup.decline(g.id)" data-icon="L" title="@trans.decline.en()"></a>
  </div>
</div>
