@(form: Form[_], config: lila.setup.BaseConfig)(implicit ctx: Context)

@import lila.app.setup.FriendConfig

<div class="clock_config optional_config">
  <div class="clock_choice">
    <label class="required" for="clock">@trans.timeControl()</label>
    @setup.checkbox(form("clock"))
  </div>
  <div class="time_choice">
    @trans.minutesPerSide(): <span>@form("time").value</span>
    @setup.input(
    form("time"),
    Symbol("data-min") -> config.timeMin,
    Symbol("data-max") -> config.timeMax)
  </div>
  <div class="increment_choice">
    @trans.incrementInSeconds(): <span>@form("increment").value</span>
    @setup.input(
    form("increment"),
    Symbol("data-min") -> config.incrementMin,
    Symbol("data-max") -> config.incrementMax)
  </div>
</div>
