@(form: Form[_], config: lila.setup.BaseConfig)(implicit ctx: Context)

@import lila.setup.FriendConfig

<div class="clock_config optional_config">
  <div class="clock_choice">
    <label class="required pointer" for="clock">@trans.timeControl()</label>
    @setup.checkbox(form("clock"))
  </div>
  <div class="time_choice">
    @trans.minutesPerSide(): <span>@form("time").value</span>
    @setup.input(
    form("time"))
  </div>
  <div class="increment_choice">
    @trans.incrementInSeconds(): <span>@form("increment").value</span>
    @setup.input(
    form("increment"))
  </div>
</div>
