@(form: Form[_], typ: String, title: Html, route: Call, fields: Html, error: Option[Html] = None)(implicit ctx: Context)

@cssTag("setup.css")

<div class="lichess_overboard game_config game_config_@typ @if(error){error}"
  data-random-color-variants="@lila.game.Game.variantsWhereWhiteIsBetter.map(_.id).mkString(",")"
  @if(ctx.isAnon){data-anon="1"}>
  <a href="@routes.Lobby.home" class="close icon" title="@trans.cancel()" data-icon="L"></a>
  <h2>@title</h2>
  @error.map { e =>
  <p class="error">@e</p>
  <br />
  <a href="@routes.Lobby.home" class="button text" data-icon="L">@trans.cancel()</a>
  }.getOrElse {
  @helper.form(action = route, 'novalidate -> "novalidate") {
  @fields
  <div class="color_submits">
    @List("black" -> trans.black(), "random" -> trans.randomColor(), "white" -> trans.white()).map { color =>
    <button@if(typ == "hook"){ disabled="disabled"} data-hint="@color._2" type="submit" class="button hint--bottom @color._1" name="@form("color").id" value="@color._1">
      <i></i>
    </button>
    }
  </div>
  }
  }
  @ctx.me.map { me =>
  <div class="ratings">
    @lila.rating.PerfType.nonPuzzle.map { perfType =>
    <div class="@perfType.key">
      @trans.perfRatingX(Html(s"""<strong data-icon="${perfType.iconChar}">${me.perfs(perfType.key).map(_.intRating).getOrElse("?")}</strong> ${perfType.name}"""))
    </div>
    }
  </div>
  }
</div>
