@(field: play.api.data.Field, strict: Boolean, validFen: Option[lidraughts.setup.ValidFen])(implicit ctx: Context)

<div class="fen_position optional_config">
  @defining(field.value.fold(routes.Editor.index)(routes.Editor.parse).url) { href =>
  <div class="fen_form" data-validate-url="@{routes.Setup.validateFenOk()}@{strict.??("?strict=1")}">
    <a class="button thin hint--bottom" data-hint="@trans.boardEditor()" href="@href">
      <span data-icon="m"></span>
    </a>
    @base.form.input(field, placeholder=trans.pasteTheFenStringHere.txt().some)
  </div>
  <a class="board_editor" href="@href">
    <span class="preview">@validFen match {
      case Some(vf) => { <div class="mini_board parse_fen is2d" data-color="@vf.color.name" data-fen="@vf.fen" data-resizable="1">@miniBoardContent</div> }
      case _ => { <p class="errortext">Invalid position</p> }
      }</span>
  </a>
  }
</div>
