@(form: Form[_], filter: lila.setup.FilterConfig)(implicit ctx: Context)

@import lila.rating.RatingRange

@helper.form(action = routes.Setup.filter(), 'novalidate -> "novalidate") {
<table>
  <tbody>
  <tr class="variant">
    <td>@trans.variant()</td>
    <td>@setup.filterCheckboxes(form, "variant", filter.variant.map(_.id.toString), translatedVariantChoicesWithVariants)</td>
  </tr>
  <tr>
    <td>@trans.timeControl()</td>
    <td>@setup.filterCheckboxes(form, "speed", filter.speed.map(_.id.toString), translatedSpeedChoices)</td>
  </tr>
  <tr>
    <td>@trans.mode()</td>
    <td>@setup.filterCheckboxes(form, "mode", filter.mode.map(_.id.toString), translatedModeChoices)</td>
  </tr>
  @ctx.me.map { me =>
  <tr>
    <td>@trans.ratingRange()</td>
    <td class="rating_range_config">
      <label class="range">? - ?</label>
      <div class="rating_range">
        @setup.input(
        form("ratingRange"),
        Symbol("type") -> "hidden",
        Symbol("data-min") -> RatingRange.min,
        Symbol("data-max") -> RatingRange.max)
      </div>
    </td>
  </tr>
  }
  </tbody>
</table>
@if(ctx.me.isEmpty) {
@setup.input(form("mode"), 'type -> "hidden")
@setup.input(form("ratingRange"), 'type -> "hidden")
}
<div class="actions">
  <button type="submit" class="reset button" data-icon="k"> @trans.reset()</button>
  <button type="submit" class="submit button" data-icon="E"> @trans.apply()</button>
</div>
}
