@(form: Form[_])(implicit ctx: Context)

@helper.form(action = routes.Setup.filter(), 'novalidate -> "novalidate") {
@base.select(form("variant"), translatedVariantChoices, "Any variant".some)
@base.select(form("speed"), translatedSpeedChoices, "Any speed".some)
@if(ctx.isAuth) {
@base.select(form("mode"), translatedModeChoices, "Any mode".some)
} else {
@base.select(form("mode"), translatedModeChoices take 1)
}
<div class="actions">
  <button type="submit" class="reset">Reset</button>
  <button type="submit" class="submit">Save</button>
</div>
}
