@(form: Form[_], key: String, index: Int, value: String, checks: List[String], text: Html, hint: Option[String], disabled: Boolean = false)

<label class="hover form-check-label" @hint.map { h => title="@h" }>
  <input
  class="form-check-input"
  type="checkbox"
  name="@{form(key).name}[@index]"
  value="@value"
  @if(disabled){ disabled}
  @(if(checks contains value) "checked" else "") />
  @if(disabled && checks.contains(value)) {
  <input
          type="hidden"
          name="@{form(key).name}[@index]"
          value="@value" />
  }
  @text
</label>
