@(form: Form[_], username: Option[String], error: Option[String])(implicit ctx: Context)

@import lila.setup.FriendConfig

@fields = {
@username.map { uid =>
@usernameLink(uid.some, cssClass="target".some)
}
<div class="variants buttons">
  @setup.radios(form("variant"), translatedVariantChoicesWithFen)
</div>
@fenInput(form("fen"), false)
@setup.clock(form, lila.setup.FriendConfig)
@if(ctx.isAuth) {
<div class="mode_choice buttons">
  @setup.radios(form("mode"), translatedModeChoices)
</div>
}
}

@setup.config(
form,
"friend",
username.isDefined.fold(trans.challengeToPlay, trans.playWithAFriend)(),
routes.Setup.friend(username),
fields,
error.map(e => Html(e.replace("{{user}}", usernameLink(username).toString))))
