@(form: Form[_], user: Option[User], error: Option[String], validFen: Option[lila.setup.ValidFen])(implicit ctx: Context)

@import lila.setup.FriendConfig

@fields = {
@user.map { u =>
@userLink(u, cssClass="target".some)
}
@setup.variant(form, translatedVariantChoicesWithVariantsAndFen)
@fenInput(form("fen"), false, validFen)
@setup.timeMode(form, lila.setup.FriendConfig)
@if(ctx.isAuth) {
<div class="mode_choice buttons">
  @globalCasualOnlyMessage.getOrElse {
  @setup.radios(form("mode"), translatedModeChoices)
  }
</div>
}
}

@setup.config(
form,
"friend",
user.isDefined.fold(trans.challengeToPlay, trans.playWithAFriend)(),
routes.Setup.friend(user map (_.id)),
fields,
error.map(e => Html(e.replace("{{user}}", userIdLink(user.map(_.id)).toString))))
