@(form: Form[_])(implicit ctx: Context)

@import lila.setup.HookConfig
@import lila.common.EloRange

@fields = {
<div class="variants buttons">
  @setup.radios(form("variant"), translatedVariantChoices)
</div>
@setup.clock(form, lila.setup.HookConfig)
@if(ctx.isAuth) {
<div class="mode_choice buttons">
  @setup.radios(form("mode"), translatedModeChoices)
</div>
<div class="elo_range_config optional_config">
  @trans.eloRange(): <span class="range">? - ?</span>
  <div class="elo_range">
    @setup.input(
    form("eloRange"),
    Symbol("type") -> "hidden",
    Symbol("data-min") -> EloRange.min,
    Symbol("data-max") -> EloRange.max)
  </div>
</div>
}
}

@setup.config(form, "hook", trans.createAGame(), routes.Setup.hook("uid-placeholder"), fields)
