@(form: Form[_])(implicit ctx: Context)

@import lila.setup.HookConfig
@import lila.rating.RatingRange

@fields = {
<div class="variants buttons">
  @setup.radios(form("variant"), translatedVariantChoices)
</div>
@setup.clock(form, lila.setup.HookConfig)
@if(ctx.isAuth) {
<div class="mode_choice buttons">
  @setup.radios(form("mode"), translatedModeChoices)
</div>
<div class="range_and_members optional_config">
  @if(ctx.isAuth) {
  <div class="members_only">
    <label class="required pointer" for="@form("membersOnly").name">@trans.membersOnly()</label>
    @setup.checkbox(form("membersOnly"))
  </div>
  }
  <div class="rating_range_config">
    @trans.ratingRange(): <span class="range">? - ?</span>
    <div class="rating_range">
      @setup.input(
      form("ratingRange"),
      Symbol("type") -> "hidden",
      Symbol("data-min") -> RatingRange.min,
      Symbol("data-max") -> RatingRange.max)
    </div>
  </div>
</div>
}
}

@setup.config(form, "hook", trans.createAGame(), routes.Setup.hook("uid-placeholder"), fields)
