@(form: Form[_])(implicit ctx: Context)

@import lila.setup.HookConfig
@import lila.rating.RatingRange

@fields = {
@setup.variant(form, translatedVariantChoicesWithVariants)
@setup.timeMode(form, lila.setup.HookConfig)
@if(ctx.isAuth) {
<div class="mode_choice buttons">
  @setup.radios(form("mode"), translatedModeChoices)
</div>
<div class="optional_config">
  <div class="rating_range_config slider">
    @trans.ratingRange(): <span class="range">? - ?</span>
    <div class="rating_range">
      @setup.input(
      form("ratingRange"),
      Symbol("type") -> "hidden",
      Symbol("data-min") -> RatingRange.min,
      Symbol("data-max") -> RatingRange.max)
    </div>
  </div>
</div>
}
}

@setup.config(form, "hook", trans.createAGame(), routes.Setup.hook("uid-placeholder"), fields).toHtml
