@(pov: Pov, opponentUser: Option[User], version: Int, config: Option[lila.setup.FriendConfig], initialFen: Option[String])(implicit ctx: Context)

@import pov._

@round.layout(
title = trans.playWithAFriend.str(),
goodies = Html(""),
signedJs = routes.Round.signedJs(pov.gameId).toString.some) {
<div class="lichess_game lichess_game_not_started clearfix lichess_player_@color"
  data-socket-url="@routes.Round.websocketPlayer(fullId)" >
  <div class="lichess_board_wrap">
    @color.fold(board.white(), board.black())
    <div class="lichess_overboard auto_center joining">
      @opponentUser.map { u =>
      @userLink(u)
      }.getOrElse {
      @User.anonymous
      }
      @config.map { c =>
      <p class="explanations">
        @variantName(c.variant), @modeName(c.mode)<br />
        <span data-icon="p"></span> @clockName(c.makeClock)<br />
      </p>
      }
      @initialFen.map { fen =>
      @views.html.game.miniBoard(fen)
      }
      @if(!game.rated || ctx.isAuth) {
      @if(game.rated && !game.hasClock) {
      <div class="join_warning warning">@trans.bewareTheGameIsRatedButHasNoClock()</div>
      }
      <form style="margin-top: 20px" action="@routes.Setup.join(gameId)" method="post">
        <button name="submit" type="submit" class="submit button" data-icon="F">
          @trans.joinTheGame()
        </button>
      </form>
      } else {
      <hr />
      <p class="error">This game is rated<br />You must <a href="@routes.Auth.login?referrer=@routes.Round.watcher(pov.gameId, "white")">log in</a> to join it.</p>
      }
    </div>
  </div>
</div>
@embedJs("var _ld_ = " + roundPlayerJsData(pov, version, ctx.pref))
}
