@(form: Form[_], config: lidraughts.setup.BaseConfig)(implicit ctx: Context)

@import lidraughts.setup.FriendConfig
@import java.text.DecimalFormat

<div class="time_mode_config optional_config">
  <div class="label_select">
    <label for="timeMode">@trans.timeControl()</label>
    @setup.select(form("timeMode"), translatedTimeModeChoices)
  </div>
  <div class="time_choice slider">
    @trans.minutesPerSide(): <span>@(draughts.Clock.Config(~form("time").value.map(x => (x.toDouble * 60).toInt), 0).limitString)</span>
    @setup.input(form("time"))
  </div>
  <div class="increment_choice slider">
    @trans.incrementInSeconds(): <span>@form("increment").value</span>
    @setup.input(form("increment"))
  </div>
  <div class="correspondence">
    <div class="days_choice slider">
      @trans.daysPerTurn(): <span>@form("days").value</span>
      @setup.input(form("days"))
    </div>
  </div>
</div>
