%base-font {
  font-family: 'Noto Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  font-weight: normal;
}
%roboto {
  font-family: 'Roboto';
}
%roboto-fat {
  font-family: 'Roboto';
  font-weight: 600;
}
%roboto-mono {
  font-family: 'Roboto Mono', 'Roboto';
}
%active {
  color: $c-accent-over;
  text-shadow: 0 1px 0 black;
  background: $c-accent;
  box-shadow: 0 3px 4px hsla(0, 0, 0, 0.15) inset;
}
%active-hover {
  background: mix(white, $c-accent, 20%);
}
%dropdown-shadow {
  box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.3);
}
%popup-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

%box-padding {
  padding: 5vh var(--box-padding);
}
%box-padding-horiz {
  padding: 0 var(--box-padding);
}

%break-word {
  overflow-wrap: break-word;
  word-break: break-word;
}
%break-nope {
  overflow-wrap: normal;
  word-break: normal;
}

%flex-wrap {
  display: flex;
  flex-flow: row wrap;
}
%flex-center {
  /* extends %flex-wrap */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
%flex-between {
  /* extends %flex-center */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
%flex-between-stretch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
%square {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
%box-radius {
  @include box-radius;
}
%box-shadow {
  @include box-shadow;
}
%box-neat {
  @include box-neat;
}
%data-icon {
  font-size: 1.1em;
  vertical-align: text-top;
  font-family: "lichess" !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-transform: none !important;
  speak: none;
  content: attr(data-icon);
  opacity: 0.9;
}
