%roboto {
  font-family: 'Roboto';
}
%roboto-fat {
  font-family: 'Roboto';
  font-weight: 600;
}
%roboto-mono {
  font-family: 'Roboto Mono', 'Roboto';
}
%active {
  color: $c-accent-over;
  text-shadow: 0 1px 0 black;
  background: $c-accent;
  box-shadow: 0 3px 4px hsla(0, 0, 0, 0.15) inset;
}
%active-hover {
  background: mix(white, $c-accent, 20%);
}
%dropdown-shadow {
  box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.3);
}

%box-padding {
  padding: 5vh var(--box-padding);
}
%box-padding-horiz {
  padding: 0 var(--box-padding);
}

%break-word {
  overflow-wrap: break-word;
  word-break: break-word;
}
%break-nope {
  overflow-wrap: normal;
  word-break: normal;
}

%flex-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
%flex-between-stretch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}

%square {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
%box-radius {
  @include box-radius;
}
%box-shadow {
  @include box-shadow;
}
%box-neat {
  @include box-neat;
}
