%base-font {
  font-family: 'Noto Sans';
  font-weight: normal;
}
%roboto {
  font-family: 'Roboto';
}
%roboto-fat {
  font-family: 'Roboto';
  font-weight: 600;
}
%chess-font {
  font-family: 'ChessSansPiratf', 'Noto Sans';
}
%active {
  color: $c-accent-over;
  text-shadow: 0 1px 0 black;
  background: $c-accent;
  box-shadow: 0 3px 4px hsla(0, 0, 0, 0.15) inset;
}
%active-hover {
  background: mix(white, $c-accent, 20%);
}
%dropdown-shadow {
  box-shadow: -1px 5px 6px rgba(0, 0, 0, 0.3);
}
%popup-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

%box-padding {
  padding: 5vh var(--box-padding);
}
%box-padding-horiz {
  padding: 0 var(--box-padding);
}

%break-word {
  overflow-wrap: break-word;
  word-break: break-word;
}
%break-nope {
  overflow-wrap: normal;
  word-break: normal;
}

%flex-wrap {
  display: flex;
  flex-flow: row wrap;
}
%flex-center {
  /* extends %flex-wrap */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
%flex-between {
  /* extends %flex-center */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
%flex-between-stretch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
}
%flex-column {
  display: flex;
  flex-flow: column;
}
%square {
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
%box-radius {
  @include box-radius;
}
%box-radius-force {
  @extend %box-radius;
  overflow: hidden; /* helps with clipping background into border-radius */
}
%box-radius-left {
  border-radius: $box-radius-size 0 0 $box-radius-size;
}
%box-radius-right {
  border-radius: 0 $box-radius-size $box-radius-size 0;
}
%box-radius-top {
  border-radius: $box-radius-size $box-radius-size 0 0;
}
%box-radius-bottom {
  border-radius: 0 0 $box-radius-size $box-radius-size;
}
%box-shadow {
  @include box-shadow;
}
%box-neat {
  @include box-neat;
}
%box-neat-force {
  @include box-neat;
  overflow: hidden; /* helps with clipping background into border-radius */
}
%data-icon {
  font-size: 1.1em;
  vertical-align: text-top;
  font-family: "lichess";
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  speak: none;
  content: attr(data-icon);
  opacity: 0.9;
}
%fullscreen-mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $c-page-mask;
  z-index: z('fullscreen-mask');
}
%link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: z('link-overlay');
}
%abs-100 {
  position: absolute;
  width: 100%;
  height: 100%;
}
%fbt {
  background: none;
  border: none;
  outline: none;
  line-height: 1.5;
  @include transition();
  &:hover:not(.disabled) {
    background: mix($c-secondary, $c-bg-box, 75%);
    color: #fff;
  }
  &.active {
    background: $c-secondary!important;
    color: #fff;
  }
  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
}
