@mixin box-radius {
  border-radius: $box-radius-size;
}
@mixin box-shadow {
  box-shadow: $box-shadow;
}
@mixin box-neat {
  @include box-radius;
  @include box-shadow;
}

@mixin board-scale-config {
  --board-scale: 1;
  @include breakpoint($mq-zoom-enabled) {
    // --zoom: 85; defined in the HTML, loaded from server saved config
    --board-scale: calc((var(--zoom) / 100) * 0.5 + 0.5);
  }
}

@mixin debug-zoom-input {
  #zoom-input {
    display: none;
    @include breakpoint($mq-zoom-enabled) {
      display: block;
      position: fixed;
      bottom: 3px;
      right: 3px;
      width: 10vw;
    }
  }
}

@mixin transition($prop: all, $dur: $transition-duration) {
  transition: $prop $dur;
}

@mixin hoverflow {
  overflow-y: auto;
  @media (hover: hover) {
    overflow: hidden;
    &:hover {
      overflow-y: auto;
    }
  }
}
