$font-path: "../font";
$img-path: "../images";

$block-gap: 1.5vmin;
$block-gap-h: 1.5vh;
$block-gap-w: 1.5vw;

$box-radius-size: 3px;

$site-header-tall-height: 60px;
$site-header-short-height: 40px;

$transition-duration: 150ms;

$main-max-width: 1300px !default;

$main-margin: var(--main-margin);
$site-header-height: var(--site-header-height);
