@(info: lila.i18n.TransInfo)(implicit ctx: Context)

<div id="translation_call">
  <div>
    <span class="name">@info.name</span>
    <div class="progressbar flashy">
      <div class="current" style="width: @info.percent%"></div>
    </div>
    <span class="nb">@pluralize("message", info.nbMissing) missing</span>
  </div>
  <a href="@routes.I18n.translationForm(info.code)" class="button">Translate lichess</a>
  <span class="close button hint--bottom-left" data-href="@routes.I18n.hideCalls" data-hint="Hide translation calls">No, thanks</span>
</div>
