@(all: List[lila.i18n.TransInfo], mines: List[lila.i18n.TransInfo])(implicit ctx: Context)

@i18n.layout(
title = "Contribute to translations") {
<h1 class="lichess_title">Help translate Lichess!</h1>
Lichess is OpenSource and needs contributors to get better.
<br />
@if(ctx.req.flash.get("success").isDefined) {
<div class="notice">
  Your translation has been submitted, thanks!<br />
  I will review it and apply it soon to the game.
</div>
}
@if(mines.nonEmpty) {
<h2>Do you speak @{ (mines.size > 1).fold("these languages", "this language") }?</h2>
@i18n.translations(mines)
}
<br />
<h2>What about these ones?</h2>
@i18n.translations(all)
}
