@(transInfos: List[lila.i18n.TransInfo])(implicit ctx: Context)

<table class="translations">
  <thead>
    <tr>
      <th>Language</th>
      <th>Progress</th>
      <th>Contributors</th>
    </tr>
  </thead>
  <tbody>
    @transInfos.map { info =>
    <tr>
      <td>
        @i18n.translationLink(info) { _ =>
        @info.codeAndName
        }
      </td>
      <td class="progress">
        <div class="progressbar @if(info.complete) {green} flashy">
          <div class="current" style="width: @info.percent%"></div>
        </div>
      </td>
      <td>@info.contributors.mkString(", ")</td>
      <td>
        @i18n.translationLink(info) { text =>
        @text
        }
      </td>
    </tr>
    }
  </tbody>
</table>

