@(info: lila.i18n.TransInfo, form: Form[_], keys: lila.i18n.I18nKeys, baseLang: Lang, rawTrans: String => Option[String], captcha: lila.common.Captcha, data: Map[String, String], context: Map[String, String])(implicit ctx: Context)

@side = {
<br />
<a href="@routes.I18n.contribute">View all languages</a>
}

@i18n.layout(
title = info.codeAndName,
side = side.some) {

<h1 class="lichess_title">@info.codeAndName</h1>
<div class="progressbar flashy @info.complete.fold("green", "")">
  <div class="current" style="width: @info.percent%"></div>
</div>
<br />
Please translate the following English words and phrases below.<br />
<strong>%s are variables. They must be present in your translation.</strong><br />
Lichess will replace them with a number or a name when displaying the message.<br />
For example, <strong>View %s checkmates</strong> translated to french is <strong>Voir les %s mats</strong>
<br /><br />
@if(info.percent == 0) {
No need to submit a complete translation. You can just translate some sentences, and let the others complete it :)
}
@if(info.nonComplete) {
<div class="locale_menu clearfix">
  <a class="button all active">View all @info.nbMessages sentences</a>
  <a class="button missing">View @pluralize("missing sentence", info.nbMissing)</a>
</div>
}
<form class="translation_form" action="@routes.I18n.translationPost(info.code)" method="post">
  <div class="messages">
    @keys.keys.zipWithIndex.map {
    case (key, i) => {
    @defining(key.to(baseLang)()) { baseKey =>
    <div class="field message">
      <span class="number">@{i+1}/@info.nbMessages</span>
      <label for="key_@key.key">@baseKey</label>
      <input
      @transValidationPattern(baseKey).map { pattern =>
      pattern="@pattern"
      }
      autocomplete="off"
      type="text"
      name="key_@key.key"
      id="key_@key.key"
      value="@data.get(key.key).getOrElse(rawTrans(key.key))" />
      @context.get(baseKey).map { c =>
      <p class="context">@autoLink(c)</p>
      }
    </div>
    }
    }
    }
  </div>
  <p>The comment is optional, and not part of the translation:</p>
  <br />
  <div class="field optional">
    <input
    size="60"
    type="text"
    value="@form("comment").value"
    name="@form("comment").name"
    id="@form("comment").id"
    placeholder="Briefly describe your changes, in English" />
    @errMsg(form("comment"))
  </div>
  <br />
  <div>
    @base.captcha(form("move"), form("gameId"), captcha)
    @errMsg(form)
  </div>
  <div class="field">
    <input type="submit" class="submit" value="Submit translations" />
  </div>
</form>
}

