@import 'variant-icons';

.simul-list {
  &__help {
    color: $c-font-page;
    max-width: 350px;
    margin: 9em $block-gap 0 0;
    img {
      @extend %box-radius;
      width: 100%;
    }
    em {
      display: block;
      font-style: italic;
      margin-bottom: 1em;
    }
    display: none;
    @include breakpoint($mq-large) {
      display: block;
    }
  }
  .slist {
    td {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    .header {
      cursor: pointer;
    }
    .header a {
      padding: 1em;
      display: block;
    }
    .name {
      white-space: nowrap;
      letter-spacing: 2px;
      font-size: 1.7em;
      display: block;
    }
    .create td {
      padding: 2em;
      text-align: center;
    }
  }
}
