.simul-list {
  overflow: hidden;

  &__help {
    @extend %page-text-shadow !optional;
    @extend %flex-column;

    gap: 1em;
    color: $c-font-page;
    max-width: 350px;
    margin-top: 9em;
    margin-inline-end: $block-gap;

    img {
      @extend %box-neat;

      width: 100%;
    }

    span {
      font-style: italic;
    }

    p {
      margin: 0;
    }

    display: none;

    @media (min-width: at-least($large)) {
      display: flex;
    }
  }

  .slist {
    td {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .host,
    .players {
      display: none;
    }

    @media (min-width: at-least($x-small)) {
      .host {
        display: table-cell;
      }
    }

    @media (min-width: at-least($small)) {
      .players {
        display: table-cell;
      }
    }

    .header {
      cursor: pointer;
    }

    .header a {
      padding: 1em;
      display: block;
    }

    .name {
      @extend %break-word;

      font-size: 1.7em;
      display: block;
    }

    .create td {
      padding: 2em;
      text-align: center;
    }
  }
}
