$mq-col1: $mq-col1-uniboard;
$mq-col2: $mq-small;
$mq-col3: $mq-col3-uniboard;

@import 'layout';
@import 'side';
@import 'created';
@import 'started';
@import 'variant-icons';

.simul {

  .box__top {
    h1 {
      font-size: 2em;
      .author {
        margin-left: .7em;
        font-size: .7em;
      }
    }
    .finished {
      font-size: 2em;
    }
  }

  a.user_link em {
    font-weight: bold;
    padding-left: 5px;
  }
}
