$mq-col1: $mq-col1-uniboard;
$mq-col2: $mq-small;
$mq-col3: $mq-col3-uniboard;

@import 'layout';
@import 'side';
@import 'variant-icons';

.simul {

  .box__top {
    h1 {
      font-size: 2em;
      .author {
        margin-left: .7em;
        font-size: .7em;
      }
    }
    .finished {
      font-size: 2em;
    }
  }

  .halves {
    @extend %flex-center;
  }
  .half {
    flex: 0 0 50%;
    margin-bottom: 20px;
    &:first-child {
      border-right: $border;
    }
    .variant::before {
      font-size: 1.6em;
      opacity: 0.8;
    }
    .user_link {
      line-height: 2.5em;
    }
    tr.help th {
      padding: 60px 20px;
    }
    td.action {
      text-align: right;
      opacity: 0.6;
      transition: opacity 0.13s;
    }
    td.action:hover {
      opacity: 1;
    }
    &.candidates tr.me {
      border-left: 10px solid #d59120;
    }
    &.accepted tr.me {
      border-right: 10px solid #d59120;
    }
  }
  .pull-quote {
    margin-top: 30px;
    width: 300px;
  }
  .instructions {
    text-align: center;
    margin-bottom: 1em;
  }
  a.user_link em {
    font-weight: bold;
    padding-left: 5px;
  }
  .results > div {
    width: 25%;
    display: inline-block;
    text-align: center;
  }
  .results .number {
    font-size: 3em;
    font-weight: bold;
  }
  .results .text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  .game_list {
    margin-top: 30px;
    text-align: center;
  }
  .game_list .vstext {
    transition: all 1s;
  }
}
