@mixin mq-at-least-col2 {
  @media (min-width: at-least($small)) {
    @content;
  }
}

$box-padding: var(---box-padding);

@import 'layout';
@import 'side';
@import 'created';
@import 'started';

.simul {
  @media (min-width: at-least($xx-small)) {
    .box__top {
      flex-wrap: nowrap;
    }
  }

  h1 {
    font-size: 2.1em;

    .author {
      font-size: 0.7em;
    }
  }

  .finished {
    font-size: 2em;
  }

  .user-link em {
    font-weight: bold;
    padding-inline-start: 5px;
  }

  .game-list {
    margin: 2em 0;
  }

  .simul-text {
    @extend %box-neat;

    margin: 0 1em 1em 1em;
    padding: 1.5em 2em;
    background: $c-bg-zebra;
    overflow-wrap: anywhere;

    @include mq-at-least-col3 {
      margin: 0 auto 2em auto;
      padding: 1.5em 2.5em;
      width: 70%;
    }

    textarea {
      width: 100%;
      height: 10em;
    }

    .save {
      width: 100%;
    }

    p {
      margin: 0;
    }
  }

  .spinner {
    margin: 10em auto;
  }
}
