@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/variables';
@use 'pkg:common/theme';

.simul__side {
  @extend %flex-column;

  .mchat {
    margin-top: variables.$block-gap;

    &__messages {
      $chat-height: calc(90vh - 300px);

      height: $chat-height;
      max-height: $chat-height;
    }
  }
}

.simul__meta {
  @extend %box-neat-force;

  background: theme.$c-bg-box;
  padding: #{variables.$block-gap * 0.6} variables.$block-gap;

  .header {
    @extend %flex-center;

    flex-flow: row nowrap;
    text-transform: uppercase;

    .clock {
      display: block;
      font-size: 1.5em;
    }

    > i {
      font-size: 2.5em;
      margin-right: 0.5em;
    }
  }

  .game-infos {
    padding-bottom: 0.5em;
    border-bottom: theme.$border;
    margin-bottom: 0.5em;
  }
}
