.simul {
  .results {
    @extend %flex-center;
    > div {
      flex: 0 0 25%;
      text-align: center;
    }
    .number {
      font-size: 3em;
      font-weight: bold;
    }
    .text {
      @extend %roboto;
      font-size: 1.5em;
      text-transform: uppercase;
    }
  }
  .game_list {
    margin-top: 30px;
    text-align: center;
    .vstext {
      transition: all 1s;
    }
  }
}
