.simul {
  .results {
    @extend %flex-center;

    > div {
      flex: 0 0 25%;
      text-align: center;
    }

    .number {
      font-size: 3em;
      font-weight: bold;
    }

    .text {
      @extend %roboto;

      font-size: 1.5em;
      text-transform: uppercase;
    }
  }

  .game-list {
    .mini-game {
      padding: 0.3em;
    }

    a {
      color: $c-font;
    }

    .host {
      @extend %box-radius;

      background: fade-out($c-accent, 0.7);

      &,
      a,
      .mini-game__clock {
        color: $c-accent-over;
      }
    }
  }
}
