.coach-show__reviews {
  margin-top: 2rem;

  h2 {
    @extend %roboto;

    font-size: 1.5em;
    margin-bottom: -10px;
  }
}

.coach-review {
  @extend %break-word;

  margin-top: 1em;
  border-top: $border;
  padding-top: 1em;

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
  }

  .top .user-link {
    @extend %ellipsis;

    margin-left: -4px;
  }

  .content {
    @extend %page-text, %ellipsis;

    font-style: italic;
    max-height: 10.7em;

    @include transition;
  }

  .disapprove {
    display: none;
  }

  &:hover {
    .content {
      max-height: 50em;
    }

    .disapprove {
      display: block;
    }
  }

  rate-stars {
    font-size: 0.5em;
    star {
      padding: 0;
    }
  }
}

.coach-review-form {
  form {
    display: none;
  }

  textarea {
    width: 100%;
    height: 14em;
  }

  .button {
    display: block;
    width: 100%;
    margin-top: 0.5em;
  }

  .br-widget {
    margin: 0.5em 0;
  }
}
