playWithAFriend=స్నేహితునితో ఆడండి
playWithTheMachine=మెషీన్ తో ఆడండి
toInviteSomeoneToPlayGiveThisUrl=ఎవరినైనా ఈ గేమ్ కి ఆహ్వానించడానికి ఈ యుఆర్ఎల్ ని ఇవ్వండి
gameOver=ఆట ముగిసింది
waitingForOpponent=ప్రత్యర్థి కోసం నిరీక్షణ
waiting=నిరీక్షణ
yourTurn=మీ వంతు
aiNameLevelAiLevel=%s స్థాయి %s
level=స్థాయి
toggleTheChat=చాట్ ని ఆఫ్/ఆన్ చెయ్యి
toggleSound=శబ్దాన్ని ఆఫ్/ఆన్ చెయ్యి
chat=చాట్
resign=రిశైన్ చెయ్యి
checkmate=చెక్ మేట్
stalemate=స్టేల్ మేట్
white=తెలుపు
black=నలుపు
randomColor=తెలుపు (లేక) నలుపు
createAGame=ఆట మొదలు పెట్టు
whiteIsVictorious=తెలుపు గెలిచింది
blackIsVictorious=నలుపు గెలిచింది
kingInTheCenter=రాజు సెంటర్కి వచ్చింది
threeChecks=మూడు చెక్కులు
raceFinished=రేసు ముగిసింది
variantEnding=వేరియంట్ ముగింపు
newOpponent=కొత్త ప్రత్యర్థి
yourOpponentWantsToPlayANewGameWithYou=నీ ప్రత్యర్థి నీతో కొత్త ఆట ఆడాలని అనుకుంటున్నాడు
joinTheGame=ఆటలో కలువు
whitePlays=తెలుపు వంతు
blackPlays=నలుపు వంతు
theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim=నీ ప్రత్యర్థి ఆట వదిలి వేశాడు. నువ్వు గెలుపు ని పొందవచ్చు లేదా డ్రా పొందవచు లేదా ఎదురు చూడవచ్చు.
makeYourOpponentResign=గెలుపుని పొందు
forceResignation=గెలుపుని పొందు
forceDraw=డ్రా ని పొందు
talkInChat=చాట్ లో పద్దతిగా ఉండండి
theFirstPersonToComeOnThisUrlWillPlayWithYou=ఈ లింక్ కి వచ్చిన మొదటి వ్యక్తి మీతో ఆడును
whiteResigned=తెలుపు రిశైన్ చేసింది
blackResigned=నలుపు రిశైన్ చేసింది
whiteLeftTheGame=తెలుపు ఆటని విడిచి వెల్లింది
blackLeftTheGame=నలుపు ఆటని విడిచి వెల్లింది
shareThisUrlToLetSpectatorsSeeTheGame=ఆటని షేర్ చెయ్యడానికి ఈ లింక్ ని షేర్ చెయ్యండి.
theComputerAnalysisHasFailed=కంప్యూటర్ అనాలసిస్ ఫైల్ అయ్యింది.
viewTheComputerAnalysis=కంప్యూటర్ అనాలసిస్ చూడండి
requestAComputerAnalysis=కంప్యూటర్ అనాలసిస్ కోరండి
computerAnalysis=కంప్యూటర్ అనాలసిస్
analysis=అనాలసిస్ బోర్డ్
blunders=pedda tappulu
mistakes=తప్పులు
inaccuracies=పొరపాటులు
moveTimes=సమయ నిర్వహణ
flipBoard=బోర్డ్ ని తిప్పు
threefoldRepetition=మూడు మార్లు ఒకే పొశిషన్ వచ్చింది
claimADraw=డ్రా పొందు
offerDraw=డ్రా అడుగు
draw=డ్రా
nbConnectedPlayers=%s ప్లేయర్స్
gamesBeingPlayedRightNow=ప్రస్తుత ఆటలు
viewAllNbGames=%s ఆటలు
viewNbCheckmates=%s చెక్ మేట్లు
nbBookmarks=%s ముఖ్యమైన ఆటలు
nbPopularGames=%s జనప్రియమైన ఆటలు
nbAnalysedGames=%s విశ్లేషించిన ఆటలు
bookmarkedByNbPlayers=%s ఆటగాళ్ళతో బుక్ మార్క్ చేయబడింది
viewInFullSize=పూర్తి పరిమాణంలో చూడండి
logOut=సైన్ ఔట్
signIn=సైన్ ఇన్
newToLichess=లిచెస్స్ కి కొత్త?
youNeedAnAccountToDoThat=మీరు ఇది చెయ్యడానికి అకౌంట్ అవసరం
signUp=రిజిస్టర్
computersAreNotAllowedToPlay=కంప్యూటర్లు మరియు కంప్యూటర్-సహాయక క్రీడాకారులకు ఆడటానికి అనుమతి లేదు. ఆడుతున్నప్పుడు చెస్ ఇంజిన్లు, డేటాబేస్ల నుండి, లేదా ఇతర ఆటగాళ్ళ నుండి సహాయంను దయచేసి పొండకండి. అలాగే బహుళ ఖాతాలను క్రియేట్ చెయ్యడం ప్రోత్సహించబడదు, మరియు అధిక బహుళ ఖాతాలను క్రియేట్ చెయ్యడం నిషేదానికి దారితీస్తుంది.
games=ఆటలు
forum=ఫోరమ్
xPostedInForumY=%s టాపిక్ %s లో పోస్ట్ చేశారు
latestForumPosts=తాజా ఫోరమ్ పోస్ట్లు
players=ఆటగాళ్లు
minutesPerSide=జట్టుకు నిమిషాల సమయం
variant=రకం
variants=రకాలు
timeControl=సమయ నియంత్రణ
realTime=నిజ సమయంలో
correspondence=సుదూర
daysPerTurn=జట్టుకు రోజుల సమయం
oneDay=ఒక రోజు
nbDays=%s రోజులు
nbHours=%s గంటలు
time=సమయం
rating=రేటింగ్
ratingStats=రేటింగ్ గణాంకాలు
username=యూజర్ పేరు
usernameOrEmail=యూజర్ పేరు లేక ఇమెయిల్
password=పాస్వర్డ్
haveAnAccount=ఖాతా ఉందా?
changePassword=పాస్వర్డ్ మార్చండి
changeEmail=ఈమెయిల్ మార్చండి
email=ఈమెయిల్
emailIsOptional=ఇమెయిల్ ఐచ్ఛికం. మీ పాస్వర్డ్ను మీరు మర్చిపోతే  రీసెట్ చేయడానికి లీచెస్ మీ ఇమెయిల్ చిరునామాను ఉపయోగిస్తుంది.
passwordReset=పాస్వర్డ్ రీసెట్
forgotPassword=పాస్వర్డ్ మర్చిపోయారా?
rank=ర్యాంక్
gamesPlayed=ఆడిన ఆటలు
nbGamesWithYou=మీతో ఆడిన ఆటలు %s
declineInvitation=ఆహ్వానాన్ని తిరస్కరించండి
cancel=రద్దు
timeOut=సమయం ముగిసినది
drawOfferSent=డ్రా ఆఫర్ పంపబడింది
drawOfferDeclined=డ్రా ఆఫర్ తిరస్కరించబడింది
drawOfferAccepted=డ్రా ఆఫర్ అంగీకరించబడినది
drawOfferCanceled=డ్రా ఆఫర్ రద్దు అయ్యింది
whiteOffersDraw=తెలుపు డ్రా ఆఫర్ ఇచ్చారు
blackOffersDraw=నలుపు డ్రా ఆఫర్ ఇచ్చారు
whiteDeclinesDraw=తెలుపు డ్రా ఆఫర్ని తిరస్కరించారు
blackDeclinesDraw=నలుపు డ్రా ఆఫర్ని తిరస్కరించారు
yourOpponentOffersADraw=మీ ప్రత్యర్థి డ్రాగా ఆఫర్ ఇచ్చారు
accept=అంగీకరించండి
decline=తిరస్కరించండి
playingRightNow=ప్రస్తుతం ఆడబడుతోంది
finished=పూర్తయినది
abortGame=ఆటని నిలిపివేయి
gameAborted=గేమ్ అర్థంతరంగా రద్దయినది
standard=ప్రామాణిక
unlimited=అపరిమిత
mode=మోడ్
casual=కాజువల్
rated=రేట్ చేయబడిన
thisGameIsRated=ఈ ఆట రేట్ చేయబడుతుంది
rematch=తిరిగి పోటీ
rematchOfferSent=తిరిగి పోటీకి ఆఫర్ పంపబడినది
rematchOfferAccepted=తిరిగి పోటీ ఆఫర్ అంగీకరించడింది
rematchOfferCanceled=తిరిగి పోటీ ఆఫర్ రద్దయినది
rematchOfferDeclined=తిరిగి పోటీ ఆఫర్ తిరస్కరించడింది
cancelRematchOffer=తిరిగి పోటీ ఆఫర్ రద్దు చెయ్యి
viewRematch=తిరిగి పోటీని వీక్షింషు
play=ఆడు
inbox=ఇన్బాక్స్
chatRoom=చాట్ రూమ్
spectatorRoom=ప్రేక్షకుల గది
composeMessage=సందేశం రూపొందించు
noNewMessages=కొత్త సందేశాలు లేవు
subject=విషయం
recipient=గ్రహీత
send=పంపు
incrementInSeconds=సెకన్లలో పెంపు
freeOnlineChess=ఉచిత ఆన్లైన్ చదరంగం
spectators=ప్రేక్షకులు:
nbWins=%s విజయాలు
nbLosses=%s నష్టాలు
nbDraws=%s డ్రాలు
exportGames=ఆటలను దిగుమతి చెయ్యి
ratingRange=రేటింగ్ పరిధి
giveNbSeconds=%s సెకన్లు ఇవ్వు
thisPlayerUsesChessComputerAssistance=ఈ ఆటగాడు చెస్ కంప్యూటర్ సాయం ఉపయోగిస్తారు
thisPlayerArtificiallyIncreasesTheirRating=ఈ ఆటగాడు కృత్రిమంగా రేటింగును పెంచుతారు / తగ్గిస్తారు
opening=ప్రారంభం
takeback=వెనక్కి తీసుకో
startTraining=శిక్షణ ప్రారంభం
continueTraining=శిక్షణను కొనసాగించండి
difficultyEasy=సులభం
difficultyNormal=సాధారణ
difficultyHard=కష్టం
timeline=కాలక్రమం
human=మనిషి
computer=కంప్యూటర్
side=వైపు
clock=గడియారం
playOnline=ఆన్లైన్ లో ఆడండి
error.email=ఈ ఈమెయిల్ చిరునామా చెల్లదు
error.email_acceptable=ఈ ఈమెయిల్ చిరునామా ఆమోదయోగ్యమైనది కాదు
error.email_unique=ఈ ఇమెయిల్ చిరునామా ఇప్పటికే తీసుకోబడింది
onlyFriends=స్నేహితులు మాత్రమే
menu=మెను
whiteCastlingKingside=తెలుపు O-O
whiteCastlingQueenside=తెలుపు O-O-O
blackCastlingKingside=నలుపు O-O
blackCastlingQueenside=నలుపు O-O-O
watchGames=గేమ్స్ ని చూడండి
watch=వీషించండి
mobileApp=మొబైల్ అనువర్తనం
contribute=తోడ్పడు
contact=పరిచయం
termsOfService=సేవా నిబంధనలు
sourceCode=సోర్స్ కోడ్
host=హోస్ట్
create=సృష్టించండి
lichessTournaments=లిచేస్స్ టోర్నమెంట్లు
tournamentOfficial=అధికారిక
keyboardShortcuts=కీబోర్డ్ షార్ట్కట్లు
keyMoveBackwardOrForward=వెనక్కి/ముందుకు వెళ్ళు
keyGoToStartOrEnd=ప్రారంభానికి/ముగింపుకు వెళ్లు
keyShowOrHideComments=కామెంట్స్ చూపించు/దాచు
newTournament=క్రొత్త టోర్నమెంటు
tournamentNotFound=టోర్నమెంట్ కనుగొనబడలేదు
tournamentDoesNotExist=ఈ టోర్నమెంట్లో ఉనికిలో లేదు
tournamentMayHaveBeenCanceled=టోర్నమెంట్ ప్రారంభమయ్యే ముందు అన్ని క్రీడాకారులు వెళ్ళిపోతే,  అది రద్దు అయ్యిఉండవచ్చు.
returnToTournamentsHomepage=టోర్నమెంటు హోమ్ పేజికి తిరిగి వెళ్ళు
weeklyPerfTypeRatingDistribution=వీక్లీ %s రేటింగ్ డిస్ట్రిబ్యూషన్
youDoNotHaveAnEstablishedPerfTypeRating=మీకు ఒక సంస్థిత %s రేటింగ్ లేదు
checkYourEmail=మీ ఈమెయిల్ ని తనిఖి చెయ్యండి
areYouSureYouEvenRegisteredYourEmailOnLichess=మీరు లిచేస్స్ లో మీ ఏమైల్ను నమోదు చేసుకున్నారా?
itWasNotRequiredForYourRegistration=మీ నమోదుకు అవసరంలేదు
networkLagBetweenYouAndLichess=మీరు మరియు లిచేస్స్ మధ్య ఉన్న నెట్వర్క్ లాగ్
timeToProcessAMoveOnLichessServer=లిచేస్స్ సర్వర్ లో ఒక కదలికను ప్రాసెస్ చెయ్యడానికి అవసరమైన సమయం
downloadAnnotated=వ్యాఖ్యానించిన డౌన్లోడ్
downloadRaw=ముడి రూప డౌన్లోడ్
downloadImported=దిగుమతి చేయబడిన గేమ్ ని డౌన్లోడ్ చెయ్యండి
crosstable=క్రాస్ పట్టిక
confirmResignation=రాజీనామాను నిర్ధారించండి
letOtherPlayersMessageYou=ఇతర ఆటగాళ్ళకు మీకు సందేశాన్ని పంపే వీలు ఇవ్వండి
shareYourInsightsData=మీ ఇంసట్స్ ను పంచుకోండి
youHaveAlreadyRegisteredTheEmail=మీరు ఇప్పటికే ఇమెయిల్ నమోదు చేశారు: %s
kidMode=చిన్నపిల్లల మోడ్
playChessEverywhere=ప్రేతి చోట చెస్ ని ఆడండి
asFreeAsLichess=లిచేస్స్ వంటి స్వేచ్ఛా
builtForTheLoveOfChessNotMoney=చెస్ మీద ప్రేమతో నిర్మించబడినది, డబ్బు కోసం కాదు
everybodyGetsAllFeaturesForFree=అందరికి అన్ని ఫీచర్స్ ఉచితంగా లభిస్తాయి
zeroAdvertisement=ప్రకటనలు లేవు
fullFeatured=అన్ని ఫీచర్స్ ఉన్నాయి
phoneAndTablet=ఫోన్ మరియు టాబ్లెట్
bulletBlitzClassical=బుల్లెట్, మెరుపు, క్లాసికల్
correspondenceChess=సుదూర చదరంగం
onlineAndOfflinePlay=ఆన్లైన్ మరియు ఆఫ్లైన్ ఆటలు
correspondenceAndUnlimited=సుదూర మరియు అపరిమిత
viewTheSolution=పరిష్కారం వీక్షించండి
availableInNbLanguages=%s భాషలలో అందుబాటులో ఉంది!
gameAnalysis=గేమ్ విశ్లేషణ
