playWithAFriend=స్నేహితునితో ఆడండి
playWithTheMachine=మెషీన్ తో ఆడండి
toInviteSomeoneToPlayGiveThisUrl=ఎవరినైనా ఈ గేమ్ కి ఆహ్వానించడానికి ఈ యుఆర్ఎల్ ని ఇవ్వండి
gameOver=ఆట ముగిసింది
waitingForOpponent=ప్రత్యర్థి కోసం నిరీక్షణ
waiting=నిరీక్షణ
yourTurn=మీ వంతు
aiNameLevelAiLevel=%s స్థాయి %s
level=స్థాయి
toggleTheChat=చాట్ ని ఆఫ్/ఆన్ చెయ్యి
toggleSound=శబ్దాన్ని ఆఫ్/ఆన్ చెయ్యి
chat=చాట్
resign=రిశైన్ చెయ్యి
checkmate=చెక్ మేట్
stalemate=స్టేల్ మేట్
white=తెలుపు
black=నలుపు
randomColor=తెలుపు (లేక) నలుపు
createAGame=ఆట మొదలు పెట్టు
whiteIsVictorious=తెలుపు గెలిచింది
blackIsVictorious=నలుపు గెలిచింది
kingInTheCenter=రాజు సెంటర్కి వచ్చింది
threeChecks=మూడు చెక్కులు
raceFinished=రేసు ముగిసింది
newOpponent=కొత్త ప్రత్యర్థి
yourOpponentWantsToPlayANewGameWithYou=నీ ప్రత్యర్థి నీతో కొత్త ఆట ఆడాలని అనుకుంటున్నాడు
joinTheGame=ఆటలో కలువు
whitePlays=తెలుపు వంతు
blackPlays=నలుపు వంతు
theOtherPlayerHasLeftTheGameYouCanForceResignationOrWaitForHim=నీ ప్రత్యర్థి ఆట వదిలి వేశాడు. నువ్వు గెలుపు ని పొందవచ్చు లేదా డ్రా పొందవచు లేదా ఎదురు చూడవచ్చు.
makeYourOpponentResign=గెలుపుని పొందు
forceResignation=గెలుపుని పొందు
forceDraw=డ్రా ని పొందు
talkInChat=చాట్ లో పద్దతిగా ఉండండి
theFirstPersonToComeOnThisUrlWillPlayWithYou=ఈ లింక్ కి వచ్చిన మొదటి వ్యక్తి మీతో ఆడును
whiteResigned=తెలుపు రిశైన్ చేసింది
blackResigned=నలుపు రిశైన్ చేసింది
whiteLeftTheGame=తెలుపు ఆటని విడిచి వెల్లింది
blackLeftTheGame=నలుపు ఆటని విడిచి వెల్లింది
shareThisUrlToLetSpectatorsSeeTheGame=ఆటని షేర్ చెయ్యడానికి ఈ లింక్ ని షేర్ చెయ్యండి.
theComputerAnalysisHasFailed=కంప్యూటర్ అనాలసిస్ ఫైల్ అయ్యింది.
viewTheComputerAnalysis=కంప్యూటర్ అనాలసిస్ చూడండి
requestAComputerAnalysis=కంప్యూటర్ అనాలసిస్ కోరండి
computerAnalysis=కంప్యూటర్ అనాలసిస్
analysis=అనాలసిస్ బోర్డ్
blunders=pedda tappulu
mistakes=తప్పులు
inaccuracies=పొరపాటులు
moveTimes=సమయ నిర్వహణ
flipBoard=బోర్డ్ ని తిప్పు
threefoldRepetition=మూడు మార్లు ఒకే పొశిషన్ వచ్చింది
claimADraw=డ్రా పొందు
offerDraw=డ్రా అడుగు
draw=డ్రా
nbConnectedPlayers=%s ప్లేయర్స్
gamesBeingPlayedRightNow=ప్రస్తుత ఆటలు
viewAllNbGames=%s ఆటలు
viewNbCheckmates=%s చెక్ మేట్లు
nbBookmarks=%s ముఖ్యమైన ఆటలు
nbPopularGames=%s జనప్రియమైన ఆటలు
viewInFullSize=పూర్తి పరిమాణంలో చూడండి
logOut=సైన్ ఔట్
signIn=సైన్ ఇన్
newToLichess=లిచెస్స్ కి కొత్త?
youNeedAnAccountToDoThat=మీరు ఇది చెయ్యడానికి అకౌంట్ అవసరం
signUp=రిజిస్టర్
startTraining=శిక్షణ ప్రారంభం
continueTraining=శిక్షణను కొనసాగించండి
difficultyEasy=సులభం
difficultyNormal=సాధారణ
difficultyHard=కష్టం
timeline=కాలక్రమం
human=మనిషి
computer=కంప్యూటర్
side=వైపు
clock=గడియారం
newTournament=క్రొత్త టోర్నమెంటు
tournamentNotFound=టోర్నమెంట్ కనుగొనబడలేదు
tournamentDoesNotExist=ఈ టోర్నమెంట్లో ఉనికిలో లేదు
checkYourEmail=మీ ఈమెయిల్ ని తనిఖి చెయ్యండి
confirmResignation=రాజీనామాను నిర్ధారించండి
kidMode=చిన్నపిల్లల మోడ్
builtForTheLoveOfChessNotMoney=చెస్ మీద ప్రేమతో నిర్మించబడినది, డబ్బు కోసం కాదు
everybodyGetsAllFeaturesForFree=అందరికి అన్ని ఫీచర్స్ ఉచితంగా లభిస్తాయి
zeroAdvertisement=ప్రకటనలు లేవు
fullFeatured=అన్ని ఫీచర్స్ ఉన్నాయి
phoneAndTablet=ఫోన్ మరియు టాబ్లెట్
onlineAndOfflinePlay=ఆన్లైన్ మరియు ఆఫ్లైన్ ఆటలు
