.appeal {
  h1 {
    @extend %flex-between;

    .actions {
      font-size: 1.5rem;
    }
  }

  &__mark {
    margin: 1em 0;
  }

  .mz-section--others {
    margin-bottom: 2em;
    max-height: 30vh;
  }

  &__help {
    margin-bottom: 2em;
  }

  &__status {
    @extend %box-radius;

    padding: 1em 1.5em;
    margin-bottom: 2em;
    background: $c-bg-zebra;

    &::before {
      @extend %data-icon;

      content: $licon-InfoCircle;
      font-size: 2em;
      margin-inline: 0 0.4em;
    }
  }

  &__msg {
    @extend %box-neat;

    padding: 1.5em;
    margin-bottom: 2em;

    &__header {
      @extend %flex-between;

      margin-bottom: 2em;
    }

    &--mod {
      background: $c-bg-zebra;
    }

    &--suspect {
      border: $border;
    }

    img {
      max-width: 100%;
    }
  }

  &__actions {
    display: flex;
    padding-top: 2em;
    border-top: $border;
    margin-top: 2em;

    .button {
      margin-inline-end: 1em;
    }
  }

  .marked-by-me {
    @extend %box-radius;

    border-radius: 20px;
    padding: 1rem;
    background: color-mix(in oklab, $c-brag 60%, $c-bg);
    border: 1px solid $c-warn;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 2em;
  }

  .root h2 {
    padding: 0.7em;
    text-align: center;
    background: $c-good;
    color: $c-over;
  }

  .marked .root h2 {
    background: $c-bad;
    color: $c-over;
  }

  .marked .form-toggle {
    margin-top: 2em;
    padding-bottom: 2em;
  }

  .appeal-closed {
    margin-top: 3em;
  }

  .appeal-presets {
    @extend %flex-column;

    flex: 0 1 54ch;
    margin-bottom: 0;
    overflow-y: auto;
    max-height: 30em;

    button {
      @extend %box-radius-left;

      padding: 0.4em 1em;

      &:hover {
        background: $c-bg-zebra;
        color: $c-font-clearer;
      }
    }
  }

  .appeal-textarea {
    flex: 2 1 auto;
  }

  &__rules {
    @extend %box-radius;

    margin-top: 3em;
    padding: 2em 3em;
    background: $c-bg-zebra;

    p {
      unicode-bidi: normal;
      display: flex;
    }
  }

  .warning-closure {
    color: $c-bad;
  }
}

.appeal-topic {
  @extend %box-neat;

  border: $border;
  padding: 0.2em 0.5em;
  margin: 0.1em;
}

.line-center-text {
  @extend %flex-center-center;

  font-style: italic;
}
