#main-wrap {
  min-height: calc(95vh - #{$site-header-outer-height} - 4em);
}

.auth {
  width: 100%;
  margin: auto;

  @media (min-width: at-least($x-small)) {
    width: 40em;
  }

  .button {
    width: 100%;
    padding: 1rem;
  }

  .alternative {
    @extend %flex-between;
    margin-top: 2rem;
    font-size: 0.9em;
    line-height: 2em;
    gap: 1em;
  }

  &-login {
    @media (min-width: at-least($xx-small)) {
      width: 30em;
    }

    .login-remember {
      @extend %flex-center-nowrap;
      margin-top: 1em;
      gap: 1ch;
      cursor: pointer;
      user-select: none;
    }

    &__blanked {
      @extend %box-radius;
      margin-bottom: 2em;
      padding: 1em 2em;
      background: $c-bg-zebra;
      border: 2px solid $c-bad;
    }
  }

  .agreement label {
    font-weight: normal;
  }
}

/* presumably the keyboard is up */
@media (max-width: at-most($x-short)) {
  #top {
    display: none;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .password-complexity {
    margin-top: 1rem;
  }
}
