#main-wrap {
  min-height: calc(95vh - #{$site-header-outer-height} - 4em);
}

body:has(.auth) .signin-or-signup {
  display: none;
}

.checklist {
  font-size: 1.5em;
  font-weight: 700;

  li {
    list-style: disc inside;
  }
}

$auth-input-radius: 16px;
$auth-input-bg: rgba(46, 52, 56, 1);

.auth {
  width: 100%;
  margin: 0 auto;

  .auth-tabs {
    @extend %flex-center-nowrap;

    margin-bottom: 2rem;

    a {
      @extend %roboto;

      flex: 1 1 auto;
      text-align: center;
      font-size: 1.5em;
      padding: 1em 0.2em;
      color: $c-font;
      border-bottom: 2px solid $m-primary--alpha-30;

      @include transition(color border-color, 0.25s);

      &:hover {
        border-bottom-color: $c-primary;
      }

      &.active {
        font-weight: bold;
        color: $c-primary;
        border-bottom-color: $c-primary;
      }
    }
  }

  @media (min-width: at-least($x-small)) {
    width: 40em;
  }

  .form-group {
    position: relative;
  }

  .form-group .error {
    position: absolute;
  }

  .form-group .form-help {
    margin-top: 1.5rem;
  }

  .password-complexity {
    margin-top: 0;
  }

  .form-group input {
    height: 50px;
    border: none;
    border-radius: $auth-input-radius;
    color: $c-primary;
    background: $auth-input-bg;

    @include if-light {
      background: rgba(227, 230, 233, 1);
    }
  }

  .form-group.is-invalid input {
    outline: 2px solid $c-error;
    outline-offset: -2px;
  }

  .password-wrapper,
  .text-wrapper {
    position: relative;
  }

  .password-reveal,
  .text-clear {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.3em;
  }

  .password-reveal {
    float: none;
    margin: 0;
  }

  .text-clear {
    display: none;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &.show {
      display: block;
    }
  }

  .button {
    width: 100%;
    padding: 1.3rem;
    border-radius: $auth-input-radius;
  }

  .submit.button {
    color: $c-bg-box;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: none;
  }

  .magic-link {
    background: transparent;
    color: $c-primary;
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: none;
    border: 2px solid $c-primary;
  }

  .or-separator {
    display: flex;
    align-items: center;
    margin: 2.5rem 0 1.5rem;

    &::before,
    &::after {
      content: '';
      flex: 1;
      border-bottom: 1px solid $c-border;
    }

    span {
      padding: 0 1em;
      color: $c-font-dim;
      font-size: 0.85em;
    }
  }

  &-login {
    .form-group:has(+ .forgot-password) {
      margin-bottom: 0.5em;
    }

    .forgot-password {
      text-align: end;
      font-size: 1rem;

      a {
        text-decoration: underline;
        text-decoration-color: currentcolor;
        text-underline-offset: 3px;
      }
    }

    .login-remember {
      margin: 1em 0;

      .form-check__label {
        height: 1.4em;
        width: 1.4em;

        &::after {
          width: 0.7em;
          height: 0.35em;
          border-width: 2px;
          border-color: $c-bg-box;
        }
      }

      .form-label {
        font-weight: normal;
      }
    }

    &__blanked {
      @extend %box-radius;

      margin-bottom: 2em;
      padding: 1em 2em;
      background: $c-bg-zebra;
      border: 2px solid $c-bad;
    }
  }

  .agreement label {
    font-weight: normal;
  }

  .form-check__input input {
    &:checked + .form-check__label {
      background-color: $c-primary;
      border-color: $c-primary;
    }

    &:checked:hover + .form-check__label {
      background-color: $c-primary;
      border-color: $c-primary;
    }
  }

  .form-check__container:has(.form-label:hover) .form-check__label,
  .form-check__label:hover {
    border-color: $c-primary;
  }
}

/* presumably the keyboard is up */
@media (max-height: at-most($x-short)) {
  #top {
    display: none;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .password-complexity {
    margin-top: 1rem;
  }
}
