.cms {
  &__page {
    &__markup {
      @include rendered-markdown(
        $element-margin: 1em,
        $h1: false,
        $h2: false,
        $table: false,
        $img: false,
        $list: false
      );
      h3 {
        font-size: 1.3em;
        color: $c-font-dim;
        border-bottom: $border;
      }
      h4 {
        font-size: 1.25em;
      }
    }
  }
  #form3-markdown {
    display: none;
  }
  &__pages {
    th {
      white-space: nowrap;
      min-width: 9ch;
    }
    td {
      @extend %break-word;
      &:first-child {
        min-width: 30ch;
      }
      &:nth-child(2) {
        font-size: 0.9em;
      }
    }
    time {
      white-space: nowrap;
    }
    &.searching tbody tr {
      border-bottom: $border;
      &:nth-child(even) {
        background: none;
      }
    }
  }
}
