.link-popup {
  font-size: 1.1em;
  padding: 0 !important;
  max-width: 600px;

  &__content {
    @extend %flex-center-nowrap, %box-radius-top;
    background: $c-bg-zebra;
    padding: 2em;

    &::before {
      @extend %data-icon;
      content: $licon-InfoCircle;
      font-size: 5em;
      opacity: 0.5;
      margin-inline: 0 2rem;
    }
    &__title {
      text-align: start;
    }
    &__advice {
      font-size: 1.1em;
      color: $c-brag;
      margin: 0;
      margin-top: 0.3em;
    }
  }

  &__actions {
    @extend %flex-center;
    padding: 2em;
    justify-content: center;
    gap: 2em;
  }
}
