.markdown-textarea {
  overflow: visible; // don't clip textarea focus ring

  $c-bg-preview: $c-bg-input;
  @include if-transp {
    $c-bg-preview: $c-bg-opaque;
  }
  .comment-header {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 4px;
    margin-inline: 4px;
    align-items: center;
    z-index: 1;
  }
  .header-tab {
    all: unset;
    font-family: 'Roboto', Sans-Serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 40px;
    padding-block: 8px 10px;
    border-radius: 6px 6px 0 0;
    border: 1px solid transparent;
    border-bottom: none;
    background: transparent;
    color: $c-font-dimmer;
    cursor: pointer;
  }
  .header-tab.active {
    position: relative;
    background: $c-bg-preview;
    border-color: $c-border;
    color: $c-font;
    font-weight: bold;
    cursor: default;
  }
  .header-tab.active::after {
    position: absolute;
    content: ''; // hide a bit of textarea focus ring
    left: 1px;
    right: 1px;
    bottom: -2px;
    height: 2px;
    background-color: $c-bg-preview;
  }
  &:has(textarea:focus) .write.active {
    border-color: $m-primary--fade-40;
    border-width: 2px;
  }
  .upload-image {
    all: unset;
    margin: 0 16px 6px;
    width: 24px;
    height: 24px;
    background-color: $c-font-dimmer;
    cursor: pointer;
    -webkit-mask: url(../images/buttons/add-photo-outline-material.svg) 0 0 / contain no-repeat;
    mask: url(../images/buttons/add-photo-outline-material.svg) 0 0 / contain no-repeat;
  }
  .upload-image.disabled {
    background-color: $c-border;
    cursor: default;
  }

  .comment-content {
    overflow: visible; // don't clip textarea focus ring
    position: relative;
  }
  .comment-preview {
    position: absolute;
    inset: 1px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.8em 1em 0;
    border-radius: 6px 6px 24px 6px;
    background: $c-bg-preview;
  }
  .comment-preview img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  &:has(.uploading) {
    .comment-preview {
      background: $m-bg--alpha-50;
    }
    button {
      pointer-events: none;
    }
    .spinner {
      margin: 24px 0 0;
    }
  }
  .comment-preview .uploading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

@media (hover: hover) and (pointer: fine) {
  .markdown-textarea .header-tab:hover:not(.active) {
    background-color: $m-border--fade-80;
    border-color: $m-border--fade-60;
    color: $c-font;
  }
  .markdown-textarea .upload-image:hover:not(.disabled) {
    background-color: $c-primary;
  }
}
