.oauth {
  width: 100%;
  margin: auto;

  @media (min-width: at-least($x-small)) {
    width: 40em;
  }

  ul {
    margin: 25px;
  }
  li {
    list-style: disc outside;
  }

  strong {
    @extend %break-word;
    color: $c-brag;
  }
  code {
    word-wrap: anywhere;
  }

  &__top {
    text-align: center;
    margin-bottom: 4em;
  }

  &__logo {
    font-size: 9em;
    color: $c-brag;
  }

  h1 {
    @extend %break-word;
    margin: 1rem 0 1.5rem 0;
  }

  &__scopes {
    li {
      margin: 0.7em 0;
    }
    .danger {
      @extend %box-neat;
      font-weight: bold;
      color: $c-over;
      background: $c-bad;
      padding: 0.3em 0.8em;
      &::before {
        @extend %data-icon;
        font-size: 1.5em;
        @include margin-inline-end(0.2em);
        content: $licon-CautionTriangle;
        color: $c-over;
      }
    }
  }

  .form-actions {
    margin: 1.5rem 0;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $c-border;
  }

  &__footer {
    color: $c-font-dim;
    font-size: 0.9em;
    text-align: center;

    .danger {
      font-weight: bold;
      color: $c-bad;
    }
  }
}

@include mq-is-col1 {
  #main-wrap {
    margin-top: 0;
  }
  .oauth__top {
    margin-bottom: 3vh;
  }
  .oauth {
    padding-block: 3vh;
  }
  p {
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
