.page {
  .body {
    @include rendered-markdown(2em, 450vh);
    @include rendered-markdown--code;
    @include rendered-markdown--img;
    @include rendered-markdown--embed;

    font-size: 1.1em;
    overflow-wrap: anywhere;

    .center {
      text-align: center;
    }
  }
}
