.study__message {
  @extend %box-neat;

  background: $c-bg-box;
  padding: 3em;
  text-align: center;

  .button {
    display: inline-block;
    margin: 1em auto;
  }

  .spinner {
    margin: 50px auto;
  }
}
