@(u: User, form: Form[_])(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.closeAccount.txt()}" }

@account.layout(title = title, active = "close", evenMoreCss = cssTag("material.form.css")) {
<div class="content_box small_box high">
  <div class="signup_box">
    <h1 class="lidraughts_title">@trans.closeAccount()</h1>
    <p class="explanation">
      @trans.closeAccountExplanation()
    </p>
    <form class="material form" action="@routes.Account.closeConfirm" method="POST">
        @passwdFormField(form("passwd"), trans.password())
        @errMsg(form)
        <div class="button-container">
          <button type="submit" class="submit button text">@trans.closeAccount()</button>
        </div>
    </form>
    <br />
    <br />
    <a href="@routes.User.show(u.username)">
      @trans.changedMindDoNotCloseAccount()
    </a>
  </div>
</div>
}
