@(u: User, form: Form[_])(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.closeAccount.str()}" }

@account.layout(title = title, active = "close") {
<div class="content_box small_box high">
  <div class="signup_box">
    <h1 class="lichess_title">@trans.closeYourAccount()</h1>
    <p class="explanation">
      @trans.closeAccountExplanation()
    </p>
    <form action="@routes.Account.closeConfirm" method="POST">
      <ul>
        @account.passwdFormField(form("passwd"), trans.password())
        <li>@errMsg(form)</li>
        <li>
          <button type="submit" class="submit button">@trans.closeYourAccount()</button>
        </li>
        <li>
          <a href="@routes.User.show(u.username)">
            @trans.changedMindDoNotCloseAccount()
          </a>
        </li>
      </ul>
    </form>
  </div>
</div>
}
