@(u: User, form: Form[_])(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.closeAccount.txt()}" }

@account.layout(title = title, active = "close", evenMoreCss = cssTag("form3.css")) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 data-icon="j" class="lichess_title text">@trans.closeAccount()</h1>
    <form class="form3" action="@routes.Account.closeConfirm" method="POST">
      <div class="form-group">@trans.closeAccountExplanation()</div>
      @form3.password(form("passwd"), trans.password.frag())
      @form3.actions {
      <a href="@routes.User.show(u.username)">@trans.changedMindDoNotCloseAccount()</a>
      @form3.submit(trans.closeAccount.frag(), icon = "j".some)
      }
    </form>
  </div>
</div>
}
