@(u: User, form: Form[_])(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.changeEmail.txt()}" }

@account.layout(title = title, active = "email", evenMoreCss = cssTag("material.form.css")) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lichess_title">
      @trans.changeEmail()
      @if(ctx.req.queryString.contains("ok")) { <span class="is-green" data-icon="E"></span>}
    </h1>
    <form class="material form" action="@routes.Account.emailApply" method="POST">
      @passwdFormField(form("passwd"), trans.password())
      @base.form.group(form("email"), trans.email()) { field =>
      @base.form.input(field, typ = "email", required = true)
      @errMsg(form("email"))
      }
      @base.form.submit()
    </form>
  </div>
</div>
}
