@(u: User, form: Form[_], ok: Option[Boolean] = None)(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.changeEmail.txt()}" }

@account.layout(title = title, active = "email", evenMoreCss = cssTag("material.form.css")) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lichess_title">
      @trans.changeEmail()
      @ok.map {
      case true => {<span class="is-green" data-icon="E"></span>}
      case false => {<span class="is-red" data-icon="L"></span>}
      }
    </h1>
    @form("email").value.filter(_.nonEmpty).map { email =>
    <p>@trans.youHaveAlreadyRegisteredTheEmail(email)</p>
    }.getOrElse {
    <p>@trans.emailIsOptional()</p>
    <form class="material form" action="@routes.Account.emailApply" method="POST">
        @base.form.group(form("email"), trans.email()) {
          @base.form.input(form("email"), typ="email")
        }
        @passwdFormField(form("passwd"), trans.password())
        @errMsg(form)
        <div class="button-container">
          <button type="submit" class="submit button" data-icon="E">@trans.apply()</button>
        </div>
    </form>
    }
  </div>
</div>
}
