@(u: User)(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.kidMode()}" }

@account.layout(title = title, active = "kid") {
<div class="content_box small_box high">
  <div class="signup_box">
    <h1 class="lichess_title">@trans.kidMode()</h1>
    <p class="explanation">@trans.kidModeExplanation()</p>
    <br />
    <br />
    <br />
    <form action="@routes.Account.kidPost?v=@(!u.kid)" method="POST">
      <input type="submit" class="submit button" value="@if(u.kid) {@trans.disableKidMode()} else {@trans.enableKidMode()}" />
    </form>
    <br />
    <br />
    <p>
      @trans.inKidModeTheLichessLogoGetsIconX(Html(s"""<span title="${trans.kidMode()}" class="kiddo">😊</span>"""))
    </p>
  </div>
</div>
}
