@(title: String, active: String)(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("user-form.css")
}
@moreJs = {
@jsTag("user.js")
}

@menu = {
<a class="@active.active("editProfile")" href="@routes.Account.profile()">
  @trans.editProfile()
</a>
<a class="@active.active("preferences")" href="@routes.Pref.form()">
  @trans.preferences()
</a>
<a class="@active.active("password")" href="@routes.Account.passwd()">
  @trans.changePassword()
</a>
<a class="@active.active("close")" href="@routes.Account.close()">
  Close account
</a>
}

@base.layout(
title = title,
menu = menu.some,
moreCss = moreCss,
moreJs = moreJs,
active = siteMenu.user.some)(body)
