@(title: String, active: String, evenMoreCss: Html = Html(""))(body: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("account.css")
@evenMoreCss
}
@moreJs = {
@jsTag("user.js")
@jsTag("account.js")
}

@menu = {
@lila.pref.PrefCateg.all.map { categ =>
<a class="@active.active(categ.slug)" href="@routes.Pref.form(categ.slug)">
  @categName(categ)
</a>
}
<div class="sep"></div>
<a class="@active.active("editProfile")" href="@routes.Account.profile()">
  @trans.editProfile()
</a>
<a class="@active.active("password")" href="@routes.Account.passwd()">
  @trans.changePassword()
</a>
<a class="@active.active("email")" href="@routes.Account.email()">
  @trans.changeEmail()
</a>
<a class="@active.active("kid")" href="@routes.Account.kid()">
  @trans.kidMode()
</a>
<div class="sep"></div>
<a class="@active.active("security")" href="@routes.Account.security()">
  Security
</a>
<a href="@routes.Plan.index">Patron</a>
<div class="sep"></div>
<a class="@active.active("close")" href="@routes.Account.close()">
  @trans.closeAccount()
</a>
}

@base.layout(
title = title,
menu = menu.some,
moreCss = moreCss,
moreJs = moreJs)(body)
