@(form: Form[_])(implicit ctx: Context)

@account.layout(
title = trans.changePassword.txt(),
active = "password",
evenMoreCss = cssTag("form3.css")) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lichess_title">
      @trans.changePassword()
      @if(ctx.req.queryString.contains("ok")) { <span class="is-green" data-icon="E"></span>}
    </h1>
    <form class="form3" action="@routes.Account.passwdApply" method="POST">
      @form3.password(form("oldPasswd"), trans.currentPassword.frag()).toHtml
      @form3.password(form("newPasswd1"), trans.newPassword.frag()).toHtml
      @form3.password(form("newPasswd2"), trans.newPasswordAgain.frag()).toHtml
      @form3.actionHtml(form3.submit(trans.apply.frag()))
    </form>
  </div>
</div>
}.toHtml
