@(form: Form[_])(implicit ctx: Context)

@account.layout(
title = trans.changePassword.txt(),
active = "password",
evenMoreCss = cssTag("material.form.css")) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lidraughts_title">
      @trans.changePassword()
      @if(ctx.req.queryString.contains("ok")) { <span class="is-green" data-icon="E"></span>}
    </h1>
    <form class="material form" action="@routes.Account.passwdApply" method="POST">
      @globalErrorMaterial(form)
      @passwdFormField(form("oldPasswd"), trans.currentPassword())
      @passwdFormField(form("newPasswd1"), trans.newPassword())
      @passwdFormField(form("newPasswd2"), trans.newPasswordAgain())
      @base.form.submit()
    </form>
  </div>
</div>
}
