@(u: User, form: Form[_], categ: lila.pref.PrefCateg)(implicit ctx: Context)

@import lila.pref.{Pref,PrefCateg}

@categFieldset(categ: lila.pref.PrefCateg, active: lila.pref.PrefCateg)(body: Html) = {
<div@if(categ != active) { class="none" }>
  @body
</div>
}

@account.layout(
title = s"${bits.categName(categ)} - ${u.username} - ${trans.preferences.txt()}",
active = categ.slug,
evenMoreCss = cssTag("pref.css")) {
<div class="content_box small_box prefs">
  <div class="signup_box">
    <h1 class="lichess_title text" data-icon="%">@bits.categName(categ)</h1>
    <form class="autosubmit" action="@routes.Pref.formApply" method="POST">
      @defining(Seq(0 -> trans.no.txt(), 1 -> trans.yes.txt())) { booleanChoices =>
      @categFieldset(PrefCateg.GameDisplay, categ) {
      <ul>
        <li>
          <h2>@trans.pieceAnimation()</h2>
          @base.form.radios(form("display.animation"), translatedAnimationChoices)
        </li>
        <li>
          <h2>@trans.materialDifference()</h2>
          @base.form.radios(form("display.captured"), booleanChoices)
        </li>
        <li>
          <h2>@trans.boardHighlights()</h2>
          @base.form.radios(form("display.highlight"), booleanChoices)
        </li>
        <li>
          <h2>@trans.pieceDestinations()</h2>
          @base.form.radios(form("display.destination"), booleanChoices)
        </li>
        <li>
          <h2>@trans.boardCoordinates()</h2>
          @base.form.radios(form("display.coords"), translatedBoardCoordinateChoices)
        </li>
        <li>
          <h2>@trans.moveListWhilePlaying()</h2>
          @base.form.radios(form("display.replay"), translatedMoveListWhilePlayingChoices)
        </li>
        <li>
          <h2>@trans.pgnPieceNotation()</h2>
          @base.form.radios(form("display.pieceNotation"), translatedPieceNotationChoices)
        </li>
        <li>
          <h2>@trans.zenMode()</h2>
          @base.form.radios(form("display.zen"), booleanChoices)
        </li>
        <li>
          <h2>@trans.blindfoldChess()</h2>
          @base.form.radios(form("display.blindfold"), translatedBlindfoldChoices)
        </li>
      </ul>
      }
      @categFieldset(PrefCateg.ChessClock, categ) {
      <ul>
        <li>
          <h2>@trans.tenthsOfSeconds()</h2>
          @base.form.radios(form("clockTenths"), translatedClockTenthsChoices)
        </li>
        <li>
          <h2>@trans.horizontalGreenProgressBars()</h2>
          @base.form.radios(form("clockBar"), booleanChoices)
        </li>
        <li>
          <h2>@trans.soundWhenTimeGetsCritical()</h2>
          @base.form.radios(form("clockSound"), booleanChoices)
        </li>
      </ul>
      }
      @categFieldset(PrefCateg.GameBehavior, categ) {
      <ul>
        <li>
          <h2>@trans.howDoYouMovePieces()</h2>
          @base.form.radios(form("behavior.moveEvent"), translatedMoveEventChoices)
        </li>
        <li>
          <h2>@trans.premovesPlayingDuringOpponentTurn()</h2>
          @base.form.radios(form("behavior.premove"), booleanChoices)
        </li>
        <li>
          <h2>@trans.takebacksWithOpponentApproval()</h2>
          @base.form.radios(form("behavior.takeback"), translatedTakebackChoices)
        </li>
        <li>
          <h2>@trans.promoteToQueenAutomatically()</h2>
          @base.form.radios(form("behavior.autoQueen"), translatedAutoQueenChoices)
        </li>
        <li>
          <h2>@trans.claimDrawOnThreefoldRepetitionAutomatically()</h2>
          @base.form.radios(form("behavior.autoThreefold"), translatedAutoThreefoldChoices)
        </li>
        <li>
          <h2>@trans.moveConfirmation()</h2>
          @base.form.radios(form("behavior.submitMove"), submitMoveChoices)
        </li>
        <li>
          <h2>@trans.confirmResignationAndDrawOffers()</h2>
          @base.form.radios(form("behavior.confirmResign"), confirmResignChoices)
        </li>
        <li>
          <h2>@trans.inputMovesWithTheKeyboard()</h2>
          @base.form.radios(form("behavior.keyboardMove"), booleanChoices)
        </li>
        <li>
          <h2>@trans.castleByMovingTheKingTwoSquaresOrOntoTheRook()</h2>
          @base.form.radios(form("behavior.rookCastle"), translatedRookCastleChoices)
        </li>
      </ul>
      }
      @categFieldset(PrefCateg.Privacy, categ) {
      <ul>
        <li>
          <h2>@trans.letOtherPlayersFollowYou()</h2>
          @base.form.radios(form("follow"), booleanChoices)
        </li>
        <li>
          <h2>@trans.letOtherPlayersChallengeYou()</h2>
          @base.form.radios(form("challenge"), translatedChallengeChoices)
        </li>
        <li>
          <h2>@trans.letOtherPlayersMessageYou()</h2>
          @base.form.radios(form("message"), translatedMessageChoices)
        </li>
        <li>
          <h2>@trans.letOtherPlayersInviteYouToStudy()</h2>
          @base.form.radios(form("studyInvite"), translatedStudyInviteChoices)
        </li>
        <li>
          <h2>@trans.shareYourInsightsData()</h2>
          @base.form.radios(form("insightShare"), translatedInsightSquareChoices)
        </li>
      </ul>
      }
      <p class="saved text none" data-icon="E">@trans.yourPreferencesHaveBeenSaved()</p>
      }
    </form>
  </div>
</div>
}
