@(u: User, form: Form[_])(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.editProfile.txt()}" }

@account.layout(
title = title,
active = "editProfile",
evenMoreCss =cssTag("material.form.css")) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lichess_title text" data-icon="*">@trans.editProfile()</h1>
    <form class="material form" action="@routes.Account.profileApply" method="POST">
      <div class="form-group">@trans.allInformationIsPublicAndOptional()</div>
      <div>
        @base.form.group(form("country"), trans.country(), klass = "half") { field =>
        @base.form.select(field, lila.user.Countries.allPairs, default = "".some)
        }
        @base.form.group(form("location"), trans.location(), klass = "half") { field =>
        @base.form.input(field)
        }
      </div>
      @NotForKids {
      @base.form.group(form("bio"), Html(s"${trans.biography.txt()}")) { field =>
      <textarea name="@field.name" id="@field.id" rows=5 maxlength=600>@field.value</textarea>
      <p class="form-help">@trans.biographyDescription()</p>
      }
      <div>
        @base.form.group(form("firstName"), trans.firstName(), klass = "half") { field =>
        @base.form.input(field)
        }
        @base.form.group(form("lastName"), trans.lastName(), klass = "half") { field =>
        @base.form.input(field)
        }
      </div>
      }
      <div>
        @List("fide", "uscf", "ecf").map { rn =>
        @base.form.group(form(s"${rn}Rating"), trans.xRating(rn.toUpperCase), help=trans.ifNoneLeaveEmpty().some, klass = "third") { field =>
        @base.form.input(field, typ="number")
        }
        }
      </div>
      @base.form.group(form("links"), Html("Social media links ")) { field =>
      <textarea name="@field.name" id="@field.id" rows=5 maxlength=600>@field.value</textarea>
      <p class="form-help">
        Such as Twitter, Facebook, Github, Chess.com, ...<br />
        One URL per line.
      </p>
      }
      @errMsg(form)
      @base.form.submit()
    </form>
  </div>
</div>
}
