@(u: User, form: Form[_])(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.editProfile.str()}" }

@account.layout(
title = title,
active = "editProfile",
evenMoreCss =cssTag("material.form.css")) {
<div class="content_box small_box">
  <div class="signup_box">
    <h1 class="lichess_title text" data-icon="*">@trans.editProfile()</h1>
    <form class="material form" action="@routes.Account.profileApply" method="POST">
      <div class="form-group">@trans.allInformationIsPublicAndOptional()</div>
      <div>
        @base.form.group(form("country"), trans.country(), klass = "half") {
        @base.select(form("country"), lila.user.Countries.all, default = "".some)
        }
        @base.form.group(form("location"), trans.location(), klass = "half") {
        @base.input(form("location"))
        }
      </div>
      @NotForKids {
      @base.form.group(form("bio"), Html(s"${trans.biography.str()}")) {
      <textarea name="@form("bio").name" id="@form("bio").id" rows=5 maxlength=600>@form("bio").value</textarea>
      <p class="form-help">@trans.biographyDescription()</p>
      }
      <div>
        @base.form.group(form("firstName"), trans.firstName(), klass = "half") {
        @base.input(form("firstName"))
        }
        @base.form.group(form("lastName"), trans.lastName(), klass = "half") {
        @base.input(form("lastName"))
        }
      </div>
      }
      <div>
        @base.form.group(form("fideRating"), Html("FIDE rating"), klass = "half") {
        @base.input(form("fideRating"), typ="number")
        }
      </div>
      @errMsg(form)
      @base.form.submit()
    </form>
  </div>
</div>
}
