@(u: User, sessions: List[lila.security.LocatedSession], curSessionId: String)(implicit ctx: Context)

@title = @{ s"${u.username} - ${trans.security.txt()}" }

@account.layout(title = title, active = "security") {
<div class="account security box">
  <h1>@trans.security()</h1>
  <div class="box__pad">
    <p>@trans.thisIsAListOfDevicesThatHaveLoggedIntoYourAccount()</p>
    @if(sessions.length > 1) {
    <div>
      @trans.alternativelyYouCanX {
      <form class="revoke-all" action="@routes.Account.signout("all")" method="POST">
        <button type="submit" class="button button-empty button-red confirm">@trans.revokeAllSessions()</button>
      </form>
      }
    </div>
    }
  </div>
  <table class="slist slist-pad">
    @sessions.map { s =>
    <tr>
      <td class="icon">
        <span class="is-@if(s.session.id == curSessionId){gold}else{green}" data-icon="@if(s.session.isMobile){}else{}"></span>
      </td>
      <td class="info">
        <span class="ip">@s.session.ip</span>
        <span class="location">@s.location</span>
        <p class="ua">@s.session.ua</p>
        @s.session.date.map { date =>
        <p class="date">
          @momentFromNow(date)
          @if(s.session.id == curSessionId) { <span class="current">[CURRENT]</span> }
        </p>
        }
      </td>
      <td>
        @if(s.session.id != curSessionId) {
        <form action="@routes.Account.signout(s.session.id)" method="POST">
          <button type="submit" class="button button-red" title="@trans.logOut()" data-icon="L"></button>
        </form>
        }
      </td>
    </tr>
    }
  </table>
</div>
</div>
}.toHtml
