@(pager: Paginator[io.prismic.Document])(implicit ctx: Context, prismic: lila.blog.BlogApi.Context)

@layout(title = "Blog",
moreJs = jsTag("vendor/jquery.infinitescroll.min.js")) {

<h1 class="lichess_title" data-icon="6">
  <a class="atom" href="@routes.Blog.atom" data-icon="3"></a>
  Lichess Official Blog
</h1>
<div class="list infinitescroll">
  @pager.currentPageResults.map { doc =>
  <article class="paginated_element">
    @doc.getText("blog.title").map { title =>
    <h1 class="blog_title"><a href="@routes.Blog.show(doc.id, doc.slug, prismic.maybeRef)">@title</a></h1>
    }
    @meta(doc)
    <strong class="shortlede">@doc.getHtml("blog.shortlede", prismic.linkResolver).map(Html.apply)</strong>
    @doc.getImage("blog.image", "main").map { img =>
    <div class="illustration">
      <a href="@routes.Blog.show(doc.id, doc.slug, ref = prismic.maybeRef)"><img src="@img.url" /></a>
    </div>
    }
    <div class="body">
      @doc.getStructuredText("blog.body").map { body =>
      @Html(lila.blog.BlogApi.extract(body))
      }
      <p class="more">
        <a class="button" href="@routes.Blog.show(doc.id, doc.slug, ref = prismic.maybeRef)" data-icon="G"> Continue reading this post</a>
      </p>
    </div>
  </article>
  }
  @pager.nextPage.map { np =>
  <div class="pager none">
    <a rel="next" href="@routes.Blog.index(np, none)">Next</a>
  </div>
  }
</div>
}
