@(doc: io.prismic.Document)(implicit ctx: Context, prismic: lila.blog.BlogApi.Context)

@side = {
<br />
<a href="@routes.Blog.index(1, prismic.maybeRef)" data-icon="I" class="text">Return to blog</a>
<br />
<br />
<a href="@routes.Blog.atom" data-icon="3" class="text">Subscribe</a>
}

@layout(
title = s"${~doc.getText("blog.title")} | Blog",
side = side.some,
openGraph = lila.app.ui.OpenGraph(
`type` = "article",
image = doc.getImage("blog.image", "main").map(_.url),
title = ~doc.getText("blog.title"),
url = s"$netBaseUrl${routes.Blog.show(doc.id, doc.slug).url}",
description = ~doc.getText("blog.shortlede")).some) {
<div id="@doc.id" class="post @doc.getText("blog.cssClasses")">
  <h1 class="blog_title">@doc.getText("blog.title")</h1>
  @meta(doc)
  <strong class="shortlede">@doc.getHtml("blog.shortlede", prismic.linkResolver).map(Html.apply)</strong>
  <div class="illustration">
    @doc.getImage("blog.image", "main").map { img =>
    <img src="@img.url" />
    }
  </div>
  <div class="body embed_analyse">
    @doc.getHtml("blog.body", prismic.linkResolver).map(lila.blog.Youtube.fixStartTimes).map(lila.blog.ProtocolFix.remove).map(Html.apply)
  </div>
  @NotForKids {
  <div class="footer">
    @if(prismic.maybeRef.isEmpty) {
    @if(doc.getDate("blog.date").exists(_.value.toDateTimeAtStartOfDay isAfter org.joda.time.DateTime.now.minusWeeks(2))) {
    <a href="@routes.Blog.discuss(doc.id)" class="button text discuss" data-icon="d">Discuss this blog post in the forum</a>
    }
    } else {
    <p>This is a preview.</p>
    }
  </div>
  }
</div>
}
