select.rate {
  display: none;
}

rate-stars {
  white-space: nowrap;
  &.rate-active star {
    cursor: pointer;
  }
}

star {
  font: 2em 'lichess';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  margin-right: 2px;
  display: inline-block;

  &:after {
    content: 't';
    color: $c-shade;
  }

  &.rate-selected:after {
    color: $c-brag;
  }
}
