.coach-picture {
  & .picture_wrap {
    text-align: center;
  }

  & form {
    padding: 30px;
    border-top: $border;
    text-align: center;
    & input[type="file"] {
      margin-right: 1em;
    }
  }
  & form.delete button {
    color: red;
  }
  & .cancel {
    padding: 40px;
    border-top: $border;
  }
  & .forms > *:first-child {
    margin-top: 40px;
  }
}
