.coach-show {
  &__side {
    > .button {
      display: block;
    }
  }

  &__main {
    @extend %box-neat-force;
  }

  .coach-widget {
    @extend %metal;

    height: auto;
    border-bottom: $border;

    .overview {
      padding-bottom: 0.5em;
    }
  }

  &__sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 3em;
    margin: var(--box-padding);

    section {
      font-size: 1.2em;
    }

    @include breakpoint($mq-not-xx-small) {
      grid-template-columns: auto;
    }
  }

  &__title {
    margin: 0 0 1rem 0;
    color: $c-brag;
    font-size: 1.8rem;
  }

  &__youtube {
    padding: 2em;
    background: #000;
    border: $border;
    border-width: 0 1px 1px 1px;

    .list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    iframe {
      margin-bottom: 10px;
      width: 256px;
      height: 192px;
      background: #000;
    }
  }

  &__studies,
  &__posts {
    margin-top: 2em;
    .coach-show__title {
      padding: 1em var(--box-padding);
    }
  }

  &__studies {
    .studies {
      border-top: $border;
    }
  }

  &__posts {
    .ublog-post-cards {
      margin: 0 var(--box-padding);
    }
  }
}
