@(userInfos: lila.opening.UserInfos)(implicit ctx: Context)

<div class="undertable">
  <div class="undertable_top">
    <span class="title">@trans.recentlyPlayedOpenings()</span>
  </div>
  <div class="undertable_inner scroll-shadow-soft">
    <div class="content">
      <table>
        <tbody>
          @userInfos.history.map { attempt =>
          <tr>
            <td>
              <a class="user_link ulpt" href="@routes.User.show(userInfos.user.username)">
                @userInfos.user.username (@attempt.userRating) @showRatingDiff(attempt.userRatingDiff)
              </a>
            </td>
            <td>
              <a class="user_link" href="@routes.Opening.show(attempt.openingId)">
                @trans.openingId(attempt.openingId) (@attempt.openingRating) @showRatingDiff(attempt.openingRatingDiff)
              </a>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
