@(opening: lila.opening.Opening, userInfos: Option[lila.opening.UserInfos])(implicit ctx: Context)

@evenMoreJs = {
@helper.javascriptRouter("openingRoutes")(
)(ctx.req)
@embedJs {
LichessOpening(
document.querySelector('#lichess .round'),
@JsData(opening, userInfos, true),
openingRoutes.controllers,
@Html(J.stringify(i18nJsObject(
trans.training,
trans.toTrackYourProgress,
trans.signUp,
trans.trainingSignupExplanation,
trans.giveUp,
trans.continueTraining
)))
);
}
}

@layout(trans.training.str(), evenMoreJs = Some(evenMoreJs)) {
<div class="round cg-512">@miniBoardContent</div>
}
