@(opening: lila.opening.Opening, identified: List[lila.opening.Identified], userInfos: Option[lila.opening.UserInfos], animationDuration: scala.concurrent.duration.Duration)(implicit ctx: Context)

@evenMoreJs = {
@helper.javascriptRouter("openingRoutes")(
)(ctx.req)
@embedJs {
LichessOpening(
document.querySelector('#lichess .round'),
@JsData(opening, identified, userInfos, play = true, attempt = none, win = none, animationDuration = animationDuration),
openingRoutes.controllers,
@Html(J.stringify(i18nJsObject(
trans.training,
trans.toTrackYourProgress,
trans.signUp,
trans.trainingSignupExplanation,
trans.giveUp,
trans.yourTurn,
trans.continueTraining,
trans.openingId,
trans.ratingX,
trans.playedXTimes,
trans.yourOpeningRatingX,
trans.findNbStrongMoves,
trans.openingFailed,
trans.openingSolved,
trans.butYouCanKeepTrying,
trans.goodMove,
trans.butYouCanDoBetter,
trans.bestMove,
trans.keepGoing,
trans.victory,
trans.thisMoveGivesYourOpponentTheAdvantage,
trans.analysis,
trans.puzzles,
trans.coordinates,
trans.openings
)))
);
}
}

@layout(trans.training.str(), evenMoreJs = Some(evenMoreJs)) {
<div class="round cg-512">@miniBoardContent</div>
}
