@(form: Form[_])(implicit ctx: Context)

@moreCss = {
@cssTag("material.form.css")
}

@title = @{ "New personal API access token" }

@account.layout(
title = title,
active = "oauth.token",
evenMoreCss = moreCss
) {
<div class="oauth_form content_box no_padding oauth security">
  <div class="top">
    <h1>@title</h1>
  </div>
  <p class="explanation">
    New personal access token
    Personal access tokens function like ordinary lichess OAuth access tokens.
    They can be used to authenticate to the API over Basic Authentication.
  </p>
  <form class="material form" action="@routes.OAuthToken.create" method="POST">

    @base.form.group(form("description"), Html("Token description")) { field =>
    @base.form.input(field, required = true)
    }

    <h2>Scopes define the access for personal tokens:</h2>

    <div class="scopes">
      @lila.oauth.OAuthScope.all.map { scope =>
      <label>
        <input type="checkbox" name="@{form("scopes").name}[]" value="@scope.key" />
        @scope.name
      </label>
      }
    </div>

    @base.form.submit()
  </form>
</div>
}
