@(form: Form[_], me: User)(implicit ctx: Context)
@import lila.app.ui.ScalatagsTwirlForm._

@title = @{ "New personal API access token" }

@account.layout(
title = title,
active = "oauth.token"
) {
<div class="account oauth box box-pad">
  <h1>@title</h1>
  <form class="form3" action="@routes.OAuthToken.create" method="POST">

    <div class="form-group">
      Personal access tokens function like ordinary lichess OAuth access tokens.
      They can be used to authenticate to the API over Basic Authentication.
    </div>

    @form3.group(form("description"), raw("Token description"), help = raw("For you to remember what this token is for").some)(form3.input(_))

    <br><br>
    <h2>Scopes define the access for personal tokens:</h2>

    <div class="scopes">
      @lila.oauth.OAuthScope.all.map { scope =>
      @defining(me.noBot && scope == lila.oauth.OAuthScope.Bot.Play && me.count.game > 0) { disabled =>
      @defining(s"oauth-scope-${scope.key.replace(":", "_")}") { id =>
      <div>
        <span>
          <input id="@id" class="cmn-toggle" type="checkbox" name="@{form("scopes").name}[]" value="@scope.key"@if(disabled){ disabled }>
          <label for="@id"></label>
        </span>
        <label for="@id" @if(disabled) { title="You already have played games!"}>@scope.name</label>
      </div>
      }
      }
      }
    </div>

    @form3.actionsHtml {
    <a href="@routes.OAuthToken.index">Cancel</a>
    @form3.submit(trans.apply.frag())
    }
  </form>
</div>
}.toHtml
