package views.html.oAuth.token

import lila.api.Context
import lila.app.templating.Environment._
import lila.app.ui.ScalatagsTemplate._

import controllers.routes

object index {

  def apply(tokens: List[lila.oauth.AccessToken])(implicit ctx: Context) = {

val title = "Personal API access tokens"

views.html.account.layout(title = title, active = "oauth.token")(
div(cls := "account oauth box")(
  div(cls := "box__top")(
    h1(title),
    st.form(cls := "box-top__actions" action := routes.OAuthToken.create)(
      button type="submit" cls := "button frameless" title="New access token" data-icon="O"></button>
    </form>
  </div>
  <p cls := "box__pad">
    You can make OAuth requests without going through the authorization code flow.<br />
    <br />
    Instead, <a cls := "blue" href="@routes.OAuthToken.create">generate a personal token</a> that you can directly use in API requests.<br />
    <br />
    Be careful, these tokens are like passwords so you should guard them carefully.<br />
    The advantage to using a token over putting your password into a script is that a token can be revoked,
    and you can generate lots of them.<br />
    <br />
    Here's a
    <a cls := "blue" href="https://github.com/lichess-org/api/tree/master/example/oauth-personal-token">personal token app example</a>,
    and the <a cls := "blue" href="@routes.Api.index">API documentation</a>.
  </p>

  @tokens.headOption.filter(_.isBrandNew).map { token =>
  <div cls := "box__pad brand">
    <i data-icon="E" cls := "is-green"></i>
    <div>
      <p>Make sure to copy your new personal access token now.<br />You won’t be able to see it again!</p>
      <code>@token.id.value</code>
    </div>
  </div>
  }

  <table cls := "slist slist-pad">
    @tokens.map { t =>
    <tr>
      <td>
        <strong>@t.description.getOrElse("Unnamed")</strong><br />
        <em>@t.scopes.map(_.name).mkString(", ")</em>
      </td>
      <td cls := "date">
        @t.createdAt.map { created =>
        Created @momentFromNow(created).toHtml<br />
        }
        @t.usedAt.map { used =>
        Last used @momentFromNow(used).toHtml
        }
      </td>
      <td cls := "action">
        <form action="@routes.OAuthToken.delete(t.id.value)" method="POST">
          <button type="submit" cls := "button button-red button-empty confirm" title="Delete this access token">Delete</button>
        </form>
      </td>
    </tr>
    }
  </table>
</div>
}.toHtml
