.tour-home__side {
  h2 {
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 6px;
    border-bottom: $border;
  }
}

.leaderboard {
  li {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 2em;
    white-space: nowrap;
    &:hover a {
      color: $c-link-hover;
    }
  }
  a {
    color: $c-font;
  }
  .user_link {
    margin: 0 5px 0 -3px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    opacity: 0.7;
  }
}

.scheduled {
  a {
    padding: 6px 0 6px 35px;
    display: block;
    position: relative;
  }
  strong {
    display: block;
  }
  a::before {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 30px;
    opacity: 0.6;
    color: #d59120;
  }
  a:hover::before {
    opacity: 1;
  }
}
