@(champ: Option[lila.mod.Gamify.ModMixed], img: String, period: lila.mod.Gamify.Period)(implicit ctx: Context)

<div class="champ">
  <img src="@staticUrl(s"images/mod/$img.png")" />
  <h2>Mod of the @period.name</h2>
  @champ.map { m =>
  @userIdLink(m.modId.some, withOnline = false)
  <table>
    <tbody>
      <tr>
        <th>Total score</th>
        <td>@m.score</td>
      </tr>
      <tr>
        <th>Actions taken</th>
        <td>@m.action</td>
      </tr>
      <tr>
        <th>Reports closed</th>
        <td>@m.report</td>
      </tr>
    </tbody>
  </table>
  }.getOrElse { Nobody! }
  <a class="button button-empty" href="@routes.Mod.gamifyPeriod(period.name)">View @period.name leaderboard</a>
</div>
