@(leaderboards: lila.mod.Gamify.Leaderboards)(implicit ctx: Context)

@import lila.mod.Gamify.Period

@title = @{ "Moderator hall of fame" }

@mod.layout(
title = title,
active = "gamify",
moreCss = cssTag("mod-gamify.css")) {

<div id="mod-gamify" class="content_box no_padding">
  <h1>@title</h1>
  <div class="champs clearfix">
    <div class="third">
      @champion(leaderboards.daily.headOption, "reward1", Period.Day)
    </div>
    <div class="third">
      @champion(leaderboards.weekly.headOption, "reward2", Period.Week)
    </div>
    <div class="third">
      @champion(leaderboards.monthly.headOption, "reward3", Period.Month)
    </div>
  </div>
  <div class="history">
    TODO: History of former champions for past months.
  </div>
</div>
}
