@(leaderboards: lila.mod.Gamify.Leaderboards, history: List[lila.mod.Gamify.HistoryMonth])(implicit ctx: Context)

@import lila.mod.Gamify.Period

@title = @{ "Moderator hall of fame" }

@yearHeader(year: Int) = @{
Html(s"""<tr class="year">
  <th>$year</th>
  <th>Champions of the past</th>
  <th>Score</th>
  <th>Actions taken</th>
  <th>Reports closed</th>
</tr>""")
}

@base.layout(
title = title,
moreCss = responsiveCssTag("mod.gamify"),
responsive = true) {
<main class="page-menu">
  @mod.menu("gamify").toHtml
  <div id="mod-gamify" class="page-menu__content index box">
    <h1>@title</h1>
    <div class="champs">
      @champion(leaderboards.daily.headOption, "reward1", Period.Day)
      @champion(leaderboards.weekly.headOption, "reward2", Period.Week)
      @champion(leaderboards.monthly.headOption, "reward3", Period.Month)
    </div>
    <table class="slist slist-pad history">
      <tbody>
        @history.headOption.filterNot(_.date.getMonthOfYear == 12).map { h =>
        @yearHeader(h.date.getYear)
        }
        @history.map { h =>
        @if(h.date.getMonthOfYear == 12) {
        @yearHeader(h.date.getYear)
        }
        <tr>
          <th>@h.date.monthOfYear.getAsText</th>
          <th>@userIdLink(h.champion.modId.some, withOnline = false).toHtml</th>
          <td class="score">@h.champion.score.localize</td>
          <td>@h.champion.action.localize</td>
          <td>@h.champion.report.localize</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</main>
}.toHtml
