@(leaderboards: lila.mod.Gamify.Leaderboards, period: lila.mod.Gamify.Period)(implicit ctx: Context)

@title = @{ s"Moderators of the ${period.name}" }

@base.layout(
title = title,
moreCss = responsiveCssTag("mod.gamify")) {
<main class="page-menu">
  @mod.menu("gamify").toHtml
  <div id="mod-gamify" class="page-menu__content box">
    <h1>
      <a href="@routes.Mod.gamify" data-icon="I"></a>
      @title
    </h1>
    <div class="period">
      <table class="slist">
        <thead>
          <tr>
            <th colspan="2"></th>
            <th>Actions</th>
            <th>Reports</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          @leaderboards(period).zipWithIndex.map {
          case (m, i) => {
          <tr>
            <th>@(i + 1)</th>
            <th>@userIdLink(m.modId.some, withOnline = false).toHtml</th>
            <td>@m.action.localize</td>
            <td>@m.report.localize</td>
            <td class="score">@m.score.localize</td>
          </tr>
          }
          }
        </tbody>
      </table>
    </div>
  </div>
</main>
}.toHtml
