@(leaderboards: lila.mod.Gamify.Leaderboards, period: lila.mod.Gamify.Period)(implicit ctx: Context)

@title = @{ s"Moderators of the ${period.name}" }

@mod.layout(
title = title,
active = "gamify",
moreCss = cssTag("mod-gamify.css")) {

<div id="mod-gamify" class="content_box">
  <h1>@title</h1>
  <div class="period">
    <table>
      <thead>
        <tr>
          <th colspan="2"></th>
          <th>Actions</th>
          <th>Reports</th>
          <th>Score</th>
          <th>Trolls</th>
          <th>Cheats</th>
          <th>Others</th>
        </tr>
      </thead>
      <tbody>
        @leaderboards(period).zipWithIndex.map {
        case (m, i) => {
        <tr>
          <th>@(i + 1)</th>
          <th>@userIdLink(m.modId.some, withOnline = false)</th>
          <td>@m.action.localize</td>
          <td>@m.report.localize</td>
          <td class="score">@m.score.localize</td>
          <td>WIP</td>
          <td>WIP</td>
          <td>WIP</td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
</div>
}
