@import "history";

.storm {
  &--end {
    width: 90vw;
  }

  &__summary {
    display: flex;
    flex-flow: column;
    align-items: center;

    &__solved {
      @extend %box-neat;

      display: flex;
      flex-flow: column;
      align-items: center;

      background: $c-good;
      color: $c-good-over;
      padding: 1em 3em;
      margin: auto;

      &__number {
        font-family: 'storm';

        font-size: 10em;
        width: 3ch;
        text-align: center;
      }
    }
  }
}
