.storm-dashboard__high {
  &__periods {
    display: flex;
    flex-flow: row wrap;

    @media (min-width: at-least($xx-small)) {
      flex-flow: row nowrap;
    }
  }

  &__period {
    @extend %flex-column, %box-neat, %roboto;

    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    margin-inline-end: 4%;
    background: $c-bg-box;
    padding: 3em 1em 1.5em 1em;

    @media (max-width: at-most($xx-small)) {
      flex: 48% 0;
      margin-bottom: 1vh;

      &:nth-child(2) {
        margin-inline-end: 0;
      }
    }

    strong {
      font-family: 'storm';
      font-weight: normal;
      font-size: 3em;

      @media (min-width: at-least($xx-small)) {
        font-size: 5em;
      }
    }

    .highlight-alltime & {
      &:first-child {
        background: linear-gradient(145deg, rgba(255, 255, 255, 0.3) 0%, transparent 45%) $c-brag;
        color: $c-over;

        strong {
          font-size: 4em;
          line-height: 0.8em;

          @media (min-width: at-least($xx-small)) {
            font-size: 9em;
          }
        }
      }
    }

    &:last-child {
      margin-inline-end: 0;
    }
  }
}
