#main-wrap {
  --main-max-width: calc(100vh - #{$site-header-outer-height} - #{$col1-uniboard-controls});

  @include breakpoint($mq-col2) {
    --main-max-width: auto;
  }
}

.storm {
  grid-area: main;
  display: grid;

  &__side {
    grid-area: side;
  }

  &__board {
    grid-area: board;
  }

  &__tools {
    grid-area: tools;
  }

  &__controls {
    grid-area: controls;
  }

  &__session {
    grid-area: session;
    align-self: start;
  }

  grid-template-areas: 'board';
  grid-row-gap: $block-gap;

  @include breakpoint($mq-col2) {
    grid-template-columns: $col2-uniboard-width $col2-uniboard-table;
    grid-template-rows: fit-content(0);
    grid-template-areas: 'board   .';
  }


  @include breakpoint($mq-col3) {
    grid-template-areas: 'side    board   tools';
    grid-template-columns: $col3-uniboard-side $col3-uniboard-width $col3-uniboard-table;
  }


  &__side {}
}
