@import "combo";
@import "clock";

.storm {
  &--play {
    display: grid;

    &__side {
      grid-area: side;
    }

    &__board {
      grid-area: board;
    }

    grid-row-gap: $block-gap;
    grid-column-gap: $block-gap;
    grid-template-areas: 'board' 'side';

    @include breakpoint($mq-col2) {
      grid-template-columns: $col2-uniboard-width $col2-uniboard-table;
      grid-template-rows: fit-content(0);
      grid-template-areas: 'board   side';
    }
  }

  &__side {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: 0 4vw;

    @include breakpoint($mq-col2) {
      margin: 0;
    }
  }

  &__start {
    @extend %flex-center;

    font-size: 2em;
    color: $c-brag;
    margin: auto;

    @include breakpoint($mq-col2) {
      margin: 0;
    }


    &::before {
      content: ' ';
      width: 1.5em;
      height: 1.5em;
      background-image: img-url("icons/tornado.svg");
      background-size: cover;
      margin-right: .7em;
    }
  }

  &__solved {
    text-align: center;

    @include breakpoint($mq-col2) {
      text-align: left;
    }


    &__content {
      @extend %flex-center;

      &__value {
        font-family: 'storm';
        font-size: 2em;
        margin-right: 1rem;
      }
    }
  }

  $c-piece-flash-1: brightness(1.3);
  $c-piece-flash-2: brightness(0.7);

  @keyframes my-pieces {
    0% {
      filter: $c-piece-flash-1;
    }

    25% {
      filter: $c-piece-flash-2;
    }

    50% {
      filter: $c-piece-flash-1;
    }

    75% {
      filter: $c-piece-flash-2;
    }

    100% {
      filter: $c-piece-flash-1;
    }
  }

  &--mod-puzzle {
    .orientation-white piece.white,
    .orientation-black piece.black {
      animation: my-pieces .4s;
    }
  }
}
