@import "combo";
@import "clock";

.storm {
  &--play {
    display: grid;

    &__side {
      grid-area: side;
    }

    &__board {
      grid-area: board;
    }

    grid-row-gap: $block-gap;
    grid-column-gap: $block-gap;
    grid-template-areas: 'board' 'side';

    @include breakpoint($mq-col2) {
      grid-template-columns: $col2-uniboard-width $col2-uniboard-table;
      grid-template-rows: fit-content(0);
      grid-template-areas: 'board   side';
    }


    // @include breakpoint($mq-col3) {
    //   grid-template-areas: '.    board   side';
    //   grid-template-columns: $col3-uniboard-side $col3-uniboard-width $col3-uniboard-table;
    // }
 
  }

  &__side {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  &__solved {

    &__value {
      font-family: 'storm';
      font-size: 2em;
      margin-right: 1rem;
    }
  }
}
