.storm {
  &__side {
    @extend %box-neat;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background: $c-bg-box;
    padding: 3vh 2vw;
    margin: 0;
  }

  &__top {
    flex: 0 0 25%;
    display: flex;
    flex-flow: row nowrap;

    &::before {
      content: ' ';
      width: 5rem;
      height: 5rem;
      background-image: img-url("icons/tornado.svg");
      background-repeat: no-repeat;
      margin-right: 1.5rem;
    }
  }

  &__start {
    color: $c-brag;
    margin: auto;

    @include breakpoint($mq-col2) {
      margin: 0;
    }


    &__text {
      @extend %flex-column;

      strong {
        font-size: 2.2em;
        font-weight: normal;
      }

      span {
        @extend %roboto;

        font-size: 1.5em;
        letter-spacing: .2em;
      }
    }
  }

  &__solved {
    text-align: center;
    white-space: nowrap;

    &__text {
      font-family: 'storm';
      font-size: 5.5rem;
      color: $c-brag;
      margin-right: 1rem;
      transition: text-shadow .3s;
    }

    .storm--mod-puzzle & {
      text-shadow: 0 0 15px white;
    }
  }
}
