$mq-col2: $mq-col2-uniboard;

@import 'play';
@import 'end';
@import 'high';
@import 'zen';

.storm {
  &-play-scores {
    @extend %flex-between;
    @extend %zen;

    color: $c-font-page;
    margin: 2vh 2vw;

    @include breakpoint($mq-col2) {
      margin: 2vh 0.5rem;
    }

    span {
      text-transform: uppercase;
    }
  }

  &-dashboard__high__periods {
    @include breakpoint($mq-not-xx-small) {
      display: none;
    }

    @extend %zen;
  }

  &--reload {
    @extend %flex-column;

    justify-content: stretch;
    text-align: center;

    i {
      font-size: 15em;
      line-height: 1.2em;
    }

    p {
      margin: 3em 0;
    }
  }

  &__about__link {
    margin-top: 2vh;
    text-align: center;
    font-size: 0.8em;

    @extend %zen;
  }
}
