@use 'breakpoint-sass/stylesheets/breakpoint';
@use 'pkg:common/abstract/extends';
@use 'pkg:common/abstract/media-queries';
@use 'pkg:common/theme';
@use 'local';
@use 'play';
@use 'end';
@use 'high';

.storm {
  &-play-scores {
    @extend %flex-between;

    color: theme.$c-font-page;
    margin: 2vh 2vw;

    @include breakpoint.breakpoint(local.$mq-col2) {
      margin: 2vh 0.5rem;
    }

    span {
      text-transform: uppercase;
    }
  }

  &-dashboard__high__periods {
    @include breakpoint.breakpoint(media-queries.$mq-not-xx-small) {
      display: none;
    }
  }

  &--reload {
    @extend %flex-column;

    justify-content: stretch;
    text-align: center;
    min-width: 60vw;

    i {
      font-size: 15em;
      line-height: 1.2em;
    }

    p {
      margin: 3em 0;
    }
  }

  &__about__link {
    margin-top: 2vh;
    text-align: center;
    font-size: 0.8em;
  }
}
