@(json: play.api.libs.json.JsObject)(implicit ctx: Context)

@moreCss = {
@cssTag("tournament_calendar.css")
}

@moreJs = {
@jsAt(s"compiled/lichess.tournamentCalendar${isProd??(".min")}.js")
@embedJs {
var app = LichessTournamentCalendar.app(document.getElementById('tournament_calendar'), {
data: @safeJsonHtml(json),
i18n: @jsI18n()
});
}
}

@base.layout(
title = "Tournament calendar",
moreJs = moreJs,
moreCss = moreCss) {
<div class="content_box no_padding tournament_calendar">
  <h1>Tournament calendar</h1>
  <div id="tournament_calendar"></div>
</div>
}.toHtml
