@(tours: List[lila.tournament.Created])

@if(tours.isEmpty) {
<tr class="create">
  <td>
    <br />
    <a href="@routes.Tournament.form()" data-icon="g" class="action trans_me button"> @trans.createANewTournament.en()</a>
    <br />
    <br />
  </td>
</tr>
} else {
@tours.map { tour =>
<tr>
  <td>
    <a data-icon="g" href="@routes.Tournament.show(tour.id)">&nbsp;@tour.name</a>
  </td>
  @tour.schedule.map { s =>
  <td>@momentFormat(s.at)</td>
  }.getOrElse {
  <td class="small">
    @if(tour.variant.exotic) {
    960
    }
    @if(tour.rated) {
    <span class="trans_me">@trans.rated.en()</span>
    }
  </td>
  <td data-icon="p">&nbsp;@tour.clock.show</td>
  }
  <td>@tour.durationString</td>
  <td data-icon="r">&nbsp;@tour.playerRatio</td>
  <td>
    <form action="@routes.Tournament.join(tour.id)" method="POST">
      <button type="submit" class="submit button trans_me" data-icon="G"></button>
    </form>
  </td>
</tr>
}
}
