@(tours: List[lila.tournament.Created])

@if(tours.isEmpty) {
<tr class="create">
  <td>
    <br />
    <a href="@routes.Tournament.form()" data-icon="g" class="action trans_me button">@trans.createANewTournament.en()</a>
    <br />
    <br />
  </td>
</tr>
} else {
@tours.map { tour =>
<tr>
  <td>@tournament.linkTo(tour)</td>
  <td class="small">
    @if(tour.variant.exotic) {
    960
    }
    @if(tour.rated) {
    rated
    }
  </td>
  <td data-icon="p">&nbsp;@tour.clock.show</td>
  <td>@{tour.minutes}m</td>
  <td data-icon="r">&nbsp;@tour.playerRatio</td>
  <td>
    <form action="@routes.Tournament.join(tour.id)" method="POST">
      <input type="submit" class="submit button" value="Join" />
    </form>
  </td>
</tr>
}
}
