@(tours: List[Tournament], scheduled: Boolean)

@tours.filter(_.isScheduled == scheduled).map { tour =>
<tr @if(scheduled) { class="scheduled" }>
  <td class="name">
    <a class="text" href="@routes.Tournament.show(tour.id)">
      <span data-icon="@tournamentIconChar(tour)"></span>
      @tour.name
    </a>
  </td>
  @tour.schedule.map { s =>
  <td>@momentFromNowNoCtx(s.at)</td>
  }.getOrElse {
  <td class="small">
    <span class="text" data-icon="p">@tour.clock.show</span>
    @if(tour.variant.exotic) { @tour.variant.shortName }
    @if(tour.mode.rated) {
    <span class="trans_me">@trans.rated.en()</span>
    }
  </td>
  }
  <td>@tour.durationString</td>
  <td data-icon="r" class="text">@tour.nbPlayers</td>
  <td>
    <form action="@routes.Tournament.join(tour.id)" method="POST">
      <button type="submit" class="submit button" data-icon="G"></button>
    </form>
  </td>
</tr>
}
