@(rated: Option[Boolean] = None, system: Option[lidraughts.tournament.System] = None, privateId: Option[String] = None)(implicit ctx: Context)

@import lidraughts.tournament.System

<article class="faq">
  @privateId.map { id =>
  <h2>@trans.arena.thisIsPrivate()</h2>
  @trans.arena.shareUrl(netBaseUrl + routes.Tournament.show(id))
  }
  @trans.arena.willBeNotified()

  <h2>@trans.arena.isItRated()</h2>
  @rated.map { r =>
  @if(r) {
  @trans.arena.isRated()
  } else {
  @trans.arena.isNotRated()
  }
  }.getOrElse {
  @trans.arena.someRated()
  }

  <h2>@trans.arena.howAreScoresCalculated()</h2>
  @trans.arena.howAreScoresCalculatedAnswer()

  <h2>@trans.arena.berserk()</h2>
  @trans.arena.berserkAnswer()

  <h2>@trans.arena.howIsTheWinnerDecided()</h2>
  @trans.arena.howIsTheWinnerDecidedAnswer()

  <h2>@trans.arena.howDoesPairingWork()</h2>
  @trans.arena.howDoesPairingWorkAnswer()

  <h2>@trans.arena.howDoesItEnd()</h2>
  @trans.arena.howDoesItEndAnswer()

  <h2>@trans.arena.otherRules()</h2>
  @trans.arena.otherRulesAnswer()
</article>
