@(rated: Option[Boolean] = None, system: Option[lila.tournament.System] = None, privateId: Option[String] = None)(implicit ctx: Context)

@import lila.tournament.System

<article class="faq">
  @privateId.map { id =>
  <h2>@trans.arena.thisIsPrivate()</h2>
  <p>@trans.arena.shareUrl(netBaseUrl + routes.Tournament.show(id))</p>
  }
  <p>@trans.arena.willBeNotified()</p>

  <h2>@trans.arena.isItRated()</h2>
  @rated.map { r =>
  @if(r) {
  <p>@trans.arena.isRated()</p>
  } else {
  <p>@trans.arena.isNotRated()</p>
  }
  }.getOrElse {
  <p>@trans.arena.someRated()</p>
  }

  <h2>@trans.arena.howAreScoresCalculated()</h2>
  <p>@trans.arena.howAreScoresCalculatedAnswer()</p>

  <h2>@trans.arena.berserk()</h2>
  <p>@trans.arena.berserkAnswer()</p>

  <h2>@trans.arena.howIsTheWinnerDecided()</h2>
  <p>@trans.arena.howIsTheWinnerDecidedAnswer()</p>

  <h2>@trans.arena.howDoesPairingWork()</h2>
  <p>@trans.arena.howDoesPairingWorkAnswer()</p>

  <h2>@trans.arena.howDoesItEnd()</h2>
  <p>@trans.arena.howDoesItEndAnswer()</p>

  <h2>@trans.arena.otherRules()</h2>
  <p>@trans.arena.otherRulesAnswer()</p>
</article>
