@(system: Option[lidraughts.tournament.System])(implicit ctx: Context)

@side = {
<div class="tournament_home_side tournament_links">
  <a href="@routes.Tournament.help("arena".some)">@trans.tournamentFAQ()</a>
  <a href="@routes.Tournament.home()">@trans.returnToTournamentsHomepage()</a>
</div>
}

@tournament.layout(title = "Tournament FAQ", side = side.some) {
<div id="tournament">
  <div class="content_box small_box">
    <h1>@system Tournament FAQ</h1>
    @tournament.faq(system = system)
  </div>
</div>
}

