@(finished: Paginator[Tournament])(implicit ctx: Context)
<tbody class="infinitescroll">
  @finished.nextPage.map { np =>
  <tr><th class="pager none">
      <a href="@routes.Tournament.home(np)">Next</a>
  </th></tr>
  }
  @finished.currentPageResults.map { t =>
  <tr class="paginated_element@if(t.isScheduled) { scheduled }">
    <td class="icon">
      <span data-icon="@tournamentIconChar(t)"></span>
    </td>
    <td class="header">
      <a href="@routes.Tournament.show(t.id)">
        <span class="name">@t.fullName</span>
        <span class="setup">
          @t.clock.show •
          @if(t.variant.exotic) {
          @t.variant.name
          } else {
          @t.perfType.map(_.name)
          }
          @if(!t.position.initial) {
          • thematic
          } • @t.mode.fold(trans.casual, trans.rated)()
        </span>
      </a>
    </td>
    <td class="duration">@t.durationString</td>
    <td class="winner">
      @userIdLink(t.winnerId, withOnline = false)<br />
    </td>
    <td class="text" data-icon="r">@t.nbPlayers.localize</td>
  </tr>
  }
</tbody>
