@(form: Form[_], config: lila.tournament.DataForm, me: User, teams: lila.hub.tournamentTeam.TeamIdsWithNames)(implicit ctx: Context)
@import config._
@import lila.tournament.DataForm._
@import lila.app.ui.ScalatagsTwirlForm._

@moreJs = {
@flatpickrTag.toHtml
@jsTag("tournamentForm.js")
}

@base.layout(
title = trans.newTournament.txt(),
moreCss = responsiveCssTag("tournament.form"),
moreJs = moreJs) {
<main class="page-small">
  <div class="tour__form box box-pad">
    <h1>@trans.createANewTournament()</h1>

    <form class="form3" action="@routes.Tournament.create" method="POST">
      @if(lila.tournament.DataForm.canPickName(me)) {
      @form3.group(form("name"), trans.name.frag()) { f =>
      <div>
        @form3.inputHtml(f)() Arena<br />
        <small class="form-help">
          @trans.safeTournamentName()<br />
          @trans.inappropriateNameWarning()<br>
          @trans.emptyTournamentName()
        </small>
      </div>
      }
      }
      @form3.split {
      @form3.checkbox(form("rated"), trans.rated.frag(), help = raw("Games are rated<br>and impact players ratings").some)
      <input type="hidden" name="@form("rated").name" value="false"> @* hack allow disabling rated *@
      @form3.group(form("variant"), trans.variant.frag(), half = true)(form3.select(_, translatedVariantChoicesWithVariants.map(x => x._1 -> x._2)))
      }
      @form3.group(form("position"), trans.startPosition.frag(), klass = "position")(tournament.startingPosition(_))
      @form3.split {
      @form3.group(form("clockTime"), raw("Clock initial time"), half = true)(form3.select(_, clockTimeChoices))
      @form3.group(form("clockIncrement"), raw("Clock increment"), half = true)(form3.select(_, clockIncrementChoices))
      }
      @form3.split {
      @form3.group(form("minutes"), trans.duration.frag(), half = true)(form3.select(_, minuteChoices))
      @form3.group(form("waitMinutes"), trans.timeBeforeTournamentStarts.frag(), half = true)(form3.select(_, waitMinuteChoices))
      }
      @form3.globalError(form)
      <fieldset class="conditions">
        <legend>&nbsp;@trans.advancedSettings()&nbsp;</legend>
        @errMsg(form("conditions"))
        <p>
          <strong data-icon="!" class="text">@trans.recommendNotTouching()</strong>
          @trans.fewerPlayers()
          <a class="show blue">@trans.showAdvancedSettings()</a>
        </p>
        <div class="form">
          @form3.group(form("password"), trans.password.frag(), help = raw("Make the tournament private, and restrict access with a password").some)(form3.input(_))
          @tournament.conditionForm(form, auto = true, teams = teams)
          <input type="hidden" name="@form("berserkable").name" value="false"> @* hack allow disabling berserk *@
          @form3.group(form("startDate"), raw("Custom start date"), help = raw("""This overrides the "Time before tournament starts" setting""").some)(form3.flatpickr(_))
        </div>
      </fieldset>
      @form3.actions {
      <a href="@routes.Tournament.home()">@trans.cancel()</a>
      @form3.submit(trans.createANewTournament.frag(), icon = "g".some)
      }.toHtml
    </form>
  </div>
  <div class="box box-pad tour__faq">@tournament.faq().toHtml</div>
</main>
}.toHtml
