@(form: Form[_], config: lila.tournament.DataForm)(implicit ctx: Context)

@import config._

@tournament.layout(
title = "New tournament") {
<div id="tournament">
  <div class="content_box small_box tournament_box">
    <h1>New tournament</h1>
    <form class="plain create content_box_content" action="@routes.Tournament.create" method="POST">
      @form.globalError.map { error =>
      <p class="error">@error.message</p>
      }
      <table>
        <tr>
          <th>
            <label>Game clock</label>
          </th>
          <td class="inline">
            @base.select(form("clockTime"), config.clockTimeChoices)
            +
            @base.select(form("clockIncrement"), config.clockIncrementChoices)
          </td>
        </tr>
        <tr>
          <th>
            <label for="@form("minutes").id">Tournament duration</label>
          </th>
          <td>
            @base.select(form("minutes"), config.minuteChoices)
          </td>
        </tr>
        <tr>
          <th>
            <label for="@form("minPlayers").id">Number of players</label>
          </th>
          <td>
            @base.select(form("minPlayers"), config.minPlayerChoices)
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <input type="submit" class="submit" value="Create the tournament" />
            <br /><br />
            or <a href="@routes.Tournament.home()">cancel</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="content_box small_box faq_box tournament_box">
    <div class="content_box_content">@tournament.faq()</div>
  </div>
</div>
}
