@(form: Form[_], config: lila.tournament.DataForm)(implicit ctx: Context)

@import config._

@moreJs = {
<script>
$(function() {
    var $pass = $('#tournament .password');
    var $check = $('#tournament #isprivate');
    function showPassword() {
    if ($check.prop('checked')) {
    $pass.show(500);
    } else {
    $pass.val('').hide();
    }
    };
    $check.on('change', showPassword);
    showPassword();
    })
</script>
}

@tournament.layout(
title = "New tournament",
moreJs = moreJs) {
<div id="tournament">
  <div class="content_box small_box tournament_box">
    <h1>@trans.createANewTournament()</h1>
    <form class="plain create content_box_content" action="@routes.Tournament.create" method="POST">
      @form.globalError.map { error =>
      <p class="error">@error.message</p>
      }
      <table>
        <tr>
          <th><label for="@form("variant").id">@trans.variant()</label></th>
          <td>@base.select(form("variant"), translatedVariantChoices)</td>
        </tr>
        <tr>
          <th><label for="@form("mode").id">@trans.mode()</label></th>
          <td>@base.select(form("mode"), translatedModeChoices)</td>
        </tr>
        <tr>
          <th><label>@trans.timeControl()</label></th>
          <td class="inline">
            @base.select(form("clockTime"), config.clockTimeChoices)
            +
            @base.select(form("clockIncrement"), config.clockIncrementChoices)
          </td>
        </tr>
        <tr>
          <th><label for="@form("minutes").id">@trans.duration()</label></th>
          <td>@base.select(form("minutes"), config.minuteChoices)</td>
        </tr>
        <tr>
          <th><label for="@form("minPlayers").id">@trans.players()</label></th>
          <td>@base.select(form("minPlayers"), config.minPlayerChoices)</td>
        </tr>
        <tr>
          <th><label for="isprivate">@trans.isPrivate()</label></th>
          <td><input type="checkbox" id="isprivate" /></td>
        </tr>
        <tr class="password">
          <th><label for="@form("password").id">@trans.password()</label></th>
          <td>@base.input(form("password"))</td>
        </tr>
        <tr>
          <th></th>
          <td>
            <button type="submit" class="submit button" data-icon="g">
              @trans.createANewTournament()
            </button>
            <br /><br />
            <a href="@routes.Tournament.home()">@trans.cancel()</a>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="content_box small_box faq_box tournament_box">
    <div class="content_box_content">@tournament.faq()</div>
  </div>
</div>
}
