@(m: lila.tournament.MiniStanding)(implicit ctx: Context)
@m.standing.map { standing =>
<table class="slist standing">
  <tbody>
    @standing.map {
    case lila.tournament.RankedPlayer(rank, player) => {
    <tr @if(ctx.userId.exists(player.is)) { class="me" }>
      <td class="name">
        @if(player.withdraw) {
        <span data-icon="Z" title="Pause"></span>
        } else {
        @if(m.tour.isFinished && rank == 1) {
        <span data-icon="g" title="@trans.winner()"></span>
        } else {
        <span class="rank">@rank</span>
        }
        }
        @userInfosLink(player.userId, none, withOnline = false, withPowerTip = true)
      </td>
      <td class="total">
        <strong@if(player.fire) { class="is-gold" data-icon="Q" }>@player.score</strong>
      </td>
    </tr>
    }
    }
  </tbody>
</table>
}
