@(createds: List[lila.tournament.Created], starteds: List[lila.tournament.Started], finisheds: List[lila.tournament.Finished])(implicit ctx: Context)

<div class="content_box tournament_box no_padding">
  <h1>@trans.tournaments()</h1>
  <table class="slist all_tournaments">
    <thead>
      <tr>
        <th class="large">@trans.openTournaments()</th>
        <th>@trans.mode()</th>
        <th>@trans.timeControl()</th>
        <th colspan="2">@trans.chessPlayers()</th>
      </tr>
    </thead>
    <tbody>
      @createds.map { tour =>
      <tr>
        <td>@linkTo(tour)</td>
        <td class="small">
          @if(tour.variant.exotic) { 
          960
          }
          @if(tour.rated) {
          @trans.rated()
          }
        </td>
        <td>@tour.clock.show | @{tour.minutes}m</td>
        <td>@tour.playerRatio</td>
        <td>
          @ctx.me.map { me =>
          @if(tour contains me) {
          <span class="label">JOINED</span>
          } else {
          <form class="inline" action="@routes.Tournament.join(tour.id)" method="POST">
            <button type="submit" class="submit button">
              @if(tour.hasPassword) {
              <span class="s16 lock">@trans.join()</span>
              } else {
              @trans.join()
              }
            </button>
          </form>
          }
          }
        </td>
      </tr>
      }
      @if(ctx.isAuth) {
      <tr class="create">
        <td colspan="5">
          <a href="@routes.Tournament.form()" class="action">@trans.createANewTournament()</a>
        </td>
      </tr>
      }
    </tbody>
    @if(starteds.nonEmpty) {
    <thead>
      <tr>
        <th class="large">@trans.playingRightNow()</th>
        <th>@trans.mode()</th>
        <th>@trans.timeControl()</th>
        <th>@trans.chessPlayers()</th>
        <th>Leader</th>
      </tr>
    </thead>
    <tbody>
      @starteds.map { tour =>
      <tr>
        <td>@linkTo(tour)</td>
        <td class="small">
          @if(tour.variant.exotic) { 
          960
          }
          @if(tour.rated) {
          @trans.rated()
          }
        </td>
        <td>@tour.clock.show | @{tour.minutes}m</td>
        <td>@tour.playerRatio</td>
        <td>@tour.winner.map { player =>
          @userInfosLink(player.username, player.rating.some, withOnline = false)
          }
        </td>
      </tr>
      }
    </tbody>
    }
    <thead>
      <tr>
        <th class="large">@trans.finished()</th>
        <th>@trans.mode()</th>
        <th>@trans.timeControl()</th>
        <th>@trans.chessPlayers()</th>
        <th>@trans.winner()</th>
      </tr>
    </thead>
    <tbody>
      @finisheds.map { tour =>
      <tr>
        <td>@linkTo(tour)</td>
        <td class="small">
          @if(tour.variant.exotic) { 
          960
          }
          @if(tour.rated) {
          @trans.rated()
          }
        </td>
        <td>@tour.clock.show | @{tour.minutes}m</td>
        <td>@tour.playerRatio</td>
        <td>@tour.winner.map { player =>
          @userInfosLink(player.username, player.rating.some, withOnline = false)
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
