@(scheduled: List[Tournament], leaderboard: List[User], json: play.api.libs.json.JsObject)(implicit ctx: Context)

@moreJs = {
@jsAt(s"compiled/lichess.tournament-schedule${isProd??(".min")}.js")
@jsAt("javascripts/vendor/dragscroll.js")
@embedJs {
var lichess = lichess || {};
lichess.tournamentSchedule = LichessTournamentSchedule(document.getElementById('tournament_schedule'), {
data: @Html(J.stringify(json)),
i18n: @jsI18n(),
userId: @Html(ctx.userId.fold("null")(id => s""""$id""""))
});
}
}

@side = {
<div class="tournament_home_side">
  <div class="tournament_links">
    <a href="@routes.Tournament.help("arena".some)">@trans.tournamentFAQ()</a>
  </div>
  <h2 class="leaderboard_title">@trans.leaderboard()</h2>
  <ol class="tournament_leaderboard">
    @leaderboard.map { user =>
    <li>@userLink(user, withOnline = false, text = Some(user.username + " [" + user.toints.localize + "]"))</li>
    }
  </ol>
  <h2 class="leaderboard_title">@trans.lichessTournaments()</h2>
  <ol class="scheduled_tournaments">
    @scheduled.map { tour =>
    @tour.schedule.map { s =>
    @if(s.freq != lila.tournament.Schedule.Freq.Hourly) {
    <li data-icon="@tournamentIconChar(tour)" class="is-gold @s.freq.name">
      <a href="@routes.Tournament.show(tour.id)">@tour.fullName</a>
      @momentFormat(s.at, "calendar")
    </li>
    }
    }
    }
  </ol>
</div>
}

@tournament.layout(
title = trans.tournaments.str(),
moreJs = moreJs,
side = side.some,
openGraph = lila.app.ui.OpenGraph(
url = s"$netBaseUrl${routes.Tournament.home.url}",
title = "Chess tournament featuring various time controls and variants",
description = "Play fast-paced chess tournaments! Join an official scheduled tournament, or create your own. " +
"Bullet, Blitz, Classical, Chess960, King of the Hill, Threecheck, and more options available for endless chess fun.").some) {
<div class="content_box tournament_box no_padding">
  @if(ctx.isAuth) {
  <div class="create_tournament">
    <a href="@routes.Tournament.form()" class="action button text">@trans.createANewTournament()</a>
  </div>
  }
  <h1>@trans.tournaments()</h1>
  <div id="tournament_schedule"></div>
</div>
}
