@(createds: List[lila.tournament.Created], starteds: List[lila.tournament.Started], finisheds: List[lila.tournament.Finished])(implicit ctx: Context)

@joinButton(tour: lila.tournament.Enterable) = {
@ctx.me.map { me =>
@if(tour isActive me) {
<span class="joined label" data-icon="E">&nbsp;JOINED</span>
} else {
<form class="inline" action="@routes.Tournament.join(tour.id)" method="POST">
  <button data-icon="@tour.hasPassword.fold("a", "G")" type="submit" class="submit button">&nbsp;@trans.join()</button>
</form>
}
}
}

@tourMode(tour: lila.tournament.Tournament) = {
@tour.schedule.filter(_ => tour.isOpen).map { s =>
@momentFromNow(s.at)
}.getOrElse {
@if(tour.variant.exotic) { 960 }
@if(tour.rated) { @trans.rated() }
}
}

<div class="content_box tournament_box no_padding">
  <h1>@trans.tournaments()</h1>
  <table class="slist">
    <thead>
      <tr>
        <th class="large">@trans.openTournaments()</th>
        <th></th>
        <th>@trans.timeControl()</th>
        <th colspan="2">@trans.players()</th>
      </tr>
    </thead>
    <tbody>
      @createds.filter(_.scheduled).map { tour =>
      <tr class="scheduled">
        <td>@tournamentLink(tour)</td>
        <td>@tourMode(tour)</td>
        <td data-icon="p">&nbsp;@tour.clock.show | @tour.durationString</td>
        <td data-icon="r">&nbsp;@tour.nbPlayers</td>
        <td>@joinButton(tour)</td>
      </tr>
      }
      @createds.filterNot(_.scheduled).map { tour =>
      <tr>
        <td>@tournamentLink(tour)</td>
        <td>@tourMode(tour)</td>
        <td data-icon="p">&nbsp;@tour.clock.show | @tour.durationString</td>
        <td data-icon="r">&nbsp;@tour.playerRatio</td>
        <td>@joinButton(tour)</td>
      </tr>
      }
      @if(ctx.isAuth) {
      <tr class="create">
        <td colspan="5">
          <br />
          <a href="@routes.Tournament.form()" class="action button" data-icon="g"> @trans.createANewTournament()</a>
          <br />
          <br />
        </td>
      </tr>
      }
    </tbody>
    @if(starteds.nonEmpty) {
    <thead>
      <tr>
        <th class="large">@trans.playingRightNow()</th>
        <th></th>
        <th>@trans.timeControl()</th>
        <th>@trans.players()</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @starteds.map { tour =>
      <tr>
        <td>@tournamentLink(tour)</td>
        <td>@tourMode(tour)</td>
        <td data-icon="p">&nbsp;@tour.clock.show | @tour.durationString</td>
        <td data-icon="r">&nbsp;@tour.nbPlayers</td>
        <td>@joinButton(tour)</td>
      </tr>
      }
    </tbody>
    }
    <thead>
      <tr>
        <th class="large">@trans.finished()</th>
        <th></th>
        <th>@trans.timeControl()</th>
        <th>@trans.players()</th>
        <th>@trans.winner()</th>
      </tr>
    </thead>
    <tbody>
      @finisheds.map { tour =>
      <tr>
        <td>@tournamentLink(tour)</td>
        <td>@tourMode(tour)</td>
        <td data-icon="p">&nbsp;@tour.clock.show | @tour.durationString</td>
        <td data-icon="r">&nbsp;@tour.nbPlayers</td>
        <td>@tour.winner.map { player =>
          @userInfosLink(player.id, player.rating.some, withOnline = false)
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
