@(tour: lila.tournament.Tournament)(implicit ctx: Context)

@tour.spotlight.map { spot =>
<a href="@routes.Tournament.show(tour.id)"
  class="tour_spotlight invert id_@tour.id @tour.schedule.map { sched =>
  @sched.freq @sched.speed @sched.variant.key@if(sched.freq.isWeeklyOrBetter && tour.isNowOrSoon){ invert}@if(tour.isDistant){ distant little}
  }">
  @spot.iconImg.map { i =>
  <img class="img" src="@staticUrl(s"images/$i")" />
  }.getOrElse {
  @spot.iconFont.map {
  case "\\" => { <img class="img icon" src="@staticUrl(s"images/globe.svg")" /> }
  case i => { <i class="img" data-icon="@i"></i> }
  }.getOrElse {
  <i class="img" data-icon="g"></i>
  }
  }
  <span class="content">
    <span class="name">@tour.fullName</span>
    @if(tour.isDistant) {
    <span class="more">@momentFromNow(tour.startsAt)</span>
    } else {
    <span class="headline">@spot.headline</span>
    <span class="more">
      @trans.nbPlayers.plural(tour.nbPlayers, tour.nbPlayers.localize) •
      @if(tour.isStarted) {
      finishes@momentFromNow(tour.finishesAt)
      } else { @momentFromNow(tour.startsAt) }
    </span>
    }
  </span>
</a>
}.getOrElse {
@tour.schedule.map { sched =>
<a href="@routes.Tournament.show(tour.id)"
  class="tour_spotlight little id_@tour.id @tour.schedule.map { sched =>
  @sched.freq @sched.speed @sched.variant.key@if(sched.freq.isWeeklyOrBetter && tour.isNowOrSoon){ invert}
  }">
  @tour.perfType.map { pt =>
  <i class="img" data-icon="@pt.iconChar"></i>
  }.getOrElse {
  <i class="img" data-icon="g"></i>
  }
  <span class="content">
    <span class="name">@tour.fullName</span>
    <span class="more">
      @trans.nbPlayers.plural(tour.nbPlayers, tour.nbPlayers.localize) •
      @if(tour.isStarted) { @trans.eventInProgress() } else { @momentFromNow(tour.startsAt) }
    </span>
  </span>
</a>
}
}
