@(tour: lila.tournament.Tournament)(implicit ctx: Context)

<div class="lichess_goodies">
  <div class="box">
    @trans.createdBy() @userIdLink(tour.createdBy.some, withOnline = false)
    <br />
    @timeago(tour.createdAt)
    @tour.password.map { password =>
    <br />
    <span class="s16 lock">
      @if(ctx.userId == tour.createdBy.some) {
      @trans.password(): @tour.password
      } else {
      @trans.isPrivate()
      }
    </span>
    }
    <br /><br />
    <span class="s16 clock">@tour.clock.show</span>,
    @variantName(tour.variant).capitalize,
    @{ tour.rated.fold(trans.rated(), trans.casual()) }
    <br /><br />
    @trans.duration(): @tour.minutes minutes
    @if(tour.isRunning && (tour isActive ctx.me)) {
    <br /><br />
    <form action="@routes.Tournament.withdraw(tour.id)" method="POST">
      <input type="submit" class="submit button strong" value="@trans.withdraw()" />
    </form>
    }
    @tour.winner.filter(_ => tour.isFinished).map { winner =>
    <br /><br />
    @trans.winner(): @userInfosLink(winner.username, winner.rating.some, withOnline = false)
    }
  </div>
</div>
