@(tour: lila.tournament.Created, form: Form[_], version: Int)(implicit ctx: Context)

@formHtml = {
<div class="content_box_content join_password">
<h2>A password is required to join this tournament</h2>
<form action="@routes.Tournament.joinPassword(tour.id)" method="POST">
@base.input(form("password"), "Password".some)
<input type="submit" class="submit" value="@trans.join()" />
<a href="@routes.Tournament.show(tour.id)">@trans.cancel()</a>
</form>
</div>
}

@tournament.show.layout(
tour = tour,
goodies = tournament.infoBox(tour),
chat = None,
version = version,
title = trans.join.str() + trans.xTournament(tour.name)) {
@tournament.show.createdInner(tour, formHtml.some)
}
