@()(implicit ctx: Context)
@safeJson(i18nJsObject(List(
trans.standing,
trans.starting,
trans.tournamentIsStarting,
trans.youArePlaying,
trans.standByX,
trans.tournamentPairingsAreNowClosed,
trans.join,
trans.withdraw,
trans.joinTheGame,
trans.signIn,
trans.averageElo,
trans.gamesPlayed,
trans.nbPlayers,
trans.winRate,
trans.berserkRate,
trans.performance,
trans.tournamentComplete,
trans.movesPlayed,
trans.whiteWins,
trans.blackWins,
trans.draws,
trans.nextXTournament,
trans.viewMoreTournaments,
trans.averageOpponent,
trans.ratedTournament,
trans.casualTournament
)))
