@(winners: lila.tournament.AllWinners)(implicit ctx: Context)
@import lila.rating.PerfType
@freqWinner(w: lila.tournament.Winner, freq: String) = {
<li>
  @userIdLink(w.userId.some)
  <a title="@w.tourName" href="@routes.Tournament.show(w.tourId)">@freq</a>
</li>
}

@freqWinners(fws: lila.tournament.FreqWinners, perfType: PerfType, name: String) = {
<div class="winner_list">
  <h2 class="text" data-icon="@perfType.iconChar">@name</h2>
  <ul>
    @fws.yearly.map { w => @freqWinner(w, "Yearly") }
    @fws.monthly.map { w => @freqWinner(w, "Monthly") }
    @fws.weekly.map { w => @freqWinner(w, "Weekly") }
    @fws.daily.map { w => @freqWinner(w, "Daily") }
  </ul>
</div>
}

@eliteWinners = {
<div class="winner_list">
  <h2 class="text" data-icon="C">Elite Arena</h2>
  <ul>
    @winners.elite.map { w =>
    <li>
      @userIdLink(w.userId.some)
      <a title="@w.tourName" href="@routes.Tournament.show(w.tourId)">@showDate(w.date)</a>
    </li>
    }
  </ul>
</div>
}

@marathonWinners = {
<div class="winner_list">
  <h2 class="text" data-icon="\">Marathon</h2>
  <ul>
    @winners.marathon.map { w =>
    <li>
      @userIdLink(w.userId.some)
      <a title="@w.tourName" href="@routes.Tournament.show(w.tourId)">@w.tourName.replace(" Marathon", "")</a>
    </li>
    }
  </ul>
</div>
}

@base.layout(
title = "Tournament leaderboard",
moreCss = cssTags("tournament_leaderboard.css", "user-list.css")
) {
<div class="content_box no_padding tournament_leaderboard">
  @user.communityTabs("tournament")
  <h1>Tournament winners</h1>
  <div class="winner_lists">
    @eliteWinners
    @freqWinners(winners.hyperbullet, PerfType.Bullet, "HyperBullet")
    @freqWinners(winners.bullet, PerfType.Bullet, "Bullet")
    @freqWinners(winners.superblitz, PerfType.Blitz, "SuperBlitz")
    @freqWinners(winners.blitz, PerfType.Blitz, "Blitz")
    @freqWinners(winners.rapid, PerfType.Rapid, "Rapid")
    @marathonWinners
    @lila.tournament.WinnersApi.variants.map { v =>
    @PerfType.byVariant(v).map { pt =>
    @winners.variants.get(pt.key).map { w =>
    @freqWinners(w, pt, v.name)
    }
    }
    }
  </div>
</div>
}.toHtml
