@(tour: lila.tournament.Tournament, sched: lila.tournament.Schedule)(implicit ctx: Context)

@if(sched.freq >= lila.tournament.Schedule.Freq.Daily) {
<a href="@routes.Tournament.show(tour.id)"
  class="tour_spotlight little id_@tour.id @tour.schedule.map { sched => @sched.freq @sched.speed @sched.variant.key }">
  @tour.perfType.map { pt =>
  <i class="img" data-icon="@pt.iconChar"></i>
  }.getOrElse {
  <i class="img" data-icon="g"></i>
  }
  <span class="content">
    <span class="name">@tour.fullName</span>
    <span class="more">
      @trans.nbConnectedPlayers(tour.nbPlayers.localize) •
      @if(tour.isStarted) {
      finishes@momentFromNow(tour.finishesAt)
      } else { @momentFromNow(tour.startsAt) }
    </span>
  </span>
</a>
}
