@(tour: lila.tournament.Tournament)(implicit ctx: Context)

@showUser(p: lila.tournament.Pairing, u: String) = {
<span class="@p.finished.fold(p.draw.fold("draw", p.wonBy(u).fold("win", "loss")), "playing")">@usernameOrId(u)</span>
}

<div class="pairings">
  @tour.numerotedPairings.map {
  case (number, pairing) => {
  <a class="revert-underline" href="@routes.Round.watcher(pairing.gameId, "white")">
    @number @showUser(pairing, pairing.user1) <em>vs</em> @showUser(pairing, pairing.user2)
  </a>
  }
  }
</div>
