@(tour: lila.tournament.Tournament, variantLink: Boolean = false)(implicit ctx: Context)
<span class="setup">
  @tour.clock.show •
  @if(tour.variant.exotic) {
  @if(variantLink) {
  @game.variantLink(tour.variant, (if (tour.variant == chess.variant.KingOfTheHill) tour.variant.shortName else tour.variant.name), cssClass = "hint--top")
  } else {
  @tour.variant.name
  }
  } else {
  @tour.perfType.map(_.name)
  } •
  @tour.schedule.filter(_ => tour.isOpen).map { s =>
  @momentFromNow(s.at)
  }.getOrElse {
  @tour.rated.fold(trans.rated.str(), trans.casual.str())
  }
</span>
