@(history: lila.tournament.TournamentShield.History)(implicit ctx: Context)

@moreCss = {
@cssTag("tournament_shields.css")
@cssTag("user-list.css")
}

@base.layout(
title = "Tournament shields",
moreCss = moreCss) {
<div class="content_box no_padding tournament_shields">
  @user.bits.communityMenu("shield")
  <h1>Tournament shields</h1>
  <div class="winner_lists">
    @history.sorted.map {
    case (categ, awards) => {
    <div class="winner_list">
      <h2>
        <span class="shield_trophy">@categ.iconChar</span>
        @categ.name
      </h2>
      <ul>
        @awards.map { a =>
        <li>
          @userIdLink(a.owner.value.some)
          <a href="@routes.Tournament.show(a.tourId)">@showDate(a.date)</a>
        </li>
        }
      </ul>
    </div>
    }
    }
  </div>
</div>
}.toHtml
