@(tour: Tournament, data: play.api.libs.json.JsObject, chatOption: Option[lila.chat.UserChat.Mine])(implicit ctx: Context)

@underchat = {
<div class="watchers none" data-icon="v">
  <span class="list inline_userlist"></span>
</div>
}

@moreJs = {
@jsAt(s"compiled/lichess.tournament${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.tournament = {
data: @Html(play.api.libs.json.Json.stringify(data)),
i18n: @jsI18n(),
userId: @jsUserId,
chat: @jsOrNull(chatOption map { c =>
chat.ChatJsData.json(c.chat, name = trans.chatRoom.str(), timeout = c.timeout)
})
};
}
}

@tournament.layout(
title = s"${tour.fullName} #${tour.id}",
side = tournament.side(tour).some,
chat = chat.dom().some,
underchat = underchat.some,
moreJs = moreJs,
chessground = false,
openGraph = tournamentOpenGraph(tour).some) {
<div id="tournament" @tour.schedule.map { sched =>
  class="scheduled @sched.freq.name @sched.speed.name @sched.variant.key id_@tour.id"
  }></div>
@if(tour.isCreated) {
<div id="tournament_faq" class="none">
  @faq(tour.mode.rated.some, tour.system.some, tour.`private`.option(tour.id))
</div>
}
}
