@(tour: Tournament, verdicts: lila.tournament.Condition.All.WithVerdicts, streamers: Set[User.ID], shieldOwner: Option[lila.tournament.TournamentShield.OwnerId])(implicit ctx: Context)

<div class="side_box padded">
  <div class="game_infos" data-icon="@tour.perfType.map(_.iconChar)">
    <div class="header">
      @if(isGranted(_.TerminateTournament)) {
      <form class="terminate" method="post" action="@routes.Tournament.terminate(tour.id)" style="float: right;">
        <button data-icon="j" class="submit text fbt confirm" type="submit" title="Terminates the tournament immediately"></button>
      </form>
      }
      <span class="setup">
        @tour.clock.show •
        @if(tour.variant.exotic) {
        @game.variantLink(tour.variant, (if (tour.variant == chess.variant.KingOfTheHill) tour.variant.shortName else tour.variant.name), cssClass = "hint--top")
        } else {
        @tour.perfType.map(_.name)
        }
        @if(!tour.position.initial) {
        • @trans.thematic()
        } • @tour.durationString
      </span>
      @tour.mode.fold(trans.casualTournament, trans.ratedTournament)() •
      @systemName(tour.system).capitalize
      <a class="blue help" href="@routes.Tournament.help(tour.system.toString.toLowerCase.some)" data-icon=""></a>
    </div>
  </div>
  @tour.spotlight.map { s =>
  <div class="game_infos spotlight">
    @lila.common.String.html.markdownLinks(s.description)
    @shieldOwner.map { owner =>
    <p class="defender" data-icon="5">Defender:@userIdLink(owner.value.some)</p>
    }
  </div>
  }
  @if(verdicts.relevant) {
  <div class="game_infos conditions @if(ctx.isAuth) {
    @if(verdicts.accepted){accepted}else{refused}
    }" data-icon="7">
    @if(verdicts.list.size < 2) {
    <p>@trans.conditionOfEntry()</p>
    }
    @verdicts.list.map { v =>
    <p class="condition text @if(v.verdict.accepted){accepted}else{refused}">@v.condition.name(ctx.lang)</p>
    }
  </div>
  }
  @if(tour.noBerserk) { <div class="text" data-icon="`">No Berserk allowed</div> }
  @if(tour.createdBy == "lichess") {
  @trans.tournamentOfficial()
  } else {
  @trans.by(usernameOrId(tour.createdBy))
  }
  • @absClientDateTime(tour.startsAt)
  @if(!tour.position.initial) {
  <br /><br />
  <a target="_blank" href="@tour.position.url">
    <strong>@tour.position.eco</strong> @tour.position.name
  </a>
  }
  @tour.winnerId.map { userId =>
  <br /><br />
  @trans.winner(): @userIdLink(userId.some)
  }
</div>
@streamers.map { id =>
<a href="@routes.Streamer.show(id)" class="context-streamer text side_box" data-icon="">@usernameOrId(id) is streaming</a>
}
