@(tour: lila.tournament.Tournament)(implicit ctx: Context)

<div class="side_box padded">
  <div class="game_infos" data-icon="@tour.perfType.map(_.iconChar)">
    <div class="header">
      @setup(tour)
      @systemName(tour.system).capitalize
      (<a href="@routes.Tournament.help(tour.system.toString.toLowerCase.some)">?</a>)
    </div>
  </div>
  @if(tour.createdBy == "lichess") {
  Official
  } else {
  @trans.by(usernameOrId(tour.createdBy))
  }
  • @tour.schedule.map { s =>
  @momentFormat(s.at)
  }.getOrElse {
  @momentFormat(tour.createdAt)
  }
  @if(tour.position != chess.StartingPosition.initial) {
  <br /><br />
  <strong>@tour.position.eco</strong> @tour.position.name
  }
  @tour.winner.filter(_ => tour.isFinished).map { winner =>
  <br /><br />
  @trans.winner(): @userInfosLink(winner.id, none)
  }
</div>
