@(standing: lila.tournament.Standing)(implicit ctx: Context)

<table class="standing">
  <thead class="big_table_head">
    <tr>
      <th class="large" colspan="2">Standing</th>
      <th>Points</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Win Streak</th>
    </tr>
  </thead>
  <tbody>
    @standing.ranked.map {
    case (rank, player) => {
    <tr>
      <td><span class="rank">@rank</span></td>
      <td>
        <a class="username" href="@routes.User.show(player.username)">
          @userIdToUsername(player.username)
        </a>
      </td>
      <td><strong>@player.score</strong></td>
      <td>@player.nbWin</td>
      <td>@player.nbLoss</td>
      <td>
        @if(player.winStreak > 1) {
        @player.winStreak 
        }
      </td>
    </tr>
    }
    }
  </tbody>
</table>

