@(tour: lila.tournament.StartedOrFinished)(implicit ctx: Context)

<div class="standing_wrap">
  <table class="slist standing @if(tour.scheduled) { scheduled }">
    <thead>
      <tr>
        <th class="large">@trans.standing() (@tour.nbPlayers)</th>
        <th class="legend">
          <span class="streakstarter">Streak starter</span>
          <span class="double">Double points</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @tour.rankedPlayers.map {
      case (rank, player) => {
      @defining((
      if(tour.isFinished && rank == 1) "winner" else if (player.withdraw) "withdraw" else "",
      tour scoreSheet player
      )) {
      case (flag, scoreSheet) => {
      <tr>
        <td>
          @if(player.withdraw) {
          <span data-icon="b" title="@trans.withdraw()"></span>
          } else {
          @if(tour.isFinished && rank == 1) {
          <span data-icon="g" title="@trans.winner()"></span>
          } else {
          <span class="rank">@rank</span>
          }
          }
          @userInfosLink(player.username, none, withOnline = false)
        </td>
        <td class="sheet">
          @scoreSheet.scores.take(20).reverse.map { score =>
          <span class="@score.flag.toString.toLowerCase">@score.value</span>
          }
        </td>
        <td class="total">
          <strong@if(scoreSheet.onFire) { class="is-gold" data-icon="Q" }>@scoreSheet.total</strong>
        </td>
      </tr>
      <tr><td class="around-bar" colspan="3"><div class="bar" data-value="@scoreSheet.total"></div></td></tr>
      }
      }
      }
      }
    </tbody>
  </table>
</div>
