@(field: play.api.data.Field)(implicit ctx: Context)

<select id="@form3.id(field)" name="@field.name" class="form-control">
  @defining(chess.StartingPosition.initial) { v =>
  <option value="@v.fen" @(if(field.value == Some(v.fen)) "selected" else "")>@v.name</option>
  }
  @chess.StartingPosition.categories.map { categ =>
  <optgroup label="@categ.name">
    @categ.positions.map { v =>
    <option value="@v.fen" @(if(field.value == Some(v.fen)) "selected" else "")>@v.fullName</option>
    }
  </optgroup>
  }
</select>
