@(tours: List[lila.tournament.Tournament], name: String, cssClass: String = "", moreTr: Html = Html(""), showEmpty: Boolean = false)(implicit ctx: Context)

@if(showEmpty || tours.nonEmpty) {
<thead>
  <tr>
    <th class="large">@name</th>
    <th>@trans.timeControl()</th>
    <th>@trans.duration()</th>
    <th colspan="2">@trans.players()</th>
  </tr>
</thead>
<tbody class="@cssClass">
  @tours.map { tour =>
  <tr>
    <td>@linkTo(tour)</td>
    <td>@tour.clock.show</td>
    <td>@{tour.minutes}m</td>
    <td>@tour.nbPlayers/@tour.minPlayers</td>
    <td>
      @if(tour contains ctx.me) {
      <span class="label">JOINED</span>
      }
    </td>
  </tr>
  }
  @moreTr
</tbody>
}
