.tv-channel {
  @include padding-direction(0.4rem, 0.8rem, 0.4rem, 0, true);

  > span {
    @extend %flex-center-nowrap;

    width: 100%;
    justify-content: flex-end;

    &::before {
      order: 2;
      color: $m-brag_bg-page--mix-60;
      font-size: 2.5em;
      margin-inline-start: 0.8rem;
    }

    > span {
      text-align: end;

      strong {
        display: block;
        text-transform: uppercase;
      }
    }
  }

  .champion {
    font-size: 0.9em;
    white-space: nowrap;
    display: block;
  }

  &.active > span::before {
    color: $c-accent;
  }
}

@include mq-subnav-top {
  .round__side {
    overflow: hidden;
  }
  .subnav strong {
    letter-spacing: -1px;
  }
}

.game__meta {
  margin-bottom: $block-gap;
}

body.no-rating rating {
  display: none;
}
