@(title: String)(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/monitor.css")" />
    <link rel="apple-touch-icon-precomposed" href="@routes.Assets.at("images/icon.png")"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@routes.Assets.at("images/icon.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@routes.Assets.at("images/icon@2x.png")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")" />
    <script src="@routes.Assets.at("vendor/zanimo.min.js")" type="text/javascript"></script>
  </head>
  <body>
    @content
  </body>
  @jsTag("deps.min.js")
  @jsTag("socket.js")
  @jsTag("ctrl.js")
</html>
