@()
<!DOCTYPE html>
<html>
  <head>
    <title>Lichess Monitor</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="shortcut icon" href="@routes.Assets.at("favicon.ico")" type="image/x-icon" />
    @cssTag("monitor.css")
  </head>
  <body>
    <a class="back" href="@routes.Lobby.home">&lt; back to lichess</a>
    <h1>Lichess reactor <span class="down">DOWN</span><span class="up">OPERATIONAL</span></h1>
    <div id="monitors" class="clearfix">
    </div>
    <div id="actions">
      <a href="#" id="shutdown">Emergency reactor shutdown - DON'T CLICK</a>
    </div>
    <script>
      window.document.getElementById("shutdown").onclick = function() {
        alert("Was worth trying. I guess.");
      };
    </script>
  </body>
  @jQueryTag
  @jsTag("deps.min.js")
  @highchartsTag
  @jsAt("vendor/highcharts4/themes/gray.js")
  @jsTag("monitor2.js")
</html>
