@(structure: lidraughts.practice.PracticeStructure, form: Form[_])(implicit ctx: Context)

@mod.layout(
title = "Practice structure",
active = "practice",
moreCss = cssTag("mod-practice.css")) {
<div class="content_box practice_config">
  @* <h1 data-icon="" class="text lidraughts_title"><a href="@routes.Practice.index">Practice</a> config</h1> *@
  <div class="both">
    @* <form action="@routes.Practice.configSave" method="POST">
      <textarea class="practice_text" name="text">@form("text").value</textarea>
      @errMsg(form("text"))
      <button type="submit" class="button text" data-icon="E">Save</button>
    </form> *@
    <div class="preview">
      <ol>
        @structure.sections.map { section =>
        <li>
          <h2>@section.name (#@section.id)</h2>
          <ol>
            @section.studies.map { stud =>
            <li>
              <i class="practice icon @stud.id"></i>
              <h3><a href="@routes.Study.show(stud.id.value)">@stud.name (#@stud.id)</a></h3>
              <em>@stud.desc</em>
              <ol>
                @stud.chapters.map { cha =>
                <li>
                  <a href="@routes.Study.chapter(stud.id.value, cha.id.value)">@cha.name</a>
                </li>
                }
              </ol>
            </li>
            }
          </ol>
        </li>
        }
      </ol>
    </div>
  </div>
</div>
}
