@(structure: lila.practice.PracticeStructure, form: Form[_])(implicit ctx: Context)

@base.layout(
title = "Practice structure",
moreCss = responsiveCssTag("mod.misc"),
responsive = true) {
<main class="page-menu">
  @mod.menu.nav("practice").toHtml
  <div class="practice_config page-menu__content box box-pad">
    <h1 data-icon="" class="text lichess_title"><a href="@routes.Practice.index">Practice</a> config</h1>
    <div class="both">
      <form action="@routes.Practice.configSave" method="POST">
        <textarea class="practice_text" name="text">@form("text").value</textarea>
        @errMsg(form("text"))
        <button type="submit" class="button button-fat text" data-icon="E">Save</button>
      </form>
      <div class="preview">
        <ol>
          @structure.sections.map { section =>
          <li>
            <h2>@section.name (#@section.id)</h2>
            <ol>
              @section.studies.map { stud =>
              <li>
                <i class="practice icon @stud.id"></i>
                <h3><a href="@routes.Study.show(stud.id.value)">@stud.name (#@stud.id)</a></h3>
                <em>@stud.desc</em>
                <ol>
                  @stud.chapters.map { cha =>
                  <li>
                    <a href="@routes.Study.chapter(stud.id.value, cha.id.value)">@cha.name</a>
                  </li>
                  }
                </ol>
              </li>
              }
            </ol>
          </li>
          }
        </ol>
      </div>
    </div>
  </div>
</main>
}.toHtml
