@(data: lila.practice.UserPractice)(implicit ctx: Context)

@side = {
<div id="practice_side" class="side_box">
  <div class="home">
    <i class="fat"></i>
    <h1>Practice</h1>
    <h2>makes your chess perfect</h2>
    <div class="progress">
      <div class="text">Progress: @data.progressPercent%</div>
      <div class="bar" style="width: @data.progressPercent%"></div>
    </div>
    <form id="practice_reset" class="actions" action="@routes.Practice.reset" method="post">
      @if(ctx.isAuth) {
      @if(data.nbDoneChapters > 0) {
      <a class="do-reset">Reset my progress</a>
      }
      } else {
      <a href="@routes.Auth.signup">Sign up to save your progress</a>
      }
    </form>
  </div>
</div>
}

@ribbon(prog: lila.practice.Completion) = {
<span class="ribbon-wrapper">
  <span class="ribbon">@prog.done / @prog.total</span>
</span>
}

@moreJs = {
@embedJs {
$('#practice_reset .do-reset').on('click', function() {
if (confirm('You will lose your practice progress!')) this.parentNode.submit();
});
}
}

@base.layout(
title = "Practice chess positions",
side = side.some,
moreCss = cssTag("practice.css"),
moreJs = moreJs,
openGraph = lila.app.ui.OpenGraph(
title = "Practice your chess",
description = "Learn how to master the most common chess positions",
url = s"$netBaseUrl${routes.Practice.index}"
).some) {
<div id="practice_app">
  <div class="sections">
    @data.structure.sections.map { section =>
    <div class="section">
      <h2>@section.name</h2>
      <div class="studies">
        @section.studies.map { stud =>
        @defining(data.progressOn(stud.id)) { prog =>
        <a class="study @if(prog.complete) {done} else {ongoing}" href="@routes.Practice.show(section.id, stud.slug, stud.id.value)">
          @if(ctx.isAuth) { @ribbon(prog) }
          <i class="practice icon @stud.id"></i>
          <span class="text">
            <h3>@stud.name</h3>
            <em>@stud.desc</em>
          </span>
        </a>
        }
        }
      </div>
    </div>
    }
  </div>
</div>
}.toHtml
