@(data: lila.practice.UserPractice)(implicit ctx: Context)

@moreJs = {
}

@side = {
<div id="learn_side" class="side_box learn_box">
</div>
}

@ribbon(prog: lila.practice.UserPractice.Progress) = {
<span class="ribbon-wrapper">
  <span class="ribbon @if(prog.complete) {done} else {ongoing}">@prog.done / @prog.total</span>
</span>
}

@base.layout(
title = "Practice chess positions",
side = side.some,
moreJs = moreJs,
moreCss = cssTag("practice.css"),
openGraph = lila.app.ui.OpenGraph(
title = "Practice your chess",
description = "Learn how to master the most common chess positions",
url = s"$netBaseUrl${routes.Practice.index}"
).some) {
<div id="practice_app">
  <div class="sections">
    @data.structure.sections.map { section =>
    <div class="section">
      <h2>@section.name</h2>
      <div class="studies">
        @section.studies.map { stud =>
        <a class="study ongoing" href="@routes.Study.show(stud.id.value)">
          @ribbon(data.progressOn(stud.id))
          <i class="practice icon @stud.id"></i>
          <span class="text">
            <h3>@stud.name</h3>
            <em>@stud.desc</em>
          </span>
        </a>
        }
      </div>
    </div>
    }
  </div>
</div>
}
