@(us: lila.practice.UserStudy, data: lila.practice.JsonView.JsData)(implicit ctx: Context)

@moreCss = {
@cssTag("analyse.css")
@cssTag("study.css")
@cssTag("practice.css")
}

@moreJs = {
@jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.practice = {
practice: @safeJsonHtml(data.practice),
study: @safeJsonHtml(data.study),
data: @safeJsonHtml(data.analysis),
i18n: @board.userAnalysisI18n(),
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
}
};
}
}

@side = {
<div class="side_box study_box"></div>
}

@base.layout(
title = us.practiceStudy.name,
side = side.some,
underchat = none,
moreCss = moreCss,
moreJs = moreJs,
chessground = false,
zoomable = true) {
<div class="analyse cg-512">@miniBoardContent</div>
}.toHtml
