@()(implicit ctx: Context)

@thead(html: Html) = {
<thead>
  <tr>
    <th>@html</th>
    <th>Free account</th>
    <th>Lichess Patron</th>
  </tr>
</thead>
}

@unlimited = {
<span data-icon="E" class="is is-green text unlimited">Unlimited</span>
}
@check = {
<span data-icon="E" class="is is-green text check">Yes</span>
}

@all(html: Html) = {
<td>@html</td>
<td>@html</td>
}

@tr(value: Html)(text: Html) = {
<tr>
  <th>@text</th>
  @all(value)
</tr>
}

@title = @{"Lichess features"}

@side = {
<div class="features_side">
  <h2>Free chess for everyone, forever!</h2>
  <a href="@routes.Plan.index" class="button">Support lichess</a>
</div>
}

@base.layout(
title = title,
side = side.some,
moreCss = cssTag("features.css"),
openGraph = lila.app.ui.OpenGraph(
title = title,
url = s"$netBaseUrl${routes.Plan.features.url}",
description = "All of lichess features are free for all and forever. We do it for chess!").some) {

<div class="content_box features">
  <table>
    @thead {
    <h1 data-icon="">Website</h1>
    }
    <tbody>
      @tr(unlimited) {
      Play and create <a href="@routes.Tournament.home(1)">tournaments</a>
      }
      @tr(unlimited) {
      Play and create <a href="@routes.Simul.home">simultaneous exhibitions</a>
      }
      @tr(unlimited) {
      Correspondence chess with conditional premoves
      }
      @tr(check) {
      <a href="@routes.Page.variantHome">9 Chess variants (Crazyhouse, Chess960, Horde, ...)</a>
      }
      @tr(unlimited) {
      Deep Stockfish 8 server analysis
      }
      @tr(check) {
      Instant local Stockfish 8 analysis
      }
      @tr(unlimited) {
      <a href="http://en.lichess.org/blog/V0KrLSkAAMo3hsi4/study-chess-the-lichess-way">Studies (shared and persistent analysis)</a>
      }
      @tr(unlimited) {
      <a href="http://en.lichess.org/blog/VmZbaigAABACtXQC/chess-insights">Chess insights (detailed analysis of your play)</a>
      }
      @tr(check) {
      <a href="@routes.Learn.index">All chess basics lessons</a>
      }
      @tr(unlimited) {
      <a href="@routes.Puzzle.home">Tactics puzzles from user games</a>
      }
      @tr(unlimited) {
      <a href="@routes.Opening.home">Opening training</a>
      &amp; <a href="@routes.Coordinate.home">coordinate training</a>
      }
      @tr(unlimited) {
      <a href="@routes.UserAnalysis.index#opening">Opening explorer</a> (16 million games!)
      }
      @tr(unlimited) {
      6 men endgame tablebase
      }
      @tr(check) {
      Download/Upload any game as PGN
      }
      @tr(unlimited) {
      <a href="@routes.Search.index(1)">Advanced search</a> through lichess 240 million games
      }
      @tr(unlimited) {
      <a href="@routes.Video.index">Chess video library</a>
      }
      @tr(check) {
      Forum, teams, messaging, friends, challenges
      }
      @tr(check) {
      Available in 80+ languages
      }
      @tr(check) {
      Light/dark theme, custom boards, pieces and background
      }
      @tr(check) {
      Zero ads
      }
      @tr(unlimited) {
      <strong>All features to come, forever</strong>
      }
    </tbody>
    @thead {
    <h1 data-icon="">Mobile</h1>
    }
    <tbody>
      @tr(unlimited) {
      Online and offline games, with 8 variants
      }
      @tr(unlimited) {
      Bullet, Blitz, Classical and Correspondence chess
      }
      @tr(unlimited) {
      <a href="@routes.Tournament.home(1)">Arena tournaments</a>
      }
      @tr(check) {
      Board editor and analysis board with Stockfish 8
      }
      @tr(unlimited) {
      <a href="@routes.Puzzle.home">Tactics puzzles</a>
      }
      @tr(check) {
      Available in 80+ languages
      }
      @tr(check) {
      Light and dark theme, custom boards and pieces
      }
      @tr(check) {
      iPhone &amp; Android phones and tablets, landscape support
      }
      @tr(check) {
      Zero ads
      }
      @tr(unlimited) {
      <strong>All features to come, forever</strong>
      }
    </tbody>
    @thead {
    <h1>Support lichess</h1>
    }
    <tbody class="support">
      <tr>
        <th>Contribute to lichess.org and<br />get a cool looking Patron icon</th>
        <td>-</td>
        <td><span data-icon="@patronIconChar" class="is is-green text check">Yes</span></td>
      </tr>
      <tr class="price">
        <th></th>
        <td class="green">$0</td>
        <td><a href="@routes.Plan.index" class="green button">$5/month</a></td>
      </tr>
    </tbody>
  </table>
  <p class="explanation">
    <strong>Yes, both accounts have the same features!</strong>
    <br />
    That is because lichess is built for the love of chess.<br />
    We believe every chess player deserves the best, and so:
    <br /><br />
    <strong>all features are free for everybody, forever!</strong>
    <br />
    If you love lichess, <a class="button" href="@routes.Plan.index">support us with a Patron account!</a>
  </p>
</div>
}
