@(me: User, patron: lila.plan.Patron, info: lila.plan.CustomerInfo)(implicit ctx: Context)

@site.layout(
title = "Thank you for your support!",
moreCss = cssTag("plan.css"),
moreJs = jsTag("plan.js")) {

<div class="content_box plan">
  <h1>@userLink(me) • lichess patron for @pluralize("month", me.plan.months)</h1>
  <table class="all">
    <tbody>
      <tr>
        <th>Current status</th>
        <td>
          You support lichess.org with <strong>@info.currentPlan.usd per month</strong>.
          <span class="thanks">Thank you very much for your help. You rock!</span>
        </td>
      </tr>
      <tr>
        <th>Next payment</th>
        <td>You will be charged <strong>@info.nextInvoice.usd</strong> on @showDate(info.nextInvoice.dateTime).</td>
      </th>
      <tr>
        <th>Update</th>
        <td class="change">
          <a data-form="switch">Change the amount</a> or <a data-form="cancel">cancel your support</a>
          <form class="switch" action="@routes.Plan.switch" method="POST">
            <p>Decide what lichess is worth to you:</p>
            USD $ <input type="number" min=1 max=100000 step="0.01" name="usd" value="@info.currentPlan.usd.value" />
            <button type="submit" class="button">@trans.apply()</button>
            <a data-form="switch">Nevermind</a>
          </form>
          <form class="cancel" action="@routes.Plan.cancel" method="POST">
            <p>Withdraw your credit card and stop payments:</p>
            <button type="submit" class="button">No longer support lichess</button>
            <a data-form="cancel">Nevermind :)</a>
          </form>
        </td>
      </th>
      <tr>
        <th>Payment history</th>
        <td>
          <table class="slist payments">
            <thead>
              <tr>
                <th></th>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <!-- <th>Receipt</th> -->
              </tr>
            </thead>
            <tbody>
              @info.pastInvoices.map { in =>
              <tr>
                <td>@if(in.paid){<span data-icon="E" class="is-green text">Paid</span>}</td>
                <td class="id">@in.id</td>
                <td>@showDate(in.dateTime)</td>
                <td>@in.usd</td>
                <!-- <td><a href="#">Receipt</a></td> -->
              </tr>
              }
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
}
