@(stripePublicKey: String, myEmail: Option[String])(implicit ctx: Context)

@title = @{"Become a lichess hero"}

@moreJs = {
<script src="https://checkout.stripe.com/checkout.js"></script>
@jsTag("checkout.js")
@embedJs {
lichess.checkout("@stripePublicKey");
}
}

@site.layout(
title = title,
moreCss = cssTag("plan.css"),
moreJs = moreJs,
openGraph = lila.app.ui.OpenGraph(
title = title,
url = s"$netBaseUrl${routes.Plan.index.url}",
description = "All of lichess features are free for all and forever. We do it for chess!").some) {

<div class="content_box plan">
  <h1>@title</h1>
  <p>Your plan: @ctx.me.flatMap(_.plan).getOrElse("none")</p>
  @ctx.me.map { me =>
  <form class="checkout_form none" action="@routes.Plan.charge" method="POST">
    <input type="hidden" class="token" name="token" />
    <input type="hidden" class="amount" name="amount" />
  </form>
  <div class="checkout_buttons">
    @lila.stripe.LichessPlan.all.map { p =>
    <button class="button checkout @p.id"
      data-description="$@p.usd/month"
      data-amount="@p.cents.value"
      data-panel-label="Subscribe {{amount}}"
      data-email="@myEmail"
      >$@p.usd</button>
    }
  </div>
  }
</div>
}
