@()(implicit ctx: Context)

@payPalVars = {
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="custom" value="@ctx.userId">
}

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  @payPalVars
  <input type="hidden" name="hosted_button_id" value="JBSUYNPRCMT9U">
  <button type="submit" class="button">$5</button>
</form>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  @payPalVars
  <input type="hidden" name="hosted_button_id" value="ZZ96PGW3UNRPQ">
  <button type="submit" class="button">$10</button>
</form>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  @payPalVars
  <input type="hidden" name="hosted_button_id" value="VTKN4LNQZ2FNL">
  <button type="submit" class="button">$20</button>
</form>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  @payPalVars
  <input type="hidden" name="hosted_button_id" value="XXYXZXY7GJQYJ">
  <button type="submit" class="button">$50</button>
</form>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  @payPalVars
  <input type="hidden" name="hosted_button_id" value="EDV5QHA9HYGJS">
  <button type="submit" class="button">Other</button>
</form>
