$c-study-button: $c-accent;

.study__buttons {
  @extend %flex-between;
  border-bottom: 2px solid $c-border;
  span {
    font-size: 1.15em;
  }
  .left-buttons {
    flex: 0 0 auto;
    justify-content: flex-start;
    border-bottom: 0;
  }
  .behind {
    background: $c-bad;
    color: $c-bad-over;
    padding: 0 5px;
    border-radius: 9px;
    margin-right: 4px;
  }
  .mode {
    @extend %flex-center-nowrap, %box-radius-top;
    align-self: stretch;
    color: $c-font;
    padding: 0 .4em;
    opacity: .8;
    i::before {
      font-size: 1.4em;
      content: 'L';
      color: $c-bad;
      margin-right: .2rem;
    }
    &.on i::before {
      content: 'E';
      color: $c-good;
    }
    &:hover {
      background: $c-bg-zebra;
      opacity: 1;
    }
  }
  .glyphs {
    padding-bottom: .35em;
  }
  .glyph-icon::before {
    content: '⁉';
    font-size: 1.2em;
  }
}
