$c-study-button: $c-accent;

.study__buttons {
  @extend %flex-between;

  span {
    font-size: 1.15em;
    min-width: 0;
    overflow: visible;
  }

  .left-buttons {
    flex: 9 1 auto;
    justify-content: flex-start;
    border-bottom: 0;
  }

  .right {
    flex: 1 9 10%;
  }

  .behind {
    background: $c-bad;
    color: $c-over;
    padding: 0 5px;
    border-radius: 9px;
    margin-inline-end: 4px;
  }

  .mode {
    @extend %flex-center-nowrap, %box-radius-top, %page-text;

    align-self: stretch;
    padding: 0 0.4em;
    opacity: 0.8;

    i::before {
      font-size: 1.4em;
      content: $licon-X;
      color: $c-bad;
      margin-inline-end: 0.2rem;
    }

    &.on i::before {
      content: $licon-Checkmark;
      color: $c-good;
    }

    &:hover {
      background: $c-bg-zebra;
      opacity: 1;
    }
  }
}

/* reused by context menu */
.glyph-icon::before {
  content: '⁉';
  font-size: 1.2em;
}
