$span-width: 1.7em;

.study__chapters {
  @extend %study-list, %study-list-ongoing;

  h3 {
    @extend %break-word;

    flex: 1 1 100%;
    font-size: 1em;
    line-height: 1;
    margin: 0.5em 0;
    align-self: center;
    unicode-bidi: plaintext;
  }

  .study-list > button,
  > button {
    @extend %button-none;
    width: 100%;

    &.active,
    &:active {
      opacity: 1;
      color: $c-primary;
    }

    > span {
      @extend %flex-center;

      flex: 0 0 $span-width;
      justify-content: center;
      color: $c-link;
      font-weight: bold;
      height: auto;
      margin-inline-end: 0.4em;
      opacity: 0.8;
    }

    res {
      @extend %flex-center;
      align-self: center;
      font-size: 0.9em;
      white-space: nowrap;
      margin-inline-end: 0.7rem;
    }
  }

  .sortable-ghost {
    &,
    span {
      background: $c-secondary !important;
      color: $c-over !important;
    }
  }
}
