.study-create {
  form h2 {
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  button.new {
    margin: 1.5em auto;
    display: block;
    font-size: 2em;
  }

  .studies {
    display: flex;
    flex-flow: row nowrap;

    > div {
      flex: 0 1 50%;
      overflow: hidden;

      &:last-child {
        margin-inline-start: 20px;
      }
    }

    button {
      width: 100%;
      text-align: left;
      overflow: hidden;
      margin-bottom: 3px;
      text-transform: none;
      background: $m-primary_black--mix-70;
    }
  }
}
