.study-desc {
  @extend %box-neat;

  background: $c-bg-box;
  padding: 0.7em 1em;
  margin-top: 0.5em;
  position: relative;

  &.empty {
    text-align: center;

    .button {
      display: inline-block;
      margin: 2em auto;
    }
  }

  .contrib {
    @extend %popup-shadow;

    position: absolute;
    top: 0;
    right: 0;
    background: mix($c-accent, $c-bg-box, 10%);
    padding: 0.5em 0.8em;
    display: none;
    z-index: 1;
  }

  &:hover .contrib {
    display: block;
  }

  .contrib a {
    margin-left: 8px;
  }

  .embed {
    @extend %video;

    width: calc(100% + 2em);
    margin: -0.7em -1em;
  }
}

.study-desc-form {
  .title {
    @extend %flex-between;

    width: 100%;
  }

  textarea {
    width: 100%;
    height: 12em;
  }
}
