@import 'list-widget';

.study-index {
  .box__top {
    @extend %flex-center;
    .search {
      flex: 1 1 auto;
      display: flex;
    }
    .search input {
      flex: 1 1 100%;
      font-size: 1.2em;
    }
    .search .submit {
      padding: 0 30px;
      border-radius: 0 3px 3px 0;
      border-left: 0;
    }
    .search .submit::before {
      opacity: 0.7;
    }
    .search .submit:hover::before {
      opacity: 1;
    }
    .mselect {
      margin: 0 1em;
      font-size: 1.2em;
      &__label::after {
        margin-left: .6em;
      }
    }
    .new_study,
    .orders {
      white-space: nowrap;
      margin-right: 10px;
    }
    .new_study .button i::before {
      color: #759900;
      font-size: 40px;
    }
  }
  .list {
    border-top: $border;
  }
  .nostudies {
    text-align: center;
    margin: 40px 0 80px;
    font-size: 2em;
    p {
      opacity: 0.6;
    }
    i {
      display: block;
      font-size: 180px;
      opacity: 0.4;
    }
    form {
      margin-top: 20px;
    }
  }
  #infscr-loading {
    width: 100%;
  }
}
