.study__invite {
  max-width: 50em;
  overflow: visible !important;

  .info {
    @extend %box-radius, %flex-center-nowrap;

    background: $c-accent;
    color: $c-over;
    padding: 1em;
    margin-bottom: 2em;
    text-align: left;

    &::before {
      font-size: 3.6em;
      margin-inline-end: 1rem;
    }
  }

  .users {
    @extend %flex-between;

    max-width: 100ch;
    margin-top: 2em;

    .button {
      @extend %ellipsis;

      flex: 0 0 48%;
      margin-bottom: 0.7em;
      text-transform: none;
    }

    overflow-y: auto;
    max-height: 30vh;
  }

  .input-wrapper {
    // for user complete
    overflow: visible !important;
    position: relative;
    display: inline-block;
  }
}
