.analyse__underboard {
  margin-top: calc($analyse-block-gap / 2);
}

.analyse .keyboard-move {
  margin-top: calc($analyse-block-gap * 2);
  margin-bottom: calc($analyse-block-gap * -1);
}

@include mq-at-least-col3 {
  .analyse {
    grid-template-areas:
      'side    . board   gauge tools'
      'side    . board   gauge tools'
      'side   . kb-move .     controls'
      'side   . under   .     controls'
      'side   . under   .     round-training';

    .vertical-resize {
      display: flex;
    }
    .mchat {
      margin-top: 0;
      min-height: 34px;
    }
  }
}
