$c-study: $c-primary;
.studies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  .study {
    border: $border;
    border-width: 0 1px 1px 0;
    padding: 1em .6em 1em 1.3em;
    position: relative;
    @include transition();
    &:hover {
      background: mix($c-study, $c-bg-box, 10%);
    }
    .overlay {
      @extend %link-overlay;
    }
    .body {
      display: flex;
      font-size: .9em;
    }
    .chapters {
      flex: 0 0 58%;
      max-width: 58%;
    }
    .members {
      flex: 0 0 40%;
      max-width: 40%;
      margin-left: 2%;
    }
    li {
      @extend %nowrap-hidden;
      color: $c-font-dim;
      text-overflow: ellipsis;
      &::before {
        color: $c-font-dimmer;
      }
    }
    .top {
      @extend %roboto;
      font-weight: normal;
      display: block;
      position: relative;
      height: 60px;
      padding-left: 54px;
      .study-name {
        @extend %nowrap-hidden;
        font-size: 1.5em;
        font-weight: normal;
        color: $c-study;
        display: block;
        margin: 0;
        text-overflow: ellipsis;
      }
      span {
        font-size: .9rem;
        display: block;
        color: $c-font-dim;
      }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
      }
      .icon::before {
        color: $c-study;
        font-size: 38px;
        line-height: 45px;
        opacity: .8;
      }
    }
  }
}
