.dialog-content {
  min-width: 80vw;

  @media (min-width: at-least($x-small)) {
    min-width: 500px;
  }

  .form3 {
    text-align: left;

    .editor {
      margin: -30px 0 30px 0;

      .spinner {
        padding-top: 80px;
      }
    }
  }

  h2 {
    margin-bottom: 0.5em;

    i {
      font-size: 0.6em;

      &,
      &::before {
        vertical-align: top;
      }

      margin-inline-start: 1rem;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
        color: $c-primary;
      }
    }
  }

  .destructive {
    text-align: left;
    font-size: 0.9em;

    form {
      display: inline-block;
    }

    button {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .form-actions-secondary {
    margin-bottom: -1rem;

    a {
      padding: 0.8em 1em;
      display: inline-block;
    }
  }

  &.chapter-new {
    .tabs-horiz {
      margin: -1em 0 1.6em 0;
    }
    .import-from__chapter {
      @extend %break-word-hard, %ellipsis;
      max-width: 100%;
    }
    .preview-in-editor {
      float: right;
      margin-top: 0.2em;
    }
  }

  &.study-edit .flair-and-name {
    gap: 4%;
    .form-group:last-child {
      flex: 1 1 auto;
    }
    .uflair {
      margin: 0;
      font-size: 1.3em;
    }
  }
}
