.study__metadata {
  @extend %box-neat;
  background: $c-bg-box;
  text-align: left;
  h2 {
    @extend %metal, %flex-between;
    font-size: 1.3em;
    padding: .8rem 1rem;
    white-space: nowrap;
    border-bottom: $border;
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .liking {
      margin-left: 1rem;
      font-weight: bold;
      cursor: pointer;
      opacity: 0.7;
      transition: 0.3s;
    }
    .liking:hover {
      opacity: 1;
      color: #dc322f!important;
    }
  }
}

.study__tags {
  border: none;
  th {
    font-weight: bold;
    color: $c-font-dim;
    width: 1px;
    padding: 0 .3em 0 1em!important;
  }
  td {
    padding: 0;
  }
  input,
  span {
    display: block;
    padding: .6em 1em .6em .7em;
    line-height: 1.7;
  }
  input {
    border: none;
    background: none;
    width: 100%;
  }
  input:hover,
  input:focus {
    background: mix($c-primary, $c-bg-box, 10%);
  }
  select {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
  }
}

.study__comments {
  form p {
    margin: 1em 0;
  }
  #comment-text {
    @extend %box-shadow;
    height: 12em;
  }
}
.study__comment {
  @extend %box-neat;
  background: $c-bg-box;
  padding: .8em 1em;
  margin-bottom: .8em;
  .text {
    @extend %break-word;
    margin-top: .3em;
    width: 100%;
    overflow: hidden;
    display: inline-block;
  }
  .edit {
    float: right;
    margin-left: 8px;
    opacity: 0.7;
    display: none;
  }
  &:hover .edit {
    display: block;
  }
  .edit:hover {
    opacity: 1;
  }
  .user-link,
  .node {
    font-weight: bold;
  }
}

.study__glyphs {
  @extend %box-neat, %flex-center;
  background: $c-bg-box;
  white-space: nowrap;
  user-select: none;
  > div {
    flex: 1 0 30%;
  }
  a {
    @extend %flex-center;
    @include transition();
    color: $c-font;
    height: 2.3em;
    line-height: 2.3em;
    align-items: stretch;
    &::before {
      @extend %flex-center;
      justify-content: center;
      content: attr(data-symbol);
      font-size: 1.2em;
      font-weight: bold;
      width: 2em;
      background: $c-bg-low;
      margin-right: .5em;
      @include transition();
    }
    &:hover,
    &.active {
      background: $c-bg-zebra;
      color: $c-secondary;
    }
    &:hover::before {
      background: $c-bg-zebra;
    }
    &.active::before {
      background: $c-secondary;
      color: $c-secondary-over;
    }
  }
}
