@import '../../../common/css/component/material';

$player-height: 1.6rem;

.analyse.has-players {
  .main-board cg-board {
    border-radius: 0;
  }

  @include mq-at-least-col2 {
    .analyse__underboard {
      margin-top: calc(#{$player-height / 2} + #{$analyse-block-gap} / 2);
    }
  }

  @include mq-is-col1 {
    .analyse__controls {
      margin-top: $player-height;
    }
  }
}

.study__player {
  @extend %flex-between-nowrap, %metal, %box-shadow;

  position: absolute;
  @include inline-end(0);
  font-weight: bold;
  width: var(---cg-width, 100%);
  height: $player-height;
  white-space: nowrap;

  &-top {
    @extend %box-radius-top;

    top: #{-$player-height};

    .is3d & {
      @extend %box-radius;

      top: calc(#{-$player-height} - var(---cg-width) / 20);
    }
  }

  &-bot {
    @extend %box-radius-bottom;

    top: var(---cg-height, 100%);
  }

  .left {
    flex: 1 1 100%;
    display: flex;
    overflow: hidden;
  }

  .result {
    flex: 0 0 auto;
    margin-inline-start: 0.8em;
    padding-inline-end: 0.8em;
    border-inline-end: $border;
  }

  .analyse__clock {
    @extend %roboto, %flex-center-nowrap;

    height: 100%;
    font-size: 1.2em;
    @include padding-direction(0, 0.8em, 0, 0.4em);

    border-radius: 0 4px 0 0;
    box-shadow: none;
  }

  &-bot .analyse__clock {
    border-radius: 0 0 4px 0;
  }

  &.ticking .analyse__clock {
    background: $c-secondary;
    color: $c-over;
    text-shadow: none;
  }

  .info {
    @extend %flex-center-nowrap;
    margin-inline-start: 10px;
    overflow: hidden;

    .team,
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: fit-content;
      flex: 1;
    }
    a.name {
      color: $c-font;
      &:hover {
        color: $c-link;
      }
    }
  }

  .name {
    margin-inline-start: 0.5ch;
    flex: 3;
  }
  .team {
    @extend %roboto;
    margin-inline-end: 1ch;
    padding: 0 1ch;
    flex: 2;
    color: $c-font-dim;
  }
  .mini-game__flag {
    height: 1em;
    margin-inline-end: 1ch;
    margin-top: unset;
  }

  .elo {
    margin-inline-start: 0.5em;
    font-weight: normal;
  }
}

.material {
  padding: 0 6px;

  mpiece {
    width: 20px;
    height: 20px;

    &.pawn {
      margin-inline-start: -10px;
    }
  }

  score {
    color: #777;
  }
}

.material-top {
  margin-top: 0.2em;
}

.material-bottom {
  margin-top: 0.15em;
}
