.study-topics {
  h2 {
    margin: 1em 0;
  }
}

.topic-list {
  @extend %flex-wrap;

  line-height: 2em;

  a {
    @extend %box-radius;

    background: color-mix($c-primary 12%, $c-bg);
    padding: 0.2em 0.6em;
    margin: 0.2em;
    white-space: nowrap;

    &:hover {
      background: color-mix($c-primary 15%, $c-bg);
    }
  }

  .box__pad & {
    margin-bottom: 2em;
  }
}
