#blind_mode {
  margin-left: -99999px;
  height: 0;
  body.blind_mode & {
    text-align: center;
    padding: 5px 0;
    background: #888;
    margin-left: 0;
    height: auto;
  }
}
body.blind_mode .is::before,
body.blind_mode .is::after,
body.blind_mode [data-icon]::before {
  content: none;
  display: none;
  visibility: hidden;
}
