@(u: User, data: lila.tournament.LeaderboardApi.ChartData)(implicit ctx: Context)

@bits.layout(u,
title = s"${u.username} tournaments",
path = "chart") {
<div class="tournament-stats">
  <h1>@userLink(u, withOnline = true) tournaments stats</h1>
  <p class="box__pad">
    The rank avg is a percentage of your ranking. Lower is better.<br />
    For instance, being ranked 3 in a tournament of 100 players = 3%.
    Being ranked 10 in a tournament of 1000 players = 1%.
  </p>
  <p class="box__pad">
    All averages on this page are <a href="http://dictionary.reference.com/help/faq/language/d72.html">medians</a>.
  </p>
  <table class="slist slist-pad perf-results">
    <thead>
      <tr>
        <th></th>
        <th>Tournaments</th>
        <th>Points avg</th>
        <th>Points sum</th>
        <th>Rank avg</th>
      </tr>
    </thead>
    <tbody>
      @data.perfResults.map {
      case (pt, res) => {
      <tr>
        <th><span data-icon="@pt.iconChar" class="text">@pt.name</span></th>
        <td>@res.nb.localize</td>
        <td>@res.points.median.map(_.toInt)</td>
        <td>@res.points.sum.localize</td>
        <td>@res.rankPercentMedian%</td>
      </tr>
      }
      }
      @defining(data.allPerfResults) { res =>
      <tr>
        <th>Total</th>
        <td>@res.nb.localize</td>
        <td>@res.points.median.map(_.toInt)</td>
        <td>@res.points.sum.localize</td>
        <td>@res.rankPercentMedian%</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}.toHtml
