@(u: User, data: lila.tournament.LeaderboardApi.ChartData)(implicit ctx: Context)

@moreJs = {
@highchartsLatestTag
@jsTag("user-tournament.js")
@embedJs {
lichess = lichess || {};
lichess.userTournament = {
perfs: toJson(data.perfResults.map(x => Json.obj(x._1.name, x._2.nb)))
};
}
}

@layout(u,
title = s"${u.username} tournaments",
path = "chart",
moreJs = moreJs) {
<div class="chart_page">
  <div class="content_box no_padding perf_results">
    <table class="slist">
      <thead>
        <tr>
          <th></th>
          <th>Tournaments</th>
          <th>Points avg</th>
          <th>Rank avg</th>
        </tr>
      </thead>
      <tbody>
        @data.perfResults.map {
        case (pt, res) => {
        <tr>
          <th><span data-icon="@pt.iconChar" class="text">@pt.name</span></th>
          <td>@res.nb.localize</td>
          <td>@res.points.median.map(_.toInt)</td>
          <td>@res.rankPercentMedian%</td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
  <div class="pie_chart"></div>
  <div class="line_chart"></div>
</div>
}
