@(u: User, title: String, path: String, moreJs: Html = emptyHtml)(body: Html)(implicit ctx: Context)

@menu = {
<a class="@path.active("recent")" href="@routes.UserTournament.path(u.username, "recent")">
  Recently played
</a>
<a class="@path.active("best")" href="@routes.UserTournament.path(u.username, "best")">
  Best results
</a>
<a class="@path.active("chart")" href="@routes.UserTournament.path(u.username, "chart")">
  Stats
</a>
}

@base.layout(
title = title,
menu = menu.some,
moreCss = cssTag("user-tournaments.css"),
moreJs = moreJs)(body).toHtml
