@(u: User, path: String, pager: Paginator[lila.tournament.LeaderboardApi.TourEntry], title: String, count: String)(implicit ctx: Context)
@if(pager.nbResults == 0) {
@u.username hasn't played in any tournament yet!
} else {
<div id="tournament_list">
  <table class="slist">
    <thead>
      <tr>
        <th class="count">@count</th>
        <th>
          <h1>@userLink(u, withOnline = true) tournaments</h1>
        </th>
        <th>Games</th>
        <th>Points</th>
        <th>Rank</th>
      </tr>
    </thead>
    <tbody class="infinitescroll">
      @pager.nextPage.map { np =>
      <tr><th class="pager none">
          <a href="@routes.UserTournament.path(u.username, path, np)">Next</a>
      </th></tr>
      }
      @pager.currentPageResults.map { e =>
      <tr class="paginated_element@if(e.tour.scheduled) { scheduled }">
        <td class="icon">
          <span data-icon="@tournamentIconChar(e.tour)"></span>
        </td>
        <td class="header">
          <a href="@routes.Tournament.show(e.tour.id)">
            <span class="name">@e.tour.fullName</span>
            <span class="setup">
              @e.tour.clock.show •
              @if(e.tour.variant.exotic) {
              @e.tour.variant.name
              } else {
              @e.tour.perfType.map(_.name)
              } •
              @showDateTime(e.tour.startsAt)
            </span>
          </a>
        </td>
        <td class="games">@e.entry.nbGames</td>
        <td class="score">@e.entry.score</td>
        <td class="rank"><strong>@e.entry.rank</strong> / @e.tour.nbPlayers</td>
      </tr>
      }
    </tbody>
  </table>
</div>
}
