@use 'pkg:common/abstract/extends';
@use 'pkg:common/base/scrollbar';
@use 'pkg:common/theme';
@use 'tab';
@use 'members';
@use 'discussion';
@use 'palantir';

.mchat {
  @extend %box-neat-force, %flex-column;

  grid-area: chat;
  justify-content: stretch;
  min-height: 15em;

  &__content {
    @extend %flex-column;

    background: theme.$c-bg-box;
    flex: 1 1 auto;
    overflow: hidden;

    &.note textarea {
      font-size: 0.9em;
      flex-grow: 1;
      border: none;
      background-color: transparent;
      line-height: 1.7em;
      outline: none;
      resize: none;
    }
  }
}
