@keyframes palantir-glowing {
  40% {
    background: none;
  }

  50% {
    background: $m-secondary_bg--mix-30;
  }

  60% {
    background: $m-primary_bg--mix-30;
  }

  70% {
    background: none;
  }
}

.palantir {
  flex: 0 1 auto;
  animation: palantir-glowing 1.5s ease-in-out infinite;
  border-radius: 0 3px 0 0;

  &-slot {
    animation: none;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }

  &-off {
    animation: none;
  }

  &-on {
    background: $c-good;
    color: $c-over;
    animation: none;

    &:hover {
      background: $c-bad !important;
      color: $c-over !important;
    }
  }

  &::after {
    top: 1px;
    @include inline-start(0);
    @include inline-end(auto);
    background: none;
    box-shadow: none;
  }
}
