$board-themes-2d: (
  'blue': (
    file-ext: 'svg',
    coord-color-white: #dee3e6,
    coord-color-black: #788a94,
  ),
  'blue2': (
    file-ext: 'jpg',
    coord-color-white: #97b2c7,
    coord-color-black: #546f82,
  ),
  'blue3': (
    file-ext: 'jpg',
    coord-color-white: #d9e0e6,
    coord-color-black: #315991,
  ),
  'blue-marble': (
    file-ext: 'jpg',
    coord-color-white: #eae6dd,
    coord-color-black: #7c7f87,
  ),
  'canvas': (
    name-override: 'canvas2',
    file-ext: 'jpg',
    coord-color-white: #d7daeb,
    coord-color-black: #547388,
  ),
  'wood': (
    file-ext: 'jpg',
    coord-color-white: #d8a45b,
    coord-color-black: #9b4d0f,
  ),
  'wood2': (
    file-ext: 'jpg',
    coord-color-white: #a38b5d,
    coord-color-black: #6c5017,
  ),
  'wood3': (
    file-ext: 'jpg',
    coord-color-white: #d0ceca,
    coord-color-black: #755839,
  ),
  'wood4': (
    file-ext: 'jpg',
    coord-color-white: #caaf7d,
    coord-color-black: #7b5330,
  ),
  'maple': (
    file-ext: 'jpg',
    coord-color-white: #e8ceab,
    coord-color-black: #bc7944,
  ),
  'maple2': (
    file-ext: 'jpg',
    coord-color-white: #e2c89f,
    coord-color-black: #996633,
  ),
  'leather': (
    file-ext: 'jpg',
    coord-color-white: #d1d1c9,
    coord-color-black: #c28e16,
  ),
  'green': (
    file-ext: 'svg',
    coord-color-white: #ffffdd,
    coord-color-black: #6d8753,
  ),
  'brown': (
    file-ext: 'svg',
    coord-color-white: #f0d9b5,
    coord-color-black: #946f51,
  ),
  'pink': (
    name-override: 'pink-pyramid',
    file-ext: 'png',
    coord-color-white: #e8e9b7,
    coord-color-black: #ed7272,
  ),
  'marble': (
    file-ext: 'jpg',
    coord-color-white: #93ab91,
    coord-color-black: #4f644e,
  ),
  'green-plastic': (
    file-ext: 'png',
    coord-color-white: #f2f9bb,
    coord-color-black: #59935d,
  ),
  'grey': (
    file-ext: 'jpg',
    coord-color-white: #b8b8b8,
    coord-color-black: #7d7d7d,
  ),
  'metal': (
    file-ext: 'jpg',
    coord-color-white: #c9c9c9,
    coord-color-black: #727272,
  ),
  'olive': (
    file-ext: 'jpg',
    coord-color-white: #b8b19f,
    coord-color-black: #6d6655,
  ),
  'newspaper': (
    file-ext: 'svg',
    coord-color-white: #fff,
    coord-color-black: #8d8d8d,
  ),
  'purple': (
    file-ext: 'svg',
    coord-color-white: #9f90b0,
    coord-color-black: #7d4a8d,
  ),
  'purple-diag': (
    file-ext: 'png',
    coord-color-white: #e5daf0,
    coord-color-black: #957ab0,
  ),
  'ic': (
    file-ext: 'svg',
    coord-color-white: #ececec,
    coord-color-black: #c1c18e,
  ),
  'horsey': (
    file-ext: 'jpg',
    coord-color-white: #f0d9b5,
    coord-color-black: #946f51,
  ),
  'wood-worn': (
    file-ext: 'webp',
    coord-color-white: #bd938b,
    coord-color-black: #7e4f3b,
  ),
  'putt-putt': (
    file-ext: 'webp',
    coord-color-white: #d8d1c5,
    coord-color-black: #6d8b44,
  ),
  'cocoa': (
    file-ext: 'webp',
    coord-color-white: #d8d1c5,
    coord-color-black: #a1806b,
  ),
  'parchment': (
    file-ext: 'webp',
    coord-color-white: #c0b19d,
    coord-color-black: #946d46,
  ),
);

$board-themes-3d: (
  'Black-White-Aluminium': (
    coord-color-white: #d9ded9,
    coord-color-black: #4c4e4d,
  ),
  'Brushed-Aluminium': (
    coord-color-white: #5c5e63,
    coord-color-black: #46494f,
  ),
  'China-Blue': (
    coord-color-white: #e7e8cc,
    coord-color-black: #3c00ba,
  ),
  'China-Green': (
    coord-color-white: #e7e8cc,
    coord-color-black: #48b064,
  ),
  'China-Grey': (
    coord-color-white: #e4e4ca,
    coord-color-black: #6a6b68,
  ),
  'China-Scarlet': (
    coord-color-white: #e7e8cc,
    coord-color-black: #ac161d,
  ),
  'China-Yellow': (
    coord-color-white: #e7e8cc,
    coord-color-black: #c8dd1c,
  ),
  'Classic-Blue': (
    coord-color-white: #7193df,
    coord-color-black: #5178a7,
  ),
  'Gold-Silver': (
    coord-color-white: #c0c3c8,
    coord-color-black: #514d1d,
  ),
  'Green-Glass': (
    coord-color-white: #f7fafa,
    coord-color-black: #a1ffb4,
  ),
  'Light-Wood': (
    coord-color-white: #dacc9f,
    coord-color-black: #ac7231,
  ),
  'Power-Coated': (
    coord-color-white: #d5dad4,
    coord-color-black: #939697,
  ),
  'Purple-Black': (
    coord-color-white: #bd00ac,
    coord-color-black: #3e4042,
  ),
  'Rosewood': (
    coord-color-white: #fae7df,
    coord-color-black: #d68170,
  ),
  'Wood-Glass': (
    coord-color-white: #dbdae7,
    coord-color-black: #e4c384,
  ),
  'Marble': (
    coord-color-white: #5a9475,
    coord-color-black: #265e41,
  ),
  'Wax': (
    coord-color-white: #dbba8e,
    coord-color-black: #d25563,
  ),
  'Jade': (
    coord-color-white: #9b9591,
    coord-color-black: #134e35,
  ),
  'Woodi': (
    coord-color-white: #80713c,
    coord-color-black: #62521a,
  ),
);
