$board-themes-2d: (
  'blue': (
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #dee3e6,
    coor-txt-color-on-light-sq: #788a94,
  ),
  'blue2': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #97b2c7,
    coor-txt-color-on-light-sq: #546f82,
  ),
  'blue3': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #d9e0e6,
    coor-txt-color-on-light-sq: #315991,
  ),
  'blue-marble': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #eae6dd,
    coor-txt-color-on-light-sq: #7c7f87,
  ),
  'canvas': (
    name-override: 'canvas2',
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #d7daeb,
    coor-txt-color-on-light-sq: #547388,
  ),
  'wood': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #d8a45b,
    coor-txt-color-on-light-sq: #9b4d0f,
  ),
  'wood2': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #a38b5d,
    coor-txt-color-on-light-sq: #6c5017,
  ),
  'wood3': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #d0ceca,
    coor-txt-color-on-light-sq: #755839,
  ),
  'wood4': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #caaf7d,
    coor-txt-color-on-light-sq: #7b5330,
  ),
  'maple': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #e8ceab,
    coor-txt-color-on-light-sq: #bc7944,
  ),
  'maple2': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #e2c89f,
    coor-txt-color-on-light-sq: #996633,
  ),
  'leather': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #d1d1c9,
    coor-txt-color-on-light-sq: #c28e16,
  ),
  'green': (
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #ffffdd,
    coor-txt-color-on-light-sq: #6d8753,
  ),
  'brown': (
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #f0d9b5,
    coor-txt-color-on-light-sq: #946f51,
  ),
  'pink': (
    name-override: 'pink-pyramid',
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #e8e9b7,
    coor-txt-color-on-light-sq: #ed7272,
  ),
  'marble': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #93ab91,
    coor-txt-color-on-light-sq: #4f644e,
  ),
  'green-plastic': (
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #f2f9bb,
    coor-txt-color-on-light-sq: #59935d,
  ),
  'grey': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #b8b8b8,
    coor-txt-color-on-light-sq: #7d7d7d,
  ),
  'metal': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #c9c9c9,
    coor-txt-color-on-light-sq: #727272,
  ),
  'olive': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #b8b19f,
    coor-txt-color-on-light-sq: #6d6655,
  ),
  'newspaper': (
    file-ext: 'svg',
    coor-txt-color-on-dark-sq: #fff,
    coor-txt-color-on-light-sq: #8d8d8d,
  ),
  'purple': (
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #9f90b0,
    coor-txt-color-on-light-sq: #7d4a8d,
  ),
  'purple-diag': (
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #e5daf0,
    coor-txt-color-on-light-sq: #957ab0,
  ),
  'ic': (
    file-ext: 'png',
    coor-txt-color-on-dark-sq: #ececec,
    coor-txt-color-on-light-sq: #c1c18e,
  ),
  'horsey': (
    file-ext: 'jpg',
    coor-txt-color-on-dark-sq: #f0d9b5,
    coor-txt-color-on-light-sq: #946f51,
  ),
  'wood-worn': (
    file-ext: 'webp',
    coor-txt-color-on-dark-sq: #bd938b,
    coor-txt-color-on-light-sq: #7e4f3b,
  ),
  'putt-putt': (
    file-ext: 'webp',
    coor-txt-color-on-dark-sq: #d8d1c5,
    coor-txt-color-on-light-sq: #6d8b44,
  ),
  'cocoa': (
    file-ext: 'webp',
    coor-txt-color-on-dark-sq: #d8d1c5,
    coor-txt-color-on-light-sq: #a1806b,
  ),
  'parchment': (
    file-ext: 'webp',
    coor-txt-color-on-dark-sq: #c0b19d,
    coor-txt-color-on-light-sq: #946d46,
  ),
);

$board-themes-3d: (
  'Black-White-Aluminium': (
    coor-txt-color-on-dark-sq: #d9ded9,
    coor-txt-color-on-light-sq: #4c4e4d,
  ),
  'Brushed-Aluminium': (
    coor-txt-color-on-dark-sq: #5c5e63,
    coor-txt-color-on-light-sq: #46494f,
  ),
  'China-Blue': (
    coor-txt-color-on-dark-sq: #e7e8cc,
    coor-txt-color-on-light-sq: #3c00ba,
  ),
  'China-Green': (
    coor-txt-color-on-dark-sq: #e7e8cc,
    coor-txt-color-on-light-sq: #48b064,
  ),
  'China-Grey': (
    coor-txt-color-on-dark-sq: #e4e4ca,
    coor-txt-color-on-light-sq: #6a6b68,
  ),
  'China-Scarlet': (
    coor-txt-color-on-dark-sq: #e7e8cc,
    coor-txt-color-on-light-sq: #ac161d,
  ),
  'China-Yellow': (
    coor-txt-color-on-dark-sq: #e7e8cc,
    coor-txt-color-on-light-sq: #c8dd1c,
  ),
  'Classic-Blue': (
    coor-txt-color-on-dark-sq: #7193df,
    coor-txt-color-on-light-sq: #5178a7,
  ),
  'Gold-Silver': (
    coor-txt-color-on-dark-sq: #c0c3c8,
    coor-txt-color-on-light-sq: #514d1d,
  ),
  'Green-Glass': (
    coor-txt-color-on-dark-sq: #f7fafa,
    coor-txt-color-on-light-sq: #a1ffb4,
  ),
  'Light-Wood': (
    coor-txt-color-on-dark-sq: #dacc9f,
    coor-txt-color-on-light-sq: #ac7231,
  ),
  'Power-Coated': (
    coor-txt-color-on-dark-sq: #d5dad4,
    coor-txt-color-on-light-sq: #939697,
  ),
  'Purple-Black': (
    coor-txt-color-on-dark-sq: #bd00ac,
    coor-txt-color-on-light-sq: #3e4042,
  ),
  'Rosewood': (
    coor-txt-color-on-dark-sq: #fae7df,
    coor-txt-color-on-light-sq: #d68170,
  ),
  'Wood-Glass': (
    coor-txt-color-on-dark-sq: #dbdae7,
    coor-txt-color-on-light-sq: #e4c384,
  ),
  'Marble': (
    coor-txt-color-on-dark-sq: #5a9475,
    coor-txt-color-on-light-sq: #265e41,
  ),
  'Wax': (
    coor-txt-color-on-dark-sq: #dbba8e,
    coor-txt-color-on-light-sq: #d25563,
  ),
  'Jade': (
    coor-txt-color-on-dark-sq: #9b9591,
    coor-txt-color-on-light-sq: #134e35,
  ),
  'Woodi': (
    coor-txt-color-on-dark-sq: #80713c,
    coor-txt-color-on-light-sq: #62521a,
  ),
);
