$coord-color-default: #fff;
$coord-shadow-default: 0 1px 2px #000;

coords {
  text-shadow: var(---cg-cs, $coord-shadow-default);
}

/** Alternating colors in rank/file/square labels */
.orientation-white .ranks :nth-child(even),
.orientation-white .files :nth-child(odd),
.orientation-black .ranks :nth-child(odd),
.orientation-black .files :nth-child(even),
coords.squares:nth-of-type(odd) :nth-child(odd),
coords.squares:nth-of-type(even) :nth-child(even) {
  color: var(---cg-ccw, $coord-color-default);
}

.orientation-white .ranks :nth-child(odd),
.orientation-white .files :nth-child(even),
.orientation-black .ranks :nth-child(even),
.orientation-black .files :nth-child(odd),
coords.squares:nth-of-type(odd) :nth-child(even),
coords.squares:nth-of-type(even) :nth-child(odd) {
  color: var(---cg-ccb, $coord-color-default);
}
