@import 'coords-in';

/* handle outer coords */
@include mq-at-least-col2 {
  .coords-out coords {
    text-shadow: none;

    &.ranks {
      right: -15px;
      top: 0;
      width: 12px;

      coord {
        transform: translateY(42%);
      }
    }

    &.files {
      bottom: -15px;
      left: 0;
      text-align: center;
    }
  }

  .coords-out coords.ranks,
  .coords-out .is2d coords.files {
    coord {
      color: $c-font-page !important;
    }
  }
}
