$coord-color-default: #fff;
$coord-shadow-default: 0 1px 2px #000;

coords {
  text-shadow: var(---cg-cs, $coord-shadow-default);
}

/** Alternating colors in rank/file/square labels */
.cg-wrap.orientation-white coords.files coord:nth-child(odd),
.cg-wrap.orientation-white coords.ranks coord:nth-child(even),
.cg-wrap.orientation-black coords.files coord:nth-child(even),
.cg-wrap.orientation-black coords.ranks coord:nth-child(odd),
.cg-wrap coords.squares:nth-of-type(odd) coord:nth-child(odd),
.cg-wrap coords.squares:nth-of-type(even) coord:nth-child(even) {
  color: var(---cg-ccw, $coord-color-default);
}

.cg-wrap.orientation-white coords.files coord:nth-child(even),
.cg-wrap.orientation-white coords.ranks coord:nth-child(odd),
.cg-wrap.orientation-black coords.files coord:nth-child(odd),
.cg-wrap.orientation-black coords.ranks coord:nth-child(even),
.cg-wrap coords.squares:nth-of-type(odd) coord:nth-child(even),
.cg-wrap coords.squares:nth-of-type(even) coord:nth-child(odd) {
  color: var(---cg-ccb, $coord-color-default);
}
