.team-show {
  &__forum {
    margin-bottom: $section-margin-more;
    width: 100%;

    &__post {
      display: block;
      color: $c-font;
      padding: 1em 2em;
      overflow: hidden;

      &:nth-child(odd) {
        background: $c-bg-zebra;
      }

      &:hover {
        background: color-mix(in srgb, $c-primary 10%, $c-bg);

        span {
          color: $c-font;
        }
      }

      strong {
        font-size: 1.3em;
        font-weight: normal;
        unicode-bidi: plaintext;
      }
    }

    .meta {
      @extend %flex-between, %zalgoverflow;

      font-size: 90%;
      margin-bottom: 0.5rem;

      span {
        color: $c-font-dimmer;
      }

      time {
        font-size: 100%;
      }
    }

    p {
      @extend %zalgoverflow;

      color: $c-font-dim;
      text-align: start;
      margin-bottom: 0.25rem;
    }

    a.more {
      @extend %zalgoverflow;

      display: block;
      text-align: right;
      margin: 10px 10px 0 0;
    }
  }
}
