.team-show {
  &__forum {
    margin-bottom: $section-margin-more;
    width: 100%;

    &__post {
      display: block;
      color: $c-font;
      padding: 1em 2.5em;
      overflow: hidden;

      &:nth-child(odd) {
        background: $c-bg-zebra;
      }

      &:hover {
        background: $m-primary_bg--mix-10;

        span {
          color: $c-font;
        }
      }

      strong {
        font-size: 1.3em;
        font-weight: normal;
        unicode-bidi: plaintext;
      }
    }

    .meta {
      @extend %flex-between, %zalgoverflow;

      margin-bottom: 0.5rem;
    }

    p {
      @extend %zalgoverflow;
      color: $c-font-dim;
      text-align: start;
    }

    a.more {
      @extend %zalgoverflow;
      display: block;
      text-align: right;
      margin: 10px 10px 0 0;
    }
  }
}
