$section-margin: 3vh;
$section-margin-more: 5vh;

.team-show {
  @extend %break-word;

  overflow: hidden;

  h1 {
    @extend %break-word-hard, %zalgoverflow, %flex-center;

    unicode-bidi: plaintext;

    .uflair {
      transform: none;
    }
  }

  .mchat {
    height: 40vh;
    margin-bottom: $section-margin;

    @include if-not-light {
      box-shadow: none;

      &__tabs,
      &__content,
      &__say,
      &__tab-active {
        background: $c-bg-page !important;
      }
    }
  }

  .chat__members {
    margin-bottom: $section-margin;
    height: auto;
  }

  &__content {
    margin: 0 var(---box-padding);

    @media (min-width: at-least($small)) {
      display: flex;

      &__col1 {
        flex: 0 0 30%;
        margin-inline-end: var(---box-padding);
      }

      &__col2 {
        flex: 1;
      }
    }
  }

  &__meta {
    color: $c-font-dim;
    margin-bottom: $section-margin;

    .user-link {
      display: inline-block;
      vertical-align: bottom;
      padding-inline-end: 0.25em;
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    grid-gap: 1vmin;
    margin-bottom: $section-margin;

    .button {
      display: flex;
      text-align: left;
      width: 100%;

      strong {
        display: block;
      }

      em {
        color: $c-font-dim;
        text-transform: none;
        white-space: normal;
      }
    }
  }

  &__desc {
    @extend %box-neat;
    @include rendered-markdown;

    padding: 1.5em 2.5em;
    background: $c-bg-high;
    font-size: 1.1em;
    margin-bottom: $section-margin-more;
    text-align: start;
  }

  &__members {
    @media (max-width: at-most($small)) {
      display: none;
    }

    margin-bottom: $section-margin;
  }

  &__tour {
    margin-bottom: $section-margin-more;
  }

  &__requests {
    margin-bottom: $section-margin-more;

    h2,
    table {
      margin: 0;
    }

    td {
      padding: 0.5rem 0.7rem;
    }

    @include mq-subnav-top {
      td {
        display: block;
      }
    }
  }

  h2 {
    margin-bottom: 1rem;
  }

  img {
    max-width: 100%;
  }

  .userlist > li,
  .userlist > div.paginated {
    @include padding-direction(5px, 0, 5px, 25px);
  }

  &__log {
    margin-bottom: 2em;
  }
}
