.forum .textcomplete-dropdown {
  border: 1px solid #ccc;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.25), 0 0.5px 8px rgba(0, 0, 0, 0.15);
  background: #fff;

  li {
    list-style: none;
    border-top: 1px solid #dfdfdf;
    padding: 0.5em;
    min-width: 100px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
  }

  li.textcomplete-header,
  li.textcomplete-footer {
    display: none;
  }

  li:hover,
  .active {
    background-color: #f0f0f0;
  }
}

// body.dark .textcomplete-dropdown {
//   box-shadow: 0 1px 2px #000;
//   background: #343434;
// }
// body.dark .textcomplete-dropdown,
// body.dark .textcomplete-dropdown li {
//   border-color: #3d3d3d;
// }

// body.dark .textcomplete-dropdown li:hover,
// body.dark .textcomplete-dropdown .active {
//   background-color: #3e3e3e;
// }
