@(s: lila.study.Study)(implicit ctx: Context)

@site.message(
title = s"Clone ${s.name}",
icon = Some("4"),
back = false) {
<form action="@routes.Study.cloneApply(s.id.value)" method="POST">
  <p>
    This will create a new private study with the same chapters.
  </p>
  <p>
    You will be the owner of that new study.
  </p>
  <p>
    The two studies can be updated separately.
  </p>
  <p>
    Deleting one study will <strong>not</strong> delete the other study.
  </p>
  <p>
    <button type="submit" class="submit button large text" data-icon="4"
      style="margin: 30px auto; display: block; font-size: 2em;">Clone the study</button>
  </p>
  <p>
    <a href="@routes.Study.show(s.id.value)" class="text" data-icon="I">@trans.cancel()</a>
  </p>
</form>
}.toHtml
