@(data: lila.study.DataForm.importGame.Data, owner: List[lila.study.Study.IdName], contrib: List[lila.study.Study.IdName])(implicit ctx: Context)

@site.message(
title = "Study",
icon = Some(Html("4")),
back = true,
moreCss = cssTag("study-create.css").some) {
<form action="@routes.Study.create" method="POST">
  <input type="hidden" name="gameId" value="@data.gameId" />
  <input type="hidden" name="orientation" value="@data.orientationStr" />
  <input type="hidden" name="fen" value="@data.fenStr" />
  <input type="hidden" name="pgn" value="@data.pgnStr" />
  <input type="hidden" name="variant" value="@data.variantStr" />
  <h2>So, where do you want to study that?</h2>
  <p>
    <button name="as" value="study"
      type="submit" class="submit button large new text" data-icon="4">New study</button>
  </p>
  <div class="studies">
    <div>
      <h2>My studies</h2>
      @owner.map { s =>
      <button name="as" value="@s.id" type="submit" class="submit button">@s.name</button>
      }
    </div>
    <div>
      <h2>Studies I contribute to</h2>
      @contrib.map { s =>
      <button name="as" value="@s.id" type="submit" class="submit button">@s.name</button>
      }
    </div>
  </div>
</form>
}
