@(s: lila.study.Study, chapter: lila.study.Chapter, data: lila.study.JsonView.JsData)(implicit ctx: Context)

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="@defaultCsp">
    <title>@s.name: @chapter.name</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300" rel="stylesheet">
    @ctx.currentBg match {
    case "dark" => { @cssTag("dark.css") }
    case "transp" => { @cssTag("dark.css")@cssTag("transp.css") }
    case _ => {}
    }
    @cssTag("common.css")
    @cssTag("board.css")
    @cssTag("analyse.css")
    @cssTag("analyse-embed.css")
    <link id="piece-sprite" href="@assetUrl(s"stylesheets/piece/${ctx.currentPieceSet}.css")" type="text/css" rel="stylesheet"/>
  </head>
  <body class="base highlight @List(
    ctx.currentTheme.cssClass,
    if (ctx.currentBg == "transp") "dark transp" else ctx.currentBg,
    ctx.pref.pieceNotationIsLetter ?? "piece_letter").mkString(" ")">
    <div class="is2d">
      <div class="embedded_study analyse cg-512">@miniBoardContent</div>
    </div>
    <footer>
      @defining(routes.Study.chapter(s.id.value, chapter.id.value)) { url =>
      <div class="left">
        <a target="_blank" href="@url"><h1>@s.name</h1></a> <em>brought to you by <a target="_blank" href="@netBaseUrl">@netDomain</a></em>
      </div>
      <a target="_blank" class="open" href="@url">Open</a>
      }
    </footer>
    @jQueryTag
    @jsTag("vendor/mousetrap.js")
    @jsAt("compiled/util.js")
    @jsAt("compiled/trans.js")
    @jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
    @jsTag("embed-analyse.js")
    @embedJs {
    lichess.startEmbeddedAnalyse({
    element: document.querySelector('.embedded_study'),
    study: @safeJsonHtml(data.study),
    data: @safeJsonHtml(data.analysis),
    embed: true,
    i18n: @board.userAnalysisI18n(),
    userId: "null"
    });
    }
  </body>
</html>
