@(s: lila.study.Study, chapter: lila.study.Chapter, data: lila.study.JsonView.JsData)(implicit ctx: Context)

<!doctype html>
<html>
  <head>
    <title>@s.name: @chapter.name</title>
    @ctx.currentBg match {
    case "dark" => { @cssTag("dark.css") }
    case "transp" => { @cssTag("dark.css")@cssTag("transp.css") }
    case _ => {}
    }
    @cssTag("common.css")
    @cssTag("board.css")
    @cssTag("analyse.css")
    @cssTag("study-embed.css")
    <link id="piece-sprite" href="@staticUrl(s"stylesheets/piece/${ctx.currentPieceSet}.css?v=$assetVersion")" type="text/css" rel="stylesheet"/>
    <meta charset="utf-8">
  </head>
  <body class="base highlight @List(
    ctx.currentTheme.cssClass,
    ctx.currentBg,
    ctx.pref.highlight ?? "highlight",
    ctx.pref.destination ?? "destination",
    ctx.pref.pieceNotationIsLetter ?? "piece_letter",
    "coords_1").mkString(" ")">
    <div class="is2d">
      <div class="analyse cg-512">@miniBoardContent</div>
    </div>
    @jQueryTag
    @jsTag("util.js")
    @jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
    @embedJs {

    var element = document.querySelector('.analyse');

    var analyse = LichessAnalyse({
    study: @Html(J.stringify(data.study)),
    data: @Html(J.stringify(data.analysis)),
    embed: true,
    i18n: @board.userAnalysisI18n(),
    userId: "null",
    explorer: {
    endpoint: "@explorerEndpoint",
    tablebaseEndpoint: "@tablebaseEndpoint"
    },
    element: element,
    socketSend: $.noop
    });
    var board = element.querySelector('.cg-board-wrap');
    var ground = element.querySelector('.lichess_ground');

    var onResize = function() {
      var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      var h = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
      var boardSize = h;
      var gr = 1.618;
      if (boardSize > w / gr) boardSize = w / gr;
      var groundSize = Math.min(500, Math.max(120, w - boardSize));
      board.style.width = boardSize + 'px';
      board.style.height = boardSize + 'px';
      ground.style.width = groundSize + 'px';
      ground.style.maxWidth = groundSize + 'px';
      document.body.dispatchEvent(new Event('chessground.resize'));
    };
    onResize();
    window.addEventListener('resize', onResize);
    }
    @base.ga()
  </body>
</html>
