@(pager: Paginator[lila.study.Study.WithChaptersAndLiked], url: Call)(implicit ctx: Context)
@if(pager.currentPageResults.isEmpty) {
<div class="nostudies">
  <i data-icon=""></i>
  <p>None yet.</p>
</div>
} else {
<div class="list infinitescroll">
  @pager.currentPageResults.map { s =>
  <div class="study paginated_element">
    @widget(s)
  </div>
  }
  @pager.nextPage.map { np =>
  <div class="pager none">
    <a rel="next" href="@addQueryParameter(url.toString, "page", np)">Next</a>
  </div>
  }
</div>
}
