@(title: String, active: String, order: lila.study.Order, pag: Paginator[lila.study.Study.WithChaptersAndLiked], url: controllers.Study.ListUrl, searchFilter: String)(titleHtml: Html)(implicit ctx: Context)

@moreCss = {
@cssTag("studyList.css")
}

@moreJs = {
@jsTag("vendor/jquery.infinitescroll.min.js")
}

@menu = {
<a class="@active.active("all")" href="@routes.Study.all(order.key)">All studies</a>
@ctx.me.map { me =>
@authLinks(me, active, order)
}
<a class="text" data-icon="" href="//lichess.org/blog/V0KrLSkAAMo3hsi4/study-chess-the-lichess-way">What are studies?</a>
}

@base.layout(
title = title,
menu = menu.some,
moreCss = moreCss,
moreJs = moreJs,
withLangAnnotations = false) {
<div class="content_box no_padding studies">
  <div class="top">
    <form class="search" action="@routes.Study.search()" method="get">
      <input name="q" placeholder="@title" value="@searchFilter@if(searchFilter.nonEmpty){ }" />
      <button type="submit" class="submit button" data-icon="y"></button>
    </form>
    @orderChoice(o => url(o.key), order, if (active == "all") lila.study.Order.allButOldest else lila.study.Order.all)
    @newForm()
  </div>
  @list(pag, url(order.key))
</div>
}
