@(s: lila.study.Study, data: lila.study.JsonView.JsData, chatOption: Option[lila.chat.UserChat.Mine], socketVersion: Int)(implicit ctx: Context)

@moreJs = {
@jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.study = {
study: @Html(J.stringify(data.study)),
data: @Html(J.stringify(data.analysis)),
i18n: @board.userAnalysisI18n(),
userId: @jsUserId,
chat: @jsOrNull(chatOption map { c =>
chat.ChatJsData.json(c.chat, name = trans.chatRoom.str(), timeout = c.timeout, writeable = ctx.userId.??(s.canChat))
}),
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
},
socketUrl: "@routes.Study.websocket(s.id, apiVersion.value)",
socketVersion: @socketVersion
};
}
}

@side = {
<div class="side_box study_box"></div>
}

@underchat = {
@views.html.game.watchers()
}

@study.layout(
title = s.name,
side = side,
underchat = underchat,
moreJs = moreJs) {
<div class="analyse cg-512">@miniBoardContent</div>
}
