@(s: lila.study.Study, data: lila.study.JsonView.BiData, socketVersion: Int)(implicit ctx: Context)

@title = @{ s"${usernameOrAnon(s.ownerId.some)} Study" }

@moreJs = {
@jsAt(s"compiled/lichess.analyse${isProd??(".min")}.js")
@embedJs {
lichess = lichess || {};
lichess.study = {
study: @Html(play.api.libs.json.Json.stringify(data.study)),
data: @Html(play.api.libs.json.Json.stringify(data.analysis)),
i18n: @board.userAnalysisI18n(),
userId: @Html(ctx.userId.fold("null")(id => s""""$id"""")),
explorer: {
endpoint: "@explorerEndpoint"
},
socketUrl: "@routes.Study.websocket(s.id, apiVersion)",
socketVersion: @socketVersion
};
}
}

@side = {
<div class="side_box">
  side box!
</div>
}

@underchat = {
@views.html.game.watchers()
}

@study.layout(
title = title,
side = side,
chat = base.chatDom(trans.spectatorRoom.str(), withNotes = false),
underchat = underchat,
moreJs = moreJs) {
<div class="analyse cg-512">@miniBoardContent</div>
}
