@(s: lidraughts.study.Study, data: lidraughts.study.JsonView.JsData, chatOption: Option[lidraughts.chat.UserChat.Mine], socketVersion: lidraughts.socket.Socket.SocketVersion, streams: List[lidraughts.streamer.Stream])(implicit ctx: Context)

@moreJs = {
@jsAt(s"compiled/lidraughts.analyse${isProd??(".min")}.js")
@embedJs {
lidraughts = lidraughts || {};
lidraughts.study = {
study: @safeJsonHtml(data.study),
data: @safeJsonHtml(data.analysis),
i18n: @board.userAnalysisI18n(),
tagTypes: '@lidraughts.study.PdnTags.typesToString',
userId: @jsUserId,
chat: @jsOrNull(chatOption map { c =>
chat.json(
c.chat,
name = trans.chatRoom.txt(),
timeout = c.timeout,
writeable = ctx.userId.??(s.canChat),
public = false,
localMod = ctx.userId.??(s.canContribute))
}),
explorer: {
endpoint: "@explorerEndpoint",
tablebaseEndpoint: "@tablebaseEndpoint"
},
socketUrl: "@routes.Study.websocket(s.id.value, apiVersion.value)",
socketVersion: @socketVersion.value
};
}
}

@side = {
<div class="side_box study_box"></div>
@streams.map { s =>
@*<a href="@routes.Streamer.show(s.streamer.userId)" class="context-streamer text side_box" data-icon="">@usernameOrId(s.streamer.userId) is streaming</a>*@
}
}

@base.layout(
title = s.name.value,
side = side.some,
chat = chat.html.some,
underchat = Some(views.html.game.bits.watchers),
moreCss = cssTags("analyse.css", "study.css", "chat.css"),
moreJs = moreJs,
robots = s.isPublic,
draughtsground = false,
zoomable = true,
csp = defaultCsp.withTwitch.some,
openGraph = lidraughts.app.ui.OpenGraph(
title = s.name.value,
url = s"$netBaseUrl${routes.Study.show(s.id.value).url}",
description = s"A draughts study by ${usernameOrId(s.ownerId)}").some
) {
<div class="analyse cg-512">
  @board.bits.domPreload(none).toHtml
</div>
}.toHtml
