#modal-wrap.local-setup {
  display: flex;
  width: 96vw;
  height: min(96vh, 640px);
  > div {
    display: flex;
    flex-grow: 1;
    flex-flow: column nowrap;
  }
  @include breakpoint($mq-x-small) {
    width: 80vw;
    height: min(88vh, 640px);
  }
  @include breakpoint($mq-large) {
    width: 60vw;
    height: min(80vh, 640px);
  }
  #bot-select {
    display: grid;
    grid-template-areas: 'list' 'info';
    @include breakpoint($mq-xx-small) {
      grid-template-columns: min-content 1fr;
      grid-template-areas: 'list info';
    }
  }

  #bot-carousel {
    .bot-grid {
      border: 1px solid $c-border;
      grid-area: list;
      display: grid;
      width: 492px;
      grid-template-columns: repeat(auto-fill, 104px);
      grid-template-rows: repeat(auto-fill, 96px);
      overflow-y: auto;
      overflow-x: hidden;
      height: 30vh;
    }
    div.libot {
      width: 104px;
      position: relative;
      &:hover {
        background: mix($c-link, $c-bg-box, 15%);
      }
      .selected {
        background: mix($c-link, $c-bg-box, 30%);
      }
      img {
        width: 96px;
        background: tranparent;
      }
      div.label {
        position: absolute;
        white-space: nowrap;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        color: $c-font;
        text-shadow: -2px 2px 2px black;
        //background: transparent;
        user-select: none;
      }
    }
  }

  #bot-info {
    grid-area: info;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  h2 {
    flex: initial;
  }
  #bot-view {
    @extend %flex-column;
    min-height: 320px;
    flex-grow: 1;
    > div {
      flex-shrink: 0;
    }
  }

  #bot-selector {
    position: relative;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
  }

  .card {
    position: absolute;
    width: 128px;
    height: 192px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    img {
      width: 128px;
    }
    label {
      font-weight: bold;
      font-size: 1.3em;
      text-align: center;
      position: absolute;
      top: -1.5em;
      left: 0;
      right: 0;
      display: none;
    }
    &.pull label {
      display: block;
    }
  }
}
