.pull-quote {
  margin: 0 auto;

  p {
    color: $c-font;
    position: relative;
    margin: 0 0.7em;
    padding: 1em 0;
    border: $border;
    border-width: 1px 0;
    font-style: italic;
    font-size: 1.1rem;

    &:after {
      content: '';
      position: absolute;
      bottom: -9px;
      left: 42px;
      width: 15px;
      height: 15px;
      background: $c-bg-box;
      border-left: 2px solid $c-border;
      border-bottom: 1px solid $c-border;
      transform: skew(45deg) rotate(-45deg);
    }
  }

  &.long p {
    font-size: 1rem;
  }

  footer {
    margin: 10px;
    line-height: 20px;
    text-align: right;

    &:before {
      content: '\2014\2009';
    }
  }
}
