@import '../../../lib/css/setup/colorChoice';

.bot-setup dialog {
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;

  opacity: 0;
  transform: translate(-50%, calc(-50% - 30px));

  @media (max-width: at-most($small)) {
    width: 70%;
  }
  @media (max-width: at-most($x-small)) {
    width: 90%;
  }
  @media (max-width: at-most($xx-small)) {
    width: 100%;
  }
}

@keyframes show {
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.bot-setup__dialog {
  @extend %flex-column, %box-neat;
  gap: 2vh;
  filter: none;
  border: 1px solid var(--bot-color);

  &__image {
    aspect-ratio: 1;
    width: 75%;
    margin: auto;
    margin-top: -30%;
    line-height: 0;
  }
  &__title {
    font-size: 3em;
    font-weight: bold;
    color: var(--bot-color);
    margin-top: -1vh;
  }
  &__desc {
    font-style: italic;
    font-size: 1.3em;
  }
  .button {
    padding: 2em 1em;
    background: var(--bot-color);
    background: hsl(from var(--bot-color) h calc(s - 10) calc(l - 10));
    &:not(.disabled):hover {
      background: hsl(from var(--bot-color) h s l);
    }
  }
}

.bot-setup__form {
  @extend %flex-column;
  gap: 1.5em;
  padding-bottom: 2em;
  text-align: left;

  .radio-pane,
  .label-select {
    @extend %flex-center;
    gap: 1em;
  }

  .range {
    span {
      font-weight: bold;
    }

    input {
      font-size: 1.5rem;
      margin-top: 0.2rem;
      padding: 0;
      width: 100%;
    }
  }
  .time-choice {
    margin-top: 0.5rem;
  }

  .failure {
    background: $m-bad_bg--mix-20;
    box-shadow: 0 0 13px 6px $m-bad_bg--mix-20;
    border-radius: 0.5rem;
  }
}
