@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(https://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59Fz46K1neJmks_A3gTN44087e4u6nTQnzO7oCbEaAVTg2r&skey=8be08dae698074e5&v=v4) format('woff2');
}
