@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url(http://fonts.gstatic.com/l/font?kit=N4duVc9C58uwPiY8_59Fz6tlP3jaWYKYt5OHNmTW7Yk7oF6iI9jpTl0ARuo_5ELl&skey=8be08dae698074e5&v=v5) format('woff2');
}