i.practice {
  background: img-url('practice/help.svg');
  background-size: cover;
}

.ptQ1LLvm {
  background-image: img-url('practice/backstab.svg');
}

.E1lqtqFt {
  background-image: img-url('practice/arrowed.svg');
}

.xebrDvFe {
  background-image: img-url('practice/key.svg');
}

.A4ujYOer {
  background-image: img-url('practice/push.svg');
}

.\39 ogFv8Ac {
  background-image: img-url('practice/voodoo-doll.svg');
}

.Qj281y1p {
  background-image: img-url('practice/trident.svg');
}

.tuoBxVE5 {
  background-image: img-url('practice/pierced-body.svg');
}

.BJy6fEDf {
  background-image: img-url('practice/stone-pile.svg');
}

.Rg2cMBZ6 {
  background-image: img-url('practice/stone-spear.svg');
}

.fE4k21MW {
  background-image: img-url('practice/pocket-bow.svg');
}

.\38 yadFPpU {
  background-image: img-url('practice/sword-in-stone.svg');
}

.PDkQDt6u {
  background-image: img-url('practice/catapult.svg');
}

.\39 \36 Lij7wH {
  background-image: img-url('practice/musket.svg');
}

.o734CNqp {
  background-image: img-url('practice/breaking-chain.svg');
}

.\39 cKgYrHb {
  background-image: img-url('practice/cement-shoes.svg');
}

.MnsJEWnI {
  background-image: img-url('practice/boxing-glove-surprise.svg');
}

.ITWY4GN2 {
  background-image: img-url('practice/two-shadows.svg');
}

.lyVYjhPG {
  background-image: img-url('practice/skeletal-hand.svg');
}

.s5pLU7Of {
  background-image: img-url('practice/trojan-horse.svg');
}

.kdKpaYLW {
  background-image: img-url('practice/divert.svg');
}

.jOZejFWk {
  background-image: img-url('practice/magnet.svg');
}

[class='49fDW0wP'] {
  background-image: img-url('practice/upgrade.svg');
}

[class='0YcGiH4Y'] {
  background-image: img-url('practice/quicksand.svg');
}

.CgjKPvxQ {
  background-image: img-url('practice/back-forth.svg');
}

.udx042D6 {
  background-image: img-url('practice/mining.svg');
}

.Grmtwuft {
  background-image: img-url('practice/detour.svg');
}

.g1fxVZu9 {
  background-image: img-url('practice/bolt-shield.svg');
}

.RUQASaZm {
  background-image: img-url('practice/rogue.svg');
}

.\39 c6GrCTk {
  background-image: img-url('practice/siege-tower.svg');
}

.ByhlXnmM {
  background-image: img-url('practice/ghost-ally.svg');
}

.pt20yRkT {
  background-image: img-url('practice/stone-tower.svg');
}

.MkDViieT {
  background-image: img-url('practice/guarded-tower.svg');
}

.pqUSUw8Y {
  background-image: img-url('practice/siege-tower.svg');
}

.heQDnvq7 {
  background-image: img-url('practice/locked-fortress.svg');
}

.wS23j5Tm {
  background-image: img-url('practice/tower-fall.svg');
}
