@(pov: Pov, bg: String, theme: String)(implicit req: RequestHeader)
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="Content-Security-Policy" content="@basicCsp">
    <title>lichess.org TV</title>
    @if(bg == "dark") {
    @cssAt("stylesheets/dark.css")
    }
    @cssAt(s"stylesheets/piece/merida.css")
    @cssAt("stylesheets/common.css")
    @cssAt("stylesheets/board.css")
  </head>
  <body
    class="base highlight @bg"
    style="width: 224px; height: 264px; overflow: hidden; background: none!important"
    data-stream-url="@routes.Tv.feed">
    <div id="featured_game" class="is2d highlight @bg @theme merida" title="lichess.org TV">
      @gameFenNoCtx(pov, tv = true, blank = true).toHtml
      @game.bits.vstext(pov)(none).toHtml
    </div>
    @jQueryTag
    @jsAt("javascripts/vendor/chessground.min.js", false)
    @jsAt("compiled/tv.js", false)
  </body>
</html>
