@(pov: Pov, bg: String, theme: String)

<!doctype html>
<html>
  <head>
    <title>lichess.org TV</title>
    @if(bg == "dark") {
    @cssTag("dark.css")
    }
    @cssTag(s"piece/merida.css")
    @cssTag("common.css")
    @cssTag("board.css")
    <meta charset="utf-8">
  </head>
  <body
    class="base highlight @bg no-bg"
    style="width: 224px; height: 264px; overflow: hidden;"
    data-stream-url="@routes.Tv.feed">
    <div id="featured_game" class="is2d highlight @bg @theme merida" title="lichess.org TV">
      @gameFenNoCtx(pov, tv = true, blank = true)
      @game.vstext(pov)(none)
    </div>
    @jQueryTag
    @jsTag("vendor/chessground.min.js")
    @jsTagCompiled("tv.js")
    @base.ga()
  </body>
</html>
