@(pov: Pov, bg: String, theme: String, assetVersion: lidraughts.common.AssetVersion)

<!doctype html>
<html>
  <head>
    <title>lidraughts.org TV</title>
    @if(bg == "dark") {
    @cssAt("stylesheets/dark.css", true, assetVersion)
    }
    @cssAt(s"stylesheets/piece/wide_crown.css", true, assetVersion)
    @cssAt("stylesheets/common.css", true, assetVersion)
    @cssAt("stylesheets/board.css", true, assetVersion)
    <meta charset="utf-8">
  </head>
  <body
    class="base highlight @bg"
    style="width: 224px; height: 264px; overflow: hidden; background: none!important"
    data-stream-url="@routes.Tv.feed">
    <div id="featured_game" class="is2d highlight @bg @theme wide_crown" title="lidraughts.org TV">
      @gameFenNoCtx(pov, tv = true, blank = true)
      @game.vstext(pov)(none)
    </div>
    @jQueryTag
    @jsAt("javascripts/vendor/draughtsground.min.js", true, false, assetVersion)
    @jsAt("compiled/tv.js", true, false, assetVersion)
  </body>
</html>
