@(pov: Pov, version: Int, games: List[Game], tour: Option[lila.tournament.Tournament], cross: Option[lila.game.Crosstable], flip: Boolean)(implicit ctx: Context)

@title = @{ s"TV ${playerText(pov.player)} vs ${playerText(pov.opponent)}" }

@underchat = {
<div class="watchers" data-icon="v">
  @trans.spectators() <span class="list inline_userlist"></span>
</div>
}

@goodies = {
<div class="lichess_goodies">
  <div class="box">
    <h2 data-icon="1">&nbsp;Lichess TV</h2>
    <br />
    <div class="confrontation">
      <div class="vs">@playerLink(pov.game.firstPlayer, withRating = false, withOnline = false) vs @playerLink(pov.game.secondPlayer, withRating = false, withOnline = false)</div>
    </div>
    <br />
    <span data-icon="p"> @shortClockName(pov.game.clock)</span>
    @if(pov.game.variant.exotic) {
    , @variantName(pov.game.variant).capitalize
    }
    @if(pov.game.rated) {
    , @trans.rated()
    }
  </div>
  <div id="tv_history" class="undertable">
    <div class="undertable_top">
      <span class="title">@trans.previouslyOnLichessTV()</span>
    </div>
    <div class="undertable_inner">
      <table>
        <tbody>
          @games.map { g =>
          <tr>
            <td><a class="view" href="@routes.Round.watcher(g.id, g.firstPlayer.color.name)" data-icon="v"></a></td>
            <td>
              @playerLink(g.firstPlayer, withOnline = false, withDiff = true)<br />
              @playerLink(g.secondPlayer, withOnline = false, withDiff = true)
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="buttons">
    <a class="flip button" data-icon="B" href="@routes.Tv.index()@if(!flip){?flip=1}"> @trans.flipBoard()</a>
  </div>
</div>
}

@round.layout(
title = title,
goodies = goodies,
underchat = underchat.some,
active = siteMenu.tv.some) {
@round.watcherGame(pov)
@cross.map { c =>
@game.crosstable(c)
}
@embedJs("var _ld_ = " + roundWatcherJsData(pov, version, true, ctx.pref))
}
