@(channel: lila.tv.Tv.Channel, champions: lila.tv.Tv.Champions, pov: Pov, data: play.api.libs.json.JsObject, cross: Option[lila.game.Crosstable], flip: Boolean)(implicit ctx: Context)

@title = @{ s"${channel.name} TV: ${playerText(pov.player)} vs ${playerText(pov.opponent)}" }

@moreJs = {
@jsAt(s"compiled/lichess.round${isProd??(".min")}.js")
@embedJs {
$(function() {
lichess.startRound(document.getElementById('lichess'), {
data: @Html(J.stringify(data)),
i18n: @round.jsI18n()
});
});
}
}

@round.layout(
title = title,
side = side(channel, champions, "/tv", pov.some, streams = Nil),
underchat = game.watchers().some,
moreJs = moreJs,
moreCss = cssTag("tv.css"),
chessground = false,
openGraph = lila.app.ui.OpenGraph(
title = s"Watch the best ${channel.name.toLowerCase} games of lichess.org",
description = s"Sit back, relax, and watch the best ${channel.name.toLowerCase} lichess players compete on lichess TV",
url = s"$netBaseUrl${routes.Tv.onChannel(channel.key)}"
).some) {
<div class="round cg-512">
  @miniBoardContent
</div>
<div class="crosstable" style="display:none">
  @cross.map { c =>
  @game.crosstable(pov.player.userId.fold(c)(c.fromPov), pov.gameId.some)
  }
</div>
}
