@(streamer: lila.tv.StreamerList.Streamer, others: List[lila.tv.StreamOnAir])(implicit ctx: Context)

@title = @{ s"TV ${streamer.showStreamerName}" }

@moreCss = {
@cssTag("stream.css")
@cssTag("tv.css")
}

@side = {
<div class="side">
  <div class="side_box padded for_selector">
    <h2 data-icon="1" class="top text">Lichess TV</h2>
    <div id="tv_selector">
      <p><span class="current text" data-icon="G">@streamer.showStreamerName</span></p>
      @others.map { other =>
      <p><a class="text" href="@routes.Tv.streamIn(other.id)" data-icon="1">@other.name</a></p>
      }
      <p><a class="text" href="@routes.Tv.index" data-icon="1">Regular lichess TV</a></p>
    </div>
  </div>
</div>
}


@base.layout(
title = title,
side = side.some,
moreCss = moreCss) {
<div class="tv_stream content_box small_box">
  <div class="head">
    <h1 class="text" data-icon="">@streamer.showStreamerName</h1>
  </div>
  <br />
  <br />
  <p>Sorry, @userIdLink(streamer.lichessName.some) is not streaming on lichess at the moment!</p>
</div>
}
