@(channel: lila.tv.Tv.Channel, champions: lila.tv.Tv.Champions, baseUrl: String, povOption: Option[Pov])(implicit ctx: Context)
<div class="side">
  <div class="side_box padded">
    @povOption.map { pov =>
    <h2 data-icon="1" class="text">Lichess TV</h2>
    <br />
    <div class="confrontation">
      @playerLink(pov.game.whitePlayer, withRating = false, withOnline = false, withDiff = false)
      <em>vs</em>
      @playerLink(pov.game.blackPlayer, withRating = false, withOnline = false, withDiff = false)
    </div>
    <br />
    <span data-icon="p"> @shortClockName(pov.game.clock.map(_.config))</span>, @game.bits.variantLink(pov.game.variant, variantName(pov.game.variant)).toHtml
    @if(pov.game.rated) {
    , @trans.rated()
    }
    }.getOrElse {
    <h2 data-icon="1" class="text">Lichess games</h2>
    }
  </div>
  @povOption.map { pov =>
  @pov.game.userIds.filter(isStreaming).map { id =>
  <a href="@routes.Streamer.show(id)" class="context-streamer text side_box" data-icon="">@usernameOrId(id) is streaming</a>
  }
  }
  <div id="tv_channels">
    @lila.tv.Tv.Channel.all.map { c =>
    <a data-icon="@Html(c.icon)" href="@baseUrl/@c.key" class="@c.key@if(c == channel){ active}">
      <strong>@c.name</strong>
      <span>
        @champions.get(c).map { p =>
        @Html(p.user.titleNameHtml)&nbsp;(@p.rating)
        }.getOrElse { - }
      </span>
    </a>
    }
  </div>
</div>
