@(channel: lila.tv.Tv.Channel, champions: lila.tv.Tv.Champions, baseUrl: String, povOption: Option[Pov], streams: List[lila.tv.StreamOnAir])(implicit ctx: Context)
<div class="side">
  <div class="side_box padded">
    @povOption.map { pov =>
    <h2 data-icon="1" class="text">Lichess TV</h2>
    <br />
    <div class="confrontation">
      @playerLink(pov.game.whitePlayer, withRating = false, withOnline = false, withDiff = false, variant = pov.game.variant)
      <em>vs</em>
      @playerLink(pov.game.blackPlayer, withRating = false, withOnline = false, withDiff = false, variant = pov.game.variant)
    </div>
    <br />
    <span data-icon="p"> @shortClockName(pov.game.clock)</span>, @game.variantLink(pov.game.variant, variantName(pov.game.variant))
    @if(pov.game.rated) {
    , @trans.rated()
    }
    }.getOrElse {
    <h2 data-icon="1" class="text">Lichess games</h2>
    }
  </div>
  @streamsOnAir(streams)
  <div id="tv_channels">
    @lila.tv.Tv.Channel.all.map { c =>
    <a data-icon="@Html(c.icon)" href="@baseUrl/@c.key" class="@c.key@if(c == channel){ active}">
      <strong>@c.name</strong>
      <span>
        @champions.get(c).map { p =>
        @Html(p.user.titleNameHtml)&nbsp;(@p.rating)
        }.getOrElse { - }
      </span>
    </a>
    }
  </div>
</div>
