@(s: lila.tv.StreamOnAir, others: List[lila.tv.StreamOnAir])(implicit ctx: Context)

@title = @{ s"TV ${s.name}" }

@moreCss = {
@cssTag("stream.css")
@cssTag("tv.css")
}

@side = {
<div class="side">
  @if(s.streamer.chat) {
  @s.streamer.service match {
  case lila.tv.StreamerList.Twitch => {
  <iframe
    frameborder="0"
    scrolling="no"
    src="https://twitch.tv/@s.streamId/chat?popout="
    height="418"></iframe>
  }
  case lila.tv.StreamerList.Hitbox => {
  <iframe
    width="330"
    height="392"
    src="//www.hitbox.tv/embedchat/@s.streamId"
    frameborder="0"
    allowfullscreen></iframe>
  }
  case lila.tv.StreamerList.Youtube => {
  }
  }
  }
  <div class="side_box padded for_selector">
    <h2 data-icon="1" class="top text">Lichess TV</h2>
    <div id="tv_selector">
      <p><span class="current text" data-icon="G">@s.name</span></p>
      @others.map { other =>
      <p><a class="text" href="@routes.Tv.streamIn(other.id)" data-icon="1">@other.name</a></p>
      }
      <p><a class="text" href="@routes.Tv.index" data-icon="1">Regular lichess TV</a></p>
    </div>
  </div>
</div>
}


@base.layout(
title = title,
side = side.some,
moreCss = moreCss) {
<div class="tv_stream">
  <h2 class="stream_title"><a href="@s.url">@s.name</a></h2>
  @s.streamer.service match {
  case lila.tv.StreamerList.Twitch => {
  <iframe
    src="//player.twitch.tv/?channel=@s.streamId"
    width="694"
    height="418"
    allowfullscreen autoplay></iframe>
  }
  case lila.tv.StreamerList.Hitbox => {
  <iframe
    width="694"
    height="391"
    src="//hitbox.tv/#!/embed/@s.streamId?autoplay=true"
    frameborder="0" allowfullscreen></iframe>
  }
  case lila.tv.StreamerList.Youtube => {
  <iframe
    width="694"
    height="391"
    src="https://www.youtube.com/embed/@s.streamId?autoplay=1"
    frameborder="0" allowfullscreen></iframe>
  }
  }
</div>
}
