@(s: lila.tv.StreamOnAir, others: List[lila.tv.StreamOnAir])(implicit ctx: Context)

@title = @{ s"TV ${s.name}" }

@underchat = {
<div class="watchers" data-icon="v">
  @trans.spectators() <span class="list inline_userlist"></span>
</div>
}

@goodies = {
<div class="lichess_goodies">
  <div class="box">
    <h2 data-icon="1">&nbsp;Lichess TV</h2>
    <div id="tv_selector">
      <p><span class="current" data-icon="G">&nbsp;@s.name</span></p>
      @others.map { other =>
      <p><a href="@routes.Tv.streamIn(other.id)" data-icon="1">&nbsp;@other.name</a></p>
      }
      <p><a href="@routes.Tv.lichess" data-icon="1">&nbsp;Regular lichess TV</a></p>
    </div>
  </div>
</div>
}

@round.layout(
title = title,
goodies = goodies,
underchat = underchat.some,
active = siteMenu.tv.some) {
@s.service match {
case "twitch" => {
<object
  type="application/x-shockwave-flash"
  width="794"
  height="488"
  id="live_embed_player_flash"
  data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=@s.streamId"
  bgcolor="transparent">
  <param name="allowFullScreen" value="true" />
  <param name="allowScriptAccess" value="always" />
  <param name="allowNetworking" value="all" />
  <param name="movie" value="http://www.twitch.tv/widgets/live_embed_player.swf" />
  <param name="flashvars" value="hostname=www.twitch.tv&channel=@s.streamId&auto_play=true&start_volume=25" />
</object>
}
case "ustream" => {
<object width="794" height="478" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
  <param name="flashvars" value="cid=@s.streamId&amp;autoplay=false&amp;locale=fr_FR"/>
  <param name="allowfullscreen" value="true"/>
  <param name="allowscriptaccess" value="always"/>
  <param name="src" value="http://www.ustream.tv/flash/viewer.swf"/>
  <embed flashvars="cid=@s.streamId&amp;autoplay=true" width="794" height="478" allowfullscreen="true" allowscriptaccess="always" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash"></embed>
</object>
}
case _ => {
???
}
}
}
